USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM入金区分]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM入金区分](
	[入金区分CD] [smallint] NOT NULL,
	[入金区分名] [varchar](10) NOT NULL,
	[入金種別] [smallint] NOT NULL,
	[初期登録日] [datetime] NOT NULL,
	[登録変更日] [datetime] NOT NULL,
 CONSTRAINT [PK_TM入金区分] PRIMARY KEY CLUSTERED 
(
	[入金区分CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
