USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMサービス予測]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMサービス予測](
	[予測年月] [datetime] NOT NULL,
	[予測売上額_貨物] [money] NOT NULL,
	[予測原価額_貨物] [money] NOT NULL,
	[予測売上額_物流] [money] NOT NULL,
	[予測原価額_物流] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TMサービス予測] PRIMARY KEY CLUSTERED 
(
	[予測年月] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMサービス予測] ADD  CONSTRAINT [DF_TMサービス予測_予測売上額_貨物]  DEFAULT ((0)) FOR [予測売上額_貨物]
GO
ALTER TABLE [dbo].[TMサービス予測] ADD  CONSTRAINT [DF_TMサービス予測_予測原価額_貨物]  DEFAULT ((0)) FOR [予測原価額_貨物]
GO
ALTER TABLE [dbo].[TMサービス予測] ADD  CONSTRAINT [DF_TMサービス予測_予測売上額_物流]  DEFAULT ((0)) FOR [予測売上額_物流]
GO
ALTER TABLE [dbo].[TMサービス予測] ADD  CONSTRAINT [DF_TMサービス予測_予測原価額_物流]  DEFAULT ((0)) FOR [予測原価額_物流]
GO
ALTER TABLE [dbo].[TMサービス予測] ADD  CONSTRAINT [DF_TMサービス予測_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMサービス予測] ADD  CONSTRAINT [DF_TMサービス予測_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
