USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TW見積出力履歴]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TW見積出力履歴](
	[ListName] [varchar](255) NOT NULL,
	[Number] [int] NOT NULL,
	[PCName] [varchar](255) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_TW見積出力履歴] PRIMARY KEY CLUSTERED 
(
	[ListName] ASC,
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TW見積出力履歴] ADD  CONSTRAINT [DF_TW見積出力履歴_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
