USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM工事担当]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM工事担当](
	[工事担当CD] [smallint] NOT NULL,
	[工事担当名] [varchar](16) NOT NULL,
	[順序] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM工事担当] PRIMARY KEY CLUSTERED 
(
	[工事担当CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM工事担当] ADD  CONSTRAINT [DF_TM工事担当_工事担当名]  DEFAULT ('') FOR [工事担当名]
GO
ALTER TABLE [dbo].[TM工事担当] ADD  CONSTRAINT [DF_TM工事担当_順序]  DEFAULT ((0)) FOR [順序]
GO
ALTER TABLE [dbo].[TM工事担当] ADD  CONSTRAINT [DF_TM工事担当_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM工事担当] ADD  CONSTRAINT [DF_TM工事担当_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
