USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMDates]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMDates](
	[DateID] [varchar](50) NOT NULL,
	[更新日付] [datetime] NULL,
	[UserID] [varchar](50) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TMDates] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMDates] ADD  CONSTRAINT [DF_TMDates_UserID_1]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[TMDates] ADD  CONSTRAINT [DF_TMDates_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMDates] ADD  CONSTRAINT [DF_TMDates_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
