USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM製品構成]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM製品構成](
	[親製品NO] [char](7) NOT NULL,
	[親仕様NO] [char](7) NOT NULL,
	[行NO] [int] NOT NULL,
	[子製品NO] [char](7) NOT NULL,
	[子仕様NO] [char](7) NOT NULL,
	[員数] [int] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM製品構成] PRIMARY KEY CLUSTERED 
(
	[親製品NO] ASC,
	[親仕様NO] ASC,
	[行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM製品構成] ADD  CONSTRAINT [DF_TM製品構成_仕様NO]  DEFAULT ('') FOR [親仕様NO]
GO
ALTER TABLE [dbo].[TM製品構成] ADD  CONSTRAINT [DF_TM製品構成_仕様NO1]  DEFAULT ('') FOR [子仕様NO]
GO
ALTER TABLE [dbo].[TM製品構成] ADD  CONSTRAINT [DF_TM製品構成_員数]  DEFAULT ((0)) FOR [員数]
GO
ALTER TABLE [dbo].[TM製品構成] ADD  CONSTRAINT [DF_TM製品構成_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM製品構成] ADD  CONSTRAINT [DF_TM製品構成_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
