USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD経費按分集計V5]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD経費按分集計V5](
	[集計日付] [datetime] NOT NULL,
	[科目CD] [smallint] NOT NULL,
	[業種区分] [smallint] NOT NULL,
	[按分金額] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD経費按分集計V5] PRIMARY KEY CLUSTERED 
(
	[集計日付] ASC,
	[科目CD] ASC,
	[業種区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
