USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM客先在庫]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM客先在庫](
	[得意先CD] [varchar](4) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[基準在庫数] [money] NOT NULL,
	[調整数] [money] NOT NULL,
	[出荷予定数] [money] NOT NULL,
	[出荷数] [money] NOT NULL,
	[現在庫数]  AS ((([基準在庫数]+[調整数])-[出荷予定数])-[出荷数]),
 CONSTRAINT [PK_TM客先在庫数] PRIMARY KEY CLUSTERED 
(
	[得意先CD] ASC,
	[製品NO] ASC,
	[仕様NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM客先在庫] ADD  CONSTRAINT [DF_TM客先在庫数_仕様NO]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[TM客先在庫] ADD  CONSTRAINT [DF_TM客先在庫_基準在庫数]  DEFAULT ((0)) FOR [基準在庫数]
GO
ALTER TABLE [dbo].[TM客先在庫] ADD  CONSTRAINT [DF_TM客先在庫_調整数]  DEFAULT ((0)) FOR [調整数]
GO
ALTER TABLE [dbo].[TM客先在庫] ADD  CONSTRAINT [DF_TM客先在庫_出荷予定数]  DEFAULT ((0)) FOR [出荷予定数]
GO
ALTER TABLE [dbo].[TM客先在庫] ADD  CONSTRAINT [DF_TM客先在庫_出荷数]  DEFAULT ((0)) FOR [出荷数]
GO
