USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMユニット]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMユニット](
	[ユニットNO] [char](7) NOT NULL,
	[ユニット名] [varchar](40) NOT NULL,
	[品群NO] [varchar](7) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_ユニットM] PRIMARY KEY CLUSTERED 
(
	[ユニットNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMユニット] ADD  CONSTRAINT [DF_ユニットM_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMユニット] ADD  CONSTRAINT [DF_ユニットM_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
