USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD仕入残明細内訳]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD仕入残明細内訳](
	[見積番号] [int] NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[配送先CD] [varchar](2) NOT NULL,
	[仕分番号] [varchar](2) NOT NULL,
	[仕入明細行番号] [int] NOT NULL,
	[見積行番号] [int] NOT NULL,
	[伝票区分] [varchar](1) NOT NULL,
	[SP区分] [varchar](1) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[ベース色] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NOT NULL,
	[H2] [int] NOT NULL,
	[エラー内容] [varchar](255) NOT NULL,
	[仕入数量] [money] NOT NULL,
	[発注数] [money] NOT NULL,
	[見積引当数] [money] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[仕入単価] [money] NOT NULL,
	[仕入金額] [money] NOT NULL,
	[定価] [money] NOT NULL,
	[仕入税区分] [smallint] NOT NULL,
	[消費税額] [money] NOT NULL,
	[製品区分] [smallint] NULL,
	[計上区分] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD仕入残明細内訳] PRIMARY KEY CLUSTERED 
(
	[見積番号] ASC,
	[仕入先CD] ASC,
	[配送先CD] ASC,
	[仕分番号] ASC,
	[仕入明細行番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_伝票区分]  DEFAULT ('') FOR [伝票区分]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_ベース色]  DEFAULT ('') FOR [ベース色]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_W]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_D]  DEFAULT ((0)) FOR [D]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_H]  DEFAULT ((0)) FOR [H]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_D1]  DEFAULT ((0)) FOR [D1]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_D2]  DEFAULT ((0)) FOR [D2]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_H1]  DEFAULT ((0)) FOR [H1]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_H2]  DEFAULT ((0)) FOR [H2]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_エラー内容]  DEFAULT ('') FOR [エラー内容]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_仕入数量]  DEFAULT ((0)) FOR [仕入数量]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_発注数]  DEFAULT ((0)) FOR [発注数]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_見積引当数]  DEFAULT ((0)) FOR [見積引当数]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_単位名]  DEFAULT ('') FOR [単位名]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_仕入単価]  DEFAULT ((0)) FOR [仕入単価]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_仕入金額]  DEFAULT ((0)) FOR [仕入金額]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_定価]  DEFAULT ((0)) FOR [定価]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_仕入税区分]  DEFAULT ((0)) FOR [仕入税区分]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_消費税額]  DEFAULT ((0)) FOR [消費税額]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_製品区分]  DEFAULT ((0)) FOR [製品区分]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_計上区分]  DEFAULT ((0)) FOR [計上区分]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD仕入残明細内訳] ADD  CONSTRAINT [DF_TD仕入残明細内訳_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
