USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD売上明細v2]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD売上明細v2](
	[売上番号] [int] NOT NULL,
	[売上明細行番号] [int] NOT NULL,
	[見積明細連番] [int] NOT NULL,
	[見積明細区分] [varchar](1) NOT NULL,
	[伝票区分] [varchar](1) NOT NULL,
	[特別区分] [varchar](2) NOT NULL,
	[SP区分] [varchar](1) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[ベース色] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NOT NULL,
	[H2] [int] NOT NULL,
	[エラー内容] [varchar](255) NULL,
	[売上数量] [money] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[売上単価] [money] NOT NULL,
	[仕入単価] [money] NOT NULL,
	[売上金額] [money] NOT NULL,
	[仕入金額] [money] NOT NULL,
	[定価] [money] NOT NULL,
	[売上税区分] [smallint] NOT NULL,
	[消費税額] [money] NOT NULL,
	[製品区分] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD売上明細V2] PRIMARY KEY CLUSTERED 
(
	[売上番号] ASC,
	[売上明細行番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD売上明細v2] ADD  CONSTRAINT [DF_TD売上明細v2_見積明細区分]  DEFAULT ('') FOR [見積明細区分]
GO
ALTER TABLE [dbo].[TD売上明細v2] ADD  CONSTRAINT [DF_TD売上明細v2_特別区分]  DEFAULT ('') FOR [特別区分]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:通常2:返品3:訂正？？？？？' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD売上明細v2', @level2type=N'COLUMN',@level2name=N'伝票区分'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ZA:出精値引が入る。それ以外空白' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD売上明細v2', @level2type=N'COLUMN',@level2name=N'特別区分'
GO
