USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM担当者]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM担当者](
	[担当者CD] [smallint] NOT NULL,
	[担当者名] [varchar](16) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[順序] [smallint] NOT NULL,
	[部署CD] [smallint] NOT NULL,
	[メールアドレス] [varchar](50) NOT NULL,
	[問い合わせ先] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TM担当者] PRIMARY KEY CLUSTERED 
(
	[担当者CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM担当者] ADD  CONSTRAINT [DF_TM部門_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM担当者] ADD  CONSTRAINT [DF_TM部門_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TM担当者] ADD  CONSTRAINT [DF_TM担当者_順序]  DEFAULT ((0)) FOR [順序]
GO
ALTER TABLE [dbo].[TM担当者] ADD  CONSTRAINT [DF_TM担当者_部署CD]  DEFAULT ((0)) FOR [部署CD]
GO
ALTER TABLE [dbo].[TM担当者] ADD  CONSTRAINT [DF_TM担当者_メールアドレス]  DEFAULT ('') FOR [メールアドレス]
GO
ALTER TABLE [dbo].[TM担当者] ADD  CONSTRAINT [DF_TM担当者_問い合わせ先]  DEFAULT ('') FOR [問い合わせ先]
GO
