USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM製品_メモ]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM製品_メモ](
	[製品NO] [char](12) NOT NULL,
	[仕様NO] [char](10) NOT NULL,
	[メモ] [nvarchar](200) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM製品_メモ] PRIMARY KEY CLUSTERED 
(
	[製品NO] ASC,
	[仕様NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM製品_メモ] ADD  CONSTRAINT [DF_TM製品_メモ_仕様NO]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[TM製品_メモ] ADD  CONSTRAINT [DF_TM製品_メモ_メモ]  DEFAULT ('') FOR [メモ]
GO
ALTER TABLE [dbo].[TM製品_メモ] ADD  CONSTRAINT [DF_TM製品_メモ_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM製品_メモ] ADD  CONSTRAINT [DF_TM製品_メモ_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
