USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM得意先]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM得意先](
	[得意先CD] [varchar](4) NOT NULL,
	[得意先名1] [varchar](28) NOT NULL,
	[得意先名2] [varchar](28) NOT NULL,
	[略称] [varchar](8) NOT NULL,
	[フリガナ] [varchar](5) NOT NULL,
	[郵便番号] [varchar](8) NOT NULL,
	[住所1] [varchar](32) NOT NULL,
	[住所2] [varchar](32) NOT NULL,
	[電話番号] [varchar](15) NOT NULL,
	[FAX番号] [varchar](15) NOT NULL,
	[得意先担当者名] [varchar](40) NOT NULL,
	[担当者CD] [smallint] NULL,
	[締日] [smallint] NOT NULL,
	[決算月] [smallint] NOT NULL,
	[税集計区分] [smallint] NOT NULL,
	[売上端数] [smallint] NOT NULL,
	[消費税端数] [smallint] NOT NULL,
	[入金サイクル] [smallint] NOT NULL,
	[入金予定日] [smallint] NOT NULL,
	[入金区分CD] [smallint] NOT NULL,
	[回収方法] [smallint] NOT NULL,
	[請求様式] [smallint] NOT NULL,
	[導入請求金額] [money] NOT NULL,
	[導入売掛金額] [money] NOT NULL,
	[メモ] [varchar](40) NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[最終使用日] [datetime] NULL,
	[集計CD] [varchar](10) NOT NULL,
	[チームCD] [int] NOT NULL,
 CONSTRAINT [PK_TM得意先] PRIMARY KEY CLUSTERED 
(
	[得意先CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_得意先名2]  DEFAULT ('') FOR [得意先名2]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_郵便番号]  DEFAULT ('') FOR [郵便番号]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_住所1]  DEFAULT ('') FOR [住所1]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_住所2]  DEFAULT ('') FOR [住所2]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_電話番号]  DEFAULT ('') FOR [電話番号]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_FAX番号]  DEFAULT ('') FOR [FAX番号]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_担当者名]  DEFAULT ('') FOR [得意先担当者名]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_締日]  DEFAULT ((0)) FOR [締日]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_決算月]  DEFAULT ((0)) FOR [決算月]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_税集計区分]  DEFAULT ((0)) FOR [税集計区分]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_売上端数]  DEFAULT ((0)) FOR [売上端数]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_消費税端数]  DEFAULT ((0)) FOR [消費税端数]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_入金サイクル]  DEFAULT ((0)) FOR [入金サイクル]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_入金予定日]  DEFAULT ((0)) FOR [入金予定日]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_入金区分ID]  DEFAULT ((0)) FOR [入金区分CD]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_回収方法]  DEFAULT ((0)) FOR [回収方法]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_請求方法]  DEFAULT ((0)) FOR [請求様式]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_導入請求金額]  DEFAULT ((0)) FOR [導入請求金額]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_導入売掛金額]  DEFAULT ((0)) FOR [導入売掛金額]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_集計CD]  DEFAULT ('') FOR [集計CD]
GO
ALTER TABLE [dbo].[TM得意先] ADD  CONSTRAINT [DF_TM得意先_チームCD]  DEFAULT ((0)) FOR [チームCD]
GO
