USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM税率]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM税率](
	[税率ID] [varchar](2) NOT NULL,
	[税率] [smallint] NOT NULL,
	[切替日付] [datetime] NULL,
	[旧税率] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM税率] PRIMARY KEY NONCLUSTERED 
(
	[税率ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM税率] ADD  CONSTRAINT [DF_TM税率_税率]  DEFAULT ((0)) FOR [税率]
GO
ALTER TABLE [dbo].[TM税率] ADD  CONSTRAINT [DF_TM税率_旧税率]  DEFAULT ((0)) FOR [旧税率]
GO
