USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM品群構成]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM品群構成](
	[親品群NO] [char](7) NOT NULL,
	[行NO] [int] NOT NULL,
	[子品群NO] [char](7) NOT NULL,
	[子仕様NO] [char](7) NOT NULL,
	[員数] [int] NOT NULL,
	[固定色] [varchar](7) NOT NULL,
	[色仕様] [varchar](1) NOT NULL,
	[サイズ] [varchar](1) NOT NULL,
	[両面サイズ] [varchar](1) NOT NULL,
	[製品区分] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM品群構成] PRIMARY KEY CLUSTERED 
(
	[親品群NO] ASC,
	[行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM品群構成] ADD  CONSTRAINT [DF_TM品群構成_仕様NO]  DEFAULT ('') FOR [子仕様NO]
GO
ALTER TABLE [dbo].[TM品群構成] ADD  CONSTRAINT [DF_TM品群構成_員数]  DEFAULT ((0)) FOR [員数]
GO
ALTER TABLE [dbo].[TM品群構成] ADD  CONSTRAINT [DF_TM品群構成_固定色]  DEFAULT ('') FOR [固定色]
GO
ALTER TABLE [dbo].[TM品群構成] ADD  CONSTRAINT [DF_TM品群構成_色仕様]  DEFAULT ('') FOR [色仕様]
GO
ALTER TABLE [dbo].[TM品群構成] ADD  CONSTRAINT [DF_TM品群構成_サイズ]  DEFAULT ('') FOR [サイズ]
GO
ALTER TABLE [dbo].[TM品群構成] ADD  CONSTRAINT [DF_TM品群構成_両面サイズ]  DEFAULT ('') FOR [両面サイズ]
GO
ALTER TABLE [dbo].[TM品群構成] ADD  CONSTRAINT [DF_TM品群構成_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM品群構成] ADD  CONSTRAINT [DF_TM品群構成_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
