USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD在庫調整明細]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD在庫調整明細](
	[在庫調整明細連番] [int] IDENTITY(1,1) NOT NULL,
	[在庫調整番号] [int] NOT NULL,
	[枝番] [smallint] NOT NULL,
	[製品NO] [char](12) NOT NULL,
	[仕様NO] [char](10) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[仕入端数区分] [smallint] NOT NULL,
	[消費税端数区分] [smallint] NOT NULL,
	[調整数量] [money] NOT NULL,
	[調整単価] [money] NOT NULL,
	[調整金額] [money] NOT NULL,
	[消費税額] [money] NOT NULL,
	[仕入税区分] [smallint] NOT NULL,
	[明細備考] [varchar](40) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD在庫調整明細] PRIMARY KEY CLUSTERED 
(
	[在庫調整明細連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_漢字名称]  DEFAULT ('') FOR [漢字名称]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_仕入端数]  DEFAULT ((0)) FOR [仕入端数区分]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_消費税端数]  DEFAULT ((0)) FOR [消費税端数区分]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_数量]  DEFAULT ((0)) FOR [調整数量]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_出庫単価]  DEFAULT ((0)) FOR [調整単価]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_出庫金額]  DEFAULT ((0)) FOR [調整金額]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_消費税額]  DEFAULT ((0)) FOR [消費税額]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_仕入税区分]  DEFAULT ((0)) FOR [仕入税区分]
GO
ALTER TABLE [dbo].[TD在庫調整明細] ADD  CONSTRAINT [DF_TD在庫調整明細_明細備考]  DEFAULT ('') FOR [明細備考]
GO
