USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD経費明細]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD経費明細](
	[経費番号] [int] NOT NULL,
	[枝番] [smallint] NOT NULL,
	[科目CD] [smallint] NOT NULL,
	[科目名] [varchar](16) NOT NULL,
	[金額] [money] NOT NULL,
	[担当者CD] [smallint] NULL,
	[担当者名] [varchar](16) NULL,
	[購入先名] [varchar](30) NULL,
	[科目摘要CD] [smallint] NULL,
	[科目摘要名] [varchar](30) NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[消費税額] [money] NOT NULL,
	[補助CD] [smallint] NOT NULL,
 CONSTRAINT [PK_TD経費明細] PRIMARY KEY CLUSTERED 
(
	[経費番号] ASC,
	[枝番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD経費明細] ADD  CONSTRAINT [DF_TD経費明細_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD経費明細] ADD  CONSTRAINT [DF_TD経費明細_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TD経費明細] ADD  CONSTRAINT [DF_TD経費明細_消費税額_1]  DEFAULT ((0)) FOR [消費税額]
GO
ALTER TABLE [dbo].[TD経費明細] ADD  CONSTRAINT [DF_TD経費明細_補助CD_1]  DEFAULT ((0)) FOR [補助CD]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'税抜金額' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD経費明細', @level2type=N'COLUMN',@level2name=N'金額'
GO
