USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM人数按分v2]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM人数按分v2](
	[部CD] [smallint] NOT NULL,
	[統計集計先CD] [varchar](4) NOT NULL,
	[集計先名] [varchar](50) NOT NULL,
	[営業担当CD] [smallint] NOT NULL,
	[工事担当CD] [smallint] NOT NULL,
	[比率] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM人数按分v2] PRIMARY KEY CLUSTERED 
(
	[部CD] ASC,
	[統計集計先CD] ASC,
	[営業担当CD] ASC,
	[工事担当CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM人数按分v2] ADD  CONSTRAINT [DF_TM人数按分v2_統計集計先CD]  DEFAULT ('') FOR [統計集計先CD]
GO
ALTER TABLE [dbo].[TM人数按分v2] ADD  CONSTRAINT [DF_TM人数按分v2_比率]  DEFAULT ((1)) FOR [比率]
GO
ALTER TABLE [dbo].[TM人数按分v2] ADD  CONSTRAINT [DF_TM人数按分v2_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM人数按分v2] ADD  CONSTRAINT [DF_TM人数按分v2_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
