USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM売上仕入単価]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM売上仕入単価](
	[得意先CD] [varchar](4) NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](12) NOT NULL,
	[仕様NO] [char](10) NOT NULL,
	[大口売上単価] [money] NOT NULL,
	[小口売上単価] [money] NOT NULL,
	[大口仕入単価] [money] NOT NULL,
	[小口仕入単価] [money] NOT NULL,
	[製品区分] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM売上仕入単価] PRIMARY KEY CLUSTERED 
(
	[得意先CD] ASC,
	[仕入先CD] ASC,
	[PC区分] ASC,
	[製品NO] ASC,
	[仕様NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_PC区分]  DEFAULT ('') FOR [PC区分]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_仕様NO]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_大口売上単価]  DEFAULT ((0)) FOR [大口売上単価]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_小口売上単価]  DEFAULT ((0)) FOR [小口売上単価]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_大口仕入単価]  DEFAULT ((0)) FOR [大口仕入単価]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_小口仕入単価]  DEFAULT ((0)) FOR [小口仕入単価]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_製品区分]  DEFAULT ((0)) FOR [製品区分]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM売上仕入単価] ADD  CONSTRAINT [DF_TM売上仕入単価_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
