USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMCounters]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMCounters](
	[ItemName] [varchar](16) NOT NULL,
	[TokuID] [varchar](5) NOT NULL,
	[Counter] [int] NOT NULL,
 CONSTRAINT [PK_TMCounters] PRIMARY KEY CLUSTERED 
(
	[ItemName] ASC,
	[TokuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMCounters] ADD  CONSTRAINT [DF_TMCounters_TokuID]  DEFAULT ('') FOR [TokuID]
GO
