USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM顧客テンプレート]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM顧客テンプレート](
	[得意先CD] [varchar](4) NOT NULL,
	[テンプレート名] [varchar](40) NOT NULL,
	[行NO] [int] NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[ベース色] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NOT NULL,
	[H2] [int] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[製品区分] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM顧客テンプレート] PRIMARY KEY CLUSTERED 
(
	[得意先CD] ASC,
	[テンプレート名] ASC,
	[行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_ベース色]  DEFAULT ('') FOR [ベース色]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_漢字名称]  DEFAULT ('') FOR [漢字名称]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_W]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_D]  DEFAULT ((0)) FOR [D]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_H]  DEFAULT ((0)) FOR [H]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_D1]  DEFAULT ((0)) FOR [D1]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_D2]  DEFAULT ((0)) FOR [D2]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_H1]  DEFAULT ((0)) FOR [H1]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_H2]  DEFAULT ((0)) FOR [H2]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_単位名]  DEFAULT ('') FOR [単位名]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_仕入先CD]  DEFAULT ('') FOR [仕入先CD]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_製品区分]  DEFAULT ((0)) FOR [製品区分]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM顧客テンプレート] ADD  CONSTRAINT [DF_TM顧客テンプレート_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
