USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD発注明細]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD発注明細](
	[発注明細連番] [int] IDENTITY(1,1) NOT NULL,
	[発注番号] [int] NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[仕分番号] [varchar](2) NOT NULL,
	[配送先CD] [varchar](4) NOT NULL,
	[行番号] [int] NOT NULL,
	[見積番号] [int] NOT NULL,
	[見積行番号] [int] NOT NULL,
	[SP区分] [varchar](1) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NOT NULL,
	[H2] [int] NOT NULL,
	[発注数量] [money] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[発注単価] [money] NOT NULL,
	[発注金額] [money] NOT NULL,
	[定価] [money] NOT NULL,
	[仕入数] [money] NOT NULL,
	[製品区分] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[見積区分] [varchar](1) NOT NULL,
 CONSTRAINT [PK_TD発注明細] PRIMARY KEY CLUSTERED 
(
	[発注明細連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_H1]  DEFAULT ((0)) FOR [H1]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_H2]  DEFAULT ((0)) FOR [H2]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_発注数量]  DEFAULT ((0)) FOR [発注数量]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_単位名]  DEFAULT ('') FOR [単位名]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_発注単価]  DEFAULT ((0)) FOR [発注単価]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_発注金額]  DEFAULT ((0)) FOR [発注金額]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_定価]  DEFAULT ((0)) FOR [定価]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_仕入数]  DEFAULT ((0)) FOR [仕入数]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TD発注明細] ADD  CONSTRAINT [DF_TD発注明細_見積区分]  DEFAULT ('') FOR [見積区分]
GO
