USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM製品]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM製品](
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[カナ名称] [varchar](40) NOT NULL,
	[ベース色] [varchar](7) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NOT NULL,
	[H2] [int] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[グループ] [varchar](7) NOT NULL,
	[主仕入先CD] [varchar](4) NOT NULL,
	[定価] [money] NOT NULL,
	[売上単価] [money] NOT NULL,
	[仕入単価] [money] NOT NULL,
	[売上税区分] [smallint] NOT NULL,
	[仕入税区分] [smallint] NOT NULL,
	[在庫区分] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[JANCODE] [varchar](13) NOT NULL,
	[廃盤FLG] [int] NOT NULL,
	[ロケーション] [varchar](7) NOT NULL,
	[旧製品NO] [char](12) NOT NULL,
	[旧仕様NO] [char](10) NOT NULL,
	[費用区分] [int] NOT NULL,
	[サイズ変更区分] [smallint] NOT NULL,
	[入出庫用CD] [varchar](16) NOT NULL,
	[取組区分] [int] NOT NULL,
	[取組終了年月] [datetime] NULL,
 CONSTRAINT [PK_TM製品] PRIMARY KEY CLUSTERED 
(
	[製品NO] ASC,
	[仕様NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_仕様NO_1]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_カナ名称]  DEFAULT ('') FOR [カナ名称]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_ベース色]  DEFAULT ('') FOR [ベース色]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_W]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_D]  DEFAULT ((0)) FOR [D]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_H]  DEFAULT ((0)) FOR [H]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_D1]  DEFAULT ((0)) FOR [D1]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_D2]  DEFAULT ((0)) FOR [D2]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_H1]  DEFAULT ((0)) FOR [H1]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_H2]  DEFAULT ((0)) FOR [H2]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_単位名]  DEFAULT ('') FOR [単位名]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_グループ]  DEFAULT ('') FOR [グループ]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_仕入先CD]  DEFAULT ('') FOR [主仕入先CD]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_定価]  DEFAULT ((0)) FOR [定価]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_営業原価]  DEFAULT ((0)) FOR [売上単価]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_仕入原価]  DEFAULT ((0)) FOR [仕入単価]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_売上税区分]  DEFAULT ((0)) FOR [売上税区分]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_仕入税区分]  DEFAULT ((0)) FOR [仕入税区分]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_在庫区分]  DEFAULT ((0)) FOR [在庫区分]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_JANCODE]  DEFAULT ('') FOR [JANCODE]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_廃盤FLG]  DEFAULT ((0)) FOR [廃盤FLG]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_ロケーション]  DEFAULT ('') FOR [ロケーション]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_旧製品NO_1]  DEFAULT ('') FOR [旧製品NO]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_旧仕様NO_1]  DEFAULT ('') FOR [旧仕様NO]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_費用区分]  DEFAULT ((0)) FOR [費用区分]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_在庫対象区分]  DEFAULT ((0)) FOR [サイズ変更区分]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_入出庫用CD]  DEFAULT ('') FOR [入出庫用CD]
GO
ALTER TABLE [dbo].[TM製品] ADD  CONSTRAINT [DF_TM製品_取組区分_1]  DEFAULT ((0)) FOR [取組区分]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:外税 1:内税' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TM製品', @level2type=N'COLUMN',@level2name=N'売上税区分'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:外税 1:内税' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TM製品', @level2type=N'COLUMN',@level2name=N'仕入税区分'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:在庫管理する 1:在庫管理しない
↑在庫ではなく、サイズの変更ができるようになっている。
サイズの変更はサイズ変更区分に置き換える。' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TM製品', @level2type=N'COLUMN',@level2name=N'在庫区分'
GO
