USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[Tmp見積明細]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tmp見積明細](
	[見積明細連番] [int] NULL,
	[見積番号] [int] NOT NULL,
	[行番号] [int] NOT NULL,
	[追番] [int] NOT NULL,
	[展開CHK] [smallint] NOT NULL,
	[見積区分] [varchar](1) NOT NULL,
	[SP区分] [varchar](1) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[ベース色] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NOT NULL,
	[H2] [int] NOT NULL,
	[エラー内容] [varchar](255) NOT NULL,
	[見積数量] [money] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[定価] [money] NOT NULL,
	[仕入単価] [money] NOT NULL,
	[仕入率] [money] NOT NULL,
	[売上単価] [money] NOT NULL,
	[売上率] [money] NOT NULL,
	[U区分] [varchar](1) NOT NULL,
	[M区分] [varchar](1) NOT NULL,
	[仕入金額] [money] NOT NULL,
	[売上金額] [money] NOT NULL,
	[売上税区分] [smallint] NOT NULL,
	[消費税額] [money] NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[仕入先名] [varchar](8) NOT NULL,
	[配送先CD] [varchar](4) NOT NULL,
	[配送先名] [varchar](8) NOT NULL,
	[社内在庫数] [money] NOT NULL,
	[客先在庫数] [money] NOT NULL,
	[転用数] [money] NOT NULL,
	[発注数] [money] NOT NULL,
	[総数量] [money] NOT NULL,
	[製品区分] [smallint] NULL,
	[仕分数1] [money] NOT NULL,
	[仕分数2] [money] NOT NULL,
	[仕分数3] [money] NOT NULL,
	[仕分数4] [money] NOT NULL,
	[仕分数5] [money] NOT NULL,
	[仕分数6] [money] NOT NULL,
	[仕分数7] [money] NOT NULL,
	[仕分数8] [money] NOT NULL,
	[仕分数9] [money] NOT NULL,
	[仕分数10] [money] NOT NULL,
	[仕分数11] [money] NOT NULL,
	[仕分数12] [money] NOT NULL,
	[仕分数13] [money] NOT NULL,
	[仕分数14] [money] NOT NULL,
	[仕分数15] [money] NOT NULL,
	[仕分数16] [money] NOT NULL,
	[仕分数17] [money] NOT NULL,
	[仕分数18] [money] NOT NULL,
	[仕分数19] [money] NOT NULL,
	[仕分数20] [money] NOT NULL,
	[仕分数21] [money] NOT NULL,
	[仕分数22] [money] NOT NULL,
	[仕分数23] [money] NOT NULL,
	[仕分数24] [money] NOT NULL,
	[仕分数25] [money] NOT NULL,
	[仕分数26] [money] NOT NULL,
	[仕分数27] [money] NOT NULL,
	[仕分数28] [money] NOT NULL,
	[仕分数29] [money] NOT NULL,
	[仕分数30] [money] NOT NULL,
	[社内在庫数FLG] [smallint] NOT NULL,
	[社内適正在庫数FLG] [smallint] NOT NULL,
	[客先在庫数FLG] [smallint] NOT NULL,
	[発注調整数] [money] NOT NULL,
	[他社伝票番号] [varchar](10) NOT NULL,
	[他社納品日付] [datetime] NULL,
	[クレーム明細区分] [int] NOT NULL,
	[作業区分CD] [int] NOT NULL,
	[仕入業者CD] [varchar](4) NOT NULL,
	[仕入業者名] [varchar](8) NOT NULL,
	[入庫日] [datetime] NULL,
	[明細備考] [varchar](255) NOT NULL,
	[追番R] [varchar](1) NOT NULL,
	[出庫日] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_展開chk]  DEFAULT ((0)) FOR [展開CHK]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_見積区分]  DEFAULT ('') FOR [見積区分]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_SP区分]  DEFAULT ('') FOR [SP区分]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_PC区分]  DEFAULT ('') FOR [PC区分]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕様NO]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_ベース色]  DEFAULT ('') FOR [ベース色]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_漢字名称]  DEFAULT ('') FOR [漢字名称]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_W]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_D]  DEFAULT ((0)) FOR [D]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_H]  DEFAULT ((0)) FOR [H]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_D1]  DEFAULT ((0)) FOR [D1]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_D2]  DEFAULT ((0)) FOR [D2]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_H1]  DEFAULT ((0)) FOR [H1]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_H2]  DEFAULT ((0)) FOR [H2]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_エラー内容]  DEFAULT ('') FOR [エラー内容]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_総数量]  DEFAULT ((0)) FOR [見積数量]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_単位名]  DEFAULT ('') FOR [単位名]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕入単価1]  DEFAULT ((0)) FOR [仕入単価]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕入率]  DEFAULT ((0)) FOR [仕入率]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_売上単価]  DEFAULT ((0)) FOR [売上単価]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_売上率]  DEFAULT ((0)) FOR [売上率]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_M区分1]  DEFAULT ('') FOR [U区分]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_M区分]  DEFAULT ('') FOR [M区分]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕入金額]  DEFAULT ((0)) FOR [仕入金額]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_売上金額]  DEFAULT ((0)) FOR [売上金額]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_売上税区分]  DEFAULT ((0)) FOR [売上税区分]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_消費税額]  DEFAULT ((0)) FOR [消費税額]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕入先CD]  DEFAULT ('') FOR [仕入先CD]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕入先名]  DEFAULT ('') FOR [仕入先名]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_配送先CD]  DEFAULT ('') FOR [配送先CD]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_配送先名]  DEFAULT ('') FOR [配送先名]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_社内在庫数]  DEFAULT ((0)) FOR [社内在庫数]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_客先在庫数]  DEFAULT ((0)) FOR [客先在庫数]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_発注数]  DEFAULT ((0)) FOR [発注数]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_総数量_1]  DEFAULT ((0)) FOR [総数量]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_製品区分]  DEFAULT ((0)) FOR [製品区分]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数1]  DEFAULT ((0)) FOR [仕分数1]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数2]  DEFAULT ((0)) FOR [仕分数2]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数3]  DEFAULT ((0)) FOR [仕分数3]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数4]  DEFAULT ((0)) FOR [仕分数4]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数5]  DEFAULT ((0)) FOR [仕分数5]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数6]  DEFAULT ((0)) FOR [仕分数6]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数7]  DEFAULT ((0)) FOR [仕分数7]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数8]  DEFAULT ((0)) FOR [仕分数8]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数9]  DEFAULT ((0)) FOR [仕分数9]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数10]  DEFAULT ((0)) FOR [仕分数10]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数11]  DEFAULT ((0)) FOR [仕分数11]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数12]  DEFAULT ((0)) FOR [仕分数12]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数13]  DEFAULT ((0)) FOR [仕分数13]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数14]  DEFAULT ((0)) FOR [仕分数14]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数15]  DEFAULT ((0)) FOR [仕分数15]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数16]  DEFAULT ((0)) FOR [仕分数16]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数17]  DEFAULT ((0)) FOR [仕分数17]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数18]  DEFAULT ((0)) FOR [仕分数18]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数19]  DEFAULT ((0)) FOR [仕分数19]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数20]  DEFAULT ((0)) FOR [仕分数20]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数21]  DEFAULT ((0)) FOR [仕分数21]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数22]  DEFAULT ((0)) FOR [仕分数22]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数23]  DEFAULT ((0)) FOR [仕分数23]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数24]  DEFAULT ((0)) FOR [仕分数24]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数25]  DEFAULT ((0)) FOR [仕分数25]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数26]  DEFAULT ((0)) FOR [仕分数26]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数27]  DEFAULT ((0)) FOR [仕分数27]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数28]  DEFAULT ((0)) FOR [仕分数28]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数29]  DEFAULT ((0)) FOR [仕分数29]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕分数30]  DEFAULT ((0)) FOR [仕分数30]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_社内在庫数FLG]  DEFAULT ((0)) FOR [社内在庫数FLG]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_社内適正在庫数FLG]  DEFAULT ((0)) FOR [社内適正在庫数FLG]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_客先在庫数FLG]  DEFAULT ((0)) FOR [客先在庫数FLG]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_発注調整数]  DEFAULT ((0)) FOR [発注調整数]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_他社伝票番号]  DEFAULT ('') FOR [他社伝票番号]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_クレーム明細区分]  DEFAULT ((0)) FOR [クレーム明細区分]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_作業区分CD]  DEFAULT ((0)) FOR [作業区分CD]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕入業者CD_1]  DEFAULT ('') FOR [仕入業者CD]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_仕入業者名_1]  DEFAULT ('') FOR [仕入業者名]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_明細備考]  DEFAULT ('') FOR [明細備考]
GO
ALTER TABLE [dbo].[Tmp見積明細] ADD  CONSTRAINT [DF_Tmp見積明細_追番R]  DEFAULT ('') FOR [追番R]
GO
