USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM科目按分V2]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM科目按分V2](
	[科目CD] [smallint] NOT NULL,
	[補助CD] [smallint] NOT NULL,
	[統計集計先CD] [varchar](4) NOT NULL,
	[比率] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM科目按分V2] PRIMARY KEY CLUSTERED 
(
	[科目CD] ASC,
	[補助CD] ASC,
	[統計集計先CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM科目按分V2] ADD  CONSTRAINT [DF_TM科目按分V2_比率]  DEFAULT ((1)) FOR [比率]
GO
ALTER TABLE [dbo].[TM科目按分V2] ADD  CONSTRAINT [DF_TM科目按分V2_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM科目按分V2] ADD  CONSTRAINT [DF_TM科目按分V2_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
