USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD客先在庫入庫明細]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD客先在庫入庫明細](
	[客先在庫入庫明細連番] [int] IDENTITY(1,1) NOT NULL,
	[客先在庫入庫連番] [int] NOT NULL,
	[枝番] [smallint] NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[入庫数量] [money] NOT NULL,
	[明細備考] [varchar](20) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD客客先在庫入庫明細] PRIMARY KEY NONCLUSTERED 
(
	[客先在庫入庫明細連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD客先在庫入庫明細] ADD  CONSTRAINT [DF_TD客客先在庫入庫明細_数量]  DEFAULT ((0)) FOR [入庫数量]
GO
ALTER TABLE [dbo].[TD客先在庫入庫明細] ADD  CONSTRAINT [DF_TD客客先在庫入庫明細_明細備考]  DEFAULT ('') FOR [明細備考]
GO
