USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD手入力鏡内訳]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD手入力鏡内訳](
	[鏡番号] [int] NOT NULL,
	[枝番] [smallint] NOT NULL,
	[見積番号] [int] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD手入力鏡内訳] PRIMARY KEY CLUSTERED 
(
	[鏡番号] ASC,
	[枝番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
