USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[AppLockData]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppLockData](
	[DataName] [varchar](255) NOT NULL,
	[Number] [int] NOT NULL,
	[DataCode] [varchar](255) NOT NULL,
	[PCName] [varchar](255) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_AppLockData] PRIMARY KEY CLUSTERED 
(
	[DataName] ASC,
	[Number] ASC,
	[DataCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppLockData] ADD  CONSTRAINT [DF_AppLockData_DataCode]  DEFAULT ('') FOR [DataCode]
GO
ALTER TABLE [dbo].[AppLockData] ADD  CONSTRAINT [DF_AppLockData_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
