USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD支払]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD支払](
	[支払番号] [int] NOT NULL,
	[枝番] [smallint] NOT NULL,
	[支払日付] [datetime] NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[仕入先名1] [varchar](28) NOT NULL,
	[仕入先名2] [varchar](28) NULL,
	[支払区分CD] [smallint] NOT NULL,
	[支払区分名] [varchar](10) NOT NULL,
	[支払種別] [smallint] NOT NULL,
	[支払金額] [money] NOT NULL,
	[手形期日] [datetime] NULL,
	[手形番号] [varchar](10) NULL,
	[摘要名] [varchar](30) NULL,
	[合計金額] [money] NOT NULL,
	[支払年月] [datetime] NULL,
	[支払締日] [smallint] NOT NULL,
	[支払更新FLG] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD支払] PRIMARY KEY CLUSTERED 
(
	[支払番号] ASC,
	[枝番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD支払] ADD  CONSTRAINT [DF_TD支払_支払区分ID]  DEFAULT ((0)) FOR [支払区分CD]
GO
ALTER TABLE [dbo].[TD支払] ADD  CONSTRAINT [DF_TD支払_支払種別]  DEFAULT ((0)) FOR [支払種別]
GO
ALTER TABLE [dbo].[TD支払] ADD  CONSTRAINT [DF_TD支払_支払金額]  DEFAULT ((0)) FOR [支払金額]
GO
ALTER TABLE [dbo].[TD支払] ADD  CONSTRAINT [DF_TD支払_合計金額]  DEFAULT ((0)) FOR [合計金額]
GO
ALTER TABLE [dbo].[TD支払] ADD  CONSTRAINT [DF_TD支払_支払締日]  DEFAULT ((0)) FOR [支払締日]
GO
ALTER TABLE [dbo].[TD支払] ADD  CONSTRAINT [DF_TD支払_支払更新FLG]  DEFAULT ((0)) FOR [支払更新FLG]
GO
ALTER TABLE [dbo].[TD支払] ADD  CONSTRAINT [DF_TD支払_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD支払] ADD  CONSTRAINT [DF_TD支払_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
