USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[Tmp売上明細]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tmp売上明細](
	[売上番号] [int] NOT NULL,
	[売上行番号] [int] NOT NULL,
	[仕分番号] [varchar](2) NOT NULL,
	[仕分名称] [varchar](20) NOT NULL,
	[合計金額] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_Tmp売上明細] PRIMARY KEY CLUSTERED 
(
	[売上番号] ASC,
	[売上行番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tmp売上明細] ADD  CONSTRAINT [DF_Tmp売上明細_仕分名称]  DEFAULT ('') FOR [仕分名称]
GO
ALTER TABLE [dbo].[Tmp売上明細] ADD  CONSTRAINT [DF_Tmp売上明細_合計金額]  DEFAULT ((0)) FOR [合計金額]
GO
ALTER TABLE [dbo].[Tmp売上明細] ADD  CONSTRAINT [DF_Tmp売上明細_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[Tmp売上明細] ADD  CONSTRAINT [DF_Tmp売上明細_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
