USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM製品変換]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM製品変換](
	[得意先CD] [varchar](4) NOT NULL,
	[製品NO] [char](12) NOT NULL,
	[仕様NO] [char](10) NOT NULL,
	[他社部門CD] [varchar](4) NOT NULL,
	[他社製品CD] [varchar](13) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM製品変換] PRIMARY KEY CLUSTERED 
(
	[得意先CD] ASC,
	[製品NO] ASC,
	[仕様NO] ASC,
	[他社部門CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM製品変換] ADD  CONSTRAINT [DF_TM製品変換_他社部門CD]  DEFAULT ('') FOR [他社部門CD]
GO
ALTER TABLE [dbo].[TM製品変換] ADD  CONSTRAINT [DF_TM製品変換_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM製品変換] ADD  CONSTRAINT [DF_TM製品変換_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
