USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM科目予算目標]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM科目予算目標](
	[科目CD] [smallint] NOT NULL,
	[目標年月] [datetime] NOT NULL,
	[目標額] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM科目予算目標] PRIMARY KEY CLUSTERED 
(
	[科目CD] ASC,
	[目標年月] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM科目予算目標] ADD  CONSTRAINT [DF_TM科目予算目標_目標額]  DEFAULT ((0)) FOR [目標額]
GO
ALTER TABLE [dbo].[TM科目予算目標] ADD  CONSTRAINT [DF_TM科目予算目標_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM科目予算目標] ADD  CONSTRAINT [DF_TM科目予算目標_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
