USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD発注]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD発注](
	[発注番号] [int] NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[仕分番号] [varchar](2) NOT NULL,
	[配送先CD] [varchar](2) NOT NULL,
	[発注日付] [datetime] NULL,
	[見積番号] [int] NOT NULL,
	[担当者CD] [smallint] NOT NULL,
	[納入得意先CD] [varchar](4) NULL,
	[納入先CD] [varchar](4) NULL,
	[納入先名1] [varchar](28) NOT NULL,
	[納入先名2] [varchar](28) NOT NULL,
	[納入先郵便番号] [varchar](8) NOT NULL,
	[納入先住所1] [varchar](32) NOT NULL,
	[納入先住所2] [varchar](32) NOT NULL,
	[納入先TEL] [varchar](15) NOT NULL,
	[納入先FAX] [varchar](15) NOT NULL,
	[納入先担当者] [varchar](40) NOT NULL,
	[納期] [datetime] NOT NULL,
	[時間] [varchar](5) NOT NULL,
	[現場名] [varchar](28) NOT NULL,
	[仕分名称] [varchar](20) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD発注] PRIMARY KEY CLUSTERED 
(
	[発注番号] ASC,
	[仕入先CD] ASC,
	[仕分番号] ASC,
	[配送先CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_納入先名1]  DEFAULT ('') FOR [納入先名1]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_納入先名2]  DEFAULT ('') FOR [納入先名2]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_郵便番号]  DEFAULT ('') FOR [納入先郵便番号]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_住所1]  DEFAULT ('') FOR [納入先住所1]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_住所2]  DEFAULT ('') FOR [納入先住所2]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_納TEL]  DEFAULT ('') FOR [納入先TEL]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_納FAX]  DEFAULT ('') FOR [納入先FAX]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_納入先担当者]  DEFAULT ('') FOR [納入先担当者]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_現場名]  DEFAULT ('') FOR [現場名]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_仕分名称]  DEFAULT ('') FOR [仕分名称]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD発注] ADD  CONSTRAINT [DF_TD発注_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
