USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD手入力鏡]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD手入力鏡](
	[鏡番号] [int] NOT NULL,
	[請求日付] [datetime] NOT NULL,
	[得意先CD] [varchar](4) NULL,
	[得意先名1] [varchar](28) NULL,
	[得意先名2] [varchar](28) NULL,
	[納入先CD] [varchar](4) NULL,
	[受渡地] [varchar](28) NULL,
	[明細書数] [smallint] NULL,
	[金額] [money] NULL,
	[消費税] [money] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[摘要1] [varchar](60) NOT NULL,
	[摘要2] [varchar](60) NOT NULL,
	[摘要3] [varchar](60) NOT NULL,
	[摘要4] [varchar](60) NOT NULL,
	[摘要5] [varchar](60) NOT NULL,
	[摘要6] [varchar](60) NOT NULL,
 CONSTRAINT [PK_TD手入力鏡] PRIMARY KEY CLUSTERED 
(
	[鏡番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD手入力鏡] ADD  CONSTRAINT [DF_TD手入力鏡_摘要1]  DEFAULT ('') FOR [摘要1]
GO
ALTER TABLE [dbo].[TD手入力鏡] ADD  CONSTRAINT [DF_TD手入力鏡_摘要2]  DEFAULT ('') FOR [摘要2]
GO
ALTER TABLE [dbo].[TD手入力鏡] ADD  CONSTRAINT [DF_TD手入力鏡_摘要3]  DEFAULT ('') FOR [摘要3]
GO
ALTER TABLE [dbo].[TD手入力鏡] ADD  CONSTRAINT [DF_TD手入力鏡_摘要4]  DEFAULT ('') FOR [摘要4]
GO
ALTER TABLE [dbo].[TD手入力鏡] ADD  CONSTRAINT [DF_TD手入力鏡_摘要5]  DEFAULT ('') FOR [摘要5]
GO
ALTER TABLE [dbo].[TD手入力鏡] ADD  CONSTRAINT [DF_TD手入力鏡_摘要6]  DEFAULT ('') FOR [摘要6]
GO
