USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TDしまむら消耗品受注]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TDしまむら消耗品受注](
	[伝票NO] [int] NOT NULL,
	[発注日] [datetime] NOT NULL,
	[業態コード] [varchar](2) NOT NULL,
	[取込日] [datetime] NULL,
	[テストフラグ] [smallint] NOT NULL,
	[取引先コード] [varchar](4) NOT NULL,
	[取引先名称] [varchar](40) NOT NULL,
	[データ種別] [varchar](2) NOT NULL,
	[データ日付] [datetime] NULL,
	[未使用項目1] [varchar](5) NOT NULL,
	[配送センターコード] [varchar](4) NOT NULL,
	[売出区分] [varchar](1) NOT NULL,
	[売出日] [varchar](8) NULL,
	[伝票日付] [datetime] NULL,
	[BY記号] [varchar](2) NOT NULL,
	[伝票区分] [smallint] NOT NULL,
	[発注区分] [smallint] NOT NULL,
	[直流区分] [smallint] NOT NULL,
	[発注者名] [varchar](16) NOT NULL,
	[備考] [varchar](38) NOT NULL,
	[部門コード] [varchar](2) NOT NULL,
	[品番コード] [varchar](3) NOT NULL,
	[単品コード] [varchar](4) NOT NULL,
	[商品メッセージ] [varchar](16) NOT NULL,
	[商品記号] [varchar](12) NOT NULL,
	[商品名] [varchar](15) NOT NULL,
	[サイズコード1] [varchar](3) NOT NULL,
	[サイズコード2] [varchar](3) NOT NULL,
	[サイズコード3] [varchar](3) NOT NULL,
	[カラーコード1] [smallint] NOT NULL,
	[カラーコード2] [smallint] NOT NULL,
	[カラーコード3] [smallint] NOT NULL,
	[カラーコード4] [smallint] NOT NULL,
	[カラー名漢字] [varchar](8) NOT NULL,
	[組数] [smallint] NOT NULL,
	[セット数] [varchar](1) NOT NULL,
	[原単価] [money] NOT NULL,
	[売単価] [money] NOT NULL,
	[元売価] [money] NOT NULL,
	[発注総数量] [int] NOT NULL,
	[棚割コード1-1] [varchar](3) NOT NULL,
	[棚割コード1-2] [varchar](3) NOT NULL,
	[棚割コード2-1] [varchar](3) NOT NULL,
	[棚割コード2-2] [varchar](3) NOT NULL,
	[値札番号] [smallint] NOT NULL,
	[値札デザイン] [varchar](2) NOT NULL,
	[季節コード] [smallint] NOT NULL,
	[クラスコード] [varchar](3) NOT NULL,
	[JANコード] [varchar](13) NOT NULL,
	[納品開始店コード] [varchar](4) NOT NULL,
	[納品終了店コード] [varchar](4) NOT NULL,
	[未使用項目3] [varchar](4) NOT NULL,
	[店別発注数量1] [int] NOT NULL,
	[店別発注数量2] [int] NOT NULL,
	[店別発注数量3] [int] NOT NULL,
	[店別発注数量4] [int] NOT NULL,
	[店別発注数量] [int] NOT NULL,
	[店別発注数量5] [int] NOT NULL,
	[店別発注数量6] [int] NOT NULL,
	[店別発注数量7] [int] NOT NULL,
	[店別発注数量8] [int] NOT NULL,
	[店別発注数量9] [int] NOT NULL,
	[店別発注数量10] [int] NOT NULL,
	[店別発注数量11] [int] NOT NULL,
	[店別発注数量12] [int] NOT NULL,
	[店別発注数量13] [int] NOT NULL,
	[店別発注数量14] [int] NOT NULL,
	[店別発注数量15] [int] NOT NULL,
	[店別発注数量16] [int] NOT NULL,
	[店別発注数量17] [int] NOT NULL,
	[店別発注数量18] [int] NOT NULL,
	[店別発注数量19] [int] NOT NULL,
	[店別発注数量20] [int] NOT NULL,
	[店別発注数量21] [int] NOT NULL,
	[店別発注数量22] [int] NOT NULL,
	[店別発注数量23] [int] NOT NULL,
	[店別発注数量24] [int] NOT NULL,
	[店別発注数量25] [int] NOT NULL,
	[店別発注数量26] [int] NOT NULL,
	[店別発注数量27] [int] NOT NULL,
	[店別発注数量28] [int] NOT NULL,
	[店別発注数量29] [int] NOT NULL,
	[店別発注数量30] [int] NOT NULL,
	[店別発注数量31] [int] NOT NULL,
	[店別発注数量32] [int] NOT NULL,
	[店別発注数量33] [int] NOT NULL,
	[店別発注数量34] [int] NOT NULL,
	[店別発注数量35] [int] NOT NULL,
	[店別発注数量36] [int] NOT NULL,
	[店別発注数量37] [int] NOT NULL,
	[店別発注数量38] [int] NOT NULL,
	[店別発注数量39] [int] NOT NULL,
	[店別発注数量40] [int] NOT NULL,
	[店別発注数量41] [int] NOT NULL,
	[店別発注数量42] [int] NOT NULL,
	[店別発注数量43] [int] NOT NULL,
	[店別発注数量44] [int] NOT NULL,
	[店別発注数量45] [int] NOT NULL,
	[店別発注数量46] [int] NOT NULL,
	[店別発注数量47] [int] NOT NULL,
	[店別発注数量48] [int] NOT NULL,
	[店別発注数量49] [int] NOT NULL,
	[店別発注数量50] [int] NOT NULL,
	[店別発注数量51] [int] NOT NULL,
	[店別発注数量52] [int] NOT NULL,
	[店別発注数量53] [int] NOT NULL,
	[店別発注数量54] [int] NOT NULL,
	[店別発注数量55] [int] NOT NULL,
	[店別発注数量56] [int] NOT NULL,
	[店別発注数量57] [int] NOT NULL,
	[店別発注数量58] [int] NOT NULL,
	[店別発注数量59] [int] NOT NULL,
	[店別発注数量60] [int] NOT NULL,
	[店別発注数量61] [int] NOT NULL,
	[店別発注数量62] [int] NOT NULL,
	[店別発注数量63] [int] NOT NULL,
	[店別発注数量64] [int] NOT NULL,
	[店別発注数量65] [int] NOT NULL,
	[店別発注数量66] [int] NOT NULL,
	[店別発注数量67] [int] NOT NULL,
	[店別発注数量68] [int] NOT NULL,
	[店別発注数量69] [int] NOT NULL,
	[店別発注数量70] [int] NOT NULL,
	[店別発注数量71] [int] NOT NULL,
	[店別発注数量72] [int] NOT NULL,
	[店別発注数量73] [int] NOT NULL,
	[店別発注数量74] [int] NOT NULL,
	[店別発注数量75] [int] NOT NULL,
	[店別発注数量76] [int] NOT NULL,
	[店別発注数量77] [int] NOT NULL,
	[店別発注数量78] [int] NOT NULL,
	[店別発注数量79] [int] NOT NULL,
	[店別発注数量80] [int] NOT NULL,
	[店別発注数量81] [int] NOT NULL,
	[店別発注数量82] [int] NOT NULL,
	[店別発注数量83] [int] NOT NULL,
	[店別発注数量84] [int] NOT NULL,
	[店別発注数量85] [int] NOT NULL,
	[店別発注数量86] [int] NOT NULL,
	[店別発注数量87] [int] NOT NULL,
	[店別発注数量88] [int] NOT NULL,
	[店別発注数量89] [int] NOT NULL,
	[店別発注数量90] [int] NOT NULL,
	[店別発注数量91] [int] NOT NULL,
	[店別発注数量92] [int] NOT NULL,
	[店別発注数量93] [int] NOT NULL,
	[店別発注数量94] [int] NOT NULL,
	[店別発注数量95] [int] NOT NULL,
	[店別発注数量96] [int] NOT NULL,
	[店別発注数量97] [int] NOT NULL,
	[店別発注数量98] [int] NOT NULL,
	[店別発注数量99] [int] NOT NULL,
	[店別発注数量100] [int] NOT NULL,
	[店別発注数量101] [int] NOT NULL,
	[店別発注数量102] [int] NOT NULL,
	[店別発注数量103] [int] NOT NULL,
	[店別発注数量104] [int] NOT NULL,
	[店別発注数量105] [int] NOT NULL,
	[店別発注数量106] [int] NOT NULL,
	[店別発注数量107] [int] NOT NULL,
	[店別発注数量108] [int] NOT NULL,
	[店別発注数量109] [int] NOT NULL,
	[店別発注数量110] [int] NOT NULL,
	[店別発注数量111] [int] NOT NULL,
	[店別発注数量112] [int] NOT NULL,
	[店別発注数量113] [int] NOT NULL,
	[店別発注数量114] [int] NOT NULL,
	[店別発注数量115] [int] NOT NULL,
	[店別発注数量116] [int] NOT NULL,
	[店別発注数量117] [int] NOT NULL,
	[店別発注数量118] [int] NOT NULL,
	[店別発注数量119] [int] NOT NULL,
	[店別発注数量120] [int] NOT NULL,
	[店別発注数量121] [int] NOT NULL,
	[店別発注数量122] [int] NOT NULL,
	[店別発注数量123] [int] NOT NULL,
	[店別発注数量124] [int] NOT NULL,
	[店別発注数量125] [int] NOT NULL,
	[店別発注数量126] [int] NOT NULL,
	[店別発注数量127] [int] NOT NULL,
	[店別発注数量128] [int] NOT NULL,
	[店別発注数量129] [int] NOT NULL,
	[店別発注数量130] [int] NOT NULL,
	[店別発注数量131] [int] NOT NULL,
	[店別発注数量132] [int] NOT NULL,
	[店別発注数量133] [int] NOT NULL,
	[店別発注数量134] [int] NOT NULL,
	[店別発注数量135] [int] NOT NULL,
	[店別発注数量136] [int] NOT NULL,
	[店別発注数量137] [int] NOT NULL,
	[店別発注数量138] [int] NOT NULL,
	[店別発注数量139] [int] NOT NULL,
	[店別発注数量140] [int] NOT NULL,
	[店別発注数量141] [int] NOT NULL,
	[店別発注数量142] [int] NOT NULL,
	[店別発注数量143] [int] NOT NULL,
	[店別発注数量144] [int] NOT NULL,
	[店別発注数量145] [int] NOT NULL,
	[店別発注数量146] [int] NOT NULL,
	[店別発注数量147] [int] NOT NULL,
	[店別発注数量148] [int] NOT NULL,
	[店別発注数量149] [int] NOT NULL,
	[店別発注数量150] [int] NOT NULL,
	[店別発注数量151] [int] NOT NULL,
	[店別発注数量152] [int] NOT NULL,
	[店別発注数量153] [int] NOT NULL,
	[店別発注数量154] [int] NOT NULL,
	[店別発注数量155] [int] NOT NULL,
	[店別発注数量156] [int] NOT NULL,
	[店別発注数量157] [int] NOT NULL,
	[店別発注数量158] [int] NOT NULL,
	[店別発注数量159] [int] NOT NULL,
	[店別発注数量160] [int] NOT NULL,
	[店別発注数量161] [int] NOT NULL,
	[店別発注数量162] [int] NOT NULL,
	[店別発注数量163] [int] NOT NULL,
	[店別発注数量164] [int] NOT NULL,
	[店別発注数量165] [int] NOT NULL,
	[店別発注数量166] [int] NOT NULL,
	[店別発注数量167] [int] NOT NULL,
	[店別発注数量168] [int] NOT NULL,
	[店別発注数量169] [int] NOT NULL,
	[店別発注数量170] [int] NOT NULL,
	[店別発注数量171] [int] NOT NULL,
	[店別発注数量172] [int] NOT NULL,
	[店別発注数量173] [int] NOT NULL,
	[店別発注数量174] [int] NOT NULL,
	[店別発注数量175] [int] NOT NULL,
	[店別発注数量176] [int] NOT NULL,
	[店別発注数量177] [int] NOT NULL,
	[店別発注数量178] [int] NOT NULL,
	[店別発注数量179] [int] NOT NULL,
	[店別発注数量180] [int] NOT NULL,
	[店別発注数量181] [int] NOT NULL,
	[店別発注数量182] [int] NOT NULL,
	[店別発注数量183] [int] NOT NULL,
	[店別発注数量184] [int] NOT NULL,
	[店別発注数量185] [int] NOT NULL,
	[店別発注数量186] [int] NOT NULL,
	[店別発注数量187] [int] NOT NULL,
	[店別発注数量188] [int] NOT NULL,
	[店別発注数量189] [int] NOT NULL,
	[店別発注数量190] [int] NOT NULL,
	[店別発注数量191] [int] NOT NULL,
	[店別発注数量192] [int] NOT NULL,
	[店別発注数量193] [int] NOT NULL,
	[店別発注数量194] [int] NOT NULL,
	[店別発注数量195] [int] NOT NULL,
	[店別発注数量196] [int] NOT NULL,
	[店別発注数量197] [int] NOT NULL,
	[店別発注数量198] [int] NOT NULL,
	[店別発注数量199] [int] NOT NULL,
	[店別発注数量200] [int] NOT NULL,
	[訂正区分] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TDしまむら消耗品受注] PRIMARY KEY CLUSTERED 
(
	[伝票NO] ASC,
	[発注日] ASC,
	[業態コード] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_発注日]  DEFAULT ((0)) FOR [発注日]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_業態コード]  DEFAULT ('') FOR [業態コード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_テストフラグ]  DEFAULT ((0)) FOR [テストフラグ]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_取引先コード]  DEFAULT ('') FOR [取引先コード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_取引先名称]  DEFAULT ('') FOR [取引先名称]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_データ種別]  DEFAULT ('') FOR [データ種別]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_未使用項目1]  DEFAULT ('') FOR [未使用項目1]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_配送センターコード]  DEFAULT ('') FOR [配送センターコード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_売出区分]  DEFAULT ('') FOR [売出区分]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_BY記号]  DEFAULT ('') FOR [BY記号]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_伝票区分]  DEFAULT ((0)) FOR [伝票区分]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_発注区分]  DEFAULT ((0)) FOR [発注区分]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_直流区分]  DEFAULT ((0)) FOR [直流区分]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_発注者名]  DEFAULT ('') FOR [発注者名]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_備考]  DEFAULT ('') FOR [備考]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_部門コード]  DEFAULT ('') FOR [部門コード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_品番コード]  DEFAULT ('') FOR [品番コード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_単品コード]  DEFAULT ('') FOR [単品コード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_商品メッセージ]  DEFAULT ('') FOR [商品メッセージ]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_商品記号]  DEFAULT ('') FOR [商品記号]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_商品名]  DEFAULT ('') FOR [商品名]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_サイズコード1]  DEFAULT ('') FOR [サイズコード1]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_サイズコード3]  DEFAULT ('') FOR [サイズコード3]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_カラーコード1]  DEFAULT ((0)) FOR [カラーコード1]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_カラーコード2]  DEFAULT ((0)) FOR [カラーコード2]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_カラーコード3]  DEFAULT ((0)) FOR [カラーコード3]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_カラーコード4]  DEFAULT ((0)) FOR [カラーコード4]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_カラー名漢字]  DEFAULT ('') FOR [カラー名漢字]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_組数]  DEFAULT ((0)) FOR [組数]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_セット数]  DEFAULT ('') FOR [セット数]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_原単価]  DEFAULT ((0)) FOR [原単価]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_売単価]  DEFAULT ((0)) FOR [売単価]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_元売価]  DEFAULT ((0)) FOR [元売価]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_発注総数量]  DEFAULT ((0)) FOR [発注総数量]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_棚割コード1-1]  DEFAULT ('') FOR [棚割コード1-1]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_棚割コード1-2]  DEFAULT ('') FOR [棚割コード1-2]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_棚割コード2-1]  DEFAULT ('') FOR [棚割コード2-1]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_棚割コード2-2]  DEFAULT ('') FOR [棚割コード2-2]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_値札番号]  DEFAULT ((0)) FOR [値札番号]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_値札デザイン]  DEFAULT ('') FOR [値札デザイン]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_季節コード]  DEFAULT ((0)) FOR [季節コード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_クラスコード]  DEFAULT ((0)) FOR [クラスコード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_JANコード]  DEFAULT ('') FOR [JANコード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_納品開始店コード]  DEFAULT ('') FOR [納品開始店コード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_納品終了店コード]  DEFAULT ('') FOR [納品終了店コード]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_未使用項目3]  DEFAULT ('') FOR [未使用項目3]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量1]  DEFAULT ((0)) FOR [店別発注数量1]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量2]  DEFAULT ((0)) FOR [店別発注数量2]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量3]  DEFAULT ((0)) FOR [店別発注数量3]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量4]  DEFAULT ((0)) FOR [店別発注数量4]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_Table_1_店別発注数量31]  DEFAULT ((0)) FOR [店別発注数量]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量5]  DEFAULT ((0)) FOR [店別発注数量5]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量6]  DEFAULT ((0)) FOR [店別発注数量6]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量7]  DEFAULT ((0)) FOR [店別発注数量7]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量8]  DEFAULT ((0)) FOR [店別発注数量8]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量9]  DEFAULT ((0)) FOR [店別発注数量9]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量10]  DEFAULT ((0)) FOR [店別発注数量10]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量11]  DEFAULT ((0)) FOR [店別発注数量11]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量12]  DEFAULT ((0)) FOR [店別発注数量12]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量13]  DEFAULT ((0)) FOR [店別発注数量13]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量14]  DEFAULT ((0)) FOR [店別発注数量14]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量15]  DEFAULT ((0)) FOR [店別発注数量15]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量16]  DEFAULT ((0)) FOR [店別発注数量16]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量17]  DEFAULT ((0)) FOR [店別発注数量17]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量18]  DEFAULT ((0)) FOR [店別発注数量18]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量19]  DEFAULT ((0)) FOR [店別発注数量19]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量20]  DEFAULT ((0)) FOR [店別発注数量20]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量21]  DEFAULT ((0)) FOR [店別発注数量21]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量22]  DEFAULT ((0)) FOR [店別発注数量22]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量23]  DEFAULT ((0)) FOR [店別発注数量23]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量24]  DEFAULT ((0)) FOR [店別発注数量24]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量25]  DEFAULT ((0)) FOR [店別発注数量25]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量26]  DEFAULT ((0)) FOR [店別発注数量26]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量27]  DEFAULT ((0)) FOR [店別発注数量27]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量28]  DEFAULT ((0)) FOR [店別発注数量28]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量29]  DEFAULT ((0)) FOR [店別発注数量29]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量30]  DEFAULT ((0)) FOR [店別発注数量30]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量31]  DEFAULT ((0)) FOR [店別発注数量31]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量32]  DEFAULT ((0)) FOR [店別発注数量32]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量33]  DEFAULT ((0)) FOR [店別発注数量33]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量34]  DEFAULT ((0)) FOR [店別発注数量34]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量35]  DEFAULT ((0)) FOR [店別発注数量35]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量36]  DEFAULT ((0)) FOR [店別発注数量36]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量37]  DEFAULT ((0)) FOR [店別発注数量37]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量38]  DEFAULT ((0)) FOR [店別発注数量38]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量39]  DEFAULT ((0)) FOR [店別発注数量39]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量40]  DEFAULT ((0)) FOR [店別発注数量40]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量41]  DEFAULT ((0)) FOR [店別発注数量41]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量42]  DEFAULT ((0)) FOR [店別発注数量42]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量43]  DEFAULT ((0)) FOR [店別発注数量43]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量44]  DEFAULT ((0)) FOR [店別発注数量44]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量45]  DEFAULT ((0)) FOR [店別発注数量45]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量46]  DEFAULT ((0)) FOR [店別発注数量46]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量47]  DEFAULT ((0)) FOR [店別発注数量47]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量48]  DEFAULT ((0)) FOR [店別発注数量48]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量49]  DEFAULT ((0)) FOR [店別発注数量49]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量50]  DEFAULT ((0)) FOR [店別発注数量50]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量51]  DEFAULT ((0)) FOR [店別発注数量51]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量52]  DEFAULT ((0)) FOR [店別発注数量52]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量53]  DEFAULT ((0)) FOR [店別発注数量53]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量54]  DEFAULT ((0)) FOR [店別発注数量54]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量55]  DEFAULT ((0)) FOR [店別発注数量55]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量56]  DEFAULT ((0)) FOR [店別発注数量56]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量57]  DEFAULT ((0)) FOR [店別発注数量57]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量58]  DEFAULT ((0)) FOR [店別発注数量58]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量59]  DEFAULT ((0)) FOR [店別発注数量59]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量60]  DEFAULT ((0)) FOR [店別発注数量60]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量61]  DEFAULT ((0)) FOR [店別発注数量61]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量62]  DEFAULT ((0)) FOR [店別発注数量62]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量63]  DEFAULT ((0)) FOR [店別発注数量63]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量64]  DEFAULT ((0)) FOR [店別発注数量64]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量65]  DEFAULT ((0)) FOR [店別発注数量65]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量66]  DEFAULT ((0)) FOR [店別発注数量66]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量67]  DEFAULT ((0)) FOR [店別発注数量67]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量68]  DEFAULT ((0)) FOR [店別発注数量68]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量69]  DEFAULT ((0)) FOR [店別発注数量69]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量70]  DEFAULT ((0)) FOR [店別発注数量70]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量71]  DEFAULT ((0)) FOR [店別発注数量71]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量72]  DEFAULT ((0)) FOR [店別発注数量72]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量73]  DEFAULT ((0)) FOR [店別発注数量73]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量74]  DEFAULT ((0)) FOR [店別発注数量74]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量75]  DEFAULT ((0)) FOR [店別発注数量75]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量76]  DEFAULT ((0)) FOR [店別発注数量76]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量77]  DEFAULT ((0)) FOR [店別発注数量77]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量78]  DEFAULT ((0)) FOR [店別発注数量78]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量79]  DEFAULT ((0)) FOR [店別発注数量79]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量80]  DEFAULT ((0)) FOR [店別発注数量80]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量81]  DEFAULT ((0)) FOR [店別発注数量81]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量82]  DEFAULT ((0)) FOR [店別発注数量82]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量83]  DEFAULT ((0)) FOR [店別発注数量83]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量84]  DEFAULT ((0)) FOR [店別発注数量84]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量85]  DEFAULT ((0)) FOR [店別発注数量85]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量86]  DEFAULT ((0)) FOR [店別発注数量86]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量87]  DEFAULT ((0)) FOR [店別発注数量87]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量88]  DEFAULT ((0)) FOR [店別発注数量88]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量89]  DEFAULT ((0)) FOR [店別発注数量89]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量90]  DEFAULT ((0)) FOR [店別発注数量90]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量91]  DEFAULT ((0)) FOR [店別発注数量91]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量92]  DEFAULT ((0)) FOR [店別発注数量92]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量93]  DEFAULT ((0)) FOR [店別発注数量93]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量94]  DEFAULT ((0)) FOR [店別発注数量94]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量95]  DEFAULT ((0)) FOR [店別発注数量95]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量96]  DEFAULT ((0)) FOR [店別発注数量96]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量97]  DEFAULT ((0)) FOR [店別発注数量97]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量98]  DEFAULT ((0)) FOR [店別発注数量98]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量99]  DEFAULT ((0)) FOR [店別発注数量99]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量100]  DEFAULT ((0)) FOR [店別発注数量100]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量101]  DEFAULT ((0)) FOR [店別発注数量101]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量102]  DEFAULT ((0)) FOR [店別発注数量102]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量103]  DEFAULT ((0)) FOR [店別発注数量103]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量104]  DEFAULT ((0)) FOR [店別発注数量104]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量105]  DEFAULT ((0)) FOR [店別発注数量105]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量106]  DEFAULT ((0)) FOR [店別発注数量106]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量107]  DEFAULT ((0)) FOR [店別発注数量107]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量108]  DEFAULT ((0)) FOR [店別発注数量108]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量109]  DEFAULT ((0)) FOR [店別発注数量109]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量110]  DEFAULT ((0)) FOR [店別発注数量110]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量111]  DEFAULT ((0)) FOR [店別発注数量111]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量112]  DEFAULT ((0)) FOR [店別発注数量112]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量113]  DEFAULT ((0)) FOR [店別発注数量113]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量114]  DEFAULT ((0)) FOR [店別発注数量114]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量115]  DEFAULT ((0)) FOR [店別発注数量115]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量116]  DEFAULT ((0)) FOR [店別発注数量116]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量117]  DEFAULT ((0)) FOR [店別発注数量117]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量118]  DEFAULT ((0)) FOR [店別発注数量118]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量119]  DEFAULT ((0)) FOR [店別発注数量119]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量120]  DEFAULT ((0)) FOR [店別発注数量120]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量121]  DEFAULT ((0)) FOR [店別発注数量121]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量122]  DEFAULT ((0)) FOR [店別発注数量122]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量123]  DEFAULT ((0)) FOR [店別発注数量123]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量124]  DEFAULT ((0)) FOR [店別発注数量124]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量125]  DEFAULT ((0)) FOR [店別発注数量125]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量126]  DEFAULT ((0)) FOR [店別発注数量126]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量127]  DEFAULT ((0)) FOR [店別発注数量127]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量128]  DEFAULT ((0)) FOR [店別発注数量128]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量129]  DEFAULT ((0)) FOR [店別発注数量129]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量130]  DEFAULT ((0)) FOR [店別発注数量130]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量131]  DEFAULT ((0)) FOR [店別発注数量131]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量132]  DEFAULT ((0)) FOR [店別発注数量132]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量133]  DEFAULT ((0)) FOR [店別発注数量133]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量134]  DEFAULT ((0)) FOR [店別発注数量134]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量135]  DEFAULT ((0)) FOR [店別発注数量135]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量136]  DEFAULT ((0)) FOR [店別発注数量136]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量137]  DEFAULT ((0)) FOR [店別発注数量137]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量138]  DEFAULT ((0)) FOR [店別発注数量138]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量139]  DEFAULT ((0)) FOR [店別発注数量139]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量140]  DEFAULT ((0)) FOR [店別発注数量140]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量141]  DEFAULT ((0)) FOR [店別発注数量141]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量142]  DEFAULT ((0)) FOR [店別発注数量142]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量143]  DEFAULT ((0)) FOR [店別発注数量143]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量144]  DEFAULT ((0)) FOR [店別発注数量144]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量145]  DEFAULT ((0)) FOR [店別発注数量145]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量146]  DEFAULT ((0)) FOR [店別発注数量146]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量147]  DEFAULT ((0)) FOR [店別発注数量147]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量148]  DEFAULT ((0)) FOR [店別発注数量148]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量149]  DEFAULT ((0)) FOR [店別発注数量149]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量150]  DEFAULT ((0)) FOR [店別発注数量150]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量151]  DEFAULT ((0)) FOR [店別発注数量151]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量152]  DEFAULT ((0)) FOR [店別発注数量152]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量153]  DEFAULT ((0)) FOR [店別発注数量153]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量154]  DEFAULT ((0)) FOR [店別発注数量154]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量155]  DEFAULT ((0)) FOR [店別発注数量155]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量156]  DEFAULT ((0)) FOR [店別発注数量156]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量157]  DEFAULT ((0)) FOR [店別発注数量157]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量158]  DEFAULT ((0)) FOR [店別発注数量158]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量159]  DEFAULT ((0)) FOR [店別発注数量159]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量160]  DEFAULT ((0)) FOR [店別発注数量160]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量161]  DEFAULT ((0)) FOR [店別発注数量161]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量162]  DEFAULT ((0)) FOR [店別発注数量162]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量163]  DEFAULT ((0)) FOR [店別発注数量163]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量164]  DEFAULT ((0)) FOR [店別発注数量164]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量165]  DEFAULT ((0)) FOR [店別発注数量165]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量166]  DEFAULT ((0)) FOR [店別発注数量166]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量167]  DEFAULT ((0)) FOR [店別発注数量167]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量168]  DEFAULT ((0)) FOR [店別発注数量168]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量169]  DEFAULT ((0)) FOR [店別発注数量169]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量170]  DEFAULT ((0)) FOR [店別発注数量170]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量171]  DEFAULT ((0)) FOR [店別発注数量171]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量172]  DEFAULT ((0)) FOR [店別発注数量172]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量173]  DEFAULT ((0)) FOR [店別発注数量173]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量174]  DEFAULT ((0)) FOR [店別発注数量174]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量175]  DEFAULT ((0)) FOR [店別発注数量175]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量176]  DEFAULT ((0)) FOR [店別発注数量176]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量177]  DEFAULT ((0)) FOR [店別発注数量177]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量178]  DEFAULT ((0)) FOR [店別発注数量178]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量179]  DEFAULT ((0)) FOR [店別発注数量179]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量180]  DEFAULT ((0)) FOR [店別発注数量180]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量181]  DEFAULT ((0)) FOR [店別発注数量181]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量182]  DEFAULT ((0)) FOR [店別発注数量182]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量183]  DEFAULT ((0)) FOR [店別発注数量183]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量184]  DEFAULT ((0)) FOR [店別発注数量184]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量185]  DEFAULT ((0)) FOR [店別発注数量185]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量186]  DEFAULT ((0)) FOR [店別発注数量186]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量187]  DEFAULT ((0)) FOR [店別発注数量187]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量188]  DEFAULT ((0)) FOR [店別発注数量188]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量189]  DEFAULT ((0)) FOR [店別発注数量189]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量190]  DEFAULT ((0)) FOR [店別発注数量190]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量191]  DEFAULT ((0)) FOR [店別発注数量191]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量192]  DEFAULT ((0)) FOR [店別発注数量192]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量193]  DEFAULT ((0)) FOR [店別発注数量193]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量194]  DEFAULT ((0)) FOR [店別発注数量194]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量195]  DEFAULT ((0)) FOR [店別発注数量195]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量196]  DEFAULT ((0)) FOR [店別発注数量196]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量197]  DEFAULT ((0)) FOR [店別発注数量197]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量198]  DEFAULT ((0)) FOR [店別発注数量198]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量199]  DEFAULT ((0)) FOR [店別発注数量199]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_店別発注数量200]  DEFAULT ((0)) FOR [店別発注数量200]
GO
ALTER TABLE [dbo].[TDしまむら消耗品受注] ADD  CONSTRAINT [DF_TDしまむら消耗品受注_訂正区分]  DEFAULT ((0)) FOR [訂正区分]
GO
