USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD物件情報]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD物件情報](
	[物件番号] [int] NOT NULL,
	[物件登録日付] [datetime] NULL,
	[物件名] [varchar](60) NOT NULL,
	[物件略称] [varchar](24) NOT NULL,
	[得意先CD] [varchar](4) NOT NULL,
	[得意先名1] [varchar](28) NOT NULL,
	[得意先名2] [varchar](28) NOT NULL,
	[得TEL] [varchar](15) NOT NULL,
	[得FAX] [varchar](15) NOT NULL,
	[得意先担当者] [varchar](40) NOT NULL,
	[納入得意先CD] [varchar](4) NULL,
	[納入先CD] [varchar](4) NULL,
	[納入先名1] [varchar](28) NOT NULL,
	[納入先名2] [varchar](28) NOT NULL,
	[郵便番号] [varchar](8) NOT NULL,
	[住所1] [varchar](32) NOT NULL,
	[住所2] [varchar](32) NOT NULL,
	[納TEL] [varchar](15) NOT NULL,
	[納FAX] [varchar](15) NOT NULL,
	[納入先担当者] [varchar](40) NOT NULL,
	[担当者CD] [smallint] NOT NULL,
	[部署CD] [smallint] NOT NULL,
	[見積予定日付] [datetime] NULL,
	[受注予定日付] [datetime] NULL,
	[仕入予定日付] [datetime] NULL,
	[売上予定日付] [datetime] NULL,
	[検収予定日付] [datetime] NULL,
	[請求予定日付] [datetime] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[工事担当CD] [int] NOT NULL,
	[集計CD] [varchar](10) NOT NULL,
	[税集計区分] [smallint] NOT NULL,
	[予定納期S] [datetime] NULL,
	[予定納期E] [datetime] NULL,
	[予定オープン日] [datetime] NULL,
	[予定物件種別] [smallint] NULL,
	[予定受付日付] [datetime] NULL,
	[予定完工日付] [datetime] NULL,
	[予定請求予定日付] [datetime] NULL,
 CONSTRAINT [PK_TD物件情報] PRIMARY KEY CLUSTERED 
(
	[物件番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_得意先担当者]  DEFAULT ('') FOR [得意先担当者]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_納入先名1]  DEFAULT ('') FOR [納入先名1]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_納入先名2]  DEFAULT ('') FOR [納入先名2]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_郵便番号]  DEFAULT ('') FOR [郵便番号]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_住所1]  DEFAULT ('') FOR [住所1]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_住所2]  DEFAULT ('') FOR [住所2]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_納TEL]  DEFAULT ('') FOR [納TEL]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_納FAX]  DEFAULT ('') FOR [納FAX]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_納入先担当者]  DEFAULT ('') FOR [納入先担当者]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_部署CD]  DEFAULT ((0)) FOR [部署CD]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_工事担当CD_1]  DEFAULT ((0)) FOR [工事担当CD]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_集計CD_1]  DEFAULT ('') FOR [集計CD]
GO
ALTER TABLE [dbo].[TD物件情報] ADD  CONSTRAINT [DF_TD物件情報_税集計区分_1]  DEFAULT ((0)) FOR [税集計区分]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'統計資料用集計コード' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD物件情報', @level2type=N'COLUMN',@level2name=N'集計CD'
GO
