USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM仕入先]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM仕入先](
	[仕入先CD] [varchar](4) NOT NULL,
	[仕入先名1] [varchar](28) NOT NULL,
	[仕入先名2] [varchar](28) NOT NULL,
	[略称] [varchar](8) NOT NULL,
	[フリガナ] [varchar](5) NOT NULL,
	[郵便番号] [varchar](8) NOT NULL,
	[住所1] [varchar](32) NOT NULL,
	[住所2] [varchar](32) NOT NULL,
	[電話番号] [varchar](15) NOT NULL,
	[FAX番号] [varchar](15) NOT NULL,
	[仕入先担当者名] [varchar](40) NOT NULL,
	[担当者CD] [int] NULL,
	[締日] [smallint] NOT NULL,
	[決算月] [smallint] NOT NULL,
	[税集計区分] [smallint] NOT NULL,
	[仕入端数] [smallint] NOT NULL,
	[消費税端数] [smallint] NOT NULL,
	[支払サイクル] [smallint] NOT NULL,
	[支払予定日] [smallint] NOT NULL,
	[支払区分CD] [smallint] NOT NULL,
	[支払方法] [smallint] NOT NULL,
	[支払様式] [smallint] NOT NULL,
	[導入支払金額] [money] NOT NULL,
	[導入買掛金額] [money] NOT NULL,
	[メモ] [varchar](40) NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[最終使用日] [datetime] NULL,
	[インボイス登録番号] [varchar](14) NOT NULL,
 CONSTRAINT [PK_TM仕入先] PRIMARY KEY CLUSTERED 
(
	[仕入先CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_仕入先名1]  DEFAULT ('') FOR [仕入先名1]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_仕入先名2]  DEFAULT ('') FOR [仕入先名2]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_略称]  DEFAULT ('') FOR [略称]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_フリガナ]  DEFAULT ('') FOR [フリガナ]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_郵便番号]  DEFAULT ('') FOR [郵便番号]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_住所1]  DEFAULT ('') FOR [住所1]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_住所2]  DEFAULT ('') FOR [住所2]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_電話番号]  DEFAULT ('') FOR [電話番号]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_FAX番号]  DEFAULT ('') FOR [FAX番号]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_得意先担当者名]  DEFAULT ('') FOR [仕入先担当者名]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_締日]  DEFAULT ((0)) FOR [締日]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_決算月]  DEFAULT ((0)) FOR [決算月]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_税集計区分]  DEFAULT ((0)) FOR [税集計区分]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_仕入端数]  DEFAULT ((0)) FOR [仕入端数]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_消費税端数]  DEFAULT ((0)) FOR [消費税端数]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_支払サイクル]  DEFAULT ((0)) FOR [支払サイクル]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_支払予定日]  DEFAULT ((0)) FOR [支払予定日]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_支払区分ID]  DEFAULT ((0)) FOR [支払区分CD]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_回収方法]  DEFAULT ((0)) FOR [支払方法]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_請求方法]  DEFAULT ((0)) FOR [支払様式]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_導入支払金額]  DEFAULT ((0)) FOR [導入支払金額]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_導入買掛金額]  DEFAULT ((0)) FOR [導入買掛金額]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TM仕入先] ADD  CONSTRAINT [DF_TM仕入先_インボイス登録番号]  DEFAULT ('') FOR [インボイス登録番号]
GO
