USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD入金消込]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD入金消込](
	[入金番号] [int] NOT NULL,
	[売上番号] [int] NOT NULL,
	[入金金額] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD入金消込明細] PRIMARY KEY CLUSTERED 
(
	[入金番号] ASC,
	[売上番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD入金消込] ADD  CONSTRAINT [DF_TD入金消込_入金金額]  DEFAULT ((0)) FOR [入金金額]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'見積番号が入る　売上番号ではない' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD入金消込', @level2type=N'COLUMN',@level2name=N'売上番号'
GO
