USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM仕入単価]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM仕入単価](
	[仕入先CD] [varchar](4) NOT NULL,
	[製品NO] [char](12) NOT NULL,
	[仕様NO] [char](10) NOT NULL,
	[仕入単価] [money] NOT NULL,
	[旧仕入単価] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM仕入単価] PRIMARY KEY CLUSTERED 
(
	[仕入先CD] ASC,
	[製品NO] ASC,
	[仕様NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM仕入単価] ADD  CONSTRAINT [DF_TM仕入単価_仕様NO]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[TM仕入単価] ADD  CONSTRAINT [DF_TM仕入単価_仕入単価]  DEFAULT ((0)) FOR [仕入単価]
GO
ALTER TABLE [dbo].[TM仕入単価] ADD  CONSTRAINT [DF_TM仕入単価_旧仕入単価]  DEFAULT ((0)) FOR [旧仕入単価]
GO
ALTER TABLE [dbo].[TM仕入単価] ADD  CONSTRAINT [DF_TM仕入単価_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM仕入単価] ADD  CONSTRAINT [DF_TM仕入単価_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
