USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMチーム]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMチーム](
	[チームCD] [int] NOT NULL,
	[チーム名] [varchar](16) NOT NULL,
	[代表担当者CD] [smallint] NOT NULL,
	[順序] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TMチーム] PRIMARY KEY CLUSTERED 
(
	[チームCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMチーム] ADD  CONSTRAINT [DF_TMチーム_チーム名]  DEFAULT ('') FOR [チーム名]
GO
ALTER TABLE [dbo].[TMチーム] ADD  CONSTRAINT [DF_TMチーム_順序]  DEFAULT ((0)) FOR [順序]
GO
ALTER TABLE [dbo].[TMチーム] ADD  CONSTRAINT [DF_TMチーム_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMチーム] ADD  CONSTRAINT [DF_TMチーム_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
