USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM業種按分]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM業種按分](
	[業種区分] [smallint] NOT NULL,
	[業種名] [varchar](50) NOT NULL,
	[比率] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM部署按分] PRIMARY KEY CLUSTERED 
(
	[業種区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM業種按分] ADD  CONSTRAINT [DF_TM業種按分_業種名]  DEFAULT ('') FOR [業種名]
GO
ALTER TABLE [dbo].[TM業種按分] ADD  CONSTRAINT [DF_TM部署按分_比率]  DEFAULT ((1)) FOR [比率]
GO
ALTER TABLE [dbo].[TM業種按分] ADD  CONSTRAINT [DF_TM部署按分_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM業種按分] ADD  CONSTRAINT [DF_TM部署按分_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
