USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMウエルシア物件内容]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMウエルシア物件内容](
	[ウエルシア物件内容CD] [int] NOT NULL,
	[ウエルシア物件内容名] [varchar](60) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TMウエルシア物件内容] PRIMARY KEY CLUSTERED 
(
	[ウエルシア物件内容CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMウエルシア物件内容] ADD  CONSTRAINT [DF_TMウエルシア物件内容_ウエルシア物件内容名]  DEFAULT ('') FOR [ウエルシア物件内容名]
GO
ALTER TABLE [dbo].[TMウエルシア物件内容] ADD  CONSTRAINT [DF_TMウエルシア物件内容_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMウエルシア物件内容] ADD  CONSTRAINT [DF_TMウエルシア物件内容_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
