USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMチーム在庫金額]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMチーム在庫金額](
	[年月] [int] NOT NULL,
	[チームCD] [int] NOT NULL,
	[在庫増減金額] [money] NOT NULL,
	[処理日] [datetime] NOT NULL,
	[旧在庫増減金額] [money] NOT NULL,
	[月初棚卸金額] [money] NOT NULL,
	[月末棚卸金額] [money] NOT NULL,
 CONSTRAINT [PK_TMチーム在庫金額] PRIMARY KEY CLUSTERED 
(
	[年月] ASC,
	[チームCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMチーム在庫金額] ADD  CONSTRAINT [DF_TMチーム在庫金額_合計金額]  DEFAULT ((0)) FOR [在庫増減金額]
GO
ALTER TABLE [dbo].[TMチーム在庫金額] ADD  CONSTRAINT [DF_TMチーム在庫金額_処理日]  DEFAULT (getdate()) FOR [処理日]
GO
ALTER TABLE [dbo].[TMチーム在庫金額] ADD  CONSTRAINT [DF_TMチーム在庫金額_旧在庫増減金額]  DEFAULT ((0)) FOR [旧在庫増減金額]
GO
ALTER TABLE [dbo].[TMチーム在庫金額] ADD  CONSTRAINT [DF_TMチーム在庫金額_月初棚卸金額]  DEFAULT ((0)) FOR [月初棚卸金額]
GO
ALTER TABLE [dbo].[TMチーム在庫金額] ADD  CONSTRAINT [DF_TMチーム在庫金額_月末棚卸金額]  DEFAULT ((0)) FOR [月末棚卸金額]
GO
