USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM補助科目]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM補助科目](
	[科目CD] [smallint] NOT NULL,
	[補助CD] [smallint] NOT NULL,
	[補助科目名] [varchar](16) NOT NULL,
	[借方消費税区分] [smallint] NOT NULL,
	[貸方消費税区分] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[按分区分] [int] NOT NULL,
 CONSTRAINT [PK_TM補助科目] PRIMARY KEY CLUSTERED 
(
	[科目CD] ASC,
	[補助CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM補助科目] ADD  CONSTRAINT [DF_TM補助科目_補助科目名]  DEFAULT ('') FOR [補助科目名]
GO
ALTER TABLE [dbo].[TM補助科目] ADD  CONSTRAINT [DF_TM補助科目_借方消費税区分]  DEFAULT ((0)) FOR [借方消費税区分]
GO
ALTER TABLE [dbo].[TM補助科目] ADD  CONSTRAINT [DF_TM補助科目_貸方消費税区分]  DEFAULT ((0)) FOR [貸方消費税区分]
GO
ALTER TABLE [dbo].[TM補助科目] ADD  CONSTRAINT [DF_TM補助科目_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM補助科目] ADD  CONSTRAINT [DF_TM補助科目_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TM補助科目] ADD  CONSTRAINT [DF_TM補助科目_按分区分_1]  DEFAULT ((0)) FOR [按分区分]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:人数按分 1:売上按分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TM補助科目', @level2type=N'COLUMN',@level2name=N'按分区分'
GO
