USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[AppTitle]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppTitle](
	[AppTitle] [nvarchar](255) NOT NULL,
	[AppNo] [int] NOT NULL,
	[MenuNo1] [int] NOT NULL,
	[MenuNo2] [int] NOT NULL,
 CONSTRAINT [PK_AppTitle] PRIMARY KEY CLUSTERED 
(
	[AppTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppTitle] ADD  CONSTRAINT [DF_AppTitle_AppNo]  DEFAULT ((0)) FOR [AppNo]
GO
ALTER TABLE [dbo].[AppTitle] ADD  CONSTRAINT [DF_AppTitle_MenuNo1]  DEFAULT ((0)) FOR [MenuNo1]
GO
ALTER TABLE [dbo].[AppTitle] ADD  CONSTRAINT [DF_AppTitle_MenuNo2]  DEFAULT ((0)) FOR [MenuNo2]
GO
