USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM棚番]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM棚番](
	[製品NO] [char](12) NOT NULL,
	[仕様NO] [char](10) NOT NULL,
	[行NO] [int] NOT NULL,
	[棚番名] [varchar](40) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM棚番] PRIMARY KEY CLUSTERED 
(
	[製品NO] ASC,
	[仕様NO] ASC,
	[行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM棚番] ADD  CONSTRAINT [DF_TM棚番_棚番名]  DEFAULT ('') FOR [棚番名]
GO
ALTER TABLE [dbo].[TM棚番] ADD  CONSTRAINT [DF_TM棚番_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM棚番] ADD  CONSTRAINT [DF_TM棚番_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
