USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM科目摘要]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM科目摘要](
	[科目CD] [smallint] NOT NULL,
	[摘要CD] [smallint] NOT NULL,
	[摘要名] [varchar](20) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM科目摘要] PRIMARY KEY CLUSTERED 
(
	[科目CD] ASC,
	[摘要CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
