USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD仕入残明細]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD仕入残明細](
	[見積番号] [int] NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[配送先CD] [varchar](2) NOT NULL,
	[仕分番号] [varchar](2) NOT NULL,
	[仕入日付] [datetime] NULL,
	[支払日付] [datetime] NULL,
	[納期] [datetime] NULL,
	[時間] [varchar](5) NULL,
	[仕入先名1] [varchar](28) NOT NULL,
	[仕入先名2] [varchar](28) NOT NULL,
	[配送先名1] [varchar](28) NULL,
	[配送先名2] [varchar](28) NULL,
	[仕分名称] [varchar](20) NOT NULL,
	[合計金額] [money] NOT NULL,
	[税抜金額] [money] NOT NULL,
	[外税対象額] [money] NOT NULL,
	[外税額] [money] NOT NULL,
	[支払年月日] [datetime] NULL,
	[支払締日] [smallint] NULL,
	[支払更新FLG] [smallint] NOT NULL,
	[税集計区分] [smallint] NOT NULL,
	[仕入端数] [smallint] NOT NULL,
	[消費税端数] [smallint] NOT NULL,
	[月次F] [int] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD仕入残明細] PRIMARY KEY CLUSTERED 
(
	[見積番号] ASC,
	[仕入先CD] ASC,
	[配送先CD] ASC,
	[仕分番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_仕入先名2]  DEFAULT ('') FOR [仕入先名2]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_仕入先名21]  DEFAULT ('') FOR [配送先名2]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_仕分名称]  DEFAULT ('') FOR [仕分名称]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_合計金額]  DEFAULT ((0)) FOR [合計金額]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_税抜金額]  DEFAULT ((0)) FOR [税抜金額]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_外税対象額]  DEFAULT ((0)) FOR [外税対象額]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_外税額]  DEFAULT ((0)) FOR [外税額]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_支払更新FLG]  DEFAULT ((0)) FOR [支払更新FLG]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_税集計区分]  DEFAULT ((0)) FOR [税集計区分]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_売上端数]  DEFAULT ((0)) FOR [仕入端数]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_消費税端数]  DEFAULT ((0)) FOR [消費税端数]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_月次F]  DEFAULT ((0)) FOR [月次F]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_初期登録日_1]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD仕入残明細] ADD  CONSTRAINT [DF_TD仕入残明細_登録変更日_1]  DEFAULT (getdate()) FOR [登録変更日]
GO
