USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM製品情報]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM製品情報](
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[製品区分] [smallint] NOT NULL,
 CONSTRAINT [PK_TM製品情報] PRIMARY KEY CLUSTERED 
(
	[PC区分] ASC,
	[製品NO] ASC,
	[仕様NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM製品情報] ADD  CONSTRAINT [DF_TM製品情報_PC区分]  DEFAULT ('') FOR [PC区分]
GO
ALTER TABLE [dbo].[TM製品情報] ADD  CONSTRAINT [DF_TM製品情報_仕様NO]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[TM製品情報] ADD  CONSTRAINT [DF_TM製品情報_区分]  DEFAULT ((0)) FOR [製品区分]
GO
