USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD売上前請求H]    Script Date: 2025/01/25 10:09:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD売上前請求H](
	[見積番号] [int] NOT NULL,
	[請求日付] [datetime] NULL,
	[合計金額] [money] NOT NULL,
	[税抜金額] [money] NOT NULL,
	[外税対象額] [money] NOT NULL,
	[外税額] [money] NOT NULL,
	[請求年月日] [datetime] NULL,
	[請求締日] [smallint] NULL,
	[請求更新FLG] [smallint] NULL,
	[税集計区分] [smallint] NOT NULL,
	[売上端数] [smallint] NOT NULL,
	[消費税端数] [smallint] NOT NULL,
	[鏡番号] [int] NULL,
	[請求書発行FLG] [smallint] NULL,
	[請求書発行日付] [datetime] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD売上前請求H] PRIMARY KEY CLUSTERED 
(
	[見積番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_合計金額]  DEFAULT ((0)) FOR [合計金額]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_税抜金額]  DEFAULT ((0)) FOR [税抜金額]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_外税対象額]  DEFAULT ((0)) FOR [外税対象額]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_外税額]  DEFAULT ((0)) FOR [外税額]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_請求更新FLG]  DEFAULT ((0)) FOR [請求更新FLG]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_税集計区分]  DEFAULT ((0)) FOR [税集計区分]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_売上端数]  DEFAULT ((0)) FOR [売上端数]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_消費税端数]  DEFAULT ((0)) FOR [消費税端数]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_請求書発行FLG]  DEFAULT ((0)) FOR [請求書発行FLG]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD売上前請求H] ADD  CONSTRAINT [DF_TD売上前請求H_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
