USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD見積シート内訳名称]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD見積シート内訳名称](
	[見積番号] [int] NOT NULL,
	[仕分番号] [int] NOT NULL,
	[名称] [varchar](40) NOT NULL,
	[略称] [varchar](8) NOT NULL,
	[納期] [datetime] NULL,
	[時間] [varchar](5) NULL,
	[他社部門CD] [varchar](4) NOT NULL,
 CONSTRAINT [PK_TD見積シート内訳名称] PRIMARY KEY CLUSTERED 
(
	[見積番号] ASC,
	[仕分番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD見積シート内訳名称] ADD  CONSTRAINT [DF_TD見積シート内訳名称_他社部門CD]  DEFAULT ('') FOR [他社部門CD]
GO
