USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[Tmp売上]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tmp売上](
	[売上番号] [int] NOT NULL,
	[見積番号] [int] NOT NULL,
	[売上日付] [datetime] NULL,
	[請求日付] [datetime] NULL,
	[担当者CD] [smallint] NOT NULL,
	[見積件名] [varchar](60) NOT NULL,
	[得意先CD] [varchar](4) NOT NULL,
	[得意先名1] [varchar](28) NOT NULL,
	[得意先名2] [varchar](28) NOT NULL,
	[得TEL] [varchar](15) NOT NULL,
	[得FAX] [varchar](15) NOT NULL,
	[得意先担当者] [varchar](40) NOT NULL,
	[納入得意先CD] [varchar](4) NULL,
	[納入先CD] [varchar](4) NULL,
	[納入先名1] [varchar](28) NOT NULL,
	[納入先名2] [varchar](28) NOT NULL,
	[郵便番号] [varchar](8) NOT NULL,
	[住所1] [varchar](32) NOT NULL,
	[住所2] [varchar](32) NOT NULL,
	[納TEL] [varchar](15) NOT NULL,
	[納FAX] [varchar](15) NOT NULL,
	[納入先担当者] [varchar](40) NOT NULL,
	[納期S] [datetime] NULL,
	[納期E] [datetime] NULL,
	[備考] [varchar](60) NOT NULL,
	[現場名] [varchar](60) NOT NULL,
	[大小口区分] [smallint] NOT NULL,
	[合計金額] [money] NOT NULL,
	[税抜金額] [money] NULL,
	[外税対象額] [money] NULL,
	[外税額] [money] NOT NULL,
	[請求年月日] [datetime] NULL,
	[請求締日] [smallint] NULL,
	[請求更新FLG] [smallint] NULL,
	[税集計区分] [smallint] NOT NULL,
	[売上端数] [smallint] NOT NULL,
	[消費税端数] [smallint] NOT NULL,
	[鏡番号] [int] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[部署CD] [smallint] NOT NULL,
 CONSTRAINT [PK_Tmp売上] PRIMARY KEY CLUSTERED 
(
	[売上番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_得意先担当者]  DEFAULT ('') FOR [得意先担当者]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_納入先名1]  DEFAULT ('') FOR [納入先名1]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_納入先名2]  DEFAULT ('') FOR [納入先名2]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_郵便番号]  DEFAULT ('') FOR [郵便番号]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_住所1]  DEFAULT ('') FOR [住所1]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_住所2]  DEFAULT ('') FOR [住所2]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_納TEL]  DEFAULT ('') FOR [納TEL]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_納FAX]  DEFAULT ('') FOR [納FAX]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_納入先担当者]  DEFAULT ('') FOR [納入先担当者]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_現場名]  DEFAULT ('') FOR [現場名]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_大小口区分]  DEFAULT ((0)) FOR [大小口区分]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_合計金額]  DEFAULT ((0)) FOR [合計金額]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_税抜金額]  DEFAULT ((0)) FOR [税抜金額]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_外税対象額]  DEFAULT ((0)) FOR [外税対象額]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_外税額]  DEFAULT ((0)) FOR [外税額]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_支払更新FLG]  DEFAULT ((0)) FOR [請求更新FLG]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_税集計区分]  DEFAULT ((0)) FOR [税集計区分]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_売上端数]  DEFAULT ((0)) FOR [売上端数]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_消費税端数]  DEFAULT ((0)) FOR [消費税端数]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[Tmp売上] ADD  CONSTRAINT [DF_Tmp売上_部署CD]  DEFAULT ((0)) FOR [部署CD]
GO
