USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD入庫_チーム別社内在庫]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD入庫_チーム別社内在庫](
	[入庫番号] [int] NOT NULL,
	[入庫日付] [datetime] NOT NULL,
	[チームCD] [int] NOT NULL,
	[得意先CD] [varchar](4) NOT NULL,
	[摘要名] [varchar](50) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD入庫_チーム別社内在庫] PRIMARY KEY CLUSTERED 
(
	[入庫番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD入庫_チーム別社内在庫] ADD  CONSTRAINT [DF_TD入庫_チーム別社内在庫_チームCD]  DEFAULT ('') FOR [チームCD]
GO
ALTER TABLE [dbo].[TD入庫_チーム別社内在庫] ADD  CONSTRAINT [DF_TD入庫_チーム別社内在庫_得意先CD]  DEFAULT ('') FOR [得意先CD]
GO
ALTER TABLE [dbo].[TD入庫_チーム別社内在庫] ADD  CONSTRAINT [DF_TD入庫_チーム別社内在庫_摘要名]  DEFAULT ('') FOR [摘要名]
GO
ALTER TABLE [dbo].[TD入庫_チーム別社内在庫] ADD  CONSTRAINT [DF_TD入庫_チーム別社内在庫_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD入庫_チーム別社内在庫] ADD  CONSTRAINT [DF_TD入庫_チーム別社内在庫_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
