USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD見積シートM]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD見積シートM](
	[見積明細連番] [int] IDENTITY(1,1) NOT NULL,
	[見積番号] [int] NOT NULL,
	[行番号] [int] NOT NULL,
	[SP区分] [varchar](1) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[ベース色] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NOT NULL,
	[H2] [int] NOT NULL,
	[エラー内容] [varchar](255) NOT NULL,
	[見積数量] [money] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[定価] [money] NOT NULL,
	[仕入単価] [money] NOT NULL,
	[仕入率] [money] NOT NULL,
	[売上単価] [money] NOT NULL,
	[売上率] [money] NOT NULL,
	[U区分] [varchar](1) NOT NULL,
	[M区分] [varchar](1) NOT NULL,
	[仕入金額] [money] NOT NULL,
	[売上金額] [money] NOT NULL,
	[売上税区分] [smallint] NOT NULL,
	[消費税額] [money] NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[仕入先名] [varchar](8) NOT NULL,
	[配送先CD] [varchar](4) NOT NULL,
	[配送先名] [varchar](8) NOT NULL,
	[社内在庫数] [money] NOT NULL,
	[客先在庫数] [money] NOT NULL,
	[転用数] [money] NOT NULL,
	[発注数] [money] NOT NULL,
	[総数量] [money] NOT NULL,
	[製品区分] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[見積区分] [varchar](1) NOT NULL,
	[発注調整数] [money] NOT NULL,
	[他社伝票番号] [varchar](10) NOT NULL,
	[施工対象見積番号] [int] NULL,
	[他社納品日付] [datetime] NULL,
	[クレーム明細区分] [int] NOT NULL,
	[作業区分CD] [int] NOT NULL,
	[仕入業者CD] [varchar](4) NOT NULL,
	[仕入業者名] [varchar](8) NOT NULL,
	[入庫日] [datetime] NULL,
	[明細備考] [varchar](255) NOT NULL,
	[追番R] [varchar](1) NOT NULL,
	[出庫日] [datetime] NULL,
 CONSTRAINT [PK_TD見積シートM] PRIMARY KEY CLUSTERED 
(
	[見積明細連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_SP区分]  DEFAULT ('') FOR [SP区分]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_PC区分]  DEFAULT ('') FOR [PC区分]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_製品NO]  DEFAULT ('') FOR [製品NO]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_仕様NO]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_ベース色]  DEFAULT ('') FOR [ベース色]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_W]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_D]  DEFAULT ((0)) FOR [D]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_H]  DEFAULT ((0)) FOR [H]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_D1]  DEFAULT ((0)) FOR [D1]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_D2]  DEFAULT ((0)) FOR [D2]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_H1]  DEFAULT ((0)) FOR [H1]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_H2]  DEFAULT ((0)) FOR [H2]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_エラー内容]  DEFAULT ('') FOR [エラー内容]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_総数量]  DEFAULT ((0)) FOR [見積数量]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_単位名]  DEFAULT ('') FOR [単位名]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_定価]  DEFAULT ((0)) FOR [定価]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_仕入単価]  DEFAULT ((0)) FOR [仕入単価]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_仕入率]  DEFAULT ((0)) FOR [仕入率]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_売上単価]  DEFAULT ((0)) FOR [売上単価]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_売上率]  DEFAULT ((0)) FOR [売上率]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_M区分1]  DEFAULT ('') FOR [U区分]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_M区分]  DEFAULT ('') FOR [M区分]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_仕入金額]  DEFAULT ((0)) FOR [仕入金額]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_売上金額]  DEFAULT ((0)) FOR [売上金額]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_売上税区分]  DEFAULT ((0)) FOR [売上税区分]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_消費税額]  DEFAULT ((0)) FOR [消費税額]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_仕入先CD]  DEFAULT ('') FOR [仕入先CD]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_仕入先名]  DEFAULT ('') FOR [仕入先名]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_送り先CD]  DEFAULT ('') FOR [配送先CD]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_配送先名]  DEFAULT ('') FOR [配送先名]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_社内在庫数]  DEFAULT ((0)) FOR [社内在庫数]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_客先在庫数]  DEFAULT ((0)) FOR [客先在庫数]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_転用数]  DEFAULT ((0)) FOR [転用数]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_発注数]  DEFAULT ((0)) FOR [発注数]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_総数量_1]  DEFAULT ((0)) FOR [総数量]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_製品区分]  DEFAULT ((0)) FOR [製品区分]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_見積区分]  DEFAULT ('') FOR [見積区分]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_発注調整数]  DEFAULT ((0)) FOR [発注調整数]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_他社伝票番号]  DEFAULT ('') FOR [他社伝票番号]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_クレーム明細区分]  DEFAULT ((0)) FOR [クレーム明細区分]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_作業区分CD]  DEFAULT ((0)) FOR [作業区分CD]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_仕入業者CD]  DEFAULT ('') FOR [仕入業者CD]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_仕入業者名]  DEFAULT ('') FOR [仕入業者名]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_明細備考]  DEFAULT ('') FOR [明細備考]
GO
ALTER TABLE [dbo].[TD見積シートM] ADD  CONSTRAINT [DF_TD見積シートM_追番R]  DEFAULT ('') FOR [追番R]
GO
