USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD消費税調整]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD消費税調整](
	[消費税調整番号] [int] NOT NULL,
	[調整日付] [datetime] NULL,
	[得意先CD] [varchar](4) NOT NULL,
	[調整金額] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD消費税調整] PRIMARY KEY CLUSTERED 
(
	[消費税調整番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD消費税調整] ADD  CONSTRAINT [DF_TD消費税調整_調整金額]  DEFAULT ((0)) FOR [調整金額]
GO
