USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMフロント実績情報]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMフロント実績情報](
	[年月] [datetime] NOT NULL,
	[売上税抜金額] [money] NOT NULL,
	[原価税抜金額] [money] NOT NULL,
	[人件一般費] [money] NOT NULL,
	[営業外費] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TMフロント実績情報] PRIMARY KEY CLUSTERED 
(
	[年月] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMフロント実績情報] ADD  CONSTRAINT [DF_TMフロント実績情報_売上税抜金額]  DEFAULT ((0)) FOR [売上税抜金額]
GO
ALTER TABLE [dbo].[TMフロント実績情報] ADD  CONSTRAINT [DF_TMフロント実績情報_原価税抜金額]  DEFAULT ((0)) FOR [原価税抜金額]
GO
ALTER TABLE [dbo].[TMフロント実績情報] ADD  CONSTRAINT [DF_TMフロント実績情報_人件一般費]  DEFAULT ((0)) FOR [人件一般費]
GO
ALTER TABLE [dbo].[TMフロント実績情報] ADD  CONSTRAINT [DF_TMフロント実績情報_営業外費]  DEFAULT ((0)) FOR [営業外費]
GO
ALTER TABLE [dbo].[TMフロント実績情報] ADD  CONSTRAINT [DF_TMフロント実績情報_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMフロント実績情報] ADD  CONSTRAINT [DF_TMフロント実績情報_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
