USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM客先在庫_担当者別]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM客先在庫_担当者別](
	[担当者CD] [smallint] NOT NULL,
	[得意先CD] [varchar](4) NOT NULL,
	[行NO] [int] NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM客先在庫_担当者別] PRIMARY KEY CLUSTERED 
(
	[担当者CD] ASC,
	[得意先CD] ASC,
	[行NO] ASC,
	[製品NO] ASC,
	[仕様NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM客先在庫_担当者別] ADD  CONSTRAINT [DF_TM客先在庫_担当者別_行NO]  DEFAULT ((0)) FOR [行NO]
GO
ALTER TABLE [dbo].[TM客先在庫_担当者別] ADD  CONSTRAINT [DF_TM客先在庫_担当者別_仕様NO]  DEFAULT ('') FOR [仕様NO]
GO
ALTER TABLE [dbo].[TM客先在庫_担当者別] ADD  CONSTRAINT [DF_TM客先在庫_担当者別_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM客先在庫_担当者別] ADD  CONSTRAINT [DF_TM客先在庫_担当者別_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
