USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD仕入残]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD仕入残](
	[見積番号] [int] NOT NULL,
	[担当者CD] [smallint] NOT NULL,
	[見積件名] [varchar](60) NULL,
	[得意先CD] [varchar](4) NULL,
	[得意先名1] [varchar](28) NOT NULL,
	[得意先名2] [varchar](28) NOT NULL,
	[得TEL] [varchar](15) NOT NULL,
	[得FAX] [varchar](15) NOT NULL,
	[得意先担当者] [varchar](40) NOT NULL,
	[納入得意先CD] [varchar](4) NULL,
	[納入先CD] [varchar](4) NULL,
	[納入先名1] [varchar](28) NOT NULL,
	[納入先名2] [varchar](28) NOT NULL,
	[納入先郵便番号] [varchar](8) NOT NULL,
	[納入先住所1] [varchar](32) NOT NULL,
	[納入先住所2] [varchar](32) NOT NULL,
	[納入先TEL] [varchar](15) NOT NULL,
	[納入先FAX] [varchar](15) NOT NULL,
	[納入先担当者] [varchar](40) NOT NULL,
	[現場名] [varchar](28) NOT NULL,
	[大小口区分] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[部署CD] [smallint] NOT NULL,
	[販売先得意先CD] [varchar](4) NOT NULL,
	[販売先得意先名1] [varchar](28) NOT NULL,
	[販売先得意先名2] [varchar](28) NOT NULL,
	[販売先納得意先CD] [varchar](4) NOT NULL,
	[販売先納入先CD] [varchar](4) NOT NULL,
	[販売先納入先名1] [varchar](28) NOT NULL,
	[販売先納入先名2] [varchar](28) NOT NULL,
 CONSTRAINT [PK_TD仕入残] PRIMARY KEY CLUSTERED 
(
	[見積番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_得意先名1]  DEFAULT ('') FOR [得意先名1]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_得意先名2]  DEFAULT ('') FOR [得意先名2]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_得TEL]  DEFAULT ('') FOR [得TEL]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_得FAX]  DEFAULT ('') FOR [得FAX]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_得意先担当者]  DEFAULT ('') FOR [得意先担当者]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_納入先名1]  DEFAULT ('') FOR [納入先名1]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_納入先名2]  DEFAULT ('') FOR [納入先名2]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_納入先郵便番号]  DEFAULT ('') FOR [納入先郵便番号]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_納入先住所1]  DEFAULT ('') FOR [納入先住所1]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_納入先住所2]  DEFAULT ('') FOR [納入先住所2]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_納入先TEL]  DEFAULT ('') FOR [納入先TEL]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_納入先FAX]  DEFAULT ('') FOR [納入先FAX]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_納入先担当者]  DEFAULT ('') FOR [納入先担当者]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_現場名]  DEFAULT ('') FOR [現場名]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_大小口区分]  DEFAULT ((0)) FOR [大小口区分]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_部署CD]  DEFAULT ((0)) FOR [部署CD]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_販売先得意先CD]  DEFAULT ('') FOR [販売先得意先CD]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_販売先得意先名1]  DEFAULT ('') FOR [販売先得意先名1]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_販売先得意先名2]  DEFAULT ('') FOR [販売先得意先名2]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_販売先納得意先CD]  DEFAULT ('') FOR [販売先納得意先CD]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_販売先納入先CD]  DEFAULT ('') FOR [販売先納入先CD]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_販売先納入先名1]  DEFAULT ('') FOR [販売先納入先名1]
GO
ALTER TABLE [dbo].[TD仕入残] ADD  CONSTRAINT [DF_TD仕入残_販売先納入先名2]  DEFAULT ('') FOR [販売先納入先名2]
GO
