USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM配送先]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM配送先](
	[配送先CD] [varchar](2) NOT NULL,
	[配送先名1] [varchar](28) NOT NULL,
	[配送先名2] [varchar](28) NOT NULL,
	[略称] [varchar](8) NOT NULL,
	[フリガナ] [varchar](5) NOT NULL,
	[郵便番号] [varchar](8) NOT NULL,
	[住所1] [varchar](32) NOT NULL,
	[住所2] [varchar](32) NOT NULL,
	[電話番号] [varchar](15) NOT NULL,
	[FAX番号] [varchar](15) NOT NULL,
	[配送先担当者名] [varchar](40) NOT NULL,
	[メモ] [varchar](40) NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM配送先] PRIMARY KEY CLUSTERED 
(
	[配送先CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_配送先名1]  DEFAULT ('') FOR [配送先名1]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_配送先名2]  DEFAULT ('') FOR [配送先名2]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_略称]  DEFAULT ('') FOR [略称]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_フリガナ]  DEFAULT ('') FOR [フリガナ]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_郵便番号]  DEFAULT ('') FOR [郵便番号]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_住所1]  DEFAULT ('') FOR [住所1]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_住所2]  DEFAULT ('') FOR [住所2]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_電話番号]  DEFAULT ('') FOR [電話番号]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_FAX番号]  DEFAULT ('') FOR [FAX番号]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_担当者名]  DEFAULT ('') FOR [配送先担当者名]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM配送先] ADD  CONSTRAINT [DF_TM配送先_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
