@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?chmfw8');
  src: url('fonts/icomoon.eot?chmfw8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?chmfw8') format('truetype'),
    url('fonts/icomoon.woff?chmfw8') format('woff'),
    url('fonts/icomoon.svg?chmfw8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-org-account-outline:before {
  content: '\e900';
}
.icon-org-account:before {
  content: '\e901';
}
.icon-org-alert:before {
  content: '\e902';
}
.icon-org-arrow-down:before {
  content: '\e903';
}
.icon-org-arrow-left:before {
  content: '\e904';
}
.icon-org-arrow-right:before {
  content: '\e905';
}
.icon-org-arrow:before {
  content: '\e906';
}
.icon-org-bell-outline:before {
  content: '\e907';
}
.icon-org-bell:before {
  content: '\e908';
}
.icon-org-blank:before {
  content: '\e909';
}
.icon-org-button-minus-outline:before {
  content: '\e90a';
}
.icon-org-button-plus-outline:before {
  content: '\e90b';
}
.icon-org-flag-variant:before {
  content: '\e90c';
}
.icon-org-image:before {
  content: '\e90d';
}
.icon-org-return:before {
  content: '\e90e';
}
.icon-org-user-outline:before {
  content: '\e90f';
}
.icon-org-user:before {
  content: '\e910';
}
