/****** Object:  StoredProcedure [dbo].[usp_TK3200統計推移表V12]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK3200統計推移表V12]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK3200統計推移表V12]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TK3200統計推移表V12
	

	機能:	
		チーム毎の売上金額と仕入金額の推移を作成する

	※SE.在庫対象区分に関しては金額の算出には使用しない。
	　在庫の把握時は区分にて処理する。
	↑
	※在庫対象外とかは作りことは不可！！！
	  全てを対象にしないと金額がずれる！！！

 =============================================
	2017/02/21	oosawa	新規作成
	2017/03/22	oosawa	うるう年の昨年末日の値が不正
						2017-2-28→2016-2-28(本当は2-29)
	2017/03/30	oosawa	三研の予測を追加
						売上関係を円にする
	2017/07/14	oosawa	TK24をもとに振り分け変更
	2018/02/03	oosawa	組織変更のため変更
	2018/07/07	oosawa	フロント・サービス（県北）追加
	2019/02/26	oosawa	レイアウト変更
						統計集計先CD別の経費出力(しまむらのみ)
	2019/04/02	oosawa	サービスの売上・原価を貨物自車・貨物庸車・物流に分ける
	2019/05/15	oosawa	サービスの詳細シートを追加
	2019/05/23	oosawa	サービスの経費を貨物と物流に分ける
	2020/02/15	oosawa	また、レイアウト変更
	2020/05/09	oosawa	またまた、レイアウト変更
						物件がある場合は物件の得意先集計CDで集計
						以外は見積の得意先集計CDで集計に変更
						
						※在庫も分けないとダメか？
	2021/02/06	oosawa	フロント無し
						工事部なし
	2021/03/03	oosawa	見積入力の集計CDを元に集計するように変更
	2021/03/04	oosawa	経費の最終集計で部CDを9996に集計
	2021/05/20	oosawa	4209ﾁｮｳｴｲﾊﾝｽﾞを追加
						7001ﾏﾐｰをその他へ
						5201ｱﾎﾟｯｸをその他へ
	2022/08/24	oosawa	またまた変更
						営業別・工事担当別に集計
	2022/10/13	oosawa	3201しまむらをその他へ
	2023/01/10	oosawa	明は龍馬へ
	2023/04/04	oosawa	物件種別で営業を分ける
	2023/04/20	oosawa	業種区分で営業を分ける
	2023/06/30	oosawa	MMはその他へ
	2023/07/31	oosawa	製品Mの取組区分分を別抽出に変更
	2023/09/27	oosawa	第1営業部、第2営業部消滅
	2023/10/02	oosawa	チョウエイコード4209からOIC（ロピア）コード9803へ変更
	2023/11/17	oosawa	業種区分が1なら内装として集計する
	2023/11/29	oosawa	EC業者の表示
	2024/09/13	oosawa	製品の取組区分は削除
						営業1・2・3部制
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TK3200統計推移表V12]
	(
	@iS集計日付	DATETIME,
	@iE集計日付	DATETIME,
	--@iチームCD		INT,


	--@RetST	int,
	--@RetMsg	varchar(255)
	--OUTPUT
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


--SET	@iS集計日付 = '2023-04-01'
--SET	@iE集計日付 = '2023-12-31'

	DECLARE	@wE前年集計日付	DATETIME
	SET @wE前年集計日付	= dbo.ufn_GetLastDateOfScope(DATEADD(YY,-1,@iE集計日付),99)
	

	--ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			--営業担当CD		INT,--2024/09/13 DEL
			部署CD			INT,--2024/09/13 ADD
			工事担当CD		INT,
			番号			INT	DEFAULT(0),
			集計CD			VARCHAR(5),
			年月			DATETIME,
			--物件種別		INT,--2023/04/04 ADD
			--業種区分		INT,--2023/04/20 ADD--2023/09/27 DEL
			作業区分CD		INT,
			売上税抜金額	MONEY	DEFAULT(0),
			原価税抜金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		-- 営業担当
		--------------------------------------------
		DECLARE	@w岩間			SMALLINT = 10
		--DECLARE	@w龍馬			SMALLINT = 22
		DECLARE	@w明			SMALLINT = 9

		--------------------------------------------
		-- 売上　顧客別
		--------------------------------------------
		DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		DECLARE @wマミー		VARCHAR(4) = '7001'--2021/05/20 DEL--2022/11/28 ADD--2023/06/30 DEL
		--DECLARE	@wロピア		VARCHAR(4) = '4209'--2021/05/20 ADD--2023/10/02 DEL
		DECLARE	@wロピア		VARCHAR(4) = '9803'--2023/10/02 ADD

		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		--DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		--DECLARE	@wしまむら		VARCHAR(4) = '3201'--2022/10/13 DEL

		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		--DECLARE	@wアポック		VARCHAR(4) = '5201'--2021/05/20　DEL

		DECLARE	@wアマゾン		VARCHAR(4) = '1041'--2023/11/29 ADD
		DECLARE	@wメルカリ		VARCHAR(4) = '7605'--2023/11/29 ADD

		
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	--TM.チームCD,
							--部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
							部署CD = MH.部署CD,--2024/09/13 ADD
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする2023/01/10 ADD
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD--2024/09/13 DEL
							工事担当CD = MH.工事担当CD,
							--番号 = CASE MH.集計CD--2021/03/03 ADD
							番号 = 0,
							--集計CD = MH.集計CD,--2021/03/03 ADD
							--集計CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN MH.集計CD ELSE 99999 END,--2022/09/06 ADD
							集計CD = MH.集計CD,--2023/01/10 ADD
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							----2023/04/04 ADD↓
							--物件種別 = CASE MH.物件種別 
							--				WHEN 4 THEN 4
							--				ELSE CASE WHEN MSM.作業区分CD = 3 THEN 4
							--						ELSE 0 END
							--			END,
							----2023/04/04 ADD↑
							--業種区分 = MH.業種区分,--2023/04/20 ADD--2023/09/27 DEL

							--作業区分CD = ISNULL(MSM.作業区分CD,0),
							--作業区分CD = CASE WHEN MH.物件種別 = 6 THEN 106 ELSE ISNULL(MSM.作業区分CD,0) END,
							----2023/04/04 ADD↓--2023/09/27 DEL
							------委託の場合、作業区分を106に変更
							--作業区分CD = CASE WHEN MH.物件種別 = 6
							--				THEN 106 
							--				ELSE CASE WHEN (MH.業種区分=1 AND MSM.作業区分CD = 3) --2023/04/20 ADD
							--						--内装で内装の場合、0に変更
							--						THEN 0
							--						ELSE ISNULL(MSM.作業区分CD,0) 
							--					END
							--			END,
							----2023/04/04 ADD↑--2023/09/27 DEL
							--2023/11/17 ADD↓
							作業区分CD = CASE WHEN MH.物件種別 = 6--委託
											THEN 106 
											ELSE CASE WHEN (MH.業種区分=1)
													--業種区分が内装の場合
													THEN 3--作業区分を内装へ変更
													ELSE ISNULL(MSM.作業区分CD,0) 
												END
										END,
							--2023/11/17 ADD↑


							
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TM
								ON MH.販売先得意先CD = TM.得意先CD
							--2020/05/09 ADD↓
							LEFT JOIN TD物件情報 AS BK
								ON MH.物件番号 = BK.物件番号
							----LEFT JOIN	TM得意先 AS TM2
							----	ON BK.得意先CD = TM2.得意先CD
							--2020/05/09 ADD↑
							--2023/07/31 ADD↓
							LEFT JOIN TM製品 AS SE
								ON	MSM.製品NO = SE.製品NO
								AND MSM.仕様NO = SE.仕様NO
							--2023/07/31 ADD↑
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								)
							--2021/05/20 ADD↓
		    				AND	MH.集計CD IN (@wヤオコー,
													--@wマミー,--2023/06/30 DEL
													@wロピア,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										--@wしまむら,--2022/10/13 DEL
													@wアマゾン,@wメルカリ,--2023/11/29 ADD
		    										@wウエルシア,@wビバ)
							--2021/05/20 ADD↑
							----2023/07/31 ADD↓--2024/09/13 DEL↓
							--AND NOT(ISNULL(SE.取組区分,0) = 1--2部の取組
							--	AND CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1') <= SE.取組終了年月)
							----2023/07/31 ADD↑--2024/09/13 DEL↑
					GROUP BY    --TM.チームCD,
								MH.部署CD,--2024/09/13 ADD
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
								--TM.集計CD,
								--COALESCE(TM2.集計CD,TM.集計CD),--2020/05/09 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする2023/01/10 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD--2024/09/13 DEL
								MH.工事担当CD,
								MH.集計CD,--2021/03/03 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN MH.集計CD ELSE 99999 END,--2022/09/06 ADD
								CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),--ISNULL(MSM.作業区分CD,0)
								----2023/04/04 ADD↓
								--CASE MH.物件種別 
								--			WHEN 4 THEN 4
								--			ELSE CASE WHEN MSM.作業区分CD = 3 THEN 4
								--					ELSE 0 END
								--		END,
								------CASE WHEN MH.物件種別 = 6 THEN 106 ELSE ISNULL(MSM.作業区分CD,0) END--2023/11/17 DEL
								--MH.業種区分,--2023/04/20 ADD--2023/09/27 DEL
								--CASE WHEN MH.物件種別 = 6
								--			THEN 106 
								--			ELSE CASE WHEN (MH.業種区分=1 AND MSM.作業区分CD = 3) --2023/04/20 ADD
								--					--内装で内装の場合、0に変更
								--					THEN 0
								--					ELSE ISNULL(MSM.作業区分CD,0) 
								--				END
								--		END
								--2023/04/04 ADD↑
								--2023/11/17 ADD↓
								CASE WHEN MH.物件種別 = 6--委託
												THEN 106 
												ELSE CASE WHEN (MH.業種区分=1)
														--業種区分が内装の場合
														THEN 3--作業区分を内装へ変更
														ELSE ISNULL(MSM.作業区分CD,0) 
													END
											END
								--2023/11/17 ADD↑
					--ORDER BY    --TM.チームCD,
					--			--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
					--			CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬,@w明) THEN  MH.担当者CD ELSE 9999 END,
					--			MH.工事担当CD,
					--			MH.集計CD,--2021/03/03 ADD
					--			CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.部署CD = B.部署CD--2024/09/13 ADD
				--A.営業担当CD = B.営業担当CD--2024/09/13 DEL
				AND	A.工事担当CD = B.工事担当CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				--AND	A.物件種別 = B.物件種別--2023/04/04 ADD
				--AND	A.業種区分 = B.業種区分--2023/04/20 ADD--2023/09/27 DEL
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							部署CD,
							--営業担当CD,--2024/09/13 DEL
							工事担当CD,
							番号,
							集計CD,
							年月,
							--物件種別,--2023/04/04 ADD
							--業種区分,--2023/04/20 ADD--2023/09/27 DEL
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.部署CD,
							--B.営業担当CD,--2024/09/13 DEL
							B.工事担当CD,
							B.番号,
							B.集計CD,
							B.年月,
							--B.物件種別,--2023/04/04 ADD
							--B.業種区分,--2023/04/20 ADD--2023/09/27 DEL
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----売上 その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	--TM.チームCD,
							--部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
							部署CD = MH.部署CD,--2024/09/13 ADD
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする2023/01/10 ADD
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD--2024/09/13 DEL
							工事担当CD = MH.工事担当CD,
							番号 = 99,
							集計CD = 99999,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							----2023/04/04 ADD↓
							--物件種別 = CASE MH.物件種別 
							--				WHEN 4 THEN 4
							--				ELSE CASE WHEN MSM.作業区分CD = 3 THEN 4
							--						ELSE 0 END
							--			END,
							----2023/04/04 ADD↑
							--業種区分 = MH.業種区分,--2023/04/20 ADD--2023/09/27 DEL

							--作業区分CD = ISNULL(MSM.作業区分CD,0),
							------作業区分CD = CASE WHEN MH.物件種別 = 6 THEN 106 ELSE ISNULL(MSM.作業区分CD,0) END,
							----2023/04/04 ADD↓--2023/09/27 DEL
							------委託の場合、作業区分を106に変更
							--作業区分CD = CASE WHEN MH.物件種別 = 6
							--				THEN 106 
							--				ELSE CASE WHEN (MH.業種区分=1 AND MSM.作業区分CD = 3) --2023/04/20 ADD
							--						--内装で内装の場合、0に変更
							--						THEN 0
							--						ELSE ISNULL(MSM.作業区分CD,0) 
							--					END
							--			END,
							----2023/04/04 ADD↑--2023/09/27 DEL
							--2023/11/17 ADD↓
							作業区分CD = CASE WHEN MH.物件種別 = 6--委託
											THEN 106 
											ELSE CASE WHEN (MH.業種区分=1)
													--業種区分が内装の場合
													THEN 3--作業区分を内装へ変更
													ELSE ISNULL(MSM.作業区分CD,0) 
												END
										END,
							--2023/11/17 ADD↑

							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TM
								ON MH.販売先得意先CD = TM.得意先CD
							--2020/05/09 ADD↓
							LEFT JOIN TD物件情報 AS BK
								ON MH.物件番号 = BK.物件番号
							----LEFT JOIN	TM得意先 AS TM2
							----	ON BK.得意先CD = TM2.得意先CD
							--2020/05/09 ADD↑
							--2023/07/31 ADD↓
							LEFT JOIN TM製品 AS SE
								ON	MSM.製品NO = SE.製品NO
								AND MSM.仕様NO = SE.仕様NO
							--2023/07/31 ADD↑
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								)
							--2021/05/20 ADD↓
		    				AND		NOT(MH.集計CD IN (@wヤオコー,--@wマミー,--2023/06/30 DEL
													@wロピア,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										--@wしまむら,--2022/10/13 DEL
													@wアマゾン,@wメルカリ,--2023/11/29 ADD
		    										@wウエルシア,@wビバ))
							--2021/05/20 ADD↑
							----2023/07/31 ADD↓--2024/09/13 DEL↓
							--AND NOT(ISNULL(SE.取組区分,0) = 1--2部の取組
							--	AND CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1') <= SE.取組終了年月)
							----2023/07/31 ADD↑--2024/09/13 DEL↑
					GROUP BY    --TM.チームCD,
								MH.部署CD,--2024/09/13 ADD
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
								--TM.集計CD,
								--COALESCE(TM2.集計CD,TM.集計CD),--2020/05/09 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする2023/01/10 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD--2024/09/13 DEL
								MH.工事担当CD,
								--MH.集計CD,--2021/03/03 ADD
								CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),--ISNULL(MSM.作業区分CD,0)
								----2023/04/04 ADD↓
								--CASE MH.物件種別 
								--			WHEN 4 THEN 4
								--			ELSE CASE WHEN MSM.作業区分CD = 3 THEN 4
								--					ELSE 0 END
								--		END,
								------CASE WHEN MH.物件種別 = 6 THEN 106 ELSE ISNULL(MSM.作業区分CD,0) END--2023/11/17 DEL
								--MH.業種区分,--2023/04/20 ADD--2023/09/27 DEL
								--CASE WHEN MH.物件種別 = 6--2023/09/27 DEL
								--			THEN 106 
								--			ELSE CASE WHEN (MH.業種区分=1 AND MSM.作業区分CD = 3) --2023/04/20 ADD
								--					--内装で内装の場合、0に変更
								--					THEN 0
								--					ELSE ISNULL(MSM.作業区分CD,0) 
								--				END
								--		END
							--2023/04/04 ADD↑
								--2023/11/17 ADD↓
								CASE WHEN MH.物件種別 = 6--委託
												THEN 106 
												ELSE CASE WHEN (MH.業種区分=1)
														--業種区分が内装の場合
														THEN 3--作業区分を内装へ変更
														ELSE ISNULL(MSM.作業区分CD,0) 
													END
											END
								--2023/11/17 ADD↑

					--ORDER BY    --TM.チームCD,
					--			--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
					--			CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬,@w明) THEN  MH.担当者CD ELSE 9999 END,
					--			MH.工事担当CD,
					--			--MH.集計CD,--2021/03/03 ADD
					--			CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.部署CD = B.部署CD--2024/09/13 ADD
				--A.営業担当CD = B.営業担当CD--2024/09/13 DEL
				AND	A.工事担当CD = B.工事担当CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				--AND A.物件種別 = B.物件種別--2023/04/04 ADD
				--AND	A.業種区分 = B.業種区分--2023/04/20 ADD--2023/09/27 DEL
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							部署CD,--2024/09/13 ADD
							--営業担当CD,--2024/09/13 DEL
							工事担当CD,
							番号,
							集計CD,
							年月,
							--物件種別,--2023/04/04 ADD
							--業種区分,--2023/04/20 ADD--2023/09/27 DEL
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.部署CD,--2024/09/13 ADD
							--B.営業担当CD,--2024/09/13 DEL
							B.工事担当CD,
							B.番号,
							B.集計CD,
							B.年月,
							--B.物件種別,--2023/04/04 ADD
							--B.業種区分,--2023/04/20 ADD--2023/09/27 DEL
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



		--顧客別　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	--TM.チームCD,
							--部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
							部署CD = MH.部署CD,--2024/09/13 ADD
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする2023/01/10 ADD
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD--2024/09/13 DEL
							工事担当CD = MH.工事担当CD,
							--番号 = CASE MH.集計CD--2021/03/03 ADD
							番号 = 0,
							--集計CD = MH.集計CD,--2021/03/03 ADD
							--集計CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN MH.集計CD ELSE 99999 END,--2022/09/06 ADD
							集計CD = MH.集計CD,--2023/01/10 ADD
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							----2023/04/04 ADD↓
							--物件種別 = CASE MH.物件種別 
							--				WHEN 4 THEN 4
							--				ELSE CASE WHEN MSM.作業区分CD = 3 THEN 4
							--						ELSE 0 END
							--			END,
							----2023/04/04 ADD↑
							--業種区分 = MH.業種区分,--2023/04/20 ADD--2023/09/27 DEL
							--作業区分CD = ISNULL(MSM.作業区分CD,0),
							------作業区分CD = CASE WHEN MH.物件種別 = 6 THEN 106 ELSE ISNULL(MSM.作業区分CD,0) END,--2023/11/17 DEL
							----2023/04/04 ADD↓--2023/09/27 DEL
							------委託の場合、作業区分を106に変更
							--作業区分CD = CASE WHEN MH.物件種別 = 6
							--				THEN 106 
							--				ELSE CASE WHEN (MH.業種区分=1 AND MSM.作業区分CD = 3) --2023/04/20 ADD
							--						--内装で内装の場合、0に変更
							--						THEN 0
							--						ELSE ISNULL(MSM.作業区分CD,0) 
							--					END
							--			END,
							----2023/04/04 ADD↑--2023/09/27 DEL
							--2023/11/17 ADD↓
							作業区分CD = CASE WHEN MH.物件種別 = 6--委託
											THEN 106 
											ELSE CASE WHEN (MH.業種区分=1)
													--業種区分が内装の場合
													THEN 3--作業区分を内装へ変更
													ELSE ISNULL(MSM.作業区分CD,0) 
												END
										END,
							--2023/11/17 ADD↑

							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TM
								ON MH.販売先得意先CD = TM.得意先CD
							--2020/05/09 ADD↓
							LEFT JOIN TD物件情報 AS BK
								ON MH.物件番号 = BK.物件番号
							--LEFT JOIN	TM得意先 AS TM2
							--	ON BK.得意先CD = TM2.得意先CD
							--2020/05/09 ADD↑
							--2023/07/31 ADD↓
							LEFT JOIN TM製品 AS SE
								ON	MSM.製品NO = SE.製品NO
								AND MSM.仕様NO = SE.仕様NO
							--2023/07/31 ADD↑
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									)
							--2021/05/20 ADD↓
		    				AND	MH.集計CD IN (@wヤオコー,--@wマミー,--2023/06/30 DEL
													@wロピア,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										--@wしまむら,--2022/10/13 DEL
													@wアマゾン,@wメルカリ,--2023/11/29 ADD
		    										@wウエルシア,@wビバ)
							--2021/05/20 ADD↑
							----2023/07/31 ADD↓--2024/09/13 DEL↓
							--AND NOT(ISNULL(SE.取組区分,0) = 1--2部の取組
							--	AND CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1') <= SE.取組終了年月)
							----2023/07/31 ADD↑--2024/09/13 DEL↑
					GROUP BY    --TM.チームCD,
								MH.部署CD,--2024/09/13 ADD
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする2023/01/10 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD--2024/09/13 DEL
								MH.工事担当CD,
								MH.集計CD,--2021/03/03 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN MH.集計CD ELSE 99999 END,--2022/09/06 ADD
								CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),--ISNULL(MSM.作業区分CD,0)
								----2023/04/04 ADD↓
								--CASE MH.物件種別 
								--			WHEN 4 THEN 4
								--			ELSE CASE WHEN MSM.作業区分CD = 3 THEN 4
								--					ELSE 0 END
								--		END,
								----CASE WHEN MH.物件種別 = 6 THEN 106 ELSE ISNULL(MSM.作業区分CD,0) END--2023/11/17 DEL
								--MH.業種区分,--2023/04/20 ADD--2023/09/27 DEL
								--CASE WHEN MH.物件種別 = 6--2023/09/27 DEL
								--			THEN 106 
								--			ELSE CASE WHEN (MH.業種区分=1 AND MSM.作業区分CD = 3) --2023/04/20 ADD
								--					--内装で内装の場合、0に変更
								--					THEN 0
								--					ELSE ISNULL(MSM.作業区分CD,0) 
								--				END
								--		END
							--2023/04/04 ADD↑
								--2023/11/17 ADD↓
								CASE WHEN MH.物件種別 = 6--委託
												THEN 106 
												ELSE CASE WHEN (MH.業種区分=1)
														--業種区分が内装の場合
														THEN 3--作業区分を内装へ変更
														ELSE ISNULL(MSM.作業区分CD,0) 
													END
											END
								--2023/11/17 ADD↑

					--ORDER BY    --TM.チームCD,
					--			--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
					--			CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬,@w明) THEN  MH.担当者CD ELSE 9999 END,
					--			MH.工事担当CD,
					--			MH.集計CD,--2021/03/03 ADD
					--			CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.部署CD = B.部署CD--2024/09/13 ADD
				--A.営業担当CD = B.営業担当CD--2024/09/13 DEL
				AND	A.工事担当CD = B.工事担当CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				--AND A.物件種別 = B.物件種別--2023/04/04 ADD
				--AND	A.業種区分 = B.業種区分--2023/04/20 ADD--2023/09/27 DEL
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							部署CD,
							--営業担当CD,--2024/09/13 DEL
							工事担当CD,
							番号,
							集計CD,
							年月,
							--物件種別,
							--業種区分,--2023/04/20 ADD--2023/09/27 DEL
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.部署CD,
							--B.営業担当CD,--2024/09/13 DEL
							B.工事担当CD,
							B.番号,
							B.集計CD,
							B.年月,
							--B.物件種別,
							--B.業種区分,--2023/04/20 ADD--2023/09/27 DEL
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--原価　その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価 その他
					SELECT	--TM.チームCD,
							--部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
							部署CD = MH.部署CD,--2024/09/13 ADD
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする2023/01/10 ADD
							--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD--2024/09/13 DEL
							工事担当CD = MH.工事担当CD,
							番号 = 99,
							集計CD = 99999,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							----2023/04/04 ADD↓
							--物件種別 = CASE MH.物件種別 
							--				WHEN 4 THEN 4
							--				ELSE CASE WHEN MSM.作業区分CD = 3 THEN 4
							--						ELSE 0 END
							--			END,
							----2023/04/04 ADD↑
							--業種区分 = MH.業種区分,--2023/04/20 ADD--2023/09/27 DEL
							--作業区分CD = ISNULL(MSM.作業区分CD,0),
							----作業区分CD = CASE WHEN MH.物件種別 = 6 THEN 106 ELSE ISNULL(MSM.作業区分CD,0) END,--2023/11/17 DEL
							--2023/04/04 ADD↓
							----委託の場合、作業区分を106に変更
							--作業区分CD = CASE WHEN MH.物件種別 = 6--2023/09/27 DEL
							--				THEN 106 
							--				ELSE CASE WHEN (MH.業種区分=1 AND MSM.作業区分CD = 3) --2023/04/20 ADD
							--						--内装で内装の場合、0に変更
							--						THEN 0
							--						ELSE ISNULL(MSM.作業区分CD,0) 
							--					END
							--			END,
							--2023/04/04 ADD↑
							--2023/11/17 ADD↓
							作業区分CD = CASE WHEN MH.物件種別 = 6--委託
											THEN 106 
											ELSE CASE WHEN (MH.業種区分=1)
													--業種区分が内装の場合
													THEN 3--作業区分を内装へ変更
													ELSE ISNULL(MSM.作業区分CD,0) 
												END
										END,
							--2023/11/17 ADD↑

							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TM
								ON MH.販売先得意先CD = TM.得意先CD
							--2020/05/09 ADD↓
							LEFT JOIN TD物件情報 AS BK
								ON MH.物件番号 = BK.物件番号
							--LEFT JOIN	TM得意先 AS TM2
							--	ON BK.得意先CD = TM2.得意先CD
							--2020/05/09 ADD↑
							--2023/07/31 ADD↓
							LEFT JOIN TM製品 AS SE
								ON	MSM.製品NO = SE.製品NO
								AND MSM.仕様NO = SE.仕様NO
							--2023/07/31 ADD↑
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									)
							--2021/05/20 ADD↓
		    				AND	NOT(MH.集計CD IN (@wヤオコー,--@wマミー,--2023/06/30 DEL
													@wロピア,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										--@wしまむら,--2022/10/13 DEL
													@wアマゾン,@wメルカリ,--2023/11/29 ADD
		    										@wウエルシア,@wビバ))
							--2021/05/20 ADD↑
							----2023/07/31 ADD↓--2024/09/13 DEL↓
							--AND NOT(ISNULL(SE.取組区分,0) = 1--2部の取組
							--	AND CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1') <= SE.取組終了年月)
							----2023/07/31 ADD↑--2024/09/13 DEL↑
					GROUP BY    --TM.チームCD,
								MH.部署CD,--2024/09/13 ADD
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
								--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする2023/01/10 ADD
								--CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD--2024/09/13 DEL
								MH.工事担当CD,
								--MH.集計CD,--2021/03/03 ADD
								CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),--ISNULL(MSM.作業区分CD,0)
								----2023/04/04 ADD↓
								--CASE MH.物件種別 
								--			WHEN 4 THEN 4
								--			ELSE CASE WHEN MSM.作業区分CD = 3 THEN 4
								--					ELSE 0 END
								--		END,
								------CASE WHEN MH.物件種別 = 6 THEN 106 ELSE ISNULL(MSM.作業区分CD,0) END--2023/11/17 DEL
								--MH.業種区分,--2023/04/20 ADD--2023/09/27 DEL
								--CASE WHEN MH.物件種別 = 6--2023/09/27 DEL
								--			THEN 106 
								--			ELSE CASE WHEN (MH.業種区分=1 AND MSM.作業区分CD = 3) --2023/04/20 ADD
								--					--内装で内装の場合、0に変更
								--					THEN 0
								--					ELSE ISNULL(MSM.作業区分CD,0) 
								--				END
								--		END
							--2023/04/04 ADD↑
								--2023/11/17 ADD↓
								CASE WHEN MH.物件種別 = 6--委託
												THEN 106 
												ELSE CASE WHEN (MH.業種区分=1)
														--業種区分が内装の場合
														THEN 3--作業区分を内装へ変更
														ELSE ISNULL(MSM.作業区分CD,0) 
													END
											END
								--2023/11/17 ADD↑

					--ORDER BY    --TM.チームCD,
					--			--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
					--			CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬,@w明) THEN  MH.担当者CD ELSE 9999 END,
					--			MH.工事担当CD,
					--			--MH.集計CD,--2021/03/03 ADD
					--			CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.部署CD = B.部署CD--2024/09/13 ADD
				--A.営業担当CD = B.営業担当CD--2024/09/13 DEL
				AND	A.工事担当CD = B.工事担当CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				--AND A.物件種別 = B.物件種別
				--AND	A.業種区分 = B.業種区分--2023/04/20 ADD--2023/09/27 DEL
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							部署CD,--2024/09/13 ADD
							--営業担当CD,--2024/09/13 DEL
							工事担当CD,
							番号,
							集計CD,
							年月,
							--物件種別,
							--業種区分,--2023/04/20 ADD--2023/09/27 DEL
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.部署CD,--2024/09/13 ADD
							--B.営業担当CD,--2024/09/13 DEL
							B.工事担当CD,
							B.番号,
							B.集計CD,
							B.年月,
							--B.物件種別,
							--B.業種区分,--2023/04/20 ADD--2023/09/27 DEL
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--2024/09/13 DEL↓
		--------------2023/07/31 ADD↓
		-----------------取組分の売上抽出
		------------MERGE INTO	#TMP_TOTAL AS A
		------------	USING
		------------		(
		------------		--売上 得意先指定
		------------			SELECT	--TM.チームCD,
		------------					営業担当CD = @w明,--2部固定
		------------					工事担当CD = MH.工事担当CD,
		------------					番号 = 0,
		------------					集計CD = 1,--取組区分
		------------					年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
		------------					--業種区分 = 1,--内装（2部）固定--2023/09/27 DEL
		------------					作業区分CD = 0,
							
		------------					税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
		------------				FROM	TD売上v2 AS UH 
		------------					INNER JOIN TD見積 AS MH
		------------						ON UH.見積番号 = MH.見積番号
		------------					INNER JOIN TD売上明細V2 AS UM
		------------						ON UH.売上番号 = UM.売上番号 
		------------					LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
		------------						ON UM.見積明細連番 = MSM.見積明細連番 
		------------					INNER JOIN  TM得意先 AS TM
		------------						ON MH.販売先得意先CD = TM.得意先CD
		------------					--2020/05/09 ADD↓
		------------					LEFT JOIN TD物件情報 AS BK
		------------						ON MH.物件番号 = BK.物件番号
		------------					----LEFT JOIN	TM得意先 AS TM2
		------------					----	ON BK.得意先CD = TM2.得意先CD
		------------					--2020/05/09 ADD↑
		------------					--2023/07/31 ADD↓
		------------					LEFT JOIN TM製品 AS SE
		------------						ON	MSM.製品NO = SE.製品NO
		------------						AND MSM.仕様NO = SE.仕様NO
		------------					--2023/07/31 ADD↑
		------------				WHERE	(
		------------							(UH.売上日付 >= @iS集計日付
		------------								AND UH.売上日付 <= @iE集計日付)					--今年度
		------------						)
		------------					----2021/05/20 ADD↓
		------------    				--AND	MH.集計CD IN (@wヤオコー,
		------------					--						--@wマミー,--2023/06/30 DEL
		------------					--						@wロピア,
		------------    				--						@wベルク,@wサンベルクス,--@wフレッセイ,
		------------    				--						--@wしまむら,--2022/10/13 DEL
		------------    				--						@wウエルシア,@wビバ)
		------------					----2021/05/20 ADD↑
		------------					--2023/07/31 ADD↓
		------------					AND (ISNULL(SE.取組区分,0) = 1--2部の取組
		------------						AND CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1') <= SE.取組終了年月)
		------------					--2023/07/31 ADD↑
		------------			GROUP BY    
		------------						MH.工事担当CD,
		------------						CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1')
		------------		) AS B
		------------	ON  (
		------------		--A.チームCD = B.チームCD
		------------		A.営業担当CD = B.営業担当CD
		------------		AND	A.工事担当CD = B.工事担当CD
		------------		AND	A.番号 = B.番号
		------------		AND	A.集計CD = B.集計CD
		------------		AND	A.年月 = B.年月
		------------		--AND	A.物件種別 = B.物件種別--2023/04/04 ADD
		------------		--AND	A.業種区分 = B.業種区分--2023/04/20 ADD--2023/09/27 DEL
		------------		AND A.作業区分CD = B.作業区分CD
		------------		)
		------------	WHEN MATCHED THEN
		------------		UPDATE
		------------			SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
		------------	WHEN NOT MATCHED THEN
		------------		INSERT
		------------				(
		------------					営業担当CD,
		------------					工事担当CD,
		------------					番号,
		------------					集計CD,
		------------					年月,
		------------					--物件種別,--2023/04/04 ADD
		------------					--業種区分,--2023/04/20 ADD--2023/09/27 DEL
		------------					作業区分CD,
		------------					売上税抜金額
		------------					--,原価税抜金額
		------------				)
		------------			VALUES
		------------				(
		------------					B.営業担当CD,
		------------					B.工事担当CD,
		------------					B.番号,
		------------					B.集計CD,
		------------					B.年月,
		------------					--B.物件種別,--2023/04/04 ADD
		------------					--B.業種区分,--2023/04/20 ADD--2023/09/27 DEL
		------------					B.作業区分CD,
		------------					B.税抜金額
		------------				)
		------------	;
		------------SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		-----------------取組分の仕入抽出
		--------------顧客別　原価
		------------MERGE INTO	#TMP_TOTAL AS A
		------------	USING
		------------		(
		------------			--原価
		------------			SELECT	--TM.チームCD,
		------------					営業担当CD = @w明,--2部固定
		------------					工事担当CD = MH.工事担当CD,
		------------					番号 = 0,
		------------					集計CD = 1,--取組区分
		------------					年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
		------------					--業種区分 = 1,--内装（2部）固定--2023/09/27 DEL
		------------					作業区分CD = 0,

		------------					原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
		------------				FROM	TD仕入明細 AS SM
		------------					INNER JOIN	TD見積 AS MH
		------------						ON SM.見積番号 = MH.見積番号
		------------					INNER JOIN	TD仕入明細内訳 AS SMU
		------------						ON SM.仕入番号 = SMU.仕入番号
		------------					LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
		------------						ON SMU.見積明細連番 = MSM.見積明細連番 
		------------					INNER JOIN  TM得意先 AS TM
		------------						ON MH.販売先得意先CD = TM.得意先CD
		------------					--2020/05/09 ADD↓
		------------					LEFT JOIN TD物件情報 AS BK
		------------						ON MH.物件番号 = BK.物件番号
		------------					--LEFT JOIN	TM得意先 AS TM2
		------------					--	ON BK.得意先CD = TM2.得意先CD
		------------					--2020/05/09 ADD↑
		------------					--2023/07/31 ADD↓
		------------					LEFT JOIN TM製品 AS SE
		------------						ON	MSM.製品NO = SE.製品NO
		------------						AND MSM.仕様NO = SE.仕様NO
		------------					--2023/07/31 ADD↑
		------------				WHERE	MH.社内伝票扱い = 0--社内伝でない
		------------					AND	NOT(SMU.伝票区分 IN ('A','C','S'))
		------------					AND	(
		------------								(SM.仕入日付 >= @iS集計日付
		------------									AND SM.仕入日付 <= @iE集計日付)					--今年度
		------------							)
		------------					----2021/05/20 ADD↓
		------------    				--AND	MH.集計CD IN (@wヤオコー,--@wマミー,--2023/06/30 DEL
		------------					--						@wロピア,
		------------    				--						@wベルク,@wサンベルクス,--@wフレッセイ,
		------------    				--						--@wしまむら,--2022/10/13 DEL
		------------    				--						@wウエルシア,@wビバ)
		------------					----2021/05/20 ADD↑
		------------					--2023/07/31 ADD↓
		------------					AND (ISNULL(SE.取組区分,0) = 1--2部の取組
		------------						AND CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1') <= SE.取組終了年月)
		------------					--2023/07/31 ADD↑
		------------			GROUP BY    
		------------						MH.工事担当CD,
		------------						CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')

		------------			--ORDER BY    --TM.チームCD,
		------------			--			--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
		------------			--			CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬,@w明) THEN  MH.担当者CD ELSE 9999 END,
		------------			--			MH.工事担当CD,
		------------			--			MH.集計CD,--2021/03/03 ADD
		------------			--			CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
		------------		) AS B
		------------	ON  (
		------------		A.営業担当CD = B.営業担当CD
		------------		AND	A.工事担当CD = B.工事担当CD
		------------		AND	A.番号 = B.番号
		------------		AND	A.集計CD = B.集計CD
		------------		AND	A.年月 = B.年月
		------------		--AND A.物件種別 = B.物件種別--2023/04/04 ADD
		------------		--AND	A.業種区分 = B.業種区分--2023/04/20 ADD--2023/09/27 DEL
		------------		AND A.作業区分CD = B.作業区分CD
		------------		)
		------------	WHEN MATCHED THEN
		------------		UPDATE
		------------			SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
		------------	WHEN NOT MATCHED THEN
		------------		INSERT
		------------				(
		------------					営業担当CD,
		------------					工事担当CD,
		------------					番号,
		------------					集計CD,
		------------					年月,
		------------					--物件種別,
		------------					--業種区分,--2023/04/20 ADD--2023/09/27 DEL
		------------					作業区分CD,
		------------					--売上税抜金額,
		------------					原価税抜金額
		------------				)
		------------			VALUES
		------------				(
		------------					B.営業担当CD,
		------------					B.工事担当CD,
		------------					B.番号,
		------------					B.集計CD,
		------------					B.年月,
		------------					--B.物件種別,
		------------					--B.業種区分,--2023/04/20 ADD--2023/09/27 DEL
		------------					B.作業区分CD,
		------------					B.原価税抜金額
		------------				)
		------------	;
		------------SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--------------2023/07/31 ADD↑]
		--2024/09/13 DEL↑

--select * 			FROM #TMP_TOTAL


		--------------------------------------------
		--売上原価出力
		--（顧客別「集計CD」）
		--------------------------------------------
		SELECT	--営業担当CD = CASE WHEN 集計CD IN (99999) THEN  物件種別 ELSE 0 END,
				--営業担当CD = 物件種別,
				--営業担当CD = 業種区分,--2023/09/27 DEL
				--工事担当CD,
				営業担当CD = 0,--ダミー
				番号=0,
				集計CD,
				年月,
				--物件種別,
				作業区分CD,
				売上税抜金額 = SUM(売上税抜金額),
				原価税抜金額 = SUM(原価税抜金額)
			FROM #TMP_TOTAL
			--GROUP BY     営業担当CD,集計CD,年月,作業区分CD
			--ORDER BY     営業担当CD,集計CD,年月,作業区分CD
			--GROUP BY     CASE WHEN 集計CD IN (99999) THEN  営業担当CD ELSE 0 END,集計CD,年月,物件種別,作業区分CD
			--ORDER BY     CASE WHEN 集計CD IN (99999) THEN  営業担当CD ELSE 0 END,集計CD,年月,物件種別,作業区分CD
			--GROUP BY     業種区分,集計CD,年月,作業区分CD--2023/09/27 DEL
			--ORDER BY     業種区分,集計CD,年月,作業区分CD--2023/09/27 DEL
			GROUP BY	集計CD,年月,作業区分CD--2023/09/27 ADD
			ORDER BY	集計CD,年月,作業区分CD--2023/09/27 ADD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--売上原価出力
		--（工事担当用）
		--------------------------------------------
		SELECT	--営業担当CD,
				工事担当CD,
				番号=0,
				集計CD=0,
				年月,作業区分CD,
				売上税抜金額 = SUM(売上税抜金額),
				原価税抜金額 = SUM(原価税抜金額)
			FROM #TMP_TOTAL
			GROUP BY     工事担当CD,年月,作業区分CD
			ORDER BY     工事担当CD,年月,作業区分CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--========================================--
		--入出庫出力
		--========================================--
		--入出庫ワークテーブル作成
		CREATE TABLE #TMP_TOTAL_NS
			(
				--チームCD		INT		NOT NULL,
				集計CD			VARCHAR(5),--2020/02/17 ADD
				年月			DATETIME,
				出庫合計金額	MONEY	DEFAULT(0),
				入庫合計金額	MONEY	DEFAULT(0),
				調整出庫合計金額	MONEY	DEFAULT(0),
				調整入庫合計金額	MONEY	DEFAULT(0),

			) ON [PRIMARY]

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--仕入先が3105:三和倉庫の仕入先D
					SELECT	--TK.チームCD,
							--TK.集計CD,--2020/02/17 ADD
							MH.集計CD,--2021/03/03 ADD
								年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
								仕入数量 = SUM(SMU.仕入数量),
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							--INNER JOIN TM得意先 AS TK(NOLOCK)
							--	ON SR.販売先得意先CD = TK.得意先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	SM.仕入先CD = '3150'--三和倉庫
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付				--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						--GROUP BY TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
						GROUP BY MH.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')--2021/03/03 ADD
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.集計CD = B.集計CD--2020/02/17 ADD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.出庫合計金額 = A.出庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月,
							出庫合計金額
						)
					VALUES
						(
							B.集計CD,
							B.年月,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--社内伝の仕入先D
					SELECT	--TK.チームCD,
							--TK.集計CD,--2020/02/17 ADD
							MH.集計CD,--2021/03/03 ADD
								年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
								仕入数量 = SUM(SMU.仕入数量),
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付				--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						--GROUP BY TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
						GROUP BY MH.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')--2021/03/03 ADD
				) AS B
			ON  (
				A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.入庫合計金額 = A.入庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月,
							入庫合計金額
						)
					VALUES
						(
							B.集計CD,
							B.年月,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--売上
					SELECT	--ID.在庫調整元チームCD,
							ID.得意先CD,--2020/02/17 ADD
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1'),
							--内税の場合は消費税を引く
							調整出庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE 
							ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付					--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							AND ID.在庫調整元チームCD <> 0--2017/05/23 ADD
						--GROUP BY ID.在庫調整元チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
						GROUP BY ID.得意先CD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
				) AS B
			ON  (
				--A.チームCD = B.在庫調整元チームCD
				A.集計CD = B.得意先CD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整出庫合計金額 = A.調整出庫合計金額 + B.調整出庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--チームCD,
							集計CD,
							年月,
							調整出庫合計金額
						)
					VALUES
						(
							--B.在庫調整元チームCD,
							B.得意先CD,
							B.年月,
							B.調整出庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--売上
					SELECT	--ID.在庫調整先チームCD,
							ID.得意先CD,--2020/02/17 ADD
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1'),
							--内税の場合は消費税を引く
							調整入庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE 
							ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付					--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							AND ID.在庫調整先チームCD <> 0--2017/05/23 ADD
						--GROUP BY ID.在庫調整先チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
						GROUP BY ID.得意先CD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
				) AS B
			ON  (
				--A.チームCD = B.在庫調整先チームCD
				A.集計CD = B.得意先CD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整入庫合計金額 = A.調整入庫合計金額 + B.調整入庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月,
							調整入庫合計金額
						)
					VALUES
						(
							B.得意先CD,
							B.年月,
							B.調整入庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		SELECT	集計CD,
				年月,
				出庫金額 = SUM(出庫金額),
				入庫金額 = SUM(入庫金額)
			FROM (
				SELECT	--集計CD,
						集計CD = CASE 集計CD
												WHEN @wヤオコー		THEN 集計CD
												--WHEN @wマミー		THEN 集計CD--2021/05/20 DEL--2022/11/28 ADD--2023/06/30 DEL
												WHEN @wロピア		THEN 集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN 集計CD
												--WHEN @wフレッセイ	THEN 集計CD
												--WHEN @wアポック		THEN 集計CD--2021/05/20 DEL
												--WHEN @wしまむら		THEN 集計CD--2022/10/13 DEL
												WHEN @wベルク		THEN 集計CD
												WHEN @wビバ			THEN 集計CD
												WHEN @wウエルシア	THEN 集計CD
												WHEN @wアマゾン	THEN 集計CD--2023/11/29 ADD
												WHEN @wメルカリ	THEN 集計CD--2023/11/29 ADD
												ELSE 0 END,--99999 END,　--主得意先以外の入力は無視
						年月,
						出庫金額		=	ISNULL(出庫合計金額,0)
										+	ISNULL(調整出庫合計金額,0),
						入庫金額		=	ISNULL(入庫合計金額,0)
										+	ISNULL(調整入庫合計金額,0)
					FROM #TMP_TOTAL_NS
				) AS A
				GROUP BY 集計CD,年月
				ORDER BY 集計CD,年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--------------------------------------------
		--三研実績出力
		--------------------------------------------
		--SELECT	年月, 売上税抜金額, 原価税抜金額, 人件一般費, 営業外費
		SELECT	年月, 売上税抜金額_円, 原価税抜金額_円, 人件一般費_円, 営業外費_円
			FROM	TM三研情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)					--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--サービス実績出力
		--------------------------------------------
		--SELECT	年月, 売上税抜金額, 原価税抜金額, 人件一般費, 営業外費
		--SELECT	年月, 売上税抜金額_貨物自車, 原価税抜金額_貨物自車,
		--		売上税抜金額_貨物庸車, 原価税抜金額_貨物庸車,--2019/04/02 ADD
		--		売上税抜金額_物流, 原価税抜金額_物流,--2019/04/02 ADD
		--		人件一般費, 営業外費
		SELECT  年月, 売額_貨物自_三商, 原額_貨物自_三商, 
				売額_貨物自_店装, 原額_貨物自_店装, 売額_貨物自_サンプラ, 原額_貨物自_サンプラ,
				売額_貨物自_三シャ, 原額_貨物自_三シャ, 売額_貨物自_トラン, 原額_貨物自_トラン, 
				売額_貨物自_その他, 原額_貨物自_その他, 売額_貨物自_事故, 原額_貨物自_事故, 
				売額_貨物庸_三商, 原額_貨物庸_三商, 売額_貨物庸_店装, 原額_貨物庸_店装, 
				売額_貨物庸_サンプラ, 原額_貨物庸_サンプラ, 売額_貨物庸_三シャ, 原額_貨物庸_三シャ, 
				売額_貨物庸_トラン, 原額_貨物庸_トラン, 売額_貨物庸_その他, 原額_貨物庸_その他, 
				売額_貨物庸_事故, 原額_貨物庸_事故, 
				売額_物流_ルート, 原額_物流_ルート, 売額_物流_丸和, 原額_物流_丸和, 
				売額_物流_その他, 原額_物流_その他, 売額_物流_事故, 原額_物流_事故, 
				--人件一般費, 営業外費--2019/05/15 ADD
				人件一般費_貨物, 営業外費_貨物,--2019/05/23 ADD
				人件一般費_物流, 営業外費_物流--2019/05/23 ADD
			FROM	TMサービス実績情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)					--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--2018/07/07 ADD↑





		----------------------------------------------
		----按分経費出力
		----------------------------------------------
		--SELECT	チームCD = (CASE WHEN SY.チームCD IN (8,9) THEN 10 ELSE SY.チームCD END),
		--		年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),
		--		人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額 ELSE 0 END),
		--		経費合計 = SUM(SY.按分金額)
		--	FROM	TD経費按分集計V2 AS SY
		--		INNER JOIN TM科目 AS KM
		--			ON SY.科目CD = KM.科目CD
		--	WHERE	(
		--				(集計日付 >= @iS集計日付
		--					AND 集計日付 <= @iE集計日付)					--今年度
		--			OR 
		--				(集計日付 >= DATEADD(YY,-1,@iS集計日付)
		--					--AND 集計日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
		--					AND 集計日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
		--			)
		--	GROUP BY	(CASE WHEN チームCD IN (8,9) THEN 10 ELSE チームCD END), CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')
		--	ORDER BY    (CASE WHEN チームCD IN (8,9) THEN 10 ELSE チームCD END), CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')

		--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



		--2019/02/27 ADD↓
		--------------------------------------------
		--按分経費出力 
		-- 営業・工事・その他別統計集計先CD別
		--------------------------------------------

		------SELECT	--SY.統計集計先CD,
		------		集計先CD = CASE SY.統計集計先CD
		------								WHEN @wヤオコー		THEN SY.統計集計先CD
		------								--WHEN @wマミー		THEN SY.統計集計先CD--2021/05/20 DEL
		------								WHEN @wロピア		THEN SY.統計集計先CD--2021/05/20 ADD
		------								WHEN @wサンベルクス THEN SY.統計集計先CD
		------								--WHEN @wフレッセイ	THEN SY.統計集計先CD
		------								--WHEN @wアポック		THEN SY.統計集計先CD--2021/05/20 DEL
		------								WHEN @wしまむら		THEN SY.統計集計先CD
		------								WHEN @wベルク		THEN SY.統計集計先CD
		------								WHEN @wビバ			THEN SY.統計集計先CD
		------								WHEN @wウエルシア	THEN SY.統計集計先CD
		------								ELSE 99999 END,
		------		部CD = 9996,--2021/03/04 UPD
		------		年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),
		------		人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額 ELSE 0 END),
		------		経費合計 = SUM(SY.按分金額)
		------	FROM	TD経費按分集計V3 AS SY
		------		INNER JOIN TM科目 AS KM
		------			ON SY.科目CD = KM.科目CD
		------	WHERE	(
		------				(集計日付 >= @iS集計日付
		------					AND 集計日付 <= @iE集計日付)					--今年度
		------			--OR 
		------			--	(集計日付 >= DATEADD(YY,-1,@iS集計日付)
		------			--		--AND 集計日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
		------			--		AND 集計日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
		------			)
		------	GROUP BY	CASE SY.統計集計先CD
		------								WHEN @wヤオコー		THEN SY.統計集計先CD
		------								--WHEN @wマミー		THEN SY.統計集計先CD--2021/05/20 DEL
		------								WHEN @wロピア		THEN SY.統計集計先CD--2021/05/20 ADD
		------								WHEN @wサンベルクス THEN SY.統計集計先CD
		------								--WHEN @wフレッセイ	THEN SY.統計集計先CD
		------								--WHEN @wアポック		THEN SY.統計集計先CD--2021/05/20 DEL
		------								WHEN @wしまむら		THEN SY.統計集計先CD
		------								WHEN @wベルク		THEN SY.統計集計先CD
		------								WHEN @wビバ			THEN SY.統計集計先CD
		------								WHEN @wウエルシア	THEN SY.統計集計先CD
		------								ELSE 99999 END,
		------					 --CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),部CD
		------					 CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')
		------	--ORDER BY    集計先CD, CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),部CD
		------	ORDER BY    集計先CD, CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')

		------------------------------------------------
		------按分経費出力 
		------ 営業担当数による按分
		--------売上が多い営業に端数を充てる
		--------(科目別に端数処理をしているので科目分のずれが生じる)
		------------------------------------------------
		----SELECT	SY.営業担当CD,
		----		部CD = 0,
		----		SY.集計日付,
		----		人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額営業 ELSE 0 END)

		----	FROM (

		----		SELECT	集計日付,
		----				A.科目CD,
		----				A.営業担当CD,
		----				A.金額,
		----				--端数処理での差額調整
		----				--按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 集計日付,科目CD)-A.金額 ELSE 0 END),
		----				按分金額営業 = A.按分金額営業-(CASE WHEN SEQ=1 THEN SUM(A.按分金額営業) OVER (PARTITION BY 集計日付,科目CD)-A.金額 ELSE 0 END)
		----					,按分比率 = A.按分比率
		----					,按分比率計 = A.按分比率計
		----		FROM (

		----			SELECT	SEQ,
		----					集計日付,
		----					営業担当CD,
		----					KK.科目CD,
		----					金額 = ISNULL(KK.金額,0),
		----					--按分金額 = ROUND(ISNULL(KK.金額,0) * (TEAM_KIN.チーム税抜金額 / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)),0)--2018/06/22 ADD
		----					--按分金額 = ROUND(ISNULL(KK.金額,0) * cast(TEAM_KIN.チーム税抜金額 as decimal(30,10)) / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.集計日付,KK.科目CD),0)--2021/02/06 ADD
		----					按分金額営業 = ROUND(ISNULL(KK.金額,0) * cast(1 as decimal(30,10)) / count(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.集計日付,KK.科目CD),0,1)--2021/02/06 ADD
		----					,按分比率 = TEAM_KIN.チーム税抜金額
		----					,按分比率計 = SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.集計日付,KK.科目CD)
		----				FROM (SELECT	集計日付,-- = CONVERT(CHAR(6),集計日付,112),
		----								科目CD,金額 = SUM(按分金額) 
		----						FROM TD経費按分集計V4
		----						WHERE	集計日付 >= @iS集計日付
		----							AND	集計日付 <= @iE集計日付
		----						GROUP BY 集計日付,科目CD
		----					) AS KK--売上金額での按分
		----					CROSS JOIN	(

		----									--チーム毎集計先毎の売上金額集計
		----									SELECT	ROW_NUMBER() OVER (PARTITION BY 年月 ORDER BY SUM(チーム税抜金額) DESC) AS SEQ,
		----											--チームCD,
		----											営業担当CD,
		----											年月,
		----											チーム税抜金額 = SUM(チーム税抜金額)
		----										FROM (
		----												--チーム毎の売上金額集計
		----												SELECT
		----														--チームCD = 0,--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2021/05/22 UPD
		----														--TM.集計CD,
		----														--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
		----														--営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする
		----														営業担当CD = CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD
		----														--年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
		----														年月 =dbo.ufn_GetFirstDateOfScope(UH.売上日付,99),
		----														チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
		----																					THEN (UM.売上金額-UM.消費税額)
		----																					ELSE UM.売上金額 
		----																			END)
		----													FROM TD売上v2 AS UH  
		----														INNER JOIN TD売上明細V2 AS UM
		----															ON UH.売上番号 = UM.売上番号
		----														LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
		----															ON UM.見積明細連番 = MSM.見積明細連番 
		----														INNER JOIN TD見積 AS MH
		----															ON UH.見積番号 = MH.見積番号
		----														INNER JOIN TM得意先 AS TM
		----															ON MH.得意先CD = TM.得意先CD
		----													--2014/07/21 ADD↓
		----													WHERE	(UH.売上日付 >= @iS集計日付
		----															AND UH.売上日付 <= @iE集計日付)
		----														--AND	MH.担当者CD IN (@w岩間,@w龍馬)
		----														--AND	MH.担当者CD IN (@w岩間,@w明)
		----														--AND	ISNULL(MSM.作業区分CD,0) = 0--営業--2021/02/04 DEL
		----													--GROUP BY     CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,TM.集計CD,CONVERT(CHAR(6),UH.売上日付,112)
		----													GROUP BY    --CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE 9999 END,
		----																--CASE WHEN MH.担当者CD IN (@w岩間,@w龍馬) THEN  MH.担当者CD ELSE @w龍馬 END,--明は龍馬にする
		----																CASE WHEN MH.担当者CD IN (@w岩間,@w明) THEN  MH.担当者CD ELSE @w岩間 END,--龍馬は岩間にする2023/04/04 ADD
		----																--CONVERT(CHAR(6),UH.売上日付,112)--2021/05/22 ADD
		----																dbo.ufn_GetFirstDateOfScope(UH.売上日付,99)
		----													--2014/07/21 ADD↑
		----												) AS UNI	--チーム毎の売上金額集計
		----										GROUP BY 営業担当CD,年月
		----								) AS TEAM_KIN--チーム毎の売上金額集計
		----						WHERE KK.集計日付 = TEAM_KIN.年月
		----				) AS A
		----			) AS SY
		----			INNER JOIN TM科目 AS KM
		----				ON SY.科目CD = KM.科目CD
		----		GROUP BY SY.営業担当CD,SY.集計日付
		----		ORDER BY SY.営業担当CD,SY.集計日付

		----SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		------2019/02/27 ADD↑


		--------------------------------------------
		--按分経費出力 
		-- 営業・工事・その他別統計集計先CD別
		--------------------------------------------

		SELECT	
				--部CD,
				--業種区分,--2023/09/27 DEL
				業種区分_未使用 = 0,
				部CD_未使用=0,
				年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),
				人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額 ELSE 0 END)--,
				--経費合計 = SUM(SY.按分金額)
			FROM	TD経費按分集計V5 AS SY
				INNER JOIN TM科目 AS KM
					ON SY.科目CD = KM.科目CD
			WHERE	(
						(集計日付 >= @iS集計日付
							AND 集計日付 <= @iE集計日付)					--今年度
					--OR 
					--	(集計日付 >= DATEADD(YY,-1,@iS集計日付)
					--		--AND 集計日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
					--		AND 集計日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			--GROUP BY	
			--				 CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),部CD
			--ORDER BY    CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),部CD
			--GROUP BY	
			--				 CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),業種区分--2023/09/27 DEL
			--ORDER BY    CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),業種区分--2023/09/27 DEL
			GROUP BY	
							 CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')--2023/09/27 ADD
			ORDER BY    CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')--2023/09/27 ADD




		------------------------------------------------
		------按分経費出力 
		------ 工事担当数による按分
		--------売上が多い担当に端数を充てる

		------++++++++++++++++++++++++++++++++++++++++++++++++
		------2022/11 粗利になったので工事担当の経費は未使用
		------++++++++++++++++++++++++++++++++++++++++++++++++
		------------------------------------------------

		----SELECT	SY.工事担当CD,
		----		部CD = 0,
		----		SY.集計日付,
		----		人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額営業 ELSE 0 END)

		----	FROM (

		----		SELECT	集計日付,
		----				A.科目CD,
		----				A.工事担当CD,
		----				A.金額,
		----				--端数処理での差額調整
		----				--按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 集計日付,科目CD)-A.金額 ELSE 0 END),
		----				按分金額営業 = A.按分金額営業-(CASE WHEN SEQ=1 THEN SUM(A.按分金額営業) OVER (PARTITION BY 集計日付,科目CD)-A.金額 ELSE 0 END)
		----					,按分比率 = A.按分比率
		----					,按分比率計 = A.按分比率計
		----		FROM (

		----			SELECT	SEQ,
		----					集計日付,
		----					工事担当CD,
		----					KK.科目CD,
		----					金額 = ISNULL(KK.金額,0),
		----					--按分金額 = ROUND(ISNULL(KK.金額,0) * (TEAM_KIN.チーム税抜金額 / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)),0)--2018/06/22 ADD
		----					--按分金額 = ROUND(ISNULL(KK.金額,0) * cast(TEAM_KIN.チーム税抜金額 as decimal(30,10)) / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.集計日付,KK.科目CD),0)--2021/02/06 ADD
		----					按分金額営業 = ROUND(ISNULL(KK.金額,0) * cast(1 as decimal(30,10)) / count(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.集計日付,KK.科目CD),0,1)--2021/02/06 ADD
		----					,按分比率 = TEAM_KIN.チーム税抜金額
		----					,按分比率計 = SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.集計日付,KK.科目CD)
		----				FROM (SELECT	集計日付,-- = CONVERT(CHAR(6),集計日付,112),
		----								科目CD,金額 = SUM(按分金額) 
		----						FROM TD経費按分集計V4
		----						WHERE	集計日付 >= @iS集計日付
		----							AND	集計日付 <= @iE集計日付
		----						GROUP BY 集計日付,科目CD
		----					) AS KK--売上金額での按分
		----					CROSS JOIN	(

		----									--チーム毎集計先毎の売上金額集計
		----									SELECT	ROW_NUMBER() OVER (PARTITION BY 年月 ORDER BY SUM(チーム税抜金額) DESC) AS SEQ,
		----											工事担当CD,
		----											年月,
		----											チーム税抜金額 = SUM(チーム税抜金額)
		----										FROM (
		----												--チーム毎の売上金額集計
		----												SELECT
		----														工事担当CD,
		----														年月 =dbo.ufn_GetFirstDateOfScope(UH.売上日付,99),
		----														チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
		----																					THEN (UM.売上金額-UM.消費税額)
		----																					ELSE UM.売上金額 
		----																			END)
		----													FROM TD売上v2 AS UH  
		----														INNER JOIN TD売上明細V2 AS UM
		----															ON UH.売上番号 = UM.売上番号
		----														LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
		----															ON UM.見積明細連番 = MSM.見積明細連番 
		----														INNER JOIN TD見積 AS MH
		----															ON UH.見積番号 = MH.見積番号
		----														INNER JOIN TM得意先 AS TM
		----															ON MH.得意先CD = TM.得意先CD
		----													--2014/07/21 ADD↓
		----													WHERE	(UH.売上日付 >= @iS集計日付
		----														AND UH.売上日付 <= @iE集計日付)
		----														AND MH.工事担当CD <> 0--その他は除く
		----													GROUP BY    工事担当CD,
		----																--CONVERT(CHAR(6),UH.売上日付,112)--2021/05/22 ADD
		----																dbo.ufn_GetFirstDateOfScope(UH.売上日付,99)
		----													--2014/07/21 ADD↑
		----												) AS UNI	--チーム毎の売上金額集計
		----										GROUP BY 工事担当CD,年月
		----								) AS TEAM_KIN--チーム毎の売上金額集計
		----						WHERE KK.集計日付 = TEAM_KIN.年月
		----				) AS A
		----			) AS SY
		----			INNER JOIN TM科目 AS KM
		----				ON SY.科目CD = KM.科目CD
		----		GROUP BY SY.工事担当CD,SY.集計日付
		----		ORDER BY SY.工事担当CD,SY.集計日付

		----SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		------2019/02/27 ADD↑

		--2024/09/13 ADD↓
		--------------------------------------------
		--売上原価出力
		--（部署別）
		--------------------------------------------
		SELECT	
				部署CD,
				年月,
				作業区分CD,
				売上税抜金額 = SUM(売上税抜金額),
				原価税抜金額 = SUM(原価税抜金額)
			FROM #TMP_TOTAL
			GROUP BY	部署CD,年月,作業区分CD
			ORDER BY	部署CD,年月,作業区分CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--2024/09/13 ADD↑

EXIT_SP:

	DROP TABLE #TMP_TOTAL
	DROP TABLE #TMP_TOTAL_NS

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
