/****** Object:  StoredProcedure [dbo].[usp_HD0700売上抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0700売上抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0700売上抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================

名称	usp_HD0700売上抽出

機能	指定された見積番号で売上を採用。
		処理区分=0:新規
			見積を元に売上していない情報を抽出
		処理区分=1:修正
			売上を抽出

引数

戻り値

 =============================================
	2014/07/10	oosawa		中国バージョン（金額小数点判断）

	2014/09/30	oosawa		新設
	2015/01/22	oosawa		抽出範囲修正
	2015/01/24	oosawa		非課税対応
	2015/05/27	oosawa		仕入済明細のみ抽出する区分の新設
	2015/07/23	oosawa		社内出し分も抽出
	2015/10/06	oosawa		抽出条件に社内出しのみ・仕入済み月ごとを追加
	2016/04/07	oosawa		税集計区分が税対象外の場合ゼロにする
	2017/01/11	oosawa		社内出し分の抽出を「社内在庫数 <> 0」から「仕入先CD = '3150'」
	2017/06/26	oosawa		コメント行が仕入済みなのに数量がゼロだから持ってこない
							仕入済数<>0ではなく、繋がったデータは持ってくるように変更
 =============================================*/
CREATE	PROCEDURE	[dbo].[usp_HD0700売上抽出]
	(
	@i処理区分 		SMALLINT,
	@i抽出区分		SMALLINT,
	@i見積番号		INT,
	--2015/10/06 ADD↓
	@is仕入日付		DATETIME,
	@ie仕入日付		DATETIME,
	--2015/10/06 ADD↑

	----OUTPUT
	--@RetMDataCnt 	INT 			OUTPUT,
	--@Ret得意先CD 	VARCHAR(4) 		OUTPUT,
	--@Ret大小口区分 	SMALLINT 		OUTPUT,
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--消費税用変数
	DECLARE	@TAX		MONEY



--SET @i見積番号=96268--83552--97353

		------------------------------------------------------
		--小数点桁数判断
		------------------------------------------------------
		DECLARE @decimalPoint  int --桁数
		SET @decimalPoint = 0
		
		SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
			FROM AppCountry

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		------------------------------------------------------


	IF  @i処理区分 = 1  BEGIN
		--修正

		------------------------------------------------------
		--売上ヘッダー抽出
		------------------------------------------------------
		SELECT	UH.見積番号, UH.売上番号, 
				MH.見積件名,
				UH.売上日付, 
				UH.合計金額, 
				UH.税抜金額, 
				UH.外税対象額, 
				UH.外税額, 
				UH.税集計区分, UH.売上端数, UH.消費税端数
			FROM	TD売上v2 AS UH
				INNER JOIN TD見積 AS MH
					ON UH.見積番号 = MH.見積番号
			WHERE	UH.見積番号 = @i見積番号
			ORDER BY UH.売上日付

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END--IF  @i処理区分 = 1  BEGIN

	IF  @i処理区分 = 0  BEGIN
		------------------------------------------------------
		--見積シートMより売上明細データ作成
		----明細を集計してヘッダー部を作成
		------------------------------------------------------

		--税率取得
		SET	@TAX = dbo.fn_GetTax(CONVERT(CHAR(10),GETDATE(),111))

		--新規
		SELECT * INTO #TBL
			FROM
				(
					--通常明細
					SELECT	MSM.見積番号,
							売上番号=0,売上明細行番号=0,
							MSM.見積明細連番,
							MSM.行番号, 
							見積明細区分 = MSM.見積区分,
							伝票区分 = (CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
							特別区分 = '',
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
							MSM.エラー内容,
							売上数量 = MSM.見積数量,
							MSM.単位名, MSM.定価, MSM.仕入単価, 
							MSM.仕入率, MSM.売上単価, MSM.売上率, 
							MSM.U区分, MSM.M区分,
							MSM.仕入金額, MSM.売上金額, MSM.売上税区分, MSM.消費税額, 
							MSM.仕入先CD, MSM.仕入先名, MSM.配送先CD, MSM.配送先名, MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.総数量, 
							MSM.製品区分, MSM.発注調整数, 
							MSM.仕分数1, MSM.仕分数2, MSM.仕分数3, MSM.仕分数4,
							MSM.仕分数5, MSM.仕分数6, MSM.仕分数7, MSM.仕分数8, MSM.仕分数9, MSM.仕分数10, MSM.仕分数11, MSM.仕分数12, MSM.仕分数13, 
							MSM.仕分数14, MSM.仕分数15, MSM.仕分数16, MSM.仕分数17, MSM.仕分数18, MSM.仕分数19, MSM.仕分数20, MSM.仕分数21, MSM.仕分数22, 
							MSM.仕分数23, MSM.仕分数24, MSM.仕分数25, MSM.仕分数26, MSM.仕分数27, MSM.仕分数28, MSM.仕分数29, MSM.仕分数30
						FROM	VD見積シートM AS MSM
							----2015/05/27 ADD↓
							--LEFT JOIN (SELECT 見積明細連番,仕入済数=SUM(仕入数量)
							--				FROM TD仕入明細内訳
							--				GROUP BY 見積明細連番
							--		) AS SH
							--		ON MSM.見積明細連番 = SH.見積明細連番
							----2015/05/27 ADD↑
							--2015/10/06 ADD↓
							LEFT JOIN (SELECT	見積明細連番,仕入済数=SUM(仕入数量),
												仕入日付=MIN(仕入日付)--2015/10/06 ADD
											FROM TD仕入明細内訳 AS SMU
												INNER JOIN TD仕入明細 AS SM
													ON SMU.仕入番号 = SM.仕入番号
											GROUP BY 見積明細連番
									) AS SH
									ON MSM.見積明細連番 = SH.見積明細連番
							--2015/10/06 ADD↑
							LEFT JOIN (
										SELECT	見積明細連番
												--仕入数量 = SUM(仕入数量)
											FROM	TD売上明細v2
											GROUP BY 見積明細連番
									) AS UM
										ON MSM.見積明細連番 = UM.見積明細連番
						WHERE	MSM.見積番号 = @i見積番号
						--2015/01/22 DEL↓
						--	AND (MSM.見積数量 <> 0
						--			OR MSM.見積区分 IN ('A','C','S'))
						--2015/01/22 DEL↑
							AND	UM.見積明細連番 IS NULL
							--AND ((@i抽出区分 = 0) OR (@i抽出区分 <> 0) AND (SH.仕入済数 <> 0))--2015/05/27 ADD
							--AND ((@i抽出区分 = 0) OR ((@i抽出区分 <> 0) AND ((SH.仕入済数 <> 0) OR (MSM.社内在庫数 <> 0))))--2015/07/23 ADD
							--2015/10/06 ADD↓
							AND (
										(@i抽出区分 = 0) 
									--OR ((@i抽出区分 = 1) AND (SH.仕入済数 <> 0) AND (SH.仕入日付>=@iS仕入日付) AND (SH.仕入日付<=@ie仕入日付))
									OR ((@i抽出区分 = 1) AND (SH.見積明細連番 IS NOT NULL) AND (SH.仕入日付>=@iS仕入日付) AND (SH.仕入日付<=@ie仕入日付))--2017/06/26 ADD
									OR ((@i抽出区分 = 2) AND(MSM.社内在庫数 <> 0))
									OR ((@i抽出区分 = 2) AND(MSM.仕入先CD = '3150'))--2017/01/11 ADD
								)
							--2015/10/06 ADD↑
				UNION ALL
					--ZA:出精値引き
					SELECT	MH.見積番号,
							売上番号=0,売上明細行番号=0,
							見積明細連番 = -1,
							行番号=9999999999, 
							見積明細区分 = '',
							伝票区分 = '1',
							特別区分 = 'ZA',
							SP区分 = '', PC区分='', 製品NO='', 仕様NO='', ベース色='',
							漢字名称='出精値引', 
							W=0, D=0, H=0, D1=0, D2=0, H1=0, H2=0,
							エラー内容='',
							売上数量 = 1,
							単位名='', 定価=0, 仕入単価=0, 
							仕入率=0, 
							売上単価 = MH.出精値引,
							売上率=0, U区分='', M区分='',
							仕入金額=0,
							売上金額=MH.出精値引,
							売上税区分=0, 消費税額=0, 
							仕入先CD='', 仕入先名='', 配送先CD='', 配送先名='', 
							社内在庫数=0, 客先在庫数=0, 転用数=0, 発注数=0, 総数量=0, 
							製品区分=NULL, 発注調整数=0, 
							仕分数1=0, 仕分数2=0, 仕分数3=0, 仕分数4=0,
							仕分数5=0, 仕分数6=0, 仕分数7=0, 仕分数8=0, 仕分数9=0, 仕分数10=0, 仕分数11=0, 仕分数12=0, 仕分数13=0, 
							仕分数14=0, 仕分数15=0, 仕分数16=0, 仕分数17=0, 仕分数18=0, 仕分数19=0, 仕分数20=0, 仕分数21=0, 仕分数22=0, 
							仕分数23=0, 仕分数24=0, 仕分数25=0, 仕分数26=0, 仕分数27=0, 仕分数28=0, 仕分数29=0, 仕分数30=0
						FROM	TD見積 AS MH
							LEFT JOIN (
										SELECT	UH.見積番号
											FROM TD売上v2 AS UH
												INNER JOIN TD売上明細V2 AS UM
													ON UH.売上番号 = UM.売上番号
											WHERE	UM.特別区分 = 'ZA'
											GROUP BY 見積番号
										) AS UH
										ON MH.見積番号 = UH.見積番号
						WHERE	MH.見積番号 = @i見積番号
							AND	MH.出精値引 <> 0
							AND	UH.見積番号 IS NULL--売上計上していない
				
				) AS MH
				--ORDER BY MH.行番号
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------------
		--明細を集計してヘッダー部を作成
		------------------------------------------------------
		SELECT	D.見積番号, 
				MH.見積件名,
				売上番号 = 0,
				--D.件数,
				--D.仕入先CD,D.配送先CD, 
				売上日付 = NULL,
				--SI.仕入先名1, SI.仕入先名2, SI.税集計区分, SI.仕入端数, SI.消費税端数,
				--支払年月日 = NULL,SI.締日,支払更新FLG = 0,
				--HA.配送先名1, HA.配送先名2, 
				合計金額 = 売上外税対象額 + 売上内税対象額
						 + 返品外税対象額 + 返品内税対象額
						 + 訂正外税対象額 + 訂正内税対象額
						 + 売上非課税対象額 + 返品非課税対象額 + 訂正非課税対象額,--2015/01/24 ADD
				
				税抜金額 = 売上外税対象額 + 売上内税対象額 - 売上内税額 
						 + 返品外税対象額 + 返品内税対象額 - 返品内税額
						 + 訂正外税対象額 + 訂正内税対象額 - 訂正内税額
						 + 売上非課税対象額 + 返品非課税対象額 + 訂正非課税対象額,--2015/01/24 ADD
				--2016/04/07 ADD↓
				--外税対象額 = 売上外税対象額
				--		   + 返品外税対象額,
				外税対象額 = CASE WHEN MH.税集計区分 = 3--税対象外得意先
								THEN 0
								ELSE
									売上外税対象額
								   + 返品外税対象額
						   END,
				--2016/04/07 ADD↑
				外税額 = CASE WHEN MH.税集計区分 = 0
									 THEN dbo.fn_CutFraction(消費税端数,(売上外税対象額 + 返品外税対象額) / 100 * @TAX,@decimalPoint)
							WHEN MH.税集計区分 = 1 THEN 0
							WHEN MH.税集計区分 = 2 THEN 明細消費税合計
							ELSE 0--2016/04/07 ADD
					   END,
				MH.税集計区分, MH.売上端数, MH.消費税端数
			FROM
				(
				SELECT 	TBL.見積番号, 
						--件数 = COUNT(仕入明細行番号),
						--税集計区分, 仕入端数, 消費税端数, 伝票区分, 仕入税区分, 
						売上外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
						売上内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
						売上内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
						--2015/01/24 ADD
						売上非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),

						返品外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
						返品内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
						返品内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
						--2015/01/24 ADD
						返品非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),

						訂正外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
						訂正内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
						訂正内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
						--2015/01/24 ADD
						訂正非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),
						明細消費税合計 = SUM(TBL.消費税額)
					FROM #TBL AS TBL
						INNER JOIN TD見積 AS MH
							ON TBL.見積番号 = MH.見積番号
					GROUP BY	TBL.見積番号

				) AS D
				INNER JOIN TD見積 AS MH
					ON D.見積番号 = MH.見積番号
			ORDER BY     D.見積番号
			
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--select * from #TBL
		--	ORDER BY 行番号
			
		drop table #TBL

	END--IF  @i処理区分 = 0  BEGIN


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
