/****** Object:  StoredProcedure [dbo].[usp_GetLastDateOfScope]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_GetLastDateOfScope]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetLastDateOfScope]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[usp_GetLastDateOfScope]
(
	@iDate	DATETIME,
	@iShime	int,
	@oDate	DATETIME	OUTPUT
)
AS
/*
	機能:	終了日を算出する。

	引数:	@iDate		日付を指定する
		@iShime	締日を指定する

	戻り値	エラー時NULLを返す

	2002/04/06	oosawa
*/
	SET NOCOUNT ON	

	DECLARE	@wDate	VARCHAR(10)
	
	IF @iShime = 0 BEGIN
		SET @oDate = NULL
	END ELSE IF @iShime = 99 BEGIN
			SET @oDate = DATEADD(DAY,-1,CONVERT(DATETIME,CONVERT(CHAR(7),DATEADD(MONTH,1,@iDate),111)+'/1'))
	END ELSE BEGIN
		IF DAY(@iDate) > @iShime BEGIN
			SET @wDate = CONVERT(CHAR(7),DATEADD(MONTH,1,@iDate),111)+'/'+CONVERT(CHAR(2),@iShime)
			IF ISDATE(@wDate) = 1
				SET @oDate = CONVERT(DATETIME,@wDate,111)
			ELSE 
				SET @oDate = NULL
		END ELSE BEGIN
			SET @wDate = CONVERT(CHAR(7),@iDate,111)+'/'+CONVERT(CHAR(2),@iShime)
			IF ISDATE(@wDate) = 1
				SET @oDate = CONVERT(DATETIME,@wDate,111)
			ELSE 
				SET @oDate = NULL
		END
	END

--	SET	@oDate = CONVERT(DATETIME, CONVERT(CHAR(10),@oDate,111)+' 23:59:59.997',111)
	SET	@oDate = CONVERT(DATETIME, CONVERT(CHAR(10),@oDate,111)+' 00:00:00.000',111)






GO
