/****** Object:  StoredProcedure [dbo].[usp_TN1100社内在庫状況表示]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1100社内在庫状況表示]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1100社内在庫状況表示]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_TN1100社内在庫状況表示

機能	指定された在庫集計情報を作成する

引数

戻り値

※棚卸は1/1に行って1/1の入出庫は含めないようにするので、
　基準は1/1の午前0時とする。


※予備在庫数は棚卸数から引いて表示する。


修正履歴
	2013/02/20	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN1100社内在庫状況表示]

	@i指定日付		DATETIME,
	@i担当者CD		SMALLINT,

	--OUTPUT
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	
	SET ARITHABORT ON

	DECLARE
			@i製品NO		CHAR(7),
			@i仕様NO		CHAR(7),
			@i見積番号		INT

	--set @i指定日付 = '2013/12/31'
	--set @i担当者CD = 5
	
	--***	各SQL文内のWHERE句に下記の設定がされているが
	--		COALESCE()でNULLを判断する。
	--		※外してしまうと処理が極端に遅くなる。！！！
	
	set @i製品NO = NULL
	SET @i仕様NO = NULL
	SET @i見積番号 = NULL
	
	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME


	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別社内在庫
		WHERE 	
			担当者CD = @i担当者CD
		--AND	製品NO = COALESCE(@i製品NO,製品NO)
		--AND	仕様NO = COALESCE(@i仕様NO,仕様NO)
		GROUP BY 	
			担当者CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--SELECT @wk棚卸日付 AS MAX棚卸日


	---------------------------
	--商品・倉庫毎に棚卸日付での在庫数を算出する。
	---------------------------
		SELECT	 
				ZK.担当者CD, 
				ZK.製品NO, 
				ZK.仕様NO, 
				ZK.漢字名称, 
				ZK.W,ZK.D,ZK.H,ZK.D1,ZK.D2,ZK.H1,ZK.H2,
				ZK.主仕入先CD,
				--棚卸情報
				TA.棚卸日付,
				棚卸数 = ISNULL(TA.棚卸数,0)-ISNULL(ZK.予備在庫数,0),
				--受注情報
				--受注数_社内在庫含む = ISNULL(JY.受注数,0),
				社内在庫引当数 = ISNULL(JY.社内在庫数,0),
				--発注情報
				--発注数 = ISNULL(HC.発注数,0),
				--仕入数
				--仕入数 = ISNULL(SR.仕入数,0),
				--売上数
				--売上数 = ISNULL(UR.売上数,0),
				--入庫数
				入庫数 = ISNULL(NK.入庫数,0),
				--出庫数
				出庫数 = ISNULL(SK.出庫数,0),
				--移動数
				移動数 = ISNULL(INK.移動入庫数,0)-ISNULL(ISK.移動出庫数,0),
				
				--在庫数 = ISNULL(TA.棚卸数,0)
				--		- ISNULL(JY.受注数,0)
				--		+ ISNULL(HC.発注数,0)
				--		+ ISNULL(SR.仕入数,0)
				--		- ISNULL(UR.売上数,0)
				--		+ ISNULL(NK.入庫数,0)
				--		- ISNULL(SK.出庫数,0)
				在庫数 = ISNULL(TA.棚卸数,0)-ISNULL(ZK.予備在庫数,0)
						- ISNULL(JY.社内在庫数,0)
						+ ISNULL(NK.入庫数,0)
						- ISNULL(SK.出庫数,0)
						+ ISNULL(INK.移動入庫数,0)
						- ISNULL(ISK.移動出庫数,0)

		
			FROM (
				--------------
				--社内在庫マスタ
				--------------
				SELECT	ZK.担当者CD, ZK.製品NO, ZK.仕様NO, 
						ZK.適正在庫数, ZK.予備在庫数,
						ZK.行NO,					--2009/12/07 ADD,
						SE.漢字名称,SE.主仕入先CD,
						SE.W,SE.D,SE.H,SE.D1,SE.D2,SE.H1,SE.H2
					FROM	TM社内在庫_担当者別 AS ZK (NOLOCK)
						INNER JOIN TM製品 AS SE (NOLOCK)
							ON ZK.製品NO = SE.製品NO
							AND ZK.仕様NO = SE.仕様NO
					WHERE	担当者CD = @i担当者CD
				) AS ZK


			LEFT JOIN (
				--------------
				--棚卸数
				--------------
				SELECT	
						棚卸日付,担当者CD, 製品NO, 仕様NO, 棚卸数
					FROM
						TD棚卸_担当者別社内在庫 (NOLOCK)
					WHERE
							棚卸日付 = @wk棚卸日付
							--棚卸日付 < @i指定日付
						AND	担当者CD = @i担当者CD
						AND	製品NO = COALESCE(@i製品NO,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO,仕様NO)
					) AS TA
						ON	ZK.担当者CD = TA.担当者CD
						AND	ZK.製品NO = TA.製品NO
						AND	ZK.仕様NO = TA.仕様NO
			LEFT JOIN (
				----------------
				-- 受注数集計
				----------------
				SELECT 	
						MT.担当者CD, 
						MSM.製品NO, MSM.仕様NO,
						SUM(ISNULL(MSM.社内在庫数,0)) AS 社内在庫数
					FROM
						(SELECT * FROM TD見積 AS MT(NOLOCK)
							WHERE	MT.見積区分	= 1			
		    				AND	MT.担当者CD = @i担当者CD
							AND	MT.得意先CD <> '9999'		
							AND	MT.売上納期	>= @wk棚卸日付
						) AS MT
					INNER 	JOIN 	
						TD見積シートM AS MSM (NOLOCK)
						ON 	MT.見積番号 = MSM.見積番号
					LEFT	JOIN
						TD出庫_担当者別社内在庫 AS SY (NOLOCK)
						ON	MT.見積番号 = SY.参照見積番号
					WHERE 	
						--AND	MT.売上日付	IS NULL		--売上がたってない物
							SY.出庫番号 IS NULL	--出庫データにないもの
						--AND	MT.売上納期 <= @i指定日付 --未来も含む
						AND	MSM.製品NO = COALESCE(@i製品NO,製品NO)
						AND	MSM.仕様NO = COALESCE(@i仕様NO,仕様NO)
						AND MT.見積番号 = COALESCE(@i見積番号,MT.見積番号)
					GROUP BY
							MT.担当者CD, MSM.製品NO, MSM.仕様NO
					) AS JY
						ON	ZK.担当者CD = JY.担当者CD
						AND	ZK.製品NO = JY.製品NO
						AND	ZK.仕様NO = JY.仕様NO
			LEFT JOIN (
				----------------
				-- 入庫数
				----------------
				SELECT	NK.担当者CD, 
						NKM.製品NO, NKM.仕様NO, 
						SUM(ISNULL(NKM.入庫数量,0)) AS 入庫数
					FROM TD入庫_担当者別社内在庫 AS NK(NOLOCK)
						INNER JOIN TD入庫明細_担当者別社内在庫 AS NKM(NOLOCK)
						ON NK.入庫番号 = NKM.入庫番号
					WHERE 
							NK.入庫日付 >= @wk棚卸日付
						AND NK.入庫日付 <= @i指定日付
						AND NK.担当者CD = @i担当者CD
						AND	NKM.製品NO = COALESCE(@i製品NO,NKM.製品NO)
						AND	NKM.仕様NO = COALESCE(@i仕様NO,NKM.仕様NO)
					GROUP BY
							NK.担当者CD, NKM.製品NO, NKM.仕様NO
					) AS NK
						ON	ZK.担当者CD = NK.担当者CD
						AND	ZK.製品NO = NK.製品NO
						AND	ZK.仕様NO = NK.仕様NO
			LEFT JOIN (
				----------------
				-- 出庫数
				----------------
				SELECT	SK.担当者CD, 
						SKM.製品NO, SKM.仕様NO, 
						SUM(ISNULL(SKM.出庫数量,0)) AS 出庫数
					FROM TD出庫_担当者別社内在庫 AS SK(NOLOCK)
						INNER JOIN TD出庫明細_担当者別社内在庫 AS SKM(NOLOCK)
						ON SK.出庫番号 = SKM.出庫番号
					WHERE 
							SK.出庫日付 >= @wk棚卸日付
						AND SK.出庫日付 <= @i指定日付
						AND SK.担当者CD = @i担当者CD
						AND	SKM.製品NO = COALESCE(@i製品NO,SKM.製品NO)
						AND	SKM.仕様NO = COALESCE(@i仕様NO,SKM.仕様NO)
					GROUP BY
							SK.担当者CD, SKM.製品NO, SKM.仕様NO
					) AS SK
						ON	ZK.担当者CD = SK.担当者CD
						AND	ZK.製品NO = SK.製品NO
						AND	ZK.仕様NO = SK.仕様NO
			LEFT JOIN (
				----------------
				-- 移動入庫数
				----------------
				SELECT 	
				 		SZH.社内在庫移動先担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 移動入庫数
					FROM 
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @wk棚卸日付
						AND SZH.社内在庫移動日付 <= @i指定日付
						AND SZH.社内在庫移動先担当者CD = @i担当者CD
						AND	SZM.製品NO = COALESCE(@i製品NO,SZM.製品NO)
						AND	SZM.仕様NO = COALESCE(@i仕様NO,SZM.仕様NO)
					GROUP BY
							SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO
						) AS INK
							ON	ZK.担当者CD = INK.社内在庫移動先担当者CD
							AND	ZK.製品NO = INK.製品NO
							AND	ZK.仕様NO = INK.仕様NO
			LEFT JOIN (
				----------------
				-- 移動出庫数
				----------------
				SELECT	
				 		SZH.社内在庫移動元担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 移動出庫数
					FROM 	
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @wk棚卸日付
						AND SZH.社内在庫移動日付 <= @i指定日付
						AND SZH.社内在庫移動元担当者CD = @i担当者CD
						AND	SZM.製品NO = COALESCE(@i製品NO,SZM.製品NO)
						AND	SZM.仕様NO = COALESCE(@i仕様NO,SZM.仕様NO)
					GROUP BY
							SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO
					) AS ISK
						ON	ZK.担当者CD = ISK.社内在庫移動元担当者CD
						AND	ZK.製品NO = ISK.製品NO
						AND	ZK.仕様NO = ISK.仕様NO
			ORDER BY
				ZK.行NO, ZK.製品NO, ZK.仕様NO
			OPTION(RECOMPILE)--速くなるおまじない
			
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


--SELECT * FROM #TMP
--	ORDER BY 日付,区分

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST





GO
