/****** Object:  StoredProcedure [dbo].[usp_SE1100売掛金元帳H]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE1100売掛金元帳H]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE1100売掛金元帳H]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_SE1100売掛金元帳H

機能	指定された条件で得意先元帳用ヘッダー部を作成する

引数	

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE1100売掛金元帳H]
	@is得意先CD	VARCHAR(4) = NULL,
	@ie得意先CD	VARCHAR(4) = NULL,
	@iDATE	DATETIME,
	@i締日		INT,
	@RetST	INT		OUTPUT,
	@RetMsg	NVARCHAR(256)	OUTPUT

AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--作業情報
	DECLARE	@w得意先CD	VARCHAR(4)

	--引数変換
	IF @is得意先CD > @ie得意先CD BEGIN
		SET @w得意先CD = @ie得意先CD
		SET @ie得意先CD = @is得意先CD
		SET @is得意先CD = @w得意先CD
	END

	SELECT 	UK.得意先CD, UK.請求日付, UK.請求開始日付,UK.請求終了日付,
			TM.得意先名1, TM.得意先名2, 郵便番号, 住所1, 住所2, 電話番号,
			UK.請求開始日付,UK.請求終了日付,
			UK.前月残高, UK.入金金額, UK.調整金額, UK.売上金額, UK.返品金額, UK.訂正金額, UK.消費税額, 
			UK.当月残高 
		FROM 	TM請求金額 AS UK 	
		LEFT JOIN 
			(
			SELECT 	得意先CD,得意先名1, 得意先名2, 郵便番号, 住所1, 住所2, 電話番号
				FROM 	TM得意先 
			)  AS TM  
			ON 	UK.得意先CD = TM.得意先CD
		WHERE 	UK.請求日付 = @iDATE
		    AND 	UK.締日 = @i締日
		    AND 	UK.得意先CD >= COALESCE(@is得意先CD,UK.得意先CD)
		    AND 	UK.得意先CD <= COALESCE(@ie得意先CD,UK.得意先CD)
		    AND 	NOT	(前月残高 = 0
				AND	入金金額 = 0
				AND	調整金額 = 0
				AND	売上金額 = 0
				AND	返品金額 = 0
				AND	訂正金額 = 0
				AND	消費税額 = 0
				AND	当月残高 = 0
				AND 	伝票枚数 = 0)
		ORDER BY 	UK.得意先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
