/****** Object:  StoredProcedure [dbo].[usp_TN2500UPDチーム別個別棚卸]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2500UPDチーム別個別棚卸]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2500UPDチーム別個別棚卸]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN2500UPDチーム別個別棚卸

	機能:	
		棚卸入力で入力された情報を
		TD個別棚卸・TD個別棚卸明細に登録する。

 =============================================
	2015/09/08	oosawa	新規作成
	2015/09/18	oosawa	得意先追加
	2017/01/24	oosawa		新設
	2017/02/09	oosawa	漢字名称追加
	2018/09/25	oosawa	行削除ができていなかった
 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN2500UPDチーム別個別棚卸]
	(
	@i棚卸番号	INT,
	@i棚卸日付			DATETIME,
	@i得意先CD		VARCHAR(4),--2015/09/18 ADD
	@iチームCD	INT ,
--	@i調整先チームCD	INT ,
	@i摘要名			VARCHAR(50),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	--BEGIN TRAN

	--------------------------------------------------
	--棚卸ヘッダーを更新する。
	--------------------------------------------------
	IF EXISTS (SELECT 棚卸番号 FROM TD個別棚卸 WHERE 棚卸番号 = @i棚卸番号 ) BEGIN
		-----<更新>-----
		--------------------------------------------------
		--棚卸データの更新
		--------------------------------------------------
		UPDATE	TD個別棚卸
			SET	
				棚卸日付	= @i棚卸日付,
				得意先CD	= @i得意先CD,--2015/09/18 ADD

				チームCD	= @iチームCD,
				--在庫棚卸先チームCD	= @i調整先チームCD,

				摘要名			= @i摘要名,

				登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
		WHERE 
			棚卸番号	= @i棚卸番号
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	END ELSE BEGIN

		--棚卸番号を取得します
		EXEC	@ST = usp_GetCounter '棚卸番号', '', @i棚卸番号 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP
		-----<新規>-----
		INSERT	TD個別棚卸
			(
				棚卸番号, 棚卸日付, 
				得意先CD,	--2015/09/18 ADD
				チームCD, --在庫調整先チームCD,
				摘要名,
				初期登録日, 登録変更日
			) 
 		VALUES 
			(
				@i棚卸番号, @i棚卸日付,
				@i得意先CD,	--2015/09/18 ADD
				@iチームCD, --@i調整先チームCD,
				@i摘要名,
				CONVERT(CHAR(10),GETDATE(),111), CONVERT(CHAR(10),GETDATE(),111)
			)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END


	--------------------------------------------------
	--棚卸明細の行削除分を削除する。
	--削除から行わないと追加したデータを削除してしまう。
	--------------------------------------------------
	--2018/09/25 ADD
	DELETE IM
	 		FROM TD個別棚卸明細 AS IM
			LEFT JOIN #Tmp個別棚卸明細 AS TMP
				ON	TMP.棚卸明細連番 = IM.棚卸明細連番
			WHERE TMP.棚卸明細連番 IS NULL
			AND	IM.棚卸番号 = @i棚卸番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--修正された明細を更新する。(変わったもののみ更新)
	--------------------------------------------------
	UPDATE TD個別棚卸明細
			SET	棚卸番号 = #Tmp個別棚卸明細.棚卸番号,
				枝番 = #Tmp個別棚卸明細.枝番, 
				製品NO = #Tmp個別棚卸明細.製品NO,
				仕様NO = #Tmp個別棚卸明細.仕様NO,
				漢字名称 = #Tmp個別棚卸明細.漢字名称,
--				数量 = #Tmp個別棚卸明細.数量,
				仕入先CD		= #Tmp個別棚卸明細.仕入先CD,
				仕入端数区分	= #Tmp個別棚卸明細.仕入端数区分,
				消費税端数区分	= #Tmp個別棚卸明細.消費税端数区分,
				棚卸数量		= #Tmp個別棚卸明細.棚卸数量,
				棚卸単価		= #Tmp個別棚卸明細.棚卸単価,
				棚卸金額		= #Tmp個別棚卸明細.棚卸金額,
				消費税額		= #Tmp個別棚卸明細.消費税額,
				仕入税区分		= #Tmp個別棚卸明細.仕入税区分,
				明細備考		= #Tmp個別棚卸明細.明細備考,
				登録変更日 = CONVERT(CHAR(10),GETDATE(),111)
		FROM TD個別棚卸明細
			INNER JOIN #Tmp個別棚卸明細
				ON	TD個別棚卸明細.棚卸明細連番 = #Tmp個別棚卸明細.棚卸明細連番
	 	WHERE	TD個別棚卸明細.棚卸番号 = @i棚卸番号
	 		AND	NOT((TD個別棚卸明細.枝番				= #Tmp個別棚卸明細.枝番)
				AND	(TD個別棚卸明細.製品NO			= #Tmp個別棚卸明細.製品NO)
				AND	(TD個別棚卸明細.仕様NO			= #Tmp個別棚卸明細.仕様NO)
				AND	(TD個別棚卸明細.漢字名称			= #Tmp個別棚卸明細.漢字名称)
				AND	(TD個別棚卸明細.仕入先CD		= #Tmp個別棚卸明細.仕入先CD)
				AND	(TD個別棚卸明細.仕入端数区分	= #Tmp個別棚卸明細.仕入端数区分)
				AND	(TD個別棚卸明細.消費税端数区分	= #Tmp個別棚卸明細.消費税端数区分)
				AND	(TD個別棚卸明細.棚卸数量		= #Tmp個別棚卸明細.棚卸数量)
				AND	(TD個別棚卸明細.棚卸単価		= #Tmp個別棚卸明細.棚卸単価)
				AND	(TD個別棚卸明細.棚卸金額		= #Tmp個別棚卸明細.棚卸金額)
				AND	(TD個別棚卸明細.消費税額		= #Tmp個別棚卸明細.消費税額)
				AND	(TD個別棚卸明細.仕入税区分		= #Tmp個別棚卸明細.仕入税区分)
				AND	(TD個別棚卸明細.明細備考		= #Tmp個別棚卸明細.明細備考))

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--棚卸明細の追加分を登録する。
	--------------------------------------------------
	INSERT INTO TD個別棚卸明細
		(
			--棚卸明細連番,
			棚卸番号,
			枝番, 
			製品NO,
			仕様NO,
			漢字名称,
			仕入先CD,
			仕入端数区分,
			消費税端数区分,
			棚卸数量,
			棚卸単価,
			棚卸金額,
			消費税額,
			仕入税区分,
			明細備考,
			初期登録日,
			登録変更日
		)
		SELECT
				--TMP.棚卸明細連番, 
				@i棚卸番号, 
				TMP.枝番, 
				TMP.製品NO, 
				TMP.仕様NO, 
				TMP.漢字名称,
				TMP.仕入先CD,
				TMP.仕入端数区分,
				TMP.消費税端数区分,
				TMP.棚卸数量,
				TMP.棚卸単価,
				TMP.棚卸金額,
				TMP.消費税額,
				TMP.仕入税区分,
				TMP.明細備考,
				CONVERT(CHAR(10),GETDATE(),111),
				CONVERT(CHAR(10),GETDATE(),111)
	 		FROM #Tmp個別棚卸明細 AS TMP
			LEFT JOIN TD個別棚卸明細 AS IM
				ON	TMP.棚卸明細連番 = IM.棚卸明細連番
			WHERE	IM.棚卸明細連番 IS NULL
				--AND	IM.棚卸番号 = @i棚卸番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
