/****** Object:  StoredProcedure [dbo].[usp_TN1700社内在庫棚卸明細表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1700社内在庫棚卸明細表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1700社内在庫棚卸明細表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_TN1700社内在庫棚卸明細表

機能	棚卸明細を抽出する


引数

戻り値

修正履歴
	2015/09/21	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN1700社内在庫棚卸明細表]
	@i棚卸日付		DATETIME,--末日が入る
	@iSチームCD		INT,
	@iEチームCD		INT,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''


	---------------------------
	--棚卸明細
	---------------------------
	SELECT	TS.棚卸番号,
			TS.棚卸日付,
			TS.チームCD,
			TS.得意先CD,
			TSM.棚卸明細連番,
			TSM.枝番,
			TSM.製品NO, TSM.仕様NO, 
			SE.漢字名称,
			SE.W,SE.D,SE.H,
			SE.単位名,
			TSM.算出数量, 
			TSM.棚卸数量,
			TSM.棚卸単価,
			TSM.棚卸金額,
			--TSM.仕入税区分,
			TSM.消費税額,
			TSM.明細備考,
			Count = COUNT(TS.チームCD) OVER (PARTITION BY TS.チームCD)
		FROM	TD棚卸_チーム別社内在庫 AS TS
			INNER JOIN TD棚卸明細_チーム別社内在庫 AS TSM
				ON TS.棚卸番号 = TSM.棚卸番号
			LEFT JOIN TM製品 AS SE(NOLOCK)
				ON TSM.製品NO = SE.製品NO
				AND TSM.仕様NO = SE.仕様NO
		WHERE	TS.棚卸日付 = @i棚卸日付
    		AND	TS.チームCD >= COALESCE(@iSチームCD,TS.チームCD)
    		AND	TS.チームCD <= COALESCE(@iEチームCD,TS.チームCD)
		ORDER BY	TS.チームCD, TSM.枝番, TSM.製品NO, TSM.仕様NO

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
