/****** Object:  StoredProcedure [dbo].[×usp_TN0500社内在庫棚卸数抽出XXX]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[×usp_TN0500社内在庫棚卸数抽出XXX]
GO
/****** Object:  StoredProcedure [dbo].[×usp_TN0500社内在庫棚卸数抽出XXX]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN0500社内在庫棚卸数抽出
	

	機能:	
		棚卸情報を作成する。
		棚卸日付の前の日までが集計対象

		２回目以降は１回目の情報を使用する。
		
	※　前回棚卸日を含む日付から
	　　指定日付-1日までの範囲で棚卸数を集計する。
 =============================================
	2009/09/04	oosawa	新規作成
	2009/10/01	oosawa	得意先'9999'は受注・売上にのせない。
	2009/12/07	oosawa	行NOの追加・出力順変更
	2010/02/01	oosawa	デッドロック防止にNOLOCKを付ける
	2010/02/02	oosawa	前回棚卸日付取得時に、保存時に旧情報を削除しているので
					前の日付をもってこれない。（修正時）
					絶対に１日付のみの情報になるので抽出条件をはずす
	2013/03/16	oosawa		入庫出庫追加に伴う修正
=============================================*/
CREATE  PROCEDURE [dbo].[×usp_TN0500社内在庫棚卸数抽出XXX]
	(
	@i棚卸日付		DATETIME,
-- 	@is商品ID		VARCHAR(15) = NULL,
-- 	@ie商品ID		VARCHAR(15) = NULL,
-- 	@i倉庫ID		VARCHAR(3) = NULL,
	@i担当者CD		SMALLINT,
-- 	@iPGID 		VARCHAR(4) = NULL,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	DECLARE	@w期首日付		DATETIME

	DECLARE	@w前回棚卸日付	DATETIME,
			@w開始日付		DATETIME,
			@w棚卸前日付	DATETIME			--2008/11/26 ADD
	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	--棚卸データの抽出判断
	--------------------------------------------------
		--------------------------------------------------
		--期首日付取得
		--------------------------------------------------
		SELECT @w期首日付 = 入力開始日
			FROM TM会社 (NOLOCK)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--------------------------------------------------
		--前回棚卸日付取得
		--------------------------------------------------
		SELECT TOP 1 @w前回棚卸日付 = 棚卸日付
			FROM TD棚卸_担当者別社内在庫 (NOLOCK)
				WHERE	担当者CD = @i担当者CD
-- 					AND	棚卸日付 < @i棚卸日付	--2010/02/02 DEL
				ORDER BY 棚卸日付 DESC
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--------------------------------------------------
		--抽出日付範囲の算出
		--------------------------------------------------
		IF ISNULL(@w前回棚卸日付,0) = 0 BEGIN
			--棚卸を一回も行っていない場合
			SET @w開始日付 = @w期首日付
		END ELSE BEGIN
			IF @w期首日付 >= @w前回棚卸日付 BEGIN
				--期首日のほうが後の場合
				SET @w開始日付 = @w期首日付
			END ELSE BEGIN
				--前回棚卸日の方が後の場合
				SET @w開始日付 = @w前回棚卸日付
			END
		END

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------------
		--範囲用棚卸日付
		--------------------------------------------------
		SET	@w棚卸前日付 = DATEADD(DAY,-1,@i棚卸日付)	--2008/11/26 ADD

		--------------------------------------------------
		--現在庫数取得
		--------------------------------------------------
		--商品・倉庫毎に棚卸日付での在庫数を算出する。
		SELECT	@i棚卸日付 AS 棚卸日付, 
				ZK.担当者CD, 
				ZK.製品NO, 
				ZK.仕様NO, 
				ZK.漢字名称, 
				ZK.W,ZK.D,ZK.H,ZK.D1,ZK.D2,ZK.H1,ZK.H2,
				ZK.主仕入先CD,

				--現在庫数 = COALESCE(TA_K.現在庫数, 
				--				COALESCE(TA.棚卸数,0)
				--						- ISNULL(売上数量合計,0)
				--						+ ISNULL(仕入数量合計,0)
				--						- ISNULL(移動元数量合計,0)
				--						+ ISNULL(移動先数量合計,0)),
				--棚卸数 = COALESCE(TA_K.棚卸数, 
				--				COALESCE(TA.棚卸数,0)
				--						- ISNULL(売上数量合計,0)
				--						+ ISNULL(仕入数量合計,0)
				--						- ISNULL(移動元数量合計,0)
				--						+ ISNULL(移動先数量合計,0))
				現在庫数 = COALESCE(TA_K.現在庫数, COALESCE(TA.棚卸数,0)
														+ ISNULL(NK.入庫数,0)
														- ISNULL(SK.出庫数,0)
														+ ISNULL(INK.移動入庫数,0)
														- ISNULL(ISK.移動出庫数,0)),
				棚卸数 = COALESCE(TA_K.現在庫数, COALESCE(TA.棚卸数,0)
														+ ISNULL(NK.入庫数,0)
														- ISNULL(SK.出庫数,0)
														+ ISNULL(INK.移動入庫数,0)
														- ISNULL(ISK.移動出庫数,0))

		
			FROM (
				----------------
				--社内在庫マスタ
				----------------
				SELECT	ZK.担当者CD, ZK.製品NO, ZK.仕様NO, 
						ZK.適正在庫数, ZK.予備在庫数,
						ZK.行NO,					--2009/12/07 ADD,
						SE.漢字名称,SE.主仕入先CD,
						SE.W,SE.D,SE.H,SE.D1,SE.D2,SE.H1,SE.H2
					FROM	TM社内在庫_担当者別 AS ZK (NOLOCK)
						INNER JOIN TM製品 AS SE (NOLOCK)
							ON ZK.製品NO = SE.製品NO
							AND ZK.仕様NO = SE.仕様NO
					WHERE	担当者CD = COALESCE(@i担当者CD, 担当者CD)
				) AS ZK
		
				----------------
				--前回棚卸数
				----------------
				LEFT JOIN (SELECT * FROM TD棚卸_担当者別社内在庫 (NOLOCK)
							WHERE	棚卸日付 = @w前回棚卸日付
								AND	担当者CD = COALESCE(@i担当者CD, 担当者CD)
					) AS TA
					ON	ZK.担当者CD = TA.担当者CD
					AND	ZK.製品NO = TA.製品NO
					AND	ZK.仕様NO = TA.仕様NO
				----------------
				--今回棚卸数（２回目以降の場合）
				----------------
				LEFT JOIN (SELECT * FROM TD棚卸_担当者別社内在庫 (NOLOCK)
							WHERE	棚卸日付 = @i棚卸日付
								AND	担当者CD = COALESCE(@i担当者CD, 担当者CD)
					) AS TA_K
					ON	ZK.担当者CD = TA_K.担当者CD
					AND	ZK.製品NO = TA_K.製品NO
					AND	ZK.仕様NO = TA_K.仕様NO
--2013/03/16 ADD↓
			LEFT JOIN (
				----------------
				-- 入庫数
				----------------
				SELECT	NK.担当者CD, 
						NKM.製品NO, NKM.仕様NO, 
						SUM(ISNULL(NKM.入庫数量,0)) AS 入庫数
					FROM TD入庫_担当者別社内在庫 AS NK(NOLOCK)
						INNER JOIN TD入庫明細_担当者別社内在庫 AS NKM(NOLOCK)
						ON NK.入庫番号 = NKM.入庫番号
					WHERE 
							NK.入庫日付 >= @w開始日付
						AND NK.入庫日付 <= COALESCE(@w棚卸前日付, NK.入庫日付)
						AND NK.担当者CD = COALESCE(@i担当者CD,  NK.担当者CD)
					GROUP BY
							NK.担当者CD, NKM.製品NO, NKM.仕様NO
					) AS NK
						ON	ZK.担当者CD = NK.担当者CD
						AND	ZK.製品NO = NK.製品NO
						AND	ZK.仕様NO = NK.仕様NO
			LEFT JOIN (
				----------------
				-- 出庫数
				----------------
				SELECT	SK.担当者CD, 
						SKM.製品NO, SKM.仕様NO, 
						SUM(ISNULL(SKM.出庫数量,0)) AS 出庫数
					FROM TD出庫_担当者別社内在庫 AS SK(NOLOCK)
						INNER JOIN TD出庫明細_担当者別社内在庫 AS SKM(NOLOCK)
						ON SK.出庫番号 = SKM.出庫番号
					WHERE 
							SK.出庫日付 >= @w開始日付
						AND SK.出庫日付 <= COALESCE(@w棚卸前日付, SK.出庫日付)
						AND SK.担当者CD = COALESCE(@i担当者CD, SK.担当者CD)
					GROUP BY
							SK.担当者CD, SKM.製品NO, SKM.仕様NO
					) AS SK
						ON	ZK.担当者CD = SK.担当者CD
						AND	ZK.製品NO = SK.製品NO
						AND	ZK.仕様NO = SK.仕様NO
			LEFT JOIN (
				----------------
				-- 移動入庫数
				----------------
				SELECT 	
				 		SZH.社内在庫移動先担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 移動入庫数
					FROM 
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @w開始日付
						AND SZH.社内在庫移動日付 <= COALESCE(@w棚卸前日付, SZH.社内在庫移動日付)
						AND SZH.社内在庫移動先担当者CD = COALESCE(@i担当者CD, SZH.社内在庫移動先担当者CD)
					GROUP BY
							SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO
						) AS INK
							ON	ZK.担当者CD = INK.社内在庫移動先担当者CD
							AND	ZK.製品NO = INK.製品NO
							AND	ZK.仕様NO = INK.仕様NO
			LEFT JOIN (
				----------------
				-- 移動出庫数
				----------------
				SELECT	
				 		SZH.社内在庫移動元担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 移動出庫数
					FROM 	
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @w開始日付
						AND SZH.社内在庫移動日付 <= COALESCE(@w棚卸前日付, SZH.社内在庫移動日付)
						AND SZH.社内在庫移動元担当者CD = COALESCE(@i担当者CD, SZH.社内在庫移動元担当者CD)
					GROUP BY
							SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO
					) AS ISK
						ON	ZK.担当者CD = ISK.社内在庫移動元担当者CD
						AND	ZK.製品NO = ISK.製品NO
						AND	ZK.仕様NO = ISK.仕様NO
--2013/03/16 ADD↑




--2013/03/16 DEL↓
				------仕入
				------前回棚卸がない場合は期首日付からの集計になる
				----LEFT JOIN (SELECT	SR.担当者CD, SRU.製品NO, SRU.仕様NO,
				----			SUM(SRU.仕入数量) AS 仕入数量合計 
				----		FROM TD仕入 AS SR (NOLOCK)
				----			INNER JOIN TD仕入明細 AS SRM (NOLOCK)
				----				ON 	SR.仕入番号 = SRM.仕入番号 
				----			INNER JOIN TD仕入明細内訳 AS SRU (NOLOCK)
				----				ON 	SRU.仕入番号 = SRM.仕入番号 
				----				AND 	SRU.仕入先CD = SRM.仕入先CD
				----				AND 	SRU.配送先CD = SRM.配送先CD
				----				AND 	SRU.仕分番号 = SRM.仕分番号
				----		WHERE	SRM.仕入日付 >= @w開始日付					
				----			AND	SRM.仕入日付 <= COALESCE(@w棚卸前日付, SRM.仕入日付)	
				----		GROUP BY 	SR.担当者CD, SRU.製品NO, SRU.仕様NO
				----	) AS SR
				----	ON	ZK.担当者CD = SR.担当者CD
				----	AND	ZK.製品NO = SR.製品NO
				----	AND	ZK.仕様NO = SR.仕様NO
				------売上
				------開始日付から終了日付までの売上数量
				----LEFT JOIN (SELECT 	UR.担当者CD, URU.製品NO, URU.仕様NO,
				----			SUM(URU.売上数量) AS 売上数量合計 
				----		FROM 	TD売上 AS UR (NOLOCK)
				----			LEFT JOIN TD売上明細内訳 AS URU (NOLOCK)
				----				ON UR.売上番号 = URU.売上番号
				----		WHERE 	UR.売上日付 >= @w開始日付
				----			AND	UR.売上日付 <= COALESCE(@w棚卸前日付, UR.売上日付)
				----			AND	UR.得意先CD <> '9999'		--2009/10/01 ADD
				----		GROUP BY 	UR.担当者CD, URU.製品NO, URU.仕様NO
				----	) AS UR
				----	ON	ZK.担当者CD = UR.担当者CD
				----	AND	ZK.製品NO = UR.製品NO
				----	AND	ZK.仕様NO = UR.仕様NO
				------移動（移動元）
				------開始日付から終了日付までの移動数量
				----LEFT JOIN (SELECT	IH.社内在庫移動元担当者CD,IM.製品NO, IM.仕様NO,
				----			SUM(IM.数量) AS 移動元数量合計 --移動元分はマイナス
				----		FROM TD社内在庫移動 AS IH (NOLOCK)
				----			INNER JOIN	TD社内在庫移動明細 AS IM (NOLOCK)
				----				ON IH.社内在庫移動連番 = IM.社内在庫移動連番
				----		WHERE	IH.社内在庫移動日付 >= @w開始日付
				----			AND	IH.社内在庫移動日付 <= COALESCE(@w棚卸前日付, IH.社内在庫移動日付)
				----		GROUP BY 	IH.社内在庫移動元担当者CD,IM.製品NO, IM.仕様NO
				----	) AS IDO_MOTO
				----	ON	ZK.担当者CD = IDO_MOTO.社内在庫移動元担当者CD
				----	AND	ZK.製品NO = IDO_MOTO.製品NO
				----	AND	ZK.仕様NO = IDO_MOTO.仕様NO
				------移動（移動先）
				------開始日付から終了日付までの移動数量
				----LEFT JOIN (SELECT	IH.社内在庫移動先担当者CD,IM.製品NO, IM.仕様NO,
				----			SUM(IM.数量) AS 移動先数量合計 --移動元分はマイナス
				----		FROM TD社内在庫移動 AS IH (NOLOCK)
				----			INNER JOIN	TD社内在庫移動明細 AS IM (NOLOCK)
				----				ON IH.社内在庫移動連番 = IM.社内在庫移動連番
				----		WHERE	IH.社内在庫移動日付 >= @w開始日付
				----			AND	IH.社内在庫移動日付 <= COALESCE(@w棚卸前日付, IH.社内在庫移動日付)
				----		GROUP BY 	IH.社内在庫移動先担当者CD,IM.製品NO, IM.仕様NO
				----	) AS IDO_SAKI
				----	ON	ZK.担当者CD = IDO_SAKI.社内在庫移動先担当者CD
				----	AND	ZK.製品NO = IDO_SAKI.製品NO
				----	AND	ZK.仕様NO = IDO_SAKI.仕様NO
--2013/03/06 DEL↑


			WHERE ZK.担当者CD = COALESCE(@i担当者CD, ZK.担当者CD)
-- 		ORDER BY ZK.担当者CD, ZK.製品NO, ZK.仕様NO
		ORDER BY ZK.担当者CD, ZK.行NO, ZK.製品NO, ZK.仕様NO	--2009/12/07 ADD
		OPTION(RECOMPILE)--速くなるおまじない

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
-- 	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
