/****** Object:  StoredProcedure [dbo].[usp_SK0100買掛金集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SK0100買掛金集計表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_SK0100買掛金集計表出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SK0100買掛金集計表出力

機能	指定された条件で買掛金集計表を作成する

引数	@iDATE		指定した日付(日が絶対1の日付）
	@isSEIID
	@ieSEIID

戻り値	

	2012/04/06	oosawa	差引金額＋消費税を出すように
	2015/02/10	oosawa		非課税金額を表示
							非課税抜仕入金額を表示
	2015/02/18	oosawa		非課税抜税抜き仕入金額に変更
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SK0100買掛金集計表出力]
	@iDATE		DATETIME,
	@i開始仕入先		VARCHAR(4),
	@i終了仕入先		VARCHAR(4),
	@RetST		INT			OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE	@ST	INT,
		@MSG	NVARCHAR(256)
	SET	@ST = 0
	SET	@MSG = ''

	SELECT 	SK.仕入先CD,SR.仕入先名1,SR.仕入先名2,SK.買掛日付,SK.前月残高,SK.支払金額,SK.調整金額,
			SK.仕入金額,SK.返品金額,SK.訂正金額,
			ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0) AS 差引仕入額,
			ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0) AS 税込純仕入額,--2012/04/06 ADD
			--非抜税込仕入金額 = ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0)
			--					- ISNULL(SK.非課税金額,0),--2015/02/10 ADD
			非抜税抜仕入金額 = ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)
								- ISNULL(SK.非課税金額,0),--2015/02/18 ADD
			非課税金額 = ISNULL(SK.非課税金額,0),--2015/02/10 ADD
			SK.消費税額,SK.当月残高,SK.伝票枚数
		FROM 	(TM買掛金額 AS SK
			LEFT JOIN  TM仕入先 AS SR ON SK.仕入先CD = SR.仕入先CD) 
		WHERE 	SK.買掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
		    AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
		    AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
		    AND         	NOT(		SK.前月残高	=	0
					AND    SK.支払金額	=	0
					AND	SK.調整金額	=	0
					AND	SK.仕入金額	=	0
					AND	SK.返品金額	=	0
					AND	SK.訂正金額	=	0
					AND	SK.消費税額	=	0
					AND	SK.当月残高	=	0)		
		ORDER	BY	SK.仕入先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '買掛金集計表集計エラー'
		GOTO	EXIT_SP
	END

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST
GO
