/****** Object:  StoredProcedure [dbo].[usp_担当者別客先在庫抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_担当者別客先在庫抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_担当者別客先在庫抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************

名称	usp_担当者別客先在庫抽出

機能	指定された条件で担当者別客先在庫データを取得する

使用箇所
	客先在庫マスタクラス
	usp_MT0100員数UploadCheck

引数
	@i指定日付
	@i担当者CD
	@i得意先CD
	@i製品NO
	@i仕様NO
	@i見積番号
戻り値	
	
*****************************************************
	2009/09/26	oosawa	新規
	2009/09/26	oosawa		受注区分を見積区分に変更
						自分自身を含めないように変更
	2009/10/08	oosawa		0件のデータを返すは駄目
						usp_MT0100員数UploadCheckで０件データとなってしまう。
	2009/12/24	oosawa		SUM(ISNULL)にしないとエラーになる。
	2010/01/07	oosawa		製品NO・仕様NOのWHERE句追加（NULLでは入ってこないことが前提）
*****************************************************/
CREATE     PROCEDURE [dbo].[usp_担当者別客先在庫抽出]
	@i指定日付		DATETIME,
	@i担当者CD		SMALLINT,
	@i得意先CD		VARCHAR(4),
	@i製品NO		CHAR(7),
	@i仕様NO		CHAR(7),
	@i見積番号		INT,			--2009/09/26 ADD

	@Ret合計在庫数	MONEY		OUTPUT,
	@Ret未管理FLG	SMALLINT		OUTPUT,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

	--2009/12/24 ADD↓
	SET	@Ret合計在庫数 = 0
	SET	@Ret未管理FLG = 0	--管理する
	--2009/12/24 ADD↑

	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME

	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別客先在庫
		WHERE 	
				担当者CD = @i担当者CD
			AND 	得意先CD = @i得意先CD
			AND	製品NO = @i製品NO		--2010/01/07 ADD
			AND	仕様NO = @i仕様NO		--2010/01/07 ADD
		GROUP BY 	
			担当者CD, 得意先CD
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--------------
	--指定日＜棚卸日はデータなし
	--------------
	IF @wk棚卸日付 IS NULL BEGIN
		--0件のデータを返す
		--0件のデータを返すは駄目！！！ usp_MT0100員数UploadCheckで０件データとなってしまう。
		--SELECT	0 WHERE 0<>0
		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END

	IF @i指定日付 < @wk棚卸日付 BEGIN
		--0件のデータを返す
		--SELECT	0 WHERE 0<>0
		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END
	--------------
	--未管理の場合
	--------------
	IF NOT EXISTS(SELECT 	担当者CD, 得意先CD, 製品NO, 仕様NO 
					FROM 	
						TM客先在庫_担当者別
					WHERE 	担当者CD = @i担当者CD
						AND 	得意先CD = @i得意先CD
						AND	製品NO + 仕様NO = COALESCE(@i製品NO,製品NO)+COALESCE(@i仕様NO,仕様NO)
			) BEGIN

		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END

	--------------
	--データ抽出（すべて）
	--------------
	SELECT	@Ret合計在庫数 = (ISNULL(TANA.棚卸数,0) 
 	 					+ ISNULL(NYU.客先在庫入庫数,0) 
 						- ISNULL(MIT.見積客先在庫数,0)
   					- ISNULL(INZ.員数客先在庫数,0))

-- 	SELECT 	TZM.担当者CD, TZM.得意先CD, TZM.製品NO, TZM.仕様NO, 
--  			棚卸数 = (ISNULL(TANA.棚卸数,0)),
--  			客先在庫入庫数 = (ISNULL(NYU.客先在庫入庫数,0)),
--  			見積客先在庫数 = (ISNULL(MIT.見積客先在庫数,0)), 
--  			員数客先在庫数 = (ISNULL(INZ.員数客先在庫数,0)),
--  			在庫残数 = ISNULL(TANA.棚卸数,0) 
--  					+ ISNULL(NYU.客先在庫入庫数,0) 
-- 					- ISNULL(MIT.見積客先在庫数,0),
-- 			出庫予定数 = ISNULL(INZ.員数客先在庫数,0),
--  			合計在庫数 = (ISNULL(TANA.棚卸数,0) 
-- 	 					+ ISNULL(NYU.客先在庫入庫数,0) 
-- 						- ISNULL(MIT.見積客先在庫数,0))
--  					- ISNULL(INZ.員数客先在庫数,0)
		FROM
			(
			--------------
			--担当者・得意先ごと
			--------------
			SELECT 	担当者CD, 得意先CD, 製品NO, 仕様NO
				FROM 	
					TM客先在庫_担当者別 (NOLOCK)
				WHERE 	
						担当者CD = @i担当者CD
					AND 	得意先CD = @i得意先CD
					AND	製品NO = @i製品NO		--2010/01/07 ADD
					AND	仕様NO = @i仕様NO		--2010/01/07 ADD
			) AS TZM

		LEFT JOIN 
			(
			--------------
			--棚卸数
			--------------
			SELECT 	担当者CD, 得意先CD, 製品NO, 仕様NO, 棚卸数
				FROM 	
					TD棚卸_担当者別客先在庫 (NOLOCK)
				WHERE 	
						担当者CD = @i担当者CD
					AND 	得意先CD = @i得意先CD
					AND 	棚卸日付 = @wk棚卸日付
					AND	製品NO = @i製品NO		--2010/01/07 ADD
					AND	仕様NO = @i仕様NO		--2010/01/07 ADD
			) AS TANA
			ON 	TZM.担当者CD = TANA.担当者CD AND TZM.得意先CD = TANA.得意先CD AND TZM.製品NO = TANA.製品NO AND TZM.仕様NO = TANA.仕様NO

		LEFT JOIN
			(
			----------------
			-- 客先在庫入庫数
			----------------
			SELECT 	担当者CD, 得意先CD, 製品NO, 仕様NO,
					SUM(ISNULL(入庫数量,0)) AS 客先在庫入庫数
				FROM 
					TD客先在庫入庫 AS NHE (NOLOCK)
				INNER JOIN 
					TD客先在庫入庫明細 AS NME (NOLOCK)
					ON 	NHE.客先在庫入庫連番 = NME.客先在庫入庫連番
				WHERE 	
						NHE.客先在庫入庫日付 >= @wk棚卸日付
					AND 	NHE.客先在庫入庫日付 <= @i指定日付
			    		AND 	NHE.担当者CD = @i担当者CD
			    		AND 	NHE.得意先CD = @i得意先CD
					AND	NME.製品NO = @i製品NO		--2010/01/07 ADD
					AND	NME.仕様NO = @i仕様NO		--2010/01/07 ADD
				GROUP BY 
					担当者CD, 得意先CD, 製品NO, 仕様NO
			) AS NYU
			ON 	TZM.担当者CD = NYU.担当者CD AND TZM.得意先CD = NYU.得意先CD AND TZM.製品NO = NYU.製品NO AND TZM.仕様NO = NYU.仕様NO

		LEFT JOIN
			(
			----------------
			-- 見積客先在庫数(売上)
			----------------
			SELECT 	MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO,
					SUM(ISNULL(MSM.客先在庫数,0)) AS 見積客先在庫数
				FROM 		
					TD見積 AS MT (NOLOCK)
				LEFT 	JOIN 	
					TD見積シートM AS MSM (NOLOCK)
					ON 	MT.見積番号 = MSM.見積番号
				WHERE 	
-- 						MT.受注区分	= 1
						MT.売上日付	IS NOT NULL
					AND 	MT.売上日付	>= @wk棚卸日付
					AND 	MT.売上日付 <= @i指定日付
			    		AND 	MT.担当者CD = @i担当者CD
			    		AND 	MT.得意先CD = @i得意先CD
					AND	MSM.製品NO = @i製品NO		--2010/01/07 ADD
					AND	MSM.仕様NO = @i仕様NO		--2010/01/07 ADD
					AND 	MT.見積番号 <> @i見積番号		--2009/09/26 ADD
					AND	MT.得意先CD <> '9999'		--2009/10/01 ADD
				GROUP BY 	
						MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO
			) AS MIT
			ON 	TZM.担当者CD = MIT.担当者CD AND TZM.得意先CD = MIT.得意先CD AND TZM.製品NO = MIT.製品NO AND TZM.仕様NO = MIT.仕様NO

		LEFT JOIN
			(
			----------------
			-- 員数客先在庫数（出荷予定）
			----------------
			SELECT 	MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO,
					SUM(ISNULL(MSM.客先在庫数,0)) AS 員数客先在庫数
				FROM 		
					TD見積 AS MT (NOLOCK)
				LEFT 	JOIN 	
					TD見積シートM AS MSM (NOLOCK)
					ON 	MT.見積番号 = MSM.見積番号
				WHERE 	
-- 						MT.受注区分	= 1	--2009/09/24 DEL
						MT.見積区分	= 1	--2009/09/24 ADD
					AND	MT.売上日付	IS NULL
					AND 	MT.売上納期	>= @wk棚卸日付
					AND 	MT.売上納期 <= @i指定日付
			    		AND 	MT.担当者CD = @i担当者CD
			    		AND 	MT.得意先CD = @i得意先CD
					AND	MSM.製品NO = @i製品NO		--2010/01/07 ADD
					AND	MSM.仕様NO = @i仕様NO		--2010/01/07 ADD
					AND 	MT.見積番号 <> @i見積番号		--2009/09/26 ADD
					AND	MT.得意先CD <> '9999'		--2009/10/01 ADD
				GROUP BY 	
						MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO
			) AS INZ
			ON 	TZM.担当者CD = INZ.担当者CD AND TZM.得意先CD = INZ.得意先CD AND TZM.製品NO = INZ.製品NO AND TZM.仕様NO = INZ.仕様NO

		WHERE 	TZM.担当者CD = @i担当者CD
			AND 	TZM.得意先CD = @i得意先CD
			AND	TZM.製品NO + TZM.仕様NO = COALESCE(@i製品NO,TZM.製品NO)+COALESCE(@i仕様NO,TZM.仕様NO)
		ORDER BY
				TZM.製品NO, TZM.仕様NO
		OPTION(RECOMPILE)--速くなるおまじない

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST <> 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST

GO
