/****** Object:  StoredProcedure [dbo].[usp_TK0300担当者別仕入先原価推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK0300担当者別仕入先原価推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK0300担当者別仕入先原価推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_TK0300担当者別仕入先原価推移表

機能	得意先毎の売上に対する仕入先別の原価の推移を作成する

		全社 前年・今年 仕入・売上合計金額
		担当者 前年・今年 仕入・売上合計金額
		担当者別仕入先別仕入金額明細
		担当者別経費
		を出力

引数

戻り値

修正履歴
	2012/05/16	oosawa		新規作成
	2013/05/13	oosawa		経費データしかない場合の処理を追加
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK0300担当者別仕入先原価推移表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS担当者CD		SMALLINT,
	@iE担当者CD		SMALLINT,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)
	DECLARE	@FIELD	VARCHAR(8000)
	DECLARE	@FIELD_T	VARCHAR(8000)
	
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/8/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	--全体合計金額ワークテーブル作成
	CREATE TABLE #TMP_ALL_TOTAL 
		(
			年月		INT,
			原価金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			担当者CD	SMALLINT		NOT NULL,
			年月		INT,
			原価金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--ヘッダー部　合計金額
	--年月別全体金額
	-- 前年と今年分
	---------------------------
		INSERT	INTO #TMP_ALL_TOTAL
				(年月,売上金額)
				SELECT		年月 = CONVERT(CHAR(6),UH.請求日付,112),
							SUM(UU.売上金額-UU.消費税額) AS 税抜金額
					FROM TD売上 AS UH  
						INNER JOIN TD売上明細 AS UM
							ON UH.売上番号 = UM.売上番号 
						INNER JOIN TD売上明細内訳 AS UU
							ON UM.売上番号 = UU.売上番号 
								AND UM.売上行番号 = UU.売上行番号
					WHERE	(
								(UH.請求日付 >= @iS集計日付
									AND UH.請求日付 <= @iE集計日付)					--今年度
							OR 
								(UH.請求日付 >= DATEADD(YY,-1,@iS集計日付)
									AND UH.請求日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							)
					GROUP BY     CONVERT(CHAR(6),UH.請求日付,112)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--TMPに存在するデータの原価を更新
		UPDATE	#TMP_ALL_TOTAL
				SET #TMP_ALL_TOTAL.原価金額 = SYU.原価額
			FROM	#TMP_ALL_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	年月 = CONVERT(CHAR(6),SM.支払日付,112),
								SUM(SM.税抜金額) AS 原価額
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
							WHERE	(
										(SM.支払日付 >= @iS集計日付
											AND SM.支払日付 <= @iE集計日付)					--今年度
									OR 
										(SM.支払日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.支払日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
						GROUP BY CONVERT(CHAR(6),SM.支払日付,112)
					) AS SYU
						ON	TMP.年月 = SYU.年月	

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--原価額月間値
		INSERT	INTO #TMP_ALL_TOTAL
				(年月,原価金額)
			SELECT SYU.年月,SYU.原価額
				FROM (
						SELECT	年月 = CONVERT(CHAR(6),SM.支払日付,112),
								SUM(SM.税抜金額) AS 原価額
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
							WHERE	(
										(SM.支払日付 >= @iS集計日付
											AND SM.支払日付 <= @iE集計日付)					--今年度
									OR 
										(SM.支払日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.支払日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
						GROUP BY CONVERT(CHAR(6),SM.支払日付,112)
					) AS SYU
					LEFT JOIN #TMP_ALL_TOTAL AS TMP
							ON	TMP.年月 = SYU.年月	
				WHERE	TMP.年月 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--SELECT '全体合計',* FROM #TMP_ALL_TOTAL
		--		order by 年月
	--END 全体　合計金額----------------------------------------------------------------

	---------------------------
	--ヘッダー部　売上金額
	--担当者別年月別売上金額
	---------------------------
		INSERT	INTO #TMP_TOTAL
				(担当者CD,年月,売上金額)
				SELECT	UH.担当者CD,
							年月 = CONVERT(CHAR(6),UH.請求日付,112),
							SUM(UU.売上金額-UU.消費税額) AS 税抜金額
							
						FROM TD売上 AS UH  
							INNER JOIN TD売上明細 AS UM
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD売上明細内訳 AS UU
								ON UM.売上番号 = UU.売上番号 
									AND UM.売上行番号 = UU.売上行番号
						WHERE	(
									(UH.請求日付 >= @iS集計日付
										AND UH.請求日付 <= @iE集計日付)					--今年度
								OR 
									(UH.請求日付 >= DATEADD(YY,-1,@iS集計日付)
										AND UH.請求日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								)
							AND UH.担当者CD >= COALESCE(@iS担当者CD,UH.担当者CD)
							AND UH.担当者CD <= COALESCE(@iE担当者CD,UH.担当者CD)
						GROUP BY     UH.担当者CD,CONVERT(CHAR(6),UH.請求日付,112)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--TMPに存在するデータの原価を更新
		UPDATE	#TMP_TOTAL
			SET #TMP_TOTAL.原価金額 = SYU.原価額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	SR.担当者CD,
								年月 = CONVERT(CHAR(6),SM.支払日付,112),
								SUM(SM.税抜金額) AS 原価額
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
							WHERE	(
										(SM.支払日付 >= @iS集計日付
											AND SM.支払日付 <= @iE集計日付)					--今年度
									OR 
										(SM.支払日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.支払日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
								AND SR.担当者CD >= COALESCE(@iS担当者CD,SR.担当者CD)
								AND SR.担当者CD <= COALESCE(@iE担当者CD,SR.担当者CD)
						GROUP BY SR.担当者CD, CONVERT(CHAR(6),SM.支払日付,112)
					) AS SYU
						ON	TMP.担当者CD = SYU.担当者CD
						AND	TMP.年月 = SYU.年月	

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--担当者原価額月間値
		INSERT	INTO #TMP_TOTAL
				(担当者CD,年月,原価金額)
			SELECT SYU.担当者CD,SYU.年月,SYU.原価額
				FROM (
						SELECT	SR.担当者CD,
								年月 = CONVERT(CHAR(6),SM.支払日付,112),
								SUM(SM.税抜金額) AS 原価額
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
							WHERE	(
										(SM.支払日付 >= @iS集計日付
											AND SM.支払日付 <= @iE集計日付)					--今年度
									OR 
										(SM.支払日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.支払日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
								AND SR.担当者CD >= COALESCE(@iS担当者CD,SR.担当者CD)
								AND SR.担当者CD <= COALESCE(@iE担当者CD,SR.担当者CD)
						GROUP BY SR.担当者CD, CONVERT(CHAR(6),SM.支払日付,112)
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.担当者CD = SYU.担当者CD
							AND	TMP.年月 = SYU.年月	
				WHERE	TMP.担当者CD IS NULL
					AND	TMP.年月 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--SELECT * FROM #TMP_TOTAL
		--		order by 担当者CD,年月
	--END ヘッダー部　売上金額----------------------------------------------------------------

	
	--------------------------------------
	--明細部	仕入先別仕入金額
	--担当者別仕入先別原価
	--------------------------------------
		SELECT	SR.担当者CD,
				SM.仕入先CD,
				年月 = CONVERT(CHAR(6),SM.支払日付,112),
				SUM(SM.税抜金額) AS 原価金額
			INTO #TMP
			FROM	TD仕入明細 AS SM 
				INNER JOIN TD仕入 AS SR
					ON SR.仕入番号 = SM.仕入番号
			WHERE	SM.支払日付 >= @iS集計日付
				AND	SM.支払日付 <= @iE集計日付
				AND SR.担当者CD >= COALESCE(@iS担当者CD,SR.担当者CD)
				AND SR.担当者CD <= COALESCE(@iE担当者CD,SR.担当者CD)
			GROUP BY SR.担当者CD, SM.仕入先CD, CONVERT(CHAR(6),SM.支払日付,112)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--2013/05/13 ADD↓
		--経費にしかないデータを作成
		INSERT	INTO #TMP
				(担当者CD,仕入先CD,年月,原価金額)
			SELECT SYU.担当者CD,'',SYU.年月,NULL
				FROM (
						SELECT	KM.担当者CD,
								年月 = CONVERT(CHAR(6),KH.経費日付,112)
								FROM	TD経費 AS KH
									INNER JOIN TD経費明細 AS KM
										ON KH.経費番号 = KM.経費番号
								WHERE	KH.経費日付 >= @iS集計日付
									AND	KH.経費日付 <= @iE集計日付
									AND KM.担当者CD >= COALESCE(@iS担当者CD,KM.担当者CD)
									AND KM.担当者CD <= COALESCE(@iE担当者CD,KM.担当者CD)
									AND NOT (KM.担当者CD IS NULL)
								GROUP BY KM.担当者CD, CONVERT(CHAR(6),KH.経費日付,112)
					) AS SYU
					LEFT JOIN #TMP AS TMP
							ON	TMP.担当者CD = SYU.担当者CD
							AND	TMP.年月 = SYU.年月	
				WHERE	TMP.担当者CD IS NULL
					AND	TMP.年月 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--2013/05/13 ADD↑

	--------------------------------------
	--明細部
	--担当者別経費
	--------------------------------------
		SELECT	KM.担当者CD,
				年月 = CONVERT(CHAR(6),KH.経費日付,112),
				KM.科目CD,
				SUM(KM.金額) AS 経費金額
			INTO #TMP_KH
				FROM	TD経費 AS KH
					INNER JOIN TD経費明細 AS KM
						ON KH.経費番号 = KM.経費番号
				WHERE	KH.経費日付 >= @iS集計日付
					AND	KH.経費日付 <= @iE集計日付
					AND KM.担当者CD >= COALESCE(@iS担当者CD,KM.担当者CD)
					AND KM.担当者CD <= COALESCE(@iE担当者CD,KM.担当者CD)
					AND NOT (KM.担当者CD IS NULL)
				GROUP BY KM.担当者CD, CONVERT(CHAR(6),KH.経費日付,112),KM.科目CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--END 担当者別経費


	--END データ作成----------------------------------------------------

	--初期日付セット
	SET	@wNENGETUCNT = @iS集計日付
	SET	@wCNT = 1

	DECLARE	@FIELD_ALL_T	VARCHAR(8000),
			@FIELD_KH		VARCHAR(8000)

	SET @FIELD = ''
	SET @FIELD_T = ''
	SET @FIELD_ALL_T = ''
	SET @FIELD_KH = ''
	
	WHILE	@iE集計日付 >= @wNENGETUCNT	BEGIN
		IF	@wCNT <> 1 BEGIN
			--
			SET @FIELD_ALL_T = @FIELD_ALL_T + ','
			SET @FIELD_T = @FIELD_T + ','
			SET @FIELD = @FIELD + ','
			SET @FIELD_KH = @FIELD_KH + ','
		END
		--全体計分
		SET	@FIELD_ALL_T = @FIELD_ALL_T + 'Z原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_ALL_T = @FIELD_ALL_T + 'Z売上金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END),'
		SET	@FIELD_ALL_T = @FIELD_ALL_T + 'K原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_ALL_T = @FIELD_ALL_T + 'K売上金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'

		--担当者計分
		SET	@FIELD_T = @FIELD_T + 'Z原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'Z税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'K税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'
		--仕入先明細分
		SET	@FIELD = @FIELD + '原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END)'
		
		--経費明細分
		SET	@FIELD_KH = @FIELD_KH + '経費金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.経費金額 ELSE 0 END)'

		SET	@wNENGETUCNT = DATEADD(M,1,@WNENGETUCNT)
		SET @wCNT = @wCNT + 1
	END

	--全体　前年・今年
	SET	@SQL = '
		SELECT	
				TMP_ALL_TOTAL.*
			FROM (
					SELECT	
							' + @FIELD_ALL_T + '
						FROM #TMP_ALL_TOTAL AS TMP
					) AS TMP_ALL_TOTAL
		'
	--SELECT @SQL
	EXEC (@SQL)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP




	--経費
		SET	@SQL = '
			SELECT	
					TN.担当者名,
					SI.科目名,
					COUNT(TMP.担当者CD) OVER(PARTITION BY TMP.担当者CD) AS ''Count'',
					TMP.*
				FROM (
						SELECT	TMP.担当者CD,
								TMP.科目CD,
								' + @FIELD_KH + '
							FROM #TMP_KH AS TMP
							GROUP BY TMP.担当者CD, TMP.科目CD
						) AS TMP
					INNER JOIN TM担当者 AS TN
						ON TMP.担当者CD = TN.担当者CD
					INNER JOIN TM科目 AS SI
						ON TMP.科目CD = SI.科目CD
				ORDER BY TMP.担当者CD,TMP.科目CD
			'
		--SELECT @SQL
		EXEC (@SQL)




	--担当者別年月売上金額
	--SELECT	
	--		TN.担当者名,
	--		TMP_TOTAL.*
	--	FROM (
	--		SELECT TMP.担当者CD,
	--			税抜金額1 = SUM(CASE WHEN TMP.年月 = 201201 THEN TMP.売上金額 ELSE 0 END),
	--			税抜金額2 = SUM(CASE WHEN TMP.年月 = 201202 THEN TMP.売上金額 ELSE 0 END),
	--			税抜金額3 = SUM(CASE WHEN TMP.年月 = 201203 THEN TMP.売上金額 ELSE 0 END),
	--			税抜金額4 = SUM(CASE WHEN TMP.年月 = 201204 THEN TMP.売上金額 ELSE 0 END),
	--			税抜金額5 = SUM(CASE WHEN TMP.年月 = 201205 THEN TMP.売上金額 ELSE 0 END),
	--			税抜金額6 = SUM(CASE WHEN TMP.年月 = 201206 THEN TMP.売上金額 ELSE 0 END)
	--		FROM #TMP_TOTAL AS TMP
	--		GROUP BY TMP.担当者CD
	--		) AS TMP_TOTAL
	--			INNER JOIN TM担当者 AS TN
	--				ON TMP_TOTAL.担当者CD = TN.担当者CD

	SET	@SQL = '
		SELECT	
				TN.担当者名,
				TMP_TOTAL.*
			FROM (
					SELECT	TMP.担当者CD,
							' + @FIELD_T + '
						FROM #TMP_TOTAL AS TMP
						GROUP BY TMP.担当者CD
					) AS TMP_TOTAL
				INNER JOIN TM担当者 AS TN
					ON TMP_TOTAL.担当者CD = TN.担当者CD
			ORDER BY TMP_TOTAL.担当者CD
		'
	--SELECT @SQL
	EXEC (@SQL)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--担当者別年月別仕入先別仕入金額
	--SELECT	
	--		TN.担当者名,
	--		SI.仕入先名1, SI.仕入先名2,
	--		COUNT(TMP.担当者CD) OVER(PARTITION BY TMP.担当者CD) AS 'Count',
	--		TMP.*
	--	FROM (
	--		SELECT TMP.担当者CD,
	--			TMP.仕入先CD,
	--			原価金額1 = SUM(CASE WHEN TMP.年月 = 201201 THEN TMP.原価金額 ELSE 0 END),
	--			原価金額2 = SUM(CASE WHEN TMP.年月 = 201202 THEN TMP.原価金額 ELSE 0 END),
	--			原価金額3 = SUM(CASE WHEN TMP.年月 = 201203 THEN TMP.原価金額 ELSE 0 END),
	--			原価金額4 = SUM(CASE WHEN TMP.年月 = 201204 THEN TMP.原価金額 ELSE 0 END),
	--			原価金額5 = SUM(CASE WHEN TMP.年月 = 201205 THEN TMP.原価金額 ELSE 0 END),
	--			原価金額6 = SUM(CASE WHEN TMP.年月 = 201206 THEN TMP.原価金額 ELSE 0 END)
	--		FROM #TMP AS TMP
	--		GROUP BY TMP.担当者CD, TMP.仕入先CD
	--		) AS TMP
	--			INNER JOIN TM担当者 AS TN
	--				ON TMP.担当者CD = TN.担当者CD
	--			INNER JOIN TM仕入先 AS SI
	--				ON TMP.仕入先CD = SI.仕入先CD
					
	SET	@SQL = '
		SELECT	
				TN.担当者名,
				SI.仕入先名1, SI.仕入先名2,
				COUNT(TMP.担当者CD) OVER(PARTITION BY TMP.担当者CD) AS ''Count'',
				TMP.*
			FROM (
					SELECT	TMP.担当者CD,
							TMP.仕入先CD,
							' + @FIELD + '
						FROM #TMP AS TMP
						GROUP BY TMP.担当者CD, TMP.仕入先CD
					) AS TMP
				INNER JOIN TM担当者 AS TN
					ON TMP.担当者CD = TN.担当者CD
				LEFT JOIN TM仕入先 AS SI
					ON TMP.仕入先CD = SI.仕入先CD
			ORDER BY TMP.担当者CD,TMP.仕入先CD
		'
	--SELECT @SQL
	EXEC (@SQL)
	
	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	drop table #TMP_TOTAL
	drop table #tmp

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
