/****** Object:  StoredProcedure [dbo].[usp_HD0200納品書発行]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0200納品書発行]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0200納品書発行]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[usp_HD0200納品書発行]
	(
		@i見積番号			INT,
		--OUTPUT
		@RetST			INT			OUTPUT,
		@RetMsg			NVARCHAR(256)	OUTPUT
	)
AS
/*
	2003/10/03	kawamura
	2003/11/28	oosawa	伝票区分追加
*/

	SET	NOCOUNT	ON

	DECLARE	@TRAN	SMALLINT,
			@ST		INT,
			@MSG		VARCHAR(256)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''


----------------------------------
-- 	売上Ｄ抽出・ワーク作成
----------------------------------
	SELECT 	UM.売上番号, 見積番号, 売上日付, UH.担当者CD, 現場名, 
			UH.得意先名1, UH.得意先名2, TM.郵便番号 AS 得郵便番号, TM.住所1 AS 得住所1, TM.住所2 AS 得住所2, TM.電話番号 AS 得TEL,
			納入得意先CD, 納入先CD, 納入先名1, 納入先名2, UH.郵便番号 AS 納郵便番号, UH.住所1 AS 納住所1, UH.住所2 AS 納住所2, 納TEL,
			UM.売上行番号, UM.仕分番号, UMU.売上明細行番号 AS 枝番, UM.仕分名称,
			ISNULL(UMU.伝票区分,'') AS 伝票区分,	--2003/11/28 ADD
			見積行番号, PC区分, 製品NO, 仕様NO, 漢字名称, W, D, H, D1, D2, H1, H2, 
			売上数量, 単位名, 売上単価, 売上金額
		INTO 	#WKTBL
		FROM 	TD売上 AS UH
		INNER JOIN 	TD売上明細 AS UM 
			ON 	UH.売上番号 = UM.売上番号
		INNER JOIN 	TD売上明細内訳 AS UMU 
			ON 	UM.売上番号 = UMU.売上番号 
			AND 	UM.売上行番号 = UMU.売上行番号
		LEFT JOIN 	TM得意先 AS TM 
			ON 	UH.納入得意先CD = TM.得意先CD
		WHERE 	見積番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

-----------------------------------------
-- 	消費税明細作成・ワークＤの最終明細に追加
-----------------------------------------
	INSERT #WKTBL
		(
		売上番号, 見積番号, 売上日付, 担当者CD, 現場名, 
		得意先名1, 得意先名2, 得郵便番号, 得住所1, 得住所2, 得TEL,
		納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 納郵便番号, 納住所1, 納住所2, 納TEL,
		売上行番号, 仕分番号, 枝番, 仕分名称,
		伝票区分,			--2003/11/28 ADD
		見積行番号, PC区分, 製品NO, 仕様NO, 漢字名称, W, D, H, D1, D2, H1, H2, 
		売上数量, 単位名, 売上単価, 売上金額
		)
	SELECT 
		D.売上番号, D.見積番号, 売上日付, 担当者CD, 現場名, 
		得意先名1, 得意先名2, 得郵便番号, 得住所1, 得住所2, 得TEL,
		納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 納郵便番号, 納住所1, 納住所2, 納TEL,
		売上行番号, 仕分番号, 枝番 + 1 AS 枝番, 仕分名称,
		'',				--2003/11/28 ADD
		0, '', '', '', '消費税', 0, 0, 0, 0, 0, 0, 0,
		0, '', 0, UH.外税額
		FROM
			(
			--ワーク明細の最大行取得--
			SELECT TOP 1 * 
				FROM 	#WKTBL
				ORDER BY 	仕分番号 DESC, 枝番 DESC
			) AS D
		INNER JOIN 
			(
			--売上Ｄの消費税取得--(伝票集計のみ採用)
			SELECT 	見積番号, 外税額 
				FROM 	TD売上
				WHERE 	外税額 <> 0
			) AS UH 
			ON 	D.見積番号 = UH.見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

----------------------------------
-- 	抽出データ（枝番毎に頁数をセット）
----------------------------------
	SELECT 	D.*, ((D.枝番-1)/8)+1 AS 頁
		FROM 	#WKTBL AS D
		ORDER BY 	D.売上行番号, D.仕分番号, D.枝番

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST

GO
