/****** Object:  StoredProcedure [dbo].[usp_MT0100CPY見積]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0100CPY見積]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0100CPY見積]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	機能	見積データをコピーします。

	内容	

	2003/07/25	kawamura	
	2003/09/16	oosawa		H1,H2,仕入先名,配送先名追加
	2003/10/29	oosawa		コメントの為に付け加えた「見積区分」を追加
	2005/07/04	oosawa		得意先別見積番号を追加のための修正
	2005/10/14	kawamura	U区分追加のための修正
	2009/10/01	oosawa		仕分レベルの納期・時間はコピーしない。
 	2013/03/08	oosawa		部署CD・社内伝用得意先項目追加
 	2013/04/19	oosawa		コピー時、納期S･納期E･見積区分はコピーしない
 	2013/07/19	oosawa		「社内伝票扱い」追加
 	2014/04/22	oosawa		受注区分を１
 							見積日付を受注日にセット(オペ日)
 							×納期を仕分レベルの納期にセット（クリアしてるのでできない！）
 							
 	2015/07/10	oosawa		物件番号の追加
 							※ウエルシア関係の情報はコピーしない。
 	2015/11/11	oosawa		物件番号はなし
 							ヤオコー情報はコピーする
	2016/06/22	oosawa		クレーム明細区分（1:クレーム）
							作業区分CD（1:施工 2:コール 3:内装）を追加
	2016/06/23	oosawa		しまむら伝票NO・納品日付をコピーするように変更
	2016/08/03	oosawa		しまむら伝票NOはコピーしない
	2018/05/03	oosawa		入出庫日、明細備考を追加
	2018/05/14	oosawa		仕入業者CD・仕入業者名を追加
	2019/12/12	oosawa		営業推進部CD追加
	2020/06/03	oosawa		発注数がある行はH発注保留にしてコピーする
	2020/09/19	oosawa		入出庫日はコピーしない
	2021/02/25	oosawa		統計用集計CD追加
	2023/05/11	oosawa		仕入単価・売上単価等金額系のコピーなし
=============================================*/
CREATE	PROCEDURE	[dbo].[usp_MT0100CPY見積]
	(
	@i見積番号		INT,
	@i得意先CD		VARCHAR(4),				--2005/07/04 ADD
	
	@RetNUMBER		INT			OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE 	@w見積番号	INT
	DECLARE	@w得意先別見積番号	INT		--2005/07/04 ADD

	DECLARE 	@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@w得意先名1		VARCHAR(28),
			@w得意先名2		VARCHAR(28),
			@w得TEL		VARCHAR(15),
			@w得FAX		VARCHAR(15),
			@w得意先担当者	VARCHAR(40)

	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--見積番号を取得します
	--------------------------------------------------		
		EXEC	@ST = usp_GetCounter '見積番号', '', @w見積番号 OUTPUT
		IF(@ST<>0) GOTO EXIT_SP

	--------------------------------------------------
	--得意先別見積番号を取得します	2005/07/04 ADD
	--------------------------------------------------		
		EXEC	@ST = usp_GetCounter '見積番号', @i得意先CD, @w得意先別見積番号 OUTPUT
		IF(@ST<>0) GOTO EXIT_SP

	--------------------------------------------------
	--得意先情報を取得します	2005/07/04 ADD
	--------------------------------------------------		
		SELECT	@w得意先名1 = 得意先名1,
				@w得意先名2 = 得意先名2,
				@w得TEL = 電話番号,
				@w得FAX = FAX番号,
				@w得意先担当者 = 得意先担当者名
			FROM TM得意先
			WHERE 得意先CD = @i得意先CD 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
	--------------------------------------------------
	--見積情報を取得し新データを作成します。（TD見積）
	--------------------------------------------------
		INSERT	TD見積
			(
				見積番号, 見積日付, 担当者CD, 見積件名, 
				得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者, 
				納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者, 
				納期S, 納期E, 備考, 物件規模金額, オープン日, 物件種別, 
				現場名, 支払条件, 支払条件その他, 納期表示, 納期その他, 
				見積日出力, 有効期限,
				受注区分,
				受注日付,
				大小口区分, 出精値引,
				合計金額, 原価合計, 原価率, 外税額, 税集計区分, 売上端数, 消費税端数, 
				初期登録日,登録変更日,
				得意先別見積番号,									--2005/07/04 ADD
				見積区分,						--2009/09/26 ADD
				--2013/03/08 ADD↓
				部署CD,
				販売先得意先CD,
				販売先得意先名1,
				販売先得意先名2,
				販売先納得意先CD,
				販売先納入先CD,
				販売先納入先名1,
				販売先納入先名2
				--2013/03/08 ADD↑
				--2013/07/19 ADD↓
				,社内伝票扱い
				--2013/07/19 ADD↑
				--2015/11/11 DEL↓
					--2015/07/10 ADD↓
				--,物件番号
					--2015/07/10 ADD↑
				--2015/11/11 DEL↑
				--2015/11/11 ADD↓
				,受付日付
				,完工日付
				,発注担当者名
				,作業内容
				,YKサプライ区分
				,YK物件区分
				,YK請求区分
				--2015/11/11 ADD↑
				,ウエルシア物件内容CD
				,ウエルシア物件内容名
				,ウエルシアリース区分
				,ウエルシア物件区分CD
				,ウエルシア売場面積
				,営業推進部CD--2019/12/12 ADD
				,集計CD--2021/02/25 ADD

			)
			SELECT
				@w見積番号,
				--見積日付,--2014/04/22 DEL
				CONVERT(CHAR(10),GETDATE(),111),--2014/04/22 ADD
				担当者CD, 見積件名, 
				@i得意先CD, @w得意先名1, @w得意先名2, @w得TEL, @w得FAX, @w得意先担当者, 	--2005/07/04 UPD
				納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者, 
				--納期S, 納期E, 備考, 物件規模金額, オープン日, 物件種別,	--2013/04/19 DEL
				NULL, NULL, 備考, 物件規模金額, オープン日, 物件種別,	--2013/04/19 ADD
				現場名, 支払条件, 支払条件その他, 納期表示, 納期その他, 
				見積日出力, 有効期限,
				--0,	--2014/04/22 DEL
				受注区分 = 1,--2014/04/22 ADD
				--NULL, --2014/04/22 DEL
				CONVERT(CHAR(10),GETDATE(),111),--2014/04/22 ADD
				大小口区分, 出精値引,
				合計金額, 原価合計, 原価率, 外税額, 税集計区分, 売上端数, 消費税端数, 
				CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111),
				@w得意先別見積番号,								--2005/07/04 ADD
				--見積区分,							--2009/09/26 ADD	--2013/04/19 DEL
				0,--2013/04/19 ADD

				--2013/03/08 ADD↓
				部署CD,
				販売先得意先CD,
				販売先得意先名1,
				販売先得意先名2,
				販売先納得意先CD,
				販売先納入先CD,
				販売先納入先名1,
				販売先納入先名2
				--2013/03/08 ADD↑
				--2013/07/19 ADD↓
				,社内伝票扱い
				--2013/07/19 ADD↑
				--2015/11/11 DEL↓
					--2015/07/10 ADD↓
				--,物件番号
					--2015/07/10 ADD↑
				--2015/11/11 DEL↑
				--2015/11/11 ADD↓
				,受付日付
				,完工日付
				,発注担当者名
				,作業内容
				,YKサプライ区分
				,YK物件区分
				,YK請求区分
				--2015/11/11 ADD↑
				,ウエルシア物件内容CD
				,ウエルシア物件内容名
				,ウエルシアリース区分
				,ウエルシア物件区分CD
				,ウエルシア売場面積
				,営業推進部CD--2019/12/12 ADD
				,集計CD--2021/02/25 ADD

				FROM 	TD見積
				WHERE 	見積番号 = @i見積番号

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--見積情報を取得し新データを作成します。（TD見積シートM）
	--------------------------------------------------
			INSERT	TD見積シートM
			(
				見積番号, 行番号,
				SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
				W, D, H, D1, D2, H1, H2,
				エラー内容, 見積数量, 単位名, 定価, 
				--仕入単価, 仕入率, 売上単価, 売上率,--2023/05/11 DEL
				U区分,
				--M区分,--2023/05/11 DEL
				--仕入金額, 売上金額, --2023/05/11 DEL
				売上税区分, 消費税額,
				仕入先CD, 仕入先名, 配送先CD, 配送先名,
				社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, 
				--社内在庫引当済F, 客先在庫引当済F,
				初期登録日,登録変更日,
				見積区分										--2003/10/29	ADD
				--,他社伝票番号--2016/08/03 DEL
				,他社納品日付--2016/06/23 ADD
				,クレーム明細区分,作業区分CD--2016/06/22 ADD
				,仕入業者CD,仕入業者名--2018/05/14 ADD
				,明細備考--,入出庫日--2018/05/03 ADD
			)
			SELECT
				@w見積番号, 行番号,
				SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
				W, D, H, D1, D2, H1, H2,
				エラー内容, 見積数量, 単位名, 定価, 
				--仕入単価, 仕入率, 売上単価, 売上率, --2023/05/11 DEL
				U区分=(CASE WHEN 発注数 <> 0 THEN 'H' ELSE U区分 END), 
				--M区分,--2023/05/11 DEL
				--仕入金額, 売上金額, --2023/05/11 DEL
				売上税区分, 消費税額,
				仕入先CD, 仕入先名, 配送先CD, 配送先名,
				社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, 
				--社内在庫引当済F, 客先在庫引当済F,
				--0, 0,
				CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111),
				見積区分										--2003/10/29	ADD
				--,他社伝票番号--2016/08/03 DEL
				,他社納品日付--2016/06/23 ADD
				,クレーム明細区分,作業区分CD--2016/06/22 ADD
				,仕入業者CD,仕入業者名--2018/05/14 ADD
				,明細備考--,入出庫日--2018/05/03 ADD
				FROM 	TD見積シートM
				WHERE 	見積番号 = @i見積番号
				ORDER BY 	行番号

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--見積情報を取得し新データを作成します。（TD見積シート内訳）
	--------------------------------------------------
			INSERT	TD見積シート内訳
			(
				見積明細連番, 見積番号, 行番号, 仕分番号, 数量
			)
			SELECT
				MM.見積明細連番, @w見積番号, UM.行番号, UM.仕分番号, UM.数量
				FROM 	TD見積シート内訳 AS UM
				LEFT JOIN 
					(
					SELECT 
						見積明細連番, 見積番号, 行番号
						FROM 	TD見積シートM
						WHERE 	見積番号 = @w見積番号
					) AS MM 
					ON 	@w見積番号 = MM.見積番号 AND UM.行番号 = MM.行番号
				WHERE 	UM.見積番号 = @i見積番号
				ORDER BY 	UM.行番号, UM.仕分番号

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--見積情報を取得し新データを作成します。（TD見積シート内訳名称）
	--------------------------------------------------
			INSERT	TD見積シート内訳名称
			(
-- 				見積番号, 仕分番号, 名称, 略称, 納期, 時間		--2009/10/01 DEL
				見積番号, 仕分番号, 名称, 略称,	他社部門CD			--2009/10/01 ADD
			)
			SELECT
-- 				@w見積番号, 仕分番号, 名称, 略称, 納期, 時間		--2009/10/01 DEL
				@w見積番号, 仕分番号, 名称, 略称, 他社部門CD			--2009/10/01 ADD
				FROM 	TD見積シート内訳名称
				WHERE 	見積番号 = @i見積番号
				ORDER BY 	仕分番号

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--新番号を返す
	--------------------------------------------------
	SET @RetNUMBER = @w見積番号



EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
