/****** Object:  StoredProcedure [dbo].[usp_社内在庫_出荷予定Subtract]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_社内在庫_出荷予定Subtract]
GO
/****** Object:  StoredProcedure [dbo].[usp_社内在庫_出荷予定Subtract]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROCEDURE	[dbo].[usp_社内在庫_出荷予定Subtract] 
	(
	@i見積番号		INT,
--	@iシート番号		INT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	指定された見積データの社内在庫数をマスタ内より引く
		
		社内在庫数自体の更新ではなく
		見積数を出荷予定数に、
		発注数を入荷予定数に更新して在庫数を算出する。

	内容	指定した見積番号の製品の社内在庫を元に戻す。
		SP区分=''、PC区分=''の製品が対象
		社内在庫マスタに登録していない製品が対象外。
		製品マスタの在庫管理区分＝しないは対象外。
		社内在庫引当済Fが0のものは対象外。（在庫引当ができていない明細の為）

	2003/06/09	OOSAWA	
*/
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
/*	DECLARE	@i見積番号	INT,
			@iシート番号	INT

	SET @i見積番号 = 1
	SET @iシート番号=1
*/	
	--BEGIN TRAN

	UPDATE TM社内在庫
		SET	出荷予定数 = 出荷予定数 - MZ.見積数量,
			入荷予定数 = 入荷予定数 - MZ.発注数
		FROM TM社内在庫 AS SZ
			INNER JOIN
				(SELECT MSM.製品NO, MSM.仕様NO, Sum(MSM.見積数量) AS 見積数量, Sum(MSM.発注数) AS 発注数
					FROM TD見積シートM AS MSM
						INNER JOIN TM製品 AS SH
							ON MSM.製品NO = SH.製品NO
							AND MSM.仕様NO = SH.仕様NO
						INNER JOIN TM社内在庫 AS SZ
							ON SH.製品NO = SZ.製品NO
							AND SH.仕様NO = SZ.仕様NO
					WHERE	SH.在庫区分=0
					AND		MSM.見積番号 =  @i見積番号
					AND		MSM.SP区分=''
					AND		MSM.PC区分=''
--					AND		MSM.社内在庫引当済F <> 0
					GROUP BY MSM.製品NO, MSM.仕様NO
				) AS MZ
			ON	SZ.製品NO = MZ.製品NO
			AND	SZ.仕様NO = MZ.仕様NO

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

/*	--社内在庫を戻したデータの社内在庫引当済Fをゼロに戻す。
	UPDATE TD見積シートM
		SET 社内在庫引当済F = 0
		WHERE	見積番号 =  @i見積番号
		AND		SP区分=''
		AND		PC区分=''

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
*/
	--SELECT * FROM TM社内在庫

	--COMMIT TRAN

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
