/****** Object:  StoredProcedure [dbo].[旧_usp_MT0100員数UploadCheck]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[旧_usp_MT0100員数UploadCheck]
GO
/****** Object:  StoredProcedure [dbo].[旧_usp_MT0100員数UploadCheck]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/* =============================================
	 usp_MT0100員数UploadCheck

	機能:	員数明細をチェックする
		
 =============================================
	2003/07/16	oosawa

	2003/07/28	oosawa	usp_Get製品区分にて製品区分を取得するように変更
	2003/07/28	kawamura	TD見積シートMテーブルに製品区分を持つように変更
	2003/08/07	oosawa	@i見積番号を持ち、前回情報を取得するように変更
					在庫エラーを出すのに前回の情報を参照して行なうように変更
	2003/08/22	oosawa		エラー内容があっても上書きするように変更
	2003/09/16	oosawa	H1,H2,仕入先名,配送先名追加
	2003/10/16	oosawa	サイズが入っていない場合、持ってくるように変更（製品付属情報）
	2003/10/29	oosawa	見積区分追加
	2004/12/01	oosawa	見積区分A・Sの追加
	2005/10/14	kawamura	U区分の追加
	2009/09/26	oosawa	在庫チェックをVB側で行なうように変更
	2009/10/05	oosawa	集計の情報を作成して在庫をチェックするように変更
	2009/12/24	oosawa	担当者別在庫抽出ストアド2本でNULLエラー
	2011/11/29	oosawa	単価マスタ・商品マスタと員数の単価が異なる場合は「売上単価違い」エラーを表示
 =============================================*/
CREATE         PROCEDURE [dbo].[旧_usp_MT0100員数UploadCheck]
	(
	@i見積番号		INT,
	@i見積日付		DATETIME,
	@i得意先CD		VARCHAR(4),
	@i売上端数		SMALLINT,
	@i消費税端数		SMALLINT,
	@i受注区分		SMALLINT,
	@i大小口区分		SMALLINT,
	@CompName		VARCHAR(100),

	@iRITUMAX		MONEY,
	@iRITUMIN		MONEY,

	--2009/10/05 ADD↓
	@i売上納期		DATETIME,
	@i担当者CD		SMALLINT,
	--2009/10/05 ADD↑

	@wErr行番号		VARCHAR(8000)	OUTPUT,	--2005/03/26 ADD
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

	--ヘッダー部の情報
	--売上日
/*	DECLARE	@i見積日付		DATETIME,
			@i得意先CD		VARCHAR(6),
			@i売上端数		SMALLINT,
			@i消費税端数		SMALLINT,
			@i受注区分		SMALLINT,
			@i大小口区分		SMALLINT

	SET @i売上端数 = 0 
	SET @i消費税端数 = 0
	SET @i大小口区分 = 0
	SET @i受注区分 = 1

	DECLARE	@CompName	VARCHAR(100)

	SET	@CompName = 'P2200L'
*/
	--製品判断区分
	DECLARE	@製品区分	INT	--0:製品 1:品群 2:ユニット 3:PCマスタ

	--エラーメッセージ用変数
	DECLARE	@wエラー内容	VARCHAR(255),
			@wErrCNT	INT,
			@wERR		SMALLINT		--usp_Chk製品のエラー切り分け用フラグ
--			@wErr行番号	VARCHAR(8000)	--2005/03/26 ADD

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		NVARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@RCST	INT

	SET	@RCST =	0

	SET	@wErr行番号 = ''				--2005/03/26 ADD

	DECLARE	@ROWS見積	INT

	DECLARE	@c見積明細連番 INT ,
			@c見積番号 	INT ,
			@c行番号 	INT ,
			@c追番 	INT ,
			@c展開CHK 	SMALLINT,
			@c見積区分	VARCHAR (1),		--2003/10/29	ADD
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
			@c仕入率	MONEY,
			@c売上単価 	MONEY,
			@c売上率	MONEY,
			@cU区分 	VARCHAR (1),		--2005/10/14 ADD
			@cM区分 	VARCHAR (1),
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c売上金額 	MONEY,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c仕入先CD 	VARCHAR (4),
			@c仕入先名 	VARCHAR (8),
			@c配送先CD 	VARCHAR (4),
			@c配送先名 	VARCHAR (8),
			@c社内在庫数 MONEY,
			@c客先在庫数 MONEY,
			@c転用数 	MONEY,
			@c発注数	MONEY,
			@c総数量 	MONEY,
			@c製品区分	SMALLINT,
			@c仕分数1 	MONEY,
			@c仕分数2 	MONEY,
			@c仕分数3 	MONEY,
			@c仕分数4 	MONEY,
			@c仕分数5 	MONEY,
			@c仕分数6 	MONEY,
			@c仕分数7 	MONEY,
			@c仕分数8 	MONEY,
			@c仕分数9 	MONEY,
			@c仕分数10 	MONEY,
			@c仕分数11	MONEY,
			@c仕分数12 	MONEY,
			@c仕分数13 	MONEY,
			@c仕分数14 	MONEY,
			@c仕分数15 	MONEY,
			@c仕分数16 	MONEY,
			@c仕分数17 	MONEY,
			@c仕分数18 	MONEY,
			@c仕分数19 	MONEY,
			@c仕分数20 	MONEY,
			@c仕分数21 	MONEY,
			@c仕分数22 	MONEY,
			@c仕分数23 	MONEY,
			@c仕分数24 	MONEY,
			@c仕分数25 	MONEY,
			@c仕分数26 	MONEY,
			@c仕分数27 	MONEY,
			@c仕分数28 	MONEY,
			@c仕分数29 	MONEY,
			@c仕分数30 	MONEY

	--消費税用変数
	DECLARE	@TAX		MONEY

	--旧見積の受注区分
	DECLARE	@Q受注区分	SMALLINT

	--CODEエラー用変数
	DECLARE	@CDエラー内容	VARCHAR(255)


	--2009/10/05 ADD↓
	--集計用TMPテーブル作成
	CREATE TABLE [dbo].[#Tmp見積明細_集計] (
		[製品NO] [char] (7) COLLATE Japanese_CI_AS NOT NULL ,
		[仕様NO] [char] (7) COLLATE Japanese_CI_AS NOT NULL ,
		[最大社ERR行番号] [INT] DEFAULT(0),
		[最大客ERR行番号] [INT] DEFAULT(0),
		[社内在庫数] [money] NOT NULL ,
		[客先在庫数] [money] NOT NULL ,
	 	[件数] [INT] DEFAULT(0),
		[社内在庫数FLG] [SMALLINT] DEFAULT(0) ,
		[社内適正在庫数FLG] [SMALLINT] DEFAULT(0) ,
		[客先在庫数FLG] [SMALLINT] DEFAULT(0) ,
	) ON [PRIMARY]

	--集計用TMPテーブル明細カーソル用変数
	DECLARE 	@cSY製品NO 		CHAR(7),
			@cSY仕様NO		CHAR(7),
			@cSY社内在庫数	MONEY,
			@cSY客先在庫数	MONEY,
			@cSY社内在庫数FLG	SMALLINT,
			@cSY社内適正在庫数FLG	SMALLINT,
			@cSY客先在庫数FLG	SMALLINT
	--ワーク変数
	DECLARE	
			@wSY適正在庫数		MONEY,
			@wSY社内在庫残数		MONEY,
			@wSY客先在庫残数		MONEY,
			@wSY未管理FLG			SMALLINT,
			@wSY社内在庫数FLG		SMALLINT,
			@wSY社内適正在庫数FLG	SMALLINT,
			@wSY客先在庫数FLG		SMALLINT,
			@wSY件数			INT

	--2009/10/05 ADD↑
	--2011/11/29 ADD↓
	DECLARE	@w基準売上単価		MONEY
	--2011/11/29 ADD↑

	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@wエラー内容 = ''
	SET	@wErrCNT = 0
	SET	@TAX = dbo.fn_GetTax(@i見積日付)

	--------------------------------------------------
	--旧受注区分の取得
	--------------------------------------------------
	SELECT @Q受注区分 = 受注区分
		FROM TD見積 (NOLOCK)
		WHERE 見積番号 = @i見積番号


--2009/10/05 ADD↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
	--------------------------------------------------
	--集計用テーブルを使用して社内在庫・客先在庫・社内在庫適正在庫をチェックしてFLGを付ける。
	--------------------------------------------------
	--集計結果を一時テーブルに入れる。
	EXEC('INSERT #Tmp見積明細_集計
			(製品NO, 仕様NO,最大社ERR行番号, 最大客ERR行番号, 社内在庫数, 客先在庫数, 件数)
			SELECT	製品NO, 仕様NO, 
					MAX(CASE WHEN 社内在庫数<>0 THEN 行番号 ELSE 0 END) AS 社行番号, 
					MAX(CASE WHEN 客先在庫数<>0 THEN 行番号 ELSE 0 END) AS 客行番号, 
					SUM(社内在庫数), SUM(客先在庫数), COUNT(*)
				FROM[##Tmp見積明細_' + @CompName + '] AS TM
				WHERE TM.製品区分 = 0
				GROUP BY 製品NO, 仕様NO'
		)
	--------------------------------------------------
	--集計用テーブルのカーソル
	--------------------------------------------------
	DECLARE	csr#Tmp見積明細_集計		CURSOR	LOCAL  FORWARD_ONLY FOR 
		SELECT 製品NO, 仕様NO,社内在庫数,客先在庫数,
				社内在庫数FLG,社内適正在庫数FLG,客先在庫数FLG
			FROM #Tmp見積明細_集計 AS TMP

	OPEN	csr#Tmp見積明細_集計

	SELECT	@ST = @@ERROR
 	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--カーソルのREAD
	FETCH NEXT FROM csr#Tmp見積明細_集計
		INTO	@cSY製品NO, @cSY仕様NO,@cSY社内在庫数,@cSY客先在庫数,
			@cSY社内在庫数FLG,@cSY社内適正在庫数FLG,@cSY客先在庫数FLG

	SET @ST = @@ERROR
 	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--集計用テーブルを展開します
	--------------------------------------------------
	WHILE (@@FETCH_STATUS <> -1)	BEGIN				--FETCH ステートメントが失敗したか、または行が結果セットに収まりません。
	  	 IF (@@FETCH_STATUS <> -2)	BEGIN			--取り出した行がありません。
			--初期値セット
			SET @wSY社内在庫数FLG = 0
			SET @wSY社内適正在庫数FLG = 0
			SET @wSY適正在庫数 = 0
			SET @wSY社内在庫残数 = 0
			SET @wSY未管理FLG = 0

			--社内在庫チェック
			EXEC @RCST = usp_担当者別社内在庫抽出 @i売上納期, @i担当者CD, @cSY製品NO, @cSY仕様NO, @i見積番号,
									@wSY適正在庫数 OUTPUT, @wSY社内在庫残数 OUTPUT,@wSY未管理FLG OUTPUT,
									@ST OUTPUT , @MSG OUTPUT 
 
-- 			--SET @ST = @@ERROR
--  set @MSG = @MSG +' usp_担当者別社内在庫抽出'
			IF ( @RCST <> 0 )	GOTO	EXIT_SP

-- PRINT CONVERT(VARCHAR(20),@wSY未管理FLG)
-- PRINT CONVERT(VARCHAR(20),@wSY適正在庫数)
-- PRINT  CONVERT(VARCHAR(20),@wSY社内在庫残数)

			IF @wSY未管理FLG = 0 BEGIN
				IF @wSY社内在庫残数 - @cSY社内在庫数 < @wSY適正在庫数 BEGIN	--自分を含めて
					--適正在庫数割れエラー
					SET @wSY社内適正在庫数FLG = 1
				END
				IF @cSY社内在庫数 > @wSY社内在庫残数 BEGIN
					--在庫数割れエラー
					SET @wSY社内在庫数FLG = 1
				END
			END

			SET @wSY客先在庫数FLG = 0
			SET @wSY客先在庫残数 = 0
			SET @wSY未管理FLG = 0


			--客先在庫チェック
			EXEC @RCST = usp_担当者別客先在庫抽出 @i売上納期, @i担当者CD, @i得意先CD, @cSY製品NO, @cSY仕様NO, @i見積番号,
									@wSY客先在庫残数 OUTPUT,@wSY未管理FLG OUTPUT,
									@ST OUTPUT , @MSG OUTPUT 

			--SET @ST = @@ERROR	
--  set @MSG = @MSG +' usp_担当者別客先在庫抽出'
			IF ( @RCST <> 0 )	GOTO	EXIT_SP

-- PRINT '客在'
-- PRINT CONVERT(VARCHAR(20),@wSY未管理FLG)
-- PRINT CONVERT(VARCHAR(20),@wSY客先在庫残数)

			IF @wSY未管理FLG = 0 BEGIN
				IF @cSY客先在庫数 > @wSY客先在庫残数 BEGIN
					--在庫数割れエラー
					SET @wSY客先在庫数FLG = 1
				END
			END
			---------------------
			--FLGの更新
			---------------------
			UPDATE #Tmp見積明細_集計
					SET	社内在庫数FLG	= @wSY社内在庫数FLG,
						社内適正在庫数FLG	= @wSY社内適正在庫数FLG,
						客先在庫数FLG	= @wSY客先在庫数FLG
				WHERE CURRENT OF csr#Tmp見積明細_集計

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		END
		--カーソルのREAD
		FETCH NEXT FROM csr#Tmp見積明細_集計
			INTO	@cSY製品NO, @cSY仕様NO,@cSY社内在庫数,@cSY客先在庫数,
				@cSY社内在庫数FLG,@cSY社内適正在庫数FLG,@cSY客先在庫数FLG
	END
	CLOSE	csr#Tmp見積明細_集計
	DEALLOCATE	csr#Tmp見積明細_集計
--2009/10/05 ADD↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑

	--------------------------------------------------
	--出力用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTbl
			FROM Tmp見積明細 (NOLOCK)
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------
	EXEC ('DECLARE	csr見積明細		CURSOR	 FORWARD_ONLY FOR '
			+'SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK,見積区分,'
					+' SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),'
					+' 漢字名称, W, D, H, D1, D2, H1, H2,'
					+' エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,'
					+' 仕入金額, 売上金額, 売上税区分, 消費税額,'
					+' 仕入先CD,  仕入先名, 配送先CD, 配送先名,'
					+' 社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,'
					+'仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,'					+'仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,'
					+'仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30'
				+' FROM	[##Tmp見積明細_' + @CompName + ']'
				+' ORDER BY	行番号'
		)

	OPEN	/*GLOBAL*/ csr見積明細
--	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS見積 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS見積 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END


	--集計処理
	FETCH NEXT FROM /*GLOBAL*/ csr見積明細
		INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
				@c展開CHK,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @c見積区分 = 'C'  OR @c見積区分 = 'S' BEGIN
		SET	@ST	= -1
		SET @MSG = '先頭の行にコメントCは入力できません。'
		GOTO EXIT_SP
	END


--	WHILE	( @@FETCH_STATUS = 0 )	BEGIN
	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
--	WHILE	( 0 = 0 )	BEGIN
FETCH_SP:
		SET @wERR = 0
		SET @wエラー内容 = ''

		--2009/10/05 ADD↓
		SET	@wSY社内在庫数FLG = 0
		SET	@wSY社内適正在庫数FLG = 0
		SET	@wSY客先在庫数FLG = 0
		SET	@wSY件数 = 0
		--2009/10/05 ADD↑

		SET @ST = @@ERROR
		IF ( @@FETCH_STATUS <> 0 ) GOTO SELECT_SP
--		IF ( @@FETCH_STATUS <> 0 ) BREAK
--		SELECT  @cSP区分,@cPC区分,@c製品NO,@c仕様NO
		--------------------------------------------------
		--製品NOがない明細の場合
		--------------------------------------------------
		IF @c製品NO = '' AND @cPC区分 = ''	BEGIN
			IF @c見積区分 = 'S'	BEGIN									--2004/12/01	ADD
				GOTO TEMP_NOCONV
			END ELSE BEGIN

				IF @c漢字名称 <> '' BEGIN
					--GOTO TEMP_NOCONV
					--IF @c見積区分 = 'C' BEGIN						--2003/10/29	ADD
					IF @c見積区分 = 'C' OR @c見積区分 = 'A' BEGIN				--2004/12/01	ADD
						GOTO TEMP_NOCONV
					END ELSE BEGIN
						GOTO CODE_CHECK
					END
				END
				ELSE BEGIN
					SET @wエラー内容 = 'マスタ未登録'
					SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
					GOTO TEMP_NOCONV
				END
			END
		END

		--------------------------------------------------
		--製品情報マスタよりマスタ情報を取得します。
		--------------------------------------------------
		SET @製品区分 = NULL

		EXEC @ST = usp_Get製品区分 @cPC区分, @c製品NO, @c仕様NO, 
					@製品区分 OUTPUT , @RetST OUTPUT , @RetMsg OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		--------------------------------------------------
		--製品情報に該当するものがない場合
		--------------------------------------------------
		IF @製品区分 IS NULL	BEGIN
			--PRINT 'NULL'
			SET @wエラー内容 = 'マスタ未登録'
			SET @wErrCNT = @wErrCNT +1
			--エラーの行番号を出力する
			SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
			GOTO TEMP_NOCONV
		END
		--0:製品 1:品群 2:ユニット 3:PCマスタ
		IF @製品区分 = 0 BEGIN
			--PRINT 'GOTO SEIHIN_SP'
			GOTO SEIHIN_SP
		END
		IF @製品区分 = 1 BEGIN
			--PRINT 'GOTO HINGUN_SP:' + CONVERT(VARCHAR(1),@製品区分)
			GOTO HINGUN_SP
		END
		IF @製品区分 = 2 BEGIN
			--PRINT 'GOTO UNIT_SP'
			GOTO UNIT_SP
		END
		IF @製品区分 = 3 BEGIN
			--PRINT 'GOTO PC_SP'
			GOTO PC_SP
		END

		--合致しなかったら次にいく
--		CONTINUE

	SEIHIN_SP:
		--PRINT 'SEIHIN_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_Chk製品 @c製品NO, @c仕様NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @wERR OUTPUT, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @wERR = 0 BEGIN
				GOTO SEIHIN_FUZOKU_READ
			END ELSE BEGIN
				SET @wErrCNT = @wErrCNT + 1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
			END
		END

	PC_SP:
		--PRINT 'PC_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_ChkPC @cPC区分, @c製品NO, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			SET @wErrCNT = @wErrCNT +1			--エラーの行番号を出力する
			SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD

			GOTO TEMP_NOCONV
		END

	HINGUN_SP:
		--PRINT 'HINGUN_SP'
		--------------------------------------------------
		--品群マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_CHG製品FROM品群 @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @cSP区分 OUTPUT , @c製品NO OUTPUT , @c仕様NO OUTPUT ,@c製品区分 OUTPUT , @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		--エラーがあっても、SPならばｺｰﾄﾞのチェックに行く。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @cSP区分 = ''	BEGIN
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				GOTO CODE_CHECK
			END
		END

	UNIT_SP:
		--PRINT 'UNIT_SP'
		--------------------------------------------------
		--ユニットマスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_CHG製品FROMユニット @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @cSP区分 OUTPUT , @c製品NO OUTPUT , @c仕様NO OUTPUT ,@c製品区分 OUTPUT , @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		--エラーがあっても、SPならばｺｰﾄﾞのチェックに行く。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @cSP区分 = ''	BEGIN
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				GOTO CODE_CHECK
			END
		END

SEIHIN_FUZOKU_READ:
		--PRINT 'SEIHIN_FUZOKU_READ'

		--------------------------------------------------
		--製品の付属情報を変数にセットします。
		--------------------------------------------------
		SELECT 
			@cW = (CASE @cW WHEN '' THEN W ELSE @cW END),			--2003/10/16	ADD↓
			@cD = (CASE @cD WHEN '' THEN D ELSE @cD END),
			@cH = (CASE @cH WHEN '' THEN H ELSE @cH END),
			@cD1 = (CASE @cD1 WHEN '' THEN D1 ELSE @cD1 END),
			@cD2 = (CASE @cD2 WHEN '' THEN D2 ELSE @cD2 END),
			@cH1 = (CASE @cH1 WHEN '' THEN H1 ELSE @cH1 END),
			@cH2 = (CASE @cH2 WHEN '' THEN H2 ELSE @cH2 END),		--2003/10/16	ADD↑
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			--2011/11/29 ADD↓
			@w基準売上単価 = CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価, @c売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価, @c売上単価) END,
			--2011/11/29 ADD↑
			@c売上税区分 = MS.売上税区分,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			AND		@cPC区分 = ''

		--PCマスタの場合
		SELECT 
			--@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			--@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			--2011/11/29 ADD↓
			@w基準売上単価 = CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価, @c売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価 ,@c売上単価) END,
			--2011/11/29 ADD↑
			@c売上税区分 = MS.売上税区分,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TMPC AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.PC区分 = MT.PC区分
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
			WHERE	MS.製品NO = @c製品NO
			--AND		@c仕様NO = ''
			AND		@cPC区分 <> ''

			--仕入率算出(桁数２　四捨五入)
			--PRINT '仕入率算出'
--			SET @c仕入率 = dbo.fn_CutFraction(0,dbo.fn_Divide(@c仕入単価,@c定価)*100,2)
			--売上率算出
--			SET @c売上率 =  dbo.fn_CutFraction(0,dbo.fn_Divide(@c売上単価,@c定価)*100,2)
			--仕入金額算出
--			SET @c仕入金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c仕入単価,0)
			--売上金額算出
--			SET @c売上金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c売上単価,0)
			--消費税額算出
--			IF @c売上税区分 = 0		--外税
--				SET @c消費税額 = 0
--			ELSE				--内税
--				SET @c消費税額 = dbo.fn_CutFraction(@i消費税端数, (@c売上金額 / (100 + @TAX) * @TAX), 0)



CODE_CHECK:
		--PRINT 'CODE_CHECK'

		--2011/11/29 ADD↓
		--------------------------------------------------
		--マスタとの売上単価の違いのチェックを行ないます。
		--------------------------------------------------
		IF @w基準売上単価 <> @c売上単価 BEGIN
			SET @wエラー内容 = '売上単価違い'
-- 			SET @wErrCNT = @wErrCNT +1
-- 			--エラーの行番号を出力する
-- 			SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)	
-- 			GOTO TEMP_NOCONV
			
		END
		--2011/11/29 ADD↑

		--2008/01/23 ADD↓
		--------------------------------------------------
		--原価率範囲のチェックを行ないます。
		--------------------------------------------------
		DECLARE	@wRITU	MONEY

		IF @c仕入単価 <> 0 BEGIN
			IF @c売上単価 <> 0 BEGIN
				SET @wRITU = (@c仕入単価 / @c売上単価) * 100

				IF @wRITU > @iRITUMAX BEGIN
					SET @wエラー内容 = '原価率上限オーバー'
					--SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					--SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
--					GOTO TEMP_NOCONV
				END

				IF @wRITU < @iRITUMIN BEGIN
					SET @wエラー内容 = '原価率下限オーバー'
					--SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					--SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
--					GOTO TEMP_NOCONV
				END
			END
		END
		--2008/01/23 ADD↑

		--------------------------------------------------
		--仕入先・配送先のチェックを行ないます。
		--------------------------------------------------
		--仕入先チェック
		IF NOT EXISTS(SELECT 仕入先CD FROM TM仕入先 (NOLOCK) WHERE 仕入先CD = @c仕入先CD) BEGIN
		--	IF @wエラー内容 <> '' BEGIN
		--		IF @cSP区分 = '*'	BEGIN		--2003/08/22	
					SET @wエラー内容 = '仕入先マスタ　未登録'
					SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
					GOTO TEMP_NOCONV
		--		END
		--	END
		END
		--配送先チェック
		IF NOT EXISTS(SELECT 配送先CD FROM TM配送先 (NOLOCK) WHERE 配送先CD = @c配送先CD) BEGIN
			--IF @wエラー内容 <> '' AND @cSP区分 = '*'	BEGIN		--2003/08/22	
				SET @wエラー内容 = '配送先マスタ　未登録'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
			--END
		END

		
ZAIKO_CHECK:
		--PRINT 'ZAIKO_CHECK'
		--------------------------------------------------
		--在庫のチェックを行ないます。(受注区分＝1:確定　在庫管理区分＝0:する)
		--------------------------------------------------
		--集計してからのほうがよい！！
--2009/09/26 DEL↓
-- 		IF @i受注区分 = 1  BEGIN
-- 			--社内在庫
-- /*			SELECT @wエラー内容 = CASE WHEN @c社内在庫数  > ISNULL(MSZ.現在庫数,0) THEN '社内在庫数が足りません。' ELSE '' END
-- 				FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
-- 					INNER JOIN (SELECT * FROM TM社内在庫) AS MSZ
-- 					ON MS.製品NO = MSZ.製品NO
-- 					AND MS.仕様NO = MSZ.仕様NO
-- 				WHERE MS.製品NO = @c製品NO
-- 				AND	MS.仕様NO = @c仕様NO
-- 				AND	@cPC区分 = ''
-- 				AND	@cSP区分 = ''
-- */			
-- 			SET @CDエラー内容 = ''		--2004/01/20 ADD
-- 			--前回が確定の場合、前回引き当てた数を足してから判断する。
-- 			SELECT @CDエラー内容 = CASE WHEN @c社内在庫数  > (ISNULL(SZ.現在庫数,0) + ISNULL(MTS.前回引当数,0)) THEN '社内在庫数が足りません。' ELSE '' END	 
-- 				FROM 
-- 					(SELECT MS.製品NO,MS.仕様NO,MSZ.現在庫数
-- 						FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
-- 							INNER JOIN (SELECT * FROM TM社内在庫) AS MSZ
-- 							ON MS.製品NO = MSZ.製品NO
-- 							AND MS.仕様NO = MSZ.仕様NO
-- 						WHERE MS.製品NO = @c製品NO
-- 						AND	MS.仕様NO = @c仕様NO
-- 						AND	@cPC区分 =	 ''
-- 						AND	@cSP区分 = '') AS SZ
-- 						LEFT JOIN 
-- 							(SELECT 製品NO,仕様NO,社内在庫数 AS 前回引当数
-- 								FROM TD見積シートM
-- 								WHERE 見積明細連番 = @c見積明細連番
-- 								AND	製品NO = @c製品NO
-- 								AND	仕様NO = @c仕様NO
-- 								AND	@cPC区分 = ''
-- 								AND	@cSP区分 = ''
-- 								AND	@Q受注区分 = 1) AS MTS
-- 						ON	SZ.製品NO = MTS.製品NO
-- 						AND	SZ.仕様NO = MTS.仕様NO
-- 			
-- 			IF @CDエラー内容 <> ''	BEGIN
-- 				SET @wErrCNT = @wErrCNT +1
-- 				SET @wエラー内容 = @CDエラー内容
-- 				--エラーの行番号を出力する
-- 				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
-- 				GOTO TEMP_NOCONV
-- 			END
-- 
-- 			--客先在庫
-- /*			SELECT @wエラー内容 = CASE WHEN @c客先在庫数  > ISNULL(MKZ.現在庫数,0) THEN '客先在庫数が足りません。' ELSE '' END
-- 				FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
-- 					INNER JOIN (SELECT * FROM TM客先在庫 WHERE 得意先CD = @i得意先CD) AS MKZ
-- 					ON MS.製品NO = MKZ.製品NO
-- 					AND MS.仕様NO = MKZ.仕様NO
-- 				WHERE MS.製品NO = @c製品NO
-- 				AND	MS.仕様NO = @c仕様NO
-- 				AND	@cPC区分 = ''
-- 				AND	@cSP区分 = ''
-- */
-- 			SET @CDエラー内容 = ''		--2004/01/20 ADD
-- 			SELECT @CDエラー内容 = CASE WHEN @c客先在庫数  > (ISNULL(SZ.現在庫数,0) + ISNULL(MTS.前回引当数,0))THEN '客先在庫数が足りません。' ELSE '' END
-- 				FROM 
-- 					(SELECT MS.製品NO,MS.仕様NO,MKZ.現在庫数
-- 						FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
-- 							INNER JOIN (SELECT * FROM TM客先在庫 WHERE 得意先CD = @i得意先CD) AS MKZ
-- 							ON MS.製品NO = MKZ.製品NO
-- 							AND MS.仕様NO = MKZ.仕様NO
-- 						WHERE MS.製品NO = @c製品NO
-- 						AND	MS.仕様NO = @c仕様NO
-- 						AND	@cPC区分 = ''
-- 						AND	@cSP区分 = '') AS SZ
-- 						LEFT JOIN 
-- 							(SELECT 製品NO,仕様NO,客先在庫数 AS 前回引当数
-- 								FROM TD見積シートM
-- 								WHERE 見積明細連番 = @c見積明細連番
-- 								AND	製品NO = @c製品NO
-- 								AND	仕様NO = @c仕様NO
-- 								AND	@cPC区分 = ''
-- 								AND	@cSP区分 = ''
-- 								AND	@Q受注区分 = 1) AS MTS
-- 						ON	SZ.製品NO = MTS.製品NO
-- 						AND	SZ.仕様NO = MTS.仕様NO
-- 
-- 			IF @CDエラー内容 <> ''	BEGIN
-- 				SET @wErrCNT = @wErrCNT +1
-- 				SET @wエラー内容 = @CDエラー内容
-- 				--エラーの行番号を出力する
-- 				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
-- 				GOTO TEMP_NOCONV
-- 			END
-- 		END
--2009/09/26 DEL↑ 

--2009/10/05 ADD↓
		--SET @wエラー内容 = ''--2011/11/29 DEL　前のエラー内容を消していた！
		--行番号のあっているデータのみチェック
		--社内在庫数
		IF EXISTS(SELECT * FROM #Tmp見積明細_集計 (NOLOCK) 
					WHERE	製品NO = @c製品NO
						AND	仕様NO = @c仕様NO
						AND	最大社ERR行番号 = @c行番号
						AND	NOT(社内在庫数FLG	= 0
								AND	社内適正在庫数FLG	= 0
								AND	客先在庫数FLG	= 0)
			) BEGIN

			--データ読み込み
			SELECT	@wSY社内在庫数FLG = 社内在庫数FLG,
					@wSY社内適正在庫数FLG = 社内適正在庫数FLG,
  					@wSY客先在庫数FLG = 客先在庫数FLG,
					@wSY件数 = 件数
				FROM #Tmp見積明細_集計 (NOLOCK) 
					WHERE	製品NO = @c製品NO
						AND	仕様NO = @c仕様NO
						AND	最大社ERR行番号 = @c行番号

			--SET @wエラー内容 = ''--2011/11/29 DEL

			IF (@wSY社内在庫数FLG = 1) BEGIN
				SET @wエラー内容 = @wエラー内容 + '社内'
			END
-- 			IF (@wSY社内適正在庫数FLG = 1) BEGIN
-- 				IF @wエラー内容 <> '' BEGIN
-- 					SET @wエラー内容 = @wエラー内容 + '/'
-- 				END
-- 				SET @wエラー内容 = @wエラー内容 + '適正'
-- 			END
-- 			IF (@wSY客先在庫数FLG = 1) BEGIN
-- 				IF @wエラー内容 <> '' BEGIN
-- 					SET @wエラー内容 = @wエラー内容 + '/'
-- 				END
-- 				SET @wエラー内容 = @wエラー内容 + '客先'
-- 			END

-- 			IF (@wSY社内在庫数FLG = 1) OR (@wSY社内適正在庫数FLG = 1) OR (@wSY客先在庫数FLG = 1) BEGIN
-- 			IF (@wSY社内在庫数FLG = 1) OR (@wSY客先在庫数FLG = 1) BEGIN
			IF (@wSY社内在庫数FLG = 1)  BEGIN
				--なにかしらのエラーがあった場合
				SET @wエラー内容 = @wエラー内容 + '在庫エラー(' + LTRIM(STR(ISNULL(@wSY件数,''))) + '件)'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)
				GOTO TEMP_NOCONV
			END
		END 

		--客先在庫数
		IF EXISTS(SELECT * FROM #Tmp見積明細_集計 (NOLOCK) 
					WHERE	製品NO = @c製品NO
						AND	仕様NO = @c仕様NO
						AND	最大客ERR行番号 = @c行番号
						AND	NOT(社内在庫数FLG	= 0
								AND	社内適正在庫数FLG	= 0
								AND	客先在庫数FLG	= 0)
			) BEGIN

			--データ読み込み
			SELECT	--@wSY社内在庫数FLG = 社内在庫数FLG,
					--@wSY社内適正在庫数FLG = 社内適正在庫数FLG,
					@wSY客先在庫数FLG = 客先在庫数FLG,
					@wSY件数 = 件数
				FROM #Tmp見積明細_集計 (NOLOCK) 
					WHERE	製品NO = @c製品NO
						AND	仕様NO = @c仕様NO
						AND	最大客ERR行番号 = @c行番号

			--SET @wエラー内容 = ''--2011/11/29 DEL

-- 			IF (@wSY社内在庫数FLG = 1) BEGIN
-- 				SET @wエラー内容 = @wエラー内容 + '社内'
-- 			END
-- 			IF (@wSY社内適正在庫数FLG = 1) BEGIN
-- 				IF @wエラー内容 <> '' BEGIN
-- 					SET @wエラー内容 = @wエラー内容 + '/'
-- 				END
-- 				SET @wエラー内容 = @wエラー内容 + '適正'
-- 			END
			IF (@wSY客先在庫数FLG = 1) BEGIN
-- 				IF @wエラー内容 <> '' BEGIN
-- 					SET @wエラー内容 = @wエラー内容 + '/'
-- 				END
				SET @wエラー内容 = @wエラー内容 + '客先'
			END

-- 			IF (@wSY社内在庫数FLG = 1) OR (@wSY社内適正在庫数FLG = 1) OR (@wSY客先在庫数FLG = 1) BEGIN
-- 			IF (@wSY社内在庫数FLG = 1) OR (@wSY客先在庫数FLG = 1) BEGIN
			IF (@wSY客先在庫数FLG = 1) BEGIN
				--なにかしらのエラーがあった場合
				SET @wエラー内容 = @wエラー内容 + '在庫エラー(' + LTRIM(STR(ISNULL(@wSY件数,''))) + '件)'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)
				GOTO TEMP_NOCONV
			END
		END

--2009/10/05 ADD↑


TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。
		--------------------------------------------------
		INSERT	#WkTbl
			(
			見積明細連番, 見積番号, 行番号, 追番, 見積区分,
			展開CHK, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
			W, D, H, D1, D2, H1, H2, 
			エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
			仕入金額, 売上金額, 売上税区分, 消費税額,
			仕入先CD, 仕入先名, 配送先CD, 配送先名,
			社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分,
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
			社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/05 ADD
			)
		SELECT
			@c見積明細連番,@c見積番号, @c行番号,@c追番,@c見積区分,
			@c展開CHK,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
			@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
			@wエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
			@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
			@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
			@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量, @c製品区分,
			@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
			@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
			@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30,
			@wSY社内在庫数FLG, @wSY社内適正在庫数FLG, @wSY客先在庫数FLG	--2009/10/05 ADD

		SET @ST = @@ERROR	
		IF ( @ST <> 0 )	GOTO	EXIT_SP

--	END--WHILE

--		FETCH NEXT FROM /*GLOBAL*/ csr見積明細
--			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番
		FETCH NEXT FROM /*GLOBAL*/ csr見積明細
			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
					@c展開CHK,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
					@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
					@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
					@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
					@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
					@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
					@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--  set @MSG = @MSG +' 明細LOOP_END'

	--PRINT 'GOTO FETCH_SP'
	GOTO FETCH_SP
SELECT_SP:
	IF @c見積区分 = 'A' BEGIN
		SET	@ST	= -1
		SET @MSG = '最後の行にコメントA・Sは入力できません。'
		GOTO EXIT_SP
	END


	--PRINT 'SELECT_SP'
-- 	SELECT * FROM #WkTbl


	SELECT WK.*,@wErrCNT AS ErrCnt
		FROM #WkTbl AS WK
			ORDER BY WK.見積番号,WK.行番号

--	DROP TABLE #WkTbl
EXIT_SP:
	--PRINT 'EXIT_SP'
 	IF( CURSOR_STATUS( 'GLOBAL', 'csr見積明細' ) >= 0 )	BEGIN
-- 	IF( CURSOR_STATUS( 'LOCAL', 'csr見積明細' ) >= 0 )	BEGIN
		CLOSE	csr見積明細
		DEALLOCATE	csr見積明細
	END
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST <> 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
/*
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	--SELECT 123,456
	RETURN @ST
*/


GO
