/****** Object:  StoredProcedure [dbo].[usp_社内在庫_出荷予定Add]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_社内在庫_出荷予定Add]
GO
/****** Object:  StoredProcedure [dbo].[usp_社内在庫_出荷予定Add]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE	PROCEDURE	[dbo].[usp_社内在庫_出荷予定Add]
	(
	@iSP区分		VARCHAR(1),
	@iPC区分		VARCHAR(1),
	@i製品NO		CHAR(7),
	@i仕様NO		CHAR(7),
	@i社内引当数		MONEY,
	@i見積数量		MONEY,
	@i発注数		MONEY,
--	@o社内在庫引当済F	SMALLINT		OUTPUT,
--	@oエラー内容		VARCHAR(255)	OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
/*
	機能	指定された製品のマスタの在庫数を更新する。
		現在庫数＜入力社内在庫数の場合エラーを返す
		
		社内在庫数自体の更新ではなく
		見積数を出荷予定数に、
		発注数を入荷予定数に更新して在庫数を算出する。

	内容	一製品毎に処理を行なう。
		製品の社内在庫を元に戻す。
		SP区分=''、PC区分=''の製品が対象
		社内在庫マスタに登録していない製品が対象外。
		製品マスタの在庫管理区分＝しないは対象外。

	2003/06/09	OOSAWA	
	2003/07/01	OOSAWA	UPDATE
*/
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	
	--マスタ内データ保持用
	DECLARE	@M在庫区分	INT,
			@M現在庫数	MONEY
/*
	SET	@i製品NO = 'S7001P'
	SET	@i仕様NO = ''
	SET	@io社内引当数 = 90
*/
	--SP区分がついている場合終了
	IF @iSP区分 <> ''	GOTO EXIT_SP
	PRINT 'SP'

	--PC区分がついている場合終了
	IF @iPC区分 <> ''	GOTO EXIT_SP
	PRINT 'PC'

	--在庫状況を取得する
	SELECT 	@M在庫区分 = 在庫区分,
			@M現在庫数 = 現在庫数
		FROM TM製品 INNER JOIN TM社内在庫
		ON TM製品.製品NO = TM社内在庫.製品NO
			AND TM製品.仕様NO = TM社内在庫.仕様NO
		WHERE TM製品.製品NO = @i製品NO
		AND	TM製品.仕様NO = @i仕様NO
	

	SET	@ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('製品№:%s. 製品でエラーが発生しました。 ', 16, 1,@i製品NO)
		GOTO	EXIT_SP
	END
	--在庫マスタにない場合終了
	IF @M現在庫数 IS NULL	GOTO EXIT_SP

	--在庫管理しない(在庫区分 = 1)は終了
	IF @M在庫区分 = 1	GOTO EXIT_SP
	
	--在庫数の引当処理
	IF @M現在庫数 >= @i社内引当数 BEGIN
		--現在庫数が引当数より多い場合
		UPDATE TM社内在庫
			SET	出荷予定数 = 出荷予定数 + @i見積数量,
				入荷予定数 = 入荷予定数 + @i発注数
			WHERE 製品NO = @i製品NO
			AND	仕様NO = @i仕様NO
	
		--SET @o社内引当数 = @i社内引当数
		--SET @o社内在庫引当済F = 1
	END 
	ELSE BEGIN
		--現在庫数が引当数より少ない場合
/*		SET @io社内引当数 = @M現在庫数
	
		UPDATE TM社内在庫
			SET 出荷予定数 = 出荷予定数 + @M現在庫数
			WHERE 製品NO = @i製品NO
			AND	仕様NO = @i仕様NO
*/
		SET @ST = -1
		SET @MSG = @i製品NO + ' ' + @i仕様NO + CHAR(13) + '  社内在庫数が足りません。'
		--SET @o社内在庫引当済F = 0

	END
	
	--SELECT @io社内引当数

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
