/****** Object:  StoredProcedure [dbo].[usp_TK3500クレーム集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK3500クレーム集計表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK3500クレーム集計表出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_TK3500クレーム集計表出力

機能	作業区分4「クレーム」の仕入を集計する

引数

戻り値

修正履歴
	2022/10/05	oosawa		新規作成
	2023/12/07	oosawa		明細備考を原因として表示

*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK3500クレーム集計表出力]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS得意先CD		VARCHAR(7),
	@iE得意先CD		VARCHAR(7),
	
	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'


	---------------------------
	--経費集計
	---------------------------
	SELECT	SM.仕入日付, MH.得意先CD, MH.得意先名1, MH.得意先名2, MH.物件種別, SM.見積番号, MH.見積件名, 
			SMU.漢字名称, SMU.製品NO, SMU.仕様NO, SMU.W, SMU.D, SMU.H, SMU.仕入単価, SMU.仕入数量, SMU.仕入金額,
			SM.仕入先CD, SM.仕入先名1, SM.仕入先名2
			, MSM.明細備考--2023/12/07 ADD
		FROM	TD仕入明細 AS SM
			INNER JOIN	TD仕入明細内訳 AS SMU
				ON SM.仕入番号 = SMU.仕入番号
			INNER JOIN	TD見積 AS MH
				ON SM.見積番号 = MH.見積番号
			INNER JOIN	TD見積シートM AS MSM
				ON SMU.見積明細連番 = MSM.見積明細連番
		WHERE	MSM.作業区分CD = 4
			AND SM.仕入日付 >= @iS集計日付
			AND SM.仕入日付 <= @iE集計日付
    		AND	MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
    		AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
		ORDER BY	MH.得意先CD, MH.物件種別, SM.見積番号, SMU.漢字名称, SMU.製品NO, SMU.仕様NO, SMU.W, SMU.D, SMU.H, 
                    SMU.仕入単価, SMU.仕入数量, SMU.仕入金額, SM.仕入先CD

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
