/****** Object:  StoredProcedure [dbo].[usp_見積出力履歴更新]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_見積出力履歴更新]
GO
/****** Object:  StoredProcedure [dbo].[usp_見積出力履歴更新]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE	PROCEDURE [dbo].[usp_見積出力履歴更新]
	(
		@iListName	VARCHAR(255),
		@iNumber	INT,
		@iPCName	VARCHAR(255) = NULL,
		@RetST	INT			OUTPUT,
		@RetMSG	VARCHAR(255)	OUTPUT
	)
AS
/*
	機能	見積より出力される4つの帳票の最新の出力履歴を保持する。
	引数	@iListName	帳票名をセットする。
		@iNumber	テーブル内のレコード番号（伝票番号）をセットする。
		@iPCName	コンピュータ名を送る。

	備考	

	2003/11/28	OOSAWA	作成
*/

	SET	NOCOUNT ON

	--端末表示用
	DECLARE @wPCName	AS VARCHAR(255)

	DECLARE
		@TRAN	INT,
		@ST		INT,
		@MSG		VARCHAR(255)
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--PCNameがない場合
	IF @iPCName IS NULL	BEGIN
		SET	@iPCName = HOST_NAME()
	END

	------------------------------------------------------------------------------------------
	--	トランザクションを開始します
	------------------------------------------------------------------------------------------
	BEGIN TRAN
	------------------------------------------------------------------------------------------
	--	履歴情報をセットします
	------------------------------------------------------------------------------------------
	--新規の場合 (伝票番号 = 0)
	IF NOT EXISTS(SELECT ListName 
				FROM TW見積出力履歴 
				WHERE	ListName = @iListName
				AND	Number = @iNumber) BEGIN

		--履歴情報書き込み
		INSERT TW見積出力履歴
			(
				ListName,
				Number,
				PCName,
				CreateDate
			)
			VALUES
			(
				@iListName,
				@iNumber,
				@iPCName,
				GETDATE()
			)
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END ELSE BEGIN
		UPDATE TW見積出力履歴
			SET	PCName = @iPCName,
				CreateDate = GETDATE()
		WHERE	ListName = @iListName
		AND		Number = @iNumber

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END
EXIT_SP:

	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
