/****** Object:  StoredProcedure [dbo].[usp_HJ0300コード変更]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HJ0300コード変更]
GO
/****** Object:  StoredProcedure [dbo].[usp_HJ0300コード変更]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_HJ0300コード変更

機能	製品NO・仕様NOの変更

引数	

戻り値	

*****************************************************
	2015/02/28	oosawa		新設
	2018/06/11	oosawa		全角・半角判断追加
*****************************************************/
CREATE	PROCEDURE	[dbo].[usp_HJ0300コード変更] 
	(
		@i製品NO_OLD			CHAR(12),
		@i仕様NO_OLD			CHAR(10),

		@i製品NO_NEW			CHAR(12),
		@i仕様NO_NEW			CHAR(10),

		@RetST			INT			OUTPUT,
		@RetMsg			VARCHAR(255)	OUTPUT
	)	
AS
 	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE		@DEBUG		VARCHAR(10)
	SET	@DEBUG = 'FALSE'
	----SET @DEBUG = 'TRUE'
	
	DECLARE	@wTBL	AS VARCHAR(255)

	--------------------------------------------------
	--トランザクションの開始
	--------------------------------------------------
	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--製品NO・仕様NOの変更
	--------------------------------------------------
			BEGIN TRY
				--------------------------------------------------------
				--値セット
				--------------------------------------------------------
				--SET	@i製品NO_NEW = @c新
				--SET	@i製品NO_OLD = @c製品NO

				--SET	@i仕様NO_NEW = @c仕様NO
				--SET @i仕様NO_OLD = @c仕様NO

				----------------------------------------------------------
				----廃盤処理
				----------------------------------------------------------
				--IF	@c廃盤 = '1' BEGIN
				--	UPDATE	TM製品
				--			SET	廃盤FLG = 1
				--		WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
				--			AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)
					
				--	GOTO EXIT_LOOP;
				--END
				--------------------------------------------------------
				--存在チェック
				--------------------------------------------------------
				IF EXISTS(SELECT * FROM TM製品
						--WHERE	製品NO = COALESCE(@i製品NO_NEW,製品NO)
						--	AND	仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
						--2018/06/11 ADD↓
						WHERE	製品NO = COALESCE(@i製品NO_NEW,製品NO) COLLATE Japanese_Bin
							AND	仕様NO = COALESCE(@i仕様NO_NEW,仕様NO) COLLATE Japanese_Bin
						--2018/06/11 ADD↑
																		) BEGIN
					PRINT 'ダブり'
					
					IF @@TRANCOUNT > 0
						ROLLBACK TRANSACTION;
					--終了
					--RETURN
					SET	@ST = -1
					SET @MSG = 'ダブり'
					GOTO EXIT_SP
				END
				----------------------------------------------------
				--END---存在チェック
				----------------------------------------------------
				----------------------------------------------------
				--変更処理
				----------------------------------------------------
				SET	@wTBL = 'TM製品'
				UPDATE	TM製品
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO),
						旧製品NO = 製品NO,
						旧仕様NO = 仕様NO
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				SET	@wTBL = 'TM製品_メモ'
				UPDATE	TM製品_メモ
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	TM製品構成
					SET	親製品NO = COALESCE(@i製品NO_NEW,親製品NO),
						親仕様NO = COALESCE(@i仕様NO_NEW,親仕様NO)
					WHERE	親製品NO = COALESCE(@i製品NO_OLD,親製品NO)
						AND	親仕様NO = COALESCE(@i仕様NO_OLD,親仕様NO)

				UPDATE	TM製品構成
					SET	子製品NO = COALESCE(@i製品NO_NEW,子製品NO),
						子仕様NO = COALESCE(@i仕様NO_NEW,子仕様NO)
					WHERE	子製品NO = COALESCE(@i製品NO_OLD,子製品NO)
						AND	子仕様NO = COALESCE(@i仕様NO_OLD,子仕様NO)

				UPDATE	TM製品情報
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	TM顧客テンプレート
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	TM単価
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	TD見積シートM
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	TD発注明細
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	TD仕入明細内訳
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	TD売上明細v2
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	Tmp見積明細
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	Tmp仕入明細内訳
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				UPDATE	Tmp売上明細内訳
					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)
						

						
				--SnYTWDB
--				UPDATE	SnYTWDB.dbo.TMヤオコー棚割用製品
--					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
--						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
--					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
--						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)
					
--				UPDATE	SnYTWDB.dbo.TDヤオコー棚割明細
--					SET	製品NO = COALESCE(@i製品NO_NEW,製品NO),
--						仕様NO = COALESCE(@i仕様NO_NEW,仕様NO)
--					WHERE	製品NO = COALESCE(@i製品NO_OLD,製品NO)
--						AND	仕様NO = COALESCE(@i仕様NO_OLD,仕様NO)

				
				
				
				

				--PRINT '成功::' + @c廃盤 + '/' + @c新 + '/' + @c製品NO + '/' + @c仕様NO

			END TRY
			BEGIN CATCH
				SELECT 
					ERROR_NUMBER() AS ErrorNumber
					,ERROR_SEVERITY() AS ErrorSeverity
					,ERROR_STATE() AS ErrorState
					,ERROR_PROCEDURE() AS ErrorProcedure
					,ERROR_LINE() AS ErrorLine
					,ERROR_MESSAGE() AS ErrorMessage;

				IF @@TRANCOUNT > 0
					ROLLBACK TRANSACTION;

					SET	@ST = -1
					SET @MSG = '失敗::' + @i製品NO_OLD + ' ' + @i仕様NO_OLD + ':' + @i製品NO_NEW+ ' ' + @i仕様NO_NEW
				--PRINT '失敗::' + @c廃盤 + '/' + @c新 + '/' + @c製品NO + '/' + @c仕様NO
			END CATCH

			IF @@TRANCOUNT > 0 BEGIN
				IF (@DEBUG = 'TRUE') BEGIN
					ROLLBACK TRAN
				END ELSE BEGIN
					COMMIT TRAN
				END	
			END




EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
 			COMMIT TRAN
--			ROLLBACK TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST



GO
