/****** Object:  StoredProcedure [dbo].[usp_M4200三研予測抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_M4200三研予測抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_M4200三研予測抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_M4200三研予測抽出

機能	指定された条件で三研予測額を取得する

引数
	@i予測年月

戻り値	
	@RetFlg	：	処理区分用データ存在フラグ
*****************************************************/
CREATE PROCEDURE [dbo].[usp_M4200三研予測抽出]
	@i予測年月		INT,
	
	@RetFlg			SMALLINT		OUTPUT,
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE @期首月	INT

	--月保持
	DECLARE	@DATE1		DATETIME,
			@DATE2		DATETIME

	DECLARE 	@ST	INT,
				@FLG	SMALLINT,
				@MSG	VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

	--会社の期首月を取得します
	SELECT @期首月 = 期首月
		 FROM TM会社
	
	IF @期首月 IS NULL	BEGIN
		SET	@ST = -1
		RAISERROR('会社の期首月が未定義です。 ', 16, 1)
		GOTO	EXIT_SP
	END

	--ワークテーブル作成
	CREATE TABLE #wkTBL (
		予測年月		DATETIME	NOT NULL
		PRIMARY KEY  NONCLUSTERED
  		(
   			予測年月
  		),
 		)
		--) ON [PRIMARY]
	SET @ST = @@ERROR
	IF (@ST <> 0)	BEGIN
		SET @MSG = 'ワークテーブル作成エラー'
		GOTO EXIT_SP
	END

	-- 12ヶ月分のテーブルを作成します
	SET	@DATE1 	= CONVERT(DATETIME, STR(@i予測年月) + '/' + STR(@期首月) + '/1',111)
	SET 	@DATE2	=DATEADD(MONTH,11,@DATE1)

	INSERT INTO #wkTBL VALUES (@DATE1)
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,1,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,2,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,3,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,4,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,5,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,6,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,7,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,8,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,9,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,10,@DATE1))
	INSERT INTO #wkTBL VALUES (DATEADD(MONTH,11,@DATE1))

	--チームCD目標金額を追加します
	IF NOT EXISTS(SELECT 予測売上額 FROM TM三研予測 WHERE 予測年月>=@DATE1 AND 予測年月<=@DATE2) BEGIN
		SET	@FLG=0
	END ELSE	BEGIN
		SET	@FLG=1
	END

	SELECT	WK.予測年月,
			予測売上額 = ISNULL(TY.予測売上額,0),
			予測原価額 = ISNULL(TY.予測原価額,0)
		FROM #WKTBL AS WK
			LEFT JOIN TM三研予測 AS TY
				ON	WK.予測年月 = TY.予測年月
		ORDER BY WK.予測年月

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	--DROP TABLE #WKTBL
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	SET	@RetFlg=@FLG
	RETURN @RetFlg


	RETURN @ST
GO
