/****** Object:  StoredProcedure [dbo].[usp_MT0111客先在庫履歴表示]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0111客先在庫履歴表示]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0111客先在庫履歴表示]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_MT0111客先在庫履歴表示

機能	指定された条件でデータを抽出する

引数	

戻り値	

UPDATE
	2009/08/17	新規作成

*****************************************************
	2009/10/01	oosawa		棚卸日のNULLチェック追加

*****************************************************/
CREATE PROCEDURE [dbo].[usp_MT0111客先在庫履歴表示]
	(
		@i指定日付		DATETIME,
		@i担当者CD 		SMALLINT,
		@i得意先CD		VARCHAR(4),
		@i製品NO 		CHAR(7),
		@i仕様NO 		CHAR(7),
		-- OUTPUT
		@RetST	INT			OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	


	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME,
			@wk棚卸数 		MONEY


	--------------
	--客先在庫Ｍが存在しない場合データなし
	--------------
	IF NOT EXISTS(SELECT 	担当者CD, 得意先CD, 製品NO, 仕様NO
					FROM 	
						TM客先在庫_担当者別
					WHERE 	
							担当者CD = @i担当者CD
						AND 	得意先CD = @i得意先CD)	BEGIN

		--0件のデータを返す
		SELECT	0 WHERE 0<>0

		GOTO	EXIT_SP
	END
	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別客先在庫
		WHERE 	
				担当者CD = @i担当者CD
			AND 	得意先CD = @i得意先CD
			AND 	製品NO = @i製品NO
			AND 	仕様NO = @i仕様NO
		GROUP BY 	
			担当者CD, 得意先CD, 製品NO, 仕様NO
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------
	--指定日＜棚卸日はデータなし
	--------------
	IF @wk棚卸日付 IS NULL BEGIN	--2009/10/01 ADD
		--0件のデータを返す
		SELECT	0 WHERE 0<>0

		GOTO	EXIT_SP
	END

	IF @i指定日付 < @wk棚卸日付 BEGIN
		--0件のデータを返す
		SELECT	0 WHERE 0<>0

		GOTO	EXIT_SP
	END

	--------------
	--棚卸数
	--------------
	SELECT 	@wk棚卸数 = 棚卸数
		FROM 	
			TD棚卸_担当者別客先在庫
		WHERE 	
				担当者CD = @i担当者CD
			AND 	製品NO = @i製品NO
			AND 	仕様NO = @i仕様NO
			AND 	棚卸日付 = @wk棚卸日付

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


--------------------------------------------------
--各数値集計ＳＱＬ
--------------------------------------------------
	SELECT 	区分, 日付, 見積番号, 行番号, 見積件名, 数量
		INTO
			#wk_tmp
		FROM
			(
			----------------
			-- 受注数(出荷予定)
			----------------
			SELECT 	1 AS 区分, 
					MT.売上納期 AS 日付, 
					MT.見積番号, MSM.行番号, MT.見積件名,
					MSM.客先在庫数 AS 数量
				FROM 		
					TD見積 AS MT
				LEFT 	JOIN 	
					TD見積シートM AS MSM 
					ON 	MT.見積番号 = MSM.見積番号
				WHERE 	
						MT.見積区分	= 1
					AND	MT.売上日付	IS NULL
					AND	MSM.客先在庫数 <> 0		--2009/09/29 ADD
					AND 	MT.売上納期	>= @wk棚卸日付
					AND 	MT.売上納期 <= @i指定日付
			    		AND 	MT.担当者CD = @i担当者CD
			    		AND 	MT.得意先CD = @i得意先CD
					AND 	MSM.製品NO = @i製品NO
					AND 	MSM.仕様NO = @i仕様NO
			) AS JU
	
		UNION ALL

			----------------
			-- 売上数
			----------------
			SELECT 	2 AS 区分,
					MT.売上日付 AS 日付, 
					MT.見積番号, MSM.行番号, MT.見積件名,
					MSM.客先在庫数 AS 売上数
				FROM 		
					TD見積 AS MT
				LEFT 	JOIN 	
					TD見積シートM AS MSM 
					ON 	MT.見積番号 = MSM.見積番号
				WHERE 	
						MT.売上日付	IS NOT NULL
					AND	MSM.客先在庫数 <> 0		--2009/09/29 ADD
					AND 	MT.売上日付	>= @wk棚卸日付
					AND 	MT.売上日付 <= @i指定日付
			    		AND 	MT.担当者CD = @i担当者CD
			    		AND 	MT.得意先CD = @i得意先CD
					AND 	MSM.製品NO = @i製品NO
					AND 	MSM.仕様NO = @i仕様NO

		UNION ALL

			----------------
			-- 仕入数(入庫数)
			----------------
			SELECT 	3 AS 区分,
					NYH.客先在庫入庫日付,
					NYH.客先在庫入庫連番, NYM.枝番, '',
					(NYM.入庫数量) AS 移動受け数
				FROM 
					TD客先在庫入庫 AS NYH
				INNER JOIN 
					TD客先在庫入庫明細 AS NYM 
					ON 	NYH.客先在庫入庫連番 = NYM.客先在庫入庫連番
				WHERE 	
						NYH.客先在庫入庫日付 >= @wk棚卸日付
					AND 	NYH.客先在庫入庫日付 <= @i指定日付
			    		AND 	NYH.担当者CD = @i担当者CD
			    		AND 	NYH.得意先CD = @i得意先CD
					AND 	NYM.製品NO = @i製品NO
					AND 	NYM.仕様NO = @i仕様NO

		ORDER BY 	日付

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



--------------------------------------
--抽出
--------------------------------------
	SELECT 	DATA区分, 日付, 
			見積番号, 行番号, 見積件名,
			残数, 受注数, 売上数,入庫数
		FROM
			(
			----------------
			-- 残数
			----------------
			SELECT 	0 AS DATA区分, 
					@wk棚卸日付 AS 日付, 
					'' AS 見積番号, '' AS 行番号, '' AS 見積件名,
					@wk棚卸数 AS 残数,
					0 AS 受注数,
					0 AS 売上数,
					0 AS 入庫数
			) AS D1

		UNION ALL
	
			----------------
			-- 履歴
			----------------
			SELECT 	区分 AS DATA区分,
					日付, 
					見積番号, 行番号, 見積件名,
					0,
					受注数 = (CASE WHEN 区分 = 1 THEN 数量 ELSE 0 END),
					売上数 = (CASE WHEN 区分 = 2 THEN 数量 ELSE 0 END),
					入庫数 = (CASE WHEN 区分 = 3 THEN 数量 ELSE 0 END)
			 	FROM
					#wk_tmp

		ORDER BY 	日付,DATA区分, 見積番号, 行番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--drop table #wk_tmp



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
