/****** Object:  StoredProcedure [dbo].[usp_ND1000入出金予定推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ND1000入出金予定推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_ND1000入出金予定推移表]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================
	 usp_ND1000統計推移表
	

	機能:
		入金予定と支払予定を抽出し
		Excelにて入出金予定推移ピボットを作成

 =============================================
	2023/01/10	oosawa	新規作成
=============================================*/
CREATE  PROCEDURE [dbo].[usp_ND1000入出金予定推移表]
	(
	--入出金予定開始年月
	@iS集計日付	DATETIME,
	--請求書発行済年月
	@iE集計日付	DATETIME,

	--OUTPUT
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


--SET	@iS集計日付 = '2016-1-01'
--SET	@iE集計日付 = '2016-12-31'
--SET	@iチームCD = 3

		--------------------------------------------
		-- 売上　顧客別
		--------------------------------------------
		DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		DECLARE @wマミー		VARCHAR(4) = '7001'
		DECLARE	@wロピア		VARCHAR(4) = '4209'

		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE	@wジョイテック	VARCHAR(4) = '3203'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		--DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		--DECLARE	@wしまむら		VARCHAR(4) = '3201'

		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		--DECLARE	@wアポック		VARCHAR(4) = '5201'

		--化粧品関係はウエルシア（集計CD）
		--ベルクとジョイテックを分ける（得意先CD）
		--では相反する


	---------------------------
	--入金予定情報
	---------------------------
	SELECT	入金予定日,得意先CD,略称,--見積件名,--ウエルシアリース区分,請求日付,
			入金予定金額 = SUM(請求金額)
			--,入金金額 = SUM(入金金額)--,見積番号
		FROM (
			SELECT	得意先CD = CASE 
									WHEN MH.集計CD = @wベルク THEN 
										CASE MH.得意先CD 
												WHEN @wベルク THEN @wベルク
												WHEN @wジョイテック THEN @wジョイテック
												ELSE MH.得意先CD--'99999'
										END
									WHEN MH.集計CD IN (@wヤオコー,@wマミー,@wロピア,@wサンベルクス,@wウエルシア,@wビバ)
										THEN MH.集計CD
									ELSE MH.得意先CD--'99999'
								
							END, 
					TK.略称, USH.請求日付, USH.見積番号, MH.見積件名,
					--USH.合計金額, USH.外税額,--2013/07/30 ADD
					請求金額 = CASE USH.税集計区分 
										WHEN 1 THEN  USH.合計金額 +  dbo.fn_CutFraction(USH.消費税端数,(USH.外税対象額) / 100 * dbo.fn_GetTax(dbo.ufn_GetLastDateOfScope(USH.請求日付,TK.締日)),0)--請求単位
										ELSE (USH.合計金額 + USH.外税額)
								END,

					請求金額_税抜 = (USH.合計金額 + USH.外税額),--しまむら用に消費税計算
					--USH.請求書発行FLG, USH.鏡番号,
					MH.備考,--2015/06/29 ADD
					--ウエルシアリースの場合1月先にする
					ウエルシアリース区分,
					--dbo.fn_Get入金予定日(USH.請求日付,(CASE WHEN ウエルシアリース区分=2 THEN 1 ELSE 0 END)+TK.入金サイクル,TK.入金予定日) AS 入金予定日--,--ウエルシアリースの場合1月先にする
					--dbo.fn_Get入金予定日(USH.請求年月日,(CASE WHEN ウエルシアリース区分=2 THEN 1 ELSE 0 END)+TK.入金サイクル,TK.入金予定日) AS 入金予定日--,--ウエルシアリースの場合1月先にする
					dbo.fn_Get入金予定日(dbo.ufn_GetLastDateOfScope(USH.請求日付,TK.締日),(CASE WHEN ウエルシアリース区分=2 THEN 1 ELSE 0 END)+TK.入金サイクル,TK.入金予定日) AS 入金予定日--,--ウエルシアリースの場合1月先にする


					--NKK.入金金額,NKK.入金番号,NH.入金日付
					--Count = COUNT(MH.得意先CD) OVER (PARTITION BY MH.得意先CD)
				--FROM	TD売上 AS UH
				FROM	TD売上請求H AS USH
					INNER JOIN TD見積 AS MH
						ON USH.見積番号 = MH.見積番号
					LEFT JOIN  TM得意先 AS TK
						ON MH.得意先CD = TK.得意先CD
					--1請求に対して別日に複数入金があるのでつなげると請求金額が倍になってしまう。
					--LEFT JOIN TD入金消込 AS NKK
					--	ON MH.見積番号 = NKK.売上番号
					--LEFT JOIN 
					--	(SELECT 入金番号,入金日付 
					--		FROM TD入金
					--		GROUP BY 入金番号,入金日付
					--	) AS NH
					--	ON NKK.入金番号 = NH.入金番号
				WHERE	--USH.請求日付 >= @iS集計日付
    					USH.請求日付 <= @iE集計日付
					--and dbo.fn_Get入金予定日(USH.請求日付,TK.入金サイクル,TK.入金予定日) is null
				--ORDER BY	MH.得意先CD, USH.請求日付, USH.見積番号
			) AS A
		WHERE	入金予定日 >= @iS集計日付
			--AND	入金予定日 <=COALESCE( @iE集計日付,入金予定日)
		GROUP BY 入金予定日,得意先CD,略称--,見積件名--,ウエルシアリース区分,請求日付--,見積番号
		ORDER BY 入金予定日,得意先CD


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	---------------------------
	--支払予定情報
	---------------------------
	SELECT	支払予定日 = 支払予定日付,仕入先CD,仕入先名1,
			支払予定金額 = SUM(支払予定金額)
			--,支払金額 = SUM(支払金額)
		FROM (
			--支払予定表抽出
			select	SK.仕入先CD,SK.仕入先名1,SK.仕入先名2,
					SK.支払予定日付,
					SK.支払方法, 
					SK.支払予定金額,
					買掛支払日付 = SK.支払日付
					--,NH.仕入先CD
					,NH.年月,
					NH.支払金額
				FROM
					(SELECT *,年月 = CONVERT(CHAR(6),支払予定日付,112)
						FROM VM支払予定情報
						WHERE 支払日付 <= @iE集計日付
					) AS SK
				LEFT JOIN 
					(SELECT 仕入先CD,
							年月 = CONVERT(CHAR(6),支払日付,112),
							支払金額 = SUM(支払金額)
						FROM TD支払
						GROUP BY 仕入先CD,CONVERT(CHAR(6),支払日付,112)
					) AS NH
					ON	SK.仕入先CD = NH.仕入先CD
					AND	SK.年月 = NH.年月
				WHERE 	SK.支払予定日付	>= @iS集計日付
					--AND	SK.支払予定日付 <= @iE集計日付
					--AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@iS仕入先CD),SK.仕入先CD)
					--AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@iE仕入先CD),SK.仕入先CD)
			) AS AB
				GROUP	BY	支払予定日付,仕入先CD,仕入先名1
				ORDER	BY	支払予定日付,仕入先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
