/****** Object:  StoredProcedure [dbo].[usp_TK0600担当者別売上仕入推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK0600担当者別売上仕入推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK0600担当者別売上仕入推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_TK0600担当者別売上仕入推移表

機能	担当者毎の売上金額と仕入金額の推移を作成する

		担当者 前年・今年 仕入・売上合計金額
		を出力

引数

戻り値

修正履歴
	2012/11/01	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK0600担当者別売上仕入推移表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)

	DECLARE	@FIELD_T	VARCHAR(8000)
	
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			担当者CD	SMALLINT		NOT NULL,
			年月		INT,
			原価金額	MONEY	DEFAULT(0),
			仕入金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--ヘッダー部　売上金額
	--担当者別年月別売上金額・仕入金額
	---------------------------
		INSERT	INTO #TMP_TOTAL
				(担当者CD,年月,原価金額,売上金額)
				SELECT	UH.担当者CD,
							年月 = CONVERT(CHAR(6),UH.請求日付,112),
							SUM(UU.仕入金額) AS 原価金額,
							SUM(UU.売上金額-UU.消費税額) AS 税抜金額
							
						FROM TD売上 AS UH  
							INNER JOIN TD売上明細 AS UM
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD売上明細内訳 AS UU
								ON UM.売上番号 = UU.売上番号 
									AND UM.売上行番号 = UU.売上行番号
						WHERE	(
									(UH.請求日付 >= @iS集計日付
										AND UH.請求日付 <= @iE集計日付)					--今年度
								OR 
									(UH.請求日付 >= DATEADD(YY,-1,@iS集計日付)
										AND UH.請求日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								)
						GROUP BY     UH.担当者CD,CONVERT(CHAR(6),UH.請求日付,112)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--TMPに存在するデータの原価を更新
		UPDATE	#TMP_TOTAL
			SET #TMP_TOTAL.仕入金額 = SYU.原価額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	SR.担当者CD,
								年月 = CONVERT(CHAR(6),SM.支払日付,112),
								SUM(SM.税抜金額) AS 原価額
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
							WHERE	(
										(SM.支払日付 >= @iS集計日付
											AND SM.支払日付 <= @iE集計日付)					--今年度
									OR 
										(SM.支払日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.支払日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
						GROUP BY SR.担当者CD, CONVERT(CHAR(6),SM.支払日付,112)
					) AS SYU
						ON	TMP.担当者CD = SYU.担当者CD
						AND	TMP.年月 = SYU.年月	

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--担当者原価額月間値
		INSERT	INTO #TMP_TOTAL
				(担当者CD,年月,仕入金額)
			SELECT SYU.担当者CD,SYU.年月,SYU.原価額
				FROM (
						SELECT	SR.担当者CD,
								年月 = CONVERT(CHAR(6),SM.支払日付,112),
								SUM(SM.税抜金額) AS 原価額
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
							WHERE	(
										(SM.支払日付 >= @iS集計日付
											AND SM.支払日付 <= @iE集計日付)					--今年度
									OR 
										(SM.支払日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.支払日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
						GROUP BY SR.担当者CD, CONVERT(CHAR(6),SM.支払日付,112)
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.担当者CD = SYU.担当者CD
							AND	TMP.年月 = SYU.年月	
				WHERE	TMP.担当者CD IS NULL
					AND	TMP.年月 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--SELECT * FROM #TMP_TOTAL
		--		order by 担当者CD,年月
	--END ヘッダー部　売上金額----------------------------------------------------------------

	
	--初期日付セット
	SET	@wNENGETUCNT = @iS集計日付
	SET	@wCNT = 1

	SET @FIELD_T = ''
	WHILE	@iE集計日付 >= @wNENGETUCNT	BEGIN
		IF	@wCNT <> 1 BEGIN
			--
			SET @FIELD_T = @FIELD_T + ','
		END
		--担当者計分
		SET	@FIELD_T = @FIELD_T + 'Z原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'Z仕入金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.仕入金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'Z税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'K原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'K仕入金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.仕入金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'K税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'
		
		SET	@wNENGETUCNT = DATEADD(M,1,@WNENGETUCNT)
		SET @wCNT = @wCNT + 1
	END

	--担当者別年月売上金額・仕入金額
	SET	@SQL = '
		SELECT	
				TN.担当者名,
				TMP_TOTAL.*
			FROM (
					SELECT	TMP.担当者CD,
							' + @FIELD_T + '
						FROM #TMP_TOTAL AS TMP
						GROUP BY TMP.担当者CD
					) AS TMP_TOTAL
				INNER JOIN TM担当者 AS TN
					ON TMP_TOTAL.担当者CD = TN.担当者CD
			ORDER BY TN.順序, TMP_TOTAL.担当者CD
		'
	--SELECT @SQL
	EXEC (@SQL)

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	drop table #TMP_TOTAL

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
