/****** Object:  StoredProcedure [dbo].[usp_SD0400仕入日計表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SD0400仕入日計表]
GO
/****** Object:  StoredProcedure [dbo].[usp_SD0400仕入日計表]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_SD0400仕入日計表

機能	仕入データを出力（仕分なし）

引数	

戻り値	
*****************************************************
	2025/1/16	ootani		新設	
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_SD0400仕入日計表]
	(
		@is仕入日付		DATETIME,
		@ie仕入日付		DATETIME,
		@is支払日付		DATETIME,
		@ie支払日付		DATETIME,
		@is仕入先CD		VARCHAR(4),
		@ie仕入先CD		VARCHAR(4),

		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--仕入出力用データ作成
	------------------------------------------------------
    SELECT DT.区分,DT.仕入先CD,DT.仕入先名1,DT.仕入先名2,DT.仕入日付,DT.支払日付,DT.見積件名,DT.見積番号,DT.仕入番号,DT.仕入明細行番号,DT.製品NO,DT.仕様NO,DT.漢字名称,DT.W,DT.D,DT.D1,DT.D2,DT.H,DT.H1,DT.H2,DT.仕入数量,DT.単位名,DT.仕入単価,DT.仕入金額,DT.伝票区分, DT.支払締日 
	    FROM (
		    (
                SELECT   1 AS 区分,SD.仕入先CD,SD.仕入先名1,SD.仕入先名2,SD.仕入日付,SD.支払日付,SR.見積件名,SD.見積番号,SD.仕入番号,SM.仕入明細行番号,SM.製品NO,SM.仕様NO,SM.漢字名称,SM.W,SM.D,SM.D1,SM.D2,SM.H,SM.H1,SM.H2,SM.仕入数量,SM.単位名,SM.仕入単価,SM.仕入金額,SM.伝票区分, 支払締日= (CASE SD.支払締日 WHEN 99 THEN '月末' WHEN 0 THEN '都度' ELSE CONVERT(VARCHAR, SD.支払締日) + '日' END) 
			    FROM TD仕入明細 AS SD
				    LEFT JOIN TD仕入 AS SR
					    ON SD.仕入番号=SR.仕入番号
				    LEFT JOIN TD仕入明細内訳 AS SM
					    ON SD.仕入番号=SM.仕入番号 
                WHERE   SD.仕入日付 >= COALESCE(@is仕入日付, SD.仕入日付)
				    AND SD.仕入日付 <= COALESCE(@ie仕入日付, SD.仕入日付)
				    AND SD.支払日付 >= COALESCE(@is支払日付, SD.支払日付)
				    AND SD.支払日付 <= COALESCE(@ie支払日付, SD.支払日付)
				    AND SD.仕入先CD >= COALESCE(@is仕入先CD, SD.仕入先CD)
                    AND SD.仕入先CD <= COALESCE(@ie仕入先CD, SD.仕入先CD)
            )
	    UNION ALL 
		    (
		        SELECT 2 AS 区分,SD.仕入先CD,SD.仕入先名1,SD.仕入先名2,SD.仕入日付,SD.支払日付,SR.見積件名,SD.見積番号,SD.仕入番号,'' AS 仕入明細行番号,'' AS 製品NO,'' AS 仕様NO,'' AS 漢字名称, '' AS W,'' AS D
					   ,'' AS D1,'' AS D2,'' AS H,'' AS H1,'' AS H2,0 AS 仕入数量,'' AS 単位名,0 AS 仕入単価, 外税額 AS 仕入金額,'' AS 伝票区分,NULL AS 支払締日 
			    FROM TD仕入明細 AS SD  
				    LEFT JOIN TD仕入 AS SR
					    ON SD.仕入番号=SR.仕入番号 
                WHERE   SD.仕入日付 >= COALESCE(@is仕入日付, SD.仕入日付)
				    AND SD.仕入日付 <= COALESCE(@ie仕入日付, SD.仕入日付)
				    AND SD.支払日付 >= COALESCE(@is支払日付, SD.支払日付)
				    AND SD.支払日付 <= COALESCE(@ie支払日付, SD.支払日付)
				    AND SD.仕入先CD >= COALESCE(@is仕入先CD, SD.仕入先CD)
                    AND SD.仕入先CD <= COALESCE(@ie仕入先CD, SD.仕入先CD)
			        AND SD.税集計区分=0
		    )
	    ) AS DT 
	ORDER BY DT.仕入先CD,DT.仕入日付,DT.見積番号,DT.仕入番号,DT.区分,DT.仕入明細行番号 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
