/****** Object:  StoredProcedure [dbo].[usp_ChkDelForPC]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelForPC]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelForPC]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_ChkDelForPC

機能	ＰＣマスタメンテ[削除]のデータ存在チェック

	単価Ｍ・顧客テンプレートＭ・見積Ｄ・発注Ｄ・仕入Ｄ・売上Ｄ

引数	PC区分　製品NO

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelForPC]
	(
		@iPC区分	VARCHAR(1),
		@i製品NO	VARCHAR(7),
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--単価Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(PC区分)
		FROM 		TM単価
		WHERE	(PC区分 = @iPC区分) 
			AND	(製品NO = @i製品NO)
			AND 	(製品区分 = 3)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[単価マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--顧客テンプレートＭチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(PC区分)
		FROM 		TM顧客テンプレート
		WHERE	(PC区分 = @iPC区分) 
			AND	(製品NO = @i製品NO)
			AND 	(製品区分 = 3)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[顧客テンプレートマスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--見積シートMチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号)
		FROM 		TD見積シートM
		WHERE	(PC区分 = @iPC区分) 
			AND	(製品NO = @i製品NO)
			AND 	(製品区分 = 3)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[見積明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

/*2003.12.05.DEL
	--------------------------
	--発注明細Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(発注番号)
		FROM 		TD発注明細
		WHERE	(PC区分 = @iPC区分) 
			AND	(製品NO = @i製品NO)
			AND 	(製品区分 = 3)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[発注明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
*/
	--------------------------
	--仕入明細内訳Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入番号)
		FROM 		TD仕入明細内訳
		WHERE	(PC区分 = @iPC区分) 
			AND	(製品NO = @i製品NO)
			AND 	(製品区分 = 3)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

	--------------------------
	--売上明細Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(売上番号)
		FROM 		TD売上明細内訳
		WHERE	(PC区分 = @iPC区分) 
			AND	(製品NO = @i製品NO)
			AND 	(製品区分 = 3)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[売上明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST

GO
