/****** Object:  StoredProcedure [dbo].[usp_M4201三研予測保存]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_M4201三研予測保存]
GO
/****** Object:  StoredProcedure [dbo].[usp_M4201三研予測保存]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_M4201三研予測保存

機能	三研予測金額を保存する

引数
	@i予測年月
	@i予測売上金額
	@i予測原価金額

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_M4201三研予測保存]
	@i予測年月		DATETIME,
	@i予測売上額	MONEY,
	@i予測原価額	MONEY,
	
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE	@TRAN		TINYINT,
			@ST			INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--トランザクション開始
	BEGIN	TRAN

	--担当者目標データ登録
	IF EXISTS(SELECT 予測年月 FROM TM三研予測 WHERE 予測年月 = @i予測年月) BEGIN
		--修正
		UPDATE TM三研予測
				SET	予測売上額 = @i予測売上額,
					予測原価額 = @i予測原価額,
					初期登録日 = CONVERT(CHAR(10),GETDATE(),111),
					登録変更日 = CONVERT(CHAR(10),GETDATE(),111)
			WHERE	予測年月 = @i予測年月

		SET	@ST = @@ERROR
		IF @ST<>0 BEGIN
			SET	@ST	= -1
			SET	@MSG = '更新処理に失敗しました。'
			GOTO	EXIT_SP
		END

	END ELSE BEGIN
		--新規登録
		INSERT INTO TM三研予測
				(
				予測年月,
				予測売上額,
				予測原価額,
				初期登録日,
				登録変更日
				)
			VALUES
				(
				@i予測年月,
				@i予測売上額,
				@i予測原価額,
				CONVERT(CHAR(10),GETDATE(),111),
				CONVERT(CHAR(10),GETDATE(),111)
				)
		SET	@ST = @@ERROR
		IF @ST<>0 BEGIN
			SET	@ST	= -1
			SET	@MSG = '登録処理に失敗しました。'
			GOTO	EXIT_SP
		END
	END

	--SELECT * FROM TM_全社目標

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
--		SELECT	@ST AS ST, @MSG AS MSG
		SET @RetST = @ST
		SET @RetMSG = @MSG

	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
--			SELECT	@ST AS ST, @MSG AS MSG
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
