/****** Object:  StoredProcedure [dbo].[usp_TK2800チーム別統計推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK2800チーム別統計推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK2800チーム別統計推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TK2800チーム別統計推移表
	

	機能:	
		チーム毎の売上金額と仕入金額の推移を作成する

	※SE.在庫対象区分に関しては金額の算出には使用しない。
	　在庫の把握時は区分にて処理する。
	↑
	※在庫対象外とかは作りことは不可！！！
	  全てを対象にしないと金額がずれる！！！

 =============================================
	2017/02/21	oosawa	新規作成
	2017/03/22	oosawa	うるう年の昨年末日の値が不正
						2017-2-28→2016-2-28(本当は2-29)
	2017/03/30	oosawa	三研の予測を追加
						売上関係を円にする
	2017/07/14	oosawa	TK24をもとに振り分け変更
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TK2800チーム別統計推移表]
	(
	@iS集計日付	DATETIME,
	@iE集計日付	DATETIME,
	--@iチームCD		INT,

	--OUTPUT
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


--SET	@iS集計日付 = '2016-1-01'
--SET	@iE集計日付 = '2016-12-31'
--SET	@iチームCD = 3

	DECLARE	@wE前年集計日付	DATETIME
	SET @wE前年集計日付	= dbo.ufn_GetLastDateOfScope(DATEADD(YY,-1,@iE集計日付),99)
	

	--棚卸ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			チームCD		INT		NOT NULL,
			番号			INT	DEFAULT(0),
			集計CD			VARCHAR(5),
			年月			DATETIME,
			作業区分CD		INT,
			売上税抜金額	MONEY	DEFAULT(0),
			原価税抜金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		-- 第一担当
		--------------------------------------------
		DECLARE	@wヤオコー	VARCHAR(4) = '8001'
		DECLARE @wマミー	VARCHAR(4) = '7001'
		
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = CASE TK.集計CD WHEN @wヤオコー THEN 1
													WHEN @wマミー THEN 2
													ELSE 9 END,
							TK.集計CD,
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
		    				AND	TK.集計CD IN (@wヤオコー,@wマミー)
					GROUP BY     TK.チームCD,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----第一担当　売上 その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '11111',
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
							AND	TK.チームCD = 1
		    				AND	NOT(TK.集計CD IN (@wヤオコー,@wマミー))
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--第一担当　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = CASE TK.集計CD WHEN @wヤオコー THEN 1
												WHEN @wマミー THEN 2
												ELSE 9 END,
							TK.集計CD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							--AND	SM.仕入日付 >= @iS集計日付
		    				--AND	SM.仕入日付 <= @iE集計日付
		    				--AND	MH.得意先CD = '8001'
		    				AND	TK.集計CD IN (@wヤオコー,@wマミー)
					GROUP BY     TK.チームCD,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--第一担当　原価　その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '11111',
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							AND	TK.チームCD = 1
		    				AND	NOT(TK.集計CD IN (@wヤオコー,@wマミー))
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--------------------------------------------
		-- 第二担当
		--------------------------------------------
		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		--DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = CASE TK.集計CD WHEN @wベルク THEN 1
													WHEN @wサンベルクス THEN 2
													--WHEN @wフレッセイ THEN 3
													ELSE 9 END,
							TK.集計CD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
		    				--AND	TK.集計CD IN (@wベルク,@wサンベルクス,@wフレッセイ)
		    				AND	TK.集計CD IN (@wベルク,@wサンベルクス)
					GROUP BY     TK.チームCD,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----第二担当　売上 その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '22222',
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
							AND	TK.チームCD = 2
		    				--AND	NOT(TK.集計CD IN (@wベルク,@wサンベルクス,@wフレッセイ))
		    				AND	NOT(TK.集計CD IN (@wベルク,@wサンベルクス))
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--第二担当　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = CASE TK.集計CD WHEN @wベルク THEN 1
								WHEN @wサンベルクス THEN 2
								--WHEN @wフレッセイ THEN 3
								ELSE 9 END,
							TK.集計CD,

							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
		    				--AND	TK.集計CD IN (@wベルク,@wサンベルクス,@wフレッセイ)
		    				AND	TK.集計CD IN (@wベルク,@wサンベルクス)
					GROUP BY     TK.チームCD,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--第二担当　原価　その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '22222',
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							AND	TK.チームCD = 2
		    				--AND	NOT(TK.集計CD IN (@wベルク,@wサンベルクス,@wフレッセイ))
		    				AND	NOT(TK.集計CD IN (@wベルク,@wサンベルクス))
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		-- 第三担当
		--------------------------------------------
		DECLARE	@wしまむら		VARCHAR(4) = '3201'

		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = CASE TK.集計CD WHEN @wしまむら THEN 1
													ELSE 9 END,
							TK.集計CD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
							--,税抜金額 = SUM(CASE WHEN (MSM.仕入先CD IS NULL) 
							--						OR (MSM.作業区分CD = 0 AND NOT(MSM.仕入先CD = '3016'))
							--					THEN CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
							--					ELSE 0
							--			END)
						--,税抜金額_施工 = SUM(CASE WHEN (MSM.仕入先CD = '3016' AND MSM.作業区分CD = 0)
						--									 OR MSM.作業区分CD = 1 THEN
						--					CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
						--				ELSE 0 END)
						--,税抜金額_コール = SUM(CASE WHEN MSM.作業区分CD = 2 THEN
						--					CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
						--				ELSE 0 END)
						--,税抜金額_内装 = SUM(CASE WHEN MSM.作業区分CD = 3 THEN
						--					CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
						--				ELSE 0 END)

						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
		    				AND	TK.集計CD IN (@wしまむら)
					GROUP BY     TK.チームCD,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----第三担当　売上 その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '44444',
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
							AND	TK.チームCD = 4
		    				AND	NOT(TK.集計CD IN (@wしまむら))
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--第三担当　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = CASE TK.集計CD WHEN @wしまむら THEN 1
													ELSE 9 END,
							TK.集計CD,

							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
		    				AND	TK.集計CD IN (@wしまむら)
					GROUP BY     TK.チームCD,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--第三担当　原価　その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '44444',
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							AND	TK.チームCD = 4
		    				AND	NOT(TK.集計CD IN (@wしまむら))
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		-- 第四担当
		--------------------------------------------
		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		DECLARE	@wアポック	VARCHAR(4) = '5201'

		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = CASE TK.集計CD WHEN @wウエルシア THEN 1
													WHEN @wビバ THEN 2
													WHEN @wアポック THEN 3
													ELSE 9 END,
							TK.集計CD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
		    				AND	TK.集計CD IN (@wウエルシア,@wビバ,@wアポック)
					GROUP BY     TK.チームCD,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----第四担当　売上 その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '33333',
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
							AND	TK.チームCD = 3
		    				AND	NOT(TK.集計CD IN (@wウエルシア,@wビバ,@wアポック))
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--第四担当　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = CASE TK.集計CD WHEN @wウエルシア THEN 1
													WHEN @wビバ THEN 2
													WHEN @wアポック THEN 3
													ELSE 9 END,
							TK.集計CD,

							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
		    				AND	TK.集計CD IN (@wウエルシア,@wビバ,@wアポック)
					GROUP BY     TK.チームCD,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--第四担当　原価　その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '33333',
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							AND	TK.チームCD = 3
		    				AND	NOT(TK.集計CD IN (@wウエルシア,@wビバ,@wアポック))
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--------------------------------------------
		-- 営業推進部
		--------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '88888',
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
										AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
							AND	TK.チームCD = 10
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--営業推進部　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							番号 = 9,
							集計CD = '88888',
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
											AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							AND	TK.チームCD = 10
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--売上原価出力
		--------------------------------------------
		SELECT * FROM #TMP_TOTAL
				ORDER BY     チームCD,番号,集計CD,年月,作業区分CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--------------------------------------------
		--按分経費出力
		--------------------------------------------
		SELECT	チームCD = (CASE WHEN SY.チームCD IN (8,9) THEN 10 ELSE SY.チームCD END),
				年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),
				人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額 ELSE 0 END),
				経費合計 = SUM(SY.按分金額)
			FROM	TD経費按分集計 AS SY
				INNER JOIN TM科目 AS KM
					ON SY.科目CD = KM.科目CD
			WHERE	(
						(集計日付 >= @iS集計日付
							AND 集計日付 <= @iE集計日付)					--今年度
					OR 
						(集計日付 >= DATEADD(YY,-1,@iS集計日付)
							--AND 集計日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 集計日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			GROUP BY	(CASE WHEN チームCD IN (8,9) THEN 10 ELSE チームCD END), CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')
			ORDER BY    (CASE WHEN チームCD IN (8,9) THEN 10 ELSE チームCD END), CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--予測出力
		--------------------------------------------
		SELECT チームCD,予測年月,予測売上額,予測原価額
			FROM TMチーム予測
			WHERE	(
						(予測年月 >= @iS集計日付
							AND 予測年月 <= @iE集計日付)					--今年度
					OR 
						(予測年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 予測年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 予測年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY     チームCD,予測年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--========================================--
		--入出庫出力
		--========================================--
		--入出庫ワークテーブル作成
		CREATE TABLE #TMP_TOTAL_NS
			(
				チームCD		INT		NOT NULL,
				年月			DATETIME,
				出庫合計金額	MONEY	DEFAULT(0),
				入庫合計金額	MONEY	DEFAULT(0),
				調整出庫合計金額	MONEY	DEFAULT(0),
				調整入庫合計金額	MONEY	DEFAULT(0),

			) ON [PRIMARY]

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--仕入先が3105:三和倉庫の仕入先D
					SELECT	TK.チームCD,
								年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
								仕入数量 = SUM(SMU.仕入数量),
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	SM.仕入先CD = '3150'--三和倉庫
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付				--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						GROUP BY TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.出庫合計金額 = A.出庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							年月,
							出庫合計金額
						)
					VALUES
						(
							B.チームCD,
							B.年月,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--社内伝の仕入先D
					SELECT	TK.チームCD,
								年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
								仕入数量 = SUM(SMU.仕入数量),
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付				--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						GROUP BY TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.入庫合計金額 = A.入庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							年月,
							入庫合計金額
						)
					VALUES
						(
							B.チームCD,
							B.年月,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--売上
					SELECT	ID.在庫調整元チームCD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1'),
							--内税の場合は消費税を引く
							調整出庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE 
							ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付					--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							AND ID.在庫調整元チームCD <> 0--2017/05/23 ADD
						GROUP BY ID.在庫調整元チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
				) AS B
			ON  (
				A.チームCD = B.在庫調整元チームCD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整出庫合計金額 = A.調整出庫合計金額 + B.調整出庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							年月,
							調整出庫合計金額
						)
					VALUES
						(
							B.在庫調整元チームCD,
							B.年月,
							B.調整出庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--売上
					SELECT	ID.在庫調整先チームCD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1'),
							--内税の場合は消費税を引く
							調整入庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE 
							ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付					--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							AND ID.在庫調整先チームCD <> 0--2017/05/23 ADD
						GROUP BY ID.在庫調整先チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
				) AS B
			ON  (
				A.チームCD = B.在庫調整先チームCD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整入庫合計金額 = A.調整入庫合計金額 + B.調整入庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							年月,
							調整入庫合計金額
						)
					VALUES
						(
							B.在庫調整先チームCD,
							B.年月,
							B.調整入庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		SELECT	チームCD,年月,
				出庫金額		=	ISNULL(出庫合計金額,0)
								+	ISNULL(調整出庫合計金額,0),
				入庫金額		=	ISNULL(入庫合計金額,0)
								+	ISNULL(調整入庫合計金額,0)
			FROM #TMP_TOTAL_NS
			ORDER BY チームCD,年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--------------------------------------------
		--三研実績出力
		--------------------------------------------
		--SELECT	年月, 売上税抜金額, 原価税抜金額, 人件一般費, 営業外費
		SELECT	年月, 売上税抜金額_円, 原価税抜金額_円, 人件一般費_円, 営業外費_円
			FROM	TM三研情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)					--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--三研予測出力
		--------------------------------------------
		SELECT	予測年月, 予測売上額, 予測原価額
			FROM	TM三研予測
			WHERE	(
						(予測年月 >= @iS集計日付
							AND 予測年月 <= @iE集計日付)					--今年度
					OR 
						(予測年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 予測年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 予測年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 予測年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:

	DROP TABLE #TMP_TOTAL

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
