/****** Object:  StoredProcedure [dbo].[usp_TN2101チーム別入出庫抽出_詳細]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2101チーム別入出庫抽出_詳細]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2101チーム別入出庫抽出_詳細]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_TN2101チーム別入出庫抽出_詳細

機能	チーム別製品の
		入出庫を作成する


引数

戻り値

修正履歴
	2017/01/17	新規作成
	2017/02/16	oosawa	製品Mの在庫対象区分で対象抽出
	2020/10/20	oosawa	在庫対象区分は廃止
						在庫区分に変更
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN2101チーム別入出庫抽出_詳細]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iチームCD		INT,
	@i製品NO		VARCHAR(12),
	@i仕様NO		VARCHAR(10),
	--@i仕入先CD		VARCHAR(4),
	@iKEYCODE		VARCHAR(40),

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE		@NCNT	INT,
				@SCNT	INT
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''
	SET	@NCNT	=	0
	SET	@SCNT	=	0

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

	------------
	--入出庫
	------------
	SELECT	日付 = A.仕入日付,番号 = A.見積番号,件名 = A.見積件名,
			行NO = A.見積行番号,
			仕入先CD = A.仕入先CD,
			仕入先略称 = A.略称,
			単価 = A.仕入単価,
			入庫数 = A.入庫数,
			出庫数 = A.出庫数,
			金額 = A.入庫金額
		FROM (
				
				--入庫
				SELECT	SM.仕入日付,MH.見積番号,MH.見積件名,
						SMU.見積行番号,
						SM.仕入先CD,
						SI.略称,
						SMU.仕入単価,
						入庫数 = SMU.仕入数量,
						出庫数 = NULL,
						入庫金額 = (CASE WHEN SMU.仕入税区分 = 1 
									THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
					FROM	TD仕入明細 AS SM(NOLOCK)
						INNER JOIN	TD見積 AS MH(NOLOCK)
							ON SM.見積番号 = MH.見積番号
						INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
							ON SM.仕入番号 = SMU.仕入番号
						INNER JOIN TM得意先 AS TM(NOLOCK)
							ON MH.販売先得意先CD = TM.得意先CD
						LEFT JOIN TM仕入先 AS SI(NOLOCK)
							ON SM.仕入先CD = SI.仕入先CD
						--2017/02/16 ADD↓
						LEFT JOIN TM製品 AS SE(NOLOCK)
							ON SMU.製品NO = SE.製品NO
							AND SMU.仕様NO = SE.仕様NO
						--2017/02/16 ADD↑
					WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
						AND SM.仕入日付 >= @iS集計日付
						AND SM.仕入日付 <= @iE集計日付
						AND	SMU.製品NO = @i製品NO
						AND SMU.仕様NO = @i仕様NO
						AND TM.チームCD = @iチームCD
						--AND	SMU.仕入先CD = @i仕入先CD
						AND (CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END)=@iKEYCODE
						AND	NOT(SMU.伝票区分 IN ('A','C','S'))
						--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						--AND	ISNULL(SE.在庫区分,1) = 0--2020/10/20 ADD
			
				UNION ALL
					--出庫
					SELECT	SM.仕入日付,MH.見積番号,MH.見積件名,
							SMU.見積行番号,
							SM.仕入先CD,
							SI.略称,
							SMU.仕入単価,
							入庫数 = NULL,
							出庫数 = SMU.仕入数量,
							出庫金額 = (CASE WHEN SMU.仕入税区分 = 1
										THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM(NOLOCK)
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TM(NOLOCK)
								ON MH.販売先得意先CD = TM.得意先CD
							LEFT JOIN TM仕入先 AS SI(NOLOCK)
								ON SM.仕入先CD = SI.仕入先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	SM.仕入先CD = '3150'--三和倉庫
							AND SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付
							AND	SMU.製品NO = @i製品NO
							AND SMU.仕様NO = @i仕様NO
							AND TM.チームCD = @iチームCD
							--AND	SMU.仕入先CD = @i仕入先CD
							AND (CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END)=@iKEYCODE
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							--AND	ISNULL(SE.在庫区分,1) = 0--2020/10/20 ADD

				UNION ALL

					--調整入庫
					SELECT	ID.在庫調整日付,ID.在庫調整番号, ID.摘要名,
							IDM.枝番,
							IDM.仕入先CD,
							SI.略称,
							IDM.調整単価,
							入庫数 = IDM.調整数量,
							出庫数 = NULL,
							調整入庫金額 = (CASE WHEN IDM.仕入税区分 = 1 
											THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							LEFT JOIN TM仕入先 AS SI
								ON IDM.仕入先CD = SI.仕入先CD
						WHERE 
								ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付
							AND ID.在庫調整先チームCD = @iチームCD
							AND	IDM.製品NO = @i製品NO
							AND IDM.仕様NO = @i仕様NO
							--AND	IDM.仕入先CD = @i仕入先CD
							AND (CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END)=@iKEYCODE
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							--AND	ISNULL(SE.在庫区分,1) = 0--2020/10/20 ADD

				UNION ALL
					--調整出庫
					SELECT	ID.在庫調整日付,ID.在庫調整番号, ID.摘要名,
							IDM.枝番,
							IDM.仕入先CD,
							SI.略称,
							IDM.調整単価,
							入庫数 = NULL,
							出庫数 = IDM.調整数量,
							調整出庫金額 = (CASE WHEN IDM.仕入税区分 = 1 
											THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							LEFT JOIN TM仕入先 AS SI
								ON IDM.仕入先CD = SI.仕入先CD
						WHERE 
								ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付
							AND ID.在庫調整元チームCD = @iチームCD
							--AND	IDM.仕入先CD = @i仕入先CD
							AND	IDM.製品NO = @i製品NO
							AND IDM.仕様NO = @i仕様NO
							AND (CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END)=@iKEYCODE
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							--AND	ISNULL(SE.在庫区分,1) = 0--2020/10/20 ADD
				) AS A
		ORDER BY 日付,番号,行NO
		
	SET @RetDcnt = @@ROWCOUNT

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
