/****** Object:  StoredProcedure [dbo].[usp_TK1100部署別売上仕入推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK1100部署別売上仕入推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK1100部署別売上仕入推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************
	
	売掛・買掛　集計

名称	usp_TK1100部署別売上仕入推移表

機能	部署・担当者毎の売上金額と仕入金額の推移を作成する

		担当者 前年・今年 仕入・売上合計金額
		を出力

引数

戻り値

修正履歴
	2014/02/13	新規作成

	2014/07/21	oosawa		集計日付を「売上日付」「仕入日付」にする
	
	2014/08/08	oosawa		レイアウト変更にともなう修正
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK1100部署別売上仕入推移表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,

	----@RetDcnt 	INT				,
	----@RetBScnt 	INT				,
	----@RetST		INT				,
	----@RetMsg		VARCHAR(255)	

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetBScnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT

AS
	SET NOCOUNT ON

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)

	DECLARE	@FIELD_T	VARCHAR(8000)
	
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2014/01/01'
--set @iE集計日付 = '2014/12/31'

----SET	@iS担当者CD = 1
----SET	@iE担当者CD = 10

	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			担当者CD	SMALLINT		NOT NULL,
			年月		INT,
			--原価金額	MONEY	DEFAULT(0),
			仕入金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0),
			在庫増減金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--ヘッダー部　売上金額
	--担当者別年月別売上金額・仕入金額
	---------------------------
		INSERT	INTO #TMP_TOTAL
				(担当者CD,年月,/*原価金額,*/売上金額)
				SELECT		
							UH.担当者CD,
							年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
							--SUM(UU.仕入金額) AS 原価金額,
							SUM(UU.売上金額-UU.消費税額) AS 税抜金額
							
						FROM TD売上 AS UH  
							INNER JOIN TD売上明細 AS UM
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD売上明細内訳 AS UU
								ON UM.売上番号 = UU.売上番号 
									AND UM.売上行番号 = UU.売上行番号
						--2014/07/21 ADD↓
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								)
						GROUP BY     UH.担当者CD,CONVERT(CHAR(6),UH.売上日付,112)
						--2014/07/21 ADD↑

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--TMPに存在するデータの原価を更新
		UPDATE	#TMP_TOTAL
			SET #TMP_TOTAL.仕入金額 = SYU.原価額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	SR.担当者CD,
								年月 = CONVERT(CHAR(6),SM.仕入日付,112),--2014/07/21 ADD
								SUM(SM.税抜金額) AS 原価額
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
						--2014/07/21 ADD↓
							WHERE	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
						GROUP BY SR.担当者CD, CONVERT(CHAR(6),SM.仕入日付,112)
						--2014/07/21 ADD↑
					) AS SYU
						ON	TMP.担当者CD = SYU.担当者CD
						AND	TMP.年月 = SYU.年月	

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--担当者原価額月間値
		INSERT	INTO #TMP_TOTAL
				(担当者CD,年月,仕入金額)
			SELECT SYU.担当者CD,SYU.年月,SYU.原価額
				FROM (
						SELECT	SR.担当者CD,
								年月 = CONVERT(CHAR(6),SM.仕入日付,112),--2014/07/21 ADD
								SUM(SM.税抜金額) AS 原価額
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
						--2014/07/21 ADD↓
							WHERE	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
						GROUP BY SR.担当者CD, CONVERT(CHAR(6),SM.仕入日付,112)
						--2014/07/21 ADD↑
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.担当者CD = SYU.担当者CD
							AND	TMP.年月 = SYU.年月	
				WHERE	TMP.担当者CD IS NULL
					AND	TMP.年月 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--SELECT * FROM #TMP_TOTAL
		--		order by 担当者CD,年月
	--END ヘッダー部　売上金額----------------------------------------------------------------
	DECLARE	@WZS集計日付	DATETIME,
			@WZE集計日付	DATETIME
	SET @WZS集計日付 = DATEADD(YY,-1,@iS集計日付)
	SET @WZE集計日付 = DATEADD(YY,-1,@iE集計日付)

	--前期在庫金額
	EXECUTE @ST = usp_担当者別在庫金額集計 @WZS集計日付,@WZE集計日付
										  ,@RetDcnt OUTPUT
										  ,@ST OUTPUT
										  ,@Msg OUTPUT

		IF @ST<>0 GOTO	EXIT_SP

	--今期在庫金額
	EXECUTE @ST = usp_担当者別在庫金額集計 @iS集計日付,@iE集計日付
										  ,@RetDcnt OUTPUT
										  ,@ST OUTPUT
										  ,@Msg OUTPUT

		IF @ST<>0 GOTO	EXIT_SP

	UPDATE	#TMP_TOTAL
			SET 在庫増減金額 = TZ.在庫増減金額
		FROM TM担当者在庫金額 AS TZ
		WHERE	#TMP_TOTAL.年月 = TZ.年月
			AND	#TMP_TOTAL.担当者CD = TZ.担当者CD
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--初期日付セット
	SET	@wNENGETUCNT = @iS集計日付
	SET	@wCNT = 1

	SET @FIELD_T = ''
	WHILE	@iE集計日付 >= @wNENGETUCNT	BEGIN
		IF	@wCNT <> 1 BEGIN
			--
			SET @FIELD_T = @FIELD_T + ','
		END
		--担当者計分
		--SET	@FIELD_T = @FIELD_T + 'Z原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'Z仕入金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.仕入金額-TMP.在庫増減金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'Z税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END),'
		--SET	@FIELD_T = @FIELD_T + 'K原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'K仕入金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.仕入金額-TMP.在庫増減金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'K税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'
		
		SET	@wNENGETUCNT = DATEADD(M,1,@WNENGETUCNT)
		SET @wCNT = @wCNT + 1
	END

	--担当者別年月売上金額・仕入金額
	SET	@SQL = '
		SELECT	BS.順序, TN.順序,TN.部署CD,BS.部署名,
				担当者人数 = COUNT(TMP_TOTAL.担当者CD) OVER(PARTITION BY TN.部署CD),
				TN.担当者名,
				TMP_TOTAL.*
			FROM (
					SELECT	TMP.担当者CD,
							' + @FIELD_T + '
						FROM #TMP_TOTAL AS TMP
						GROUP BY TMP.担当者CD
					) AS TMP_TOTAL
				INNER JOIN TM担当者 AS TN
					ON TMP_TOTAL.担当者CD = TN.担当者CD
				INNER JOIN TM部署 AS BS
					ON TN.部署CD = BS.部署CD
			--WHERE	TN.順序 <> 99
			ORDER BY BS.順序, TN.順序, TMP_TOTAL.担当者CD
		'
	--SELECT @SQL
	EXEC (@SQL)

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--部署件数を取得
	SELECT @RetBScnt = COUNT(DISTINCT TN.部署CD)
		FROM #TMP_TOTAL 
			INNER JOIN TM担当者 AS TN
				ON #TMP_TOTAL.担当者CD = TN.担当者CD
		--WHERE	TN.順序 <> 99


	drop table #TMP_TOTAL

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
