/****** Object:  StoredProcedure [dbo].[usp_HK0300売掛金集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HK0300売掛金集計表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_HK0300売掛金集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_HK0300売掛金集計表出力

機能	指定された条件で売掛合計書を作成する

引数	@iDATE		指定した日付(日が絶対1の日付）
	@isSEIID
	@ieSEIID

戻り値	


	2012/04/06	oosawa	差引金額＋消費税を出すように

	2014/11/03	oosawa		新売上バージョン
	2015/02/10	oosawa		非課税金額を表示
							非課税抜き売上金額を表示
	2015/02/18	oosawa		非抜税抜売上金額に変更
*****************************************************/
CREATE PROCEDURE [dbo].[usp_HK0300売掛金集計表出力]
	@iDATE		DATETIME,
	@i開始得意先		VARCHAR(4),
	@i終了得意先		VARCHAR(4),
	@RetST		INT			OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE	@ST	INT,
		@MSG	NVARCHAR(256)
	SET	@ST = 0
	SET	@MSG = ''

	SELECT 	SK.得意先CD,TK.得意先名1,TK.得意先名2,SK.売掛日付,SK.前月残高,SK.入金金額,SK.調整金額,
			SK.売上金額,SK.返品金額,SK.訂正金額,
			ISNULL(SK.売上金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0) AS 差引売上額,
			ISNULL(SK.売上金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0) AS 税込純売上額,--2012/03/06 ADD
			--非抜税込売上金額 = ISNULL(SK.売上金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0)
			--					- ISNULL(SK.非課税金額,0),--2015/02/10 ADD
			非抜税抜売上金額 = ISNULL(SK.売上金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)
								- ISNULL(SK.非課税金額,0),--2015/02/18 ADD
			非課税金額 = ISNULL(SK.非課税金額,0),--2015/02/10 ADD
			SK.消費税額,SK.当月残高,SK.伝票枚数
		FROM 	(TM売掛金額 AS SK
			LEFT JOIN  TM得意先 AS TK ON SK.得意先CD = TK.得意先CD) 
		WHERE 	SK.売掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
		    AND	SK.得意先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始得意先),SK.得意先CD)
		    AND	SK.得意先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了得意先),SK.得意先CD)
		    AND         	NOT(		SK.前月残高	=	0
					AND    SK.入金金額	=	0
					AND	SK.調整金額	=	0
					AND	SK.売上金額	=	0
					AND	SK.返品金額	=	0
					AND	SK.訂正金額	=	0
					AND	SK.消費税額	=	0
					AND	SK.当月残高	=	0)		
		ORDER	BY	SK.得意先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '売掛金集計表集計エラー'
		GOTO	EXIT_SP
	END

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST
GO
