/****** Object:  StoredProcedure [dbo].[usp_TN2600チーム別入出庫抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2600チーム別入出庫抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2600チーム別入出庫抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_TN2600チーム別入出庫抽出
	

	機能:
		指定日付より製品各々の直近の棚卸情報を取得し、
		直近棚卸日付以降の入出庫情報を集計
	
	※	棚卸日付の入出庫数は棚卸数に含むとする。
	
	※　前回棚卸日を含む日付から
	　　指定日付-1日までの範囲で
	　　現在庫数・入庫数・出庫数・各金額
	　　を集計する。
 =============================================
	2017/01/30	oosawa	新規作成
	2017/02/09	oosawa	調整明細に漢字名称追加
	2017/02/16	oosawa	製品Mの在庫対象区分で対象抽出
	2020/09/19	oosawa	入出庫日を入庫日・出庫日に分割
	2020/10/08	oosawa	出荷時9999も出す
	2021/07/15	oosawa	出荷時9999出さない
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TN2600チーム別入出庫抽出]
	(
	@i指定日付		DATETIME,--末日が入る
	@iチームCD		INT,
	--@i得意先CD		VARCHAR(4),

	--OUTPUT
	@o開始日付		DATETIME		OUTPUT,--抽出した開始日付
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--DECLARE	@w期首日付		DATETIME

	--DECLARE	@w前回棚卸日付	DATETIME,
	--		@w開始日付		DATETIME
	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	-------------------------------------------------
	--棚卸ワークテーブル作成
	-------------------------------------------------
	CREATE TABLE #TMP_TANA
		(
			棚卸日付		DATETIME,
			チームCD		INT		NOT NULL,
			KEYCODE			VARCHAR(40),
			製品NO			CHAR(12),
			仕様NO			CHAR(10),
			漢字名称		VARCHAR(40),
			--仕入先CD		VARCHAR(4),

			前回棚卸数		MONEY	DEFAULT(0),
			前回棚卸金額	MONEY	DEFAULT(0)
			

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	-------------------------------------------------
	--棚卸集計テーブル作成
	-------------------------------------------------
	CREATE TABLE #TMP_TOTAL
		(
			棚卸日付		DATETIME,
			チームCD		INT		NOT NULL,
			--得意先CD		VARCHAR(4),
			枝番			INT	DEFAULT(0),
			KEYCODE			VARCHAR(40),
			製品NO			CHAR(12),
			仕様NO			CHAR(10),
			漢字名称		VARCHAR(40),
			--仕入先CD		VARCHAR(4),

			--棚Dの単価、なければ他のD情報を付加？
			
			前回棚卸数		MONEY	DEFAULT(0),
			出荷予定合計数	MONEY	DEFAULT(0),
			入荷予定合計数	MONEY	DEFAULT(0),
			出庫合計数		MONEY	DEFAULT(0),
			入庫合計数		MONEY	DEFAULT(0),
			調整出庫合計数	MONEY	DEFAULT(0),
			調整入庫合計数	MONEY	DEFAULT(0),
			--今回棚卸数		MONEY	DEFAULT(0),

			前回棚卸金額		MONEY	DEFAULT(0),
			出荷予定合計金額	MONEY	DEFAULT(0),
			入荷予定合計金額	MONEY	DEFAULT(0),
			出庫合計金額		MONEY	DEFAULT(0),
			入庫合計金額		MONEY	DEFAULT(0),
			調整出庫合計金額	MONEY	DEFAULT(0),
			調整入庫合計金額	MONEY	DEFAULT(0),

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	-------------------------------------------------
	--棚卸　集計
	-------------------------------------------------
	INSERT	INTO #TMP_TANA
			(
				棚卸日付,
				チームCD,
				--得意先CD,
				KEYCODE,
				--摘要名,
				製品NO,
				仕様NO,
				漢字名称,
				--仕入先CD,
				--現在庫数,
				--棚卸数
				前回棚卸数,
				前回棚卸金額
				
			)
			--最終棚卸日付取得
			SELECT	TS.棚卸日付, 
					TS.チームCD,
					KEYCODE = CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END,
					TSM.製品NO, TSM.仕様NO,
					漢字名称 = MAX(TSM.漢字名称), 
					棚卸数量 = SUM(TSM.棚卸数量),
					棚卸金額 = SUM(TSM.棚卸数量*TSM.棚卸単価)
				FROM	TD個別棚卸 AS TS
					INNER JOIN	TD個別棚卸明細 AS TSM
						ON TS.棚卸番号 = TSM.棚卸番号
					INNER JOIN (
						SELECT	TH2.チームCD,
								KEYCODE = CASE WHEN TM2.製品NO='' THEN TM2.漢字名称 ELSE TM2.製品NO END,
								製品NO,仕様NO,--漢字名称,
								棚卸日付 = MAX(棚卸日付)
							FROM TD個別棚卸 AS TH2
								INNER JOIN	TD個別棚卸明細 AS TM2
									ON TH2.棚卸番号 = TM2.棚卸番号
							WHERE
									TH2.棚卸日付 <= @i指定日付
							GROUP BY チームCD,(CASE WHEN TM2.製品NO='' THEN TM2.漢字名称 ELSE TM2.製品NO END),製品NO,仕様NO--,漢字名称
						) AS MAXDATE
							ON	TSM.製品NO = MAXDATE.製品NO
							AND	TSM.仕様NO = MAXDATE.仕様NO
							--AND	TSM.漢字名称 = MAXDATE.漢字名称
							AND (CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END) = MAXDATE.KEYCODE
							AND	TS.棚卸日付 = MAXDATE.棚卸日付
							AND	TS.チームCD = MAXDATE.チームCD
							AND TS.チームCD = @iチームCD
				GROUP BY TS.棚卸日付, TS.チームCD, (CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END),TSM.製品NO, TSM.仕様NO

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--select * from #TMP_TANA

	INSERT	INTO #TMP_TOTAL
			(
				棚卸日付,
				チームCD,
				KEYCODE,
				製品NO,
				仕様NO,
				漢字名称,
				前回棚卸数,
				前回棚卸金額
			)
		SELECT * FROM #TMP_TANA

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--入荷予定
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--入荷予定集計
					SELECT	--NKY.入荷日付,
							NKY.チームCD,
							NKY.KEYCODE,NKY.製品NO,NKY.仕様NO,
							漢字名称 = MAX(NKY.漢字名称),
							入荷予定数 = SUM(NKY.入荷予定数),
							入荷予定原価額 = SUM(NKY.入荷予定原価額)
						FROM (
								--入荷予定データ
								SELECT 	--入荷日付 = MSM.入出庫日,
										入荷日付 = MSM.入庫日,--2020/09/19 ADD
										TANA.棚卸日付,
										TK.チームCD,
										MH.見積番号,MSM.行番号,
										MSM.見積明細連番,
										MH.見積日付,
										MH.見積件名,
										MSM.仕入先CD,
										--SE.入出庫用CD,
										KEYCODE = CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END,
										MSM.製品NO,MSM.仕様NO,
										漢字名称 = MSM.漢字名称,
										--MSM.発注数,
										入荷予定数 = (MSM.発注数-ISNULL(SMU.仕入数量,0)),
										--MSM.仕入単価
										入荷予定原価額 = dbo.fn_CutFraction(SI.仕入端数,(MSM.発注数-ISNULL(SMU.仕入数量,0)) * MSM.仕入単価,0)
									FROM TD見積 AS MH (NOLOCK)
										INNER JOIN VD見積シートM AS MSM(NOLOCK)
											ON MH.見積番号 = MSM.見積番号
										INNER JOIN TM得意先 AS TK(NOLOCK)
											ON MH.販売先得意先CD = TK.得意先CD
										LEFT JOIN #TMP_TANA AS TANA(NOLOCK)
											ON	MSM.製品NO = TANA.製品NO
											AND	MSM.仕様NO = TANA.仕様NO
											--AND MSM.漢字名称 = TANA.漢字名称
											AND (CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END) = TANA.KEYCODE
											AND TK.チームCD = TANA.チームCD
										LEFT JOIN (SELECT 見積明細連番,仕入数量 = SUM(仕入数量)
														FROM TD仕入明細内訳(NOLOCK)
														GROUP BY 見積明細連番
												) AS SMU
											ON MSM.見積明細連番 = SMU.見積明細連番
										LEFT JOIN TM仕入先 AS SI(NOLOCK)
											ON MSM.仕入先CD = SI.仕入先CD
		 							WHERE 	/*MSM.見積番号 = @i見積番号
		 								AND*/ MH.社内伝票扱い = 1
										AND	MH.受注区分 = 1
										AND	MSM.見積区分 NOT IN ('A','C','S')
										AND	MSM.発注数 <> 0
										AND	(MSM.発注数-ISNULL(SMU.仕入数量,0)) <> 0--返品が出ないので<> 
										--AND	MSM.入出庫日 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
										AND	MSM.入庫日 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)--2020/09/19 ADD
			 							--AND MSM.入出庫日 >= COALESCE(@iS入荷日付,MSM.入出庫日)
			 							--AND MSM.入出庫日 <= COALESCE(@iE入荷日付,MSM.入出庫日)
			 							--AND	MSM.入出庫日 IS NOT NULL
			 							AND	MSM.入庫日 IS NOT NULL--2020/09/19 ADD
										--AND SMU.見積明細連番 IS NULL --仕入がおきていない--おきてても一部仕入はださないとダメ
										AND	TK.チームCD = @iチームCD
			 							--AND	MSM.仕入先CD >= COALESCE(@iS仕入先CD,MSM.仕入先CD)
			 							--AND	MSM.仕入先CD <= COALESCE(@iE仕入先CD,MSM.仕入先CD)
			 							--AND MSM.見積番号 >= COALESCE(@iS見積番号,MSM.見積番号)
			 							--AND MSM.見積番号 <= COALESCE(@iE見積番号,MSM.見積番号)
			 						--ORDER BY MSM.入出庫日,MH.見積番号,MSM.仕入先CD
								) AS NKY
							GROUP BY チームCD,KEYCODE,製品NO,仕様NO

				) AS B
			ON  (
				A.チームCD = B.チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.入荷予定合計数 = A.入荷予定合計数 + B.入荷予定数,
						A.入荷予定合計金額 = A.入荷予定合計金額 + B.入荷予定原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--現在庫数,
							--棚卸数
							入荷予定合計数,
							入荷予定合計金額
						)
					VALUES
						(
							--@i棚卸日付,
							B.チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							B.入荷予定数,
							B.入荷予定原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出荷予定
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--出荷予定集計
					SELECT	--SKY.出荷日付,
							SKY.チームCD,
							SKY.KEYCODE,SKY.製品NO,SKY.仕様NO,
							漢字名称 = MAX(SKY.漢字名称),
							出荷予定数 = SUM(SKY.出荷予定数),
							出荷予定原価額 = SUM(SKY.出荷予定原価額)
						FROM (
							--出荷予定データ
							SELECT 	--出荷日付 = MSM.入出庫日,
									出荷日付 = MSM.出庫日,--2020/09/19 ADd
									TANA.棚卸日付,
									TK.チームCD,
									MH.見積番号,MSM.行番号,
									MSM.見積明細連番,
									MH.見積日付,
									MH.見積件名,
									--MSM.仕入先CD,
									納入先CD = MH.販売先納得意先CD + '-' + MH.販売先納入先CD,
									MSM.配送先CD,
									MSM.配送先名,
									--SE.入出庫用CD,
									KEYCODE = CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END,
									MSM.製品NO,MSM.仕様NO,
									漢字名称 = MSM.漢字名称,
									--MSM.発注数,
									出荷予定数 = (MSM.発注数-ISNULL(SMU.仕入数量,0)),
									--MSM.仕入単価
									出荷予定原価額 = dbo.fn_CutFraction(SI.仕入端数,(MSM.発注数-ISNULL(SMU.仕入数量,0)) * MSM.仕入単価,0)
								FROM TD見積 AS MH (NOLOCK)
									INNER JOIN VD見積シートM AS MSM(NOLOCK)
										ON MH.見積番号 = MSM.見積番号
									INNER JOIN TM得意先 AS TK(NOLOCK)
										ON MH.販売先得意先CD = TK.得意先CD
									LEFT JOIN #TMP_TANA AS TANA(NOLOCK)
										ON	MSM.製品NO = TANA.製品NO
										AND	MSM.仕様NO = TANA.仕様NO
										--AND MSM.漢字名称 = TANA.漢字名称
										AND (CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END) = TANA.KEYCODE
										AND TK.チームCD = TANA.チームCD
									LEFT JOIN (SELECT 見積明細連番,仕入数量 = SUM(仕入数量)
													FROM TD仕入明細内訳(NOLOCK)
													GROUP BY 見積明細連番
											) AS SMU
										ON MSM.見積明細連番 = SMU.見積明細連番
									LEFT JOIN TM仕入先 AS SI(NOLOCK)
										ON MSM.仕入先CD = SI.仕入先CD
		 						WHERE 	/*MSM.見積番号 = @i見積番号
		 							AND MH.社内伝票扱い = 1*/
										MH.受注区分 = 1
		 							AND	MSM.仕入先CD = '3150'
		 							--AND	MSM.仕入先CD IN ('3150','9999')--2020/10/08 ADD
									AND	MSM.見積区分 NOT IN ('A','C','S')
									AND	MSM.発注数 <> 0
									AND	(MSM.発注数-ISNULL(SMU.仕入数量,0)) <> 0--返品が出ないので<> 
									--AND	MSM.入出庫日 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
									AND	MSM.出庫日 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)--2020/09/19 ADD
			 						--AND MSM.入出庫日 >= COALESCE(@iS出荷日付,MSM.入出庫日)
			 						--AND MSM.入出庫日 <= COALESCE(@iE出荷日付,MSM.入出庫日)
			 						--AND	MSM.入出庫日 IS NOT NULL
			 						AND	MSM.出庫日 IS NOT NULL--2020/09/19 ADD
									--AND SMU.見積明細連番 IS NULL --仕入がおきていない--おきてても一部仕入はださないとダメ
									AND	TK.チームCD = @iチームCD
			 						--AND MSM.見積番号 >= COALESCE(@iS見積番号,MSM.見積番号)
			 						--AND MSM.見積番号 <= COALESCE(@iE見積番号,MSM.見積番号)
			 					--ORDER BY MSM.入出庫日,MH.見積番号,MSM.行番号
								) AS SKY
							GROUP BY チームCD,KEYCODE,製品NO,仕様NO
				) AS B
			ON  (
				A.チームCD = B.チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.出荷予定合計数 = A.出荷予定合計数 + B.出荷予定数,
						A.出荷予定合計金額 = A.出荷予定合計金額 + B.出荷予定原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--現在庫数,
							--棚卸数
							出荷予定合計数,
							出荷予定合計金額
						)
					VALUES
						(
							--@i棚卸日付,
							B.チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							B.出荷予定数,
							B.出荷予定原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--入荷済データ　社内伝の仕入D
					SELECT		TK.チームCD,
								--MH.得意先CD,
								KEYCODE = CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END,
								SMU.製品NO,
								SMU.仕様NO,
								漢字名称 = MAX(SMU.漢字名称),
								入荷数 = SUM(SMU.仕入数量),
								--単価 = MAX(SMU.仕入単価)
								--内税の場合は消費税を引く
								入荷原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							LEFT JOIN #TMP_TANA AS TANA
								ON	SMU.製品NO = TANA.製品NO
								AND	SMU.仕様NO = TANA.仕様NO
								--AND SMU.漢字名称 = TANA.漢字名称
								AND (CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END) = TANA.KEYCODE
								AND TK.チームCD = TANA.チームCD
							----2017/02/16 ADD↓
							--LEFT JOIN TM製品 AS SE(NOLOCK)
							--	ON SMU.製品NO = SE.製品NO
							--	AND SMU.仕様NO = SE.仕様NO
							----2017/02/16 ADD↑
						WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
							--AND	SM.仕入日付 >= @w開始日付
							--AND SM.仕入日付 <= @i棚卸日付
							AND	TK.チームCD = @iチームCD
							--AND MH.得意先CD = @i得意先CD
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						GROUP BY TK.チームCD,(CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END),SMU.製品NO,SMU.仕様NO
				) AS B
			ON  (
				A.チームCD = B.チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.入庫合計数 = A.入庫合計数 + B.入荷数,
						A.入庫合計金額 = A.入庫合計金額 + B.入荷原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--現在庫数,
							--棚卸数
							入庫合計数,
							入庫合計金額
						)
					VALUES
						(
							--@i棚卸日付,
							B.チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							B.入荷数,
							B.入荷原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--出荷済データ 仕入先が3150:三和倉庫の仕入先D
					SELECT	TK.チームCD,
							--SM.仕入日付,
							--MH.得意先CD,
							KEYCODE = CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END,
							SMU.製品NO,
							SMU.仕様NO,
							漢字名称 = MAX(SMU.漢字名称),
							出荷数 = SUM(SMU.仕入数量),
							--内税の場合は消費税を引く
							出荷原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							LEFT JOIN #TMP_TANA AS TANA
								ON	SMU.製品NO = TANA.製品NO
								AND	SMU.仕様NO = TANA.仕様NO
								--AND SMU.漢字名称 = TANA.漢字名称
								AND (CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END) = TANA.KEYCODE
								AND TK.チームCD = TANA.チームCD
							----2017/02/16 ADD↓
							--LEFT JOIN TM製品 AS SE(NOLOCK)
							--	ON SMU.製品NO = SE.製品NO
							--	AND SMU.仕様NO = SE.仕様NO
							----2017/02/16 ADD↑
						WHERE	SM.仕入先CD = '3150'--三和倉庫
 								--SM.仕入先CD IN ('3150','9999')--2020/10/08 ADD
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
							--AND	SM.仕入日付 >= @w開始日付
							--AND SM.仕入日付 <= @i棚卸日付
							AND	TK.チームCD = @iチームCD
							--AND MH.得意先CD = @i得意先CD
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						GROUP BY TK.チームCD,(CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END),SMU.製品NO,SMU.仕様NO
				) AS B
			ON  (
				A.チームCD = B.チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.出庫合計数 = A.出庫合計数 + B.出荷数,
						A.出庫合計金額 = A.出庫合計金額 + B.出荷原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--現在庫数,
							--棚卸数
							出庫合計数,
							出庫合計金額
						)
					VALUES
						(
							--@i棚卸日付,
							B.チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							B.出荷数,
							B.出荷原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上
					SELECT	ID.在庫調整元チームCD,
							--ID.得意先CD,
							KEYCODE = CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END,
							IDM.製品NO,
							IDM.仕様NO,
							漢字名称 = MAX(IDM.漢字名称),
							--IDM.仕入先CD,
							調整出庫数量 = SUM(IDM.調整数量),
							--内税の場合は消費税を引く
							調整出庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							LEFT JOIN #TMP_TANA AS TANA
								ON	IDM.製品NO = TANA.製品NO
								AND	IDM.仕様NO = TANA.仕様NO
								--AND IDM.漢字名称 = TANA.漢字名称
								AND (CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END) = TANA.KEYCODE
								AND ID.在庫調整元チームCD = TANA.チームCD
							----2017/02/16 ADD↓
							--LEFT JOIN TM製品 AS SE(NOLOCK)
							--	ON IDM.製品NO = SE.製品NO
							--	AND IDM.仕様NO = SE.仕様NO
							----2017/02/16 ADD↑
						WHERE 
								ID.在庫調整日付 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
							--AND ID.在庫調整日付 >= @w開始日付
							--AND ID.在庫調整日付 <= @i指定日付
							AND ID.在庫調整元チームCD = @iチームCD
							--AND ID.得意先CD = @i得意先CD
							--AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							AND ID.在庫調整元チームCD <> 0--2017/05/23 ADD
						--GROUP BY ID.在庫調整元チームCD,ID.得意先CD,IDM.製品NO,IDM.仕様NO
						--GROUP BY ID.在庫調整元チームCD,IDM.製品NO,IDM.仕様NO--,IDM.仕入先CD
						GROUP BY ID.在庫調整元チームCD,(CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END),IDM.製品NO,IDM.仕様NO
				) AS B
			ON  (
				A.チームCD = B.在庫調整元チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				--AND A.仕入先CD = B.仕入先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整出庫合計数 = A.調整出庫合計数 + B.調整出庫数量,
						A.調整出庫合計金額 = A.調整出庫合計金額 + B.調整出庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--仕入先CD,
							--現在庫数,
							--棚卸数
							調整出庫合計数,
							調整出庫合計金額
						)
					VALUES
						(
							--@i指定日付,
							B.在庫調整元チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							--B.仕入先CD,
							B.調整出庫数量,
							B.調整出庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上
					SELECT	ID.在庫調整先チームCD,
							--ID.得意先CD,
							KEYCODE = CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END,
							IDM.製品NO,
							IDM.仕様NO,
							漢字名称 = MAX(IDM.漢字名称),
							--IDM.仕入先CD,
							調整入庫数量 = SUM(IDM.調整数量),
							--内税の場合は消費税を引く
							調整入庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							LEFT JOIN #TMP_TANA AS TANA
								ON	IDM.製品NO = TANA.製品NO
								AND	IDM.仕様NO = TANA.仕様NO
								--AND IDM.漢字名称 = TANA.漢字名称
								AND (CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END) = TANA.KEYCODE
								AND ID.在庫調整先チームCD = TANA.チームCD
							----2017/02/16 ADD↓
							--LEFT JOIN TM製品 AS SE(NOLOCK)
							--	ON IDM.製品NO = SE.製品NO
							--	AND IDM.仕様NO = SE.仕様NO
							----2017/02/16 ADD↑
						WHERE 
								ID.在庫調整日付 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
							--	ID.在庫調整日付 >= @w開始日付
							--AND ID.在庫調整日付 <= @i指定日付
							AND ID.在庫調整先チームCD = @iチームCD
							--AND ID.得意先CD = @i得意先CD
							--AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							AND ID.在庫調整先チームCD <> 0--2017/05/23 ADD
						--GROUP BY ID.在庫調整先チームCD,ID.得意先CD,IDM.製品NO,IDM.仕様NO
						--GROUP BY ID.在庫調整先チームCD,IDM.製品NO,IDM.仕様NO--,IDM.仕入先CD
						GROUP BY ID.在庫調整先チームCD,(CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END),IDM.製品NO,IDM.仕様NO
				) AS B
			ON  (
				A.チームCD = B.在庫調整先チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				--AND A.仕入先CD = B.仕入先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整入庫合計数 = A.調整入庫合計数 + B.調整入庫数量,
						A.調整入庫合計金額 = A.調整入庫合計金額 + B.調整入庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--仕入先CD,
							--現在庫数,
							--棚卸数
							調整入庫合計数,
							調整入庫合計金額
						)
					VALUES
						(
							--@i指定日付,
							B.在庫調整先チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							--B.仕入先CD,
							B.調整入庫数量,
							B.調整入庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出力
		------------------------------------------------
		SELECT	
				--@i指定日付,
				TMP.チームCD, 
				--TMP.得意先CD,
				棚卸明細連番=0,
				TMP.枝番, 
				TMP.KEYCODE,
				TMP.製品NO, TMP.仕様NO, 
				漢字名称 = COALESCE(TMP.漢字名称,SE.漢字名称),
				SE.W,SE.D,SE.H,
				--仕入先CD,
				
				在庫数			=	ISNULL(TMP.前回棚卸数,0)
								-	ISNULL(TMP.出荷予定合計数,0)
								+	ISNULL(TMP.入荷予定合計数,0)
								-	ISNULL(TMP.出庫合計数,0)
								+	ISNULL(TMP.入庫合計数,0)
								-	ISNULL(TMP.調整出庫合計数,0)
								+	ISNULL(TMP.調整入庫合計数,0),
								
				在庫金額		=	ISNULL(TMP.前回棚卸金額,0)
								-	ISNULL(TMP.出荷予定合計金額,0)
								+	ISNULL(TMP.入荷予定合計金額,0)
								-	ISNULL(TMP.出庫合計金額,0)
								+	ISNULL(TMP.入庫合計金額,0)
								-	ISNULL(TMP.調整出庫合計金額,0)
								+	ISNULL(TMP.調整入庫合計金額,0),

				TMP.棚卸日付,
				棚卸数			=	ISNULL(TMP.前回棚卸数,0),
				棚卸金額		=	ISNULL(TMP.前回棚卸金額,0),
								
				入予数			=	ISNULL(TMP.入荷予定合計数,0),
				入予金額		=	ISNULL(TMP.入荷予定合計金額,0),
				出予数			=	ISNULL(TMP.出荷予定合計数,0),
				出予金額		=	ISNULL(TMP.出荷予定合計金額,0),
				入庫数			=	ISNULL(TMP.入庫合計数,0)
								+	ISNULL(TMP.調整入庫合計数,0),
				入庫金額		=	ISNULL(TMP.入庫合計金額,0)
								+	ISNULL(TMP.調整入庫合計金額,0),
				出庫数			=	ISNULL(TMP.出庫合計数,0)
								+	ISNULL(TMP.調整出庫合計数,0),
				出庫金額		=	ISNULL(TMP.出庫合計金額,0)
								+	ISNULL(TMP.調整出庫合計金額,0)
			FROM #TMP_TOTAL AS TMP
				LEFT JOIN TM製品 AS SE(NOLOCK)
					ON TMP.製品NO = SE.製品NO
					AND TMP.仕様NO = SE.仕様NO
				--LEFT JOIN TM単価 AS TN(NOLOCK)
				--	ON TMP.得意先CD = TN.得意先CD
				--	AND TMP.製品NO = TN.製品NO
				--	AND TMP.仕様NO = TN.仕様NO
			ORDER BY	ISNULL(枝番,9999999), TMP.製品NO, TMP.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		

EXIT_SP:

	DROP TABLE #TMP_TOTAL

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST

GO
