/****** Object:  StoredProcedure [dbo].[xusp_SE0100請求書発行]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[xusp_SE0100請求書発行]
GO
/****** Object:  StoredProcedure [dbo].[xusp_SE0100請求書発行]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_SE0100請求書発行

機能	指定された条件で請求書を作成する

引数	

戻り値	

*****************************************************
	2003/10/09	kawamura
	2007/07/19	oosawa	納期その他が抜けていた。

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
*****************************************************/
CREATE    PROCEDURE [dbo].[xusp_SE0100請求書発行]
	(
		@i見積番号		INT,
		@RetST	INT			OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	--消費税用変数
	DECLARE	@TAX		MONEY,
			@w請求日付 	DATETIME

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

	------------------------------------------------------
	--請求日付取得
	------------------------------------------------------
	SELECT 	@w請求日付 = 請求日付
		FROM	TD売上
		WHERE 	見積番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--税率取得
	SET	@TAX = dbo.fn_GetTax(@w請求日付)

	------------------------------------------------------
	--見積出力用データ作成
	------------------------------------------------------
	SELECT * INTO #WK見積明細
		FROM 
		(
		SELECT	MH.売上番号, MH.見積番号, MSM.売上行番号, MSM.仕分番号, MSM.仕分名称, 
				MSU.売上明細行番号, MSU.見積行番号,
				MSU.伝票区分, MSU.SP区分, MSU.PC区分, MSU.製品NO, MSU.仕様NO, MSU.漢字名称, 
				MSU.W, MSU.D, MSU.H, MSU.D1, MSU.D2, MSU.H1, MSU.H2,
				MSU.売上数量, MSU.単位名, MSU.売上単価, MSU.売上金額
			FROM		TD売上 AS MH
					INNER JOIN TD売上明細 AS MSM ON MSM.売上番号 = MH.売上番号
					INNER JOIN TD売上明細内訳 AS MSU 
					ON MSM.売上番号 = MSU.売上番号 AND MSM.売上行番号 = MSU.売上行番号
			WHERE	MH.見積番号 = @i見積番号
		) AS D

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--見積ヘッダー部出力
	------------------------------------------------------
	SELECT	UH.*, 
			外税額 = (CASE WHEN UH.税集計区分 = 1 THEN 
						dbo.fn_CutFraction(UH.消費税端数, UH.外税対象額 / 100 * @TAX, @decimalPoint)
					WHEN UH.税集計区分 = 0 THEN 
						UH.外税額
				   	END),
			MT.納期表示, MT.支払条件, MT.支払条件その他, MT.有効期限, 
			TT.担当者名,
			MT.納期その他							--2007/07/19 ADD
		FROM		TD売上 AS UH
		INNER JOIN 	TD見積 AS MT ON UH.見積番号 = MT.見積番号
		LEFT JOIN 	TM担当者 AS TT ON UH.担当者CD = TT.担当者CD
		WHERE	UH.見積番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--見積ヘッダー部出力
	------------------------------------------------------
	SELECT	見積番号, 仕分番号, 仕分名称, 
			SUM(売上金額) AS 売上金額
		FROM		#WK見積明細
		GROUP BY 	見積番号, 仕分番号, 仕分名称
		ORDER BY 仕分番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	------------------------------------------------------
	--見積明細部出力
	------------------------------------------------------
	SELECT MW.*, CN.仕分行数 
		FROM #WK見積明細 AS MW
		LEFT JOIN 
			(
			SELECT	見積番号, 仕分番号, 仕分名称, 
					COUNT(売上明細行番号) AS 仕分行数
				FROM		#WK見積明細
				GROUP BY 	見積番号, 仕分番号, 仕分名称
			) AS CN 
			ON 	MW.見積番号 = CN.見積番号 
			AND 	MW.仕分番号 = CN.仕分番号 
			AND 	MW.仕分名称 = CN.仕分名称 
		ORDER BY 	MW.仕分番号, MW.売上明細行番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--請求書発行フラグ更新
	------------------------------------------------------
	UPDATE TD売上
		SET 	請求書発行FLG = 1
		WHERE	見積番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	DROP TABLE #WK見積明細
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST


GO
