/****** Object:  StoredProcedure [dbo].[usp_ChkDelForチーム]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelForチーム]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelForチーム]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_ChkDelForチーム

機能	チームマスタメンテ[削除]のデータ存在チェック

		得意先Ｍ

引数	チームCD

戻り値	

*****************************************************
UPDATE
	2014/09/18	oosawa		新設
*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelForチーム]
	(
		@iチームCD	INT,
		
		@RetST		INT				OUTPUT,
		@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--得意先Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(チームCD)
		FROM 		TM得意先
		WHERE	(チームCD = @iチームCD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[得意先マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END
	RETURN @ST
GO
