/****** Object:  StoredProcedure [dbo].[usp_HK0500売掛明細一覧表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HK0500売掛明細一覧表]
GO
/****** Object:  StoredProcedure [dbo].[usp_HK0500売掛明細一覧表]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_HK0500売掛明細一覧表

機能	売掛明細一覧表を作成する


引数

戻り値

修正履歴
	2013/04/02	新規作成
	2013/07/30	oosawa		合計金額と外税額を分ける
	
	2015/01/14	oosawa		新規
							売上日付で集計
	2024/02/14	oosawa		消費税調整テーブルも追加し印字
*****************************************************/
CREATE PROCEDURE [dbo].[usp_HK0500売掛明細一覧表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS得意先CD		VARCHAR(7),
	@iE得意先CD		VARCHAR(7),

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	---------------------------
	--得意先別請求金額一覧
	---------------------------
	--ワークテーブル作成
	CREATE TABLE #TMP
		(
			得意先CD		VARCHAR(4),
			売上日付		DATETIME,
			見積番号		INT,
			見積件名		VARCHAR(255),
			合計金額		MONEY	DEFAULT(0),
			外税額			MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	INSERT	INTO	#TMP
			(得意先CD, 売上日付, 見積番号, 見積件名,合計金額, 外税額)

		SELECT	MH.得意先CD, UH.売上日付, UH.見積番号, MH.見積件名,
				--請求金額 = (UH.合計金額 + UH.外税額),--2013/07/30 DEL
				UH.合計金額, UH.外税額--,--2013/07/30 ADD
				--Count = COUNT(MH.得意先CD) OVER (PARTITION BY MH.得意先CD)
			FROM	TD売上v2 AS UH
				INNER JOIN TD見積 AS MH
					ON UH.見積番号 = MH.見積番号
			WHERE	UH.売上日付 >= @iS集計日付
    			AND	UH.売上日付 <= @iE集計日付
    			AND	MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
    			AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
			----ORDER BY	MH.得意先CD, UH.売上日付, UH.見積番号


	INSERT	INTO	#TMP
			(得意先CD, 売上日付, 見積番号, 見積件名,合計金額, 外税額)

		SELECT 	
				得意先CD,
				調整日付,
				消費税調整番号,
				'消費税調整',
				0,
				消費税調整金額 = (調整金額)
			FROM 		TD消費税調整
       		WHERE	調整日付 >= @iS集計日付
    			AND	調整日付 <= @iE集計日付
    			AND	得意先CD >= COALESCE(@iS得意先CD,得意先CD)
    			AND	得意先CD <= COALESCE(@iE得意先CD,得意先CD)
			--GROUP BY 	得意先CD

	SELECT	得意先CD, 売上日付, 見積番号, 見積件名,
			合計金額, 外税額,
			Count = COUNT(得意先CD) OVER (PARTITION BY 得意先CD)
		FROM	#TMP
		ORDER BY	得意先CD, 売上日付, 見積番号



	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
