/****** Object:  StoredProcedure [dbo].[usp_HD0500売上データCSV出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0500売上データCSV出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0500売上データCSV出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_HD0500売上データCSV出力
	機能:	
 =============================================
	2009/04/17	oosawa	新規作成
 =============================================*/
CREATE   PROCEDURE [dbo].[usp_HD0500売上データCSV出力]
	(
		@is売上日付		DATETIME,
		@ie売上日付		DATETIME,
		@is得意先CD		VARCHAR(4),
		@ie得意先CD		VARCHAR(4),
		@i見積番号配列	VARCHAR(8000),
		--OUTPUT
		@RetDcnt 			INT 			OUTPUT,
		@RetST			INT			OUTPUT,
		@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT	ON

-- 	SET	@is売上日付 = '2007/01/01'
-- 	SET	@ie売上日付 = '2007/01/31'
-- 	SET	@is得意先CD = '3203'
-- 	SET	@ie得意先CD = '3203'
-- 	SET	@i見積番号配列 = '27192,26986'

	DECLARE	@TRAN	SMALLINT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''

	--------------------------------------------------
	--配列変数の設定
	--------------------------------------------------
	DECLARE @p1 INT, @p2 INT	--@p1:文字の先頭位置 @p2:カンマの位置
	DECLARE @TBL TABLE	--テーブル変数
		(t INT)	

	--初期値
    	SET @p1 = 0
	--値の長さより小さい間繰り返す
	WHILE LEN(@i見積番号配列) > @p1 BEGIN
		--@p1+1からカンマの位置を探す
		SET @p2 = CHARINDEX(',' , @i見積番号配列, @p1+1)
		--カンマが無い（最後）の場合、文字数+1をセット
		IF @p2 = 0  SET @p2 = LEN(@i見積番号配列)+1
		--テーブル変数に算出した値をセット
		INSERT @TBL VALUES(CONVERT(VARCHAR(8),SUBSTRING(@i見積番号配列, @p1+1,(@p2-1)-@p1)))
		--検索位置の移動
		SET @p1 = @p2
	END

	----------------------------------
	-- 	データ抽出
	----------------------------------
	IF EXISTS(SELECT * FROM @TBL) BEGIN
		--見積番号指定あり
		SELECT	UH.見積番号, 
				UH.納入先CD, 
				納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(UH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				UU.製品NO, UU.漢字名称, 
				UU.売上数量, UU.売上単価
			FROM	TD売上 AS UH
				INNER JOIN TD売上明細 AS UM
					ON UH.売上番号 = UM.売上番号
				INNER JOIN TD売上明細内訳 AS UU
					ON UM.売上番号 = UU.売上番号
					AND UM.売上行番号 = UU.売上行番号
		
			WHERE	UH.売上日付 >= @is売上日付
				AND	UH.売上日付 <= @ie売上日付
				AND	UH.得意先CD >= COALESCE(@is得意先CD, UH.得意先CD)
				AND	UH.得意先CD <= COALESCE(@ie得意先CD, UH.得意先CD)
				AND 	UH.見積番号 IN (SELECT * FROM @TBL)
			ORDER BY	UH.売上日付, UH.納入得意先CD, UH.納入先CD, UH.売上番号, UU.売上行番号, UU.売上明細行番号
	
		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END ELSE BEGIN
		--見積番号指定なし
		SELECT	UH.見積番号, 
				UH.納入先CD, 
				納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(UH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				UU.製品NO, UU.漢字名称, 
				UU.売上数量, UU.売上単価
			FROM	TD売上 AS UH
				INNER JOIN TD売上明細 AS UM
					ON UH.売上番号 = UM.売上番号
				INNER JOIN TD売上明細内訳 AS UU
					ON UM.売上番号 = UU.売上番号
					AND UM.売上行番号 = UU.売上行番号
		
			WHERE	UH.売上日付 >= @is売上日付
				AND	UH.売上日付 <= @ie売上日付
				AND	UH.得意先CD >= COALESCE(@is得意先CD, UH.得意先CD)
				AND	UH.得意先CD <= COALESCE(@ie得意先CD, UH.得意先CD)
	-- 			AND 	UH.見積番号 IN (SELECT * FROM @TBL)
			ORDER BY	UH.売上日付, UH.納入得意先CD, UH.納入先CD, UH.売上番号, UU.売上行番号, UU.売上明細行番号

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST
GO
