/****** Object:  StoredProcedure [dbo].[usp_ND0400未回収一覧表抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ND0400未回収一覧表抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_ND0400未回収一覧表抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	uusp_ND0400未回収一覧表抽出

機能	指定された未回収情報を抽出する

引数	

戻り値

修正履歴
	2012/08/17	oosawa		新規作成
	2012/09/07	oosawa		決算月を追加
	2013/01/18	oosawa		マイナス明細が出ないので
							入金されてないか、絶対値で残が残るものを出すように変更
*****************************************************/
CREATE   PROCEDURE [dbo].[usp_ND0400未回収一覧表抽出]
	(
		@is得意先CD			varchar(4),
		@ie得意先CD			varchar(4),
		@iDateFrom			DATETIME,
		@iDateTo			DATETIME,
		@i全額含む			SMALLINT,

		--OUTPUT
		@RetST				INT			OUTPUT,
		@RetMsg				VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT	ON

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''

--SET @iDateFrom = '2012/01/01'
--SET @iDateTo = '2012/12/31'
--SET	@i全額含む = 0

	----------------------------------
	-- 	抽出データ
	----------------------------------
	SELECT	UH.売上番号, UH.売上日付, UH.請求日付, UH.得意先CD, UH.得意先名1, UH.得意先名2, 
			税込金額 = UH.合計金額 + UH.外税額, 
			入金済金額 = ISNULL(NY.明細入金合計, 0), 
			未入金額 = (UH.合計金額 + UH.外税額) - ISNULL(NY.明細入金合計, 0),
			入金状況 = CASE WHEN ISNULL(NY.明細入金合計, 0) <> 0 
							THEN CASE WHEN ISNULL(NY.明細入金合計, 0) >= (UH.合計金額 + UH.外税額)
										THEN '全額入金' 
										ELSE '一部入金'
							END
						END,
			回収予定日 = dbo.fn_Get入金予定日(dbo.ufn_GetLastDateOfScope(UH.請求日付,TK.締日), TK.入金サイクル, TK.入金予定日),
			請求=dbo.ufn_GetLastDateOfScope(UH.請求日付,TK.締日),
			TK.締日,UH.請求年月日,TK.入金サイクル, TK.入金予定日,
			TK.決算月--2012/09/07 ADD
		FROM	TD売上 AS UH
			LEFT JOIN
				(SELECT	売上番号, SUM(入金金額) AS 明細入金合計
						FROM	TD入金消込
						GROUP BY	売上番号
				) AS NY
				ON UH.売上番号 = NY.売上番号
			--LEFT JOIN
			--	(SELECT	売上番号, 入金番号
			--		FROM	TD入金消込
			--		WHERE	(入金番号 = @i入金番号)
			--	) AS NYZ
			--	ON UH.売上番号 = NYZ.売上番号
			LEFT JOIN TM得意先 AS TK
				ON UH.得意先CD = TK.得意先CD
		WHERE	(UH.請求日付 >= @iDateFrom) 
			AND (UH.請求日付 <= @iDateTo) 
			AND (UH.得意先CD = coalesce(@is得意先CD,UH.得意先CD))
			AND (UH.得意先CD = coalesce(@ie得意先CD,UH.得意先CD))
			AND	(UH.合計金額 + UH.外税額) <> 0--請求額がゼロ以外
			--@i全額含むが1:「全額含む」の場合、TRUEになるので条件が成り立つ。
			--その為、未入金額がゼロより大きいが打ち消されるので出力される。
			AND	(
					(@i全額含む = 1)
				OR
				--((UH.合計金額 + UH.外税額 - ISNULL(NY.明細入金合計, 0)) > 0)--2013/01/18 DEL
					(ISNULL(NY.明細入金合計, 0) = 0)--入金されてない --2013/01/18 ADD
				OR
				--(abs(UH.合計金額 + UH.外税額) - abs(ISNULL(NY.明細入金合計, 0)) > 0)--2013/01/18 ADD
				(abs(UH.合計金額 + UH.外税額) - abs(ISNULL(NY.明細入金合計, 0)) <> 0)--2013/02/14 ADD'過入金もだす
				)
--	ORDER BY           UH.得意先CD, UH.請求日付, UH.売上番号
	ORDER BY           UH.請求日付, UH.得意先CD, UH.売上番号
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST

GO
