/****** Object:  StoredProcedure [dbo].[usp_TN1100社内在庫状況表示_q]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1100社内在庫状況表示_q]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1100社内在庫状況表示_q]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_TN1100社内在庫状況表示_q

機能	指定された在庫集計情報を作成する

引数

戻り値

※棚卸は1/1に行って1/1の入出庫は含めないようにするので、
　基準は1/1の午前0時とする。


修正履歴
	2013/02/20	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN1100社内在庫状況表示_q]

	@i指定日付		DATETIME,
	@i担当者CD		SMALLINT,

	--OUTPUT
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	
	--SET ARITHABORT ON

	DECLARE
			@i製品NO		CHAR(7),
			@i仕様NO		CHAR(7),
			@i見積番号		INT

	--set @i指定日付 = '2013/12/31'
	--set @i担当者CD = 5
	
	--***	各SQL文内のWHERE句に下記の設定がされているが
	--		COALESCE()でNULLを判断する。
	--		※外してしまうと処理が極端に遅くなる。！！！
	
	set @i製品NO = NULL
	SET @i仕様NO = NULL
	SET @i見積番号 = NULL
	
	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME


	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別社内在庫
		WHERE 	
			担当者CD = @i担当者CD
		--AND	製品NO = COALESCE(@i製品NO,製品NO)
		--AND	仕様NO = COALESCE(@i仕様NO,仕様NO)
		GROUP BY 	
			担当者CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--SELECT @wk棚卸日付 AS MAX棚卸日


	---------------------------
	--商品・倉庫毎に棚卸日付での在庫数を算出する。
	---------------------------
		SELECT	 
				ZK.担当者CD, 
				ZK.製品NO, 
				ZK.仕様NO, 
				ZK.漢字名称, 
				ZK.W,ZK.D,ZK.H,ZK.D1,ZK.D2,ZK.H1,ZK.H2,
				ZK.主仕入先CD,
				--棚卸情報
				TA.棚卸日付,
				棚卸数 = ISNULL(TA.棚卸数,0),
				--受注情報
				受注数_社内在庫含む = ISNULL(JY.受注数,0),
				社内在庫引当数 = ISNULL(JY.社内在庫数,0),
				--発注情報
				発注数 = ISNULL(HC.発注数,0),
				--仕入数
				仕入数 = ISNULL(SR.仕入数,0),
				--売上数
				売上数 = ISNULL(UR.売上数,0),
				--入庫数
				入庫数 = ISNULL(NK.入庫数,0),
				--出庫数
				出庫数 = ISNULL(SK.出庫数,0),
				
				在庫数 = ISNULL(TA.棚卸数,0)
						- ISNULL(JY.受注数,0)
						+ ISNULL(HC.発注数,0)
						+ ISNULL(SR.仕入数,0)
						- ISNULL(UR.売上数,0)
						+ ISNULL(NK.入庫数,0)
						- ISNULL(SK.出庫数,0)

		
			FROM (
				--------------
				--社内在庫マスタ
				--------------
				SELECT	ZK.担当者CD, ZK.製品NO, ZK.仕様NO, 
						ZK.適正在庫数, ZK.予備在庫数,
						ZK.行NO,					--2009/12/07 ADD,
						SE.漢字名称,SE.主仕入先CD,
						SE.W,SE.D,SE.H,SE.D1,SE.D2,SE.H1,SE.H2
					FROM	TM社内在庫_担当者別 AS ZK (NOLOCK)
						INNER JOIN TM製品 AS SE (NOLOCK)
							ON ZK.製品NO = SE.製品NO
							AND ZK.仕様NO = SE.仕様NO
					WHERE	担当者CD = @i担当者CD
				) AS ZK


			LEFT JOIN (
				--------------
				--棚卸数
				--------------
				SELECT	
						棚卸日付,担当者CD, 製品NO, 仕様NO, 棚卸数
					FROM
						TD棚卸_担当者別社内在庫 (NOLOCK)
					WHERE
							棚卸日付 = @wk棚卸日付
							--棚卸日付 < @i指定日付
						AND	担当者CD = @i担当者CD
						AND	製品NO = COALESCE(@i製品NO,製品NO)
						AND	仕様NO = COALESCE(@i仕様NO,仕様NO)
					) AS TA
						ON	ZK.担当者CD = TA.担当者CD
						AND	ZK.製品NO = TA.製品NO
						AND	ZK.仕様NO = TA.仕様NO
			LEFT JOIN (
				----------------
				-- 受注数集計
				----------------
				SELECT 	
						MT.担当者CD, 
						MSM.製品NO, MSM.仕様NO,
						SUM(ISNULL(MSM.見積数量,0)) AS 受注数,
						SUM(ISNULL(MSM.社内在庫数,0)) AS 社内在庫数
					FROM
						TD見積 AS MT (NOLOCK)
					LEFT 	JOIN 	
						TD見積シートM AS MSM (NOLOCK)
						ON 	MT.見積番号 = MSM.見積番号
					WHERE 	
	-- 						MT.受注区分	= 1
							MT.見積区分	= 1			--2009/09/26 ADD
						AND	MT.売上日付	IS NULL		--売上がたってない物
						AND	MT.売上納期	>= @wk棚卸日付
						AND	MT.売上納期 <= @i指定日付
		    			AND	MT.担当者CD = @i担当者CD
						AND	MSM.製品NO = COALESCE(@i製品NO,製品NO)
						AND	MSM.仕様NO = COALESCE(@i仕様NO,仕様NO)
						AND MT.見積番号 = COALESCE(@i見積番号,MT.見積番号)
						AND	MT.得意先CD <> '9999'		--2009/10/01 ADD
					GROUP BY 	
							MT.担当者CD, MSM.製品NO, MSM.仕様NO
					) AS JY
						ON	ZK.担当者CD = JY.担当者CD
						AND	ZK.製品NO = JY.製品NO
						AND	ZK.仕様NO = JY.仕様NO
			LEFT JOIN (
				----------------
				-- 発注数
				----------------
				SELECT 	
						HH.担当者CD, 
						HM.製品NO, HM.仕様NO,
						SUM(ISNULL(HM.発注数量,0)) AS 発注数 
					FROM 		
						TD見積 AS MT (NOLOCK)
					INNER JOIN  	
						TD発注 AS HH (NOLOCK)
						ON 	MT.見積番号 = HH.見積番号
					INNER JOIN 	
						TD発注明細 AS HM (NOLOCK)
						ON 	HH.発注番号 = HM.発注番号 
						AND 	HH.仕入先CD = HM.仕入先CD
						AND 	HH.配送先CD = HM.配送先CD
						AND 	HH.仕分番号 = HM.仕分番号
					WHERE 	
	-- 						MT.受注区分	= 1
							MT.見積区分	= 1			--2009/09/26 ADD
						AND	MT.仕入日付	IS NULL		--仕入がたってない物
						AND HH.納期 >= @wk棚卸日付
						AND HH.納期 <= @i指定日付
						AND HH.担当者CD = @i担当者CD
						AND	HM.製品NO = COALESCE(@i製品NO,HM.製品NO)
						AND	HM.仕様NO = COALESCE(@i仕様NO,HM.仕様NO)
						AND MT.見積番号 = COALESCE(@i見積番号,MT.見積番号)
			 		GROUP BY 	
							HH.担当者CD, HM.製品NO, HM.仕様NO
					) AS HC
						ON	ZK.担当者CD = HC.担当者CD
						AND	ZK.製品NO = HC.製品NO
						AND	ZK.仕様NO = HC.仕様NO
			LEFT JOIN (
				----------------
				-- 仕入数
				----------------
				SELECT 
				 		SR.担当者CD, 
				 		SRU.製品NO, SRU.仕様NO, 
						SUM(ISNULL(SRU.仕入数量,0)) AS 仕入数 
					FROM 
						TD仕入明細内訳 AS SRU (NOLOCK)
					INNER JOIN 	
						TD仕入 AS SR (NOLOCK)
						ON 	SR.仕入番号 = SRU.仕入番号 
					INNER JOIN 	
						TD仕入明細 AS SRM (NOLOCK)
						ON 	SRU.仕入番号 = SRM.仕入番号 
						AND 	SRU.仕入先CD = SRM.仕入先CD
						AND 	SRU.配送先CD = SRM.配送先CD
						AND 	SRU.仕分番号 = SRM.仕分番号
					WHERE 	
							SRM.仕入日付 >= @wk棚卸日付
						AND	SRM.仕入日付 <= @i指定日付
						AND	SR.担当者CD = @i担当者CD
						AND	SRU.製品NO = COALESCE(@i製品NO,SRU.製品NO)
						AND	SRU.仕様NO = COALESCE(@i仕様NO,SRU.仕様NO)
						AND SR.見積番号 = COALESCE(@i見積番号,SR.見積番号)
					GROUP BY 	
							SR.担当者CD, SRU.製品NO, SRU.仕様NO
					) AS SR
						ON	ZK.担当者CD = SR.担当者CD
						AND	ZK.製品NO = SR.製品NO
						AND	ZK.仕様NO = SR.仕様NO
			LEFT JOIN (
				--------------
				-- 売上数
				----------------
				SELECT 	UR.担当者CD, 
						URU.製品NO, URU.仕様NO, 
						SUM(ISNULL(URU.売上数量,0)) AS 売上数 		--2009/10/02 ADD
					FROM 		
						TD売上 AS UR (NOLOCK)
					LEFT 	JOIN 	
						TD売上明細内訳 AS URU (NOLOCK)
						ON 	UR.売上番号 = URU.売上番号
					WHERE 	
							UR.売上日付 >= @wk棚卸日付
						AND UR.売上日付 <= @i指定日付
						AND UR.担当者CD = @i担当者CD
						AND	URU.製品NO = COALESCE(@i製品NO,URU.製品NO)
						AND	URU.仕様NO = COALESCE(@i仕様NO,URU.仕様NO)
						AND UR.見積番号 = COALESCE(@i見積番号,UR.見積番号)
						AND	UR.得意先CD <> '9999'		--2009/10/01 ADD
					GROUP BY 	
							UR.担当者CD, URU.製品NO, URU.仕様NO
					) AS UR
						ON	ZK.担当者CD = UR.担当者CD
						AND	ZK.製品NO = UR.製品NO
						AND	ZK.仕様NO = UR.仕様NO
			LEFT JOIN (
				----------------
				-- 入庫数
				----------------
				SELECT 	
				 		SZH.社内在庫移動先担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 入庫数
					FROM 
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @wk棚卸日付
						AND SZH.社内在庫移動日付 <= @i指定日付
						AND SZH.社内在庫移動先担当者CD = @i担当者CD
						AND	SZM.製品NO = COALESCE(@i製品NO,SZM.製品NO)
						AND	SZM.仕様NO = COALESCE(@i仕様NO,SZM.仕様NO)
					GROUP BY
							SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO
						) AS NK
							ON	ZK.担当者CD = NK.社内在庫移動先担当者CD
							AND	ZK.製品NO = NK.製品NO
							AND	ZK.仕様NO = NK.仕様NO
			LEFT JOIN (
				----------------
				-- 出庫数
				----------------
				SELECT	
				 		SZH.社内在庫移動元担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 出庫数
					FROM 	
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @wk棚卸日付
						AND SZH.社内在庫移動日付 <= @i指定日付
						AND SZH.社内在庫移動元担当者CD = @i担当者CD
						AND	SZM.製品NO = COALESCE(@i製品NO,SZM.製品NO)
						AND	SZM.仕様NO = COALESCE(@i仕様NO,SZM.仕様NO)
					GROUP BY
							SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO
					) AS SK
						ON	ZK.担当者CD = SK.社内在庫移動元担当者CD
						AND	ZK.製品NO = SK.製品NO
						AND	ZK.仕様NO = SK.仕様NO
			ORDER BY
				ZK.行NO, ZK.製品NO, ZK.仕様NO

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


--SELECT * FROM #TMP
--	ORDER BY 日付,区分

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST




GO
