/****** Object:  StoredProcedure [dbo].[usp_HC0100発注抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HC0100発注抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_HC0100発注抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_HC0100発注抽出

	機能:	
		発注データを抽出する

 =============================================
	2003/07/29	kawamura
	2003/09/12	kawamura	製品サイズに[H1][H2]追加
	2003/10/31 	kawamura 	コメント行管理用に見積区分追加
	2008/11/20 	kawamura 	出力順に不具合発生。ORDER BY句をきちんと指定する！
	2010/03/13	oosawa	2008対応
 =============================================*/
CREATE   PROCEDURE [dbo].[usp_HC0100発注抽出]
	(
		@i見積番号			INT,
		@is仕入先CD			VARCHAR(4) = NULL,
		@ie仕入先CD			VARCHAR(4) = NULL,
		--OUTPUT
		@RetST			INT			OUTPUT,
		@RetMsg			VARCHAR(255)	OUTPUT
	)
AS

	SET	NOCOUNT	ON

	DECLARE	@TRAN	SMALLINT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''


----------------------------------
-- 	抽出データ
----------------------------------
	SELECT 	D.*, 
			SI.仕入先名1, SI.仕入先名2, SI.住所1 AS 仕入先住所1, SI.住所2 AS 仕入先住所2, SI.郵便番号 AS 仕入先郵便番号, SI.電話番号 AS 仕入先TEL,
			HA.配送先名1, HA.配送先名2, HA.住所1 AS 配送先住所1, HA.住所2 AS 配送先住所2, HA.郵便番号 AS 配送先郵便番号, HA.電話番号 AS 配送先TEL,
			HA.略称 AS 配送先略称,
			TA.担当者名, 
			MH.見積件名, 
			SED.セクション計, SID.仕入先計, SIP.仕入頁計,
			(
			SELECT 	COUNT(*)+1
				FROM 
					(
					SELECT 	D2.発注番号, D2.仕入先CD , D2.配送先CD, D2.仕分番号, D2.頁
						FROM
						(
						SELECT 	HH.発注番号, HH.仕入先CD , HH.配送先CD, HH.仕分番号, HM.行番号, 
								((HM.行番号-1)/20)+1 AS 頁
							FROM 	TD発注 AS HH
							INNER JOIN 	TD発注明細 AS HM 
								ON 	HH.発注番号 = HM.発注番号 
								AND 	HH.仕入先CD = HM.仕入先CD
								AND 	HH.配送先CD = HM.配送先CD
								AND 	HH.仕分番号 = HM.仕分番号
							WHERE 	HH.発注番号 = @i見積番号
						) AS D2
						GROUP BY 	D2.発注番号, D2.仕入先CD , D2.配送先CD, D2.仕分番号, D2.頁
					) AS D1
			WHERE 	DD.発注番号 = D1.発注番号 
				AND 	DD.仕入先CD = D1.仕入先CD 
				AND 	(
					DD.配送先CD + DD.仕分番号 + LTRIM(STR(DD.頁))
					 > 
					D1.配送先CD + D1.仕分番号 + LTRIM(STR(D1.頁))
					)
			) AS 仕入毎頁
	FROM
		(
		SELECT 	HH.発注番号, HH.仕入先CD , HH.配送先CD, HH.仕分番号, HH.発注日付, HH.見積番号, HH.仕分名称,
				HH.担当者CD, HH.納入先名1, HH.納入先名2, HH.納入先郵便番号, HH.納入先住所1, HH.納入先住所2,
				HH.納入先TEL, HH.納入先FAX, HH.納期, HH.時間, 
				HM.行番号, HM.見積行番号, HM.製品NO, HM.仕様NO, HM.漢字名称, 
				HM.W, HM.D, HM.H, HM.D1, HM.D2, HM.H1, HM.H2,
				HM.発注数量, HM.単位名, HM.発注単価, HM.発注金額, HM.製品区分, HM.見積区分,	--2003/10/31
				((HM.行番号-1)/20)+1 AS 頁
			FROM 	TD発注 AS HH
			INNER JOIN 	TD発注明細 AS HM 
				ON 	HH.発注番号 = HM.発注番号 
				AND 	HH.仕入先CD = HM.仕入先CD
				AND 	HH.配送先CD = HM.配送先CD
				AND 	HH.仕分番号 = HM.仕分番号
			WHERE 	HH.発注番号 = @i見積番号
		) AS D
	LEFT JOIN 	TD見積 AS MH ON D.見積番号 = MH.見積番号
	LEFT JOIN 	TM仕入先 AS SI ON D.仕入先CD = SI.仕入先CD
	LEFT JOIN 	TM配送先 AS HA ON D.配送先CD = HA.配送先CD
	LEFT JOIN 	TM担当者 AS TA ON D.担当者CD = TA.担当者CD
	LEFT JOIN
		(
		SELECT 	HH.発注番号, HH.仕入先CD,	SUM(HM.発注金額) AS 仕入先計
			FROM 	TD発注 AS HH
			INNER JOIN 	TD発注明細 AS HM 
				ON 	HH.発注番号 = HM.発注番号 
				AND 	HH.仕入先CD = HM.仕入先CD
				AND 	HH.配送先CD = HM.配送先CD
				AND 	HH.仕分番号 = HM.仕分番号
			WHERE 	HH.発注番号 = @i見積番号
			GROUP BY 	HH.発注番号, HH.仕入先CD
		) AS SID 
		ON 	D.発注番号 = SID.発注番号 
		AND 	D.仕入先CD = SID.仕入先CD
	LEFT JOIN
		(
		SELECT 	HH.発注番号, HH.仕入先CD , HH.配送先CD, HH.仕分番号, SUM(HM.発注金額) AS セクション計
			FROM 	TD発注 AS HH
			INNER JOIN 	TD発注明細 AS HM 
				ON 	HH.発注番号 = HM.発注番号 
				AND 	HH.仕入先CD = HM.仕入先CD
				AND 	HH.配送先CD = HM.配送先CD
				AND 	HH.仕分番号 = HM.仕分番号
			WHERE 	HH.発注番号 = @i見積番号
			GROUP BY 	HH.発注番号, HH.仕入先CD, HH.配送先CD, HH.仕分番号
		) AS SED 
		ON 	D.発注番号 = SED.発注番号 
		AND 	D.仕入先CD = SED.仕入先CD
		AND 	D.配送先CD = SED.配送先CD
		AND 	D.仕分番号 = SED.仕分番号
	LEFT JOIN
		(
		SELECT 	SEP.発注番号, SEP.仕入先CD, SUM(SEP.頁) AS 仕入頁計
			FROM
				(
				SELECT 	HH.発注番号, HH.仕入先CD , HH.配送先CD, HH.仕分番号, MAX(((行番号-1)/20)+1) AS 頁
					FROM 	TD発注 AS HH
					INNER JOIN 	TD発注明細 AS HM 
						ON 	HH.発注番号 = HM.発注番号 
						AND 	HH.仕入先CD = HM.仕入先CD
						AND 	HH.配送先CD = HM.配送先CD
						AND 	HH.仕分番号 = HM.仕分番号
					WHERE 	HH.発注番号 = @i見積番号
					GROUP BY 	HH.発注番号, HH.仕入先CD , HH.配送先CD, HH.仕分番号
		 		) AS SEP 
			GROUP BY 	SEP.発注番号, SEP.仕入先CD
		) AS SIP 
		ON 	D.発注番号 = SIP.発注番号 
		AND 	D.仕入先CD = SIP.仕入先CD
	LEFT JOIN
		(
		SELECT 	D2.発注番号, D2.仕入先CD , D2.配送先CD, D2.仕分番号, D2.頁
			FROM
				(
				SELECT 	HH.発注番号, HH.仕入先CD , HH.配送先CD, HH.仕分番号, HM.行番号, ((HM.行番号-1)/20)+1 AS 頁
					FROM 	TD発注 AS HH
					INNER JOIN 	TD発注明細 AS HM 
						ON 	HH.発注番号 = HM.発注番号 
						AND 	HH.仕入先CD = HM.仕入先CD
						AND 	HH.配送先CD = HM.配送先CD
						AND 	HH.仕分番号 = HM.仕分番号
					WHERE 	HH.発注番号 = @i見積番号
				) AS D2
			GROUP BY 	D2.発注番号, D2.仕入先CD , D2.配送先CD, D2.仕分番号, D2.頁
		) AS DD
		ON 	D.発注番号 = DD.発注番号 
		AND 	D.仕入先CD = DD.仕入先CD
		AND 	D.配送先CD = DD.配送先CD
		AND 	D.仕分番号 = DD.仕分番号
		AND 	D.頁 = DD.頁
	WHERE 	D.仕入先CD >= COALESCE(@is仕入先CD,D.仕入先CD) 
		AND	D.仕入先CD <= COALESCE(@ie仕入先CD,D.仕入先CD) 
	--ORDER BY 	D.仕入先CD, D.配送先CD, D.仕分番号					--2008/11/20 DEL
	--ORDER BY 	D.仕入先CD, D.配送先CD, D.仕分番号, SIP.仕入頁計, D.仕入毎頁	--2008/11/20 ADD
	ORDER BY 	D.仕入先CD, D.配送先CD, D.仕分番号, SIP.仕入頁計, 仕入毎頁		--2010/03/13 ADD



	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST
GO
