/****** Object:  StoredProcedure [dbo].[usp_SK0200仕入先別仕入集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SK0200仕入先別仕入集計表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_SK0200仕入先別仕入集計表出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_SK0200仕入先別仕入集計表出力

機能	指定された条件で仕入先別仕入集計表データを取得する

	2003/10/16	oosawa
	2003/11/05	kawamura 	伝票区分はVARCHAR(1)に変更
	2004/04/20	oosawa	仕入日付を支払日付に変更
	2013/10/30	oosawa		TD仕入の仕分レベル削除に伴う修正
	2017/07/18	oosawa		消費税差し引きが間違い
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SK0200仕入先別仕入集計表出力]
	@iS支払日付		DATETIME,
	@iE支払日付		DATETIME,
	@iS仕入先		VARCHAR(4),
	@iE仕入先		VARCHAR(4),
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	--仕入先別仕入集計算出
	SELECT S.仕入先CD,SR.仕入先名1,SR.仕入先名2,
			S.仕入金額,S.消費税額,S.税抜金額,
			S.税抜仕入金額,S.税抜返品金額,S.税抜訂正金額,
			S.税抜仕入金額 + S.税抜返品金額 + S.税抜訂正金額 AS 純仕入金額
	FROM (
		SELECT	SM.仕入先CD,
				SUM(SU.仕入金額) AS 仕入金額,
				SUM(SU.消費税額) AS 消費税額,
				--2017/07/18 DEL↓
				--SUM(SU.仕入金額-SU.消費税額) AS 税抜金額,
				--SUM(CASE WHEN SU.伝票区分 = '1' THEN SU.仕入金額 - SU.消費税額 ELSE 0 END) AS 税抜仕入金額,
				--SUM(CASE WHEN SU.伝票区分 = '2' THEN SU.仕入金額 - SU.消費税額 ELSE 0 END) AS 税抜返品金額,
				--SUM(CASE WHEN SU.伝票区分 = '3' THEN SU.仕入金額 - SU.消費税額 ELSE 0 END) AS 税抜訂正金額
				--2017/07/18 DEL↑
				--2017/07/18 ADD↓
				税抜金額 = SUM(CASE WHEN SU.仕入税区分 = 1 THEN (SU.仕入金額-SU.消費税額) ELSE SU.仕入金額 END),
				税抜仕入金額 = SUM(CASE WHEN SU.伝票区分 = '1' THEN 
										CASE WHEN SU.仕入税区分 = 1 THEN (SU.仕入金額-SU.消費税額) ELSE SU.仕入金額 END
										ELSE 0 END),
				税抜返品金額 = SUM(CASE WHEN SU.伝票区分 = '2' THEN 
										CASE WHEN SU.仕入税区分 = 1 THEN (SU.仕入金額-SU.消費税額) ELSE SU.仕入金額 END
										ELSE 0 END),
				税抜訂正金額 = SUM(CASE WHEN SU.伝票区分 = '3' THEN 
										CASE WHEN SU.仕入税区分 = 1 THEN (SU.仕入金額-SU.消費税額) ELSE SU.仕入金額 END
										ELSE 0 END)
				--2017/07/18 ADD↑
			FROM	TD仕入明細 AS SM 
				INNER JOIN TD仕入明細内訳 AS SU
					 ON SM.仕入番号 = SU.仕入番号
						--2013/10/30 DEL↓
						----AND SM.仕入先CD = SU.仕入先CD
						----AND SM.配送先CD = SU.配送先CD
						----AND SM.仕分番号 = SU.仕分番号
						--2013/10/30 DEL↑
			WHERE SM.支払日付 >= @iS支払日付
		    	    AND SM.支払日付 <= @iE支払日付
		    	    AND SM.仕入先CD >= COALESCE(@iS仕入先,SM.仕入先CD)
		    	    AND SM.仕入先CD <= COALESCE(@iE仕入先,SM.仕入先CD)
		GROUP BY     SM.仕入先CD
		) AS S
		INNER JOIN  TM仕入先 AS SR
		ON S.仕入先CD = SR.仕入先CD
	ORDER	BY	S.仕入先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
