/****** Object:  StoredProcedure [dbo].[usp_TN1900UPDチーム別在庫調整]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1900UPDチーム別在庫調整]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1900UPDチーム別在庫調整]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN1900UPDチーム別在庫調整

	機能:	
		在庫調整入力で入力された情報を
		TD在庫調整・TD在庫調整明細に登録する。

 =============================================
	2015/09/08	oosawa	新規作成
	2015/09/18	oosawa	得意先追加
	2017/01/24	oosawa		新設
	2017/02/09	oosawa	漢字名称追加
 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN1900UPDチーム別在庫調整]
	(
	@i在庫調整番号	INT,
	@i調整日付			DATETIME,
	@i得意先CD		VARCHAR(4),--2015/09/18 ADD
	@i調整元チームCD	INT ,
	@i調整先チームCD	INT ,
	--@i調整元チームCD	VARCHAR(2),	--SMALLINT ,
	--@i調整先チームCD	VARCHAR(2),	--SMALLINT ,
	@i摘要名			VARCHAR(50),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	--BEGIN TRAN

	--------------------------------------------------
	--調整ヘッダーを更新する。
	--------------------------------------------------
	IF EXISTS (SELECT 在庫調整番号 FROM TD在庫調整 WHERE 在庫調整番号 = @i在庫調整番号 ) BEGIN
		-----<更新>-----
		--------------------------------------------------
		--調整データの更新
		--------------------------------------------------
		UPDATE	TD在庫調整
			SET	
				在庫調整日付	= @i調整日付,
				得意先CD	= @i得意先CD,--2015/09/18 ADD

				在庫調整元チームCD	= @i調整元チームCD,
				在庫調整先チームCD	= @i調整先チームCD,

				摘要名			= @i摘要名,

				登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
		WHERE 
			在庫調整番号	= @i在庫調整番号
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	END ELSE BEGIN

		--調整番号を取得します
		EXEC	@ST = usp_GetCounter '在庫調整番号', '', @i在庫調整番号 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP
		-----<新規>-----
		INSERT	TD在庫調整
			(
				在庫調整番号, 在庫調整日付, 
				得意先CD,	--2015/09/18 ADD
				在庫調整元チームCD, 在庫調整先チームCD,
				摘要名,
				初期登録日, 登録変更日
			) 
 		VALUES 
			(
				@i在庫調整番号, @i調整日付,
				@i得意先CD,	--2015/09/18 ADD
				@i調整元チームCD, @i調整先チームCD,
				@i摘要名,
				CONVERT(CHAR(10),GETDATE(),111), CONVERT(CHAR(10),GETDATE(),111)
			)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END

	--------------------------------------------------
	--修正された明細を更新する。(変わったもののみ更新)
	--------------------------------------------------
	UPDATE TD在庫調整明細
			SET	在庫調整番号 = #Tmp在庫調整明細.在庫調整番号,
				枝番 = #Tmp在庫調整明細.枝番, 
				製品NO = #Tmp在庫調整明細.製品NO,
				仕様NO = #Tmp在庫調整明細.仕様NO,
				漢字名称 = #Tmp在庫調整明細.漢字名称,
--				数量 = #Tmp在庫調整明細.数量,
				仕入先CD		= #Tmp在庫調整明細.仕入先CD,
				仕入端数区分	= #Tmp在庫調整明細.仕入端数区分,
				消費税端数区分	= #Tmp在庫調整明細.消費税端数区分,
				調整数量		= #Tmp在庫調整明細.調整数量,
				調整単価		= #Tmp在庫調整明細.調整単価,
				調整金額		= #Tmp在庫調整明細.調整金額,
				消費税額		= #Tmp在庫調整明細.消費税額,
				仕入税区分		= #Tmp在庫調整明細.仕入税区分,
				明細備考		= #Tmp在庫調整明細.明細備考,
				登録変更日 = CONVERT(CHAR(10),GETDATE(),111)
		FROM TD在庫調整明細
			INNER JOIN #Tmp在庫調整明細
				ON	TD在庫調整明細.在庫調整明細連番 = #Tmp在庫調整明細.在庫調整明細連番
	 	WHERE NOT((TD在庫調整明細.枝番				= #Tmp在庫調整明細.枝番)
				AND	(TD在庫調整明細.製品NO			= #Tmp在庫調整明細.製品NO)
				AND	(TD在庫調整明細.仕様NO			= #Tmp在庫調整明細.仕様NO)
				AND	(TD在庫調整明細.漢字名称			= #Tmp在庫調整明細.漢字名称)
				AND	(TD在庫調整明細.仕入先CD		= #Tmp在庫調整明細.仕入先CD)
				AND	(TD在庫調整明細.仕入端数区分	= #Tmp在庫調整明細.仕入端数区分)
				AND	(TD在庫調整明細.消費税端数区分	= #Tmp在庫調整明細.消費税端数区分)
				AND	(TD在庫調整明細.調整数量		= #Tmp在庫調整明細.調整数量)
				AND	(TD在庫調整明細.調整単価		= #Tmp在庫調整明細.調整単価)
				AND	(TD在庫調整明細.調整金額		= #Tmp在庫調整明細.調整金額)
				AND	(TD在庫調整明細.消費税額		= #Tmp在庫調整明細.消費税額)
				AND	(TD在庫調整明細.仕入税区分		= #Tmp在庫調整明細.仕入税区分)
				AND	(TD在庫調整明細.明細備考		= #Tmp在庫調整明細.明細備考))

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--調整明細の追加分を登録する。
	--------------------------------------------------
	INSERT INTO TD在庫調整明細
		(
			--在庫調整明細連番,
			在庫調整番号,
			枝番, 
			製品NO,
			仕様NO,
			漢字名称,
			仕入先CD,
			仕入端数区分,
			消費税端数区分,
			調整数量,
			調整単価,
			調整金額,
			消費税額,
			仕入税区分,
			明細備考,
			初期登録日,
			登録変更日
		)
		SELECT
				--TMP.在庫調整明細連番, 
				@i在庫調整番号, 
				TMP.枝番, 
				TMP.製品NO, 
				TMP.仕様NO, 
				TMP.漢字名称,
				TMP.仕入先CD,
				TMP.仕入端数区分,
				TMP.消費税端数区分,
				TMP.調整数量,
				TMP.調整単価,
				TMP.調整金額,
				TMP.消費税額,
				TMP.仕入税区分,
				TMP.明細備考,
				CONVERT(CHAR(10),GETDATE(),111),
				CONVERT(CHAR(10),GETDATE(),111)
	 		FROM #Tmp在庫調整明細 AS TMP
			LEFT JOIN TD在庫調整明細 AS IM
				ON	TMP.在庫調整明細連番 = IM.在庫調整明細連番
			WHERE IM.在庫調整明細連番 IS NULL

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
