/****** Object:  StoredProcedure [dbo].[usp_SE0200請求鏡発行]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE0200請求鏡発行]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE0200請求鏡発行]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_SE0200請求鏡発行

機能	指定された条件で請求鏡を作成する

引数	

戻り値	

*****************************************************
	2003/10/11	kawamura
	2004/01/22 	kawamura 	税集計区分の混在対応
	2013/10/31	oosawa		消費税変更時の不具合（基本ベースの追加）

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
*****************************************************/
CREATE   PROCEDURE [dbo].[usp_SE0200請求鏡発行]
	(
		@i鏡番号配列			VARCHAR(8000),
		--OUTPUT
		@RetST			INT			OUTPUT,
		@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT	ON

	DECLARE	@TRAN	SMALLINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''

	--消費税情報
	DECLARE	@税切替日		DATETIME,
			@前税率		SMALLINT,
			@後税率		SMALLINT

	--消費税情報取得
	SELECT	@税切替日 = 切替日付,
			@前税率 = 旧税率,
			@後税率 = 税率
		FROM 		TM税率
		WHERE 	税率ID = 'ZR'

	--テーブル変数
	DECLARE @p1 INT, @p2 INT	--@p1:文字の先頭位置 @p2:カンマの位置
	DECLARE @TBL TABLE	--テーブル変数
		(t INT)	

	--初期値
    	SET @p1 = 0
	--値の長さより小さい間繰り返す
	WHILE LEN(@i鏡番号配列) > @p1 BEGIN
		--@p1+1からカンマの位置を探す
		SET @p2 = CHARINDEX(',' , @i鏡番号配列, @p1+1)
		--カンマが無い（最後）の場合、文字数+1をセット
		IF @p2 = 0  SET @p2 = LEN(@i鏡番号配列)+1
		--テーブル変数に算出した値をセット
		INSERT @TBL VALUES(CONVERT(INT,SUBSTRING(@i鏡番号配列, @p1+1,(@p2-1)-@p1)))
		--検索位置の移動
		SET @p1 = @p2
	END

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

	----------------------------------
	-- 	ヘッダー情報抽出
	----------------------------------
	SELECT BASE.得意先CD, BASE.鏡番号,
			合計金額計 = ISNULL(TGD.後合計金額計,0) + ISNULL(TMD.前合計金額計,0), 
			外税額計 = ISNULL(TGD.後外税額計,0) + ISNULL(TMD.前外税額計,0),
			総合計 = ISNULL(TGD.後合計金額計,0) + ISNULL(TMD.前合計金額計,0)
				+ ISNULL(TGD.後外税額計,0) + ISNULL(TMD.前外税額計,0)
		FROM 
			(
			SELECT 得意先CD,  消費税端数, 鏡番号
						FROM TD売上 
						WHERE 鏡番号 IN (SELECT * FROM @TBL )
						GROUP BY 得意先CD, 消費税端数, 鏡番号
			) AS BASE
		LEFT JOIN
			(
			--切替後
			SELECT 得意先CD,  消費税端数, 鏡番号,
			 			後合計金額計=SUM(後合計金額計),
			 			後外税対象額計 = SUM(後外税対象額計),
			 			後外税額計 = SUM(後外税額計) 
				FROM
					(
					SELECT 得意先CD, 税集計区分, 消費税端数, 鏡番号,
						後合計金額計 = SUM(合計金額),
						後外税対象額計 = SUM(外税対象額),
						後外税額計 = CASE 
								WHEN 税集計区分 = 1 THEN 
									dbo.fn_CutFraction(消費税端数, SUM(外税対象額) / 100 * @後税率,@decimalPoint)
								WHEN 税集計区分 = 0 THEN 
									SUM(外税額)
								END 
						FROM TD売上 
						WHERE 鏡番号 IN (SELECT * FROM @TBL )
						AND 	請求日付 >=	@税切替日
						GROUP BY 得意先CD, 税集計区分, 消費税端数, 鏡番号
					) AS TG 
				GROUP BY 得意先CD, 消費税端数, 鏡番号
			) AS TGD
				ON BASE.鏡番号 = TGD.鏡番号
		LEFT JOIN
			(
			--切替前
			SELECT 得意先CD,  消費税端数, 鏡番号,
			 			前合計金額計=SUM(前合計金額計),
			 			前外税対象額計 = SUM(前外税対象額計),
			 			前外税額計 = SUM(前外税額計) 
				FROM
					(
					SELECT 得意先CD, 税集計区分, 消費税端数, 鏡番号,
						前合計金額計 = SUM(合計金額),
						前外税対象額計 = SUM(外税対象額),
						前外税額計 = CASE 
								WHEN 税集計区分 = 1 THEN 
									dbo.fn_CutFraction(消費税端数,SUM(外税対象額) / 100 * @前税率,@decimalPoint)
								WHEN 税集計区分 = 0 THEN 
									SUM(外税額)
							   	END 
						FROM TD売上 
						WHERE 鏡番号 IN (SELECT * FROM @TBL )
						AND 	請求日付 < @税切替日
						GROUP BY 得意先CD, 税集計区分, 消費税端数, 鏡番号
					) AS TM
				GROUP BY 得意先CD, 消費税端数, 鏡番号
			) AS TMD
				ON BASE.鏡番号 = TMD.鏡番号
		WHERE BASE.鏡番号 IN (SELECT * FROM @TBL )
	--2013/10/31 DEL↓
	----------------------------------------
	-------- 	ヘッダー情報抽出
	----------------------------------------
	------SELECT TGD.得意先CD, TGD.鏡番号,
	------		合計金額計 = ISNULL(TGD.後合計金額計,0) + ISNULL(TMD.前合計金額計,0), 
	------		外税額計 = ISNULL(TGD.後外税額計,0) + ISNULL(TMD.前外税額計,0),
	------		総合計 = ISNULL(TGD.後合計金額計,0) + ISNULL(TMD.前合計金額計,0)
	------			+ ISNULL(TGD.後外税額計,0) + ISNULL(TMD.前外税額計,0)
	------	FROM 
	------		(
	------		--切替後
	------		SELECT 得意先CD,  消費税端数, 鏡番号,
	------		 			後合計金額計=SUM(後合計金額計),
	------		 			後外税対象額計 = SUM(後外税対象額計),
	------		 			後外税額計 = SUM(後外税額計) 
	------			FROM
	------				(
	------				SELECT 得意先CD, 税集計区分, 消費税端数, 鏡番号,
	------					後合計金額計 = SUM(合計金額),
	------					後外税対象額計 = SUM(外税対象額),
	------					後外税額計 = CASE 
	------							WHEN 税集計区分 = 1 THEN 
	------								dbo.fn_CutFraction(消費税端数, SUM(外税対象額) / 100 * @後税率,0)
	------							WHEN 税集計区分 = 0 THEN 
	------								SUM(外税額)
	------							END 
	------					FROM TD売上 
	------					WHERE 鏡番号 IN (SELECT * FROM @TBL )
	------					AND 	請求日付 >=	@税切替日
	------					GROUP BY 得意先CD, 税集計区分, 消費税端数, 鏡番号
	------				) AS TG 
	------			GROUP BY 得意先CD, 消費税端数, 鏡番号
	------		) AS TGD
	------	LEFT JOIN
	------		(
	------		--切替後
	------		SELECT 得意先CD,  消費税端数, 鏡番号,
	------		 			前合計金額計=SUM(前合計金額計),
	------		 			前外税対象額計 = SUM(前外税対象額計),
	------		 			前外税額計 = SUM(前外税額計) 
	------			FROM
	------				(
	------				SELECT 得意先CD, 税集計区分, 消費税端数, 鏡番号,
	------					前合計金額計 = SUM(合計金額),
	------					前外税対象額計 = SUM(外税対象額),
	------					前外税額計 = CASE 
	------							WHEN 税集計区分 = 1 THEN 
	------								dbo.fn_CutFraction(消費税端数,SUM(外税対象額) / 100 * @前税率,0)
	------							WHEN 税集計区分 = 0 THEN 
	------								SUM(外税額)
	------						   	END 
	------					FROM TD売上 
	------					WHERE 鏡番号 IN (SELECT * FROM @TBL )
	------					AND 	請求日付 < @税切替日
	------					GROUP BY 得意先CD, 税集計区分, 消費税端数, 鏡番号
	------				) AS TM
	------			GROUP BY 得意先CD, 消費税端数, 鏡番号
	------		) AS TMD ON TGD.鏡番号 = TMD.鏡番号
	------	WHERE TGD.鏡番号 IN (SELECT * FROM @TBL )
	--2013/10/31 DEL↑

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST


GO
