/****** Object:  StoredProcedure [dbo].[usp_SE0803売上前請求作成処理]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE0803売上前請求作成処理]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE0803売上前請求作成処理]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_SE0803売上前請求作成処理

機能	指定された見積の売上前請求ヘッダー情報を作成する

引数	

戻り値	

usp_SE0801請求確定処理をベースに作成

*****************************************************
	2024/02/06	SDT		新規作成
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_SE0803売上前請求作成処理]
	(
		@i見積番号		INT,
		@i請求日付		DATETIME,
		
		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--請求日付取得
	------------------------------------------------------
	--消費税用変数
	--DECLARE	@TAX		MONEY
			
	--税率取得
	--SET	@TAX = dbo.fn_GetTax(@i請求日付)

	
	------------------------------------------
	--TD売上請求ヘッダーを作成する。
	------------------------------------------
	IF EXISTS(SELECT 見積番号 FROM TD売上前請求H WHERE	見積番号 = @i見積番号) BEGIN
		
		UPDATE TD売上前請求H
				SET	請求日付 = @i請求日付,
					合計金額 = MH.合計金額,
					--税抜金額 = UR.税抜金額,
					--外税対象額 = UR.外税対象額,
					外税額 = MH.外税額,
					税集計区分 = MH.税集計区分,
					売上端数 = MH.売上端数,
					消費税端数 = MH.消費税端数,
					登録変更日 = GETDATE()
			FROM	TD売上前請求H
					INNER JOIN 	 TD見積 AS MH
						ON	TD売上前請求H.見積番号 = MH.見積番号
			WHERE	MH.見積番号 = @i見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
	END ELSE BEGIN
		INSERT INTO	TD売上前請求H
				(
					[見積番号],
					[請求日付],
					[合計金額],
					--[税抜金額],
					--[外税対象額],
					[外税額],
					--[請求年月日],
					--[請求締日],
					--[請求更新FLG],
					[税集計区分],
					[売上端数],
					[消費税端数],
					--[鏡番号],
					--[請求書発行FLG],
					[初期登録日],
					[登録変更日]
				)
			SELECT	MH.見積番号,
					@i請求日付,
					MH.合計金額,
					--MH.税抜金額,
					--2016/04/07 ADD↓
					--UR.外税対象額,
					-- 外税対象額 = CASE WHEN MH.税集計区分 = 3--税対象外得意先
					-- 				THEN 0
					-- 				ELSE
					-- 					MH.外税対象額
					-- 				END,
					--2016/04/07 ADD↑
					MH.外税額,
					-- 外税額 = CASE WHEN 税集計区分 = 0--伝票単位
					-- 				 THEN dbo.fn_CutFraction(MH.消費税端数,(MH.外税対象額) / 100 * @TAX,@decimalPoint)
					-- 		WHEN MH.税集計区分 = 1 THEN 0--請求単位
					-- 		WHEN MH.税集計区分 = 2 THEN MH.外税額
					-- 		ELSE 0--税対象外--2016/04/07 ADD
					--   END,

					MH.税集計区分,
					MH.売上端数,
					MH.消費税端数,
					初期登録日 = GETDATE(),
					登録変更日 = GETDATE()
				FROM    TD見積 AS MH
				WHERE	見積番号 = @i見積番号
	END

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

------------------------------------------

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
