/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor得意先]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor得意先]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor得意先]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_ChkDelFor得意先

機能	得意先マスタメンテ[削除]のデータ存在チェック

	納入先Ｍ・顧客テンプレートＭ・単価Ｍ・ＰＣＭ・客先在庫Ｍ・
	見積Ｄ・売上Ｄ・入金Ｄ

引数	得意先CD

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor得意先]
	(
		@i得意先CD	VARCHAR(4),
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--納入先Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(得意先CD)
		FROM 		TM納入先
		WHERE	(得意先CD = @i得意先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[納入先マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--顧客テンプレートＭチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(得意先CD)
		FROM 		TM顧客テンプレート
		WHERE	(得意先CD = @i得意先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[顧客テンプレートマスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--単価Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(得意先CD)
		FROM 		TM単価
		WHERE	(得意先CD = @i得意先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[単価マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--ＰＣＭチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(最終得意先CD)
		FROM 		TMPC
		WHERE	(最終得意先CD = @i得意先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[ＰＣマスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--客先在庫Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(得意先CD)
		FROM 		TM客先在庫
		WHERE	(得意先CD = @i得意先CD)
			AND 	(現在庫数 <> 0)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[客先在庫マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--見積Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号)
		FROM 		TD見積
		WHERE	(得意先CD = @i得意先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[見積データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	------------------------------
	------売上Ｄチェック
	------------------------------
	----SET 	@wDCnt 	= 	0

	----SELECT 	@wDCnt = COUNT(売上番号)
	----	FROM 		TD売上
	----	WHERE	(得意先CD = @i得意先CD)

	----SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----IF @wDCnt > 0 BEGIN
	----	SET 	@ST 	=	-1
	----	SET	@MSG = 	'[売上データ]に使用されている為、削除できません。'
	---- 	GOTO		EXIT_SP
	----END


	--------------------------
	--入金Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(入金番号)
		FROM 		TD入金
		WHERE	(得意先CD = @i得意先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[入金データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST
GO
