/****** Object:  StoredProcedure [dbo].[usp_KD0801経費按分データ作成V5]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_KD0801経費按分データ作成V5]
GO
/****** Object:  StoredProcedure [dbo].[usp_KD0801経費按分データ作成V5]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_KD0801経費按分データ作成V5

機能	TM従業員からチーム毎の人数での按分
		売上からチーム毎の売上金額での按分
		
		経費をチーム別に人数・売上金額で按分し算出する。
		科目別追加
		人数＋売上按分追加
引数	

戻り値	


※ひと月ごとに計算しないとおかしくなる。

修正履歴

	2016/06/30	oosawa		施工での集計がなくなったのでカット
	2016/10/20	oosawa		科目（補助科目）別の按分を追加
	2017/03/09	oosawa		買掛月次更新日以前は計算しないようにする
	2018/02/06	oosawa		買掛月次更新の部分を上位へ移動
	2018/06/22	oosawa		売上比率でオーバーフロー
	2019/02/23	oosawa		チーム毎から統計集計先毎に集計を変更
							チームCDは得意先マスタより取得
							ない場合NULLでエラー
	2020/02/12	oosawa		工事部案分追加
	2021/02/04	oosawa		工事部なし
							比率がmoney型だと小数点切り捨てされるのでずれが大きくなる
							decimal(30,10)にキャストする
	2021/05/22	oosawa		按分方法3：人数＋売上按分を追加
							部CDごとの人数で科目金額を按分した後、部CD毎の売上金額で按分する

*****************************************************/
CREATE PROCEDURE [dbo].[usp_KD0801経費按分データ作成V5]
	(
		@iS集計日付		DATETIME,
		@iE集計日付		DATETIME
	)
 AS

	SET NOCOUNT ON

	DECLARE	@ST			INT,
			@MSG			VARCHAR(255)

	DECLARE	@営業部CD	SMALLINT = 9996,
	--		@工事部CD	SMALLINT = 9997,--2021/02/04 DEL
			@その他部CD	SMALLINT = 9998
	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ST	=	0
	SET	@MSG	=	''

		--------------------------------------------
		-- 売上　顧客別
		--------------------------------------------
		DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		--DECLARE @wマミー		VARCHAR(4) = '7001'--2021/05/20 DEL
		DECLARE	@wロピア		VARCHAR(4) = '4209'--2021/05/20 ADD

		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		--DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		DECLARE	@wしまむら		VARCHAR(4) = '3201'

		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		--DECLARE	@wアポック		VARCHAR(4) = '5201'--2021/05/20　DEL


--全体（間接除く）の従業員数
--SELECT 従業員数 = COUNT(DISTINCT 従業員CD) 
--	FROM TM従業員
--	WHERE チームCD <> 999
----No2	
--DECLARE	@全体比率	MONEY
--SELECT	
--		@全体比率 = SUM(比率)
--	FROM TM従業員
--	WHERE チームCD <> 999
--SELECT 全体比率 = @全体比率

----チーム毎の比率
--SELECT	チームCD,
--		チーム比率 = SUM(比率)
--	FROM TM従業員
--	WHERE チームCD <> 999
--	GROUP BY チームCD

	
--SET	@iS集計日付	= '2016/08/01'		
--SET	@iE集計日付	= '2016/08/31';

	--2017/03/09 ADD↓
	----------------------------------------
	--	案分情報(従業員・科目案分)が複数情報を持てないため
	--	計算処理をしないようにする。
	----------------------------------------
	------呼び出し側で処理しているので確認しない
	------DECLARE	@w買掛月次更新日 DATETIME
	
	------SELECT @w買掛月次更新日 =  更新日付
	------		FROM TMDates
	------		WHERE DateID = '買掛月次更新日'
	
	------SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	------IF	@iE集計日付 < @w買掛月次更新日 BEGIN
	------	--終了集計日付が売掛月次更新日より小さい場合、計算しない。
	------	--前月は計算対象とする
	------	GOTO	EXIT_SP
	------END
	--2017/03/09 ADD↑


	---------------------------
	--按分経費データ削除
	---------------------------
	DELETE	FROM TD経費按分集計V3
		WHERE 集計日付 = @iS集計日付
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--金額集計用ワークテーブル作成
	---------------------------
	CREATE TABLE #TMP 
		(
			[科目CD] [smallint] NOT NULL,
			[補助CD] [smallint] DEFAULT '',
			--[チームCD] [int] NOT NULL,
			[按分区分] [int] DEFAULT 0,
			[金額] [money] NOT NULL,

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--部別人数按分用ワークテーブル作成
	---------------------------
	--部門毎に人数按分した科目毎の金額を保持
	CREATE TABLE #TMP_Ninzu 
		(
			[科目CD] [smallint] NOT NULL,
			--[補助CD] [smallint] DEFAULT '',
			--[チームCD] [int] NOT NULL,
			[部門CD] [smallint] NOT NULL,--2020/02/12　営業1部２部
			[按分区分] [int] DEFAULT 1,--売上按分のみ
			[部門按分別金額] [money] NOT NULL,

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--保存用按分テーブル
	---------------------------
	CREATE TABLE #TMP経費按分集計
		(
			[集計日付] [datetime] NOT NULL,
			[科目CD] [smallint] NOT NULL,
			[チームCD] [int] NOT NULL,
			[部CD] [smallint] NOT NULL,--2020/02/12
			[統計集計先CD] [varchar](4) NOT NULL,
			[按分金額] [money] NOT NULL,
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------------------------------------
	-- 補助科目分金額集計
	---------------------------------------------------------
	INSERT INTO #TMP
			   ([科目CD]
			   ,[補助CD]
			   ,[按分区分]
			   ,[金額])
		--補助科目分の抽出
		SELECT	--KK.集計CD,KK.順序,
				KK.科目CD,
				補助CD = ISNULL(HK.補助CD,0),
				--KK.科目名,
				HK.按分区分,
				金額 = ISNULL(KH.金額,0)
			FROM TM補助科目 AS HK
				INNER JOIN TM科目 AS KK
					ON HK.科目CD = KK.科目CD
				INNER JOIN (
							SELECT	KM.科目CD,KM.補助CD, KM.科目名, SUM(KM.金額) AS 金額
								FROM	TD経費 AS KH
									INNER JOIN TD経費明細 AS KM
										ON KH.経費番号 = KM.経費番号
								WHERE	KH.経費日付 >= @iS集計日付
									AND	KH.経費日付 <= @iE集計日付
								GROUP BY	KM.科目CD,KM.補助CD, KM.科目名
						) AS KH
							ON HK.科目CD = KH.科目CD
							AND HK.補助CD = KH.補助CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--SELECT * FROM #TMP

	---------------------------------------------------------
	-- 科目分金額集計
	--		補助CDはZEROにする
	---------------------------------------------------------
	INSERT INTO #TMP
			   ([科目CD]
			   ,[補助CD]
			   ,[按分区分]
			   ,[金額])
		--科目分の抽出
		SELECT	--KK.集計CD,KK.順序,
				KK.科目CD,
				補助CD = 0,--ISNULL(KH.補助CD,0),
				--KK.科目名,
				KK.按分区分,
				金額 = ISNULL(KH.金額,0)
			FROM TM科目 AS KK
				LEFT JOIN (
							SELECT	KM.科目CD,KM.補助CD, 
									KM.科目名, SUM(KM.金額) AS 金額
								FROM	TD経費 AS KH
									INNER JOIN TD経費明細 AS KM
										ON KH.経費番号 = KM.経費番号
									LEFT JOIN #TMP AS TMP
										ON KM.科目CD = TMP.科目CD
										AND KM.補助CD = TMP.補助CD
								WHERE	KH.経費日付 >= @iS集計日付
									AND	KH.経費日付 <= @iE集計日付
									AND TMP.科目CD IS NULL--TMPに入っていないもの
								GROUP BY	KM.科目CD,KM.補助CD, KM.科目名
							) AS KH
								ON KK.科目CD = KH.科目CD
								
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--select * from #TMP order by 科目CD

	---------------------------
	--按分経費データ作成（人数按分分）
	-- 営業部分
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
				SELECT	集計日付 = @iS集計日付,
						A.科目CD,
						A.金額,
						--A.案分金額,
						チームCD = 0,
						部CD = @営業部CD,--営業部
						A.統計集計先CD,
						--SUM(A.案分金額) OVER (PARTITION BY 科目CD)-A.金額,
						--端数処理での差額調整
						--案分金額2,
						按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END)
				FROM (
					SELECT	SEQ,統計集計先CD,
							
							KK.科目CD,
							金額 = ISNULL(KK.金額,0),
							--案分金額2 = ROUND(ISNULL(KH.金額,0) * B.チーム比率 / @全体比率,0),
							--按分金額 = ROUND(ISNULL(KK.金額,0) * B.チーム比率 / SUM(B.チーム比率) OVER (PARTITION BY KK.科目CD),0)
							--按分金額内容 = 金額 * rounddown(比率 / 比率合計,4)
							--按分金額 = ROUND((ISNULL(KK.金額,0) * ((B.統計集計先CD比率*100 / SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD))))/100,0)--2018/06/22 ADD
							按分金額 = ROUND(ISNULL(KK.金額,0) * B.統計集計先CD比率 / SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD),0)--2021/02/06 ADD
							,按分比率 = B.統計集計先CD比率*100
							,按分比率計 = SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD)*100
						FROM (SELECT 科目CD,金額 = SUM(金額) 
								FROM #TMP 
								WHERE	按分区分 = 0--人数案分
									AND	補助CD = @営業部CD--営業部
								GROUP BY 科目CD
							) AS KK--人数按分
							CROSS JOIN	(
											--(営業部)統計集計先CD毎の比率
											SELECT	ROW_NUMBER() OVER (ORDER BY SUM(比率) DESC) SEQ,
													統計集計先CD,
													--統計集計先CD比率 = SUM(比率)
													統計集計先CD比率 = SUM(CAST(比率 AS DECIMAL(30,10)))--2021/02/04 ADD
												FROM TM人数按分
												WHERE	--部CD = 0--営業部--2021/05/22 DEL
														統計集計先CD <> 999
												GROUP BY 統計集計先CD
												--ORDER BY 統計集計先CD
										) AS B
							--ORDER BY	KK.集計CD,KK.順序,KK.科目CD, KK.科目名
					) AS A

						--LEFT JOIN TMチーム AS CM
						--	ON A.チームCD = CM.チームCD
				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.部CD = B.部CD
				AND A.統計集計先CD = B.統計集計先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  A.按分金額 + B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							部CD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.部CD,
							B.統計集計先CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('人数按分情報（営業部）でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END
	-------------------------------------
	------------按分経費データ作成（人数按分分）
	------------ 工事部分
	-------------------------------------
	----------MERGE INTO	#TMP経費按分集計 AS A
	----------	USING
	----------		(
	----------			SELECT	集計日付 = @iS集計日付,
	----------					A.科目CD,
	----------					A.金額,
	----------					--A.案分金額,
	----------					チームCD = 0,
	----------					部CD = @工事部CD,--工事部
	----------					A.統計集計先CD,
	----------					--SUM(A.案分金額) OVER (PARTITION BY 科目CD)-A.金額,
	----------					--端数処理での差額調整
	----------					--案分金額2,
	----------					按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END)
	----------			FROM (
	----------				SELECT	SEQ,統計集計先CD,
							
	----------						KK.科目CD,
	----------						金額 = ISNULL(KK.金額,0),
	----------						--案分金額2 = ROUND(ISNULL(KH.金額,0) * B.チーム比率 / @全体比率,0),
	----------						--按分金額 = ROUND(ISNULL(KK.金額,0) * B.チーム比率 / SUM(B.チーム比率) OVER (PARTITION BY KK.科目CD),0)
	----------						--按分金額内容 = 金額 * rounddown(比率 / 比率合計,4)
	----------						按分金額 = ROUND((ISNULL(KK.金額,0) * ((B.統計集計先CD比率*100 / SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD))))/100,0)--2018/06/22 ADD
	----------						,按分比率 = B.統計集計先CD比率*100
	----------						,按分比率計 = SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD)*100
	----------					FROM (SELECT 科目CD,金額 = SUM(金額) 
	----------							FROM #TMP 
	----------							WHERE	按分区分 = 0--人数案分
	----------								AND	補助CD = @工事部CD--工事部
	----------							GROUP BY 科目CD
	----------						) AS KK--人数按分
	----------						CROSS JOIN	(
	----------										--(工事部)統計集計先CD毎の比率
	----------										SELECT	ROW_NUMBER() OVER (ORDER BY SUM(比率) DESC) SEQ,
	----------												統計集計先CD,
	----------												統計集計先CD比率 = SUM(比率)
	----------											FROM TM人数按分
	----------											WHERE	部CD = 1--工事部
	----------												AND	統計集計先CD <> 999
	----------											GROUP BY 統計集計先CD
	----------											--ORDER BY 統計集計先CD
	----------									) AS B
	----------						--ORDER BY	KK.集計CD,KK.順序,KK.科目CD, KK.科目名
	----------				) AS A

	----------					--LEFT JOIN TMチーム AS CM
	----------					--	ON A.チームCD = CM.チームCD
	----------			) AS B
	----------		ON  (
	----------			A.集計日付 = B.集計日付
	----------			AND	A.科目CD = B.科目CD
	----------			AND A.部CD = B.部CD
	----------			AND A.統計集計先CD = B.統計集計先CD
	----------			)
	----------		WHEN MATCHED THEN
	----------			UPDATE
	----------				SET A.按分金額 =  A.按分金額 + B.按分金額

	----------		WHEN NOT MATCHED THEN
	----------			INSERT
	----------					(
	----------						集計日付,
	----------						科目CD,
	----------						チームCD,
	----------						部CD,
	----------						統計集計先CD,
	----------						按分金額
	----------					)
	----------				VALUES
	----------					(
	----------						B.集計日付,
	----------						B.科目CD,
	----------						B.チームCD,
	----------						B.部CD,
	----------						B.統計集計先CD,
	----------						B.按分金額
	----------					)
	----------		;
	----------	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
	----------SET @ST = @@ERROR
	----------IF ( @ST <> 0 )	BEGIN
	----------	RAISERROR('人数按分情報（工事部）でエラーが発生しました。 ', 16, 1)
	----------	GOTO	EXIT_SP
	----------END
	---------------------------
	--按分経費データ作成（人数按分分）
	-- その他分
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
				SELECT	集計日付 = @iS集計日付,
						A.科目CD,
						A.金額,
						--A.案分金額,
						チームCD = 0,
						--部CD = CASE 部CD WHEN 0 THEN 9996 ELSE 9997 END,
						部CD = @その他部CD,--2021/02/04 ADD
						A.統計集計先CD,
						--SUM(A.案分金額) OVER (PARTITION BY 科目CD)-A.金額,
						--端数処理での差額調整
						--案分金額2,
						按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END)
				FROM (
					SELECT	SEQ,統計集計先CD,
							部CD,
							KK.科目CD,
							金額 = ISNULL(KK.金額,0),
							--案分金額2 = ROUND(ISNULL(KH.金額,0) * B.チーム比率 / @全体比率,0),
							--按分金額 = ROUND(ISNULL(KK.金額,0) * B.チーム比率 / SUM(B.チーム比率) OVER (PARTITION BY KK.科目CD),0)
							--按分金額内容 = 金額 * rounddown(比率 / 比率合計,4)
							--按分金額 = ROUND((ISNULL(KK.金額,0) * ((B.統計集計先CD比率*100 / SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD))))/100,0)--2018/06/22 ADD
							按分金額 = ROUND(ISNULL(KK.金額,0) * B.統計集計先CD比率 / SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD),0)--2021/02/04 ADD
							,按分比率 = B.統計集計先CD比率*100
							,按分比率計 = SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD)*100
						FROM (SELECT 科目CD,金額 = SUM(金額) 
								FROM #TMP 
								WHERE	按分区分 = 0--人数案分
									AND	((補助CD = @その他部CD)--その他
										OR
										(補助CD = 0))--補助科目なし
								GROUP BY 科目CD
							) AS KK--人数按分
							CROSS JOIN	(
											--(全体)統計集計先CD毎の比率
											SELECT	ROW_NUMBER() OVER (ORDER BY (比率) DESC) SEQ,
													部CD,
													統計集計先CD,
													統計集計先CD比率 = CAST(比率 AS DECIMAL(30,10))--2021/02/04 ADD
												FROM TM人数按分
												WHERE	統計集計先CD <> 999
												--GROUP BY 統計集計先CD
												--ORDER BY 統計集計先CD
										) AS B
							--ORDER BY	KK.集計CD,KK.順序,KK.科目CD, KK.科目名
					) AS A

						--LEFT JOIN TMチーム AS CM
						--	ON A.チームCD = CM.チームCD
				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.部CD = B.部CD
				AND A.統計集計先CD = B.統計集計先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  A.按分金額 + B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							部CD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.部CD,
							B.統計集計先CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('人数按分情報（その他）でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END
---------------------------------------------------------------
	---------------------------
	--按分経費データ作成（売上比率按分分）
	--　営業部分
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
				SELECT	集計日付 = @iS集計日付,
						A.科目CD,
						--A.金額,
						--A.チームCD,
						チームCD = 0,--2021/02/06 ADD
						部CD = @営業部CD,--営業部
						A.統計集計先CD,
						--端数処理での差額調整
						按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END)
							,按分比率 = A.按分比率
							,按分比率計 = A.按分比率計
				FROM (
					SELECT	SEQ,チームCD,
							統計集計先CD = 集計CD,
							KK.科目CD,
							金額 = ISNULL(KK.金額,0),
							--按分金額 = ROUND(ISNULL(KK.金額,0) * (TEAM_KIN.チーム税抜金額 / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)),0)--2018/06/22 ADD
							按分金額 = ROUND(ISNULL(KK.金額,0) * cast(TEAM_KIN.チーム税抜金額 as decimal(30,10)) / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD),0)--2021/02/06 ADD
							,按分比率 = TEAM_KIN.チーム税抜金額
							,按分比率計 = SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)
						FROM (SELECT 科目CD,金額 = SUM(金額) 
								FROM #TMP 
								WHERE	按分区分 = 1--売上案分
									AND	補助CD = @営業部CD--営業部
								GROUP BY 科目CD
							) AS KK--売上金額での按分
							CROSS JOIN	(
											--チーム毎集計先毎の売上金額集計
											SELECT	ROW_NUMBER() OVER (ORDER BY SUM(チーム税抜金額) DESC) AS SEQ,
													チームCD,
													集計CD,
													年月,
													チーム税抜金額 = SUM(チーム税抜金額)
												FROM (
														--チーム毎の売上金額集計
														SELECT
																チームCD = 0,--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2021/05/22 UPD
																--TM.集計CD,
																MH.集計CD,--2021/05/22 ADD
																年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
																チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
																							THEN (UM.売上金額-UM.消費税額)
																							ELSE UM.売上金額 
																					END)
															FROM TD売上v2 AS UH  
																INNER JOIN TD売上明細V2 AS UM
																	ON UH.売上番号 = UM.売上番号
																LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
																	ON UM.見積明細連番 = MSM.見積明細連番 
																INNER JOIN TD見積 AS MH
																	ON UH.見積番号 = MH.見積番号
																INNER JOIN TM得意先 AS TM
																	ON MH.得意先CD = TM.得意先CD
															--2014/07/21 ADD↓
															WHERE	(UH.売上日付 >= @iS集計日付
																AND UH.売上日付 <= @iE集計日付)
																--AND	ISNULL(MSM.作業区分CD,0) = 0--営業--2021/02/04 DEL
															--GROUP BY     CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,TM.集計CD,CONVERT(CHAR(6),UH.売上日付,112)
															GROUP BY     MH.集計CD,CONVERT(CHAR(6),UH.売上日付,112)--2021/05/22 ADD
															--2014/07/21 ADD↑
														) AS UNI	--チーム毎の売上金額集計
												GROUP BY チームCD,集計CD,年月
										) AS TEAM_KIN--チーム毎の売上金額集計
						) AS A
				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.チームCD = B.チームCD
				AND A.部CD = B.部CD
				AND A.統計集計先CD = B.統計集計先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  A.按分金額 + B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							部CD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.部CD,
							B.統計集計先CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
						
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('売上按分情報（営業部）でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END
----------------------------------------------------------------------------
	-------------------------------------
	------------按分経費データ作成（売上比率按分分）
	------------　工事部分
	-------------------------------------
	----------MERGE INTO	#TMP経費按分集計 AS A
	----------	USING
	----------		(
	----------			SELECT	集計日付 = @iS集計日付,
	----------					A.科目CD,
	----------					--A.金額,
	----------					A.チームCD,
	----------					部CD = @工事部CD,--工事部
	----------					A.統計集計先CD,
	----------					--端数処理での差額調整
	----------					按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END)
	----------						,按分比率 = A.按分比率
	----------						,按分比率計 = A.按分比率計
	----------			FROM (
	----------				SELECT	SEQ,チームCD,
	----------						統計集計先CD = 集計CD,
	----------						KK.科目CD,
	----------						金額 = ISNULL(KK.金額,0),
	----------						按分金額 = ROUND(ISNULL(KK.金額,0) * (TEAM_KIN.チーム税抜金額 / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)),0)--2018/06/22 ADD
	----------						,按分比率 = TEAM_KIN.チーム税抜金額
	----------						,按分比率計 = SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)
	----------					FROM (SELECT 科目CD,金額 = SUM(金額) 
	----------							FROM #TMP 
	----------							WHERE	按分区分 = 1--売上案分
	----------								AND	補助CD = @工事部CD--工事部
	----------							GROUP BY 科目CD
	----------						) AS KK--売上金額での按分
	----------						CROSS JOIN	(
	----------										--チーム毎の売上金額集計
	----------										SELECT	ROW_NUMBER() OVER (ORDER BY SUM(チーム税抜金額) DESC) AS SEQ,
	----------												チームCD,
	----------												集計CD,
	----------												年月,
	----------												チーム税抜金額 = SUM(チーム税抜金額)
	----------											FROM (
	----------													--チーム毎の売上金額集計
	----------													SELECT
	----------															チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,
	----------															TM.集計CD,
	----------															年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
	----------															チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
	----------																						THEN (UM.売上金額-UM.消費税額)
	----------																						ELSE UM.売上金額 
	----------																				END)
	----------														FROM TD売上v2 AS UH  
	----------															INNER JOIN TD売上明細V2 AS UM
	----------																ON UH.売上番号 = UM.売上番号
	----------															LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
	----------																ON UM.見積明細連番 = MSM.見積明細連番 
	----------															INNER JOIN TD見積 AS MH
	----------																ON UH.見積番号 = MH.見積番号
	----------															INNER JOIN TM得意先 AS TM
	----------																ON MH.得意先CD = TM.得意先CD
	----------														--2014/07/21 ADD↓
	----------														WHERE	(UH.売上日付 >= @iS集計日付
	----------															AND UH.売上日付 <= @iE集計日付)
	----------															AND	NOT(ISNULL(MSM.作業区分CD,0) = 0)--工事部（営業以外）
	----------														GROUP BY     CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,TM.集計CD,CONVERT(CHAR(6),UH.売上日付,112)
	----------														--2014/07/21 ADD↑
	----------													) AS UNI	--チーム毎の売上金額集計
	----------											GROUP BY チームCD,集計CD,年月
	----------									) AS TEAM_KIN--チーム毎の売上金額集計
	----------					) AS A
	----------			) AS B
	----------		ON  (
	----------			A.集計日付 = B.集計日付
	----------			AND	A.科目CD = B.科目CD
	----------			AND A.チームCD = B.チームCD
	----------			AND A.部CD = B.部CD
	----------			AND A.統計集計先CD = B.統計集計先CD
	----------			)
	----------		WHEN MATCHED THEN
	----------			UPDATE
	----------				SET A.按分金額 =  A.按分金額 + B.按分金額

	----------		WHEN NOT MATCHED THEN
	----------			INSERT
	----------					(
	----------						集計日付,
	----------						科目CD,
	----------						チームCD,
	----------						部CD,
	----------						統計集計先CD,
	----------						按分金額
	----------					)
	----------				VALUES
	----------					(
	----------						B.集計日付,
	----------						B.科目CD,
	----------						B.チームCD,
	----------						B.部CD,
	----------						B.統計集計先CD,
	----------						B.按分金額
	----------					)
	----------		;
	----------	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
						
	----------SET @ST = @@ERROR
	----------IF ( @ST <> 0 )	BEGIN
	----------	RAISERROR('売上按分情報（工事部）でエラーが発生しました。 ', 16, 1)
	----------	GOTO	EXIT_SP
	----------END
	
	---------------------------
	--按分経費データ作成（売上比率按分分）
	--　その他分
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
				SELECT	集計日付 = @iS集計日付,
						A.科目CD,
						--A.金額,
						--A.チームCD,
						チームCD = 0,--2021/02/06 ADD
						部CD = @その他部CD,--営業部
						A.統計集計先CD,
						--端数処理での差額調整
						按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END)
							,按分比率 = A.按分比率
							,按分比率計 = A.按分比率計
				FROM (
					SELECT	SEQ,チームCD,
							統計集計先CD = 集計CD,
							--部CD,
							KK.科目CD,
							金額 = ISNULL(KK.金額,0),
							按分金額 = ROUND(ISNULL(KK.金額,0) * cast(TEAM_KIN.チーム税抜金額 as decimal(30,10)) / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD),0)--2021/02/06 ADD
							,按分比率 = TEAM_KIN.チーム税抜金額
							,按分比率計 = SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)
						FROM (SELECT 科目CD,金額 = SUM(金額) 
								FROM #TMP 
								WHERE	按分区分 = 1--売上案分
									AND	((補助CD = @その他部CD)--その他
										OR
										(補助CD = 0))--補助科目なし
								GROUP BY 科目CD
							) AS KK--売上金額での按分
							CROSS JOIN	(
											--チーム毎集計先毎の売上金額集計
											SELECT	ROW_NUMBER() OVER (ORDER BY SUM(チーム税抜金額) DESC) AS SEQ,
													チームCD,
													集計CD,
													年月,
													チーム税抜金額 = SUM(チーム税抜金額)
												FROM (
														--チーム毎の売上金額集計
														SELECT
																チームCD = 0,--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2021/05/22 UPD
																--TM.集計CD,
																MH.集計CD,--2021/05/22 ADD
																年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
																チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
																							THEN (UM.売上金額-UM.消費税額)
																							ELSE UM.売上金額 
																					END)
															FROM TD売上v2 AS UH  
																INNER JOIN TD売上明細V2 AS UM
																	ON UH.売上番号 = UM.売上番号
																LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
																	ON UM.見積明細連番 = MSM.見積明細連番 
																INNER JOIN TD見積 AS MH
																	ON UH.見積番号 = MH.見積番号
																INNER JOIN TM得意先 AS TM
																	ON MH.得意先CD = TM.得意先CD
															--2014/07/21 ADD↓
															WHERE	(UH.売上日付 >= @iS集計日付
																AND UH.売上日付 <= @iE集計日付)
																--AND	ISNULL(MSM.作業区分CD,0) = 0--営業--2021/02/04 DEL
															--GROUP BY     CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,MH.集計CD,CONVERT(CHAR(6),UH.売上日付,112)
															GROUP BY     MH.集計CD,CONVERT(CHAR(6),UH.売上日付,112)--2021/05/22 ADD
															--2014/07/21 ADD↑
														) AS UNI	--チーム毎の売上金額集計
												GROUP BY チームCD,集計CD,年月
										) AS TEAM_KIN--チーム毎の売上金額集計
										----) AS TEAM_KIN--チーム毎の売上金額集計
						) AS A				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.チームCD = B.チームCD
				AND A.部CD = B.部CD
				AND A.統計集計先CD = B.統計集計先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  A.按分金額 + B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							部CD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.部CD,
							B.統計集計先CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
						
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('売上按分情報（その他）でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END
------------------------------------------------------------------
	---------------------------
	--按分経費データ作成（科目按分分）
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
			--科目とチームで集計
			SELECT	集計日付,
					科目CD,
					チームCD = 0,
					部CD,
					統計集計先CD,
					按分金額 = SUM(按分金額)
				FROM (
					SELECT	集計日付 = @iS集計日付,
							A.科目CD,
							A.補助CD,
							--部CD =  @営業部CD,--営業部
							--部CD = CASE WHEN A.補助CD IN (2401,3001,3201,4801,5201,6601,7001,8001) THEN @営業部CD 
							--			ELSE @その他部CD END,
							--2021/05/22 ADD↓
							部CD = CASE A.統計集計先CD
													WHEN @wヤオコー		THEN @営業部CD
													--WHEN @wマミー		THEN @営業部CD
													WHEN @wロピア		THEN @営業部CD
													WHEN @wサンベルクス THEN @営業部CD
													--WHEN @wフレッセイ	THEN @営業部CD
													--WHEN @wアポック	THEN @営業部CD
													WHEN @wしまむら		THEN @営業部CD
													WHEN @wベルク		THEN @営業部CD
													WHEN @wビバ			THEN @営業部CD
													WHEN @wウエルシア	THEN @営業部CD
													ELSE @その他部CD END,
							--2021/05/22 ADD↑
							--A.金額,
							--A.案分金額,
							A.統計集計先CD,
							--SUM(A.案分金額) OVER (PARTITION BY 科目CD)-A.金額,
							--端数処理での差額調整
							--案分金額2,
							按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD,補助CD)-A.金額 ELSE 0 END)
					FROM (
						SELECT	SEQ,統計集計先CD,
								KK.科目CD,
								KK.補助CD,
								金額 = ISNULL(KK.金額,0),
								--按分金額 = ROUND(ISNULL(KK.金額,0) * ISNULL(B.チーム比率,1) / SUM(ISNULL(B.チーム比率,1)) OVER (PARTITION BY KK.科目CD,KK.補助CD),0)
								按分金額 = ROUND(ISNULL(KK.金額,0) * (ISNULL(B.チーム比率,1) / SUM(ISNULL(B.チーム比率,1)) OVER (PARTITION BY KK.科目CD,KK.補助CD)),0)--2018/06/22 ADD
							FROM (SELECT 科目CD,補助CD,金額 = SUM(金額) 
									FROM #TMP WHERE 按分区分 = 2
									GROUP BY 科目CD,補助CD
								) AS KK--科目按分
								INNER JOIN	(
												--チーム毎の比率
												SELECT	ROW_NUMBER() OVER (PARTITION BY 科目CD,補助CD ORDER BY SUM(比率) DESC) SEQ,
														科目CD,
														補助CD,
														統計集計先CD,
														--チーム比率 = SUM(比率)
														チーム比率 = SUM(CAST(比率 AS DECIMAL(30,10)))--2021/02/06 ADD
													FROM TM科目按分V2
													WHERE 統計集計先CD <> 999
													GROUP BY 科目CD,補助CD,統計集計先CD
											) AS B
										ON KK.科目CD = B.科目CD
										AND KK.補助CD = B.補助CD
						) AS A
							--LEFT JOIN TMチーム AS CM
							--	ON A.チームCD = CM.チームCD
				) AS SYUKEI
				GROUP BY 集計日付,科目CD,部CD,統計集計先CD
				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.部CD = B.部CD
				AND A.統計集計先CD = B.統計集計先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  A.按分金額 + B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							部CD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.部CD,
							B.統計集計先CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
						
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('科目按分情報でエラーが発生しました。3 ', 16, 1)
		GOTO	EXIT_SP
	END

------------------------------------------------------------------
	---------------------------
	--按分経費データ作成（3：人数＋売上比率按分分）
	--　人数按分での科目金額を算出
	---------------------------
	INSERT INTO #TMP_Ninzu
			   ([科目CD]
			   --,[補助CD]
			   ,[部門CD]
			   ,[按分区分]
			   ,[部門按分別金額])
		--科目分の抽出
			(

				SELECT	
						A.科目CD,
						A.部CD,
						按分区分 = 1,
						部別按分金額 = A.部別按分金額-(CASE WHEN SEQ=1 THEN SUM(A.部別按分金額) OVER (PARTITION BY  A.科目CD)-A.金額 ELSE 0 END)
						--,SUM(A.部別按分金額) OVER (PARTITION BY  A.科目CD)-A.金額
				FROM (
					SELECT	SEQ,--統計集計先CD,
							部CD,
							KK.科目CD,
							金額 = ISNULL(KK.金額,0)
							--,按分金額 = ROUND(ISNULL(KK.金額,0) * B.統計集計先CD比率 / SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD),0)--2021/02/04 ADD
							,部別按分金額 = ROUND(ISNULL(KK.金額,0) *SUM(B.部CD比率) OVER (PARTITION BY B.部CD,KK.科目CD) / SUM(B.部CD比率) OVER (PARTITION BY KK.科目CD),0)--2021/02/04 ADD
							,按分比率 = B.部CD比率
							,部別按分比率 = SUM(B.部CD比率) OVER (PARTITION BY B.部CD,KK.科目CD)
							,按分比率計 = SUM(B.部CD比率) OVER (PARTITION BY KK.科目CD)
						FROM (SELECT 科目CD,金額 = SUM(金額) 
								FROM #TMP 
								WHERE	按分区分 = 3--人数案分
									AND	((補助CD = @その他部CD)--その他
										OR
										(補助CD = 0))--補助科目なし
								GROUP BY 科目CD
							) AS KK--人数按分
							CROSS JOIN	(
											--(全体)統計集計先CD毎の比率
											SELECT	ROW_NUMBER() OVER (ORDER BY SUM(比率) DESC) SEQ,
													部CD,
													--統計集計先CD,
													部CD比率 = SUM(CAST(比率 AS DECIMAL(30,10)))--2021/02/04 ADD
												FROM TM人数按分
												WHERE	統計集計先CD <> 999
												GROUP BY 部CD
												--ORDER BY 統計集計先CD
										) AS B
							--ORDER BY 科目CD,統計集計先CD
					) AS A
			)
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--按分経費データ作成（3：人数＋売上比率按分分）
	--　人数按分で算出した科目金額を売上金額で按分
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
				SELECT	集計日付 = @iS集計日付,
						A.科目CD,
						--A.金額,
						--A.チームCD,
						チームCD = 0,--2021/02/06 ADD
						部CD = @営業部CD,--営業部
						A.統計集計先CD,
						--端数処理での差額調整
						按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 部CD,部門CD,科目CD)-A.部別按分金額 ELSE 0 END)
							--,按分比率 = A.部別科目別売上金額
							--,按分比率計 = A.部別科目合計売上金額
							,部別按分合計金額 = SUM(A.按分金額) OVER (PARTITION BY 部CD,部門CD,科目CD)
							,A.部別按分金額
							,同一部門 = case when 部門CD = 部CD then 'true' else 'false' end
				FROM (

					SELECT	SEQ,部門CD,部CD,
							統計集計先CD = 集計CD,
							KK.科目CD,
							按分金額 = ROUND(ISNULL(KK.金額,0) * cast(TEAM_KIN.チーム税抜金額 as decimal(30,10)) / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY 部CD,部門CD,KK.科目CD),0)--2021/02/06 ADD

							,部別按分金額 = ISNULL(KK.金額,0)
							,部別科目別売上金額 = TEAM_KIN.チーム税抜金額
							--x,部別科目合計金額 = SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.部門CD,KK.科目CD)
							,部別科目合計売上金額 = SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY 部CD,部門CD,KK.科目CD)
							--ｘ,部別科目合計金額 = SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)
							,同一部門 = case when 部門CD = 部CD then 'true' else 'false' end
						FROM (SELECT	科目CD,
										部門CD,
										金額 = SUM(部門按分別金額) 
								FROM #TMP_Ninzu 
								WHERE	按分区分 = 1--売上案分
									--AND	補助CD = @営業部CD--営業部
								GROUP BY 科目CD,部門CD
							) AS KK--売上金額での按分
							CROSS JOIN	(
											--チーム毎集計先毎の売上金額集計
											SELECT	ROW_NUMBER() OVER (PARTITION BY 部CD ORDER BY SUM(チーム税抜金額) DESC) AS SEQ,
													--チームCD,
													部CD,
													集計CD,
													年月,
													チーム税抜金額 = SUM(チーム税抜金額)
												FROM (
														--チーム毎の売上金額集計
														SELECT
																--チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,
																部CD = CASE MH.集計CD--2021/03/03 ADD
																						WHEN @wヤオコー		THEN 1
																						--WHEN @wマミー		THEN 2
																						WHEN @wロピア		THEN 1--2021/05/20 ADD
																						WHEN @wサンベルクス THEN 0
																						--WHEN @wフレッセイ	THEN 3
																						--WHEN @wアポック		THEN 3
																						WHEN @wしまむら		THEN 1
																						WHEN @wベルク		THEN 0
																						WHEN @wビバ			THEN 1
																						WHEN @wウエルシア	THEN 0
																						ELSE 1 END,
																MH.集計CD,
																年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
																チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
																							THEN (UM.売上金額-UM.消費税額)
																							ELSE UM.売上金額 
																					END)
															FROM TD売上v2 AS UH  
																INNER JOIN TD売上明細V2 AS UM
																	ON UH.売上番号 = UM.売上番号
																LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
																	ON UM.見積明細連番 = MSM.見積明細連番 
																INNER JOIN TD見積 AS MH
																	ON UH.見積番号 = MH.見積番号
																INNER JOIN TM得意先 AS TM
																	ON MH.得意先CD = TM.得意先CD
															--2014/07/21 ADD↓
															WHERE	(UH.売上日付 >= @iS集計日付
																AND UH.売上日付 <= @iE集計日付)
																--AND	ISNULL(MSM.作業区分CD,0) = 0--営業--2021/02/04 DEL
															GROUP BY	--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,
																		CASE MH.集計CD--2021/03/03 ADD
																						WHEN @wヤオコー		THEN 1
																						--WHEN @wマミー		THEN 2
																						WHEN @wロピア		THEN 1--2021/05/20 ADD
																						WHEN @wサンベルクス THEN 0
																						--WHEN @wフレッセイ	THEN 3
																						--WHEN @wアポック		THEN 3
																						WHEN @wしまむら		THEN 1
																						WHEN @wベルク		THEN 0
																						WHEN @wビバ			THEN 1
																						WHEN @wウエルシア	THEN 0
																						ELSE 1 END,
																		MH.集計CD,
																		CONVERT(CHAR(6),UH.売上日付,112)
															--2014/07/21 ADD↑
														) AS UNI	--チーム毎の売上金額集計
												GROUP BY 部CD,集計CD,年月
										) AS TEAM_KIN--チーム毎の売上金額集計
										--ORDER BY 科目CD
						) AS A
						WHERE	A.部門CD = A.部CD
						--ORDER BY 科目CD
				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.チームCD = B.チームCD
				AND A.部CD = B.部CD
				AND A.統計集計先CD = B.統計集計先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  A.按分金額 + B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							部CD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.部CD,
							B.統計集計先CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
						
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('人数＋売上按分情報でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END

------------------------------------------------------------------

	--SELECT * FROM #TMP --WHERE 按分区分 = 2

	--SELECT * FROM #TMP経費按分集計
	--		ORDER BY 集計日付,科目CD,チームCD

	---------------------------
	--按分経費データへ保存
	---------------------------
	INSERT INTO TD経費按分集計V3
			   ([集計日付]
			   ,[科目CD]
			   ,[チームCD]
			   ,[部CD]
			   ,[統計集計先CD]
			   ,[按分金額]
			   ,[初期登録日]
			   ,[登録変更日])
		SELECT	@iS集計日付,
				科目CD,
				--TK.チームCD,
				チームCD = 0,--CASE WHEN TMP.チームCD = 0 THEN TK.チームCD ELSE TMP.チームCD END,--2021/02/06 DEL
				部CD = 部CD,
				統計集計先CD,
				按分金額,
				GETDATE(),
				GETDATE()
		FROM #TMP経費按分集計 AS TMP
			LEFT JOIN TM得意先 AS TK
				ON TMP.統計集計先CD = TK.得意先CD
		ORDER BY 集計日付,科目CD,部CD,統計集計先CD



	DROP TABLE #TMP
	DROP TABLE #TMP経費按分集計

--一時ファイルに補助科目・科目で抽出したデータを保存
--按分区分で抽出した情報を集計
--集計したデータと按分情報をつなげて金額算出
EXIT_SP:
	RETURN @ST
GO
