/****** Object:  StoredProcedure [dbo].[usp_TK3400確定済見積番号一覧表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK3400確定済見積番号一覧表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK3400確定済見積番号一覧表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* =============================================
	 usp_TK3400確定済見積番号一覧表
	

	機能:	
 
		請求済み（すべて売上・仕入済）
	
		請求情報をベースに売上・仕入金額を集計


		入金済みを確定とする
		原価は、売上確定分の見積番号を元に抽出する


		後から仕入明細を入力されたら？？？


 =============================================
	2021/03/03	oosawa	新規作成
	2021/03/06	oosawa	統計集計CDで集計
	2021/05/20	oosawa	4209ﾁｮｳｴｲﾊﾝｽﾞを追加
						7001ﾏﾐｰをその他へ
						5201ｱﾎﾟｯｸをその他へ

=============================================*/
CREATE  PROCEDURE [dbo].[usp_TK3400確定済見積番号一覧表]
	(
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS得意先CD		VARCHAR(7),
	@iE得意先CD		VARCHAR(7),

	--OUTPUT
	@RetDcnt 		INT				OUTPUT,
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

		
--SET @iS集計日付 = '2020-01-01'
--SET @iE集計日付 = '2020-02-01'

		DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		--DECLARE @wマミー		VARCHAR(4) = '7001'--2021/05/20 DEL
		DECLARE	@wロピア		VARCHAR(4) = '4209'--2021/05/20 ADD

		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		--DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		DECLARE	@wしまむら		VARCHAR(4) = '3201'

		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		--DECLARE	@wアポック		VARCHAR(4) = '5201'--2021/05/20 DEL


	--ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			見積番号		INT,
			請求日付		DATETIME,
			売上税抜金額	MONEY	DEFAULT(0),
			原価税抜金額	MONEY	DEFAULT(0)
			--入金番号		INT
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--見積番号別　売上
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--売上
					SELECT
							US.見積番号,
							US.請求日付,
							--年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							売上税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上請求H AS US
							INNER JOIN TD売上v2 AS UH
								ON US.見積番号 = UH.見積番号
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
--							INNER JOIN  TM仕入先 AS SR
--								ON MSM.仕入業者CD = SR.仕入先CD
							INNER JOIN 
								(SELECT DISTINCT 売上番号
									FROM TD入金消込
								)	AS NK--入金済みを確定とする
								ON US.見積番号 = NK.売上番号
						WHERE	
									(US.請求日付 >= @iS集計日付
										AND US.請求日付 <= @iE集計日付)
    						AND	MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
    						AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
					GROUP BY    
								US.見積番号,
								US.請求日付
								--CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1')
				) AS B
			ON  (
				A.見積番号 = B.見積番号
				AND	A.請求日付 = B.請求日付
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.売上税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							見積番号,
							請求日付,
							売上税抜金額
						)
					VALUES
						(
							B.見積番号,
							B.請求日付,
							B.売上税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



		--見積番号別　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	
							US.見積番号,
							US.請求日付,
							----年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD売上請求H AS US
							INNER JOIN TD仕入明細 AS SM
								ON US.見積番号 = SM.見積番号
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM仕入先 AS SR
								ON MSM.仕入業者CD = SR.仕入先CD
							INNER JOIN #TMP_TOTAL AS TMP
								--売上情報が存在している
								ON US.見積番号 = TMP.見積番号
						WHERE	
									(US.請求日付 >= @iS集計日付
										AND US.請求日付 <= @iE集計日付)
							--AND	MH.社内伝票扱い = 0--社内伝でない
					GROUP BY
								US.見積番号,
								US.請求日付
								--CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
				) AS B
			ON  (
				A.見積番号 = B.見積番号
				AND	A.請求日付 = B.請求日付
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							見積番号,
							請求日付,
							原価税抜金額
						)
					VALUES
						(
							B.見積番号,
							B.請求日付,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	

	--出力
	SELECT	*,
			Count = COUNT(TMP.集計CD) OVER (PARTITION BY TMP.集計CD)--2021/03/06 ADD
		FROM (
				SELECT	TMP.請求日付,TMP.見積番号,
						MH.見積件名,MH.得意先CD,
						--MH.集計CD,--2021/03/06 ADD
						集計CD = CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN MH.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 9991 END,

						TMP.売上税抜金額,
						TMP.原価税抜金額,
						見積原価率 = MH.原価率,
						原価率 = CASE WHEN 売上税抜金額 = 0 THEN 0 ELSE ROUND(原価税抜金額*100/売上税抜金額,2) END
					FROM #TMP_TOTAL AS TMP
						LEFT JOIN TD見積 AS MH
						ON TMP.見積番号 = MH.見積番号
			) AS TMP
		--ORDER BY	MH.得意先CD,TMP.請求日付
		ORDER BY	
					TMP.集計CD,TMP.得意先CD,TMP.請求日付,TMP.見積番号--2021/03/06 ADD

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
					
EXIT_SP:

	DROP TABLE #TMP_TOTAL

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
