/****** Object:  StoredProcedure [dbo].[usp_担当者別在庫金額集計xxx]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_担当者別在庫金額集計xxx]
GO
/****** Object:  StoredProcedure [dbo].[usp_担当者別在庫金額集計xxx]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************
	
	売掛・買掛　集計

名称	usp_TK0800担当者別在庫金額増減推移表

機能	担当者毎の在庫金額の増減の推移を作成する


引数

戻り値

修正履歴
	2013/05/17	新規作成
	2013/11/04	oosawa		仕分番号の削除に伴う修正

	2014/07/21	oosawa		集計日付を「売上日付」「仕入日付」にする
*****************************************************/
CREATE PROCEDURE [dbo].[usp_担当者別在庫金額集計xxx]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/12/31'

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)

	DECLARE	@FIELD_T	VARCHAR(8000)
	
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	--担当者別在庫増減金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL_Z 
		(
			年月			INT,
			担当者CD		SMALLINT		NOT NULL,
			社内仕入金額	MONEY	DEFAULT(0),
			社内出し金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	-------------------------------------------------
	--社内伝分の仕入金額
	-------------------------------------------------
	INSERT	INTO #TMP_TOTAL_Z
			(担当者CD,年月,社内仕入金額)
		SELECT	SR.担当者CD,
				年月 = CONVERT(CHAR(6),SM.仕入日付,112),
				SUM(SU.仕入金額) AS 社内仕入分
			FROM	TD仕入 AS SR
				INNER JOIN TD仕入明細 AS SM 
					ON SR.仕入番号 = SM.仕入番号
				INNER JOIN TD仕入明細内訳 AS SU 
					ON SM.仕入番号 = SU.仕入番号
				 LEFT JOIN TM製品 AS SE
					ON SU.製品NO = SE.製品NO
					AND SU.仕様NO = SE.仕様NO
			WHERE
					SM.仕入日付 >= @iS集計日付
				AND SM.仕入日付 <= @iE集計日付					--今年度
				AND	SR.得意先CD = '9999'
				AND SE.在庫区分 = 0								--在庫管理する
		GROUP BY SR.担当者CD, CONVERT(CHAR(6),SM.仕入日付,112)--2014/07/21 ADD
			
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	-------------------------------------------------
	--見積(売上済)で、社内在庫を出したデータ
	-------------------------------------------------
	--TMPに存在するデータの社内出し金額を更新
	UPDATE	#TMP_TOTAL_Z
		SET #TMP_TOTAL_Z.社内出し金額 = SYU.社内出し分
		FROM	#TMP_TOTAL_Z AS TMP
			INNER JOIN
				(
					SELECT	MH.担当者CD,
							CONVERT(CHAR(6), MH.売上日付, 112) AS 年月, 
							SUM(MM.社内在庫数 * MM.仕入単価) AS 社内出し分
						FROM	TD見積 AS MH
						INNER JOIN TD見積シートM AS MM
							ON MH.見積番号 = MM.見積番号
						LEFT JOIN TM製品 AS SE
							ON MM.製品NO = SE.製品NO
							AND MM.仕様NO = SE.仕様NO
						WHERE	NOT(MH.売上日付 IS NULL)--売上がたっている
							AND	MH.売上日付 >= @iS集計日付
							AND MH.売上日付 <= @iE集計日付					--今年度
							AND	MH.得意先CD <> '9999'
							AND SE.在庫区分 = 0								--在庫管理する
					GROUP BY	MH.担当者CD, CONVERT(CHAR(6), MH.売上日付, 112)
				) AS SYU
					ON	TMP.担当者CD = SYU.担当者CD
					AND	TMP.年月 = SYU.年月	

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	-------------------------------------------------
	--見積(売上済)で、社内在庫を出したデータ
	-------------------------------------------------
	--TMPに存在しない分の追加
	INSERT	INTO #TMP_TOTAL_Z
			(担当者CD,年月,社内出し金額)
		SELECT SYU.担当者CD,SYU.年月,SYU.社内出し分
			FROM (
					SELECT	MH.担当者CD,
							CONVERT(CHAR(6), MH.売上日付, 112) AS 年月, 
							SUM(MM.社内在庫数 * MM.仕入単価) AS 社内出し分
						FROM	TD見積 AS MH
						INNER JOIN TD見積シートM AS MM
							ON MH.見積番号 = MM.見積番号
						LEFT JOIN TM製品 AS SE
							ON MM.製品NO = SE.製品NO
							AND MM.仕様NO = SE.仕様NO
						WHERE	NOT(MH.売上日付 IS NULL)--売上がたっている
							AND	MH.売上日付 >= @iS集計日付
							AND MH.売上日付 <= @iE集計日付					--今年度
							AND	MH.得意先CD <> '9999'
							AND SE.在庫区分 = 0								--在庫管理する
					GROUP BY	MH.担当者CD, CONVERT(CHAR(6), MH.売上日付, 112)
				) AS SYU
				LEFT JOIN #TMP_TOTAL_Z AS TMP
						ON	TMP.担当者CD = SYU.担当者CD
						AND	TMP.年月 = SYU.年月	
			WHERE	TMP.担当者CD IS NULL
				AND	TMP.年月 IS NULL
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--SELECT * FROM #TMP_TOTAL_Z
		--		order by 担当者CD,年月
	--END ヘッダー部　売上金額----------------------------------------------------------------

	--在庫金額削除
	DELETE FROM TM担当者在庫金額
			WHERE
					年月 >= CONVERT(CHAR(6),@iS集計日付,112)
				AND 年月 <= CONVERT(CHAR(6),@iE集計日付,112)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--在庫金額登録
	INSERT	INTO	TM担当者在庫金額
			(年月,担当者CD,在庫増減金額)
		SELECT	TMP.年月,TMP.担当者CD,
				SUM(TMP.社内仕入金額-TMP.社内出し金額)
			FROM #TMP_TOTAL_Z AS TMP
			GROUP BY	TMP.年月,TMP.担当者CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	drop table #TMP_TOTAL_Z

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
