/****** Object:  StoredProcedure [dbo].[usp_ND0500消込済一覧表抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ND0500消込済一覧表抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_ND0500消込済一覧表抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_ND0500消込済一覧表抽出

機能	指定された消し込み済み情報を抽出する

引数	

戻り値

修正履歴
	2012/08/29	新規作成
*****************************************************/
CREATE   PROCEDURE [dbo].[usp_ND0500消込済一覧表抽出]
	(
		@is得意先CD			varchar(4),
		@ie得意先CD			varchar(4),
		@iDateFrom			DATETIME,
		@iDateTo			DATETIME,

		--OUTPUT
		@RetST				INT			OUTPUT,
		@RetMsg				VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT	ON

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''

--SET @iDateFrom = '2012/01/01'
--SET @iDateTo = '2012/12/31'
--SET	@i全額含む = 0

	----------------------------------
	-- 	抽出データ
	----------------------------------
	SELECT
			NY.入金番号, NY.入金日付, NY.得意先CD, NY.得意先名1, NY.得意先名2,
			NY.入金金額, 
			入金済金額 = KS_N.入金消込合計, 
			UH.売上日付, UH.請求日付, UH.売上番号, UH.見積番号,
			税込金額 = UH.合計金額 + UH.外税額,
			KS_U.売上消込合計
		FROM	(SELECT	NY.入金番号, NY.入金日付, NY.得意先CD, NY.得意先名1, NY.得意先名2,
						入金金額 = SUM(NY.入金金額)
					FROM TD入金 AS NY
					WHERE	NY.入金日付 >= @iDateFrom
						AND NY.入金日付 <= @iDateTo
						AND NY.得意先CD = coalesce(@is得意先CD,NY.得意先CD)
						AND NY.得意先CD = coalesce(@ie得意先CD,NY.得意先CD)
					GROUP BY	NY.入金番号, NY.入金日付, NY.得意先CD, NY.得意先名1, NY.得意先名2
				) AS NY
			INNER JOIN	TD入金消込 AS KS--接続用
				ON NY.入金番号 = KS.入金番号
			INNER JOIN  TD売上 AS UH
				ON KS.売上番号 = UH.売上番号
			INNER JOIN
				--入金に対する消し込み金額
				(SELECT	入金番号, SUM(入金金額) AS 入金消込合計
						FROM	TD入金消込
						GROUP BY	入金番号
				) AS KS_N
				ON NY.入金番号 = KS_N.入金番号
			INNER JOIN
				--売上に対する消し込み金額
				(SELECT	売上番号, SUM(入金金額) AS 売上消込合計
						FROM	TD入金消込
						GROUP BY	売上番号
				) AS KS_U
				ON UH.売上番号 = KS_U.売上番号
		ORDER BY           NY.得意先CD, NY.入金日付, NY.入金番号, UH.請求日付, UH.売上番号
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST
GO
