/****** Object:  StoredProcedure [dbo].[usp_KD0200損益計算書]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_KD0200損益計算書]
GO
/****** Object:  StoredProcedure [dbo].[usp_KD0200損益計算書]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************

名称	usp_KD0200損益計算書

機能	指定された条件で損益計算書用データを生成する

引数
	@iDateFrom		月間値集計用開始年月日
	@iDateTo		月間値集計用終了年月日
	@iNenFrom		年間値集計用開始年月日
	@iNenTo		年間値集計用終了年月日
戻り値	
	
UPDATE
	2004/04/16 	kawamura 	集計対象日付を[売上日付]→[請求日付]に変更
							  [仕入日付]→[支払日付]に変更
	2006/11/27	oosawa		並び順の修正
	2014/01/29	oosawa		ALLゼロの売上は出ないように
	
	2014/07/18	oosawa		集計日付を「売上日付」「仕入日付」に戻す
*********************************************************************/
CREATE PROCEDURE [dbo].[usp_KD0200損益計算書]
	@iDateFrom		DATETIME,
	@iDateTo		DATETIME,
	@iNenFrom		DATETIME,
	@iNenTo			DATETIME,
	@RetST			INT			OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	--目標マスタ抽出用
	DECLARE	@目標月間	DATETIME

	SET	@目標月間	=	CONVERT(VARCHAR(10),CONVERT(VARCHAR(4),DATEPART(YEAR,@iDateTo)) + '/' + CONVERT(VARCHAR(2),DATEPART(MONTH,@iDateTo)) +'/1',111)

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	-----------トランザクション開始
	BEGIN	TRAN
	--------------------------

	--ワークテーブル作成
	CREATE TABLE #wk_損益計算書 
		(
			区分		SMALLINT		NOT NULL,
			区分名		VARCHAR(6)		NOT NULL,
			担当者CD	SMALLINT		NOT NULL,
			担当者名	VARCHAR(16)		NOT NULL,
			G目標額	MONEY		NULL,
			G実績額	MONEY		NULL,
			G差額		MONEY		NULL,
			G達成率	MONEY		NULL,
			G原価額	MONEY		NULL,
			G原価率	MONEY		NULL,
			G経費		MONEY		NULL,
			G利益額	MONEY		NULL,
			N目標額	MONEY		NULL,
			N実績額	MONEY		NULL,
			N差額		MONEY		NULL,
			N達成率	MONEY		NULL,
			N原価額	MONEY		NULL,
			N原価率	MONEY		NULL,
			N経費		MONEY		NULL,
			N利益額	MONEY		NULL,
		) ON [PRIMARY]

	SET @ST = @@ERROR
	IF (@ST <> 0)	BEGIN
		SET @MSG = 'ワークテーブル作成エラー'
		GOTO EXIT_SP
	END

	--データ生成
	INSERT INTO #wk_損益計算書
				(
					区分,区分名,担当者CD,担当者名,
					G目標額,G実績額,G差額,G原価額,G経費,G利益額,
					N目標額,N実績額,N差額,N原価額,N経費,N利益額
				)
		
		SELECT  	SK.区分,SK.区分名,SK.担当者CD,SK.担当者名,
				SK.G目標額,SK.G実績額,SK.G差額,SK.G原価額,SK.G経費,SK.G利益額,
				SK.N目標額,SK.N実績額,SK.N差額,SK.N原価額,SK.N経費,SK.N利益額

			--売上情報 
			FROM (SELECT 1 AS 区分, '売  上' AS 区分名,TNM.担当者CD,TNM.担当者名,
					ISNULL(GMK.目標額,0) AS G目標額,ISNULL(GRK.実績額,0) AS G実績額,ISNULL(GRK.実績額,0)-ISNULL(GMK.目標額,0) AS G差額,
					ISNULL(GSI.原価額,0) AS G原価額,ISNULL(GKR.経費,0) AS G経費,ISNULL(GRK.実績額,0)-ISNULL(GSI.原価額,0)-ISNULL(GKR.経費,0) AS G利益額,
					ISNULL(NMK.目標額,0) AS N目標額,ISNULL(NRK.実績額,0) AS N実績額,ISNULL(NRK.実績額,0)-ISNULL(NMK.目標額,0) AS N差額,
					ISNULL(NSI.原価額,0) AS N原価額,ISNULL(NKR.経費,0) AS N経費,ISNULL(NRK.実績額,0)-ISNULL(NSI.原価額,0)-ISNULL(NKR.経費,0) AS N利益額
				FROM TM担当者 AS TNM
				
				--担当者目標月間値 
				LEFT JOIN (SELECT 担当者CD,目標額 FROM TM担当者予算目標 
						WHERE 目標年月=@目標月間) AS GMK ON TNM.担当者CD=GMK.担当者CD 

				--担当者実績月間値
				LEFT JOIN (SELECT UD.担当者CD,SUM(UD.税抜金額) AS 実績額 FROM TD売上 AS UD  
						--WHERE  UD.売上日付>=@iDateFrom  AND UD.売上日付< @iDateTo 	--2004/04/16.DEL
						----WHERE  UD.請求日付>=@iDateFrom  AND UD.請求日付< @iDateTo 	--2004/04/16.ADD
						WHERE  UD.売上日付>=@iDateFrom  AND UD.売上日付< @iDateTo 	--2014/07/18 ADD
						GROUP BY UD.担当者CD) AS GRK ON TNM.担当者CD=GRK.担当者CD

				--担当者原価額月間値
				LEFT JOIN (SELECT SR.担当者CD,SUM(SM.税抜金額) AS 原価額
						FROM TD仕入明細 AS SM 
						INNER JOIN TD仕入 AS SR ON SR.仕入番号 = SM.仕入番号
						--WHERE  SM.仕入日付>=@iDateFrom AND SM.仕入日付<@iDateTo	--2004/04/16.DEL
						----WHERE  SM.支払日付>=@iDateFrom AND SM.支払日付<@iDateTo	--2004/04/16.ADD
						WHERE  SM.仕入日付>=@iDateFrom AND SM.仕入日付<@iDateTo	--2014/07/18 ADD
						GROUP BY SR.担当者CD) AS GSI ON TNM.担当者CD=GSI.担当者CD

				--担当者経費月間値
				LEFT JOIN (SELECT KM.担当者CD,SUM(KM.金額) AS 経費
						FROM TD経費明細 AS KM 
						INNER JOIN TD経費 AS KR ON KR.経費番号 = KM.経費番号
						WHERE  KR.経費日付>=@iDateFrom AND KR.経費日付<@iDateTo
						GROUP BY KM.担当者CD) AS GKR ON TNM.担当者CD=GKR.担当者CD

				--担当者目標年間値
				LEFT JOIN (SELECT 担当者CD,SUM(目標額) AS 目標額 FROM TM担当者予算目標 
						WHERE 目標年月>=@iNenFrom AND 目標年月<@iNenTo
						GROUP BY 担当者CD) AS NMK ON TNM.担当者CD=NMK.担当者CD 

				--担当者実績年間値
				LEFT JOIN (SELECT UD.担当者CD,SUM(UD.税抜金額) AS 実績額 FROM TD売上 AS UD  
						--WHERE  UD.売上日付>=@iNenFrom AND UD.売上日付<@iNenTo 	--2004/04/16.DEL
						----WHERE  UD.請求日付>=@iNenFrom AND UD.請求日付<@iNenTo 		--2004/04/16.ADD
						WHERE  UD.売上日付>=@iNenFrom AND UD.売上日付<@iNenTo 	--2014/07/18 ADD
						GROUP BY UD.担当者CD) AS NRK ON TNM.担当者CD=NRK.担当者CD

				--担当者原価額年間値
				LEFT JOIN (SELECT SR.担当者CD,SUM(SM.税抜金額) AS 原価額
						FROM TD仕入明細 AS SM 
						INNER JOIN TD仕入 AS SR ON SR.仕入番号 = SM.仕入番号
						--WHERE  SM.仕入日付>=@iNenFrom AND SM.仕入日付<@iNenTo	--2004/04/16.DEL
						----WHERE  SM.支払日付>=@iNenFrom AND SM.支払日付<@iNenTo		--2004/04/16.ADD
						WHERE  SM.仕入日付>=@iNenFrom AND SM.仕入日付<@iNenTo	--2014/07/18 ADD
						GROUP BY SR.担当者CD) AS NSI ON TNM.担当者CD=NSI.担当者CD

				--担当者経費年間値
				LEFT JOIN (SELECT KM.担当者CD,SUM(KM.金額) AS 経費
						FROM TD経費明細 AS KM 
						INNER JOIN TD経費 AS KR ON KR.経費番号 = KM.経費番号
						WHERE  KR.経費日付>=@iNenFrom And KR.経費日付<@iNenTo
						GROUP BY KM.担当者CD) AS NKR ON TNM.担当者CD=NKR.担当者CD
			--2014/01/29 ADD↓
			WHERE	NOT(	ISNULL(GRK.実績額,0) = 0
							AND ISNULL(GSI.原価額,0) = 0
							AND ISNULL(GKR.経費,0) = 0
							AND ISNULL(NRK.実績額,0) = 0
							AND ISNULL(NSI.原価額,0) = 0
							AND ISNULL(NKR.経費,0) = 0
						)
			--2014/01/29 ADD↑

		UNION ALL 
				--仕入情報
				SELECT  2 AS 区分,  '仕  入' AS 区分名,0 AS 担当者CD,'' AS 担当者名,
					0 AS G目標額,ISNULL(GRK.実績額,0) AS G実績額,0 AS G差額,0 AS G原価額,0 AS G経費,0 AS G利益額,
					0 AS N目標額,ISNULL(NRK.実績額,0) AS N実績額,0 AS N差額,0 AS N原価額,0 AS N経費,0 AS N利益額

				--仕入実績月間値
				FROM 	(SELECT  SUM(税抜金額) AS 実績額 FROM TD仕入明細  
						--WHERE  仕入日付>=@iDateFrom AND 仕入日付<@iDateTo) AS GRK,		--2004/04/16.DEL
						----WHERE  支払日付>=@iDateFrom AND 支払日付<@iDateTo) AS GRK, 		--2004/04/16.ADD
						WHERE  仕入日付>=@iDateFrom AND 仕入日付<@iDateTo) AS GRK,		--2014/07/18 ADD

				--仕入実績年間値
					(SELECT  SUM(税抜金額) AS 実績額 FROM TD仕入明細  
						--WHERE  仕入日付>=@iNenFrom AND 仕入日付<@iNenTo) AS NRK		--2004/04/16.DEL
						----WHERE  支払日付>=@iNenFrom AND 支払日付<@iNenTo) AS NRK		--2004/04/16.ADD
						WHERE  仕入日付>=@iNenFrom AND 仕入日付<@iNenTo) AS NRK		--2014/07/18 ADD

		UNION ALL
				--経費情報
				SELECT 4 AS 区分,'経  費' AS 区分名,KMM.科目CD AS 担当者CD,KMM.科目名 AS 担当者名,
					ISNULL(GMK.目標額,0) AS G目標額,ISNULL(GRK.実績額,0) AS G実績額,ISNULL(GRK.実績額,0)-ISNULL(GMK.目標額,0) AS G差額,
					0 AS G原価額,0 AS G経費,0 AS G利益額,
					ISNULL(NMK.目標額,0) AS N目標額,ISNULL(NRK.実績額,0) AS N実績額,ISNULL(NRK.実績額,0)-ISNULL(NMK.目標額,0) AS N差額,
					0 AS N原価額,0 AS N経費,0 AS N利益額
				FROM TM科目 AS KMM 

				--科目目標月間値
				LEFT JOIN (SELECT 科目CD,目標額 FROM TM科目予算目標 
						WHERE 目標年月=@目標月間) AS GMK ON KMM.科目CD=GMK.科目CD

				--科目実績月間値
				LEFT JOIN (SELECT KM.科目CD,SUM(KM.金額) AS 実績額 FROM TD経費明細 AS KM
						INNER JOIN TD経費 AS KD ON KM.経費番号=KD.経費番号  
						WHERE  KD.経費日付>=@iDateFrom AND KD.経費日付<@iDateTo
						GROUP BY KM.科目CD) AS GRK ON KMM.科目CD=GRK.科目CD

				--科目目標年間値
				LEFT JOIN (SELECT 科目CD,SUM(目標額) AS 目標額 FROM TM科目予算目標 
						WHERE 目標年月>=@iNenFrom AND 目標年月<@iNenTo
						GROUP BY 科目CD) AS NMK ON KMM.科目CD=NMK.科目CD 

				--科目実績年間値
				LEFT JOIN (SELECT KM.科目CD,SUM(KM.金額) AS 実績額 FROM TD経費明細 AS KM
						INNER JOIN TD経費 AS KD ON KM.経費番号=KD.経費番号  
						WHERE  KD.経費日付>=@iNenFrom AND KD.経費日付<@iNenTo
						 GROUP BY KM.科目CD) AS NRK ON KMM.科目CD=NRK.科目CD
		) AS SK

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--粗利益用レコード作成
	INSERT INTO #wk_損益計算書
				(
					区分,区分名,担当者CD,担当者名,
					G目標額,G実績額,G差額,G原価額,G経費,G利益額,
					N目標額,N実績額,N差額,N原価額,N経費,N利益額
				)
			SELECT  3 AS 区分,  '粗利益' AS 区分名,0 AS 担当者CD,'' AS 担当者名,
					0 AS G目標額,ISNULL(UR.G売上合計,0)-ISNULL(SR.G仕入合計,0) AS G実績額,0 AS G差額,0 AS G原価額,0 AS G経費,0 AS G利益額,
					0 AS N目標額,ISNULL(UR.N売上合計,0)-ISNULL(SR.N仕入合計,0) AS N実績額,0 AS N差額,0 AS N原価額,0 AS N経費,0 AS N利益額

			--売上・仕入実績月間合計
			FROM 	(SELECT SUM(G実績額) AS G売上合計,SUM(N実績額) AS N売上合計 FROM #wk_損益計算書 WHERE 区分=1) AS UR,
				(SELECT SUM(G実績額) AS G仕入合計,SUM(N実績額) AS N仕入合計 FROM #wk_損益計算書 WHERE 区分=2) AS SR

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--利益用レコード作成
	INSERT INTO #wk_損益計算書
				(
					区分,区分名,担当者CD,担当者名,
					G目標額,G実績額,G差額,G原価額,G経費,G利益額,
					N目標額,N実績額,N差額,N原価額,N経費,N利益額
				)
			SELECT  5 AS 区分,  '利  益' AS 区分名,0 AS 担当者CD,'' AS 担当者名,
					0 AS G目標額,ISNULL(UR.G売上合計,0)-ISNULL(SR.G仕入合計,0)-ISNULL(KH.G経費合計,0) AS G実績額,0 AS G差額,0 AS G原価額,0 AS G経費,0 AS G利益額,
					0 AS N目標額,ISNULL(UR.N売上合計,0)-ISNULL(SR.N仕入合計,0)-ISNULL(KH.N経費合計,0) AS N実績額,0 AS N差額,0 AS N原価額,0 AS N経費,0 AS N利益額

			--売上・仕入・経費実績月間合計
			FROM 	(SELECT SUM(G実績額) AS G売上合計,SUM(N実績額) AS N売上合計 FROM #wk_損益計算書 WHERE 区分=1) AS UR,
				(SELECT SUM(G実績額) AS G仕入合計,SUM(N実績額) AS N仕入合計 FROM #wk_損益計算書 WHERE 区分=2) AS SR,
				(SELECT SUM(G実績額) AS G経費合計,SUM(N実績額) AS N経費合計 FROM #wk_損益計算書 WHERE 区分=4) AS KH  

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		
	--達成率・原価率 更新
	UPDATE #wk_損益計算書
			SET 	G達成率 =	(CASE  WHEN #wk_損益計算書.G目標額=0 THEN 0 
								ELSE dbo.fn_rounddown((#wk_損益計算書.G実績額/#wk_損益計算書.G目標額)*100,1) END),
				G原価率 =	(CASE  WHEN #wk_損益計算書.G実績額=0 THEN 0 
								ELSE dbo.fn_rounddown((#wk_損益計算書.G原価額/#wk_損益計算書.G実績額)*100,1) END),
			 	N達成率 =	(CASE  WHEN #wk_損益計算書.N目標額=0 THEN 0 
								ELSE dbo.fn_rounddown((#wk_損益計算書.N実績額/#wk_損益計算書.N目標額)*100,1) END),
				N原価率 =	(CASE  WHEN #wk_損益計算書.N実績額=0 THEN 0 
								ELSE dbo.fn_rounddown((#wk_損益計算書.N原価額/#wk_損益計算書.N実績額)*100,1) END)
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--データ抽出
	SELECT	区分,区分名,担当者CD,担当者名,
			G目標額,G実績額,G差額,G達成率,G原価額,G原価率,G経費,G利益額,
			N目標額,N実績額,N差額,N達成率,N原価額,N原価率,N経費,N利益額
		FROM	#wk_損益計算書
--		ORDER BY	区分					--2006/11/27 DEL
		ORDER BY	区分, 担当者CD			--2006/11/27 ADD

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END

		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END

		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
