/****** Object:  StoredProcedure [dbo].[usp_MT0100員数展開_製品]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0100員数展開_製品]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0100員数展開_製品]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_MT0100員数展開_製品

	機能:	製品を展開する
		
 =============================================
	2003/07/29	oosawa
	2003/09/16	oosawa	H1,H2,仕入先名,配送先名追加
	2003/10/29	oosawa	見積区分追加
	2003/12/05	oosawa	同一製品集計の場合、SP区分を見ないように変更
	2005/10/14 	kawamura 	U区分追加
	2009/10/07	oosawa	社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLGの追加
					チェックなしなのでALLZEROをセット
 =============================================*/
CREATE         PROCEDURE [dbo].[usp_MT0100員数展開_製品]
	(
	@i得意先CD		VARCHAR(4),
	@i大小口区分		SMALLINT,
	@c見積明細連番 INT ,
	@c見積番号 	INT ,
	@c行番号 	INT ,
	@c追番 	INT ,
	@c展開CHK 	SMALLINT,
	@c見積区分	VARCHAR (1),		--2003/10/29	ADD
	@cSP区分 	VARCHAR (1),
	@cPC区分 	VARCHAR (1),
	@c製品NO 	CHAR (7),
	@c仕様NO 	CHAR (7),
	@cベース色 	CHAR (7),
	@c漢字名称 	VARCHAR (40),
	@cW 		INT,
	@cD 		INT,
	@cH 		INT,
	@cD1 		INT,
	@cD2 		INT,
	@cH1 		INT,
	@cH2 		INT,
	@cエラー内容 VARCHAR (255),
	@c定価 	MONEY,
	@c仕入単価 	MONEY,
	@c仕入率	MONEY,
	@c売上単価 	MONEY,
	@c売上率	MONEY,
	@cU区分 	VARCHAR (1),		--2005/10/14 ADD
	@cM区分 	VARCHAR (1),
	@c見積数量 	MONEY,
	@c単位名 	VARCHAR (6),
	@c仕入金額 	MONEY ,
	@c売上金額 	MONEY,
	@c売上税区分 SMALLINT,
	@c消費税額 	MONEY,
	@c仕入先CD 	VARCHAR (4),
	@c仕入先名 	VARCHAR (8),
	@c配送先CD 	VARCHAR (4),
	@c配送先名 	VARCHAR (8),
	@c社内在庫数 MONEY,
	@c客先在庫数 MONEY,
	@c転用数 	MONEY,
	@c発注数	MONEY,
	@c総数量 	MONEY,
	@c製品区分	SMALLINT,
	@c仕分数1 	MONEY,
	@c仕分数2 	MONEY,
	@c仕分数3 	MONEY,
	@c仕分数4 	MONEY,
	@c仕分数5 	MONEY,
	@c仕分数6 	MONEY,
	@c仕分数7 	MONEY,
	@c仕分数8 	MONEY,
	@c仕分数9 	MONEY,
	@c仕分数10 	MONEY,
	@c仕分数11	MONEY,
	@c仕分数12 	MONEY,
	@c仕分数13 	MONEY,
	@c仕分数14 	MONEY,
	@c仕分数15 	MONEY,
	@c仕分数16 	MONEY,
	@c仕分数17 	MONEY,
	@c仕分数18 	MONEY,
	@c仕分数19 	MONEY,
	@c仕分数20 	MONEY,
	@c仕分数21 	MONEY,
	@c仕分数22 	MONEY,
	@c仕分数23 	MONEY,
	@c仕分数24 	MONEY,
	@c仕分数25 	MONEY,
	@c仕分数26 	MONEY,
	@c仕分数27 	MONEY,
	@c仕分数28 	MONEY,
	@c仕分数29		MONEY,
	@c仕分数30		MONEY,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		NVARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--製品構成カーソル
	DECLARE	@CSR製品構成	CURSOR
	--製品構成カーソル変数
	DECLARE
		@cS製品NO	CHAR(7),
		@cS仕様NO	CHAR(7),
		@cS員数	INT,
		@cSベース色	CHAR(7),
		@cS漢字名称	varchar(40),
		@cSW		INT,
		@cSD		INT,
		@cSH		INT,
		@cSD1		INT,
		@cSD2		INT,
		@cSH1		INT,
		@cSH2		INT,
		@cS単位名	VARCHAR(6),
		@cS定価	MONEY,
		@cS売上単価	MONEY,
		@cS仕入単価	MONEY,
		@cS主仕入先CD	VARCHAR(4),
		@cS仕入先略称	VARCHAR(8),
		@cS売上税区分	SMALLINT

	--エラーメッセージ用変数
	DECLARE	@wエラー内容	VARCHAR(255),
			@wERR		SMALLINT

	--追番用構成カウント
	DECLARE	@wCNT	INT

		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_Chk製品 @c製品NO, @c仕様NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @wERR OUTPUT, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 <> '' BEGIN
			GOTO TEMP_NOCONV
		END

		--展開チェック
		IF @c展開CHK = 0	BEGIN		--展開しない
			GOTO 	SEIHIN_FUZOKU_READ
		END
		
		--製品構成マスタがあるか？
		IF NOT EXISTS(SELECT 親製品NO FROM TM製品構成 WHERE 親製品NO = @c製品NO AND 親仕様NO = @c仕様NO)	BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END

		--------------------------------------------------
		--展開します。
		--------------------------------------------------
		--構成マスタのカーソルを開きます。
		SET	@CSR製品構成	=	CURSOR	LOCAL	FORWARD_ONLY FOR
			SELECT	SK.子製品NO, SK.子仕様NO,SK.員数,
					SH.漢字名称, SH.ベース色, SH.W, SH.D,SH.H, SH.D1, SH.D2, SH.H1, SH.H2,
					SH.単位名, SH.定価, 
					CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,SH.仕入単価,0) 
								ELSE COALESCE(MT.小口仕入単価,SH.仕入単価,0) END,
					CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,SH.売上単価,0) 
								ELSE COALESCE(MT.小口売上単価,SH.売上単価,0) END,
					SH.売上税区分, 
					SH.主仕入先CD,
					ISNULL(SI.略称,'') AS 仕入先略称
			FROM            TM製品構成 AS SK 
				INNER JOIN TM製品 AS SH 
					ON SK.子製品NO = SH.製品NO
					AND SK.子仕様NO = SH.仕様NO
					LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
						) AS MT
							ON SK.親製品NO = MT.製品NO
							AND SK.親仕様NO = MT.仕様NO
					LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
						) AS SI
							ON SH.主仕入先CD = SI.仕入先CD
			WHERE          SK.親製品NO = @c製品NO
			AND		SK.親仕様NO = @c仕様NO
			ORDER BY	SK.行NO

		OPEN @CSR製品構成

		SET	@ST = @@ERROR
		IF ( @ST <> 0 )	GOTO	EXIT_SP

		--カーソルのREAD
		FETCH NEXT FROM @CSR製品構成
			INTO	@cS製品NO, @cS仕様NO, @cS員数,
				@cS漢字名称, @cSベース色, 
				@cSW, @cSD,@cSH, @cSD1, @cSD2, @cSH1, @cSH2,
				@cS単位名, @cS定価, @cS仕入単価, @cS売上単価, @cS売上税区分, 
				@cS主仕入先CD, @cS仕入先略称

		SET @ST = @@ERROR
		IF ( @ST <> 0 )	GOTO	EXIT_SP


		--初期値のセット
		SET @wCNT = 1
		--------------------------------------------------
		--構成をループします。
		--------------------------------------------------
	WHILE	( @@FETCH_STATUS = 0 )	BEGIN

			--PRINT 'SEIHIN_FUZOKU_READ'
			--------------------------------------------------
			--製品の付属情報を変数にセットします。
			--------------------------------------------------
-- 			SELECT 
--				@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cSベース色 END),
--				@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @cS漢字名称 END),
--				@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @cS単位名 END),
--				@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @cS定価 END),
--				@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @cS仕入単価 
--					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
--								ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END,
--				@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
--					ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
--						ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
--										ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
--				@c売上税区分 = MS.売上税区分,
--				@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
-- 				FROM		TM製品 AS MS
-- 					LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
-- 						) AS MT
-- 							ON MS.製品NO = MT.製品NO
-- 							AND MS.仕様NO = MT.仕様NO
-- 				WHERE	MS.製品NO = @c製品NO
-- 				AND		MS.仕様NO = @c仕様NO
-- 				AND		@cPC区分 = ''
	
-- 				--仕入率算出(桁数２　四捨五入)
-- 				--PRINT '仕入率算出'
-- 				SET @c仕入率 = dbo.fn_CutFraction(0,dbo.fn_Divide(@c仕入単価,@c定価)*100,2)
-- 				--売上率算出
-- 				SET @c売上率 =  dbo.fn_CutFraction(0,dbo.fn_Divide(@c売上単価,@c定価)*100,2)
-- 				--仕入金額算出
-- 				SET @c仕入金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c仕入単価,0)
-- 				--売上金額算出
-- 				SET @c売上金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c売上単価,0)
-- 				--消費税額算出
-- 				IF @c売上税区分 = 0		--外税
-- 					SET @c消費税額 = 0
-- 				ELSE				--内税
-- 					SET @c消費税額 = dbo.fn_CutFraction(@i消費税端数, (@c売上金額 / (100 + @TAX) * @TAX), 0)

			--PRINT 'CODE_CHECK'
			--------------------------------------------------
			--仕入先・配送先のチェックを行ないます。
			--------------------------------------------------
			--仕入先チェック
			IF NOT EXISTS(SELECT 仕入先CD FROM TM仕入先 WHERE 仕入先CD = @c仕入先CD) BEGIN
				SET @wエラー内容 = '仕入先マスタ　未登録'
				--SET @wErrCNT = @wErrCNT +1
				GOTO LOOP_TEMP_NOCONV
			END
			--配送先チェック
-- 			IF NOT EXISTS(SELECT 配送先CD FROM TM配送先 WHERE 配送先CD = @c配送先CD) BEGIN
-- 				SET @wエラー内容 = '配送先マスタ　未登録'
-- 				--SET @wErrCNT = @wErrCNT +1
-- 				GOTO LOOP_TEMP_NOCONV
-- 			END



			LOOP_TEMP_NOCONV:
			--PRINT 'TEMP_NOCONV'
			--------------------------------------------------
			--展開した子製品をテンポラリテーブルに書き込みます。
			--------------------------------------------------
			--同一製品が存在する場合は、仕分数を足しこむ。
			IF NOT EXISTS(SELECT * FROM #WkTbl
							WHERE	/*SP区分 = ''				--2003/12/05	DEL
							AND*/		PC区分 = ''
							AND		製品NO = @cS製品NO
							AND		仕様NO = @cS仕様NO
							AND		ベース色 = @cSベース色
							AND		W = @cSW
							AND		D = @cSD
							AND		H = @cSH
							AND		D1 = @cSD1
							AND		D2 = @cSD2
							AND		H1 = @cSH1
							AND		H2 = @cSH2
											) BEGIN
				INSERT	#WkTbl
					(
					見積明細連番, 見積番号, 行番号, 追番, 
					展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
					W, D, H, D1, D2, H1, H2,
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 
					仕入率, 
					売上単価, 
					売上率,
					U区分,		--2005/10/14 ADD
					M区分,
					仕入金額, 
					売上金額, 
					売上税区分, 
					消費税額,
					仕入先CD, 仕入先名, 配送先CD, 配送先名,
					社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分,
					仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
					仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
					仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
					社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
					)
				SELECT
					@c見積明細連番,@c見積番号, @c行番号,@wCNT,
					0,@c見積区分,'','',@cS製品NO,@cS仕様NO,@cSベース色,@cS漢字名称,
					@cSW,@cSD,@cSH,@cSD1,@cSD2,@cSH1,@cSH2,
					@wエラー内容,@c総数量*@cS員数,@cS単位名,@cS定価,@cS仕入単価,
					0,--dbo.fn_CutFraction(0,dbo.fn_Divide(@cS仕入単価,@cS定価)*100,2),
					@cS売上単価,
					0,--dbo.fn_CutFraction(0,dbo.fn_Divide(@cS売上単価,@cS定価)*100,2),
					'',		--2005/10/14 ADD
					'',
					0,--dbo.fn_CutFraction(@i売上端数,@c見積数量*@cS員数 * @c仕入単価,0),
					0,--@c売上金額,
					@cS売上税区分,
					0,--@c消費税額,
					@cS主仕入先CD,@cS仕入先略称,'01',(SELECT 略称 FROM TM配送先 WHERE 配送先CD = '01'),
					0,0,0,0,@c総数量*@cS員数, 0,--@c製品区分,
					@c仕分数1*@cS員数,@c仕分数2*@cS員数,@c仕分数3*@cS員数,@c仕分数4*@cS員数,@c仕分数5*@cS員数,
					@c仕分数6*@cS員数,@c仕分数7*@cS員数,@c仕分数8*@cS員数,@c仕分数9*@cS員数,@c仕分数10*@cS員数,
					@c仕分数11*@cS員数,@c仕分数12*@cS員数,@c仕分数13*@cS員数,@c仕分数14*@cS員数,@c仕分数15*@cS員数,
					@c仕分数16*@cS員数,@c仕分数17*@cS員数,@c仕分数18*@cS員数,@c仕分数19*@cS員数,@c仕分数20*@cS員数,
					@c仕分数21*@cS員数,@c仕分数22*@cS員数,@c仕分数23*@cS員数,@c仕分数24*@cS員数,@c仕分数25*@cS員数,
					@c仕分数26*@cS員数,@c仕分数27*@cS員数,@c仕分数28*@cS員数,@c仕分数29*@cS員数,@c仕分数30*@cS員数,
					0, 0, 0	--2009/10/07 ADD
			END ELSE BEGIN
				UPDATE #WkTbl
					SET	総数量 = 総数量 + (@c総数量*@cS員数),
						仕分数1 = 仕分数1 + (@c仕分数1*@cS員数),
						仕分数2 = 仕分数2 + (@c仕分数2*@cS員数),
						仕分数3 = 仕分数3 + (@c仕分数3*@cS員数),
						仕分数4 = 仕分数4 + (@c仕分数4*@cS員数),
						仕分数5 = 仕分数5 + (@c仕分数5*@cS員数),
						仕分数6 = 仕分数6 + (@c仕分数6*@cS員数),
						仕分数7 = 仕分数7 + (@c仕分数7*@cS員数),
						仕分数8 = 仕分数8 + (@c仕分数8*@cS員数),
						仕分数9 = 仕分数9 + (@c仕分数9*@cS員数),
						仕分数10 = 仕分数10 + (@c仕分数10*@cS員数),
						仕分数11 = 仕分数11 + (@c仕分数11*@cS員数),
						仕分数12 = 仕分数12 + (@c仕分数12*@cS員数),
						仕分数13 = 仕分数13 + (@c仕分数13*@cS員数),
						仕分数14 = 仕分数14 + (@c仕分数14*@cS員数),
						仕分数15 = 仕分数15 + (@c仕分数15*@cS員数),
						仕分数16 = 仕分数16 + (@c仕分数16*@cS員数),
						仕分数17 = 仕分数17 + (@c仕分数17*@cS員数),
						仕分数18 = 仕分数18 + (@c仕分数18*@cS員数),
						仕分数19 = 仕分数19 + (@c仕分数19*@cS員数),
						仕分数20 = 仕分数20 + (@c仕分数20*@cS員数),
						仕分数21 = 仕分数21 + (@c仕分数21*@cS員数),
						仕分数22 = 仕分数22 + (@c仕分数22*@cS員数),
						仕分数23 = 仕分数23 + (@c仕分数23*@cS員数),
						仕分数24 = 仕分数24 + (@c仕分数24*@cS員数),
						仕分数25 = 仕分数25 + (@c仕分数25*@cS員数),
						仕分数26 = 仕分数26 + (@c仕分数26*@cS員数),
						仕分数27 = 仕分数27 + (@c仕分数27*@cS員数),
						仕分数28 = 仕分数28 + (@c仕分数28*@cS員数),
						仕分数29 = 仕分数29 + (@c仕分数29*@cS員数),
						仕分数30 = 仕分数30 + (@c仕分数30*@cS員数)
					WHERE	/*SP区分 = ''						--2003/12/05	DEL
					AND*/		PC区分 = ''
					AND		製品NO = @cS製品NO
					AND		仕様NO = @cS仕様NO
					AND		ベース色 = @cSベース色
					AND		W = @cSW
					AND		D = @cSD
					AND		H = @cSH
					AND		D1 = @cSD1
					AND		D2 = @cSD2
					AND		H1 = @cSH1
					AND		H2 = @cSH2
			END

			SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

			--追番のカウントアップ
			SET @wCNT = @wCNT + 1
			
			--カーソルのREAD
			FETCH NEXT FROM @CSR製品構成
				INTO	@cS製品NO, @cS仕様NO, @cS員数,
					@cS漢字名称, @cSベース色, @cSW, @cSD,@cSH, @cSD1, @cSD2,@cSH1, @cSH2,
					@cS単位名, @cS定価, @cS仕入単価, @cS売上単価, @cS売上税区分, 
					@cS主仕入先CD, @cS仕入先略称

			SET @ST = @@ERROR
			IF ( @ST <> 0 )	GOTO	EXIT_SP

				
		END	--(WHILE)
		CLOSE		@CSR製品構成
		DEALLOCATE	@CSR製品構成

		GOTO EXIT_SP


SEIHIN_FUZOKU_READ:
		--PRINT 'SEIHIN_FUZOKU_READ'
		--------------------------------------------------
		--製品の付属情報を変数にセットします。
		--------------------------------------------------
		SELECT 
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			@c売上税区分 = MS.売上税区分,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			AND		@cPC区分 = ''

-- 		--仕入率算出(桁数２　四捨五入)
-- 		--PRINT '仕入率算出'
-- 		SET @c仕入率 = dbo.fn_CutFraction(0,dbo.fn_Divide(@c仕入単価,@c定価)*100,2)
-- 		--売上率算出
-- 		SET @c売上率 =  dbo.fn_CutFraction(0,dbo.fn_Divide(@c売上単価,@c定価)*100,2)
-- 		--仕入金額算出
-- 		SET @c仕入金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c仕入単価,0)
-- 		--売上金額算出
-- 		SET @c売上金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c売上単価,0)
-- 		--消費税額算出
-- 		IF @c売上税区分 = 0		--外税
-- 			SET @c消費税額 = 0
-- 		ELSE				--内税
-- 			SET @c消費税額 = dbo.fn_CutFraction(@i消費税端数, (@c売上金額 / (100 + @TAX) * @TAX), 0)

CODE_CHECK:
		--PRINT 'CODE_CHECK'
		--------------------------------------------------
		--仕入先・配送先のチェックを行ないます。
		--------------------------------------------------
		--仕入先チェック
		IF NOT EXISTS(SELECT 仕入先CD FROM TM仕入先 WHERE 仕入先CD = @c仕入先CD) BEGIN
			SET @wエラー内容 = '仕入先マスタ　未登録'
			--SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END
		--配送先チェック
		IF NOT EXISTS(SELECT 配送先CD FROM TM配送先 WHERE 配送先CD = @c配送先CD) BEGIN
			SET @wエラー内容 = '配送先マスタ　未登録'
			--SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END

TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。
		--------------------------------------------------
		--同一製品が存在する場合は、仕分数を足しこむ。
		IF NOT EXISTS(SELECT * FROM #WkTbl
						WHERE	SP区分 = @cSP区分
						AND		PC区分 = @cPC区分
						AND		製品NO = @c製品NO
						AND		仕様NO = @c仕様NO
						AND		ベース色 = @cベース色
						AND		W = @cW
						AND		D = @cD
						AND		H = @cH
						AND		D1 = @cD1
						AND		D2 = @cD2
						AND		H1 = @cH1
						AND		H2 = @cH2
										) BEGIN
			INSERT	#WkTbl
				(
				見積明細連番, 見積番号, 行番号, 追番, 
				展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
				W, D, H, D1, D2, H1, H2,
				エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
				仕入金額, 売上金額, 売上税区分, 消費税額,
				仕入先CD, 仕入先名, 配送先CD, 配送先名,
				社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分,
				仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
				仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
				仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
				社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
				)
			SELECT
				@c見積明細連番,@c見積番号, @c行番号,@c追番,
				0,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@wエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量, @c製品区分,
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30,
				0, 0, 0	--2009/10/07 ADD
		END ELSE BEGIN
			UPDATE #WkTbl
				SET	
					/*漢字名称 = @c漢字名称,
					単位名	 = @c単位名,
					定価 = @c定価,
					仕入単価 = @c仕入単価,
					売上単価 = @c売上単価,
					M区分 = @cM区分,
					売上税区分 = @c売上税区分,
					仕入先CD = @c仕入先CD,
					配送先CD =@c配送先CD,
					社内在庫数 = @c社内在庫数,
					客先在庫数 = @c客先在庫数,
					転用数 = @c転用数,*/
					総数量 = 総数量 + @c総数量,
					仕分数1 = 仕分数1 + @c仕分数1,
					仕分数2 = 仕分数2 + @c仕分数2,
					仕分数3 = 仕分数3 + @c仕分数3,
					仕分数4 = 仕分数4 + @c仕分数4,
					仕分数5 = 仕分数5 + @c仕分数5,
					仕分数6 = 仕分数6 + @c仕分数6,
					仕分数7 = 仕分数7 + @c仕分数7,
					仕分数8 = 仕分数8 + @c仕分数8,
					仕分数9 = 仕分数9 + @c仕分数9,
					仕分数10 = 仕分数10 + @c仕分数10,
					仕分数11 = 仕分数11 + @c仕分数11,
					仕分数12 = 仕分数12 + @c仕分数12,
					仕分数13 = 仕分数13 + @c仕分数13,
					仕分数14 = 仕分数14 + @c仕分数14,
					仕分数15 = 仕分数15 + @c仕分数15,
					仕分数16 = 仕分数16 + @c仕分数16,
					仕分数17 = 仕分数17 + @c仕分数17,
					仕分数18 = 仕分数18 + @c仕分数18,
					仕分数19 = 仕分数19 + @c仕分数19,
					仕分数20 = 仕分数20 + @c仕分数20,
					仕分数21 = 仕分数21 + @c仕分数21,
					仕分数22 = 仕分数22 + @c仕分数22,
					仕分数23 = 仕分数23 + @c仕分数23,
					仕分数24 = 仕分数24 + @c仕分数24,
					仕分数25 = 仕分数25 + @c仕分数25,
					仕分数26 = 仕分数26 + @c仕分数26,
					仕分数27 = 仕分数27 + @c仕分数27,
					仕分数28 = 仕分数28 + @c仕分数28,
					仕分数29 = 仕分数29 + @c仕分数29,
					仕分数30 = 仕分数30 + @c仕分数30
				WHERE	SP区分 = @cSP区分
				AND		PC区分 = @cPC区分
				AND		製品NO = @c製品NO
				AND		仕様NO = @c仕様NO
				AND		ベース色 = @cベース色
				AND		W = @cW
				AND		D = @cD
				AND		H = @cH
				AND		D1 = @cD1
				AND		D2 = @cD2
				AND		H1 = @cH1
				AND		H2 = @cH2
		END

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

EXIT_SP:
	--PRINT 'EXIT_SP'
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END 
	RETURN @ST

GO
