/****** Object:  StoredProcedure [dbo].[usp_SD0500支払日計表_明細行抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SD0500支払日計表_明細行抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_SD0500支払日計表_明細行抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_SD0500支払日計表_明細行抽出

機能	支払データを抽出

引数	

戻り値	
*****************************************************
	2025/1/16	ootani		新設	
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_SD0500支払日計表_明細行抽出]
	(
		@is支払日付		DATETIME,
		@ie支払日付		DATETIME,
		@is仕入先CD		VARCHAR(4),
		@ie仕入先CD		VARCHAR(4),

		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--支払出力用データ作成
	------------------------------------------------------
    SELECT SD.支払番号, SD.枝番, SD.支払日付, SD.仕入先CD, SD.仕入先名1, SD.仕入先名2, SD.支払区分CD, SD.支払区分名, SD.支払種別, SD.支払金額, SD.手形期日, SD.手形番号, SD.摘要名, TN.担当者名 
	    FROM (
		    TD支払 AS SD 
	            LEFT JOIN TM仕入先 AS SI 
				    ON SD.仕入先CD = SI.仕入先CD) 
                LEFT JOIN TM担当者 AS TN 
				    ON SI.担当者CD = TN.担当者CD 
        WHERE   SD.支払日付 >= COALESCE(@is支払日付, SD.支払日付)
            AND SD.支払日付 <= COALESCE(@ie支払日付, SD.支払日付)
			AND SD.仕入先CD >= COALESCE(@is仕入先CD, SD.仕入先CD)
            AND SD.仕入先CD <= COALESCE(@ie仕入先CD, SD.仕入先CD)
    ORDER BY SD.仕入先CD,SD.支払日付,SD.支払番号,SD.枝番

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
