/****** Object:  StoredProcedure [dbo].[usp_HK0101売掛金集計表仕訳出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HK0101売掛金集計表仕訳出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_HK0101売掛金集計表仕訳出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_HK0101売掛金集計表仕訳出力

機能	指定された条件で売掛仕分テキストを作成する

引数	@iDATE		指定した日付(日が絶対1の日付）
	@isSEIID
	@ieSEIID

戻り値	


*****************************************************
	2014/05/28	oosawa		消費税率をマスタより取得に変更

*****************************************************/
CREATE PROCEDURE [dbo].[usp_HK0101売掛金集計表仕訳出力]
	@iDATE		DATETIME,
	@i開始得意先		VARCHAR(4),
	@i終了得意先		VARCHAR(4),
	@i仕訳日付			DATETIME,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE	@ST	INT,
		@MSG	VARCHAR(255)
	SET	@ST = 0
	SET	@MSG = ''
	
	-----------------------
	--消費税率取得
	-----------------------
	DECLARE @TAX	INT
	--税率取得
	SET	@TAX = dbo.fn_GetTax(@iDATE)	--2014/05/28 ADD
	

	SELECT	年 = YEAR(@i仕訳日付),月 = MONTH(@i仕訳日付),日 = DAY(@i仕訳日付),
			伝票番号 = NULL,
			借方金額 = CONVERT(INT,ISNULL(SK.売上金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0)),
			借方勘定科目CD = 131,
			借方勘定科目名 = NULL,
			借方消費税CD = 0,
			借方消費税率 = 0,
			借方業種 = NULL,
			借方補助科目CD = CONVERT(INT,SK.得意先CD),
			借方補助科目名 = NULL,
			借方部門CD = NULL,
			借方部門名 = NULL,
			貸方勘定科目CD = 810,
			貸方勘定科目名 = NULL,
			貸方消費税CD = 2,
			貸方消費税率 = @TAX,
			貸方業種 = NULL,
			貸方補助科目CD = NULL,
			貸方補助科目名 = NULL,
			貸方部門CD = NULL,
			貸方部門名 = NULL,
			貸方金額 = CONVERT(INT,ISNULL(SK.売上金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0)),
			摘要 = '',
			期日_年 = NULL,
			期日_月 = NULL,
			期日_日 = NULL,
			手形番号 = NULL
		FROM 	TM売掛金額 AS SK
		WHERE 	SK.売掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
		    AND	SK.得意先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始得意先),SK.得意先CD)
		    AND	SK.得意先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了得意先),SK.得意先CD)
		    AND	ISNULL(SK.売上金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0) <> 0
		ORDER	BY	SK.得意先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '売掛金集計表集計エラー'
		GOTO	EXIT_SP
	END

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST

GO
