USE [SanwaSDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_SK0300チーム別月ズレチェック表]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************
	
	月ズレチェック表

名称	usp_SK0300チーム別月ズレチェック表

機能	売上日付範囲の売上と仕入日付範囲の仕入の
		数量が同一でないデータを出力


引数

戻り値

修正履歴
	2017/05/29	新規作成　
	2017/06/14	oosawa		ゼロ売上があるため、金額<>0から
							数量<>0に変更
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SK0300チーム別月ズレチェック表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iSチームCD		SMALLINT,
	@iEチームCD		SMALLINT,

	----@RetDcnt 	INT				,
	----@RetST		INT				,
	----@RetMsg		VARCHAR(255)	

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

	--SET	@iS集計日付 = '2017-05-01'
	--SET @iE集計日付 = '2017-05-31'

	--ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			チームCD		SMALLINT		NOT NULL,
			見積番号		INT,
			売仕区分		INT,			--0:売上　1:仕入
			日付			DATETIME,
			見積件名		VARCHAR(60) DEFAULT(''),
			--得仕CD			VARCHAR(4) DEFAULT(''),
			--納入得意先CD	VARCHAR(4) DEFAULT(''),
			--納入先CD		VARCHAR(4) DEFAULT(''),
			
			--見積明細連番	INT,
			行番号			INT,
			SP区分			VARCHAR(1),
			PC区分			VARCHAR(1),
			製品NO			CHAR(7),
			仕様NO			CHAR(7),
			--ベース色 CHAR(7),
			漢字名称		VARCHAR(40),
			--W INT,
			--D INT,
			--H INT,
			--D1 INT,
			--D2 INT,
			--H1 INT,
			--H2 INT,
			仕入先CD		VARCHAR(4) DEFAULT(''),
			仕入数量		MONEY DEFAULT(0),
			売上数量		MONEY DEFAULT(0),
			仕入単価		MONEY DEFAULT(0),
			売上単価		MONEY DEFAULT(0),
			仕入金額		MONEY DEFAULT(0),
			売上金額		MONEY DEFAULT(0),
			
			仕入済FLG		VARCHAR(1) DEFAULT(0),
			売上済FLG		VARCHAR(1) DEFAULT(0),
			
			売登録変更日	DATETIME,
			仕登録変更日	DATETIME,

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		---------------------------
		--売上金額情報を更新
		---------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				SELECT	TM.チームCD,
						UH.見積番号, UH.売上日付, UM.伝票区分, UM.特別区分,
						MH.見積件名,
						--MH.得意先CD,MH.納入得意先CD,MH.納入先CD,
						MSM.行番号,
						
						UM.SP区分, UM.PC区分, UM.製品NO, UM.仕様NO, UM.ベース色,
						UM.漢字名称, UM.W, UM.D, UM.H, UM.D1, UM.D2, UM.H1, UM.H2, 
						UM.売上数量, UM.単位名, UM.売上単価, UM.売上金額,
						MSM.仕入先CD,
						UM.登録変更日
					FROM	TD売上v2 AS UH
						INNER JOIN TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
						INNER JOIN TD売上明細v2 AS UM
							ON UH.売上番号 = UM.売上番号
						LEFT JOIN TD見積シートM AS MSM
							ON UM.見積明細連番 = MSM.見積明細連番
						INNER JOIN TM得意先 AS TM
							ON MH.販売先得意先CD = TM.得意先CD
					WHERE	UH.売上日付 >= @iS集計日付
						AND UH.売上日付 <= @iE集計日付				--今年度
						AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						AND	NOT(UM.伝票区分 IN ('A','C','S'))
						AND UM.売上数量 <> 0
						--AND UM.売上金額 <> 0
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND A.見積番号 = B.見積番号
				AND A.行番号 = B.行番号
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上数量 = B.売上数量,
						A.売上単価 = B.売上単価,
						A.売上金額 = B.売上金額,
						A.売上済FLG = 1
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							見積番号,売仕区分,
							日付,
							見積件名,
							--得仕CD,
							--納入得意先CD,
							--納入先CD,
							行番号,
							SP区分,
							PC区分,
							製品NO,
							仕様NO,
							--ベース色,
							漢字名称,
							--W,D,H,D1,D2,H1,H2,
							売上数量,
							売上単価,
							売上金額,
							仕入先CD,

							売上済FLG,
							売登録変更日
						)
					VALUES
						(
							B.チームCD,
							B.見積番号,0,
							B.売上日付,
							B.見積件名,
							--B.得意先CD,
							--B.納入得意先CD,
							--B.納入先CD,
							B.行番号,
							B.SP区分,
							B.PC区分,
							B.製品NO,
							B.仕様NO,
							--B.ベース色,
							B.漢字名称,
							--B.W,B.D,B.H,B.D1,B.D2,B.H1,B.H2,
							B.売上数量,
							B.売上単価,
							B.売上金額,
							B.仕入先CD,

							1,
							B.登録変更日
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		---------------------------
		--仕入金額情報を更新
		---------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				SELECT	TM.チームCD,
						SM.見積番号, 仕入日付 = MAX(SM.仕入日付),
						MSM.行番号, 
						--仕入先CD = MAX(SM.仕入先CD), 配送先CD = MAX(SM.配送先CD),
						見積件名 = MAX(MH.見積件名),
						SP区分 = MAX(SMU.SP区分), PC区分 = MAX(SMU.PC区分),
						製品NO = MAX(SMU.製品NO), 仕様NO = MAX(SMU.仕様NO),
						漢字名称 = MAX(SMU.漢字名称), 
						--SMU.W, SMU.D, SMU.H, SMU.D1, SMU.D2, SMU.H1, SMU.H2,
						仕入数量 = SUM(SMU.仕入数量), 
						--SMU.単位名, 
						仕入単価 = MAX(SMU.仕入単価),
						仕入金額 = SUM(SMU.仕入金額),
						仕入先CD = MAX(SM.仕入先CD),
						登録変更日 = MAX(SMU.登録変更日)
					FROM	TD仕入明細 AS SM
						INNER JOIN TD見積 AS MH
							ON SM.見積番号 = MH.見積番号
						INNER JOIN TD仕入明細内訳 AS SMU
							ON SM.仕入番号 = SMU.仕入番号
						LEFT JOIN TD見積シートM AS MSM
							ON SMU.見積明細連番 = MSM.見積明細連番
						INNER JOIN	TM得意先 AS TM
							ON MH.販売先得意先CD = TM.得意先CD
					WHERE	SM.仕入日付 >= @iS集計日付
						AND SM.仕入日付 <= @iE集計日付				--今年度
						AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						AND	NOT(SMU.伝票区分 IN ('A','C','S'))
						AND SMU.仕入数量 <> 0
						--AND SMU.仕入金額 <> 0
						AND MH.社内伝票扱い = 0--社内伝でない
						AND NOT(MSM.行番号 IS NULL)--仕入直入力は売上対象にならないので省く
					GROUP BY	TM.チームCD,
								SM.見積番号, --SM.仕入日付,
								MSM.行番号
								--SM.仕入先CD, SM.配送先CD, --SMU.伝票区分, 
								--MH.見積件名,
								--SMU.SP区分, SMU.PC区分, SMU.製品NO, SMU.仕様NO, SMU.ベース色, 
								--SMU.漢字名称--,SMU.W, SMU.D, SMU.H, SMU.D1, SMU.D2, SMU.H1, SMU.H2
					--ORDER BY SM.見積番号,MSM.行番号
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND A.見積番号 = B.見積番号
				AND A.行番号 = B.行番号
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売仕区分 = 2,
						A.仕入数量 = B.仕入数量,
						A.仕入単価 = B.仕入単価,
						A.仕入金額 = B.仕入金額,
						A.仕入済FLG = 1
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							見積番号,売仕区分,
							行番号,
							日付,
							見積件名,
							--得仕CD,
							----納入得意先CD,
							--納入先CD,
							SP区分,
							PC区分,
							製品NO,
							仕様NO,
							--ベース色,
							漢字名称,
							--W,D,H,D1,D2,H1,H2,
							仕入数量,
							仕入単価,
							仕入金額,
							仕入先CD,

							仕入済FLG,
							仕登録変更日
						)
					VALUES
						(
							B.チームCD,
							B.見積番号,1,
							B.行番号,
							B.仕入日付,
							B.見積件名,
							--B.仕入先CD,
							--B.納入得意先CD,
							--B.配送先CD,
							B.SP区分,
							B.PC区分,
							B.製品NO,
							B.仕様NO,
							--B.ベース色,
							B.漢字名称,
							--B.W,B.D,B.H,B.D1,B.D2,B.H1,B.H2,
							B.仕入数量,
							B.仕入単価,
							B.仕入金額,
							B.仕入先CD,

							1,
							B.登録変更日
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	----------------------------------
	--集計値　抽出
	----------------------------------
	SELECT	*,
			SI.略称,
			Count = COUNT(TMP.チームCD) OVER (PARTITION BY TMP.チームCD)
		FROM #TMP_TOTAL AS TMP
			INNER JOIN TM仕入先 AS SI
				ON TMP.仕入先CD = SI.仕入先CD
			INNER JOIN TMチーム AS CM
				ON TMP.チームCD = CM.チームCD
		WHERE	--NOT(仕入済FLG = 売上済FLG)
				仕入数量 <> 売上数量
		ORDER BY CM.順序,TMP.チームCD,見積番号,行番号

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
