/****** Object:  StoredProcedure [dbo].[usp_TK1500チーム別在庫金額増減推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK1500チーム別在庫金額増減推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK1500チーム別在庫金額増減推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************
	
	売掛・買掛　集計

名称	usp_TK1500チーム別在庫金額増減推移表

機能	チーム毎の在庫金額の増減の推移を作成する


引数

戻り値

修正履歴
	2013/05/17	新規作成
	2013/11/04	oosawa		仕分番号の削除に伴う修正

	2014/07/21	oosawa		集計日付を「売上日付」「仕入日付」にする
	2014/09/24	oosawa		チーム別に集計
	2014/11/10	oosawa		新売上バージョン
							在庫金額算出も新バージョン
*****************************************************/
 CREATE PROCEDURE [dbo].[usp_TK1500チーム別在庫金額増減推移表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/12/31'

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)

	DECLARE	@FIELD_T	VARCHAR(8000)
	
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	---------------------------------------------------------------------------
	--今期在庫金額
	---------------------------------------------------------------------------
	--EXECUTE @ST = usp_チーム別在庫金額集計v2 @iS集計日付,@iE集計日付
	--									  ,@RetDcnt OUTPUT
	--									  ,@ST OUTPUT
	--									  ,@Msg OUTPUT

	--	IF @ST<>0 GOTO	EXIT_SP
	
	---------------------------------------------------------------------------
	--初期日付セット
	---------------------------------------------------------------------------
	SET	@wNENGETUCNT = @iS集計日付
	SET	@wCNT = 1

	SET @FIELD_T = ''
	WHILE	@iE集計日付 >= @wNENGETUCNT	BEGIN
		IF	@wCNT <> 1 BEGIN
			--
			SET @FIELD_T = @FIELD_T + ','
		END
		--担当者計分
		--SET	@FIELD_T = @FIELD_T + '社内仕入金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.社内仕入金額 ELSE 0 END),'
		--SET	@FIELD_T = @FIELD_T + '社内出し金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.社内出し金額 ELSE 0 END)'
		SET	@FIELD_T = @FIELD_T + '在庫増減金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN CZ.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN CZ.在庫増減金額 ELSE 0 END)'
		
		SET	@wNENGETUCNT = DATEADD(M,1,@WNENGETUCNT)
		SET @wCNT = @wCNT + 1
	END

	--チーム別在庫増減
	SET	@SQL = '
		SELECT	BS.順序, CM.順序,TN.部署CD,BS.部署名,
				チーム人数 = COUNT(TMP_TOTAL.チームCD) OVER(PARTITION BY TN.部署CD),
				CM.チーム名,
				TMP_TOTAL.*
			FROM (
					SELECT	CZ.チームCD,
							' + @FIELD_T + '
						FROM TMチーム在庫金額 AS CZ
						GROUP BY CZ.チームCD
					) AS TMP_TOTAL
				INNER JOIN TMチーム AS CM
					ON TMP_TOTAL.チームCD = CM.チームCD
				INNER JOIN TM担当者 AS TN
					ON CM.代表担当者CD = TN.担当者CD
				INNER JOIN TM部署 AS BS
					ON TN.部署CD = BS.部署CD
			--WHERE	TN.順序 <> 99
			ORDER BY BS.順序, CM.順序, TMP_TOTAL.チームCD
		'
	--SELECT @SQL
	EXEC (@SQL)

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
