/****** Object:  StoredProcedure [dbo].[usp_TK1900部署別チーム別売上仕入推移表_2X]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK1900部署別チーム別売上仕入推移表_2X]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK1900部署別チーム別売上仕入推移表_2X]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************
	
	売掛・買掛　集計

名称	usp_TK1900部署別チーム別売上仕入推移表

機能	チーム毎の売上金額と仕入金額の推移を作成する

		担当者 前年・今年 仕入・売上合計金額
		を出力
		
		※前年は固定
		※在庫も手入力

	営業分の集計仕様
		売上金額----仕入先:3016以外の売上を集計(仕入先なしは含む)
		仕入金額----得意先:3055以外の仕入を集計
		※営業側で3016の仕入は発生しない。
		
		売上金額----全て
		仕入金額----

	施工担当分の集計仕様
		XXXXXXX売上金額----仕入先:3016の売上を集計
		売上金額----仕入金額の1.05を集計
		仕入金額----得意先:3055の仕入を集計	
		※施工側で3055の売上は発生しない。


引数

戻り値

修正履歴
	2014/02/13	新規作成

	2014/07/21	oosawa		集計日付を「売上日付」「仕入日付」にする
	
	2014/08/08	oosawa		レイアウト変更にともなう修正
	2014/09/24	oosawa		チーム別に集計
	2014/11/10	oosawa		新売上バージョン
							在庫金額算出も新バージョン
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK1900部署別チーム別売上仕入推移表_2X]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,

	--@RetDcnt 	INT				,
	--@RetBScnt 	INT				,
	--@RetST		INT				,
	--@RetMsg		VARCHAR(255)	

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetBScnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT

AS
	SET NOCOUNT ON

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)

	DECLARE	@FIELD_T	VARCHAR(8000)
	
	DECLARE	@wRITU	MONEY
	SET @wRITU = 1.05
	
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2014/08/01'
--set @iE集計日付 = '2014/8/31'

----SET	@iS担当者CD = 1
----SET	@iE担当者CD = 10

	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			チームCD	INT		NOT NULL,
			年月		INT,
			--原価金額	MONEY	DEFAULT(0),
			仕入金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0),
			在庫増減金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--ヘッダー部　売上金額
	--担当者別年月別売上金額・仕入金額
	---------------------------
		INSERT	INTO #TMP_TOTAL
				(チームCD,年月,/*原価金額,*/売上金額)
				SELECT		
							--UH.担当者CD,
							TM.チームCD,
							年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
							--SUM(UU.仕入金額) AS 原価金額,
							--SUM(UM.売上金額-UM.消費税額) AS 税抜金額
							--内税の場合は消費税を引く
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
							
						FROM TD売上v2 AS UH  
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TM得意先 AS TM
								ON MH.得意先CD = TM.得意先CD
						--2014/07/21 ADD↓
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								)
							--AND	(MSM.仕入先CD IS NULL OR NOT(MSM.仕入先CD = '3016'))
						GROUP BY     TM.チームCD,CONVERT(CHAR(6),UH.売上日付,112)
						--2014/07/21 ADD↑

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--TMPに存在するデータの原価を更新
		UPDATE	#TMP_TOTAL
			SET #TMP_TOTAL.仕入金額 = SYU.原価額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	--SR.担当者CD,
								TM.チームCD,
								年月 = CONVERT(CHAR(6),SM.仕入日付,112),--2014/07/21 ADD
								--SUM(SMU.仕入金額-SMU.消費税額) AS 原価額
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SR.得意先CD = '3055'
													THEN
														--施工
														CASE WHEN SMU.仕入税区分 = 1 
															THEN (SMU.仕入金額-SMU.消費税額) * @wRITU
															ELSE SMU.仕入金額 * @wRITU 
														END
													ELSE
														--営業
														CASE WHEN SMU.仕入税区分 = 1 
															THEN (SMU.仕入金額-SMU.消費税額)
															ELSE SMU.仕入金額
														END
												END)
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
								INNER JOIN TD仕入明細内訳 AS SMU
									ON SM.仕入番号 = SMU.仕入番号
								LEFT JOIN TD見積シートM AS MSM
									ON SMU.見積明細連番 = MSM.見積明細連番 
								INNER JOIN TM得意先 AS TM
									ON SR.販売先得意先CD = TM.得意先CD
						--2014/07/21 ADD↓
							WHERE	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
							--AND	(MSM.仕入先CD IS NULL OR NOT(MSM.仕入先CD = '3016'))
							--AND NOT(SR.得意先CD = '3055')
						GROUP BY TM.チームCD, CONVERT(CHAR(6),SM.仕入日付,112)
						--2014/07/21 ADD↑
					) AS SYU
						ON	TMP.チームCD = SYU.チームCD
						AND	TMP.年月 = SYU.年月	

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--担当者原価額月間値
		INSERT	INTO #TMP_TOTAL
				(チームCD,年月,仕入金額)
			SELECT SYU.チームCD,SYU.年月,SYU.原価額
				FROM (
						SELECT	--SR.担当者CD,
								TM.チームCD,
								年月 = CONVERT(CHAR(6),SM.仕入日付,112),--2014/07/21 ADD
								--SUM(SMU.仕入金額-SMU.消費税額) AS 原価額
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SR.得意先CD = '3055'
													THEN
														--施工
														CASE WHEN SMU.仕入税区分 = 1 
															THEN (SMU.仕入金額-SMU.消費税額) * @wRITU
															ELSE SMU.仕入金額 * @wRITU 
														END
													ELSE
														--営業
														CASE WHEN SMU.仕入税区分 = 1 
															THEN (SMU.仕入金額-SMU.消費税額)
															ELSE SMU.仕入金額
														END
												END)
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
								INNER JOIN TD仕入明細内訳 AS SMU
									ON SM.仕入番号 = SMU.仕入番号
								LEFT JOIN TD見積シートM AS MSM
									ON SMU.見積明細連番 = MSM.見積明細連番 
								INNER JOIN TM得意先 AS TM
									ON SR.販売先得意先CD = TM.得意先CD
						--2014/07/21 ADD↓
							WHERE	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
							--AND	NOT(MSM.仕入先CD = '3016')
							--AND	(MSM.仕入先CD IS NULL OR NOT(MSM.仕入先CD = '3016'))
							--AND NOT(SR.得意先CD = '3055')
						GROUP BY TM.チームCD, CONVERT(CHAR(6),SM.仕入日付,112)
						--2014/07/21 ADD↑
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.チームCD
							AND	TMP.年月 = SYU.年月	
				WHERE	TMP.チームCD IS NULL
					AND	TMP.年月 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--------------------------------------------------------------------------------
--	施工担当分の集計
--	売上金額----仕入先:3016の売上を集計
--	仕入金額----得意先:3055の仕入を集計	


	---------------------------
	--ヘッダー部　売上金額
	--担当者別年月別売上金額・仕入金額
	---------------------------
		------INSERT	INTO #TMP_TOTAL
		------		(チームCD,年月,/*仕入金額,*/売上金額)
		------		SELECT		
		------					チームCD = 6,
		------					年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
		------					--SUM(UM.仕入金額) AS 原価金額,
		------					--SUM(UM.売上金額-UM.消費税額) AS 税抜金額
		------					--内税の場合は消費税を引く
		------					税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
							
		------				FROM TD売上v2 AS UH  
		------					INNER JOIN TD売上明細V2 AS UM
		------						ON UH.売上番号 = UM.売上番号
		------					LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
		------						ON UM.見積明細連番 = MSM.見積明細連番 
		------					INNER JOIN TD見積 AS MH
		------						ON UH.見積番号 = MH.見積番号
		------					INNER JOIN TM得意先 AS TM
		------						ON MH.得意先CD = TM.得意先CD
		------				--2014/07/21 ADD↓
		------				WHERE	(
		------							(UH.売上日付 >= @iS集計日付
		------								AND UH.売上日付 <= @iE集計日付)					--今年度
		------						OR 
		------							(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
		------								AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
		------						)
		------					AND	MSM.仕入先CD = '3016'
		------				GROUP BY     CONVERT(CHAR(6),UH.売上日付,112)
		------				--2014/07/21 ADD↑

		------SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--------TMPに存在するデータの原価を更新
		------UPDATE	#TMP_TOTAL
		------	SET #TMP_TOTAL.仕入金額 = SYU.原価額
		------	FROM	#TMP_TOTAL AS TMP
		------		INNER JOIN
		------			(
		------				SELECT
		------						チームCD = 6,
		------						年月 = CONVERT(CHAR(6),SM.仕入日付,112),--2014/07/21 ADD
		------						--SUM(SMU.仕入金額-SMU.消費税額) AS 原価額
		------						--内税の場合は消費税を引く
		------						原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
		------					FROM	TD仕入明細 AS SM 
		------						INNER JOIN TD仕入 AS SR
		------							ON SR.仕入番号 = SM.仕入番号
		------						INNER JOIN TD仕入明細内訳 AS SMU
		------							ON SM.仕入番号 = SMU.仕入番号
		------						LEFT JOIN TD見積シートM AS MSM
		------							ON SMU.見積明細連番 = MSM.見積明細連番 
		------						INNER JOIN TM得意先 AS TM
		------							ON SR.販売先得意先CD = TM.得意先CD
		------				--2014/07/21 ADD↓
		------					WHERE	(
		------								(SM.仕入日付 >= @iS集計日付
		------									AND SM.仕入日付 <= @iE集計日付)					--今年度
		------							OR 
		------								(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
		------									AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
		------							)
		------					--AND	(MSM.仕入先CD = '3016')
		------					AND (SR.得意先CD = '3055')
		------				GROUP BY	CONVERT(CHAR(6),SM.仕入日付,112)
		------				--2014/07/21 ADD↑
		------			) AS SYU
		------				ON	TMP.チームCD = SYU.チームCD
		------				AND	TMP.年月 = SYU.年月	

		------SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--担当者原価額月間値
		INSERT	INTO #TMP_TOTAL
				(チームCD,年月,売上金額,仕入金額)
			SELECT SYU.チームCD,SYU.年月,SYU.売上金額,SYU.原価額
				FROM (
						SELECT	--SR.担当者CD,
								チームCD = 6,
								年月 = CONVERT(CHAR(6),SM.仕入日付,112),--2014/07/21 ADD
								--SUM(SMU.仕入金額-SMU.消費税額) AS 原価額
								--内税の場合は消費税を引く
								売上金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 
													THEN (SMU.仕入金額-SMU.消費税額)*@wRITU
													ELSE SMU.仕入金額 * @wRITU
												 END),
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
							FROM	TD仕入明細 AS SM 
								INNER JOIN TD仕入 AS SR
									ON SR.仕入番号 = SM.仕入番号
								INNER JOIN TD仕入明細内訳 AS SMU
									ON SM.仕入番号 = SMU.仕入番号
								LEFT JOIN TD見積シートM AS MSM
									ON SMU.見積明細連番 = MSM.見積明細連番 
								INNER JOIN TM得意先 AS TM
									ON SR.販売先得意先CD = TM.得意先CD
						--2014/07/21 ADD↓
							WHERE	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									)
							--AND	(MSM.仕入先CD = '3016')
							AND (SR.得意先CD = '3055')
						GROUP BY	CONVERT(CHAR(6),SM.仕入日付,112)
						--2014/07/21 ADD↑
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.チームCD
							AND	TMP.年月 = SYU.年月	
				WHERE	TMP.チームCD IS NULL
					AND	TMP.年月 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--------------------------------------------------------------------------------





		--SELECT * FROM #TMP_TOTAL
		--		order by 担当者CD,年月
	--END ヘッダー部　売上金額----------------------------------------------------------------
	DECLARE	@WZS集計日付	DATETIME,
			@WZE集計日付	DATETIME
	SET @WZS集計日付 = DATEADD(YY,-1,@iS集計日付)
	SET @WZE集計日付 = DATEADD(YY,-1,@iE集計日付)

	------前期在庫金額
	--EXECUTE @ST = usp_チーム別在庫金額集計v2 @WZS集計日付,@WZE集計日付
	--									  ,@RetDcnt OUTPUT
	--									  ,@ST OUTPUT
	--									  ,@Msg OUTPUT

	--	IF @ST<>0 GOTO	EXIT_SP

	----今期在庫金額
	--EXECUTE @ST = usp_チーム別在庫金額集計v2 @iS集計日付,@iE集計日付
	--									  ,@RetDcnt OUTPUT
	--									  ,@ST OUTPUT
	--									  ,@Msg OUTPUT

	--	IF @ST<>0 GOTO	EXIT_SP

	UPDATE	#TMP_TOTAL
			SET 在庫増減金額 = TZ.在庫増減金額
		FROM TMチーム在庫金額 AS TZ
		WHERE	#TMP_TOTAL.年月 = TZ.年月
			AND	#TMP_TOTAL.チームCD = TZ.チームCD
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	

	--初期日付セット
	SET	@wNENGETUCNT = @iS集計日付
	SET	@wCNT = 1

	SET @FIELD_T = ''
	WHILE	@iE集計日付 >= @wNENGETUCNT	BEGIN
		IF	@wCNT <> 1 BEGIN
			--
			SET @FIELD_T = @FIELD_T + ','
		END
		--担当者計分
		--SET	@FIELD_T = @FIELD_T + 'Z原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'Z仕入金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.仕入金額-TMP.在庫増減金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'Z税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END),'
		--SET	@FIELD_T = @FIELD_T + 'K原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'K仕入金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.仕入金額-TMP.在庫増減金額 ELSE 0 END),'
		SET	@FIELD_T = @FIELD_T + 'K税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'
		
		SET	@wNENGETUCNT = DATEADD(M,1,@WNENGETUCNT)
		SET @wCNT = @wCNT + 1
	END

	--担当者別年月売上金額・仕入金額
	SET	@SQL = '
		SELECT	BS.順序, CM.順序,
				--チーム人数 = COUNT(TMP_TOTAL.チームCD) OVER(PARTITION BY TN.部署CD),
				CM.チーム名,
				TMP_TOTAL.*
			FROM (
					SELECT	TMP.チームCD,
							' + @FIELD_T + '
						FROM #TMP_TOTAL AS TMP
						GROUP BY TMP.チームCD
					) AS TMP_TOTAL
				INNER JOIN TMチーム AS CM
					ON TMP_TOTAL.チームCD = CM.チームCD
				INNER JOIN TM担当者 AS TN
					ON CM.代表担当者CD = TN.担当者CD
				INNER JOIN TM部署 AS BS
					ON TN.部署CD = BS.部署CD
			--WHERE	TN.順序 <> 99
			ORDER BY BS.順序, CM.順序, TMP_TOTAL.チームCD
		'
	--SELECT @SQL
	EXEC (@SQL)

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	----------部署件数を取得
	--------SELECT @RetBScnt = COUNT(DISTINCT TN.部署CD)
	--------	FROM #TMP_TOTAL
	--------			INNER JOIN TMチーム AS CM
	--------				ON #TMP_TOTAL.チームCD = CM.チームCD
	--------			INNER JOIN TM担当者 AS TN
	--------				ON CM.代表担当者CD = TN.担当者CD
	--------			INNER JOIN TM部署 AS BS
	--------				ON TN.部署CD = BS.部署CD
			
	--------		--INNER JOIN TM担当者 AS TN
	--------		--	ON #TMP_TOTAL.チームCD = TN.チームCD
	--------	--WHERE	TN.順序 <> 99
	
	
	--2014年の全体金額を出力
	SELECT * 
		FROM TM2014年全体金額
		WHERE	年月 >= SUBSTRING(CONVERT(VARCHAR(6),DATEADD(YY,-1,@iS集計日付),112),1,6)
			AND 年月 <= SUBSTRING(CONVERT(VARCHAR(6),DATEADD(YY,-1,@iE集計日付),112),1,6)
		ORDER BY	年月

	drop table #TMP_TOTAL

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
