/****** Object:  StoredProcedure [dbo].[usp_SH0100買掛金元帳H]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SH0100買掛金元帳H]
GO
/****** Object:  StoredProcedure [dbo].[usp_SH0100買掛金元帳H]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_SH0100買掛金元帳H

機能	指定された条件で仕入先元帳用ヘッダー部を作成する

引数	

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_SH0100買掛金元帳H]
	@is仕入先CD	VARCHAR(4) = NULL,
	@ie仕入先CD	VARCHAR(4) = NULL,
	@iDATE	DATETIME,
	@i締日		INT,
	@RetST	INT		OUTPUT,
	@RetMsg	NVARCHAR(256)	OUTPUT

AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--作業情報
	DECLARE	@w仕入先CD	VARCHAR(4)

	--引数変換
	IF @is仕入先CD > @ie仕入先CD BEGIN
		SET @w仕入先CD = @ie仕入先CD
		SET @ie仕入先CD = @is仕入先CD
		SET @is仕入先CD = @w仕入先CD
	END

	SELECT 	SK.仕入先CD, SK.支払日付, SK.支払開始日付,SK.支払終了日付,
			SM.仕入先名1, SM.仕入先名2, 郵便番号, 住所1, 住所2, 電話番号,
			SK.支払開始日付,SK.支払終了日付,
			SK.前月残高, SK.支払金額, SK.調整金額, SK.仕入金額, SK.返品金額, SK.訂正金額, SK.消費税額, 
			SK.当月残高 
		FROM 	TM支払金額 AS SK 	
		LEFT JOIN 
			(
			SELECT 	仕入先CD,仕入先名1, 仕入先名2, 郵便番号, 住所1, 住所2, 電話番号
				FROM 	TM仕入先 
			)  AS SM  
			ON 	SK.仕入先CD = SM.仕入先CD
		WHERE 	SK.支払日付 = @iDATE
		    AND 	SK.締日 = @i締日
		    AND 	SK.仕入先CD >= COALESCE(@is仕入先CD,SK.仕入先CD)
		    AND 	SK.仕入先CD <= COALESCE(@ie仕入先CD,SK.仕入先CD)
		    AND 	NOT	(前月残高 = 0
				AND	支払金額 = 0
				AND	調整金額 = 0
				AND	仕入金額 = 0
				AND	返品金額 = 0
				AND	訂正金額 = 0
				AND	消費税額 = 0
				AND	当月残高 = 0
				AND 	伝票枚数 = 0)
		ORDER BY 	SK.仕入先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
