/****** Object:  StoredProcedure [dbo].[usp_請求前残参照]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_請求前残参照]
GO
/****** Object:  StoredProcedure [dbo].[usp_請求前残参照]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_請求前残参照

機能	前回請求金額を求める

引数	@i得意先CD	検索対象の得意先ＩＤ
	@i請求日付	検索対象の請求日付(指定請求日)

戻り値	@o前月当残	検索された前回の当月残高
	@o前月終了日付	検索された前回の請求終了日付

*****************************************************/
CREATE PROCEDURE [dbo].[usp_請求前残参照]
	(
		@i得意先CD	VARCHAR(4),
		@i請求日付	DATETIME,
		@o前月当残	MONEY	OUTPUT,
		@o前月終了日付	DATETIME	OUTPUT
	)
 AS

	SET NOCOUNT ON

	DECLARE	@ST			INT,
			@MSG			VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	--当月残高・請求終了日付の取得
	--------------------------------------------------
	SELECT	@o前月当残 = COALESCE(SK.当月残高,TK.導入請求金額,0),
			@o前月終了日付 = COALESCE(DATEADD(DAY,1,請求終了日付),@i請求日付)
		FROM (SELECT * FROM TM得意先 WHERE 得意先CD = @i得意先CD) AS TK 
			LEFT JOIN (SELECT  MAE.得意先CD,請求終了日付,当月残高
					FROM TM請求金額 AS MAE
					WHERE 請求日付 = (SELECT MAX(請求日付) AS 請求日付
									FROM TM請求金額
									WHERE 請求日付 < @i請求日付
									AND 得意先CD = MAE.得意先CD)
				) AS SK
				ON TK.得意先CD = SK.得意先CD

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('得意先CD:%s 請求金額情報でエラーが発生しました。 ', 16, 1,@i得意先CD)
		GOTO	EXIT_SP
	END

EXIT_SP:
-- 	IF (@ST = 0)	BEGIN
-- 		SET @RetST = @ST
-- 		SET @RetMSG = @MSG
-- 	END ELSE BEGIN
-- 		SET @RetST = @ST
-- 		SET @RetMSG = @MSG
-- 	END 
	RETURN @ST
GO
