/****** Object:  StoredProcedure [dbo].[旧_usp_MT0110社内在庫履歴表示]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[旧_usp_MT0110社内在庫履歴表示]
GO
/****** Object:  StoredProcedure [dbo].[旧_usp_MT0110社内在庫履歴表示]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_MT0110社内在庫履歴表示

機能	指定された条件でデータを抽出する

引数	

戻り値	

UPDATE
	2009/08/17	新規作成

*****************************************************
	2009/10/01	oosawa		棚卸日のNULLチェック追加
						得意先'9999'は受注・売上にのせない。
*****************************************************/
CREATE PROCEDURE [dbo].[旧_usp_MT0110社内在庫履歴表示]
	(
		@i指定日付		DATETIME,
		@i担当者CD 		SMALLINT,
		@i製品NO 		CHAR(7),
		@i仕様NO 		CHAR(7),
		-- OUTPUT
		@RetST	INT			OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	


	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME,
			@wk棚卸数 		MONEY,
			@wk予備在庫数 	MONEY
	
		

	--------------
	--担当者ごと予備在庫数
	--------------
	SELECT 	@wk予備在庫数 = 予備在庫数 
		FROM 	
			TM社内在庫_担当者別
		WHERE 	
				担当者CD = @i担当者CD
			AND 	製品NO = @i製品NO
			AND 	仕様NO = @i仕様NO

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別社内在庫
		WHERE 	
				担当者CD = @i担当者CD
			AND 	製品NO = @i製品NO
			AND 	仕様NO = @i仕様NO
		GROUP BY 	
			担当者CD, 製品NO, 仕様NO
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------
	--指定日＜棚卸日はデータなし
	--------------
	IF @wk棚卸日付 IS NULL BEGIN		--2009/09/01 ADD
		--0件のデータを返す
		SELECT	0 WHERE 0<>0

		GOTO	EXIT_SP
	END

	IF @i指定日付 < @wk棚卸日付 BEGIN
		--0件のデータを返す
		SELECT	0 WHERE 0<>0

		GOTO	EXIT_SP
	END


	--------------
	--棚卸数
	--------------
	SELECT 	@wk棚卸数 = 棚卸数
		FROM 	
			TD棚卸_担当者別社内在庫
		WHERE 	
				担当者CD = @i担当者CD
			AND 	製品NO = @i製品NO
			AND 	仕様NO = @i仕様NO
			AND 	棚卸日付 = @wk棚卸日付

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


--------------------------------------------------
--各数値集計ＳＱＬ
--------------------------------------------------
	SELECT 	区分, 日付, 見積番号, 行番号, 見積件名, 数量
		INTO
			#wk_tmp
		FROM
			(
			----------------
			-- 受注数
			----------------
			SELECT 	1 AS 区分, 
					MT.売上納期 AS 日付, 
					MT.見積番号, MSM.行番号, MT.見積件名,
					MSM.見積数量 AS 数量
				FROM 		
					TD見積 AS MT
				LEFT 	JOIN 	
					TD見積シートM AS MSM 
					ON 	MT.見積番号 = MSM.見積番号
				WHERE 	
						MT.見積区分	= 1
					AND	MT.売上日付	IS NULL
					AND 	MT.売上納期	>= @wk棚卸日付
					AND 	MT.売上納期 <= @i指定日付
			    		AND 	MT.担当者CD = @i担当者CD
					AND 	MSM.製品NO = @i製品NO
					AND 	MSM.仕様NO = @i仕様NO
					AND	MT.得意先CD <> '9999'		--2009/10/01 ADD
			) AS JU
	
		UNION ALL
	
			----------------
			-- 発注数
			----------------
				SELECT
					2 AS 区分,
					HH.納期,
					MT.見積番号, HM.行番号, MT.見積件名,
					HM.発注数量 AS 発注数 
				FROM 		
					TD見積 AS MT
				INNER JOIN  	
					TD発注 AS HH
					ON 	MT.見積番号 = HH.見積番号
				INNER JOIN 	
					TD発注明細 AS HM 
					ON 	HH.発注番号 = HM.発注番号 
					AND 	HH.仕入先CD = HM.仕入先CD
					AND 	HH.配送先CD = HM.配送先CD
					AND 	HH.仕分番号 = HM.仕分番号
				WHERE 	
						MT.見積区分	= 1
					AND	MT.仕入日付	IS NULL
					AND 	HH.納期 >= @wk棚卸日付
					AND 	HH.納期 <= @i指定日付
					AND 	HH.担当者CD = @i担当者CD
					AND 	HM.製品NO = @i製品NO
					AND 	HM.仕様NO = @i仕様NO

		UNION ALL

			----------------
			-- 売上数
			----------------
			SELECT 	3 AS 区分,
					UR.売上日付, 
					UR.売上番号, URU.売上行番号, UR.見積件名,
					(URU.売上数量) AS 売上数 
				FROM 		
					TD売上 AS UR
				LEFT 	JOIN 	
					TD売上明細内訳 AS URU 
					ON 	UR.売上番号 = URU.売上番号
				WHERE 	
						UR.売上日付 >= @wk棚卸日付
					AND 	UR.売上日付 <= @i指定日付
					AND 	UR.担当者CD = @i担当者CD
					AND 	URU.製品NO = @i製品NO
					AND 	URU.仕様NO = @i仕様NO
					AND	UR.得意先CD <> '9999'		--2009/10/01 ADD

		UNION ALL

			----------------
			-- 仕入数
			----------------
			SELECT 	4 AS 区分,
					SRM.仕入日付,
					SR.見積番号, SRU.見積行番号,SR.見積件名,
--					SR.仕入番号, SRU.仕入明細行番号, SR.見積件名,
					(SRU.仕入数量) AS 仕入数 
				FROM 
					TD仕入明細内訳 AS SRU
				INNER JOIN 	
					TD仕入 AS SR 
					ON 	SR.仕入番号 = SRU.仕入番号 
				INNER JOIN 
					TD仕入明細 AS SRM 
					ON 	SRU.仕入番号 = SRM.仕入番号 
					AND 	SRU.仕入先CD = SRM.仕入先CD
					AND 	SRU.配送先CD = SRM.配送先CD
					AND 	SRU.仕分番号 = SRM.仕分番号
				WHERE 	
						SRM.仕入日付 >= @wk棚卸日付
					AND 	SRM.仕入日付 <= @i指定日付
					AND 	SR.担当者CD = @i担当者CD
					AND 	SRU.製品NO = @i製品NO
					AND 	SRU.仕様NO = @i仕様NO

		UNION ALL
			----------------
			-- 移動受け数（プラス）
			----------------
			SELECT 	5 AS 区分,
					SZH.社内在庫移動日付,
					SZH.社内在庫移動連番, SZM.枝番, '',
					(SZM.数量) AS 移動受け数
				FROM 
					TD社内在庫移動 AS SZH
				INNER JOIN
					TD社内在庫移動明細 AS SZM 
					ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
				WHERE 
						SZH.社内在庫移動日付 >= @wk棚卸日付
					AND 	SZH.社内在庫移動日付 <= @i指定日付
					AND 	SZH.社内在庫移動先担当者CD = @i担当者CD
					AND 	SZM.製品NO = @i製品NO
					AND 	SZM.仕様NO = @i仕様NO

		UNION ALL
			----------------
			-- 移動渡し数（マイナス）
			----------------
			SELECT 	6 AS 区分,
					SZH.社内在庫移動日付,
					SZH.社内在庫移動連番, SZM.枝番, '',
					(SZM.数量)*-1 AS 移動渡し数
				FROM 	
					TD社内在庫移動 AS SZH
				INNER JOIN
					TD社内在庫移動明細 AS SZM 
					ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
				WHERE 
						SZH.社内在庫移動日付 >= @wk棚卸日付
					AND 	SZH.社内在庫移動日付 <= @i指定日付
					AND 	SZH.社内在庫移動元担当者CD = @i担当者CD
					AND 	SZM.製品NO = @i製品NO
					AND 	SZM.仕様NO = @i仕様NO

		ORDER BY 	日付

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



--------------------------------------
--抽出
--------------------------------------
	SELECT 	DATA区分, 日付, 
			見積番号, 行番号, 見積件名,
			残数, 受注数, 発注数, 仕入数, 売上数,移動数
		FROM
			(
			----------------
			-- 残数
			----------------
			SELECT 	0 AS DATA区分, 
					@wk棚卸日付 AS 日付, 
					'' AS 見積番号, '' AS 行番号, '' AS 見積件名,
					@wk棚卸数 - @wk予備在庫数 AS 残数,
					0 AS 受注数,
					0 AS 発注数,
					0 AS 仕入数,
					0 AS 売上数,
					0 AS 移動数
			) AS D1

		UNION ALL
	
			----------------
			-- 履歴
			----------------
			SELECT 	区分 AS DATA区分,
					日付, 
					見積番号, 行番号, 見積件名,
					0,
					受注数 = (CASE WHEN 区分 = 1 THEN 数量 ELSE 0 END),
					発注数 = (CASE WHEN 区分 = 2 THEN 数量 ELSE 0 END),
					仕入数 = (CASE WHEN 区分 = 4 THEN 数量 ELSE 0 END),
					売上数 = (CASE WHEN 区分 = 3 THEN 数量 ELSE 0 END),
					移動数 = (CASE WHEN 区分 = 5 OR 区分 = 6 THEN 数量 ELSE 0 END)
			 	FROM
					#wk_tmp

		ORDER BY 	日付,DATA区分, 見積番号, 行番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--drop table #wk_tmp



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
