/****** Object:  StoredProcedure [dbo].[usp_チーム別在庫金額集計v2]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_チーム別在庫金額集計v2]
GO
/****** Object:  StoredProcedure [dbo].[usp_チーム別在庫金額集計v2]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************
	
	売掛・買掛　集計

名称	usp_チーム別在庫金額集計v2

機能	チーム毎の在庫金額の増減の推移を作成する

		同月の売上全てと仕入全てで在庫金額を算出する

引数

戻り値

修正履歴
	2013/05/17	新規作成
	2013/11/04	oosawa		仕分番号の削除に伴う修正

	2014/07/21	oosawa		集計日付を「売上日付」「仕入日付」にする
	
	2014/09/25	oosawa		チーム単位で在庫金額を出力
	
	2014/11/11	oosawa		新売上バージョン
	
	2015/02/19	oosawa		在庫管理区分のNULLは在庫管理しない
	
--	※作業に関して棚卸しの対象としない。
*****************************************************/
CREATE PROCEDURE [dbo].[usp_チーム別在庫金額集計v2]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)

	DECLARE	@FIELD_T	VARCHAR(8000)
	
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	--担当者別在庫増減金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL_Z
		(
			チームCD		INT		NOT NULL,
			年月			INT,

			全仕入金額		MONEY	DEFAULT(0),
			全売上原価金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



	-------------------------------------------------
	--売上原価金額
	-------------------------------------------------
	INSERT	INTO #TMP_TOTAL_Z
			(チームCD,年月,/*原価金額,*/全売上原価金額)
		SELECT	
				TM.チームCD,
				年月 = CONVERT(CHAR(6),UH.売上日付,112),
				売上原価金額 = SUM(UM.仕入金額)
			FROM TD売上v2 AS UH  
				INNER JOIN TD売上明細V2 AS UM
					ON UH.売上番号 = UM.売上番号 
				INNER JOIN TD見積シートM AS MS
					ON UM.見積明細連番 = MS.見積明細連番
				LEFT JOIN TM製品 AS SE
					ON MS.製品NO = SE.製品NO
					AND MS.仕様NO = SE.仕様NO
				INNER JOIN TD見積 AS MH
					ON UH.見積番号 = MH.見積番号
				INNER JOIN TM得意先 AS TM
					ON MH.得意先CD = TM.得意先CD
			WHERE	UH.売上日付 >= @iS集計日付
				AND UH.売上日付 <= @iE集計日付					--今年度
				AND ISNULL(SE.在庫区分,1) = 0								--在庫管理する
			GROUP BY     TM.チームCD,CONVERT(CHAR(6),UH.売上日付,112)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	-------------------------------------------------
	--仕入金額
	-------------------------------------------------
	--TMPに存在するデータの原価を更新
	UPDATE	#TMP_TOTAL_Z
		SET #TMP_TOTAL_Z.全仕入金額 = SYU.原価額
		FROM	#TMP_TOTAL_Z AS TMP
			INNER JOIN
				(
					SELECT	TK.チームCD,
							年月 = CONVERT(CHAR(6),SM.仕入日付,112),
							--SUM(SM.税抜金額) AS 原価額
							--SUM(SMU.仕入金額-SMU.消費税額) AS 原価額
							--内税の場合は消費税を引く
							原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM 
							INNER JOIN TD仕入 AS SR
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN	TD見積 AS MH
								ON SR.見積番号 = MH.見積番号
							INNER JOIN	TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
							LEFT JOIN TM製品 AS SE
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
						WHERE	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付					--今年度
							AND ISNULL(SE.在庫区分,1) = 0								--在庫管理する
						GROUP BY TK.チームCD, CONVERT(CHAR(6),SM.仕入日付,112)
				) AS SYU
				ON	TMP.チームCD = SYU.チームCD
				AND	TMP.年月 = SYU.年月	

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	-------------------------------------------------
	--仕入金額
	-------------------------------------------------
	--TMPに存在しない分の追加
	INSERT	INTO #TMP_TOTAL_Z
			(チームCD,年月,全仕入金額)
		SELECT SYU.チームCD,SYU.年月,SYU.原価額
			FROM (
					SELECT	TK.チームCD,
							年月 = CONVERT(CHAR(6),SM.仕入日付,112),
							--SUM(SM.税抜金額) AS 原価額
							--SUM(SMU.仕入金額-SMU.消費税額) AS 原価額
							--内税の場合は消費税を引く
							原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM 
							INNER JOIN TD仕入 AS SR
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN	TD見積 AS MH
								ON SR.見積番号 = MH.見積番号
							INNER JOIN	TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
							LEFT JOIN TM製品 AS SE
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
						WHERE	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付					--今年度
							AND ISNULL(SE.在庫区分,1) = 0								--在庫管理する
						GROUP BY TK.チームCD, CONVERT(CHAR(6),SM.仕入日付,112)
				) AS SYU
				LEFT JOIN #TMP_TOTAL_Z AS TMP
						ON	TMP.チームCD = SYU.チームCD
						AND	TMP.年月 = SYU.年月	
			WHERE	TMP.チームCD IS NULL
				AND	TMP.年月 IS NULL

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--END ヘッダー部　売上金額----------------------------------------------------------------

	--在庫金額削除
	DELETE FROM TMチーム在庫金額
			WHERE
					年月 >= CONVERT(CHAR(6),@iS集計日付,112)
				AND 年月 <= CONVERT(CHAR(6),@iE集計日付,112)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--在庫金額登録
	INSERT	INTO	TMチーム在庫金額
			(年月,チームCD,在庫増減金額)
		SELECT	TMP.年月,TMP.チームCD,
				SUM(TMP.全仕入金額 - TMP.全売上原価金額)
			FROM #TMP_TOTAL_Z AS TMP
			GROUP BY	TMP.年月,TMP.チームCD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--SELECT * FROM #TMP_TOTAL_Z

	drop table #TMP_TOTAL_Z

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
