/****** Object:  StoredProcedure [dbo].[usp_TN2800しまむら消耗品受注リスト]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2800しまむら消耗品受注リスト]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2800しまむら消耗品受注リスト]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN2800しまむら消耗品受注リスト
	

	機能:	
		しまむら消耗品の出荷リストを作成する

 =============================================
	2018/09/04	oosawa	新規作成
	2018/10/11	oosawa	センターコードの並びはなし
	2019/01/23	oosawa	センターコードでの集計なし
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TN2800しまむら消耗品受注リスト]
	(
	@i取込日		DATETIME,
	@iS納品日		DATETIME,
	@iE納品日		DATETIME,
	@iS業態CD		VARCHAR(2),
	@iE業態CD		VARCHAR(2),

	--OUTPUT
	@RetDcnt 		INT				OUTPUT,
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		--@TRAN		INT,
		@ST			INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------
	-- 出荷情報
	--------------------------------------------
	SELECT	SYU.取込日, --SYU.配送センターコード,
			配送センターコード='',--2019/01/23 ADD
			SYU.業態コード,SYU.単品コード,
			SH.入出庫用CD,TB.棚番名,SYU.商品名,SYU.総数量
		FROM (
				SELECT	SSJ.取込日,
						--SSJ.配送センターコード,--2019/01/23 DEL
						SSJ.業態コード,
						SSJ.単品コード,
						商品名 = MAX(SSJ.商品名),
						総数量 = SUM(SSJ.発注総数量)
						
					FROM	TDしまむら消耗品受注 AS SSJ
					WHERE	
							SSJ.取込日 = COALESCE(@i取込日,SSJ.取込日)
						AND	SSJ.伝票日付 >= COALESCE(@iS納品日,SSJ.伝票日付)
						AND	SSJ.伝票日付 <= COALESCE(@iE納品日,SSJ.伝票日付)
						AND SSJ.業態コード >= COALESCE(@iS業態CD,SSJ.業態コード)
						AND	SSJ.業態コード <= COALESCE(@iE業態CD,SSJ.業態コード)
					--GROUP BY	SSJ.取込日,SSJ.業態コード,SSJ.配送センターコード,SSJ.単品コード
					GROUP BY	SSJ.取込日,SSJ.業態コード,SSJ.単品コード--2019/01/23 ADD
				) AS SYU
				LEFT JOIN TM製品 AS SH
					ON SYU.単品コード = SH.製品NO
					AND 'S' = SH.仕様NO
				LEFT JOIN(
							SELECT * FROM  TM棚番
								WHERE 行NO = 1
					) AS TB
					ON SH.製品NO = TB.製品NO
					AND SH.仕様NO = TB.仕様NO

		--ORDER BY	SYU.取込日,SYU.業態コード, SYU.配送センターコード,SYU.単品コード
		ORDER BY	SYU.取込日,SYU.業態コード, SYU.単品コード--2018/10/11 ADD

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
