/****** Object:  StoredProcedure [dbo].[usp_TN0500チーム別社内在庫棚卸数抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0500チーム別社内在庫棚卸数抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0500チーム別社内在庫棚卸数抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN0500チーム別社内在庫棚卸数抽出
	

	機能:	
		棚卸情報を作成する。
		棚卸日付の前の日までが集計対象

		２回目以降は１回目の情報を使用する。
		
	※　前回棚卸日を含む日付から
	　　指定日付-1日までの範囲で棚卸数を集計する。
 =============================================
	2015/09/18	oosawa	新規作成
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TN0500チーム別社内在庫棚卸数抽出]
	(
	@i棚卸日付		DATETIME,--末日が入る
	@iチームCD		INT,
	@i得意先CD		VARCHAR(4),

	@oMODE			VARCHAR(10)		OUTPUT,--登録・修正
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	DECLARE	@w期首日付		DATETIME

	DECLARE	@w前回棚卸日付	DATETIME,
			@w開始日付		DATETIME

	--棚卸ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			棚卸日付		DATETIME,
			チームCD		INT		NOT NULL,
			得意先CD		VARCHAR(4),
			枝番			INT	DEFAULT(0),
			製品NO			CHAR(12),
			仕様NO			CHAR(10),
			--仕入先CD		VARCHAR(4),
			--仕入端数		SMALLINT,
			--消費税端数		SMALLINT,

			--棚Dの単価、なければ他のD情報を付加？
			--棚卸単価		MONEY	DEFAULT(0),
			
			前回棚卸数		MONEY	DEFAULT(0),
			売上合計数		MONEY	DEFAULT(0),
			仕入合計数		MONEY	DEFAULT(0),
			出庫合計数		MONEY	DEFAULT(0),
			入庫合計数		MONEY	DEFAULT(0),
			移動出庫合計数	MONEY	DEFAULT(0),
			移動入庫合計数	MONEY	DEFAULT(0)
			--今回棚卸数		MONEY	DEFAULT(0),

			----前回棚卸金額	MONEY	DEFAULT(0),						
			----売上合計金額	MONEY	DEFAULT(0),
			----仕入合計金額	MONEY	DEFAULT(0),
			----出庫合計金額	MONEY	DEFAULT(0),
			----入庫合計金額	MONEY	DEFAULT(0),
			----移動出庫合計金額	MONEY	DEFAULT(0),
			----移動入庫合計金額	MONEY	DEFAULT(0),
			
			--今回棚卸数×棚卸単価で算出
			--今回棚卸金額	MONEY	DEFAULT(0),
			--仕入税区分		SMALLINT	DEFAULT(0),
			--消費税額		MONEY	DEFAULT(0)

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	--棚卸データの抽出判断
	--------------------------------------------------
		--------------------------------------------------
		--前回棚卸日付取得
		--------------------------------------------------
		SELECT TOP 1 @w前回棚卸日付 = 棚卸日付
			FROM TD棚卸_チーム別社内在庫 (NOLOCK)
				WHERE	チームCD = @iチームCD
					AND	得意先CD = @i得意先CD
 					AND	棚卸日付 < @i棚卸日付
				ORDER BY 棚卸日付 DESC
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--------------------------------------------------
		--抽出日付範囲の算出
		--------------------------------------------------
		IF ISNULL(@w前回棚卸日付,0) = 0 BEGIN
			--棚卸を一回も行っていない場合
			--入力した棚卸日の一か月前 例）2015/8/31→2015/8/1
			SET @w開始日付 = DATEADD(MONTH,-1,DATEADD(DAY,1,@i棚卸日付))
			--前回棚卸日がNULLなので仮に開始日を入力しておく
			SET @w前回棚卸日付 = @w開始日付
		END ELSE BEGIN
			--前回棚卸日の１日後 例）2015/7/30→2015/8/1
			SET @w開始日付 = DATEADD(DAY,1,@w前回棚卸日付)
		END

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--同一の棚卸日付とチームCDの場合、
--	棚卸Ｄより出力？
	IF	EXISTS(SELECT チームCD,棚卸日付
					FROM TD棚卸_チーム別社内在庫
					WHERE	チームCD = @iチームCD
						AND	得意先CD = @i得意先CD
						AND	棚卸日付 = @i棚卸日付) BEGIN
			
		-------------------------------------------------
		--修正
		-------------------------------------------------
		SELECT	TS.棚卸番号,
				TS.棚卸日付,
				TS.チームCD,
				TS.得意先CD,
				TSM.棚卸明細連番,
				TSM.枝番,
				TSM.製品NO, TSM.仕様NO, 
				SE.漢字名称,
				SE.W,SE.D,SE.H,
				--TSM.仕入先CD, TSM.仕入端数, TSM.消費税端数, 
				TSM.算出数量, 
				TSM.棚卸数量,
				TSM.棚卸単価, TSM.棚卸金額,
				TSM.仕入税区分,
				TSM.消費税額,
				TSM.明細備考
			FROM	TD棚卸_チーム別社内在庫 AS TS
				INNER JOIN TD棚卸明細_チーム別社内在庫 AS TSM
					ON TS.棚卸番号 = TSM.棚卸番号
				LEFT JOIN TM製品 AS SE(NOLOCK)
					ON TSM.製品NO = SE.製品NO
					AND TSM.仕様NO = SE.仕様NO
			WHERE	TS.チームCD = @iチームCD
				AND	得意先CD = @i得意先CD
				AND	TS.棚卸日付 = @i棚卸日付
			ORDER BY	TSM.枝番, TSM.製品NO, TSM.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		SET	@oMODE = '修正'
	END ELSE BEGIN
		-------------------------------------------------
		--新規　集計
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
				(
					棚卸日付,
					チームCD,
					得意先CD,
					製品NO,仕様NO,
					--仕入先CD,
					--現在庫数,
					--棚卸数
					前回棚卸数
				)
			SELECT	
					@i棚卸日付,
					TS.チームCD,
					TS.得意先CD,
					TSM.製品NO,TSM.仕様NO,
					TSM.棚卸数量
				FROM TD棚卸_チーム別社内在庫 AS TS(NOLOCK)
					INNER JOIN TD棚卸明細_チーム別社内在庫 AS TSM(NOLOCK)
						ON TS.棚卸番号 = TSM.棚卸番号	
				WHERE	TS.チームCD = @iチームCD
					AND	TS.得意先CD = @i得意先CD
					AND	TS.棚卸日付 = @w前回棚卸日付

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		-------------------------------------------------
		--売上
		-------------------------------------------------
		UPDATE	#TMP_TOTAL
			--SET #TMP_TOTAL.現在庫数 = TMP.現在庫数 - SYU.売上数量
			SET	#TMP_TOTAL.売上合計数 = SYU.売上数量
				--#TMP_TOTAL.売上合計金額 = SYU.売上原価金額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
					SELECT	
							TK.チームCD,
							MH.得意先CD,
							UM.製品NO,
							UM.仕様NO,
							売上数量 = SUM(UM.売上数量),
							売上原価金額 = SUM(UM.仕入金額)
						FROM TD売上v2 AS UH(NOLOCK)
							INNER JOIN TD売上明細V2 AS UM(NOLOCK)
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD見積シートM AS MS(NOLOCK)
								ON UM.見積明細連番 = MS.見積明細連番
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON MS.製品NO = SE.製品NO
								AND MS.仕様NO = SE.仕様NO
							INNER JOIN TD見積 AS MH(NOLOCK)
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON MH.得意先CD = TK.得意先CD
						WHERE	UH.売上日付 >= @w開始日付
							AND UH.売上日付 <= @i棚卸日付
							AND	TK.チームCD = @iチームCD
							AND	MH.得意先CD = @i得意先CD
							AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							
							--AND EXISTS (SELECT MAX(棚卸日付) AS 直近棚卸日付, チームCD, 製品NO, 仕様NO
							--			FROM	TD棚卸_チーム別社内在庫 AS TS
							--			WHERE	チームCD = @iチームCD
							--				AND	棚卸日付 < @i棚卸日付 
							--			GROUP BY	チームCD, 製品NO, 仕様NO
							--			HAVING UH.売上日付 >= MAX(棚卸日付)
							--				AND TM.チームCD = TS.チームCD
							--				AND UM.製品NO = TS.製品NO
							--				AND UM.仕様NO = TS.仕様NO
							--	)

						GROUP BY TK.チームCD,MH.得意先CD,UM.製品NO,UM.仕様NO
				) AS SYU
				ON	TMP.チームCD = SYU.チームCD
				AND TMP.得意先CD = SYU.得意先CD
				AND	TMP.製品NO = SYU.製品NO
				AND	TMP.仕様NO = SYU.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		-------------------------------------------------
		--売上　存在しない製品追加
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
					(
						棚卸日付,
						チームCD,
						得意先CD,
						製品NO,仕様NO,
						--現在庫数,
						--棚卸数
						売上合計数
						--売上合計金額
					)
				SELECT	
						SYU.棚卸日付,
						SYU.チームCD,
						SYU.得意先CD,
						SYU.製品NO,SYU.仕様NO,
						SYU.売上数量
						--SYU.売上原価金額
					FROM (
						SELECT	
								棚卸日付 = @i棚卸日付,
								TK.チームCD,
								MH.得意先CD,
								UM.製品NO,
								UM.仕様NO,
								売上数量 = SUM(UM.売上数量)
								--売上原価金額 = SUM(UM.仕入金額)
							FROM TD売上v2 AS UH(NOLOCK)
								INNER JOIN TD売上明細V2 AS UM(NOLOCK)
									ON UH.売上番号 = UM.売上番号 
								INNER JOIN TD見積シートM AS MS(NOLOCK)
									ON UM.見積明細連番 = MS.見積明細連番
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON MS.製品NO = SE.製品NO
									AND MS.仕様NO = SE.仕様NO
								INNER JOIN TD見積 AS MH(NOLOCK)
									ON UH.見積番号 = MH.見積番号
								INNER JOIN TM得意先 AS TK(NOLOCK)
									ON MH.得意先CD = TK.得意先CD
							WHERE	UH.売上日付 >= @w開始日付
								AND UH.売上日付 <= @i棚卸日付
								AND	TK.チームCD = @iチームCD
								AND	MH.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY TK.チームCD,MH.得意先CD,UM.製品NO,UM.仕様NO
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.チームCD
							AND TMP.得意先CD = SYU.得意先CD
							AND	TMP.製品NO = SYU.製品NO
							AND	TMP.仕様NO = SYU.仕様NO
				WHERE	TMP.チームCD IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		-------------------------------------------------
		--仕入
		-------------------------------------------------
		--TMPに存在するデータの原価を更新
		UPDATE	#TMP_TOTAL
			SET	#TMP_TOTAL.仕入合計数 = SYU.仕入数量
				--#TMP_TOTAL.仕入合計金額 = SYU.原価額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	TK.チームCD,
								MH.得意先CD,
								SMU.製品NO,
								SMU.仕様NO,
								仕入数量 = SUM(SMU.仕入数量)
								--内税の場合は消費税を引く
								--原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
							FROM	TD仕入 AS SR(NOLOCK)
								INNER JOIN TD仕入明細 AS SM(NOLOCK)
									ON SR.仕入番号 = SM.仕入番号
								INNER JOIN TD仕入明細内訳 AS SMU(NOLOCK)
									ON SM.仕入番号 = SMU.仕入番号
								INNER JOIN	TD見積 AS MH(NOLOCK)
									ON SR.見積番号 = MH.見積番号
								INNER JOIN	TM得意先 AS TK(NOLOCK)
									ON MH.販売先得意先CD = TK.得意先CD
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON SMU.製品NO = SE.製品NO
									AND SMU.仕様NO = SE.仕様NO
							WHERE	SM.仕入日付 >= @w開始日付
								AND SM.仕入日付 <= @i棚卸日付
								AND	TK.チームCD = @iチームCD
								AND MH.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY TK.チームCD,MH.得意先CD,SMU.製品NO,SMU.仕様NO
					) AS SYU
					ON	TMP.チームCD = SYU.チームCD
					AND TMP.得意先CD = SYU.得意先CD
					AND	TMP.製品NO = SYU.製品NO
					AND	TMP.仕様NO = SYU.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		-------------------------------------------------
		--仕入　存在しない製品追加
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
					(
						棚卸日付,
						チームCD,
						得意先CD,
						製品NO,仕様NO,
						--現在庫数,
						--棚卸数
						仕入合計数
						--仕入合計金額
					)
				SELECT	
						SYU.棚卸日付,
						SYU.チームCD,
						SYU.得意先CD,
						SYU.製品NO,SYU.仕様NO,
						SYU.仕入数量
						--SYU.原価額
					FROM (
						SELECT	
								棚卸日付 = @i棚卸日付,
								TK.チームCD,
								MH.得意先CD,
								SMU.製品NO,
								SMU.仕様NO,
								仕入数量 = SUM(SMU.仕入数量)
								--内税の場合は消費税を引く
								--原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
							FROM	TD仕入 AS SR(NOLOCK)
								INNER JOIN TD仕入明細 AS SM(NOLOCK)
									ON SR.仕入番号 = SM.仕入番号
								INNER JOIN TD仕入明細内訳 AS SMU(NOLOCK)
									ON SM.仕入番号 = SMU.仕入番号
								INNER JOIN	TD見積 AS MH(NOLOCK)
									ON SR.見積番号 = MH.見積番号
								INNER JOIN	TM得意先 AS TK(NOLOCK)
									ON MH.販売先得意先CD = TK.得意先CD
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON SMU.製品NO = SE.製品NO
									AND SMU.仕様NO = SE.仕様NO
							WHERE	SM.仕入日付 >= @w開始日付
								AND SM.仕入日付 <= @i棚卸日付
								AND	TK.チームCD = @iチームCD
								AND MH.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY TK.チームCD,MH.得意先CD,SMU.製品NO,SMU.仕様NO
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.チームCD
							AND TMP.得意先CD = SYU.得意先CD
							AND	TMP.製品NO = SYU.製品NO
							AND	TMP.仕様NO = SYU.仕様NO
				WHERE	TMP.チームCD IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		-------------------------------------------------
		--出庫
		-------------------------------------------------
		--TMPに存在するデータを更新
		UPDATE	#TMP_TOTAL
			SET	#TMP_TOTAL.出庫合計数 = SYU.出庫数量
				--#TMP_TOTAL.出庫合計金額 = SYU.出庫金額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	SK.チームCD,
								SK.得意先CD,
								SKM.製品NO,
								SKM.仕様NO,
								出庫数量 = SUM(SKM.出庫数量)
								--内税の場合は消費税を引く
								--出庫金額 = SUM(CASE WHEN SKM.仕入税区分 = 1 THEN (SKM.出庫金額-SKM.消費税額) ELSE SKM.出庫金額 END)
							FROM TD出庫_チーム別社内在庫 AS SK(NOLOCK)
								INNER JOIN TD出庫明細_チーム別社内在庫 AS SKM(NOLOCK)
									ON SK.出庫番号 = SKM.出庫番号
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON SKM.製品NO = SE.製品NO
									AND SKM.仕様NO = SE.仕様NO
							WHERE 
									SK.出庫日付 >= @w開始日付
								AND SK.出庫日付 <= @i棚卸日付
								AND SK.チームCD = @iチームCD
								AND SK.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY SK.チームCD,SK.得意先CD,SKM.製品NO,SKM.仕様NO
					) AS SYU
					ON	TMP.チームCD = SYU.チームCD
					AND TMP.得意先CD = SYU.得意先CD
					AND	TMP.製品NO = SYU.製品NO
					AND	TMP.仕様NO = SYU.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		-------------------------------------------------
		--出庫　存在しない製品追加
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
					(
						棚卸日付,
						チームCD,
						得意先CD,
						製品NO,仕様NO,
						--現在庫数,
						--棚卸数
						出庫合計数
						--出庫合計金額
					)
				SELECT	
						SYU.棚卸日付,
						SYU.チームCD,
						SYU.得意先CD,
						SYU.製品NO,SYU.仕様NO,
						SYU.出庫数量
						--SYU.出庫金額
					FROM (
						SELECT	棚卸日付 = @i棚卸日付,
								SK.チームCD,
								SK.得意先CD,
								SKM.製品NO,
								SKM.仕様NO,
								出庫数量 = SUM(SKM.出庫数量)
								--内税の場合は消費税を引く
								--出庫金額 = SUM(CASE WHEN SKM.仕入税区分 = 1 THEN (SKM.出庫金額-SKM.消費税額) ELSE SKM.出庫金額 END)
							FROM TD出庫_チーム別社内在庫 AS SK(NOLOCK)
								INNER JOIN TD出庫明細_チーム別社内在庫 AS SKM(NOLOCK)
									ON SK.出庫番号 = SKM.出庫番号
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON SKM.製品NO = SE.製品NO
									AND SKM.仕様NO = SE.仕様NO
							WHERE 
									SK.出庫日付 >= @w開始日付
								AND SK.出庫日付 <= @i棚卸日付
								AND SK.チームCD = @iチームCD
								AND SK.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY SK.チームCD,SK.得意先CD,SKM.製品NO,SKM.仕様NO
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.チームCD
							AND TMP.得意先CD = SYU.得意先CD
							AND	TMP.製品NO = SYU.製品NO
							AND	TMP.仕様NO = SYU.仕様NO
				WHERE	TMP.チームCD IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--入庫
		-------------------------------------------------
		--TMPに存在するデータを更新
		UPDATE	#TMP_TOTAL
			--SET #TMP_TOTAL.現在庫数 = TMP.現在庫数 - SYU.仕入数量,
			--	#TMP_TOTAL. = TMP.現在庫数 - SYU.仕入数量
			SET	#TMP_TOTAL.入庫合計数 = SYU.入庫数量
				--#TMP_TOTAL.入庫合計金額 = SYU.入庫金額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	NK.チームCD,
								NK.得意先CD,
								NKM.製品NO,
								NKM.仕様NO,
								入庫数量 = SUM(NKM.入庫数量)
								--内税の場合は消費税を引く
								--入庫金額 = SUM(CASE WHEN NKM.仕入税区分 = 1 THEN (NKM.入庫金額-NKM.消費税額) ELSE NKM.入庫金額 END)
							FROM TD入庫_チーム別社内在庫 AS NK(NOLOCK)
								INNER JOIN TD入庫明細_チーム別社内在庫 AS NKM(NOLOCK)
									ON NK.入庫番号 = NKM.入庫番号
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON NKM.製品NO = SE.製品NO
									AND NKM.仕様NO = SE.仕様NO
							WHERE 
									NK.入庫日付 >= @w開始日付
								AND NK.入庫日付 <= @i棚卸日付
								AND NK.チームCD = @iチームCD
								AND NK.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY NK.チームCD,NK.得意先CD,NKM.製品NO,NKM.仕様NO
					) AS SYU
					ON	TMP.チームCD = SYU.チームCD
					AND TMP.得意先CD = SYU.得意先CD
					AND	TMP.製品NO = SYU.製品NO
					AND	TMP.仕様NO = SYU.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		-------------------------------------------------
		--入庫　存在しない製品追加
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
					(
						棚卸日付,
						チームCD,
						得意先CD,
						製品NO,仕様NO,
						--現在庫数,
						--棚卸数
						入庫合計数
						--入庫合計金額
					)
				SELECT	棚卸日付 = @i棚卸日付,
						SYU.チームCD,
						SYU.得意先CD,
						SYU.製品NO,SYU.仕様NO,
						SYU.入庫数量
						--SYU.入庫金額
					FROM (
						SELECT	
								NK.チームCD,
								NK.得意先CD,
								NKM.製品NO,
								NKM.仕様NO,
								入庫数量 = SUM(NKM.入庫数量)
								--内税の場合は消費税を引く
								--入庫金額 = SUM(CASE WHEN NKM.仕入税区分 = 1 THEN (NKM.入庫金額-NKM.消費税額) ELSE NKM.入庫金額 END)
							FROM TD入庫_チーム別社内在庫 AS NK(NOLOCK)
								INNER JOIN TD入庫明細_チーム別社内在庫 AS NKM(NOLOCK)
									ON NK.入庫番号 = NKM.入庫番号
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON NKM.製品NO = SE.製品NO
									AND NKM.仕様NO = SE.仕様NO
							WHERE 
									NK.入庫日付 >= @w開始日付
								AND NK.入庫日付 <= @i棚卸日付
								AND NK.チームCD = @iチームCD
								AND NK.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY NK.チームCD,NK.得意先CD,NKM.製品NO,NKM.仕様NO
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.チームCD
							AND TMP.得意先CD = SYU.得意先CD
							AND	TMP.製品NO = SYU.製品NO
							AND	TMP.仕様NO = SYU.仕様NO
				WHERE	TMP.チームCD IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--移動　出庫分
		-------------------------------------------------
		--TMPに存在するデータを更新
		UPDATE	#TMP_TOTAL
			SET	#TMP_TOTAL.移動出庫合計数 = SYU.移動出庫数量
				--#TMP_TOTAL.移動出庫合計金額 = SYU.移動出庫金額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	ID.社内在庫移動元チームCD,
								ID.得意先CD,
								IDM.製品NO,
								IDM.仕様NO,
								移動出庫数量 = SUM(IDM.移動数量)
								--内税の場合は消費税を引く
								--移動出庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.移動金額-IDM.消費税額) ELSE IDM.移動金額 END)
							FROM TD社内在庫移動 AS ID(NOLOCK)
								INNER JOIN TD社内在庫移動明細 AS IDM(NOLOCK)
									ON ID.社内在庫移動番号 = IDM.社内在庫移動番号
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON IDM.製品NO = SE.製品NO
									AND IDM.仕様NO = SE.仕様NO
							WHERE 
									ID.社内在庫移動日付 >= @w開始日付
								AND ID.社内在庫移動日付 <= @i棚卸日付
								AND ID.社内在庫移動元チームCD = @iチームCD
								AND ID.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY ID.社内在庫移動元チームCD,ID.得意先CD,IDM.製品NO,IDM.仕様NO
					) AS SYU
					ON	TMP.チームCD = SYU.社内在庫移動元チームCD
					AND TMP.得意先CD = SYU.得意先CD
					AND	TMP.製品NO = SYU.製品NO
					AND	TMP.仕様NO = SYU.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		-------------------------------------------------
		--移動　出庫分　存在しない製品追加
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
					(
						棚卸日付,
						チームCD,
						得意先CD,
						製品NO,仕様NO,
						--現在庫数,
						--棚卸数
						移動出庫合計数
						--移動出庫合計金額
					)
				SELECT	
						棚卸日付 = @i棚卸日付,
						SYU.社内在庫移動元チームCD,
						SYU.得意先CD,
						SYU.製品NO,SYU.仕様NO,
						SYU.移動出庫数量
						--SYU.移動出庫金額
					FROM (
						SELECT	ID.社内在庫移動元チームCD,
								ID.得意先CD,
								IDM.製品NO,
								IDM.仕様NO,
								移動出庫数量 = SUM(IDM.移動数量)
								--内税の場合は消費税を引く
								--移動出庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.移動金額-IDM.消費税額) ELSE IDM.移動金額 END)
							FROM TD社内在庫移動 AS ID(NOLOCK)
								INNER JOIN TD社内在庫移動明細 AS IDM(NOLOCK)
									ON ID.社内在庫移動番号 = IDM.社内在庫移動番号
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON IDM.製品NO = SE.製品NO
									AND IDM.仕様NO = SE.仕様NO
							WHERE 
									ID.社内在庫移動日付 >= @w開始日付
								AND ID.社内在庫移動日付 <= @i棚卸日付
								AND ID.社内在庫移動元チームCD = @iチームCD
								AND ID.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY ID.社内在庫移動元チームCD,ID.得意先CD,IDM.製品NO,IDM.仕様NO
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.社内在庫移動元チームCD
							AND TMP.得意先CD = SYU.得意先CD
							AND	TMP.製品NO = SYU.製品NO
							AND	TMP.仕様NO = SYU.仕様NO
				WHERE	TMP.チームCD IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--移動　入庫分
		-------------------------------------------------
		--TMPに存在するデータを更新
		UPDATE	#TMP_TOTAL
			--SET #TMP_TOTAL.現在庫数 = TMP.現在庫数 - SYU.仕入数量,
			--	#TMP_TOTAL. = TMP.現在庫数 - SYU.仕入数量
			SET	#TMP_TOTAL.移動入庫合計数 = SYU.移動入庫数量
				--#TMP_TOTAL.移動入庫合計金額 = SYU.移動入庫金額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	ID.社内在庫移動先チームCD,
								ID.得意先CD,
								IDM.製品NO,
								IDM.仕様NO,
								移動入庫数量 = SUM(IDM.移動数量)
								--内税の場合は消費税を引く
								--移動入庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.移動金額-IDM.消費税額) ELSE IDM.移動金額 END)
							FROM TD社内在庫移動 AS ID(NOLOCK)
								INNER JOIN TD社内在庫移動明細 AS IDM(NOLOCK)
									ON ID.社内在庫移動番号 = IDM.社内在庫移動番号
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON IDM.製品NO = SE.製品NO
									AND IDM.仕様NO = SE.仕様NO
							WHERE 
									ID.社内在庫移動日付 >= @w開始日付
								AND ID.社内在庫移動日付 <= @i棚卸日付
								AND ID.社内在庫移動先チームCD = @iチームCD
								AND ID.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY ID.社内在庫移動先チームCD,ID.得意先CD,IDM.製品NO,IDM.仕様NO
					) AS SYU
					ON	TMP.チームCD = SYU.社内在庫移動先チームCD
					AND TMP.得意先CD = SYU.得意先CD
					AND	TMP.製品NO = SYU.製品NO
					AND	TMP.仕様NO = SYU.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		-------------------------------------------------
		--移動　出庫分　存在しない製品追加
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
					(
						棚卸日付,
						チームCD,
						得意先CD,
						製品NO,仕様NO,
						--現在庫数,
						--棚卸数
						移動入庫合計数
						--移動入庫合計金額
					)
				SELECT
						棚卸日付 = @i棚卸日付,
						SYU.社内在庫移動先チームCD,
						SYU.得意先CD,
						SYU.製品NO,SYU.仕様NO,
						SYU.移動入庫数量
						--SYU.移動入庫金額
					FROM (
						SELECT	ID.社内在庫移動先チームCD,
								ID.得意先CD,
								IDM.製品NO,
								IDM.仕様NO,
								移動入庫数量 = SUM(IDM.移動数量)
								--内税の場合は消費税を引く
								--移動入庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.移動金額-IDM.消費税額) ELSE IDM.移動金額 END)
							FROM TD社内在庫移動 AS ID(NOLOCK)
								INNER JOIN TD社内在庫移動明細 AS IDM(NOLOCK)
									ON ID.社内在庫移動番号 = IDM.社内在庫移動番号
								LEFT JOIN TM製品 AS SE(NOLOCK)
									ON IDM.製品NO = SE.製品NO
									AND IDM.仕様NO = SE.仕様NO
							WHERE 
									ID.社内在庫移動日付 >= @w開始日付
								AND ID.社内在庫移動日付 <= @i棚卸日付
								AND ID.社内在庫移動先チームCD = @iチームCD
								AND ID.得意先CD = @i得意先CD
								AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							GROUP BY ID.社内在庫移動先チームCD,ID.得意先CD,IDM.製品NO,IDM.仕様NO
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.社内在庫移動先チームCD
							AND TMP.得意先CD = SYU.得意先CD
							AND	TMP.製品NO = SYU.製品NO
							AND	TMP.仕様NO = SYU.仕様NO
				WHERE	TMP.チームCD IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		
		--出力
		SELECT	棚卸番号 = 0,
				@i棚卸日付,
				TMP.チームCD, 
				TMP.得意先CD,
				棚卸明細連番=0,
				TMP.枝番, 
				TMP.製品NO, TMP.仕様NO, 
				SE.漢字名称,
				SE.W,SE.D,SE.H,
				
				--TSM.仕入先CD, TSM.仕入端数, TSM.消費税端数, 
				--前回棚卸数,
				--売上合計数,
				--仕入合計数,
				--出庫合計数,
				--入庫合計数,
				--移動出庫合計数,
				--移動入庫合計数,
				
				算出数量 = ISNULL(TMP.前回棚卸数,0)
									-	ISNULL(TMP.売上合計数,0)
									+	ISNULL(TMP.仕入合計数,0)
									-	ISNULL(TMP.出庫合計数,0)
									+	ISNULL(TMP.入庫合計数,0)
									-	ISNULL(TMP.移動出庫合計数,0)
									+	ISNULL(TMP.移動入庫合計数,0),
				棚卸数量 = ISNULL(TMP.前回棚卸数,0)
									-	ISNULL(TMP.売上合計数,0)
									+	ISNULL(TMP.仕入合計数,0)
									-	ISNULL(TMP.出庫合計数,0)
									+	ISNULL(TMP.入庫合計数,0)
									-	ISNULL(TMP.移動出庫合計数,0)
									+	ISNULL(TMP.移動入庫合計数,0),
				棚卸単価 = COALESCE(TN.大口仕入単価,SE.仕入単価,0),
				棚卸金額 = dbo.fn_CutFraction(0,(ISNULL(TMP.前回棚卸数,0)--四捨五入
									-	ISNULL(TMP.売上合計数,0)
									+	ISNULL(TMP.仕入合計数,0)
									-	ISNULL(TMP.出庫合計数,0)
									+	ISNULL(TMP.入庫合計数,0)
									-	ISNULL(TMP.移動出庫合計数,0)
									+	ISNULL(TMP.移動入庫合計数,0))
							*	COALESCE(TN.大口仕入単価,SE.仕入単価,0),0),
				SE.仕入税区分,
				消費税額 = 0,--仮
				明細備考 = ''
			FROM #TMP_TOTAL AS TMP
				LEFT JOIN TM製品 AS SE(NOLOCK)
					ON TMP.製品NO = SE.製品NO
					AND TMP.仕様NO = SE.仕様NO
				LEFT JOIN TM単価 AS TN(NOLOCK)
					ON TMP.得意先CD = TN.得意先CD
					AND TMP.製品NO = TN.製品NO
					AND TMP.仕様NO = TN.仕様NO
			ORDER BY	ISNULL(枝番,9999999), TMP.製品NO, TMP.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		
		SET	@oMODE = '登録'
		
	END--修正END

EXIT_SP:

	DROP TABLE #TMP_TOTAL

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
