/****** Object:  StoredProcedure [dbo].[usp_売掛集計xxx]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_売掛集計xxx]
GO
/****** Object:  StoredProcedure [dbo].[usp_売掛集計xxx]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_売掛集計

機能	指定された条件で売掛情報を作成する

引数	
	

戻り値	

修正履歴
	2002/11/28	範囲の途中で税集計情報が変わった場合
			消費税が合わなくなるのを修正
	2002/11/28	集計条件に得意先CDを追加
	2003/09/22 	bugfix
	2003/10/27	末締め以外に対応
	2003/12/22	前回の検索を修正(締日での検索は必要？)
	2004/01/21 	kawamura 	税集計区分でグループ化すると金額が合わなくなるのを修正
	2004/02/19 	kawamura 	税額計算において単価訂正は含まない。
					外税対象額の集計変更：(売上＋返品)
					外税額の集計変更：(売上＋返品)＊税率
	2014/03/18	oosawa		税率マスタが複数情報を持てないため
							計算処理をしないようにする。
							（古い情報を再計算してしまうと税率が異なるためおかしくなる）

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	2014/07/17	oosawa		集計日付を売上日付に変更
*****************************************************/
CREATE PROCEDURE [dbo].[usp_売掛集計xxx]
	@iDate			DATETIME,
	@i締日			INT,
	@RetST	INT			OUTPUT,
	@RetMsg	VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	--前残情報
	DECLARE	@o前残		MONEY,
			@o売掛開始日	DATETIME

	--今回出力情報
	DECLARE	@o伝票枚数		INT,
			@o売上合計		MONEY,
			@o返品合計		MONEY,
			@o訂正合計		MONEY,
			@o前外税売上	MONEY,
			@o後外税売上	MONEY,
			@o前外税返品	MONEY,
			@o後外税返品	MONEY,
			@o前外税訂正	MONEY,
			@o後外税訂正	MONEY,
			@o消費税額		MONEY,
			@o入金金額		MONEY,
			@o調整金額		MONEY

	--作業情報
	DECLARE	@w前外税金額	MONEY,
			@w後外税金額	MONEY,
			@w前外税額		MONEY,
			@w後外税額		MONEY

	--カーソル項目
	DECLARE	@csr			CURSOR,
			@c得意先CD		VARCHAR(4),
-- 			@c消費税区分	INT,
			@c消費税端数	INT

	--会社情報
	DECLARE	@入力開始日		DATETIME

	--算出開始日付
	DECLARE	@wFirstDate		DATETIME		--2003/10/27	ADD
	--算出終了日付
	DECLARE	@wLastDate		DATETIME

	--消費税情報
	DECLARE	@税切替日		DATETIME,
			@前税率		SMALLINT,
			@後税率		SMALLINT

	DECLARE	@TRAN		TINYINT,
			@ST			INT,
			@MSG			VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--トランザクション開始
	BEGIN	TRAN

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

	--会社情報取得
	SELECT	@入力開始日		=	入力開始日
		FROM		TM会社
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--消費税情報取得
	SELECT	@税切替日 = 切替日付,
			@前税率 = 旧税率,
			@後税率 = 税率
		FROM 		TM税率
		WHERE 	税率ID = 'ZR'
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--開始範囲日付取得
	EXEC usp_GetFirstDateOfScope @iDATE,@i締日,@wFirstDate output		--2003/10/27	ADD
	IF @wFirstDate IS NULL BEGIN
		SET @ST = -1
		SET @MSG = '指定日付エラー'
		GOTO EXIT_SP
	END
	--終了範囲日付取得
	EXEC usp_GetLastDateOfScope @iDATE,@i締日,@wLastDate output
	IF @wLastDate IS NULL BEGIN
		SET @ST = -1
		SET @MSG = '指定日付エラー'
		GOTO EXIT_SP
	END

	IF @入力開始日 >= @wLastDate	BEGIN
		SET @ST = -1
		SET @MSG = '指定日付が入力開始日より前です。'
		GOTO EXIT_SP
	END	

	--前回売掛情報確認
	--2003/12/22	DEL
/*	IF EXISTS(SELECT * FROM TM売掛金額 WHERE NOT(締日 = @i締日 AND 売掛日付 = @iDATE)) BEGIN	--入力された範囲以外のデータはあるか？
		IF NOT EXISTS(SELECT * FROM TM売掛金額 WHERE 締日 = @i締日
					AND 売掛日付 = DATEADD(MONTH,-1,@iDATE)) BEGIN				--その中に1ヶ月前のデータが存在しないか？
			IF DATEADD(MONTH,-1,@iDATE) > @入力開始日 BEGIN						--1ヶ月前は入力開始日より後か？	2002/11/28
				SET @ST = -1
				SET @MSG = '前月の売掛計算を行なって下さい。'
				GOTO EXIT_SP
			END
		END
	END
*/	IF EXISTS(SELECT * FROM TM売掛金額 WHERE NOT(売掛日付 = @iDATE)) BEGIN	--入力された範囲以外のデータはあるか？
		IF NOT EXISTS(SELECT * FROM TM売掛金額 WHERE
						売掛日付 = DATEADD(MONTH,-1,@iDATE)) BEGIN				--その中に1ヶ月前のデータが存在しないか？
			IF DATEADD(MONTH,-1,@iDATE) > @入力開始日 BEGIN						--1ヶ月前は入力開始日より後か？	2002/11/28
				SET @ST = -1
				SET @MSG = '前月の売掛計算を行なって下さい。'
				GOTO EXIT_SP
			END
		END
	END

	--2014/03/18 ADD↓
	----------------------------------------
	--	税率マスタが複数情報を持てないため
	--	計算処理をしないようにする。
	----------------------------------------
	DECLARE	@w売掛月次更新日 DATETIME
	
	SELECT @w売掛月次更新日 =  更新日付
			FROM TMDates
			WHERE DateID = '売掛月次更新日'
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF	@wLastDate <= DATEADD(MONTH,-1, @w売掛月次更新日) BEGIN
	--IF	@wLastDate <= @w売掛月次更新日 BEGIN
		--終了集計日付が売掛月次更新日より小さい場合、計算しない。
		--前月は計算対象とする
		GOTO	EXIT_SP
	END
	--2014/03/18 ADD↑
	----------------------------------------

	--旧売掛情報削除
/*	IF EXISTS(SELECT * FROM TM売掛金額 WHERE 締日 = @i締日 AND 売掛日付 = @iDATE) BEGIN		2003/12/22	DEL
		DELETE FROM TM売掛金額 WHERE 締日 = @i締日 AND 売掛日付 = @iDATE
	END
*/	IF EXISTS(SELECT * FROM TM売掛金額 WHERE 売掛日付 = @iDATE) BEGIN
		DELETE FROM TM売掛金額 WHERE 売掛日付 = @iDATE
	END
	
	--指定範囲カーソル
	SET	@csr	=	CURSOR	LOCAL	FORWARD_ONLY	STATIC FOR
		SELECT 	得意先CD, /*税集計区分,*/ 消費税端数--2003/09/22
			FROM 		TM得意先 AS TK
			ORDER BY 	TK.得意先CD

	OPEN	@csr
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF (@@CURSOR_ROWS = 0)	BEGIN
		SET @ST = -1
		SET @MSG = '該当データがありません。'
		GOTO EXIT_SP
	END	

	FETCH NEXT FROM	@csr	INTO	@c得意先CD, /*@c消費税区分,*/ @c消費税端数--2003/09/22
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	WHILE	( @@FETCH_STATUS = 0 )	BEGIN

		--前回売掛金額算出
		EXEC @ST = usp_売掛前残参照 @c得意先CD,@wFirstDate,@o前残 OUTPUT,@o売掛開始日 OUTPUT		--2003/10/27	ADD
		--EXEC @ST = usp_売掛前残参照 @c得意先CD,@iDATE,@o前残 OUTPUT,@o売掛開始日 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP

		--今回金額集計
		SELECT
			@o伝票枚数 	= CONVERT(INT, ISNULL(GUU.伝票枚数,0) + ISNULL(MUU.伝票枚数,0)+ISNULL(NYD.伝票枚数,0)),
			@o売上合計 	= CONVERT(MONEY, ISNULL(GUU.売上合計,0) + ISNULL(MUU.売上合計,0)),
			@o返品合計 	= CONVERT(MONEY, ISNULL(GUU.返品合計,0) + ISNULL(MUU.返品合計,0)),
			@o訂正合計 	= CONVERT(MONEY, ISNULL(GUU.訂正合計,0) + ISNULL(MUU.訂正合計,0)),
			@o前外税売上 = CONVERT(MONEY, ISNULL(MUU.売上外税対象額,0)),
			@o後外税売上 = CONVERT(MONEY, ISNULL(GUU.売上外税対象額,0)),
			@o前外税返品 = CONVERT(MONEY, ISNULL(MUU.返品外税対象額,0)),
			@o後外税返品 = CONVERT(MONEY, ISNULL(GUU.返品外税対象額,0)),
			@o前外税訂正 = CONVERT(MONEY, ISNULL(MUU.訂正外税対象額,0)),
			@o後外税訂正 = CONVERT(MONEY, ISNULL(GUU.訂正外税対象額,0)),
			@o消費税額 	= CONVERT(MONEY, ISNULL(GUU.外税額,0) + ISNULL(MUU.外税額,0)),
			@o入金金額 	= CONVERT(MONEY, ISNULL(NY.入金合計,0)),
			@o調整金額 	= CONVERT(MONEY, ISNULL(CY.調整合計,0))
			
		FROM TM得意先 AS TK

			--税切替後の売上
			LEFT JOIN 	(
						--売上・返品・訂正・外税(伝票単位)・伝票枚数
						SELECT 	得意先CD, COUNT(売上番号) AS 伝票枚数,
								外税額 = SUM(外税額), 
								売上合計 = SUM(売上合計),
								返品合計 = SUM(返品合計),
								訂正合計 = SUM(訂正合計),
								--2004/01/21.DEL
-- 								売上外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(売上外税対象額) ELSE 0 END,
-- 								返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
-- 								訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
								--2004/01/21.ADD
								売上外税対象額 = SUM(売上外税対象額),
								返品外税対象額 = SUM(返品外税対象額),
								訂正外税対象額 = SUM(訂正外税対象額)
							FROM
								(
								--伝票単位の各値を集計
								SELECT 	GUM.得意先CD, GUM.売上番号, UH.税集計区分, 
										UH.外税額,
										売上合計 = SUM(売上合計),
										返品合計 = SUM(返品合計),
										訂正合計 = SUM(訂正合計),
										--2004/01/21.DEL
-- 										売上外税対象額 = SUM(売上外税対象額),
-- 										返品外税対象額 = SUM(返品外税対象額),
-- 										訂正外税対象額 = SUM(訂正外税対象額)
										--2004/01/21.ADD
										売上外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(売上外税対象額) ELSE 0 END,
										返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
										訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
									FROM
										(
										--伝票区分が明細内訳にある為、内訳レベルで各値集計
										SELECT 	MH.得意先CD, MH.売上番号, 伝票区分, 売上税区分,
												売上合計 = ISNULL((CASE WHEN 伝票区分 = '1' THEN SUM(売上金額) END),0),
												返品合計 = ISNULL((CASE WHEN 伝票区分 = '2' THEN SUM(売上金額) END),0),
												訂正合計 = ISNULL((CASE WHEN 伝票区分 = '3' THEN SUM(売上金額) END),0),
												売上外税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
												返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
												訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 売上税区分 = 0 THEN SUM(売上金額) END),0)
											FROM  	TD売上明細内訳 AS MU
											INNER JOIN	TD売上 AS MH  ON MU.売上番号 = MH.売上番号
											WHERE 	得意先CD = @c得意先CD
												--2014/07/17 DEL↓
												----AND 	請求日付 >=  @o売掛開始日
												----AND 	請求日付 <=  @wLastDate
												----AND 	請求日付 >=	@税切替日 
												--2014/07/17 ADD↓
												AND 	売上日付 >=  @o売掛開始日
												AND 	売上日付 <=  @wLastDate
												AND 	売上日付 >=	@税切替日 
												--2014/07/17 ADD↑
											GROUP BY 	MH.得意先CD, MH.売上番号, 伝票区分, 売上税区分
										) AS GUM
									--伝票単位の外税額分としてヘッダー情報をつけ足す
									INNER JOIN 	TD売上 AS UH ON GUM.売上番号 = UH.売上番号
									GROUP BY 	GUM.得意先CD, GUM.売上番号, UH.税集計区分, UH.外税額
								) AS GDE
							--GROUP BY 得意先CD, 税集計区分	--2004/01/21.DEL
							GROUP BY 得意先CD 			--2004/01/21.ADD
					) AS GUU
					ON 	TK.得意先CD = GUU.得意先CD

			--税切替前の売上
			LEFT JOIN 	(
						--売上・返品・訂正・外税(伝票単位)・伝票枚数
						SELECT 	得意先CD, COUNT(売上番号) AS 伝票枚数,
								外税額 = SUM(外税額), 
								売上合計 = SUM(売上合計),
								返品合計 = SUM(返品合計),
								訂正合計 = SUM(訂正合計),
								--2004/01/21.DEL
-- 								売上外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(売上外税対象額) ELSE 0 END,
-- 								返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
-- 								訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
								--2004/01/21.ADD
								売上外税対象額 = SUM(売上外税対象額),
								返品外税対象額 = SUM(返品外税対象額),
								訂正外税対象額 = SUM(訂正外税対象額)
							FROM
								(
								--伝票単位の各値を集計
								SELECT 	MUM.得意先CD, MUM.売上番号, UH.税集計区分, 
										UH.外税額,
										売上合計 = SUM(売上合計),
										返品合計 = SUM(返品合計),
										訂正合計 = SUM(訂正合計),
										--2004/01/21.DEL
-- 										売上外税対象額 = SUM(売上外税対象額),
-- 										返品外税対象額 = SUM(返品外税対象額),
-- 										訂正外税対象額 = SUM(訂正外税対象額)
										--2004/01/21.ADD
										売上外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(売上外税対象額) ELSE 0 END,
										返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
										訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
									FROM
										(
										--伝票区分が明細内訳にある為、内訳レベルで各値集計
										SELECT 	MH.得意先CD, MH.売上番号, 伝票区分, 売上税区分,
												売上合計 = ISNULL((CASE WHEN 伝票区分 = '1' THEN SUM(売上金額) END),0),
												返品合計 = ISNULL((CASE WHEN 伝票区分 = '2' THEN SUM(売上金額) END),0),
												訂正合計 = ISNULL((CASE WHEN 伝票区分 = '3' THEN SUM(売上金額) END),0),
												売上外税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
												返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
												訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 売上税区分 = 0 THEN SUM(売上金額) END),0)
											FROM  	TD売上明細内訳 AS MU
											INNER JOIN	TD売上 AS MH  ON MU.売上番号 = MH.売上番号
											WHERE 	得意先CD = @c得意先CD
												----AND	請求日付 >=  @o売掛開始日
												----AND 	請求日付 <=  @wLastDate
												----AND 	請求日付 <	@税切替日 
												--2014/07/17 ADD↓
												AND 	売上日付 >=  @o売掛開始日
												AND 	売上日付 <=  @wLastDate
												AND 	売上日付 <	@税切替日 
												--2014/07/17 ADD↑
											GROUP BY 	MH.得意先CD, MH.売上番号, 伝票区分, 売上税区分
										) AS MUM
									--伝票単位の外税額分としてヘッダー情報をつけ足す
									INNER JOIN 	TD売上 AS UH ON MUM.売上番号 = UH.売上番号
									GROUP BY 	MUM.得意先CD, MUM.売上番号, UH.税集計区分, UH.外税額
								) AS MDE
							--GROUP BY 得意先CD, 税集計区分	--2004/01/21.DEL
							GROUP BY 得意先CD 			--2004/01/21.ADD
					) AS MUU
					ON 	TK.得意先CD = MUU.得意先CD

			--入金金額
			LEFT JOIN 	(
						SELECT 	得意先CD, SUM(入金金額) as 入金合計
							FROM 		TD入金
				       	     		WHERE 	入金種別 <> 3		--入金・手形入金
								AND 	得意先CD = @c得意先CD
								AND 	入金日付 >=  @o売掛開始日
								AND 	入金日付 <=  @wLastDate  
							GROUP BY 	得意先CD
					) AS NY
					ON TK.得意先CD = NY.得意先CD

			--調整金額
			LEFT JOIN 	(
						SELECT 	得意先CD, SUM(入金金額) as 調整合計
							FROM 		TD入金
				       	     		WHERE 	入金種別 = 3			--調整・値引
								AND 	得意先CD = @c得意先CD
								AND 	入金日付 >=  @o売掛開始日
								AND 	入金日付 <=  @wLastDate  
							GROUP BY 	得意先CD
					) AS CY
					ON TK.得意先CD = CY.得意先CD

			--入金伝票枚数
			LEFT JOIN	(
						SELECT NG.得意先CD, COUNT(NG.入金番号) AS 伝票枚数
							FROM 	(
									SELECT 得意先CD, 入金番号
										FROM TD入金
										WHERE  	得意先CD = @c得意先CD
											AND 	入金日付 >=  @o売掛開始日
											AND 	入金日付 <=  @wLastDate  
										GROUP BY 	得意先CD,入金番号) AS NG
								GROUP BY NG.得意先CD) AS NYD
					ON TK.得意先CD = NYD.得意先CD

		WHERE 	TK.得意先CD = @c得意先CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--消費税計算
		SET @w前外税額 = 0
		SET @w後外税額 = 0
		--請求単位	--2002/11/28無条件に計算するように変更
--2004.02.19.DEL
-- -- 		SET @w前外税額 = dbo.fn_CutFraction(@c消費税端数, (@o前外税売上+@o前外税返品+@o前外税訂正) / 100 * @前税率,0)
-- -- 		SET @w後外税額 = dbo.fn_CutFraction(@c消費税端数, (@o後外税売上+@o後外税返品+@o後外税訂正) / 100 * @後税率,0)
--2004.02.19.ADD
		SET @w前外税額 = dbo.fn_CutFraction(@c消費税端数, (@o前外税売上+@o前外税返品) / 100 * @前税率,@decimalPoint)
		SET @w後外税額 = dbo.fn_CutFraction(@c消費税端数, (@o後外税売上+@o後外税返品) / 100 * @後税率,@decimalPoint)
		
		--テーブル出力
		INSERT INTO 	TM売掛金額
					(
						得意先CD, 売掛日付, 前月残高, 入金金額, 調整金額, 
						売上金額, 返品金額, 訂正金額, 
						消費税額, 
						当月残高,
						売掛開始日付, 売掛終了日付, 締日, 伝票枚数,
						処理日
					)
			VALUES
				 	(
						@c得意先CD, @iDATE, @o前残, @o入金金額, @o調整金額, 
						@o売上合計, @o返品合計, @o訂正合計, 
						@o消費税額 + ISNULL(@w前外税額,0) + ISNULL(@w後外税額,0),
						@o前残 - @o入金金額 - @o調整金額 + @o売上合計 + @o返品合計 + @o訂正合計 + @o消費税額 + ISNULL(@w前外税額,0) + ISNULL(@w後外税額,0),
						@o売掛開始日, @wLastDate, @i締日, @o伝票枚数,
						GETDATE()
					)


		FETCH NEXT FROM	@csr	INTO	@c得意先CD, /*@c消費税区分,*/ @c消費税端数
 	END

EXIT_SP:
	IF( CURSOR_STATUS( 'variable', '@csr' ) >= 0 )	BEGIN
		CLOSE	@csr
		DEALLOCATE	@csr
	END

	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END

		SET @RetST = @ST
		SET @RetMSG = @MSG

	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST




GO
