/****** Object:  StoredProcedure [dbo].[usp_TK0400担当者別得意先別物件別売上推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK0400担当者別得意先別物件別売上推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK0400担当者別得意先別物件別売上推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_TK0400担当者別得意先別物件別売上推移表

機能	担当者毎得意先毎物件種別毎の売上の推移を作成する

		全社 前年・今年 仕入・売上合計金額
		担当者 前年・今年 仕入・売上合計金額
		担当者別得意先別物件別売上金額・原価金額明細
		を出力

		※物件種別	2:メンテナンス
					3:内装
					1:以外
引数

戻り値

修正履歴
	2012/08/27	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK0400担当者別得意先別物件別売上推移表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)
	DECLARE	@FIELD	VARCHAR(8000)
	DECLARE	@FIELD_T	VARCHAR(8000)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''
	--SET	@iS集計日付 = '2012/01/01'
	--SET	@iE集計日付 = '2012/12/31'

	--全体合計金額ワークテーブル作成
	CREATE TABLE #TMP_ALL_TOTAL 
		(
			年月		INT,
			原価金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			担当者CD	SMALLINT		NOT NULL,
			年月		INT,
			原価金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--担当者別得意先別物件別金額ワークテーブル作成
	CREATE TABLE #TMP
		(
			担当者CD	SMALLINT		NOT NULL,
			得意先CD	VARCHAR(4)		NOT NULL,
			物件種別区分	INT,
			年月		INT,
			原価金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--ヘッダー部　合計金額
	--年月別全体金額
	-- 前年と今年分
	--TK0300と異なる
	---------------------------
		INSERT	INTO #TMP_ALL_TOTAL
				(年月,原価金額,売上金額)
				SELECT		年月 = CONVERT(CHAR(6),UH.請求日付,112),
							SUM(UU.仕入金額) AS 原価金額,
							SUM(UU.売上金額-UU.消費税額) AS 税抜金額
					FROM TD売上 AS UH  
						INNER JOIN TD売上明細 AS UM
							ON UH.売上番号 = UM.売上番号 
						INNER JOIN TD売上明細内訳 AS UU
							ON UM.売上番号 = UU.売上番号 
								AND UM.売上行番号 = UU.売上行番号
					WHERE	(
							--	(UH.請求日付 >= @iS集計日付
							--		AND UH.請求日付 <= @iE集計日付)					--今年度
							--OR 
								(UH.請求日付 >= DATEADD(YY,-1,@iS集計日付)
									AND UH.請求日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							)
					GROUP BY     CONVERT(CHAR(6),UH.請求日付,112)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--SELECT '全体合計',* FROM #TMP_ALL_TOTAL
		--		order by 年月
	--END 全体　合計金額----------------------------------------------------------------

	---------------------------
	--ヘッダー部　売上金額
	--担当者別年月別売上金額
	--TK0300と異なる
	---------------------------
		INSERT	INTO #TMP_TOTAL
				(担当者CD,年月,原価金額,売上金額)
				SELECT	UH.担当者CD,
							年月 = CONVERT(CHAR(6),UH.請求日付,112),
							SUM(UU.仕入金額) AS 原価金額,
							SUM(UU.売上金額-UU.消費税額) AS 税抜金額
						FROM TD売上 AS UH  
							INNER JOIN TD売上明細 AS UM
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD売上明細内訳 AS UU
								ON UM.売上番号 = UU.売上番号 
									AND UM.売上行番号 = UU.売上行番号
						WHERE	(
								--	(UH.請求日付 >= @iS集計日付
								--		AND UH.請求日付 <= @iE集計日付)					--今年度
								--OR 
									(UH.請求日付 >= DATEADD(YY,-1,@iS集計日付)
										AND UH.請求日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								)
							--AND UH.担当者CD >= COALESCE(@iS担当者CD,UH.担当者CD)
							--AND UH.担当者CD <= COALESCE(@iE担当者CD,UH.担当者CD)
						GROUP BY     UH.担当者CD,CONVERT(CHAR(6),UH.請求日付,112)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--SELECT * FROM #TMP_TOTAL
		--		order by 担当者CD,年月
	--END ヘッダー部　売上金額----------------------------------------------------------------
		-----------------------------------
		--全件
		-----------------------------------
		INSERT	INTO #TMP
				(担当者CD, 得意先CD, 物件種別区分, 年月, 原価金額, 売上金額)
			SELECT	UH.担当者CD,
					UH.得意先CD,
					物件種別 = ISNULL(MH.物件種別,0),
					年月 = CONVERT(CHAR(6),UH.請求日付,112),
					SUM(UU.仕入金額) AS 原価金額,
					SUM(UU.売上金額-UU.消費税額) AS 税抜金額
				FROM	TD売上 AS UH
					INNER JOIN TD売上明細 AS UM
						ON UH.売上番号 = UM.売上番号 
					INNER JOIN TD売上明細内訳 AS UU
						ON UM.売上番号 = UU.売上番号 
							AND UM.売上行番号 = UU.売上行番号
					LEFT JOIN TD見積 AS MH
						ON UH.見積番号 = MH.見積番号
				WHERE UH.請求日付 >= @iS集計日付
		    			AND UH.請求日付 <= @iE集計日付
						--AND UH.担当者CD >= COALESCE(@iS担当者CD,UH.担当者CD)
						--AND UH.担当者CD <= COALESCE(@iE担当者CD,UH.担当者CD)
						--AND	NOT(MH.物件種別 = 2 OR MH.物件種別 = 3)
			GROUP BY     UH.担当者CD, UH.得意先CD,ISNULL(MH.物件種別,0),CONVERT(CHAR(6),UH.請求日付,112)
			ORDER BY     UH.担当者CD, UH.得意先CD,ISNULL(MH.物件種別,0),CONVERT(CHAR(6),UH.請求日付,112)

		-------------------------------------
		----メンテナンス・内装 以外
		-------------------------------------
		--INSERT	INTO #TMP
		--		(担当者CD, 得意先CD, 物件種別区分, 年月, 原価金額, 売上金額)
		--	SELECT	UH.担当者CD,
		--			UH.得意先CD,
		--			物件種別区分 = 1,
		--			年月 = CONVERT(CHAR(6),UH.請求日付,112),
		--			SUM(CASE WHEN NOT(ISNULL(MH.物件種別,0) = 2 OR ISNULL(MH.物件種別,0) = 5) THEN UU.仕入金額 ELSE 0 END) AS 原価金額,
		--			SUM(CASE WHEN NOT(ISNULL(MH.物件種別,0) = 2 OR ISNULL(MH.物件種別,0) = 5) THEN UU.売上金額-UU.消費税額 ELSE 0 END) AS 税抜金額
		--		FROM	TD売上 AS UH
		--			INNER JOIN TD売上明細 AS UM
		--				ON UH.売上番号 = UM.売上番号 
		--			INNER JOIN TD売上明細内訳 AS UU
		--				ON UM.売上番号 = UU.売上番号 
		--					AND UM.売上行番号 = UU.売上行番号
		--			LEFT JOIN TD見積 AS MH
		--				ON UH.見積番号 = MH.見積番号
		--		WHERE UH.請求日付 >= @iS集計日付
		--    			AND UH.請求日付 <= @iE集計日付
		--				--AND UH.担当者CD >= COALESCE(@iS担当者CD,UH.担当者CD)
		--				--AND UH.担当者CD <= COALESCE(@iE担当者CD,UH.担当者CD)
		--				--AND	NOT(MH.物件種別 = 2 OR MH.物件種別 = 3)
		--	GROUP BY     UH.担当者CD, UH.得意先CD,CONVERT(CHAR(6),UH.請求日付,112)

		--	-----------------------------------
		--	--メンテナンス
		--	-----------------------------------
		--INSERT	INTO #TMP
		--		(担当者CD, 得意先CD, 物件種別区分, 年月, 原価金額, 売上金額)
		--	SELECT	UH.担当者CD,
		--			UH.得意先CD,
		--			物件種別区分 = 2,
		--			年月 = CONVERT(CHAR(6),UH.請求日付,112),
		--			SUM(CASE WHEN ISNULL(MH.物件種別,0) = 2 THEN UU.仕入金額 ELSE 0 END) AS 原価金額,
		--			SUM(CASE WHEN ISNULL(MH.物件種別,0) = 2 THEN UU.売上金額-UU.消費税額 ELSE 0 END) AS 税抜金額
		--		FROM	TD売上 AS UH
		--			INNER JOIN TD売上明細 AS UM
		--				ON UH.売上番号 = UM.売上番号 
		--			INNER JOIN TD売上明細内訳 AS UU
		--				ON UM.売上番号 = UU.売上番号 
		--					AND UM.売上行番号 = UU.売上行番号
		--			LEFT JOIN TD見積 AS MH
		--				ON UH.見積番号 = MH.見積番号
		--		WHERE UH.請求日付 >= @iS集計日付
		--    			AND UH.請求日付 <= @iE集計日付
		--				--AND UH.担当者CD >= COALESCE(@iS担当者CD,UH.担当者CD)
		--				--AND UH.担当者CD <= COALESCE(@iE担当者CD,UH.担当者CD)
		--				--AND	MH.物件種別 = 2
		--	GROUP BY     UH.担当者CD, UH.得意先CD,CONVERT(CHAR(6),UH.請求日付,112)

		--	-----------------------------------
		--	--内装
		--	-----------------------------------
		--INSERT	INTO #TMP
		--		(担当者CD, 得意先CD, 物件種別区分, 年月, 原価金額, 売上金額)
		--	SELECT	UH.担当者CD,
		--			UH.得意先CD,
		--			物件種別区分 = 3,
		--			年月 = CONVERT(CHAR(6),UH.請求日付,112),
		--			SUM(CASE WHEN ISNULL(MH.物件種別,0) = 5 THEN UU.仕入金額 ELSE 0 END) AS 原価金額,
		--			SUM(CASE WHEN ISNULL(MH.物件種別,0) = 5 THEN UU.売上金額-UU.消費税額 ELSE 0 END) AS 税抜金額
		--		FROM	TD売上 AS UH
		--			INNER JOIN TD売上明細 AS UM
		--				ON UH.売上番号 = UM.売上番号 
		--			INNER JOIN TD売上明細内訳 AS UU
		--				ON UM.売上番号 = UU.売上番号 
		--					AND UM.売上行番号 = UU.売上行番号
		--			LEFT JOIN TD見積 AS MH
		--				ON UH.見積番号 = MH.見積番号
		--		WHERE UH.請求日付 >= @iS集計日付
		--    			AND UH.請求日付 <= @iE集計日付
		--				--AND UH.担当者CD >= COALESCE(@iS担当者CD,UH.担当者CD)
		--				--AND UH.担当者CD <= COALESCE(@iE担当者CD,UH.担当者CD)
		--				--AND	MH.物件種別 = 5
		--	GROUP BY     UH.担当者CD, UH.得意先CD,CONVERT(CHAR(6),UH.請求日付,112)

	--END データ作成----------------------------------------------------

		--初期日付セット
		SET	@wNENGETUCNT = @iS集計日付
		SET	@wCNT = 1

		DECLARE	@FIELD_ALL_T	VARCHAR(8000),
				@FIELD_KH		VARCHAR(8000)

		SET @FIELD = ''
		SET @FIELD_T = ''
		SET @FIELD_ALL_T = ''
		SET @FIELD_KH = ''
		
		WHILE	@iE集計日付 >= @wNENGETUCNT	BEGIN
			IF	@wCNT <> 1 BEGIN
				--
				SET @FIELD_ALL_T = @FIELD_ALL_T + ','
				SET @FIELD_T = @FIELD_T + ','
				SET @FIELD = @FIELD + ','
				SET @FIELD_KH = @FIELD_KH + ','
			END
			--全体計分
			SET	@FIELD_ALL_T = @FIELD_ALL_T + 'Z原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
			SET	@FIELD_ALL_T = @FIELD_ALL_T + 'Z売上金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'

			--担当者計分
			SET	@FIELD_T = @FIELD_T + 'Z原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
			SET	@FIELD_T = @FIELD_T + 'Z税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),DATEADD(YY,-1,@wNENGETUCNT),112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'

			--物件別明細分
			SET	@FIELD = @FIELD + '原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
			SET	@FIELD = @FIELD + '売上金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'

			SET	@wNENGETUCNT = DATEADD(M,1,@WNENGETUCNT)
			SET @wCNT = @wCNT + 1
		END

		--全体　前年・今年
		SET	@SQL = '
			SELECT	
					TMP_ALL_TOTAL.*
				FROM (
						SELECT	
								' + @FIELD_ALL_T + '
							FROM #TMP_ALL_TOTAL AS TMP
						) AS TMP_ALL_TOTAL
			'
		--SELECT @SQL
		EXEC (@SQL)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--担当者別トータルSQL
		SET	@SQL = '
			SELECT	
					TN.担当者名,
					TMP_TOTAL.*
				FROM (
						SELECT	TMP.担当者CD,
								' + @FIELD_T + '
							FROM #TMP_TOTAL AS TMP
							GROUP BY TMP.担当者CD
						) AS TMP_TOTAL
					INNER JOIN TM担当者 AS TN
						ON TMP_TOTAL.担当者CD = TN.担当者CD
				ORDER BY TMP_TOTAL.担当者CD
			'
		--SELECT @SQL
		EXEC (@SQL)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--担当者別得意先別月別売上推移表
	--SELECT	
	--		TN.担当者名,
	--		TK.得意先名1, TK.得意先名2,
	--		TMP.物件種別区分,
	--		COUNT(TMP.担当者CD) OVER(PARTITION BY TMP.担当者CD) AS 'Count',
	--		TMP.*
	--	FROM (
	--		SELECT TMP.担当者CD,
	--			TMP.得意先CD,
	--			TMP.物件種別区分,
	--			原価金額1 = SUM(CASE WHEN TMP.年月 = 201201 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額1 = SUM(CASE WHEN TMP.年月 = 201201 THEN TMP.売上金額 ELSE 0 END),
	--			原価金額2 = SUM(CASE WHEN TMP.年月 = 201202 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額2 = SUM(CASE WHEN TMP.年月 = 201202 THEN TMP.売上金額 ELSE 0 END),
	--			原価金額3 = SUM(CASE WHEN TMP.年月 = 201203 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額3 = SUM(CASE WHEN TMP.年月 = 201203 THEN TMP.売上金額 ELSE 0 END),
	--			原価金額4 = SUM(CASE WHEN TMP.年月 = 201204 THEN TMP.原価金額 ELSE 0 END),
	--			原価金額5 = SUM(CASE WHEN TMP.年月 = 201205 THEN TMP.原価金額 ELSE 0 END),
	--			原価金額6 = SUM(CASE WHEN TMP.年月 = 201206 THEN TMP.原価金額 ELSE 0 END)
	--		FROM #TMP AS TMP
	--		GROUP BY TMP.担当者CD, TMP.得意先CD, TMP.物件種別区分
	--		) AS TMP
	--			INNER JOIN TM担当者 AS TN
	--				ON TMP.担当者CD = TN.担当者CD
	--			INNER JOIN TM得意先 AS TK
	--				ON TMP.得意先CD = TK.得意先CD
	--	ORDER BY	TMP.担当者CD, TMP.得意先CD,	TMP.物件種別区分

	SET	@SQL = '
		SELECT	
				TN.担当者名,
				TK.得意先名1, TK.得意先名2,
				TMP.物件種別区分,
				--COUNT(TMP.担当者CD) OVER(PARTITION BY TMP.担当者CD) AS ''Count'',
				COUNT(TMP.担当者CD) OVER(PARTITION BY TMP.担当者CD,TMP.得意先CD) AS ''CountTOKU'',
				GP.CNTTOKU AS ''Count'',
				TMP.*
			FROM (
					SELECT	TMP.担当者CD,
							TMP.得意先CD,
							TMP.物件種別区分,
							' + @FIELD + '
						FROM #TMP AS TMP
						GROUP BY TMP.担当者CD, TMP.得意先CD, TMP.物件種別区分
					) AS TMP
				INNER JOIN TM担当者 AS TN
					ON TMP.担当者CD = TN.担当者CD
				INNER JOIN TM得意先 AS TK
					ON TMP.得意先CD = TK.得意先CD
				INNER JOIN (SELECT 担当者CD,COUNT(DISTINCT 得意先CD) AS CNTTOKU
								FROM #TMP GROUP BY 担当者CD
						) AS GP
					ON TMP.担当者CD = GP.担当者CD
			ORDER BY	TMP.担当者CD, TMP.得意先CD,	TMP.物件種別区分
		'
	--SELECT @SQL
	EXEC (@SQL)
	
	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	drop table #TMP_ALL_TOTAL
	drop table #TMP_TOTAL
	drop table #tmp

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
