/****** Object:  StoredProcedure [dbo].[usp_SE2500請求原価率表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE2500請求原価率表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE2500請求原価率表出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*****************************************************

名称	usp_SE2500請求原価率表出力

機能	出力した請求書の原価率一覧を見積番号を指定して作成

引数	

戻り値	
	
*****************************************************
	2022/12/08	oosawa		新設
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_SE2500請求原価率表出力]
	(
		@is請求日付		DATETIME,
		@ie請求日付		DATETIME,
		@i見積番号配列	VARCHAR(8000),
		--OUTPUT
		@RetDcnt 			INT 			OUTPUT,
		
		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

--SET	@is請求日付	= '2022/11/01'
--SET	@ie請求日付	= '2022/11/30'
--SET @i見積番号配列 = '164932,164931,164924'
----SET @i見積番号配列 = ''

	--------------------------------------------------
	--配列変数の設定
	--------------------------------------------------
	DECLARE	@CNT INT
	DECLARE @p1 INT, @p2 INT	--@p1:文字の先頭位置 @p2:カンマの位置
	DECLARE @TBL TABLE	--テーブル変数
		(No INT,見積番号 INT)	
		--(見積番号 INT)	

	--初期値
    	SET @p1 = 0
		SET @CNT = 1
	--値の長さより小さい間繰り返す
	WHILE LEN(@i見積番号配列) > @p1 BEGIN
		--@p1+1からカンマの位置を探す
		SET @p2 = CHARINDEX(',' , @i見積番号配列, @p1+1)
		--カンマが無い（最後）の場合、文字数+1をセット
		IF @p2 = 0  SET @p2 = LEN(@i見積番号配列)+1
		--テーブル変数に算出した値をセット
		INSERT @TBL(NO,見積番号) VALUES(@CNT,CONVERT(VARCHAR(8),SUBSTRING(@i見積番号配列, @p1+1,(@p2-1)-@p1)))
		--INSERT @TBL(見積番号) VALUES(CONVERT(VARCHAR(8),SUBSTRING(@i見積番号配列, @p1+1,(@p2-1)-@p1)))
		--検索位置の移動
		SET @p1 = @p2
		SET @CNT = @CNT +1
	END

	--select * from @TBL

	------------------------------------------------------
	--請求データの番号が存在しているかの確認
	------------------------------------------------------
	DECLARE	@A_CNT INT,
			@B_CNT INT

	SELECT @A_CNT = COUNT(A.見積番号)
		FROM (
			SELECT	SEH.見積番号, SEH.請求日付, MH.物件種別, MH.得意先CD, MH.見積件名,
					SUM(UM.売上金額) AS 売上金額, 
					SUM(UM.仕入金額) AS 仕入金額, 
					ROUND(SUM(UM.仕入金額) * 100 / SUM(UM.売上金額), 2) AS 原価率
				FROM	TD売上請求H AS SEH
					INNER JOIN	TD売上v2 AS UH
						ON SEH.見積番号 = UH.見積番号
					INNER JOIN	TD売上明細v2 AS UM
						ON UH.売上番号 = UM.売上番号
					INNER JOIN	TD見積 AS MH
						ON SEH.見積番号 = MH.見積番号
					--INNER JOIN @TBL AS TBL
					--	ON SEH.見積番号 = TBL.見積番号
				WHERE	SEH.請求日付 >= @is請求日付
					AND	SEH.請求日付 <= @ie請求日付
					AND	(SEH.見積番号 IN (SELECT 見積番号 FROM @TBL) or NOT EXISTS(SELECT 見積番号 FROM @TBL))
				GROUP BY	SEH.見積番号, MH.得意先CD, MH.見積件名, SEH.請求日付, MH.物件種別
			) AS A
	
	SELECT @B_CNT = COUNT(見積番号)
		FROM @TBL

	IF (@B_CNT <> 0) BEGIN
		IF (@A_CNT <> @B_CNT) BEGIN
		----指定した番号の数量とデータの数量が異なったら不正な番号があることになる
		--IF NOT EXISTS(SELECT SEH.見積番号 
		--			FROM	TD売上請求H AS SEH
		--				INNER JOIN	TD売上v2 AS UH
		--					ON SEH.見積番号 = UH.見積番号
		--				INNER JOIN	TD売上明細v2 AS UM
		--					ON UH.売上番号 = UM.売上番号
		--				INNER JOIN	TD見積 AS MH
		--					ON SEH.見積番号 = MH.見積番号
		--				--INNER JOIN @TBL AS TBL
		--				--	ON SEH.見積番号 = TBL.見積番号
		--			WHERE	SEH.請求日付 >= @is請求日付
		--				AND	SEH.請求日付 <= @ie請求日付
		--				AND	(SEH.見積番号 IN (SELECT 見積番号 FROM @TBL) or NOT EXISTS(SELECT 見積番号 FROM @TBL))
		--			GROUP BY	SEH.見積番号, MH.得意先CD, MH.見積件名, SEH.請求日付, MH.物件種別
		--) BEGIN
			SET @ST = -1
			SET @MSG = '不正な見積番号が指定されています。'
			GOTO EXIT_SP
		END
	END
	------------------------------------------------------
	--データ作成
	------------------------------------------------------
	SELECT	A.見積番号, A.請求日付, 
			A.物件種別, 
			A.得意先CD, 
			A.見積件名,
			A.売上金額,
			A.仕入金額,
			A.原価率
		FROM (
			SELECT	SEH.見積番号, SEH.請求日付, MH.物件種別, MH.得意先CD, MH.見積件名,
					SUM(UM.売上金額) AS 売上金額, 
					--SUM(UM.仕入金額) AS 仕入金額, 
					仕入金額 = SUM(CASE WHEN MSM.仕入先CD = '9999' THEN 0 ELSE UM.仕入金額 END),
					--ROUND(SUM(UM.仕入金額) * 100 / SUM(UM.売上金額), 2) AS 原価率
					ROUND(SUM(CASE WHEN MSM.仕入先CD = '9999' THEN 0 ELSE UM.仕入金額 END) * 100 / SUM(UM.売上金額), 2) AS 原価率
				FROM	TD売上請求H AS SEH
					INNER JOIN	TD売上v2 AS UH
						ON SEH.見積番号 = UH.見積番号
					INNER JOIN	TD売上明細v2 AS UM
						ON UH.売上番号 = UM.売上番号
					INNER JOIN	TD見積 AS MH
						ON SEH.見積番号 = MH.見積番号
					INNER JOIN	TD見積シートM AS MSM
						ON UM.見積明細連番 = MSM.見積明細連番
					--INNER JOIN @TBL AS TBL
					--	ON SEH.見積番号 = TBL.見積番号
				WHERE	SEH.請求日付 >= @is請求日付
					AND	SEH.請求日付 <= @ie請求日付
					AND	(SEH.見積番号 IN (SELECT 見積番号 FROM @TBL) or NOT EXISTS(SELECT 見積番号 FROM @TBL))
				GROUP BY	SEH.見積番号, MH.得意先CD, MH.見積件名, SEH.請求日付, MH.物件種別
				--GROUP BY	TBL.No,SEH.見積番号, MH.得意先CD, MH.見積件名, SEH.請求日付, MH.物件種別
				--ORDER BY    TBL.No
			) AS A
			LEFT JOIN @TBL AS TBL
				ON A.見積番号 = TBL.見積番号
			ORDER BY TBL.No,A.見積番号


	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
