/****** Object:  StoredProcedure [dbo].[usp_SE1400Wel請求明細]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE1400Wel請求明細]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE1400Wel請求明細]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE1400Wel請求明細

機能	ウエルシア請求明細を作成する


引数

戻り値

修正履歴
	2015/06/15	新規作成
	2015/10/27	oosawa		リース・物件別に
	2015/11/02	oosawa		Z103:販売割戻金、Z101・Z019:特別出精値引を表示
	2015/11/05	oosawa		部材のみの金額、施工のみの金額を表示
							レイアウト変更
	2015/11/10	oosawa		経理用レイアウト新設
	2015/11/25	oosawa		経理用を通常とリースを別シートにする
	2016/01/05	oosawa		TM製品との連結ミス（仕様NOがつながってなかった）
	2020/12/09	oosawa		店舗ＣＤ順に変更（竜馬・時田）xxxxxxxxxx
	2021/0902	oosawa		経理用修正
							リースを1シート、それ以外をウエルシア物件区分でシート分けする。
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE1400Wel請求明細]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@i書式区分		INT,		--2015/11/10 ADD
	--@iS得意先CD		VARCHAR(7),
	--@iE得意先CD		VARCHAR(7),

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

	IF	@i書式区分 = 1	BEGIN
		---------------------------
		--経理用請求明細
		---------------------------
		----SELECT	MH.ウエルシアリース区分, MH.ウエルシア物件区分CD, WBK.ウエルシア物件区分名,
		----		MH.納期S,MH.納入先CD, USH.見積番号, MH.納入先名1, MH.ウエルシア物件内容名, 
		----		USH.合計金額, USH.外税額, 税込金額 = USH.合計金額 + USH.外税額,
		----		Count = COUNT(USH.見積番号) OVER (PARTITION BY MH.ウエルシアリース区分)--2015/11/25 ADD
		----	FROM	TD売上請求H AS USH
		----		INNER JOIN TD見積 AS MH
		----			ON USH.見積番号 = MH.見積番号
		----		LEFT OUTER JOIN TMウエルシア物件区分 AS WBK
		----			ON MH.ウエルシア物件区分CD = WBK.ウエルシア物件区分CD
		----	WHERE	USH.請求日付 >= @iS集計日付
		----		AND	USH.請求日付 <= @iE集計日付
    	----		--AND	MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
    	----		--AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
    	----		AND	(MH.得意先CD = '2401')	
		----	ORDER BY	MH.ウエルシアリース区分, MH.ウエルシア物件区分CD, MH.納期S,MH.見積番号
		----	--ORDER BY	MH.ウエルシアリース区分,MH.納入先CD,MH.見積番号--2020/12/09 ADD

		--2021/09/02 ADD↓
		--リース区分がリースの場合、区分を9999にする。以外はウエルシア物件区分を使用する。
		SELECT	区分 = (CASE WHEN MH.ウエルシアリース区分 = 2 
								THEN 9999 
								ELSE CASE WHEN MH.ウエルシアリース区分 = 1
											THEN MH.ウエルシア物件区分CD
											ELSE 999--ウエルシアリース区分未入力
									END
							END), 
				MH.ウエルシアリース区分,MH.ウエルシア物件区分CD,
				WBK.ウエルシア物件区分名,
				MH.納期S,MH.納入先CD, USH.見積番号, MH.納入先名1, MH.ウエルシア物件内容名, 
				USH.合計金額, USH.外税額, 税込金額 = USH.合計金額 + USH.外税額,
				Count = COUNT(USH.見積番号) OVER (PARTITION BY (CASE WHEN MH.ウエルシアリース区分 = 2 
																		THEN 9999 
																		ELSE CASE WHEN MH.ウエルシアリース区分 = 1
																					THEN MH.ウエルシア物件区分CD
																					ELSE 999--ウエルシアリース区分未入力
																			END
																	END))--2015/11/25 ADD
			FROM	TD売上請求H AS USH
				INNER JOIN TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
				LEFT OUTER JOIN TMウエルシア物件区分 AS WBK
					ON MH.ウエルシア物件区分CD = WBK.ウエルシア物件区分CD
			WHERE	USH.請求日付 >= @iS集計日付
				AND	USH.請求日付 <= @iE集計日付
    			AND	(MH.得意先CD = '2401')	
			--ORDER BY	MH.ウエルシアリース区分, MH.ウエルシア物件区分CD, MH.納期S,MH.見積番号
			ORDER BY	(CASE WHEN MH.ウエルシアリース区分 = 2 
								THEN 9999 
								ELSE CASE WHEN MH.ウエルシアリース区分 = 1
											THEN MH.ウエルシア物件区分CD
											ELSE 999--ウエルシアリース区分未入力
									END
							END), 
							MH.納入先CD,MH.見積番号
			--ORDER BY	MH.ウエルシアリース区分,MH.納入先CD,MH.見積番号--2020/12/09 ADD
		--2021/09/02 ADD↑


		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END

	IF	@i書式区分 = 0	BEGIN
		---------------------------
		--物件別請求明細
		---------------------------
		--2015/11/02 ADD↓
		SELECT	MH.ウエルシアリース区分, MH.ウエルシア物件区分CD, WBK.ウエルシア物件区分名,
				MH.納期S,MH.納入先CD, USH.見積番号, MH.納入先名1, MH.ウエルシア物件内容名, 
				USH.合計金額, USH.外税額, 税込金額 = USH.合計金額 + USH.外税額,
				UH.部材費,
				UH.施工費,
				UH.販売割戻金,
				UH.特別出精値引,
				Count = COUNT(USH.見積番号) OVER (PARTITION BY MH.ウエルシアリース区分, MH.ウエルシア物件区分CD)
			FROM	TD売上請求H AS USH
				INNER JOIN (
								SELECT	UH.見積番号,
										--2015/11/05 ADD↓
										部材費 = SUM(CASE WHEN ISNULL(SH.費用区分,0) = 0 THEN UM.売上金額 ELSE 0 END),
										--部材費 = SUM(CASE WHEN NOT((UM.製品NO LIKE 'Z___')
										--		OR UM.製品NO IN ('Z500034','Z500035','Z500036','Z590096','Z599004','Z599006',
										--		'Z599008','Z599051','Z599052','Z599053','Z599055','Z599057',
										--		'Z599097','Z599099','Z599108','Z599116','Z5C0020','Z5HK050',
										--		'Z5HK060','Z5HK075','Z5HK080','Z5HK098','Z5HK100','Z5HK120',
										--		'Z5HK150','Z5HK180','Z5HK200','Z5HK240','Z5HK280','Z5HK300',
										--		'Z5HK350','Z5HK380','Z5HK400','Z5HK450','Z5HK480','Z5HK500',
										--		'Z5HK550','Z5HK580','Z5HK600','Z5KM030','Z5KM045','Z5KM060',
										--		'Z5KM075','Z5KM080','Z5KM098','Z5KM100','Z5KM120','Z5KM150',
										--		'Z5KM180','Z5KM200','Z5KM240','Z5KM280','Z5KM300','Z5KM350',
										--		'Z5KM380','Z5KM400','Z5KM450','Z5KM480','Z5KM500','Z5KM550',
										--		'Z5KM580','Z5KM600','Z5KM650','Z5KM680','Z5KM700','Z5KM750',
										--		'Z5KM780','Z5UP009','Z5UP010','Z5UP012','Z5UP015','Z5UP018',
										--		'Z5UP020','Z5UP025','Z5UP030','Z5UP038','Z5UP045','Z5UP060',
										--		'Z5UP075','Z5UP080','Z5UP098','Z5UP100','Z5UP120','Z5UP150',
										--		'Z5UP180','Z5UP200','Z5UP240','Z5UP280','Z5UP300','Z5UP350',
										--		'Z5UP380','Z572001','Z572002','Z572003','Z572004','Z572005',
										--		'Z572006','Z572007','Z572008','Z572009','Z572010','Z572011',
										--		'Z572012','Z572013','Z572014','Z572015','Z572016','Z572017',
										--		'Z572018','Z572019','Z572020','Z572021','Z572022','Z572023',
										--		'Z572024','Z572025','Z572026','Z572027','Z572028','Z572029',
										--		'Z572030','Z572031','Z572032','Z572033','Z572034','Z572035',
										--		'Z572036','Z572037','Z572038','Z572039','Z572040','Z572041',
										--		'Z572042','Z572043','Z572044','Z572045','Z572046','Z572047',
										--		'Z572048','Z572049','Z572050','Z599001','Z599002','Z599003',
										--		'Z599020','Z521100','Z521101','Z521102','Z521103','Z510001',
										--		'Z510002','Z510003','Z510004','Z000030','Z000037','Z000038',
										--		'Z000039','Z000046','Z000083','Z510001','Z510002','Z510003',
										--		'Z510004','Z600062','Z600063','Z544100','Z600104','Z600105',
										--		'Z532001','Z532002','Z532003','Z532004','Z532005','Z532006',
										--		'Z532007','Z532008','Z532009','Z532010','Z532011','Z532012',
										--		'Z532013','Z532014','Z532015','Z532016','Z532017','Z532018',
										--		'Z532019','Z532020','Z532021','Z532022','Z532023','Z532024',
										--		'Z532025','Z830000','Z531000','Z573200','Z573201','Z600045',
										--		'Z528001','Z528002','Z528003','Z528004','Z528005','Z528006',
										--		'Z528007','Z528008','Z528009','Z528010','Z528011','Z528012',
										--		'Z528013','Z528014','Z523001','Z523002','Z523003','Z523004',
										--		'Z523005','Z523006','Z523007','Z523008'))
										--	THEN UM.売上金額 ELSE 0 END),
										施工費 = SUM(CASE WHEN ISNULL(SH.費用区分,0) = 1 AND NOT(UM.製品NO IN ('Z019','Z101','Z103')) THEN UM.売上金額 ELSE 0 END),
										--施工費 = SUM(CASE WHEN (UM.製品NO LIKE 'Z___' AND NOT(UM.製品NO IN ('Z019','Z101','Z103')))
										--		OR UM.製品NO IN ('Z500034','Z500035','Z500036','Z590096','Z599004','Z599006',
										--		'Z599008','Z599051','Z599052','Z599053','Z599055','Z599057',
										--		'Z599097','Z599099','Z599108','Z599116','Z5C0020','Z5HK050',
										--		'Z5HK060','Z5HK075','Z5HK080','Z5HK098','Z5HK100','Z5HK120',
										--		'Z5HK150','Z5HK180','Z5HK200','Z5HK240','Z5HK280','Z5HK300',
										--		'Z5HK350','Z5HK380','Z5HK400','Z5HK450','Z5HK480','Z5HK500',
										--		'Z5HK550','Z5HK580','Z5HK600','Z5KM030','Z5KM045','Z5KM060',
										--		'Z5KM075','Z5KM080','Z5KM098','Z5KM100','Z5KM120','Z5KM150',
										--		'Z5KM180','Z5KM200','Z5KM240','Z5KM280','Z5KM300','Z5KM350',
										--		'Z5KM380','Z5KM400','Z5KM450','Z5KM480','Z5KM500','Z5KM550',
										--		'Z5KM580','Z5KM600','Z5KM650','Z5KM680','Z5KM700','Z5KM750',
										--		'Z5KM780','Z5UP009','Z5UP010','Z5UP012','Z5UP015','Z5UP018',
										--		'Z5UP020','Z5UP025','Z5UP030','Z5UP038','Z5UP045','Z5UP060',
										--		'Z5UP075','Z5UP080','Z5UP098','Z5UP100','Z5UP120','Z5UP150',
										--		'Z5UP180','Z5UP200','Z5UP240','Z5UP280','Z5UP300','Z5UP350',
										--		'Z5UP380','Z572001','Z572002','Z572003','Z572004','Z572005',
										--		'Z572006','Z572007','Z572008','Z572009','Z572010','Z572011',
										--		'Z572012','Z572013','Z572014','Z572015','Z572016','Z572017',
										--		'Z572018','Z572019','Z572020','Z572021','Z572022','Z572023',
										--		'Z572024','Z572025','Z572026','Z572027','Z572028','Z572029',
										--		'Z572030','Z572031','Z572032','Z572033','Z572034','Z572035',
										--		'Z572036','Z572037','Z572038','Z572039','Z572040','Z572041',
										--		'Z572042','Z572043','Z572044','Z572045','Z572046','Z572047',
										--		'Z572048','Z572049','Z572050','Z599001','Z599002','Z599003',
										--		'Z599020','Z521100','Z521101','Z521102','Z521103','Z510001',
										--		'Z510002','Z510003','Z510004','Z000030','Z000037','Z000038',
										--		'Z000039','Z000046','Z000083','Z510001','Z510002','Z510003',
										--		'Z510004','Z600062','Z600063','Z544100','Z600104','Z600105',
										--		'Z532001','Z532002','Z532003','Z532004','Z532005','Z532006',
										--		'Z532007','Z532008','Z532009','Z532010','Z532011','Z532012',
										--		'Z532013','Z532014','Z532015','Z532016','Z532017','Z532018',
										--		'Z532019','Z532020','Z532021','Z532022','Z532023','Z532024',
										--		'Z532025','Z830000','Z531000','Z573200','Z573201','Z600045',
										--		'Z528001','Z528002','Z528003','Z528004','Z528005','Z528006',
										--		'Z528007','Z528008','Z528009','Z528010','Z528011','Z528012',
										--		'Z528013','Z528014','Z523001','Z523002','Z523003','Z523004',
										--		'Z523005','Z523006','Z523007','Z523008')
										--	THEN UM.売上金額 ELSE 0 END),
										--2015/11/05 ADD↑
										販売割戻金 = SUM(CASE WHEN UM.製品NO = 'Z103' THEN UM.売上金額 ELSE 0 END), 
										特別出精値引 = SUM(CASE WHEN UM.製品NO IN ('Z101','Z019') THEN UM.売上金額 ELSE 0 END)
									FROM TD売上v2 AS UH
										INNER JOIN TD売上明細v2 AS UM
											ON UH.売上番号 = UM.売上番号
										--2015/12/23 ADD↓
										LEFT JOIN TM製品 AS SH
											ON UM.製品NO = SH.製品NO
											AND UM.仕様NO = SH.仕様NO--2016/01/05 ADD
										--2015/12/23 ADD↑
									GROUP BY UH.見積番号
							) AS UH
								ON USH.見積番号 = UH.見積番号
				INNER JOIN TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
				LEFT JOIN TMウエルシア物件区分 AS WBK
					ON MH.ウエルシア物件区分CD = WBK.ウエルシア物件区分CD
			WHERE	USH.請求日付 >= @iS集計日付
    			AND	USH.請求日付 <= @iE集計日付
    			--AND	MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
    			--AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
    			AND	(MH.得意先CD = '2401')	
			ORDER BY	MH.ウエルシアリース区分, MH.ウエルシア物件区分CD, MH.納期S,MH.見積番号
		--2015/11/02 ADD↑

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
