/****** Object:  StoredProcedure [dbo].[usp_HD0703UPD売上]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0703UPD売上]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0703UPD売上]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================
	 usp_HD0703UPD売上

	機能:	
		売上情報・売上明細情報を登録する。
		

※小数部がある単価で客在での出力をすると四捨五入の関係で金額が多くなる！！！
 =============================================
	2014/10/02	oosawa		新設
	2015/08/11	oosawa		TD請求売上を削除する。
 =============================================*/
CREATE PROCEDURE [dbo].[usp_HD0703UPD売上]
	(
	@i売上番号 		INT,
	@i見積番号		INT,
	@i売上日付		DATETIME,
	
	--仕入明細用
	@i合計金額		MONEY,
	@i税抜金額		MONEY,
	@i外税対象額 	MONEY,
	@i外税額		MONEY,
	--@i支払年月日 	DATETIME,
	--@i支払締日 		SMALLINT,
	--@i支払更新FLG	SMALLINT,
	@i税集計区分 	SMALLINT,
	@i売上端数		SMALLINT,
	@i消費税端数 	SMALLINT,
	@i得意先CD		VARCHAR(4),--マスタ更新用

	--OUTPUT
	@RetNo		INT			OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	DECLARE 	@w仕入番号 	INT

	--売上明細用カーソル変数
	DECLARE	
			@c売上明細行番号 	INT,
			@c見積明細連番		INT,
			@c見積明細区分 	VARCHAR (1),
			@c伝票区分 	VARCHAR (1),
			@c特別区分 	VARCHAR (2),
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c売上数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c売上単価 	MONEY,
			@c仕入単価 	MONEY,
			@c売上金額 	MONEY ,
			@c仕入金額 	MONEY ,
			@c定価 	MONEY,

			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c製品区分 	SMALLINT


	--カーソル行数
	DECLARE		@ROWS売上明細	INT

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--税率取得
	DECLARE	@TAX		MONEY
	SET	@TAX = dbo.fn_GetTax(@i売上日付)

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

	--------------------------------------------------
	--売上ヘッダー部を登録します。
	--------------------------------------------------
	IF	EXISTS (SELECT 売上番号 FROM TD売上v2
							WHERE 	売上番号 = @i売上番号)  BEGIN
		-----<更新>-----

		--------------------------------------------------
		--仕入データの更新
		--------------------------------------------------

		----旧情報のHOLD--------------------------
		--SELECT	@w旧売上日付 = 売上日付,
		--		@w旧請求先ID = 請求先ID,
		--		@w旧請求先店舗ID = 請求先店舗ID
		--	FROM	TD売上
		--	WHERE	売上連番	= @i売上連番

		--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		------------------------------------------

		--------------------------------------------------
		--売上データの更新
		--------------------------------------------------
		UPDATE	TD売上v2
			SET	
				--売上番号		=@i売上番号,
				見積番号		=@i見積番号,
				売上日付		=@i売上日付,
				合計金額		=@i合計金額,
				税抜金額		=@i税抜金額,
				外税対象額		=@i外税対象額,
				外税額			=@i外税額,
				税集計区分		=@i税集計区分,
				売上端数		=@i売上端数,
				消費税端数		=@i消費税端数,
				--初期登録日		= MT.初期登録日,
				登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
		WHERE	売上番号 = @i売上番号
		
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END ELSE BEGIN

		--仕入番号を取得します
		EXEC	@ST = usp_GetCounter '売上番号', '', @i売上番号 OUTPUT

		--------------------------------------------------
		--売上データの新規
		--------------------------------------------------
		INSERT	TD売上v2
			(
				売上番号, 
				見積番号, 売上日付,
				合計金額, 税抜金額, 外税対象額, 
				外税額, 
				税集計区分, 売上端数, 消費税端数, 
				初期登録日, 登録変更日
			) 
 		VALUES 
			(
				@i売上番号, 
				@i見積番号, @i売上日付,
				@i合計金額, @i税抜金額, @i外税対象額, 
				@i外税額, 
				@i税集計区分, @i売上端数, @i消費税端数, 
				CONVERT(CHAR(10),GETDATE(),111), CONVERT(CHAR(10),GETDATE(),111)
			)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

			------------------------------------------------------
			--見積Ｄ[売上日]を更新する	※初回のみ
			------------------------------------------------------
			IF  EXISTS (SELECT 売上日付 FROM TD見積 
						WHERE 	売上日付 IS NULL  
							AND 	見積番号 = @i見積番号)  BEGIN
		
				UPDATE 	TD見積
					--SET	売上日付 = CONVERT(CHAR(10),GETDATE(),111)
					SET	売上日付 = @i売上日付							--2013/11/21 ADD
					WHERE 	見積番号 = @i見積番号
	
				SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			END 

	END--	EXISTS (SELECT 売上番号 FROM TD売上v2 WHERE 	売上番号 = @i売上番号)  BEGIN

	--------------------------------------------------
	--得意先マスタの最終使用日の更新
	--------------------------------------------------	
	UPDATE	TM得意先
		SET	最終使用日 = CONVERT(CHAR(10),GETDATE(),111)
		WHERE 得意先CD = @i得意先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--------------------------------------------------
	--売上明細部を登録します。
	--------------------------------------------------
	--売上明細の削除
	DELETE FROM 	TD売上明細V2
		WHERE 	売上番号 = @i売上番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------売上明細内訳の削除
	----DELETE FROM 	TD売上明細内訳V2
	----	WHERE 	売上番号 = @i売上番号

	----SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--------------------------------------------------
	--売上明細の更新
	--------------------------------------------------
	DECLARE	csr売上明細		CURSOR	LOCAL  FORWARD_ONLY FOR 
			SELECT	売上明細行番号,見積明細連番,
					見積明細区分,伝票区分,特別区分,
					SP区分,PC区分,製品NO,仕様NO,
					ベース色,漢字名称,
					W,D,H,D1,D2,H1,H2,
					エラー内容,
					売上数量,
					単位名,
					売上単価,仕入単価,
					売上金額,仕入金額,
					定価,
					売上税区分,
					消費税額,
					製品区分
				FROM	#Tmp売上明細
				ORDER BY	売上明細行番号


	OPEN	csr売上明細

	SELECT	@ST = @@ERROR, @ROWS売上明細 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS売上明細 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END
	--カーソルのREAD
	FETCH NEXT FROM		csr売上明細
		INTO	
				@c売上明細行番号,@c見積明細連番,
				@c見積明細区分,@c伝票区分,@c特別区分,
				@cSP区分,@cPC区分,@c製品NO,@c仕様NO,
				@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,
				@c売上数量,
				@c単位名,
				@c売上単価,@c仕入単価,
				@c売上金額,@c仕入金額,
				@c定価,
				@c売上税区分,
				@c消費税額,
				@c製品区分

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
	WHILE (@@FETCH_STATUS <> -1)	BEGIN				--FETCH ステートメントが失敗したか、または行が結果セットに収まりません。
		IF (@@FETCH_STATUS <> -2)	BEGIN			--取り出した行がありません。

			-----<新規>-----
			INSERT	TD売上明細V2
			(
				売上番号,
				売上明細行番号,見積明細連番,
				見積明細区分,伝票区分,特別区分,
				SP区分,PC区分,製品NO,仕様NO,
				ベース色,漢字名称,
				W,D,H,D1,D2,H1,H2,
				エラー内容,
				売上数量,
				単位名,
				売上単価,仕入単価,
				売上金額,仕入金額,
				定価,
				売上税区分,
				消費税額,
				製品区分,
				初期登録日,登録変更日
			)
			VALUES
			(
				@i売上番号,
				@c売上明細行番号,@c見積明細連番,
				@c見積明細区分,@c伝票区分,@c特別区分,
				@cSP区分,@cPC区分,@c製品NO,@c仕様NO,
				@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,
				@c売上数量,
				@c単位名,
				@c売上単価,@c仕入単価,
				@c売上金額,@c仕入金額,
				@c定価,
				@c売上税区分,
				@c消費税額,
				@c製品区分,
				CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111)
			)

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
			
			--仕分部分で計算しても客在・転用分が含まれていない
			--どっちにしろ、小数部がある金額（四捨五入の結果）の場合は、ずれてしまう。
			-------------------------
			--------売上明細仕分　作成
			-------------------------

			--------特別区分ZAは仕分番号にZAを入れる
			--------TD見積シート内訳でループ？？？30数量ゼロなし
			------INSERT INTO     TD売上明細内訳V2
			------				([売上番号]
			------				,[売上明細行番号]
			------				,[仕分番号]
			------				,[見積明細連番]
			------				,[仕分数量]
			------				,[売上単価]
			------				,[仕入単価]
			------				,[売上金額]
			------				,[仕入金額]
			------				,[消費税額]
			------				,[初期登録日]
			------				,[登録変更日])
			------	SELECT	@i売上番号,@c売上明細行番号,
			------			仕分番号 = RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2),
			------			MSU.見積明細連番,MSU.数量,
			------			@c売上単価,
			------			@c仕入単価,
			------			売上金額 = dbo.fn_CutFraction(@i売上端数,MSU.数量 * @c売上単価,@decimalPoint),
			------			仕入金額 = dbo.fn_Round(MSU.数量 * @c仕入単価,@decimalPoint),
			------			--消費税額 = 0,--最後に計算
			------			内税額 = (CASE WHEN @c売上税区分 = 1 
			------								THEN dbo.fn_CutFraction(@i消費税端数, ISNULL(dbo.fn_CutFraction(@i売上端数,MSU.数量 * @c売上単価,@decimalPoint) / (100 + @TAX) * @TAX,0),@decimalPoint)
			------								ELSE 0 END),
			------			CONVERT(CHAR(10),GETDATE(),111),
			------			CONVERT(CHAR(10),GETDATE(),111)
						
			------		FROM	TD見積シート内訳 AS MSU
			------			INNER JOIN TD見積シートM AS MS
			------				ON MSU.見積明細連番 = MS.見積明細連番
			------		WHERE	MSU.見積明細連番 = @c見積明細連番
			------			AND	MSU.数量 <> 0
				

		END--(IF @@FETCH_STATUS <> -2)

		--カーソルのREAD
		FETCH NEXT FROM		csr売上明細
			INTO
					@c売上明細行番号,@c見積明細連番,
					@c見積明細区分,@c伝票区分,@c特別区分,
					@cSP区分,@cPC区分,@c製品NO,@c仕様NO,
					@cベース色,@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容,
					@c売上数量,
					@c単位名,
					@c売上単価,@c仕入単価,
					@c売上金額,@c仕入金額,
					@c定価,
					@c売上税区分,
					@c消費税額,
					@c製品区分

	END--	WHILE (@@FETCH_STATUS <> -1)

	----------------------------------
	--合計の再計算
	--必要？
	----------------------------------
	----------SELECT * FROM TD売上明細V2

	----------UPDATE	TD売上明細V2
	----------		SET	売上金額 = UMU.売上金額合計,
	----------			仕入金額 = UMU.仕入金額合計,
	----------			消費税額 = UMU.消費税額合計
	----------	FROM	TD売上明細V2 AS UM
	----------		INNER JOIN (
	----------					SELECT	売上番号, 売上明細行番号,
	----------							売上金額合計 = SUM(売上金額),
	----------							仕入金額合計 = SUM(仕入金額),
	----------							消費税額合計 = SUM(消費税額)
	----------						FROM	TD売上明細内訳V2 AS UMU
	----------						GROUP BY	売上番号, 売上明細行番号
	----------					) AS UMU
	----------				ON UMU.売上番号 = UM.売上番号
	----------				AND UMU.売上明細行番号 = UM.売上明細行番号
	----------	WHERE	UM.売上番号 = @i売上番号

	----------SELECT * FROM TD売上明細V2
	----------SELECT * FROM TD売上V2

	----------UPDATE	TD売上v2
	----------		SET	合計金額 = 売上外税対象額 + 売上内税対象額
	----------					 + 返品外税対象額 + 返品内税対象額
	----------					 + 訂正外税対象額 + 訂正内税対象額,
	----------			税抜金額 = 売上外税対象額 + 売上内税対象額 - 売上内税額 
	----------					 + 返品外税対象額 + 返品内税対象額 - 返品内税額
	----------					 + 訂正外税対象額 + 訂正内税対象額 - 訂正内税額,
	----------			外税対象額 = 売上外税対象額
	----------					   + 返品外税対象額,
	----------			外税額 = CASE WHEN TD売上V2.税集計区分 = 0
	----------								 THEN dbo.fn_CutFraction(消費税端数,(売上外税対象額 + 返品外税対象額) / 100 * @TAX,@decimalPoint)
	----------						WHEN TD売上V2.税集計区分 = 1 THEN 0
	----------						WHEN TD売上V2.税集計区分 = 2 THEN 明細消費税合計
	----------				   END
	----------	FROM TD売上V2
	----------		INNER JOIN
	----------			(
	----------				SELECT 	UH.売上番号, 
	----------						売上外税対象額 = SUM(ISNULL((CASE WHEN UM.伝票区分 = '1' AND UM.売上税区分 = 0 THEN UMU.売上金額 END),0)),
	----------						売上内税対象額 = SUM(ISNULL((CASE WHEN UM.伝票区分 = '1' AND UM.売上税区分 = 1 THEN UMU.売上金額 END),0)),
	----------						売上内税額 = SUM(dbo.fn_CutFraction(UH.消費税端数, ISNULL((CASE WHEN UM.伝票区分 = '1' AND UM.売上税区分 = 1 THEN UMU.売上金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
	----------						返品外税対象額 = SUM(ISNULL((CASE WHEN UM.伝票区分 = '2' AND UM.売上税区分 = 0 THEN UMU.売上金額 END),0)),
	----------						返品内税対象額 = SUM(ISNULL((CASE WHEN UM.伝票区分 = '2' AND UM.売上税区分 = 1 THEN UMU.売上金額 END),0)),
	----------						返品内税額 = SUM(dbo.fn_CutFraction(UH.消費税端数, ISNULL((CASE WHEN UM.伝票区分 = '2' AND UM.売上税区分 = 1 THEN UMU.売上金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
	----------						訂正外税対象額 = SUM(ISNULL((CASE WHEN UM.伝票区分 = '3' AND UM.売上税区分 = 0 THEN UMU.売上金額 END),0)),
	----------						訂正内税対象額 = SUM(ISNULL((CASE WHEN UM.伝票区分 = '3' AND UM.売上税区分 = 1 THEN UMU.売上金額 END),0)),
	----------						訂正内税額 = SUM(dbo.fn_CutFraction(UH.消費税端数, ISNULL((CASE WHEN UM.伝票区分 = '3' AND UM.売上税区分 = 1 THEN UMU.売上金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
	----------						明細消費税合計 = SUM(UMU.消費税額)
	----------					FROM	TD売上V2 AS UH
	----------						INNER JOIN TD売上明細V2 AS UM
	----------							ON UH.売上番号 = UM.売上番号
	----------						INNER JOIN TD売上明細内訳V2 AS UMU
	----------							ON UM.売上番号 = UMU.売上番号
	----------							AND UM.売上明細行番号 = UMU.売上明細行番号
	----------					GROUP BY	UH.売上番号
	----------			) AS UMU
	----------				ON TD売上V2.売上番号 = UMU.売上番号
	----------		WHERE	TD売上V2.売上番号 = @i売上番号

	----------SELECT * FROM TD売上V2
	----------------------------------
			

	--------------------------------------------------
	--請求情報を削除する。
	--------------------------------------------------	
	DELETE FROM TD売上請求H WHERE 見積番号 = @i見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	


	--------------------------------------------------
	--獲得売上番号を返す。
	--------------------------------------------------	
	SET @RetNo = @i売上番号

EXIT_SP:
	IF( CURSOR_STATUS('local', 'csr売上明細' ) >= 0 )	BEGIN
		CLOSE	csr売上明細
		DEALLOCATE	csr売上明細
	END
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST


GO
