/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor品群]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor品群]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor品群]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_ChkDelFor品群

機能	品群マスタメンテ[削除]のデータ存在チェック

	品群構成Ｍ・製品Ｍ・ユニットＭ・
	顧客テンプレートＭ・見積シートM・発注明細Ｄ・仕入明細内訳Ｄ・売上明細内訳Ｄ

引数	品群NO

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor品群]
	(
		@i品群NO	CHAR(7),
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--品群構成Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(親品群NO)
		FROM 		TM品群構成
		WHERE 	(親品群NO = @i品群NO)
			OR 	(子品群NO = @i品群NO AND 子仕様NO = '')

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[品群構成マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--製品Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(製品NO)
		FROM 		TM製品
		WHERE 	(グループ = @i品群NO)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[製品マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--ユニットＭチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(ユニットNO)
		FROM 		TMユニット
		WHERE 	(品群NO = @i品群NO)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[ユニットマスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--顧客テンプレートＭチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(PC区分)
		FROM 		TM顧客テンプレート
		WHERE	(製品NO = @i品群NO)
			AND 	(製品区分 = 1)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[顧客テンプレートマスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--見積シートMチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号)
		FROM 		TD見積シートM
		WHERE	(製品NO = @i品群NO)
			AND 	(製品区分 = 1)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[見積明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

/*2003.12.05.DEL
	--------------------------
	--発注明細Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(発注番号)
		FROM 		TD発注明細
		WHERE	(製品NO = @i品群NO)
			AND 	(製品区分 = 1)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[発注明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
*/
	--------------------------
	--仕入明細内訳Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入番号)
		FROM 		TD仕入明細内訳
		WHERE	(製品NO = @i品群NO)
			AND 	(製品区分 = 1)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

	--------------------------
	--売上明細内訳Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(売上番号)
		FROM 		TD売上明細内訳
		WHERE	(製品NO = @i品群NO)
			AND 	(製品区分 = 1)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[売上明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST

GO
