/****** Object:  StoredProcedure [dbo].[usp_TN2005UPDチーム別棚卸EXL統合]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2005UPDチーム別棚卸EXL統合]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2005UPDチーム別棚卸EXL統合]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN2005UPDチーム別棚卸EXL統合
	

	機能:	
		システム棚卸情報とEXCEL棚卸情報を統合する。

 =============================================
	2017/02/07	oosawa	新規作成
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TN2005UPDチーム別棚卸EXL統合]
	(
	
	@i棚卸番号		INT,

	--@oMODE			VARCHAR(10)		OUTPUT,--登録・修正
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	DECLARE	@w期首日付		DATETIME

	DECLARE	@w前回棚卸日付	DATETIME,
			@w開始日付		DATETIME

	--棚卸ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			--棚卸日付		DATETIME,
			--チームCD		INT		NOT NULL,
			--得意先CD		VARCHAR(4),
			棚卸明細連番	INT DEFAULT(0),
			枝番			INT	DEFAULT(0),
			KEYCODE			VARCHAR(40),
			製品NO			CHAR(12),
			仕様NO			CHAR(10),
			漢字名称		VARCHAR(40),
			--仕入先CD		VARCHAR(4),
			算出数量		MONEY	DEFAULT(0),
			棚卸数量		MONEY	DEFAULT(0),

			--棚Dの単価、なければ他のD情報を付加？
			単価			MONEY	DEFAULT(0),
			金額			MONEY	DEFAULT(0),
			明細備考		VARCHAR(40),
			
			--前回棚卸数		MONEY	DEFAULT(0),
			--出庫合計数		MONEY	DEFAULT(0),
			--入庫合計数		MONEY	DEFAULT(0),
			--調整出庫合計数	MONEY	DEFAULT(0),
			--調整入庫合計数	MONEY	DEFAULT(0),
			----今回棚卸数		MONEY	DEFAULT(0),

			------前回棚卸金額	MONEY	DEFAULT(0),						
			------売上合計金額	MONEY	DEFAULT(0),
			------仕入合計金額	MONEY	DEFAULT(0),
			--出庫合計金額	MONEY	DEFAULT(0),
			--入庫合計金額	MONEY	DEFAULT(0),
			--調整出庫合計金額	MONEY	DEFAULT(0),
			--調整入庫合計金額	MONEY	DEFAULT(0),
			
			----今回棚卸数×棚卸単価で算出
			----今回棚卸金額	MONEY	DEFAULT(0),
			----仕入税区分		SMALLINT	DEFAULT(0),
			----消費税額		MONEY	DEFAULT(0)

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


		-------------------------------------------------
		--棚卸　抽出
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
				(
					--棚卸日付,
					--チームCD,
					--得意先CD,
					棚卸明細連番,
					KEYCODE,
					製品NO,
					仕様NO,
					漢字名称,
					--仕入先CD,
					--現在庫数,
					--棚卸数
					算出数量,
					棚卸数量,
					単価,
					金額,
					明細備考
				)
			SELECT	
					--TS.棚卸日付,
					--TS.チームCD,
					--TS.得意先CD,
					TSM.棚卸明細連番,
					KEYCODE = CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END,
					TSM.製品NO,
					TSM.仕様NO,
					TSM.漢字名称,
					--TSM.仕入先CD,
					TSM.算出数量, 
					TSM.棚卸数量,
					TSM.棚卸単価,
					TSM.棚卸金額,
					TSM.明細備考
				FROM TD棚卸 AS TS(NOLOCK)
					INNER JOIN TD棚卸明細 AS TSM(NOLOCK)
						ON TS.棚卸番号 = TSM.棚卸番号	
					LEFT JOIN TM製品 AS SE(NOLOCK)
						ON TSM.製品NO = SE.製品NO
						AND TSM.仕様NO = SE.仕様NO
				WHERE	TS.棚卸番号 = @i棚卸番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--EXCEL取り込み分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--仕入先が3150:三和倉庫の仕入先D
					SELECT	--TK.チームCD,
							--SM.仕入日付,
							--MH.得意先CD,
							枝番 = MIN(EXL.枝番),
							KEYCODE = CASE WHEN EXL.製品NO='' THEN 漢字名称 ELSE EXL.製品NO END,
							EXL.製品NO,
							EXL.仕様NO,
							漢字名称 = MAX(EXL.漢字名称),
							棚卸数量 = SUM(EXL.棚卸数量),
							棚卸単価 = MAX(EXL.棚卸単価),
							棚卸金額 = SUM(EXL.棚卸数量)* MAX(EXL.棚卸単価)
						FROM	#TmpEXL棚卸明細 AS EXL(NOLOCK)
						GROUP BY (CASE WHEN EXL.製品NO='' THEN 漢字名称 ELSE EXL.製品NO END),EXL.製品NO,EXL.仕様NO
				) AS B
			ON  (
					A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.棚卸数量 = A.棚卸数量 + B.棚卸数量,
						A.単価 = CASE WHEN A.単価 < B.棚卸単価 THEN B.棚卸単価 ELSE A.単価 END,
						A.金額 = (A.棚卸数量 + B.棚卸数量)
								*(CASE WHEN A.単価 < B.棚卸単価 THEN B.棚卸単価 ELSE A.単価 END)
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							--チームCD,
							--得意先CD,
							枝番,
							KEYCODE,
							製品NO,
							仕様NO,
							漢字名称,
							棚卸数量,
							単価,
							金額
						)
					VALUES
						(
							--@i棚卸日付,
							--B.チームCD,
							--B.得意先CD,
							B.枝番,
							B.KEYCODE,
							B.製品NO,
							B.仕様NO,
							B.漢字名称,
							B.棚卸数量,
							B.棚卸単価,
							B.棚卸金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--出力
		------------------------------------------------
		SELECT	棚卸番号 = @i棚卸番号,
				--@i棚卸日付,
				--TMP.チームCD, 
				----TMP.得意先CD,
				TMP.棚卸明細連番,
				TMP.枝番, 
				TMP.製品NO,
				TMP.仕様NO, 
				漢字名称 = COALESCE(TMP.漢字名称,SE.漢字名称),
				SE.W,SE.D,SE.H,
				
				TMP.算出数量,
				TMP.棚卸数量,
				棚卸単価 = TMP.単価,
				SE.仕入税区分,
				消費税額 = 0,--仮
				TMP.明細備考
			FROM #TMP_TOTAL AS TMP
				LEFT JOIN TM製品 AS SE(NOLOCK)
					ON TMP.製品NO = SE.製品NO
					AND TMP.仕様NO = SE.仕様NO
			ORDER BY	ISNULL(枝番,9999999), TMP.製品NO, TMP.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:

	DROP TABLE #TMP_TOTAL

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST

GO
