/****** Object:  StoredProcedure [dbo].[usp_HS0103UPD仕入]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HS0103UPD仕入]
GO
/****** Object:  StoredProcedure [dbo].[usp_HS0103UPD仕入]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_HS0103UPD仕入

	機能:	
		仕入情報・仕入明細情報・仕入明細内訳情報を登録する。

 =============================================
	2003/09/08	kawamura
	2003/09/08	kawamura
	2003/10/17	kawamura	得意先情報・見積引当数追加
	2003/11/01 	kawamura 	伝票区分をVARCHAR(1)に変更
	2013/03/15	oosawa		部署・販売用コード追加
	2013/11/04	oosawa		仕分レベル削除に伴う修正
	
	2014/10/03	oosawa		社内伝の売上日付セットをやめる
	
	2015/05/15	oosawa		チェックを追加
	2024/03/25	oosawa		売上仕入単価マスタ更新
	2024/03/26	oosawa		原価更新機能追加
 	2024/05/13	oosawa		U区分追加 更新
	2024/06/11	oosawa		作業区分CD　更新
	2024/07/15	oosawa		営業が売上仕入単価マスタの更新をするのでこちらでは登録をしない
	2024/09/24	oosawa		売上も作成するように変更
							（社内伝・請求済み・化粧品在庫・クレーム・施工・人工は除く）
							※仕入月変更時は未対応（旧日付分と新日付分の売上を再集計しないといけない）
=============================================*/
CREATE PROCEDURE [dbo].[usp_HS0103UPD仕入]
	(
	@i仕入番号 		INT,
	@i見積番号		INT,
	@i仕入先CD 	 	VARCHAR(4),
	@i配送先CD 		VARCHAR(2),
	@i得意先CD 		VARCHAR(4),
	
	--仕入明細用
	@i仕入日付		DATETIME,
	@i支払日付		DATETIME,
	@i仕入先名1		VARCHAR(28),
	@i仕入先名2		VARCHAR(28),
	@i配送先名1		VARCHAR(28),
	@i配送先名2		VARCHAR(28),
	@i合計金額		MONEY,
	@i税抜金額		MONEY,
	@i外税対象額 	MONEY,
	@i外税額		MONEY,
	--@i支払年月日 	DATETIME,
	@i支払締日 		SMALLINT,
	--@i支払更新FLG	SMALLINT,
	@i税集計区分 	SMALLINT,
	@i仕入端数		SMALLINT,
	@i消費税端数 	SMALLINT,

	--OUTPUT
	@RetNo		INT			OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	DECLARE 	@w仕入番号 	INT

	--仕入明細内訳用カーソル変数
	DECLARE	
			@cCHECK		SMALLINT,	--2015/05/15 ADD
			@c仕入明細行番号 	INT,
			@c見積明細連番		INT,
			@c見積行番号 		INT,
			@c伝票区分 	VARCHAR (1),
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
			@c仕入数量 	MONEY,
			@c発注数 	MONEY,
			@c見積引当数 	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c仕入税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c製品区分 	SMALLINT,
			--2024/03/25 ADD↓
			@cM区分		VARCHAR(1),
			@c売上単価 	MONEY,
			@c費用区分	INT,
			@cサイズ変更区分	INT
			--2024/03/25 ADD↑
			,@cU区分		VARCHAR(1)--2024/05/13 ADD
			,@c作業区分CD	INT--2024/06/11 ADD
	--カーソル行数
	DECLARE		@ROWS仕入明細内訳	INT

	DECLARE	@w旧仕入日付	DATETIME--2024/09/26 ADD
	SET @w旧仕入日付 = NULL--2024/09/26 ADD

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑
	
	--------------------------------------------------
	--仕入ヘッダー部を登録します。
	--------------------------------------------------
	IF	EXISTS (SELECT 仕入番号 FROM TD仕入明細 
							WHERE 	仕入番号 = @i仕入番号)  BEGIN
		-----<更新>-----

		--------------------------------------------------
		--仕入データの更新
		--------------------------------------------------

		----旧情報のHOLD--------------------------
		--SELECT	@w旧売上日付 = 売上日付,
		--		@w旧請求先ID = 請求先ID,
		--		@w旧請求先店舗ID = 請求先店舗ID
		--	FROM	TD売上
		--	WHERE	売上連番	= @i売上連番

		--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		------------------------------------------

		--旧仕入日付取得--2024/09/26 ADD
		SELECT @w旧仕入日付 = 仕入日付
			FROM TD仕入明細 
			WHERE 	仕入番号 = @i仕入番号
		------------------------------------------


		UPDATE	TD仕入
			SET	
				--仕入番号		= @i仕入番号,
				--見積番号		= MT.見積番号,
				担当者CD		= MT.担当者CD,
				見積件名		= MT.見積件名,
				得意先CD		= MT.得意先CD,
				得意先名1		= MT.得意先名1,
				得意先名2		= MT.得意先名2,
				得TEL			= MT.得TEL,
				得FAX			= MT.得FAX,
				得意先担当者	= MT.得意先担当者,
				納入得意先CD	= MT.納入得意先CD,
				納入先CD		= MT.納入先CD,
				納入先名1		= MT.納入先名1,
				納入先名2		= MT.納入先名2,
				納入先郵便番号	= MT.郵便番号,
				納入先住所1		= MT.住所1,
				納入先住所2		= MT.住所2,
				納入先TEL		= MT.納TEL,
				納入先FAX		= MT.納FAX,
				納入先担当者	= MT.納入先担当者,
				現場名			= MT.現場名,
				大小口区分		= MT.大小口区分,
				--初期登録日		= MT.初期登録日,
				登録変更日		= CONVERT(CHAR(10),GETDATE(),111),
				部署CD			= MT.部署CD,
				販売先得意先CD	= MT.販売先得意先CD,
				販売先得意先名1 = MT.販売先得意先名1,
				販売先得意先名2 = MT.販売先得意先名2,
				販売先納得意先CD	= MT.販売先納得意先CD,
				販売先納入先CD	= MT.販売先納入先CD,
				販売先納入先名1	= MT.販売先納入先名1,
				販売先納入先名2	= MT.販売先納入先名2
		FROM	TD仕入 AS SH
			INNER JOIN TD見積 AS MT
				ON SH.見積番号 = MT.見積番号
		WHERE 	SH.仕入番号 = @i仕入番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------------
		--仕入明細データの更新
		--------------------------------------------------
		UPDATE	TD仕入明細
			SET	
				--仕入番号		=@i仕入番号,
				仕入先CD		=@i仕入先CD,
				配送先CD		=@i配送先CD,
				見積番号		=@i見積番号,
				仕入日付		=@i仕入日付,
				支払日付		=@i支払日付,
				仕入先名1		=@i仕入先名1,
				仕入先名2		=@i仕入先名2,
				配送先名1		=@i配送先名1,
				配送先名2		=@i配送先名2, 
				合計金額		=@i合計金額,
				税抜金額		=@i税抜金額,
				外税対象額		=@i外税対象額,
				外税額			=@i外税額,
				支払年月日		=NULL,--@i支払年月日,
				支払締日		=@i支払締日,
				--支払更新FLG		=@i支払更新FLG,
				税集計区分		=@i税集計区分,
				仕入端数		=@i仕入端数,
				消費税端数		=@i消費税端数,
				--月次F			=,
				--初期登録日		= MT.初期登録日,
				登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
		WHERE	仕入番号 = @i仕入番号
		
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END ELSE BEGIN

		--仕入番号を取得します
		EXEC	@ST = usp_GetCounter '仕入番号', '', @i仕入番号 OUTPUT

		--------------------------------------------------
		--仕入データの新規
		--------------------------------------------------
		INSERT	TD仕入
			(
				仕入番号, 見積番号, 担当者CD, 見積件名,
				得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,
				納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
				納入先郵便番号, 納入先住所1, 納入先住所2, 納入先TEL, 納入先FAX, 納入先担当者, 
				現場名, 大小口区分,
				初期登録日,登録変更日,
				--2013/03/15 ADD↓
				部署CD,
				販売先得意先CD,
				販売先得意先名1,
				販売先得意先名2,
				販売先納得意先CD,
				販売先納入先CD,
				販売先納入先名1,
				販売先納入先名2
				--2013/03/15 ADD↑
	
			)
			SELECT
				@i仕入番号, @i見積番号, 担当者CD, 見積件名,
				得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,
				納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
				郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者, 
				現場名, 大小口区分,
				CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111),
				--2013/03/15 ADD↓
				部署CD,
				販売先得意先CD,
				販売先得意先名1,
				販売先得意先名2,
				販売先納得意先CD,
				販売先納入先CD,
				販売先納入先名1,
				販売先納入先名2
				--2013/03/15 ADD↑
			FROM 	TD見積
			WHERE 	見積番号 = @i見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		
		--------------------------------------------------
		--仕入明細データの新規
		--------------------------------------------------
		INSERT	TD仕入明細
			(
				仕入番号, 仕入先CD, 配送先CD, 
				見積番号, 仕入日付, 支払日付, 
				仕入先名1, 仕入先名2, 配送先名1, 配送先名2, 
				合計金額, 税抜金額, 外税対象額, 
				外税額, 支払締日, --支払更新FLG, 
				税集計区分, 仕入端数, 消費税端数, --月次F, 
				初期登録日, 登録変更日
			) 
 		VALUES 
			(
				@i仕入番号, @i仕入先CD, @i配送先CD, 
				@i見積番号, @i仕入日付, @i支払日付,
				@i仕入先名1, @i仕入先名2, @i配送先名1, @i配送先名2, 
				@i合計金額, @i税抜金額, @i外税対象額, 
				@i外税額, @i支払締日, --@i支払更新FLG, 
				@i税集計区分, @i仕入端数, @i消費税端数, --0, 
				CONVERT(CHAR(10),GETDATE(),111), CONVERT(CHAR(10),GETDATE(),111)
			)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--2003/10/24.ADD
			------------------------------------------------------
			--見積Ｄ[仕入日]を更新する	※初回のみ
			------------------------------------------------------
			IF  EXISTS (SELECT 仕入日付 FROM TD見積 
						WHERE 	仕入日付 IS NULL  
							AND 	見積番号 = @i見積番号)  BEGIN
		
				UPDATE 	TD見積
					--SET	仕入日付 = CONVERT(CHAR(10),GETDATE(),111)
					SET	仕入日付 = @i仕入日付							--2013/11/21 ADD
					WHERE 	見積番号 = @i見積番号
	
				SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			END 
		--------------
		--2014/10/03 DEL↓
		------2003/11/05.ADD
		----	------------------------------------------------------
		----	--得意先CD='9999'の時
		----	--見積Ｄ[売上日]を更新する	※初回のみ
		----	------------------------------------------------------
		----	IF @i得意先CD = '9999' BEGIN
		----		IF  EXISTS (SELECT 売上日付 FROM TD見積 
		----					WHERE 	売上日付 IS NULL  
		----						AND 	見積番号 = @i見積番号)  BEGIN
			
		----			UPDATE 	TD見積
		----				--SET	売上日付 = CONVERT(CHAR(10),GETDATE(),111)
		----				SET	売上日付 = @i仕入日付							--2013/11/21 ADD
		----				WHERE 	見積番号 = @i見積番号
		
		----			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		----		END 
		----	END
		--2014/10/03 DEL↑
		--------------

	END--IF EXISTS (SELECT 仕入番号 FROM TD仕入明細 WHERE 	仕入番号 = @i仕入番号)  BEGIN

	--------------------------------------------------
	--仕入先マスタの最終使用日の更新
	--------------------------------------------------	
	UPDATE	TM仕入先
		SET	最終使用日 = CONVERT(CHAR(10),GETDATE(),111)
		WHERE 仕入先CD = @i仕入先CD


----------------------------------------------------------
----------------	--------------------------------------------------
----------------	--ワークテーブルにないレコードを抽出し削除します。
----------------	--------------------------------------------------
----------------	DECLARE	csr売上明細DEL		CURSOR	LOCAL  FORWARD_ONLY FOR 
----------------		SELECT UM.売上明細連番, UM.売上連番, UM.枝番, UM.明細区分, UM.注文番号, UM.商品ID, 
----------------				UM.商品名, UM.入数, UM.ケース数, UM.数量, UM.単位名, UM.売上単価, UM.原単価, 
----------------				UM.売上金額, UM.原価金額, UM.売上税区分, UM.明細備考, UM.明細外税額, UM.明細内税額,
----------------				UM.実数量,			--2008/06/18 ADD
----------------				UM.受注明細連番,
------------------ 				UH.売上日付,UH.請求先ID,
----------------				ISNULL(UM.売上金額,0)+ISNULL(UM.明細外税額,0) AS 旧売上金額
------------------ 		FROM TD売上 AS UH
------------------ 			INNER JOIN TD売上明細 AS UM
------------------ 				ON UH.売上連番 = UM.売上連番
----------------		FROM TD売上明細 AS UM
----------------			LEFT JOIN #TmpTD売上明細 AS TP
----------------				ON UM.売上明細連番 = TP.売上明細連番
----------------		WHERE	UM.売上連番 = @i売上連番 
----------------		AND		TP.売上明細連番 IS NULL

----------------	OPEN	csr売上明細DEL

----------------	SELECT	@ST = @@ERROR, @ROWS売上 = @@CURSOR_ROWS
----------------	IF ( @ST <> 0 )	GOTO	EXIT_SP

----------------	--カーソルのREAD
----------------	FETCH NEXT FROM csr売上明細DEL
----------------		INTO	@c売上明細連番,@c売上連番,@c枝番,
----------------			@c明細区分,@c注文番号,@c商品ID,	@c商品名,
----------------			@c入数,@cケース数,@c数量,@c単位名,
----------------			@c売上単価,@c原単価,
----------------			@c売上金額,@c原価金額,
----------------			@c売上税区分,@c明細備考,@c明細外税額, @c明細内税額,
----------------			@c実数量,			--2008/06/18 ADD
----------------			@c受注明細連番,
------------------ 			@c旧売上日付,@c旧請求先ID, 
----------------			@c旧売上金額

----------------	SET @ST = @@ERROR
----------------	IF ( @ST <> 0 )	GOTO	EXIT_SP

----------------	--------------------------------------------------
----------------	--削除分ワーク明細を展開します
----------------	--------------------------------------------------
----------------	WHILE (@@FETCH_STATUS <> -1)	BEGIN				--FETCH ステートメントが失敗したか、または行が結果セットに収まりません。
----------------	  	 IF (@@FETCH_STATUS <> -2)	BEGIN			--取り出した行がありません。

------------------ 			--受注明細連番がある場合、売上の場合、売上数・完納Fを更新　それ以外(値引)、完納Fを更新
------------------ 			IF NOT (@c受注明細連番 IS NULL)  BEGIN
------------------ 				EXEC @ST = usp_受注残数更新 'D', @c受注明細連番, @c明細区分, @c数量,0
------------------ 				IF ( @ST <> 0 )	GOTO	EXIT_SP
------------------ 			END

----------------			--期首残の更新----------------------------------
------------------			EXEC @ST = usp_期首残売上更新 'D', @w旧売上日付, @w旧請求先ID, @w旧請求先店舗ID, @c商品ID, @c数量, @c旧売上金額
----------------			EXEC @ST = usp_期首残売上更新 'D', @w旧売上日付, @w旧請求先ID, @w旧請求先店舗ID, @c商品ID, @c実数量, @c旧売上金額	--2008/06/18 ADD
----------------			IF ( @ST <> 0 )	GOTO	EXIT_SP
----------------			-----------------------------------------------
----------------		END 
----------------		--カーソルのREAD
----------------		FETCH NEXT FROM csr売上明細DEL
----------------			INTO	@c売上明細連番,@c売上連番,@c枝番,
----------------				@c明細区分,@c注文番号,@c商品ID,	@c商品名,
----------------				@c入数,@cケース数,@c数量,@c単位名,
----------------				@c売上単価,@c原単価,
----------------				@c売上金額,@c原価金額,
----------------				@c売上税区分,@c明細備考,@c明細外税額, @c明細内税額,
----------------				@c実数量,			--2008/06/18 ADD
----------------				@c受注明細連番,
----------------				@c旧売上金額
----------------	END
----------------	CLOSE	csr売上明細DEL
----------------	DEALLOCATE	csr売上明細DEL

----------------	--PRINT 'ワークテーブルにないレコードの削除'
----------------	--売上明細の削除
----------------	DELETE FROM TD売上明細
----------------		WHERE 売上明細連番 IN (SELECT JM.売上明細連番
----------------							FROM TD売上明細 AS JM
----------------								LEFT JOIN #TmpTD売上明細 AS TP
----------------								ON JM.売上明細連番 = TP.売上明細連番
----------------							WHERE	JM.売上連番 = @i売上連番 
----------------							AND		TP.売上明細連番 IS NULL)

	--------------------------------------------------
	--仕入明細内訳部を登録します。
	--------------------------------------------------
	--仕入明細内訳の削除
	DELETE FROM 	TD仕入明細内訳
		WHERE 	仕入番号 = @i仕入番号
			--AND 	仕入先CD = @i仕入先CD
			--AND 	配送先CD = @i配送先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--------------------------------------------------
	--仕入明細内訳の更新
	--------------------------------------------------
	DECLARE	csr仕入明細内訳		CURSOR	LOCAL  FORWARD_ONLY FOR 
			SELECT	--仕入番号, 仕入先CD, 配送先CD, 
					TMP.仕入明細行番号, TMP.見積行番号, TMP.見積明細連番,
					TMP.伝票区分, TMP.SP区分, TMP.PC区分, RTRIM(TMP.製品NO), RTRIM(TMP.仕様NO), RTRIM(TMP.ベース色),
					TMP.漢字名称, TMP.W, TMP.D, TMP.H, TMP.D1, TMP.D2, TMP.H1, TMP.H2,
					TMP.エラー内容, TMP.仕入数量, TMP.発注数, TMP.見積引当数, TMP.単位名, TMP.定価, TMP.仕入単価,
					TMP.仕入金額, TMP.仕入税区分, TMP.消費税額,
					TMP.製品区分
					,MSM.M区分,MSM.売上単価,TM製品.費用区分,TM製品.サイズ変更区分--2024/03/25 ADD
					,TMP.U区分--2024/05/13 ADD
					,TMP.作業区分CD--2024/06/11 ADD
				FROM	#Tmp仕入明細内訳 AS TMP
					--2024/03/25 ADD↓
					LEFT JOIN TD見積シートM AS MSM
						ON TMP.見積明細連番 = MSM.見積明細連番
					LEFT JOIN TM製品
						ON	TMP.製品NO = TM製品.製品NO
						AND	TMP.仕様NO = TM製品.仕様NO
					--2024/03/25 ADD↑
				WHERE	[CHECK] = 1		--2015/05/15 ADD
				ORDER BY	仕入明細行番号


	OPEN	csr仕入明細内訳

	SELECT	@ST = @@ERROR, @ROWS仕入明細内訳 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS仕入明細内訳 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END
	--カーソルのREAD
	FETCH NEXT FROM		csr仕入明細内訳
		INTO	--@c仕入番号,@c仕入先CD, @c配送先CD, 
				@c仕入明細行番号,@c見積行番号, @c見積明細連番,
				@c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容, @c仕入数量,@c発注数, @c見積引当数, @c単位名,@c定価,@c仕入単価,
				@c仕入金額,@c仕入税区分,@c消費税額,
				@c製品区分
				,@cM区分,@c売上単価,@c費用区分,@cサイズ変更区分	--2024/03/25 ADD
				,@cU区分--2024/05/13 ADD
				,@c作業区分CD--2024/06/11 ADD

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	GOTO	EXIT_SP
	
	DECLARE		@wCNT	INT
	SET @wCNT = 1

	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
	WHILE (@@FETCH_STATUS <> -1)	BEGIN				--FETCH ステートメントが失敗したか、または行が結果セットに収まりません。
		IF (@@FETCH_STATUS <> -2)	BEGIN			--取り出した行がありません。

			-----<新規>-----
			INSERT	TD仕入明細内訳
			(
				仕入番号, 仕入先CD, 配送先CD, 仕入明細行番号, 見積行番号, 見積明細連番,
				伝票区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色,
				漢字名称, W, D, H, D1, D2, H1, H2,
				エラー内容, 仕入数量, 発注数, 見積引当数, 単位名, 定価, 仕入単価,
				仕入金額, 仕入税区分, 消費税額,
				製品区分,
				初期登録日,登録変更日
			)
			VALUES
			(
				@i仕入番号, @i仕入先CD, @i配送先CD, @wCNT,@c見積行番号,@c見積明細連番,--2015/05/15 ADD
				--@i仕入番号, @i仕入先CD, @i配送先CD, @c仕入明細行番号,@c見積行番号,@c見積明細連番,
				@c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容, @c仕入数量,@c発注数, @c見積引当数, @c単位名,@c定価,@c仕入単価,
				@c仕入金額,@c仕入税区分,@c消費税額,
				@c製品区分,
				CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111)
			)

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

			----2024/07/15 DEL↓	
			---------------------------------------------------
			----売上仕入単価マスタの更新
			----在庫以外、M区分がないものを更新
			---------------------------------------------------
			--IF @i仕入先CD NOT IN ('3150','9999') BEGIN
			--	IF @cM区分 = '' BEGIN
			--		IF @c費用区分 = 0 BEGIN
			--			IF @cサイズ変更区分 = 0 BEGIN

			--				MERGE INTO	TM売上仕入単価 AS A
			--					USING
			--						(
			--						--売上 得意先指定
			--						SELECT	得意先CD = @i得意先CD, 仕入先CD = @i仕入先CD, 
			--								PC区分 = @cPC区分, 製品NO = @c製品NO, 仕様NO = @c仕様NO, 
			--								--@c売上単価, @c小口売上単価, 
			--								売上単価 = @c売上単価,
			--								仕入単価 = @c仕入単価, 
			--								製品区分 = @c製品区分
			--						) AS B
			--					ON  (
			--						A.得意先CD = B.得意先CD
			--						AND	A.仕入先CD = B.仕入先CD
			--						AND	A.PC区分 = B.PC区分
			--						AND	A.製品NO = B.製品NO
			--						AND	A.仕様NO = B.仕様NO
			--						)
			--					WHEN MATCHED THEN
			--						UPDATE
			--							SET A.大口仕入単価 = B.仕入単価,
			--								A.小口仕入単価 = B.仕入単価,
			--								A.登録変更日 = GETDATE()
			--					WHEN NOT MATCHED THEN
			--						INSERT
			--								(
			--									得意先CD,
			--									仕入先CD,
			--									PC区分,
			--									製品NO,
			--									仕様NO,

			--									大口売上単価,
			--									小口売上単価,

			--									大口仕入単価,
			--									小口仕入単価
			--								)
			--							VALUES
			--								(
			--									B.得意先CD,
			--									B.仕入先CD,
			--									B.PC区分,
			--									B.製品NO,
			--									B.仕様NO,

			--									B.売上単価,
			--									B.売上単価,


			--									B.仕入単価,
			--									B.仕入単価
			--								)
			--					;
			--				SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			--			END
			--		END
			--	END
			--END
			----2024/07/15 DEL↑

			--2024/05/13 ADD↓
			--見積シートM　U区分・作業区分CD 更新
			UPDATE	TD見積シートM
					SET	U区分 = @cU区分,
						作業区分CD = @c作業区分CD
				WHERE	見積明細連番 = @c見積明細連番

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			--2024/05/13 ADD↑
			-------------------------------------------------
			----売上明細V2の仕入単価・仕入金額を更新
			-------------------------------------------------
			--UPDATE	TD売上明細v2
			--		SET	仕入単価 = TD仕入明細内訳.仕入単価--,
			--			--仕入金額 = TD売上明細v2.仕入金額
			--	FROM	TD仕入明細内訳
			--		INNER JOIN TD売上明細v2
			--			ON TD仕入明細内訳.見積明細連番 = TD売上明細v2.見積明細連番
			--	WHERE	TD仕入明細内訳.見積明細連番 = @c見積明細連番

			--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

			-------------------------------------------------
			----見積シートMの仕入単価・仕入金額を更新
			-------------------------------------------------
			--UPDATE	TD見積シートM
			--		SET	仕入単価 = TD仕入明細内訳.仕入単価--,
			--			--仕入金額 = TD見積シートM.仕入金額
			--			dbo.fn_Round(MSU.数量*MSM.仕入単価,@decimalPoint)
			--	FROM	TD仕入明細内訳
			--		INNER JOIN TD見積シートM
			--			ON TD仕入明細内訳.見積明細連番 = TD見積シートM.見積明細連番			
			--	WHERE	TD仕入明細内訳.見積明細連番 = @c見積明細連番

			--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	
		END--(IF @@FETCH_STATUS <> -2)

		--カーソルのREAD
		FETCH NEXT FROM		csr仕入明細内訳
			INTO	--@c仕入番号,@c仕入先CD, @c配送先CD,
					@c仕入明細行番号,@c見積行番号, @c見積明細連番,
					@c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容, @c仕入数量,@c発注数, @c見積引当数, @c単位名,@c定価,@c仕入単価,
					@c仕入金額,@c仕入税区分,@c消費税額,
					@c製品区分
					,@cM区分,@c売上単価,@c費用区分,@cサイズ変更区分	--2024/03/25 ADD
					,@cU区分--2024/05/13 ADD
					,@c作業区分CD--2024/06/11 ADD

		SET	@wCNT = @wCNT + 1--2015/05/15 ADD
	END--	WHILE (@@FETCH_STATUS <> -1)


--2024/03/26 ADD↓
-------------------------------------------
--仕入単価更新
----見積シートM・売上明細の仕入単価・仕入金額更新
----見積合計再計算
-------------------------------------------

	DECLARE @TW更新対象	TABLE(
			  見積明細連番	INT,
			  仕入単価	MONEY
		) 

	--変更後の見積明細連番と原価を抽出
	INSERT INTO	@TW更新対象
			(見積明細連番, 仕入単価)
		SELECT	
				--TD見積シートM.見積番号, 
				TD仕入明細内訳.見積明細連番, 
				--TD仕入明細内訳.製品NO, TD仕入明細内訳.仕様NO, 
				--TD見積シートM.製品NO AS Expr1, TD見積シートM.仕様NO AS Expr2,
				--TD仕入明細内訳.仕入数量, 
				TD仕入明細内訳.仕入単価 
				--TD仕入明細内訳.仕入金額, 
				--TD見積シートM.仕入単価 AS Expr3, 
				--TD見積シートM.仕入金額 AS Expr4, 
				--TD仕入明細内訳.漢字名称
		FROM	TD仕入明細内訳
			INNER JOIN	TD見積シートM
				ON TD仕入明細内訳.見積明細連番 = TD見積シートM.見積明細連番
		WHERE	NOT(TD仕入明細内訳.仕入先CD ='9999')
			AND TD仕入明細内訳.仕入単価 <> TD見積シートM.仕入単価
			AND	(TD見積シートM.見積番号 = @i見積番号)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	

	--見積の仕入単価　更新
	UPDATE	TD見積シートM
			SET	仕入単価 = TMP.仕入単価, 
				仕入金額 = dbo.fn_CutFraction(SI.仕入端数,TD見積シートM.見積数量 * TMP.仕入単価,0)
				--U区分 = (CASE WHEN TD見積シートM.U区分='U' THEN '' ELSE  TD見積シートM.U区分 END)
		FROM	TD見積シートM
			INNER JOIN @TW更新対象 AS TMP
				ON TD見積シートM.見積明細連番 = TMP.見積明細連番
			LEFT JOIN TM仕入先 AS SI
				ON TD見積シートM.仕入業者CD = SI.仕入先CD 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--見積の原価合計　再計算
	UPDATE TD見積
			SET
				原価合計 = 仕入外税対象額 + 仕入内税対象額 + 仕入非課税対象額,
				原価率 = isnull(dbo.fn_Round((仕入外税対象額 + 仕入内税対象額 + 仕入非課税対象額) * 100 / nullif(TD見積.合計金額,0),2),0)
			FROM
				TD見積
					INNER JOIN
						(
						SELECT 	MS.見積番号,
								件数 = COUNT(行番号),
								--合計金額 = SUM(MSM.売上金額),
								--SM.税集計区分, --仕入端数, 消費税端数, 伝票区分, 仕入税区分, 
								仕入外税対象額 = SUM(ISNULL((CASE WHEN SM.仕入税区分 = 0 THEN MSM.仕入金額 END),0)),
								仕入内税対象額 = SUM(ISNULL((CASE WHEN SM.仕入税区分 = 1 THEN MSM.仕入金額 END),0)),
								仕入非課税対象額 = SUM(ISNULL((CASE WHEN SM.仕入税区分 = 2 THEN MSM.仕入金額 END),0))
								--仕入内税額 = MSM.消費税額

							FROM TD見積 AS MS
								INNER JOIN TD見積シートM AS MSM
									ON MSM.見積番号 = MS.見積番号
								LEFT JOIN TM仕入先 AS SI
									ON MSM.仕入業者CD = SI.仕入先CD
								LEFT JOIN TM製品 AS SM
									ON	MSM.製品NO = SM.製品NO
									AND	MSM.仕様NO = SM.仕様NO
							--GROUP BY 	SM.見積番号, SM.仕入先CD, SM.配送先CD
							GROUP BY MS.見積番号
						) AS D
						ON TD見積.見積番号 = D.見積番号
			WHERE TD見積.見積番号 IN (@i見積番号)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--売上明細　仕入単価　更新
	UPDATE TD売上明細v2
			SET	仕入単価 = TMP.仕入単価,
				仕入金額 = dbo.fn_CutFraction(SI.仕入端数,TD売上明細v2.売上数量 * TMP.仕入単価,0)
		FROM	TD売上明細v2
			INNER JOIN TD見積シートM AS MSM
				ON TD売上明細v2.見積明細連番 = MSM.見積明細連番
			INNER JOIN @TW更新対象 AS TMP
				ON TD売上明細v2.見積明細連番 = TMP.見積明細連番
			LEFT JOIN TM仕入先 AS SI
				ON MSM.仕入業者CD = SI.仕入先CD 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
--2024/03/26 ADD↑

--2024/09/24 ADD↓
	---------------------------------------------------------
	--売上同時作成
	---------------------------------------------------------
	DECLARE
			@wS範囲日付	DATETIME,
			@wE範囲日付	DATETIME,

			@wS旧範囲日付	DATETIME,
			@wE旧範囲日付	DATETIME,
			
			@i売上番号	INT,
			@更新FLG	INT

	--消費税用変数
	DECLARE	@TAX		MONEY

	--初期化
	SET	@更新FLG = 0


	--売上作成除外のチェック
	IF EXISTS(SELECT * FROM TD見積 AS MH WHERE MH.見積番号 = @i見積番号 
												AND	MH.見積件名 LIKE '%在庫%'	AND MH.見積件名 LIKE '%化粧品%') BEGIN
		--化粧品在庫である。
		SET @更新FLG = @更新FLG + 1 
	END
	IF EXISTS(SELECT * FROM TD見積 AS MH WHERE MH.見積番号 = @i見積番号 
												AND	MH.社内伝票扱い = 1) BEGIN
		--社内伝であるから、売上作成しない。
		SET @更新FLG = @更新FLG + 1 
	END
	IF EXISTS(SELECT * FROM TD売上請求H AS USH WHERE USH.見積番号 = @i見積番号 ) BEGIN
		--請求済みであるから、売上作成しない。
		SET @更新FLG = @更新FLG + 1 
	END
	IF EXISTS(SELECT * FROM TD見積 AS MH WHERE MH.見積番号 = @i見積番号 
												AND	MH.見積件名 LIKE '%クレーム%') BEGIN
		--ｸﾚｰﾑ伝票であるから、売上作成しない。
		SET @更新FLG = @更新FLG + 1 
	END
	IF EXISTS(SELECT * FROM TD見積 AS MH WHERE MH.見積番号 = @i見積番号 
												AND	MH.見積件名 LIKE '%施工・運搬費%') BEGIN
		--施工伝票であるから、売上作成しない。
		SET @更新FLG = @更新FLG + 1 
	END
	IF EXISTS(SELECT * FROM TD見積 AS MH WHERE MH.見積番号 = @i見積番号 
												AND	MH.見積件名 LIKE '%人工%') BEGIN
		--人工伝票であるから、売上作成しない。
		SET @更新FLG = @更新FLG + 1 
	END



	IF @更新FLG = 0 BEGIN
		IF (@w旧仕入日付 IS NOT NULL) AND ([dbo].[ufn_GetFirstDateOfScope](@w旧仕入日付,99) <> [dbo].[ufn_GetFirstDateOfScope](@i仕入日付,99)) BEGIN
			--旧情報が存在した(旧日付がNULLでない)場合
			--もしくは、旧情報と新情報が別月の場合
			--処理を行う
			--====================================================
			-- 
			-- 旧　仕入日付範囲での処理
			-- 
			--====================================================
			SET @wS旧範囲日付 = [dbo].[ufn_GetFirstDateOfScope](@w旧仕入日付,99)
			SET @wE旧範囲日付 = [dbo].[ufn_GetLastDateOfScope](@w旧仕入日付,99)

			--SELECT @wS旧範囲日付 AS 旧,@wE旧範囲日付

			------------------------------------------------------
			-- 同一見積番号の
			-- 指定日付範囲の売上明細・売上ヘッダーを削除
			------------------------------------------------------
			--SELECT UM.*
			--	FROM	TD売上v2 AS UH
			--		INNER JOIN TD売上明細v2 AS UM
			--		ON UH.売上番号 = UM.売上番号
			--	WHERE	UH.売上日付 >= @wS旧範囲日付
			--		AND UH.売上日付 <= @wE旧範囲日付
			--		AND UH.見積番号 = @i見積番号

			DELETE TD売上明細v2
				FROM	TD売上v2 AS UH
				INNER JOIN	TD売上明細v2
					ON UH.売上番号 = TD売上明細v2.売上番号
				WHERE	UH.売上日付 >= @wS旧範囲日付
					AND UH.売上日付 <= @wE旧範囲日付
					AND UH.見積番号 = @i見積番号



			--SELECT UH.*
			--	FROM	TD売上v2 AS UH
			--	WHERE	UH.売上日付 >= @wS旧範囲日付
			--		AND UH.売上日付 <= @wE旧範囲日付
			--		AND UH.見積番号 = @i見積番号


			DELETE TD売上v2
				WHERE	売上日付 >= @wS旧範囲日付
					AND 売上日付 <= @wE旧範囲日付
					AND 見積番号 = @i見積番号


			------------------------------------------------------
			--見積シートMより売上明細データ作成
			----明細を集計してヘッダー部を作成
			------------------------------------------------------

			--税率取得
			----SET	@TAX = dbo.fn_GetTax(CONVERT(CHAR(10),GETDATE(),111))

			----抽出される最大日付での消費税を取得
			DECLARE	@MAX日付 DATETIME
			SELECT @MAX日付 = MAX(SH.仕入日付)
				FROM	VD見積シートM AS MSM
					LEFT JOIN (SELECT	見積明細連番,仕入済数=SUM(仕入数量),
										仕入日付=MIN(SM.仕入日付)
									FROM TD仕入明細内訳 AS SMU
										INNER JOIN TD仕入明細 AS SM
											ON SMU.仕入番号 = SM.仕入番号
									GROUP BY 見積明細連番
							) AS SH
							ON MSM.見積明細連番 = SH.見積明細連番
					LEFT JOIN (
								SELECT	見積明細連番
										--仕入数量 = SUM(仕入数量)
									FROM	TD売上明細v2
									GROUP BY 見積明細連番
							) AS UM
							ON MSM.見積明細連番 = UM.見積明細連番
				WHERE	MSM.見積番号 = @i見積番号
					AND	UM.見積明細連番 IS NULL
					AND (
						(SH.見積明細連番 IS NOT NULL) AND (SH.仕入日付>=@wS旧範囲日付) AND (SH.仕入日付<=@wE旧範囲日付)--)--2017/06/26 ADD
						)

			SET	@TAX = dbo.fn_GetTax(CONVERT(CHAR(10),@MAX日付,111))

			--売上番号を取得します
			EXEC	@ST = usp_GetCounter '売上番号', '', @i売上番号 OUTPUT



			--新規
			SELECT * INTO #TBL_旧
				FROM
					(
						--通常明細
						SELECT	MSM.見積番号,
								SH.仕入日付,
								売上番号=@i売上番号,
								売上明細行番号=ROW_NUMBER()OVER(ORDER BY 見積番号,行番号),
								MSM.見積明細連番,
								MSM.行番号, 
								見積明細区分 = MSM.見積区分,
								伝票区分 = (CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
								特別区分 = '',
								MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
								MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
								MSM.エラー内容,
								売上数量 = MSM.見積数量,
								MSM.単位名, MSM.定価, MSM.仕入単価, 
								MSM.仕入率, MSM.売上単価, MSM.売上率, 
								MSM.U区分, MSM.M区分,
								MSM.仕入金額, MSM.売上金額, MSM.売上税区分, 
								--得意先に明細単位での税集計がないため再計算なし（必要なら追加）
								MSM.消費税額, 
								MSM.仕入先CD, MSM.仕入先名, MSM.配送先CD, MSM.配送先名, MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.総数量, 
								MSM.製品区分, MSM.発注調整数, 
								MSM.仕分数1, MSM.仕分数2, MSM.仕分数3, MSM.仕分数4,
								MSM.仕分数5, MSM.仕分数6, MSM.仕分数7, MSM.仕分数8, MSM.仕分数9, MSM.仕分数10, MSM.仕分数11, MSM.仕分数12, MSM.仕分数13, 
								MSM.仕分数14, MSM.仕分数15, MSM.仕分数16, MSM.仕分数17, MSM.仕分数18, MSM.仕分数19, MSM.仕分数20, MSM.仕分数21, MSM.仕分数22, 
								MSM.仕分数23, MSM.仕分数24, MSM.仕分数25, MSM.仕分数26, MSM.仕分数27, MSM.仕分数28, MSM.仕分数29, MSM.仕分数30
							FROM	VD見積シートM AS MSM
								----2015/05/27 ADD↓
								--LEFT JOIN (SELECT 見積明細連番,仕入済数=SUM(仕入数量)
								--				FROM TD仕入明細内訳
								--				GROUP BY 見積明細連番
								--		) AS SH
								--		ON MSM.見積明細連番 = SH.見積明細連番
								----2015/05/27 ADD↑
								--2015/10/06 ADD↓
								LEFT JOIN (SELECT	見積明細連番,仕入済数=SUM(仕入数量),
													仕入日付=MIN(SM.仕入日付)--2015/10/06 ADD
												FROM TD仕入明細内訳 AS SMU
													INNER JOIN TD仕入明細 AS SM
														ON SMU.仕入番号 = SM.仕入番号
												GROUP BY 見積明細連番
										) AS SH
										ON MSM.見積明細連番 = SH.見積明細連番
								--2015/10/06 ADD↑
								LEFT JOIN (
											SELECT	見積明細連番
													--仕入数量 = SUM(仕入数量)
												FROM	TD売上明細v2
												GROUP BY 見積明細連番
										) AS UM
											ON MSM.見積明細連番 = UM.見積明細連番
							WHERE	MSM.見積番号 = @i見積番号
							--2015/01/22 DEL↓
							--	AND (MSM.見積数量 <> 0
							--			OR MSM.見積区分 IN ('A','C','S'))
							--2015/01/22 DEL↑
								AND	UM.見積明細連番 IS NULL
								--AND ((@i抽出区分 = 0) OR (@i抽出区分 <> 0) AND (SH.仕入済数 <> 0))--2015/05/27 ADD
								--AND ((@i抽出区分 = 0) OR ((@i抽出区分 <> 0) AND ((SH.仕入済数 <> 0) OR (MSM.社内在庫数 <> 0))))--2015/07/23 ADD
								--2015/10/06 ADD↓
								AND (
										--	(@i抽出区分 = 0) 
										----OR ((@i抽出区分 = 1) AND (SH.仕入済数 <> 0) AND (SH.仕入日付>=@iS仕入日付) AND (SH.仕入日付<=@ie仕入日付))
										--OR ((@i抽出区分 = 1) 
										--AND 
										(SH.見積明細連番 IS NOT NULL) AND (SH.仕入日付>=@wS旧範囲日付) AND (SH.仕入日付<=@wE旧範囲日付)--)--2017/06/26 ADD
										--OR ((@i抽出区分 = 2) AND(MSM.社内在庫数 <> 0))
										--OR ((@i抽出区分 = 2) AND(MSM.仕入先CD = '3150'))--2017/01/11 ADD
									)
								--2015/10/06 ADD↑
					--------UNION ALL
					--------	--ZA:出精値引き
					--------	SELECT	MH.見積番号,
					--------			仕入日付=NULL,
					--------			売上番号=0,売上明細行番号=0,
					--------			見積明細連番 = -1,
					--------			行番号=9999999999, 
					--------			見積明細区分 = '',
					--------			伝票区分 = '1',
					--------			特別区分 = 'ZA',
					--------			SP区分 = '', PC区分='', 製品NO='', 仕様NO='', ベース色='',
					--------			漢字名称='出精値引', 
					--------			W=0, D=0, H=0, D1=0, D2=0, H1=0, H2=0,
					--------			エラー内容='',
					--------			売上数量 = 1,
					--------			単位名='', 定価=0, 仕入単価=0, 
					--------			仕入率=0, 
					--------			売上単価 = MH.出精値引,
					--------			売上率=0, U区分='', M区分='',
					--------			仕入金額=0,
					--------			売上金額=MH.出精値引,
					--------			売上税区分=0, 消費税額=0, 
					--------			仕入先CD='', 仕入先名='', 配送先CD='', 配送先名='', 
					--------			社内在庫数=0, 客先在庫数=0, 転用数=0, 発注数=0, 総数量=0, 
					--------			製品区分=NULL, 発注調整数=0, 
					--------			仕分数1=0, 仕分数2=0, 仕分数3=0, 仕分数4=0,
					--------			仕分数5=0, 仕分数6=0, 仕分数7=0, 仕分数8=0, 仕分数9=0, 仕分数10=0, 仕分数11=0, 仕分数12=0, 仕分数13=0, 
					--------			仕分数14=0, 仕分数15=0, 仕分数16=0, 仕分数17=0, 仕分数18=0, 仕分数19=0, 仕分数20=0, 仕分数21=0, 仕分数22=0, 
					--------			仕分数23=0, 仕分数24=0, 仕分数25=0, 仕分数26=0, 仕分数27=0, 仕分数28=0, 仕分数29=0, 仕分数30=0
					--------		FROM	TD見積 AS MH
					--------			LEFT JOIN (
					--------						SELECT	UH.見積番号
					--------							FROM TD売上v2 AS UH
					--------								INNER JOIN TD売上明細V2 AS UM
					--------									ON UH.売上番号 = UM.売上番号
					--------							WHERE	UM.特別区分 = 'ZA'
					--------							GROUP BY 見積番号
					--------						) AS UH
					--------						ON MH.見積番号 = UH.見積番号
					--------		WHERE	MH.見積番号 = @i見積番号
					--------			AND	MH.出精値引 <> 0
					--------			AND	UH.見積番号 IS NULL--売上計上していない
				
					) AS MH
					--ORDER BY MH.行番号
			--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


			------------------------------------------------------
			--明細を集計してヘッダー部を作成
			------------------------------------------------------

			INSERT INTO	TD売上v2
					(
						売上番号, 
						見積番号, 
						売上日付, 
						合計金額, 
						税抜金額, 
						外税対象額, 
						外税額, 
						--請求年月日, 
						--請求締日, 
						税集計区分, 
						売上端数, 
						消費税端数--, 
						--請求更新FLG, 
						--初期登録日, 
						--登録変更日
					)
				SELECT	
						@i売上番号,
						D.見積番号, 
						--MH.見積件名,
						--D.件数,
						--D.仕入先CD,D.配送先CD, 
						D.売上日付,-- = NULL,
						--SI.仕入先名1, SI.仕入先名2, SI.税集計区分, SI.仕入端数, SI.消費税端数,
						--支払年月日 = NULL,SI.締日,支払更新FLG = 0,
						--HA.配送先名1, HA.配送先名2, 
						合計金額 = 売上外税対象額 + 売上内税対象額
								 + 返品外税対象額 + 返品内税対象額
								 + 訂正外税対象額 + 訂正内税対象額
								 + 売上非課税対象額 + 返品非課税対象額 + 訂正非課税対象額,--2015/01/24 ADD
				
						税抜金額 = 売上外税対象額 + 売上内税対象額 - 売上内税額 
								 + 返品外税対象額 + 返品内税対象額 - 返品内税額
								 + 訂正外税対象額 + 訂正内税対象額 - 訂正内税額
								 + 売上非課税対象額 + 返品非課税対象額 + 訂正非課税対象額,--2015/01/24 ADD
						--2016/04/07 ADD↓
						--外税対象額 = 売上外税対象額
						--		   + 返品外税対象額,
						外税対象額 = CASE WHEN MH.税集計区分 = 3--税対象外得意先
										THEN 0
										ELSE
											売上外税対象額
										   + 返品外税対象額
								   END,
						--2016/04/07 ADD↑
						外税額 = CASE WHEN MH.税集計区分 = 0
											 THEN dbo.fn_CutFraction(消費税端数,(売上外税対象額 + 返品外税対象額) / 100 * @TAX,0)
									WHEN MH.税集計区分 = 1 THEN 0
									WHEN MH.税集計区分 = 2 THEN 明細消費税合計
									ELSE 0--2016/04/07 ADD
							   END,
						MH.税集計区分, MH.売上端数, MH.消費税端数
					FROM
						(
						SELECT 	TBL.見積番号, 
								売上日付 = MAX(TBL.仕入日付),
								--件数 = COUNT(仕入明細行番号),
								--税集計区分, 仕入端数, 消費税端数, 伝票区分, 仕入税区分, 
								売上外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
								売上内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
								売上内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),0)),
								--2015/01/24 ADD
								売上非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),

								返品外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
								返品内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
								返品内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),0)),
								--2015/01/24 ADD
								返品非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),

								訂正外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
								訂正内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
								訂正内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),0)),
								--2015/01/24 ADD
								訂正非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),
								明細消費税合計 = SUM(TBL.消費税額)
							FROM #TBL_旧 AS TBL
								INNER JOIN TD見積 AS MH
									ON TBL.見積番号 = MH.見積番号
							GROUP BY	TBL.見積番号

						) AS D
						INNER JOIN TD見積 AS MH
							ON D.見積番号 = MH.見積番号
					ORDER BY     D.見積番号
			
			--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


			------------------------------------------------------
			--売上明細データ登録
			------------------------------------------------------

			INSERT	TD売上明細V2
					(
						売上番号,
						売上明細行番号,
						見積明細連番,
						見積明細区分,
						伝票区分,
						特別区分,
						SP区分,PC区分,
						製品NO,仕様NO,
						ベース色,漢字名称,
						W,D,H,D1,D2,H1,H2,
						エラー内容,
						売上数量,
						単位名,
						売上単価,仕入単価,
						売上金額,仕入金額,
						定価,
						売上税区分,
						消費税額,
						製品区分,
						初期登録日,登録変更日
					)

				SELECT
						売上番号,
						売上明細行番号,
						見積明細連番,
						見積明細区分,
						伝票区分,
						特別区分,
						SP区分,PC区分,
						製品NO,仕様NO,
						ベース色,漢字名称,
						W,D,H,D1,D2,H1,H2,
						エラー内容,
						売上数量,
						単位名,
						売上単価,仕入単価,
						売上金額,仕入金額,
						定価,
						売上税区分,
						消費税額,
						製品区分,
						GETDATE(),GETDATE()

					FROM #TBL_旧
					ORDER BY 行番号
			
			drop table #TBL_旧

		END--@w旧仕入日付 IS NULL

		--====================================================
		-- 
		-- 新仕入日付範囲での処理
		-- 
		--====================================================
		SET @wS範囲日付 = [dbo].[ufn_GetFirstDateOfScope](@i仕入日付,99)
		SET @wE範囲日付 = [dbo].[ufn_GetLastDateOfScope](@i仕入日付,99)


		--SELECT @wS範囲日付,@wE範囲日付

		------------------------------------------------------
		-- 同一見積番号の
		-- 指定日付範囲の売上明細・売上ヘッダーを削除
		------------------------------------------------------
		--SELECT UM.*
		--	FROM	TD売上v2 AS UH
		--		INNER JOIN TD売上明細v2 AS UM
		--		ON UH.売上番号 = UM.売上番号
		--	WHERE	UH.売上日付 >= @wS範囲日付
		--		AND UH.売上日付 <= @wE範囲日付
		--		AND UH.見積番号 = @i見積番号

		DELETE TD売上明細v2
			FROM	TD売上v2 AS UH
			INNER JOIN	TD売上明細v2
				ON UH.売上番号 = TD売上明細v2.売上番号
			WHERE	UH.売上日付 >= @wS範囲日付
				AND UH.売上日付 <= @wE範囲日付
				AND UH.見積番号 = @i見積番号



		--SELECT UH.*
		--	FROM	TD売上v2 AS UH
		--	WHERE	UH.売上日付 >= @wS範囲日付
		--		AND UH.売上日付 <= @wE範囲日付
		--		AND UH.見積番号 = @i見積番号


		DELETE TD売上v2
			WHERE	売上日付 >= @wS範囲日付
				AND 売上日付 <= @wE範囲日付
				AND 見積番号 = @i見積番号


		------------------------------------------------------
		--見積シートMより売上明細データ作成
		----明細を集計してヘッダー部を作成
		------------------------------------------------------

		----抽出される最大日付での消費税を取得
		SELECT @MAX日付 = MAX(SH.仕入日付)
			FROM	VD見積シートM AS MSM
				LEFT JOIN (SELECT	見積明細連番,仕入済数=SUM(仕入数量),
									仕入日付=MIN(SM.仕入日付)
								FROM TD仕入明細内訳 AS SMU
									INNER JOIN TD仕入明細 AS SM
										ON SMU.仕入番号 = SM.仕入番号
								GROUP BY 見積明細連番
						) AS SH
						ON MSM.見積明細連番 = SH.見積明細連番
				LEFT JOIN (
							SELECT	見積明細連番
									--仕入数量 = SUM(仕入数量)
								FROM	TD売上明細v2
								GROUP BY 見積明細連番
						) AS UM
						ON MSM.見積明細連番 = UM.見積明細連番
			WHERE	MSM.見積番号 = @i見積番号
				AND	UM.見積明細連番 IS NULL
				AND (
					(SH.見積明細連番 IS NOT NULL) AND (SH.仕入日付>=@wS範囲日付) AND (SH.仕入日付<=@wE範囲日付)
					)

		SET	@TAX = dbo.fn_GetTax(CONVERT(CHAR(10),@MAX日付,111))
		--税率取得
		SET	@TAX = dbo.fn_GetTax(CONVERT(CHAR(10),GETDATE(),111))

		--売上番号を取得します
		EXEC	@ST = usp_GetCounter '売上番号', '', @i売上番号 OUTPUT



		--新規
		SELECT * INTO #TBL
			FROM
				(
					--通常明細
					SELECT	MSM.見積番号,
							SH.仕入日付,
							売上番号=@i売上番号,
							売上明細行番号=ROW_NUMBER()OVER(ORDER BY 見積番号,行番号),
							MSM.見積明細連番,
							MSM.行番号, 
							見積明細区分 = MSM.見積区分,
							伝票区分 = (CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
							特別区分 = '',
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
							MSM.エラー内容,
							売上数量 = MSM.見積数量,
							MSM.単位名, MSM.定価, MSM.仕入単価, 
							MSM.仕入率, MSM.売上単価, MSM.売上率, 
							MSM.U区分, MSM.M区分,
							MSM.仕入金額, MSM.売上金額, MSM.売上税区分, MSM.消費税額, 
							MSM.仕入先CD, MSM.仕入先名, MSM.配送先CD, MSM.配送先名, MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.総数量, 
							MSM.製品区分, MSM.発注調整数, 
							MSM.仕分数1, MSM.仕分数2, MSM.仕分数3, MSM.仕分数4,
							MSM.仕分数5, MSM.仕分数6, MSM.仕分数7, MSM.仕分数8, MSM.仕分数9, MSM.仕分数10, MSM.仕分数11, MSM.仕分数12, MSM.仕分数13, 
							MSM.仕分数14, MSM.仕分数15, MSM.仕分数16, MSM.仕分数17, MSM.仕分数18, MSM.仕分数19, MSM.仕分数20, MSM.仕分数21, MSM.仕分数22, 
							MSM.仕分数23, MSM.仕分数24, MSM.仕分数25, MSM.仕分数26, MSM.仕分数27, MSM.仕分数28, MSM.仕分数29, MSM.仕分数30
						FROM	VD見積シートM AS MSM
							----2015/05/27 ADD↓
							--LEFT JOIN (SELECT 見積明細連番,仕入済数=SUM(仕入数量)
							--				FROM TD仕入明細内訳
							--				GROUP BY 見積明細連番
							--		) AS SH
							--		ON MSM.見積明細連番 = SH.見積明細連番
							----2015/05/27 ADD↑
							--2015/10/06 ADD↓
							LEFT JOIN (SELECT	見積明細連番,仕入済数=SUM(仕入数量),
												仕入日付=MIN(SM.仕入日付)--2015/10/06 ADD
											FROM TD仕入明細内訳 AS SMU
												INNER JOIN TD仕入明細 AS SM
													ON SMU.仕入番号 = SM.仕入番号
											GROUP BY 見積明細連番
									) AS SH
									ON MSM.見積明細連番 = SH.見積明細連番
							--2015/10/06 ADD↑
							LEFT JOIN (
										SELECT	見積明細連番
												--仕入数量 = SUM(仕入数量)
											FROM	TD売上明細v2
											GROUP BY 見積明細連番
									) AS UM
										ON MSM.見積明細連番 = UM.見積明細連番
						WHERE	MSM.見積番号 = @i見積番号
						--2015/01/22 DEL↓
						--	AND (MSM.見積数量 <> 0
						--			OR MSM.見積区分 IN ('A','C','S'))
						--2015/01/22 DEL↑
							AND	UM.見積明細連番 IS NULL
							--AND ((@i抽出区分 = 0) OR (@i抽出区分 <> 0) AND (SH.仕入済数 <> 0))--2015/05/27 ADD
							--AND ((@i抽出区分 = 0) OR ((@i抽出区分 <> 0) AND ((SH.仕入済数 <> 0) OR (MSM.社内在庫数 <> 0))))--2015/07/23 ADD
							--2015/10/06 ADD↓
							AND (
									--	(@i抽出区分 = 0) 
									----OR ((@i抽出区分 = 1) AND (SH.仕入済数 <> 0) AND (SH.仕入日付>=@iS仕入日付) AND (SH.仕入日付<=@ie仕入日付))
									--OR ((@i抽出区分 = 1) 
									--AND 
									(SH.見積明細連番 IS NOT NULL) AND (SH.仕入日付>=@wS範囲日付) AND (SH.仕入日付<=@wE範囲日付)--)--2017/06/26 ADD
									--OR ((@i抽出区分 = 2) AND(MSM.社内在庫数 <> 0))
									--OR ((@i抽出区分 = 2) AND(MSM.仕入先CD = '3150'))--2017/01/11 ADD
								)
							--2015/10/06 ADD↑
				--------UNION ALL
				--------	--ZA:出精値引き
				--------	SELECT	MH.見積番号,
				--------			仕入日付=NULL,
				--------			売上番号=0,売上明細行番号=0,
				--------			見積明細連番 = -1,
				--------			行番号=9999999999, 
				--------			見積明細区分 = '',
				--------			伝票区分 = '1',
				--------			特別区分 = 'ZA',
				--------			SP区分 = '', PC区分='', 製品NO='', 仕様NO='', ベース色='',
				--------			漢字名称='出精値引', 
				--------			W=0, D=0, H=0, D1=0, D2=0, H1=0, H2=0,
				--------			エラー内容='',
				--------			売上数量 = 1,
				--------			単位名='', 定価=0, 仕入単価=0, 
				--------			仕入率=0, 
				--------			売上単価 = MH.出精値引,
				--------			売上率=0, U区分='', M区分='',
				--------			仕入金額=0,
				--------			売上金額=MH.出精値引,
				--------			売上税区分=0, 消費税額=0, 
				--------			仕入先CD='', 仕入先名='', 配送先CD='', 配送先名='', 
				--------			社内在庫数=0, 客先在庫数=0, 転用数=0, 発注数=0, 総数量=0, 
				--------			製品区分=NULL, 発注調整数=0, 
				--------			仕分数1=0, 仕分数2=0, 仕分数3=0, 仕分数4=0,
				--------			仕分数5=0, 仕分数6=0, 仕分数7=0, 仕分数8=0, 仕分数9=0, 仕分数10=0, 仕分数11=0, 仕分数12=0, 仕分数13=0, 
				--------			仕分数14=0, 仕分数15=0, 仕分数16=0, 仕分数17=0, 仕分数18=0, 仕分数19=0, 仕分数20=0, 仕分数21=0, 仕分数22=0, 
				--------			仕分数23=0, 仕分数24=0, 仕分数25=0, 仕分数26=0, 仕分数27=0, 仕分数28=0, 仕分数29=0, 仕分数30=0
				--------		FROM	TD見積 AS MH
				--------			LEFT JOIN (
				--------						SELECT	UH.見積番号
				--------							FROM TD売上v2 AS UH
				--------								INNER JOIN TD売上明細V2 AS UM
				--------									ON UH.売上番号 = UM.売上番号
				--------							WHERE	UM.特別区分 = 'ZA'
				--------							GROUP BY 見積番号
				--------						) AS UH
				--------						ON MH.見積番号 = UH.見積番号
				--------		WHERE	MH.見積番号 = @i見積番号
				--------			AND	MH.出精値引 <> 0
				--------			AND	UH.見積番号 IS NULL--売上計上していない
				
				) AS MH
				--ORDER BY MH.行番号
		--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------------
		--明細を集計してヘッダー部を作成
		------------------------------------------------------
		INSERT INTO	TD売上v2
				(
					売上番号, 
					見積番号, 
					売上日付, 
					合計金額, 
					税抜金額, 
					外税対象額, 
					外税額, 
					--請求年月日, 
					--請求締日, 
					税集計区分, 
					売上端数, 
					消費税端数--, 
					--請求更新FLG, 
					--初期登録日, 
					--登録変更日
				)
			SELECT	
					@i売上番号,
					D.見積番号, 
					--MH.見積件名,
					--D.件数,
					--D.仕入先CD,D.配送先CD, 
					D.売上日付,-- = NULL,
					--SI.仕入先名1, SI.仕入先名2, SI.税集計区分, SI.仕入端数, SI.消費税端数,
					--支払年月日 = NULL,SI.締日,支払更新FLG = 0,
					--HA.配送先名1, HA.配送先名2, 
					合計金額 = 売上外税対象額 + 売上内税対象額
							 + 返品外税対象額 + 返品内税対象額
							 + 訂正外税対象額 + 訂正内税対象額
							 + 売上非課税対象額 + 返品非課税対象額 + 訂正非課税対象額,--2015/01/24 ADD
				
					税抜金額 = 売上外税対象額 + 売上内税対象額 - 売上内税額 
							 + 返品外税対象額 + 返品内税対象額 - 返品内税額
							 + 訂正外税対象額 + 訂正内税対象額 - 訂正内税額
							 + 売上非課税対象額 + 返品非課税対象額 + 訂正非課税対象額,--2015/01/24 ADD
					--2016/04/07 ADD↓
					--外税対象額 = 売上外税対象額
					--		   + 返品外税対象額,
					外税対象額 = CASE WHEN MH.税集計区分 = 3--税対象外得意先
									THEN 0
									ELSE
										売上外税対象額
									   + 返品外税対象額
							   END,
					--2016/04/07 ADD↑
					外税額 = CASE WHEN MH.税集計区分 = 0
										 THEN dbo.fn_CutFraction(消費税端数,(売上外税対象額 + 返品外税対象額) / 100 * @TAX,0)
								WHEN MH.税集計区分 = 1 THEN 0
								WHEN MH.税集計区分 = 2 THEN 明細消費税合計
								ELSE 0--2016/04/07 ADD
						   END,
					MH.税集計区分, MH.売上端数, MH.消費税端数
				FROM
					(
					SELECT 	TBL.見積番号, 
							売上日付 = MAX(TBL.仕入日付),
							--件数 = COUNT(仕入明細行番号),
							--税集計区分, 仕入端数, 消費税端数, 伝票区分, 仕入税区分, 
							売上外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
							売上内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
							売上内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),0)),
							--2015/01/24 ADD
							売上非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '1' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),

							返品外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
							返品内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
							返品内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),0)),
							--2015/01/24 ADD
							返品非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '2' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),

							訂正外税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 0 THEN TBL.売上金額 END),0)),
							訂正内税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 1 THEN TBL.売上金額 END),0)),
							訂正内税額 = SUM(dbo.fn_CutFraction(MH.消費税端数, ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 1 THEN TBL.売上金額 / (100 + @TAX) * @TAX END),0),0)),
							--2015/01/24 ADD
							訂正非課税対象額 = SUM(ISNULL((CASE WHEN TBL.伝票区分 = '3' AND TBL.売上税区分 = 2 THEN TBL.売上金額 END),0)),
							明細消費税合計 = SUM(TBL.消費税額)
						FROM #TBL AS TBL
							INNER JOIN TD見積 AS MH
								ON TBL.見積番号 = MH.見積番号
						GROUP BY	TBL.見積番号

					) AS D
					INNER JOIN TD見積 AS MH
						ON D.見積番号 = MH.見積番号
				ORDER BY     D.見積番号
			
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------------
		--売上明細データ登録
		------------------------------------------------------
		INSERT	TD売上明細V2
				(
					売上番号,
					売上明細行番号,
					見積明細連番,
					見積明細区分,
					伝票区分,
					特別区分,
					SP区分,PC区分,
					製品NO,仕様NO,
					ベース色,漢字名称,
					W,D,H,D1,D2,H1,H2,
					エラー内容,
					売上数量,
					単位名,
					売上単価,仕入単価,
					売上金額,仕入金額,
					定価,
					売上税区分,
					消費税額,
					製品区分,
					初期登録日,登録変更日
				)

			SELECT
					売上番号,
					売上明細行番号,
					見積明細連番,
					見積明細区分,
					伝票区分,
					特別区分,
					SP区分,PC区分,
					製品NO,仕様NO,
					ベース色,漢字名称,
					W,D,H,D1,D2,H1,H2,
					エラー内容,
					売上数量,
					単位名,
					売上単価,仕入単価,
					売上金額,仕入金額,
					定価,
					売上税区分,
					消費税額,
					製品区分,
					GETDATE(),GETDATE()

				FROM #TBL
				ORDER BY 行番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
		DROP TABLE #TBL


		--SELECT '新売上' AS 'CR売上',
		--		* FROM TD売上v2
		--	WHERE 売上番号 = @i売上番号

		--SELECT '新売上明細' AS 'CR売上明細',
		--		* FROM TD売上明細V2
		--	WHERE 売上番号 = @i売上番号
		--	ORDER BY 売上明細行番号

		--------------------------------------------------
		--得意先マスタの最終使用日の更新
		--------------------------------------------------	
		UPDATE	TM得意先
			SET	最終使用日 = CONVERT(CHAR(10),GETDATE(),111)
			WHERE 得意先CD = @i得意先CD

		------------------------------------------------------
		--見積Ｄ[売上日]を更新する
		------------------------------------------------------
		DECLARE	@w売上日付	DATETIME

		SELECT @w売上日付 = MAX(売上日付)
			FROM	TD売上v2
			WHERE	見積番号 = @i見積番号

		UPDATE 	TD見積
			SET	売上日付 = CONVERT(CHAR(10),@w売上日付,111)
			WHERE 	見積番号 = @i見積番号



	END --IF NOT EXISTS(SELECT * FROM TD見積 AS MH WHERE	MH.見積件名
--2024/09/24 ADD↑

	--------------------------------------------------
	--獲得売上番号を返す。
	--------------------------------------------------	
	SET @RetNo = @i仕入番号

EXIT_SP:
	IF( CURSOR_STATUS('local', 'csr仕入明細内訳' ) >= 0 )	BEGIN
		CLOSE	csr仕入明細内訳
		DEALLOCATE	csr仕入明細内訳
	END
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
