/****** Object:  StoredProcedure [dbo].[usp_SH0100買掛金元帳M]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SH0100買掛金元帳M]
GO
/****** Object:  StoredProcedure [dbo].[usp_SH0100買掛金元帳M]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SH0100買掛金元帳M

機能	指定された条件で支払明細を作成する

引数	

戻り値	

修正履歴
	2002/11/28	仕入区分(掛・現金)をテーブルに追加
	2002/11/29	伝票合計・消費税明細追加
	2003/11/01	kawamura 	伝票区分はVARCHAR(1)に変更
	2003/12/09 	kawamura 	明細出力順を伝票番号(仕入番号)順→見積番号に変更
					行管理番号を900→9000
	2004/01/22 	kawamura 	税集計区分の混在対応
	2010/01/28	oosawa	伝票単位の場合でもおかしな最終消費税行が出てしまっていた
					（税集計区分が変更されている場合のみ？）
	2010/05/20	oosawa	並び順の変更
	2013/10/29	oosawa	TD仕入系の変更に伴う修正(仕分番号の削除)

	2015/03/02	oosawa		製品NO 7→12
							仕様NO 7→10
	
	2015/06/09	oosawa		明細税のとき、消費税行と合計行を表示
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SH0100買掛金元帳M]
	@i仕入先CD	VARCHAR(4) = NULL,
	@iSDATE		DATETIME,
	@iEDATE		DATETIME,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT

AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--トランザクション開始
	BEGIN	TRAN

	--ワークテーブル作成
	CREATE TABLE #wk_元帳明細 (
		仕入先CD	VARCHAR(4)	NOT NULL,
		日付		DATETIME	NULL,
		区分		INT		NOT NULL,
		伝票番号	INT		NOT NULL,
		見積番号 	INT 		NULL,
		--仕分番号	VARCHAR(2) 	NULL,
		行番号 	INT 		NULL,
		見積行番号 	INT 		NULL,
		伝票区分 	VARCHAR(1) 	NULL,
		PC区分 	VARCHAR(1) 	NULL,
		--製品NO 	CHAR(7)	NULL,
		--仕様NO 	CHAR(7)	NULL,
		製品NO 	CHAR(12)	NULL,--2015/03/02 ADD
		仕様NO 	CHAR(10)	NULL,--2015/03/02 ADD
		品名 	 	VARCHAR(40) NULL,
		W		SMALLINT	NULL,
		D 		SMALLINT 	NULL,
		H 		SMALLINT 	NULL,
		D1 		SMALLINT 	NULL,
		D2 		SMALLINT 	NULL,
		H1 		SMALLINT 	NULL,
		H2 		SMALLINT 	NULL,
		数量		MONEY 	NULL,
		単位名		VARCHAR(6)	NULL,		
		単価 		MONEY 	NULL,
		金額 		MONEY	NULL,
		納入先名1 	VARCHAR(28) NULL,
--2010/05/20 ADD↓
		担当者CD	SMALLINT	NULL,
		得意先CD	VARCHAR(4)	NULL,
		納入得意先CD	VARCHAR(4)	NULL,
		納入先CD	VARCHAR(4)	NULL
--2010/05/20 ADD↑
		) ON [PRIMARY]

	SET @ST = @@ERROR
	IF (@ST <> 0)	BEGIN
		SET @MSG = 'ワークテーブル作成エラー'
		GOTO EXIT_SP
	END

	--仕入明細作成
	INSERT INTO #wk_元帳明細
			(
				仕入先CD, 日付, 区分, 伝票番号, 見積番号, 
				行番号, 見積行番号,
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1,
				担当者CD, 得意先CD, 納入得意先CD, 納入先CD 		--2010/05/20 ADD
			)
		SELECT 	SM.仕入先CD, SM.仕入日付, 0 AS 区分, SM.仕入番号, SM.見積番号, 
				--SM.仕分番号, 仕入明細行番号, 見積行番号,
				仕入明細行番号, 見積行番号,
				伝票区分, PC区分, 製品NO, 仕様NO, 漢字名称, 
				W, D, H, D1, D2, H1, H2,
				仕入数量, 単位名, 仕入単価, 仕入金額, SH.納入先名1,
				SH.担当者CD, SH.得意先CD, SH.納入得意先CD, SH.納入先CD 		--2010/05/20 ADD
			FROM TD仕入明細 AS SM
			LEFT JOIN 	TD仕入明細内訳 AS SMU 
				ON 	SM.仕入番号 = SMU.仕入番号
				--AND 	SM.仕入先CD = SMU.仕入先CD
				--AND 	SM.配送先CD = SMU.配送先CD
				--AND 	SM.仕分番号 = SMU.仕分番号
			LEFT JOIN 	TD仕入 AS SH 
				ON 	SM.仕入番号 = SH.仕入番号
			WHERE 	SM.仕入先CD = @i仕入先CD
				AND 	SM.支払日付 >= @iSDATE
				AND 	SM.支払日付 <= @iEDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--2015/09/04 ADD↓
	--伝票税抜金額作成(区分=0 行番号=8999)
	INSERT INTO #wk_元帳明細 
			(
				仕入先CD, 日付, 区分, 伝票番号, 見積番号, 
				行番号, 見積行番号,
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1,
				担当者CD, 得意先CD, 納入得意先CD, 納入先CD 		--2010/05/20 ADD
			)
		SELECT 	SM.仕入先CD, SM.仕入日付, CONVERT(INT,0) AS 区分, SM.仕入番号, SM.見積番号, 
				8999 AS 行番号, 8999 AS 見積行番号,
				NULL, NULL, NULL, NULL, '　　　　　　【税抜計】',
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				NULL, NULL, NULL, 
				金額=合計金額,--2015/06/09 ADD
				NULL,
				SH.担当者CD, SH.得意先CD, SH.納入得意先CD, SH.納入先CD 		--2010/05/20 ADD
			FROM 		TD仕入明細 AS SM 
			--2010/05/20 ADD↓
			LEFT JOIN 	TD仕入 AS SH 
				ON 	SM.仕入番号 = SH.仕入番号
			--2010/05/20 ADD↑
			WHERE 	SM.仕入先CD 	= @i仕入先CD
				AND 	SM.支払日付 >= @iSDATE
				AND 	SM.支払日付 <= @iEDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2015/09/04 ADD↑
	
	--伝票毎消費税額作成(区分=0 枝番=9000)
	INSERT INTO #wk_元帳明細 
			(
				仕入先CD, 日付, 区分, 伝票番号, 見積番号, 
				行番号, 見積行番号,
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1,
				担当者CD, 得意先CD, 納入得意先CD, 納入先CD 		--2010/05/20 ADD
			)
		SELECT 	SM.仕入先CD, SM.仕入日付, CONVERT(INT,0) AS 区分, SM.仕入番号, SM.見積番号, 
				--'ZZ' AS 仕分番号, 900 AS 行番号, 900 AS 見積行番号,
				----SM.仕分番号, 9000 AS 行番号, 9000 AS 見積行番号,
				9000 AS 行番号, 9000 AS 見積行番号,
				NULL, NULL, NULL, NULL, '　　　　　　【消費税額】',
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				NULL, NULL, NULL, 金額=(CONVERT(MONEY, ISNULL(SM.外税額,0))), NULL,
				SH.担当者CD, SH.得意先CD, SH.納入得意先CD, SH.納入先CD 		--2010/05/20 ADD
			FROM 		TD仕入明細 AS SM 
			--2010/05/20 ADD↓
			LEFT JOIN 	TD仕入 AS SH 
				ON 	SM.仕入番号 = SH.仕入番号
			--2010/05/20 ADD↑
			WHERE 	SM.仕入先CD = @i仕入先CD
				AND 	SM.支払日付 >= @iSDATE
				AND 	SM.支払日付 <= @iEDATE
				--AND 	税集計区分 = 0--2015/06/09 DEL
				AND 	税集計区分 <> 1--2015/06/09 ADD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--伝票合計作成(区分=0 行番号=9001)
	INSERT INTO #wk_元帳明細 
			(
				仕入先CD, 日付, 区分, 伝票番号, 見積番号, 
				行番号, 見積行番号,
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1,
				担当者CD, 得意先CD, 納入得意先CD, 納入先CD 		--2010/05/20 ADD
			)
		SELECT 	SM.仕入先CD, SM.仕入日付, CONVERT(INT,0) AS 区分, SM.仕入番号, SM.見積番号, 
				--'ZZ' AS 仕分番号, 901 AS 行番号, 901 AS 見積行番号,
				----SM.仕分番号, 9001 AS 行番号, 9001 AS 見積行番号,
				9001 AS 行番号, 9001 AS 見積行番号,
				NULL, NULL, NULL, NULL, '　　　　　　【仕入伝票計】',
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				NULL, NULL, NULL, 
				--金額=(合計金額 + CASE 税集計区分 WHEN 0 THEN 外税額 WHEN 1 THEN 0 END),--2015/06/09 DEL
				金額=(合計金額 + CASE 税集計区分 WHEN 1 THEN 0 ELSE 外税額 END),--2015/06/09 ADD
				NULL,
				SH.担当者CD, SH.得意先CD, SH.納入得意先CD, SH.納入先CD 		--2010/05/20 ADD
			FROM 		TD仕入明細 AS SM 
			--2010/05/20 ADD↓
			LEFT JOIN 	TD仕入 AS SH 
				ON 	SM.仕入番号 = SH.仕入番号
			--2010/05/20 ADD↑
			WHERE 	SM.仕入先CD 	= @i仕入先CD
				AND 	SM.支払日付 >= @iSDATE
				AND 	SM.支払日付 <= @iEDATE
				AND 	税集計区分 <> 1--2015/09/04 ADD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--支払明細作成(区分=1 仕分番号=NULL 行番号=枝番)
	INSERT INTO #wk_元帳明細
			(
				仕入先CD, 日付, 区分, 伝票番号, 見積番号, 
				行番号, 見積行番号,
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1,
				担当者CD, 得意先CD, 納入得意先CD, 納入先CD 		--2010/05/20 ADD
			)
		SELECT 	仕入先CD, 支払日付, CONVERT(INT,1), 支払番号, 支払番号, 
				枝番, 枝番,
				NULL, NULL, NULL, 支払区分CD, 支払区分名,
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				NULL, NULL, NULL, 支払金額, NULL,
				NULL, NULL, NULL, NULL 					--2010/05/20 ADD
			FROM 		TD支払
			WHERE	仕入先CD = @i仕入先CD
			    	AND 	支払日付 >= @iSDATE
			    	AND 	支払日付 <= @iEDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--支払単位の税明細作成(区分=2 仕分番号=ZZ 行番号=9000)
	INSERT INTO #wk_元帳明細 
			(
				仕入先CD, 日付, 区分, 伝票番号, 見積番号, 
				行番号, 見積行番号,
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1,
				担当者CD, 得意先CD, 納入得意先CD, 納入先CD 		--2010/05/20 ADD
			)
--2010/01/28 ADD↓
		SELECT 
				SM.仕入先CD, @iEDATE, CONVERT(INT,2) AS 区分, 0 AS 仕入番号, 0 AS 見積番号, 
				9000 AS 行番号, 9000 AS 見積行番号,
				NULL, NULL, NULL, NULL, '　　　　　　【消費税額】',
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				--NULL, NULL, NULL, SK.消費税額, NULL							--2004/01/22.DEL
				NULL, NULL, NULL, (ISNULL(SK.消費税額,0)-ISNULL(S.外税額,0)) AS 金額, NULL,	--2004/01/22.ADD
				NULL, NULL, NULL, NULL 					--2010/05/20 ADD
-- 			FROM 		TD仕入明細 AS SM 
			FROM	(
				--支払単位が存在するか用のSELECT
				SELECT SM.仕入先CD
					FROM	TD仕入明細 AS SM 
					WHERE 	SM.仕入先CD = @i仕入先CD
						AND 	SM.支払日付 >= @iSDATE
						AND 	SM.支払日付 <= @iEDATE
						AND 	税集計区分 = 1--支払単位
					GROUP BY SM.仕入先CD
				) AS SM
			LEFT JOIN 	
				(
				SELECT 仕入先CD, 消費税額 
					FROM TM支払金額
					WHERE 	支払日付 = @iEDATE
						AND 	仕入先CD 	= @i仕入先CD
						AND 	伝票枚数 <> 0
				) AS SK 
				ON 	SM.仕入先CD = SK.仕入先CD
			--2004/01/22.ADD
			LEFT JOIN
				(
				SELECT 	SM.仕入先CD, SUM(ISNULL(SM.外税額,0)) AS 外税額
					FROM 		TD仕入明細 AS SM 
					WHERE 	SM.仕入先CD = @i仕入先CD
						AND 	SM.支払日付 >= @iSDATE
						AND 	SM.支払日付 <= @iEDATE
						AND 	税集計区分 = 0--伝票単位
					GROUP BY 	SM.仕入先CD
					HAVING 	SUM(ISNULL(SM.外税額,0)) <> 0
				) AS S
				ON 	S.仕入先CD = SK.仕入先CD
			----------------
			WHERE 	SM.仕入先CD = @i仕入先CD
-- 				AND 	税集計区分 = 1--支払単位
--				AND 	SK.消費税額 IS NOT NULL								--2004/01/22.DEL
				AND 	(ISNULL(SK.消費税額,0)-ISNULL(S.外税額,0)) <> 0				--2004/01/22.ADD
--2010/01/28 ADD↑
--2010/01/28 DEL↓
-- 		SELECT DISTINCT	
-- 				SM.仕入先CD, @iEDATE, CONVERT(INT,2) AS 区分, 0 AS 仕入番号, 0 AS 見積番号, 
-- 				'ZZ' AS 仕分番号, 9000 AS 行番号, 9000 AS 見積行番号,
-- 				NULL, NULL, NULL, NULL, '　　　　　　【消費税額】',
-- 				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
-- 				--NULL, NULL, NULL, SK.消費税額, NULL							--2004/01/22.DEL
-- 				NULL, NULL, NULL, (ISNULL(SK.消費税額,0)-ISNULL(S.外税額,0)) AS 金額, NULL	--2004/01/22.ADD
-- 			FROM 		TD仕入明細 AS SM 
-- 			LEFT JOIN 	
-- 				(
-- 				SELECT 仕入先CD, 消費税額 
-- 					FROM TM支払金額
-- 					WHERE 	支払日付 = @iEDATE
-- 						AND 	仕入先CD 	= @i仕入先CD
-- 						AND 	伝票枚数 <> 0
-- 				) AS SK 
-- 				ON 	SM.仕入先CD = SK.仕入先CD
-- 			--2004/01/22.ADD
-- 			LEFT JOIN
-- 				(
-- 				SELECT 	SM.仕入先CD, SUM(ISNULL(SM.外税額,0)) AS 外税額
-- 					FROM 		TD仕入明細 AS SM 
-- 					WHERE 	SM.仕入先CD = @i仕入先CD
-- 						AND 	SM.支払日付 >= @iSDATE
-- 						AND 	SM.支払日付 <= @iEDATE
-- 						AND 	税集計区分 = 0
-- 					GROUP BY 	SM.仕入先CD
-- 					HAVING 	SUM(ISNULL(SM.外税額,0)) <> 0
-- 				) AS S
-- 				ON 	S.仕入先CD = SK.仕入先CD
-- 			----------------
-- 			WHERE 	SM.仕入先CD = @i仕入先CD
-- 				AND 	税集計区分 = 1
-- --				AND 	SK.消費税額 IS NOT NULL								--2004/01/22.DEL
-- 				AND 	(ISNULL(SK.消費税額,0)-ISNULL(S.外税額,0)) <> 0				--2004/01/22.ADD
--2010/01/28 DEL↑


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--明細が無い時空打ち用に空レコード作成(区分=3 仕分番号=NULL 行番号=9000)
-- 	IF  EXISTS (SELECT 	仕入先CD 
-- 				FROM 	#wk_元帳明細 
-- 				WHERE 仕入先CD = @i仕入先CD) 	BEGIN
	IF  NOT EXISTS (SELECT 	仕入先CD 
				FROM 	TM支払金額 
				WHERE 	支払日付 = @iEDATE
					AND 	仕入先CD = @i仕入先CD
					AND 	伝票枚数 <> 0) 	BEGIN

		INSERT INTO #wk_元帳明細 
				(
					仕入先CD, 日付, 区分, 伝票番号, 見積番号, 
					行番号, 見積行番号,
					伝票区分, PC区分, 製品NO, 仕様NO, 品名,
					W, D, H, D1, D2, H1, H2, 
					数量, 単位名, 単価, 金額, 納入先名1,
					担当者CD, 得意先CD, 納入得意先CD, 納入先CD 		--2010/05/20 ADD
				)
			VALUES
				(
					@i仕入先CD, NULL, 3, 0, 0, 
					9000, 9000,
					NULL, NULL, NULL, NULL, '',
					NULL, NULL, NULL, NULL, NULL, NULL, NULL,
					NULL, NULL, NULL, NULL, NULL,
					NULL, NULL, NULL, NULL					--2010/05/20 ADD
				)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END


	--セレクト
	SELECT * FROM #wk_元帳明細
		--ORDER BY 仕入先CD,日付,区分,伝票番号,仕分番号, 行番号
-- 		ORDER BY 仕入先CD, 日付, 区分, 見積番号, 仕分番号, 伝票番号, 行番号
		--ORDER BY 仕入先CD, 区分, 担当者CD, 得意先CD, 納入得意先CD, 納入先CD, 日付, 見積番号, 伝票番号, 行番号--2010/05/20 ADD
		ORDER BY 仕入先CD, 日付, 区分, 担当者CD, 得意先CD, 納入得意先CD, 納入先CD, 見積番号, 伝票番号, 行番号--2013/11/12 ADD
		

--	DROP TABLE #WK_支払明細

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
