/****** Object:  StoredProcedure [dbo].[usp_MT0100員数展開]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0100員数展開]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0100員数展開]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_MT0100員数展開

	機能:	員数情報を展開する。
		
 =============================================
	2003/07/29	oosawa
	2003/09/16	oosawa	H1,H2,仕入先名,配送先名追加
	2003/10/29	oosawa	見積区分追加
	2005/10/14	kawamura	U区分追加
	2009/10/07	oosawa	社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLGの追加
					チェックなしなのでALLZEROをセット
	2013/03/08	oosawa		ローカル一時テーブルに変更
 =============================================*/
CREATE        PROCEDURE [dbo].[usp_MT0100員数展開]
	(
	@i見積日付		DATETIME,
	@i得意先CD		VARCHAR(4),
	@i売上端数		SMALLINT,
	@i消費税端数		SMALLINT,
	@i受注区分		SMALLINT,
	@i大小口区分		SMALLINT,
	@CompName		VARCHAR(100),
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

/*	SET @i得意先CD = '0001'
	SET @i売上端数 = 0 
	SET @i消費税端数 = 0
	SET @i大小口区分 = 0
	SET @i受注区分 = 0

	SET	@CompName = 'P2200L'
*/
	--製品判断区分
	DECLARE	@製品区分	INT	--0:製品 1:品群 2:ユニット 3:PCマスタ

	--ユニット変換用ワーク変数
	DECLARE	@w品群NO	CHAR(7)

	--エラーメッセージ用変数
--	DECLARE	@wエラー内容	VARCHAR(255),
--			@wErrCNT	INT

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		NVARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@ROWS見積	INT

	DECLARE	@c見積明細連番 INT ,
			@c見積番号 	INT ,
			@c行番号 	INT ,
			@c追番 	INT ,
			@c展開CHK 	SMALLINT,
			@c見積区分	VARCHAR (1),		--2003/10/29	ADD
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
			@c仕入率	MONEY,
			@c売上単価 	MONEY,
			@c売上率	MONEY,
			@cU区分 	VARCHAR (1),		--2005/10/14 ADD
			@cM区分 	VARCHAR (1),
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c売上金額 	MONEY,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c仕入先CD 	VARCHAR (4),
			@c仕入先名 	VARCHAR (8),
			@c配送先CD 	VARCHAR (4),
			@c配送先名 	VARCHAR (8),
			@c社内在庫数 MONEY,
			@c客先在庫数 MONEY,
			@c転用数 	MONEY,
			@c発注数	MONEY,
			@c総数量 	MONEY,
			@c製品区分	SMALLINT,
			@c仕分数1 	MONEY,
			@c仕分数2 	MONEY,
			@c仕分数3 	MONEY,
			@c仕分数4 	MONEY,
			@c仕分数5 	MONEY,
			@c仕分数6 	MONEY,
			@c仕分数7 	MONEY,
			@c仕分数8 	MONEY,
			@c仕分数9 	MONEY,
			@c仕分数10 	MONEY,
			@c仕分数11	MONEY,
			@c仕分数12 	MONEY,
			@c仕分数13 	MONEY,
			@c仕分数14 	MONEY,
			@c仕分数15 	MONEY,
			@c仕分数16 	MONEY,
			@c仕分数17 	MONEY,
			@c仕分数18 	MONEY,
			@c仕分数19 	MONEY,
			@c仕分数20 	MONEY,
			@c仕分数21 	MONEY,
			@c仕分数22 	MONEY,
			@c仕分数23 	MONEY,
			@c仕分数24 	MONEY,
			@c仕分数25 	MONEY,
			@c仕分数26 	MONEY,
			@c仕分数27 	MONEY,
			@c仕分数28 	MONEY,
			@c仕分数29 	MONEY,
			@c仕分数30 	MONEY

	--消費税用変数
	DECLARE	@TAX		MONEY

	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@wエラー内容 = ''
	--SET	@wErrCNT = 0
	SET	@TAX = dbo.fn_GetTax(@i見積日付)
	--------------------------------------------------
	--出力用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTbl
			FROM Tmp見積明細
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------
	----EXEC ('DECLARE	csr見積明細		CURSOR	 FORWARD_ONLY FOR '
	----		+'SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK,見積区分,'
	----				+' SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),'
	----				+' 漢字名称, W, D, H, D1, D2, H1, H2,'
	----				+' エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,'
	----				+' 仕入金額, 売上金額, 売上税区分, 消費税額,'
	----				+' 仕入先CD,仕入先名, 配送先CD,配送先名,'
	----				+' 社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,'
	----				+'仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,'
	----				+'仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,'
	----				+'仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30'
	----			+' FROM	[##Tmp見積明細_' + @CompName + ']'
	----			+' ORDER BY	行番号'
	----	)
	--2013/03/08 ADD
	DECLARE	csr見積明細		CURSOR LOCAL FORWARD_ONLY FOR 
			SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK,見積区分,
					 SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),
					 漢字名称, W, D, H, D1, D2, H1, H2,
					 エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
					 仕入金額, 売上金額, 売上税区分, 消費税額,
					 仕入先CD,仕入先名, 配送先CD,配送先名,
					 社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,
					仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,
					仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,
					仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30
				 FROM	[#Tmp見積明細]
				 ORDER BY	行番号



	OPEN	csr見積明細
	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS見積 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS見積 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END

	--カーソルREAD
	FETCH NEXT FROM csr見積明細
		INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
				@c展開CHK,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
	WHILE	( @@FETCH_STATUS = 0 )	BEGIN
		----PRINT 'FETCH_SP'

		--SELECT  @cSP区分,@cPC区分,@c製品NO,@c仕様NO
		--------------------------------------------------
		--展開チェックがない物はそのままワークへ書く。
		--------------------------------------------------
		IF @c展開CHK = 0	BEGIN		--展開しない
			GOTO TEMP_NOCONV
		END
		--------------------------------------------------
		--製品NOがない明細の場合
		--------------------------------------------------
		IF @c製品NO = '' AND @cPC区分 = ''	BEGIN
			IF @c漢字名称 <> '' 
				GOTO TEMP_NOCONV
			ELSE BEGIN
				SET @cエラー内容 = 'マスタ未登録'
				--SET @wエラー内容 = 'マスタ未登録'
				--SET @wErrCNT = @wErrCNT +1
				GOTO TEMP_NOCONV
			END
		END
		--------------------------------------------------
		--製品情報マスタよりマスタ情報を取得します。
		--------------------------------------------------
		SET @製品区分 = NULL

		EXEC @ST = usp_Get製品区分 @cPC区分, @c製品NO, @c仕様NO, 
					@製品区分 OUTPUT , @RetST OUTPUT , @RetMsg OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		--------------------------------------------------
		--製品情報に該当するものがない場合
		--------------------------------------------------
		IF @製品区分 IS NULL	BEGIN
			--PRINT 'NULL'
			SET @cエラー内容 = 'マスタ未登録'
			--SET @wエラー内容 = 'マスタ未登録'
			--SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END
		--0:製品 1:品群 2:ユニット 3:PCマスタ
		IF @製品区分 = 0 BEGIN
			--PRINT 'GOTO SEIHIN_SP'
			GOTO SEIHIN_SP
		END
		IF @製品区分 = 1 BEGIN
			--PRINT 'GOTO HINGUN_SP:' + CONVERT(VARCHAR(1),@製品区分)
			GOTO HINGUN_SP
		END
		IF @製品区分 = 2 BEGIN
			--PRINT 'GOTO UNIT_SP'
			GOTO UNIT_SP
		END
		IF @製品区分 = 3 BEGIN
			--PRINT 'GOTO PC_SP'
			GOTO PC_SP
		END

		--合致しなかったら次にいく
		GOTO TEMP_NOCONV

	SEIHIN_SP:
		--PRINT 'SEIHIN_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_MT0100員数展開_製品 
				@i得意先CD, @i大小口区分, @c見積明細連番, @c見積番号, @c行番号, @c追番, 
				@c展開CHK,@c見積区分, @cSP区分, @cPC区分, @c製品NO, @c仕様NO, @cベース色, @c漢字名称, 
				@cW, @cD, @cH, @cD1, @cD2,@cH1, @cH2,
				@cエラー内容, @c定価, @c仕入単価, @c仕入率, @c売上単価, @c売上率, @cU区分, @cM区分, 
				@c見積数量, @c単位名, @c仕入金額, @c売上金額, @c売上税区分, @c消費税額, 
				@c仕入先CD,@c仕入先名, @c配送先CD, @c配送先名, 
				@c社内在庫数, @c客先在庫数, @c転用数, @c発注数, @c総数量, @c製品区分, 
				@c仕分数1, @c仕分数2, @c仕分数3, @c仕分数4, @c仕分数5, 
				@c仕分数6, @c仕分数7, @c仕分数8, @c仕分数9, @c仕分数10, 
				@c仕分数11, @c仕分数12, @c仕分数13, @c仕分数14, @c仕分数15, 
				@c仕分数16, @c仕分数17, @c仕分数18, @c仕分数19, @c仕分数20, 
				@c仕分数21, @c仕分数22, @c仕分数23, @c仕分数24, @c仕分数25, 
				@c仕分数26, @c仕分数27, @c仕分数28, @c仕分数29, @c仕分数30, @RetST OUTPUT , @RetMsg OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		
		GOTO FETCH_NEXT
	PC_SP:
		--PRINT 'PC_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_ChkPC @cPC区分, @c製品NO, @cエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @cエラー内容 = '' BEGIN
--			GOTO SEIHIN_FUZOKU_READ
			GOTO TEMP_NOCONV
		END ELSE BEGIN
--			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END

	HINGUN_SP:
		--PRINT 'HINGUN_SP'
		--------------------------------------------------
		--品群マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_MT0100員数展開_品群
				@i得意先CD, @i大小口区分, @c見積明細連番, @c見積番号, @c行番号, @c追番, 
				@c展開CHK, @c見積区分, @cSP区分, @cPC区分, @c製品NO, @c仕様NO, @cベース色, @c漢字名称, 
				@cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2,
				@cエラー内容, @c定価, @c仕入単価, @c仕入率, @c売上単価, @c売上率, @cU区分, @cM区分, 
				@c見積数量, @c単位名, @c仕入金額, @c売上金額, @c売上税区分, @c消費税額, 
				@c仕入先CD,@c仕入先名, @c配送先CD, @c配送先名, 
				@c社内在庫数, @c客先在庫数, @c転用数, @c発注数, @c総数量, @c製品区分, 
				@c仕分数1, @c仕分数2, @c仕分数3, @c仕分数4, @c仕分数5, 
				@c仕分数6, @c仕分数7, @c仕分数8, @c仕分数9, @c仕分数10, 
				@c仕分数11, @c仕分数12, @c仕分数13, @c仕分数14, @c仕分数15, 
				@c仕分数16, @c仕分数17, @c仕分数18, @c仕分数19, @c仕分数20, 
				@c仕分数21, @c仕分数22, @c仕分数23, @c仕分数24, @c仕分数25, 
				@c仕分数26, @c仕分数27, @c仕分数28, @c仕分数29, @c仕分数30, @RetST OUTPUT , @RetMsg OUTPUT 

		IF ( @ST <> 0 )	GOTO	EXIT_SP

		GOTO FETCH_NEXT

	UNIT_SP:
		--PRINT 'UNIT_SP'
		--------------------------------------------------
		--ユニットマスタの存在チェック
		--------------------------------------------------
		IF NOT EXISTS(SELECT ユニットNO FROM TMユニット WHERE ユニットNO = @c製品NO) BEGIN
			--存在しない場合、書き込みます。
			SET @cエラー内容 = 'ユニットマスタ未登録'
			--SET @wエラー内容 = 'ユニットマスタ未登録'
			--SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END
		--------------------------------------------------
		--ユニットｺｰﾄﾞを品群ｺｰﾄﾞに変換する
		--------------------------------------------------
		SELECT	@w品群NO = 品群NO
				FROM TMユニット
				WHERE ユニットNO = @c製品NO
	
		SET @ST = @@ERROR
		IF ( @ST <> 0 )	BEGIN
			RAISERROR('ユニット№:%s. ユニット情報でエラーが発生しました。 ', 16, 1,@c製品NO)
			GOTO	EXIT_SP
		END
		--変換したので区分も１にする
		SET @c製品区分 = 1
		--------------------------------------------------
		--変換した品群ｺｰﾄﾞで展開を行う
		--------------------------------------------------
		EXEC @ST = usp_MT0100員数展開_品群
				@i得意先CD, @i大小口区分, @c見積明細連番, @c見積番号, @c行番号, @c追番, 
				@c展開CHK, @c見積区分, @cSP区分, @cPC区分, @w品群NO, @c仕様NO, @cベース色, @c漢字名称, 
				@cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, 
				@cエラー内容, @c定価, @c仕入単価, @c仕入率, @c売上単価, @c売上率, @cU区分, @cM区分, 
				@c見積数量, @c単位名, @c仕入金額, @c売上金額, @c売上税区分, @c消費税額, 
				@c仕入先CD,@c仕入先名, @c配送先CD, @c配送先名, 
				@c社内在庫数, @c客先在庫数, @c転用数, @c発注数, @c総数量, @c製品区分, 
				@c仕分数1, @c仕分数2, @c仕分数3, @c仕分数4, @c仕分数5, 
				@c仕分数6, @c仕分数7, @c仕分数8, @c仕分数9, @c仕分数10, 
				@c仕分数11, @c仕分数12, @c仕分数13, @c仕分数14, @c仕分数15, 
				@c仕分数16, @c仕分数17, @c仕分数18, @c仕分数19, @c仕分数20, 
				@c仕分数21, @c仕分数22, @c仕分数23, @c仕分数24, @c仕分数25, 
				@c仕分数26, @c仕分数27, @c仕分数28, @c仕分数29, @c仕分数30, @RetST OUTPUT , @RetMsg OUTPUT 

		IF ( @ST <> 0 )	GOTO	EXIT_SP

		GOTO FETCH_NEXT
/*
SEIHIN_FUZOKU_READ:
		PRINT 'SEIHIN_FUZOKU_READ'
		--------------------------------------------------
		--製品の付属情報を変数にセットします。
		--------------------------------------------------
		SELECT 
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			@c売上税区分 = MS.売上税区分,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			AND		@cPC区分 = ''

		--PCマスタの場合
		SELECT 
			--@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			--@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			@c売上税区分 = MS.売上税区分,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TMPC AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.PC区分 = MT.PC区分
			WHERE	MS.製品NO = @c製品NO
			--AND		@c仕様NO = ''
			AND		@cPC区分 <> ''

			--仕入率算出(桁数２　四捨五入)
			--PRINT '仕入率算出'
--			SET @c仕入率 = dbo.fn_CutFraction(0,dbo.fn_Divide(@c仕入単価,@c定価)*100,2)
			--売上率算出
--			SET @c売上率 =  dbo.fn_CutFraction(0,dbo.fn_Divide(@c売上単価,@c定価)*100,2)
			--仕入金額算出
--			SET @c仕入金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c仕入単価,0)
			--売上金額算出
--			SET @c売上金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c売上単価,0)
			--消費税額算出
--			IF @c売上税区分 = 0		--外税
--				SET @c消費税額 = 0
--			ELSE				--内税
--				SET @c消費税額 = dbo.fn_CutFraction(@i消費税端数, (@c売上金額 / (100 + @TAX) * @TAX), 0)

CODE_CHECK:
		--PRINT 'CODE_CHECK'
		--------------------------------------------------
		--仕入先・配送先のチェックを行ないます。
		--------------------------------------------------
		--仕入先チェック
		IF NOT EXISTS(SELECT 仕入先CD FROM TM仕入先 WHERE 仕入先CD = @c仕入先CD) BEGIN
			SET @wエラー内容 = '仕入先マスタ　未登録'
			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END
		--配送先チェック
		IF NOT EXISTS(SELECT 配送先CD FROM TM配送先 WHERE 配送先CD = @c配送先CD) BEGIN
			SET @wエラー内容 = '配送先マスタ　未登録'
			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END

ZAIKO_CHECK:
		--PRINT 'ZAIKO_CHECK'
		--------------------------------------------------
		--在庫のチェックを行ないます。(受注区分＝1:確定　在庫管理区分＝0:する)
		--------------------------------------------------
*/		--集計してからのほうがよい！！
/*		IF @i受注区分 = 1  BEGIN
			--社内在庫
			SELECT @wエラー内容 = CASE WHEN @c社内在庫数  > ISNULL(MSZ.現在庫数,0) THEN '社内在庫数が足りません。' ELSE '' END
				FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
					INNER JOIN (SELECT * FROM TM社内在庫) AS MSZ
					ON MS.製品NO = MSZ.製品NO
					AND MS.仕様NO = MSZ.仕様NO
				WHERE MS.製品NO = @c製品NO
				AND	MS.仕様NO = @c仕様NO
				AND	@cPC区分 = ''
				AND	@cSP区分 = ''

			IF @wエラー内容 <> ''
				SET @wErrCNT = @wErrCNT +1
				GOTO TEMP_NOCONV


			--客先在庫
			SELECT @wエラー内容 = CASE WHEN @c客先在庫数  > ISNULL(MKZ.現在庫数,0) THEN '客先在庫数が足りません。' ELSE '' END
				FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
					INNER JOIN (SELECT * FROM TM客先在庫 WHERE 得意先CD = @i得意先CD) AS MKZ
					ON MS.製品NO = MKZ.製品NO
					AND MS.仕様NO = MKZ.仕様NO
				WHERE MS.製品NO = @c製品NO
				AND	MS.仕様NO = @c仕様NO
				AND	@cPC区分 = ''
				AND	@cSP区分 = ''

			IF @wエラー内容 <> ''
				SET @wErrCNT = @wErrCNT +1
				GOTO TEMP_NOCONV

		END
*/
TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。
		--------------------------------------------------
		--同一製品が存在する場合は、仕分数を足しこむ。
		--しかし、製品NOのない物は除外する。
		IF @cPC区分 = '' AND @c製品NO = '' BEGIN
			INSERT	#WkTbl
				(
				見積明細連番, 見積番号, 行番号, 追番, 
				展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
				W, D, H, D1, D2, H1, H2, 
				エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
				仕入金額, 売上金額, 売上税区分, 消費税額,
				仕入先CD,仕入先名, 配送先CD, 配送先名,
				社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分,
				仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
				仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
				仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
				社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
				)
			SELECT
				@c見積明細連番,@c見積番号, @c行番号,@c追番,
				0,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容/*@wエラー内容*/,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量, @c製品区分,
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30,
				0, 0, 0	--2009/10/07 ADD
		END ELSE BEGIN			
			--同一製品が存在する場合は、仕分数を足しこむ。
			IF NOT EXISTS(SELECT * FROM #WkTbl
						WHERE		/*SP区分 = @cSP区分
						AND		*/PC区分 = @cPC区分
						AND		製品NO = @c製品NO
						AND		仕様NO = @c仕様NO
						AND		ベース色 = @cベース色
						AND		W = @cW
						AND		D = @cD
						AND		H = @cH
						AND		D1 = @cD1
						AND		D2 = @cD2
						AND		H1 = @cH1
						AND		H2 = @cH2
										) BEGIN
				INSERT	#WkTbl
					(
					見積明細連番, 見積番号, 行番号, 追番, 
					展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
					W, D, H, D1, D2, H1, H2, 
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
					仕入金額, 売上金額, 売上税区分, 消費税額,
					仕入先CD,仕入先名, 配送先CD, 配送先名,
					社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分,
					仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
					仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
					仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
					社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
					)
				SELECT
					@c見積明細連番,@c見積番号, @c行番号,@c追番,
					0,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容/*@wエラー内容*/,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
					@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
					@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
					@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量, @c製品区分,
					@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
					@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
					@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30,
					0, 0, 0	--2009/10/07 ADD
		END ELSE BEGIN
				UPDATE #WkTbl
					SET	
						/*漢字名称 = @c漢字名称,
						単位名	 = @c単位名,
						定価 = @c定価,
						仕入単価 = @c仕入単価,
						売上単価 = @c売上単価,
						M区分 = @cM区分,
						売上税区分 = @c売上税区分,
						仕入先CD = @c仕入先CD,
						配送先CD =@c配送先CD,
						社内在庫数 = @c社内在庫数,
						客先在庫数 = @c客先在庫数,
						転用数 = @c転用数,*/
						総数量 = 総数量 + @c総数量,
						仕分数1 = 仕分数1 + @c仕分数1,
						仕分数2 = 仕分数2 + @c仕分数2,
						仕分数3 = 仕分数3 + @c仕分数3,
						仕分数4 = 仕分数4 + @c仕分数4,
						仕分数5 = 仕分数5 + @c仕分数5,
						仕分数6 = 仕分数6 + @c仕分数6,
						仕分数7 = 仕分数7 + @c仕分数7,
						仕分数8 = 仕分数8 + @c仕分数8,
						仕分数9 = 仕分数9 + @c仕分数9,
						仕分数10 = 仕分数10 + @c仕分数10,
						仕分数11 = 仕分数11 + @c仕分数11,
						仕分数12 = 仕分数12 + @c仕分数12,
						仕分数13 = 仕分数13 + @c仕分数13,
						仕分数14 = 仕分数14 + @c仕分数14,
						仕分数15 = 仕分数15 + @c仕分数15,
						仕分数16 = 仕分数16 + @c仕分数16,
						仕分数17 = 仕分数17 + @c仕分数17,
						仕分数18 = 仕分数18 + @c仕分数18,
						仕分数19 = 仕分数19 + @c仕分数19,
						仕分数20 = 仕分数20 + @c仕分数20,
						仕分数21 = 仕分数21 + @c仕分数21,
						仕分数22 = 仕分数22 + @c仕分数22,
						仕分数23 = 仕分数23 + @c仕分数23,
						仕分数24 = 仕分数24 + @c仕分数24,
						仕分数25 = 仕分数25 + @c仕分数25,
						仕分数26 = 仕分数26 + @c仕分数26,
						仕分数27 = 仕分数27 + @c仕分数27,
						仕分数28 = 仕分数28 + @c仕分数28,
						仕分数29 = 仕分数29 + @c仕分数29,
						仕分数30 = 仕分数30 + @c仕分数30
					WHERE		/*SP区分 = @cSP区分
					AND		*/PC区分 = @cPC区分
					AND		製品NO = @c製品NO
					AND		仕様NO = @c仕様NO
					AND		ベース色 = @cベース色					AND		W = @cW
					AND		D = @cD
					AND		H = @cH
					AND		D1 = @cD1
					AND		D2 = @cD2
					AND		H1 = @cH1
					AND		H2 = @cH2
			END
		END

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

FETCH_NEXT:
		--PRINT 'FETCH_NEXT'
		FETCH NEXT FROM csr見積明細
			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
					@c展開CHK,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
					@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
					@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
					@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
					@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
					@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
					@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30



	END--WHILE

SELECT_SP:

	--PRINT 'SELECT_SP'
--	SELECT WK.*,@wErrCNT AS ErrCnt
	SELECT WK.*
		FROM #WkTbl AS WK
			ORDER BY WK.見積番号,WK.行番号

	--DROP TABLE #WkTbl
EXIT_SP:
	--PRINT 'EXIT_SP'
-- 	IF( CURSOR_STATUS( 'GLOBAL', 'csr見積明細' ) >= 0 )	BEGIN
 	IF( CURSOR_STATUS( 'LOCAL', 'csr見積明細' ) >= 0 )	BEGIN
		CLOSE	csr見積明細
		DEALLOCATE	csr見積明細
	END
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
--	RETURN @ST




GO
