/****** Object:  StoredProcedure [dbo].[usp_KD0800チーム別按分経費集計表出力V5]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_KD0800チーム別按分経費集計表出力V5]
GO
/****** Object:  StoredProcedure [dbo].[usp_KD0800チーム別按分経費集計表出力V5]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_KD0800チーム別按分経費集計表出力v4

機能	経費を出力する
		チーム毎に売上金額、人数で科目を按分する
		EXCEL側でピボットテーブルを作成するのでベタ出力

引数

戻り値

修正履歴
	2016/01/11	oosawa		新規作成
	2018/02/06	oosawa		按分集計を現在の案分比率で今年・昨年分
							集計するように変更
	2019/02/25	oosawa		チーム毎から統計集計先毎に集計を変更
	2021/02/04	oosawa		按分集計方法変更
								工事部なし
								前年再計算しない
	2021/05/22	oosawa		ﾏﾐｰ・ｱﾎﾟｯｸ除外
							ロピア追加
	2021/05/25	oosawa		新集計方式（人数+売上按分）追加
	2022/08/30	oosawa		営業担当の人数で按分。端数は売上按分方式で多い所へ付ける
							工事担当の人数で按分。端数は売上按分方式で多い所へ付ける
							上記は統計集計時に行う。
							こちらでは日付・科目・金額の情報を別テーブルへ保存するのみ
	2023/04/21	oosawa		業種区分で按分集計
*****************************************************/
CREATE PROCEDURE [dbo].[usp_KD0800チーム別按分経費集計表出力V5]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	
	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	---------------------------
	--按分経費データ作成
	---------------------------
	--2018/02/06 ADD↓
	----------------------------------------
	--	案分情報(従業員・科目案分)が複数情報を持てないため
	--	計算処理をしないようにする。
	----------------------------------------
	DECLARE	@w買掛月次更新日 DATETIME
	
	SELECT @w買掛月次更新日 =  更新日付
			FROM TMDates
			WHERE DateID = '買掛月次更新日'
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF	@iE集計日付 >= @w買掛月次更新日 BEGIN
		--終了集計日付が売掛月次更新日より小さい場合、計算しない。
		--前月は計算対象とする
		--EXEC @ST = usp_KD0801経費按分データ作成V2 @iS集計日付,@iE集計日付
		--EXEC @ST = usp_KD0801経費按分データ作成V3 @iS集計日付,@iE集計日付	--2020/02/15 ADD
		--EXEC @ST = usp_KD0801経費按分データ作成V4 @iS集計日付,@iE集計日付	--2021/02/04 ADD
		--EXEC @ST = usp_KD0801経費按分データ作成V5 @iS集計日付,@iE集計日付	--2021/05/25 ADD
		--EXEC @ST = usp_KD0801経費按分データ作成V6 @iS集計日付,@iE集計日付	--2022/08/30 ADD
		EXEC @ST = usp_KD0801経費按分データ作成V7 @iS集計日付,@iE集計日付	--2023/04/21 ADD

		IF @ST<>0 GOTO	EXIT_SP

		----前年分も現案分方法で再集計
		--DECLARE	@wS前年集計日付	DATETIME,
		--		@wE前年集計日付	DATETIME
				
		--SET @wS前年集計日付	= DATEADD(YY,-1,@iS集計日付)
		--SET @wE前年集計日付	= dbo.ufn_GetLastDateOfScope(DATEADD(YY,-1,@iE集計日付),99)

		----EXEC @ST = usp_KD0801経費按分データ作成V2 @wS前年集計日付,@wE前年集計日付
		----EXEC @ST = usp_KD0801経費按分データ作成V3 @wS前年集計日付,@wE前年集計日付	--2020/02/15 ADD --2021/02/04　DEL

		--IF @ST<>0 GOTO	EXIT_SP

		--GOTO	EXIT_SP
	END
	--EXEC @ST = usp_KD0801経費按分データ作成 @iS集計日付,@iE集計日付

	--IF @ST<>0 GOTO	EXIT_SP

	--2018/02/06 ADD↑

		--DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		----DECLARE @wマミー		VARCHAR(4) = '7001'
		--DECLARE	@wロピア		VARCHAR(4) = '4209'--2021/05/22 ADD

		--DECLARE	@wベルク		VARCHAR(4) = '6601'
		--DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		----DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		--DECLARE	@wしまむら		VARCHAR(4) = '3201'

		--DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		--DECLARE @wビバ			VARCHAR(4) = '4801'
		----DECLARE	@wアポック		VARCHAR(4) = '5201'


	---------------------------
	--経費集計
	---------------------------
	SELECT	KK.集計CD, AN.科目CD, KK.科目名,
			AN.按分金額,
			AN.業種区分,
			業種名 = CASE WHEN AN.業種区分 = 0 THEN '什器' ELSE '内装' END
		FROM	
			(SELECT 科目CD,業種区分,
					按分金額 = SUM(按分金額)
				FROM TD経費按分集計V5 AS AN
				WHERE	AN.集計日付 >= @iS集計日付
					AND	AN.集計日付 <= @iE集計日付
				GROUP BY	科目CD,業種区分
			) AS AN
			INNER JOIN TM科目 AS KK
				ON AN.科目CD = KK.科目CD
			--INNER JOIN TMチーム AS CM
			--	ON AN.チームCD = CM.チームCD
		ORDER BY	
					KK.順序--, CM.順序


	--2020/07/05 DEL↓
	--SELECT	KK.集計CD, AN.科目CD, KK.科目名,
	--		AN.按分金額, AN.部CD, 
	--		部名 = CASE WHEN AN.部CD = 9996 THEN '営業部' ELSE '工事部' END
	--	FROM	
	--		(SELECT 科目CD,部CD,按分金額 = SUM(按分金額)
	--			FROM TD経費按分集計V3 AS AN
	--			WHERE	AN.集計日付 >= @iS集計日付
	--				AND	AN.集計日付 <= @iE集計日付
	--			GROUP BY	科目CD,部CD
	--		) AS AN
	--		INNER JOIN TM科目 AS KK
	--			ON AN.科目CD = KK.科目CD
	--		--INNER JOIN TMチーム AS CM
	--		--	ON AN.チームCD = CM.チームCD
	--	ORDER BY	KK.集計CD, KK.順序--, CM.順序
	--2020/07/05 DEL↑

	--SELECT	KK.集計CD, AN.科目CD, KK.科目名,
	--		AN.按分金額, AN.チームCD, CM.チーム名
	--	FROM	TD経費按分集計 AS AN
	--		INNER JOIN TM科目 AS KK
	--			ON AN.科目CD = KK.科目CD
	--		INNER JOIN TMチーム AS CM
	--			ON AN.チームCD = CM.チームCD
	--	WHERE	AN.集計日付 >= @iS集計日付
	--		AND	AN.集計日付 <= @iE集計日付
	--	ORDER BY	KK.集計CD, KK.順序, CM.順序


	----SELECT	KK.集計CD,KK.科目CD, KK.科目名,
	----		金額 = ISNULL(KH.金額,0),
	----		部署CD = ISNULL(KH.部署CD,999),
	----		部署名 = ISNULL(KH.部署名,'その他')
	----	FROM TM科目 AS KK
	----		LEFT JOIN (
	----					SELECT	KM.科目CD, KM.科目名, SUM(KM.金額) AS 金額,
	----							部署CD = ISNULL(BS.部署CD,999),部署名 = ISNULL(BS.部署名,'その他')
	----						FROM	TD経費 AS KH
	----							INNER JOIN TD経費明細 AS KM
	----								ON KH.経費番号 = KM.経費番号
	----							LEFT JOIN TM担当者 AS TN
	----								ON KM.担当者CD = TN.担当者CD
	----							LEFT JOIN TM部署 AS BS
	----								ON TN.部署CD = BS.部署CD
	----						WHERE	KH.経費日付 >= @iS集計日付
	----							AND	KH.経費日付 <= @iE集計日付
	----						GROUP BY	KM.科目CD, KM.科目名, BS.部署CD,BS.部署名
	----				) AS KH
	----					ON KK.科目CD = KH.科目CD
	----		ORDER BY	KK.集計CD,KK.順序,KK.科目CD, KK.科目名, KH.部署CD, KH.部署名

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
