/****** Object:  StoredProcedure [dbo].[usp_TN1600社内在庫移動明細表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1600社内在庫移動明細表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1600社内在庫移動明細表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_TN1600社内在庫移動明細表

機能	移動明細を抽出する


引数

戻り値

修正履歴
	2015/09/21	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN1600社内在庫移動明細表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS元チームCD		INT,
	@iE元チームCD		INT,
	@iS先チームCD		INT,
	@iE先チームCD		INT,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

	---------------------------
	--移動明細
	---------------------------
	SELECT	*,
			Count = COUNT(SYU.チームCD) OVER (PARTITION BY SYU.チームCD)
		FROM (
			SELECT	IDH.社内在庫移動番号, IDH.社内在庫移動日付, 
					チームCD = IDH.社内在庫移動元チームCD,
					IDH.社内在庫移動元チームCD,
					IDH.社内在庫移動先チームCD,
					IDH.得意先CD, 
					IDH.摘要名, 
					IDM.枝番, 
					IDM.製品NO, IDM.仕様NO, 
					SM.漢字名称,
					SM.W,SM.D,SM.H,SM.D1,SM.D2,SM.H1,SM.H2,
					移動数量 = IDM.移動数量*-1,
					IDM.移動単価,
					移動金額 = IDM.移動金額*-1,
					消費税額 = IDM.消費税額*-1, 
					IDM.明細備考
					--Count = COUNT(IDH.社内在庫移動元チームCD) OVER (PARTITION BY IDH.社内在庫移動元チームCD)
				FROM	TD社内在庫移動 AS IDH
					INNER JOIN TD社内在庫移動明細 AS IDM
						ON IDH.社内在庫移動番号 = IDM.社内在庫移動番号
					LEFT JOIN TM製品 AS SM
						ON IDM.製品NO = SM.製品NO
						AND IDM.仕様NO = SM.仕様NO
				WHERE	IDH.社内在庫移動日付 >= @iS集計日付
    				AND	IDH.社内在庫移動日付 <= @iE集計日付
    				AND	IDH.社内在庫移動元チームCD >= COALESCE(@iS元チームCD,IDH.社内在庫移動元チームCD)
    				AND	IDH.社内在庫移動元チームCD <= COALESCE(@iE元チームCD,IDH.社内在庫移動元チームCD)
    				--AND	IDH.社内在庫移動先チームCD >= COALESCE(@iS先チームCD,IDH.社内在庫移動先チームCD)
    				--AND	IDH.社内在庫移動先チームCD <= COALESCE(@iE先チームCD,IDH.社内在庫移動先チームCD)
    				AND	IDH.社内在庫移動元チームCD <> 0
				--ORDER BY	IDH.チームCD, IDH.移動日付, IDH.移動番号, IDM.枝番
			UNION ALL
				SELECT	IDH.社内在庫移動番号, IDH.社内在庫移動日付, 
					チームCD = IDH.社内在庫移動先チームCD,
					IDH.社内在庫移動元チームCD,
					IDH.社内在庫移動先チームCD,
					IDH.得意先CD, 
					IDH.摘要名, 
					IDM.枝番, 
					IDM.製品NO, IDM.仕様NO, 
					SM.漢字名称,
					SM.W,SM.D,SM.H,SM.D1,SM.D2,SM.H1,SM.H2,
					IDM.移動数量,
					IDM.移動単価,
					IDM.移動金額,
					IDM.消費税額, 
					IDM.明細備考
					--Count = COUNT(IDH.社内在庫移動先チームCD) OVER (PARTITION BY IDH.社内在庫移動先チームCD)
				FROM	TD社内在庫移動 AS IDH
					INNER JOIN TD社内在庫移動明細 AS IDM
						ON IDH.社内在庫移動番号 = IDM.社内在庫移動番号
					LEFT JOIN TM製品 AS SM
						ON IDM.製品NO = SM.製品NO
						AND IDM.仕様NO = SM.仕様NO
				WHERE	IDH.社内在庫移動日付 >= @iS集計日付
    				AND	IDH.社内在庫移動日付 <= @iE集計日付
    				--AND	IDH.社内在庫移動元チームCD >= COALESCE(@iS元チームCD,IDH.社内在庫移動元チームCD)
    				--AND	IDH.社内在庫移動元チームCD <= COALESCE(@iE元チームCD,IDH.社内在庫移動元チームCD)
    				AND	IDH.社内在庫移動先チームCD >= COALESCE(@iS先チームCD,IDH.社内在庫移動先チームCD)
    				AND	IDH.社内在庫移動先チームCD <= COALESCE(@iE先チームCD,IDH.社内在庫移動先チームCD)
    				AND	IDH.社内在庫移動先チームCD <> 0
			) AS SYU
		ORDER BY	SYU.チームCD, SYU.社内在庫移動日付, SYU.社内在庫移動番号, SYU.枝番

	


	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
