/****** Object:  StoredProcedure [dbo].[usp_TN1201SetTmpチーム別社内在庫出庫]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1201SetTmpチーム別社内在庫出庫]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1201SetTmpチーム別社内在庫出庫]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN1201SetTmp出庫

	機能:	
		出庫情報を#Tmpに登録する。

 =============================================
	2015/08/26	oosawa	新規作成

 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN1201SetTmpチーム別社内在庫出庫]
	(
	@i出庫明細連番	INT,
	@i出庫番号		INT,
	@i枝番			SMALLINT,
	@i製品NO		CHAR (12) ,
	@i仕様NO		CHAR (10) , 
	@i仕入先CD		VARCHAR(4),
	@i仕入端数区分	SMALLINT,
	@i消費税端数区分	SMALLINT,
	@i出庫数量		MONEY,
	@i出庫単価		MONEY,
	@i出庫金額		MONEY,
	@i消費税額		MONEY,
	@i仕入税区分	SMALLINT,
	@i明細備考		VARCHAR(40),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''


	INSERT INTO #Tmp出庫明細
		(
			出庫明細連番,
			出庫番号,
			枝番, 
			製品NO,
			仕様NO,
			仕入先CD,
			仕入端数区分,
			消費税端数区分,
			出庫数量,
			出庫単価,
			出庫金額,
			消費税額,
			仕入税区分,
			明細備考
		)  
	VALUES 
		(
			@i出庫明細連番,
			@i出庫番号,
			@i枝番, 
			@i製品NO,
			@i仕様NO,
			@i仕入先CD,
			@i仕入端数区分,
			@i消費税端数区分,
			@i出庫数量,
			@i出庫単価,
			@i出庫金額,
			@i消費税額,
			@i仕入税区分,
			@i明細備考
		)

	SET @ST=@@ERROR IF @ST<>0 GOTO EXIT_SP

EXIT_SP:
	SET @RetST = @ST
	SET @RetMsg = @MSG
	RETURN @ST
GO
