/****** Object:  StoredProcedure [dbo].[usp_TN0800客先在庫棚卸数抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0800客先在庫棚卸数抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0800客先在庫棚卸数抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN0800客先在庫棚卸数抽出
	

	機能:	
		棚卸情報を作成する。
		棚卸日付の前の日までが集計対象

		２回目以降は１回目の情報を使用する。
 =============================================
	2009/09/08	oosawa	新規作成
	2009/09/24	oosawa	受注区分を見ず、売上日付のみ見るように変更
	2009/12/07	oosawa	行NOの追加・出力順変更
	2010/02/01	oosawa	デッドロック防止にNOLOCKを付ける
	2010/02/02	oosawa	前回棚卸日付取得時に、保存時に旧情報を削除しているので
					前の日付をもってこれない。（修正時）
					絶対に１日付のみの情報になるので抽出条件をはずす
=============================================*/
CREATE   PROCEDURE [dbo].[usp_TN0800客先在庫棚卸数抽出]
	(
	@i棚卸日付		DATETIME,
	@i担当者CD		SMALLINT,
	@i得意先CD		VARCHAR(4),
-- 	@iPGID 		VARCHAR(4) = NULL,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	DECLARE	@w期首日付		DATETIME

	DECLARE	@w前回棚卸日付	DATETIME,
			@w開始日付		DATETIME,
			@w棚卸前日付	DATETIME			--2008/11/26 ADD
	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	--棚卸データの抽出判断
	--------------------------------------------------
		--------------------------------------------------
		--期首日付取得
		--------------------------------------------------
		SELECT @w期首日付 = 入力開始日
			FROM TM会社 (NOLOCK)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--------------------------------------------------
		--前回棚卸日付取得
		--------------------------------------------------
		SELECT TOP 1 @w前回棚卸日付 = 棚卸日付
			FROM TD棚卸_担当者別客先在庫 (NOLOCK)
				WHERE	担当者CD = @i担当者CD
					AND	得意先CD = @i得意先CD
-- 					AND	棚卸日付 < @i棚卸日付	--2010/02/02 DEL
				ORDER BY 棚卸日付 DESC
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--------------------------------------------------
		--抽出日付範囲の算出
		--------------------------------------------------
		IF ISNULL(@w前回棚卸日付,0) = 0 BEGIN
			--棚卸を一回も行っていない場合
			SET @w開始日付 = @w期首日付
		END ELSE BEGIN
			IF @w期首日付 >= @w前回棚卸日付 BEGIN
				--期首日のほうが後の場合
				SET @w開始日付 = @w期首日付
			END ELSE BEGIN
				--前回棚卸日の方が後の場合
				SET @w開始日付 = @w前回棚卸日付
			END
		END

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------------
		--範囲用棚卸日付
		--------------------------------------------------
		SET	@w棚卸前日付 = DATEADD(DAY,-1,@i棚卸日付)	--2008/11/26 ADD

		--------------------------------------------------
		--現在庫数取得
		--------------------------------------------------
		--商品・倉庫毎に棚卸日付での在庫数を算出する。
		SELECT	@i棚卸日付 AS 棚卸日付, 
				ZK.担当者CD, 
				ZK.製品NO, 
				ZK.仕様NO, 
				ZK.漢字名称, 
				ZK.W,ZK.D,ZK.H,ZK.D1,ZK.D2,ZK.H1,ZK.H2,
				ZK.主仕入先CD,

				現在庫数 = COALESCE(TA_K.現在庫数, 
								COALESCE(TA.棚卸数,0)
										- ISNULL(売上済客先在庫数,0)
										+ ISNULL(入庫数量合計,0)),
				棚卸数 = COALESCE(TA_K.棚卸数, 
								COALESCE(TA.棚卸数,0)
										- ISNULL(売上済客先在庫数,0)
										+ ISNULL(入庫数量合計,0))
		
			FROM (
				--客先在庫マスタ
				SELECT	ZK.担当者CD, ZK.得意先CD,
						ZK.製品NO, ZK.仕様NO, 
						--ZK.適正在庫数, ZK.予備在庫数,
						ZK.行NO,					--2009/12/07 ADD,
						SE.漢字名称,SE.主仕入先CD,
						SE.W,SE.D,SE.H,SE.D1,SE.D2,SE.H1,SE.H2
					FROM	TM客先在庫_担当者別 AS ZK (NOLOCK)
						INNER JOIN TM製品 AS SE (NOLOCK)
							ON ZK.製品NO = SE.製品NO
							AND ZK.仕様NO = SE.仕様NO
					WHERE	担当者CD = COALESCE(@i担当者CD, 担当者CD)
						AND	得意先CD = COALESCE(@i得意先CD, 得意先CD)
				) AS ZK
		
				--前回棚卸数
				LEFT JOIN (SELECT * FROM TD棚卸_担当者別客先在庫 (NOLOCK)
							WHERE	棚卸日付 = @w前回棚卸日付
								AND	担当者CD = COALESCE(@i担当者CD, 担当者CD)
								AND	得意先CD = COALESCE(@i得意先CD, 得意先CD)
					) AS TA
					ON	ZK.担当者CD = TA.担当者CD
					AND	ZK.得意先CD = TA.得意先CD
					AND	ZK.製品NO = TA.製品NO
					AND	ZK.仕様NO = TA.仕様NO
				--今回棚卸数（２回目以降の場合）
				LEFT JOIN (SELECT * FROM TD棚卸_担当者別客先在庫 (NOLOCK)
							WHERE	棚卸日付 = @i棚卸日付
								AND	担当者CD = COALESCE(@i担当者CD, 担当者CD)
								AND	得意先CD = COALESCE(@i得意先CD, 得意先CD)
					) AS TA_K
					ON	ZK.担当者CD = TA_K.担当者CD
					AND	ZK.得意先CD = TA_K.得意先CD
					AND	ZK.製品NO = TA_K.製品NO
					AND	ZK.仕様NO = TA_K.仕様NO

				--売上済みの見積情報の客先在庫数
				LEFT JOIN (SELECT 	MT.担当者CD, MT.得意先CD,
							MSM.製品NO, MSM.仕様NO, 
							SUM(MSM.客先在庫数) AS 売上済客先在庫数 
						FROM TD見積 AS MT (NOLOCK)
							LEFT 	JOIN TD見積シートM AS MSM (NOLOCK)
								ON 	MT.見積番号 = MSM.見積番号
						WHERE	MT.売上日付 >= @w開始日付
							AND	MT.売上日付 <= COALESCE(@w棚卸前日付, MT.売上日付)
							AND 	MT.担当者CD = COALESCE(@i担当者CD, MT.担当者CD)
							AND 	MT.得意先CD = COALESCE(@i得意先CD, MT.得意先CD)
-- 					    		AND 	MT.受注区分	= 1	'売上日付が入っているのは売りあがっていることなのでいらない。
							AND	MT.売上日付	IS NOT NULL
						GROUP BY 	MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO
					) AS UR
					ON	ZK.担当者CD = UR.担当者CD
					AND	ZK.得意先CD = UR.得意先CD
					AND	ZK.製品NO = UR.製品NO
					AND	ZK.仕様NO = UR.仕様NO

				--客先在庫　入庫
				--開始日付から終了日付までの入庫数量
				LEFT JOIN (SELECT 	NU.担当者CD, NU.得意先CD,
							NUM.製品NO, NUM.仕様NO,
							SUM(NUM.入庫数量) AS 入庫数量合計 
						FROM 	TD客先在庫入庫 AS NU (NOLOCK)
							LEFT JOIN TD客先在庫入庫明細 AS NUM (NOLOCK)
								ON NU.客先在庫入庫連番 = NUM.客先在庫入庫連番
						WHERE 	NU.客先在庫入庫日付 >= @w開始日付
							AND	NU.客先在庫入庫日付 <= COALESCE(@w棚卸前日付, NU.客先在庫入庫日付)
							AND 	NU.担当者CD = COALESCE(@i担当者CD, NU.担当者CD)
							AND 	NU.得意先CD = COALESCE(@i得意先CD, NU.得意先CD)
						GROUP BY 	NU.担当者CD, NU.得意先CD, NUM.製品NO, NUM.仕様NO
					) AS NU
					ON	ZK.担当者CD = NU.担当者CD
					AND	ZK.得意先CD = NU.得意先CD
					AND	ZK.製品NO = NU.製品NO
					AND	ZK.仕様NO = NU.仕様NO

-- 			WHERE ZK.担当者CD = COALESCE(@i担当者CD, ZK.担当者CD)
-- 		ORDER BY ZK.担当者CD, ZK.製品NO, ZK.仕様NO
		ORDER BY ZK.担当者CD, ZK.行NO, ZK.製品NO, ZK.仕様NO	--2009/12/07 ADD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
-- 	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST

GO
