/****** Object:  StoredProcedure [dbo].[usp_ChkPC]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkPC]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkPC]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_ChkPC

	機能:	PCマスタの製品コードをチェックする

	 RETURN VALUES
		0 = success
		以外　error

 =============================================*/
CREATE        PROCEDURE [dbo].[usp_ChkPC]
	(
		@PC区分	VARCHAR(1),
		@製品NO	CHAR(7),
		@エラー内容	VARCHAR(255)	OUTPUT
	)
	AS
	SET NOCOUNT ON

	DECLARE	@ST		INT,
			@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@エラー内容 = ''

	--------------------------------------------------
	--入力項目のチェック
	--------------------------------------------------
	IF ISNULL(@製品NO,'') =  ''	BEGIN
		--SET @ST = -1
		SET @エラー内容 ='製品NO未入力'
		GOTO EXIT_SP
	END

	--------------------------------------------------
	--PCマスタを検索します。
	--------------------------------------------------
	IF NOT EXISTS(SELECT * FROM TMPC WHERE PC区分 = @PC区分 AND 製品NO = @製品NO) BEGIN
		SET @エラー内容 = '製品マスタ未登録'
		GOTO EXIT_SP
	END

EXIT_SP:
	RETURN @ST
GO
