/****** Object:  StoredProcedure [dbo].[usp_Chk品群]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_Chk品群]
GO
/****** Object:  StoredProcedure [dbo].[usp_Chk品群]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_Chk品群

	機能:	品群コードをチェックする

	 RETURN VALUES
		0 = success
		以外　error

 =============================================*/
CREATE        PROCEDURE [dbo].[usp_Chk品群]
	(
		@品群NO	CHAR(7),
		@W		INT,
		@D		INT,
		@H		INT,
		@D1		INT,
		@D2		INT,
		@H1		INT,
		@H2		INT,
		@エラー内容	VARCHAR(255)	OUTPUT
	)
	AS
	SET NOCOUNT ON

	DECLARE	@ST		INT,
			@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

	--品群情報
	DECLARE	@WFLG		INT,
			@DFLG		INT,
			@HFLG		INT,
			@D1FLG		INT,
			@D2FLG		INT,
			@H1FLG		INT,
			@H2FLG		INT

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@エラー内容 = ''

	--------------------------------------------------
	--入力項目のチェック
	--------------------------------------------------
	IF ISNULL(@品群NO,'') =  ''	BEGIN
		SET @ST = -1
		SET @エラー内容 ='品群NO未入力'
		GOTO EXIT_SP
	END

	--------------------------------------------------
	--品群マスタの存在チェック
	--------------------------------------------------
	IF NOT EXISTS(SELECT 品群NO FROM TM品群 WHERE 品群NO = @品群NO) BEGIN
		--存在しない場合、書き込みます。
		SET @ST = -1
		SET @エラー内容 = '品群マスタ未登録'
		GOTO EXIT_SP
	END
	--存在したらフラグをHOLDする
	SELECT	@WFLG = W,
			@DFLG = D,
			@HFLG = H,
			@D1FLG = D1,
			@D2FLG = D2,
			@H1FLG = H1,
			@H2FLG = H2
			FROM TM品群
			WHERE 品群NO = @品群NO

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('品群№:%s. 品群情報でエラーが発生しました。 ', 16, 1,@品群NO)
		GOTO	EXIT_SP
	END

	--------------------------------------------------
	--サイズ指定チェック
	--------------------------------------------------
	IF @WFLG = 0	BEGIN
		IF @W <> 0	BEGIN
			SET @ST = -1
			SET @エラー内容 = 'サイズ指定エラーW'
			GOTO EXIT_SP
		END
	END
	IF @DFLG = 0	BEGIN
		IF @D <> 0	BEGIN
			SET @ST = -1
			SET @エラー内容 = 'サイズ指定エラーD'
			GOTO EXIT_SP
		END
	END
	IF @HFLG = 0	BEGIN
		IF @H <> 0	BEGIN
			SET @ST = -1
			SET @エラー内容 = 'サイズ指定エラーH'
			GOTO EXIT_SP
		END
	END
	IF @D1FLG = 0	BEGIN
		IF @D1 <> 0	BEGIN
			SET @ST = -1
			SET @エラー内容 = 'サイズ指定エラーD1'
			GOTO EXIT_SP
		END
	END
	IF @D2FLG = 0	BEGIN
		IF @D2 <> 0	BEGIN
			SET @ST = -1
			SET @エラー内容 = 'サイズ指定エラーD2'
			GOTO EXIT_SP
		END
	END
	IF @H1FLG = 0	BEGIN
		IF @H1 <> 0	BEGIN
			SET @ST = -1
			SET @エラー内容 = 'サイズ指定エラーH1'
			GOTO EXIT_SP
		END
	END
	IF @H2FLG = 0	BEGIN
		IF @H2 <> 0	BEGIN
			SET @ST = -1
			SET @エラー内容 = 'サイズ指定エラーH2'
			GOTO EXIT_SP
		END
	END

EXIT_SP:
	RETURN @ST
GO
