/****** Object:  StoredProcedure [dbo].[usp_買掛前残参照]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_買掛前残参照]
GO
/****** Object:  StoredProcedure [dbo].[usp_買掛前残参照]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_買掛前残参照

機能	前回買掛金額を求める

引数	@i仕入先CD	検索対象の仕入先CD
	@i買掛日付	検索対象の買掛日付

戻り値	@o前月当残	検索された前回の当月残高
	@o前月終了日付	検索された前回の買掛終了日付

*****************************************************/
CREATE PROCEDURE [dbo].[usp_買掛前残参照]
	(
		@i仕入先CD	VARCHAR(4),
		@i買掛日付	DATETIME,
		@o前月当残	MONEY	OUTPUT,
		@o前月終了日付	DATETIME	OUTPUT
	)
 AS

	SET NOCOUNT ON

	DECLARE	@ST			INT,
			@MSG			VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	--当月残高・請求終了日付の取得
	--------------------------------------------------
	SELECT	@o前月当残 = COALESCE(SK.当月残高,SR.導入買掛金額,0),
			@o前月終了日付 = COALESCE(DATEADD(DAY,1,買掛終了日付),@i買掛日付)
		FROM (SELECT * FROM TM仕入先 WHERE 仕入先CD = @i仕入先CD) AS SR 
			LEFT JOIN (SELECT  MAE.仕入先CD,買掛終了日付,当月残高
					FROM TM買掛金額 AS MAE
					WHERE 買掛日付 = (SELECT MAX(買掛日付) AS 買掛日付
									FROM TM買掛金額
									WHERE 買掛日付 < @i買掛日付
									AND 仕入先CD = MAE.仕入先CD)
				) AS SK
				ON SR.仕入先CD = SK.仕入先CD

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('仕入先CD:%s 買掛金額情報でエラーが発生しました。 ', 16, 1,@i仕入先CD)
		GOTO	EXIT_SP
	END

EXIT_SP:
-- 	IF (@ST = 0)	BEGIN
-- 		SET @RetST = @ST
-- 		SET @RetMSG = @MSG
-- 	END ELSE BEGIN
-- 		SET @RetST = @ST
-- 		SET @RetMSG = @MSG
-- 	END 
	RETURN @ST

GO
