/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor製品]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor製品]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor製品]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_ChkDelFor製品

機能	製品マスタメンテ[削除]のデータ存在チェック

	製品構成Ｍ・品群構成Ｍ・単価Ｍ・顧客テンプレートＭ・社内在庫Ｍ・客先在庫Ｍ・
	見積シートM・発注明細Ｄ・仕入明細内訳Ｄ・売上明細内訳Ｄ

引数	製品NO　仕様NO

戻り値	

修正履歴
	2015/03/02	oosawa		製品NO 7→12
							仕様NO 7→10

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor製品]
	(
		@i製品NO	CHAR(12),
		@i仕様NO	CHAR(10),
		
		@RetST		INT				OUTPUT,
		@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--製品構成Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(親製品NO)
		FROM 		TM製品構成
		WHERE 	(親製品NO = @i製品NO AND	親仕様NO = @i仕様NO)
			OR 	(子製品NO = @i製品NO AND 子仕様NO = @i仕様NO)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[製品構成マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

	--------------------------
	--品群構成Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(親品群NO)
		FROM 		TM品群構成
		WHERE 	(子品群NO = @i製品NO AND 子仕様NO = @i仕様NO)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[品群構成マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--単価Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(製品NO)
		FROM 		TM単価
		WHERE	(製品NO = @i製品NO)
			AND 	(仕様NO = @i仕様NO)
			AND 	(製品区分 = 0)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[単価マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--顧客テンプレートＭチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(製品NO)
		FROM 		TM顧客テンプレート
		WHERE	(製品NO = @i製品NO)
			AND 	(仕様NO = @i仕様NO)
			AND 	(製品区分 = 0)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[顧客テンプレートマスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	----------------------------
	----社内在庫Ｍチェック
	----------------------------
	--SET 	@wDCnt 	= 	0

	--SELECT 	@wDCnt = COUNT(製品NO)
	--	FROM 		TM社内在庫
	--	WHERE	(製品NO = @i製品NO)
	--		AND 	(仕様NO = @i仕様NO)
	--		AND 	(現在庫数 <> 0)

	--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--IF @wDCnt > 0 BEGIN
	--	SET 	@ST 	=	-1
	--	SET	@MSG = 	'[社内在庫マスタ]に使用されている為、削除できません。'
	-- 	GOTO		EXIT_SP
	--END


	----------------------------
	----客先在庫Ｍチェック
	----------------------------
	--SET 	@wDCnt 	= 	0

	--SELECT 	@wDCnt = COUNT(製品NO)
	--	FROM 		TM客先在庫
	--	WHERE	(製品NO = @i製品NO)
	--		AND 	(仕様NO = @i仕様NO)
	--		AND 	(現在庫数 <> 0)

	--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--IF @wDCnt > 0 BEGIN
	--	SET 	@ST 	=	-1
	--	SET	@MSG = 	'[客先在庫マスタ]に使用されている為、削除できません。'
	-- 	GOTO		EXIT_SP
	--END


	--------------------------
	--見積シートMチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号)
		FROM 		TD見積シートM
		WHERE	(製品NO = @i製品NO)
			AND 	(仕様NO = @i仕様NO)
			AND 	(製品区分 = 0)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[見積明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

/*2003.12.05.DEL
	--------------------------
	--発注明細Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(発注番号)
		FROM 		TD発注明細
		WHERE	(製品NO = @i製品NO)
			AND 	(仕様NO = @i仕様NO)
			AND 	(製品区分 = 0)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[発注明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
*/
	--------------------------
	--仕入明細内訳Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入番号)
		FROM 		TD仕入明細内訳
		WHERE	(製品NO = @i製品NO)
			AND 	(仕様NO = @i仕様NO)
			AND 	(製品区分 = 0)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

	--------------------------
	--売上明細内訳Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(売上番号)
--		FROM 		TD売上明細内訳
		FROM 		TD売上明細v2
		WHERE	(製品NO = @i製品NO)
			AND 	(仕様NO = @i仕様NO)
			AND 	(製品区分 = 0)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[売上明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST
GO
