/****** Object:  StoredProcedure [dbo].[usp_TK0700担当者別店舗別原価売価積上表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK0700担当者別店舗別原価売価積上表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK0700担当者別店舗別原価売価積上表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************
	
	売掛・買掛　集計

名称	usp_TK0700担当者別店舗別原価売価積上表

機能	担当者毎店舗毎の売上金額と仕入金額の推移を作成する

		担当者 前年・今年 仕入・売上合計金額
		を出力

引数

戻り値

修正履歴
	2013/04/02	新規作成
	2013/08/19	見積件名・見積番号追加
	2013/10/28	仕入金額を出せるように修正
	2014/02/25	部署順・担当者順に並べる

	2014/07/21	oosawa		集計日付を「売上日付」「仕入日付」にする
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK0700担当者別店舗別原価売価積上表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS担当者CD		SMALLINT,
	@iE担当者CD		SMALLINT,
	@i集計区分		SMALLINT,
	
	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

--2013/10/28ADD↓
	IF	@i集計区分 = 0	BEGIN
		--担当者別合計金額ワークテーブル作成
		CREATE TABLE #TMP_TOTAL 
			(
				担当者CD		SMALLINT		NOT NULL,
				売仕区分		INT,			--0:売上　1:仕入
				見積番号		INT,
				番号			INT,
				見積件名		VARCHAR(60),
				得意先CD		VARCHAR(4),
				納入得意先CD	VARCHAR(4),
				納入先CD		VARCHAR(4),
				納入先名1		VARCHAR(28),
				納入先名2		VARCHAR(28),
				現場名			VARCHAR(28),
				物件種別		SMALLINT,
				日付			DATETIME,
				税抜金額		MONEY	DEFAULT(0),
				原価金額		MONEY	DEFAULT(0),	--TD売上の原価金額
				仕入金額		MONEY	DEFAULT(0)	--TD仕入の集計金額
				
			) ON [PRIMARY]

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		---------------------------
		--ヘッダー部　売上金額
		--担当者別店舗別売上情報
		---------------------------
		INSERT	INTO #TMP_TOTAL
				(担当者CD, 売仕区分, 見積番号, 番号,
					見積件名, 得意先CD, 
					納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
					現場名, 物件種別, 日付,
					税抜金額,原価金額
				)
				SELECT	UH.担当者CD,0,UH.見積番号,UH.売上番号,
						--Count = COUNT(UH.担当者CD) OVER (PARTITION BY UH.担当者CD),
						UH.見積件名,UH.得意先CD,
						UH.納入得意先CD,UH.納入先CD,UH.納入先名1,UH.納入先名2,
						----UH.現場名,物件種別 = ISNULL(MH.物件種別,0),UH.請求日付,
						UH.現場名,物件種別 = ISNULL(MH.物件種別,0),UH.売上日付,--2014/07/21 ADD
						税抜金額 = SUM(UU.売上金額-UU.消費税額),SUM(UU.仕入金額) AS 原価金額
					FROM	TD売上 AS UH
						INNER JOIN TD売上明細 AS UM
							ON UH.売上番号 = UM.売上番号 
						INNER JOIN TD売上明細内訳 AS UU
							ON UM.売上番号 = UU.売上番号 
								AND UM.売上行番号 = UU.売上行番号
						LEFT JOIN TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
					----WHERE	UH.請求日付 >= @iS集計日付
					----	AND	UH.請求日付 <= @iE集計日付
					--2014/07/21 ADD↓
					WHERE	UH.売上日付 >= @iS集計日付
						AND	UH.売上日付 <= @iE集計日付
					--2014/07/21 ADD↑
						AND	UH.担当者CD >= COALESCE(@iS担当者CD,UH.担当者CD)
						AND	UH.担当者CD <= COALESCE(@iE担当者CD,UH.担当者CD)
					GROUP BY	UH.担当者CD, UH.見積番号, UH.見積件名, 
								UH.得意先CD, UH.納入得意先CD,UH.納入先CD,
								--ISNULL(MH.物件種別,0),UH.請求日付,
								ISNULL(MH.物件種別,0),UH.売上日付,--2014/07/21 ADD
								UH.納入先名1,UH.納入先名2,UH.現場名,UH.売上番号
					--ORDER BY	UH.担当者CD,YEAR(UH.請求日付),MONTH(UH.請求日付),UH.納入得意先CD,ISNULL(MH.物件種別,0),UH.納入先CD,UH.得意先CD
							

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--TMPに存在するデータの原価を更新
		UPDATE	#TMP_TOTAL
			SET #TMP_TOTAL.仕入金額 = SYU.仕入金額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	担当者CD,SM.見積番号,
								SUM(SM.税抜金額) AS 仕入金額
							FROM	TD仕入 AS SR
								INNER JOIN TD仕入明細 AS SM
									ON SR.仕入番号 = SM.仕入番号
							----WHERE	SM.支払日付 >= @iS集計日付
							----	AND SM.支払日付 <= @iE集計日付
						--2014/07/21 ADD↓
							WHERE	SM.仕入日付 >= @iS集計日付
								AND SM.仕入日付 <= @iE集計日付
						--2014/07/21 ADD↑
								AND	SR.担当者CD >= COALESCE(@iS担当者CD,SR.担当者CD)
								AND	SR.担当者CD <= COALESCE(@iE担当者CD,SR.担当者CD)
							GROUP BY	担当者CD, SM.見積番号

					) AS SYU
						ON	TMP.担当者CD = SYU.担当者CD
						AND	TMP.見積番号 = SYU.見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--担当者原価額月間値
		INSERT	INTO #TMP_TOTAL
				(担当者CD, 売仕区分, 見積番号, 番号,
					見積件名, 得意先CD, 
					納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
					現場名, 物件種別, 日付,
					税抜金額,仕入金額
				)
			SELECT	SYU.担当者CD,SYU.売仕区分,SYU.見積番号,SYU.仕入番号,
					SYU.見積件名,SYU.得意先CD,
					SYU.納入得意先CD,SYU.納入先CD,SYU.納入先名1,SYU.納入先名2,
					----SYU.現場名,SYU.物件種別,SYU.支払日付,
					SYU.現場名,SYU.物件種別,SYU.仕入日付,--2014/07/21 ADD
					SYU.税抜金額,SYU.仕入金額
				FROM (
						SELECT	SR.担当者CD,売仕区分 = 1,SR.見積番号,仕入番号 = 0,
								SR.見積件名,SR.得意先CD,
								SR.納入得意先CD,SR.納入先CD,SR.納入先名1,SR.納入先名2,
								----SR.現場名,物件種別 = ISNULL(MH.物件種別,0),SM.支払日付,
								SR.現場名,物件種別 = ISNULL(MH.物件種別,0),SM.仕入日付,--2014/07/21 ADD
								税抜金額 = 0,SUM(SM.税抜金額) AS 仕入金額
							FROM	TD仕入 AS SR
								INNER JOIN TD仕入明細 AS SM
									ON SR.仕入番号 = SM.仕入番号
							LEFT JOIN TD見積 AS MH
								ON SR.見積番号 = MH.見積番号
							----WHERE	SM.支払日付 >= @iS集計日付
							----	AND SM.支払日付 <= @iE集計日付
							--2014/07/21 ADD↓
							WHERE	SM.仕入日付 >= @iS集計日付
								AND SM.仕入日付 <= @iE集計日付
							--2014/07/21 ADD↑
								AND	SR.担当者CD >= COALESCE(@iS担当者CD,SR.担当者CD)
								AND	SR.担当者CD <= COALESCE(@iE担当者CD,SR.担当者CD)
						GROUP BY	SR.担当者CD, SR.見積番号, SR.見積件名,
									SR.得意先CD, SR.納入得意先CD, SR.納入先CD,
									----ISNULL(MH.物件種別,0), SM.支払日付,
									ISNULL(MH.物件種別,0), SM.仕入日付,--2014/07/21 ADD
									SR.納入先名1,SR.納入先名2,SR.現場名
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.担当者CD = SYU.担当者CD
							AND	TMP.見積番号 = SYU.見積番号	
				WHERE	TMP.担当者CD IS NULL
					AND	TMP.見積番号 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----------------------------------
		--集計値　抽出
		----------------------------------
		SELECT TMP.*,
			Count = COUNT(TMP.担当者CD) OVER (PARTITION BY TMP.担当者CD)
			FROM #TMP_TOTAL AS TMP
				--2014/02/25 ADD
				INNER JOIN TM担当者 AS TN
					ON TMP.担当者CD = TN.担当者CD
				INNER JOIN TM部署 AS BS
					ON TN.部署CD = BS.部署CD
				ORDER BY	BS.順序, TN.順序,TMP.担当者CD, YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END
--2013/10/28ADD↑

	IF	@i集計区分 = 1	BEGIN
		---------------------------
		--ヘッダー部　売上金額
		--担当者別年月別売上金額・仕入金額
		---------------------------
		SELECT	UH.担当者CD,
				Count = COUNT(UH.担当者CD) OVER (PARTITION BY UH.担当者CD),
				UH.見積番号,
				UH.見積件名,
				UH.得意先CD,
				UH.納入得意先CD,
				UH.納入先CD,
				UH.納入先名1,
				UH.納入先名2,
				UH.現場名,
				物件種別 = ISNULL(MH.物件種別,0),
				----日付 = UH.請求日付,
				日付 = UH.売上日付,--2014/07/21 ADD
				SUM(UU.売上金額-UU.消費税額) AS 税抜金額,
				UH.売上番号,
				--物件種別名 = CASE ISNULL(MH.物件種別,0) 
				--					WHEN 0 THEN '新店'
				--					WHEN 1 THEN '改装'
				--					WHEN 2 THEN 'ﾒﾝﾃ'
				--					WHEN 3 THEN '補充'
				--					WHEN 4 THEN '内装'
				--					WHEN 5 THEN 'その他'
				--				END,
				SUM(UU.仕入金額) AS 原価金額
			FROM	TD売上 AS UH
				INNER JOIN TD売上明細 AS UM
					ON UH.売上番号 = UM.売上番号 
				INNER JOIN TD売上明細内訳 AS UU
					ON UM.売上番号 = UU.売上番号 
						AND UM.売上行番号 = UU.売上行番号
				LEFT JOIN TD見積 AS MH
					ON UH.見積番号 = MH.見積番号
				--2014/02/25 ADD
				INNER JOIN TM担当者 AS TN
					ON UH.担当者CD = TN.担当者CD
				INNER JOIN TM部署 AS BS
					ON TN.部署CD = BS.部署CD
				--2014/02/25 ADD
			----WHERE	UH.請求日付 >= @iS集計日付
			----	AND	UH.請求日付 <= @iE集計日付
			--2014/07/21 ADD↓
			WHERE	UH.売上日付 >= @iS集計日付
    			AND	UH.売上日付 <= @iE集計日付
			--2014/07/21 ADD↑
    			AND	UH.担当者CD >= COALESCE(@iS担当者CD,UH.担当者CD)
    			AND	UH.担当者CD <= COALESCE(@iE担当者CD,UH.担当者CD)
			----GROUP BY	BS.順序,TN.順序,UH.担当者CD, UH.見積番号, UH.見積件名, UH.得意先CD, UH.納入得意先CD,	UH.納入先CD, ISNULL(MH.物件種別,0),UH.請求日付,
			GROUP BY	BS.順序,TN.順序,UH.担当者CD, UH.見積番号, UH.見積件名, UH.得意先CD, UH.納入得意先CD,	UH.納入先CD, ISNULL(MH.物件種別,0),UH.売上日付,
						UH.納入先名1,UH.納入先名2,UH.現場名,UH.売上番号
			--ORDER BY	UH.担当者CD,YEAR(UH.請求日付),MONTH(UH.請求日付),UH.納入得意先CD,ISNULL(MH.物件種別,0),UH.納入先CD,UH.得意先CD
			----ORDER BY	BS.順序,TN.順序,UH.担当者CD,YEAR(UH.請求日付),MONTH(UH.請求日付),UH.納入得意先CD,ISNULL(MH.物件種別,0),UH.納入先CD,UH.得意先CD
			ORDER BY	BS.順序,TN.順序,UH.担当者CD,YEAR(UH.売上日付),MONTH(UH.売上日付),UH.納入得意先CD,ISNULL(MH.物件種別,0),UH.納入先CD,UH.得意先CD

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
