/****** Object:  StoredProcedure [dbo].[usp_TN0900担当者別客先在庫一覧表抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0900担当者別客先在庫一覧表抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0900担当者別客先在庫一覧表抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************

名称	usp_TN0900担当者別客先在庫一覧表抽出

機能	指定された条件で担当者別客先在庫データを取得する

引数
	@i指定日付
	@i担当者CD
	@i得意先CD
	@i開始製品NO
	@i開始仕様NO
	@i終了製品NO
	@i終了仕様NO

戻り値	
	
*****************************************************
	2009/09/24	oosawa	受注区分を見ず、売上日付のみ見るように変更
	2009/12/08	oosawa		順番付けの追加

*****************************************************/
CREATE  PROCEDURE [dbo].[usp_TN0900担当者別客先在庫一覧表抽出]
	@i指定日付		DATETIME,
	@i担当者CD		SMALLINT,
	@i得意先CD		VARCHAR(4),
	@i開始製品NO	CHAR(7),
	@i開始仕様NO	CHAR(7),
	@i終了製品NO	CHAR(7),
	@i終了仕様NO	CHAR(7),	
	@RetST		INT			OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME

	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別客先在庫
		WHERE 	
				担当者CD = @i担当者CD
			AND 	得意先CD = @i得意先CD
		GROUP BY 	
			担当者CD, 得意先CD
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



	--------------
	--データ抽出（すべて）
	--------------
-- 	SELECT 	TZM.担当者CD, TZM.得意先CD, TZM.製品NO, TZM.仕様NO, 
	SELECT 	TZM.担当者CD, TZM.得意先CD, TZM.行NO, TZM.製品NO, TZM.仕様NO, 	--2009/12/08 ADD
 			棚卸数 = (ISNULL(TANA.棚卸数,0)),
 			客先在庫入庫数 = (ISNULL(NYU.客先在庫入庫数,0)),
 			見積客先在庫数 = (ISNULL(MIT.見積客先在庫数,0)), 
 			員数客先在庫数 = (ISNULL(INZ.員数客先在庫数,0)),
 			在庫残数 = ISNULL(TANA.棚卸数,0) 
 					+ ISNULL(NYU.客先在庫入庫数,0) 
					- ISNULL(MIT.見積客先在庫数,0),
			出庫予定数 = ISNULL(INZ.員数客先在庫数,0),
 			合計在庫数 = (ISNULL(TANA.棚卸数,0) 
	 					+ ISNULL(NYU.客先在庫入庫数,0) 
						- ISNULL(MIT.見積客先在庫数,0))
 					- ISNULL(INZ.員数客先在庫数,0)
		INTO
			#wk_tmp
		FROM
			(
			--------------
			--担当者・得意先ごと
			--------------
			SELECT 	担当者CD, 得意先CD, 製品NO, 仕様NO,
					行NO								--2009/12/08 ADD 
				FROM 	
					TM客先在庫_担当者別
				WHERE 	
						担当者CD = @i担当者CD
					AND 	得意先CD = @i得意先CD
			) AS TZM

		LEFT JOIN 
			(
			--------------
			--棚卸数
			--------------
			SELECT 	担当者CD, 得意先CD, 製品NO, 仕様NO, 棚卸数
				FROM 	
					TD棚卸_担当者別客先在庫
				WHERE 	
						担当者CD = @i担当者CD
					AND 	得意先CD = @i得意先CD
					AND 	棚卸日付 = @wk棚卸日付
			) AS TANA
			ON 	TZM.担当者CD = TANA.担当者CD AND TZM.得意先CD = TANA.得意先CD AND TZM.製品NO = TANA.製品NO AND TZM.仕様NO = TANA.仕様NO

		LEFT JOIN
			(
			----------------
			-- 客先在庫入庫数
			----------------
			SELECT 	担当者CD, 得意先CD, 製品NO, 仕様NO,
					SUM(入庫数量) AS 客先在庫入庫数
				FROM 
					TD客先在庫入庫 AS NHE
				INNER JOIN 
					TD客先在庫入庫明細 AS NME 
					ON 	NHE.客先在庫入庫連番 = NME.客先在庫入庫連番
				WHERE 	
						NHE.客先在庫入庫日付 >= @wk棚卸日付
					AND 	NHE.客先在庫入庫日付 <= @i指定日付
			    		AND 	NHE.担当者CD = @i担当者CD
			    		AND 	NHE.得意先CD = @i得意先CD
				GROUP BY 
					担当者CD, 得意先CD, 製品NO, 仕様NO
			) AS NYU
			ON 	TZM.担当者CD = NYU.担当者CD AND TZM.得意先CD = NYU.得意先CD AND TZM.製品NO = NYU.製品NO AND TZM.仕様NO = NYU.仕様NO

		LEFT JOIN
			(
			----------------
			-- 見積客先在庫数
			----------------
			SELECT 	MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO,
					SUM(MSM.客先在庫数) AS 見積客先在庫数
				FROM 		
					TD見積 AS MT
				LEFT 	JOIN 	
					TD見積シートM AS MSM 
					ON 	MT.見積番号 = MSM.見積番号
				WHERE 	
-- 						MT.受注区分	= 1
						MT.売上日付	IS NOT NULL
					AND 	MT.売上日付	>= @wk棚卸日付
					AND 	MT.売上日付 <= @i指定日付
			    		AND 	MT.担当者CD = @i担当者CD
			    		AND 	MT.得意先CD = @i得意先CD
				GROUP BY 	
						MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO
			) AS MIT
			ON 	TZM.担当者CD = MIT.担当者CD AND TZM.得意先CD = MIT.得意先CD AND TZM.製品NO = MIT.製品NO AND TZM.仕様NO = MIT.仕様NO

		LEFT JOIN
			(
			----------------
			-- 員数客先在庫数
			----------------
			SELECT 	MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO,
					SUM(MSM.客先在庫数) AS 員数客先在庫数
				FROM 		
					TD見積 AS MT
				LEFT 	JOIN 	
					TD見積シートM AS MSM 
					ON 	MT.見積番号 = MSM.見積番号
				WHERE 	
-- 						MT.受注区分	= 1	--2009/09/24 DEL
						MT.見積区分	= 1	--2009/09/24 ADD
					AND	MT.売上日付	IS NULL
					AND 	MT.売上納期	>= @wk棚卸日付
					AND 	MT.売上納期 <= @i指定日付
			    		AND 	MT.担当者CD = @i担当者CD
			    		AND 	MT.得意先CD = @i得意先CD
				GROUP BY 	
						MT.担当者CD, MT.得意先CD, MSM.製品NO, MSM.仕様NO
			) AS INZ
			ON 	TZM.担当者CD = INZ.担当者CD AND TZM.得意先CD = INZ.得意先CD AND TZM.製品NO = INZ.製品NO AND TZM.仕様NO = INZ.仕様NO

		WHERE 	TZM.担当者CD = @i担当者CD
			AND 	TZM.得意先CD = @i得意先CD
			AND	TZM.製品NO + TZM.仕様NO >= COALESCE(@i開始製品NO,TZM.製品NO)+COALESCE(@i開始仕様NO,TZM.仕様NO)
			AND	TZM.製品NO + TZM.仕様NO <= COALESCE(@i終了製品NO,TZM.製品NO)+COALESCE(@i終了仕様NO,TZM.仕様NO)
-- 		ORDER BY
-- 				TZM.製品NO, TZM.仕様NO

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



	--------------
	----付加情報を取得
	--------------
	SELECT 	D.担当者CD, TN.担当者名,
			D.得意先CD, TK.得意先名1,
			D.製品NO, D.仕様NO, MS.漢字名称, MS.W, MS.D, MS.H, MS.D1, MS.D2, MS.H1, MS.H2,
			D.在庫残数, D.出庫予定数, D.合計在庫数
		FROM
			#wk_tmp AS D
		LEFT JOIN 
			TM担当者 AS TN ON D.担当者CD = TN.担当者CD
		LEFT JOIN 
			TM得意先 AS TK ON D.得意先CD = TK.得意先CD
		LEFT JOIN
			TM製品 AS MS ON D.製品NO = MS.製品NO AND D.仕様NO = MS.仕様NO
		ORDER BY
-- 			D.製品NO, D.仕様NO
			D.行NO, D.製品NO, D.仕様NO	--2009/12/08 ADD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST

GO
