/****** Object:  StoredProcedure [dbo].[usp_MT0800RevitDiff]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0800RevitDiff]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0800RevitDiff]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_MT0800RevitDiff

	機能	Revit改装前とRevit改装後を比較し集計した情報を返す。

	内容
		
 =============================================
	2019/12/12	oosawa		レビット
=============================================*/
CREATE	PROCEDURE	[dbo].[usp_MT0800RevitDiff] 
	(

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS

	SET	NOCOUNT ON

--SET @i見積番号 = 1

	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--製品判断区分
	DECLARE	@製品区分		INT	--0:製品 1:品群 2:ユニット 3:PCマスタ

	DECLARE	@ROWS見積	INT

	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	BEGIN TRAN

	--------------------------------------------------
	--改装前テーブル
	--------------------------------------------------
	CREATE TABLE [dbo].[#TmpRevit_A] (
		[行番号] [int] NOT NULL,
		[追番R] [varchar](1) NOT NULL,
		[製品NO] [char] (7) COLLATE Japanese_CI_AS NOT NULL ,
		[仕様NO] [char] (7) COLLATE Japanese_CI_AS NOT NULL ,
		[漢字名称] [VARCHAR] (40) DEFAULT '',
		[W] [INT] DEFAULT(0),
		[D] [INT] DEFAULT(0),
		[H] [INT] DEFAULT(0),
		[数量] 	MONEY DEFAULT(0),
		[使用数_前] 	MONEY DEFAULT(0),
		[使用数_後] 	MONEY DEFAULT(0),
		[転用数] 	MONEY DEFAULT(0),
		[余り数] 	MONEY DEFAULT(0),
		[単位名] 	VARCHAR (6),
		[仕入業者CD] 	VARCHAR (4),--2017/05/22 ADD
		[仕入業者名] 	VARCHAR (20),--2017/05/22 ADD

	) ON [PRIMARY]

	--------------------------------------------------
	--改装後テーブル
	--------------------------------------------------
	SELECT * INTO #TmpRevit_B
			FROM #TmpRevit_A
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--出力用Tempテーブルにグローバルデータを書き込む
	--------------------------------------------------
	--仮番号以外
	INSERT INTO #TmpRevit_A
		(
           [行番号]
           ,[追番R]
           ,[製品NO]
           ,[仕様NO]
           ,[漢字名称]
           ,[W]
           ,[D]
           ,[H]
           ,[数量]
           ,[使用数_前],[使用数_後],[転用数],[余り数]
           ,[単位名]
           ,[仕入業者CD]
           ,[仕入業者名]
        )
		SELECT	
				行番号 = MAX(行番号),
				追番R = (CASE WHEN 追番R='' THEN 'R' ELSE 追番R END),
				製品NO,
				仕様NO,
				漢字名称 = MAX(漢字名称),
				W,
				D,
				H,
				総数量 = SUM(数量),
				使用数_前 = SUM(数量),
				0,0,
				余り数 = SUM(数量),
				単位名 = MAX(単位名),
				仕入業者CD = MAX(仕入業者CD),
				仕入業者名 = MAX(仕入業者名)
			FROM #TmpR_A
			--FROM TmpR_A
			WHERE 製品NO <> '9999999'
			GROUP BY 追番R,製品NO,仕様NO,W,D,H

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--仮番号分
	INSERT INTO #TmpRevit_A
		(
           [行番号]
           ,[追番R]
           ,[製品NO]
           ,[仕様NO]
           ,[漢字名称]
           ,[W]
           ,[D]
           ,[H]
           ,[数量]
           ,[使用数_前],[使用数_後],[転用数],[余り数]
           ,[単位名]
           ,[仕入業者CD]
           ,[仕入業者名]
        )
		SELECT	
				行番号 = MAX(行番号),
				追番R = (CASE WHEN 追番R='' THEN 'R' ELSE 追番R END),
				製品NO,
				仕様NO,
				漢字名称 = MAX(漢字名称),
				W,
				D,
				H,
				総数量 = SUM(数量),
				使用数_前 = SUM(数量),
				0,0,
				余り数 = SUM(数量),
				単位名 = MAX(単位名),
				仕入業者CD = MAX(仕入業者CD),
				仕入業者名 = MAX(仕入業者名)
			FROM #TmpR_A
			--FROM TmpR_A
			WHERE 製品NO = '9999999'
			GROUP BY 追番R,製品NO,仕様NO,漢字名称,W,D,H

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--------------------------------------------------
	--チェック用Tempテーブルにグローバルデータを書き込む
	--------------------------------------------------
	--仮番号以外
	INSERT INTO #TmpRevit_B
		(
           [行番号]
           ,[追番R]
           ,[製品NO]
           ,[仕様NO]
           ,[漢字名称]
           ,[W]
           ,[D]
           ,[H]
           ,[数量]
           ,[使用数_前],[使用数_後],[転用数],[余り数]
           ,[単位名]
           ,[仕入業者CD]
           ,[仕入業者名]
        )
		SELECT	
				行番号 = MAX(行番号),
				追番R = (CASE WHEN 追番R='' THEN 'R' ELSE 追番R END),
				製品NO,
				仕様NO,
				漢字名称 = MAX(漢字名称),
				W,
				D,
				H,
				総数量 = SUM(数量),
				0,0,0,0,
				単位名 = MAX(単位名),
				仕入業者CD = MAX(仕入業者CD),
				仕入業者名 = MAX(仕入業者名)
			FROM #TmpR_B
			--FROM TmpR_B
			WHERE 製品NO <> '9999999'
			GROUP BY 追番R,製品NO,仕様NO,W,D,H

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--仮番号分
	INSERT INTO #TmpRevit_B
		(
           [行番号]
           ,[追番R]
           ,[製品NO]
           ,[仕様NO]
           ,[漢字名称]
           ,[W]
           ,[D]
           ,[H]
           ,[数量]
           ,[使用数_前],[使用数_後],[転用数],[余り数]
           ,[単位名]
           ,[仕入業者CD]
           ,[仕入業者名]
        )
		SELECT	
				行番号 = MAX(行番号),
				追番R = (CASE WHEN 追番R='' THEN 'R' ELSE 追番R END),
				製品NO,
				仕様NO,
				漢字名称 = MAX(漢字名称),
				W,
				D,
				H,
				総数量 = SUM(数量),
				0,0,0,0,
				単位名 = MAX(単位名),
				仕入業者CD = MAX(仕入業者CD),
				仕入業者名 = MAX(仕入業者名)
			FROM #TmpR_B
			--FROM TmpR_B
			WHERE 製品NO = '9999999'
			GROUP BY 追番R,製品NO,仕様NO,漢字名称,W,D,H

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--select * from  #TmpRevit_a order by 行番号
	--select * from  #TmpRevit_B order by 行番号
-------------------------------------------------------------------------------
	--------------------------------------------------
	--製品が一致する情報を更新
	--製品が不一致は作成
	--
	-- ※製品NO未定（9999999）は除外
	--------------------------------------------------
		
		MERGE INTO	#TmpRevit_A AS A
			USING
				(
				SELECT	
						行番号,
						追番R,
						製品NO,仕様NO,
						漢字名称,
						W,D,H,
						数量,
						単位名,
						仕入業者CD,
						仕入業者名
					FROM #TmpRevit_B
					--WHERE 製品NO <> '9999999'
					--GROUP BY 追番R,製品NO,仕様NO,W,D,H
				) AS B
			ON  (
					A.追番R = B.追番R
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				AND	A.漢字名称 = B.漢字名称
				AND	A.W = B.W
				AND	A.D = B.D
				AND	A.H = B.H
				)
			WHEN MATCHED THEN
							--使用分　a
							--転用数　a>b=b a<b=a、
							--あまり分 a>b=0 a<b=b-a
				UPDATE
					SET 	A.数量 = 0,
							A.使用数_前 = A.数量,
							A.使用数_後 = B.数量,
							A.転用数 = CASE WHEN A.数量 > B.数量 THEN B.数量 ELSE A.数量 END,
							A.余り数 = CASE WHEN A.数量 < B.数量 THEN 0 ELSE A.数量 - B.数量 END
			WHEN NOT MATCHED THEN
				INSERT
						(
							行番号,
							追番R,--2019/12/12 ADD
							製品NO, 仕様NO, 
							漢字名称, 
							W, D, H, 
							数量,
							使用数_前,
							使用数_後,
							転用数,
							余り数,
							単位名,
							仕入業者CD,
							仕入業者名
						)
					VALUES
						(
							99999+B.行番号,
							B.追番R,
							B.製品NO, B.仕様NO, 
							B.漢字名称, 
							B.W, B.D, B.H,
							0,
							0,
							B.数量,
							0,
							0,
							B.単位名,
							B.仕入業者CD,
							B.仕入業者名
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--連番付け
	--------------------------------------------------
	UPDATE #TmpRevit_A
			SET 行番号 = 連番,
				数量 = 0
			FROM #TmpRevit_A
				INNER JOIN
					(
						SELECT	行番号,
								追番R,
								製品NO,仕様NO,
								漢字名称,
								W, D, H,
								連番 = ROW_NUMBER() OVER (ORDER BY 行番号)
							FROM #TmpRevit_A
					) AS B
					ON	#TmpRevit_A.追番R = B.追番R
					AND #TmpRevit_A.行番号 = B.行番号
					AND	#TmpRevit_A.製品NO = B.製品NO
					AND	#TmpRevit_A.仕様NO = B.仕様NO
					AND	#TmpRevit_A.漢字名称 = B.漢字名称
					AND	#TmpRevit_A.W = B.W
					AND	#TmpRevit_A.D = B.D
					AND	#TmpRevit_A.H = B.H

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

SELECT_SP:
	--------------------------------------------------
	--再表示用
	--------------------------------------------------
	SELECT	WK.*
		FROM #TmpRevit_A AS WK
		ORDER BY WK.行番号

--DROP TABLE #TmpRevit_A
--DROP TABLE #TmpRevit_B

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
