/****** Object:  StoredProcedure [dbo].[usp_TN1902DELチーム別在庫調整]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1902DELチーム別在庫調整]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1902DELチーム別在庫調整]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_TN1902DELチーム別在庫調整

	機能:	
		移動情報および、移動明細情報を削除する。

 =============================================
	2009/09/16	oosawa	新規作成

	2017/01/24	oosawa		新設	
 =============================================*/
CREATE	PROCEDURE	[dbo].[usp_TN1902DELチーム別在庫調整]
	(
	@i在庫調整番号		INT,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
	SET	NOCOUNT ON

	DECLARE
			@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	BEGIN TRAN

	--------------------------------------------------
	--社内在庫移動を削除します。
	--------------------------------------------------
	DELETE 
		FROM TD在庫調整明細 
		WHERE 在庫調整番号 = @i在庫調整番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	DELETE 
		FROM TD在庫調整 
		WHERE 在庫調整番号 = @i在庫調整番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
