/****** Object:  StoredProcedure [dbo].[usp_MT0304見積書出力_客在_コーセー]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0304見積書出力_客在_コーセー]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0304見積書出力_客在_コーセー]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************

名称	usp_MT0301見積書出力_客在

機能	指定された条件で見積書を作成する
	
特別仕様
	附属部材にはしない。
	客先在庫があるものも通常通り出力する。
	客先在庫があるものをZ0としてマイナス金額で出力する。

引数	

戻り値	

*****************************************************
	2003/09/12	kawamura	製品サイズに[H1][H2]追加
	2003/10/31 	kawamura 	コメント行管理用に見積区分追加
					仕入先略称・配送先略称はデータからセットするに変更
	2004/12/01	oosawa	見積区分A・Sの追加
	2005/07/05	oosawa	見積区分(1～9)の集計を追加
	2010/10/29	oosawa	客在項目で見積数がゼロ・マイナスでも出力するように変更
	2013/01/31	oosawa	一式部分で単位が出るように

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	2023/09/11	oosawa	コーセー専用
	2023/11/15	oosawa	明細の明細部集計不具合
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_MT0304見積書出力_客在_コーセー]
	(
		@i見積番号				INT,
		@i見積番号明細部		INT,
		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

--declare
--		@i見積番号		INT,
--		@i見積番号明細部	INT,
--		@RetST			INT,
--		@RetMsg	VARCHAR(255)

--SET	@i見積番号 = 171251
--SET	@i見積番号明細部 = 171252



	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

	------------------------------------------------------
	--見積出力用データ作成
	------------------------------------------------------
	SELECT * INTO #WK見積明細
		FROM (
		----------------------------------------------------------------
		--コメントでないもの
		----------------------------------------------------------------
		SELECT	番号 = 1,
				MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
--					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
--					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
											AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号
-- 			AND		MSM.見積区分 = ''										--2005/07/05 DEL
			AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')						--2005/07/05 UPD
			AND		MSU.数量 <> 0
-- -- 			AND		MSM.客先在庫数 = 0										--2005/10/06 DEL
-- -- 			AND		MSM.転用数 = 0										--2005/10/06 DEL
		UNION ALL
		----------------------------------------------------------------
		--コメントAのもの
		----------------------------------------------------------------
		SELECT	番号 = 1,
				MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
--					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
--					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
											AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号
			AND		MSM.見積区分 = 'A'
--			AND		MSU.数量 > 0			--2003/10/28	TEST
--			AND		MSU.数量 <> 0			--2003/10/28	TEST
			AND		(
						SELECT  TOP 1 MSU1.数量
						FROM TD見積シートM AS MSM1
						INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
	 						AND 	MSU1.仕分番号 = MSU.仕分番号
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) <> 0			--2003/10/28	TEST
-- -- --			AND		MSM.見積数量 > 0		--2003/10/28	TEST
-- -- --			AND		MSM.客先在庫数 = 0
-- -- 			AND		(
-- -- 						SELECT  TOP 1 MSM1.客先在庫数
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 >= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 ASC
-- -- 					) = 0			--2003/10/28	TEST
-- -- --			AND		MSM.転用数 = 0
-- -- 			AND		(
-- -- 						SELECT  TOP 1 MSM1.転用数
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 >= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 ASC
-- -- 					) = 0			--2003/10/28	TEST
		--order by msu.仕分番号, msm.行番号
		UNION ALL
		----------------------------------------------------------------
		--コメントCのもの
		----------------------------------------------------------------
		SELECT	番号 = 1,
				MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
--					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
--					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
											AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号
			AND		(MSM.見積区分 = 'C'
				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
--			AND		MSU.数量 > 0			--2003/10/28	TEST
--			AND		MSU.数量 <> 0			--2003/10/28	TEST
			AND		(
						SELECT  TOP 1 MSU1.数量
						FROM TD見積シートM AS MSM1
						INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
	 						AND 	MSU1.仕分番号 = MSU.仕分番号
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) <> 0			--2003/10/28	TEST
-- -- --			AND		MSM.見積数量 > 0		--2003/10/28	TEST
-- -- --			AND		MSM.客先在庫数 = 0
-- -- 			AND		(
-- -- 						SELECT  TOP 1 MSM1.客先在庫数
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 <= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 DESC
-- -- 					) = 0			--2003/10/28	TEST
-- -- --			AND		MSM.転用数 = 0
-- -- 			AND		(
-- -- 						SELECT  TOP 1 MSM1.転用数
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 <= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 DESC
-- -- 					) = 0			--2003/10/28	TEST
		--order by msu.仕分番号, msm.行番号

		UNION ALL
		--付属部材
		--見積数量があり、仕分数量があり、客先在庫数・転用があるデータ
		----------------------------------------------------------------
		--附属部材で
		--コメントでないもの
		----------------------------------------------------------------
-- -- 		SELECT	MH.見積番号, 'Z9' AS 仕分番号, '付属部材'AS 仕分名称, MSM.行番号,
-- -- 				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
-- -- 				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
-- -- 				MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.売上金額,
-- -- 				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, MSM.仕入金額,
-- -- 				0 AS 原価率, 0 AS 粗利益, 
-- -- 				MSM.配送先CD, 配送先名 AS 配送先略称,
-- -- 				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
-- -- 			FROM		TD見積 AS MH
-- -- 					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- -- --					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
-- -- --					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
-- -- 			WHERE	MH.見積番号 = @i見積番号
-- -- -- 			AND		MSM.見積区分 = ''									--2005/07/04 DEL-- -- 
-- -- 			AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')					--2005/07/04 UPD
-- -- 			AND 		見積数量 <> 0
-- -- 			AND		(客先在庫数 > 0
-- -- 				OR 	転用数 > 0)
-- -- 		--order by msu.仕分番号, msm.行番号
-- -- 
-- -- 
-- -- 		UNION ALL
-- -- 		----------------------------------------------------------------
-- -- 		--附属部材で
-- -- 		--コメントAのもの
-- -- 		----------------------------------------------------------------
-- -- 		SELECT	MH.見積番号, 'Z9' AS 仕分番号, '付属部材'AS 仕分名称, MSM.行番号,
-- -- 				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
-- -- 				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
-- -- 				MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.売上金額,
-- -- 				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, MSM.仕入金額,
-- -- 				0 AS 原価率, 0 AS 粗利益, 
-- -- 				MSM.配送先CD, 配送先名 AS 配送先略称,-- -- 
-- -- 				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
-- -- 			FROM		TD見積 AS MH
-- -- 					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- -- --					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
-- -- --					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
-- -- 			WHERE	MH.見積番号 = @i見積番号
-- -- 			AND		MSM.見積区分 = 'A'
-- -- --			AND		MSM.見積数量 > 0
-- -- 			AND		(
-- -- 						SELECT  TOP 1 MSM1.見積数量
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 >= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 ASC
-- -- 					--) > 0		--2003/10/28	TEST
-- -- 					) <> 0			--2003/12/08
-- -- -- 			AND		(MSM.客先在庫数 > 0
-- -- -- 			OR		MSM.転用数 > 0)
-- -- 			AND		(
-- -- 					(
-- -- 						SELECT  TOP 1 MSM1.客先在庫数
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 >= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 ASC
-- -- 					) > 0			--2003/10/28	TEST
-- -- 			OR		(
-- -- 						SELECT  TOP 1 MSM1.転用数
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 >= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 ASC
-- -- 					) > 0			--2003/10/28	TEST
-- -- 					)
-- -- 		--order by msu.仕分番号, msm.行番号
-- -- 		UNION ALL
-- -- 		----------------------------------------------------------------
-- -- 		--附属部材で
-- -- 		--コメントCのもの
-- -- 		----------------------------------------------------------------
-- -- 		SELECT	MH.見積番号, 'Z9' AS 仕分番号, '付属部材'AS 仕分名称, MSM.行番号,
-- -- 				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
-- -- 				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
-- -- 				MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.売上金額,
-- -- 				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, MSM.仕入金額,
-- -- 				0 AS 原価率, 0 AS 粗利益, 
-- -- 				MSM.配送先CD, 配送先名 AS 配送先略称,
-- -- 				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
-- -- 			FROM		TD見積 AS MH
-- -- 					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- -- --					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
-- -- --					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
-- -- 			WHERE	MH.見積番号 = @i見積番号
-- -- 			AND		(MSM.見積区分 = 'C'
-- -- 				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
-- -- --			AND		MSM.見積数量 > 0
-- -- 			AND		(
-- -- 						SELECT  TOP 1 MSM1.見積数量
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 <= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 DESC
-- -- 					--) > 0		--2003/10/28	TEST
-- -- 					) <> 0			--2003/12/08
-- -- -- 			AND		(MSM.客先在庫数 > 0
-- -- -- 			OR		MSM.転用数 > 0)
-- -- 			AND		(
-- -- 					(
-- -- 						SELECT  TOP 1 MSM1.客先在庫数
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 <= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 DESC
-- -- 					) > 0			--2003/10/28	TEST
-- -- 			OR		(
-- -- 						SELECT  TOP 1 MSM1.転用数
-- -- 						FROM TD見積シートM AS MSM1
-- -- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- -- --							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
-- -- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- -- 							AND 	MSM1.行番号 <= MSM.行番号
-- -- 						ORDER BY MSM1.行番号 DESC
-- -- 					) > 0			--2003/10/28	TEST
-- -- 					)
		--order by msu.仕分番号, msm.行番号

		--客先在庫・転用数があるもの
		SELECT	番号 = 1,
				MH.見積番号, 'Z0' AS 仕分番号, '客先在庫'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				(MSM.客先在庫数+MSM.転用数)*-1 AS 客在数, MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,(MSM.客先在庫数+MSM.転用数) * MSM.売上単価*-1,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,(MSM.客先在庫数+MSM.転用数) * MSM.仕入単価*-1,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
			WHERE	MH.見積番号 = @i見積番号
			AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')					--2005/07/04 UPD
-- 			AND 		見積数量 >= 0	--2010/10/29 DEL
			AND		(客先在庫数 > 0
				OR 	転用数 > 0)

		UNION ALL
		----------------------------------------------------------------
		--コメントAのもの
		----------------------------------------------------------------
		SELECT	番号 = 1,
				MH.見積番号, 'Z0' AS 仕分番号, '客先在庫'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				(MSM.客先在庫数+MSM.転用数)*-1 AS 客在数, MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,(MSM.客先在庫数+MSM.転用数) * MSM.売上単価*-1,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,(MSM.客先在庫数+MSM.転用数) * MSM.仕入単価*-1,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
			WHERE	MH.見積番号 = @i見積番号
			AND		MSM.見積区分 = 'A'
			--2010/10/29 DEL↓
-- 			AND		(
-- 						SELECT  TOP 1 MSM1.見積数量
-- 						FROM TD見積シートM AS MSM1
-- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- 							AND 	MSM1.行番号 >= MSM.行番号
-- 						ORDER BY MSM1.行番号 ASC
-- 					) >= 0
			--2010/10/29 DEL↑
			AND		(
					(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) > 0
			OR		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) > 0			--2003/10/28	TEST
					)

		UNION ALL
		----------------------------------------------------------------
		--コメントCのもの
		----------------------------------------------------------------
		SELECT	番号 = 1,
				MH.見積番号, 'Z0' AS 仕分番号, '客先在庫'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, MSM.仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
			WHERE	MH.見積番号 = @i見積番号
			AND		(MSM.見積区分 = 'C'
				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
			--2010/10/29 DEL↓
-- 			AND		(
-- 						SELECT  TOP 1 MSM1.見積数量
-- 						FROM TD見積シートM AS MSM1
-- 						WHERE	MSM1.見積番号 = MSM.見積番号
-- 							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
-- 							AND 	MSM1.行番号 <= MSM.行番号
-- 						ORDER BY MSM1.行番号 DESC
-- 					) >= 0
			--2010/10/29 DEL↑
			AND		(
					(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) > 0			--2003/10/28	TEST
			OR		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) > 0			--2003/10/28	TEST
					)

		UNION ALL
		--出精値引
		SELECT	番号 = 1,
				見積番号, 'ZA' AS 仕分番号, '出精値引' AS 仕分名称, 1 AS 行番号, 
				'' AS SP区分, '' AS PC区分, '' AS 製品NO, '' AS 仕様NO, '出精値引' AS 漢字名称, 
				0 AS W, 0 AS D, 0 AS H, 0 AS D1, 0 AS D2, 0 AS H1, 0 AS H2,
				0 AS 数量, '' AS 単位名, 0 AS 売上単価, 出精値引 AS 売上金額,
				'' AS 仕入先CD, '' AS 仕入略称, 0 AS 仕入単価, 0 AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				'' AS 配送先CD, '' AS 配送略称, 
				0 AS 社内在庫数, 0 AS 客先在庫数, 0 AS 転用数, 0 AS 発注数, NULL AS 製品区分, '' AS 見積区分
			FROM		TD見積 AS MH
			WHERE	見積番号 = @i見積番号
			AND		出精値引 <> 0
		--order by msu.仕分番号, msm.行番号

		) AS 見積明細

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--2005/07/05 ADD-------------------------------------
	------------------------------------------------------
	--見積区分での集計処理（1～9）
	------------------------------------------------------
	SELECT * INTO #WK見積明細集計
		FROM (
			SELECT	番号 = 1,
					A.見積番号, A.仕分番号, B.仕分名称, 
					A.行番号, B.SP区分, B.PC区分, B.製品NO, B.仕様NO, B.漢字名称, 
					B.W, B.D, B.H, B.D1, B.D2, B.H1, B.H2, 
					A.数量, B.単位名, A.売上金額 AS 売上単価, A.売上金額, 
					B.[仕入先CD], [仕入先略称], A.[仕入金額] AS 仕入単価, A.[仕入金額], [原価率], [粗利益], [配送先CD], [配送先略称], 
					[社内在庫数], [客先在庫数], [転用数], [発注数], [製品区分], A.[見積区分] 
				FROM	(
					SELECT        見積番号, 仕分番号, 見積区分,MIN(行番号) AS 行番号,
							1/*SUM(数量)*/ AS 数量, SUM(仕入金額) AS 仕入金額, SUM(売上金額) AS 売上金額
						FROM		[#WK見積明細] 
						WHERE          NOT  見積区分 IN ('','A', 'C', 'S')
						GROUP BY     見積番号, 仕分番号, 見積区分
					) AS A
					INNER JOIN (
							SELECT [見積番号], [仕分番号], [仕分名称], 
									[行番号], [SP区分], [PC区分], [製品NO], [仕様NO], [漢字名称], 
									[W], [D], [H], [D1], [D2], [H1], [H2], 
									/*[数量], ' ' AS [単位名], [売上単価], [売上金額], */
									/*[数量],*/ [単位名], /*[売上単価], [売上金額], */	--2013/01/13 ADD
									' ' AS [仕入先CD], ' ' AS [仕入先略称], /*[仕入単価], [仕入金額],*/ [原価率], [粗利益], ' ' AS [配送先CD], ' ' AS [配送先略称], 
									[社内在庫数], [客先在庫数], [転用数], [発注数], [製品区分], [見積区分] 
								FROM [#WK見積明細]
							) AS B
						ON	A.見積番号 = B.見積番号
						AND	A.仕分番号 = B.仕分番号
						AND	A.見積区分 = B.見積区分
						AND	A.行番号 = B.行番号
			) AS A
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細からの集計（1～9）対象の削除
	------------------------------------------------------
	DELETE FROM #WK見積明細
		WHERE  見積区分 NOT IN ('','A', 'C', 'S')

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細へ集計（1～9）結果の追加
	------------------------------------------------------
	INSERT INTO #WK見積明細
		SELECT *
			FROM #WK見積明細集計

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP





------------------------------------------------------
--明細用データの作成
------------------------------------------------------
	------------------------------------------------------
	--見積出力用データ作成
	------------------------------------------------------
	SELECT * INTO #WK見積明細_明細
		FROM (
		----------------------------------------------------------------
		--コメントでないもの
		----------------------------------------------------------------
		SELECT	番号 = 2,
				MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
--					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
--					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
											AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号明細部
-- 			AND		MSM.見積区分 = ''										--2005/07/05 DEL
			AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')						--2005/07/05 UPD
			AND		MSU.数量 <> 0
-- -- 			AND		MSM.客先在庫数 = 0										--2005/10/06 DEL
-- -- 			AND		MSM.転用数 = 0										--2005/10/06 DEL
		UNION ALL
		----------------------------------------------------------------
		--コメントAのもの
		----------------------------------------------------------------
		SELECT	番号 = 2,
				MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
											AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号明細部
			AND		MSM.見積区分 = 'A'
			AND		(
						SELECT  TOP 1 MSU1.数量
						FROM TD見積シートM AS MSM1
						INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
	 						AND 	MSU1.仕分番号 = MSU.仕分番号
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) <> 0			--2003/10/28	TEST
		UNION ALL
		----------------------------------------------------------------
		--コメントCのもの
		----------------------------------------------------------------
		SELECT	番号 = 2,
				MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
											AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号
			AND		(MSM.見積区分 = 'C'
				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
			AND		(
						SELECT  TOP 1 MSU1.数量
						FROM TD見積シートM AS MSM1
						INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
	 						AND 	MSU1.仕分番号 = MSU.仕分番号
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) <> 0			--2003/10/28	TEST
		UNION ALL

		--客先在庫・転用数があるもの
		SELECT	番号 = 2,
				MH.見積番号, 'Z0' AS 仕分番号, '客先在庫'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				(MSM.客先在庫数+MSM.転用数)*-1 AS 客在数, MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,(MSM.客先在庫数+MSM.転用数) * MSM.売上単価*-1,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,(MSM.客先在庫数+MSM.転用数) * MSM.仕入単価*-1,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
			WHERE	MH.見積番号 = @i見積番号
			AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')					--2005/07/04 UPD
-- 			AND 		見積数量 >= 0	--2010/10/29 DEL
			AND		(客先在庫数 > 0
				OR 	転用数 > 0)

		UNION ALL
		----------------------------------------------------------------
		--コメントAのもの
		----------------------------------------------------------------
		SELECT	番号 = 2,
				MH.見積番号, 'Z0' AS 仕分番号, '客先在庫'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				(MSM.客先在庫数+MSM.転用数)*-1 AS 客在数, MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,(MSM.客先在庫数+MSM.転用数) * MSM.売上単価*-1,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,(MSM.客先在庫数+MSM.転用数) * MSM.仕入単価*-1,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
			WHERE	MH.見積番号 = @i見積番号
			AND		MSM.見積区分 = 'A'
			AND		(
					(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) > 0
			OR		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) > 0			--2003/10/28	TEST
					)

		UNION ALL
		----------------------------------------------------------------
		--コメントCのもの
		----------------------------------------------------------------
		SELECT	番号 = 2,
				MH.見積番号, 'Z0' AS 仕分番号, '客先在庫'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, MSM.仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分
			FROM		TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
			WHERE	MH.見積番号 = @i見積番号
			AND		(MSM.見積区分 = 'C'
				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
			AND		(
					(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) > 0			--2003/10/28	TEST
			OR		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
							AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) > 0			--2003/10/28	TEST
					)

		UNION ALL
		--出精値引
		SELECT	番号 = 2,
				見積番号, 'ZA' AS 仕分番号, '出精値引' AS 仕分名称, 1 AS 行番号, 
				'' AS SP区分, '' AS PC区分, '' AS 製品NO, '' AS 仕様NO, '出精値引' AS 漢字名称, 
				0 AS W, 0 AS D, 0 AS H, 0 AS D1, 0 AS D2, 0 AS H1, 0 AS H2,
				0 AS 数量, '' AS 単位名, 0 AS 売上単価, 出精値引 AS 売上金額,
				'' AS 仕入先CD, '' AS 仕入略称, 0 AS 仕入単価, 0 AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				'' AS 配送先CD, '' AS 配送略称, 
				0 AS 社内在庫数, 0 AS 客先在庫数, 0 AS 転用数, 0 AS 発注数, NULL AS 製品区分, '' AS 見積区分
			FROM		TD見積 AS MH
			WHERE	見積番号 = @i見積番号
			AND		出精値引 <> 0
		--order by msu.仕分番号, msm.行番号

		) AS 見積明細

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--2005/07/05 ADD-------------------------------------
	------------------------------------------------------
	--見積区分での集計処理（1～9）
	------------------------------------------------------
	SELECT * INTO #WK見積明細集計_明細
		FROM (
			SELECT	番号 = 2,
					A.見積番号, A.仕分番号, B.仕分名称, 
					A.行番号, B.SP区分, B.PC区分, B.製品NO, B.仕様NO, B.漢字名称, 
					B.W, B.D, B.H, B.D1, B.D2, B.H1, B.H2, 
					A.数量, B.単位名, A.売上金額 AS 売上単価, A.売上金額, 
					B.[仕入先CD], [仕入先略称], A.[仕入金額] AS 仕入単価, A.[仕入金額], [原価率], [粗利益], [配送先CD], [配送先略称], 
					[社内在庫数], [客先在庫数], [転用数], [発注数], [製品区分], A.[見積区分] 
				FROM	(
					SELECT        見積番号, 仕分番号, 見積区分,MIN(行番号) AS 行番号,
							1/*SUM(数量)*/ AS 数量, SUM(仕入金額) AS 仕入金額, SUM(売上金額) AS 売上金額
						FROM		[#WK見積明細_明細] 
						WHERE          NOT  見積区分 IN ('','A', 'C', 'S')
						GROUP BY     見積番号, 仕分番号, 見積区分
					) AS A
					INNER JOIN (
							SELECT [見積番号], [仕分番号], [仕分名称], 
									[行番号], [SP区分], [PC区分], [製品NO], [仕様NO], [漢字名称], 
									[W], [D], [H], [D1], [D2], [H1], [H2], 
									/*[数量], ' ' AS [単位名], [売上単価], [売上金額], */
									/*[数量],*/ [単位名], /*[売上単価], [売上金額], */	--2013/01/13 ADD
									' ' AS [仕入先CD], ' ' AS [仕入先略称], /*[仕入単価], [仕入金額],*/ [原価率], [粗利益], ' ' AS [配送先CD], ' ' AS [配送先略称], 
									[社内在庫数], [客先在庫数], [転用数], [発注数], [製品区分], [見積区分] 
								--FROM [#WK見積明細]
								FROM [#WK見積明細_明細]--2023/11/15 ADD
							) AS B
						ON	A.見積番号 = B.見積番号
						AND	A.仕分番号 = B.仕分番号
						AND	A.見積区分 = B.見積区分
						AND	A.行番号 = B.行番号
			) AS A
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細からの集計（1～9）対象の削除
	------------------------------------------------------
	DELETE FROM #WK見積明細_明細
		WHERE  見積区分 NOT IN ('','A', 'C', 'S')

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細へ集計（1～9）結果の追加
	------------------------------------------------------
	INSERT INTO #WK見積明細_明細
		SELECT *
			FROM #WK見積明細集計_明細

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP




	--合体
	INSERT INTO #WK見積明細
		SELECT *
			FROM #WK見積明細_明細











	------------------------------------------------------
	--見積ヘッダー部出力
	------------------------------------------------------
	SELECT	MH.*, TT.担当者名
		FROM		TD見積 AS MH
		LEFT JOIN 	TM担当者 AS TT ON MH.担当者CD = TT.担当者CD
		WHERE	見積番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--見積ヘッダー部出力
	------------------------------------------------------
	SELECT	見積番号, 仕分番号, 仕分名称, 
			SUM(売上金額) AS 売上金額,
			SUM(仕入金額) AS 仕入金額,
			0 AS 原価率, 0 AS 粗利益
--			dbo.fn_Divide(SUM(仕入金額),SUM(売上金額)) AS 原価率,
--			(SUM(売上金額)-SUM(仕入金額)) AS 粗利益
		FROM		#WK見積明細
		WHERE	番号 = 1
		GROUP BY 見積番号, 仕分番号, 仕分名称
		ORDER BY 仕分番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


------------------------------------------------------
--仕分け番号4部の明細の削除
------------------------------------------------------
	DELETE FROM #WK見積明細
		WHERE	仕分番号 = 4
		AND 番号 = 1

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	------------------------------------------------------
	--見積明細部出力
	------------------------------------------------------
	SELECT MW.*, CN.仕分行数 
		FROM #WK見積明細 AS MW
		LEFT JOIN 
			(
			SELECT	見積番号, 仕分番号, 仕分名称, 
					COUNT(行番号) AS 仕分行数
				FROM		#WK見積明細
				GROUP BY 見積番号, 仕分番号, 仕分名称
			) AS CN 
			ON MW.見積番号 = CN.見積番号 AND MW.仕分番号 = CN.仕分番号 AND MW.仕分名称 = CN.仕分名称 
		ORDER BY MW.番号,MW.仕分番号, MW.行番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--出力日更新
	------------------------------------------------------
	UPDATE TD見積
		SET 見積書出力日 = GETDATE()
		--WHERE	見積番号 = @i見積番号
		WHERE	見積番号 IN (@i見積番号,@i見積番号明細部)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	DROP TABLE #WK見積明細
	DROP TABLE #WK見積明細集計				--2005/07/05 ADD

	DROP TABLE #WK見積明細_明細
	DROP TABLE #WK見積明細集計_明細
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
