/****** Object:  StoredProcedure [dbo].[usp_HS0101仕入明細抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HS0101仕入明細抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_HS0101仕入明細抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	usp_HS0101仕入明細抽出

	機能	指定された見積番号で仕入明細Ｄ・仕入明細内訳Ｄを採用。
			処理区分=0:新規　：仕入残明細Ｄ・仕入残明細内訳情報情報取得
			処理区分=1:修正　：仕入明細Ｄ・仕入明細内訳情報取得
 =============================================

	2003/09/04	kawamura
	2003/12/09	kawamura	新規の時は残金額を表示
	2010/03/13	oosawa	2008対応
	2013/11/04	oosawa		仕分レベルの削除に伴う修正
	2013/11/09	oosawa		コメントが出ていなかった
	2013/11/11	oosawa		返品が出ないので<>0に変更
	2014/03/04	oosawa		税集計区分：明細単位追加での修正（変更なし）

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	2017/03/28	oosawa		他社納品日付、他社納品番号を追加
 	2017/06/21	oosawa		仕入先9999の場合、金額関係をゼロにする
							※ゼロで仕入を起こす流れのため
	2019/08/03	oosawa		チェックを外した状態にする
	2019/08/10	oosawa		U区分を表示
	2019/08/24	oosawa		仕入業者を表示 9999の時わかりずらいので
	2024/03/20	oosawa		売上単価表示
	2024/06/11	oosawa		作業区分CD表示
=============================================*/
CREATE	PROCEDURE	[dbo].[usp_HS0101仕入明細抽出]
	(
	@i処理区分 		SMALLINT,
	@i見積番号		INT,
	@i仕入先CD 		VARCHAR(4),
	@i配送先CD 		VARCHAR(4),
	@i仕入番号		INT,
	--@CompName		VARCHAR(100),
	--@RetTableNameM 	VARCHAR(100) 	OUTPUT,
	--@RetTableNameU 	VARCHAR(100) 	OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS

	SET	NOCOUNT ON

	DECLARE @TRAN	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--DECLARE 	@w初期登録日 	DATETIME
	--消費税用変数
	DECLARE	@TAX		MONEY

	DECLARE 	@TableNameM VARCHAR(100),
			@TableNameU VARCHAR(100)

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑


	IF  @i処理区分 = 1 BEGIN	--修正


		------------------------------------------------------
		--仕入明細内訳抽出
		------------------------------------------------------
		SELECT 
			MU.仕入番号, MU.仕入先CD, MU.配送先CD,
			MU.見積行番号, 
			MU.仕入明細行番号, 
			MU.見積明細連番,
			MU.伝票区分,
			--2017/03/28 ADD↓
			MSM.他社納品日付,MSM.他社伝票番号,
			--2017/03/28 ADD↑
			MU.SP区分, MU.PC区分, MU.製品NO, MU.仕様NO, MU.ベース色, MU.漢字名称, 
			MU.W, MU.D, MU.H, MU.D1, MU.D2, MU.H1, MU.H2, MU.エラー内容,
			MU.仕入数量,
			MU.発注数,
			MSM.U区分,--2019/08/10 ADD
			MU.単位名, MU.仕入単価, MU.仕入金額,
			MU.定価, MU.仕入税区分, MU.消費税額, MU.製品区分,
			MSM.仕入業者CD,MSM.仕入業者名,--2019/08/24 ADD
			MSM.売上単価,--2024/03/20 ADD
			MSM.作業区分CD,	--2024/06/11 ADD
			MU.初期登録日, MU.登録変更日,
			[CHECK] = 1--2015/05/15 ADD
			FROM 	TD仕入明細内訳 AS MU
			INNER JOIN 	TD仕入明細 AS MM 
				ON 	MU.仕入番号 = MM.仕入番号 
				--AND 	MU.仕入先CD = MM.仕入先CD
				--AND 	MU.配送先CD = MM.配送先CD
			--WHERE	MM.見積番号 = @i見積番号
			--	AND MM.仕入先CD = @i仕入先CD
			--	AND MM.配送先CD = @i配送先CD
			--2017/03/28 ADD↓
			LEFT JOIN TD見積シートM AS MSM
				ON MU.見積明細連番 = MSM.見積明細連番
			--2017/03/28 ADD↑
			WHERE	MM.仕入番号 = @i仕入番号
			ORDER BY 	MU.配送先CD,  仕入明細行番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END ELSE BEGIN

		--計上区分=0のみ
		------------------------------------------------------
		--仕入明細内訳抽出
		------------------------------------------------------
			--税率取得
			SET	@TAX = dbo.fn_GetTax(CONVERT(CHAR(10),GETDATE(),111))


			SELECT * INTO #TBL
				FROM (
					SELECT D.見積番号, D.仕入先CD, D.配送先CD, 
							見積行番号 = D.項目, 
							仕入明細行番号 = ROW_NUMBER() OVER(PARTITION BY D.見積番号,D.仕入先CD,D.配送先CD ORDER BY D.項目 ASC),
							D.見積明細連番,
							伝票区分=(CASE WHEN D.見積区分 = 'C' OR D.見積区分 = 'A' OR D.見積区分 = 'S' THEN D.見積区分 ELSE '1' END),
							--2017/03/28 ADD↓
							MSM.他社納品日付,MSM.他社伝票番号,
							--2017/03/28 ADD↑
							D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.ベース色, D.漢字名称, 
							D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2, D.エラー内容,
							--数量 = (D.数量-ISNULL(SRU.仕入数量,0)),
							仕入数量 = (D.発注数-ISNULL(SRU.仕入数量,0)),
							発注数 = D.発注数,
							MSM.U区分,--2019/08/10 ADD
							D.単位名, D.仕入単価, 
							--仕入金額 = dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,0),	--2003/10/23.ADD
							仕入金額 = dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,@decimalPoint),	--2003/10/23.ADD
							D.売上単価,--2024/03/20 ADD
							D.作業区分CD,	--2024/06/11 ADD
							D.定価, D.仕入税区分,
							--消費税額 = 0,
							消費税額 = (CASE WHEN SI.税集計区分 = 2 AND D.仕入税区分 = 0 
											THEN dbo.fn_CutFraction(SI.消費税端数, ISNULL(dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,@decimalPoint) / 100 * @TAX,0),@decimalPoint)
											ELSE 0 END),
							MSM.仕入業者CD,MSM.仕入業者名,--2019/08/24 ADD
							D.製品区分, 0 AS 計上区分,
							内税額 = (CASE WHEN D.仕入税区分 = 1 
											--THEN dbo.fn_CutFraction(SI.消費税端数, ISNULL(dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,0) / (100 + @TAX) * @TAX,0),0)
											THEN dbo.fn_CutFraction(SI.消費税端数, ISNULL(dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,@decimalPoint) / (100 + @TAX) * @TAX,0),@decimalPoint)
											ELSE 0 END),
					
							初期登録日 = CONVERT(CHAR(10), GETDATE(),111), 
							登録変更日 = CONVERT(CHAR(10), GETDATE(),111),
							--[CHECK] = 1--2015/05/15 ADD
							[CHECK] = 0--2019/08/03 ADD

					FROM
						(
						--通常明細
						--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
						----------------------------------------------------------------				--2004/07/06
						--附属部材以外で
						--コメントでないもの
						----------------------------------------------------------------
						SELECT	MH.見積番号, MSM.行番号 AS 項目,
								MSM.仕入先CD, MSM.配送先CD,
								MSM.見積明細連番,
								MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
								MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
								--MSM.U区分,--2019/08/10 ADD
								MSM.単位名, MSM.仕入単価, 
								MSM.売上単価,--2024/03/20 ADD
								MSM.作業区分CD,	--2024/06/11 ADD
								MSM.定価, MSM.製品区分, MSM.見積区分, 
								(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.仕入税区分,0) WHEN 3 THEN ISNULL(PC.仕入税区分,0) ELSE 0 END) AS 仕入税区分,
								MSM.発注数
							FROM TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM
								ON MSM.見積番号 = MH.見積番号
							--INNER JOIN TD見積シート内訳 AS MSU
							--	ON MSM.見積明細連番 = MSU.見積明細連番
							LEFT JOIN TM製品 AS SE
								ON MSM.製品区分 = 0 
								AND MSM.製品NO = SE.製品NO 
								AND MSM.仕様NO = SE.仕様NO
							LEFT JOIN TMPC AS PC
								ON MSM.製品区分 = 3
								AND MSM.PC区分 = PC.PC区分
								AND MSM.製品NO = PC.製品NO
							--2013/11/09 ADD↓
							LEFT JOIN (
										SELECT	見積明細連番,
												仕入数量 = SUM(仕入数量)
											FROM	TD仕入明細内訳
											GROUP BY 見積明細連番
									) AS SRU
								ON MSM.見積明細連番 = SRU.見積明細連番
							--2013/11/09 ADD↑
							WHERE	MH.見積番号 = @i見積番号
							AND MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							--AND MSM.発注数 <> 0
							----AND	(MSM.発注数-ISNULL(SRU.仕入数量,0)) > 0 --2013/11/09 ADD
							AND	(MSM.発注数-ISNULL(SRU.仕入数量,0)) <> 0 --2013/11/11 ADD 返品が出ないので<> 
						UNION ALL
						----------------------------------------------------------------				--2004/07/06
						--コメントAのもの
						----------------------------------------------------------------
						SELECT	MH.見積番号, MSM.行番号 AS 項目,
								MSM.仕入先CD, MSM.配送先CD,
								MSM.見積明細連番,
								MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
								MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
								--MSM.U区分,--2019/08/10 ADD
								MSM.単位名, MSM.仕入単価, 
								MSM.売上単価,--2024/03/20 ADD
								MSM.作業区分CD,	--2024/06/11 ADD
								MSM.定価, MSM.製品区分, MSM.見積区分, 
								(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.仕入税区分,0) WHEN 3 THEN ISNULL(PC.仕入税区分,0) ELSE 0 END) AS 仕入税区分,
								MSM.発注数
							FROM TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							--INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
							LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
							LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
							WHERE	MH.見積番号 = @i見積番号
							AND	MSM.見積区分 = 'A'
							AND		(
										SELECT  TOP 1 発注数 = MSM1.発注数-ISNULL(SRU.仕入数量,0)
										FROM TD見積シートM AS MSM1
											--2013/11/09 ADD↓
											LEFT JOIN (
														SELECT	見積明細連番,
																仕入数量 = SUM(仕入数量)
															FROM	TD仕入明細内訳
															GROUP BY 見積明細連番
													) AS SRU
												ON MSM1.見積明細連番 = SRU.見積明細連番
											--2013/11/09 ADD↑
										WHERE	MSM1.見積番号 = MSM.見積番号
--											AND 	MSM1.見積区分 = ''
											AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 >= MSM.行番号
										ORDER BY MSM1.行番号 ASC
									--) > 0		--2003/11/01
									) <> 0			--2013/11/11 ADD 返品が出ないので<> 
						UNION ALL
						----------------------------------------------------------------				--2004/07/06
						--附属部材以外で
						--コメントCSのもの
						----------------------------------------------------------------
						SELECT	MH.見積番号, MSM.行番号 AS 項目,
								MSM.仕入先CD, MSM.配送先CD,
								MSM.見積明細連番,
								MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
								MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
								--MSM.U区分,--2019/08/10 ADD
								MSM.単位名, MSM.仕入単価, 
								MSM.売上単価,--2024/03/20 ADD
								MSM.作業区分CD,	--2024/06/11 ADD
								MSM.定価, MSM.製品区分, MSM.見積区分, 
								(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.仕入税区分,0) WHEN 3 THEN ISNULL(PC.仕入税区分,0) ELSE 0 END) AS 仕入税区分,
								MSM.発注数
							FROM TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							--INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
							LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
							LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
							WHERE	MH.見積番号 = @i見積番号
							AND	(MSM.見積区分 = 'C'
								OR	MSM.見積区分 = 'S')
							AND		(
										SELECT  TOP 1 発注数 = MSM1.発注数-ISNULL(SRU.仕入数量,0)
										FROM TD見積シートM AS MSM1
											--2013/11/09 ADD↓
											LEFT JOIN (
														SELECT	見積明細連番,
																仕入数量 = SUM(仕入数量)
															FROM	TD仕入明細内訳
															GROUP BY 見積明細連番
													) AS SRU
												ON MSM1.見積明細連番 = SRU.見積明細連番
											--2013/11/09 ADD↑
										WHERE	MSM1.見積番号 = MSM.見積番号
--											AND 	MSM1.見積区分 = ''
											AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 <= MSM.行番号
										ORDER BY MSM1.行番号 DESC
									--) > 0		--2003/11/01
									) <> 0			--2003/12/08

						) AS D
						LEFT JOIN TM仕入先 AS SI
							ON D.仕入先CD = SI.仕入先CD
						LEFT JOIN (
									SELECT	見積明細連番,
											仕入数量 = SUM(仕入数量)
										FROM	TD仕入明細内訳
										GROUP BY 見積明細連番
								) AS SRU
							ON D.見積明細連番 = SRU.見積明細連番
						--WHERE	((D.発注数-ISNULL(SRU.仕入数量,0)) > 0 OR D.見積区分 IN ('A','C','S'))
							--AND	D.仕入先CD = COALESCE(@i仕入先CD,D.仕入先CD)
						--2017/03/28 ADD↓
						LEFT JOIN TD見積シートM AS MSM
							ON D.見積明細連番 = MSM.見積明細連番
						--2017/03/28 ADD↑
						WHERE	D.仕入先CD = COALESCE(@i仕入先CD,D.仕入先CD)
							AND D.配送先CD = @i配送先CD
					) AS SYUUKEI
					--ORDER BY 	D.配送先CD,  仕入明細行番号

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

			--2017/06/21 ADD↓
			------------------------------------------------------
			--仕入先9999のデータは金額関係をZEROに書き換える。
			--仕入金額・消費税額・内税額
			------------------------------------------------------
			UPDATE #TBL
					SET 仕入単価 = 0,
						仕入金額 = 0,
						消費税額 = 0,
						内税額 = 0
				WHERE	仕入先CD = '9999'

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			--2017/06/21 ADD↑

 			--2017/06/21 ADD↓
			------------------------------------------------------
			--結果を出力
			------------------------------------------------------
			SELECT *
				FROM #TBL
				ORDER BY 	配送先CD,  仕入明細行番号
			--2017/06/21 ADD↑
  
 	END


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
