/****** Object:  StoredProcedure [dbo].[usp_MT0100UPD見積]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0100UPD見積]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0100UPD見積]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_MT0100UPD見積

	機能:	
		見積情報および、員数情報を登録する。
		
 =============================================
	2003/07/28	oosawa
	2003/07/28	kawamura	製品区分追加
	2003/08/05	oosawa	PCマスタの更新を追加
					得意先マスタの更新を追加
	2003/10/29	oosawa	見積区分追加
	2004/11/20	oosawa	見積区分A・Sの追加
	2005/07/04	oosawa	得意先別見積番号の追加
	2005/10/14	kawamura	U区分の追加
	2009/08/13	oosawa	売上納期の追加
	2009/09/26	oosawa	見積区分の追加
	2010/05/12	oosawa	率がSMALLINTになっているのをMONEYに変更
	2011/11/29	oosawa	UPDATE時エラー内容が抜けていた
	2012/10/26	oosawa	TD見積の初期更新日・登録変更日に時刻を入れるように変更
	2013/03/08	oosawa	部署CD・社内伝用得意先項目追加
	2013/03/08	oosawa		ローカル一時テーブルに変更
	2013/07/10	oosawa		見積区分 = ''を
							見積区分 IN ('','1','2','3','4','5','6','7','8','9')に変更
	2013/07/19	oosawa		「社内伝票扱い」を追加
	2014/09/09	oosawa		「発注調整数」追加
	2015/02/04	oosawa		「他社伝票番号」追加
							「伝票種類」追加
	2015/06/12	oosawa		ウエルシア系の項目追加
	2015/07/10	oosawa		物件番号の追加
	2015/09/29	oosawa		他社納品日付を追加
	2015/10/16	oosawa		YM関係の項目追加
	2015/11/03	oosawa		Wel化粧品メーカー区分の追加（在庫管理しない）
	2015/11/19	oosawa		SM内容区分追加（しまむら内の分割　0:なし 1:ﾃﾞｨﾊﾞﾛ 2:台湾しまむら 3:システム開発）
	2016/04/09	oosawa		クレーム区分の追加
	2016/06/22	oosawa		クレーム明細区分（1:クレーム）
							作業区分CD（1:施工 2:コール 3:内装）を追加
	2017/05/14	oosawa		仕入業者CD追加
	
	2018/04/13	oosawa		保存したデータを返して再表示されるように変更
	2018/05/03	oosawa		入出庫日、明細備考を追加
	2018/06/19	oosawa		コメント行の書き換え防止にロックをかけられるように
							仕入済CNTを新設
	2018/09/23	oosawa		ログを追加
	2019/11/12	oosawa		3150のとき入出庫日に納期Sをセットする
	2019/12/12	oosawa		営業推進部CD追加
	2020/04/11	oosawa		TD見積_経過の処理を追加
	2020/09/19	oosawa		入出庫日を入庫日・出庫日に分割
	2021/02/25	oosawa		統計用集計CD追加
	2022/08/08	oosawa		工事担当CD追加
	2022/10/10	oosawa		ベルク用区分追加
	2022/12/06	oosawa		作業区分CDが3:内装の場合、0にする
	2023/04/18	oosawa		業種区分0：什器 1：内装　の追加
	2023/05/10	oosawa		UpdateCheckにて抜けが生じるので、こちらにも売価金額変更確認を追加
	2024/01/16	oosawa		統合見積番号（発注書印字用）追加
	2024/03/05	oosawa		22/12/06の処理削除
=============================================*/
CREATE	PROCEDURE	[dbo].[usp_MT0100UPD見積]
	(
	@i見積番号		INT,
	@i担当者CD		SMALLINT,
	@i見積日付		DATETIME,
	@i見積件名		VARCHAR (80),
	@i得意先CD		VARCHAR (4),
	@i得意先名1		VARCHAR (28),
	@i得意先名2		VARCHAR (28),
	@i得TEL		VARCHAR (15),
	@i得FAX		VARCHAR (15),
	@i得意先担当者	VARCHAR (40),
	@i納入得意先CD	VARCHAR (4),
	@i納入先CD		VARCHAR (4),
	@i納入先名1		VARCHAR (28),
	@i納入先名2		VARCHAR (28),
	@i郵便番号		VARCHAR (8),
	@i住所1		VARCHAR (32),
	@i住所2		VARCHAR (32),
	@i納TEL		VARCHAR (15),
	@i納FAX		VARCHAR (15),
	@i納入先担当者	VARCHAR (40),
	@i納期S		DATETIME,
	@i納期E		DATETIME,
	@i備考			VARCHAR (60),
	@i物件規模金額	MONEY,
	@iオープン日		DATETIME,
	@i物件種別		SMALLINT,
	@i現場名		VARCHAR (60),--2015/05/15 ADD
	@i支払条件		SMALLINT,
	@i支払条件その他	VARCHAR (30),
	@i納期表示		SMALLINT,
	@i納期その他		VARCHAR (30),
	@i見積日出力		SMALLINT,
	@i有効期限		SMALLINT,
	@i受注区分		SMALLINT,
	@i受注日付		DATETIME,
	@i大小口区分		SMALLINT,
	@i出精値引		MONEY,
	@i税集計区分		SMALLINT,
	@i売上端数		SMALLINT,
	@i消費税端数		SMALLINT,
	@i合計金額		MONEY,
	@i原価合計		MONEY,
	@i原価率		MONEY,
	@i外税額		MONEY,
	@CompName		VARCHAR(100),
	@i得意先別見積番号	INT,					--2005/07/04 ADD
	@i見積区分		SMALLINT,				--2009/09/26 ADD

	--2013/03/08 ADD↓
	@i部署CD			SMALLINT,
	@i販売先得意先CD	VARCHAR(4),
	@i販売先得意先名1	VARCHAR(28),
	@i販売先得意先名2	VARCHAR(28),
	@i販売先納得意先CD	VARCHAR(4),
	@i販売先納入先CD	VARCHAR(4),
	@i販売先納入先名1	VARCHAR(28),
	@i販売先納入先名2	VARCHAR(28),
	--2013/03/08 ADD↑
	--2013/07/19 ADD↓
	@i社内伝票扱い		SMALLINT,
	--2013/07/19 ADD↑
	
	@i伝票種類			SMALLINT,	--2015/02/04 ADD
	@iSM内容区分		SMALLINT,	--2015/11/19 ADD

	--2015/06/12 ADD↓
	@iウエルシア物件内容CD	INT,
	@iウエルシア物件内容名	VARCHAR(60),
	@iウエルシアリース区分	INT,
	@iウエルシア物件区分CD	INT,
	@iウエルシア売場面積	MONEY,
	--2015/06/12 ADD↑

	--2015/07/10 ADD↓
	@i物件番号				INT,
	--2015/07/10 ADD↑

	--2015/10/16 ADD↓
	@i受付日付				DATETIME,
	@i完工日付				DATETIME,
	@i発注担当者名			VARCHAR(40),
	@i作業内容				VARCHAR(40),
	@iYKサプライ区分		INT,
	@iYK物件区分			INT,
	@iYK請求区分			INT,
	--2015/10/16 ADD↑
	--2015/11/03 ADD↓
	@i化粧品メーカー区分	INT,
	--2015/11/03 ADD↑
	
	--2016/04/09 ADD↓
	@iクレーム区分			INT,
	--2016/04/09 ADD↑
	
	--2019/12/12 ADD↓
	--@i営業推進部CD			SMALLINT,
	--2019/12/12 ADD↑
	
	--2020/04/11 ADD↓
	@i見積確定区分			INT,
	@i完了日付				DATETIME,
	@i完了者名				VARCHAR(20),
	@i入力USERID			VARCHAR(60),
	@i請求予定日			DATETIME,
	@i経過備考1				VARCHAR(100),
	@i経過備考2				VARCHAR(100),
	--2020/04/11 ADD↑
	@i集計CD				VARCHAR(10),--2021/02/25 ADD
	@i工事担当CD			INT,--2022/08/08 ADD

	@iB請求管轄区分			INT,--2022/10/10 ADD
	@iBtoB番号				INT,--2022/10/10 ADD

	@i業種区分				INT,--2023/04/08 ADD

	--2024/01/16 ADD↓
	@i統合見積番号			INT,
	--2024/01/16 ADD↑

	
	@RetMNO 		INT			OUTPUT,
	@RetTNO		INT			OUTPUT,	--2005/07/04 ADD
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS

	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@ROWS見積	INT

	--旧見積の受注区分
	DECLARE	@w受注区分		SMALLINT

	--見積番号取得用変数
--	DECLARE	@w見積番号		INT

	--見積シートＭのカーソル
--	DECLARE	@csr			CURSOR

	--見積シートＭ用カーソル変数
	DECLARE	@c見積明細連番 INT ,
			@c見積番号 	INT ,
			--@cシート番号 INT ,
			@c行番号 	INT ,
			@c追番 	INT ,
			@c展開CHK 	SMALLINT,
			@c見積区分 	VARCHAR (1),		--2003/10/29	ADD
			@cクレーム明細区分	INT,			--2016/06/22 ADD
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c追番R		VARCHAR (1),--2019/12/12 ADD
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c他社納品日付	DATETIME,		--2015/09/29 ADD
			@c他社伝票番号	VARCHAR(10),	--2015/02/04 ADD
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@c明細備考	VARCHAR (255),--2018/05/03 ADD
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
-- 			@c仕入率	SMALLINT,		--2010/05/12 DEL
			@c仕入率	MONEY,		--2010/05/12 ADD
			@c売上単価 	MONEY,
-- 			@c売上率	SMALLINT,		--2010/05/12 DEL
			@c売上率	MONEY,		--2010/05/12 ADD
			@cU区分 	VARCHAR (1),		--2005/10/14 ADD
			@cM区分 	VARCHAR (1),
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c売上金額 	MONEY,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			--2017/05/14 ADD↓
			@c仕入業者CD 	VARCHAR (4),
			@c仕入業者名 	VARCHAR (8),
			--2017/05/14 ADD↑
			@c仕入先CD 	VARCHAR (4),
			@c仕入先名 	VARCHAR (8),
			@c作業区分CD	INT,	--2016/06/22 ADD
			@c配送先CD 	VARCHAR (4),
			@c配送先名	VARCHAR (8),
			--@c入出庫日	DATETIME,--2018/05/03 ADD
			@c入庫日	DATETIME,--2020/09/19 ADD
			@c出庫日	DATETIME,--2020/09/19 ADD
			@c社内在庫数 MONEY,
			@c客先在庫数 MONEY,
			@c転用数 	MONEY,
			@c発注数	MONEY,
			@c発注調整数	MONEY,--2014/09/09 ADD
			@c総数量 	MONEY,
			@c製品区分 	SMALLINT,
			@c仕分数1 	MONEY,
			@c仕分数2 	MONEY,
			@c仕分数3 	MONEY,
			@c仕分数4 	MONEY,
			@c仕分数5 	MONEY,
			@c仕分数6 	MONEY,
			@c仕分数7 	MONEY,
			@c仕分数8 	MONEY,
			@c仕分数9 	MONEY,
			@c仕分数10 	MONEY,
			@c仕分数11	MONEY,
			@c仕分数12 	MONEY,
			@c仕分数13 	MONEY,
			@c仕分数14 	MONEY,
			@c仕分数15 	MONEY,
			@c仕分数16 	MONEY,
			@c仕分数17 	MONEY,
			@c仕分数18 	MONEY,
			@c仕分数19 	MONEY,
			@c仕分数20 	MONEY,
			@c仕分数21 	MONEY,
			@c仕分数22 	MONEY,
			@c仕分数23 	MONEY,
			@c仕分数24 	MONEY,
			@c仕分数25 	MONEY,
			@c仕分数26 	MONEY,
			@c仕分数27 	MONEY,
			@c仕分数28 	MONEY,
			@c仕分数29 	MONEY,
			@c仕分数30 	MONEY

	--カウント用
	DECLARE	@i	INT

	--仕分数割り振り用
	DECLARE	@仕分数	MONEY

	--在庫チェック時のエラー変数
	DECLARE	/*@o社内在庫引当済F	SMALLINT,*/
			@oエラー内容		VARCHAR(256)

	--見積区分追加に伴い項目をホールドする
	DECLARE	@h仕入先CD	VARCHAR(4),
			@h仕入先名 	VARCHAR (8),
			@h配送先CD	VARCHAR(4),
			@h配送先名	VARCHAR (8)

	--得意先別見積番号用変数
	DECLARE	@w得意先別見積番号	INT,
			@w得意先CD	VARCHAR(4)

	-- トランザクションを開始します
--	BEGIN TRAN

	--2023/05/10 ADD↓
	--UpdateCheck時単価取得での単価変更をチェック

	--------------------------------------------------
	--旧見積の受注区分
	--------------------------------------------------
	DECLARE	@Q受注区分	SMALLINT,
			@Q合計金額	MONEY--2020/06/18 ADD
	--旧情報　見積確定区分
	DECLARE	@Q見積確定区分	SMALLINT
	--------------------------------------------------
	--旧受注区分の取得
	--------------------------------------------------
	SELECT	@Q受注区分 = 受注区分,
			@Q合計金額 = 合計金額--2020/06/18 ADD
		FROM TD見積 (NOLOCK)
		WHERE 見積番号 = @i見積番号

	--------------------------------------------------
	--旧見積確定区分の取得
	--------------------------------------------------
	SELECT	@Q見積確定区分 = 見積確定区分
		FROM TD見積_経過 (NOLOCK)
		WHERE 見積番号 = @i見積番号

	IF (@i見積確定区分 = 1) AND (@Q見積確定区分 = 1) BEGIN 
		IF NOT(@i合計金額 = @Q合計金額) BEGIN
			SET	@ST	= -1
			SET	@MSG	= '売価金額確定済です。'
			GOTO	EXIT_SP
		END
	END

	--2023/05/10 ADD↑


	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@w受注区分 = 0
--	SET	@wエラー内容 = ''

	--------------------------------------------------
	--見積ヘッダー部を登録します。
	--------------------------------------------------
	IF NOT EXISTS (SELECT 見積番号 FROM TD見積 WHERE 見積番号 = @i見積番号 ) BEGIN
		--存在しない場合
		--受注区分が確定・仮の場合でも明細がないので在庫の更新はしない

		--見積番号を取得します
		EXEC	@ST = usp_GetCounter '見積番号', '', @i見積番号 OUTPUT
		--EXEC	@ST = usp_GetCounter '見積番号', '', @w見積番号 OUTPUT

		--PRINT '見積番号:' + CONVERT(VARCHAR(7),@w見積番号)

		IF(@ST<>0) GOTO EXIT_SP

		--得意先別見積番号を取得します	2005/07/04 ADD
		EXEC	@ST = usp_GetCounter '見積番号', @i得意先CD, @i得意先別見積番号 OUTPUT
		IF(@ST<>0) GOTO EXIT_SP

		INSERT	TD見積
			(
				見積番号, 担当者CD, 見積日付, 見積件名, 
				得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者, 
				納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者, 
				納期S, 納期E, 備考, オープン日, 
				物件種別, 現場名, 支払条件, 支払条件その他, 納期表示, 納期その他, 
				見積日出力, 有効期限, 受注区分, 受注日付, 大小口区分, 出精値引,
				税集計区分, 売上端数, 消費税端数, 合計金額, 原価合計, 原価率, 外税額,
				初期登録日,登録変更日,
				得意先別見積番号,					--2005/07/04 ADD
				売上納期,						--2009/08/13 ADD
				見積区分,						--2009/09/26 ADD
				--2013/03/08 ADD↓
				部署CD,
				販売先得意先CD,
				販売先得意先名1,
				販売先得意先名2,
				販売先納得意先CD,
				販売先納入先CD,
				販売先納入先名1,
				販売先納入先名2
				--2013/03/08 ADD↑
				--2013/07/19 ADD↓
				,社内伝票扱い
				--2013/07/19 ADD↑
				,伝票種類	--2015/02/04 ADD
				,SM内容区分	--2015/11/19 ADD
				--2015/06/12 ADD↓
				,ウエルシア物件内容CD,
				ウエルシア物件内容名,
				ウエルシアリース区分,
				ウエルシア物件区分CD,
				ウエルシア売場面積
				--2015/06/12 ADD↑
				--2015/07/10 ADD↓
				,物件番号
				--2015/07/10 ADD↑
				--2015/10/16 ADD↓
				,受付日付
				,完工日付
				,発注担当者名
				,作業内容
				,YKサプライ区分
				,YK物件区分
				,YK請求区分
				--2015/10/16 ADD↑
				--2015/11/03 ADD↓
				,化粧品メーカー区分
				--2015/11/03 ADD↑
				--2016/06/09 ADD↓
				,クレーム区分
				--2016/06/09 ADD↑
				--,営業推進部CD--2019/12/12 ADD--2022/08/08 DEL
				,集計CD--2021/02/25 ADD
				,工事担当CD--2022/08/08 ADD
				,B請求管轄区分--2022/10/10 ADD
				,BtoB番号--2022/10/10 ADD
				,業種区分--2023/04/18 ADD
				,統合見積番号--2024/01/16 ADD

			)
			VALUES
			(
				@i見積番号, @i担当者CD, @i見積日付, @i見積件名, 
				@i得意先CD, @i得意先名1, @i得意先名2, @i得TEL, @i得FAX, @i得意先担当者, 
				@i納入得意先CD, @i納入先CD, @i納入先名1, @i納入先名2, @i郵便番号, @i住所1, @i住所2, @i納TEL, @i納FAX, @i納入先担当者, 
				@i納期S, @i納期E, @i備考, @iオープン日, 
				@i物件種別, @i現場名, @i支払条件, @i支払条件その他, @i納期表示, @i納期その他, 
				@i見積日出力, @i有効期限, @i受注区分, @i受注日付, @i大小口区分, @i出精値引,
				@i税集計区分, @i売上端数, @i消費税端数, @i合計金額, @i原価合計, @i原価率, @i外税額,
				--CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111),--2012/10/26 DEL
				GETDATE(),GETDATE(),--2012/10/26 ADD
				@i得意先別見積番号,						--2005/07/04 ADD
				@i納期S,							--2009/08/13 ADD
				@i見積区分,							--2009/09/26 ADD
				--2013/03/08 ADD↓
				@i部署CD,
				@i販売先得意先CD,
				@i販売先得意先名1,
				@i販売先得意先名2,
				@i販売先納得意先CD,
				@i販売先納入先CD,
				@i販売先納入先名1,
				@i販売先納入先名2
				--2013/03/08 ADD↑
				--2013/07/19 ADD↓
				,@i社内伝票扱い
				--2013/07/19 ADD↑
				,@i伝票種類--2015/02/04 ADD
				,@iSM内容区分	--2015/11/19 ADD
				--2015/06/12 ADD↓
				,@iウエルシア物件内容CD,
				@iウエルシア物件内容名,
				@iウエルシアリース区分,
				@iウエルシア物件区分CD,
				@iウエルシア売場面積
				--2015/06/12 ADD↑
				--2015/07/10 ADD↓
				,@i物件番号
				--2015/07/10 ADD↑
				--2015/10/16 ADD↓
				,@i受付日付
				--,@i完工日付
				,COALESCE(@i完工日付,@i完了日付)--2021/07/28 ADD
				,@i発注担当者名
				,@i作業内容
				,@iYKサプライ区分
				,@iYK物件区分
				,@iYK請求区分
				--2015/10/16 ADD↑
				--2015/11/03 ADD↓
				,@i化粧品メーカー区分
				--2015/11/03 ADD↑
				--2016/06/09 ADD↓
				,@iクレーム区分
				--2016/06/09 ADD↑
				--,@i営業推進部CD--2019/12/12 ADD
				,@i集計CD--2021/02/25 ADD
				,@i工事担当CD--2022/08/08 ADD
				,@iB請求管轄区分--2022/10/10 ADD
				,@iBtoB番号--2022/10/10 ADD
				,@i業種区分--2023/04/18 ADD
				,@i統合見積番号--2024/01/16 ADD
			)	

	END ELSE BEGIN
		--存在する場合

		--旧受注区分の取得
		SELECT @w受注区分 = 受注区分,
				@w得意先CD = 得意先CD				--2005/07/04 ADD
			FROM TD見積
			WHERE 見積番号 = @i見積番号

		IF @i得意先CD <> @w得意先CD BEGIN 				--2005/07/04 ADD
			--得意先別見積番号を取得します
			EXEC	@ST = usp_GetCounter '見積番号', @i得意先CD, @i得意先別見積番号 OUTPUT
			IF(@ST<>0) GOTO EXIT_SP
		END

		UPDATE 	TD見積
			SET	見積番号	=	@i見積番号,
				担当者CD	=	@i担当者CD,
				見積日付	=	@i見積日付,
				見積件名	=	@i見積件名,
				得意先CD	=	@i得意先CD,
				得意先名1	=	@i得意先名1,
				得意先名2	=	@i得意先名2,
				得TEL		=	@i得TEL,
				得FAX		=	@i得FAX,
				得意先担当者	=	@i得意先担当者,
				納入得意先CD	=	@i納入得意先CD,
				納入先CD	=	@i納入先CD,
				納入先名1	=	@i納入先名1,
				納入先名2	=	@i納入先名2,
				郵便番号	=	@i郵便番号,
				住所1		=	@i住所1,
				住所2		=	@i住所2,
				納TEL		=	@i納TEL,
				納FAX		=	@i納FAX,
				納入先担当者	=	@i納入先担当者,
				納期S		=	@i納期S,
				納期E		=	@i納期E,
				備考		=	@i備考,
				オープン日	=	@iオープン日,
				物件種別	=	@i物件種別,
				現場名		=	@i現場名,
				支払条件	=	@i支払条件,
				支払条件その他	=	@i支払条件その他,
				納期表示	=	@i納期表示,
				納期その他	=	@i納期その他,
				見積日出力	=	@i見積日出力,
				有効期限	=	@i有効期限,
				受注区分	=	@i受注区分,
				受注日付	=	@i受注日付,
				大小口区分	=	@i大小口区分,
				出精値引	=	@i出精値引,
				税集計区分	=	@i税集計区分,
				売上端数	=	@i売上端数,
				消費税端数	=	@i消費税端数,
				合計金額	=	@i合計金額,
				原価合計	=	@i原価合計,
				原価率		=	@i原価率,
				外税額		=	@i外税額,
				--登録変更日	=	CONVERT(CHAR(10),GETDATE(),111),--2012/10/26 DEL
				登録変更日	=	GETDATE(),--2012/10/26 ADD
				得意先別見積番号 = @i得意先別見積番号,					--2005/07/04 ADD
				売上納期	=	@i納期S,						--2009/08/13 ADD
				見積区分	=	@i見積区分,						--2009/09/26 ADD
				--2013/03/08 ADD↓
				部署CD			=	@i部署CD,
				販売先得意先CD	=	@i販売先得意先CD,
				販売先得意先名1	=	@i販売先得意先名1,
				販売先得意先名2	=	@i販売先得意先名2,
				販売先納得意先CD	=	@i販売先納得意先CD,
				販売先納入先CD	=	@i販売先納入先CD,
				販売先納入先名1	=	@i販売先納入先名1,
				販売先納入先名2	=	@i販売先納入先名2
				--2013/03/08 ADD↑
				--2013/07/19 ADD↓
				,社内伝票扱い	=	@i社内伝票扱い
				--2013/07/19 ADD↑
				,伝票種類		=	@i伝票種類--2015/02/04 ADD
				,SM内容区分		=	@iSM内容区分--2015/11/19 ADD
				
				--2015/06/12 ADD↓
				,ウエルシア物件内容CD = @iウエルシア物件内容CD,
				ウエルシア物件内容名 = @iウエルシア物件内容名,
				ウエルシアリース区分 = @iウエルシアリース区分,
				ウエルシア物件区分CD = @iウエルシア物件区分CD,
				ウエルシア売場面積 = @iウエルシア売場面積
				--2015/06/12 ADD↑
				--2015/07/10 ADD↓
				,物件番号 = @i物件番号
				--2015/07/10 ADD↑
				--2015/10/16 ADD↓
				,受付日付 = @i受付日付
				--,完工日付 = @i完工日付
				,完工日付 = COALESCE(@i完工日付,@i完了日付)--2021/07/28 ADD
				,発注担当者名 = @i発注担当者名
				,作業内容 = @i作業内容
				,YKサプライ区分 = @iYKサプライ区分
				,YK物件区分 = @iYK物件区分
				,YK請求区分 = @iYK請求区分
				--2015/10/16 ADD↑
				--2015/11/03 ADD↓
				,化粧品メーカー区分 = @i化粧品メーカー区分
				--2015/11/03 ADD↑
				--2016/06/09 ADD↓
				,クレーム区分 = @iクレーム区分
				--2016/06/09 ADD↑
				--,営業推進部CD = @i営業推進部CD--2022/08/08 DEL
				,集計CD = @i集計CD--2021/02/25 ADD
				,工事担当CD = @i工事担当CD--2022/08/08 ADD
				,B請求管轄区分 = @iB請求管轄区分--2022/10/10 ADD
				,BtoB番号 = @iBtoB番号--2022/10/10 ADD
				,業種区分 = @i業種区分--2023/04/18 ADD
				,統合見積番号 = @i統合見積番号--2024/01/16 ADD


			WHERE 	見積番号	=	@i見積番号
	END

	--2020/04/11 ADD↓
	--------------------------------------------------
	--見積経過情報を登録します。
	--------------------------------------------------
	IF NOT EXISTS (SELECT 見積番号 FROM TD見積_経過 WHERE 見積番号 = @i見積番号 ) BEGIN

		INSERT TD見積_経過
			(
				見積番号
				,見積確定区分
				,発注書発行日付
				,完了日付
				,完了者名
				,入力USERID
				,請求予定日
				,経過備考1
				,経過備考2
				,初期登録日
				,登録変更日
			)
			VALUES
			(
				@i見積番号
				,@i見積確定区分
				,NULL--@i発注書発行日付
				,@i完了日付
				,@i完了者名
				,@i入力USERID
				,@i請求予定日
				,@i経過備考1
				,@i経過備考2
				,GETDATE()
				,GETDATE()
			)
	END ELSE BEGIN
		--存在する場合
		UPDATE 	TD見積_経過
			SET	--見積番号		=	@i見積番号,
				見積確定区分	=	@i見積確定区分,
				--発注書発行日付	=	@i発注書発行日付,
				完了日付		=	@i完了日付,
				完了者名		=	@i完了者名,
				入力USERID		=	@i入力USERID,
				請求予定日		=	@i請求予定日,
				経過備考1		=	@i経過備考1,
				経過備考2		=	@i経過備考2,
				登録変更日		=	GETDATE()
			WHERE 	見積番号	=	@i見積番号
	END
	--2020/04/11 ADD↑

	--------------------------------------------------
	--見積明細部を登録します。
	--------------------------------------------------
	--ログ　2018/09/23 ADD↓
	BEGIN
		--UPDATE
		INSERT INTO	LOG見積シートM
					(LoginName,
					更新日付,更新区分,
					見積明細連番, 見積番号, 行番号, 
					SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
					W, D, H, D1, D2, H1, H2, 
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率,
					U区分, M区分, 仕入金額, 売上金額, 売上税区分, 消費税額, 
					仕入先CD, 仕入先名, 配送先CD, 配送先名, 
					社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 
					製品区分, --初期登録日, 登録変更日,
					見積区分, 発注調整数, 
					他社伝票番号, --施工対象見積番号,
					他社納品日付, 
					クレーム明細区分, 作業区分CD, 仕入業者CD, 仕入業者名, 
					--入出庫日, 
					入庫日,出庫日,--2020/09/19 ADD
					明細備考, 
					仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 
					仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
					仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 
					仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
					仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 
					仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30)

			SELECT	
					--(@iLoginName,
					@CompName,
					更新日付=GETDATE(),'U',
					SHIN.見積明細連番,SHIN.見積番号,SHIN.行番号,
					SHIN.SP区分,SHIN.PC区分,SHIN.製品NO,SHIN.仕様NO,SHIN.ベース色,SHIN.漢字名称,
					SHIN.W,SHIN.D,SHIN.H,SHIN.D1,SHIN.D2,SHIN.H1,SHIN.H2,
					SHIN.エラー内容,SHIN.見積数量,SHIN.単位名,SHIN.定価,SHIN.仕入単価,SHIN.仕入率,SHIN.売上単価,SHIN.売上率,
					SHIN.U区分,SHIN.M区分,SHIN.仕入金額,SHIN.売上金額,SHIN.売上税区分,SHIN.消費税額,
					SHIN.仕入先CD,SHIN.仕入先名,SHIN.配送先CD,SHIN.配送先名,
					SHIN.社内在庫数,SHIN.客先在庫数,SHIN.転用数,SHIN.発注数,SHIN.総数量,
					SHIN.製品区分,--SHIN.初期登録日,SHIN.登録変更日,
					SHIN.見積区分,SHIN.発注調整数,
					SHIN.他社伝票番号,--SHIN.施工対象見積番号,
					SHIN.他社納品日付,
					SHIN.クレーム明細区分,SHIN.作業区分CD,SHIN.仕入業者CD,SHIN.仕入業者名,
					--SHIN.入出庫日,
					SHIN.入庫日,SHIN.出庫日,--2020/09/19 ADD
					SHIN.明細備考,
					SHIN.仕分数1,SHIN.仕分数2,SHIN.仕分数3,SHIN.仕分数4,SHIN.仕分数5,
					SHIN.仕分数6,SHIN.仕分数7,SHIN.仕分数8,SHIN.仕分数9,SHIN.仕分数10,
					SHIN.仕分数11,SHIN.仕分数12,SHIN.仕分数13,SHIN.仕分数14,SHIN.仕分数15,
					SHIN.仕分数16,SHIN.仕分数17,SHIN.仕分数18,SHIN.仕分数19,SHIN.仕分数20,
					SHIN.仕分数21,SHIN.仕分数22,SHIN.仕分数23,SHIN.仕分数24,SHIN.仕分数25,
					SHIN.仕分数26,SHIN.仕分数27,SHIN.仕分数28,SHIN.仕分数29,SHIN.仕分数30
			  FROM [#Tmp見積明細] AS SHIN
				INNER JOIN VD見積シートM AS KYU
					ON SHIN.見積明細連番 = KYU.見積明細連番
				WHERE SHIN.見積番号 = @i見積番号
				AND (NOT(SHIN.見積区分  IN ('A','C','S'))
						--コメントでない場合
						AND NOT(
								SHIN.見積番号 = KYU.見積番号
							--AND	SHIN.行番号 = KYU.行番号--行挿入・削除での行変更はログしない
							AND	SHIN.SP区分 = KYU.SP区分
							AND	SHIN.PC区分 = KYU.PC区分 
							AND	SHIN.製品NO = KYU.製品NO 
							AND	SHIN.仕様NO = KYU.仕様NO 
							AND	SHIN.ベース色 = KYU.ベース色 
							AND	SHIN.漢字名称 = KYU.漢字名称 
							AND	SHIN.W = KYU.W 
							AND	SHIN.D = KYU.D 
							AND	SHIN.H = KYU.H 
							AND	SHIN.D1 = KYU.D1 
							AND	SHIN.D2 = KYU.D2 
							AND	SHIN.H1 = KYU.H1 
							AND	SHIN.H2 = KYU.H2 
							--AND	SHIN.エラー内容 = KYU.エラー内容 
							AND	SHIN.見積数量 = KYU.見積数量
							AND	SHIN.単位名 = KYU.単位名
							AND	SHIN.定価 = KYU.定価
							AND	SHIN.仕入単価 = KYU.仕入単価
							AND	SHIN.仕入率 = KYU.仕入率
							AND	SHIN.売上単価 = KYU.売上単価
							AND	SHIN.売上率 = KYU.売上率
							AND	SHIN.U区分 = KYU.U区分
							AND	SHIN.M区分 = KYU.M区分
							AND	SHIN.仕入金額 = KYU.仕入金額
							AND	SHIN.売上金額 = KYU.売上金額
							AND	SHIN.売上税区分 = KYU.売上税区分
							AND	SHIN.消費税額 = KYU.消費税額
							AND	SHIN.仕入先CD = KYU.仕入先CD
							AND	SHIN.配送先CD = KYU.配送先CD
							AND	SHIN.社内在庫数 = KYU.社内在庫数
							AND	SHIN.客先在庫数 = KYU.客先在庫数
							AND	SHIN.転用数 = KYU.転用数
							AND	SHIN.発注数 = KYU.発注数
							AND	SHIN.総数量 = KYU.総数量
							AND	SHIN.製品区分 = KYU.製品区分
							AND	SHIN.見積区分 = KYU.見積区分
							AND	SHIN.発注調整数 = KYU.発注調整数
							AND	SHIN.他社伝票番号 = KYU.他社伝票番号
							----AND	SHIN.施工対象見積番号 = KYU.施工対象見積番号
							AND	SHIN.他社納品日付 = KYU.他社納品日付
							AND	SHIN.クレーム明細区分 = KYU.クレーム明細区分
							AND	SHIN.作業区分CD = KYU.作業区分CD
							AND	SHIN.仕入業者CD = KYU.仕入業者CD
							--AND	SHIN.入出庫日 = KYU.入出庫日
							AND	SHIN.入庫日 = KYU.入庫日--2020/09/19 ADD
							AND	SHIN.出庫日 = KYU.出庫日--2020/09/19 ADD
							AND	SHIN.明細備考 = KYU.明細備考
							--)
							----コメント以外、仕入先のチェックをする
							--AND (NOT(SHIN.見積区分  IN ('A','C','S'))
							--		AND (SHIN.仕入先CD = KYU.仕入先CD
							--				AND	SHIN.配送先CD = KYU.配送先CD
							--				AND	SHIN.仕入業者CD = KYU.仕入業者CD
							--			)
							--	)
							)
					OR (SHIN.見積区分  IN ('A','C','S')
						--コメントの場合
						AND NOT(
								SHIN.見積番号 = KYU.見積番号
							--AND	SHIN.行番号 = KYU.行番号--行挿入・削除での行変更はログしない
							AND	SHIN.SP区分 = KYU.SP区分
							AND	SHIN.PC区分 = KYU.PC区分 
							AND	SHIN.製品NO = KYU.製品NO 
							AND	SHIN.仕様NO = KYU.仕様NO 
							AND	SHIN.ベース色 = KYU.ベース色 
							AND	SHIN.漢字名称 = KYU.漢字名称 
							AND	SHIN.W = KYU.W 
							AND	SHIN.D = KYU.D 
							AND	SHIN.H = KYU.H 
							AND	SHIN.D1 = KYU.D1 
							AND	SHIN.D2 = KYU.D2 
							AND	SHIN.H1 = KYU.H1 
							AND	SHIN.H2 = KYU.H2 
							--AND	SHIN.エラー内容 = KYU.エラー内容 
							AND	SHIN.見積数量 = KYU.見積数量
							AND	SHIN.単位名 = KYU.単位名
							AND	SHIN.定価 = KYU.定価
							AND	SHIN.仕入単価 = KYU.仕入単価
							AND	SHIN.仕入率 = KYU.仕入率
							AND	SHIN.売上単価 = KYU.売上単価
							AND	SHIN.売上率 = KYU.売上率
							AND	SHIN.U区分 = KYU.U区分
							AND	SHIN.M区分 = KYU.M区分
							AND	SHIN.仕入金額 = KYU.仕入金額
							AND	SHIN.売上金額 = KYU.売上金額
							AND	SHIN.売上税区分 = KYU.売上税区分
							AND	SHIN.消費税額 = KYU.消費税額
							--AND	SHIN.仕入先CD = KYU.仕入先CD
							--AND	SHIN.配送先CD = KYU.配送先CD
							AND	SHIN.社内在庫数 = KYU.社内在庫数
							AND	SHIN.客先在庫数 = KYU.客先在庫数
							AND	SHIN.転用数 = KYU.転用数
							AND	SHIN.発注数 = KYU.発注数
							AND	SHIN.総数量 = KYU.総数量
							AND	SHIN.製品区分 = KYU.製品区分
							AND	SHIN.見積区分 = KYU.見積区分
							AND	SHIN.発注調整数 = KYU.発注調整数
							AND	SHIN.他社伝票番号 = KYU.他社伝票番号
							----AND	SHIN.施工対象見積番号 = KYU.施工対象見積番号
							AND	SHIN.他社納品日付 = KYU.他社納品日付
							AND	SHIN.クレーム明細区分 = KYU.クレーム明細区分
							AND	SHIN.作業区分CD = KYU.作業区分CD
							--AND	SHIN.仕入業者CD = KYU.仕入業者CD
							--AND	SHIN.入出庫日 = KYU.入出庫日
							AND	SHIN.入庫日 = KYU.入庫日--2020/09/19 ADD
							AND	SHIN.出庫日 = KYU.出庫日--2020/09/19 ADD
							AND	SHIN.明細備考 = KYU.明細備考
							)
						)
				)
		--INSERT
		INSERT INTO	LOG見積シートM
					(LoginName,
					更新日付,更新区分,
					見積明細連番, 見積番号, 行番号, 
					SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
					W, D, H, D1, D2, H1, H2, 
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率,
					U区分, M区分, 仕入金額, 売上金額, 売上税区分, 消費税額, 
					仕入先CD, 仕入先名, 配送先CD, 配送先名, 
					社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 
					製品区分, --初期登録日, 登録変更日, 
					見積区分, 発注調整数, 
					他社伝票番号, --施工対象見積番号, 
					他社納品日付, 
					クレーム明細区分, 作業区分CD, 仕入業者CD, 仕入業者名,
					--入出庫日, 
					入庫日,出庫日,--2020/09/19 ADD
					明細備考, 
					仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 
					仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
					仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 
					仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
					仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 
					仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30)

			SELECT	
					--@iLoginName,
					@CompName,
					更新日付=GETDATE(),'I',
					--SHIN.見積明細連番,
					0,
					SHIN.見積番号,SHIN.行番号,
					SHIN.SP区分,SHIN.PC区分,SHIN.製品NO,SHIN.仕様NO,SHIN.ベース色,SHIN.漢字名称,
					SHIN.W,SHIN.D,SHIN.H,SHIN.D1,SHIN.D2,SHIN.H1,SHIN.H2,
					SHIN.エラー内容,SHIN.見積数量,SHIN.単位名,SHIN.定価,SHIN.仕入単価,SHIN.仕入率,SHIN.売上単価,SHIN.売上率,
					SHIN.U区分,SHIN.M区分,SHIN.仕入金額,SHIN.売上金額,SHIN.売上税区分,SHIN.消費税額,
					SHIN.仕入先CD,SHIN.仕入先名,SHIN.配送先CD,SHIN.配送先名,
					SHIN.社内在庫数,SHIN.客先在庫数,SHIN.転用数,SHIN.発注数,SHIN.総数量,
					SHIN.製品区分,--SHIN.初期登録日,SHIN.登録変更日,
					SHIN.見積区分,SHIN.発注調整数,
					SHIN.他社伝票番号,--SHIN.施工対象見積番号,
					SHIN.他社納品日付,
					SHIN.クレーム明細区分,SHIN.作業区分CD,SHIN.仕入業者CD,SHIN.仕入業者名,
					--SHIN.入出庫日,
					SHIN.入庫日,SHIN.出庫日,--2020/09/19 ADD
					SHIN.明細備考,
					SHIN.仕分数1,SHIN.仕分数2,SHIN.仕分数3,SHIN.仕分数4,SHIN.仕分数5,
					SHIN.仕分数6,SHIN.仕分数7,SHIN.仕分数8,SHIN.仕分数9,SHIN.仕分数10,
					SHIN.仕分数11,SHIN.仕分数12,SHIN.仕分数13,SHIN.仕分数14,SHIN.仕分数15,
					SHIN.仕分数16,SHIN.仕分数17,SHIN.仕分数18,SHIN.仕分数19,SHIN.仕分数20,
					SHIN.仕分数21,SHIN.仕分数22,SHIN.仕分数23,SHIN.仕分数24,SHIN.仕分数25,
					SHIN.仕分数26,SHIN.仕分数27,SHIN.仕分数28,SHIN.仕分数29,SHIN.仕分数30
			  FROM [#Tmp見積明細] AS SHIN
				LEFT JOIN VD見積シートM AS KYU
					ON SHIN.見積明細連番 = KYU.見積明細連番
				WHERE SHIN.見積番号 = @i見積番号
					AND KYU.見積明細連番 IS NULL

		--DELETE
		INSERT INTO	LOG見積シートM
					(LoginName,
					更新日付,更新区分,
					見積明細連番, 見積番号, 行番号, 
					SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
					W, D, H, D1, D2, H1, H2, 
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率,
					U区分, M区分, 仕入金額, 売上金額, 売上税区分, 消費税額, 
					仕入先CD, 仕入先名, 配送先CD, 配送先名, 
					社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 
					製品区分, --初期登録日, 登録変更日, 
					見積区分, 発注調整数, 
					他社伝票番号, --施工対象見積番号, 
					他社納品日付, 
					クレーム明細区分, 作業区分CD, 仕入業者CD, 仕入業者名, 
					--入出庫日, 
					入庫日,出庫日,--2020/09/19 ADD
					明細備考, 
					仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 
					仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
					仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 
					仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
					仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 
					仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30)
			SELECT	
					--@iLoginName,
					@CompName,
					更新日付=GETDATE(),'D',
					KYU.見積明細連番,KYU.見積番号,KYU.行番号,
					KYU.SP区分,KYU.PC区分,KYU.製品NO,KYU.仕様NO,KYU.ベース色,KYU.漢字名称,
					KYU.W,KYU.D,KYU.H,KYU.D1,KYU.D2,KYU.H1,KYU.H2,
					KYU.エラー内容,KYU.見積数量,KYU.単位名,KYU.定価,KYU.仕入単価,KYU.仕入率,KYU.売上単価,KYU.売上率,
					KYU.U区分,KYU.M区分,KYU.仕入金額,KYU.売上金額,KYU.売上税区分,KYU.消費税額,
					KYU.仕入先CD,KYU.仕入先名,KYU.配送先CD,KYU.配送先名,
					KYU.社内在庫数,KYU.客先在庫数,KYU.転用数,KYU.発注数,KYU.総数量,
					KYU.製品区分,--KYU.初期登録日,KYU.登録変更日,
					KYU.見積区分,KYU.発注調整数,
					KYU.他社伝票番号,--KYU.施工対象見積番号,
					KYU.他社納品日付,
					KYU.クレーム明細区分,KYU.作業区分CD,KYU.仕入業者CD,KYU.仕入業者名,
					--KYU.入出庫日,
					KYU.入庫日,KYU.出庫日,--2020/09/19 ADD
					KYU.明細備考,
					KYU.仕分数1,KYU.仕分数2,KYU.仕分数3,KYU.仕分数4,KYU.仕分数5,
					KYU.仕分数6,KYU.仕分数7,KYU.仕分数8,KYU.仕分数9,KYU.仕分数10,
					KYU.仕分数11,KYU.仕分数12,KYU.仕分数13,KYU.仕分数14,KYU.仕分数15,
					KYU.仕分数16,KYU.仕分数17,KYU.仕分数18,KYU.仕分数19,KYU.仕分数20,
					KYU.仕分数21,KYU.仕分数22,KYU.仕分数23,KYU.仕分数24,KYU.仕分数25,
					KYU.仕分数26,KYU.仕分数27,KYU.仕分数28,KYU.仕分数29,KYU.仕分数30
			  FROM VD見積シートM AS KYU
				LEFT JOIN [#Tmp見積明細] AS SHIN
					ON SHIN.見積明細連番 = KYU.見積明細連番
				WHERE KYU.見積番号 = @i見積番号
					AND SHIN.見積明細連番 IS NULL

	END--ログ	2018/09/23 ADD↑


	--------------------------------------------------
	--旧見積情報の在庫数をすべて元に戻します。
	--------------------------------------------------
	--PRINT '旧見積の在庫数の戻し'
----------	IF @i受注区分 <> @w受注区分	BEGIN		--前回と今回の受注区分が違う場合
--------		IF @w受注区分 = 1	BEGIN			--前回受注区分が確定の場合　旧情報より確定分の在庫をマイナスする
--------			EXEC @ST = usp_社内在庫_出荷予定Subtract @i見積番号, @ST OUTPUT,@MSG OUTPUT
--------			IF @ST<>0 GOTO	EXIT_SP
	
--------			EXEC @ST = usp_客先在庫_出荷予定Subtract @i見積番号, @ST OUTPUT,@MSG OUTPUT
--------			IF @ST<>0 GOTO	EXIT_SP
--------		END
----------	END
	--------------------------------------------------
	--ワークテーブルにないレコードを抽出し削除します。
	--------------------------------------------------
	--PRINT 'ワークテーブルにないレコードの削除'
	------見積内訳の削除
	----EXEC ('DELETE FROM TD見積シート内訳'
	----	+' WHERE 見積明細連番 IN (SELECT MS.見積明細連番'
	----						+' FROM TD見積シートM AS MS'
	----						+' LEFT JOIN [##Tmp見積明細_' + @CompName +'] AS TP'
	----						+' ON MS.見積明細連番 = TP.見積明細連番'
	----						+' WHERE 	MS.見積番号 = ' + @i見積番号 
	----						+' AND 	TP.見積明細連番 IS NULL)'
	----	)
	------見積シートの削除
	----EXEC ('DELETE FROM TD見積シートM'
	----	+' WHERE 見積明細連番 IN (SELECT MS.見積明細連番'
	----						+' FROM TD見積シートM AS MS'
	----						+' LEFT JOIN [##Tmp見積明細_' + @CompName +'] AS TP'
	----						+' ON MS.見積明細連番 = TP.見積明細連番'
	----						+' WHERE 	MS.見積番号 = ' + @i見積番号 
	----						+' AND 	TP.見積明細連番 IS NULL)'
	----	)
	--2013/03/08 ADD
	--見積内訳の削除
	DELETE FROM TD見積シート内訳
		WHERE 見積明細連番 IN (SELECT MS.見積明細連番
								FROM TD見積シートM AS MS
								LEFT JOIN [#Tmp見積明細] AS TP
								ON MS.見積明細連番 = TP.見積明細連番
								WHERE 	MS.見積番号 =  @i見積番号 
								AND 	TP.見積明細連番 IS NULL)

	--2013/03/08 ADD
	--見積シートの削除
	DELETE FROM TD見積シートM
		WHERE 見積明細連番 IN (SELECT MS.見積明細連番
								FROM TD見積シートM AS MS
								LEFT JOIN [#Tmp見積明細] AS TP
								ON MS.見積明細連番 = TP.見積明細連番
								WHERE 	MS.見積番号 =  @i見積番号 
								AND 	TP.見積明細連番 IS NULL)

	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------
	--PRINT 'カーソルOPEN'
	----EXEC ('DECLARE	csr見積明細		CURSOR	  FORWARD_ONLY FOR '
	----		+'SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK,見積区分,'
	----				+' SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),'
	----				+' 漢字名称, W, D, H, D1, D2, H1, H2,'
	----				+' エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,'
	----				+' 仕入金額, 売上金額, 売上税区分, 消費税額,'
	----				+' 仕入先CD, 仕入先名, 配送先CD, 配送先名,'
	----				+' 社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,'
	----				+'仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,'
	----				+'仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,'
	----				+'仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30'
	----			+' FROM	[##Tmp見積明細_' + @CompName + ']'
	----			+' ORDER BY	行番号'
	----	)
	--2013/03/08 ADD
	DECLARE	csr見積明細		CURSOR LOCAL FORWARD_ONLY FOR 
			SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK,見積区分,
					クレーム明細区分,--2016/06/22 ADD
					SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),
					漢字名称, W, D, H, D1, D2, H1, H2,
					他社納品日付,--2015/09/29 ADD
					他社伝票番号,--2015/02/04 ADD
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
					仕入金額, 売上金額, 売上税区分, 消費税額,
					仕入業者CD,  仕入業者名, --2017/05/14 ADD
					仕入先CD, 仕入先名,
					作業区分CD,--2016/06/22 ADD
--					作業区分CD=CASE WHEN 作業区分CD = 3 THEN 0 ELSE 作業区分CD END,--2022/12/06 ADD
					配送先CD, 配送先名,
					明細備考,
					--入出庫日,--2018/05/03 ADD
					入庫日,出庫日,--2020/09/19 ADD
					追番R,--2019/12/12 ADD
					社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,
					発注調整数,--2014/09/09 ADD
					仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,
					仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,
					仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30
				FROM	[#Tmp見積明細]
				ORDER BY	行番号


	OPEN	csr見積明細
	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS見積 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS見積 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END
	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
	WHILE	( 0 = 0 )	BEGIN
		--PRINT 'LOOP START'

		--ホールドクリア
-- 		SET 	@h仕入先CD	= '1'
-- 		SET	@h仕入先名	= '2'
-- 		SET	@h配送先CD	= '3'
-- 		SET	@h配送先名	= '4'
 
		--積算READ
		FETCH NEXT FROM csr見積明細
			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,@c展開CHK,
				@c見積区分,
				@cクレーム明細区分,--2016/06/22 ADD
				@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@c他社納品日付,--2015/09/29 ADD
				@c他社伝票番号,--2015/02/04 ADD
				@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入業者CD,@c仕入業者名, --2017/05/14 ADD
				@c仕入先CD,@c仕入先名,
				@c作業区分CD,--2016/06/22 ADD
				@c配送先CD,@c配送先名,
				@c明細備考,
				--@c入出庫日,--2018/05/03 ADD
				@c入庫日,@c出庫日,--2020/09/19 ADD
				@c追番R,--2019/12/12 ADD
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
				@c発注調整数,--2014/09/09 ADD
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30



		--PRINT 'FETCH--' + CONVERT(VARCHAR(10),@c見積明細連番) 
		SET @ST = @@ERROR
		IF ( @ST <> 0 )	GOTO	EXIT_SP
		IF ( @@FETCH_STATUS <> 0 ) BREAK

--2004/11/22	DEL
		--ホールド項目をホールドする。
-- 		IF @c見積区分 = 'C' BEGIN
-- 			SET 	@c仕入先CD	= @h仕入先CD
-- 			SET	@c仕入先名	= @h仕入先名
-- 			SET	@c配送先CD	= @h配送先CD
-- 			SET	@c配送先名	= @h配送先名
-- 		END 
-- 		ELSE BEGIN
-- 			SET 	@h仕入先CD	= @c仕入先CD
-- 			SET	@h仕入先名	= @c仕入先名
-- 			SET	@h配送先CD	= @c配送先CD
-- 			SET	@h配送先名	= @c配送先名
-- 		END

		--見積シートMを更新する。
		IF EXISTS (SELECT 見積明細連番 FROM TD見積シートM WHERE 見積明細連番 = @c見積明細連番 ) BEGIN
--------			-----<在庫数更新>-----
----------			IF @i受注区分 <> @w受注区分	BEGIN		--前回と今回の受注区分が違う場合
--------				IF @i受注区分 = 1	BEGIN			--今回受注区分が確定の場合　新情報より確定分の在庫をプラスする
--------					EXEC @ST = usp_社内在庫_出荷予定Add @cSP区分,@cPC区分,@c製品NO,@c仕様NO,@c社内在庫数, @c見積数量, @c発注数, @ST OUTPUT,@MSG OUTPUT
--------					IF @ST<>0 GOTO	EXIT_SP

--------					EXEC @ST = usp_客先在庫_出荷予定Add @i得意先CD, @cSP区分, @cPC区分, @c製品NO, @c仕様NO, @c客先在庫数, @ST OUTPUT , @MSG OUTPUT 
--------					IF @ST<>0 GOTO	EXIT_SP
--------				END
----------			END

			-----<更新>-----
			UPDATE 	TD見積シートM
				SET	行番号		=	@c行番号,
					見積区分	=	@c見積区分,
					クレーム明細区分 = @cクレーム明細区分,--2016/06/22 ADD
					SP区分	=	@cSP区分,
					PC区分	=	@cPC区分,
					製品NO	=	@c製品NO,
					仕様NO	=	@c仕様NO,
					ベース色	=	@cベース色,
					漢字名称	=	@c漢字名称,
					W		=	@cW,
					D		=	@cD,
					H		=	@cH,
					D1		=	@cD1,
					D2		=	@cD2,
					H1		=	@cH1,
					H2		=	@cH2,
					他社納品日付	=	@c他社納品日付,	--2015/09/29 ADD
					他社伝票番号	=	@c他社伝票番号,	--2015/02/04 ADD
					エラー内容	= 	@cエラー内容,	--2011/11/29 ADD
					見積数量	=	@c見積数量,
--					見積数量	=	@c総数量-@c転用数-@c客先在庫数,
					単位名		=	@c単位名,
					定価		=	@c定価,
					仕入単価	=	@c仕入単価,
					仕入率		=	@c仕入率,
					売上単価	=	@c売上単価,
					売上率		=	@c売上率,
					U区分		=	@cU区分,
					M区分		=	@cM区分,
					仕入金額	=	@c仕入金額,
					売上金額	=	@c売上金額,
					売上税区分	=	@c売上税区分,
					消費税額	=	@c消費税額,
					仕入業者CD	=	@c仕入業者CD,
					仕入業者名	=	@c仕入業者名,
					仕入先CD	=	@c仕入先CD,
					仕入先名	=	@c仕入先名,
					作業区分CD	=	@c作業区分CD,--2016/06/22 ADD
					配送先CD	=	@c配送先CD,
					配送先名	=	@c配送先名,
					明細備考	=	@c明細備考,--2018/05/03 ADD
					--入出庫日	=	@c入出庫日,--2018/05/03 ADD
					--入出庫日	=	CASE WHEN (@c仕入先CD = '3150' AND @c発注数 <> 0 
					--							AND @i納入先CD <> '0000' AND @c入出庫日 is NULL)
					--					THEN COALESCE(@c入出庫日,@i納期S)
					--					ELSE @c入出庫日 END,--2019/11/12 ADD
					入庫日	=	@c入庫日,--2020/09/19 ADD
					出庫日	=	CASE WHEN ((@c仕入先CD IN ('3150','9999')) AND @c発注数 <> 0 
												AND @i納入先CD <> '0000' AND @c出庫日 is NULL)
										THEN COALESCE(@c出庫日,@i納期S)
										ELSE @c出庫日 END,--2020/09/19 ADD
					追番R		=	@c追番R,--2019/12/12 ADD
					社内在庫数	=	@c社内在庫数,
					客先在庫数	=	@c客先在庫数,
					転用数		=	@c転用数,
					総数量		=	@c総数量,
					発注数		=	@c発注数,
					製品区分 	= 	@c製品区分,
					発注調整数	=	@c発注調整数,--2014/09/09 ADD
					登録変更日	=	CONVERT(CHAR(10),GETDATE(),111)
				WHERE 	見積明細連番	=	@c見積明細連番

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
			--シート内訳
			SET @i = 1
			WHILE (@i <= 30)		BEGIN
				--仕分数のセット
				IF @i = 1		SET @仕分数 = @c仕分数1
				ELSE IF @i = 2	SET @仕分数 = @c仕分数2
				ELSE IF @i = 3	SET @仕分数 = @c仕分数3
				ELSE IF @i = 4	SET @仕分数 = @c仕分数4
				ELSE IF @i = 5	SET @仕分数 = @c仕分数5
				ELSE IF @i = 6	SET @仕分数 = @c仕分数6
				ELSE IF @i = 7	SET @仕分数 = @c仕分数7
				ELSE IF @i = 8	SET @仕分数 = @c仕分数8
				ELSE IF @i = 9	SET @仕分数 = @c仕分数9
				ELSE IF @i = 10	SET @仕分数 = @c仕分数10
				ELSE IF @i = 11	SET @仕分数 = @c仕分数11
				ELSE IF @i = 12	SET @仕分数 = @c仕分数12
				ELSE IF @i = 13	SET @仕分数 = @c仕分数13
				ELSE IF @i = 14	SET @仕分数 = @c仕分数14
				ELSE IF @i = 15	SET @仕分数 = @c仕分数15
				ELSE IF @i = 16	SET @仕分数 = @c仕分数16
				ELSE IF @i = 17	SET @仕分数 = @c仕分数17
				ELSE IF @i = 18	SET @仕分数 = @c仕分数18
				ELSE IF @i = 19	SET @仕分数 = @c仕分数19
				ELSE IF @i = 20	SET @仕分数 = @c仕分数20
				ELSE IF @i = 21	SET @仕分数 = @c仕分数21
				ELSE IF @i = 22	SET @仕分数 = @c仕分数22
				ELSE IF @i = 23	SET @仕分数 = @c仕分数23
				ELSE IF @i = 24	SET @仕分数 = @c仕分数24
				ELSE IF @i = 25	SET @仕分数 = @c仕分数25
				ELSE IF @i = 26	SET @仕分数 = @c仕分数26
				ELSE IF @i = 27	SET @仕分数 = @c仕分数27
				ELSE IF @i = 28	SET @仕分数 = @c仕分数28
				ELSE IF @i = 29	SET @仕分数 = @c仕分数29
				ELSE IF @i = 30	SET @仕分数 = @c仕分数30

				--見積シート内訳更新
				EXEC SP_EXECUTESQL N'UPDATE	TD見積シート内訳
								SET	行番号		=	@e行番号,
									数量		=	@e仕分数
								WHERE 	見積明細連番	=	@e見積明細連番
								AND		仕分番号 = @e',
							N'@e行番号 INT,@e仕分数 MONEY,@e見積明細連番 INT,@e INT',
							@e行番号 = @c行番号,
							@e仕分数 = @仕分数,
							@e見積明細連番 = @c見積明細連番,
							@e = @i
	
				SET @i = @i + 1
			END
	
		END ELSE BEGIN
			-----------<在庫数更新>-----
			------IF @i受注区分 = 1	BEGIN			--今回受注区分が確定の場合　新情報より確定分の在庫をプラスする
			------	EXEC @ST = usp_社内在庫_出荷予定Add @cSP区分,@cPC区分,@c製品NO,@c仕様NO,@c社内在庫数, @c見積数量, @c発注数, @ST OUTPUT,@MSG OUTPUT
			------	IF @ST<>0 GOTO	EXIT_SP
			------	EXEC @ST = usp_客先在庫_出荷予定Add @i得意先CD, @cSP区分, @cPC区分, @c製品NO, @c仕様NO, @c客先在庫数, @ST OUTPUT , @MSG OUTPUT 
			------	IF @ST<>0 GOTO	EXIT_SP
			------END
	
			-----<新規>-----
			INSERT	TD見積シートM
			(
				見積番号, 行番号, 見積区分,
				クレーム明細区分,--2016/06/22 ADD
				SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
				他社納品日付,--2015/09/29 ADD
				他社伝票番号,--2015/02/04 ADD
				W, D, H, D1, D2, H1, H2,
				エラー内容, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
				見積数量, 単位名, 仕入金額, 売上金額, 売上税区分, 消費税額,
				仕入業者CD,仕入業者名, --2017/05/14 ADD
				仕入先CD,仕入先名 ,
				作業区分CD,--2016/06/22 ADD
				配送先CD, 配送先名,
				明細備考,
				--入出庫日,--2018/05/03 ADD
				入庫日,出庫日,--2020/09/19 ADD
				追番R,--2019/12/12 ADD
				社内在庫数, 客先在庫数, 転用数, 総数量,発注数,製品区分,
				発注調整数,--2014/09/09 ADD
				初期登録日,登録変更日
	
			)
			VALUES
			(
				@i見積番号, @c行番号, @c見積区分,
				@cクレーム明細区分,--2016/06/22 ADD
				@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@c他社納品日付,--2015/09/29 ADD
				@c他社伝票番号,--2015/02/04 ADD
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c見積数量,@c単位名,@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入業者CD,@c仕入業者名, --2017/05/14 ADD
				@c仕入先CD,@c仕入先名,
				@c作業区分CD,--2016/06/22 ADD
				@c配送先CD,@c配送先名,
				@c明細備考,
				--@c入出庫日,--2018/05/03 ADD
				--CASE WHEN (@c仕入先CD = '3150' AND @c発注数 <> 0 
				--					AND @i納入先CD <> '0000' AND @c入出庫日 is NULL)
				--						THEN COALESCE(@c入出庫日,@i納期S)
				--						ELSE @c入出庫日 END,--2019/11/12 ADD
				@c入庫日,--2020/09/19 ADD
				CASE WHEN ((@c仕入先CD IN ('3150','9999')) AND @c発注数 <> 0 
									AND @i納入先CD <> '0000' AND @c出庫日 is NULL)
										THEN COALESCE(@c出庫日,@i納期S)
										ELSE @c出庫日 END,--2019/11/12 ADD
				@c追番R,--2019/12/12 ADD
				@c社内在庫数,@c客先在庫数,@c転用数,@c総数量,@c発注数,@c製品区分,
				@c発注調整数,--2014/09/09 ADD
				CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111)
			)

			SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP
			--PRINT '5'
			-----<シート内訳新規>------
			SET @c見積明細連番 = IDENT_CURRENT('TD見積シートM')
	
			SET @i = 1

			WHILE (@i <= 30)		BEGIN
--				PRINT '@i'
--				PRINT '@i' + CONVERT(VARCHAR(2),@i)
				--仕分数のセット
				IF @i = 1		SET @仕分数 = @c仕分数1
				ELSE IF @i = 2	SET @仕分数 = @c仕分数2
				ELSE IF @i = 3	SET @仕分数 = @c仕分数3
				ELSE IF @i = 4	SET @仕分数 = @c仕分数4
				ELSE IF @i = 5	SET @仕分数 = @c仕分数5
				ELSE IF @i = 6	SET @仕分数 = @c仕分数6
				ELSE IF @i = 7	SET @仕分数 = @c仕分数7
				ELSE IF @i = 8	SET @仕分数 = @c仕分数8
				ELSE IF @i = 9	SET @仕分数 = @c仕分数9
				ELSE IF @i = 10	SET @仕分数 = @c仕分数10
				ELSE IF @i = 11	SET @仕分数 = @c仕分数11
				ELSE IF @i = 12	SET @仕分数 = @c仕分数12
				ELSE IF @i = 13	SET @仕分数 = @c仕分数13
				ELSE IF @i = 14	SET @仕分数 = @c仕分数14
				ELSE IF @i = 15	SET @仕分数 = @c仕分数15
				ELSE IF @i = 16	SET @仕分数 = @c仕分数16
				ELSE IF @i = 17	SET @仕分数 = @c仕分数17
				ELSE IF @i = 18	SET @仕分数 = @c仕分数18
				ELSE IF @i = 19	SET @仕分数 = @c仕分数19
				ELSE IF @i = 20	SET @仕分数 = @c仕分数20
				ELSE IF @i = 21	SET @仕分数 = @c仕分数21
				ELSE IF @i = 22	SET @仕分数 = @c仕分数22
				ELSE IF @i = 23	SET @仕分数 = @c仕分数23
				ELSE IF @i = 24	SET @仕分数 = @c仕分数24
				ELSE IF @i = 25	SET @仕分数 = @c仕分数25
				ELSE IF @i = 26	SET @仕分数 = @c仕分数26
				ELSE IF @i = 27	SET @仕分数 = @c仕分数27
				ELSE IF @i = 28	SET @仕分数 = @c仕分数28
				ELSE IF @i = 29	SET @仕分数 = @c仕分数29
				ELSE IF @i = 30	SET @仕分数 = @c仕分数30

				--見積シート内訳登録
				EXEC SP_EXECUTESQL N'INSERT	TD見積シート内訳
									(見積明細連番, 見積番号, 行番号, 仕分番号, 数量)
								VALUES
									(@e見積明細連番,@e見積番号, @e行番号,@e,@e仕分数)',
							N'@e見積明細連番 INT,@e見積番号 INT,@e行番号 INT,@e INT,@e仕分数 MONEY',
							@e見積明細連番 = @c見積明細連番,
							@e見積番号 = @i見積番号,
							@e行番号 = @c行番号,
							@e仕分数 = @仕分数,
							@e = @i
	
				SET @i = @i + 1
			END
	
		END--見積シートM（新規・更新）
		--PRINT 'LOOP END'

		--------------------------------------------------
		--PCマスタの最終たちの更新
		--------------------------------------------------	
		UPDATE	TMPC
			SET	最終得意先CD = @i得意先CD,
				最終見積日付 = @i見積日付,
				最終仕入単価 = @c仕入単価
			WHERE	PC区分 = @cPC区分
			AND		製品NO = @c製品NO
			AND		@c製品区分 = 3
		
	END--WHILE

	--2004/12/01	ADD---------------------------------------------------------------------------------------
	--------------------------------------------------
	--コメント行の仕入先等の更新
	--------------------------------------------------	
 	UPDATE TD見積シートM
		--2017/05/14 ADD↓
		SET 仕入業者CD = (SELECT TOP 1 仕入業者CD FROM TD見積シートM AS MSM1 
						WHERE MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
			仕入業者名 = (SELECT TOP 1 仕入業者名 FROM TD見積シートM AS MSM1 
						WHERE MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
		--2017/05/14 ADD↑
			仕入先CD = (SELECT TOP 1 仕入先CD FROM TD見積シートM AS MSM1 
						WHERE MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
			仕入先名 = (SELECT TOP 1 仕入先名 FROM TD見積シートM AS MSM1 
						WHERE MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
			配送先CD = (SELECT TOP 1 配送先CD FROM TD見積シートM AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
			配送先名 = (SELECT TOP 1 配送先名 FROM TD見積シートM AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) 
		FROM		TD見積シートM AS MSM 
		WHERE	見積番号 = @i見積番号
		AND		見積区分 = 'A'

	SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP

	UPDATE TD見積シートM
		--2017/05/14 ADD↓
		SET 仕入業者CD = (SELECT TOP 1 仕入業者CD FROM TD見積シートM AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
			仕入業者名 = (select top 1 仕入業者名 from td見積シートM as msm1 where MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
		--2017/05/14 ADD↑
			仕入先CD = (SELECT TOP 1 仕入先CD FROM TD見積シートM AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
			仕入先名 = (select top 1 仕入先名 from td見積シートM as msm1 where MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
			配送先CD = (select top 1 配送先CD from td見積シートM as msm1 where MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
			配送先名 = (select top 1 配送先名 from td見積シートM as msm1 where MSM1.見積番号 = MSM.見積番号
						--AND 	MSM1.見積区分 = ''
						--AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')--2013/07/10 ADD
						AND		MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) 
		FROM		TD見積シートM AS MSM 
		WHERE	見積番号 = @i見積番号
		AND		(見積区分 = 'C'
			OR	見積区分 = 'S')

	SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP
	------------------------------------------------------------------------------------------------------------

	--2019/09/23 ADD↓
	--INSERT分の見積明細連番を更新
	UPDATE LOG見積シートM
			SET 見積明細連番 = MSM.見積明細連番
		FROM	LOG見積シートM
			INNER JOIN TD見積シートM AS MSM 
					ON	LOG見積シートM.見積番号 = MSM.見積番号
					AND	LOG見積シートM.行番号 = MSM.行番号--行挿入・削除での行変更はログしない
		WHERE	LOG見積シートM.見積番号 = @i見積番号
			AND	LOG見積シートM.更新区分 = 'I'
			AND	LOG見積シートM.見積明細連番 = 0
			
	SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP
	--2019/09/23 ADD↑

	--------------------------------------------------
	--得意先マスタの最終使用日の更新
	--------------------------------------------------	
	UPDATE	TM得意先
		SET	最終使用日 = CONVERT(CHAR(10),GETDATE(),111)
		WHERE 得意先CD = @i得意先CD

	--------------------------------------------------
	--獲得見積番号を返す。
	--------------------------------------------------	
	SET @RetMNO = @i見積番号
	SET @RetTNO = @i得意先別見積番号					--2005/07/04 ADD


	--------------------------------------------------
	--保存データを返す。
	--------------------------------------------------	
	--2018/04/13	ADD↓
	SELECT	WK.*,
			仕入済数 = ISNULL(SRM.仕入済数,0),
			仕入済CNT = ISNULL(SRM.仕入済CNT,0),--2018/06/19 ADD
			売上済CNT = ISNULL(UM.売上済CNT,0),
			展開CHK = 0--表示用仮データ
		FROM VD見積シートM AS WK
		LEFT JOIN   (
					SELECT 見積明細連番, 仕入済数 = SUM(仕入数量),
							仕入済CNT = COUNT(見積明細連番)--2018/06/19 ADD
						FROM TD仕入明細内訳
	                    GROUP BY 見積明細連番
					)AS SRM
					ON WK.見積明細連番 = SRM.見積明細連番
		LEFT JOIN   (
					SELECT 見積明細連番, 売上済CNT = COUNT(見積明細連番)
						FROM TD売上明細V2
	                    GROUP BY 見積明細連番
					)AS UM
					ON WK.見積明細連番 = UM.見積明細連番
		WHERE WK.見積番号 = @i見積番号
		ORDER BY WK.見積番号,WK.行番号
		
	SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP
	--2018/04/13	ADD↑

EXIT_SP:
	--PRINT 'EXIT_SP'
	IF( CURSOR_STATUS( 'LOCAL', 'csr見積明細' ) >= 0 )	BEGIN
		CLOSE	csr見積明細
		DEALLOCATE	csr見積明細
--	IF( CURSOR_STATUS( 'variable', '@csr' ) >= 0 )	BEGIN
--		CLOSE	@csr
--		DEALLOCATE	@csr
	END
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END 
	RETURN @ST
GO
