/****** Object:  StoredProcedure [dbo].[usp_TK0200仕入先別年間仕入順位推移表v2_年度]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK0200仕入先別年間仕入順位推移表v2_年度]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK0200仕入先別年間仕入順位推移表v2_年度]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*****************************************************

	買掛　情報

名称	usp_TK0200仕入先別年間仕入順位推移表

機能	得意先毎の年間別売上金額の集計表を作成する

引数	

戻り値	

修正履歴
	2012/05/07	新規作成
	2013/11/04	oosawa		仕分番号削除に伴う修正

	2014/07/21	oosawa		集計日付を「仕入日付」にする
	2018/04/24	oosawa		仕入先3150はださない
	2020/02/18	oosawa		明細税の処理ミス
	2021/02/13	oosawa		原価率を表示する為、売上も仕入業者別に集計
							ただし、仕入に在庫出し3150・9999は含まないので売上での集計とは数字が違う
	2022/05/19	oosawa		年度が4月からに変更になったための修正
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK0200仕入先別年間仕入順位推移表v2_年度]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

--set @iS集計日付 = '2003/01/01'
--set @iE集計日付 = '2012/12/31'

	DECLARE 	@ST	INT,
			@MSG	VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

	--ワークテーブル作成
	CREATE TABLE #TMP
		(
			仕入先CD		VARCHAR(4),
			年				INT,			--0:売上　1:仕入
			順位			INT,
			原価金額		MONEY	DEFAULT(0),
			税抜金額		MONEY	DEFAULT(0),
			比率			MONEY	DEFAULT(0),
			トータル税抜金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	

	--仕入先別仕入集計算出
	INSERT	INTO #TMP
			(仕入先CD, 年, --順位, 
				原価金額, 
				--税抜金額, --比率
				トータル税抜金額
			)
	SELECT U.仕入先CD,
			U.年,
			--順位 = ROW_NUMBER() OVER(PARTITION BY U.年 ORDER BY U.税抜金額 DESC),
			U.原価金額,
			--比率 = CASE WHEN TOTAL.トータル税抜金額 <> 0 THEN dbo.fn_Round(U.税抜金額 * 100 / TOTAL.トータル税抜金額,1) 
			--											ELSE 0 END
			TOTAL.トータル税抜金額
		FROM (
			SELECT	SM.仕入先CD,
					----年 = YEAR(SM.支払日付),
					------年 = YEAR(SM.仕入日付),--2014/07/21 ADD
					--2022/05/19 ADD↓
					--1月～3月であれば、年から1差し引く。
					--それ以外の場合は年をそのまま取得。
					年 = CASE WHEN MONTH(SM.仕入日付) <= 3
							THEN YEAR(SM.仕入日付) - 1
							ELSE YEAR(SM.仕入日付)
						END,
					--2022/05/19 ADD↑
					--SUM(SU.仕入金額-SU.消費税額) AS 税抜金額
					原価金額 = SUM(CASE WHEN SU.仕入税区分 = 1 THEN (SU.仕入金額-SU.消費税額) ELSE SU.仕入金額 END)--2020/02/18 ADD
				FROM	TD仕入明細 AS SM
					INNER JOIN TD仕入明細内訳 AS SU
						ON SM.仕入番号 = SU.仕入番号
						--2013/11/04 DEL↓
						--AND SM.仕入先CD = SU.仕入先CD
						--AND SM.配送先CD = SU.配送先CD
						--AND SM.仕分番号 = SU.仕分番号
						--2013/11/04 DEL↑
				----WHERE	SM.支払日付 >= @iS集計日付
    				----AND	SM.支払日付 <= @iE集計日付
				--2014/07/21 ADD↓
				WHERE	SM.仕入日付 >= @iS集計日付
    				AND	SM.仕入日付 <= @iE集計日付
				--2014/07/21 ADD↑
					AND	NOT SM.仕入先CD IN ('3150','9999')--2018/04/24 ADD　仕入済だから省く
			----GROUP BY     SM.仕入先CD,YEAR(SM.支払日付)
			--------GROUP BY     SM.仕入先CD,YEAR(SM.仕入日付)--2014/07/21 ADD
			--2022/05/19 ADD↓
			GROUP BY	SM.仕入先CD,
						CASE WHEN MONTH(SM.仕入日付) <= 3
							THEN YEAR(SM.仕入日付) - 1
							ELSE YEAR(SM.仕入日付)
						END
			--2022/05/19 ADD↑
			) AS U
		LEFT JOIN (
			--年別トータル金額抽出
			----SELECT	年 = YEAR(SM.支払日付),
			SELECT	----年 = YEAR(SM.仕入日付),	--2014/07/21 ADD
					--2022/05/19 ADD↓
					--1月～3月であれば、年から1差し引く。
					--それ以外の場合は年をそのまま取得。
					年 = CASE WHEN MONTH(SM.仕入日付) <= 3
							THEN YEAR(SM.仕入日付) - 1
							ELSE YEAR(SM.仕入日付)
						END,
					--2022/05/19 ADD↑
					トータル税抜金額 = SUM(SU.仕入金額-SU.消費税額) 
				FROM	TD仕入明細 AS SM
					INNER JOIN TD仕入明細内訳 AS SU
						ON SM.仕入番号 = SU.仕入番号
						--2013/11/04 DEL↓
						--AND SM.仕入先CD = SU.仕入先CD
						--AND SM.配送先CD = SU.配送先CD
						--AND SM.仕分番号 = SU.仕分番号
						--2013/11/04 DEL↑
				----WHERE	SM.支払日付 >= @iS集計日付
    				----AND	SM.支払日付 <= @iE集計日付
				--2014/07/21 ADD↓
				WHERE	SM.仕入日付 >= @iS集計日付
    				AND	SM.仕入日付 <= @iE集計日付
				--2014/07/21 ADD↑
					AND	NOT SM.仕入先CD IN ('3150','9999')--2018/04/24 ADD　仕入済だから省く
				----GROUP BY     YEAR(SM.支払日付)
				--------GROUP BY     YEAR(SM.仕入日付)--2014/07/21 ADD
				--2022/05/19 ADD↓
				GROUP BY	CASE WHEN MONTH(SM.仕入日付) <= 3
								THEN YEAR(SM.仕入日付) - 1
								ELSE YEAR(SM.仕入日付)
							END
				--2022/05/19 ADD↑
			) AS TOTAL
			ON U.年 = TOTAL.年

	--ORDER	BY	年, 税抜金額 DESC

--2021/02/13 ADD↓
		--仕入先別　売価
		MERGE INTO	#TMP AS A
			USING
				(
					--売価
					SELECT	MSM.仕入業者CD,
							------年 = YEAR(UH.売上日付),
							--2022/05/19 ADD↓
							--1月～3月であれば、年から1差し引く。
							--それ以外の場合は年をそのまま取得。
							年 = CASE WHEN MONTH(UH.売上日付) <= 3
									THEN YEAR(UH.売上日付) - 1
									ELSE YEAR(UH.売上日付)
								END,
							--2022/05/19 ADD↑
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細v2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							--INNER JOIN  TM得意先 AS TK
							--	ON MH.販売先得意先CD = TK.得意先CD
						WHERE	
								UH.売上日付 >= @iS集計日付
							AND UH.売上日付 <= @iE集計日付					--今年度
					--------GROUP BY     MSM.仕入業者CD,YEAR(UH.売上日付)
					--2022/05/19 ADD↓
					GROUP BY	MSM.仕入業者CD,
								CASE WHEN MONTH(UH.売上日付) <= 3
									THEN YEAR(UH.売上日付) - 1
									ELSE YEAR(UH.売上日付)
								END
					--2022/05/19 ADD↑
				) AS B
			ON  (
				A.仕入先CD = B.仕入業者CD
				AND	A.年 = B.年
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.税抜金額 = A.税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							仕入先CD,
							年,
							税抜金額
						)
					VALUES
						(
							B.仕入業者CD,
							B.年,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--順位比率追加
		UPDATE #TMP
			SET		順位 = JN.順位--,
					--比率 = CASE WHEN #TMP.トータル税抜金額 <> 0 THEN dbo.fn_Round(#TMP.税抜金額 * 100 / #TMP.トータル税抜金額,1) 
					--											ELSE 0 END
			FROM	#TMP
				INNER JOIN (
							SELECT	仕入先CD,
									年,
									--順位 = ROW_NUMBER() OVER(PARTITION BY #TMP.年 ORDER BY #TMP.税抜金額 DESC)
									順位 = ROW_NUMBER() OVER(PARTITION BY #TMP.年 ORDER BY #TMP.原価金額 DESC)--2021/03/06 ADD
								FROM #TMP
							) AS JN
							ON	#TMP.仕入先CD = JN.仕入先CD
							AND	#TMP.年 = JN.年

--2021/02/13 ADD↑

	
	--年をばらして変数化する
	DECLARE @wNEN1	INT,
			@wNEN2	INT,
			@wNEN3	INT,
			@wNEN4	INT,
			@wNEN5	INT,
			@wNEN6	INT,
			@wNEN7	INT,
			@wNEN8	INT,
			@wNEN9	INT,
			@wNEN10	INT,
			@wNENCNT	INT,	--年カウント
			@wCNT	INT			--セットカウント
	DECLARE	@wMAXNEN	INT		--最終年
			
	--初期日付セット
	SET	@wNENCNT = YEAR(@iS集計日付)
	SET	@wCNT = 1
	
	WHILE	( YEAR(@iE集計日付) >= @wNENCNT)	BEGIN
		IF	@wCNT = 1 BEGIN
			SET	@wNEN1 = @wNENCNT
		END ELSE BEGIN
			IF	@wCNT = 2 BEGIN
				SET	@wNEN2 = @wNENCNT
			END ELSE BEGIN
				IF	@wCNT = 3 BEGIN
					SET	@wNEN3 = @wNENCNT
				END ELSE BEGIN
					IF	@wCNT = 4 BEGIN
						SET	@wNEN4 = @wNENCNT
					END ELSE BEGIN
						IF	@wCNT = 4 BEGIN
							SET	@wNEN4 = @wNENCNT
						END ELSE BEGIN
							IF	@wCNT = 5 BEGIN
								SET	@wNEN5 = @wNENCNT
							END ELSE BEGIN
								IF	@wCNT = 6 BEGIN
									SET	@wNEN6 = @wNENCNT
								END ELSE BEGIN
									IF	@wCNT = 7 BEGIN
										SET	@wNEN7 = @wNENCNT
									END ELSE BEGIN
										IF	@wCNT = 8 BEGIN
											SET	@wNEN8 = @wNENCNT
										END ELSE BEGIN
											IF	@wCNT = 9 BEGIN
												SET	@wNEN9 = @wNENCNT
											END ELSE BEGIN
												IF	@wCNT = 10 BEGIN
													SET	@wNEN10 = @wNENCNT
												END
											END
										END
									END
								END
							END
						END
					END
				END
			END
		END
		SET	@wNENCNT = @wNENCNT + 1
		SET @wCNT = @wCNT + 1
	END
	--SELECT @wCNT,@wNEN1,@wNEN2,@wNEN3,@wNEN4,@wNEN5,@wNEN6,@wNEN7,@wNEN8,@wNEN9,@wNEN10
	
	--SELECT * FROM #TMP ORDER BY 仕入先CD
	
	DECLARE	@SQL	VARCHAR(8000)
	DECLARE	@ODR	VARCHAR(8000)
	
	SET	@SQL = '
	SELECT	TMP.仕入先CD,
			SI.仕入先名1, SI.仕入先名2,
			TMP.順位1,
			TMP.原価金額1,
			TMP.税抜金額1,
			TMP.比率1,
			TMP.順位2,
			TMP.原価金額2,
			TMP.税抜金額2,
			TMP.比率2,
			TMP.順位3,
			TMP.原価金額3,
			TMP.税抜金額3,
			TMP.比率3,
			TMP.順位4,
			TMP.原価金額4,
			TMP.税抜金額4,
			TMP.比率4,
			TMP.順位5,
			TMP.原価金額5,
			TMP.税抜金額5,
			TMP.比率5,
			TMP.順位6,
			TMP.原価金額6,
			TMP.税抜金額6,
			TMP.比率6,
			TMP.順位7,
			TMP.原価金額7,
			TMP.税抜金額7,
			TMP.比率7,
			TMP.順位8,
			TMP.原価金額8,
			TMP.税抜金額8,
			TMP.比率8,
			TMP.順位9,
			TMP.原価金額9,
			TMP.税抜金額9,
			TMP.比率9,
			TMP.順位10,
			TMP.原価金額10,
			TMP.税抜金額10,
			TMP.比率10
	FROM (
	SELECT TMP.仕入先CD,
			順位1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位2 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN2 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額2 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN2 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額2 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN2 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率2 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN2 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位3 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN3 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額3 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN3 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額3 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN3 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率3 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN3 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位4 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN4 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額4 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN4 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額4 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN4 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率4 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN4 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位5 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN5 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額5 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN5 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額5 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN5 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率5 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN5 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位6 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN6 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額6 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN6 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額6 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN6 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率6 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN6 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位7 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN7 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額7 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN7 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額7 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN7 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率7 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN7 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位8 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN8 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額8 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN8 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額8 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN8 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率8 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN8 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位9 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN9 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額9 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN9 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額9 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN9 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率9 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN9 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位10= SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN10 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額10= SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN10 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額10= SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN10 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率10= SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN10 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END)
		FROM #TMP AS TMP
		GROUP BY TMP.仕入先CD
	) AS TMP
		INNER JOIN  TM仕入先 AS SI
		ON TMP.仕入先CD = SI.仕入先CD'

	--SELECT @SQL
	--SET	@ODR = ' ORDER BY 税抜金額' + CAST(@wCNT -1 AS VARCHAR) + ' DESC'
	----SET	@ODR = ' ORDER BY 原価金額' + CAST(@wCNT -1 AS VARCHAR) + ' DESC'
	SET	@ODR = ' ORDER BY 原価金額' + CAST(@wCNT -2 AS VARCHAR) + ' DESC'--2022/05/19 ADD
		
	EXEC (@SQL + @ODR)

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	DROP TABLE #TMP
	
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
