/****** Object:  StoredProcedure [dbo].[usp_支払集計]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_支払集計]
GO
/****** Object:  StoredProcedure [dbo].[usp_支払集計]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_支払集計

機能	指定された条件で支払情報を作成する

引数	
	

戻り値	

修正履歴
	2002/11/28	範囲の途中で税集計情報が変わった場合
			消費税が合わなくなるのを修正
	2002/11/28	集計条件に仕入先CDを追加
	2003/09/22 	bugfix
	2003/11/01 	kawamura 	伝票区分はVRCHAR(1)に変更
	2004/01/22 	kawamura 	税集計区分でグループ化すると金額が合わなくなるのを修正
	2004/02/19 	kawamura 	税額計算において単価訂正は含まない。
					外税対象額の集計変更：(仕入＋返品)
					外税額の集計変更：(仕入＋返品)＊税率
	2014/03/18	oosawa		税率マスタが複数情報を持てないため
							計算処理をしないようにする。
							（古い情報を再計算してしまうと税率が異なるためおかしくなる）

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	2017/01/19	oosawa		3150三和倉庫は集計しない
*****************************************************/
CREATE PROCEDURE [dbo].[usp_支払集計]
	(
		@is仕入先CD	VARCHAR(4) = NULL,
		@ie仕入先CD	VARCHAR(4) = NULL,
		@iSDate	DATETIME,
		@iEDate	DATETIME,
		@i締日		INT,
--		@i処理日	DATETIME,
		@RetST	INT			OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	--前残情報
	DECLARE	@o前残		MONEY,
			@o支払開始日	DATETIME

	--今回出力情報
	DECLARE	@o伝票枚数		INT,
			@o仕入合計		MONEY,
			@o返品合計		MONEY,
			@o訂正合計		MONEY,
			@o前外税仕入	MONEY,
			@o後外税仕入	MONEY,
			@o前外税返品	MONEY,
			@o後外税返品	MONEY,
			@o前外税訂正	MONEY,
			@o後外税訂正	MONEY,
			@o消費税額		MONEY,
			@o支払金額		MONEY,
			@o調整金額		MONEY

	--作業情報
	DECLARE	@w前外税金額	MONEY,
			@w後外税金額	MONEY,
			@w前外税額		MONEY,
			@w後外税額		MONEY

	--カーソル項目
	DECLARE	@csr			CURSOR,
			@c仕入先CD		VARCHAR(4),
-- 			@c消費税区分	INT,
			@c消費税端数	INT

	--消費税情報
	DECLARE	@税切替日		DATETIME,
			@前税率		SMALLINT,
			@後税率		SMALLINT

	DECLARE	@TRAN		TINYINT,
			@ST			INT,
			@MSG			VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--トランザクション開始
	--BEGIN	TRAN

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑


	--消費税情報取得
	SELECT	@税切替日 = 切替日付,
			@前税率 = 旧税率,
			@後税率 = 税率
		FROM 		TM税率
		WHERE 	税率ID = 'ZR'
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--2014/03/18 ADD↓
	----------------------------------------
	--	税率マスタが複数情報を持てないため
	--	計算処理をしないようにする。
	----------------------------------------
	DECLARE	@w買掛月次更新日 DATETIME
	
	SELECT @w買掛月次更新日 =  更新日付
			FROM TMDates
			WHERE DateID = '買掛月次更新日'
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF	@iEDate <= DATEADD(MONTH,-1, @w買掛月次更新日) BEGIN
	--IF	@iEDate <= @w買掛月次更新日 BEGIN
		--終了集計日付が買掛月次更新日より小さい場合、計算しない。
		--前月は計算対象とする
		GOTO	EXIT_SP
	END
	--2014/03/18 ADD↑
	----------------------------------------

	--指定範囲カーソル
	SET	@csr	=	CURSOR	LOCAL	FORWARD_ONLY	STATIC FOR
		SELECT 	仕入先CD, /*税集計区分,*/ 消費税端数--2003/09/22
			FROM 		TM仕入先 AS SR
			WHERE 	SR.締日 = @i締日
				AND 	SR.仕入先CD >= COALESCE(@is仕入先CD,SR.仕入先CD)
				AND 	SR.仕入先CD <= COALESCE(@ie仕入先CD,SR.仕入先CD)
				AND		NOT(SR.仕入先CD = '3150')--2017/01/19 ADD
			ORDER BY 	SR.仕入先CD

	OPEN	@csr
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF (@@CURSOR_ROWS = 0)	BEGIN
		SET @ST = -1
		SET @MSG = '該当データがありません。'
		GOTO EXIT_SP
	END	

	FETCH NEXT FROM	@csr	INTO	@c仕入先CD, /*@c消費税区分,*/ @c消費税端数--2003/09/22
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	WHILE	( @@FETCH_STATUS = 0 )	BEGIN

		--前回支払金額算出
		EXEC @ST = usp_支払前残参照 @c仕入先CD, @iSDate ,@o前残 OUTPUT, @o支払開始日 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP

		--支払情報削除
		IF EXISTS(SELECT * FROM TM支払金額 WHERE 仕入先CD = @c仕入先CD
							AND 支払開始日付 = @o支払開始日
							AND 支払終了日付 = @iEDate)	BEGIN
			--同一日付範囲での削除
			DELETE 	FROM 		TM支払金額
					WHERE 	仕入先CD = @c仕入先CD
						AND 	支払開始日付 = @o支払開始日
						AND 	支払終了日付 = @iEDate
			END
		ELSE	BEGIN
			--日付範囲が変更された削除
			DELETE 	FROM 		TM支払金額
					WHERE 	仕入先CD = @c仕入先CD
						AND 	支払日付 >= @o支払開始日
		END
		SET	@ST = @@ERROR IF @ST<>0 GOTO	EXIT_SP

		--今回金額集計
		SELECT
			@o伝票枚数 	= CONVERT(INT, ISNULL(GSS.伝票枚数,0) + ISNULL(MSS.伝票枚数,0) + ISNULL(SHD.伝票枚数,0)),
			@o仕入合計 	= CONVERT(MONEY, ISNULL(GSS.仕入合計,0) + ISNULL(MSS.仕入合計,0)),
			@o返品合計 	= CONVERT(MONEY, ISNULL(GSS.返品合計,0) + ISNULL(MSS.返品合計,0)),
			@o訂正合計 	= CONVERT(MONEY, ISNULL(GSS.訂正合計,0) + ISNULL(MSS.訂正合計,0)),
			@o前外税仕入 = CONVERT(MONEY, ISNULL(MSS.仕入外税対象額,0)),
			@o後外税仕入 = CONVERT(MONEY, ISNULL(GSS.仕入外税対象額,0)),
			@o前外税返品 = CONVERT(MONEY, ISNULL(MSS.返品外税対象額,0)),
			@o後外税返品 = CONVERT(MONEY, ISNULL(GSS.返品外税対象額,0)),
			@o前外税訂正 = CONVERT(MONEY, ISNULL(MSS.訂正外税対象額,0)),
			@o後外税訂正 = CONVERT(MONEY, ISNULL(GSS.訂正外税対象額,0)),
			@o消費税額 	= CONVERT(MONEY, ISNULL(GSS.外税額,0) + ISNULL(MSS.外税額,0)),
			@o支払金額 	= CONVERT(MONEY, ISNULL(SH.支払合計,0)),
			@o調整金額 	= CONVERT(MONEY, ISNULL(CY.調整合計,0))
			
		FROM TM仕入先 AS SR

			--税切替後の仕入
			LEFT JOIN 	(
						--仕入・返品・訂正・外税(伝票単位)・伝票枚数
						SELECT 	仕入先CD, 
								伝票枚数 = COUNT(仕入番号),
								外税額 = SUM(外税額), 
								仕入合計 = SUM(仕入合計),
								返品合計 = SUM(返品合計),
								訂正合計 = SUM(訂正合計),
								--2004/01/22.DEL
-- 								仕入外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(仕入外税対象額) ELSE 0 END,
-- 								返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
-- 								訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
								--2004/01/22.ADD
								仕入外税対象額 = SUM(仕入外税対象額),
								返品外税対象額 = SUM(返品外税対象額),
								訂正外税対象額 = SUM(訂正外税対象額)
							FROM
								(
								--伝票単位の各値を集計
								SELECT 	GSM.仕入先CD, GSM.仕入番号, SH.税集計区分, 
										SH.外税額,
										仕入合計 = SUM(仕入合計),
										返品合計 = SUM(返品合計),
										訂正合計 = SUM(訂正合計),
										--2004/01/22.DEL
-- 										仕入外税対象額 = SUM(仕入外税対象額),
-- 										返品外税対象額 = SUM(返品外税対象額),
-- 										訂正外税対象額 = SUM(訂正外税対象額)
										--2004/01/22.ADD
										仕入外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(仕入外税対象額) ELSE 0 END,
										返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
										訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
									FROM
										(
										--伝票区分が明細内訳にある為、内訳レベルで各値集計
										SELECT 	MH.仕入先CD, MH.仕入番号, 伝票区分, 仕入税区分,
												仕入合計 = ISNULL((CASE WHEN 伝票区分 = '1' THEN SUM(仕入金額) END),0),
												返品合計 = ISNULL((CASE WHEN 伝票区分 = '2' THEN SUM(仕入金額) END),0),
												訂正合計 = ISNULL((CASE WHEN 伝票区分 = '3' THEN SUM(仕入金額) END),0),
												仕入外税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0),
												返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0),
												訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0)
											FROM  	TD仕入明細内訳 AS MU
											INNER JOIN	TD仕入明細 AS MH  ON MU.仕入番号 = MH.仕入番号
											WHERE 	MH.仕入先CD = @c仕入先CD
												AND 	支払日付 >=  @o支払開始日
												AND 	支払日付 <=  @iEDate
												AND 	支払日付 >=	@税切替日 
											GROUP BY 	MH.仕入先CD, MH.仕入番号, 伝票区分, 仕入税区分
										) AS GSM
									--伝票単位の外税額分としてヘッダー情報をつけ足す
									INNER JOIN 	TD仕入明細 AS SH ON GSM.仕入番号 = SH.仕入番号
									GROUP BY 	GSM.仕入先CD, GSM.仕入番号, SH.税集計区分, SH.外税額
								) AS GDE
							--GROUP BY 仕入先CD, 税集計区分	--2004/01/22.DEL
							GROUP BY 仕入先CD			--2004/01/22.ADD
					) AS GSS
					ON 	SR.仕入先CD = GSS.仕入先CD

			--税切替前の仕入
			LEFT JOIN 	(
						--仕入・返品・訂正・外税(伝票単位)・伝票枚数
						SELECT 	仕入先CD, COUNT(仕入番号) AS 伝票枚数,
								外税額 = SUM(外税額), 
								仕入合計 = SUM(仕入合計),
								返品合計 = SUM(返品合計),
								訂正合計 = SUM(訂正合計),
								--2004/01/22.DEL
-- 								仕入外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(仕入外税対象額) ELSE 0 END,
-- 								返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
-- 								訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
								--2004/01/22.ADD
								仕入外税対象額 = SUM(仕入外税対象額),
								返品外税対象額 = SUM(返品外税対象額),
								訂正外税対象額 = SUM(訂正外税対象額)
							FROM
								(
								--伝票単位の各値を集計
								SELECT 	MUM.仕入先CD, MUM.仕入番号, SH.税集計区分, 
										SH.外税額,
										仕入合計 = SUM(仕入合計),
										返品合計 = SUM(返品合計),
										訂正合計 = SUM(訂正合計),
										--2004/01/22.DEL
-- 										仕入外税対象額 = SUM(仕入外税対象額),
-- 										返品外税対象額 = SUM(返品外税対象額),
-- 										訂正外税対象額 = SUM(訂正外税対象額)
										--2004/01/22.ADD
										仕入外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(仕入外税対象額) ELSE 0 END,
										返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
										訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
									FROM
										(
										--伝票区分が明細内訳にある為、内訳レベルで各値集計
										SELECT 	MH.仕入先CD, MH.仕入番号, 伝票区分, 仕入税区分,
												仕入合計 = ISNULL((CASE WHEN 伝票区分 = '1' THEN SUM(仕入金額) END),0),
												返品合計 = ISNULL((CASE WHEN 伝票区分 = '2' THEN SUM(仕入金額) END),0),
												訂正合計 = ISNULL((CASE WHEN 伝票区分 = '3' THEN SUM(仕入金額) END),0),
												仕入外税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0),
												返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0),
												訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0)
											FROM  	TD仕入明細内訳 AS MU
											INNER JOIN	TD仕入明細 AS MH  ON MU.仕入番号 = MH.仕入番号
											WHERE 	MH.仕入先CD = @c仕入先CD
												AND	支払日付 >=  @o支払開始日
												AND 	支払日付 <=  @iEDate
												AND 	支払日付 <	@税切替日 
											GROUP BY 	MH.仕入先CD, MH.仕入番号, 伝票区分, 仕入税区分
										) AS MUM
									--伝票単位の外税額分としてヘッダー情報をつけ足す
									INNER JOIN 	TD仕入明細 AS SH ON MUM.仕入番号 = SH.仕入番号
									GROUP BY 	MUM.仕入先CD, MUM.仕入番号, SH.税集計区分, SH.外税額
								) AS MDE
							--GROUP BY 仕入先CD, 税集計区分	--2004/01/22.DEL
							GROUP BY 仕入先CD			--2004/01/22.ADD
					) AS MSS
					ON 	SR.仕入先CD = MSS.仕入先CD

			--支払金額
			LEFT JOIN 	(
						SELECT 	仕入先CD, 
								支払合計 = SUM(支払金額)
							FROM 		TD支払
				       	     		WHERE 	支払種別 <> 3		--支払・手形支払
								AND 	仕入先CD = @c仕入先CD
								AND 	支払日付 >=  @o支払開始日
								AND 	支払日付 <=  @iEDate  
							GROUP BY 	仕入先CD
					) AS SH
					ON SR.仕入先CD = SH.仕入先CD

			--調整金額
			LEFT JOIN 	(
						SELECT 	仕入先CD, 
								調整合計 = SUM(支払金額)
							FROM 		TD支払
				       	     		WHERE 	支払種別 = 3			--調整・値引
								AND 	仕入先CD = @c仕入先CD
								AND 	支払日付 >=  @o支払開始日
								AND 	支払日付 <=  @iEDate  
							GROUP BY 	仕入先CD
					) AS CY
					ON SR.仕入先CD = CY.仕入先CD

			--支払Ｄの伝票枚数
			LEFT JOIN 	(
						SELECT 	仕入先CD, 
								伝票枚数 = COUNT(支払番号)
							FROM 		TD支払
				       	     		WHERE 	仕入先CD = @c仕入先CD
								AND 	支払日付 >=  @o支払開始日
								AND 	支払日付 <=  @iEDate  
								AND 	枝番 = 1
							GROUP BY 	仕入先CD
					) AS SHD
					ON SR.仕入先CD = SHD.仕入先CD


		WHERE 	SR.仕入先CD = SR.仕入先CD
		  	AND 	SR.仕入先CD = @c仕入先CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--消費税計算
		SET @w前外税額 = 0
		SET @w後外税額 = 0
		--支払単位	--2002/11/28無条件に計算するように変更
--2004.02.19.DEL
-- -- 		SET @w前外税額 = dbo.fn_CutFraction(@c消費税端数, (@o前外税仕入+@o前外税返品+@o前外税訂正) / 100 * @前税率,0)
-- -- 		SET @w後外税額 = dbo.fn_CutFraction(@c消費税端数, (@o後外税仕入+@o後外税返品+@o後外税訂正) / 100 * @後税率,0)
--2004.02.19.ADD
		SET @w前外税額 = dbo.fn_CutFraction(@c消費税端数, (@o前外税仕入+@o前外税返品) / 100 * @前税率,@decimalPoint)
		SET @w後外税額 = dbo.fn_CutFraction(@c消費税端数, (@o後外税仕入+@o後外税返品) / 100 * @後税率,@decimalPoint)
		
		--テーブル出力
		INSERT INTO 	TM支払金額
					(
						仕入先CD, 支払日付, 前月残高, 支払金額, 調整金額, 
						仕入金額, 返品金額, 訂正金額, 
						消費税額, 
						当月残高,
						支払開始日付, 支払終了日付, 締日, 伝票枚数,
						更新F, 修正F, 処理日
					)
			VALUES
				 	(
						@c仕入先CD, @iEDate, @o前残, @o支払金額, @o調整金額, 
						@o仕入合計, @o返品合計, @o訂正合計, 
						@o消費税額 + ISNULL(@w前外税額,0) + ISNULL(@w後外税額,0),
						@o前残 - @o支払金額 - @o調整金額 + @o仕入合計 + @o返品合計 + @o訂正合計 + @o消費税額 + ISNULL(@w前外税額,0) + ISNULL(@w後外税額,0),
						@o支払開始日, @iEDate, @i締日, @o伝票枚数,
						0, 0, GETDATE()
					)

		--仕入データ更新
		UPDATE 	TD仕入明細
			SET	支払年月日 = @iEDate,
				支払締日 = @i締日,
				支払更新FLG = 1
             		WHERE	仕入先CD = @c仕入先CD
				AND 	支払日付 >=  @o支払開始日
				AND 	支払日付 <=  @iEDate
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--支払データ更新
		UPDATE 	TD支払
			SET	支払年月 = @iEDate,
				支払締日 = @i締日,
				支払更新FLG = 1
			WHERE	仕入先CD = @c仕入先CD
				AND	支払日付 >=  @o支払開始日
				AND	支払日付 <=  @iEDate
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		FETCH NEXT FROM	@csr	INTO	@c仕入先CD, /*@c消費税区分,*/ @c消費税端数
 	END

EXIT_SP:
	IF( CURSOR_STATUS( 'variable', '@csr' ) >= 0 )	BEGIN
		CLOSE	@csr
		DEALLOCATE	@csr
	END

	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END

		SET @RetST = @ST
		SET @RetMSG = @MSG

	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST






GO
