/****** Object:  StoredProcedure [dbo].[usp_MT0400部材リスト出力v2]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0400部材リスト出力v2]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0400部材リスト出力v2]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_部材リスト出力

機能	指定された条件で部門別部材リストを作成する

引数	

戻り値	

*****************************************************
	2003/09/12	kawamura	製品サイズに[H1][H2]追加
	2003/11/01 	kawamura 	コメント行管理用に見積区分追加
	2005/07/05	oosawa		見積区分の判断の変更
	2009/04/22	oosawa		コメント行がちゃんと出てなかった
	2014/10/10	oosawa		発注調整数を印字
	2014/11/13	oosawa		仕入先名を印字
	2016/10/08	oosawa		配送先CD・配送先名を印字
	2017/01/06	oosawa		仕入先CDを印字
	2018/06/16	oosawa		明細備考を追加
	2018/07/21	oosawa		直送・3150・その他でシートを分ける
	2018/08/03	oosawa		9999も倉庫だしに変更
	2020/09/19	oosawa		入出庫日を入庫日・出庫日に分割
	2022/09/08	oosawa		単位名表示
*****************************************************/
CREATE  PROCEDURE [dbo].[usp_MT0400部材リスト出力v2]
	(
		@i見積番号		INT,
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	DECLARE 	@MAX仕分番号	INT
	DECLARE 	@SQLFields 		VARCHAR(8000)
	--2003/11/01
	DECLARE 	@WHERE総数 		VARCHAR(1000),
			@WHERE客在 		VARCHAR(1000),
			@WHERE社在 		VARCHAR(1000),
			@WHERE転用 		VARCHAR(1000)

	DECLARE 	@WHERE総数A	VARCHAR(1000),
			@WHERE客在A	VARCHAR(1000),
			@WHERE社在A	VARCHAR(1000),
			@WHERE転用A	VARCHAR(1000)
	--カウント用
	DECLARE	@i	INT

--------------------------------------------------
	-- 仕分ＭＡＸ取得
--------------------------------------------------
	SELECT 	@MAX仕分番号 = MAX(仕分MAX.仕分番号)
	FROM
		(
		SELECT 	見積番号, 仕分番号, SUM(数量) AS 数量
			FROM 	TD見積シート内訳
			WHERE 	見積番号 = @i見積番号
			GROUP BY 	見積番号, 仕分番号
			HAVING 	(SUM(数量) <> 0)
		) AS 仕分MAX
		--ORDER BY 仕分番号
	
	--SELECT @MAX仕分番号 AS MAX

--------------------------------------------------
	-- 見出し用仕分名称
--------------------------------------------------
	SELECT 	U.見積番号, U.仕分番号, ISNULL(UM.略称,'') AS 略称
		FROM 	TD見積シート内訳 AS U
		LEFT JOIN TD見積シート内訳名称 AS UM ON U.見積番号 = UM.見積番号 AND U.仕分番号 = UM.仕分番号
		WHERE 	U.見積番号 = @i見積番号
		GROUP BY 	U.見積番号, U.仕分番号, UM.略称
		--HAVING 	(SUM(数量) <> 0)
		HAVING 	U.仕分番号 <= @MAX仕分番号
		ORDER BY U.仕分番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--シート内訳
	SET @i = 1
	SET @SQLFields = ''

	WHILE (@i <= @MAX仕分番号)		BEGIN

		--カンマを付ける
		IF @SQLFields <> '' BEGIN
			SET @SQLFields = @SQLFields + ','
		END
	
		SET @SQLFields = @SQLFields + ' MSM.仕分数' + LTRIM(STR(@i))
	
		SET @i = @i + 1
	END

--	print @SQLFields

--------------------------------------------------
	-- 抽出条件セット
--------------------------------------------------
	SET @WHERE総数 = ''
	SET @WHERE総数 = '('
				+ 'SELECT  TOP 1 MSM1.総数量'
				+ ' FROM TD見積シートM AS MSM1'
				+ ' WHERE	MSM1.見積番号 = MSM.見積番号'
--					+ ' AND 	MSM1.見積区分 = '''''
					+ ' AND 	MSM1.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'	--2005/07/05 UPD
					+ ' AND 	MSM1.行番号 <= MSM.行番号'
				+ ' ORDER BY MSM1.行番号 DESC'
				+ ') = 0'
	SET @WHERE社在 = ''
	SET @WHERE社在 = '('
				+ 'SELECT  TOP 1 MSM1.社内在庫数'
				+ ' FROM TD見積シートM AS MSM1'
				+ ' WHERE	MSM1.見積番号 = MSM.見積番号'
--					+ ' AND 	MSM1.見積区分 = '''''
					+ ' AND 	MSM1.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'	--2005/07/05 UPD
					+ ' AND 	MSM1.行番号 <= MSM.行番号'
				+ ' ORDER BY MSM1.行番号 DESC'
				+ ') = 0'
	SET @WHERE客在 = ''
	SET @WHERE客在 = '('
				+ 'SELECT  TOP 1 MSM1.客先在庫数'
				+ ' FROM TD見積シートM AS MSM1'
				+ ' WHERE	MSM1.見積番号 = MSM.見積番号'
--					+ ' AND 	MSM1.見積区分 = '''''
					+ ' AND 	MSM1.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'	--2005/07/05 UPD
					+ ' AND 	MSM1.行番号 <= MSM.行番号'
				+ ' ORDER BY MSM1.行番号 DESC'
				+ ') = 0'
	SET @WHERE転用 = ''
	SET @WHERE転用 = '('
				+ 'SELECT  TOP 1 MSM1.転用数'
				+ ' FROM TD見積シートM AS MSM1'
				+ ' WHERE	MSM1.見積番号 = MSM.見積番号'
--					+ ' AND 	MSM1.見積区分 = '''''
					+ ' AND 	MSM1.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'	--2005/07/05 UPD
					+ ' AND 	MSM1.行番号 <= MSM.行番号'
				+ ' ORDER BY MSM1.行番号 DESC'
				+ ') = 0'

--2009/04/22 ADD↓
	SET @WHERE総数A = ''
	SET @WHERE総数A = '('
				+ 'SELECT  TOP 1 MSM1.総数量'
				+ ' FROM TD見積シートM AS MSM1'
				+ ' WHERE	MSM1.見積番号 = MSM.見積番号'
					+ ' AND 	MSM1.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'	--2005/07/05 UPD
					+ ' AND 	MSM1.行番号 >= MSM.行番号'
				+ ' ORDER BY MSM1.行番号 ASC'
				+ ') = 0'
	SET @WHERE社在A = ''
	SET @WHERE社在A = '('
				+ 'SELECT  TOP 1 MSM1.社内在庫数'
				+ ' FROM TD見積シートM AS MSM1'
				+ ' WHERE	MSM1.見積番号 = MSM.見積番号'
					+ ' AND 	MSM1.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'	--2005/07/05 UPD
					+ ' AND 	MSM1.行番号 >= MSM.行番号'
				+ ' ORDER BY MSM1.行番号 ASC'
				+ ') = 0'
	SET @WHERE客在A = ''
	SET @WHERE客在A = '('
				+ 'SELECT  TOP 1 MSM1.客先在庫数'
				+ ' FROM TD見積シートM AS MSM1'
				+ ' WHERE	MSM1.見積番号 = MSM.見積番号'
					+ ' AND 	MSM1.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'	--2005/07/05 UPD
					+ ' AND 	MSM1.行番号 >= MSM.行番号'
				+ ' ORDER BY MSM1.行番号 ASC'
				+ ') = 0'
	SET @WHERE転用A = ''
	SET @WHERE転用A = '('
				+ 'SELECT  TOP 1 MSM1.転用数'
				+ ' FROM TD見積シートM AS MSM1'
				+ ' WHERE	MSM1.見積番号 = MSM.見積番号'
					+ ' AND 	MSM1.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'	--2005/07/05 UPD
					+ ' AND 	MSM1.行番号 >= MSM.行番号'
				+ ' ORDER BY MSM1.行番号 ASC'
				+ ') = 0'
--2009/04/22 ADD↑

--------------------------------------------------
	-- 部材リスト明細取得
--------------------------------------------------
	EXEC('	SELECT	MH.見積番号,MH.見積件名,'
			+ 'MH.得意先名1,MH.得意先名2,MH.現場名,MT.担当者名,'
			+ 'MH.販売先納得意先CD,MH.販売先納入先CD,'
			+ 'MSM.行番号,'
			+ 'MSM.SP区分,MSM.PC区分,MSM.製品NO,MSM.仕様NO,MSM.漢字名称,'
			+ 'MSM.W, MSM.D, MSM.H, MSM.D1,MSM.D2, MSM.H1, MSM.H2, '
			--+ 'MSM.総数量,MSM.社内在庫数,MSM.客先在庫数,MSM.転用数,MSM.発注数,製品区分,'
			+ 'MSM.総数量,MSM.社内在庫数,MSM.客先在庫数,MSM.転用数,MSM.発注調整数,MSM.発注数,製品区分,'--2014/10/10 ADD
			+ 'MSM.単位名,'--2022/09/08 ADD
			+ 'MSM.仕入先CD,'--2017/01/06 ADD
			+ 'MSM.仕入先名,'--2014/11/13 ADD
			+ 'MSM.配送先CD,MSM.配送先名,'--2016/10/08 ADD
			+ 'MSM.明細備考,'--2018/06/16 ADD
			--+ 'MSM.入出庫日,SE.入出庫用CD,'--2018/07/21 ADD
			+ 'MSM.入庫日,MSM.出庫日,SE.入出庫用CD,'--2020/09/19 ADD
			--+ '区分 = CASE WHEN (MSM.配送先CD = ''01'' AND MSM.仕入先CD <> ''3150'') THEN 1 ELSE CASE WHEN (MSM.仕入先CD = ''3150'' OR MSM.配送先CD = ''03'') THEN 2 ELSE 3 END END,'
			+ '区分 = CASE WHEN (MSM.仕入先CD = ''3150'' OR MSM.仕入先CD = ''9999'' OR MSM.配送先CD = ''03'') THEN 2 ELSE CASE WHEN (MSM.配送先CD = ''01'' AND MSM.仕入先CD <> ''3150'') THEN 1 ELSE 3 END END,'
			+ 'Count = COUNT(MSM.見積明細連番) OVER (PARTITION BY CASE WHEN (MSM.仕入先CD = ''3150'' OR MSM.仕入先CD = ''9999'' OR MSM.配送先CD = ''03'') THEN 2 ELSE CASE WHEN (MSM.配送先CD = ''01'' AND MSM.仕入先CD <> ''3150'') THEN 1 ELSE 3 END END),'
			+ @SQLFields 
			+ ', MSM.見積区分 '
-- 			MSM.仕分数1,MSM.仕分数2,MSM.仕分数3,MSM.仕分数4,MSM.仕分数5,
-- 			MSM.仕分数6,MSM.仕分数7,MSM.仕分数8,MSM.仕分数9,MSM.仕分数10,
-- 			MSM.仕分数11,MSM.仕分数12,MSM.仕分数13,MSM.仕分数14,MSM.仕分数15,
-- 			MSM.仕分数16,MSM.仕分数17,MSM.仕分数18,MSM.仕分数19,MSM.仕分数20,
-- 			MSM.仕分数21,MSM.仕分数22,MSM.仕分数23,MSM.仕分数24,MSM.仕分数25,
-- 			MSM.仕分数26,MSM.仕分数27,MSM.仕分数28,MSM.仕分数29,MSM.仕分数30
		+ ' FROM TD見積 AS MH'
			+ ' INNER JOIN VD見積シートM AS MSM ON MH.見積番号 = MSM.見積番号'
	 		+ ' INNER JOIN TM担当者 AS MT ON MH.担当者CD = MT.担当者CD'
			+ ' LEFT JOIN TM製品 AS SE(NOLOCK)'--2018/07/21 ADD
			+ ' ON MSM.製品NO = SE.製品NO'--2018/07/21 ADD
			+ ' AND MSM.仕様NO = SE.仕様NO'--2018/07/21 ADD
--2009/04/22 DEL↓
-- 		+ ' WHERE '
-- 			+ 'NOT (' + @WHERE総数
-- 			+ ' AND ' + @WHERE社在
-- 			+ ' AND ' + @WHERE客在
-- 			+ ' AND ' + @WHERE転用
-- 			+ ')'
-- 			+ ' AND MH.見積番号 = ' + @i見積番号
--2009/04/22 DEL↑
--2009/04/22 ADD↓
		+ ' WHERE '
			+ ' MH.見積番号 = ' + @i見積番号
			+ ' AND (' 
				--通常明細パターン
				+ '(MSM.見積区分 IN ('''',''1'',''2'',''3'',''4'',''5'',''6'',''7'',''8'',''9'')'
				+ ' AND NOT (MSM.総数量 = 0 AND MSM.社内在庫数 = 0 AND MSM.客先在庫数 = 0 AND MSM.転用数 = 0))'
				--コメントAパターン
				+ ' OR ' 
					+ '(MSM.見積区分 IN (''A'')'
					+ ' AND NOT (' + @WHERE総数A
						+ ' AND ' + @WHERE社在A
						+ ' AND ' + @WHERE客在A
						+ ' AND ' + @WHERE転用A
						+ ')'
					+ ')'
				--コメントC・Sパターン
				+ ' OR '
					+ '(MSM.見積区分 IN (''C'',''S'')'
					+ ' AND NOT (' + @WHERE総数
						+ ' AND ' + @WHERE社在
						+ ' AND ' + @WHERE客在
						+ ' AND ' + @WHERE転用
						+ ')'
					+ ')'
			+ ')'
--2009/04/22 ADD↑
		+ ' ORDER BY (CASE WHEN (MSM.仕入先CD = ''3150'' OR MSM.仕入先CD = ''9999'' OR MSM.配送先CD = ''03'') THEN 2 ELSE CASE WHEN (MSM.配送先CD = ''01'' AND MSM.仕入先CD <> ''3150'') THEN 1 ELSE 3 END END),MSM.仕入先CD,MH.見積番号,MSM.行番号'
		--+ ' ORDER BY MH.見積番号,MSM.行番号'
		)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
