/****** Object:  StoredProcedure [dbo].[×usp_TN1301SetTmp担当者別社内在庫入庫]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[×usp_TN1301SetTmp担当者別社内在庫入庫]
GO
/****** Object:  StoredProcedure [dbo].[×usp_TN1301SetTmp担当者別社内在庫入庫]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN1301SetTmp入庫

	機能:	
		入庫情報を#Tmpに登録する。

 =============================================
	2013/03/02	oosawa	新規作成

 =============================================*/
CREATE PROCEDURE [dbo].[×usp_TN1301SetTmp担当者別社内在庫入庫]
	(
	@i入庫明細連番	INT,
	@i入庫番号		INT,
	@i枝番			SMALLINT,
	@i製品NO		CHAR (7) ,
	@i仕様NO		CHAR (7) , 
	@i入庫数量		MONEY,
	@i明細備考		VARCHAR(40),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''


--	INSERT INTO #Tmp入庫
	INSERT INTO #Tmp入庫明細
		(
			入庫明細連番,
			入庫番号,
			枝番, 
			製品NO,
			仕様NO,
			入庫数量,
			明細備考
		)  
	VALUES 
		(
			@i入庫明細連番,
			@i入庫番号,
			@i枝番, 
			@i製品NO,
			@i仕様NO,
			@i入庫数量,
			@i明細備考
		)

	SET @ST=@@ERROR IF @ST<>0 GOTO EXIT_SP

EXIT_SP:
	SET @RetST = @ST
	SET @RetMsg = @MSG
	RETURN @ST

GO
