/****** Object:  StoredProcedure [dbo].[xxxxusp_KD0800チーム別按分経費集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[xxxxusp_KD0800チーム別按分経費集計表出力]
GO
/****** Object:  StoredProcedure [dbo].[xxxxusp_KD0800チーム別按分経費集計表出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_KD0800チーム別按分経費集計表出力

機能	経費を出力する
		チーム毎に売上金額、人数で科目を按分する
		EXCEL側でピボットテーブルを作成するのでベタ出力

引数

戻り値

修正履歴
	2016/01/11	oosawa		新規作成
	2018/02/06	oosawa		按分集計を現在の案分比率で今年・昨年分
							集計するように変更
*****************************************************/
CREATE PROCEDURE [dbo].[xxxxusp_KD0800チーム別按分経費集計表出力]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	
	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	---------------------------
	--按分経費データ作成
	---------------------------
	--2018/02/06 ADD↓
	----------------------------------------
	--	案分情報(従業員・科目案分)が複数情報を持てないため
	--	計算処理をしないようにする。
	----------------------------------------
	DECLARE	@w買掛月次更新日 DATETIME
	
	SELECT @w買掛月次更新日 =  更新日付
			FROM TMDates
			WHERE DateID = '買掛月次更新日'
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF	@iE集計日付 >= @w買掛月次更新日 BEGIN
		--終了集計日付が売掛月次更新日より小さい場合、計算しない。
		--前月は計算対象とする
		EXEC @ST = usp_KD0801経費按分データ作成 @iS集計日付,@iE集計日付

		IF @ST<>0 GOTO	EXIT_SP

		--前年分も現案分方法で再集計
		DECLARE	@wS前年集計日付	DATETIME,
				@wE前年集計日付	DATETIME
				
		SET @wS前年集計日付	= DATEADD(YY,-1,@iS集計日付)
		SET @wE前年集計日付	= dbo.ufn_GetLastDateOfScope(DATEADD(YY,-1,@iE集計日付),99)

		EXEC @ST = usp_KD0801経費按分データ作成 @wS前年集計日付,@wE前年集計日付

		IF @ST<>0 GOTO	EXIT_SP

		--GOTO	EXIT_SP
	END
	--EXEC @ST = usp_KD0801経費按分データ作成 @iS集計日付,@iE集計日付

	--IF @ST<>0 GOTO	EXIT_SP

	--2018/02/06 ADD↑

	---------------------------
	--経費集計
	---------------------------
	SELECT	KK.集計CD, AN.科目CD, KK.科目名,
			AN.按分金額, AN.チームCD, CM.チーム名
		FROM	TD経費按分集計 AS AN
			INNER JOIN TM科目 AS KK
				ON AN.科目CD = KK.科目CD
			INNER JOIN TMチーム AS CM
				ON AN.チームCD = CM.チームCD
		WHERE	AN.集計日付 >= @iS集計日付
			AND	AN.集計日付 <= @iE集計日付
		ORDER BY	KK.集計CD, KK.順序, CM.順序

	----SELECT	KK.集計CD,KK.科目CD, KK.科目名,
	----		金額 = ISNULL(KH.金額,0),
	----		部署CD = ISNULL(KH.部署CD,999),
	----		部署名 = ISNULL(KH.部署名,'その他')
	----	FROM TM科目 AS KK
	----		LEFT JOIN (
	----					SELECT	KM.科目CD, KM.科目名, SUM(KM.金額) AS 金額,
	----							部署CD = ISNULL(BS.部署CD,999),部署名 = ISNULL(BS.部署名,'その他')
	----						FROM	TD経費 AS KH
	----							INNER JOIN TD経費明細 AS KM
	----								ON KH.経費番号 = KM.経費番号
	----							LEFT JOIN TM担当者 AS TN
	----								ON KM.担当者CD = TN.担当者CD
	----							LEFT JOIN TM部署 AS BS
	----								ON TN.部署CD = BS.部署CD
	----						WHERE	KH.経費日付 >= @iS集計日付
	----							AND	KH.経費日付 <= @iE集計日付
	----						GROUP BY	KM.科目CD, KM.科目名, BS.部署CD,BS.部署名
	----				) AS KH
	----					ON KK.科目CD = KH.科目CD
	----		ORDER BY	KK.集計CD,KK.順序,KK.科目CD, KK.科目名, KH.部署CD, KH.部署名

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
