/****** Object:  StoredProcedure [dbo].[usp_HS0100仕入抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HS0100仕入抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_HS0100仕入抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================

名称	usp_HS0100仕入抽出

機能	指定された見積番号で仕入Ｄを採用。
		処理区分=1:新規
			残データ
			・存在して計上区分=1が存在する時　
					：仕入残Ｄ情報取得

			・存在して計上区分=1が存在しない時
			・存在しない時
					：見積Ｄ情報より[仕入残Ｄ][仕入残明細Ｄ][仕入残明細内訳Ｄ]を作成
					  ※仕入残明細内訳Ｄ作成時　
					　 　・伝票区分はすべて[1:仕入]
					　　 ・消費税額は製品Ｍの仕入税区分にて算出
		処理区分=2:修正
			存在する時　：仕入Ｄ情報取得
			存在しない時：該当データ無し

引数

戻り値

 =============================================
	2003/09/04	kawamura
	2003/11/28	oosawa	処理高速化
	2003/12/09	kawamura	新規の時は残金額を表示
	2004/02/19 	kawamura 	税額計算において単価訂正は含まない。
					外税対象額の集計変更：(仕入＋返品)
					外税額の集計変更：(仕入＋返品)＊税率
	2004/02/23	oosawa	NULL対応
	2004/07/06	oosawa		処理高速化
	2004/12/06	oosawa	コメントA・S追加
	2005/07/05	oosawa	見積区分の判断の変更
	2013/03/15	oosawa		部署・販売用コード追加
	2013/11/04	oosawa		仕分レベル削除に伴う修正
	2013/11/11	oosawa		返品が出ないので<>0に変更
	2014/03/04	oosawa		税集計区分：明細単位追加での修正（変更なし）

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	2015/01/24	oosawa		非課税対応
	2016/02/04	oosawa		税集計区分が税対象外の場合ゼロにする
	2017/06/21	oosawa		仕入先9999の場合、金額関係をゼロにする
							※ゼロで仕入を起こす流れのため
 =============================================*/
CREATE	PROCEDURE	[dbo].[usp_HS0100仕入抽出]
	(
	@i処理区分 		SMALLINT,
	@i見積番号		INT,
	@i仕入先CD		VARCHAR(10) = NULL,
	@RetMDataCnt 	INT 			OUTPUT,
	@Ret得意先CD 	VARCHAR(4) 		OUTPUT,
	@Ret大小口区分 	SMALLINT 		OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--消費税用変数
	DECLARE	@TAX		MONEY

	--仕分名称チェック変数
	DECLARE 	@MAX仕分数番号	INT,
			@MAX仕分名称番号 	INT

	SET @MAX仕分数番号 = 0
	SET @MAX仕分名称番号 = 0

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

--set @i処理区分 = 0
--set @i見積番号 = /*73470*/82828--87317

	IF  @i処理区分 = 1  BEGIN

		--修正
		------------------------------------------------------
		--仕入ヘッダー抽出
		------------------------------------------------------
		SELECT 	@Ret得意先CD = 得意先CD,
				@Ret大小口区分 = 大小口区分
			FROM 	TD見積
			WHERE 見積番号 = @i見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------------
		--仕入明細抽出
		------------------------------------------------------
		SELECT 
				仕入番号, 仕入先CD, 配送先CD, 見積番号, 仕入日付, 支払日付,
				仕入先名1, 仕入先名2, 
				配送先名1, 配送先名2, 
				合計金額, 税抜金額, 外税対象額, 外税額,
				支払年月日, 締日 = 支払締日, 支払更新FLG,
				税集計区分, 仕入端数, 消費税端数,
				件数 = 0,--???????
				初期登録日, 登録変更日
			FROM 	TD仕入明細
			WHERE	見積番号 = @i見積番号
				AND	仕入先CD = COALESCE(@i仕入先CD,仕入先CD)
			ORDER BY 仕入先CD, 配送先CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END

	IF  @i処理区分 = 0  BEGIN

		--新規

			------------------------------------------------------
			--見積より仕入残明細内訳データ作成
			----ワークを作ってから連番付けを行なう
			------------------------------------------------------
			
			--税率取得
			SET	@TAX = dbo.fn_GetTax(CONVERT(CHAR(10),GETDATE(),111))
		
			
			SELECT * INTO #TBL
				FROM (
					SELECT D.見積番号, D.仕入先CD, D.配送先CD, 
							見積行番号 = D.項目, 
							仕入明細行番号 = ROW_NUMBER() OVER(PARTITION BY D.見積番号,D.仕入先CD,D.配送先CD ORDER BY D.項目 ASC),
							D.見積明細連番,
							伝票区分=(CASE WHEN D.見積区分 = 'C' OR D.見積区分 = 'A' OR D.見積区分 = 'S' THEN D.見積区分 ELSE '1' END),
							D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.ベース色, D.漢字名称, 
							D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2, D.エラー内容,
							--数量 = (D.数量-ISNULL(SRU.仕入数量,0)),
							発注数 = (D.発注数-ISNULL(SRU.仕入数量,0)),
							D.単位名, D.仕入単価, 
							--仕入金額 = dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,0),	--2003/10/23.ADD
							仕入金額 = dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,@decimalPoint),	--2003/10/23.ADD
							D.定価, D.仕入税区分,
							--消費税額 = 0,
							消費税額 = (CASE WHEN SI.税集計区分 = 2 AND D.仕入税区分 = 0 
											THEN dbo.fn_CutFraction(SI.消費税端数, ISNULL(dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,@decimalPoint) / 100 * @TAX,0),@decimalPoint)
											ELSE 0 END),
							D.製品区分, 0 AS 計上区分,
							内税額 = (CASE WHEN D.仕入税区分 = 1 
											--THEN dbo.fn_CutFraction(SI.消費税端数, ISNULL(dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,0) / (100 + @TAX) * @TAX,0),0)
											THEN dbo.fn_CutFraction(SI.消費税端数, ISNULL(dbo.fn_CutFraction(SI.仕入端数,(D.発注数-ISNULL(SRU.仕入数量,0)) * D.仕入単価,@decimalPoint) / (100 + @TAX) * @TAX,0),@decimalPoint)
											ELSE 0 END),

							初期登録日 = CONVERT(CHAR(10), GETDATE(),111), 
							登録変更日 = CONVERT(CHAR(10), GETDATE(),111)
					FROM
						(
						--通常明細
						--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
						----------------------------------------------------------------				--2004/07/06
						--附属部材以外で
						--コメントでないもの
						----------------------------------------------------------------
						SELECT	MH.見積番号, MSM.行番号 AS 項目,
								MSM.仕入先CD, MSM.配送先CD,
								MSM.見積明細連番,
								MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
								MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
								MSM.単位名, MSM.仕入単価, 
								MSM.定価, MSM.製品区分, MSM.見積区分, 
								(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.仕入税区分,0) WHEN 3 THEN ISNULL(PC.仕入税区分,0) ELSE 0 END) AS 仕入税区分,
								MSM.発注数
							FROM TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM
								ON MSM.見積番号 = MH.見積番号
							--INNER JOIN TD見積シート内訳 AS MSU
							--	ON MSM.見積明細連番 = MSU.見積明細連番
							LEFT JOIN TM製品 AS SE
								ON MSM.製品区分 = 0 
								AND MSM.製品NO = SE.製品NO 
								AND MSM.仕様NO = SE.仕様NO
							LEFT JOIN TMPC AS PC
								ON MSM.製品区分 = 3
								AND MSM.PC区分 = PC.PC区分
								AND MSM.製品NO = PC.製品NO
							WHERE	MH.見積番号 = @i見積番号
							AND MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND MSM.発注数 <> 0

						UNION ALL
						----------------------------------------------------------------				--2004/07/06
						--コメントAのもの
						----------------------------------------------------------------
						SELECT	MH.見積番号, MSM.行番号 AS 項目,
								MSM.仕入先CD, MSM.配送先CD,
								MSM.見積明細連番,
								MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
								MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
								MSM.単位名, MSM.仕入単価, 
								MSM.定価, MSM.製品区分, MSM.見積区分, 
								(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.仕入税区分,0) WHEN 3 THEN ISNULL(PC.仕入税区分,0) ELSE 0 END) AS 仕入税区分,
								MSM.発注数
							FROM TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							--INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
							LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
							LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
							WHERE	MH.見積番号 = @i見積番号
							AND	MSM.見積区分 = 'A'
							AND		(
										SELECT  TOP 1 MSM1.発注数
										FROM TD見積シートM AS MSM1
										WHERE	MSM1.見積番号 = MSM.見積番号
--											AND 	MSM1.見積区分 = ''
											AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 >= MSM.行番号
										ORDER BY MSM1.行番号 ASC
									--) > 0		--2003/11/01
									) <> 0			--2003/12/08
						UNION ALL
						----------------------------------------------------------------				--2004/07/06
						--附属部材以外で
						--コメントCSのもの
						----------------------------------------------------------------
						SELECT	MH.見積番号, MSM.行番号 AS 項目,
								MSM.仕入先CD, MSM.配送先CD,
								MSM.見積明細連番,
								MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
								MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
								MSM.単位名, MSM.仕入単価, 
								MSM.定価, MSM.製品区分, MSM.見積区分, 
								(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.仕入税区分,0) WHEN 3 THEN ISNULL(PC.仕入税区分,0) ELSE 0 END) AS 仕入税区分,
								MSM.発注数
							FROM TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							--INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
							LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
							LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
							WHERE	MH.見積番号 = @i見積番号
							AND	(MSM.見積区分 = 'C'
								OR	MSM.見積区分 = 'S')
							AND		(
										SELECT  TOP 1 MSM1.発注数
										FROM TD見積シートM AS MSM1
										WHERE	MSM1.見積番号 = MSM.見積番号
--											AND 	MSM1.見積区分 = ''
											AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 <= MSM.行番号
										ORDER BY MSM1.行番号 DESC
									--) > 0		--2003/11/01
									) <> 0			--2003/12/08

						) AS D
						LEFT JOIN TM仕入先 AS SI
							ON D.仕入先CD = SI.仕入先CD
						LEFT JOIN (
									SELECT	見積明細連番,
											仕入数量 = SUM(仕入数量)
										FROM	TD仕入明細内訳
										GROUP BY 見積明細連番
								) AS SRU
							ON D.見積明細連番 = SRU.見積明細連番
						WHERE	(D.発注数-ISNULL(SRU.仕入数量,0)) <> 0
							AND	D.仕入先CD = COALESCE(@i仕入先CD,D.仕入先CD)
						
					) AS SYUUKEI
					--ORDER BY 	D.仕入先CD, D.配送先CD,D.項目

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
--select * from #TBL

			--2017/06/21 ADD↓
			------------------------------------------------------
			--仕入先9999のデータは金額関係をZEROに書き換える。
			--仕入金額・消費税額・内税額
			------------------------------------------------------
			UPDATE #TBL
					SET 仕入単価 = 0,
						仕入金額 = 0,
						消費税額 = 0,
						内税額 = 0
				WHERE	仕入先CD = '9999'

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			--2017/06/21 ADD↑
			
			------------------------------------------------------
			--明細内訳を集計して明細を作成
			------------------------------------------------------
			SELECT	D.見積番号, 
					仕入番号 = 0,
					D.件数,
					D.仕入先CD,D.配送先CD, 
					仕入日付 = CONVERT(CHAR(10), GETDATE(),111),
					支払日付 = CONVERT(CHAR(10), GETDATE(),111), 
					SI.仕入先名1, SI.仕入先名2, SI.税集計区分, SI.仕入端数, SI.消費税端数,
					支払年月日 = NULL,SI.締日,支払更新FLG = 0,
					HA.配送先名1, HA.配送先名2, 
					合計金額 = 仕入外税対象額 + 仕入内税対象額
							 + 返品外税対象額 + 返品内税対象額
							 + 訂正外税対象額 + 訂正内税対象額
							 + 仕入非課税対象額 + 返品非課税対象額 + 訂正非課税対象額,--2015/01/24 ADD
					税抜金額 = 仕入外税対象額 + 仕入内税対象額 - 仕入内税額 
							 + 返品外税対象額 + 返品内税対象額 - 返品内税額
							 + 訂正外税対象額 + 訂正内税対象額 - 訂正内税額
							 + 仕入非課税対象額 + 返品非課税対象額 + 訂正非課税対象額,--2015/01/24 ADD
					外税対象額 = 仕入外税対象額
							   + 返品外税対象額,
					外税額 = CASE WHEN SI.税集計区分 = 0
										 THEN dbo.fn_CutFraction(消費税端数,(仕入外税対象額 + 返品外税対象額) / 100 * @TAX,@decimalPoint)
								WHEN SI.税集計区分 = 1 THEN 0
								WHEN SI.税集計区分 = 2 THEN 明細消費税合計
								ELSE 0--2016/02/04 ADD
						   END 
				FROM
					(
					SELECT 	MM.見積番号, MM.仕入先CD, MM.配送先CD,
							件数 = COUNT(仕入明細行番号),
							--税集計区分, 仕入端数, 消費税端数, 伝票区分, 仕入税区分, 
							仕入外税対象額 = SUM(ISNULL((CASE WHEN 伝票区分 = '1' AND 仕入税区分 = 0 THEN 仕入金額 END),0)),
							仕入内税対象額 = SUM(ISNULL((CASE WHEN 伝票区分 = '1' AND 仕入税区分 = 1 THEN 仕入金額 END),0)),
							仕入内税額 = SUM(dbo.fn_CutFraction(消費税端数, ISNULL((CASE WHEN 伝票区分 = '1' AND 仕入税区分 = 1 THEN 仕入金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
							--2015/01/24 ADD
							仕入非課税対象額 = SUM(ISNULL((CASE WHEN MM.伝票区分 = '1' AND MM.仕入税区分 = 2 THEN MM.仕入金額 END),0)),
							返品外税対象額 = SUM(ISNULL((CASE WHEN 伝票区分 = '2' AND 仕入税区分 = 0 THEN 仕入金額 END),0)),
							返品内税対象額 = SUM(ISNULL((CASE WHEN 伝票区分 = '2' AND 仕入税区分 = 1 THEN 仕入金額 END),0)),
							返品内税額 = SUM(dbo.fn_CutFraction(SI.消費税端数, ISNULL((CASE WHEN 伝票区分 = '2' AND 仕入税区分 = 1 THEN 仕入金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
							--2015/01/24 ADD
							返品非課税対象額 = SUM(ISNULL((CASE WHEN MM.伝票区分 = '2' AND MM.仕入税区分 = 2 THEN MM.仕入金額 END),0)),
							訂正外税対象額 = SUM(ISNULL((CASE WHEN 伝票区分 = '3' AND 仕入税区分 = 0 THEN 仕入金額 END),0)),
							訂正内税対象額 = SUM(ISNULL((CASE WHEN 伝票区分 = '3' AND 仕入税区分 = 1 THEN 仕入金額 END),0)),
							訂正内税額 = SUM(dbo.fn_CutFraction(SI.消費税端数, ISNULL((CASE WHEN 伝票区分 = '3' AND 仕入税区分 = 1 THEN 仕入金額 / (100 + @TAX) * @TAX END),0),@decimalPoint)),
							--2015/01/24 ADD
							訂正非課税対象額 = SUM(ISNULL((CASE WHEN MM.伝票区分 = '3' AND MM.仕入税区分 = 2 THEN MM.仕入金額 END),0)),
							明細消費税合計 = SUM(MM.消費税額)
						FROM #TBL AS MM
							LEFT JOIN TM仕入先 AS SI
								ON MM.仕入先CD = SI.仕入先CD
						GROUP BY 	MM.見積番号, MM.仕入先CD, MM.配送先CD
					) AS D
						LEFT JOIN TM仕入先 AS SI
							ON D.仕入先CD = SI.仕入先CD
						LEFT JOIN TM配送先 AS HA
							ON D.配送先CD = HA.配送先CD
				ORDER BY     D.見積番号, D.仕入先CD, D.配送先CD


			--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

				------------------------------------------------------
				--仕入明細件数
				------------------------------------------------------
				IF @@ROWCOUNT = 0 BEGIN
					SET @ST = -1
					SET @MSG = '指定の見積番号は仕入明細が存在しません。'
					GOTO EXIT_SP
				END

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


--drop table #TBL
	

		--------------------------------------------------------
		----仕入ヘッダー抽出
		--------------------------------------------------------
		SELECT 	@Ret得意先CD = 得意先CD,
				@Ret大小口区分 = 大小口区分
			FROM 	TD見積
			WHERE 見積番号 = @i見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	END--処理区分END


EXIT_SP:
	print ltrim(str(@st))
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
			--ロック情報を戻す
			--EXEC usp_UnLockData '見積番号', @i見積番号, NULL, @CompName, @ST OUTPUT, @MSG OUTPUT
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
