/****** Object:  StoredProcedure [dbo].[旧_usp_MT0100UPD見積]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[旧_usp_MT0100UPD見積]
GO
/****** Object:  StoredProcedure [dbo].[旧_usp_MT0100UPD見積]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_MT0100UPD見積

	機能:	
		見積情報および、員数情報を登録する。
		
 =============================================
	2003/07/28	oosawa
	2003/07/28	kawamura	製品区分追加
	2003/08/05	oosawa	PCマスタの更新を追加
					得意先マスタの更新を追加
	2003/10/29	oosawa	見積区分追加
	2004/11/20	oosawa	見積区分A・Sの追加
	2005/07/04	oosawa	得意先別見積番号の追加
	2005/10/14	kawamura	U区分の追加
	2009/08/13	oosawa	売上納期の追加
	2009/09/26	oosawa	見積区分の追加
	2010/05/12	oosawa	率がSMALLINTになっているのをMONEYに変更
	2011/11/29	oosawa	UPDATE時エラー内容が抜けていた
	2012/10/26	oosawa	TD見積の初期更新日・登録変更日に時刻を入れるように変更
	2013/03/08	oosawa	部署CD・社内伝用得意先項目追加
=============================================*/
CREATE	PROCEDURE	[dbo].[旧_usp_MT0100UPD見積]
	(
	@i見積番号		INT,
	@i担当者CD		SMALLINT,
	@i見積日付		DATETIME,
	@i見積件名		VARCHAR (80),
	@i得意先CD		VARCHAR (4),
	@i得意先名1		VARCHAR (28),
	@i得意先名2		VARCHAR (28),
	@i得TEL		VARCHAR (15),
	@i得FAX		VARCHAR (15),
	@i得意先担当者	VARCHAR (40),
	@i納入得意先CD	VARCHAR (4),
	@i納入先CD		VARCHAR (4),
	@i納入先名1		VARCHAR (28),
	@i納入先名2		VARCHAR (28),
	@i郵便番号		VARCHAR (8),
	@i住所1		VARCHAR (32),
	@i住所2		VARCHAR (32),
	@i納TEL		VARCHAR (15),
	@i納FAX		VARCHAR (15),
	@i納入先担当者	VARCHAR (40),
	@i納期S		DATETIME,
	@i納期E		DATETIME,
	@i備考			VARCHAR (60),
	@i物件規模金額	MONEY,
	@iオープン日		DATETIME,
	@i物件種別		SMALLINT,
	@i現場名		VARCHAR (28),
	@i支払条件		SMALLINT,
	@i支払条件その他	VARCHAR (30),
	@i納期表示		SMALLINT,
	@i納期その他		VARCHAR (30),
	@i見積日出力		SMALLINT,
	@i有効期限		SMALLINT,
	@i受注区分		SMALLINT,
	@i受注日付		DATETIME,
	@i大小口区分		SMALLINT,
	@i出精値引		MONEY,
	@i税集計区分		SMALLINT,
	@i売上端数		SMALLINT,
	@i消費税端数		SMALLINT,
	@i合計金額		MONEY,
	@i原価合計		MONEY,
	@i原価率		MONEY,
	@i外税額		MONEY,
	@CompName		VARCHAR(100),
	@i得意先別見積番号	INT,					--2005/07/04 ADD
	@i見積区分		SMALLINT,				--2009/09/26 ADD

	--2013/03/08 ADD↓
	@i部署CD			SMALLINT,
	@i販売先得意先CD	VARCHAR(4),
	@i販売先得意先名1	VARCHAR(28),
	@i販売先得意先名2	VARCHAR(28),
	@i販売先納得意先CD	VARCHAR(4),
	@i販売先納入先CD	VARCHAR(4),
	@i販売先納入先名1	VARCHAR(28),
	@i販売先納入先名2	VARCHAR(28),
	--2013/03/08 ADD↑

	@RetMNO 		INT			OUTPUT,
	@RetTNO		INT			OUTPUT,	--2005/07/04 ADD
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS

	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@ROWS見積	INT

	--旧見積の受注区分
	DECLARE	@w受注区分		SMALLINT

	--見積番号取得用変数
--	DECLARE	@w見積番号		INT

	--見積シートＭのカーソル
--	DECLARE	@csr			CURSOR

	--見積シートＭ用カーソル変数
	DECLARE	@c見積明細連番 INT ,
			@c見積番号 	INT ,
			--@cシート番号 INT ,
			@c行番号 	INT ,
			@c追番 	INT ,
			@c展開CHK 	SMALLINT,
			@c見積区分 	VARCHAR (1),		--2003/10/29	ADD
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
-- 			@c仕入率	SMALLINT,		--2010/05/12 DEL
			@c仕入率	MONEY,		--2010/05/12 ADD
			@c売上単価 	MONEY,
-- 			@c売上率	SMALLINT,		--2010/05/12 DEL
			@c売上率	MONEY,		--2010/05/12 ADD
			@cU区分 	VARCHAR (1),		--2005/10/14 ADD
			@cM区分 	VARCHAR (1),
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c売上金額 	MONEY,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c仕入先CD 	VARCHAR (4),
			@c仕入先名 	VARCHAR (8),
			@c配送先CD 	VARCHAR (4),
			@c配送先名	VARCHAR (8),
			@c社内在庫数 MONEY,
			@c客先在庫数 MONEY,
			@c転用数 	MONEY,
			@c発注数	MONEY,
			@c総数量 	MONEY,
			@c製品区分 	SMALLINT,
			@c仕分数1 	MONEY,
			@c仕分数2 	MONEY,
			@c仕分数3 	MONEY,
			@c仕分数4 	MONEY,
			@c仕分数5 	MONEY,
			@c仕分数6 	MONEY,
			@c仕分数7 	MONEY,
			@c仕分数8 	MONEY,
			@c仕分数9 	MONEY,
			@c仕分数10 	MONEY,
			@c仕分数11	MONEY,
			@c仕分数12 	MONEY,
			@c仕分数13 	MONEY,
			@c仕分数14 	MONEY,
			@c仕分数15 	MONEY,
			@c仕分数16 	MONEY,
			@c仕分数17 	MONEY,
			@c仕分数18 	MONEY,
			@c仕分数19 	MONEY,
			@c仕分数20 	MONEY,
			@c仕分数21 	MONEY,
			@c仕分数22 	MONEY,
			@c仕分数23 	MONEY,
			@c仕分数24 	MONEY,
			@c仕分数25 	MONEY,
			@c仕分数26 	MONEY,
			@c仕分数27 	MONEY,
			@c仕分数28 	MONEY,
			@c仕分数29 	MONEY,
			@c仕分数30 	MONEY

	--カウント用
	DECLARE	@i	INT

	--仕分数割り振り用
	DECLARE	@仕分数	MONEY

	--在庫チェック時のエラー変数
	DECLARE	/*@o社内在庫引当済F	SMALLINT,*/
			@oエラー内容		VARCHAR(256)

	--見積区分追加に伴い項目をホールドする
	DECLARE	@h仕入先CD	VARCHAR(4),
			@h仕入先名 	VARCHAR (8),
			@h配送先CD	VARCHAR(4),
			@h配送先名	VARCHAR (8)

	--得意先別見積番号用変数
	DECLARE	@w得意先別見積番号	INT,
			@w得意先CD	VARCHAR(4)

	-- トランザクションを開始します
--	BEGIN TRAN

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@w受注区分 = 0
--	SET	@wエラー内容 = ''

	--------------------------------------------------
	--見積ヘッダー部を登録します。
	--------------------------------------------------
	IF NOT EXISTS (SELECT 見積番号 FROM TD見積 WHERE 見積番号 = @i見積番号 ) BEGIN
		--存在しない場合
		--受注区分が確定・仮の場合でも明細がないので在庫の更新はしない

		--見積番号を取得します
		EXEC	@ST = usp_GetCounter '見積番号', '', @i見積番号 OUTPUT
		--EXEC	@ST = usp_GetCounter '見積番号', '', @w見積番号 OUTPUT

		--PRINT '見積番号:' + CONVERT(VARCHAR(7),@w見積番号)

		IF(@ST<>0) GOTO EXIT_SP

		--得意先別見積番号を取得します	2005/07/04 ADD
		EXEC	@ST = usp_GetCounter '見積番号', @i得意先CD, @i得意先別見積番号 OUTPUT
		IF(@ST<>0) GOTO EXIT_SP

		INSERT	TD見積
			(
				見積番号, 担当者CD, 見積日付, 見積件名, 
				得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者, 
				納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者, 
				納期S, 納期E, 備考, オープン日, 
				物件種別, 現場名, 支払条件, 支払条件その他, 納期表示, 納期その他, 
				見積日出力, 有効期限, 受注区分, 受注日付, 大小口区分, 出精値引,
				税集計区分, 売上端数, 消費税端数, 合計金額, 原価合計, 原価率, 外税額,
				初期登録日,登録変更日,
				得意先別見積番号,					--2005/07/04 ADD
				売上納期,						--2009/08/13 ADD
				見積区分,						--2009/09/26 ADD
				--2013/03/08 ADD↓
				部署CD,
				販売先得意先CD,
				販売先得意先名1,
				販売先得意先名2,
				販売先納得意先CD,
				販売先納入先CD,
				販売先納入先名1,
				販売先納入先名2
				--2013/03/08 ADD↑
			)
			VALUES
			(
				@i見積番号, @i担当者CD, @i見積日付, @i見積件名, 
				@i得意先CD, @i得意先名1, @i得意先名2, @i得TEL, @i得FAX, @i得意先担当者, 
				@i納入得意先CD, @i納入先CD, @i納入先名1, @i納入先名2, @i郵便番号, @i住所1, @i住所2, @i納TEL, @i納FAX, @i納入先担当者, 
				@i納期S, @i納期E, @i備考, @iオープン日, 
				@i物件種別, @i現場名, @i支払条件, @i支払条件その他, @i納期表示, @i納期その他, 
				@i見積日出力, @i有効期限, @i受注区分, @i受注日付, @i大小口区分, @i出精値引,
				@i税集計区分, @i売上端数, @i消費税端数, @i合計金額, @i原価合計, @i原価率, @i外税額,
				--CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111),--2012/10/26 DEL
				GETDATE(),GETDATE(),--2012/10/26 ADD
				@i得意先別見積番号,						--2005/07/04 ADD
				@i納期S,							--2009/08/13 ADD
				@i見積区分,							--2009/09/26 ADD
				--2013/03/08 ADD↓
				@i部署CD,
				@i販売先得意先CD,
				@i販売先得意先名1,
				@i販売先得意先名2,
				@i販売先納得意先CD,
				@i販売先納入先CD,
				@i販売先納入先名1,
				@i販売先納入先名2
				--2013/03/08 ADD↑
			)	
	END ELSE BEGIN
		--存在する場合

		--旧受注区分の取得
		SELECT @w受注区分 = 受注区分,
				@w得意先CD = 得意先CD				--2005/07/04 ADD
			FROM TD見積
			WHERE 見積番号 = @i見積番号

		IF @i得意先CD <> @w得意先CD BEGIN 				--2005/07/04 ADD
			--得意先別見積番号を取得します
			EXEC	@ST = usp_GetCounter '見積番号', @i得意先CD, @i得意先別見積番号 OUTPUT
			IF(@ST<>0) GOTO EXIT_SP
		END

		UPDATE 	TD見積
			SET	見積番号	=	@i見積番号,
				担当者CD	=	@i担当者CD,
				見積日付	=	@i見積日付,
				見積件名	=	@i見積件名,
				得意先CD	=	@i得意先CD,
				得意先名1	=	@i得意先名1,
				得意先名2	=	@i得意先名2,
				得TEL		=	@i得TEL,
				得FAX		=	@i得FAX,
				得意先担当者	=	@i得意先担当者,
				納入得意先CD	=	@i納入得意先CD,
				納入先CD	=	@i納入先CD,
				納入先名1	=	@i納入先名1,
				納入先名2	=	@i納入先名2,
				郵便番号	=	@i郵便番号,
				住所1		=	@i住所1,
				住所2		=	@i住所2,
				納TEL		=	@i納TEL,
				納FAX		=	@i納FAX,
				納入先担当者	=	@i納入先担当者,
				納期S		=	@i納期S,
				納期E		=	@i納期E,
				備考		=	@i備考,
				オープン日	=	@iオープン日,
				物件種別	=	@i物件種別,
				現場名		=	@i現場名,
				支払条件	=	@i支払条件,
				支払条件その他	=	@i支払条件その他,
				納期表示	=	@i納期表示,
				納期その他	=	@i納期その他,
				見積日出力	=	@i見積日出力,
				有効期限	=	@i有効期限,
				受注区分	=	@i受注区分,
				受注日付	=	@i受注日付,
				大小口区分	=	@i大小口区分,
				出精値引	=	@i出精値引,
				税集計区分	=	@i税集計区分,
				売上端数	=	@i売上端数,
				消費税端数	=	@i消費税端数,
				合計金額	=	@i合計金額,
				原価合計	=	@i原価合計,
				原価率		=	@i原価率,
				外税額		=	@i外税額,
				--登録変更日	=	CONVERT(CHAR(10),GETDATE(),111),--2012/10/26 DEL
				登録変更日	=	GETDATE(),--2012/10/26 ADD
				得意先別見積番号 = @i得意先別見積番号,					--2005/07/04 ADD
				売上納期	=	@i納期S,						--2009/08/13 ADD
				見積区分	=	@i見積区分,						--2009/09/26 ADD
				--2013/03/08 ADD↓
				部署CD			=	@i部署CD,
				販売先得意先CD	=	@i販売先得意先CD,
				販売先得意先名1	=	@i販売先得意先名1,
				販売先得意先名2	=	@i販売先得意先名2,
				販売先納得意先CD	=	@i販売先納得意先CD,
				販売先納入先CD	=	@i販売先納入先CD,
				販売先納入先名1	=	@i販売先納入先名1,
				販売先納入先名2	=	@i販売先納入先名2
				--2013/03/08 ADD↑
			WHERE 	見積番号	=	@i見積番号

	END

	--------------------------------------------------
	--見積明細部を登録します。
	--------------------------------------------------

	--------------------------------------------------
	--旧見積情報の在庫数をすべて元に戻します。
	--------------------------------------------------
	--PRINT '旧見積の在庫数の戻し'
----------	IF @i受注区分 <> @w受注区分	BEGIN		--前回と今回の受注区分が違う場合
--------		IF @w受注区分 = 1	BEGIN			--前回受注区分が確定の場合　旧情報より確定分の在庫をマイナスする
--------			EXEC @ST = usp_社内在庫_出荷予定Subtract @i見積番号, @ST OUTPUT,@MSG OUTPUT
--------			IF @ST<>0 GOTO	EXIT_SP
	
--------			EXEC @ST = usp_客先在庫_出荷予定Subtract @i見積番号, @ST OUTPUT,@MSG OUTPUT
--------			IF @ST<>0 GOTO	EXIT_SP
--------		END
----------	END
	--------------------------------------------------
	--ワークテーブルにないレコードを抽出し削除します。
	--------------------------------------------------
	--PRINT 'ワークテーブルにないレコードの削除'
	--見積内訳の削除
	EXEC ('DELETE FROM TD見積シート内訳'
		+' WHERE 見積明細連番 IN (SELECT MS.見積明細連番'
							+' FROM TD見積シートM AS MS'
							+' LEFT JOIN [##Tmp見積明細_' + @CompName +'] AS TP'
							+' ON MS.見積明細連番 = TP.見積明細連番'
							+' WHERE 	MS.見積番号 = ' + @i見積番号 
							+' AND 	TP.見積明細連番 IS NULL)'
		)
	--見積シートの削除
	EXEC ('DELETE FROM TD見積シートM'
		+' WHERE 見積明細連番 IN (SELECT MS.見積明細連番'
							+' FROM TD見積シートM AS MS'
							+' LEFT JOIN [##Tmp見積明細_' + @CompName +'] AS TP'
							+' ON MS.見積明細連番 = TP.見積明細連番'
							+' WHERE 	MS.見積番号 = ' + @i見積番号 
							+' AND 	TP.見積明細連番 IS NULL)'
		)
	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------
	--PRINT 'カーソルOPEN'
	EXEC ('DECLARE	csr見積明細		CURSOR	  FORWARD_ONLY FOR '
			+'SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK,見積区分,'
					+' SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),'
					+' 漢字名称, W, D, H, D1, D2, H1, H2,'
					+' エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,'
					+' 仕入金額, 売上金額, 売上税区分, 消費税額,'
					+' 仕入先CD, 仕入先名, 配送先CD, 配送先名,'
					+' 社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,'
					+'仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,'
					+'仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,'
					+'仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30'
				+' FROM	[##Tmp見積明細_' + @CompName + ']'
				+' ORDER BY	行番号'
		)

	OPEN	csr見積明細
	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS見積 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS見積 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END
	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
	WHILE	( 0 = 0 )	BEGIN
		--PRINT 'LOOP START'

		--ホールドクリア
-- 		SET 	@h仕入先CD	= '1'
-- 		SET	@h仕入先名	= '2'
-- 		SET	@h配送先CD	= '3'
-- 		SET	@h配送先名	= '4'
 
		--積算READ
		FETCH NEXT FROM csr見積明細
			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,@c展開CHK,
				@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30



		--PRINT 'FETCH--' + CONVERT(VARCHAR(10),@c見積明細連番) 
		SET @ST = @@ERROR
		IF ( @ST <> 0 )	GOTO	EXIT_SP
		IF ( @@FETCH_STATUS <> 0 ) BREAK

--2004/11/22	DEL
		--ホールド項目をホールドする。
-- 		IF @c見積区分 = 'C' BEGIN
-- 			SET 	@c仕入先CD	= @h仕入先CD
-- 			SET	@c仕入先名	= @h仕入先名
-- 			SET	@c配送先CD	= @h配送先CD
-- 			SET	@c配送先名	= @h配送先名
-- 		END 
-- 		ELSE BEGIN
-- 			SET 	@h仕入先CD	= @c仕入先CD
-- 			SET	@h仕入先名	= @c仕入先名
-- 			SET	@h配送先CD	= @c配送先CD
-- 			SET	@h配送先名	= @c配送先名
-- 		END

		--見積シートMを更新する。
		IF EXISTS (SELECT 見積明細連番 FROM TD見積シートM WHERE 見積明細連番 = @c見積明細連番 ) BEGIN
--------			-----<在庫数更新>-----
----------			IF @i受注区分 <> @w受注区分	BEGIN		--前回と今回の受注区分が違う場合
--------				IF @i受注区分 = 1	BEGIN			--今回受注区分が確定の場合　新情報より確定分の在庫をプラスする
--------					EXEC @ST = usp_社内在庫_出荷予定Add @cSP区分,@cPC区分,@c製品NO,@c仕様NO,@c社内在庫数, @c見積数量, @c発注数, @ST OUTPUT,@MSG OUTPUT
--------					IF @ST<>0 GOTO	EXIT_SP

--------					EXEC @ST = usp_客先在庫_出荷予定Add @i得意先CD, @cSP区分, @cPC区分, @c製品NO, @c仕様NO, @c客先在庫数, @ST OUTPUT , @MSG OUTPUT 
--------					IF @ST<>0 GOTO	EXIT_SP
--------				END
----------			END

			-----<更新>-----
			UPDATE 	TD見積シートM
				SET	行番号		=	@c行番号,
					見積区分	=	@c見積区分,
					SP区分	=	@cSP区分,
					PC区分	=	@cPC区分,
					製品NO	=	@c製品NO,
					仕様NO	=	@c仕様NO,
					ベース色	=	@cベース色,
					漢字名称	=	@c漢字名称,
					W		=	@cW,
					D		=	@cD,
					H		=	@cH,
					D1		=	@cD1,
					D2		=	@cD2,
					H1		=	@cH1,
					H2		=	@cH2,
					エラー内容	= 	@cエラー内容,	--2011/11/29 ADD
					見積数量	=	@c見積数量,
--					見積数量	=	@c総数量-@c転用数-@c客先在庫数,
					単位名		=	@c単位名,
					定価		=	@c定価,
					仕入単価	=	@c仕入単価,
					仕入率		=	@c仕入率,
					売上単価	=	@c売上単価,
					売上率		=	@c売上率,
					U区分		=	@cU区分,
					M区分		=	@cM区分,
					仕入金額	=	@c仕入金額,
					売上金額	=	@c売上金額,
					売上税区分	=	@c売上税区分,
					消費税額	=	@c消費税額,
					仕入先CD	=	@c仕入先CD,
					仕入先名	=	@c仕入先名,
					配送先CD	=	@c配送先CD,
					配送先名	=	@c配送先名,
					社内在庫数	=	@c社内在庫数,
					客先在庫数	=	@c客先在庫数,
					転用数		=	@c転用数,
					総数量		=	@c総数量,
					発注数		=	@c発注数,
					製品区分 	= 	@c製品区分,
					登録変更日	=	CONVERT(CHAR(10),GETDATE(),111)
				WHERE 	見積明細連番	=	@c見積明細連番

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
			--シート内訳
			SET @i = 1
			WHILE (@i <= 30)		BEGIN
				--仕分数のセット
				IF @i = 1		SET @仕分数 = @c仕分数1
				ELSE IF @i = 2	SET @仕分数 = @c仕分数2
				ELSE IF @i = 3	SET @仕分数 = @c仕分数3
				ELSE IF @i = 4	SET @仕分数 = @c仕分数4
				ELSE IF @i = 5	SET @仕分数 = @c仕分数5
				ELSE IF @i = 6	SET @仕分数 = @c仕分数6
				ELSE IF @i = 7	SET @仕分数 = @c仕分数7
				ELSE IF @i = 8	SET @仕分数 = @c仕分数8
				ELSE IF @i = 9	SET @仕分数 = @c仕分数9
				ELSE IF @i = 10	SET @仕分数 = @c仕分数10
				ELSE IF @i = 11	SET @仕分数 = @c仕分数11
				ELSE IF @i = 12	SET @仕分数 = @c仕分数12
				ELSE IF @i = 13	SET @仕分数 = @c仕分数13
				ELSE IF @i = 14	SET @仕分数 = @c仕分数14
				ELSE IF @i = 15	SET @仕分数 = @c仕分数15
				ELSE IF @i = 16	SET @仕分数 = @c仕分数16
				ELSE IF @i = 17	SET @仕分数 = @c仕分数17
				ELSE IF @i = 18	SET @仕分数 = @c仕分数18
				ELSE IF @i = 19	SET @仕分数 = @c仕分数19
				ELSE IF @i = 20	SET @仕分数 = @c仕分数20
				ELSE IF @i = 21	SET @仕分数 = @c仕分数21
				ELSE IF @i = 22	SET @仕分数 = @c仕分数22
				ELSE IF @i = 23	SET @仕分数 = @c仕分数23
				ELSE IF @i = 24	SET @仕分数 = @c仕分数24
				ELSE IF @i = 25	SET @仕分数 = @c仕分数25
				ELSE IF @i = 26	SET @仕分数 = @c仕分数26
				ELSE IF @i = 27	SET @仕分数 = @c仕分数27
				ELSE IF @i = 28	SET @仕分数 = @c仕分数28
				ELSE IF @i = 29	SET @仕分数 = @c仕分数29
				ELSE IF @i = 30	SET @仕分数 = @c仕分数30

				--見積シート内訳更新
				EXEC SP_EXECUTESQL N'UPDATE	TD見積シート内訳
								SET	行番号		=	@e行番号,
									数量		=	@e仕分数
								WHERE 	見積明細連番	=	@e見積明細連番
								AND		仕分番号 = @e',
							N'@e行番号 INT,@e仕分数 MONEY,@e見積明細連番 INT,@e INT',
							@e行番号 = @c行番号,
							@e仕分数 = @仕分数,
							@e見積明細連番 = @c見積明細連番,
							@e = @i
	
				SET @i = @i + 1
			END
	
		END ELSE BEGIN
			-----------<在庫数更新>-----
			------IF @i受注区分 = 1	BEGIN			--今回受注区分が確定の場合　新情報より確定分の在庫をプラスする
			------	EXEC @ST = usp_社内在庫_出荷予定Add @cSP区分,@cPC区分,@c製品NO,@c仕様NO,@c社内在庫数, @c見積数量, @c発注数, @ST OUTPUT,@MSG OUTPUT
			------	IF @ST<>0 GOTO	EXIT_SP
			------	EXEC @ST = usp_客先在庫_出荷予定Add @i得意先CD, @cSP区分, @cPC区分, @c製品NO, @c仕様NO, @c客先在庫数, @ST OUTPUT , @MSG OUTPUT 
			------	IF @ST<>0 GOTO	EXIT_SP
			------END
	
			-----<新規>-----
			INSERT	TD見積シートM
			(
				見積番号, 行番号, 見積区分,
				SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
				W, D, H, D1, D2, H1, H2,
				エラー内容, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
				見積数量, 単位名, 仕入金額, 売上金額, 売上税区分, 消費税額,
				仕入先CD,仕入先名 , 配送先CD, 配送先名,
				社内在庫数, 客先在庫数, 転用数, 総数量,発注数,製品区分,
				初期登録日,登録変更日
	
			)
			VALUES
			(
				@i見積番号, @c行番号, @c見積区分,
				@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c見積数量,@c単位名,@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
				@c社内在庫数,@c客先在庫数,@c転用数,@c総数量,@c発注数,@c製品区分,
				CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111)
			)

			SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP
			--PRINT '5'
			-----<シート内訳新規>------
			SET @c見積明細連番 = IDENT_CURRENT('TD見積シートM')
	
			SET @i = 1

			WHILE (@i <= 30)		BEGIN
--				PRINT '@i'
--				PRINT '@i' + CONVERT(VARCHAR(2),@i)
				--仕分数のセット
				IF @i = 1		SET @仕分数 = @c仕分数1
				ELSE IF @i = 2	SET @仕分数 = @c仕分数2
				ELSE IF @i = 3	SET @仕分数 = @c仕分数3
				ELSE IF @i = 4	SET @仕分数 = @c仕分数4
				ELSE IF @i = 5	SET @仕分数 = @c仕分数5
				ELSE IF @i = 6	SET @仕分数 = @c仕分数6
				ELSE IF @i = 7	SET @仕分数 = @c仕分数7
				ELSE IF @i = 8	SET @仕分数 = @c仕分数8
				ELSE IF @i = 9	SET @仕分数 = @c仕分数9
				ELSE IF @i = 10	SET @仕分数 = @c仕分数10
				ELSE IF @i = 11	SET @仕分数 = @c仕分数11
				ELSE IF @i = 12	SET @仕分数 = @c仕分数12
				ELSE IF @i = 13	SET @仕分数 = @c仕分数13
				ELSE IF @i = 14	SET @仕分数 = @c仕分数14
				ELSE IF @i = 15	SET @仕分数 = @c仕分数15
				ELSE IF @i = 16	SET @仕分数 = @c仕分数16
				ELSE IF @i = 17	SET @仕分数 = @c仕分数17
				ELSE IF @i = 18	SET @仕分数 = @c仕分数18
				ELSE IF @i = 19	SET @仕分数 = @c仕分数19
				ELSE IF @i = 20	SET @仕分数 = @c仕分数20
				ELSE IF @i = 21	SET @仕分数 = @c仕分数21
				ELSE IF @i = 22	SET @仕分数 = @c仕分数22
				ELSE IF @i = 23	SET @仕分数 = @c仕分数23
				ELSE IF @i = 24	SET @仕分数 = @c仕分数24
				ELSE IF @i = 25	SET @仕分数 = @c仕分数25
				ELSE IF @i = 26	SET @仕分数 = @c仕分数26
				ELSE IF @i = 27	SET @仕分数 = @c仕分数27
				ELSE IF @i = 28	SET @仕分数 = @c仕分数28
				ELSE IF @i = 29	SET @仕分数 = @c仕分数29
				ELSE IF @i = 30	SET @仕分数 = @c仕分数30

				--見積シート内訳登録
				EXEC SP_EXECUTESQL N'INSERT	TD見積シート内訳
									(見積明細連番, 見積番号, 行番号, 仕分番号, 数量)
								VALUES
									(@e見積明細連番,@e見積番号, @e行番号,@e,@e仕分数)',
							N'@e見積明細連番 INT,@e見積番号 INT,@e行番号 INT,@e INT,@e仕分数 MONEY',
							@e見積明細連番 = @c見積明細連番,
							@e見積番号 = @i見積番号,
							@e行番号 = @c行番号,
							@e仕分数 = @仕分数,
							@e = @i
	
				SET @i = @i + 1
			END
	
		END--見積シートM（新規・更新）
		--PRINT 'LOOP END'

		--------------------------------------------------
		--PCマスタの最終たちの更新
		--------------------------------------------------	
		UPDATE	TMPC
			SET	最終得意先CD = @i得意先CD,
				最終見積日付 = @i見積日付,
				最終仕入単価 = @c仕入単価
			WHERE	PC区分 = @cPC区分
			AND		製品NO = @c製品NO
			AND		@c製品区分 = 3
		
	END--WHILE

	--2004/12/01	ADD---------------------------------------------------------------------------------------
	--------------------------------------------------
	--コメント行の仕入先等の更新
	--------------------------------------------------	
 	UPDATE TD見積シートM
		SET 仕入先CD = (SELECT TOP 1 仕入先CD FROM TD見積シートM AS MSM1 
						WHERE MSM1.見積番号 = MSM.見積番号
						AND 	MSM1.見積区分 = ''
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
			仕入先名 = (SELECT TOP 1 仕入先名 FROM TD見積シートM AS MSM1 
						WHERE MSM1.見積番号 = MSM.見積番号
						AND 	MSM1.見積区分 = ''
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
			配送先CD = (SELECT TOP 1 配送先CD FROM TD見積シートM AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						AND 	MSM1.見積区分 = ''
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
			配送先名 = (SELECT TOP 1 配送先名 FROM TD見積シートM AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						AND 	MSM1.見積区分 = ''
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) 
		FROM		TD見積シートM AS MSM 
		WHERE	見積番号 = @i見積番号
		AND		見積区分 = 'A'

	SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP

	UPDATE TD見積シートM
		SET 仕入先CD = (SELECT TOP 1 仕入先CD FROM TD見積シートM AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						AND 	MSM1.見積区分 = ''
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
			仕入先名 = (select top 1 仕入先名 from td見積シートM as msm1 where MSM1.見積番号 = MSM.見積番号
						AND 	MSM1.見積区分 = ''
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
			配送先CD = (select top 1 配送先CD from td見積シートM as msm1 where MSM1.見積番号 = MSM.見積番号
						AND 	MSM1.見積区分 = ''
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
			配送先名 = (select top 1 配送先名 from td見積シートM as msm1 where MSM1.見積番号 = MSM.見積番号
						AND 	MSM1.見積区分 = ''
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) 
		FROM		TD見積シートM AS MSM 
		WHERE	見積番号 = @i見積番号
		AND		(見積区分 = 'C'
			OR	見積区分 = 'S')

	SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP
	------------------------------------------------------------------------------------------------------------
	--------------------------------------------------
	--得意先マスタの最終使用日の更新
	--------------------------------------------------	
	UPDATE	TM得意先
		SET	最終使用日 = CONVERT(CHAR(10),GETDATE(),111)
		WHERE 得意先CD = @i得意先CD

	--------------------------------------------------
	--獲得見積番号を返す。
	--------------------------------------------------	
	SET @RetMNO = @i見積番号
	SET @RetTNO = @i得意先別見積番号					--2005/07/04 ADD


EXIT_SP:
	--PRINT 'EXIT_SP'
	IF( CURSOR_STATUS( 'GLOBAL', 'csr見積明細' ) >= 0 )	BEGIN
		CLOSE	csr見積明細
		DEALLOCATE	csr見積明細
--	IF( CURSOR_STATUS( 'variable', '@csr' ) >= 0 )	BEGIN
--		CLOSE	@csr
--		DEALLOCATE	@csr
	END
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END 
	RETURN @ST

GO
