/****** Object:  StoredProcedure [dbo].[usp_HD0100UPD売上]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0100UPD売上]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0100UPD売上]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_HD0100UPD売上

	機能:	
		売上情報・売上明細情報・売上明細内訳情報を登録する。
		
 =============================================
	2003/08/29	kawamura
	2013/03/15	oosawa		部署コード追加
 =============================================*/
CREATE	PROCEDURE	[dbo].[usp_HD0100UPD売上]
	(
	@i見積番号		INT,
	@i売上日付		DATETIME,
	@i請求日付		DATETIME,
	@i得意先CD 		VARCHAR(4),
	@i合計金額 		MONEY,
	@i税抜金額 		MONEY,
	@i外税対象額 	MONEY,
	@i外税額 		MONEY,
	@CompName		VARCHAR(100),
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	売上データを更新します。
		売上明細データを更新します。
		売上明細内訳データを更新します。

	内容	
	2003/08/29	kawamura
	2003/09/22 	kawamura 	サイズ[H1][H2]追加
	2003/10/15 	kawamura 	仕入単価・仕入金額追加
	2003/11/04 	kawamura 	伝票区分をVARCHAR(1)に変更
*/

	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@ROWS売上明細		INT,
			@ROWS売上明細内訳	INT

	--消費税用変数
--	DECLARE	@TAX		MONEY

	--売上ヘッダー変数
	DECLARE 	@f合計金額 		VARCHAR(50),
			@f税抜金額 		VARCHAR(50),
			@f外税対象額 	VARCHAR(50),
			@f外税額 		VARCHAR(50)

	--売上明細用カーソル変数
	DECLARE	@c売上番号 	INT ,
			@c売上行番号 	INT ,
			@c仕分番号 	VARCHAR(2),
			@c仕分名称 	VARCHAR(20),
			@c合計金額 	MONEY,
			@c支払年月日 	DATETIME,
			@c支払締日 	SMALLINT,
			@c支払更新FLG SMALLINT

	--売上明細内訳用カーソル変数
	DECLARE	@c売上明細行番号 	INT,
			@c見積行番号 	INT,
			@c伝票区分 	VARCHAR (1),
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c売上単価 	MONEY,
			@c仕入単価 	MONEY,
			@c売上数量 	MONEY,
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c売上金額 	MONEY ,
			@c仕入金額 	MONEY ,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c製品区分 	SMALLINT

	-- トランザクションを開始します
	--BEGIN TRAN

	------------------------------------------------------
	--グローバル一時テーブルよりワークテーブルへ
	------------------------------------------------------
	SELECT * INTO #wk売上
		FROM Tmp売上
		WHERE 0 <> 0

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--売上ヘッダー部を登録します。
	--------------------------------------------------
	IF  NOT EXISTS (SELECT 売上番号 FROM TD売上 WHERE 売上番号 = @i見積番号)  BEGIN
		--存在しない場合

		--変数初期化
		SET @f合計金額 = ''
		SET @f税抜金額 = ''
		SET @f外税対象額 = ''
		SET @f外税額 = ''
		--変数セット
		SET @f合計金額 = CONVERT(VARCHAR, @i合計金額, 2) 
		SET @f税抜金額 = CONVERT(VARCHAR, @i税抜金額, 2) 
		SET @f外税対象額 = CONVERT(VARCHAR, @i外税対象額, 2) 
		SET @f外税額 = CONVERT(VARCHAR, @i外税額, 2) 

		EXEC ('INSERT INTO TD売上'
			+ ' ('
				+ '売上番号, 見積番号, '
				+ '売上日付, 請求日付, '
				+ '担当者CD, 見積件名,'
				+ '得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,'
				+ '納入得意先CD, 納入先CD, 納入先名1, 納入先名2, '
				+ '郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者,'
				+ '納期S, 納期E, 備考, 現場名, 大小口区分, '
				+ '合計金額, 税抜金額, 外税対象額, 外税額,'
				+ '請求年月日, 請求締日, 請求更新FLG,'
				+ '税集計区分, 売上端数, 消費税端数, 鏡番号,'
				+ '初期登録日, 登録変更日,'
				--2013/03/15 ADD↓
				+ '部署CD'
				--2013/03/15 ADD↑
			+ ')'
			+ 'SELECT '
				+ '売上番号, 見積番号, '
				+ ''''+ @i売上日付 + ''',''' + @i請求日付 + ''','
				+ '担当者CD, 見積件名,'
				+ '得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,'
				+ '納入得意先CD, 納入先CD, 納入先名1, 納入先名2, '
				+ '郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者,'
				+ '納期S, 納期E, 備考, 現場名, 大小口区分, '
				+ @f合計金額 + ',' + @f税抜金額 + ',' + @f外税対象額 + ',' + @f外税額 + ','
				+ '請求年月日, 請求締日, 請求更新FLG,'
				+ '税集計区分, 売上端数, 消費税端数, 鏡番号,'
				+ '初期登録日, 登録変更日,'
				--2013/03/15 ADD↓
				+ '部署CD'
				--2013/03/15 ADD↑
			+ ' FROM [##Tmp売上_' + @CompName + ']'
			)
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END ELSE BEGIN
		--存在する場合

		UPDATE 	TD売上
			SET	売上日付	=	@i売上日付,
				請求日付 	= 	@i請求日付,
				合計金額 	= 	@i合計金額,
				税抜金額 	= 	@i税抜金額,
				外税対象額 	= 	@i外税対象額,
				外税額 	= 	@i外税額,
				登録変更日	=	CONVERT(CHAR(10),GETDATE(),111)
			WHERE 	見積番号 = @i見積番号

		------------------------------------------------------
		------旧売上情報の在庫数をすべて元に戻します。
		------------------------------------------------------
		----EXEC @ST = usp_社内在庫_出荷数Subtract @i見積番号, @ST OUTPUT,@MSG OUTPUT
		----IF @ST<>0 GOTO	EXIT_SP

	END

	--------------------------------------------------
	--売上明細部を登録します。
	--------------------------------------------------
	--売上明細の削除
	DELETE FROM TD売上明細
		WHERE 売上番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------
	--PRINT 'カーソルOPEN'
	EXEC ('DECLARE	csr売上明細		CURSOR	  FORWARD_ONLY FOR '
			+'SELECT	売上番号, 売上行番号, '
					+' 仕分番号, 仕分名称, 合計金額 '
				+' FROM	[##Tmp売上明細_' + @CompName + ']'
				+' ORDER BY	売上行番号'
		)

	OPEN	csr売上明細
	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS売上明細 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--PRINT str(@ROWS売上明細)

	IF ( @ROWS売上明細 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '売上明細がありません。'
		GOTO	EXIT_SP
	END
	--------------------------------------------------
	--ワーク売上明細を展開します
	--------------------------------------------------
	WHILE	( 0 = 0 )	BEGIN
		--PRINT 'LOOP START'
		--READ
		FETCH NEXT FROM csr売上明細
			INTO	@c売上番号, @c売上行番号,
				@c仕分番号, @c仕分名称, @c合計金額

		--PRINT 'FETCH--' + CONVERT(VARCHAR(10),@c売上行番号) 
		SET @ST = @@ERROR
		IF ( @ST <> 0 )	GOTO	EXIT_SP
		IF ( @@FETCH_STATUS <> 0 ) BREAK

		-----<新規>-----
		INSERT	TD売上明細
		(
			売上番号, 売上行番号,
			仕分番号, 仕分名称, 合計金額,
			初期登録日,登録変更日
		)
		VALUES
		(
			@c売上番号, @c売上行番号,
			@c仕分番号, @c仕分名称, @c合計金額,
			CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111)
		)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END--WHILE

	--------------------------------------------------
	--売上明細内訳部を登録します。
	--------------------------------------------------
	--売上明細内訳の削除
	DELETE FROM TD売上明細内訳
		WHERE 売上番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------
	--PRINT 'カーソルOPEN'
	EXEC ('DECLARE	csr売上明細内訳		CURSOR	  FORWARD_ONLY FOR '
			+'SELECT	売上番号, 売上行番号, 売上明細行番号, 見積行番号,'
					+' 伝票区分, SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), '
					+' RTRIM(ベース色), 漢字名称, W, D, H, D1, D2, H1, H2,'
					+' エラー内容, 売上数量, 見積数量, 単位名, 定価, 売上単価, 仕入単価,'
					+' 売上金額, 仕入金額, 売上税区分, 消費税額, 製品区分'
				+' FROM	[##Tmp売上明細内訳_' + @CompName + ']'
				+' ORDER BY	売上行番号, 売上明細行番号'
		)

	OPEN	csr売上明細内訳
	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS売上明細内訳 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS売上明細内訳 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '売上明細内訳がありません。'
		GOTO	EXIT_SP
	END
	--------------------------------------------------
	--ワーク売上明細内訳を展開します
	--------------------------------------------------
	WHILE	( 0 = 0 )	BEGIN
		--PRINT 'LOOP START'
		--READ
		FETCH NEXT FROM csr売上明細内訳
			INTO	@c売上番号, @c売上行番号, @c売上明細行番号, @c見積行番号,
				@c伝票区分, @cSP区分, @cPC区分, @c製品NO, @c仕様NO, 
				@cベース色, @c漢字名称, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2,
				@cエラー内容, @c売上数量, @c見積数量, @c単位名, @c定価, @c売上単価, @c仕入単価,
				@c売上金額, @c仕入金額, @c売上税区分,@c消費税額, @c製品区分

		SET @ST = @@ERROR
		IF ( @ST <> 0 )	GOTO	EXIT_SP
		IF ( @@FETCH_STATUS <> 0 ) BREAK

		---------<在庫数更新>-----
		----EXEC @ST = usp_社内在庫_出荷数Add @c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@c売上数量,@c見積数量, @ST OUTPUT,@MSG OUTPUT
		----IF @ST<>0 GOTO	EXIT_SP

		-----<新規>-----
		INSERT	TD売上明細内訳
		(
			売上番号, 売上行番号, 売上明細行番号, 見積行番号,
			伝票区分, SP区分, PC区分, 製品NO, 仕様NO, 
			ベース色, 漢字名称, W, D, H, D1, D2, H1, H2,
			エラー内容, 売上数量, 見積数量, 単位名, 定価, 売上単価, 仕入単価,
			売上金額, 仕入金額, 売上税区分, 消費税額, 製品区分,
			初期登録日,登録変更日
		)
		VALUES
		(
			@c売上番号, @c売上行番号, @c売上明細行番号, @c見積行番号,
			@c伝票区分, @cSP区分, @cPC区分, @c製品NO, @c仕様NO, 
			@cベース色, @c漢字名称, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2,
			@cエラー内容, @c売上数量, @c見積数量, @c単位名, @c定価, @c売上単価, @c仕入単価,
			@c売上金額, @c仕入金額, @c売上税区分,@c消費税額, @c製品区分,
			CONVERT(CHAR(10),GETDATE(),111),CONVERT(CHAR(10),GETDATE(),111)
		)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	
	END--WHILE

/*
	--------------------------------------------------
	--売上ヘッダー合計更新
	--------------------------------------------------	
	--税率取得
	SET	@TAX = dbo.fn_GetTax(@i請求日付)

	UPDATE 	TD売上
		SET 	合計金額 = T.合計金額,
			税抜金額 = T.税抜金額,
			外税対象額 = T.外税対象額,
			外税額 = T.外税額
		FROM
			(
			SELECT 	D.売上番号, 税集計区分, 消費税端数,
					合計金額 = (SUM(売上外税対象額) + SUM(売上内税対象額)) 
						    + (SUM(返品外税対象額) + SUM(返品内税対象額)) 
						    + (SUM(訂正外税対象額) + SUM(訂正内税対象額)),
					税抜金額 = (SUM(売上外税対象額) + SUM(売上内税対象額) - SUM(売上内税額)) 
						    + (SUM(返品外税対象額) + SUM(返品内税対象額) - SUM(返品内税額)) 
						    + (SUM(訂正外税対象額) + SUM(訂正内税対象額) - SUM(訂正内税額)),
					外税対象額 = (SUM(売上外税対象額)) 
						       + (SUM(返品外税対象額)) 
						       + (SUM(訂正外税対象額)),
					外税額 = CASE WHEN 税集計区分 = 0 THEN 
								dbo.fn_CutFraction(消費税端数, 
									((SUM(売上外税対象額)) + (SUM(返品外税対象額)) + (SUM(訂正外税対象額))) / 100 * @TAX,
									0)
							WHEN 税集計区分 = 1 THEN 0
						   END 
				FROM
					(
					SELECT 	MU.売上番号, 税集計区分, 売上端数, 消費税端数, 伝票区分, 売上税区分, 
							売上外税対象額 = ISNULL((CASE WHEN 伝票区分 = 1 AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
							売上内税対象額 = ISNULL((CASE WHEN 伝票区分 = 1 AND 売上税区分 = 1 THEN SUM(売上金額) END),0),
							売上内税額 = dbo.fn_CutFraction(消費税端数, ISNULL((CASE WHEN 伝票区分 = 1 AND 売上税区分 = 1 THEN SUM(売上金額) / (100 + @TAX) * @TAX END),0),0),
							返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = 2 AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
							返品内税対象額 = ISNULL((CASE WHEN 伝票区分 = 2 AND 売上税区分 = 1 THEN SUM(売上金額) END),0),
							返品内税額 = dbo.fn_CutFraction(消費税端数, ISNULL((CASE WHEN 伝票区分 = 2 AND 売上税区分 = 1 THEN SUM(売上金額) / (100 + @TAX) * @TAX END),0),0),
							訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = 3 AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
							訂正内税対象額 = ISNULL((CASE WHEN 伝票区分 = 3 AND 売上税区分 = 1 THEN SUM(売上金額) END),0),
							訂正内税額 = dbo.fn_CutFraction(消費税端数, ISNULL((CASE WHEN 伝票区分 = 3 AND 売上税区分 = 1 THEN SUM(売上金額) / (100 + @TAX) * @TAX END),0),0)
						FROM 		TD売上明細内訳 AS MU
						INNER JOIN 	TD売上 AS MH ON MU.売上番号 = MH.売上番号
						GROUP BY 	MU.売上番号, 税集計区分, 売上端数, 消費税端数, 伝票区分, 売上税区分
					) AS D
				GROUP BY 	D.売上番号, 税集計区分, 消費税端数
			) AS T
		WHERE 	TD売上.売上番号 = T.売上番号

*/

	--------------------------------------------------
	--得意先マスタの最終使用日の更新
	--------------------------------------------------	
	UPDATE	TM得意先
		SET	最終使用日 = CONVERT(CHAR(10),GETDATE(),111)
		WHERE 得意先CD = @i得意先CD

	------------------------------------------------------
	--見積Ｄ[売上日]を更新する
	------------------------------------------------------
	UPDATE 	TD見積
		SET	売上日付 = CONVERT(CHAR(10),@i売上日付,111)
		WHERE 	見積番号 = @i見積番号


EXIT_SP:
	--PRINT 'EXIT_SP'
	IF( CURSOR_STATUS( 'GLOBAL', 'csr売上明細' ) >= 0 )	BEGIN
		CLOSE	csr売上明細
		DEALLOCATE	csr売上明細
	END
	IF( CURSOR_STATUS( 'GLOBAL', 'csr売上明細内訳' ) >= 0 )	BEGIN
		CLOSE	csr売上明細内訳
		DEALLOCATE	csr売上明細内訳
	END

	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END 
	RETURN @ST
GO
