/****** Object:  StoredProcedure [dbo].[usp_支払前残参照]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_支払前残参照]
GO
/****** Object:  StoredProcedure [dbo].[usp_支払前残参照]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_支払前残参照

機能	前回支払金額を求める

引数	@i仕入先CD	検索対象の仕入先ＩＤ
	@i支払日付	検索対象の支払日付(指定支払日)

戻り値	@o前月当残		検索された前回の当月残高
	@o前月終了日付	検索された前回の支払終了日付

*****************************************************/
CREATE PROCEDURE [dbo].[usp_支払前残参照]
	(
		@i仕入先CD	VARCHAR(4),
		@i支払日付	DATETIME,
		@o前月当残	MONEY	OUTPUT,
		@o前月終了日付	DATETIME	OUTPUT
	)
 AS

	SET NOCOUNT ON

	DECLARE	@ST			INT,
			@MSG			VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	--当月残高・支払終了日付の取得
	--------------------------------------------------
	SELECT	@o前月当残 = COALESCE(SK.当月残高,TK.導入支払金額,0),
			@o前月終了日付 = COALESCE(DATEADD(DAY,1,支払終了日付),@i支払日付)
		FROM (SELECT * FROM TM仕入先 WHERE 仕入先CD = @i仕入先CD) AS TK 
			LEFT JOIN (SELECT  MAE.仕入先CD,支払終了日付,当月残高
					FROM TM支払金額 AS MAE
					WHERE 支払日付 = (SELECT MAX(支払日付) AS 支払日付
									FROM TM支払金額
									WHERE 支払日付 < @i支払日付
									AND 仕入先CD = MAE.仕入先CD)
				) AS SK
				ON TK.仕入先CD = SK.仕入先CD

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('仕入先CD:%s 支払金額情報でエラーが発生しました。 ', 16, 1,@i仕入先CD)
		GOTO	EXIT_SP
	END

EXIT_SP:
-- 	IF (@ST = 0)	BEGIN
-- 		SET @RetST = @ST
-- 		SET @RetMSG = @MSG
-- 	END ELSE BEGIN
-- 		SET @RetST = @ST
-- 		SET @RetMSG = @MSG
-- 	END 
	RETURN @ST

GO
