/****** Object:  StoredProcedure [dbo].[usp_SE0500請求一覧表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE0500請求一覧表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE0500請求一覧表出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_SE0500請求一覧表出力

機能	指定された条件で請求一覧表データを取得する

引数
	@i請求日付
	@i開始得意先
	@i終了得意先
戻り値	

 =============================================
	2006/04/25	oosawa	締日を算出し、抽出条件にする。

*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE0500請求一覧表出力]
	@i請求日付		DATETIME,
	@i開始得意先		VARCHAR(4),
	@i終了得意先		VARCHAR(4),
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''	

	DECLARE	@wSIME	SMALLINT


	--締日算出		--2006/04/25 ADD
	IF DATEADD(DAY,-1,CONVERT(DATETIME,CONVERT(CHAR(7),DATEADD(MONTH,1,@i請求日付),111)+'/1'))	 = @i請求日付 BEGIN
		--末締め
		SET @wSIME = 99
	END ELSE BEGIN
		SET @wSIME = DAY(@i請求日付)
	END
	-------------------------------------------------------


	--請求金額マスタ抽出
	SELECT 	SK.得意先CD,TK.得意先名1,TK.得意先名2,SK.請求日付,SK.前月残高,SK.入金金額,SK.調整金額,
			ISNULL(SK.前月残高,0)-ISNULL(SK.入金金額,0)-ISNULL(SK.調整金額,0) AS 差引繰越額,
			SK.売上金額,SK.返品金額,SK.訂正金額,
			ISNULL(SK.売上金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0) AS 差引売上額,
			SK.消費税額,SK.当月残高,
			dbo.fn_Get入金予定日(@i請求日付,TK.入金サイクル,TK.入金予定日) AS 入金予定日,
			請求様式名= (CASE TK.請求様式 	WHEN 0 THEN '当社請求書'
								WHEN 1 THEN '検収請求書' 
								WHEN 2 THEN 'EDP手書き' 
								WHEN 3 THEN '手書明細式' 
								WHEN 4 THEN '手書一覧式' 
						ELSE '' END),
			TN.担当者名
		FROM 	(TM請求金額 AS SK
			LEFT JOIN  TM得意先 AS TK ON SK.得意先CD = TK.得意先CD) 
			LEFT JOIN  TM担当者 AS TN ON TK.担当者CD = TN.担当者CD
		WHERE 	SK.請求日付		=	CONVERT(VARCHAR(10),@i請求日付,111)
		    AND	SK.締日 = @wSIME			--2006/04/25 ADD
		    AND	SK.得意先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始得意先),SK.得意先CD)
		    AND	SK.得意先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了得意先),SK.得意先CD)
		    AND         	NOT(		SK.前月残高	=	0
					AND    SK.入金金額	=	0
					AND	SK.調整金額	=	0
					AND	SK.売上金額	=	0
					AND	SK.返品金額	=	0
					AND	SK.訂正金額	=	0
					AND	SK.消費税額	=	0
					AND	SK.当月残高	=	0)		
		ORDER	BY	SK.得意先CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
