/****** Object:  StoredProcedure [dbo].[usp_TN2002UPDチーム別棚卸]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2002UPDチーム別棚卸]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2002UPDチーム別棚卸]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN2002UPDチーム別棚卸

	機能:	
		棚卸入力で入力された情報を
		TD棚卸・TD棚卸明細に登録する。

 =============================================
	2017/02/03	oosawa	新規作成
 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN2002UPDチーム別棚卸]
	(
	@i棚卸番号		INT,
	--@i参照見積番号	INT,
	@i棚卸日付		DATETIME,
	@iチームCD		INT ,
	--@i得意先CD		VARCHAR(4) ,
	--@i摘要名		VARCHAR(50),

	@RetNO 		INT			OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)


	--明細カーソル用変数
	DECLARE 
			@c棚卸明細連番	INT,
			@c棚卸番号		INT,
			@c枝番			SMALLINT,
			@c製品NO		CHAR (12) ,
			@c仕様NO		CHAR (10) , 
			@c漢字名称		VARCHAR(40),
			--@c仕入先CD		VARCHAR(4),
			@c仕入端数区分	SMALLINT,
			@c消費税端数区分	SMALLINT,
			@c棚卸数量		MONEY,
			@c棚卸単価		MONEY,
			@c棚卸金額		MONEY,
			@c消費税額		MONEY,
			@c仕入税区分	SMALLINT,
			@c明細備考		VARCHAR(40),
			@c算出数量		MONEY

	--カーソル行数
	DECLARE	@ROWS棚卸	INT
	
	DECLARE	@w棚卸明細連番	INT

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	--BEGIN TRAN

	--------------------------------------------------
	--棚卸ヘッダーを更新する。
	--------------------------------------------------
	IF EXISTS (SELECT 棚卸番号 FROM TD棚卸 WHERE 棚卸番号 = @i棚卸番号 ) BEGIN
		-----<更新>-----
		--------------------------------------------------
		--棚卸データの更新
		--------------------------------------------------
		UPDATE	TD棚卸
			SET	
				棚卸日付	= @i棚卸日付,
				チームCD	= @iチームCD,
				--得意先CD	= @i得意先CD,
				摘要名		= '',--@i摘要名,
				登録変更日	= CONVERT(CHAR(10),GETDATE(),111)
		WHERE 
			棚卸番号	= @i棚卸番号
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END ELSE BEGIN

		--棚卸番号を取得します
		EXEC	@ST = usp_GetCounter '棚卸番号', '', @i棚卸番号 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP
		-----<新規>-----
		INSERT	TD棚卸
			(
				棚卸番号, 棚卸日付, 
				チームCD,
				--得意先CD,
				--参照見積番号,
				摘要名,
				初期登録日, 登録変更日
			) 
 		VALUES 
			(
				@i棚卸番号, @i棚卸日付,
				@iチームCD,
				--@i得意先CD,
				--@i参照見積番号,
				'',--@i摘要名,
				CONVERT(CHAR(10),GETDATE(),111), CONVERT(CHAR(10),GETDATE(),111)
			)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END



	--PRINT 'ワークテーブルにないレコードの削除'
	--------------------------------------------------
	--棚卸明細の削除
	--------------------------------------------------
	DELETE FROM TD棚卸明細
		WHERE 棚卸明細連番 IN (SELECT SYM.棚卸明細連番
							FROM TD棚卸明細 AS SYM
								LEFT JOIN #Tmp棚卸明細 AS TP
									ON SYM.棚卸明細連番 = TP.棚卸明細連番
							WHERE	SYM.棚卸番号 = @i棚卸番号 
								AND	TP.棚卸明細連番 IS NULL)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--------------------------------------------------
	--棚卸明細の更新
	--------------------------------------------------
	DECLARE	csr棚卸明細		CURSOR	LOCAL  FORWARD_ONLY FOR 
		SELECT	
				TMP.棚卸明細連番,
				TMP.棚卸番号,
				TMP.枝番, 
				TMP.製品NO,
				TMP.仕様NO,
				TMP.漢字名称,
				--TMP.仕入先CD,
				TMP.仕入端数区分,
				TMP.消費税端数区分,
				TMP.棚卸数量,
				TMP.棚卸単価,
				TMP.棚卸金額,
				TMP.消費税額,
				TMP.仕入税区分,
				TMP.明細備考,
				TMP.算出数量
			FROM #Tmp棚卸明細 AS TMP
				LEFT JOIN TD棚卸明細 AS SYM
					ON	TMP.棚卸明細連番 = SYM.棚卸明細連番
			ORDER BY	TMP.枝番

	OPEN	csr棚卸明細

	SELECT	@ST = @@ERROR, @ROWS棚卸 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS棚卸 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END
	--カーソルのREAD
	FETCH NEXT FROM csr棚卸明細
		INTO	@c棚卸明細連番,
				@c棚卸番号,
				@c枝番, 
				@c製品NO,
				@c仕様NO,
				@c漢字名称,
				--@c仕入先CD,
				@c仕入端数区分,
				@c消費税端数区分,
				@c棚卸数量,
				@c棚卸単価,
				@c棚卸金額,
				@c消費税額,
				@c仕入税区分,
				@c明細備考,
				@c算出数量

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
	WHILE (@@FETCH_STATUS <> -1)	BEGIN				--FETCH ステートメントが失敗したか、または行が結果セットに収まりません。
	  	 IF (@@FETCH_STATUS <> -2)	BEGIN			--取り出した行がありません。


			--棚卸明細を更新する。
			IF EXISTS (SELECT 棚卸明細連番 FROM TD棚卸明細 WHERE 棚卸明細連番 = @c棚卸明細連番 ) BEGIN
				-----<更新>-----

				UPDATE TD棚卸明細
					SET	棚卸番号		= @i棚卸番号,
						枝番			= @c枝番,
						製品NO			= @c製品NO,
						仕様NO			= @c仕様NO,
						漢字名称		= @c漢字名称,
						--仕入先CD		= @c仕入先CD,
						仕入端数区分	= @c仕入端数区分,
						消費税端数区分	= @c消費税端数区分,
						棚卸数量		= @c棚卸数量,
						棚卸単価		= @c棚卸単価,
						棚卸金額		= @c棚卸金額,
						消費税額		= @c消費税額,
						仕入税区分		= @c仕入税区分,
						明細備考		= @c明細備考,
						算出数量		= @c算出数量,
						登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
				WHERE 
					(棚卸明細連番	 = @c棚卸明細連番)

				SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

			END ELSE BEGIN

				--棚卸明細連番を取得します
				EXEC	@ST = usp_GetCounter '棚卸明細連番', '', @w棚卸明細連番 OUTPUT
				IF @ST<>0 GOTO	EXIT_SP
				
				INSERT INTO TD棚卸明細
					(
						棚卸明細連番,
						棚卸番号,
						枝番, 
						製品NO,
						仕様NO,
						漢字名称,
						--仕入先CD,
						仕入端数区分,
						消費税端数区分,
						棚卸数量,
						棚卸単価,
						棚卸金額,
						消費税額,
						仕入税区分,
						明細備考,
						算出数量,
						初期登録日,
						登録変更日
					)
				VALUES 
					(
						@w棚卸明細連番,
						@i棚卸番号,
						@c枝番, 
						@c製品NO,
						@c仕様NO,
						@c漢字名称,
						--@c仕入先CD,
						@c仕入端数区分,
						@c消費税端数区分,
						@c棚卸数量,
						@c棚卸単価,
						@c棚卸金額,
						@c消費税額,
						@c仕入税区分,
						@c明細備考,
						@c算出数量,
						CONVERT(CHAR(10),GETDATE(),111), 
						CONVERT(CHAR(10),GETDATE(),111)
					)
	
				SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			END
		END--(IF @@FETCH_STATUS <> -2)

		--カーソルのREAD
		FETCH NEXT FROM csr棚卸明細
			INTO	@c棚卸明細連番,
					@c棚卸番号,
					@c枝番, 
					@c製品NO,
					@c仕様NO,
					@c漢字名称,
					--@c仕入先CD,
					@c仕入端数区分,
					@c消費税端数区分,
					@c棚卸数量,
					@c棚卸単価,
					@c棚卸金額,
					@c消費税額,
					@c仕入税区分,
					@c明細備考,
					@c算出数量
	END

	--------------------------------------------------
	--獲得番号を返す。
	--------------------------------------------------	
	SET @RetNO = @i棚卸番号


EXIT_SP:
	IF( CURSOR_STATUS('local', 'csr棚卸明細' ) >= 0 )	BEGIN
		CLOSE	csr棚卸明細
		DEALLOCATE	csr棚卸明細
	END
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
