/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor配送先]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor配送先]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor配送先]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_ChkDelFor配送先

機能	配送先マスタメンテ[削除]のデータ存在チェック

	見積Ｄ・発注Ｄ・仕入明細Ｄ

引数	配送先CD

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor配送先]
	(
		@i配送先CD	VARCHAR(2),
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--見積シートMチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号)
		FROM 		TD見積シートM
		WHERE	(配送先CD = @i配送先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[見積明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

/*2003.12.05.DEL
	--------------------------
	--発注Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(発注番号)
		FROM 		TD発注
		WHERE	(配送先CD = @i配送先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[発注データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
*/

	--------------------------
	--仕入明細Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入番号)
		FROM 		TD仕入明細
		WHERE	(配送先CD = @i配送先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST

GO
