/****** Object:  StoredProcedure [dbo].[usp_買掛集計]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_買掛集計]
GO
/****** Object:  StoredProcedure [dbo].[usp_買掛集計]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_買掛集計

機能	指定された条件で買掛情報を作成する

引数	
	

戻り値	

修正履歴
	2002/11/28	範囲の途中で税集計情報が変わった場合
			消費税が合わなくなるのを修正
	2002/11/28	集計条件に得意先CDを追加
	2003/09/22 	bugfix
	2003/10/27	末締め以外に対応
	2003/12/22	前回の検索を修正(締日での検索は必要？)
	2004/01/22 	kawamura 	税集計区分でグループ化すると金額が合わなくなるのを修正
	2004/02/19 	kawamura 	税額計算において単価訂正は含まない。
					外税対象額の集計変更：(仕入＋返品)
					外税額の集計変更：(仕入＋返品)＊税率
	2014/03/18	oosawa		税率マスタが複数情報を持てないため
							計算処理をしないようにする。
							（古い情報を再計算してしまうと税率が異なるためおかしくなる）

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	2014/07/17	oosawa		集計日付を仕入日付に変更
	2015/02/09	oosawa		非課税金額を別に保持するように変更
							（金額には含まれる）
	2017/01/19	oosawa		3150三和倉庫は集計しない
*****************************************************/
CREATE PROCEDURE [dbo].[usp_買掛集計]
	@iDate			DATETIME,
	@i締日			INT,
	@RetST	INT			OUTPUT,
	@RetMsg	VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	--前残情報
	DECLARE	@o前残		MONEY,
			@o買掛開始日	DATETIME

	--今回出力情報
	DECLARE	@o伝票枚数		INT,
			@o仕入合計		MONEY,
			@o返品合計		MONEY,
			@o訂正合計		MONEY,
			@o前外税仕入	MONEY,
			@o後外税仕入	MONEY,
			@o前外税返品	MONEY,
			@o後外税返品	MONEY,
			@o前外税訂正	MONEY,
			@o後外税訂正	MONEY,
			@o消費税額		MONEY,
			@o支払金額		MONEY,
			@o調整金額		MONEY
			,@o非課税額合計	MONEY	--2015/02/09 ADD

	--作業情報
	DECLARE	@w前外税金額	MONEY,
			@w後外税金額	MONEY,
			@w前外税額		MONEY,
			@w後外税額		MONEY

	--カーソル項目
	DECLARE	@csr			CURSOR,
			@c仕入先CD		VARCHAR(4),
-- 			@c消費税区分	INT,
			@c消費税端数	INT

	--会社情報
	DECLARE	@入力開始日		DATETIME

	--算出開始日付
	DECLARE	@wFirstDate		DATETIME		--2003/10/27	ADD
	--算出終了日付
	DECLARE	@wLastDate		DATETIME

	--消費税情報
	DECLARE	@税切替日		DATETIME,
			@前税率		SMALLINT,
			@後税率		SMALLINT

	DECLARE	@TRAN		TINYINT,
			@ST			INT,
			@MSG			VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--トランザクション開始
	--BEGIN	TRAN
	
	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

	--会社情報取得
	SELECT	@入力開始日		=	入力開始日
		FROM		TM会社
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--消費税情報取得
	SELECT	@税切替日 = 切替日付,
			@前税率 = 旧税率,
			@後税率 = 税率
		FROM 		TM税率
		WHERE 	税率ID = 'ZR'
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--開始範囲日付取得
	EXEC usp_GetFirstDateOfScope @iDATE,@i締日,@wFirstDate output		--2003/10/27	ADD
	IF @wFirstDate IS NULL BEGIN
		SET @ST = -1
		SET @MSG = '指定日付エラー'
		GOTO EXIT_SP
	END
	--終了範囲日付取得
	EXEC usp_GetLastDateOfScope @iDATE,@i締日,@wLastDate output
	IF @wLastDate IS NULL BEGIN
		SET @ST = -1
		SET @MSG = '指定日付エラー'
		GOTO EXIT_SP
	END

	IF @入力開始日 >= @wLastDate	BEGIN
		SET @ST = -1
		SET @MSG = '指定日付が入力開始日より前です。'
		GOTO EXIT_SP
	END	

	--前回売掛情報確認
/*	IF EXISTS(SELECT * FROM TM買掛金額 WHERE NOT(締日 = @i締日 AND 買掛日付 = @iDATE)) BEGIN	2003/12/22 DEL
		IF NOT EXISTS(SELECT * FROM TM買掛金額 WHERE 締日 = @i締日
					AND 買掛日付 = DATEADD(MONTH,-1,@iDATE)) BEGIN				--その中に1ヶ月前のデータが存在しないか？
			IF DATEADD(MONTH,-1,@iDATE) > @入力開始日 BEGIN						--1ヶ月前は入力開始日より後か？	2002/11/28
				SET @ST = -1
				SET @MSG = '前月の買掛計算を行なって下さい。'
				GOTO EXIT_SP
			END
		END
	END
*/	IF EXISTS(SELECT * FROM TM買掛金額 WHERE NOT(買掛日付 = @iDATE)) BEGIN	--入力された範囲以外のデータはあるか？
		IF NOT EXISTS(SELECT * FROM TM買掛金額 WHERE 
					 買掛日付 = DATEADD(MONTH,-1,@iDATE)) BEGIN				--その中に1ヶ月前のデータが存在しないか？
			IF DATEADD(MONTH,-1,@iDATE) > @入力開始日 BEGIN						--1ヶ月前は入力開始日より後か？	2002/11/28
				SET @ST = -1
				SET @MSG = '前月の買掛計算を行なって下さい。'
				GOTO EXIT_SP
			END
		END
	END

	--2014/03/18 ADD↓
	----------------------------------------
	--	税率マスタが複数情報を持てないため
	--	計算処理をしないようにする。
	----------------------------------------
	DECLARE	@w買掛月次更新日 DATETIME
	
	SELECT @w買掛月次更新日 =  更新日付
			FROM TMDates
			WHERE DateID = '買掛月次更新日'
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF	@wLastDate <= DATEADD(MONTH,-1, @w買掛月次更新日) BEGIN
	--IF	@wLastDate <= @w買掛月次更新日 BEGIN
		--終了集計日付が買掛月次更新日より小さい場合、計算しない。
		--前月は計算対象とする
		GOTO	EXIT_SP
	END
	--2014/03/18 ADD↑
	----------------------------------------

	--旧売掛情報削除
/*	IF EXISTS(SELECT * FROM TM買掛金額 WHERE 締日 = @i締日 AND 買掛日付 = @iDATE) BEGIN		2003/12/22	DEL
		DELETE FROM TM買掛金額 WHERE 締日 = @i締日 AND 買掛日付 = @iDATE
	END
*/	IF EXISTS(SELECT * FROM TM買掛金額 WHERE 買掛日付 = @iDATE) BEGIN
		DELETE FROM TM買掛金額 WHERE 買掛日付 = @iDATE
	END
	
	--指定範囲カーソル
	SET	@csr	=	CURSOR	LOCAL	FORWARD_ONLY	STATIC FOR
		SELECT 	仕入先CD, /*税集計区分,*/ 消費税端数--2003/09/22
			FROM 		TM仕入先 AS SR
			WHERE		NOT(SR.仕入先CD = '3150')--2017/01/19 ADD
			ORDER BY 	SR.仕入先CD

	OPEN	@csr
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF (@@CURSOR_ROWS = 0)	BEGIN
		SET @ST = -1
		SET @MSG = '該当データがありません。'
		GOTO EXIT_SP
	END	

	FETCH NEXT FROM	@csr	INTO	@c仕入先CD, /*@c消費税区分,*/ @c消費税端数--2003/09/22
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	WHILE	( @@FETCH_STATUS = 0 )	BEGIN

		--前回買掛金額算出
		EXEC @ST = usp_買掛前残参照 @c仕入先CD,@wFirstDate,@o前残 OUTPUT,@o買掛開始日 OUTPUT		--2003/10/27	ADD
		--EXEC @ST = usp_買掛前残参照 @c仕入先CD,@iDATE,@o前残 OUTPUT,@o買掛開始日 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP

		--今回金額集計
		SELECT
			@o伝票枚数 	= CONVERT(INT, ISNULL(GUU.伝票枚数,0) + ISNULL(MUU.伝票枚数,0)+ISNULL(SHD.伝票枚数,0)),
			@o仕入合計 	= CONVERT(MONEY, ISNULL(GUU.仕入合計,0) + ISNULL(MUU.仕入合計,0)),
			@o返品合計 	= CONVERT(MONEY, ISNULL(GUU.返品合計,0) + ISNULL(MUU.返品合計,0)),
			@o訂正合計 	= CONVERT(MONEY, ISNULL(GUU.訂正合計,0) + ISNULL(MUU.訂正合計,0)),
			@o前外税仕入 = CONVERT(MONEY, ISNULL(MUU.仕入外税対象額,0)),
			@o後外税仕入 = CONVERT(MONEY, ISNULL(GUU.仕入外税対象額,0)),
			@o前外税返品 = CONVERT(MONEY, ISNULL(MUU.返品外税対象額,0)),
			@o後外税返品 = CONVERT(MONEY, ISNULL(GUU.返品外税対象額,0)),
			@o前外税訂正 = CONVERT(MONEY, ISNULL(MUU.訂正外税対象額,0)),
			@o後外税訂正 = CONVERT(MONEY, ISNULL(GUU.訂正外税対象額,0)),
			@o消費税額 	= CONVERT(MONEY, ISNULL(GUU.外税額,0) + ISNULL(MUU.外税額,0)),
			@o支払金額 	= CONVERT(MONEY, ISNULL(NY.支払合計,0)),
			@o調整金額 	= CONVERT(MONEY, ISNULL(CY.調整合計,0)),
			@o非課税額合計 = CONVERT(MONEY, ISNULL(GUU.非課税合計,0) + ISNULL(MUU.非課税合計,0))--2015/02/09 ADD
			
		FROM TM仕入先 AS SR

			--税切替後の仕入
			LEFT JOIN 	(
						--仕入・返品・訂正・外税(伝票単位)・伝票枚数
						SELECT 	仕入先CD, COUNT(仕入番号) AS 伝票枚数,
								外税額 = SUM(外税額), 
								仕入合計 = SUM(仕入合計),
								返品合計 = SUM(返品合計),
								訂正合計 = SUM(訂正合計),
								--2004/01/22.DEL
-- 								仕入外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(仕入外税対象額) ELSE 0 END,
-- 								返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
-- 								訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
								--2004/01/22.ADD
								仕入外税対象額 = SUM(仕入外税対象額),
								返品外税対象額 = SUM(返品外税対象額),
								訂正外税対象額 = SUM(訂正外税対象額)
								,非課税合計 = SUM(GDE.非課税額合計)--2015/02/09 ADD
							FROM
								(
								--伝票単位の各値を集計
								SELECT 	GUM.仕入先CD, GUM.仕入番号, UH.税集計区分, 
										UH.外税額,
										仕入合計 = SUM(仕入合計),
										返品合計 = SUM(返品合計),
										訂正合計 = SUM(訂正合計),
										--2004/01/22.DEL
-- 										仕入外税対象額 = SUM(仕入外税対象額),
-- 										返品外税対象額 = SUM(返品外税対象額),
-- 										訂正外税対象額 = SUM(訂正外税対象額)
										--2004/01/22.ADD
										仕入外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(仕入外税対象額) ELSE 0 END,
										返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
										訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
										,非課税額合計 = SUM(GUM.非課税額)--2015/02/09 ADD
								FROM
										(
										--伝票区分が明細内訳にある為、内訳レベルで各値集計
										SELECT 	MH.仕入先CD, MH.仕入番号, MU.伝票区分, MU.仕入税区分,
												仕入合計 = ISNULL((CASE WHEN 伝票区分 ='1' THEN SUM(仕入金額) END),0),
												返品合計 = ISNULL((CASE WHEN 伝票区分 = '2' THEN SUM(仕入金額) END),0),
												訂正合計 = ISNULL((CASE WHEN 伝票区分 = '3' THEN SUM(仕入金額) END),0),
												仕入外税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0),
												返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0),
												訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0)
												,非課税額 = SUM(ISNULL((CASE WHEN MU.仕入税区分 = 2 THEN MU.仕入金額 END),0))--2015/02/09 ADD
											FROM  	TD仕入明細内訳 AS MU
											INNER JOIN	TD仕入明細 AS MH  ON MU.仕入番号 = MH.仕入番号
											WHERE 	MH.仕入先CD = @c仕入先CD
												--2014/07/17 DEL↓
												----AND 	MH.支払日付 >=  @o買掛開始日
												----AND 	MH.支払日付 <=  @wLastDate
												----AND 	MH.支払日付 >=	@税切替日 
												--2014/07/17 ADD↓
												AND 	MH.仕入日付 >=  @o買掛開始日
												AND 	MH.仕入日付 <=  @wLastDate
												AND 	MH.仕入日付 >=	@税切替日 
												--2014/07/17 ADD↑
											GROUP BY 	MH.仕入先CD, MH.仕入番号, MU.伝票区分, MU.仕入税区分
										) AS GUM
									--伝票単位の外税額分としてヘッダー情報をつけ足す
									INNER JOIN 	TD仕入明細 AS UH ON GUM.仕入番号 = UH.仕入番号
									GROUP BY 	GUM.仕入先CD, GUM.仕入番号, UH.税集計区分, UH.外税額
								) AS GDE
							--GROUP BY 仕入先CD, 税集計区分	--2004/01/22.DEL
							GROUP BY 仕入先CD			--2004/01/22.ADD
					) AS GUU
					ON 	SR.仕入先CD = GUU.仕入先CD

			--税切替前の仕入
			LEFT JOIN 	(
						--仕入・返品・訂正・外税(伝票単位)・伝票枚数
						SELECT 	仕入先CD, COUNT(仕入番号) AS 伝票枚数,
								外税額 = SUM(外税額), 
								仕入合計 = SUM(仕入合計),
								返品合計 = SUM(返品合計),
								訂正合計 = SUM(訂正合計),
								--2004/01/22.DEL
-- 								仕入外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(仕入外税対象額) ELSE 0 END,
-- 								返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
-- 								訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
								--2004/01/22.ADD
								仕入外税対象額 = SUM(仕入外税対象額),
								返品外税対象額 = SUM(返品外税対象額),
								訂正外税対象額 = SUM(訂正外税対象額)
								,非課税合計 = SUM(MDE.非課税額合計)--2015/02/09 ADD
							FROM
								(
								--伝票単位の各値を集計
								SELECT 	MUM.仕入先CD, MUM.仕入番号, UH.税集計区分, 
										UH.外税額,
										仕入合計 = SUM(仕入合計),
										返品合計 = SUM(返品合計),
										訂正合計 = SUM(訂正合計),
										--2004/01/22.DEL
-- 										仕入外税対象額 = SUM(仕入外税対象額),
-- 										返品外税対象額 = SUM(返品外税対象額),
-- 										訂正外税対象額 = SUM(訂正外税対象額)
										--2004/01/22.ADD
										仕入外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(仕入外税対象額) ELSE 0 END,
										返品外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(返品外税対象額) ELSE 0 END,
										訂正外税対象額 = CASE 税集計区分 WHEN 1 THEN SUM(訂正外税対象額) ELSE 0 END
										,非課税額合計 = SUM(MUM.非課税額)--2015/02/09 ADD
									FROM
										(
										--伝票区分が明細内訳にある為、内訳レベルで各値集計
										SELECT 	MH.仕入先CD, MH.仕入番号, MU.伝票区分, MU.仕入税区分,
												仕入合計 = ISNULL((CASE WHEN 伝票区分 = '1' THEN SUM(仕入金額) END),0),
												返品合計 = ISNULL((CASE WHEN 伝票区分 = '2' THEN SUM(仕入金額) END),0),
												訂正合計 = ISNULL((CASE WHEN 伝票区分 = '3' THEN SUM(仕入金額) END),0),
												仕入外税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0),
												返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0),
												訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 仕入税区分 = 0 THEN SUM(仕入金額) END),0)
												,非課税額 = SUM(ISNULL((CASE WHEN MU.仕入税区分 = 2 THEN MU.仕入金額 END),0))--2015/02/09 ADD
											FROM  	TD仕入明細内訳 AS MU
											INNER JOIN	TD仕入明細 AS MH  ON MU.仕入番号 = MH.仕入番号
											WHERE 	MH.仕入先CD = @c仕入先CD
												--2014/07/17 DEL↓
												----AND	MH.支払日付 >=  @o買掛開始日
												----AND 	MH.支払日付 <=  @wLastDate
												----AND 	MH.支払日付 <	@税切替日 
												--2014/07/17 ADD↓
												AND 	MH.仕入日付 >=  @o買掛開始日
												AND 	MH.仕入日付 <=  @wLastDate
												AND 	MH.仕入日付 <	@税切替日 
												--2014/07/17 ADD↑
											GROUP BY 	MH.仕入先CD, MH.仕入番号, MU.伝票区分, MU.仕入税区分
										) AS MUM
									--伝票単位の外税額分としてヘッダー情報をつけ足す
									INNER JOIN 	TD仕入明細 AS UH ON MUM.仕入番号 = UH.仕入番号
									GROUP BY 	MUM.仕入先CD, MUM.仕入番号, UH.税集計区分, UH.外税額
								) AS MDE
							--GROUP BY 仕入先CD, 税集計区分	--2004/01/22.DEL
							GROUP BY 仕入先CD			--2004/01/22.ADD
					) AS MUU
					ON 	SR.仕入先CD = MUU.仕入先CD

			--支払金額
			LEFT JOIN 	(
						SELECT 	仕入先CD, SUM(支払金額) AS 支払合計
							FROM 		TD支払
				       	     		WHERE 	支払種別 <> 3		--入金・手形入金
								AND 	仕入先CD = @c仕入先CD
								AND 	支払日付 >=  @o買掛開始日
								AND 	支払日付 <=  @wLastDate  
							GROUP BY 	仕入先CD
					) AS NY
					ON SR.仕入先CD = NY.仕入先CD

			--調整金額
			LEFT JOIN 	(
						SELECT 	仕入先CD, SUM(支払金額) AS 調整合計
							FROM 		TD支払
				       	     		WHERE 	支払種別 = 3			--調整・値引
								AND 	仕入先CD = @c仕入先CD
								AND 	支払日付 >=  @o買掛開始日
								AND 	支払日付 <=  @wLastDate  
							GROUP BY 	仕入先CD
					) AS CY
					ON SR.仕入先CD = CY.仕入先CD

			--支払伝票枚数
			LEFT JOIN	(
						SELECT SG.仕入先CD, COUNT(SG.支払番号) AS 伝票枚数
							FROM 	(
									SELECT 仕入先CD, 支払番号
										FROM TD支払
										WHERE  	仕入先CD = @c仕入先CD
											AND 	支払日付 >=  @o買掛開始日
											AND 	支払日付 <=  @wLastDate  
										GROUP BY 	仕入先CD,支払番号) AS SG
								GROUP BY SG.仕入先CD) AS SHD
					ON SR.仕入先CD = SHD.仕入先CD

		WHERE 	SR.仕入先CD = @c仕入先CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--消費税計算
		SET @w前外税額 = 0
		SET @w後外税額 = 0
		--請求単位	--2002/11/28無条件に計算するように変更
--2004.02.19.DEL
-- -- 		SET @w前外税額 = dbo.fn_CutFraction(@c消費税端数, (@o前外税仕入+@o前外税返品+@o前外税訂正) / 100 * @前税率,0)
-- -- 		SET @w後外税額 = dbo.fn_CutFraction(@c消費税端数, (@o後外税仕入+@o後外税返品+@o後外税訂正) / 100 * @後税率,0)
--2004.02.19.ADD
		SET @w前外税額 = dbo.fn_CutFraction(@c消費税端数, (@o前外税仕入+@o前外税返品) / 100 * @前税率,@decimalPoint)
		SET @w後外税額 = dbo.fn_CutFraction(@c消費税端数, (@o後外税仕入+@o後外税返品) / 100 * @後税率,@decimalPoint)
		
		--テーブル出力
		INSERT INTO 	TM買掛金額
					(
						仕入先CD, 買掛日付, 前月残高, 支払金額, 調整金額, 
						仕入金額, 返品金額, 訂正金額, 
						消費税額, 
						当月残高,
						買掛開始日付, 買掛終了日付, 締日, 伝票枚数,
						処理日
						,非課税金額--2015/02/09 ADD
					)
			VALUES
				 	(
						@c仕入先CD, @iDATE, @o前残, @o支払金額, @o調整金額, 
						@o仕入合計, @o返品合計, @o訂正合計, 
						@o消費税額 + ISNULL(@w前外税額,0) + ISNULL(@w後外税額,0),
						@o前残 - @o支払金額 - @o調整金額 + @o仕入合計 + @o返品合計 + @o訂正合計 + @o消費税額 + ISNULL(@w前外税額,0) + ISNULL(@w後外税額,0),
						@o買掛開始日, @wLastDate, @i締日, @o伝票枚数,
						GETDATE()
						,@o非課税額合計--2015/02/09 ADD
					)


		FETCH NEXT FROM	@csr	INTO	@c仕入先CD, /*@c消費税区分,*/ @c消費税端数
 	END

EXIT_SP:
	IF( CURSOR_STATUS( 'variable', '@csr' ) >= 0 )	BEGIN
		CLOSE	@csr
		DEALLOCATE	@csr
	END

	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END

		SET @RetST = @ST
		SET @RetMSG = @MSG

	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
