/****** Object:  StoredProcedure [dbo].[usp_HS0104DEL仕入]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HS0104DEL仕入]
GO
/****** Object:  StoredProcedure [dbo].[usp_HS0104DEL仕入]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE	PROCEDURE	[dbo].[usp_HS0104DEL仕入]
	(
	@i見積番号		INT,
	@i仕入番号 		INT,
	@i得意先CD 		VARCHAR(4),
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	仕入Ｄ・仕入明細Ｄ・仕入明細内訳Ｄを削除します。
		社内在庫戻し。
		仕入残明細内訳Ｄ「計上区分」を戻す。
	内容	

	2003/09/10	kawamura	
	2013/11/04	oosawa		
*/

	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


	-- トランザクションを開始します
	BEGIN TRAN

	------------------------------------------------------
	------入荷予定数を元に戻します。
	------------------------------------------------------
	------入荷予定数を戻します
	----EXEC @ST = usp_社内在庫_入荷数Subtract @i仕入番号, @i見積番号, @i得意先CD, @ST OUTPUT,@MSG OUTPUT
	----IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------
	--------仕入残Ｄ[計上区分]を元に戻します。
	------------------------------------------------------------
	------UPDATE 	TD仕入残明細内訳
	------	SET	計上区分 = 0
	------	FROM
	------	(
	------	SELECT 	SM.仕入番号, SM.仕入先CD, SM.配送先CD, SM.仕分番号, 
	------			SM.見積番号, 仕入残明細行番号
	------		FROM 	TD仕入明細内訳 AS SMU
	------		INNER JOIN 	TD仕入明細 AS SM ON SMU.仕入番号 = SM.仕入番号
	------		WHERE 	SM.見積番号 = @i見積番号
	------			AND 	SM.仕入番号 = @i仕入番号
	------	) AS D
	------	WHERE 	TD仕入残明細内訳.見積番号 = D.見積番号
	------		AND 	TD仕入残明細内訳.仕入先CD = D.仕入先CD
	------		AND 	TD仕入残明細内訳.配送先CD = D.配送先CD
	------		AND 	TD仕入残明細内訳.仕分番号 = D.仕分番号
	------		AND 	TD仕入残明細内訳.仕入明細行番号 = D.仕入残明細行番号

	------SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	

	--------------------------------------------------
	--仕入を削除します。
	--------------------------------------------------
	DELETE FROM TD仕入明細内訳 WHERE 仕入番号 = @i仕入番号
	DELETE FROM TD仕入明細 WHERE 仕入番号 = @i仕入番号
	DELETE FROM TD仕入 WHERE 仕入番号 = @i仕入番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	

 	------------------------------------------------------
 	--見積Ｄ[仕入日]を戻す
 	------------------------------------------------------
	IF  NOT EXISTS (SELECT 見積番号 FROM TD仕入
						WHERE 見積番号 = @i見積番号)  BEGIN
	
 		UPDATE 	TD見積
 		SET	仕入日付 = NULL
 		WHERE 	見積番号 = @i見積番号
	END

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	

 	------------------------------------------------------
	--得意先CD='9999'の時
 	--見積Ｄ[売上日]を戻す
 	------------------------------------------------------
	IF @i得意先CD = '9999' BEGIN
		IF  NOT EXISTS (SELECT 見積番号 FROM TD仕入
							WHERE 見積番号 = @i見積番号)  BEGIN
		
	 		UPDATE 	TD見積
	 		SET	売上日付 = NULL
	 		WHERE 	見積番号 = @i見積番号
		END
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	
	END


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
