/****** Object:  StoredProcedure [dbo].[usp_TN1200UPDチーム別社内在庫出庫]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1200UPDチーム別社内在庫出庫]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1200UPDチーム別社内在庫出庫]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN1200UPDチーム別社内在庫出庫

	機能:	
		出庫入力で入力された情報を
		TD出庫_チーム別社内在庫・TD出庫_チーム別社内在庫明細に登録する。

 =============================================
	2015/08/26	oosawa	新規作成
 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN1200UPDチーム別社内在庫出庫]
	(
	@i出庫番号		INT,
	--@i参照見積番号	INT,
	@i出庫日付		DATETIME,
	@i得意先CD		VARCHAR(4),--2015/09/18 ADD
	@iチームCD		INT ,
	@i摘要名		VARCHAR(50),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)


	--明細カーソル用変数
	DECLARE 
			@c出庫明細連番 	INT,
			@c出庫番号 		INT,
			@c枝番			INT,
			@c製品NO		CHAR (12) ,
			@c仕様NO		CHAR (10) , 
			@c仕入先CD		VARCHAR(4),
			@c仕入端数区分	SMALLINT,
			@c消費税端数区分	SMALLINT,
			@c出庫数量		MONEY,
			@c出庫単価		MONEY,
			@c出庫金額		MONEY,
			@c消費税額		MONEY,
			@c仕入税区分	SMALLINT,
			@c明細備考		VARCHAR(40)

	--カーソル行数
	DECLARE	@ROWS出庫	INT
	
	DECLARE	@w出庫明細連番	INT

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	--BEGIN TRAN

	--------------------------------------------------
	--出庫ヘッダーを更新する。
	--------------------------------------------------
	IF EXISTS (SELECT 出庫番号 FROM TD出庫_チーム別社内在庫 WHERE 出庫番号 = @i出庫番号 ) BEGIN
		-----<更新>-----
		--------------------------------------------------
		--出庫データの更新
		--------------------------------------------------
		UPDATE	TD出庫_チーム別社内在庫
			SET	
				出庫日付	= @i出庫日付,
				得意先CD	= @i得意先CD,--2015/09/18 ADD
				チームCD	= @iチームCD,
				摘要名			= @i摘要名,
				登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
		WHERE 
			出庫番号	= @i出庫番号
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END ELSE BEGIN

		--出庫番号を取得します
		EXEC	@ST = usp_GetCounter 'チ社出庫番号', '', @i出庫番号 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP
		-----<新規>-----
		INSERT	TD出庫_チーム別社内在庫
			(
				出庫番号, 出庫日付, 
				得意先CD,	--2015/09/18 ADD
				チームCD,
				--参照見積番号,
				摘要名,
				初期登録日, 登録変更日
			) 
 		VALUES 
			(
				@i出庫番号, @i出庫日付,
				@i得意先CD,	--2015/09/18 ADD
				@iチームCD,
				--@i参照見積番号,
				@i摘要名,
				CONVERT(CHAR(10),GETDATE(),111), CONVERT(CHAR(10),GETDATE(),111)
			)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END



	--PRINT 'ワークテーブルにないレコードの削除'
	--------------------------------------------------
	--出庫明細の削除
	--------------------------------------------------
	DELETE FROM TD出庫明細_チーム別社内在庫
		WHERE 出庫明細連番 IN (SELECT SYM.出庫明細連番
							FROM TD出庫明細_チーム別社内在庫 AS SYM
								LEFT JOIN #Tmp出庫明細 AS TP
									ON SYM.出庫明細連番 = TP.出庫明細連番
							WHERE	SYM.出庫番号 = @i出庫番号 
								AND	TP.出庫明細連番 IS NULL)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--------------------------------------------------
	--仕入明細の更新
	--------------------------------------------------
	DECLARE	csr出庫明細		CURSOR	LOCAL  FORWARD_ONLY FOR 
		SELECT	
				TMP.出庫明細連番,
				TMP.出庫番号,
				TMP.枝番, 
				TMP.製品NO,
				TMP.仕様NO,
				TMP.仕入先CD,
				TMP.仕入端数区分,
				TMP.消費税端数区分,
				TMP.出庫数量,
				TMP.出庫単価,
				TMP.出庫金額,
				TMP.消費税額,
				TMP.仕入税区分,
				TMP.明細備考
			FROM #Tmp出庫明細 AS TMP
				LEFT JOIN TD出庫明細_チーム別社内在庫 AS SYM
					ON	TMP.出庫明細連番 = SYM.出庫明細連番
			ORDER BY	TMP.枝番

	OPEN	csr出庫明細

	SELECT	@ST = @@ERROR, @ROWS出庫 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS出庫 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END
	--カーソルのREAD
	FETCH NEXT FROM csr出庫明細
		INTO	@c出庫明細連番,
				@c出庫番号,
				@c枝番, 
				@c製品NO,
				@c仕様NO,
				@c仕入先CD,
				@c仕入端数区分,
				@c消費税端数区分,
				@c出庫数量,
				@c出庫単価,
				@c出庫金額,
				@c消費税額,
				@c仕入税区分,
				@c明細備考

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
	WHILE (@@FETCH_STATUS <> -1)	BEGIN				--FETCH ステートメントが失敗したか、または行が結果セットに収まりません。
	  	 IF (@@FETCH_STATUS <> -2)	BEGIN			--取り出した行がありません。


			--出庫明細を更新する。
			IF EXISTS (SELECT 出庫明細連番 FROM TD出庫明細_チーム別社内在庫 WHERE 出庫明細連番 = @c出庫明細連番 ) BEGIN
				-----<更新>-----

				UPDATE TD出庫明細_チーム別社内在庫
					SET	出庫番号		= @i出庫番号,
						枝番			= @c枝番,
						製品NO			= @c製品NO,
						仕様NO			= @c仕様NO,
						仕入先CD		= @c仕入先CD,
						仕入端数		= @c仕入端数区分,
						消費税端数		= @c消費税端数区分,
						出庫数量		= @c出庫数量,
						出庫単価		= @c出庫単価,
						出庫金額		= @c出庫金額,
						消費税額		= @c消費税額,
						仕入税区分		= @c仕入税区分,
						明細備考		= @c明細備考,
						登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
				WHERE 
					(出庫明細連番	 = @c出庫明細連番)

				SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

			END ELSE BEGIN

				--出庫明細連番を取得します
				EXEC	@ST = usp_GetCounter 'チ社出庫明細連番', '', @w出庫明細連番 OUTPUT
				IF @ST<>0 GOTO	EXIT_SP
				
				INSERT INTO TD出庫明細_チーム別社内在庫
					(
						出庫明細連番,
						出庫番号,
						枝番, 
						製品NO,
						仕様NO,
						仕入先CD,
						仕入端数,
						消費税端数,
						出庫数量,
						出庫単価,
						出庫金額,
						消費税額,
						仕入税区分,
						明細備考,
						初期登録日,
						登録変更日
					)
				VALUES 
					(
						@w出庫明細連番,
						@i出庫番号,
						@c枝番, 
						@c製品NO,
						@c仕様NO,
						@c仕入先CD,
						@c仕入端数区分,
						@c消費税端数区分,
						@c出庫数量,
						@c出庫単価,
						@c出庫金額,
						@c消費税額,
						@c仕入税区分,
						@c明細備考,
						CONVERT(CHAR(10),GETDATE(),111), 
						CONVERT(CHAR(10),GETDATE(),111)
					)
	
				SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			END
		END--(IF @@FETCH_STATUS <> -2)

		--カーソルのREAD
		FETCH NEXT FROM csr出庫明細
			INTO	@c出庫明細連番,
					@c出庫番号,
					@c枝番, 
					@c製品NO,
					@c仕様NO,
					@c仕入先CD,
					@c仕入端数区分,
					@c消費税端数区分,
					@c出庫数量,
					@c出庫単価,
					@c出庫金額,
					@c消費税額,
					@c仕入税区分,
					@c明細備考
	END

EXIT_SP:
	IF( CURSOR_STATUS('local', 'csr出庫明細' ) >= 0 )	BEGIN
		CLOSE	csr出庫明細
		DEALLOCATE	csr出庫明細
	END
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
