/****** Object:  StoredProcedure [dbo].[usp_M2200科目目標抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_M2200科目目標抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_M2200科目目標抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*****************************************************

名称	usp_M2200科目目標抽出

機能	指定された条件で担当者目標Wを取得する

引数
	@i年度
	@i科目
戻り値	
	＠RetFlg		：	処理区分用データ存在フラグ
*****************************************************/
CREATE PROCEDURE [dbo].[usp_M2200科目目標抽出]
	@i科目			SMALLINT,
	@i年度			INT,
	@RetFlg		SMALLINT	OUTPUT,
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE @期首月	INT

	--月保持
	DECLARE	@DATE1		DATETIME,
			@DATE2		DATETIME

	DECLARE 	@ST	INT,
			@FLG	SMALLINT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	--会社の期首月を取得します
	SELECT @期首月 = 期首月
		 FROM TM会社
	
	IF @期首月 IS NULL	BEGIN
		SET	@ST = -1
		RAISERROR('会社の期首月が未定義です。 ', 16, 1)
		GOTO	EXIT_SP
	END

	--ワークテーブル作成
	CREATE TABLE #wkTBL (
		科目CD		SMALLINT	NOT NULL,
		目標年月		DATETIME	NOT NULL
		PRIMARY KEY  NONCLUSTERED
  		(
			科目CD,
   			目標年月
  		),
 		)
		--) ON [PRIMARY]
	SET @ST = @@ERROR
	IF (@ST <> 0)	BEGIN
		SET @MSG = 'ワークテーブル作成エラー'
		GOTO EXIT_SP
	END

	-- 12ヶ月分のテーブルを作成します
	SET	@DATE1 	= CONVERT(DATETIME, STR(@i年度) + '/' + STR(@期首月) + '/1',111)
	SET 	@DATE2	=DATEADD(MONTH,11,@DATE1)

	INSERT INTO #wkTBL VALUES (@i科目,@DATE1)
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,1,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,2,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,3,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,4,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,5,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,6,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,7,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,8,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,9,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,10,@DATE1))
	INSERT INTO #wkTBL VALUES (@i科目,DATEADD(MONTH,11,@DATE1))

	--担当者目標金額を追加します
	IF NOT EXISTS(SELECT 目標額 FROM TM科目予算目標 WHERE 目標年月>=@DATE1 AND 目標年月<=@DATE2 AND 科目CD=@i科目) BEGIN
		SET	@FLG=0
	END ELSE	BEGIN
		SET	@FLG=1
	END

	SELECT WK.科目CD,WK.目標年月,
		ISNULL(TM.目標額,0)AS 目標額
			FROM #WKTBL AS WK
				LEFT JOIN TM科目予算目標 AS TM
				ON WK.科目CD=TM.科目CD AND  WK.目標年月 = TM.目標年月
EXIT_SP:
	--DROP TABLE #WKTBL
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	SET	@RetFlg=@FLG
	RETURN @RetFlg


	RETURN @ST

GO
