/****** Object:  StoredProcedure [dbo].[usp_KD0300担当者別経費一覧表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_KD0300担当者別経費一覧表]
GO
/****** Object:  StoredProcedure [dbo].[usp_KD0300担当者別経費一覧表]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/*****************************************************

名称	usp_KD0300担当者別経費一覧表

機能	指定された条件で担当者別経費一覧表データを取得する

引数
	@i開始日付
	@i終了日付
	@i開始担当者
	@i終了担当者
戻り値	
	
*****************************************************/
CREATE PROCEDURE [dbo].[usp_KD0300担当者別経費一覧表]
	@i開始日付		DATETIME,
	@i終了日付		DATETIME,
	@i開始担当者		SMALLINT,
	@i終了担当者		SMALLINT,
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''	

	DECLARE	@DateTo	DATETIME

	SET	@DateTo	=	DATEADD(DAY,1,@i終了日付)

	--カーソル項目
	DECLARE
		@csr			CURSOR,
		@c科目CD		SMALLINT,
		@c科目名		VARCHAR(16)

	--抽出用SQL文生成用
	DECLARE	@SQL		VARCHAR(5000),
			@FROM	VARCHAR(1000),
			@MOTO	VARCHAR(8000)
	SET	@SQL		=	''
	SET	@FROM	=	''
	SET	@MOTO	=	''

	SET	@SQL		=	'SELECT A.担当者名 '
	SET	@MOTO	=	'FROM (SELECT KM.担当者CD,KM.担当者名'
	SET	@FROM	=	' 		FROM TD経費 AS KD '
				+ 	' 		INNER JOIN TD経費明細 AS KM ON KD.経費番号=KM.経費番号 '
				+ 	' 			WHERE KD.経費日付		>=' 	+	QUOTENAME(CONVERT(VARCHAR(10),@i開始日付),'''')
				+ 	'     			    AND KD.経費日付 		<' 	+	QUOTENAME(CONVERT(VARCHAR(10),@DateTo),'''')
				+	'			    AND KM.担当者CD	>='	+	COALESCE(CONVERT(VARCHAR(2),@i開始担当者),'KM.担当者CD')
				+	'			    AND KM.担当者CD	<='	+	COALESCE(CONVERT(VARCHAR(2),@i終了担当者),'KM.担当者CD')
				+ 	'		GROUP BY	KM.担当者CD,KM.担当者名) AS A '
				+ 	' ORDER BY A.担当者CD'
-- 	print	@sql
-- 	print @from
	SET	@csr	=	CURSOR	LOCAL	FORWARD_ONLY	STATIC FOR

		SELECT K.科目CD, KMN.科目名
			FROM	(SELECT KM.科目CD  FROM TD経費 AS KD
					INNER JOIN TD経費明細 AS KM ON KD.経費番号 = KM.経費番号
						WHERE 	KD.経費日付			>=	CONVERT(VARCHAR(10),@i開始日付,111)
						    AND	KD.経費日付			<	CONVERT(VARCHAR(10),@DateTo,111)
				    		    AND	KM.担当者CD			>=	COALESCE(CONVERT(VARCHAR(2),@i開始担当者),KM.担当者CD)
				    		    AND	KM.担当者CD			<=	COALESCE(CONVERT(VARCHAR(2),@i終了担当者),KM.担当者CD)
					GROUP BY KM.科目CD, KM.科目名 ) AS K
			LEFT JOIN	TM科目 AS	KMN	ON	K.科目CD=KMN.科目CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	OPEN	@csr
	--	SET	@RSCNT = @@ROWCOUNT
	--	PRINT 'CURROWS = ' + STR(@@CURSOR_ROWS)
	IF (@@CURSOR_ROWS = 0)	BEGIN
		SET @ST = -1
		SET @MSG = '該当データがありません。'
-- 		print 'ｶﾞｲﾄｳ無し'
		GOTO EXIT_SP
	END	

	FETCH NEXT FROM	@csr	INTO	@c科目CD,@c科目名
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	WHILE	( @@FETCH_STATUS = 0 )	BEGIN
		SET	@SQL=@SQL+','
		SET	@SQL=@SQL + 'ISNULL(A.[' + @c科目名 + '],0) AS [' + @c科目名 + ']'

		SET	@MOTO   =	@MOTO + ','
		SET	@MOTO   = 	@MOTO + 'SUM(CASE WHEN KM.科目CD = ' + QUOTENAME(@c科目CD,'''') + ' THEN KM.金額 ELSE 0 END) AS [' + @c科目名 + ']' 

		FETCH NEXT FROM	@csr	INTO	@c科目CD,@c科目名
	END

	--print @sql+@moto+@from
	
	--動的SQLの実行
	EXECUTE(@SQL+@MOTO+@FROM)
	SET @ST = @@ERROR

EXIT_SP:
	IF( CURSOR_STATUS( 'variable', '@csr' ) >= 0 )	BEGIN
		CLOSE	@csr
		DEALLOCATE	@csr
	END
	--print @st
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST
GO
