/****** Object:  StoredProcedure [dbo].[旧_usp_MT0100員数ImportCheck]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[旧_usp_MT0100員数ImportCheck]
GO
/****** Object:  StoredProcedure [dbo].[旧_usp_MT0100員数ImportCheck]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/* =============================================
	 usp_MT0100員数UploadCheck2

	機能	EXCEL員数シート取込データをチェックします。

	内容
		前処理にて##Tmp見積明細と##TMP見積明細CHECKを作成する。
		そのテーブルをひとつにし、返す
		
 =============================================
	2003/07/04	kawamura
	2003/09/16	oosawa	H1,H2,仕入先名,配送先名追加
	2003/09/24	kawamura	新規製品行には付加情報をセットを追加
	2003/10/21 	kawamura 	比較パターンをコードありとコードなしで切り分けて名称も比較する
	2003/10/29	oosawa	見積区分追加
	2004/02/04	oosawa	数量を足す様に変更
	2005/10/14	kawamura 	U区分追加
	2009/10/07	oosawa	社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLGの追加
					チェックなしなのでALLZEROをセット
 =============================================*/
CREATE	PROCEDURE	[dbo].[旧_usp_MT0100員数ImportCheck] 
	(
	@i見積番号		INT,
	@i仕分番号		INT,
	@i得意先CD		VARCHAR(4),
	@i大小口区分		SMALLINT,
	@CompName		VARCHAR(100),
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS

	SET	NOCOUNT ON

	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--製品判断区分
	DECLARE	@製品区分		INT	--0:製品 1:品群 2:ユニット 3:PCマスタ

	DECLARE	@ROWS見積	INT

	DECLARE	@c見積明細連番 INT ,
			@c見積番号 	INT ,
			@c行番号 	INT ,
			@c追番 	INT ,
			@c展開CHK 	SMALLINT,
			@c見積区分	VARCHAR (1),		--2003/10/29	ADD
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
			@c仕入率	MONEY,
			@c売上単価 	MONEY,
			@c売上率	MONEY,
			@cU区分 	VARCHAR (1),		--2005/10/14 ADD
			@cM区分 	VARCHAR (1),
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c売上金額 	MONEY,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c仕入先CD 	VARCHAR (4),
			@c仕入先名 	VARCHAR (8),
			@c配送先CD 	VARCHAR (4),
			@c配送先名 	VARCHAR (8),
			@c社内在庫数 MONEY,
			@c客先在庫数 MONEY,
			@c転用数 	MONEY,
			@c発注数	MONEY,
			@c総数量 	MONEY,
			@c製品区分	SMALLINT,
			@c仕分数1 	MONEY,
			@c仕分数2 	MONEY,
			@c仕分数3 	MONEY,
			@c仕分数4 	MONEY,
			@c仕分数5 	MONEY,
			@c仕分数6 	MONEY,
			@c仕分数7 	MONEY,
			@c仕分数8 	MONEY,
			@c仕分数9 	MONEY,
			@c仕分数10 	MONEY,
			@c仕分数11	MONEY,
			@c仕分数12 	MONEY,
			@c仕分数13 	MONEY,
			@c仕分数14 	MONEY,
			@c仕分数15 	MONEY,
			@c仕分数16 	MONEY,
			@c仕分数17 	MONEY,
			@c仕分数18 	MONEY,
			@c仕分数19 	MONEY,
			@c仕分数20 	MONEY,
			@c仕分数21 	MONEY,
			@c仕分数22 	MONEY,
			@c仕分数23 	MONEY,
			@c仕分数24 	MONEY,
			@c仕分数25 	MONEY,
			@c仕分数26 	MONEY,
			@c仕分数27 	MONEY,
			@c仕分数28 	MONEY,
			@c仕分数29 	MONEY,
			@c仕分数30 	MONEY

	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	BEGIN TRAN

	--------------------------------------------------
	--出力用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTbl
			FROM Tmp見積明細
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--チェック用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTblCheck
			FROM Tmp見積明細
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--出力用Tempテーブルにグローバルデータを書き込む
	--------------------------------------------------
	EXEC ('INSERT INTO #WkTbl'
		+ ' ('
			+ '見積明細連番, 見積番号, 行番号, 追番, '
			+ '展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, '
			+ 'W, D, H, D1, D2, H1, H2, '
			+ 'エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, '
			+ '仕入金額, 売上金額, 売上税区分, 消費税額, '
			+ '仕入先CD, 仕入先名, 配送先CD, 配送先名, '
			+ '社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, '
			+ '仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, '
			+ '仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, '
			+ '仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,'
			+ '社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	'--2009/10/07 ADD
		+ ')'
		+ 'SELECT '
			+ '見積明細連番, 見積番号, 行番号, 追番, '
			+ '展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, '
			+ 'W, D, H, D1, D2, H1, H2, '
			+ 'エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, '
			+ '仕入金額, 売上金額, 売上税区分, 消費税額, '
			+ '仕入先CD, 仕入先名, 配送先CD, 配送先名, '
			+ '社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, '
			+ '仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, '
			+ '仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, '
			+ '仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,'
			+ '社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	'--2009/10/07 ADD
		+ ' FROM [##Tmp見積明細_' + @CompName + ']'
		+ ' ORDER BY 見積番号, 行番号'
		)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--チェック用Tempテーブルにグローバルデータを書き込む
	--------------------------------------------------
	EXEC ('INSERT INTO #WkTblCheck'
		+ ' ('
			+ '見積明細連番, 見積番号, 行番号, 追番, '
			+ '展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, '
			+ 'W, D, H, D1, D2, H1, H2, '
			+ 'エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, '
			+ '仕入金額, 売上金額, 売上税区分, 消費税額, '
			+ '仕入先CD, 仕入先名, 配送先CD, 配送先名, '
			+ '社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, '
			+ '仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, '
			+ '仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, '
			+ '仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,'
			+ '社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	'--2009/10/07 ADD
		+ ')'
		+ 'SELECT '
			+ '見積明細連番, 見積番号, 行番号, 追番, '
			+ '展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, '
			+ 'W, D, H, D1, D2, H1, H2, '
			+ 'エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, '
			+ '仕入金額, 売上金額, 売上税区分, 消費税額, '
			+ '仕入先CD, 仕入先名, 配送先CD, 配送先名, '
			+ '社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, '
			+ '仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, '
			+ '仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, '
			+ '仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,'
			+ '社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	'--2009/10/07 ADD
		+ ' FROM [##Tmp見積明細CHECK_' + @CompName + ']'
		+ ' ORDER BY 見積番号, 行番号'
		)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--存在する製品行は指定の仕分番号に取込み総数量を更新する
	--------------------------------------------------
	--コードあり名称判断なし
	EXEC ('UPDATE #WkTbl'
		+ ' SET 仕分数' + @i仕分番号 + ' = D.仕分数' + @i仕分番号 + ' + D.総数量'		--同一仕分の場合、数量を足す様に変更
		+ ' FROM '
		+ '('
			+ 'SELECT TP.行番号, TPC.総数量, TP.仕分数' + @i仕分番号 
				+ ' FROM '
					+ '('
						+ 'SELECT PC区分, 製品NO, 仕様NO, W, D, H, D1, D2, H1, H2, 製品区分, SUM(総数量) AS 総数量'
							+ ' FROM #WkTblCheck'
							+ ' GROUP BY  PC区分, 製品NO, 仕様NO, W, D, H, D1, D2,H1, H2, 製品区分 '
					+ ') AS TPC '
				+ ' LEFT JOIN #WkTbl AS TP '
					+ ' ON TPC.PC区分 = TP.PC区分 '
						+ ' AND TPC.製品NO = TP.製品NO '
						+ ' AND TPC.仕様NO = TP.仕様NO '
						+ ' AND TPC.W = TP.W '
						+ ' AND TPC.D = TP.D '
						+ ' AND TPC.H = TP.H '
						+ ' AND TPC.D1 = TP.D1 '
						+ ' AND TPC.D2 = TP.D2 '
						+ ' AND TPC.H1 = TP.H1 '
						+ ' AND TPC.H2 = TP.H2 '
				+ ' WHERE TP.製品NO IS NOT NULL'
				+ ' AND TPC.製品区分 IS NOT NULL'
-- 				+ ' AND TP.製品NO <> '''''			--2009/12/25 ADD
		+ ') AS D '
		+ 'WHERE #WkTbl.行番号 = D.行番号'
		)

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--コードなし名称判断あり
	EXEC ('UPDATE #WkTbl'
		+ ' SET 仕分数' + @i仕分番号 + ' = D.仕分数' + @i仕分番号 + ' + D.総数量'		--同一仕分の場合、数量を足す様に変更
		+ ' FROM '
		+ '('
			+ 'SELECT TP.行番号, TPC.総数量, TP.仕分数' + @i仕分番号 
				+ ' FROM '
					+ '('
						+ 'SELECT PC区分, 製品NO, 仕様NO, 漢字名称, W, D, H, D1, D2, H1, H2, 製品区分, SUM(総数量) AS 総数量'
							+ ' FROM #WkTblCheck'
							+ ' GROUP BY  PC区分, 製品NO, 仕様NO, 漢字名称, W, D, H, D1, D2,H1, H2, 製品区分 '
					+ ') AS TPC '
				+ ' LEFT JOIN #WkTbl AS TP '
					+ ' ON TPC.PC区分 = TP.PC区分 '
						+ ' AND TPC.製品NO = TP.製品NO '
						+ ' AND TPC.仕様NO = TP.仕様NO '
						+ ' AND TPC.漢字名称 = TP.漢字名称 '
						+ ' AND TPC.W = TP.W '
						+ ' AND TPC.D = TP.D '
						+ ' AND TPC.H = TP.H '
						+ ' AND TPC.D1 = TP.D1 '
						+ ' AND TPC.D2 = TP.D2 '
						+ ' AND TPC.H1 = TP.H1 '
						+ ' AND TPC.H2 = TP.H2 '
				+ ' WHERE TP.製品NO IS NOT NULL'		--2009/12/25 DEL
-- 				+ ' WHERE TP.製品NO = '''''				--2009/12/25 ADD
				+ ' AND TPC.製品区分 IS NULL'
		+ ') AS D '
		+ 'WHERE #WkTbl.行番号 = D.行番号'
		)

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--存在しない製品行
	--	新行番号を元の行の最大行の次から採番して書き込む。総数量はＶＢ側にて仕分番目にもセットされる。
	--	製品区分判断により各マスタ情報をセットする
	--------------------------------------------------
	--コードあり名称判断なし
	INSERT #WkTbl
		(
		見積明細連番, 見積番号, 行番号, 追番, 展開CHK, 見積区分,
		SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
		W, D, H, D1, D2, H1, H2,
		エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
		仕入金額, 売上金額, 売上税区分, 消費税額,
		仕入先CD, 仕入先名, 配送先CD, 配送先名,
		社内在庫数, 客先在庫数, 転用数, 発注数, 総数量,製品区分,
		仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
		仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
		仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
		社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
		)
--		SELECT D.見積明細連番, D.見積番号, ISNULL(D.最大行番号,0) + D.新行番号 AS 行番, D.追番, D.展開CHK, D.見積区分,
		SELECT D.見積明細連番, D.見積番号, ISNULL(D.最大行番号,0) + D.行番号 AS 行番, D.追番, D.展開CHK, D.見積区分,
			D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.ベース色, D.漢字名称,
			D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2,
			D.エラー内容, D.見積数量, D.単位名, D.定価, D.仕入単価, D.仕入率, D.売上単価, D.売上率, D.U区分, D.M区分,
			D.仕入金額, D.売上金額, D.売上税区分, D.消費税額,
			D.仕入先CD, D.仕入先名, D.配送先CD, D.配送先名,
			D.社内在庫数, D.客先在庫数, D.転用数, D.発注数, D.総数量,D.製品区分,
			D.仕分数1, D.仕分数2, D.仕分数3, D.仕分数4, D.仕分数5, D.仕分数6, D.仕分数7, D.仕分数8, D.仕分数9, D.仕分数10,
			D.仕分数11, D.仕分数12, D.仕分数13, D.仕分数14, D.仕分数15, D.仕分数16, D.仕分数17, D.仕分数18, D.仕分数19, D.仕分数20,
			D.仕分数21, D.仕分数22, D.仕分数23, D.仕分数24, D.仕分数25, D.仕分数26, D.仕分数27, D.仕分数28, D.仕分数29, D.仕分数30,
			D.社内在庫数FLG, D.社内適正在庫数FLG, D.客先在庫数FLG	--2009/10/07 ADD
		FROM 
			(
			SELECT D.*, 
				(
				SELECT COUNT(*)+1
				FROM 
					(
					SELECT TPC.*
					FROM #WkTblCheck AS TPC
					LEFT JOIN #WkTbl AS TP
						ON TPC.PC区分 = TP.PC区分
						AND TPC.製品NO = TP.製品NO
						AND TPC.仕様NO = TP.仕様NO
						AND TPC.W = TP.W
						AND TPC.D = TP.D
						AND TPC.H = TP.H
						AND TPC.D1 = TP.D1
						AND TPC.D2 = TP.D2
						AND TPC.H1 = TP.H1
						AND TPC.H2 = TP.H2
					WHERE 	TP.製品NO IS NULL
						AND 	TPC.製品区分 IS NOT NULL
					) AS D1 
				WHERE D.行番号 > D1.行番号
				) AS 新行番号,
				CD.最大行番号
			FROM 
				(
				SELECT 	TPC.* 
				FROM #WkTblCheck AS TPC 
				LEFT JOIN 	#WkTbl AS TP 
					ON 	TPC.PC区分 = TP.PC区分
					AND 	TPC.製品NO = TP.製品NO
					AND 	TPC.仕様NO = TP.仕様NO
					AND 	TPC.W = TP.W
					AND 	TPC.D = TP.D
					AND 	TPC.H = TP.H
					AND 	TPC.D1 = TP.D1
					AND 	TPC.D2 = TP.D2
					AND 	TPC.H1 = TP.H1
					AND 	TPC.H2 = TP.H2
				 WHERE 	TP.製品NO IS NULL
					AND 	TPC.製品区分 IS NOT NULL
				) AS D 
			LEFT JOIN
				(
				SELECT 	見積番号, MAX(行番号) 最大行番号
				FROM	 #WkTbl
				GROUP BY 	見積番号
				) AS CD 
				ON 	D.見積番号 = CD.見積番号
		) as D
	UNION ALL
-- 	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
-- 
-- 
-- 	--コードなし名称判断あり
-- 	INSERT #WkTbl
-- 		(
-- 		見積明細連番, 見積番号, 行番号, 追番, 展開CHK, 見積区分,
-- 		SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
-- 		W, D, H, D1, D2, H1, H2,
-- 		エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, M区分,
-- 		仕入金額, 売上金額, 売上税区分, 消費税額,
-- 		仕入先CD, 仕入先名, 配送先CD, 配送先名,
-- 		社内在庫数, 客先在庫数, 転用数, 発注数, 総数量,製品区分,
-- 		仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
-- 		仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
-- 		仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30
-- 		)
--		SELECT D.見積明細連番, D.見積番号, ISNULL(D.最大行番号,0) + D.新行番号,  D.追番, D.展開CHK, D.見積区分,
		SELECT D.見積明細連番, D.見積番号, ISNULL(D.最大行番号,0) + D.行番号, D.追番, D.展開CHK, D.見積区分,
			D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.ベース色, D.漢字名称,
			D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2,
			D.エラー内容, D.見積数量, D.単位名, D.定価, D.仕入単価, D.仕入率, D.売上単価, D.売上率, D.U区分, D.M区分,
			D.仕入金額, D.売上金額, D.売上税区分, D.消費税額,
			D.仕入先CD, D.仕入先名, D.配送先CD, D.配送先名,
			D.社内在庫数, D.客先在庫数, D.転用数, D.発注数, D.総数量,D.製品区分,
			D.仕分数1, D.仕分数2, D.仕分数3, D.仕分数4, D.仕分数5, D.仕分数6, D.仕分数7, D.仕分数8, D.仕分数9, D.仕分数10,
			D.仕分数11, D.仕分数12, D.仕分数13, D.仕分数14, D.仕分数15, D.仕分数16, D.仕分数17, D.仕分数18, D.仕分数19, D.仕分数20,
			D.仕分数21, D.仕分数22, D.仕分数23, D.仕分数24, D.仕分数25, D.仕分数26, D.仕分数27, D.仕分数28, D.仕分数29, D.仕分数30,
			D.社内在庫数FLG, D.社内適正在庫数FLG, D.客先在庫数FLG	--2009/10/07 ADD
		FROM 
			(
			SELECT D.*, 
				(
				SELECT COUNT(*)+1
				FROM 
					(
					SELECT TPC.*
					FROM #WkTblCheck AS TPC
					LEFT JOIN #WkTbl AS TP
						ON TPC.PC区分 = TP.PC区分
						AND TPC.製品NO = TP.製品NO
						AND TPC.仕様NO = TP.仕様NO
						AND TPC.漢字名称 = TP.漢字名称
						AND TPC.W = TP.W
						AND TPC.D = TP.D
						AND TPC.H = TP.H
						AND TPC.D1 = TP.D1
						AND TPC.D2 = TP.D2
						AND TPC.H1 = TP.H1
						AND TPC.H2 = TP.H2
					WHERE 	TP.製品NO IS NULL
						AND 	TPC.製品区分 IS NULL
					) AS D1 
				WHERE D.行番号 > D1.行番号
				) AS 新行番号,
				CD.最大行番号
			FROM 
				(
				SELECT 	TPC.* 
				FROM #WkTblCheck AS TPC 
				LEFT JOIN 	#WkTbl AS TP 
					ON 	TPC.PC区分 = TP.PC区分
					AND 	TPC.製品NO = TP.製品NO
					AND 	TPC.仕様NO = TP.仕様NO
					AND 	TPC.漢字名称 = TP.漢字名称
					AND 	TPC.W = TP.W
					AND 	TPC.D = TP.D
					AND 	TPC.H = TP.H
					AND 	TPC.D1 = TP.D1
					AND 	TPC.D2 = TP.D2
					AND 	TPC.H1 = TP.H1
					AND 	TPC.H2 = TP.H2
				 WHERE 	TP.製品NO IS NULL
					AND 	TPC.製品区分 IS NULL
				) AS D 
			LEFT JOIN
				(
				SELECT 	見積番号, MAX(行番号) 最大行番号
				FROM	 #WkTbl
				GROUP BY 	見積番号
				) AS CD 
				ON 	D.見積番号 = CD.見積番号
		) as D
		ORDER BY 行番

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--------------------------------------------------
	--付加情報セット
	--カーソルを開きます
	--------------------------------------------------
	DECLARE	csr見積明細		CURSOR	 FORWARD_ONLY FOR 
			SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK, 見積区分,
					SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),
					漢字名称, W, D, H, D1, D2, H1, H2,
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
					仕入金額, 売上金額, 売上税区分, 消費税額,
					仕入先CD,  仕入先名, 配送先CD, 配送先名,
					社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,
					仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,					仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,
					仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30
				FROM	#WkTbl
				ORDER BY	行番号

	OPEN	 csr見積明細
	
	SELECT	@ST = @@ERROR, @ROWS見積 = @@CURSOR_ROWS
 	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS見積 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END


	FETCH NEXT FROM  csr見積明細
		INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
				@c展開CHK,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
FETCH_SP:
		SET @ST = @@ERROR
		IF ( @@FETCH_STATUS <> 0 ) GOTO SELECT_SP
		--------------------------------------------------
		--製品NOがない明細の場合
		--------------------------------------------------
		IF @c製品NO = '' AND @cPC区分 = ''	BEGIN
			IF @c漢字名称 <> '' 
				GOTO FETCH_NEXT
			ELSE BEGIN
				GOTO TEMP_NOCONV
			END
		END
		--------------------------------------------------
		--製品情報マスタよりマスタ情報を取得します。
		--------------------------------------------------
		SET @製品区分 = NULL

		EXEC @ST = usp_Get製品区分 @cPC区分, @c製品NO, @c仕様NO, 
					@製品区分 OUTPUT , @RetST OUTPUT , @RetMsg OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		--------------------------------------------------
		--製品情報に該当するものがない場合
		--------------------------------------------------
		IF @製品区分 IS NULL	BEGIN
			--PRINT 'NULL'
			GOTO TEMP_NOCONV
		END
		--0:製品 1:品群 2:ユニット 3:PCマスタ
		IF @製品区分 = 0 BEGIN
			--PRINT 'GOTO SEIHIN_SP'
			GOTO SEIHIN_SP
		END
		IF @製品区分 = 1 BEGIN
			--PRINT 'GOTO HINGUN_SP:' + CONVERT(VARCHAR(1),@製品区分)
			GOTO HINGUN_SP
		END
		IF @製品区分 = 2 BEGIN
			--PRINT 'GOTO UNIT_SP'
			GOTO UNIT_SP
		END
		IF @製品区分 = 3 BEGIN
			--PRINT 'GOTO PC_SP'
			GOTO PC_SP
		END

SEIHIN_SP:
		--PRINT 'SEIHIN_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
/*		SELECT 
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@cW = (CASE @cW WHEN 0 THEN W ELSE @cW END),
			@cD = (CASE @cD WHEN 0 THEN D ELSE @cD END),
			@cH = (CASE @cH WHEN 0 THEN H ELSE @cH END),
			@cD1 = (CASE @cD1 WHEN 0 THEN D1 ELSE @cD1 END),
			@cD2 = (CASE @cD2 WHEN 0 THEN D2 ELSE @cD2 END),
			@cH1 = (CASE @cH1 WHEN 0 THEN H1 ELSE @cH1 END),
			@cH2 = (CASE @cH2 WHEN 0 THEN H2 ELSE @cH2 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			@c売上税区分 = MS.売上税区分,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			--AND		@cPC区分 = ''

*/		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		GOTO HAISO_SP

PC_SP:
		--PRINT 'PC_SP'
		--------------------------------------------------
		--ＰＣマスタに該当した場合
		--------------------------------------------------
		SELECT 
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@cW = (CASE @cW WHEN 0 THEN W ELSE @cW END),
			@cD = (CASE @cD WHEN 0 THEN D ELSE @cD END),
			@cH = (CASE @cH WHEN 0 THEN H ELSE @cH END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			@c売上税区分 = MS.売上税区分,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TMPC AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.PC区分 = MT.PC区分
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
			WHERE	MS.製品NO = @c製品NO
			AND		MS.PC区分 = @cPC区分

		GOTO HAISO_SP

HINGUN_SP:
		--PRINT 'HINGUN_SP'
		--------------------------------------------------
		--品群マスタに該当した場合
		--------------------------------------------------
		SELECT 
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 品群名称 ELSE @c漢字名称 END)
			FROM		TM品群 AS MS
			WHERE	MS.品群NO = @c製品NO

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		GOTO HAISO_SP

UNIT_SP:
		--PRINT 'UNIT_SP'
		--------------------------------------------------
		--ユニットマスタに該当した場合
		--------------------------------------------------
		SELECT 
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN ユニット名 ELSE @c漢字名称 END)
			FROM		TMユニット AS MS
			WHERE	MS.ユニットNO = @c製品NO

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

HAISO_SP:
		--PRINT 'HAISO_SP'
		--------------------------------------------------
		--配送先CDを'01'で固定セット
		--------------------------------------------------
		SET	@c配送先CD = '01'
		SET 	@c配送先名 = (SELECT 略称 FROM TM配送先 WHERE 配送先CD = '01')


TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。
		--------------------------------------------------
		UPDATE 	#WkTbl
			SET	ベース色 = @cベース色,
				漢字名称 = @c漢字名称,
				W = @cW,
				D = @cD,
				H = @cH,
				D1 = @cD1,
				D2 = @cD2,
				H1 = @cH1,
				H2 = @cH2,
				単位名 = @c単位名,
				定価 = @c定価,
				仕入単価 = @c仕入単価,
				売上単価 = @c売上単価,
				売上税区分 = @c売上税区分,
				仕入先CD = @c仕入先CD,
				仕入先名 = @c仕入先名,
				配送先CD = @c配送先CD,
				配送先名 = @c配送先名
		WHERE 	行番号 = @c行番号

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP


FETCH_NEXT:
		FETCH NEXT FROM  csr見積明細
			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
					@c展開CHK,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
					@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
					@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
					@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
					@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
					@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
					@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30



	--PRINT 'GOTO FETCH_SP'
	GOTO FETCH_SP

SELECT_SP:
	--------------------------------------------------
	--再表示用
	--------------------------------------------------
	SELECT WK.*
		FROM #WkTbl AS WK
		ORDER BY WK.見積番号,WK.行番号

--	DROP TABLE #WkTbl


EXIT_SP:
	--PRINT 'EXIT_SP'
 	IF( CURSOR_STATUS( 'GLOBAL', 'csr見積明細' ) >= 0 )	BEGIN
		CLOSE	csr見積明細
		DEALLOCATE	csr見積明細
	END
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST


GO
