/****** Object:  StoredProcedure [dbo].[usp_SD0100支払仕訳出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SD0100支払仕訳出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_SD0100支払仕訳出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SD0100支払仕訳出力

機能	指定された条件で支払分の仕訳データを作成する

引数	@isDATE			指定した開始日付
		@ieDATE			指定した終了日付
		@i開始仕入先	指定した開始仕入先CD
		@i終了仕入先	指定した終了仕入先CD

戻り値	

	2012/05/23	oosawa		新規作成 財務応援に取り込むデータを作成
	2012/08/22	oosawa		銀行振込・振込手数料・現金のみの処理を
							現金以外と現金の処理にするように変更


*****************************************************/
CREATE PROCEDURE [dbo].[usp_SD0100支払仕訳出力]
	@isDATE				DATETIME,
	@ieDATE				DATETIME,
	@i開始仕入先		VARCHAR(4),
	@i終了仕入先		VARCHAR(4),

	--OUTPUT
	@RetST				INT				OUTPUT,
	@RetMsg				VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE	@ST		INT,
			@MSG	VARCHAR(255)
	SET	@ST = 0
	SET	@MSG = ''

--SET @isDATE = '2012/03/01'
--SET @ieDATE = '2012/03/31'

	----------------------------------
	--銀行振込 ＆ 振込手数料出力
	----------------------------------
	SELECT	年 = YEAR(支払日付),月 = MONTH(支払日付),日 = DAY(支払日付),
			伝票番号 = NULL,
			借方金額 = CONVERT(INT,ISNULL(SH.支払金額,0)),
			借方勘定科目CD = 201,--買掛金
			借方勘定科目名 = NULL,
			借方消費税CD = 0,
			借方消費税率 = 0,
			借方業種 = NULL,
			借方補助科目CD = CONVERT(INT,SH.仕入先CD),
			借方補助科目名 = NULL,
			借方部門CD = NULL,
			借方部門名 = NULL,
			貸方勘定科目CD = 999,--諸口
			貸方勘定科目名 = NULL,
			貸方消費税CD = 0,
			貸方消費税率 = 0,
			貸方業種 = NULL,
			貸方補助科目CD = NULL,
			貸方補助科目名 = NULL,
			貸方部門CD = NULL,
			貸方部門名 = NULL,
			貸方金額 = CONVERT(INT,ISNULL(SH.支払金額,0)),
			--摘要 = 摘要名,
			摘要 = CONVERT(VARCHAR(30), SB.支払区分名 + ' ' + SH.摘要名),--30ﾊﾞｲﾄ
			期日_年 = NULL,
			期日_月 = NULL,
			期日_日 = NULL,
			手形番号 = NULL,
			SH.支払区分CD,
			SH.支払日付, 
			SH.仕入先CD
		INTO #TMP
		FROM	TD支払 AS SH
			INNER JOIN TM支払区分 AS SB
				ON SH.支払区分CD = SB.支払区分CD
		WHERE 	SH.支払日付		>=	@isDATE
			AND	SH.支払日付		<=	@ieDATE
			AND	SH.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SH.仕入先CD)
			AND	SH.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SH.仕入先CD)
			AND	ISNULL(SH.支払金額,0) <> 0
			--AND (SH.支払区分CD = 1--銀行振込
			--	OR SH.支払区分CD = 5)--振込手数料
			AND SH.支払区分CD <> 0	--2012/08/22 ADD
		ORDER	BY	SH.支払日付, SH.仕入先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--FROM (
	--		--銀行振込 ＆ 振込手数料
	--		SELECT	支払日付, 仕入先CD,
	--				支払金額 = SUM(ISNULL(SH.支払金額,0)),
	--				摘要名 = MAX(摘要名)

	--			FROM	TD支払 AS SH
	--			WHERE 	SH.支払日付		>=	@isDATE
	--				AND	SH.支払日付		<=	@ieDATE
	--				AND	SH.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SH.仕入先CD)
	--				AND	SH.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SH.仕入先CD)
	--				AND	ISNULL(SH.支払金額,0) <> 0
	--				AND (SH.支払区分CD = 1--銀行振込
	--					OR SH.支払区分CD = 5)--振込手数料
	--			GROUP BY	SH.支払日付, SH.仕入先CD
	--	) AS SH
	--	ORDER	BY	SH.支払日付, SH.仕入先CD

	----------------------------------
	--現金出力
	----------------------------------
	INSERT #TMP
		SELECT	年 = YEAR(支払日付),月 = MONTH(支払日付),日 = DAY(支払日付),
				伝票番号 = NULL,
				借方金額 = CONVERT(INT,ISNULL(SH.支払金額,0)),
				借方勘定科目CD = 201,--買掛金
				借方勘定科目名 = NULL,
				借方消費税CD = 0,
				借方消費税率 = 0,
				借方業種 = NULL,
				借方補助科目CD = CONVERT(INT,SH.仕入先CD),
				借方補助科目名 = NULL,
				借方部門CD = NULL,
				借方部門名 = NULL,
				貸方勘定科目CD = 100,--現金
				貸方勘定科目名 = NULL,
				貸方消費税CD = 0,
				貸方消費税率 = 0,
				貸方業種 = NULL,
				貸方補助科目CD = NULL,
				貸方補助科目名 = NULL,
				貸方部門CD = NULL,
				貸方部門名 = NULL,
				貸方金額 = CONVERT(INT,ISNULL(SH.支払金額,0)),
				--摘要 = 摘要名,
				摘要 = CONVERT(VARCHAR(30), SB.支払区分名 + ' ' + SH.摘要名),--30ﾊﾞｲﾄ
				期日_年 = NULL,
				期日_月 = NULL,
				期日_日 = NULL,
				手形番号 = NULL,
				SH.支払区分CD,
				SH.支払日付, 
				SH.仕入先CD
			FROM	TD支払 AS SH
				INNER JOIN TM支払区分 AS SB
					ON SH.支払区分CD = SB.支払区分CD
			WHERE 	SH.支払日付		>=	@isDATE
				AND	SH.支払日付		<=	@ieDATE
				AND	SH.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SH.仕入先CD)
				AND	SH.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SH.仕入先CD)
				AND	ISNULL(SH.支払金額,0) <> 0
				AND SH.支払区分CD = 0--現金
		ORDER	BY	SH.支払日付, SH.仕入先CD
		
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--抽出データ出力
	SELECT	年,月,日,
			伝票番号,
			借方金額,
			借方勘定科目CD,
			借方勘定科目名,
			借方消費税CD,
			借方消費税率,
			借方業種,
			借方補助科目CD,
			借方補助科目名,
			借方部門CD,
			借方部門名,
			貸方勘定科目CD,
			貸方勘定科目名,
			貸方消費税CD,
			貸方消費税率,
			貸方業種,
			貸方補助科目CD,
			貸方補助科目名,
			貸方部門CD,
			貸方部門名,
			貸方金額,
			摘要,
			期日_年,
			期日_月,
			期日_日,
			手形番号
		FROM #TMP
		ORDER	BY	支払日付, 仕入先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '支払仕訳作成エラー'
		GOTO	EXIT_SP
	END

EXIT_SP:
	DROP TABLE #TMP

	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
