/****** Object:  StoredProcedure [dbo].[×usp_TN0701SetTmp担当者別社内在庫移動XXX]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[×usp_TN0701SetTmp担当者別社内在庫移動XXX]
GO
/****** Object:  StoredProcedure [dbo].[×usp_TN0701SetTmp担当者別社内在庫移動XXX]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN0701SetTmp担当者別社内在庫移動

	機能:	
		社内在庫情報を#Tmpに登録する。

 =============================================
	2009/09/16	oosawa	新規作成

 =============================================*/
CREATE PROCEDURE [dbo].[×usp_TN0701SetTmp担当者別社内在庫移動XXX]
	(
	@i社内在庫移動明細連番	INT,
	@i社内在庫移動連番	INT,
	@i枝番			SMALLINT,
	@i製品NO		CHAR (7) ,
	@i仕様NO		CHAR (7) , 
	@i数量			MONEY,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''


--	INSERT INTO Tmp在庫調整
	INSERT INTO #Tmp担当者別社内在庫移動
		(
			社内在庫移動明細連番,
			社内在庫移動連番,
			枝番, 
			製品NO,
			仕様NO,
			数量
		)  
	VALUES 
		(
			@i社内在庫移動明細連番,
			@i社内在庫移動連番,
			@i枝番, 
			@i製品NO,
			@i仕様NO,
			@i数量
		)

	SET @ST=@@ERROR IF @ST<>0 GOTO EXIT_SP

EXIT_SP:
	SET @RetST = @ST
	SET @RetMsg = @MSG
	RETURN @ST

GO
