/****** Object:  StoredProcedure [dbo].[usp_SE2100Bメンテ合計請求書発行]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE2100Bメンテ合計請求書発行]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE2100Bメンテ合計請求書発行]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE2100Bメンテ合計請求書発行

機能	ベルク用メンテ合計請求書を作成する


引数

戻り値

修正履歴
	2016/01/04	新規作成
	2016/03/27	oosawa		作業内容なし・ありの別書式に対応
*****************************************************/
create PROCEDURE [dbo].[usp_SE2100Bメンテ合計請求書発行]
	(
		@iS請求日付			DATETIME,
		@iE請求日付			DATETIME,
		@i物件種別			SMALLINT,
		--2016/03/27 ADD↓
        @i書式区分			SMALLINT,
        @i発注担当者名		VARCHAR(40),
		--2016/03/27 ADD↑
		
		--OUTPUT
		@RetDcnt 	INT				OUTPUT,
		@RetST		INT				OUTPUT,
		@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

	IF	@i書式区分 = 0 BEGIN--作業内容なし
		---------------------------
		--メンテ用請求明細
		---------------------------
		SELECT SYUKEI.*,表示用店舗名
			FROM (
					SELECT	MH.得意先CD,MH.納入先CD,MH.物件種別,
							件数 = COUNT(USH.見積番号),
							税込金額 = SUM(USH.税抜金額 + USH.外税額)
						FROM	TD売上請求H AS USH
							INNER JOIN TD見積 AS MH
								ON USH.見積番号 = MH.見積番号
						WHERE	MH.得意先CD = '6601'--ベルク
							AND	USH.請求日付 >= @iS請求日付
							AND	USH.請求日付 <= @iE請求日付
							AND	MH.物件種別 = @i物件種別
							AND	MH.発注担当者名 = COALESCE(@i発注担当者名,MH.発注担当者名)--2016/03/27 ADD
					GROUP BY	MH.得意先CD,MH.納入先CD,MH.物件種別
				) AS SYUKEI
				LEFT JOIN TM納入先 AS NU
					ON SYUKEI.得意先CD = NU.得意先CD
					AND SYUKEI.納入先CD = NU.納入先CD
			ORDER BY	SYUKEI.納入先CD, NU.表示用店舗名

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END--IF	@i書式区分 = 0 BEGIN--作業内容なし

	IF	@i書式区分 = 1 BEGIN--作業内容あり
		---------------------------
		--メンテ用請求明細
		---------------------------
		SELECT	MH.得意先CD,MH.納入先CD,MH.物件種別,
				NU.表示用店舗名,MH.作業内容,
				税込金額 = (USH.税抜金額 + USH.外税額)
			FROM	TD売上請求H AS USH
				INNER JOIN TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
				LEFT JOIN TM納入先 AS NU
					ON MH.得意先CD = NU.得意先CD
					AND MH.納入先CD = NU.納入先CD
			WHERE	MH.得意先CD = '6601'--ベルク
				AND	USH.請求日付 >= @iS請求日付
				AND	USH.請求日付 <= @iE請求日付
				AND	MH.物件種別 = @i物件種別
				AND	MH.発注担当者名 = COALESCE(@i発注担当者名,MH.発注担当者名)--2016/03/27 ADD
			ORDER BY	MH.納入先CD, NU.表示用店舗名

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END--IF	@i書式区分 = 1 BEGIN--作業内容あり

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
