<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SnwA01.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <SnwA01.My.MySettings>
      <setting name="PleasanterApiKey" serializeAs="String">
        <value>b70918e07bb1ab75d774ff5bc51d88ccbb77f4c15c42e87ea8c9453875e50a6dc9399b996cf4b6db4c5af5132b2ae7a9f77e508dcd14abacf80f9bc99b177b16</value>
      </setting>
      <setting name="PleasanterApiUrl" serializeAs="String">
        <value>http://192.168.0.9/api/items/</value>
      </setting>
      <setting name="PleasanterURL" serializeAs="String">
        <value>http://192.168.0.9/items/</value>
      </setting>
      <setting name="AppDistributeFolder" serializeAs="String">
        <value>\\192.168.0.9\共有\NewExe</value>
      </setting>
      <setting name="AdodbProviderName" serializeAs="String">
        <value>ADODB</value>
      </setting>
      <setting name="AdodbConnectionString" serializeAs="String">
        <value>Provider=SQLOLEDB;Data Source=192.168.0.9;Database=SanwaSDB;User ID=sa;Password=yjy0354847577</value>
      </setting>
    </SnwA01.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
