<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SnwMT01.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <SnwMT01.My.MySettings>
      <setting name="PleasanterApiKey" serializeAs="String">
        <value>b70918e07bb1ab75d774ff5bc51d88ccbb77f4c15c42e87ea8c9453875e50a6dc9399b996cf4b6db4c5af5132b2ae7a9f77e508dcd14abacf80f9bc99b177b16</value>
      </setting>
      <setting name="PleasanterApiUrl" serializeAs="String">
        <value>http://192.168.0.9/api/items/</value>
      </setting>
      <setting name="PleasanterURL" serializeAs="String">
        <value>http://192.168.0.9/items/</value>
      </setting>
      <setting name="AdodbProviderName" serializeAs="String">
        <value>ADODB</value>
      </setting>
      <setting name="AdodbConnectionString" serializeAs="String">
        <value>Provider=SQLOLEDB;Data Source=192.168.0.9;Database=SanwaSDB;User ID=sa;Password=yjy0354847577</value>
      </setting>
      <setting name="SqlClientConnectionString" serializeAs="String">
        <value>Data Source=192.168.0.9;Initial Catalog=SanwaSDB;User ID=sa;Password=yjy0354847577</value>
      </setting>
      <setting name="SiteId_TD物件情報" serializeAs="String">
        <value>1841999</value>
      </setting>
      <setting name="SiteId_TM得意先" serializeAs="String">
        <value>1841987</value>
      </setting>
      <setting name="SiteId_TM納入先" serializeAs="String">
        <value>1841990</value>
      </setting>
      <setting name="SiteId_TM仕入先" serializeAs="String">
        <value>1841977</value>
      </setting>
      <setting name="SiteId_TM配送先" serializeAs="String">
        <value>1841983</value>
      </setting>
      <setting name="SiteId_TM担当者" serializeAs="String">
        <value>1841979</value>
      </setting>
      <setting name="SiteId_TM工事担当" serializeAs="String">
        <value>1841994</value>
      </setting>
      <setting name="SiteId_TM製品" serializeAs="String">
        <value>1841992</value>
      </setting>
      <setting name="SiteId_TMウエルシア物件区分" serializeAs="String">
        <value>1841997</value>
      </setting>
      <setting name="SiteId_TMウエルシア物件内容" serializeAs="String">
        <value>1841984</value>
      </setting>
    </SnwMT01.My.MySettings>
  </userSettings>
</configuration>
