USE [SanwaSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CutFraction]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/******************************************************************************************
         端数処理ルーチン
*******************************************************************************************
 書式        fn_CutFraction(kubun,Num,Keta)
  値         KBN … 端数区分    Num … 値    Keta … 結果の桁数

*******************************************************************************************/
CREATE FUNCTION [dbo].[fn_CutFraction]
	(
		@KBN		INT = 0,
		@Num		MONEY,
		@Keta		MONEY
	)
RETURNS MONEY
AS
	BEGIN
		DECLARE	@result	MONEY

		IF @KBN = 0 BEGIN
			SET @result = dbo.fn_Round(@Num,@Keta)
		END
		ELSE IF @KBN = 1 BEGIN
			SET @result = dbo.fn_Roundup(@Num,@Keta)
		END
		ELSE IF @KBN = 2 BEGIN
			SET @result = dbo.fn_RoundDown(@Num,@Keta)
		END

		RETURN @result
	END

GO
