USE [SanwaSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetFirstDateOfScope]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/******************************************************************************************
         開始日算出ルーチン
*******************************************************************************************
 書式        ufn_GetFirstDateOfScope(SEIDATE,SIMEBI)

 引数	     @SEIDATE		検索対象の請求日付(指定請求日)
	     @SIMEBI		締日

*******************************************************************************************/
CREATE FUNCTION [dbo].[ufn_GetFirstDateOfScope]
	(
		@SEIDATE	DATETIME,
		@SIMEBI	INT
	)
RETURNS DATETIME
AS
	BEGIN
		DECLARE	@result	DATETIME
		DECLARE	@WDATE	VARCHAR(10)		--作業日付

		IF @SIMEBI = 0	BEGIN
			SET @result = NULL
		END ELSE IF @SIMEBI = 99 BEGIN
			SET @result = CONVERT(DATETIME,CONVERT(CHAR(7),@SEIDATE,111)+'/1')
		END ELSE	BEGIN

			IF DAY(@SEIDATE) > @SIMEBI BEGIN
				SET @WDATE = CONVERT(CHAR(7),@SEIDATE,111)+'/'+CONVERT(CHAR(2),@SIMEBI)
				IF ISDATE(@WDATE) = 1
					SET @result = CONVERT(DATETIME,DATEADD(DAY,1,@WDATE),111)
				ELSE 
					SET @result = NULL
			END ELSE BEGIN
				SET @WDATE = CONVERT(CHAR(7),DATEADD(MONTH,-1,@SEIDATE),111)+'/'+CONVERT(CHAR(2),@SIMEBI)
				IF ISDATE(@WDATE) = 1
					SET @result = CONVERT(DATETIME,DATEADD(DAY,1,@WDATE),111)
				ELSE 
					SET @result = NULL
			END

		END
		RETURN @result
	END
GO
