USE [SanwaSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetTax]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************************
         税率参照ルーチン
*******************************************************************************************
 書式        fn_GetTax(TaxDate)
  値         Date…消費税を算出したい日

*******************************************************************************************/
CREATE FUNCTION [dbo].[fn_GetTax]
	(
		@Date	DATETIME
	)
RETURNS MONEY
AS
	BEGIN
		DECLARE	@result	MONEY
		--消費税情報
		DECLARE	@税切替日	DATETIME,
				@前税率	SMALLINT,
				@後税率	SMALLINT
	
		--消費税情報取得
		SELECT	@税切替日 = 切替日付,
				@前税率 = 旧税率,
				@後税率 = 税率
			FROM 		TM税率
			WHERE 	税率ID = 'ZR'

		IF @後税率 = '' BEGIN
			SET @result = 0
		END ELSE BEGIN
			IF @税切替日 <=@Date 
				SET @result = @後税率
			ELSE
				SET @result = @前税率
		END

		RETURN @result
	END

GO
