USE [SanwaSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Get入金予定日]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/******************************************************************************************
         入金予定日算出ルーチン
*******************************************************************************************
 書式        fn_Get入金予定日(SEIDATE,CYCLE,DAY)
 引数	     @SEIDATE	検索対象の請求日付(指定請求日)
	     @CYCLE		入金サイクル
	     @DAY		入金予定日

*******************************************************************************************/
CREATE FUNCTION [dbo].[fn_Get入金予定日]
	(
		@SEIDATE	DATETIME,
		@CYCLE		INT,
		@DAY		INT
	)
RETURNS DATETIME
AS
	BEGIN
		DECLARE	@result	DATETIME
		DECLARE	@WDATE	VARCHAR(10)		--作業日付

		IF @DAY = 0	BEGIN
			SET @result = NULL
		END ELSE IF @DAY = 99 BEGIN
			SET @result = DATEADD(DAY,-1,CONVERT(DATETIME,CONVERT(CHAR(7),DATEADD(MONTH,@CYCLE+1,@SEIDATE),111)+'/1'))
		END ELSE	BEGIN
			SET @WDATE = 
				CONVERT(VARCHAR,YEAR(DATEADD(MONTH,@CYCLE,@SEIDATE))) + '/' +
				CONVERT(VARCHAR,MONTH(DATEADD(MONTH,@CYCLE,@SEIDATE))) + '/' +
				CONVERT(VARCHAR,@DAY)
			IF ISDATE(@WDATE) = 1	BEGIN
				SET @result = CONVERT(DATETIME,@WDATE,111)
				
			END ELSE	BEGIN
				--日付にならない物は末日にする
				/*SET @result = DATEADD(DAY,-1,CONVERT(DATETIME,
					CONVERT(VARCHAR,YEAR(DATEADD(MONTH,@CYCLE+1,@SEIDATE))) + '/' + 
					CONVERT(VARCHAR,MONTH(DATEADD(MONTH,@CYCLE+1,@SEIDATE))) + '/01',111))*/
				SET @result = NULL
			END
		END
		RETURN @result
	END





GO
