USE [SanwaSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Divide]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/******************************************************************************************
         割り算ルーチン
*******************************************************************************************
 書式        fn_Divide(@dividend,@divisor)
  値         @dividend … 除算される数値式    @divisor … 被除数を割る数値式

*******************************************************************************************/
CREATE FUNCTION [dbo].[fn_Divide]
	(
		@dividend	MONEY,
		@divisor	MONEY

	)
RETURNS MONEY
AS
	BEGIN
		DECLARE	@result	MONEY

		IF @divisor = 0 BEGIN
			SET @result = 0
		END ELSE BEGIN
			SET @result = @dividend / @divisor
		END

		RETURN @result
	END

GO
