USE [SanwaSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RoundUp]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/******************************************************************************************
         切り上げルーチン
*******************************************************************************************
 書式        RoundUp(Num,Keta)
  値         Num … 切り上げする値    Keta … 切り上げした結果の桁数

 使用例  少数点以下第２位で切り上げして、少数点位下１桁の値にする場合
             dbo.RoundUp(切り上げする値 , 1)
*******************************************************************************************/
CREATE FUNCTION [dbo].[fn_RoundUp]
	(
		@Num		MONEY,
		@Keta		MONEY
	)
RETURNS MONEY
AS
	BEGIN
		DECLARE	@result	MONEY

		set @result = FLOOR(ABS(@Num) * CONVERT(MONEY,POWER(10,@Keta)) + 0.9)
				 / CONVERT(MONEY,POWER(10,@Keta)) * SIGN(@Num)

		RETURN @result
	END

GO
