USE [SanwaSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RoundDown]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/******************************************************************************************
         切り捨てルーチン
*******************************************************************************************
 書式        RoundDown(Num,Keta)
  値         Num … 切り捨てする値    Keta … 切り捨てした結果の桁数

 使用例  少数点以下第２位で切り捨てして、少数点位下１桁の値にする場合
             dbo.RoundDown(切り捨てする値 , 1)
*******************************************************************************************/
CREATE FUNCTION [dbo].[fn_RoundDown]
	(
		@Num		MONEY,
		@Keta		MONEY
	)
RETURNS MONEY
AS
	BEGIN
		DECLARE	@result	MONEY

		set @result = FLOOR(ABS(@Num) * CONVERT(MONEY,POWER(10,@Keta)))
				 / CONVERT(MONEY,POWER(10,@Keta)) * SIGN(@Num)

		RETURN @result
	END

GO
