USE [SanwaSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Round]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************************
         四捨五入ルーチン
*******************************************************************************************
 書式        Round(Num,Keta)
  値         Num … 四捨五入する値    Keta … 四捨五入した結果の桁数

 使用例  少数点以下第２位で四捨五入して、少数点位下１桁の値にする場合
             dbo.Round(四捨五入する値 , 1)
*******************************************************************************************/
CREATE FUNCTION [dbo].[fn_Round]
	(
		@Num		MONEY,
		@Keta		MONEY
	)
RETURNS MONEY
AS
	BEGIN
		DECLARE	@result	MONEY

		SET @result = FLOOR(ABS(@Num) * CONVERT(MONEY,POWER(10,@Keta)) + 0.5)
				 / CONVERT(MONEY,POWER(10,@Keta)) * SIGN(@Num)

		RETURN @result
	END

GO
