.sdt-event-day .sdt-event-day-wrap {
  background-color: #fff;
  border: 1px solid #d19405;
  background: #feeebd url(../../styles/plugins/themes/sunny/images/ui-bg_highlight-soft_100_feeebd_1x100.png) 50% top repeat-x;
  border-radius: 10px;
  overflow: auto;
}
.sdt-event-day .sdt-event-day-wrap .sdt-event-day-title {
  margin: 0;
}
.sdt-event-day .sdt-event-day-wrap .sdt-event-day-title__text {
  font-size: 20px;
  font-weight: bold;
}
.sdt-event-day .sdt-event-day-wrap .sdt-section {
  background-color: initial;
}
.sdt-event-day .sdt-event-day-wrap .sdt-event-info {
  background-color: initial;
}
.sdt-event-day .sdt-event-day-wrap .sdt-vip-table, .sdt-event-day .sdt-event-day-wrap .sdt-work-table {
  margin-top: 0;
}
.sdt-event-day .sdt-event-day-wrap .sdt-vip-table .sdt-table__head, .sdt-event-day .sdt-event-day-wrap .sdt-work-table .sdt-table__head {
  top: -5px;
  margin-top: -5px;
}
.sdt-event-day .sdt-event-day-wrap .sdt-vip-table .sdt-table__head .sdt-table__row, .sdt-event-day .sdt-event-day-wrap .sdt-work-table .sdt-table__head .sdt-table__row {
  border: 1px solid #494437;
  background: #817865 url(../../styles/plugins/themes/sunny/images/ui-bg_gloss-wave_45_817865_500x100.png) 50% 50% repeat-x;
  color: #fff;
  font-weight: bold;
}
.sdt-event-day .sdt-event-day-wrap .sdt-vip-table .sdt-table__head .sdt-table__row .sdt-table__cell-head, .sdt-event-day .sdt-event-day-wrap .sdt-work-table .sdt-table__head .sdt-table__row .sdt-table__cell-head {
  height: 42px;
  padding: 6px;
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
  border-right: solid 1px #fff;
  background-color: initial;
  text-align: left;
  color: #fff;
}
.sdt-event-day .sdt-event-day-wrap .sdt-vip-table .sdt-table__body .sdt-table__row, .sdt-event-day .sdt-event-day-wrap .sdt-work-table .sdt-table__body .sdt-table__row {
  border: solid 1px #c0c0c0;
}
.sdt-event-day .sdt-event-day-wrap .sdt-vip-table .sdt-table__body .sdt-table__row .sdt-table__cell, .sdt-event-day .sdt-event-day-wrap .sdt-work-table .sdt-table__body .sdt-table__row .sdt-table__cell {
  border-bottom: solid 1px #c0c0c0;
  border-left: dotted 1px #c0c0c0;
  border-right: dotted 1px #c0c0c0;
  text-align: left;
}
.sdt-event-day .sdt-event-day-wrap .sdt-form-label, .sdt-event-day .sdt-event-day-wrap .sdt-input, .sdt-event-day .sdt-event-day-wrap .sdt-selector-content {
  font-size: 12px;
}
.sdt-event-day .sdt-event-day-wrap .sdt-link-button {
  height: auto;
  min-width: 80px;
  padding: 4px 5px 6px 5px;
  border: 1px solid #d19405;
  background: #fece2f url(../../styles/plugins/themes/sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
  font-size: 12px;
  color: #333;
}
.sdt-event-day .sdt-event-day-wrap .sdt-button {
  height: auto;
  padding: 4px 5px 6px 5px;
}
.sdt-event-day .sdt-event-day-wrap .sdt-button.sdt-button--primary {
  border: 1px solid #d19405;
  background: #fece2f url(../../styles/plugins/themes/sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
}
.sdt-event-day .sdt-event-day-wrap .sdt-button.sdt-button--primary .sdt-button__text {
  font-size: 12px;
  font-weight: normal;
  color: #333;
}