@charset "UTF-8";
/* ===================
    色定義
==================*/
/* ===================
    縦スペース定義
==================*/
/* ===================
    横スペース定義
==================*/
/* ===================
    テキストサイズ定義
==================*/
.sdt-achievements {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #F2F2F2;
  z-index: 705;
}
.sdt-achievements .sdt-achievements-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #F2F2F2;
}
.sdt-achievements .sdt-achievements-title {
  margin: 0;
}
.sdt-achievements .sdt-achievements-title__text {
  font-weight: bold;
  font-size: 1.2em;
}
.sdt-achievements .sdt-achievements-form {
  margin-top: 20px;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form {
    margin-top: 15px;
  }
}
.sdt-achievements .sdt-achievements-form__area {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form__area {
    padding-top: 15px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form__area {
    padding-left: 15px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form__area {
    padding-right: 15px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form__area {
    padding-bottom: 15px;
  }
}
.sdt-achievements .sdt-achievements-form .sdt-form-title {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-title {
    margin-bottom: 9px;
  }
}
.sdt-achievements .sdt-achievements-form .sdt-form-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 30%;
  max-width: 33%;
  height: 30px;
  padding-right: 12px;
  margin-bottom: 12px;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-box {
    padding-right: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-box {
    margin-bottom: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-box {
    min-width: 100%;
    max-width: 100%;
  }
}
.sdt-achievements .sdt-achievements-form .sdt-form-label {
  position: relative;
  min-width: 180px;
  height: auto;
}
.sdt-achievements .sdt-achievements-form .sdt-form-inputArea {
  width: calc(100% - 180px);
  height: 100%;
}
.sdt-achievements .sdt-achievements-form .sdt-input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 1px #78818F inset;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  background-color: #fff;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-input {
    padding-left: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-input {
    padding-right: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-input {
    font-size: 14px;
  }
}
.sdt-achievements .sdt-achievements-form .sdt-input::-moz-placeholder {
  color: #C4C9D0;
}
.sdt-achievements .sdt-achievements-form .sdt-input::placeholder {
  color: #C4C9D0;
}
.sdt-achievements .sdt-achievements-form .sdt-input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #2F80ED inset;
  color: #3B3B3B;
}
.sdt-achievements .sdt-achievements-form .sdt-input:disabled {
  color: #C4C9D0;
  box-shadow: 0 0 0 2px #C4C9D0 inset;
}
.sdt-achievements .sdt-achievements-form .sdt-input:-moz-read-only {
  border: none;
  outline: none;
  box-shadow: none;
}
.sdt-achievements .sdt-achievements-form .sdt-input:read-only {
  border: none;
  outline: none;
  box-shadow: none;
}
.sdt-achievements .sdt-achievements-form .sdt-input--error {
  box-shadow: 0 0 0 1px #E80000 inset;
}
.sdt-achievements .sdt-achievements-form .sdt-selector {
  position: relative;
  width: 100%;
}
.sdt-achievements .sdt-achievements-form .sdt-selector:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  right: 8px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #C4C9D0;
  pointer-events: none;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-selector:before {
    right: 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #C4C9D0;
  }
}
.sdt-achievements .sdt-achievements-form .sdt-selector-content {
  width: 100%;
  height: 30px;
  padding: 0 38px 0 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #C4C9D0 inset;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-size: 14px;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-selector-content {
    font-size: 12px;
    height: 30px;
    padding: 0 25px 0 6px;
  }
}
.sdt-achievements .sdt-achievements-form .sdt-selector-content:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #2F80ED inset;
}
.sdt-achievements .sdt-achievements-form .sdt-form-EventNo {
  width: 100%;
  max-width: 100%;
}
.sdt-achievements .sdt-achievements-form .sdt-form-EventNo .sdt-form-inputArea {
  width: 150px;
}
.sdt-achievements .sdt-achievements-form .sdt-form-Item {
  width: 100%;
  max-width: 100%;
}
.sdt-achievements .sdt-achievements-form .sdt-form-Item .sdt-form-inputArea {
  width: 50%;
}
.sdt-achievements .sdt-achievements-form .sdt-form-buttonArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.sdt-achievements .sdt-achievements-form .sdt-form-buttonArea .sdt-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 50px;
  max-width: 100%;
  height: 30px;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  background-color: #2F80ED;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-buttonArea .sdt-button {
    padding-top: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-buttonArea .sdt-button {
    padding-bottom: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-buttonArea .sdt-button {
    padding-left: 15px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-buttonArea .sdt-button {
    padding-right: 15px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-buttonArea .sdt-button {
    margin-left: 15px;
  }
}
.sdt-achievements .sdt-achievements-form .sdt-form-buttonArea .sdt-button__text {
  color: #fff;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-form .sdt-form-buttonArea .sdt-button {
    width: 100%;
    margin: 0 80px;
  }
}
.sdt-achievements .sdt-achievements-table {
  position: relative;
  margin-top: 20px;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-table {
    margin-top: 15px;
  }
}
.sdt-achievements .sdt-achievements-table__wrap {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}
.sdt-achievements .sdt-achievements-table .sdt-table {
  border: solid 1px #3B3B3B;
}
.sdt-achievements .sdt-achievements-table .sdt-table__cell {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  border-top: solid 1px #3B3B3B;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-table .sdt-table__cell {
    padding-top: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-table .sdt-table__cell {
    padding-left: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-table .sdt-table__cell {
    padding-right: 9px;
  }
}
@media screen and (max-width: 760px) {
  .sdt-achievements .sdt-achievements-table .sdt-table__cell {
    padding-bottom: 9px;
  }
}