USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM三研情報]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM三研情報](
	[年月] [datetime] NOT NULL,
	[売上税抜金額_元] [money] NOT NULL,
	[原価税抜金額_元] [money] NOT NULL,
	[人件一般費_元] [money] NOT NULL,
	[営業外費_元] [money] NOT NULL,
	[元円比率] [money] NOT NULL,
	[売上税抜金額_円] [money] NOT NULL,
	[原価税抜金額_円] [money] NOT NULL,
	[人件一般費_円] [money] NOT NULL,
	[営業外費_円] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM三研情報] PRIMARY KEY CLUSTERED 
(
	[年月] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_売上税抜金額_元]  DEFAULT ((0)) FOR [売上税抜金額_元]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_原価税抜金額_元]  DEFAULT ((0)) FOR [原価税抜金額_元]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_人件一般費_元]  DEFAULT ((0)) FOR [人件一般費_元]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_営業外費_元]  DEFAULT ((0)) FOR [営業外費_元]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_元円比率]  DEFAULT ((0)) FOR [元円比率]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_売上税抜金額_円]  DEFAULT ((0)) FOR [売上税抜金額_円]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_原価税抜金額_円]  DEFAULT ((0)) FOR [原価税抜金額_円]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_人件一般費_円]  DEFAULT ((0)) FOR [人件一般費_円]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_営業外費_円]  DEFAULT ((0)) FOR [営業外費_円]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM三研情報] ADD  CONSTRAINT [DF_TM三研情報_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
