USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMサービス実績情報]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMサービス実績情報](
	[年月] [datetime] NOT NULL,
	[売額_貨物自_三商] [money] NOT NULL,
	[原額_貨物自_三商] [money] NOT NULL,
	[売額_貨物自_店装] [money] NOT NULL,
	[原額_貨物自_店装] [money] NOT NULL,
	[売額_貨物自_サンプラ] [money] NOT NULL,
	[原額_貨物自_サンプラ] [money] NOT NULL,
	[売額_貨物自_三シャ] [money] NOT NULL,
	[原額_貨物自_三シャ] [money] NOT NULL,
	[売額_貨物自_トラン] [money] NOT NULL,
	[原額_貨物自_トラン] [money] NOT NULL,
	[売額_貨物自_その他] [money] NOT NULL,
	[原額_貨物自_その他] [money] NOT NULL,
	[売額_貨物自_事故] [money] NOT NULL,
	[原額_貨物自_事故] [money] NOT NULL,
	[売額_貨物庸_三商] [money] NOT NULL,
	[原額_貨物庸_三商] [money] NOT NULL,
	[売額_貨物庸_店装] [money] NOT NULL,
	[原額_貨物庸_店装] [money] NOT NULL,
	[売額_貨物庸_サンプラ] [money] NOT NULL,
	[原額_貨物庸_サンプラ] [money] NOT NULL,
	[売額_貨物庸_三シャ] [money] NOT NULL,
	[原額_貨物庸_三シャ] [money] NOT NULL,
	[売額_貨物庸_トラン] [money] NOT NULL,
	[原額_貨物庸_トラン] [money] NOT NULL,
	[売額_貨物庸_その他] [money] NOT NULL,
	[原額_貨物庸_その他] [money] NOT NULL,
	[売額_貨物庸_事故] [money] NOT NULL,
	[原額_貨物庸_事故] [money] NOT NULL,
	[売額_物流_ルート] [money] NOT NULL,
	[原額_物流_ルート] [money] NOT NULL,
	[売額_物流_丸和] [money] NOT NULL,
	[原額_物流_丸和] [money] NOT NULL,
	[売額_物流_その他] [money] NOT NULL,
	[原額_物流_その他] [money] NOT NULL,
	[売額_物流_事故] [money] NOT NULL,
	[原額_物流_事故] [money] NOT NULL,
	[人件一般費_貨物] [money] NOT NULL,
	[営業外費_貨物] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[人件一般費_物流] [money] NOT NULL,
	[営業外費_物流] [money] NOT NULL,
 CONSTRAINT [PK_TMサービス実績情報] PRIMARY KEY CLUSTERED 
(
	[年月] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物自_三商]  DEFAULT ((0)) FOR [売額_貨物自_三商]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物自_三商]  DEFAULT ((0)) FOR [原額_貨物自_三商]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物自_店装]  DEFAULT ((0)) FOR [売額_貨物自_店装]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物自_店装]  DEFAULT ((0)) FOR [原額_貨物自_店装]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物自_サンプラ]  DEFAULT ((0)) FOR [売額_貨物自_サンプラ]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物自_サンプラ]  DEFAULT ((0)) FOR [原額_貨物自_サンプラ]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物自_三シャ]  DEFAULT ((0)) FOR [売額_貨物自_三シャ]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物自_三シャ]  DEFAULT ((0)) FOR [原額_貨物自_三シャ]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物自_トラン]  DEFAULT ((0)) FOR [売額_貨物自_トラン]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物自_トラン]  DEFAULT ((0)) FOR [原額_貨物自_トラン]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物自_その他]  DEFAULT ((0)) FOR [売額_貨物自_その他]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物自_その他]  DEFAULT ((0)) FOR [原額_貨物自_その他]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物自_事故]  DEFAULT ((0)) FOR [売額_貨物自_事故]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物自_事故]  DEFAULT ((0)) FOR [原額_貨物自_事故]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物庸_三商]  DEFAULT ((0)) FOR [売額_貨物庸_三商]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物庸_三商]  DEFAULT ((0)) FOR [原額_貨物庸_三商]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物庸_店装]  DEFAULT ((0)) FOR [売額_貨物庸_店装]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物庸_店装]  DEFAULT ((0)) FOR [原額_貨物庸_店装]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物庸_サンプラ]  DEFAULT ((0)) FOR [売額_貨物庸_サンプラ]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物庸_サンプラ]  DEFAULT ((0)) FOR [原額_貨物庸_サンプラ]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物庸_三シャ]  DEFAULT ((0)) FOR [売額_貨物庸_三シャ]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物庸_三シャ]  DEFAULT ((0)) FOR [原額_貨物庸_三シャ]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物庸_トラン]  DEFAULT ((0)) FOR [売額_貨物庸_トラン]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物庸_トラン]  DEFAULT ((0)) FOR [原額_貨物庸_トラン]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物庸_その他]  DEFAULT ((0)) FOR [売額_貨物庸_その他]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物庸_その他]  DEFAULT ((0)) FOR [原額_貨物庸_その他]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_貨物庸_事故]  DEFAULT ((0)) FOR [売額_貨物庸_事故]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_貨物庸_事故]  DEFAULT ((0)) FOR [原額_貨物庸_事故]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_物流_ルート]  DEFAULT ((0)) FOR [売額_物流_ルート]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_物流_ルート]  DEFAULT ((0)) FOR [原額_物流_ルート]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_物流_丸和]  DEFAULT ((0)) FOR [売額_物流_丸和]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_物流_丸和]  DEFAULT ((0)) FOR [原額_物流_丸和]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_物流_その他]  DEFAULT ((0)) FOR [売額_物流_その他]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_物流_その他]  DEFAULT ((0)) FOR [原額_物流_その他]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_売額_物流_事故]  DEFAULT ((0)) FOR [売額_物流_事故]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_原額_物流_事故]  DEFAULT ((0)) FOR [原額_物流_事故]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_人件一般費]  DEFAULT ((0)) FOR [人件一般費_貨物]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_営業外費]  DEFAULT ((0)) FOR [営業外費_貨物]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_人権一般費_物流]  DEFAULT ((0)) FOR [人件一般費_物流]
GO
ALTER TABLE [dbo].[TMサービス実績情報] ADD  CONSTRAINT [DF_TMサービス実績情報_営業外費_物流]  DEFAULT ((0)) FOR [営業外費_物流]
GO
