USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TWLog]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TWLog](
	[PCName] [varchar](255) NOT NULL,
	[Source] [varchar](255) NOT NULL,
	[Discription] [varchar](255) NOT NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TWLog] ADD  CONSTRAINT [DF_TWLog_PCName]  DEFAULT ('') FOR [PCName]
GO
ALTER TABLE [dbo].[TWLog] ADD  CONSTRAINT [DF_TWLog_Source]  DEFAULT ('') FOR [Source]
GO
ALTER TABLE [dbo].[TWLog] ADD  CONSTRAINT [DF_TWLog_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
