USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMウエルシア物件区分]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMウエルシア物件区分](
	[ウエルシア物件区分CD] [int] NOT NULL,
	[ウエルシア物件区分名] [varchar](60) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TMウエルシア物件区分] PRIMARY KEY CLUSTERED 
(
	[ウエルシア物件区分CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMウエルシア物件区分] ADD  CONSTRAINT [DF_TMウエルシア物件区分_ウエルシア物件区分名]  DEFAULT ('') FOR [ウエルシア物件区分名]
GO
ALTER TABLE [dbo].[TMウエルシア物件区分] ADD  CONSTRAINT [DF_TMウエルシア物件区分_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMウエルシア物件区分] ADD  CONSTRAINT [DF_TMウエルシア物件区分_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
