USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[Tmp売上明細内訳]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tmp売上明細内訳](
	[売上番号] [int] NOT NULL,
	[売上行番号] [int] NOT NULL,
	[売上明細行番号] [int] NOT NULL,
	[見積行番号] [int] NOT NULL,
	[伝票区分] [varchar](1) NOT NULL,
	[SP区分] [varchar](1) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[ベース色] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NULL,
	[H2] [int] NULL,
	[エラー内容] [varchar](255) NULL,
	[売上数量] [money] NOT NULL,
	[見積数量] [money] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[売上単価] [money] NOT NULL,
	[仕入単価] [money] NOT NULL,
	[売上金額] [money] NOT NULL,
	[仕入金額] [money] NOT NULL,
	[定価] [money] NOT NULL,
	[売上税区分] [smallint] NOT NULL,
	[消費税額] [money] NOT NULL,
	[製品区分] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_Tmp売上明細内訳] PRIMARY KEY CLUSTERED 
(
	[売上番号] ASC,
	[売上行番号] ASC,
	[売上明細行番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_伝票区分]  DEFAULT ('') FOR [伝票区分]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_ベース色]  DEFAULT ('') FOR [ベース色]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_エラー内容]  DEFAULT ('') FOR [エラー内容]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_売上数量]  DEFAULT ((0)) FOR [売上数量]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_見積数量]  DEFAULT ((0)) FOR [見積数量]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_単位名]  DEFAULT ('') FOR [単位名]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_売上単価]  DEFAULT ((0)) FOR [売上単価]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_仕入単価]  DEFAULT ((0)) FOR [仕入単価]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_売上金額]  DEFAULT ((0)) FOR [売上金額]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_仕入金額]  DEFAULT ((0)) FOR [仕入金額]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_定価]  DEFAULT ((0)) FOR [定価]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_売上税区分]  DEFAULT ((0)) FOR [売上税区分]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_消費税額]  DEFAULT ((0)) FOR [消費税額]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_製品区分]  DEFAULT ((0)) FOR [製品区分]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[Tmp売上明細内訳] ADD  CONSTRAINT [DF_Tmp売上明細内訳_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
