USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD入金]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD入金](
	[入金番号] [int] NOT NULL,
	[枝番] [smallint] NOT NULL,
	[入金日付] [datetime] NULL,
	[得意先CD] [varchar](4) NOT NULL,
	[得意先名1] [varchar](28) NOT NULL,
	[得意先名2] [varchar](28) NULL,
	[入金区分CD] [smallint] NOT NULL,
	[入金区分名] [varchar](10) NOT NULL,
	[入金種別] [smallint] NOT NULL,
	[入金金額] [money] NOT NULL,
	[手形期日] [datetime] NULL,
	[手形番号] [varchar](10) NULL,
	[摘要名] [varchar](30) NULL,
	[合計金額] [money] NOT NULL,
	[請求年月] [datetime] NULL,
	[請求締日] [smallint] NOT NULL,
	[請求更新FLG] [smallint] NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD入金] PRIMARY KEY CLUSTERED 
(
	[入金番号] ASC,
	[枝番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD入金] ADD  CONSTRAINT [DF_TD入金_入金区分ID]  DEFAULT ((0)) FOR [入金区分CD]
GO
ALTER TABLE [dbo].[TD入金] ADD  CONSTRAINT [DF_TD入金_入金種別]  DEFAULT ((0)) FOR [入金種別]
GO
ALTER TABLE [dbo].[TD入金] ADD  CONSTRAINT [DF_TD入金_入金金額]  DEFAULT ((0)) FOR [入金金額]
GO
ALTER TABLE [dbo].[TD入金] ADD  CONSTRAINT [DF_TD入金_合計金額]  DEFAULT ((0)) FOR [合計金額]
GO
ALTER TABLE [dbo].[TD入金] ADD  CONSTRAINT [DF_TD入金_請求締日]  DEFAULT ((0)) FOR [請求締日]
GO
ALTER TABLE [dbo].[TD入金] ADD  CONSTRAINT [DF_TD入金_請求更新FLG]  DEFAULT ((0)) FOR [請求更新FLG]
GO
ALTER TABLE [dbo].[TD入金] ADD  CONSTRAINT [DF_TD入金_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD入金] ADD  CONSTRAINT [DF_TD入金_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
