USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM会社]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM会社](
	[会社ID] [varchar](2) NOT NULL,
	[社名1] [varchar](30) NOT NULL,
	[社名2] [varchar](30) NOT NULL,
	[郵便番号] [varchar](8) NOT NULL,
	[住所1] [varchar](40) NOT NULL,
	[住所2] [varchar](40) NOT NULL,
	[電話番号] [varchar](15) NOT NULL,
	[FAX番号] [varchar](15) NOT NULL,
	[代表者名] [varchar](30) NOT NULL,
	[締日] [smallint] NOT NULL,
	[期首月] [smallint] NOT NULL,
	[入力開始日] [datetime] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[インボイス登録番号] [varchar](14) NOT NULL,
	[コールセンター番号] [varchar](15) NULL,
 CONSTRAINT [PK_TM会社] PRIMARY KEY CLUSTERED 
(
	[会社ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM会社] ADD  CONSTRAINT [DF_TM会社_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM会社] ADD  CONSTRAINT [DF_TM会社_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TM会社] ADD  CONSTRAINT [DF_TM会社_インボイス登録番号_1]  DEFAULT ('') FOR [インボイス登録番号]
GO
