USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[WkTbl]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WkTbl](
	[見積明細連番] [int] NULL,
	[見積番号] [int] NOT NULL,
	[行番号] [int] NOT NULL,
	[追番] [int] NOT NULL,
	[展開CHK] [smallint] NOT NULL,
	[見積区分] [varchar](1) NOT NULL,
	[SP区分] [varchar](1) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](7) NOT NULL,
	[仕様NO] [char](7) NOT NULL,
	[ベース色] [char](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[D1] [int] NOT NULL,
	[D2] [int] NOT NULL,
	[H1] [int] NOT NULL,
	[H2] [int] NOT NULL,
	[エラー内容] [varchar](255) NOT NULL,
	[見積数量] [money] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[定価] [money] NOT NULL,
	[仕入単価] [money] NOT NULL,
	[仕入率] [money] NOT NULL,
	[売上単価] [money] NOT NULL,
	[売上率] [money] NOT NULL,
	[U区分] [varchar](1) NOT NULL,
	[M区分] [varchar](1) NOT NULL,
	[仕入金額] [money] NOT NULL,
	[売上金額] [money] NOT NULL,
	[売上税区分] [smallint] NOT NULL,
	[消費税額] [money] NOT NULL,
	[仕入先CD] [varchar](4) NOT NULL,
	[仕入先名] [varchar](8) NOT NULL,
	[配送先CD] [varchar](4) NOT NULL,
	[配送先名] [varchar](8) NOT NULL,
	[社内在庫数] [money] NOT NULL,
	[客先在庫数] [money] NOT NULL,
	[転用数] [money] NOT NULL,
	[発注数] [money] NOT NULL,
	[総数量] [money] NOT NULL,
	[製品区分] [smallint] NULL,
	[仕分数1] [money] NOT NULL,
	[仕分数2] [money] NOT NULL,
	[仕分数3] [money] NOT NULL,
	[仕分数4] [money] NOT NULL,
	[仕分数5] [money] NOT NULL,
	[仕分数6] [money] NOT NULL,
	[仕分数7] [money] NOT NULL,
	[仕分数8] [money] NOT NULL,
	[仕分数9] [money] NOT NULL,
	[仕分数10] [money] NOT NULL,
	[仕分数11] [money] NOT NULL,
	[仕分数12] [money] NOT NULL,
	[仕分数13] [money] NOT NULL,
	[仕分数14] [money] NOT NULL,
	[仕分数15] [money] NOT NULL,
	[仕分数16] [money] NOT NULL,
	[仕分数17] [money] NOT NULL,
	[仕分数18] [money] NOT NULL,
	[仕分数19] [money] NOT NULL,
	[仕分数20] [money] NOT NULL,
	[仕分数21] [money] NOT NULL,
	[仕分数22] [money] NOT NULL,
	[仕分数23] [money] NOT NULL,
	[仕分数24] [money] NOT NULL,
	[仕分数25] [money] NOT NULL,
	[仕分数26] [money] NOT NULL,
	[仕分数27] [money] NOT NULL,
	[仕分数28] [money] NOT NULL,
	[仕分数29] [money] NOT NULL,
	[仕分数30] [money] NOT NULL,
	[社内在庫数FLG] [smallint] NOT NULL,
	[社内適正在庫数FLG] [smallint] NOT NULL,
	[客先在庫数FLG] [smallint] NOT NULL,
	[発注調整数] [money] NOT NULL,
	[他社伝票番号] [varchar](10) NOT NULL,
	[他社納品日付] [datetime] NULL,
	[クレーム明細区分] [int] NOT NULL,
	[作業区分CD] [int] NOT NULL,
	[仕入業者CD] [varchar](4) NOT NULL,
	[仕入業者名] [varchar](8) NOT NULL,
	[入出庫日] [datetime] NULL,
	[明細備考] [varchar](255) NOT NULL,
	[追番R] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
