USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM品群]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM品群](
	[品群NO] [varchar](7) NOT NULL,
	[品群名称] [varchar](40) NOT NULL,
	[W] [smallint] NOT NULL,
	[D] [smallint] NOT NULL,
	[H] [smallint] NOT NULL,
	[D1] [smallint] NOT NULL,
	[D2] [smallint] NOT NULL,
	[H1] [smallint] NOT NULL,
	[H2] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM品群] PRIMARY KEY CLUSTERED 
(
	[品群NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_品群名称]  DEFAULT ('') FOR [品群名称]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_W]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_D]  DEFAULT ((0)) FOR [D]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_H]  DEFAULT ((0)) FOR [H]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_D1]  DEFAULT ((0)) FOR [D1]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_D2]  DEFAULT ((0)) FOR [D2]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_H1]  DEFAULT ((0)) FOR [H1]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_H2]  DEFAULT ((0)) FOR [H2]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM品群] ADD  CONSTRAINT [DF_TM品群_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
