USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM支払金額]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM支払金額](
	[仕入先CD] [varchar](4) NOT NULL,
	[支払日付] [datetime] NOT NULL,
	[前月残高] [money] NOT NULL,
	[支払金額] [money] NOT NULL,
	[調整金額] [money] NOT NULL,
	[仕入金額] [money] NOT NULL,
	[返品金額] [money] NOT NULL,
	[訂正金額] [money] NOT NULL,
	[消費税額] [money] NOT NULL,
	[当月残高] [money] NOT NULL,
	[支払開始日付] [datetime] NOT NULL,
	[支払終了日付] [datetime] NOT NULL,
	[締日] [smallint] NOT NULL,
	[伝票枚数] [int] NOT NULL,
	[更新F] [smallint] NOT NULL,
	[修正F] [smallint] NOT NULL,
	[処理日] [datetime] NOT NULL,
 CONSTRAINT [PK_TM支払金額] PRIMARY KEY CLUSTERED 
(
	[仕入先CD] ASC,
	[支払日付] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_前月残高]  DEFAULT ((0)) FOR [前月残高]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_支払金額]  DEFAULT ((0)) FOR [支払金額]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_調整金額]  DEFAULT ((0)) FOR [調整金額]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_仕入金額]  DEFAULT ((0)) FOR [仕入金額]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_返品金額]  DEFAULT ((0)) FOR [返品金額]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_訂正金額]  DEFAULT ((0)) FOR [訂正金額]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_消費税額]  DEFAULT ((0)) FOR [消費税額]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_当月残高]  DEFAULT ((0)) FOR [当月残高]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_締日]  DEFAULT ((0)) FOR [締日]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_伝票枚数]  DEFAULT ((0)) FOR [伝票枚数]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_更新F]  DEFAULT ((0)) FOR [更新F]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_修正F]  DEFAULT ((0)) FOR [修正F]
GO
ALTER TABLE [dbo].[TM支払金額] ADD  CONSTRAINT [DF_TM支払金額_処理日]  DEFAULT (getdate()) FOR [処理日]
GO
