USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD見積_経過]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD見積_経過](
	[見積番号] [int] NOT NULL,
	[見積確定区分] [smallint] NOT NULL,
	[発注書発行日付] [datetime] NULL,
	[完了日付] [datetime] NULL,
	[完了者名] [varchar](60) NOT NULL,
	[入力USERID] [varchar](60) NOT NULL,
	[請求予定日] [datetime] NULL,
	[経過備考1] [varchar](100) NOT NULL,
	[経過備考2] [varchar](100) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD見積_経過] PRIMARY KEY CLUSTERED 
(
	[見積番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD見積_経過] ADD  CONSTRAINT [DF_TD見積_経過_見積確定区分]  DEFAULT ((0)) FOR [見積確定区分]
GO
ALTER TABLE [dbo].[TD見積_経過] ADD  CONSTRAINT [DF_TD見積_経過_完了者名]  DEFAULT ('') FOR [完了者名]
GO
ALTER TABLE [dbo].[TD見積_経過] ADD  CONSTRAINT [DF_TD見積_経過_入力USERID]  DEFAULT ('') FOR [入力USERID]
GO
ALTER TABLE [dbo].[TD見積_経過] ADD  CONSTRAINT [DF_TD見積_経過_経過備考1]  DEFAULT ('') FOR [経過備考1]
GO
ALTER TABLE [dbo].[TD見積_経過] ADD  CONSTRAINT [DF_TD見積_経過_経過備考2]  DEFAULT ('') FOR [経過備考2]
GO
ALTER TABLE [dbo].[TD見積_経過] ADD  CONSTRAINT [DF_TD見積_経過_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD見積_経過] ADD  CONSTRAINT [DF_TD見積_経過_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
