USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMログイン制御]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMログイン制御](
	[LoginName] [varchar](255) NOT NULL,
	[AppTitle] [varchar](255) NOT NULL,
	[AppEnabled] [bit] NOT NULL,
	[AppUpDel] [bit] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TMログイン制御] PRIMARY KEY CLUSTERED 
(
	[LoginName] ASC,
	[AppTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMログイン制御] ADD  CONSTRAINT [DF_TMログイン制御_AppEnabled]  DEFAULT ((0)) FOR [AppEnabled]
GO
ALTER TABLE [dbo].[TMログイン制御] ADD  CONSTRAINT [DF_TMログイン制御_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMログイン制御] ADD  CONSTRAINT [DF_TMログイン制御_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
