USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD棚卸明細]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD棚卸明細](
	[棚卸明細連番] [int] NOT NULL,
	[棚卸番号] [int] NOT NULL,
	[枝番] [int] NOT NULL,
	[製品NO] [char](12) NOT NULL,
	[仕様NO] [char](10) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[×仕入先CD] [varchar](4) NOT NULL,
	[仕入端数区分] [smallint] NOT NULL,
	[消費税端数区分] [smallint] NOT NULL,
	[棚卸数量] [money] NOT NULL,
	[棚卸単価] [money] NOT NULL,
	[棚卸金額] [money] NOT NULL,
	[消費税額] [money] NOT NULL,
	[仕入税区分] [smallint] NOT NULL,
	[明細備考] [varchar](40) NOT NULL,
	[算出数量] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD棚卸明細] PRIMARY KEY NONCLUSTERED 
(
	[棚卸明細連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_×仕入先CD]  DEFAULT ('') FOR [×仕入先CD]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_仕入端数区分]  DEFAULT ((0)) FOR [仕入端数区分]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_消費税端数区分]  DEFAULT ((0)) FOR [消費税端数区分]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_棚卸数量]  DEFAULT ((0)) FOR [棚卸数量]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_棚卸単価]  DEFAULT ((0)) FOR [棚卸単価]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_棚卸金額]  DEFAULT ((0)) FOR [棚卸金額]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_消費税額]  DEFAULT ((0)) FOR [消費税額]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_仕入税区分]  DEFAULT ((0)) FOR [仕入税区分]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_明細備考]  DEFAULT ('') FOR [明細備考]
GO
ALTER TABLE [dbo].[TD棚卸明細] ADD  CONSTRAINT [DF_TD棚卸明細_現在庫数]  DEFAULT ((0)) FOR [算出数量]
GO
