USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD見積]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD見積](
	[見積番号] [int] NOT NULL,
	[見積日付] [datetime] NULL,
	[担当者CD] [smallint] NOT NULL,
	[見積件名] [varchar](60) NOT NULL,
	[得意先CD] [varchar](4) NOT NULL,
	[得意先名1] [varchar](28) NOT NULL,
	[得意先名2] [varchar](28) NOT NULL,
	[得TEL] [varchar](15) NOT NULL,
	[得FAX] [varchar](15) NOT NULL,
	[得意先担当者] [varchar](40) NOT NULL,
	[納入得意先CD] [varchar](4) NULL,
	[納入先CD] [varchar](4) NULL,
	[納入先名1] [varchar](28) NOT NULL,
	[納入先名2] [varchar](28) NOT NULL,
	[郵便番号] [varchar](8) NOT NULL,
	[住所1] [varchar](32) NOT NULL,
	[住所2] [varchar](32) NOT NULL,
	[納TEL] [varchar](15) NOT NULL,
	[納FAX] [varchar](15) NOT NULL,
	[納入先担当者] [varchar](40) NOT NULL,
	[納期S] [datetime] NULL,
	[納期E] [datetime] NULL,
	[備考] [varchar](60) NOT NULL,
	[物件規模金額] [money] NOT NULL,
	[オープン日] [datetime] NULL,
	[物件種別] [smallint] NOT NULL,
	[現場名] [varchar](60) NOT NULL,
	[支払条件] [smallint] NOT NULL,
	[支払条件その他] [varchar](30) NOT NULL,
	[納期表示] [smallint] NOT NULL,
	[納期その他] [varchar](30) NOT NULL,
	[見積日出力] [smallint] NOT NULL,
	[有効期限] [smallint] NOT NULL,
	[受注区分] [smallint] NOT NULL,
	[受注日付] [datetime] NULL,
	[大小口区分] [smallint] NOT NULL,
	[出精値引] [money] NOT NULL,
	[合計金額] [money] NOT NULL,
	[原価合計] [money] NOT NULL,
	[原価率] [money] NOT NULL,
	[外税額] [money] NOT NULL,
	[税集計区分] [smallint] NOT NULL,
	[売上端数] [smallint] NOT NULL,
	[消費税端数] [smallint] NOT NULL,
	[見積書出力日] [datetime] NULL,
	[注文発行日] [datetime] NULL,
	[仕入日付] [datetime] NULL,
	[売上日付] [datetime] NULL,
	[得意先別見積番号] [int] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[見積区分] [smallint] NOT NULL,
	[売上納期] [datetime] NULL,
	[部署CD] [smallint] NOT NULL,
	[販売先得意先CD] [varchar](4) NOT NULL,
	[販売先得意先名1] [varchar](28) NOT NULL,
	[販売先得意先名2] [varchar](28) NOT NULL,
	[販売先納得意先CD] [varchar](4) NOT NULL,
	[販売先納入先CD] [varchar](4) NOT NULL,
	[販売先納入先名1] [varchar](28) NOT NULL,
	[販売先納入先名2] [varchar](28) NOT NULL,
	[社内伝票扱い] [smallint] NOT NULL,
	[伝票種類] [smallint] NOT NULL,
	[物件番号] [int] NULL,
	[ウエルシア物件内容CD] [int] NOT NULL,
	[ウエルシア物件内容名] [varchar](60) NOT NULL,
	[ウエルシアリース区分] [int] NOT NULL,
	[ウエルシア物件区分CD] [int] NOT NULL,
	[ウエルシア売場面積] [money] NOT NULL,
	[受付日付] [datetime] NULL,
	[完工日付] [datetime] NULL,
	[発注担当者名] [varchar](40) NOT NULL,
	[作業内容] [varchar](40) NOT NULL,
	[YKサプライ区分] [int] NOT NULL,
	[YK物件区分] [int] NOT NULL,
	[YK請求区分] [int] NOT NULL,
	[化粧品メーカー区分] [int] NOT NULL,
	[SM内容区分] [int] NOT NULL,
	[クレーム区分] [int] NOT NULL,
	[営業推進部CD] [smallint] NOT NULL,
	[集計CD] [varchar](10) NOT NULL,
	[工事担当CD] [int] NOT NULL,
	[B請求管轄区分] [int] NOT NULL,
	[BtoB番号] [int] NOT NULL,
	[業種区分] [int] NOT NULL,
	[統合見積番号] [int] NOT NULL,
 CONSTRAINT [PK_TD見積] PRIMARY KEY CLUSTERED 
(
	[見積番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_得意先担当者]  DEFAULT ('') FOR [得意先担当者]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_納入先名1]  DEFAULT ('') FOR [納入先名1]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_納入先名2]  DEFAULT ('') FOR [納入先名2]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_郵便番号]  DEFAULT ('') FOR [郵便番号]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_住所1]  DEFAULT ('') FOR [住所1]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_住所2]  DEFAULT ('') FOR [住所2]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_納TEL]  DEFAULT ('') FOR [納TEL]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_納FAX]  DEFAULT ('') FOR [納FAX]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_納入先担当者]  DEFAULT ('') FOR [納入先担当者]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_物件規模金額]  DEFAULT ((0)) FOR [物件規模金額]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_現場名]  DEFAULT ('') FOR [現場名]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_御支払条件]  DEFAULT ((0)) FOR [支払条件]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_お支払条件その他]  DEFAULT ('') FOR [支払条件その他]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_納期表示]  DEFAULT ((0)) FOR [納期表示]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_納期その他]  DEFAULT ('') FOR [納期その他]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_見積日出力]  DEFAULT ((0)) FOR [見積日出力]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_破棄F]  DEFAULT ((0)) FOR [受注区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_大小口区分]  DEFAULT ((0)) FOR [大小口区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_出精値引]  DEFAULT ((0)) FOR [出精値引]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_合計金額]  DEFAULT ((0)) FOR [合計金額]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_原価合計]  DEFAULT ((0)) FOR [原価合計]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_原価率]  DEFAULT ((0)) FOR [原価率]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_外税額]  DEFAULT ((0)) FOR [外税額]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_税集計区分]  DEFAULT ((0)) FOR [税集計区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_売上端数]  DEFAULT ((0)) FOR [売上端数]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_消費税端数]  DEFAULT ((0)) FOR [消費税端数]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_得意先別見積番号]  DEFAULT ((0)) FOR [得意先別見積番号]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_受注区分1]  DEFAULT ((0)) FOR [見積区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_部署CD]  DEFAULT ((0)) FOR [部署CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_販売先得意先CD]  DEFAULT ('') FOR [販売先得意先CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_販売先得意先名1]  DEFAULT ('') FOR [販売先得意先名1]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_販売先得意先名2]  DEFAULT ('') FOR [販売先得意先名2]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_販売先納得意先CD]  DEFAULT ('') FOR [販売先納得意先CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_販売先納入先CD]  DEFAULT ('') FOR [販売先納入先CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_販売先納入先名1]  DEFAULT ('') FOR [販売先納入先名1]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_販売先納入先名2]  DEFAULT ('') FOR [販売先納入先名2]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_社内伝票扱い]  DEFAULT ((0)) FOR [社内伝票扱い]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_伝票種類]  DEFAULT ((0)) FOR [伝票種類]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_ウエルシア物件内容CD]  DEFAULT ((0)) FOR [ウエルシア物件内容CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_ウエルシア物件内容名]  DEFAULT ('') FOR [ウエルシア物件内容名]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_ウエルシアリース区分_1]  DEFAULT ((0)) FOR [ウエルシアリース区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_ウエルシア物件区分CD]  DEFAULT ((0)) FOR [ウエルシア物件区分CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_ウエルシア売場面積_1]  DEFAULT ((0)) FOR [ウエルシア売場面積]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_発注担当者名]  DEFAULT ('') FOR [発注担当者名]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_作業内容]  DEFAULT ('') FOR [作業内容]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_YKサプライ区分]  DEFAULT ((0)) FOR [YKサプライ区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_YK物件区分]  DEFAULT ((0)) FOR [YK物件区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_YK請求区分]  DEFAULT ((0)) FOR [YK請求区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_化粧品メーカー区分]  DEFAULT ((0)) FOR [化粧品メーカー区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_SM内容区分]  DEFAULT ((0)) FOR [SM内容区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_クレーム区分]  DEFAULT ((0)) FOR [クレーム区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_営業推進部CD_1]  DEFAULT ((0)) FOR [営業推進部CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_集計CD_1]  DEFAULT ('') FOR [集計CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_工事担当CD_1]  DEFAULT ((0)) FOR [工事担当CD]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_B請求管轄区分_1]  DEFAULT ((0)) FOR [B請求管轄区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_BtoB番号_1]  DEFAULT ((0)) FOR [BtoB番号]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_業種区分]  DEFAULT ((0)) FOR [業種区分]
GO
ALTER TABLE [dbo].[TD見積] ADD  CONSTRAINT [DF_TD見積_統合見積番号]  DEFAULT ((0)) FOR [統合見積番号]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:仮 1:確定' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'受注区分'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:大口 1:小口' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'大小口区分'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'注文発行日'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'仕入日付'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'05/07/04ADD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'得意先別見積番号'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:仮見積 1:本見積' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'見積区分'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'納期S・納期Eの情報を入れる' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'売上納期'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Wel化粧品メーカー判断用（在庫管理しない情報とする）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'化粧品メーカー区分'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'しまむらの内容を分けるための区分(なし・ﾃﾞｨﾊﾞﾛ・台湾しまむら・システム開発)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'SM内容区分'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'統計資料用集計コード' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TD見積', @level2type=N'COLUMN',@level2name=N'集計CD'
GO
