USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TMPC]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPC](
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [varchar](7) NOT NULL,
	[漢字名称] [varchar](40) NOT NULL,
	[カナ名称] [varchar](40) NOT NULL,
	[本体色] [varchar](7) NOT NULL,
	[W] [int] NOT NULL,
	[D] [int] NOT NULL,
	[H] [int] NOT NULL,
	[径] [int] NOT NULL,
	[T] [int] NOT NULL,
	[単位名] [varchar](6) NOT NULL,
	[主仕入先CD] [varchar](4) NOT NULL,
	[売上単価] [money] NOT NULL,
	[仕入単価] [money] NOT NULL,
	[売上税区分] [smallint] NOT NULL,
	[仕入税区分] [smallint] NOT NULL,
	[コメント] [varchar](40) NOT NULL,
	[最終得意先CD] [varchar](4) NOT NULL,
	[最終見積日付] [datetime] NULL,
	[最終仕入単価] [money] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TMPC] PRIMARY KEY CLUSTERED 
(
	[PC区分] ASC,
	[製品NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_カナ名称]  DEFAULT ('') FOR [カナ名称]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_仕様NO]  DEFAULT ('') FOR [本体色]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_W]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_D]  DEFAULT ((0)) FOR [D]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_H]  DEFAULT ((0)) FOR [H]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_D1]  DEFAULT ((0)) FOR [径]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_D2]  DEFAULT ((0)) FOR [T]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_単位名]  DEFAULT ('') FOR [単位名]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_仕入先CD]  DEFAULT ('') FOR [主仕入先CD]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_営業原価]  DEFAULT ((0)) FOR [売上単価]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_仕入原価]  DEFAULT ((0)) FOR [仕入単価]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_売上税区分]  DEFAULT ((0)) FOR [売上税区分]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_仕入税区分]  DEFAULT ((0)) FOR [仕入税区分]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_コメント]  DEFAULT ('') FOR [コメント]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_最終得意先CD]  DEFAULT ('') FOR [最終得意先CD]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_最終仕入単価]  DEFAULT ((0)) FOR [最終仕入単価]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TMPC] ADD  CONSTRAINT [DF_TMPC_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
