USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD見積シート内訳]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD見積シート内訳](
	[見積明細連番] [int] NOT NULL,
	[見積番号] [int] NOT NULL,
	[行番号] [int] NOT NULL,
	[仕分番号] [int] NOT NULL,
	[数量] [money] NOT NULL,
 CONSTRAINT [PK_TD見積シート内訳] PRIMARY KEY CLUSTERED 
(
	[見積明細連番] ASC,
	[仕分番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD見積シート内訳] ADD  CONSTRAINT [DF_TD見積シート内訳_数量]  DEFAULT ((0)) FOR [数量]
GO
