USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM納入先]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM納入先](
	[得意先CD] [varchar](4) NOT NULL,
	[納入先CD] [varchar](4) NOT NULL,
	[納入先名1] [varchar](28) NOT NULL,
	[納入先名2] [varchar](28) NOT NULL,
	[略称] [varchar](8) NOT NULL,
	[フリガナ] [varchar](5) NOT NULL,
	[郵便番号] [varchar](8) NOT NULL,
	[住所1] [varchar](32) NOT NULL,
	[住所2] [varchar](32) NOT NULL,
	[電話番号] [varchar](15) NOT NULL,
	[FAX番号] [varchar](15) NOT NULL,
	[納入先担当者名] [varchar](40) NOT NULL,
	[メモ] [varchar](40) NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
	[最終使用日] [datetime] NULL,
	[旧店番] [varchar](4) NOT NULL,
	[新店番] [varchar](4) NOT NULL,
	[表示用店舗名] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TM納入先] PRIMARY KEY CLUSTERED 
(
	[得意先CD] ASC,
	[納入先CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_納入先名1]  DEFAULT ('') FOR [納入先名1]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_納入先名2]  DEFAULT ('') FOR [納入先名2]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_略称]  DEFAULT ('') FOR [略称]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_フリガナ]  DEFAULT ('') FOR [フリガナ]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_郵便番号]  DEFAULT ('') FOR [郵便番号]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_住所1]  DEFAULT ('') FOR [住所1]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_住所2]  DEFAULT ('') FOR [住所2]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_電話番号]  DEFAULT ('') FOR [電話番号]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_FAX番号]  DEFAULT ('') FOR [FAX番号]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_担当者名]  DEFAULT ('') FOR [納入先担当者名]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_旧店番]  DEFAULT ('') FOR [旧店番]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_新店番]  DEFAULT ('') FOR [新店番]
GO
ALTER TABLE [dbo].[TM納入先] ADD  CONSTRAINT [DF_TM納入先_表示用店舗名]  DEFAULT ('') FOR [表示用店舗名]
GO
