USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TD在庫調整]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD在庫調整](
	[在庫調整番号] [int] NOT NULL,
	[在庫調整日付] [datetime] NOT NULL,
	[在庫調整元チームCD] [int] NOT NULL,
	[在庫調整先チームCD] [int] NOT NULL,
	[得意先CD] [varchar](4) NOT NULL,
	[摘要名] [varchar](50) NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TD在庫調整] PRIMARY KEY CLUSTERED 
(
	[在庫調整番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TD在庫調整] ADD  CONSTRAINT [DF_TD在庫調整_在庫調整元チームCD]  DEFAULT ('') FOR [在庫調整元チームCD]
GO
ALTER TABLE [dbo].[TD在庫調整] ADD  CONSTRAINT [DF_TD在庫調整_在庫調整先チームCD]  DEFAULT ('') FOR [在庫調整先チームCD]
GO
ALTER TABLE [dbo].[TD在庫調整] ADD  CONSTRAINT [DF_TD在庫調整_得意先CD]  DEFAULT ('') FOR [得意先CD]
GO
ALTER TABLE [dbo].[TD在庫調整] ADD  CONSTRAINT [DF_TD在庫調整_摘要名]  DEFAULT ('') FOR [摘要名]
GO
ALTER TABLE [dbo].[TD在庫調整] ADD  CONSTRAINT [DF_TD在庫調整_初期登録日]  DEFAULT (getdate()) FOR [初期登録日]
GO
ALTER TABLE [dbo].[TD在庫調整] ADD  CONSTRAINT [DF_TD在庫調整_登録変更日]  DEFAULT (getdate()) FOR [登録変更日]
GO
