USE [SanwaSDB]
GO
/****** Object:  Table [dbo].[TM単価]    Script Date: 2024/02/26 18:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM単価](
	[得意先CD] [varchar](4) NOT NULL,
	[PC区分] [varchar](1) NOT NULL,
	[製品NO] [char](12) NOT NULL,
	[仕様NO] [char](10) NOT NULL,
	[旧大口売上単価] [money] NOT NULL,
	[旧小口売上単価] [money] NOT NULL,
	[旧大口仕入単価] [money] NOT NULL,
	[旧小口仕入単価] [money] NOT NULL,
	[大口売上単価] [money] NOT NULL,
	[小口売上単価] [money] NOT NULL,
	[大口仕入単価] [money] NOT NULL,
	[小口仕入単価] [money] NOT NULL,
	[製品区分] [smallint] NOT NULL,
	[初期登録日] [datetime] NULL,
	[登録変更日] [datetime] NULL,
 CONSTRAINT [PK_TM単価] PRIMARY KEY CLUSTERED 
(
	[得意先CD] ASC,
	[PC区分] ASC,
	[製品NO] ASC,
	[仕様NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
