.sdt-dispatch .sdt-dispatch-wrap {
  background-color: #fff;
  border: 1px solid #d19405;
  background: #feeebd url(../../styles/plugins/themes/sunny/images/ui-bg_highlight-soft_100_feeebd_1x100.png) 50% top repeat-x;
  border-radius: 10px;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-title {
  font-size: 20px;
  font-weight: bold;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-form {
  color: #383838;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-form__area {
  background-color: initial;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-form .sdt-selector-content {
  font-size: 12px;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-form .sdt-input {
  font-size: 12px;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-table {
  margin-top: 0;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-table .sdt-table__head {
  top: -5px;
  margin-top: -5px;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-table .sdt-table__head .sdt-table__row {
  border: 1px solid #494437;
  background: #817865 url(../../styles/plugins/themes/sunny/images/ui-bg_gloss-wave_45_817865_500x100.png) 50% 50% repeat-x;
  color: #fff;
  font-weight: bold;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-table .sdt-table__head .sdt-table__row .sdt-table__cell-head {
  height: 42px;
  padding: 6px;
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
  border-right: solid 1px #fff;
  background-color: initial;
  text-align: left;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-table .sdt-table__body .sdt-table__row {
  border: solid 1px #c0c0c0;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-dispatch-table .sdt-table__body .sdt-table__row .sdt-table__cell {
  border-bottom: solid 1px #c0c0c0;
  border-left: dotted 1px #c0c0c0;
  border-right: dotted 1px #c0c0c0;
  text-align: left;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-form-buttonArea .sdt-button {
  height: auto;
  min-width: 80px;
  padding: 4px 4px 6px 2px;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-form-buttonArea .sdt-button.sdt-button--primary {
  border: 1px solid #d19405;
  background: #fece2f url(../../styles/plugins/themes/sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
}
.sdt-dispatch .sdt-dispatch-wrap .sdt-form-buttonArea .sdt-button.sdt-button--primary .sdt-button__text {
  color: #333;
}