.Sdt-table-wrap {
  margin-top: 12px;
}

.Sdt-summary-table {
  width: 100%;
  border-collapse: collapse;
}

.Sdt-summary-table .Sdt-title-top th {
  color: #444;          /* 濃い目のグレー */
  font-weight: 800;     /* 太文字 */
  padding: 12px 0;      /* 上下余白 */
}

.Sdt-text-normal th,
.Sdt-text-normal td,
.Sdt-text-normal span {
  color: #555;
}

.Sdt-sales-row td {
  padding-bottom: 16px;
}

