USE [SanwaSDB]
GO
/****** Object:  View [dbo].[VM製品情報]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VM製品情報]
AS
SELECT                  SJ.PC区分, SJ.製品NO, SJ.仕様NO, SJ.製品区分, COALESCE (SE.漢字名称, PC.漢字名称, HI.品群名称, UN.ユニット名) AS 名称, SE.ベース色, COALESCE (SE.W, PC.W) AS W, 
                                  COALESCE (SE.D, PC.D) AS D, COALESCE (SE.H, PC.H) AS H, SE.D1, SE.D2, SE.H1, SE.H2, SE.定価, COALESCE (SE.仕入単価, PC.仕入単価) AS 仕入単価, 
                                  COALESCE (SE.売上単価, PC.売上単価) AS 売上単価, COALESCE (SE.単位名, PC.単位名) AS 単位名, COALESCE (SE.主仕入先CD, PC.主仕入先CD) AS 仕入先, 
                                  COALESCE (SE.売上税区分, PC.売上税区分) AS 売上税区分, COALESCE (SE.仕入税区分, PC.仕入税区分) AS 仕入税区分, SE.廃盤FLG
FROM                     dbo.TM製品情報 AS SJ LEFT OUTER JOIN
                                  dbo.TM製品 AS SE ON SJ.製品NO = SE.製品NO AND SJ.仕様NO = SE.仕様NO AND SJ.PC区分 = '' LEFT OUTER JOIN
                                  dbo.TMPC AS PC ON SJ.PC区分 = PC.PC区分 AND SJ.製品NO = PC.製品NO AND SJ.仕様NO = '' LEFT OUTER JOIN
                                  dbo.TM品群 AS HI ON SJ.製品NO = HI.品群NO AND SJ.PC区分 = '' AND SJ.仕様NO = '' LEFT OUTER JOIN
                                  dbo.TMユニット AS UN ON SJ.製品NO = UN.ユニットNO AND SJ.PC区分 = '' AND SJ.仕様NO = ''
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SJ"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 126
               Right = 195
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SE"
            Begin Extent = 
               Top = 6
               Left = 233
               Bottom = 126
               Right = 390
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PC"
            Begin Extent = 
               Top = 126
               Left = 38
               Bottom = 246
               Right = 201
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HI"
            Begin Extent = 
               Top = 126
               Left = 239
               Bottom = 246
               Right = 396
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UN"
            Begin Extent = 
               Top = 246
               Left = 38
               Bottom = 366
               Right = 195
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Ou' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VM製品情報'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'tput = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VM製品情報'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VM製品情報'
GO
