USE [SanwaSDB]
GO
/****** Object:  View [dbo].[VD見積シートM]    Script Date: 2024/02/26 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VD見積シートM]
AS
SELECT          dbo.TD見積シートM.*, 仕分1.数量 AS 仕分数1, 仕分2.数量 AS 仕分数2, 
                      仕分3.数量 AS 仕分数3, 仕分4.数量 AS 仕分数4, 仕分5.数量 AS 仕分数5, 
                      仕分6.数量 AS 仕分数6, 仕分7.数量 AS 仕分数7, 仕分8.数量 AS 仕分数8, 
                      仕分9.数量 AS 仕分数9, 仕分10.数量 AS 仕分数10, 仕分11.数量 AS 仕分数11, 
                      仕分12.数量 AS 仕分数12, 仕分13.数量 AS 仕分数13, 
                      仕分14.数量 AS 仕分数14, 仕分15.数量 AS 仕分数15, 
                      仕分16.数量 AS 仕分数16, 仕分17.数量 AS 仕分数17, 
                      仕分18.数量 AS 仕分数18, 仕分19.数量 AS 仕分数19, 
                      仕分20.数量 AS 仕分数20, 仕分21.数量 AS 仕分数21, 
                      仕分22.数量 AS 仕分数22, 仕分23.数量 AS 仕分数23, 
                      仕分24.数量 AS 仕分数24, 仕分25.数量 AS 仕分数25, 
                      仕分26.数量 AS 仕分数26, 仕分27.数量 AS 仕分数27, 
                      仕分28.数量 AS 仕分数28, 仕分29.数量 AS 仕分数29, 
                      仕分30.数量 AS 仕分数30
FROM            dbo.TD見積シートM INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 1) 仕分1 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分1.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 2) 仕分2 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分2.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 3) 仕分3 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分3.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 4) 仕分4 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分4.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 5) 仕分5 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分5.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 6) 仕分6 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分6.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 7) 仕分7 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分7.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 8) 仕分8 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分8.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 9) 仕分9 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分9.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 10) 仕分10 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分10.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 11) 仕分11 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分11.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 12) 仕分12 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分12.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 13) 仕分13 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分13.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 14) 仕分14 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分14.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 15) 仕分15 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分15.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 16) 仕分16 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分16.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 17) 仕分17 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分17.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 18) 仕分18 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分18.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 19) 仕分19 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分19.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 20) 仕分20 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分20.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 21) 仕分21 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分21.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 22) 仕分22 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分22.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 23) 仕分23 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分23.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 24) 仕分24 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分24.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 25) 仕分25 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分25.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 26) 仕分26 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分26.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 27) 仕分27 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分27.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 28) 仕分28 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分28.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 29) 仕分29 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分29.見積明細連番 INNER JOIN
                          (SELECT          見積明細連番, 数量
                             FROM             dbo.TD見積シート内訳
                             WHERE            仕分番号 = 30) 仕分30 ON 
                      dbo.TD見積シートM.見積明細連番 = 仕分30.見積明細連番

GO
