.scroll-hint.is-right-scrollable.is-left-scrollable {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0) 16px,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0) 16px,
      rgba(0, 0, 0, 0)
    ) !important;
}
.scroll-hint.is-right-scrollable {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0) 16px,
    rgba(0, 0, 0, 0)
  ) !important;
}
.scroll-hint.is-left-scrollable {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0) 16px,
    rgba(0, 0, 0, 0)
  ) !important;
}
