@charset "utf-8";
html {
  // font-size: 62.5% !important;
}

.ssap {
  // フォントサイズ上書き用
  .font-size-xxsmall {
    font-size: 0.625rem !important; // 10px
  }
  .font-size-xsmall {
    font-size: 0.75rem !important; // 12px
  }
  .font-size-small {
    font-size: 0.875rem !important; // 14px
  }
  .font-size-normal {
    font-size: 1rem !important; // 16px
  }
  .font-size-large {
    font-size: 1.125rem !important; // 18px
  }
  .font-size-xlarge {
    font-size: 1.25rem !important; // 20px
  }
  .font-size-xxlarge {
    font-size: 1.375rem !important; // 22px
  }

  // テキストカラー
  .text-primary {
    color: $c-primary !important;
  }
  .text-primary-dark {
    color: $c-primary-dark !important;
  }
  .text-primary-over {
    color: $c-primary-over !important;
  }
  .text-primary-8 {
    color: $c-primary-8 !important;
  }

  .v-list-item--link:before {
    background-color: $c-primary-8;
  }

  // ページネーションカスタム
  .v-pagination__navigation {
    transition-duration: 0.2s !important;
    .v-icon {
      transition-duration: 0.2s !important;
      color: $c-primary-dark !important;
    }
    &:hover,
    &:focus {
      background-color: $c-primary-over !important;
      .v-icon {
        color: $c-white !important;
      }
    }
    &.v-pagination__navigation--disabled {
      opacity: 1 !important;
      .v-icon {
        color: $c-black-20 !important;
      }
    }
  }
  .v-pagination__item {
    &:hover,
    &:focus {
      background-color: $c-primary-over !important;
      color: $c-white !important;
    }
  }

  .theme--light.v-icon {
    color: $c-black;
  }
  .v-tooltip__content {
    background-color: #333 !important;
    opacity: 1 !important;
    max-width: 380px;
  }

  // 詳細画面
  .o-detail-rows {
    padding: 16px 32px 0 !important;
    font-size: 0.875rem !important;
  }
  .o-detail-rows__unit {
    border-bottom: 1px solid $c-gray-line;
    margin: 0 !important;
    align-items: center;
  }
  .o-detail-rows__label {
    padding-right: 0;
  }
  .o-detail-rows__title {
    font-size: 0.875rem;
    font-weight: bold;
    align-items: center;
  }
  .o-detail-rows__data {
    align-items: center;
  }
  .o-detail-rows__select {
    padding: 0;
    margin: 0;
  }
  .o-detail-rows__select__item {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
    &::after {
      content: ',';
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  .o-detail-rows__table {
    th,
    td {
      padding-bottom: 12px;
    }
    tr {
      &:last-child {
        th,
        td {
          padding-bottom: 0;
        }
      }
    }
    th {
      text-align: left;
      padding-right: 24px;
      padding-left: 0;
      width: 150px;
    }
  }

  .o-data-table {
    .v-data-table {
      .v-data-table-header {
        th,
        td {
          background-color: $c-black-80;
          color: $c-white !important;
        }
        .v-icon {
          color: $c-primary !important;
          margin-left: 5px !important;
        }
      }
      .v-data-table__wrapper {
        border-radius: 4px;
        box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
          0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
      }
      .v-data-footer {
        &:first-child {
          margin-bottom: 16px;
        }
        &:last-child {
          margin-top: 16px;
        }
      }
    }
    .v-data-footer {
      width: 100%;
      padding: 0 !important;
      justify-content: flex-end;
      border: 0 !important;
      position: relative;
    }
    .v-data-footer__select {
      display: none !important;
    }
    .v-data-table__wrapper {
      .v-data-footer {
        width: 100%;
      }
    }
    .v-data-footer__pagination {
      font-size: 0.875rem;
      position: absolute;
      left: 0;
      margin: 0;
    }
    .v-data-footer__icons-before,
    .v-data-footer__icons-after {
      .v-btn {
        width: 42px;
        height: 42px;
        box-shadow: 0 3px 6px rgba(#000000, 0.16);
        border-radius: 4px;
        transition-property: background-color;
        transition-duration: 0.2s;
        .v-ripple__container,
        &::before {
          display: none !important;
        }
        &:hover {
          background-color: $c-primary-8;
        }
      }
      .v-icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
        color: $c-primary-dark !important;
      }
      .v-btn--disabled {
        .v-icon {
          color: #8f8f8f !important;
        }
      }
    }
    .o-data-table__link {
      color: $c-primary-dark !important;
      font-weight: bold;
      &:hover,
      &:focus {
        color: $c-primary-over !important;
      }
    }
  }
}

// -----------------------------------------------------
// コンポーネント内のCSSが適用されない物ここから
// -----------------------------------------------------
// /src/components/survey/molecules/SurveySortInput.vue
.o-survey-sort-input {
  .a-date-select {
    .v-input {
      background-color: transparent;
    }
    .v-input__control {
      background-color: $c-white;
    }
  }
  .a-radio.horizontal .v-radio {
    &:last-child {
      margin-right: 0 !important;
    }
  }
}
// -----------------------------------------------------
// コンポーネント内のCSSが適用されない物ここまで
// -----------------------------------------------------
