@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?qlhfyc");
  src: url("fonts/icomoon.eot?qlhfyc#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?qlhfyc") format("truetype"),
    url("fonts/icomoon.woff?qlhfyc") format("woff"),
    url("fonts/icomoon.svg?qlhfyc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flag-variant:before {
  content: "\e91a";
}
.icon-card-account-details-outline:before {
  content: "\e900";
}
.icon-card-account-details:before {
  content: "\e901";
}
.icon-chart-timeline:before {
  content: "\e902";
}
.icon-maintenance:before {
  content: "\e903";
}
.icon-clipboard-edit-outline:before {
  content: "\e904";
}
.icon-domain:before {
  content: "\e905";
}
.icon-format-list-bulleted-type:before {
  content: "\e906";
}
.icon-forum:before {
  content: "\e907";
}
/* S !を白く塗る特殊なパターンなのでここはそのままで */
.icon-org-alert-probability .path1:before {
  content: "\e908";
  color: rgb(24, 103, 192);
}
.icon-org-alert-probability .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
/* E !を白く塗る特殊なパターンなのでここはそのままで */
.icon-org-arrow-left:before {
  content: "\e90a";
}
.icon-org-arrow-right:before {
  content: "\e90b";
}
.icon-org-button-minus-outline:before {
  content: "\e90c";
}
.icon-org-button-plus-outline:before {
  content: "\e90d";
}
.icon-org-account-outline:before {
  content: "\e90e";
}
.icon-org-account:before {
  content: "\e90f";
}
.icon-org-alert:before {
  content: "\e910";
}
.icon-org-arrow-down:before {
  content: "\e911";
}
.icon-org-arrow-up:before {
  content: "\e912";
}
.icon-org-arrow:before {
  content: "\e913";
}
.icon-org-bell-outline:before {
  content: "\e914";
}
.icon-org-bell:before {
  content: "\e915";
}
.icon-org-blank:before {
  content: "\e916";
}
.icon-org-return:before {
  content: "\e917";
}
.icon-org-user-outline:before {
  content: "\e918";
}
.icon-org-user:before {
  content: "\e919";
}
