/****** Object:  StoredProcedure [dbo].[usp_HC0100発注作成]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HC0100発注作成]
GO
/****** Object:  StoredProcedure [dbo].[usp_HC0100発注作成]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_HC0100発注作成

機能	指定された見積番号より[発注Ｄ][発注明細Ｄ]を作成します。

引数	

戻り値	

*****************************************************
	2003/07/28	kawamura
	2003/09/12	kawamura	製品サイズに[H1][H2]追加
	2003/10/31 	kawamura 	コメント行管理用に見積区分追加
	2003/11/28	kawamura	処理高速化
	2005/07/05	oosawa	見積区分の判断の変更

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
*****************************************************/
CREATE	PROCEDURE	[dbo].[usp_HC0100発注作成]
	(
	@i見積番号		INT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE 	@TRAN	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE 	@w初期登録日 	DATETIME

	DECLARE 	@MAX仕分数番号	INT,
			@MAX仕分名称番号 	INT

	SET @MAX仕分数番号 = 0
	SET @MAX仕分名称番号 = 0

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

--------------------------------------------------
	-- 仕分数ＭＡＸ取得
--------------------------------------------------
	SELECT 	@MAX仕分数番号 = MAX(仕分数MAX.仕分番号)
	FROM
		(
		SELECT 	見積番号, 仕分番号, SUM(数量) AS 数量
			FROM 	TD見積シート内訳
			WHERE 	見積番号 = @i見積番号
			GROUP BY 	見積番号, 仕分番号
			HAVING 	(SUM(数量) <> 0)
		) AS 仕分数MAX

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--------------------------------------------------
	-- 仕分名称ＭＡＸ取得
--------------------------------------------------
	SELECT 	@MAX仕分名称番号 = MAX(仕分名称MAX.仕分番号)
	FROM
		(
		SELECT 	U.見積番号, U.仕分番号
			FROM 	TD見積シート内訳名称 AS U
			WHERE 	U.見積番号 = @i見積番号
		) AS 仕分名称MAX

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--print ltrim(str(@MAX仕分数番号))
	--print ltrim(str(@MAX仕分名称番号))
	IF ISNULL(@MAX仕分数番号,0) > ISNULL(@MAX仕分名称番号,0) BEGIN
		SET @ST = -1
		SET @MSG = '指定の見積番号は仕分名称が設定されていません。'
		GOTO EXIT_SP
	END

--------------------------------------------------
	-- トランザクションを開始します
--------------------------------------------------
	BEGIN TRAN

	--------------------------------------------------
	-- 	発注Ｄをチェックします。（存在する場合は削除します。）
	--------------------------------------------------
	IF  EXISTS (SELECT 発注番号 FROM TD発注 WHERE 発注番号 = @i見積番号)  BEGIN

		--前回初期登録日を保持
		SELECT 	@w初期登録日 = 初期登録日
			FROM 	TD発注
			WHERE 	発注番号 = @i見積番号			

		--print 'a'
		DELETE 	
		FROM		TD発注明細
		WHERE 	発注番号 = @i見積番号

		--print 'b'
		DELETE 	
		FROM		TD発注
		WHERE 	発注番号 = @i見積番号

	END ELSE BEGIN
	
		SET @w初期登録日 = CONVERT(CHAR(10),GETDATE(),111)

	END
	

	------------------------------------------------------
	--見積より発注ヘッダー作成
	------------------------------------------------------
	INSERT INTO 	TD発注
		(		
		発注番号, 発注日付,
		見積番号, 仕分番号, 仕入先CD, 配送先CD, 
		担当者CD, 納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
		納入先郵便番号, 納入先住所1, 納入先住所2, 納入先TEL, 納入先FAX, 納入先担当者,
		納期, 時間, 
		現場名, 仕分名称,
		初期登録日, 登録変更日
		)		
		SELECT D.見積番号, CONVERT(CHAR(10), GETDATE(),111) AS 発注日付,
			D.見積番号, D.仕分番号, D.仕入先CD, D.配送先CD, 
			MH.担当者CD, MH.納入得意先CD, MH.納入先CD, MH.納入先名1, MH.納入先名2,
			MH.郵便番号, MH.住所1, MH.住所2, MH.納TEL, MH.納FAX, MH.納入先担当者,
			--D.納期, D.時間, 
			--D.納期時間, 
			CONVERT(CHAR(10),D.納期時間,111), 
			RIGHT('0'+CONVERT(VARCHAR(2),DATEPART(HH,D.納期時間)),2) + ':' + RIGHT('0'+CONVERT(VARCHAR(2),DATEPART(N,D.納期時間)),2) AS 時間,
			MH.現場名, D.仕分名称,
			--CONVERT(CHAR(10), GETDATE(),111), CONVERT(CHAR(10), GETDATE(),111)
			@w初期登録日, CONVERT(CHAR(10), GETDATE(),111)
		FROM
			(
			SELECT 	SD.見積番号, SD.仕入先CD, SD.配送先CD, SD.仕分番号, SD.仕分名称,
					--MIN(SD.納期) AS 納期, MIN(SD.時間) AS 時間
					MIN(SD.仕分納期) AS 納期時間
			FROM
				(
				SELECT	MH.見積番号, 
						MSM.仕入先CD, MSM.配送先CD, 
						RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号,
						MSUM.名称 AS 仕分名称,
						--MSUM.納期, MSUM.時間
						CONVERT(DATETIME, MSUM.納期 + MSUM.時間,120) AS 仕分納期
					FROM		TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
							INNER JOIN 	TD見積シート内訳名称 AS MSUM 
								ON 	MSU.見積番号 = MSUM.見積番号
								AND 	MSU.仕分番号 = MSUM.仕分番号
					WHERE	MH.見積番号 = @i見積番号
					--AND		MSU.数量 > 0
					--AND		MSM.発注数 > 0
					AND		MSU.数量 <> 0	--2003/12/08
					AND		MSM.発注数 <> 0	--2003/12/08
					AND		MSM.社内在庫数 = 0
					AND		MSM.客先在庫数 = 0
					AND		MSM.転用数 = 0
					) AS SD
					GROUP BY 	SD.見積番号, SD.仕入先CD, SD.配送先CD, SD.仕分番号, SD.仕分名称
	
			UNION ALL
			SELECT 	ZD.見積番号, ZD.仕入先CD, ZD.配送先CD,  ZD.仕分番号, ZD.仕分名称,
					--納期の最小？


					--MIN(ZD.納期) AS 納期, MIN(ZD.時間) AS 時間
					MIN(ZD.仕分納期) AS 納期時間
			FROM
				(
				SELECT	MH.見積番号, 
						MSM.仕入先CD, MSM.配送先CD,  'Z9' AS 仕分番号,
						'付属部材' AS 仕分名称,
						--MSUM.納期, MSUM.時間
						CONVERT(DATETIME, MSUM.納期 + MSUM.時間,120) AS 仕分納期
					FROM		TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
							INNER JOIN 	TD見積シート内訳名称 AS MSUM 
								ON 	MSU.見積番号 = MSUM.見積番号
								AND 	MSU.仕分番号 = MSUM.仕分番号
					WHERE	MH.見積番号 = @i見積番号
					--AND		MSM.発注数 > 0
					AND		MSM.発注数 <> 0	--2003/12/08
					AND		(MSM.社内在庫数 > 0
					OR		MSM.客先在庫数 > 0
					OR		MSM.転用数 > 0)
				) AS ZD
				GROUP BY 	ZD.見積番号, ZD.仕入先CD, ZD.配送先CD, ZD.仕分番号, ZD.仕分名称
			) AS D
			INNER JOIN 	TD見積 AS MH
				ON 	D.見積番号 = MH.見積番号


	------------------------------------------------------
	--見積より発注明細データ作成
	------------------------------------------------------
--2003/11/28 DEL
-- -- 	INSERT INTO TD発注明細
-- -- 		(
-- -- 		発注番号, 行番号, 見積番号, 見積行番号,
-- -- 		仕入先CD, 配送先CD, 仕分番号, 
-- -- 		SP区分, PC区分, 製品NO, 仕様NO, 漢字名称, 
-- -- 		W, D, H, D1, D2, H1, H2,
-- -- 		発注数量, 単位名, 発注単価, 発注金額,
-- -- 		定価, 仕入数, 製品区分, 見積区分,
-- -- 		初期登録日, 登録変更日
-- -- 		)
-- -- 		SELECT D.見積番号 AS 発注番号, 
-- -- 			--新行番号用
-- -- 			(
-- -- 			SELECT COUNT(*)+1 FROM 
-- -- 			(
-- -- 				--通常明細
-- -- 				--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
-- -- 				SELECT	MH.見積番号, MSM.行番号 AS 項目,
-- -- 						MSM.仕入先CD, MSM.配送先CD, 
-- -- 						RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号
-- -- 					FROM		TD見積 AS MH
-- -- 							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- -- 							INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
-- -- 					WHERE	MH.見積番号 = @i見積番号
-- -- 					--AND		MSU.数量 > 0
-- -- 					AND		(
-- -- 								SELECT  TOP 1 MSU1.数量
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 			 						AND 	MSU1.仕分番号 = MSU.仕分番号
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) <> 0			--2003/10/31
-- -- 					--AND		MSM.発注数 > 0
-- -- 					AND		(
-- -- 								SELECT  TOP 1 MSM1.発注数
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) > 0			--2003/10/31
-- -- 					--AND		MSM.社内在庫数 = 0
-- -- 					AND		(
-- -- 								SELECT  TOP 1 MSM1.社内在庫数
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) = 0			--2003/10/31
-- -- 					--AND		MSM.客先在庫数 = 0
-- -- 					AND		(
-- -- 								SELECT  TOP 1 MSM1.客先在庫数
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) = 0			--2003/10/31
-- -- 					--AND		MSM.転用数 = 0
-- -- 					AND		(
-- -- 								SELECT  TOP 1 MSM1.転用数
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) = 0			--2003/10/31
-- -- 				UNION ALL
-- -- 				--付属部材
-- -- 				--発注数があり、社内在庫数・客先在庫数・転用があるデータ
-- -- 				--内訳はいらない
-- -- 				SELECT	MH.見積番号, MSM.行番号 AS 項目,
-- -- 						MSM.仕入先CD, MSM.配送先CD,  
-- -- 						'Z9' AS 仕分番号
-- -- 					FROM		TD見積 AS MH
-- -- 							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- -- 					WHERE	MH.見積番号 = @i見積番号
-- -- 					--AND		MSM.発注数 > 0
-- -- 					AND		(
-- -- 								SELECT  TOP 1 MSM1.発注数
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) > 0			--2003/10/31
-- -- 					AND		(
-- -- 					--		MSM.社内在庫数 > 0
-- -- 							(
-- -- 								SELECT  TOP 1 MSM1.社内在庫数
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) > 0			--2003/10/31
-- -- 					--OR		MSM.客先在庫数 > 0
-- -- 					OR		(
-- -- 								SELECT  TOP 1 MSM1.客先在庫数
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) > 0			--2003/10/31
-- -- 					--OR		MSM.転用数 > 0
-- -- 					OR		(
-- -- 								SELECT  TOP 1 MSM1.転用数
-- -- 								FROM TD見積シートM AS MSM1
-- -- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 									AND 	MSM1.見積区分 = ''
-- -- 									AND 	MSM1.行番号 <= MSM.行番号
-- -- 								ORDER BY MSM1.行番号 DESC
-- -- 							) > 0			--2003/10/31
-- -- 							)
-- -- 			) AS D1 
-- -- 			WHERE 	D.見積番号 = D1.見積番号 AND D.仕入先CD = D1.仕入先CD 
-- -- 					AND D.配送先CD = D1.配送先CD AND D.仕分番号 = D1.仕分番号
-- -- 					AND D.項目 > D1.項目
-- -- 			) AS 新行番号,
-- -- 		D.見積番号, D.項目 AS 見積行番号,
-- -- 		D.仕入先CD, D.配送先CD, RIGHT('0'+CONVERT(VARCHAR(2),D.仕分番号),2) AS 仕分番号, 
-- -- 		D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.漢字名称, 
-- -- 		D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2,
-- -- 		D.数量, D.単位名, D.仕入単価, --D.数量 * D.仕入単価 AS 仕入金額,	--2003/10/23.DEL
-- -- 		dbo.fn_CutFraction(SI.仕入端数,D.数量 * D.仕入単価,0) AS 仕入金額,	--2003/10/23.ADD
-- -- 		D.定価, 0, D.製品区分, D.見積区分,
-- -- 		--CONVERT(CHAR(10), GETDATE(),111), CONVERT(CHAR(10), GETDATE(),111)
-- -- 		@w初期登録日, CONVERT(CHAR(10), GETDATE(),111)
-- -- 		FROM
-- -- 		(
-- -- 			--通常明細
-- -- 			--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
-- -- 			SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
-- -- 					MSM.仕入先CD, MSM.配送先CD, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
-- -- 					MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
-- -- 					MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
-- -- 					MSU.数量, MSM.単位名, MSM.仕入単価, --MSU.数量 * MSM.仕入単価 AS 仕入金額,
-- -- 					MSM.定価, 
-- -- 					MSM.発注数, MSM.製品区分, MSM.見積区分
-- -- 				FROM		TD見積 AS MH
-- -- 						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- -- 						INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
-- -- 				WHERE	MH.見積番号 = @i見積番号
-- -- 				--AND		MSU.数量 > 0
-- -- 				AND		(
-- -- 							SELECT  TOP 1 MSU1.数量
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 		 						AND 	MSU1.仕分番号 = MSU.仕分番号
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) <> 0			--2003/10/31
-- -- 				--AND		MSM.発注数 > 0
-- -- 				AND		(
-- -- 							SELECT  TOP 1 MSM1.発注数
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) > 0			--2003/10/31
-- -- 				--AND		MSM.社内在庫数 = 0
-- -- 				AND		(
-- -- 							SELECT  TOP 1 MSM1.社内在庫数
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) = 0			--2003/10/31
-- -- 				--AND		MSM.客先在庫数 = 0
-- -- 				AND		(
-- -- 							SELECT  TOP 1 MSM1.客先在庫数
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) = 0			--2003/10/31
-- -- 				--AND		MSM.転用数 = 0
-- -- 				AND		(
-- -- 							SELECT  TOP 1 MSM1.転用数
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) = 0			--2003/10/31
-- -- 			UNION ALL
-- -- 			--付属部材
-- -- 			--発注数があり、社内在庫数・客先在庫数・転用があるデータ
-- -- 			--内訳はいらない
-- -- 			SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
-- -- 					MSM.仕入先CD, MSM.配送先CD,  'Z9' AS 仕分番号, 
-- -- 					MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
-- -- 					MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
-- -- 					MSM.発注数, MSM.単位名, MSM.仕入単価, --MSM.仕入金額,
-- -- 					MSM.定価, 
-- -- 					MSM.発注数, MSM.製品区分, MSM.見積区分
-- -- 				FROM		TD見積 AS MH
-- -- 						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- -- 				WHERE	MH.見積番号 = @i見積番号
-- -- 				--AND		MSM.発注数 > 0
-- -- 				AND		(
-- -- 							SELECT  TOP 1 MSM1.発注数
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) > 0			--2003/10/31
-- -- 				AND		(
-- -- 				--		MSM.社内在庫数 > 0
-- -- 						(
-- -- 							SELECT  TOP 1 MSM1.社内在庫数
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) > 0			--2003/10/31
-- -- 				--OR		MSM.客先在庫数 > 0
-- -- 				OR		(
-- -- 							SELECT  TOP 1 MSM1.客先在庫数
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) > 0			--2003/10/31
-- -- 				--OR		MSM.転用数 > 0
-- -- 				OR		(
-- -- 							SELECT  TOP 1 MSM1.転用数
-- -- 							FROM TD見積シートM AS MSM1
-- -- 							WHERE	MSM1.見積番号 = MSM.見積番号
-- -- 								AND 	MSM1.見積区分 = ''
-- -- 								AND 	MSM1.行番号 <= MSM.行番号
-- -- 							ORDER BY MSM1.行番号 DESC
-- -- 						) > 0			--2003/10/31
-- -- 						)
-- -- 		) AS D
-- -- 		LEFT JOIN 	TM仕入先 AS SI ON D.仕入先CD = SI.仕入先CD
-- -- 		ORDER BY     D.見積番号, D.仕入先CD, D.配送先CD, D.仕分番号, D.項目		
--2003/11/28 DEL
--2004/12/02 DEL
-- --2003/11/28 ADD
-- 	------------------------------------------------------
-- 	--見積より発注明細データ作成
-- 	----ワークを作ってから連番付けを行なう
-- 	------------------------------------------------------
-- 	SELECT * INTO #TBL
-- 		FROM (
-- 			SELECT D.見積番号 AS 発注番号, 
-- 			--0 AS 新行番号,
-- 			D.見積番号, D.項目 AS 見積行番号,
-- 			D.仕入先CD, D.配送先CD, RIGHT('0'+CONVERT(VARCHAR(2),D.仕分番号),2) AS 仕分番号, 
-- 			D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.漢字名称, 
-- 			D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2,
-- 			D.数量, D.単位名, D.仕入単価, --D.数量 * D.仕入単価 AS 仕入金額,	--2003/10/23.DEL
-- 			dbo.fn_CutFraction(SI.仕入端数,D.数量 * D.仕入単価,0) AS 仕入金額,	--2003/10/23.ADD
-- 			D.定価, 0 AS 仕入数, D.製品区分, D.見積区分,
-- 			--CONVERT(CHAR(10), GETDATE(),111), CONVERT(CHAR(10), GETDATE(),111)
-- 			@w初期登録日 AS 初期登録日, CONVERT(CHAR(10), GETDATE(),111) AS 登録更新日
-- 			FROM
-- 			(
-- 				--通常明細
-- 				--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
-- 				SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
-- 						MSM.仕入先CD, MSM.配送先CD, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
-- 						MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
-- 						MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
-- 						MSU.数量, MSM.単位名, MSM.仕入単価, --MSU.数量 * MSM.仕入単価 AS 仕入金額,
-- 						MSM.定価, 
-- 						MSM.発注数, MSM.製品区分, MSM.見積区分
-- 					FROM		TD見積 AS MH
-- 							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- 							INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
-- 					WHERE	MH.見積番号 = @i見積番号
-- 					--AND		MSU.数量 > 0
-- 					AND		(
-- 								SELECT  TOP 1 MSU1.数量
-- 								FROM TD見積シートM AS MSM1
-- 								INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 			 						AND 	MSU1.仕分番号 = MSU.仕分番号
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							) <> 0			--2003/10/31
-- 					--AND		MSM.発注数 > 0
-- 					AND		(
-- 								SELECT  TOP 1 MSM1.発注数
-- 								FROM TD見積シートM AS MSM1
-- 
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							--) > 0		--2003/10/31
-- 							) <> 0			--2003/12/08
-- 					--AND		MSM.社内在庫数 = 0
-- 					AND		(
-- 								SELECT  TOP 1 MSM1.社内在庫数
-- 								FROM TD見積シートM AS MSM1
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							) = 0			--2003/10/31
-- 					--AND		MSM.客先在庫数 = 0
-- 					AND		(
-- 								SELECT  TOP 1 MSM1.客先在庫数
-- 								FROM TD見積シートM AS MSM1
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							) = 0			--2003/10/31
-- 					--AND		MSM.転用数 = 0
-- 					AND		(
-- 								SELECT  TOP 1 MSM1.転用数
-- 								FROM TD見積シートM AS MSM1
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							) = 0			--2003/10/31
-- 				UNION ALL
-- 				--付属部材
-- 				--発注数があり、社内在庫数・客先在庫数・転用があるデータ
-- 				--内訳はいらない
-- 				SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
-- 						MSM.仕入先CD, MSM.配送先CD,  'Z9' AS 仕分番号, 
-- 						MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
-- 						MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
-- 						MSM.発注数, MSM.単位名, MSM.仕入単価, --MSM.仕入金額,
-- 						MSM.定価, 
-- 						MSM.発注数, MSM.製品区分, MSM.見積区分
-- 					FROM		TD見積 AS MH
-- 							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- 					WHERE	MH.見積番号 = @i見積番号
-- 					--AND		MSM.発注数 > 0
-- 					AND		(
-- 								SELECT  TOP 1 MSM1.発注数
-- 								FROM TD見積シートM AS MSM1
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							--) > 0		--2003/10/31
-- 							) <> 0			--2003/12/08
-- 					AND		(
-- 					--		MSM.社内在庫数 > 0
-- 							(
-- 								SELECT  TOP 1 MSM1.社内在庫数
-- 								FROM TD見積シートM AS MSM1
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							) > 0			--2003/10/31
-- 					--OR		MSM.客先在庫数 > 0
-- 					OR		(
-- 								SELECT  TOP 1 MSM1.客先在庫数
-- 								FROM TD見積シートM AS MSM1
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							) > 0			--2003/10/31
-- 					--OR		MSM.転用数 > 0
-- 					OR		(
-- 								SELECT  TOP 1 MSM1.転用数
-- 								FROM TD見積シートM AS MSM1
-- 								WHERE	MSM1.見積番号 = MSM.見積番号
-- 									AND 	MSM1.見積区分 = ''
-- 									AND 	MSM1.行番号 <= MSM.行番号
-- 								ORDER BY MSM1.行番号 DESC
-- 							) > 0			--2003/10/31
-- 							)
-- 			) AS D
-- 			LEFT JOIN 	TM仕入先 AS SI ON D.仕入先CD = SI.仕入先CD
-- 		) AS SYUUKEI
--2004/12/01 DEL
--2004/12/01 ADD
	------------------------------------------------------
	--見積より発注明細データ作成
	----ワークを作ってから連番付けを行なう
	------------------------------------------------------
	SELECT * INTO #TBL
		FROM (
			SELECT D.見積番号 AS 発注番号, 
			--0 AS 新行番号,
			D.見積番号, D.項目 AS 見積行番号,
			D.仕入先CD, D.配送先CD, RIGHT('0'+CONVERT(VARCHAR(2),D.仕分番号),2) AS 仕分番号, 
			D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.漢字名称, 
			D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2,
			D.数量, D.単位名, D.仕入単価, --D.数量 * D.仕入単価 AS 仕入金額,	--2003/10/23.DEL
			dbo.fn_CutFraction(SI.仕入端数,D.数量 * D.仕入単価,@decimalPoint) AS 仕入金額,	--2003/10/23.ADD
			D.定価, 0 AS 仕入数, D.製品区分, D.見積区分,
			--CONVERT(CHAR(10), GETDATE(),111), CONVERT(CHAR(10), GETDATE(),111)
			@w初期登録日 AS 初期登録日, CONVERT(CHAR(10), GETDATE(),111) AS 登録更新日
			FROM
			(
				----------------------------------------------------------------
				--通常明細
				--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
				--コメントでないもの
				----------------------------------------------------------------
				SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
						MSM.仕入先CD, MSM.配送先CD, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
						MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
						MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
						MSU.数量, MSM.単位名, MSM.仕入単価, --MSU.数量 * MSM.仕入単価 AS 仕入金額,
						MSM.定価, 
						MSM.発注数, MSM.製品区分, MSM.見積区分
					FROM		TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
					WHERE	MH.見積番号 = @i見積番号
				------2004/12/02	ADD
--					AND		MSM.見積区分 = ''
					AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
					AND		MSU.数量 <> 0
					AND		MSM.発注数 <> 0
					AND		MSM.社内在庫数 = 0
					AND		MSM.客先在庫数 = 0
					AND		MSM.転用数 = 0
				----------------------------------
				UNION ALL
				----------------------------------------------------------------
				--通常明細
				--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
				--コメントAのもの
				----------------------------------------------------------------
				SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
						MSM.仕入先CD, MSM.配送先CD, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
						MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
						MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
						MSU.数量, MSM.単位名, MSM.仕入単価, --MSU.数量 * MSM.仕入単価 AS 仕入金額,
						MSM.定価, 
						MSM.発注数, MSM.製品区分, MSM.見積区分
					FROM		TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
					WHERE	MH.見積番号 = @i見積番号
					AND		MSM.見積区分 = 'A'
					AND		(
								SELECT  TOP 1 MSU1.数量
								FROM TD見積シートM AS MSM1
								INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
			 						AND 	MSU1.仕分番号 = MSU.仕分番号
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							) <> 0			--2003/10/31
					--AND		MSM.発注数 > 0
					AND		(
								SELECT  TOP 1 MSM1.発注数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							--) > 0		--2003/10/31
							) <> 0			--2003/12/08
					--AND		MSM.社内在庫数 = 0
					AND		(
								SELECT  TOP 1 MSM1.社内在庫数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							) = 0			--2003/10/31
					--AND		MSM.客先在庫数 = 0
					AND		(
								SELECT  TOP 1 MSM1.客先在庫数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							) = 0			--2003/10/31
					--AND		MSM.転用数 = 0
					AND		(
								SELECT  TOP 1 MSM1.転用数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							) = 0			--2003/10/31
				UNION ALL
				----------------------------------------------------------------
				--通常明細
				--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
				--コメントC/Sのもの
				----------------------------------------------------------------
				SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
						MSM.仕入先CD, MSM.配送先CD, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
						MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
						MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
						MSU.数量, MSM.単位名, MSM.仕入単価, --MSU.数量 * MSM.仕入単価 AS 仕入金額,
						MSM.定価, 
						MSM.発注数, MSM.製品区分, MSM.見積区分
					FROM		TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
							INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
					WHERE	MH.見積番号 = @i見積番号
					AND		(MSM.見積区分 = 'C'
						OR	MSM.見積区分 = 'S')
					AND		(
								SELECT  TOP 1 MSU1.数量
								FROM TD見積シートM AS MSM1
								INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
			 						AND 	MSU1.仕分番号 = MSU.仕分番号
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							) <> 0			--2003/10/31
					--AND		MSM.発注数 > 0
					AND		(
								SELECT  TOP 1 MSM1.発注数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							--) > 0		--2003/10/31
							) <> 0			--2003/12/08
					--AND		MSM.社内在庫数 = 0
					AND		(
								SELECT  TOP 1 MSM1.社内在庫数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							) = 0			--2003/10/31
					--AND		MSM.客先在庫数 = 0
					AND		(
								SELECT  TOP 1 MSM1.客先在庫数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							) = 0			--2003/10/31
					--AND		MSM.転用数 = 0
					AND		(
								SELECT  TOP 1 MSM1.転用数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							) = 0			--2003/10/31
				UNION ALL
				----------------------------------------------------------------
				--付属部材
				--発注数があり、社内在庫数・客先在庫数・転用があるデータ
				--内訳はいらない
				--コメントでないもの
				----------------------------------------------------------------
				SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
						MSM.仕入先CD, MSM.配送先CD,  'Z9' AS 仕分番号, 
						MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
						MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
						MSM.発注数, MSM.単位名, MSM.仕入単価, --MSM.仕入金額,
						MSM.定価, 
						MSM.発注数, MSM.製品区分, MSM.見積区分
					FROM		TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					WHERE	MH.見積番号 = @i見積番号
--					AND		MSM.見積区分 = ''
					AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
					AND 		発注数 <> 0
					AND		(社内在庫数 > 0
						OR	客先在庫数 > 0
						OR 	転用数 > 0)
				UNION ALL
				----------------------------------------------------------------
				--付属部材
				--発注数があり、社内在庫数・客先在庫数・転用があるデータ
				--内訳はいらない
				--コメントAのもの
				----------------------------------------------------------------
				SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
						MSM.仕入先CD, MSM.配送先CD,  'Z9' AS 仕分番号, 
						MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
						MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
						MSM.発注数, MSM.単位名, MSM.仕入単価, --MSM.仕入金額,
						MSM.定価, 
						MSM.発注数, MSM.製品区分, MSM.見積区分
					FROM		TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					WHERE	MH.見積番号 = @i見積番号
					AND		MSM.見積区分 = 'A'
					AND		(
								SELECT  TOP 1 MSM1.発注数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							--) > 0		--2003/10/31
							) <> 0			--2003/12/08
					AND		(
					--		MSM.社内在庫数 > 0
							(
								SELECT  TOP 1 MSM1.社内在庫数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							) > 0			--2003/10/31
					--OR		MSM.客先在庫数 > 0
					OR		(
								SELECT  TOP 1 MSM1.客先在庫数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							) > 0			--2003/10/31
					--OR		MSM.転用数 > 0
					OR		(
								SELECT  TOP 1 MSM1.転用数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							) > 0			--2003/10/31
							)
				UNION ALL
				----------------------------------------------------------------
				--付属部材
				--発注数があり、社内在庫数・客先在庫数・転用があるデータ
				--内訳はいらない
				--コメントC/Sのもの
				----------------------------------------------------------------
				SELECT	MH.見積番号 AS 発注番号, MSM.行番号 AS 発注項目, MH.見積番号, MSM.行番号 AS 項目,
						MSM.仕入先CD, MSM.配送先CD,  'Z9' AS 仕分番号, 
						MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
						MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
						MSM.発注数, MSM.単位名, MSM.仕入単価, --MSM.仕入金額,
						MSM.定価, 
						MSM.発注数, MSM.製品区分, MSM.見積区分
					FROM		TD見積 AS MH
							INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					WHERE	MH.見積番号 = @i見積番号
					AND		(MSM.見積区分 = 'C'
						OR	MSM.見積区分 = 'S')	
					--AND		MSM.発注数 > 0
					AND		(
								SELECT  TOP 1 MSM1.発注数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							--) > 0		--2003/10/31
							) <> 0			--2003/12/08
					AND		(
					--		MSM.社内在庫数 > 0
							(
								SELECT  TOP 1 MSM1.社内在庫数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							) > 0			--2003/10/31
					--OR		MSM.客先在庫数 > 0
					OR		(
								SELECT  TOP 1 MSM1.客先在庫数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							) > 0			--2003/10/31
					--OR		MSM.転用数 > 0
					OR		(
								SELECT  TOP 1 MSM1.転用数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
--									AND 	MSM1.見積区分 = ''
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							) > 0			--2003/10/31
							)
			) AS D
			LEFT JOIN 	TM仕入先 AS SI ON D.仕入先CD = SI.仕入先CD
		) AS SYUUKEI
--2004/12/02 ADD
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
	--ワークテーブルを本テーブルへインサートする
	INSERT INTO TD発注明細
		(
		発注番号, 行番号, 見積番号, 見積行番号,
		仕入先CD, 配送先CD, 仕分番号, 
		SP区分, PC区分, 製品NO, 仕様NO, 漢字名称, 
		W, D, H, D1, D2, H1, H2,
		発注数量, 単位名, 発注単価, 発注金額,
		定価, 仕入数, 製品区分, 見積区分,
		初期登録日, 登録変更日
		)
		SELECT D.見積番号 AS 発注番号, 
			(SELECT COUNT(*)+1 FROM #TBL AS D1
				WHERE 	D.見積番号 = D1.見積番号 AND D.仕入先CD = D1.仕入先CD 
						AND D.配送先CD = D1.配送先CD AND D.仕分番号 = D1.仕分番号
						AND D.見積行番号 > D1.見積行番号
				) AS 新行番号,
				D.見積番号, D.見積行番号,
				D.仕入先CD, D.配送先CD, D.仕分番号, 
				D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.漢字名称, 
				D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2,
				D.数量, D.単位名, D.仕入単価,
				D.仕入金額,
				D.定価, D.仕入数, D.製品区分, D.見積区分,
				D.初期登録日, D.登録更新日
			FROM #TBL AS D
			ORDER BY     D.見積番号, D.仕入先CD, D.配送先CD, D.仕分番号, D.見積行番号		
--2003/11/28 ADD
			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--見積Ｄ[発注日]を更新する
	------------------------------------------------------
	UPDATE 	TD見積
		SET	注文発行日 = CONVERT(CHAR(10),GETDATE(),111)
		WHERE 	見積番号 = @i見積番号


EXIT_SP:

	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST

			SET @RetMSG = @MSG
		END
	END
	RETURN @ST



GO
