/****** Object:  StoredProcedure [dbo].[usp_TN2300入荷予定CSV出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2300入荷予定CSV出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2300入荷予定CSV出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN2300入荷予定CSV出力
	

	機能:	
		入荷予定データを作成する

 =============================================
	2018/05/22	oosawa		新設
	2018/07/02	oosawa		見積NO7桁 + 入出庫日mmddの項目追加
	2020/09/19	oosawa		入出庫日を入庫日・出庫日に分割
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TN2300入荷予定CSV出力]
	(
		@iS入荷日付		DATETIME,
		@iE入荷日付		DATETIME,
		@iS見積番号		INT,
		@iE見積番号		INT,
		@iS仕入先CD		VARCHAR(4),
		@iE仕入先CD		VARCHAR(4),

		--OUTPUT
		@RetDcnt 		INT				OUTPUT,
		@RetST			INT				OUTPUT,
		@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST			INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

--SET	@iS集計日付 = '2016-1-01'
--SET	@iE集計日付 = '2016-12-31'
--SET	@iチームCD = 3

	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	------------------------------------------------------
	--社内伝より入荷予定データ作成
	------------------------------------------------------
	--V見積シートMより対象データ抽出
	--SELECT * INTO #TMP
	--	FROM (
			SELECT 	--入荷日付 = MSM.入出庫日,
					入荷日付 = MSM.入庫日,--2020/09/19 ADD
					MH.見積番号,MSM.行番号,
					MSM.見積明細連番,
					MH.見積日付,
					MH.見積件名,
					MSM.仕入先CD,
					SE.入出庫用CD,
					MSM.製品NO,MSM.仕様NO,
					製品名 = MSM.漢字名称,
					MSM.発注数,
					MSM.仕入単価,
					伝番入荷日 = RIGHT('0000000' + convert(varchar,MH.見積番号), 7)
									--+ RIGHT(CONVERT(char(8),MSM.入出庫日,112),4)
									+ RIGHT(CONVERT(char(8),MSM.入庫日,112),4)--2020/09/19 ADD
				FROM TD見積 AS MH 
					INNER JOIN VD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
					INNER JOIN TM製品 AS SE
						ON	MSM.製品NO = SE.製品NO
						AND	MSM.仕様NO = SE.仕様NO
					LEFT JOIN TM仕入先 AS SRM 
						ON MSM.仕入先CD = SRM.仕入先CD  
					LEFT JOIN TM配送先 AS HSM 
						ON MSM.配送先CD = HSM.配送先CD  
		 		WHERE 	/*MSM.見積番号 = @i見積番号
		 			AND*/ MH.社内伝票扱い = 1
					AND	MSM.見積区分 NOT IN ('A','C','S')
					AND	MSM.発注数 <> 0
			 		--AND MSM.入出庫日 >= COALESCE(@iS入荷日付,MSM.入出庫日)
			 		--AND MSM.入出庫日 <= COALESCE(@iE入荷日付,MSM.入出庫日)
			 		--AND	MSM.入出庫日 IS NOT NULL
			 		AND MSM.入庫日 >= COALESCE(@iS入荷日付,MSM.入庫日)--2020/09/19 ADD
			 		AND MSM.入庫日 <= COALESCE(@iE入荷日付,MSM.入庫日)--2020/09/19 ADD
			 		AND	MSM.入庫日 IS NOT NULL--2020/09/19 ADD
			 		AND	MSM.仕入先CD >= COALESCE(@iS仕入先CD,MSM.仕入先CD)
			 		AND	MSM.仕入先CD <= COALESCE(@iE仕入先CD,MSM.仕入先CD)
			 		AND MSM.見積番号 >= COALESCE(@iS見積番号,MSM.見積番号)
			 		AND MSM.見積番号 <= COALESCE(@iE見積番号,MSM.見積番号)
			 	--ORDER BY MSM.入出庫日,MH.見積番号,MSM.仕入先CD
			 	ORDER BY MSM.入庫日,MH.見積番号,MSM.仕入先CD--2020/09/19 ADD
			 --) A
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST

GO
