/****** Object:  StoredProcedure [dbo].[usp_TN0700UPDチーム別社内在庫移動]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0700UPDチーム別社内在庫移動]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0700UPDチーム別社内在庫移動]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN0700UPDチーム別社内在庫移動

	機能:	
		社内在庫移動入力で入力された情報を
		TD社内在庫移動・TD社内在庫移動明細に登録する。

 =============================================
	2015/09/08	oosawa	新規作成
	2015/09/18	oosawa	得意先追加
 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN0700UPDチーム別社内在庫移動]
	(
	@i社内在庫移動番号	INT,
	@i移動日付			DATETIME,
	@i得意先CD		VARCHAR(4),--2015/09/18 ADD
	@i移動元チームCD	INT ,
	@i移動先チームCD	INT ,
	--@i移動元チームCD	VARCHAR(2),	--SMALLINT ,
	--@i移動先チームCD	VARCHAR(2),	--SMALLINT ,
	@i摘要名			VARCHAR(50),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	--BEGIN TRAN

	--------------------------------------------------
	--移動ヘッダーを更新する。
	--------------------------------------------------
	IF EXISTS (SELECT 社内在庫移動番号 FROM TD社内在庫移動 WHERE 社内在庫移動番号 = @i社内在庫移動番号 ) BEGIN
		-----<更新>-----
		--------------------------------------------------
		--移動データの更新
		--------------------------------------------------
		UPDATE	TD社内在庫移動
			SET	
				社内在庫移動日付	= @i移動日付,
				得意先CD	= @i得意先CD,--2015/09/18 ADD

				社内在庫移動元チームCD	= @i移動元チームCD,
				社内在庫移動先チームCD	= @i移動先チームCD,

				摘要名			= @i摘要名,

				登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
		WHERE 
			社内在庫移動番号	= @i社内在庫移動番号
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	END ELSE BEGIN

		--移動番号を取得します
		EXEC	@ST = usp_GetCounter 'チ社移動番号', '', @i社内在庫移動番号 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP
		-----<新規>-----
		INSERT	TD社内在庫移動
			(
				社内在庫移動番号, 社内在庫移動日付, 
				得意先CD,	--2015/09/18 ADD
				社内在庫移動元チームCD, 社内在庫移動先チームCD,
				摘要名,
				初期登録日, 登録変更日
			) 
 		VALUES 
			(
				@i社内在庫移動番号, @i移動日付,
				@i得意先CD,	--2015/09/18 ADD
				@i移動元チームCD, @i移動先チームCD,
				@i摘要名,
				CONVERT(CHAR(10),GETDATE(),111), CONVERT(CHAR(10),GETDATE(),111)
			)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END

	--------------------------------------------------
	--修正された明細を更新する。(変わったもののみ更新)
	--------------------------------------------------
	UPDATE TD社内在庫移動明細
			SET	社内在庫移動番号 = #Tmpチーム別社内在庫移動.社内在庫移動番号,
				枝番 = #Tmpチーム別社内在庫移動.枝番, 
				製品NO = #Tmpチーム別社内在庫移動.製品NO,
				仕様NO = #Tmpチーム別社内在庫移動.仕様NO,
--				数量 = #Tmpチーム別社内在庫移動.数量,
				仕入先CD		= #Tmpチーム別社内在庫移動.仕入先CD,
				仕入端数		= #Tmpチーム別社内在庫移動.仕入端数区分,
				消費税端数		= #Tmpチーム別社内在庫移動.消費税端数区分,
				移動数量		= #Tmpチーム別社内在庫移動.移動数量,
				移動単価		= #Tmpチーム別社内在庫移動.移動単価,
				移動金額		= #Tmpチーム別社内在庫移動.移動金額,
				消費税額		= #Tmpチーム別社内在庫移動.消費税額,
				仕入税区分		= #Tmpチーム別社内在庫移動.仕入税区分,
				明細備考		= #Tmpチーム別社内在庫移動.明細備考,
				登録変更日 = CONVERT(CHAR(10),GETDATE(),111)
		FROM TD社内在庫移動明細
			INNER JOIN #Tmpチーム別社内在庫移動
				ON	TD社内在庫移動明細.社内在庫移動明細連番 = #Tmpチーム別社内在庫移動.社内在庫移動明細連番
	 	WHERE NOT((TD社内在庫移動明細.枝番				= #Tmpチーム別社内在庫移動.枝番)
				AND	(TD社内在庫移動明細.製品NO			= #Tmpチーム別社内在庫移動.製品NO)
				AND	(TD社内在庫移動明細.仕様NO			= #Tmpチーム別社内在庫移動.仕様NO)
				AND	(TD社内在庫移動明細.仕入先CD		= #Tmpチーム別社内在庫移動.仕入先CD)
				AND	(TD社内在庫移動明細.仕入端数		= #Tmpチーム別社内在庫移動.仕入端数区分)
				AND	(TD社内在庫移動明細.消費税端数		= #Tmpチーム別社内在庫移動.消費税端数区分)
				AND	(TD社内在庫移動明細.移動数量		= #Tmpチーム別社内在庫移動.移動数量)
				AND	(TD社内在庫移動明細.移動単価		= #Tmpチーム別社内在庫移動.移動単価)
				AND	(TD社内在庫移動明細.移動金額		= #Tmpチーム別社内在庫移動.移動金額)
				AND	(TD社内在庫移動明細.消費税額		= #Tmpチーム別社内在庫移動.消費税額)
				AND	(TD社内在庫移動明細.仕入税区分		= #Tmpチーム別社内在庫移動.仕入税区分)
				AND	(TD社内在庫移動明細.明細備考		= #Tmpチーム別社内在庫移動.明細備考))

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--移動明細の追加分を登録する。
	--------------------------------------------------
	INSERT INTO TD社内在庫移動明細
		(
			--社内在庫移動明細連番,
			社内在庫移動番号,
			枝番, 
			製品NO,
			仕様NO,
			仕入先CD,
			仕入端数,
			消費税端数,
			移動数量,
			移動単価,
			移動金額,
			消費税額,
			仕入税区分,
			明細備考,
			初期登録日,
			登録変更日
		)
		SELECT
				--TMP.社内在庫移動明細連番, 
				@i社内在庫移動番号, 
				TMP.枝番, 
				TMP.製品NO, 
				TMP.仕様NO, 
				TMP.仕入先CD,
				TMP.仕入端数区分,
				TMP.消費税端数区分,
				TMP.移動数量,
				TMP.移動単価,
				TMP.移動金額,
				TMP.消費税額,
				TMP.仕入税区分,
				TMP.明細備考,
				CONVERT(CHAR(10),GETDATE(),111),
				CONVERT(CHAR(10),GETDATE(),111)
	 		FROM #Tmpチーム別社内在庫移動 AS TMP
			LEFT JOIN TD社内在庫移動明細 AS IM
				ON	TMP.社内在庫移動明細連番 = IM.社内在庫移動明細連番
			WHERE IM.社内在庫移動明細連番 IS NULL

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
