/****** Object:  StoredProcedure [dbo].[usp_SE1700Wel中日施工集計]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE1700Wel中日施工集計]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE1700Wel中日施工集計]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE1700Wel中日施工集計

機能	ウエルシアの中日・中日以外、施工・施工以外の
		売上金額・原価金額を集計する

		※得意先は2401固定
		※固定で製品NOを保持

引数

戻り値

修正履歴
	2015/10/13				新規作成
	2015/11/24	oosawa		値引金額を分ける
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE1700Wel中日施工集計]
	@iS請求日付		DATETIME,
	@iE請求日付		DATETIME,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

	---------------------------
	--得意先別請求金額一覧
	---------------------------
	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP
		(
			見積番号		INT,
			見積件名		VARCHAR(60),
			納入得意先CD	VARCHAR(4),
			納入先CD		VARCHAR(4),
			物件種別		SMALLINT,
		--施工以外
			売上金額_中日_施工以外		MONEY	DEFAULT(0),
			原価金額_中日_施工以外		MONEY	DEFAULT(0),
			売上金額_中日以外_施工以外	MONEY	DEFAULT(0),
			原価金額_中日以外_施工以外	MONEY	DEFAULT(0),
			販売割戻金					MONEY	DEFAULT(0),
			特別出精値引				MONEY	DEFAULT(0),
		--施工
			売上金額_中日_施工			MONEY	DEFAULT(0),
			原価金額_中日_施工			MONEY	DEFAULT(0),
			売上金額_中日以外_施工		MONEY	DEFAULT(0),
			原価金額_中日以外_施工		MONEY	DEFAULT(0)
			--出精値引_施工				MONEY	DEFAULT(0)

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------
	--施工以外抽出
	------------------------------------------------------------
	INSERT	INTO #TMP
			(
				見積番号,
				納入得意先CD,
				納入先CD,
				物件種別,
				見積件名,
				--施工以外
				売上金額_中日_施工以外,
				原価金額_中日_施工以外,
				売上金額_中日以外_施工以外,
				原価金額_中日以外_施工以外,
				販売割戻金,
				特別出精値引
				
			)
			SELECT	UH.見積番号,
					MH.納入得意先CD, MH.納入先CD, MH.物件種別,
					MH.見積件名,
					SUM(CASE WHEN MSM.仕入先CD = '4301' AND NOT(UM.製品NO IN ('Z019','Z101','Z103')) THEN UM.売上金額 ELSE 0 END) AS 売上金額_中日, 
					SUM(CASE WHEN MSM.仕入先CD = '4301' AND NOT(UM.製品NO IN ('Z019','Z101','Z103')) THEN UM.仕入金額 ELSE 0 END) AS 原価金額_中日,
					SUM(CASE WHEN MSM.仕入先CD <> '4301' AND NOT(UM.製品NO IN ('Z019','Z101','Z103')) THEN UM.売上金額 ELSE 0 END) AS 売上金額_以外, 
					SUM(CASE WHEN MSM.仕入先CD <> '4301' AND NOT(UM.製品NO IN ('Z019','Z101','Z103')) THEN UM.仕入金額 ELSE 0 END) AS 原価金額_以外,
					--旧値引・新値引・差額調整
					--SUM(CASE WHEN UM.製品NO IN ('Z599058','Z019','Z101','Z102') THEN UM.売上金額 ELSE 0 END) AS 値引金額
					--SUM(CASE WHEN UM.製品NO IN ('Z599058','Z019','Z101','Z103') THEN UM.売上金額 ELSE 0 END) AS 値引金額
					--2015/11/24 ADD↓
					販売割戻金 = SUM(CASE WHEN UM.製品NO = 'Z103' THEN UM.売上金額 ELSE 0 END), 
					特別出精値引 = SUM(CASE WHEN UM.製品NO IN ('Z101','Z019') THEN UM.売上金額 ELSE 0 END)
					--2015/11/24 ADD↑
					--,TD見積.出精値引
				FROM	TD売上v2 AS UH
					INNER JOIN TD売上明細v2 AS UM
						ON UH.売上番号 = UM.売上番号
					LEFT JOIN TD見積シートM AS MSM
						ON UM.見積明細連番 = MSM.見積明細連番
					LEFT JOIN TD見積 AS MH
						ON UH.見積番号 = MH.見積番号
					INNER JOIN TD売上請求H AS USH
						ON UH.見積番号 = USH.見積番号
				--WHERE	(UH.売上日付 BETWEEN @isDate AND @ieDate) 
				WHERE	(USH.請求日付 BETWEEN @iS請求日付 AND @iE請求日付) 
					AND	(MH.得意先CD = '2401')
					--AND NOT((UM.製品NO LIKE 'Z___' AND NOT(UM.製品NO IN ('Z019','Z101','Z102')))
					AND NOT((UM.製品NO LIKE 'Z___' AND NOT(UM.製品NO IN ('Z019','Z101','Z103')))--2015/11/24 ADD
							OR UM.製品NO IN ('Z500034','Z500035','Z500036','Z590096','Z599004','Z599006','Z599008','Z599051','Z599052','Z599053','Z599055','Z599057','Z599097','Z599099','Z599108','Z599116','Z5C0020','Z5HK050','Z5HK060','Z5HK075','Z5HK080','Z5HK098','Z5HK100','Z5HK120','Z5HK150','Z5HK180','Z5HK200','Z5HK240','Z5HK280','Z5HK300','Z5HK350','Z5HK380','Z5HK400','Z5HK450','Z5HK480','Z5HK500','Z5HK550','Z5HK580','Z5HK600','Z5KM030','Z5KM045','Z5KM060','Z5KM075','Z5KM080','Z5KM098','Z5KM100','Z5KM120','Z5KM150','Z5KM180','Z5KM200','Z5KM240','Z5KM280','Z5KM300','Z5KM350','Z5KM380','Z5KM400','Z5KM450','Z5KM480','Z5KM500','Z5KM550','Z5KM580','Z5KM600','Z5KM650','Z5KM680','Z5KM700','Z5KM750','Z5KM780','Z5UP009','Z5UP010','Z5UP012','Z5UP015','Z5UP018','Z5UP020','Z5UP025','Z5UP030','Z5UP038','Z5UP045','Z5UP060','Z5UP075','Z5UP080','Z5UP098','Z5UP100','Z5UP120','Z5UP150','Z5UP180','Z5UP200','Z5UP240','Z5UP280','Z5UP300','Z5UP350','Z5UP380','Z572001','Z572002','Z572003','Z572004','Z572005','Z572006','Z572007','Z572008','Z572009','Z572010','Z572011','Z572012','Z572013','Z572014','Z572015','Z572016','Z572017','Z572018','Z572019','Z572020','Z572021','Z572022','Z572023','Z572024','Z572025','Z572026','Z572027','Z572028','Z572029','Z572030','Z572031','Z572032','Z572033','Z572034','Z572035','Z572036','Z572037','Z572038','Z572039','Z572040','Z572041','Z572042','Z572043','Z572044','Z572045','Z572046','Z572047','Z572048','Z572049','Z572050','Z599001','Z599002','Z599003','Z599020','Z521100','Z521101','Z521102','Z521103','Z510001','Z510002','Z510003','Z510004','Z000030','Z000037','Z000038','Z000039','Z000046','Z000083','Z510001','Z510002','Z510003','Z510004','Z600062','Z600063','Z544100','Z600104','Z600105','Z532001','Z532002','Z532003','Z532004','Z532005','Z532006','Z532007','Z532008','Z532009','Z532010','Z532011','Z532012','Z532013','Z532014','Z532015','Z532016','Z532017','Z532018','Z532019','Z532020','Z532021','Z532022','Z532023','Z532024','Z532025','Z830000','Z531000','Z573200','Z573201','Z600045','Z528001','Z528002','Z528003','Z528004','Z528005','Z528006','Z528007','Z528008','Z528009','Z528010','Z528011','Z528012','Z528013','Z528014','Z523001','Z523002','Z523003','Z523004','Z523005','Z523006','Z523007','Z523008'))
					--AND NOT(UM.製品NO LIKE 'Z___'
					--		OR UM.製品NO IN ('Z500034','Z500035','Z500036','Z590096','Z599004','Z599006','Z599008','Z599051','Z599052','Z599053','Z599055','Z599057','Z599097','Z599099','Z599108','Z599116','Z5C0020','Z5HK050','Z5HK060','Z5HK075','Z5HK080','Z5HK098','Z5HK100','Z5HK120','Z5HK150','Z5HK180','Z5HK200','Z5HK240','Z5HK280','Z5HK300','Z5HK350','Z5HK380','Z5HK400','Z5HK450','Z5HK480','Z5HK500','Z5HK550','Z5HK580','Z5HK600','Z5KM030','Z5KM045','Z5KM060','Z5KM075','Z5KM080','Z5KM098','Z5KM100','Z5KM120','Z5KM150','Z5KM180','Z5KM200','Z5KM240','Z5KM280','Z5KM300','Z5KM350','Z5KM380','Z5KM400','Z5KM450','Z5KM480','Z5KM500','Z5KM550','Z5KM580','Z5KM600','Z5KM650','Z5KM680','Z5KM700','Z5KM750','Z5KM780','Z5UP009','Z5UP010','Z5UP012','Z5UP015','Z5UP018','Z5UP020','Z5UP025','Z5UP030','Z5UP038','Z5UP045','Z5UP060','Z5UP075','Z5UP080','Z5UP098','Z5UP100','Z5UP120','Z5UP150','Z5UP180','Z5UP200','Z5UP240','Z5UP280','Z5UP300','Z5UP350','Z5UP380','Z572001','Z572002','Z572003','Z572004','Z572005','Z572006','Z572007','Z572008','Z572009','Z572010','Z572011','Z572012','Z572013','Z572014','Z572015','Z572016','Z572017','Z572018','Z572019','Z572020','Z572021','Z572022','Z572023','Z572024','Z572025','Z572026','Z572027','Z572028','Z572029','Z572030','Z572031','Z572032','Z572033','Z572034','Z572035','Z572036','Z572037','Z572038','Z572039','Z572040','Z572041','Z572042','Z572043','Z572044','Z572045','Z572046','Z572047','Z572048','Z572049','Z572050','Z599001','Z599002','Z599003','Z599020','Z521100','Z521101','Z521102','Z521103','Z510001','Z510002','Z510003','Z510004','Z000030','Z000037','Z000038','Z000039','Z000046','Z000083','Z510001','Z510002','Z510003','Z510004','Z600062','Z600063','Z544100','Z600104','Z600105','Z532001','Z532002','Z532003','Z532004','Z532005','Z532006','Z532007','Z532008','Z532009','Z532010','Z532011','Z532012','Z532013','Z532014','Z532015','Z532016','Z532017','Z532018','Z532019','Z532020','Z532021','Z532022','Z532023','Z532024','Z532025','Z830000','Z531000','Z573200','Z573201','Z600045','Z528001','Z528002','Z528003','Z528004','Z528005','Z528006','Z528007','Z528008','Z528009','Z528010','Z528011','Z528012','Z528013','Z528014','Z523001','Z523002','Z523003','Z523004','Z523005','Z523006','Z523007','Z523008'))
				GROUP BY	UH.見積番号, MH.納入得意先CD, MH.納入先CD, MH.物件種別,MH.見積件名
				--ORDER BY           TD見積.物件種別, TD売上.売上日付, TD見積.納入得意先CD, TD見積.納入先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------
	--施工分抽出
	------------------------------------------------------------
	MERGE INTO	#TMP AS A
		USING
			(
			--施工分
			SELECT	UH.見積番号,
					MH.納入得意先CD, MH.納入先CD, MH.物件種別,
					MH.見積件名,
					SUM(CASE WHEN MSM.仕入先CD = '4301' THEN UM.売上金額 ELSE 0 END) AS 売上金額_中日, 
					SUM(CASE WHEN MSM.仕入先CD = '4301' THEN UM.仕入金額 ELSE 0 END) AS 原価金額_中日,
					SUM(CASE WHEN MSM.仕入先CD <> '4301' THEN UM.売上金額 ELSE 0 END) AS 売上金額_以外, 
					SUM(CASE WHEN MSM.仕入先CD <> '4301' THEN UM.仕入金額 ELSE 0 END) AS 原価金額_以外
					--,TD見積.出精値引
				FROM	TD売上v2 AS UH
					INNER JOIN TD売上明細v2 AS UM
						ON UH.売上番号 = UM.売上番号
					LEFT JOIN TD見積シートM AS MSM
						ON UM.見積明細連番 = MSM.見積明細連番
					LEFT JOIN TD見積 AS MH
						ON UH.見積番号 = MH.見積番号
					INNER JOIN TD売上請求H AS USH
						ON UH.見積番号 = USH.見積番号
				--WHERE	(UH.売上日付 BETWEEN @isDate AND @ieDate) 
				WHERE	(USH.請求日付 BETWEEN @iS請求日付 AND @iE請求日付) 
					AND	(MH.得意先CD = '2401')
					--AND	NOT(TD見積.見積件名 LIKE '%調剤%')
					--AND ((UM.製品NO LIKE 'Z___' AND NOT(UM.製品NO IN ('Z019','Z101','Z102')))--2015/11/24 DEL
					AND ((UM.製品NO LIKE 'Z___' AND NOT(UM.製品NO IN ('Z019','Z101','Z103')))--2015/11/24 ADD
							OR UM.製品NO IN ('Z500034','Z500035','Z500036','Z590096','Z599004','Z599006','Z599008','Z599051','Z599052','Z599053','Z599055','Z599057','Z599097','Z599099','Z599108','Z599116','Z5C0020','Z5HK050','Z5HK060','Z5HK075','Z5HK080','Z5HK098','Z5HK100','Z5HK120','Z5HK150','Z5HK180','Z5HK200','Z5HK240','Z5HK280','Z5HK300','Z5HK350','Z5HK380','Z5HK400','Z5HK450','Z5HK480','Z5HK500','Z5HK550','Z5HK580','Z5HK600','Z5KM030','Z5KM045','Z5KM060','Z5KM075','Z5KM080','Z5KM098','Z5KM100','Z5KM120','Z5KM150','Z5KM180','Z5KM200','Z5KM240','Z5KM280','Z5KM300','Z5KM350','Z5KM380','Z5KM400','Z5KM450','Z5KM480','Z5KM500','Z5KM550','Z5KM580','Z5KM600','Z5KM650','Z5KM680','Z5KM700','Z5KM750','Z5KM780','Z5UP009','Z5UP010','Z5UP012','Z5UP015','Z5UP018','Z5UP020','Z5UP025','Z5UP030','Z5UP038','Z5UP045','Z5UP060','Z5UP075','Z5UP080','Z5UP098','Z5UP100','Z5UP120','Z5UP150','Z5UP180','Z5UP200','Z5UP240','Z5UP280','Z5UP300','Z5UP350','Z5UP380','Z572001','Z572002','Z572003','Z572004','Z572005','Z572006','Z572007','Z572008','Z572009','Z572010','Z572011','Z572012','Z572013','Z572014','Z572015','Z572016','Z572017','Z572018','Z572019','Z572020','Z572021','Z572022','Z572023','Z572024','Z572025','Z572026','Z572027','Z572028','Z572029','Z572030','Z572031','Z572032','Z572033','Z572034','Z572035','Z572036','Z572037','Z572038','Z572039','Z572040','Z572041','Z572042','Z572043','Z572044','Z572045','Z572046','Z572047','Z572048','Z572049','Z572050','Z599001','Z599002','Z599003','Z599020','Z521100','Z521101','Z521102','Z521103','Z510001','Z510002','Z510003','Z510004','Z000030','Z000037','Z000038','Z000039','Z000046','Z000083','Z510001','Z510002','Z510003','Z510004','Z600062','Z600063','Z544100','Z600104','Z600105','Z532001','Z532002','Z532003','Z532004','Z532005','Z532006','Z532007','Z532008','Z532009','Z532010','Z532011','Z532012','Z532013','Z532014','Z532015','Z532016','Z532017','Z532018','Z532019','Z532020','Z532021','Z532022','Z532023','Z532024','Z532025','Z830000','Z531000','Z573200','Z573201','Z600045','Z528001','Z528002','Z528003','Z528004','Z528005','Z528006','Z528007','Z528008','Z528009','Z528010','Z528011','Z528012','Z528013','Z528014','Z523001','Z523002','Z523003','Z523004','Z523005','Z523006','Z523007','Z523008'))
	--				AND UM.製品NO IN ('Z500034','Z500035','Z500036','Z590096','Z599004','Z599006','Z599008','Z599051','Z599052','Z599053','Z599055','Z599057','Z599097','Z599099','Z599108','Z599116','Z5C0020','Z5HK050','Z5HK060','Z5HK075','Z5HK080','Z5HK098','Z5HK100','Z5HK120','Z5HK150','Z5HK180','Z5HK200','Z5HK240','Z5HK280','Z5HK300','Z5HK350','Z5HK380','Z5HK400','Z5HK450','Z5HK480','Z5HK500','Z5HK550','Z5HK580','Z5HK600','Z5KM030','Z5KM045','Z5KM060','Z5KM075','Z5KM080','Z5KM098','Z5KM100','Z5KM120','Z5KM150','Z5KM180','Z5KM200','Z5KM240','Z5KM280','Z5KM300','Z5KM350','Z5KM380','Z5KM400','Z5KM450','Z5KM480','Z5KM500','Z5KM550','Z5KM580','Z5KM600','Z5KM650','Z5KM680','Z5KM700','Z5KM750','Z5KM780','Z5UP009','Z5UP010','Z5UP012','Z5UP015','Z5UP018','Z5UP020','Z5UP025','Z5UP030','Z5UP038','Z5UP045','Z5UP060','Z5UP075','Z5UP080','Z5UP098','Z5UP100','Z5UP120','Z5UP150','Z5UP180','Z5UP200','Z5UP240','Z5UP280','Z5UP300','Z5UP350','Z5UP380','Z572001','Z572002','Z572003','Z572004','Z572005','Z572006','Z572007','Z572008','Z572009','Z572010','Z572011','Z572012','Z572013','Z572014','Z572015','Z572016','Z572017','Z572018','Z572019','Z572020','Z572021','Z572022','Z572023','Z572024','Z572025','Z572026','Z572027','Z572028','Z572029','Z572030','Z572031','Z572032','Z572033','Z572034','Z572035','Z572036','Z572037','Z572038','Z572039','Z572040','Z572041','Z572042','Z572043','Z572044','Z572045','Z572046','Z572047','Z572048','Z572049','Z572050','Z599001','Z599002','Z599003','Z599020','Z521100','Z521101','Z521102','Z521103','Z510001','Z510002','Z510003','Z510004','Z000030','Z000037','Z000038','Z000039','Z000046','Z000083','Z510001','Z510002','Z510003','Z510004','Z600062','Z600063','Z544100','Z600104','Z600105','Z532001','Z532002','Z532003','Z532004','Z532005','Z532006','Z532007','Z532008','Z532009','Z532010','Z532011','Z532012','Z532013','Z532014','Z532015','Z532016','Z532017','Z532018','Z532019','Z532020','Z532021','Z532022','Z532023','Z532024','Z532025','Z830000','Z531000','Z573200','Z573201','Z600045','Z528001','Z528002','Z528003','Z528004','Z528005','Z528006','Z528007','Z528008','Z528009','Z528010','Z528011','Z528012','Z528013','Z528014','Z523001','Z523002','Z523003','Z523004','Z523005','Z523006','Z523007','Z523008')
				GROUP BY	UH.見積番号, MH.納入得意先CD, MH.納入先CD, MH.物件種別,MH.見積件名
			) AS B
		ON  (
			A.見積番号 = B.見積番号
			AND A.納入得意先CD = B.納入得意先CD
			AND A.納入先CD = B.納入先CD
			AND A.物件種別 = B.物件種別
			AND A.見積件名 = B.見積件名
			)
		WHEN MATCHED THEN
			UPDATE
				SET	売上金額_中日_施工 = B.売上金額_中日,
					原価金額_中日_施工 = B.原価金額_中日,
					売上金額_中日以外_施工 = B.売上金額_以外,
					原価金額_中日以外_施工 = B.原価金額_以外
		WHEN NOT MATCHED THEN
			INSERT
					(
						見積番号,
						納入得意先CD,
						納入先CD,
						物件種別,
						見積件名,
						--施工
						売上金額_中日_施工,
						原価金額_中日_施工,
						売上金額_中日以外_施工,
						原価金額_中日以外_施工
					)
				VALUES
					(
						B.見積番号,
						B.納入得意先CD,
						B.納入先CD,
						B.物件種別,
						B.見積件名,
						--施工
						B.売上金額_中日,
						B.原価金額_中日,
						B.売上金額_以外,
						B.原価金額_以外
					)
		;
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------
	--データ出力
	------------------------------------------------------------
	SELECT	TMP.納入得意先CD,TMP.納入先CD,
			NY.納入先名1,
			TMP.物件種別FLG,
			TMP.調剤FLG,
			--施工以外
			売上金額_中日_施工以外 = SUM(TMP.売上金額_中日_施工以外),
			原価金額_中日_施工以外 = SUM(TMP.原価金額_中日_施工以外),
			売上金額_中日以外_施工以外 = SUM(TMP.売上金額_中日以外_施工以外),
			原価金額_中日以外_施工以外 = SUM(TMP.原価金額_中日以外_施工以外),
			--値引金額 = SUM(TMP.値引金額),
			販売割戻金 = SUM(TMP.販売割戻金),
			特別出精値引 = SUM(TMP.特別出精値引),
			--施工
			売上金額_中日_施工 = SUM(TMP.売上金額_中日_施工),
			原価金額_中日_施工 = SUM(TMP.原価金額_中日_施工),
			売上金額_中日以外_施工 = SUM(TMP.売上金額_中日以外_施工),
			原価金額_中日以外_施工 = SUM(TMP.原価金額_中日以外_施工),

			出精値引 = SUM(MH.出精値引)
		FROM (	SELECT	*,
						物件種別FLG = (CASE WHEN 物件種別 = 0 THEN 0 ELSE 999 END),
						調剤FLG = (CASE WHEN 見積件名 LIKE '%調剤%' THEN 0 ELSE 1 END)
					FROM	#TMP
			) AS TMP
			LEFT JOIN TM納入先 AS NY
				ON TMP.納入得意先CD = NY.得意先CD
				AND TMP.納入先CD = NY.納入先CD
			LEFT JOIN TD見積 AS MH
				ON TMP.見積番号 = MH.見積番号
		GROUP BY          TMP.納入得意先CD, TMP.納入先CD,NY.納入先名1, TMP.物件種別FLG,TMP.調剤FLG
		ORDER BY	TMP.物件種別FLG, TMP.納入得意先CD, TMP.納入先CD,TMP.調剤FLG DESC

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	DROP TABLE #TMP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
