/****** Object:  StoredProcedure [dbo].[usp_TN2004SetTmpexlチーム別棚卸]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2004SetTmpexlチーム別棚卸]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2004SetTmpexlチーム別棚卸]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN2004SetTmpexlチーム別棚卸

	機能:	
		EXCEL棚卸情報を#Tmpに登録する。

 =============================================
	2017/02/07	oosawa	新規作成

 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN2004SetTmpexlチーム別棚卸]
	(

	@i枝番			INT,
	@i製品NO		CHAR (12) ,
	@i仕様NO		CHAR (10) , 
	@i漢字名称		VARCHAR(40),
	@i棚卸数量		MONEY,
	@i棚卸単価		MONEY,
	@i棚卸金額		MONEY,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''


	INSERT INTO #TmpEXL棚卸明細
		(
			枝番, 
			製品NO,
			仕様NO,
			漢字名称,
			棚卸数量,
			棚卸単価,
			棚卸金額
		)  
	VALUES 
		(
			@i枝番, 
			@i製品NO,
			@i仕様NO,
			@i漢字名称,
			@i棚卸数量,
			@i棚卸単価,
			@i棚卸金額
		)

	SET @ST=@@ERROR IF @ST<>0 GOTO EXIT_SP

EXIT_SP:
	SET @RetST = @ST
	SET @RetMsg = @MSG
	RETURN @ST
GO
