/****** Object:  StoredProcedure [dbo].[usp_HD0100DEL売上]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0100DEL売上]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0100DEL売上]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE	PROCEDURE	[dbo].[usp_HD0100DEL売上]
	(
	@i見積番号		INT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	売上データ・売上明細データ・売上明細内訳データを削除します。

	内容	

	2003/08/29	kawamura	
*/

	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--出荷予定数を元に戻します。
	--------------------------------------------------
	------出荷予定数を戻します
	----EXEC @ST = usp_社内在庫_出荷数Subtract @i見積番号, @ST OUTPUT,@MSG OUTPUT
	----IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--売上を削除します。
	--------------------------------------------------
	DELETE FROM TD売上明細内訳 WHERE 売上番号 = @i見積番号
	DELETE FROM TD売上明細 WHERE 売上番号 = @i見積番号
	DELETE FROM TD売上 WHERE 売上番号 = @i見積番号

	------------------------------------------------------
	--見積Ｄ[売上日]を戻す
	------------------------------------------------------
	UPDATE 	TD見積
		SET	売上日付 = NULL
		WHERE 	見積番号 = @i見積番号


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
