/****** Object:  StoredProcedure [dbo].[usp_MT0600入庫リスト]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0600入庫リスト]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0600入庫リスト]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_MT0600入庫リスト
	

	機能:	
		社内伝分の入庫リストを作成する
		入庫日で抽出

 =============================================
	2018/07/31	oosawa	新規作成
	2020/09/19	oosawa	入出庫日を入庫日・出庫日に分解
=============================================*/
CREATE  PROCEDURE [dbo].[usp_MT0600入庫リスト]
	(
	@i入庫日		DATETIME,
	@iS得意先CD		VARCHAR(4),
	@iE得意先CD		VARCHAR(4),
	@iS仕入先CD		VARCHAR(4),
	@iE仕入先CD		VARCHAR(4),

	--OUTPUT
	@RetDcnt 		INT				OUTPUT,
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		--@TRAN		INT,
		@ST			INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------
	-- 棚卸情報
	--------------------------------------------
	SELECT	--入荷日 = MSM.入出庫日, 
			入庫日 = MSM.入庫日, 
			MSM.出庫日,
			MH.見積番号,
			MH.見積日付, MH.見積件名,
			MH.得意先CD, MH.得意先名1,
			MSM.仕入業者CD, MSM.仕入業者名, 
			MSM.仕入先CD, MSM.仕入先名, 
			MSM.配送先CD, MSM.配送先名, 
			SH.入出庫用CD, MSM.製品NO, MSM.仕様NO, MSM.漢字名称,
			MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
			--MSM.発注数, 
--			発注数 = (MSM.発注数-ISNULL(SMU.仕入数量,0)),
			発注数 = MSM.発注数,
			TB.棚番名,
			MH.社内伝票扱い,
			Count = COUNT(MH.見積番号) OVER (PARTITION BY MH.見積番号)
			,SH.費用区分
			,納入先名1,納入先名2--2024/01/04 ADD
			
		FROM	TD見積 AS MH
			INNER JOIN	TD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
			LEFT JOIN (SELECT 見積明細連番,仕入数量 = SUM(仕入数量)
							FROM TD仕入明細内訳(NOLOCK)
							GROUP BY 見積明細連番
					) AS SMU
				ON MSM.見積明細連番 = SMU.見積明細連番
			LEFT JOIN TM製品 AS SH
				ON MSM.製品NO = SH.製品NO
				AND MSM.仕様NO = SH.仕様NO
			LEFT JOIN(
						SELECT * FROM  TM棚番
							WHERE 行NO = 1
				) AS TB
				ON SH.製品NO = TB.製品NO
				AND SH.仕様NO = TB.仕様NO
		WHERE	(MH.社内伝票扱い = 1
					OR
						MSM.配送先CD = '03')
			AND	MH.受注区分 = 1
			--AND	NOT(MSM.仕入先CD IN ('3150','9999'))
			AND	NOT(MSM.仕入先CD IN ('3150'))
			--AND	(SH.費用区分 = 0--部材費
			--	OR
			--	SH.費用区分 IS NULL)--製品コードなし
			AND	MSM.見積区分 NOT IN ('A','C','S')
			AND	MSM.発注数 <> 0
			--AND	(MSM.発注数-ISNULL(SMU.仕入数量,0)) <> 0--返品が出ないので<> 
			--AND	MSM.入出庫日 = @i入庫日--2020/09/19 ADD
			AND	MSM.入庫日 = @i入庫日--2020/09/19 ADD
			AND MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
			AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
			AND MSM.仕入先CD >= COALESCE(@iS仕入先CD,MSM.仕入先CD)
			AND	MSM.仕入先CD <= COALESCE(@iE仕入先CD,MSM.仕入先CD)
		ORDER BY MSM.入庫日, MH.見積番号,MSM.仕入先CD,MSM.行番号, MSM.製品NO, MSM.仕様NO
		
		
	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST

GO
