/****** Object:  StoredProcedure [dbo].[xusp_TK3200統計推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[xusp_TK3200統計推移表]
GO
/****** Object:  StoredProcedure [dbo].[xusp_TK3200統計推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TK3200統計推移表
	

	機能:	
		チーム毎の売上金額と仕入金額の推移を作成する

	※SE.在庫対象区分に関しては金額の算出には使用しない。
	　在庫の把握時は区分にて処理する。
	↑
	※在庫対象外とかは作りことは不可！！！
	  全てを対象にしないと金額がずれる！！！

 =============================================
	2017/02/21	oosawa	新規作成
	2017/03/22	oosawa	うるう年の昨年末日の値が不正
						2017-2-28→2016-2-28(本当は2-29)
	2017/03/30	oosawa	三研の予測を追加
						売上関係を円にする
	2017/07/14	oosawa	TK24をもとに振り分け変更
	2018/02/03	oosawa	組織変更のため変更
	2018/07/07	oosawa	フロント・サービス（県北）追加
	2019/02/26	oosawa	レイアウト変更
						統計集計先CD別の経費出力(しまむらのみ)
	2019/04/02	oosawa	サービスの売上・原価を貨物自車・貨物庸車・物流に分ける
	2019/05/15	oosawa	サービスの詳細シートを追加
	2019/05/23	oosawa	サービスの経費を貨物と物流に分ける
	2020/02/15	oosawa	また、レイアウト変更
=============================================*/
CREATE  PROCEDURE [dbo].[xusp_TK3200統計推移表]
	(
	@iS集計日付	DATETIME,
	@iE集計日付	DATETIME,
	--@iチームCD		INT,

	--OUTPUT
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


--SET	@iS集計日付 = '2016-1-01'
--SET	@iE集計日付 = '2016-12-31'
--SET	@iチームCD = 3

	DECLARE	@wE前年集計日付	DATETIME
	SET @wE前年集計日付	= dbo.ufn_GetLastDateOfScope(DATEADD(YY,-1,@iE集計日付),99)
	

	--ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			チームCD		INT		NOT NULL,
			番号			INT	DEFAULT(0),
			集計CD			VARCHAR(5),
			年月			DATETIME,
			作業区分CD		INT,
			売上税抜金額	MONEY	DEFAULT(0),
			原価税抜金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--推進部ワークテーブル作成
	CREATE TABLE #TMP_SUISIN
		(
			チームCD		INT		NOT NULL,
			番号			INT	DEFAULT(0),
			集計CD			VARCHAR(5),
			営業推進部CD	SMALLINT NOT NULL,
			年月			DATETIME,
			作業区分CD		INT,
			売上税抜金額	MONEY	DEFAULT(0),
			原価税抜金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		-- 売上　顧客別
		--------------------------------------------
		DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		DECLARE @wマミー		VARCHAR(4) = '7001'

		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		--DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		DECLARE	@wしまむら		VARCHAR(4) = '3201'

		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		DECLARE	@wアポック		VARCHAR(4) = '5201'
		
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	--TK.チームCD,
							部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
							番号 = CASE TK.集計CD WHEN @wヤオコー		THEN 1
													WHEN @wマミー		THEN 2
													WHEN @wサンベルクス THEN 2
													--WHEN @wフレッセイ	THEN 3
													WHEN @wアポック		THEN 3
													WHEN @wしまむら		THEN 1
													WHEN @wベルク		THEN 1
													WHEN @wビバ			THEN 2
													WHEN @wウエルシア	THEN 1
													ELSE 99 END,
							TK.集計CD,
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								--OR 
								--	(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
								--		--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								--		AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
		    				AND	TK.集計CD IN (@wヤオコー,@wマミー,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										@wしまむら,
		    										@wウエルシア,@wビバ,@wアポック)
					GROUP BY    --TK.チームCD,
								CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
								TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.チームCD = B.部署CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							--B.チームCD,
							B.部署CD,--2018/12/24 ADD
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----売上 その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	--TK.チームCD,
							部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
							番号 = 9,
							--集計CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD--TK.チームCD,
							集計CD = 99999,
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								--OR 
								--	(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
								--		--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								--		AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
							--AND	TK.チームCD = 1
		    				AND	NOT(TK.集計CD IN (@wヤオコー,@wマミー,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										@wしまむら,
		    										@wウエルシア,@wビバ,@wアポック))
					GROUP BY    --TK.チームCD,
								CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
								CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.チームCD = B.部署CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							--B.チームCD,
							B.部署CD,--2018/12/24 ADD
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



		--顧客別　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	--TK.チームCD,
							部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
							番号 = CASE TK.集計CD WHEN @wヤオコー		THEN 1
													WHEN @wマミー		THEN 2
													WHEN @wサンベルクス THEN 2
													--WHEN @wフレッセイ	THEN 3
													WHEN @wアポック		THEN 3
													WHEN @wしまむら		THEN 1
													WHEN @wベルク		THEN 1
													WHEN @wビバ			THEN 2
													WHEN @wウエルシア	THEN 1
													ELSE 99 END,
							TK.集計CD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									--OR 
									--	(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
									--		--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									--		AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							--AND	SM.仕入日付 >= @iS集計日付
		    				--AND	SM.仕入日付 <= @iE集計日付
		    				--AND	MH.得意先CD = '8001'
		    				AND	TK.集計CD IN (@wヤオコー,@wマミー,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										@wしまむら,
		    										@wウエルシア,@wビバ,@wアポック)
					GROUP BY    --TK.チームCD,
								CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
								TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.チームCD = B.部署CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							--B.チームCD,
							B.部署CD,--2018/12/24 ADD
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--原価　その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	--TK.チームCD,
							部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
							番号 = 9,
							--集計CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD--TK.チームCD,
							集計CD = 99999,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									--OR 
									--	(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
									--		--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									--		AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							--AND	TK.チームCD = 1
		    				AND	NOT(TK.集計CD IN (@wヤオコー,@wマミー,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										@wしまむら,
		    										@wウエルシア,@wビバ,@wアポック))
					GROUP BY    --TK.チームCD,
								CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
								CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.チームCD = B.部署CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							--B.チームCD,
							B.部署CD,--2018/12/24 ADD
							B.番号,
							B.集計CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--売上原価出力
		--------------------------------------------
		SELECT	チームCD=0,
				番号=0,
				集計CD,
				年月,作業区分CD,
				売上税抜金額 = SUM(売上税抜金額),
				原価税抜金額 = SUM(原価税抜金額)
			FROM #TMP_TOTAL
			GROUP BY     集計CD,年月,作業区分CD
			ORDER BY     チームCD,番号,集計CD,年月,作業区分CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----------------------------------------------
		----按分経費出力
		----------------------------------------------
		--SELECT	チームCD = (CASE WHEN SY.チームCD IN (8,9) THEN 10 ELSE SY.チームCD END),
		--		年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),
		--		人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額 ELSE 0 END),
		--		経費合計 = SUM(SY.按分金額)
		--	FROM	TD経費按分集計V2 AS SY
		--		INNER JOIN TM科目 AS KM
		--			ON SY.科目CD = KM.科目CD
		--	WHERE	(
		--				(集計日付 >= @iS集計日付
		--					AND 集計日付 <= @iE集計日付)					--今年度
		--			OR 
		--				(集計日付 >= DATEADD(YY,-1,@iS集計日付)
		--					--AND 集計日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
		--					AND 集計日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
		--			)
		--	GROUP BY	(CASE WHEN チームCD IN (8,9) THEN 10 ELSE チームCD END), CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')
		--	ORDER BY    (CASE WHEN チームCD IN (8,9) THEN 10 ELSE チームCD END), CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1')

		--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--------------------------------------------
		--予測出力
		--------------------------------------------
		SELECT	統計集計先CD,
				予測年月,
				予測売上額 = SUM(予測売上額),
				予測原価額 = SUM(予測原価額)
			FROM (
				SELECT	--統計集計先CD,
						統計集計先CD = CASE 統計集計先CD
												WHEN @wヤオコー		THEN 統計集計先CD
												WHEN @wマミー		THEN 統計集計先CD
												WHEN @wサンベルクス THEN 統計集計先CD
												--WHEN @wフレッセイ	THEN 統計集計先CD
												WHEN @wアポック		THEN 統計集計先CD
												WHEN @wしまむら		THEN 統計集計先CD
												WHEN @wベルク		THEN 統計集計先CD
												WHEN @wビバ			THEN 統計集計先CD
												WHEN @wウエルシア	THEN 統計集計先CD
												ELSE 99999 END,

						予測年月,予測売上額,予測原価額
					FROM TM統計集計先予測
					WHERE	(
								(予測年月 >= @iS集計日付
									AND 予測年月 <= @iE集計日付)					--今年度
							--OR 
							--	(予測年月 >= DATEADD(YY,-1,@iS集計日付)
							--		--AND 予測年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							--		AND 予測年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
							)
				) AS A
				GROUP BY	統計集計先CD,予測年月
				ORDER BY     統計集計先CD,予測年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--========================================--
		--入出庫出力
		--========================================--
		--入出庫ワークテーブル作成
		CREATE TABLE #TMP_TOTAL_NS
			(
				--チームCD		INT		NOT NULL,
				集計CD			VARCHAR(5),--2020/02/17 ADD
				年月			DATETIME,
				出庫合計金額	MONEY	DEFAULT(0),
				入庫合計金額	MONEY	DEFAULT(0),
				調整出庫合計金額	MONEY	DEFAULT(0),
				調整入庫合計金額	MONEY	DEFAULT(0),

			) ON [PRIMARY]

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--仕入先が3105:三和倉庫の仕入先D
					SELECT	--TK.チームCD,
							TK.集計CD,--2020/02/17 ADD
								年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
								仕入数量 = SUM(SMU.仕入数量),
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	SM.仕入先CD = '3150'--三和倉庫
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付				--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						GROUP BY TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.集計CD = B.集計CD--2020/02/17 ADD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.出庫合計金額 = A.出庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月,
							出庫合計金額
						)
					VALUES
						(
							B.集計CD,
							B.年月,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--社内伝の仕入先D
					SELECT	--TK.チームCD,
							TK.集計CD,--2020/02/17 ADD
								年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
								仕入数量 = SUM(SMU.仕入数量),
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付				--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
						GROUP BY TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
				) AS B
			ON  (
				A.集計CD = B.集計CD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.入庫合計金額 = A.入庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月,
							入庫合計金額
						)
					VALUES
						(
							B.集計CD,
							B.年月,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--売上
					SELECT	--ID.在庫調整元チームCD,
							ID.得意先CD,--2020/02/17 ADD
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1'),
							--内税の場合は消費税を引く
							調整出庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE 
							ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付					--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							AND ID.在庫調整元チームCD <> 0--2017/05/23 ADD
						--GROUP BY ID.在庫調整元チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
						GROUP BY ID.得意先CD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
				) AS B
			ON  (
				--A.チームCD = B.在庫調整元チームCD
				A.集計CD = B.得意先CD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整出庫合計金額 = A.調整出庫合計金額 + B.調整出庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--チームCD,
							集計CD,
							年月,
							調整出庫合計金額
						)
					VALUES
						(
							--B.在庫調整元チームCD,
							B.得意先CD,
							B.年月,
							B.調整出庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--売上
					SELECT	--ID.在庫調整先チームCD,
							ID.得意先CD,--2020/02/17 ADD
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1'),
							--内税の場合は消費税を引く
							調整入庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE 
							ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付					--今年度
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							AND ID.在庫調整先チームCD <> 0--2017/05/23 ADD
						--GROUP BY ID.在庫調整先チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
						GROUP BY ID.得意先CD,CONVERT(DATETIME,CONVERT(CHAR(7),ID.在庫調整日付,111)+'/1')
				) AS B
			ON  (
				--A.チームCD = B.在庫調整先チームCD
				A.集計CD = B.得意先CD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整入庫合計金額 = A.調整入庫合計金額 + B.調整入庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月,
							調整入庫合計金額
						)
					VALUES
						(
							B.得意先CD,
							B.年月,
							B.調整入庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		SELECT	集計CD,
				年月,
				出庫金額 = SUM(出庫金額),
				入庫金額 = SUM(入庫金額)
			FROM (
				SELECT	--集計CD,
						集計CD = CASE 集計CD
												WHEN @wヤオコー		THEN 集計CD
												WHEN @wマミー		THEN 集計CD
												WHEN @wサンベルクス THEN 集計CD
												--WHEN @wフレッセイ	THEN 集計CD
												WHEN @wアポック		THEN 集計CD
												WHEN @wしまむら		THEN 集計CD
												WHEN @wベルク		THEN 集計CD
												WHEN @wビバ			THEN 集計CD
												WHEN @wウエルシア	THEN 集計CD
												ELSE 99999 END,
						年月,
						出庫金額		=	ISNULL(出庫合計金額,0)
										+	ISNULL(調整出庫合計金額,0),
						入庫金額		=	ISNULL(入庫合計金額,0)
										+	ISNULL(調整入庫合計金額,0)
					FROM #TMP_TOTAL_NS
				) AS A
				GROUP BY 集計CD,年月
				ORDER BY 集計CD,年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--------------------------------------------
		--三研実績出力
		--------------------------------------------
		--SELECT	年月, 売上税抜金額, 原価税抜金額, 人件一般費, 営業外費
		SELECT	年月, 売上税抜金額_円, 原価税抜金額_円, 人件一般費_円, 営業外費_円
			FROM	TM三研情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)					--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--三研予測出力
		--------------------------------------------
		SELECT	予測年月, 予測売上額, 予測原価額
			FROM	TM三研予測
			WHERE	(
						(予測年月 >= @iS集計日付
							AND 予測年月 <= @iE集計日付)					--今年度
					OR 
						(予測年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 予測年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 予測年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 予測年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--2018/07/07 ADD↓
		--------------------------------------------
		--フロント予測出力
		--------------------------------------------
		SELECT	予測年月, 予測売上額, 予測原価額
			FROM	TMフロント予測
			WHERE	(
						(予測年月 >= @iS集計日付
							AND 予測年月 <= @iE集計日付)					--今年度
					OR 
						(予測年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 予測年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 予測年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 予測年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		
		--------------------------------------------
		--サービス予測出力
		--------------------------------------------
		--SELECT	予測年月, 予測売上額, 予測原価額
		SELECT 予測年月, 予測売上額_貨物, 予測原価額_貨物, 予測売上額_物流, 予測原価額_物流--2019/05/15 ADD
			FROM	TMサービス予測
			WHERE	(
						(予測年月 >= @iS集計日付
							AND 予測年月 <= @iE集計日付)					--今年度
					OR 
						(予測年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 予測年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 予測年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 予測年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--フロント実績出力
		--------------------------------------------
		SELECT	年月, 売上税抜金額, 原価税抜金額, 人件一般費, 営業外費
			FROM	TMフロント実績情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)					--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--サービス実績出力
		--------------------------------------------
		--SELECT	年月, 売上税抜金額, 原価税抜金額, 人件一般費, 営業外費
		--SELECT	年月, 売上税抜金額_貨物自車, 原価税抜金額_貨物自車,
		--		売上税抜金額_貨物庸車, 原価税抜金額_貨物庸車,--2019/04/02 ADD
		--		売上税抜金額_物流, 原価税抜金額_物流,--2019/04/02 ADD
		--		人件一般費, 営業外費
		SELECT  年月, 売額_貨物自_三商, 原額_貨物自_三商, 
				売額_貨物自_店装, 原額_貨物自_店装, 売額_貨物自_サンプラ, 原額_貨物自_サンプラ,
				売額_貨物自_三シャ, 原額_貨物自_三シャ, 売額_貨物自_トラン, 原額_貨物自_トラン, 
				売額_貨物自_その他, 原額_貨物自_その他, 売額_貨物自_事故, 原額_貨物自_事故, 
				売額_貨物庸_三商, 原額_貨物庸_三商, 売額_貨物庸_店装, 原額_貨物庸_店装, 
				売額_貨物庸_サンプラ, 原額_貨物庸_サンプラ, 売額_貨物庸_三シャ, 原額_貨物庸_三シャ, 
				売額_貨物庸_トラン, 原額_貨物庸_トラン, 売額_貨物庸_その他, 原額_貨物庸_その他, 
				売額_貨物庸_事故, 原額_貨物庸_事故, 
				売額_物流_ルート, 原額_物流_ルート, 売額_物流_丸和, 原額_物流_丸和, 
				売額_物流_その他, 原額_物流_その他, 売額_物流_事故, 原額_物流_事故, 
				--人件一般費, 営業外費--2019/05/15 ADD
				人件一般費_貨物, 営業外費_貨物,--2019/05/23 ADD
				人件一般費_物流, 営業外費_物流--2019/05/23 ADD
			FROM	TMサービス実績情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)					--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 年月 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--2018/07/07 ADD↑


		--2019/02/27 ADD↓
		--------------------------------------------
		--按分経費出力 
		-- 営業・工事・その他別統計集計先CD別
		--------------------------------------------

		SELECT	--SY.統計集計先CD,
				集計先CD = CASE SY.統計集計先CD
										WHEN @wヤオコー		THEN SY.統計集計先CD
										WHEN @wマミー		THEN SY.統計集計先CD
										WHEN @wサンベルクス THEN SY.統計集計先CD
										--WHEN @wフレッセイ	THEN SY.統計集計先CD
										WHEN @wアポック		THEN SY.統計集計先CD
										WHEN @wしまむら		THEN SY.統計集計先CD
										WHEN @wベルク		THEN SY.統計集計先CD
										WHEN @wビバ			THEN SY.統計集計先CD
										WHEN @wウエルシア	THEN SY.統計集計先CD
										ELSE 99999 END,
				部CD,
				年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),
				人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額 ELSE 0 END),
				経費合計 = SUM(SY.按分金額)
			FROM	TD経費按分集計V3 AS SY
				INNER JOIN TM科目 AS KM
					ON SY.科目CD = KM.科目CD
			WHERE	(
						(集計日付 >= @iS集計日付
							AND 集計日付 <= @iE集計日付)					--今年度
					--OR 
					--	(集計日付 >= DATEADD(YY,-1,@iS集計日付)
					--		--AND 集計日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
					--		AND 集計日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
					)
			GROUP BY	CASE SY.統計集計先CD
										WHEN @wヤオコー		THEN SY.統計集計先CD
										WHEN @wマミー		THEN SY.統計集計先CD
										WHEN @wサンベルクス THEN SY.統計集計先CD
										--WHEN @wフレッセイ	THEN SY.統計集計先CD
										WHEN @wアポック		THEN SY.統計集計先CD
										WHEN @wしまむら		THEN SY.統計集計先CD
										WHEN @wベルク		THEN SY.統計集計先CD
										WHEN @wビバ			THEN SY.統計集計先CD
										WHEN @wウエルシア	THEN SY.統計集計先CD
										ELSE 99999 END,
							 CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),部CD
			ORDER BY    集計先CD, CONVERT(DATETIME,CONVERT(CHAR(7),SY.集計日付,111)+'/1'),部CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--2019/02/27 ADD↑


		--------------------------------------------
		--推進部別売上・原価出力 
		-- 
		--------------------------------------------
		MERGE INTO	#TMP_SUISIN AS A
			USING
				(
				--売上 得意先指定
					SELECT	--TK.チームCD,
							部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
							番号 = CASE TK.集計CD WHEN @wヤオコー		THEN 1
													WHEN @wマミー		THEN 2
													WHEN @wサンベルクス THEN 2
													--WHEN @wフレッセイ	THEN 3
													WHEN @wアポック		THEN 3
													WHEN @wしまむら		THEN 1
													WHEN @wベルク		THEN 1
													WHEN @wビバ			THEN 2
													WHEN @wウエルシア	THEN 1
													ELSE 99 END,
							TK.集計CD,
							MH.営業推進部CD,
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								--OR 
								--	(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
								--		--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								--		AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
							AND ISNULL(MSM.作業区分CD,0) = 0--営業
		    				AND	TK.集計CD IN (@wヤオコー,@wマミー,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										@wしまむら,
		    										@wウエルシア,@wビバ,@wアポック)
					GROUP BY    --TK.チームCD,
								CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
								TK.集計CD,
								MH.営業推進部CD,
								CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.チームCD = B.部署CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND A.営業推進部CD = B.営業推進部CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							営業推進部CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							--B.チームCD,
							B.部署CD,--2018/12/24 ADD
							B.番号,
							B.集計CD,
							B.営業推進部CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----売上 その他
		MERGE INTO	#TMP_SUISIN AS A
			USING
				(
				--売上 得意先指定
					SELECT	--TK.チームCD,
							部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
							番号 = 9,
							--集計CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD--TK.チームCD,
							集計CD = 99999,
							MH.営業推進部CD,
							--年月 = CONVERT(CHAR(6),UH.売上日付,112),
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								--OR 
								--	(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
								--		--AND UH.売上日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
								--		AND UH.売上日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
								)
							--AND	TK.チームCD = 1
							AND ISNULL(MSM.作業区分CD,0) = 0--営業
		    				AND	NOT(TK.集計CD IN (@wヤオコー,@wマミー,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										@wしまむら,
		    										@wウエルシア,@wビバ,@wアポック))
					GROUP BY    --TK.チームCD,
								CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
								MH.営業推進部CD,
								CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.チームCD = B.部署CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND A.営業推進部CD = B.営業推進部CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							営業推進部CD,
							年月,
							作業区分CD,
							売上税抜金額
							--,原価税抜金額
						)
					VALUES
						(
							--B.チームCD,
							B.部署CD,--2018/12/24 ADD
							B.番号,
							B.集計CD,
							B.営業推進部CD,
							B.年月,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



		--顧客別　原価
		MERGE INTO	#TMP_SUISIN AS A
			USING
				(
					--原価
					SELECT	--TK.チームCD,
							部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
							番号 = CASE TK.集計CD WHEN @wヤオコー		THEN 1
													WHEN @wマミー		THEN 2
													WHEN @wサンベルクス THEN 2
													--WHEN @wフレッセイ	THEN 3
													WHEN @wアポック		THEN 3
													WHEN @wしまむら		THEN 1
													WHEN @wベルク		THEN 1
													WHEN @wビバ			THEN 2
													WHEN @wウエルシア	THEN 1
													ELSE 99 END,
							TK.集計CD,
							MH.営業推進部CD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									--OR 
									--	(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
									--		--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									--		AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							--AND	SM.仕入日付 >= @iS集計日付
		    				--AND	SM.仕入日付 <= @iE集計日付
		    				--AND	MH.得意先CD = '8001'
							AND ISNULL(MSM.作業区分CD,0) = 0--営業
		    				AND	TK.集計CD IN (@wヤオコー,@wマミー,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										@wしまむら,
		    										@wウエルシア,@wビバ,@wアポック)
					GROUP BY    --TK.チームCD,
								CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
								TK.集計CD,
								MH.営業推進部CD,
								CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.チームCD = B.部署CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND A.営業推進部CD = B.営業推進部CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							営業推進部CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							--B.チームCD,
							B.部署CD,--2018/12/24 ADD
							B.番号,
							B.集計CD,
							B.営業推進部CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--原価　その他
		MERGE INTO	#TMP_SUISIN AS A
			USING
				(
					--原価
					SELECT	--TK.チームCD,
							部署CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
							番号 = 9,
							--集計CD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD--TK.チームCD,
							集計CD = 99999,
							MH.営業推進部CD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							作業区分CD = ISNULL(MSM.作業区分CD,0),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									--OR 
									--	(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
									--		--AND SM.仕入日付 <= DATEADD(YY,-1,@iE集計日付))	--前年度
									--		AND SM.仕入日付 <= @wE前年集計日付)	--前年度	--2017/03/22 ADD	
									)
							--AND	TK.チームCD = 1
							AND ISNULL(MSM.作業区分CD,0) = 0--営業
		    				AND	NOT(TK.集計CD IN (@wヤオコー,@wマミー,
		    										@wベルク,@wサンベルクス,--@wフレッセイ,
		    										@wしまむら,
		    										@wウエルシア,@wビバ,@wアポック))
					GROUP BY    --TK.チームCD,
								CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TK.チームCD END,--2018/12/24 ADD
								MH.営業推進部CD,
								CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
					--ORDER BY     TK.チームCD,番号,TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),ISNULL(MSM.作業区分CD,0)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.チームCD = B.部署CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND A.営業推進部CD = B.営業推進部CD
				AND	A.年月 = B.年月
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							番号,
							集計CD,
							営業推進部CD,
							年月,
							作業区分CD,
							--売上税抜金額,
							原価税抜金額
						)
					VALUES
						(
							--B.チームCD,
							B.部署CD,--2018/12/24 ADD
							B.番号,
							B.集計CD,
							B.営業推進部CD,
							B.年月,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--売上原価出力
		--------------------------------------------
		SELECT	集計CD,
				年月,営業推進部CD,
				売上税抜金額 = SUM(売上税抜金額),
				原価税抜金額 = SUM(原価税抜金額)
			FROM (
				SELECT	集計CD = CASE 集計CD	WHEN @wヤオコー		THEN @wヤオコー
												WHEN @wマミー		THEN @wヤオコー
												WHEN @wベルク		THEN @wベルク
												WHEN @wサンベルクス THEN @wベルク
												--WHEN @wフレッセイ	THEN 3
												WHEN @wウエルシア	THEN @wウエルシア
												WHEN @wアポック		THEN @wウエルシア
												WHEN @wしまむら		THEN @wビバ
												WHEN @wビバ			THEN @wビバ
																	ELSE @wビバ END,--etc
						年月,営業推進部CD,
						売上税抜金額,
						原価税抜金額
					FROM #TMP_SUISIN
				) AS A
				GROUP BY	集計CD,年月,営業推進部CD
				ORDER BY	集計CD,年月,営業推進部CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:

	DROP TABLE #TMP_TOTAL
	DROP TABLE #TMP_SUISIN

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
