/****** Object:  StoredProcedure [dbo].[usp_SD0200支払日計表抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SD0200支払日計表抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_SD0200支払日計表抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/*****************************************************

名称	usp_SD0200支払日計表抽出

機能	指定された条件で期首年月日以降の支払区分別の累計金額を取得する

引数
	@iSDATE
	@iFDATE
	@iSSIIRE
	@iFSIIRE

戻り値	
	
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SD0200支払日計表抽出]
	@iSDATE		DATETIME,
	@iFDATE		DATETIME,
	@iSSIIRE		VARCHAR(4),
	@iFSIIRE		VARCHAR(4),
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@期首月	SMALLINT,
			@締日		SMALLINT

	--月保持
	DECLARE	@DATE1		DATETIME,
			@DATE2		DATETIME

	DECLARE 	@ST	INT,
			@FLG	SMALLINT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	--会社の期首月を取得します
	SELECT	@期首月 	= 	期首月,
			@締日		=	締日
		 FROM TM会社
	
	IF @期首月 IS NULL	BEGIN
		SET	@ST = -1
		RAISERROR('会社の期首月が未定義です。 ', 16, 1)
		GOTO	EXIT_SP
	END

	--入力終了日付より期首年月日を求めます
	IF	@締日		=	99		BEGIN
		SET	@DATE1	=	DATEADD(DAY,-1,DATEADD(MONTH,1,CONVERT(DATETIME,STR(DATEPART(YEAR,@iFDATE))+ '/' + STR(@期首月) +'/1',111)))
	END ELSE BEGIN
		SET	@DATE1	=	DATEADD(DAY,1,CONVERT(DATETIME,STR(DATEPART(YEAR,@iFDATE))+ '/' + STR(@期首月) +'/' + STR(@締日),111))
	END
	
	IF	(@DATE1	>	@iFDATE)	BEGIN
			SET	@DATE1	=	DATEADD(YEAR,-1,@DATE1)
	END 

	SET	@DATE2	=	DATEADD(DAY,1,@iFDATE)

	-- 支払区分合計を算出します
	SELECT	SK.支払区分CD,SK.支払区分名,SK.支払種別,ISNULL(SD.支払日計,0) AS 支払日計,ISNULL(SR.支払累計,0) AS 支払累計
		FROM	TM支払区分 AS	SK
		LEFT	JOIN	(SELECT 支払区分CD,SUM(支払金額)  AS 支払日計	
					FROM	TD支払
					WHERE	支払日付	>=	@iSDATE
					    AND	支払日付	<	@DATE2
					    AND	仕入先CD	>=	COALESCE(@iSSIIRE,仕入先CD)
					    AND	仕入先CD	<=	COALESCE(@iFSIIRE,仕入先CD)
					GROUP	BY	支払区分CD)	AS	SD	ON	SK.支払区分CD	=	SD.支払区分CD
		LEFT	JOIN	(SELECT 支払区分CD,SUM(支払金額)  AS 支払累計	
					FROM	TD支払
					WHERE	支払日付	>=	@DATE1
					    AND	支払日付	<	@DATE2
					    AND	仕入先CD	>=	COALESCE(@iSSIIRE,仕入先CD)
					    AND	仕入先CD	<=	COALESCE(@iFSIIRE,仕入先CD)
					GROUP	BY	支払区分CD)	AS	SR	ON	SK.支払区分CD	=	SR.支払区分CD
		ORDER	BY	SK.支払区分CD

EXIT_SP:
	--DROP TABLE #WKTBL
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END


	RETURN @ST


GO
