/****** Object:  StoredProcedure [dbo].[usp_Get製品区分]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_Get製品区分]
GO
/****** Object:  StoredProcedure [dbo].[usp_Get製品区分]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_Get製品区分

	機能:	製品区分を取得する。
		
 =============================================
	2003/07/25	oosawa
	2015/03/02	oosawa		製品NO 7→12
							仕様NO 7→10

 =============================================*/
CREATE        PROCEDURE [dbo].[usp_Get製品区分]
	(
	@iPC区分		VARCHAR (1),
	@i製品NO		CHAR (12),
	@i仕様NO		CHAR (10),
	@o製品区分		INT			OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

	DECLARE	@製品区分	INT--0:製品 1:品群 2:ユニット 3:PCマスタ

	DECLARE
		@ST		INT,
		@MSG		NVARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET @製品区分 = NULL

	--------------------------------------------------
	--製品情報マスタよりマスタ情報を取得します。
	--------------------------------------------------
	--製品NOでチェック（品群・ユニット用）1:品群 2:ユニット
	SELECT @製品区分 = 製品区分
		FROM TM製品情報
		WHERE	@iPC区分 = ''
		AND		製品NO = @i製品NO
		AND		仕様NO = ''
		AND		(製品区分 = 1
		OR		製品区分 = 2)

	IF ( @@ERROR <> 0 )	BEGIN
		RAISERROR('製品№:%s. 製品情報でエラーが発生しました。 ', 16, 1,@i製品NO)
		GOTO	EXIT_SP
	END

	--PC区分と製品NOでチェック		--3:PCマスタ
	SELECT @製品区分 = 製品区分
		FROM TM製品情報
		WHERE	PC区分 = @iPC区分
		AND		製品NO = @i製品NO
		AND		仕様NO = ''
		AND		製品区分 = 3

	IF ( @@ERROR <> 0 )	BEGIN
		RAISERROR('製品№:%s. 製品情報でエラーが発生しました。 ', 16, 1,@i製品NO)
		GOTO	EXIT_SP
	END
						--0:製品 
	SELECT @製品区分 = 製品区分		
		FROM TM製品情報
		WHERE	@iPC区分 = ''
		AND		製品NO = @i製品NO
		AND		仕様NO = @i仕様NO
		AND		製品区分 = 0

	IF ( @@ERROR <> 0 )	BEGIN
		RAISERROR('製品№:%s. 製品情報でエラーが発生しました。 ', 16, 1,@i製品NO)
		GOTO	EXIT_SP
	END

	SET @o製品区分 = @製品区分

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST


GO
