/****** Object:  StoredProcedure [dbo].[usp_TN1400社内在庫入庫明細表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1400社内在庫入庫明細表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1400社内在庫入庫明細表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_TN1400社内在庫入庫明細表

機能	入庫明細を作成する


引数

戻り値

修正履歴
	2015/09/21	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN1400社内在庫入庫明細表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iSチームCD		INT,
	@iEチームCD		INT,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

	---------------------------
	--得意先別請求金額一覧
	---------------------------
	SELECT	NH.入庫番号, NH.入庫日付, 
			NH.チームCD, 
			NH.得意先CD, 
			NH.摘要名, 
			NM.枝番, 
			NM.製品NO, NM.仕様NO, 
			SM.漢字名称,
			SM.W,SM.D,SM.H,SM.D1,SM.D2,SM.H1,SM.H2,
			NM.入庫数量, NM.入庫単価, NM.入庫金額, NM.消費税額, 
			NM.明細備考,
			Count = COUNT(NH.チームCD) OVER (PARTITION BY NH.チームCD)
		FROM	TD入庫_チーム別社内在庫 AS NH
			INNER JOIN TD入庫明細_チーム別社内在庫 AS NM
				ON NH.入庫番号 = NM.入庫番号
			LEFT JOIN TM製品 AS SM
				ON NM.製品NO = SM.製品NO
				AND NM.仕様NO = SM.仕様NO
		WHERE	NH.入庫日付 >= @iS集計日付
    		AND	NH.入庫日付 <= @iE集計日付
    		AND	NH.チームCD >= COALESCE(@iSチームCD,NH.チームCD)
    		AND	NH.チームCD <= COALESCE(@iEチームCD,NH.チームCD)
		ORDER BY	NH.チームCD, NH.入庫日付, NH.入庫番号, NM.枝番

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
