/****** Object:  StoredProcedure [dbo].[usp_MT0500見積明細一覧出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0500見積明細一覧出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0500見積明細一覧出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_MT0500見積明細一覧出力

機能	

引数	

戻り値	

*****************************************************
	2015/11/26	oosawa		新設
*****************************************************/
CREATE  PROCEDURE [dbo].[usp_MT0500見積明細一覧出力]
	(
		@i見積番号		INT,

		--OUTPUT
		@RetDcnt 	INT				OUTPUT,
		@RetST		INT				OUTPUT,
		@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	--------------------------------------------------
	-- 見積明細出力
	--------------------------------------------------
	SELECT	MH.見積番号, MH.見積件名,
			MH.得意先CD, MH.得意先名1, MH.得意先名2,
			MSM.行番号, MSM.他社納品日付, MSM.他社伝票番号,
			MSM.製品NO, MSM.仕様NO, MSM.漢字名称,
			MSM.W, MSM.D, MSM.H,
			MSM.見積数量, MSM.単位名,
			MSM.仕入単価, MSM.売上単価,
			MSM.仕入金額, MSM.売上金額
		FROM	TD見積 AS MH
			INNER JOIN	TD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
		WHERE	MH.見積番号 = @i見積番号
		ORDER BY	MSM.行番号

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
