/****** Object:  StoredProcedure [dbo].[usp_GetCounter]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_GetCounter]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCounter]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[usp_GetCounter]
	(
		@iItemName	VARCHAR(16),
		@iTokuID	VARCHAR(5),
		@GetNO		INT		OUTPUT
	)
AS
	SET NOCOUNT ON

	DECLARE	
		@TRAN		INT,
		@ST		INT,
		@COUNTER	INT

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0

------------------------------------------------------------------------------------------
--	トランザクションを開始します
------------------------------------------------------------------------------------------
	BEGIN	TRAN
--------------------------------------------------
-- 	TMCountersを更新します。
--------------------------------------------------
	IF EXISTS (SELECT ItemName FROM TMCounters WHERE ItemName = @iItemName AND TokuID = @iTokuID) BEGIN

		-----<更新>-----
		UPDATE TMCounters WITH (ROWLOCK,UPDLOCK,HOLDLOCK)
			SET Counter = (
				SELECT  (CASE WHEN Counter = 9999999 THEN 1 ELSE Counter + 1 END)
					FROM	TMCounters
					WHERE	ItemName = @iItemName
					AND	TokuID = @iTokuID)
			WHERE	ItemName = @iItemName
			AND	TokuID = @iTokuID

		SET	@ST = @@ERROR

		IF @ST<>0 BEGIN
			SET	@ST	= -1
			RAISERROR('Counter:%s. 更新処理でエラーが発生しました。 ', 16, 1,@iItemName)
			GOTO	EXIT_SP
		END

		-----<NO獲得>-----
		SELECT @COUNTER	= Counter
			FROM	TMCounters
			WHERE	ItemName = @iItemName
			AND	TokuID = @iTokuID

		SET	@ST	=	@@ERROR
		IF (@ST <> 0) 	GOTO EXIT_SP	

	END ELSE	BEGIN

		-----<新規>-----
		INSERT	TMCounters
		(
			ItemName,TokuID,Counter
		)
		VALUES
		(
			@iItemName,@iTokuID,1
		)

		SET	@ST = @@ERROR
		IF @ST<>0 BEGIN
			SET	@ST	= -1
			RAISERROR('Counter:%s. 登録処理でエラーが発生しました。 ', 16, 1,@iItemName)
			GOTO	EXIT_SP
		END
		-----<カウント>-----
		SET	@COUNTER = 1

	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
		-- <GetNO>
		SET	@GetNO 	= @COUNTER

	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
	END

	RETURN	@ST

GO
