/****** Object:  StoredProcedure [dbo].[usp_SE0900請求確定処理]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE0900請求確定処理]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE0900請求確定処理]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************

名称	usp_SE0900請求確定処理

機能	指定された売上を確定し、売上請求ヘッダー情報を作成する

引数	

戻り値	

※　見積シートＭと売上明細は同一内容のはず！！！！！
	消費税は日付が異なるので再計算！

*****************************************************
	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	
	2014/10/13	oosawa		新設
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_SE0900請求確定処理]
	(
		@i見積番号		INT,
		@i請求日付		DATETIME,
		
		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	------------------------------------------------------
	--売上が存在しているかの確認
	------------------------------------------------------
	IF NOT EXISTS(SELECT 見積番号 FROM TD売上v2 AS UH WHERE	UH.見積番号 = @i見積番号) BEGIN
		SET @ST = -1
		SET @MSG = '売上データが存在しません。'
		GOTO EXIT_SP
	END

	------------------------------------------------------
	--見積の全明細が売上済みかの確認
	------------------------------------------------------
	DECLARE	@w未売上件数	INT
	SELECT @w未売上件数 = COUNT(*)
		FROM	TD売上v2 AS UH
			INNER JOIN TD見積シートM AS MM
				ON UH.見積番号 = MM.見積番号
			LEFT JOIN TD売上明細V2 AS UM
				ON MM.見積明細連番 = UM.見積明細連番
		WHERE	UH.見積番号 = @i見積番号
			AND UM.見積明細連番 IS NULL
			AND	MM.売上金額 <> 0

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF (@w未売上件数 <> 0)	BEGIN
		SET @ST = -1
		SET @MSG = '未売上の明細が存在します。'
		GOTO EXIT_SP
	END	

	------------------------------------------------------
	--見積の出精値引が売上済みかの確認
	------------------------------------------------------
	IF EXISTS(SELECT 見積番号 
					FROM TD見積 AS MH
					WHERE	MH.見積番号 = @i見積番号
						AND	MH.出精値引 <> 0
				--出精値引きが入っていて
	) BEGIN
		IF NOT EXISTS(SELECT 見積番号 
						FROM TD売上v2 AS UH
							INNER JOIN TD売上明細V2 AS UM 
								ON UH.売上番号 = UM.売上番号
						WHERE	UH.見積番号 = @i見積番号
							AND	UM.特別区分 = 'ZA'--出精値引
				--売上に出精値引き明細がない場合
		) BEGIN
			SET @ST = -1
			SET @MSG = '未売上の明細が存在します。'
			GOTO EXIT_SP
		END	
	END ELSE BEGIN
				--出精値引きがゼロで
		IF EXISTS(SELECT 見積番号 
						FROM TD売上v2 AS UH
							INNER JOIN TD売上明細V2 AS UM 
								ON UH.売上番号 = UM.売上番号
						WHERE	UH.見積番号 = @i見積番号
							AND	UM.特別区分 = 'ZA'--出精値引
				--売上に出精値引き明細がある場合
		) BEGIN
			SET @ST = -1
			SET @MSG = '出精値引明細が存在します。'
			GOTO EXIT_SP
		END
		
	END
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--請求日付取得
	------------------------------------------------------
	--消費税用変数
	DECLARE	@TAX		MONEY
			
	--税率取得
	SET	@TAX = dbo.fn_GetTax(@i請求日付)

	------------------------------------------
	--TD売上請求ヘッダーを削除する。
	------------------------------------------
	DELETE FROM TD売上請求H
		WHERE	見積番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	------------------------------------------
	--TD売上請求ヘッダーを作成する。
	------------------------------------------
	INSERT INTO	TD売上請求H
			(
				[見積番号],
				[請求日付],
				[合計金額],
				[税抜金額],
				[外税対象額],
				[外税額],
				--[請求年月日],
				--[請求締日],
				--[請求更新FLG],
				[税集計区分],
				[売上端数],
				[消費税端数],
				--[鏡番号],
				--[請求書発行FLG],
				[初期登録日],
				[登録変更日]
			)
		SELECT	UR.見積番号,
				@i請求日付,
				UR.合計金額,
				UR.税抜金額,
				UR.外税対象額,
				外税額 = CASE WHEN 税集計区分 = 0--伝票単位
								 THEN dbo.fn_CutFraction(MH.消費税端数,(UR.外税対象額) / 100 * @TAX,@decimalPoint)
						WHEN MH.税集計区分 = 1 THEN 0--請求単位
						WHEN MH.税集計区分 = 2 THEN UR.外税額
				   END,

				MH.税集計区分,
				MH.売上端数,
				MH.消費税端数,
				初期登録日 = GETDATE(),
				登録変更日 = GETDATE()
			FROM
				(
				SELECT	見積番号,
						合計金額 = SUM(合計金額),
						税抜金額 = SUM(税抜金額),
						外税対象額 = SUM(外税対象額),
						外税額 = SUM(外税額)
					FROM	TD売上v2
					WHERE	見積番号 = @i見積番号
					GROUP BY 見積番号
				) AS UR
				INNER JOIN TD見積 AS MH
					ON UR.見積番号 = MH.見積番号

	------------------------------------------------------
	--請求書発行フラグ更新
	------------------------------------------------------
	--UPDATE TD売上V2
	--	SET 	請求書発行FLG = 1
	--	WHERE	見積番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

------------------------------------------

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
