USE [SanwaSDB]
GO

/****** Object:  StoredProcedure [dbo].[usp_TK2600チーム別積上チェック表_個別集計v2]    Script Date: 2025/06/05 14:53:05 ******/
DROP PROCEDURE [dbo].[usp_TK2600チーム別積上チェック表_個別集計v2]
GO

/****** Object:  StoredProcedure [dbo].[usp_TK2601チーム別積上チェック表_物件集計v2]    Script Date: 2025/08/05 20:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************
	
	売掛・買掛　集計

名称	usp_TK2601チーム別積上チェック表_物件集計

機能	担当者毎店舗毎の売上金額と仕入金額の推移を作成する

		担当者 前年・今年 仕入・売上合計金額
		を出力

引数

戻り値

修正履歴
	2017/04/27	新規作成　TK25参考
	2017/07/17	oosawa		合計行がおかしかった
	2019/03/11	oosawa		1803・9998は部署CDでチームを分ける
	2020/03/07	oosawa		チーム別から顧客別へ変更
	2020/05/09	oosawa		物件がある場合は物件の得意先集計CDで集計
							以外は見積の得意先集計CDで集計に変更
	2021/03/03	oosawa		見積入力の集計CDを元に集計するように変更
	2021/05/20	oosawa	4209ﾁｮｳｴｲﾊﾝｽﾞを追加
						7001ﾏﾐｰをその他へ
						5201ｱﾎﾟｯｸをその他へ
	2023/05/24	oosawa		業種区分での抽出追加
	2023/10/02	oosawa	チョウエイコード4209からOIC（ロピア）コード9803へ変更
	2024/04/11	oosawa	請求済み(請求日付)を表示(物件集計は項目のみで集計しない)
*****************************************************/
ALTER PROCEDURE [dbo].[usp_TK2601チーム別積上チェック表_物件集計v2]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	--@iSチームCD		SMALLINT,
	--@iEチームCD		SMALLINT,
	--@i集計区分		SMALLINT,
	--@i物件集計区分	SMALLINT,
	@i業種区分		VARCHAR(1),--2023/05/24 ADD

	----@RetDcnt 	INT				,
	----@RetST		INT				,
	----@RetMsg		VARCHAR(255)	

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2015/07/01'
--set @iE集計日付 = '2015/07/31'
--SET @i集計区分 = 0

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

		--2020/03/07 ADD↓
		DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		--DECLARE @wマミー		VARCHAR(4) = '7001'--2021/05/20 DEL
		--DECLARE	@wロピア		VARCHAR(4) = '4209'--2021/05/20 ADD--2023/10/02 DEL
		DECLARE	@wロピア		VARCHAR(4) = '9803'--2023/10/02 ADD

		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		--DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		DECLARE	@wしまむら		VARCHAR(4) = '3201'

		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		--DECLARE	@wアポック		VARCHAR(4) = '5201'--2021/05/20 DEL
		--2020/03/07 ADD↑

	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			--チームCD		SMALLINT		NOT NULL,
			統計集計先CD	VARCHAR(10),--2020/03/07 ADD
			売仕区分		INT,			--0:売上　1:仕入
			物件種類		INT	DEFAULT 0,			--0:単体	1:集計
			見積番号		INT,
			作業区分CD		INT,
			--番号			INT,
			見積件名		VARCHAR(60),
			得意先CD		VARCHAR(4),
			納入得意先CD	VARCHAR(4),
			納入先CD		VARCHAR(4),
			納入先名1		VARCHAR(28),
			納入先名2		VARCHAR(28),
			現場名			VARCHAR(60),
			物件種別		SMALLINT,
			日付			DATETIME,
			税抜金額		MONEY	DEFAULT(0),
			仕入金額		MONEY	DEFAULT(0),	--TD仕入の集計金額
			原価FLG			VARCHAR(4)
			,請求日付		DATETIME--2024/04/11 ADD
			,請求予定日		DATETIME--2024/04/11 ADD
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--IF	@i集計区分 = 1	BEGIN--営業ベース仕入金額（原価）

		---------------------------
		--ヘッダー部　売上金額
		--担当者別店舗別売上情報
		---------------------------
		--営業分の売上を抽出
		INSERT	INTO #TMP_TOTAL
				(--チームCD, 
					統計集計先CD,--2020/03/07 ADD
					売仕区分, 物件種類,
					見積番号,作業区分CD,
					見積件名, 得意先CD, 
					納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
					現場名, 物件種別,
					日付,
					税抜金額
				)
				SELECT	
						--チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
						--TM.チームCD,
						--2020/03/07 ADD
						--統計集計先CD = CASE TM.集計CD
						--統計集計先CD = CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
						--						WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						--WHEN @wフレッセイ	THEN TM.集計CD
						--						WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						ELSE 99999 END,
						統計集計先CD = CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
						0,物件種類 = CASE WHEN BK.物件番号 IS NULL THEN 0 ELSE 1 END,
						COALESCE(BK.物件番号,UH.見積番号),MSM.作業区分CD,
						COALESCE(BK.物件名,MH.見積件名),COALESCE(BK.得意先CD,MH.得意先CD),
						COALESCE(BK.納入得意先CD,MH.納入得意先CD),COALESCE(BK.納入先CD,MH.納入先CD),
						COALESCE(BK.納入先名1,MH.納入先名1),COALESCE(BK.納入先名2,MH.納入先名2),
						MAX(MH.現場名),物件種別 = MIN(ISNULL(MH.物件種別,0)),
						売上日付 = MAX(UH.売上日付),
						税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
					FROM	TD売上V2 AS UH
						INNER JOIN TD売上明細V2 AS UM
							ON UH.売上番号 = UM.売上番号 
						LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
							ON UM.見積明細連番 = MSM.見積明細連番
						INNER JOIN	TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
						INNER JOIN	TM得意先 AS TM
							ON MH.販売先得意先CD = TM.得意先CD
						LEFT JOIN TD物件情報 AS BK
							ON MH.物件番号 = BK.物件番号
						--2020/05/09 ADD↓
						LEFT JOIN	TM得意先 AS TM2
							ON BK.得意先CD = TM2.得意先CD
						--2020/05/09 ADD↑
					WHERE	UH.売上日付 >= @iS集計日付
						AND	UH.売上日付 <= @iE集計日付
						--AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						--AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						AND MH.業種区分 = COALESCE(@i業種区分,MH.業種区分)--2023/05/24 ADD
					GROUP BY	--TM.チームCD, 
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
								--2020/03/07 ADD
								--CASE TM.集計CD
								--CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
								--				WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				--WHEN @wフレッセイ	THEN TM.集計CD
								--				WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				ELSE 99999 END,
								CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
								CASE WHEN BK.物件番号 IS NULL THEN 0 ELSE 1 END,
								COALESCE(BK.物件番号,UH.見積番号),MSM.作業区分CD,
								COALESCE(BK.物件名,MH.見積件名),COALESCE(BK.得意先CD,MH.得意先CD),
								COALESCE(BK.納入得意先CD,MH.納入得意先CD),COALESCE(BK.納入先CD,MH.納入先CD),
								COALESCE(BK.納入先名1,MH.納入先名1),COALESCE(BK.納入先名2,MH.納入先名2)--,
								--MH.現場名,
								--ISNULL(MH.物件種別,0)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		---------------------------
		--仕入金額情報を更新
		---------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--仕入情報
				SELECT	--チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
						--TM.チームCD,
						--2020/03/07 ADD
						--統計集計先CD = CASE TM.集計CD
						--統計集計先CD = CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
						--						WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						--WHEN @wフレッセイ	THEN TM.集計CD
						--						WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						ELSE 99999 END,
						統計集計先CD = CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
						売仕区分 = 1,
						物件種類 = CASE WHEN BK.物件番号 IS NULL THEN 0 ELSE 1 END,
						見積番号 = COALESCE(BK.物件番号,SR.見積番号),作業区分CD = ISNULL(MSM.作業区分CD,0),
						見積件名 = COALESCE(BK.物件名,MH.見積件名),得意先CD = COALESCE(BK.得意先CD,MH.得意先CD),
						納入得意先CD = COALESCE(BK.納入得意先CD,MH.納入得意先CD),納入先CD = COALESCE(BK.納入先CD,MH.納入先CD),
						納入先名1 = COALESCE(BK.納入先名1,MH.納入先名1),納入先名2 = COALESCE(BK.納入先名2,MH.納入先名2),
						現場名 = MAX(MH.現場名),物件種別 = MIN(ISNULL(MH.物件種別,0)),
						仕入日付 = MAX(SM.仕入日付),--2015/05/26 ADD
						税抜金額 = 0,--SUM(SM.税抜金額) AS 仕入金額
						仕入金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
					FROM	TD仕入 AS SR
						INNER JOIN TD仕入明細 AS SM
							ON SR.仕入番号 = SM.仕入番号
						INNER JOIN TD仕入明細内訳 AS SMU
							ON SM.仕入番号 = SMU.仕入番号
						INNER JOIN	TD見積 AS MH
							ON SR.見積番号 = MH.見積番号
						LEFT JOIN TD見積シートM AS MSM
							ON SMU.見積明細連番 = MSM.見積明細連番 
						INNER JOIN	TM得意先 AS TM
							ON SR.販売先得意先CD = TM.得意先CD
						LEFT JOIN TD物件情報 AS BK
							ON MH.物件番号 = BK.物件番号
						--2020/05/09 ADD↓
						LEFT JOIN	TM得意先 AS TM2
							ON BK.得意先CD = TM2.得意先CD
						--2020/05/09 ADD↑
					WHERE	SM.仕入日付 >= @iS集計日付
						AND SM.仕入日付 <= @iE集計日付
						--AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						--AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						--AND	NOT(SMU.仕入先CD = '3150')--2017/01/24 ADD
						AND	(MH.社内伝票扱い = 0)--社内伝でない
						AND MH.業種区分 = COALESCE(@i業種区分,MH.業種区分)--2023/05/24 ADD
					GROUP BY	--TM.チームCD, 
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
								--2020/03/07 ADD
								--CASE TM.集計CD
								--CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
								--				WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				--WHEN @wフレッセイ	THEN TM.集計CD
								--				WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				ELSE 99999 END,
								CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
								CASE WHEN BK.物件番号 IS NULL THEN 0 ELSE 1 END,
								COALESCE(BK.物件番号,SR.見積番号),ISNULL(MSM.作業区分CD,0),
								COALESCE(BK.物件名,MH.見積件名),COALESCE(BK.得意先CD,MH.得意先CD),
								COALESCE(BK.納入得意先CD,MH.納入得意先CD),COALESCE(BK.納入先CD,MH.納入先CD),
								COALESCE(BK.納入先名1,MH.納入先名1),COALESCE(BK.納入先名2,MH.納入先名2)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.統計集計先CD = B.統計集計先CD--2020/03/07 ADD
				AND	A.物件種類 = B.物件種類
				AND A.見積番号 = B.見積番号
				AND	A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.仕入金額 =  B.仕入金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							--チームCD,
							統計集計先CD,--2020/03/07 ADD
							売仕区分,
							物件種類,
							見積番号,
							作業区分CD,
							見積件名, 得意先CD, 
							納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
							現場名, 物件種別,
							日付,
							税抜金額,
							仕入金額
						)
					VALUES
						(
							--B.チームCD,
							B.統計集計先CD,--2020/03/07 ADD
							B.売仕区分,
							B.物件種類,
							B.見積番号,
							B.作業区分CD,
							B.見積件名, B.得意先CD, 
							B.納入得意先CD, B.納入先CD, B.納入先名1, B.納入先名2,
							B.現場名, B.物件種別,
							B.仕入日付,
							B.税抜金額,
							B.仕入金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		---------------------------
		--合計情報を追加
		--コールセンター以外の合計を作成
		---------------------------
		INSERT	INTO #TMP_TOTAL
				(--チームCD, 
					統計集計先CD,
					物件種類,見積番号,作業区分CD,
					見積件名, 得意先CD, 
					納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
					現場名, 物件種別,
					税抜金額,
					仕入金額
				)
				------SELECT	TMP.チームCD,TMP.物件種類,TMP.見積番号,99999,
				------		TMP.見積件名,TMP.得意先CD,
				------		TMP.納入得意先CD,TMP.納入先CD,TMP.納入先名1,TMP.納入先名2,
				------		TMP.現場名,TMP.物件種別,
				------		税抜金額 = SUM(TMP.税抜金額),
				------		仕入金額 = SUM(TMP.仕入金額)
				------FROM #TMP_TOTAL AS TMP
				------WHERE	TMP.作業区分CD <> 2--コールセンター以外の合計を作成
				------GROUP BY	TMP.チームCD,TMP.物件種類,TMP.見積番号,TMP.見積件名,
				------			TMP.得意先CD, TMP.納入得意先CD, TMP.納入先CD,
				------			TMP.納入先名1,TMP.納入先名2,TMP.現場名,
				------			TMP.物件種別
				--SELECT	TMP.チームCD,TMP.物件種類,TMP.見積番号,99999,
				--		TMP.見積件名,TMP.得意先CD,
				--		TMP.納入得意先CD,TMP.納入先CD,TMP.納入先名1,TMP.納入先名2,
				--		TMP.現場名,TMP.物件種別,
				--		税抜金額 = SUM(TMP.税抜金額),
				--		仕入金額 = SUM(TMP.仕入金額)
				--		--,CALL = SUM(CASE WHEN TMP.作業区分CD = 2 THEN 0 ELSE 1 END)
				--FROM #TMP_TOTAL AS TMP
				----WHERE	TMP.作業区分CD <> 2--コールセンター以外の合計を作成
				--WHERE NOT(TMP.税抜金額=0 AND TMP.仕入金額=0)
				--GROUP BY	TMP.チームCD,TMP.物件種類,TMP.見積番号,TMP.見積件名,
				--			TMP.得意先CD, TMP.納入得意先CD, TMP.納入先CD,
				--			TMP.納入先名1,TMP.納入先名2,TMP.現場名,
				--			TMP.物件種別
				--HAVING SUM(CASE WHEN TMP.作業区分CD = 2 THEN 0 ELSE 1 END) <> 0
				SELECT	--TMP.チームCD,
						TMP.統計集計先CD,
						TMP.物件種類,TMP.見積番号,99999,
						見積件名 = MAX(TMP.見積件名),
						得意先CD='',
						納入得意先CD='',納入先CD='',納入先名1='',納入先名2='',
						現場名='',
						物件種別='',
						税抜金額 = SUM(TMP.税抜金額),
						仕入金額 = SUM(TMP.仕入金額)
				FROM #TMP_TOTAL AS TMP
				WHERE NOT(TMP.税抜金額=0 AND TMP.仕入金額=0)
				GROUP BY	--TMP.チームCD,
							TMP.統計集計先CD,
							TMP.物件種類,TMP.見積番号
				HAVING SUM(CASE WHEN TMP.作業区分CD = 2 THEN 0 ELSE 1 END) <> 0

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----------------------------------
	--集計値　抽出
	----------------------------------
	SELECT TMP.*,
		作業区分名 = CASE TMP.作業区分CD
						WHEN 0	THEN '営業'
						WHEN 1	THEN '施工'
						WHEN 2	THEN 'CALL'
						WHEN 3	THEN '内装'
						WHEN 4	THEN 'ｸﾚｰﾑ'
						WHEN 99999 THEN '合計'
					    ELSE '営業'
					   END,
		--Count = COUNT(TMP.チームCD) OVER (PARTITION BY TMP.チームCD)
		Count = COUNT(TMP.統計集計先CD) OVER (PARTITION BY TMP.統計集計先CD)
		,TUH.請求日付 , TMK.請求予定日
		FROM #TMP_TOTAL AS TMP
			LEFT JOIN TD売上請求H AS TUH
			  ON TUH.見積番号 = TMP.見積番号
			LEFT JOIN TD見積_経過 AS TMK
			  ON TMK.見積番号 = TMP.見積番号
			--INNER JOIN TMチーム AS CM
			--	ON TMP.チームCD = CM.チームCD
			--INNER JOIN TM担当者 AS TN
			--	ON CM.代表担当者CD = TN.担当者CD
			--INNER JOIN TM部署 AS BS
			--	ON TN.部署CD = BS.部署CD
		WHERE NOT(TMP.税抜金額=0 AND TMP.仕入金額=0)
		--ORDER BY	BS.順序, TN.順序,TMP.チームCD, YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD
		--ORDER BY	CM.順序, TMP.チームCD, TMP.見積番号, TMP.作業区分CD,YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD
		ORDER BY	TMP.統計集計先CD, TMP.見積番号, TMP.作業区分CD,YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO

