/****** Object:  StoredProcedure [dbo].[usp_KD0500経費集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_KD0500経費集計表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_KD0500経費集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_KD0500経費集計表出力

機能	経費を出力する
		EXCEL側でピボットテーブルを作成するのでベタ出力

引数

戻り値

修正履歴
	2014/03/25	oosawa		新規作成
	2014/04/09	oosawa		科目全てを出力するように変更
	2014/07/25	oosawa		順序をつけて出力
*****************************************************/
CREATE PROCEDURE [dbo].[usp_KD0500経費集計表出力]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	
	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

--2013/10/28ADD↓

	---------------------------
	--経費集計
	---------------------------
	--SELECT	KM.科目CD, KM.科目名, SUM(KM.金額) AS 金額,
	--		部署CD = ISNULL(BS.部署CD,999),部署名 = ISNULL(BS.部署名,'その他')
	--	FROM	TD経費 AS KH
	--		INNER JOIN TD経費明細 AS KM
	--			ON KH.経費番号 = KM.経費番号
	--		LEFT JOIN TM担当者 AS TN
	--			ON KM.担当者CD = TN.担当者CD
	--		LEFT JOIN TM部署 AS BS
	--			ON TN.部署CD = BS.部署CD
	--	WHERE	KH.経費日付 >= @iS集計日付
	--		AND	KH.経費日付 <= @iE集計日付
	--	GROUP BY	KM.科目CD, KM.科目名, BS.部署CD,BS.部署名
	--	ORDER BY	KM.科目CD, KM.科目名, ISNULL(BS.部署CD,999), ISNULL(BS.部署名,'その他')

	SELECT	KK.集計CD,KK.科目CD, KK.科目名,
			金額 = ISNULL(KH.金額,0),
			部署CD = ISNULL(KH.部署CD,999),
			部署名 = ISNULL(KH.部署名,'その他')
		FROM TM科目 AS KK
			LEFT JOIN (
						SELECT	KM.科目CD, KM.科目名, SUM(KM.金額) AS 金額,
								部署CD = ISNULL(BS.部署CD,999),部署名 = ISNULL(BS.部署名,'その他')
							FROM	TD経費 AS KH
								INNER JOIN TD経費明細 AS KM
									ON KH.経費番号 = KM.経費番号
								LEFT JOIN TM担当者 AS TN
									ON KM.担当者CD = TN.担当者CD
								LEFT JOIN TM部署 AS BS
									ON TN.部署CD = BS.部署CD
							WHERE	KH.経費日付 >= @iS集計日付
								AND	KH.経費日付 <= @iE集計日付
							GROUP BY	KM.科目CD, KM.科目名, BS.部署CD,BS.部署名
					) AS KH
						ON KK.科目CD = KH.科目CD
			ORDER BY	KK.集計CD,KK.順序,KK.科目CD, KK.科目名, KH.部署CD, KH.部署名

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST


GO
