/****** Object:  StoredProcedure [dbo].[usp_客先在庫_出荷予定Add]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_客先在庫_出荷予定Add]
GO
/****** Object:  StoredProcedure [dbo].[usp_客先在庫_出荷予定Add]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROCEDURE	[dbo].[usp_客先在庫_出荷予定Add]
	(
	@i得意先CD		VARCHAR(4),
	@iSP区分		VARCHAR(1),
	@iPC区分		VARCHAR(1),
	@i製品NO		CHAR(7),
	@i仕様NO		CHAR(7),
	@io客先引当数		MONEY,
--	@o客先在庫引当済F	SMALLINT		OUTPUT,
--	@oエラー内容		VARCHAR(255)	OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	指定された製品のマスタの客先在庫数をたす

	内容	一製品毎に処理を行なう。
		SP区分=''、PC区分=''の製品が対象
		客先在庫マスタに登録していない製品が対象外。
		製品マスタの在庫管理区分＝しないは対象外。

	2003/06/09	OOSAWA	
*/
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	
	--マスタ内データ保持用
	DECLARE	@M在庫区分	INT,
			@M現在庫数	MONEY
/*
	SET	@i製品NO = 'S7001P'
	SET	@i仕様NO = ''
	SET	@io客先引当数 = 90
*/
	--SP区分がついている場合終了
	IF @iSP区分 <> ''	GOTO EXIT_SP
	PRINT 'SP'

	--PC区分がついている場合終了
	IF @iPC区分 <> ''	GOTO EXIT_SP
	PRINT 'PC'

	--在庫状況を取得する
	SELECT 	@M在庫区分 = 在庫区分,
			@M現在庫数 = 現在庫数
		FROM TM製品 AS MS
			INNER JOIN (SELECT * FROM TM客先在庫 WHERE 得意先CD = @i得意先CD) AS MKZ
			ON MS.製品NO = MKZ.製品NO
			AND MS.仕様NO = MKZ.仕様NO
		WHERE MS.製品NO = @i製品NO
		AND	MS.仕様NO = @i仕様NO
	
	IF ( @@ERROR <> 0 )	BEGIN
		RAISERROR('製品№:%s. 製品でエラーが発生しました。 ', 16, 1,@i製品NO)
		GOTO	EXIT_SP
	END
	--在庫マスタにない場合終了
	IF @M現在庫数 IS NULL	GOTO EXIT_SP

	--在庫管理しない(在庫区分 = 1)は終了
	IF @M在庫区分 = 1	GOTO EXIT_SP
	
	--在庫数の引当処理
	IF @M現在庫数 >= @io客先引当数 BEGIN
		--現在庫数が引当数より多い場合
		UPDATE TM客先在庫
			SET 出荷予定数 = 出荷予定数 + @io客先引当数
			WHERE 製品NO = @i製品NO
			AND	仕様NO = @i仕様NO
			AND	得意先CD = @i得意先CD

		--SET @o客先引当数 = @i客先引当数
		--SET @o客先在庫引当済F = 1
	END 
	ELSE BEGIN
		--現在庫数が引当数より少ない場合
/*		SET @io客先引当数 = @M現在庫数
	
		UPDATE TM客先在庫
			SET 出荷予定数 = 出荷予定数 + @M現在庫数
			WHERE 製品NO = @i製品NO
			AND	仕様NO = @i仕様NO
*/
		SET @ST = -1
		SET @MSG = @i製品NO + ' ' + @i仕様NO + CHAR(13) + '  客先在庫数が足りません。'
		--SET @o客先在庫引当済F = 0
	END
	
	--SELECT @io客先引当数

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
