/****** Object:  StoredProcedure [dbo].[usp_TN0301客先在庫保存]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0301客先在庫保存]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0301客先在庫保存]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_TN0301客先在庫保存

機能	客先在庫マスタ更新

引数	得意先CD
	製品NO
	仕様NO
	差数（調整数）
	
戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN0301客先在庫保存]
	@i得意先CD		VARCHAR(4),
	@i製品NO		VARCHAR(7),
	@i仕様NO		VARCHAR(7),
	@i差数			MONEY,	
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT

AS
	SET NOCOUNT ON	

	DECLARE	@TRAN		TINYINT,
		@ST		INT,
		@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	
	--トランザクション開始
	BEGIN	TRAN

	--TMP棚卸更新
	IF	EXISTS(SELECT KZ.得意先CD,KZ.製品NO,KZ.仕様NO,KZ.調整数 FROM TM客先在庫 AS KZ 
				WHERE KZ.得意先CD=@i得意先CD AND KZ.製品NO=@i製品NO AND KZ.仕様NO=@i仕様NO) BEGIN

		UPDATE TM客先在庫
			SET	TM客先在庫.調整数=TM客先在庫.調整数+@i差数
			WHERE	TM客先在庫.得意先CD=@i得意先CD AND TM客先在庫.製品NO=@i製品NO AND TM客先在庫.仕様NO=@i仕様NO
	END ELSE BEGIN
		INSERT INTO TM客先在庫 (得意先CD,製品NO,仕様NO,調整数)
				VALUES (@i得意先CD,@i製品NO,@i仕様NO,@i差数)
	END

	SET	@ST = @@ERROR

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
		SELECT	@ST AS ST, @MSG AS MSG
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END	ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SELECT	@ST AS ST, @MSG AS MSG
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END

	RETURN @ST

GO
