/****** Object:  StoredProcedure [dbo].[usp_MT0100員数UploadCheck]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0100員数UploadCheck]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0100員数UploadCheck]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_MT0100員数UploadCheck

	機能:	員数明細をチェックする
		
 =============================================
	2003/07/16	oosawa

	2003/07/28	oosawa	usp_Get製品区分にて製品区分を取得するように変更
	2003/07/28	kawamura	TD見積シートMテーブルに製品区分を持つように変更
	2003/08/07	oosawa	@i見積番号を持ち、前回情報を取得するように変更
					在庫エラーを出すのに前回の情報を参照して行なうように変更
	2003/08/22	oosawa		エラー内容があっても上書きするように変更
	2003/09/16	oosawa	H1,H2,仕入先名,配送先名追加
	2003/10/16	oosawa	サイズが入っていない場合、持ってくるように変更（製品付属情報）
	2003/10/29	oosawa	見積区分追加
	2004/12/01	oosawa	見積区分A・Sの追加
	2005/10/14	kawamura	U区分の追加
	2009/09/26	oosawa	在庫チェックをVB側で行なうように変更
	2009/10/05	oosawa	集計の情報を作成して在庫をチェックするように変更
	2009/12/24	oosawa	担当者別在庫抽出ストアド2本でNULLエラー
	2011/11/29	oosawa	単価マスタ・商品マスタと員数の単価が異なる場合は「売上単価違い」エラーを表示
	2013/03/08	oosawa		ローカル一時テーブルに変更
	2014/03/31	oosawa		仕入先「8888」は社内出しとする（発注数を社内在庫にセット）
	2014/04/30	oosawa		2014/03/31修正をなしにする
	2014/09/09	oosawa		「発注調整数」追加
	2014/11/03	oosawa		仕入済数・売上済CNTを追加
	2015/02/04	oosawa		他社伝票番号を追加
	2015/07/17	oosawa		コメント行ACSのエラーチェックを追加
	2015/07/20	oosawa		仕入単価マスタ追加
	2015/09/28	oosawa		仕入単価をなしにして
							売上仕入単価を追加
	2015/09/29	oosawa		他社納品日付を追加
	2016/06/22	oosawa		クレーム明細区分（1:クレーム）
							作業区分CD（1:施工 2:コール 3:内装）を追加
	2017/05/09	oosawa		仕分レベル未入力チェック用変数を追加
	2017/05/14	oosawa		仕入業者CD追加
	2018/05/03	oosawa		入出庫日、明細備考を追加
	2018/06/19	oosawa		コメント行の書き換え防止にロックをかけられるように
							仕入済CNTを新設
	2018/07/31	oosawa		社内伝に3150が入力されないようにエラー表示
	2019/12/12	oosawa		Revit取込用に追番Rを追加
	2020/06/18	oosawa		売価金額変更確認　追加
	2020/09/19	oosawa		入出庫日を入庫日・出庫日に分割
	2020/09/19	oosawa		在庫管理しない製品のチェック
	2020/10/20	oosawa		社内伝で品番なしのチェック
	2020/12/28	oosawa		クレームで売上単価がゼロではない場合エラー
	2021/05/27	oosawa		在庫区分じゃなく、棚番Mで判断
	2021/07/28	oosawa		仕入済・売上済でも単価ゼロの場合単価を拾ってきてしまうので、
							済みの場合は単価を持ってこないように変更
	2023/10/27	oosawa		製品NOがなく、総数量がZEROでない場合はエラーとする
	2024/01/10	oosawa		売上仕入単価マスタを仕入業者CDで検索するように不具合修正
	2024/01/19	oosawa		売上仕入単価マスタを仕入先CD(3150/9999含む)で検索
	2024/02/07	oosawa		棚番がなく、3150の場合エラーに変更
	2024/05/30	oosawa		作業区分が工事でかつ、仕入金額がゼロでなく、仕入先CDが9999でない場合はエラー
	2024/06/25	oosawa		業種区分1内装の場合、作業区分が0or1の場合は3に更新する
 =============================================*/
CREATE         PROCEDURE [dbo].[usp_MT0100員数UploadCheck]
	(
	@i見積番号		INT,
	@i見積日付		DATETIME,
	@i得意先CD		VARCHAR(4),
	@i売上端数		SMALLINT,
	@i消費税端数	SMALLINT,
	@i受注区分		SMALLINT,
	@i大小口区分	SMALLINT,
	@CompName		VARCHAR(100),

	@iRITUMAX		MONEY,
	@iRITUMIN		MONEY,

	--2009/10/05 ADD↓
	@i売上納期		DATETIME,
	@i担当者CD		SMALLINT,
	--2009/10/05 ADD↑
	@i社内伝票扱い	SMALLINT,--2018/07/31 ADD
	
	@i見積確定区分	SMALLINT,--2020/06/18 ADD
	@i合計金額		MONEY,--2020/06/18 ADD

	@i業種区分		INT,--2024/06/25 ADD

	@wErr行番号		VARCHAR(8000)	OUTPUT,	--2005/03/26 ADD
	@w仕分MAX列		INT				OUTPUT,--2017/05/09	ADD
	@RetST			INT			OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

	--ヘッダー部の情報
	--売上日
/*	DECLARE	@i見積日付		DATETIME,
			@i得意先CD		VARCHAR(6),
			@i売上端数		SMALLINT,
			@i消費税端数		SMALLINT,
			@i受注区分		SMALLINT,
			@i大小口区分		SMALLINT

	SET @i売上端数 = 0 
	SET @i消費税端数 = 0
	SET @i大小口区分 = 0
	SET @i受注区分 = 1

	DECLARE	@CompName	VARCHAR(100)

	SET	@CompName = 'P2200L'
*/
	--製品判断区分
	DECLARE	@製品区分	INT	--0:製品 1:品群 2:ユニット 3:PCマスタ

	--エラーメッセージ用変数
	DECLARE	@wエラー内容	VARCHAR(255),
			@wErrCNT	INT,
			@wERR		SMALLINT		--usp_Chk製品のエラー切り分け用フラグ
--			@wErr行番号	VARCHAR(8000)	--2005/03/26 ADD

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		NVARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@RCST	INT

	SET	@RCST =	0

	SET	@wErr行番号 = ''				--2005/03/26 ADD
	SET	@w仕分MAX列 = 0					--2017/05/09 ADD

	DECLARE	@ROWS見積	INT

	DECLARE	@c見積明細連番 INT ,
			@c見積番号 	INT ,
			@c行番号 	INT ,
			@c追番 	INT ,
			@c展開CHK 	SMALLINT,
			@c見積区分	VARCHAR (1),		--2003/10/29	ADD
			@cクレーム明細区分	INT,			--2016/06/22 ADD
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c他社納品日付	DATETIME,		--2015/09/29 ADD
			@c他社伝票番号	VARCHAR(10),	--2015/02/04	ADD
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
			@c仕入率	MONEY,
			@c売上単価 	MONEY,
			@c売上率	MONEY,
			@cU区分 	VARCHAR (1),		--2005/10/14 ADD
			@cM区分 	VARCHAR (1),
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c売上金額 	MONEY,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			--2017/05/14 ADD↓
			@c仕入業者CD 	VARCHAR (4),
			@c仕入業者名 	VARCHAR (8),
			--2017/05/14 ADD↑
			@c仕入先CD 	VARCHAR (4),
			@c仕入先名 	VARCHAR (8),
			@c作業区分CD	INT,	--2016/06/22 ADD
			@c配送先CD 	VARCHAR (4),
			@c配送先名 	VARCHAR (8),
			@c社内在庫数 MONEY,
			@c客先在庫数 MONEY,
			@c転用数 	MONEY,
			@c発注調整数	MONEY,--2014/09/09 ADD
			@c発注数	MONEY,
			@c総数量 	MONEY,
			@c製品区分	SMALLINT,
			@c仕分数1 	MONEY,
			@c仕分数2 	MONEY,
			@c仕分数3 	MONEY,
			@c仕分数4 	MONEY,
			@c仕分数5 	MONEY,
			@c仕分数6 	MONEY,
			@c仕分数7 	MONEY,
			@c仕分数8 	MONEY,
			@c仕分数9 	MONEY,
			@c仕分数10 	MONEY,
			@c仕分数11	MONEY,
			@c仕分数12 	MONEY,
			@c仕分数13 	MONEY,
			@c仕分数14 	MONEY,
			@c仕分数15 	MONEY,
			@c仕分数16 	MONEY,
			@c仕分数17 	MONEY,
			@c仕分数18 	MONEY,
			@c仕分数19 	MONEY,
			@c仕分数20 	MONEY,
			@c仕分数21 	MONEY,
			@c仕分数22 	MONEY,
			@c仕分数23 	MONEY,
			@c仕分数24 	MONEY,
			@c仕分数25 	MONEY,
			@c仕分数26 	MONEY,
			@c仕分数27 	MONEY,
			@c仕分数28 	MONEY,
			@c仕分数29 	MONEY,
			@c仕分数30 	MONEY,

			@c明細備考	VARCHAR (255),--2018/05/03 ADD
			--@c入出庫日	DATETIME,--2018/05/03 ADD
			@c追番R		VARCHAR(1),--2019/12/12 ADD
			@c入庫日	DATETIME,--2020/09/19 ADD
			@c出庫日	DATETIME --2020/09/19 ADD
			,@c仕入済CNT	INT,	--2021/07/28 ADD
			@c売上済CNT	INT		--2021/07/28 ADD



	--消費税用変数
	DECLARE	@TAX		MONEY

	--旧見積の受注区分
	DECLARE	@Q受注区分	SMALLINT,
			@Q合計金額	MONEY--2020/06/18 ADD

	--旧情報　見積確定区分
	DECLARE	@Q見積確定区分	SMALLINT

	--CODEエラー用変数
	DECLARE	@CDエラー内容	VARCHAR(255)

	--仕分最大列
	--DECLARE	@w仕分MAX列	INT--2017/04/20 ADD

	--2009/10/05 ADD↓
	--集計用TMPテーブル作成
	CREATE TABLE [dbo].[#Tmp見積明細_集計] (
		[製品NO] [char] (7) COLLATE Japanese_CI_AS NOT NULL ,
		[仕様NO] [char] (7) COLLATE Japanese_CI_AS NOT NULL ,
		[最大社ERR行番号] [INT] DEFAULT(0),
		[最大客ERR行番号] [INT] DEFAULT(0),
		[社内在庫数] [money] NOT NULL ,
		[客先在庫数] [money] NOT NULL ,
	 	[件数] [INT] DEFAULT(0),
		[社内在庫数FLG] [SMALLINT] DEFAULT(0) ,
		[社内適正在庫数FLG] [SMALLINT] DEFAULT(0) ,
		[客先在庫数FLG] [SMALLINT] DEFAULT(0) ,
	) ON [PRIMARY]

	--集計用TMPテーブル明細カーソル用変数
	DECLARE 	@cSY製品NO 		CHAR(7),
			@cSY仕様NO		CHAR(7),
			@cSY社内在庫数	MONEY,
			@cSY客先在庫数	MONEY,
			@cSY社内在庫数FLG	SMALLINT,
			@cSY社内適正在庫数FLG	SMALLINT,
			@cSY客先在庫数FLG	SMALLINT
	--ワーク変数
	DECLARE	
			@wSY適正在庫数		MONEY,
			@wSY社内在庫残数		MONEY,
			@wSY客先在庫残数		MONEY,
			@wSY未管理FLG			SMALLINT,
			@wSY社内在庫数FLG		SMALLINT,
			@wSY社内適正在庫数FLG	SMALLINT,
			@wSY客先在庫数FLG		SMALLINT,
			@wSY件数			INT

	--2009/10/05 ADD↑
	--2011/11/29 ADD↓
	DECLARE	@w基準売上単価		MONEY
	--2011/11/29 ADD↑
	
	DECLARE	@w在庫区分		SMALLINT--2020/09/19 ADD
	DECLARE	@w費用区分		SMALLINT--2020/10/26 ADD

	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@wエラー内容 = ''
	SET	@wErrCNT = 0
	SET	@TAX = dbo.fn_GetTax(@i見積日付)

	--------------------------------------------------
	--旧受注区分の取得
	--------------------------------------------------
	SELECT	@Q受注区分 = 受注区分,
			@Q合計金額 = 合計金額--2020/06/18 ADD
		FROM TD見積 (NOLOCK)
		WHERE 見積番号 = @i見積番号

	--------------------------------------------------
	--旧見積確定区分の取得
	--------------------------------------------------
	SELECT	@Q見積確定区分 = 見積確定区分
		FROM TD見積_経過 (NOLOCK)
		WHERE 見積番号 = @i見積番号

	IF (@i見積確定区分 = 1) AND (@Q見積確定区分 = 1) BEGIN 
		IF NOT(@i合計金額 = @Q合計金額) BEGIN
			SET	@ST	= -1
			SET	@MSG	= '売価金額確定済です。'
			GOTO	EXIT_SP
		END
	END

--2013/07/19 ADD↓
----2009/10/05 ADD↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
--	--------------------------------------------------
--	--集計用テーブルを使用して社内在庫・客先在庫・社内在庫適正在庫をチェックしてFLGを付ける。
--	--------------------------------------------------
--	--集計結果を一時テーブルに入れる。
--	--EXEC('INSERT #Tmp見積明細_集計
--	--		(製品NO, 仕様NO,最大社ERR行番号, 最大客ERR行番号, 社内在庫数, 客先在庫数, 件数)
--	--		SELECT	製品NO, 仕様NO, 
--	--				MAX(CASE WHEN 社内在庫数<>0 THEN 行番号 ELSE 0 END) AS 社行番号, 
--	--				MAX(CASE WHEN 客先在庫数<>0 THEN 行番号 ELSE 0 END) AS 客行番号, 
--	--				SUM(社内在庫数), SUM(客先在庫数), COUNT(*)
--	--			FROM[##Tmp見積明細_' + @CompName + '] AS TM
--	--			WHERE TM.製品区分 = 0
--	--			GROUP BY 製品NO, 仕様NO'
--	--	)
--	--2013/03/08 ADD
--	INSERT #Tmp見積明細_集計
--			(製品NO, 仕様NO,最大社ERR行番号, 最大客ERR行番号, 社内在庫数, 客先在庫数, 件数)
--			SELECT	製品NO, 仕様NO, 
--					MAX(CASE WHEN 社内在庫数<>0 THEN 行番号 ELSE 0 END) AS 社行番号, 
--					MAX(CASE WHEN 客先在庫数<>0 THEN 行番号 ELSE 0 END) AS 客行番号, 
--					SUM(社内在庫数), SUM(客先在庫数), COUNT(*)
--				FROM	#Tmp見積明細 AS TM
--				WHERE TM.製品区分 = 0
--				GROUP BY 製品NO, 仕様NO

--	--------------------------------------------------
--	--集計用テーブルのカーソル
--	--------------------------------------------------
--	DECLARE	csr#Tmp見積明細_集計		CURSOR	LOCAL  FORWARD_ONLY FOR 
--		SELECT 製品NO, 仕様NO,社内在庫数,客先在庫数,
--				社内在庫数FLG,社内適正在庫数FLG,客先在庫数FLG
--			FROM #Tmp見積明細_集計 AS TMP

--	OPEN	csr#Tmp見積明細_集計

--	SELECT	@ST = @@ERROR
-- 	IF ( @ST <> 0 )	GOTO	EXIT_SP

--	--カーソルのREAD
--	FETCH NEXT FROM csr#Tmp見積明細_集計
--		INTO	@cSY製品NO, @cSY仕様NO,@cSY社内在庫数,@cSY客先在庫数,
--			@cSY社内在庫数FLG,@cSY社内適正在庫数FLG,@cSY客先在庫数FLG

--	SET @ST = @@ERROR
-- 	IF ( @ST <> 0 )	GOTO	EXIT_SP

--	--------------------------------------------------
--	--集計用テーブルを展開します
--	--------------------------------------------------
--	WHILE (@@FETCH_STATUS <> -1)	BEGIN				--FETCH ステートメントが失敗したか、または行が結果セットに収まりません。
--	  	 IF (@@FETCH_STATUS <> -2)	BEGIN			--取り出した行がありません。
--			--初期値セット
--			SET @wSY社内在庫数FLG = 0
--			SET @wSY社内適正在庫数FLG = 0
--			SET @wSY適正在庫数 = 0
--			SET @wSY社内在庫残数 = 0
--			SET @wSY未管理FLG = 0

--			--社内在庫チェック
--			EXEC @RCST = usp_担当者別社内在庫抽出 @i売上納期, @i担当者CD, @cSY製品NO, @cSY仕様NO, @i見積番号,
--									@wSY適正在庫数 OUTPUT, @wSY社内在庫残数 OUTPUT,@wSY未管理FLG OUTPUT,
--									@ST OUTPUT , @MSG OUTPUT 
 
---- 			--SET @ST = @@ERROR
----  set @MSG = @MSG +' usp_担当者別社内在庫抽出'
--			IF ( @RCST <> 0 )	GOTO	EXIT_SP

---- PRINT CONVERT(VARCHAR(20),@wSY未管理FLG)
---- PRINT CONVERT(VARCHAR(20),@wSY適正在庫数)
---- PRINT  CONVERT(VARCHAR(20),@wSY社内在庫残数)

--			IF @wSY未管理FLG = 0 BEGIN
--				IF @wSY社内在庫残数 - @cSY社内在庫数 < @wSY適正在庫数 BEGIN	--自分を含めて
--					--適正在庫数割れエラー
--					SET @wSY社内適正在庫数FLG = 1
--				END
--				IF @cSY社内在庫数 > @wSY社内在庫残数 BEGIN
--					--在庫数割れエラー
--					SET @wSY社内在庫数FLG = 1
--				END
--			END

--			SET @wSY客先在庫数FLG = 0
--			SET @wSY客先在庫残数 = 0
--			SET @wSY未管理FLG = 0


--			--客先在庫チェック
--			EXEC @RCST = usp_担当者別客先在庫抽出 @i売上納期, @i担当者CD, @i得意先CD, @cSY製品NO, @cSY仕様NO, @i見積番号,
--									@wSY客先在庫残数 OUTPUT,@wSY未管理FLG OUTPUT,
--									@ST OUTPUT , @MSG OUTPUT 

--			--SET @ST = @@ERROR	
----  set @MSG = @MSG +' usp_担当者別客先在庫抽出'
--			IF ( @RCST <> 0 )	GOTO	EXIT_SP

---- PRINT '客在'
---- PRINT CONVERT(VARCHAR(20),@wSY未管理FLG)
---- PRINT CONVERT(VARCHAR(20),@wSY客先在庫残数)

--			IF @wSY未管理FLG = 0 BEGIN
--				IF @cSY客先在庫数 > @wSY客先在庫残数 BEGIN
--					--在庫数割れエラー
--					SET @wSY客先在庫数FLG = 1
--				END
--			END
--			---------------------
--			--FLGの更新
--			---------------------
--			UPDATE #Tmp見積明細_集計
--					SET	社内在庫数FLG	= @wSY社内在庫数FLG,
--						社内適正在庫数FLG	= @wSY社内適正在庫数FLG,
--						客先在庫数FLG	= @wSY客先在庫数FLG
--				WHERE CURRENT OF csr#Tmp見積明細_集計

--			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--		END
--		--カーソルのREAD
--		FETCH NEXT FROM csr#Tmp見積明細_集計
--			INTO	@cSY製品NO, @cSY仕様NO,@cSY社内在庫数,@cSY客先在庫数,
--				@cSY社内在庫数FLG,@cSY社内適正在庫数FLG,@cSY客先在庫数FLG
--	END
--	CLOSE	csr#Tmp見積明細_集計
--	DEALLOCATE	csr#Tmp見積明細_集計
----2009/10/05 ADD↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
--2013/07/19 ADD↑
	--------------------------------------------------
	--出力用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTbl
			FROM Tmp見積明細 (NOLOCK)
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------
	--EXEC ('DECLARE	csr見積明細		CURSOR	 FORWARD_ONLY FOR '
	--		+'SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK,見積区分,'
	--				+' SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),'
	--				+' 漢字名称, W, D, H, D1, D2, H1, H2,'
	--				+' エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,'
	--				+' 仕入金額, 売上金額, 売上税区分, 消費税額,'
	--				+' 仕入先CD,  仕入先名, 配送先CD, 配送先名,'
	--				+' 社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,'
	--				+'仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,'					+'仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,'
	--				+'仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30'
	--			+' FROM	[##Tmp見積明細_' + @CompName + ']'
	--			+' ORDER BY	行番号'
	--	)
	--2013/03/08 ADD
	DECLARE	csr見積明細		CURSOR LOCAL FORWARD_ONLY FOR 
			--SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK,見積区分,
			--		クレーム明細区分,--2016/06/22 ADD
			--		SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),
			--		他社納品日付,--2015/09/29 ADD
			--		他社伝票番号,--2015/02/04 ADD
			--		漢字名称, W, D, H, D1, D2, H1, H2,
			--		エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
			--		仕入金額, 売上金額, 売上税区分, 消費税額,
			--		仕入業者CD,  仕入業者名, --2017/05/14 ADD
			--		仕入先CD,  仕入先名, 
			--		作業区分CD,--2016/06/22 ADD
			--		配送先CD, 配送先名,
			--		明細備考,--入出庫日,--2018/05/03 ADD
			--		入庫日,出庫日,--2020/09/19 ADD
			--		追番R,--2019/12/12 ADD
			--		社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,
			--		発注調整数,--2014/09/09 ADD
			--		仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,
			--		仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,
			--		仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30
			SELECT	MM.見積明細連番, MM.見積番号, MM.行番号, MM.追番, MM.展開CHK,MM.見積区分,
					MM.クレーム明細区分,--2016/06/22 ADD
					MM.SP区分, MM.PC区分, RTRIM(MM.製品NO), RTRIM(MM.仕様NO), RTRIM(MM.ベース色),
					MM.他社納品日付,--2015/09/29 ADD
					MM.他社伝票番号,--2015/02/04 ADD
					MM.漢字名称, MM.W, MM.D, MM.H, MM.D1, MM.D2, MM.H1, MM.H2,
					MM.エラー内容, MM.見積数量, MM.単位名, MM.定価, MM.仕入単価, MM.仕入率, MM.売上単価, MM.売上率, MM.U区分, MM.M区分,
					MM.仕入金額, MM.売上金額, MM.売上税区分, MM.消費税額,
					MM.仕入業者CD,  MM.仕入業者名, --2017/05/14 ADD
					MM.仕入先CD,  MM.仕入先名, 
					MM.作業区分CD,--2016/06/22 ADD
					MM.配送先CD, MM.配送先名,
					MM.明細備考,--入出庫日,--2018/05/03 ADD
					MM.入庫日,MM.出庫日,--2020/09/19 ADD
					MM.追番R,--2019/12/12 ADD
					MM.社内在庫数, MM.客先在庫数, MM.転用数, MM.発注数,MM.総数量,MM.製品区分,
					MM.発注調整数,--2014/09/09 ADD
					MM.仕分数1,MM.仕分数2,MM.仕分数3,MM.仕分数4,MM.仕分数5,MM.仕分数6,MM.仕分数7,MM.仕分数8,MM.仕分数9,MM.仕分数10,
					MM.仕分数11,MM.仕分数12,MM.仕分数13,MM.仕分数14,MM.仕分数15,MM.仕分数16,MM.仕分数17,MM.仕分数18,MM.仕分数19,MM.仕分数20,
					MM.仕分数21,MM.仕分数22,MM.仕分数23,MM.仕分数24,MM.仕分数25,MM.仕分数26,MM.仕分数27,MM.仕分数28,MM.仕分数29,MM.仕分数30
					,ISNULL(HCM.仕入済CNT,0) AS 仕入済CNT,ISNULL(UM.売上済CNT,0) AS 売上済CNT
				 FROM	#Tmp見積明細 AS MM
					--2021/07/28 ADD↓
					LEFT JOIN   (
								SELECT 見積明細連番, 仕入済数 = SUM(仕入数量),仕入済CNT = COUNT(見積明細連番)
									FROM TD仕入明細内訳
									GROUP BY 見積明細連番
								)AS HCM
								ON MM.見積明細連番 = HCM.見積明細連番
					LEFT JOIN   (
								SELECT 見積明細連番, 売上済CNT = COUNT(見積明細連番)
									FROM TD売上明細V2
									GROUP BY 見積明細連番
								)AS UM
								ON MM.見積明細連番 = UM.見積明細連番
					--2021/07/28 ADD↑

				 ORDER BY	MM.行番号


	OPEN	/*GLOBAL*/ csr見積明細
--	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS見積 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS見積 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END


	--集計処理
	FETCH NEXT FROM /*GLOBAL*/ csr見積明細
		INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
				@c展開CHK,@c見積区分,
				@cクレーム明細区分,--2016/06/22 ADD
				@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,
				@c他社納品日付,--2015/09/29 ADD
				@c他社伝票番号,--2015/02/04 ADD
				@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入業者CD,@c仕入業者名, --2017/05/14 ADD
				@c仕入先CD,@c仕入先名,
				@c作業区分CD,--2016/06/22 ADD
				@c配送先CD,@c配送先名,
				@c明細備考,--@c入出庫日,--2018/05/03 ADD
				@c入庫日,@c出庫日,--2020/09/19 ADD
				@c追番R,--2019/12/12 ADD
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
				@c発注調整数,--2014/09/09 ADD
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30
				,@c仕入済CNT,@c売上済CNT--2021/07/28 ADD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @c見積区分 = 'C'  OR @c見積区分 = 'S' BEGIN
		SET	@ST	= -1
		SET @MSG = '先頭の行にコメントCは入力できません。'
		GOTO EXIT_SP
	END


--	WHILE	( @@FETCH_STATUS = 0 )	BEGIN
	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
--	WHILE	( 0 = 0 )	BEGIN
FETCH_SP:
		SET @wERR = 0
		SET @wエラー内容 = ''

		--2009/10/05 ADD↓
		SET	@wSY社内在庫数FLG = 0
		SET	@wSY社内適正在庫数FLG = 0
		SET	@wSY客先在庫数FLG = 0
		SET	@wSY件数 = 0
		--2009/10/05 ADD↑
		
		SET @w在庫区分 = 1--在庫管理しない--2020/09/19 ADD
		SET @w費用区分 = 0--部材--2020/10/26 ADD

		SET @ST = @@ERROR
		IF ( @@FETCH_STATUS <> 0 ) GOTO SELECT_SP
--		IF ( @@FETCH_STATUS <> 0 ) BREAK
--		SELECT  @cSP区分,@cPC区分,@c製品NO,@c仕様NO
		--------------------------------------------------
		--製品NOがない明細の場合
		--------------------------------------------------
		IF @c製品NO = '' AND @cPC区分 = ''	BEGIN
			IF @c見積区分 = 'S'	BEGIN									--2004/12/01	ADD
				GOTO TEMP_NOCONV
			END ELSE BEGIN

				IF @c漢字名称 <> '' BEGIN
					--GOTO TEMP_NOCONV
					--IF @c見積区分 = 'C' BEGIN						--2003/10/29	ADD
					IF @c見積区分 = 'C' OR @c見積区分 = 'A' BEGIN				--2004/12/01	ADD
						GOTO TEMP_NOCONV
					END ELSE BEGIN
						GOTO CODE_CHECK
					END
				END	ELSE BEGIN
					SET @wエラー内容 = 'マスタ未登録'
					SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
					GOTO TEMP_NOCONV
				END
			END
		END

		--2017/05/09 ADD↓
		IF	@c仕分数30 <> 0 AND @w仕分MAX列 < 30 BEGIN
			SET @w仕分MAX列 = 30
		END ELSE
			IF	@c仕分数29 <> 0 AND @w仕分MAX列 < 29 BEGIN
				SET @w仕分MAX列 = 29
		END ELSE
			IF	@c仕分数28 <> 0 AND @w仕分MAX列 < 28 BEGIN
				SET @w仕分MAX列 = 28
		END ELSE
			IF	@c仕分数27 <> 0 AND @w仕分MAX列 < 27 BEGIN
				SET @w仕分MAX列 = 27
		END ELSE
			IF	@c仕分数26 <> 0 AND @w仕分MAX列 < 26 BEGIN
				SET @w仕分MAX列 = 26
		END ELSE
			IF	@c仕分数25 <> 0 AND @w仕分MAX列 < 25 BEGIN
				SET @w仕分MAX列 = 25
		END ELSE
			IF	@c仕分数24 <> 0 AND @w仕分MAX列 < 24 BEGIN
				SET @w仕分MAX列 = 24
		END ELSE
			IF	@c仕分数23 <> 0 AND @w仕分MAX列 < 23 BEGIN
				SET @w仕分MAX列 = 23
		END ELSE
			IF	@c仕分数22 <> 0 AND @w仕分MAX列 < 22 BEGIN
				SET @w仕分MAX列 = 22
		END ELSE
			IF	@c仕分数21 <> 0 AND @w仕分MAX列 < 21 BEGIN
				SET @w仕分MAX列 = 21
		END ELSE
			IF	@c仕分数20 <> 0 AND @w仕分MAX列 < 20 BEGIN
				SET @w仕分MAX列 = 20
		END ELSE
			IF	@c仕分数19 <> 0 AND @w仕分MAX列 < 19 BEGIN
				SET @w仕分MAX列 = 19
		END ELSE
			IF	@c仕分数18 <> 0 AND @w仕分MAX列 < 18 BEGIN
				SET @w仕分MAX列 = 18
		END ELSE
			IF	@c仕分数17 <> 0 AND @w仕分MAX列 < 17 BEGIN
				SET @w仕分MAX列 = 17
		END ELSE
			IF	@c仕分数16 <> 0 AND @w仕分MAX列 < 16 BEGIN
				SET @w仕分MAX列 = 16
		END ELSE
			IF	@c仕分数15 <> 0 AND @w仕分MAX列 < 15 BEGIN
				SET @w仕分MAX列 = 15
		END ELSE
			IF	@c仕分数14 <> 0 AND @w仕分MAX列 < 14 BEGIN
				SET @w仕分MAX列 = 14
		END ELSE
			IF	@c仕分数13 <> 0 AND @w仕分MAX列 < 13 BEGIN
				SET @w仕分MAX列 = 13
		END ELSE
			IF	@c仕分数12 <> 0 AND @w仕分MAX列 < 12 BEGIN
				SET @w仕分MAX列 = 12
		END ELSE
			IF	@c仕分数11 <> 0 AND @w仕分MAX列 < 11 BEGIN
				SET @w仕分MAX列 = 11
		END ELSE
			IF	@c仕分数10 <> 0 AND @w仕分MAX列 < 10 BEGIN
				SET @w仕分MAX列 = 10
		END ELSE
			IF	@c仕分数9 <> 0 AND @w仕分MAX列 < 9 BEGIN
				SET @w仕分MAX列 = 9
		END ELSE
			IF	@c仕分数8 <> 0 AND @w仕分MAX列 < 8 BEGIN
				SET @w仕分MAX列 = 8
		END ELSE
			IF	@c仕分数7 <> 0 AND @w仕分MAX列 < 7 BEGIN
				SET @w仕分MAX列 = 7
		END ELSE
			IF	@c仕分数6 <> 0 AND @w仕分MAX列 < 6 BEGIN
				SET @w仕分MAX列 = 6
		END ELSE
			IF	@c仕分数5 <> 0 AND @w仕分MAX列 < 5 BEGIN
				SET @w仕分MAX列 = 5
		END ELSE
			IF	@c仕分数4 <> 0 AND @w仕分MAX列 < 4 BEGIN
				SET @w仕分MAX列 = 4
		END ELSE
			IF	@c仕分数3 <> 0 AND @w仕分MAX列 < 3 BEGIN
				SET @w仕分MAX列 = 3
		END ELSE
			IF	@c仕分数2 <> 0 AND @w仕分MAX列 < 2 BEGIN
				SET @w仕分MAX列 = 2
		END ELSE
			IF	@c仕分数1 <> 0 AND @w仕分MAX列 < 1 BEGIN
				SET @w仕分MAX列 = 1
			END
		--2017/05/09 ADD↑

		--------2014/03/31 ADD↓
		--------------------------------------------------------
		--------仕入先が8888の場合社内在庫とする
		--------------------------------------------------------
		------IF @c仕入先CD = '8888' BEGIN
		------	--社内在庫数(AH)= Σ(AO)-転用数(AL)-客先在庫数(AJ)+発注調整数(AM)-発注数(AN)
		------	SET @c社内在庫数 = @c総数量 - @c客先在庫数 - @c転用数
		------END
		--------2014/03/31 ADD↑

		--------------------------------------------------
		--製品情報マスタよりマスタ情報を取得します。
		--------------------------------------------------
		SET @製品区分 = NULL

		EXEC @ST = usp_Get製品区分 @cPC区分, @c製品NO, @c仕様NO, 
					@製品区分 OUTPUT , @RetST OUTPUT , @RetMsg OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		--------------------------------------------------
		--製品情報に該当するものがない場合
		--------------------------------------------------
		IF @製品区分 IS NULL	BEGIN
			--PRINT 'NULL'
			SET @wエラー内容 = 'マスタ未登録'
			SET @wErrCNT = @wErrCNT +1
			--エラーの行番号を出力する
			SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
			GOTO TEMP_NOCONV
		END
		--0:製品 1:品群 2:ユニット 3:PCマスタ
		IF @製品区分 = 0 BEGIN
			--PRINT 'GOTO SEIHIN_SP'
			GOTO SEIHIN_SP
		END
		IF @製品区分 = 1 BEGIN
			--PRINT 'GOTO HINGUN_SP:' + CONVERT(VARCHAR(1),@製品区分)
			GOTO HINGUN_SP
		END
		IF @製品区分 = 2 BEGIN
			--PRINT 'GOTO UNIT_SP'
			GOTO UNIT_SP
		END
		IF @製品区分 = 3 BEGIN
			--PRINT 'GOTO PC_SP'
			GOTO PC_SP
		END

		--合致しなかったら次にいく
--		CONTINUE

	SEIHIN_SP:
		--PRINT 'SEIHIN_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_Chk製品 @c製品NO, @c仕様NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @wERR OUTPUT, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @wERR = 0 BEGIN
				GOTO SEIHIN_FUZOKU_READ
			END ELSE BEGIN
				SET @wErrCNT = @wErrCNT + 1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
			END
		END

	PC_SP:
		--PRINT 'PC_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_ChkPC @cPC区分, @c製品NO, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			SET @wErrCNT = @wErrCNT +1			--エラーの行番号を出力する
			SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD

			GOTO TEMP_NOCONV
		END

	HINGUN_SP:
		--PRINT 'HINGUN_SP'
		--------------------------------------------------
		--品群マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_CHG製品FROM品群 @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @cSP区分 OUTPUT , @c製品NO OUTPUT , @c仕様NO OUTPUT ,@c製品区分 OUTPUT , @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		--エラーがあっても、SPならばｺｰﾄﾞのチェックに行く。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @cSP区分 = ''	BEGIN
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				GOTO CODE_CHECK
			END
		END

	UNIT_SP:
		--PRINT 'UNIT_SP'
		--------------------------------------------------
		--ユニットマスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_CHG製品FROMユニット @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @cSP区分 OUTPUT , @c製品NO OUTPUT , @c仕様NO OUTPUT ,@c製品区分 OUTPUT , @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		--エラーがあっても、SPならばｺｰﾄﾞのチェックに行く。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @cSP区分 = ''	BEGIN
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				GOTO CODE_CHECK
			END
		END

SEIHIN_FUZOKU_READ:
		--PRINT 'SEIHIN_FUZOKU_READ'
		

		--------------------------------------------------
		--製品の付属情報を変数にセットします。
		--------------------------------------------------
		SELECT 
			@cW = (CASE @cW WHEN '' THEN W ELSE @cW END),			--2003/10/16	ADD↓
			@cD = (CASE @cD WHEN '' THEN D ELSE @cD END),
			@cH = (CASE @cH WHEN '' THEN H ELSE @cH END),
			@cD1 = (CASE @cD1 WHEN '' THEN D1 ELSE @cD1 END),
			@cD2 = (CASE @cD2 WHEN '' THEN D2 ELSE @cD2 END),
			@cH1 = (CASE @cH1 WHEN '' THEN H1 ELSE @cH1 END),
			@cH2 = (CASE @cH2 WHEN '' THEN H2 ELSE @cH2 END),		--2003/10/16	ADD↑
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			--2015/07/20 DEL↓
			----@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
			----	ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
			----		ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
			----						ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			--2015/07/20 DEL↑
			--2015/09/28 ADD↓

			@c仕入単価 = CASE WHEN @c仕入済CNT <> 0 THEN @c仕入単価 ELSE(--2021/07/28 ADD
				CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(UST.大口仕入単価, MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(UST.小口仕入単価,MT.小口仕入単価,MS.仕入単価) END) END) END) END,
				--@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				--	ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
				--		ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(UST.大口仕入単価, MT.大口仕入単価,MS.仕入単価) 
				--						ELSE COALESCE(UST.小口仕入単価,MT.小口仕入単価,MS.仕入単価) END) END) END,

			@c売上単価 = CASE WHEN @c売上済CNT <> 0 THEN @c売上単価 ELSE(--2021/07/28 ADD
				CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(UST.大口売上単価,MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(UST.小口売上単価,MT.小口売上単価,MS.売上単価) END) END) END) END,
				--@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				--	ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
				--		ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(UST.大口売上単価,MT.大口売上単価,MS.売上単価) 
				--						ELSE COALESCE(UST.小口売上単価,MT.小口売上単価,MS.売上単価) END) END) END,
			@w基準売上単価 = CASE @i大小口区分 WHEN 0 THEN COALESCE(UST.大口売上単価,MT.大口売上単価,MS.売上単価, @c売上単価) 
									ELSE COALESCE(UST.小口売上単価,MT.小口売上単価,MS.売上単価, @c売上単価) END,
			--2015/09/28 ADD↑
			
			--2020/09/19 ADD↓
			@w在庫区分 = MS.在庫区分,
			--2020/09/19 ADD↑
			--2020/09/26 ADD↓
			@w費用区分 = MS.費用区分,
			--2020/09/26 ADD↑
			

			--2015/09/28 DEL↓
			----2015/07/20 ADD↓
			--@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
			--	ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
			--		ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(ST.仕入単価, MT.大口仕入単価,MS.仕入単価) 
			--						ELSE COALESCE(ST.仕入単価,MT.小口仕入単価,MS.仕入単価) END) END) END,
			----2015/07/20 ADD↑
			--@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
			--	ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
			--		ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
			--						ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			----2011/11/29 ADD↓
			--@w基準売上単価 = CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価, @c売上単価) 
			--						ELSE COALESCE(MT.小口売上単価,MS.売上単価, @c売上単価) END,
			----2011/11/29 ADD↑
			--2015/09/28 DEL↑
			@c売上税区分 = MS.売上税区分,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END,
			--2017/05/14 ADD↓
			@c仕入業者名 = CASE @c仕入業者CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入業者名 END,
			@c仕入業者CD = CASE @c仕入業者CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入業者CD END
			--2017/05/14 ADD↑
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
				--2015/09/28 ADD↓
				LEFT JOIN (SELECT UST.* FROM TM売上仕入単価 AS UST
								INNER JOIN TM製品 AS MS
									ON	UST.製品NO = MS.製品NO
									AND	UST.仕様NO = MS.仕様NO
								WHERE	UST.得意先CD = @i得意先CD
									AND UST.仕入先CD = (CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END)--2024/01/10 DEL --2024/01/19 ADD
									--AND UST.仕入先CD = (CASE @c仕入業者CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入業者CD END)--2024/01/10 ADD --2024/01/19 DEL
					) AS UST
						ON MS.製品NO = UST.製品NO
						AND MS.仕様NO = UST.仕様NO
				--2015/09/28 ADD↑
				--2015/09/28 DEL↓
				----2015/07/20 ADD↓
				--LEFT JOIN (SELECT ST.* FROM TM仕入単価 AS ST
				--				INNER JOIN TM製品 AS MS
				--					ON	ST.製品NO = MS.製品NO
				--					AND	ST.仕様NO = MS.仕様NO
				--				WHERE 仕入先CD = (CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END)
				--	) AS ST
				--		ON MS.製品NO = ST.製品NO
				--		AND MS.仕様NO = ST.仕様NO
				----2015/07/20 ADD↑
				--2015/09/28 DEL↑
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			AND		@cPC区分 = ''

		--PCマスタの場合
		SELECT 
			--@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			--@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			--2011/11/29 ADD↓
			@w基準売上単価 = CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価, @c売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価 ,@c売上単価) END,
			--2011/11/29 ADD↑
			@c売上税区分 = MS.売上税区分,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TMPC AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.PC区分 = MT.PC区分
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
			WHERE	MS.製品NO = @c製品NO
			--AND		@c仕様NO = ''
			AND		@cPC区分 <> ''

			--仕入率算出(桁数２　四捨五入)
			--PRINT '仕入率算出'
--			SET @c仕入率 = dbo.fn_CutFraction(0,dbo.fn_Divide(@c仕入単価,@c定価)*100,2)
			--売上率算出
--			SET @c売上率 =  dbo.fn_CutFraction(0,dbo.fn_Divide(@c売上単価,@c定価)*100,2)
			--仕入金額算出
--			SET @c仕入金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c仕入単価,0)
			--売上金額算出
--			SET @c売上金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c売上単価,0)
			--消費税額算出
--			IF @c売上税区分 = 0		--外税
--				SET @c消費税額 = 0
--			ELSE				--内税
--				SET @c消費税額 = dbo.fn_CutFraction(@i消費税端数, (@c売上金額 / (100 + @TAX) * @TAX), 0)

		--2024/06/25 ADD↓
		--------------------------------------------------
		--業種区分が内装の場合で、作業区分が営業or工事の場合、
		--無条件で内装に変更する
		--------------------------------------------------
		IF @i業種区分 =1 BEGIN
			IF @c作業区分CD IN (0,1) BEGIN
				 SET @c作業区分CD = 3
			END
		END
		--2024/06/25 ADD↑

CODE_CHECK:
		--PRINT 'CODE_CHECK'
		--2023/10/27 ADD↓
		IF @c製品NO = '' AND @c総数量 <> 0 BEGIN
			SET @wエラー内容 = 'マスタ未登録'
			SET @wErrCNT = @wErrCNT +1
			--エラーの行番号を出力する
			SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)
			GOTO TEMP_NOCONV
		END
		--2023/10/27 ADD↑


		--2011/11/29 ADD↓
		--------------------------------------------------
		--マスタとの売上単価の違いのチェックを行ないます。
		--------------------------------------------------
		IF @w基準売上単価 <> @c売上単価 BEGIN
			SET @wエラー内容 = '売上単価違い'
-- 			SET @wErrCNT = @wErrCNT +1
-- 			--エラーの行番号を出力する
-- 			SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)	
-- 			GOTO TEMP_NOCONV
			
		END
		--2011/11/29 ADD↑

		--2008/01/23 ADD↓
		--------------------------------------------------
		--原価率範囲のチェックを行ないます。
		--------------------------------------------------
		DECLARE	@wRITU	MONEY

		IF @c仕入単価 <> 0 BEGIN
			IF @c売上単価 <> 0 BEGIN
				SET @wRITU = (@c仕入単価 / @c売上単価) * 100

				IF @wRITU > @iRITUMAX BEGIN
					SET @wエラー内容 = '原価率上限オーバー'
					--SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					--SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
--					GOTO TEMP_NOCONV
				END

				IF @wRITU < @iRITUMIN BEGIN
					SET @wエラー内容 = '原価率下限オーバー'
					--SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					--SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
--					GOTO TEMP_NOCONV
				END
			END
		END
		--2008/01/23 ADD↑

		--------------------------------------------------
		--仕入先・配送先のチェックを行ないます。
		--------------------------------------------------
		--2017/05/14 ADD↓
		--仕入業者チェック
		IF NOT EXISTS(SELECT 仕入先CD FROM TM仕入先 (NOLOCK) WHERE 仕入先CD = @c仕入業者CD) BEGIN
		--	IF @wエラー内容 <> '' BEGIN
		--		IF @cSP区分 = '*'	BEGIN		--2003/08/22	
					SET @wエラー内容 = '仕入先マスタ　未登録'
					SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
					GOTO TEMP_NOCONV
		--		END
		--	END
		END
		--2017/05/14 ADD↑
		--仕入先チェック
		IF NOT EXISTS(SELECT 仕入先CD FROM TM仕入先 (NOLOCK) WHERE 仕入先CD = @c仕入先CD) BEGIN
		--	IF @wエラー内容 <> '' BEGIN
		--		IF @cSP区分 = '*'	BEGIN		--2003/08/22	
					SET @wエラー内容 = '仕入先マスタ　未登録'
					SET @wErrCNT = @wErrCNT +1
					--エラーの行番号を出力する
					SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
					GOTO TEMP_NOCONV
		--		END
		--	END
		END
		--配送先チェック
		IF NOT EXISTS(SELECT 配送先CD FROM TM配送先 (NOLOCK) WHERE 配送先CD = @c配送先CD) BEGIN
			--IF @wエラー内容 <> '' AND @cSP区分 = '*'	BEGIN		--2003/08/22	
				SET @wエラー内容 = '配送先マスタ　未登録'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
			--END
		END
		--------------------------------------------------
		--社内伝・社内出しのチェックを行ないます。
		--------------------------------------------------
		--2018/07/31 ADD↓
		IF @i社内伝票扱い = 1 AND @c仕入先CD = '3150' BEGIN
				SET @wエラー内容 = '社内出しエラー'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
		END
		--2018/07/31 ADD↑
		
		--------------------------------------------------
		--在庫管理のチェックを行ないます。
		--------------------------------------------------
		--2020/09/19 ADD↓
		--IF @w在庫区分 = 1 AND (@c仕入先CD = '3150' AND @c配送先CD <> '02') AND @c発注数 <> 0 BEGIN
		--		SET @wエラー内容 = '在庫管理エラー'
		--		SET @wErrCNT = @wErrCNT +1
		--		--エラーの行番号を出力する
		--		SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
		--		GOTO TEMP_NOCONV
		--END
		--2021/05/27 在庫区分でなく、棚番Mに登録されてれば在庫管理するとする
		--棚番がないかつ、3150の場合エラー
		IF NOT EXISTS(SELECT  製品NO　FROM	TM棚番 WHERE 製品NO = @c製品NO AND 仕様NO = @c仕様NO AND @cPC区分 = '')
						AND (@c仕入先CD = '3150')--2024/02/07 ADD
						--AND (@c仕入先CD = '3150' AND @c配送先CD <> '02')--2024/02/07 DEL
						AND @c発注数 <> 0 
			BEGIN
				SET @wエラー内容 = '在庫管理エラー(棚番なし)'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
		END
		--2020/09/19 ADD↑
		
		--2020/10/20 ADD↓
		IF @i社内伝票扱い = 1 AND @c製品NO = ''  BEGIN
				SET @wエラー内容 = '在庫管理エラー'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
		END
		--2020/10/20 ADD↑
		--2020/10/20 ADD↓
		IF @i社内伝票扱い = 1 AND (@w在庫区分 = 1 AND @w費用区分 = 0)  BEGIN
			--在庫伝票で、部材で在庫管理しないものはエラー
				SET @wエラー内容 = '在庫管理エラー'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
		END
		--2020/10/20 ADD↑
		
		--2020/12/28 ADD↓
		IF (@c作業区分CD = 4 AND @c売上単価 <> 0 AND @c発注数 <> 0 ) BEGIN
			--クレームで売上単価が入っていたらエラー
				SET @wエラー内容 = 'クレーム区分エラー(売価)'
				SET @wErrCNT = @wErrCNT +1
				--エラーの行番号を出力する
				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
				GOTO TEMP_NOCONV
		END
		--2020/12/28 ADD↑
		------2024/05/30 ADD↓
		--施工・運搬費の入力で不具合発生する（逆の意味なので）
		----IF (@c作業区分CD = 1 AND @c仕入単価 <> 0 AND @c発注数 <> 0 AND @c仕入先CD <> '9999' ) BEGIN
		----	--クレームで売上単価が入っていたらエラー
		----		SET @wエラー内容 = '作業区分エラー(工事)'
		----		SET @wErrCNT = @wErrCNT +1
		----		--エラーの行番号を出力する
		----		SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
		----		GOTO TEMP_NOCONV
		----END
		------2024/05/30 ADD↑
		
ZAIKO_CHECK:
		--PRINT 'ZAIKO_CHECK'
		--------------------------------------------------
		--在庫のチェックを行ないます。(受注区分＝1:確定　在庫管理区分＝0:する)
		--------------------------------------------------
		--集計してからのほうがよい！！
--2009/09/26 DEL↓
-- 		IF @i受注区分 = 1  BEGIN
-- 			--社内在庫
-- /*			SELECT @wエラー内容 = CASE WHEN @c社内在庫数  > ISNULL(MSZ.現在庫数,0) THEN '社内在庫数が足りません。' ELSE '' END
-- 				FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
-- 					INNER JOIN (SELECT * FROM TM社内在庫) AS MSZ
-- 					ON MS.製品NO = MSZ.製品NO
-- 					AND MS.仕様NO = MSZ.仕様NO
-- 				WHERE MS.製品NO = @c製品NO
-- 				AND	MS.仕様NO = @c仕様NO
-- 				AND	@cPC区分 = ''
-- 				AND	@cSP区分 = ''
-- */			
-- 			SET @CDエラー内容 = ''		--2004/01/20 ADD
-- 			--前回が確定の場合、前回引き当てた数を足してから判断する。
-- 			SELECT @CDエラー内容 = CASE WHEN @c社内在庫数  > (ISNULL(SZ.現在庫数,0) + ISNULL(MTS.前回引当数,0)) THEN '社内在庫数が足りません。' ELSE '' END	 
-- 				FROM 
-- 					(SELECT MS.製品NO,MS.仕様NO,MSZ.現在庫数
-- 						FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
-- 							INNER JOIN (SELECT * FROM TM社内在庫) AS MSZ
-- 							ON MS.製品NO = MSZ.製品NO
-- 							AND MS.仕様NO = MSZ.仕様NO
-- 						WHERE MS.製品NO = @c製品NO
-- 						AND	MS.仕様NO = @c仕様NO
-- 						AND	@cPC区分 =	 ''
-- 						AND	@cSP区分 = '') AS SZ
-- 						LEFT JOIN 
-- 							(SELECT 製品NO,仕様NO,社内在庫数 AS 前回引当数
-- 								FROM TD見積シートM
-- 								WHERE 見積明細連番 = @c見積明細連番
-- 								AND	製品NO = @c製品NO
-- 								AND	仕様NO = @c仕様NO
-- 								AND	@cPC区分 = ''
-- 								AND	@cSP区分 = ''
-- 								AND	@Q受注区分 = 1) AS MTS
-- 						ON	SZ.製品NO = MTS.製品NO
-- 						AND	SZ.仕様NO = MTS.仕様NO
-- 			
-- 			IF @CDエラー内容 <> ''	BEGIN
-- 				SET @wErrCNT = @wErrCNT +1
-- 				SET @wエラー内容 = @CDエラー内容
-- 				--エラーの行番号を出力する
-- 				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
-- 				GOTO TEMP_NOCONV
-- 			END
-- 
-- 			--客先在庫
-- /*			SELECT @wエラー内容 = CASE WHEN @c客先在庫数  > ISNULL(MKZ.現在庫数,0) THEN '客先在庫数が足りません。' ELSE '' END
-- 				FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
-- 					INNER JOIN (SELECT * FROM TM客先在庫 WHERE 得意先CD = @i得意先CD) AS MKZ
-- 					ON MS.製品NO = MKZ.製品NO
-- 					AND MS.仕様NO = MKZ.仕様NO
-- 				WHERE MS.製品NO = @c製品NO
-- 				AND	MS.仕様NO = @c仕様NO
-- 				AND	@cPC区分 = ''
-- 				AND	@cSP区分 = ''
-- */
-- 			SET @CDエラー内容 = ''		--2004/01/20 ADD
-- 			SELECT @CDエラー内容 = CASE WHEN @c客先在庫数  > (ISNULL(SZ.現在庫数,0) + ISNULL(MTS.前回引当数,0))THEN '客先在庫数が足りません。' ELSE '' END
-- 				FROM 
-- 					(SELECT MS.製品NO,MS.仕様NO,MKZ.現在庫数
-- 						FROM (SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS MS
-- 							INNER JOIN (SELECT * FROM TM客先在庫 WHERE 得意先CD = @i得意先CD) AS MKZ
-- 							ON MS.製品NO = MKZ.製品NO
-- 							AND MS.仕様NO = MKZ.仕様NO
-- 						WHERE MS.製品NO = @c製品NO
-- 						AND	MS.仕様NO = @c仕様NO
-- 						AND	@cPC区分 = ''
-- 						AND	@cSP区分 = '') AS SZ
-- 						LEFT JOIN 
-- 							(SELECT 製品NO,仕様NO,客先在庫数 AS 前回引当数
-- 								FROM TD見積シートM
-- 								WHERE 見積明細連番 = @c見積明細連番
-- 								AND	製品NO = @c製品NO
-- 								AND	仕様NO = @c仕様NO
-- 								AND	@cPC区分 = ''
-- 								AND	@cSP区分 = ''
-- 								AND	@Q受注区分 = 1) AS MTS
-- 						ON	SZ.製品NO = MTS.製品NO
-- 						AND	SZ.仕様NO = MTS.仕様NO
-- 
-- 			IF @CDエラー内容 <> ''	BEGIN
-- 				SET @wErrCNT = @wErrCNT +1
-- 				SET @wエラー内容 = @CDエラー内容
-- 				--エラーの行番号を出力する
-- 				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)		--2005/03/26 ADD
-- 				GOTO TEMP_NOCONV
-- 			END
-- 		END
--2009/09/26 DEL↑ 

--2013/07/19 DEL↓
----2009/10/05 ADD↓
--		--SET @wエラー内容 = ''--2011/11/29 DEL　前のエラー内容を消していた！
--		--行番号のあっているデータのみチェック
--		--社内在庫数
--		IF EXISTS(SELECT * FROM #Tmp見積明細_集計 (NOLOCK) 
--					WHERE	製品NO = @c製品NO
--						AND	仕様NO = @c仕様NO
--						AND	最大社ERR行番号 = @c行番号
--						AND	NOT(社内在庫数FLG	= 0
--								AND	社内適正在庫数FLG	= 0
--								AND	客先在庫数FLG	= 0)
--			) BEGIN

--			--データ読み込み
--			SELECT	@wSY社内在庫数FLG = 社内在庫数FLG,
--					@wSY社内適正在庫数FLG = 社内適正在庫数FLG,
--  					@wSY客先在庫数FLG = 客先在庫数FLG,
--					@wSY件数 = 件数
--				FROM #Tmp見積明細_集計 (NOLOCK) 
--					WHERE	製品NO = @c製品NO
--						AND	仕様NO = @c仕様NO
--						AND	最大社ERR行番号 = @c行番号

--			--SET @wエラー内容 = ''--2011/11/29 DEL

--			IF (@wSY社内在庫数FLG = 1) BEGIN
--				SET @wエラー内容 = @wエラー内容 + '社内'
--			END
---- 			IF (@wSY社内適正在庫数FLG = 1) BEGIN
---- 				IF @wエラー内容 <> '' BEGIN
---- 					SET @wエラー内容 = @wエラー内容 + '/'
---- 				END
---- 				SET @wエラー内容 = @wエラー内容 + '適正'
---- 			END
---- 			IF (@wSY客先在庫数FLG = 1) BEGIN
---- 				IF @wエラー内容 <> '' BEGIN
---- 					SET @wエラー内容 = @wエラー内容 + '/'
---- 				END
---- 				SET @wエラー内容 = @wエラー内容 + '客先'
---- 			END

---- 			IF (@wSY社内在庫数FLG = 1) OR (@wSY社内適正在庫数FLG = 1) OR (@wSY客先在庫数FLG = 1) BEGIN
---- 			IF (@wSY社内在庫数FLG = 1) OR (@wSY客先在庫数FLG = 1) BEGIN
--			IF (@wSY社内在庫数FLG = 1)  BEGIN
--				--なにかしらのエラーがあった場合
--				SET @wエラー内容 = @wエラー内容 + '在庫エラー(' + LTRIM(STR(ISNULL(@wSY件数,''))) + '件)'
--				SET @wErrCNT = @wErrCNT +1
--				--エラーの行番号を出力する
--				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)
--				GOTO TEMP_NOCONV
--			END
--		END 

--		--客先在庫数
--		IF EXISTS(SELECT * FROM #Tmp見積明細_集計 (NOLOCK) 
--					WHERE	製品NO = @c製品NO
--						AND	仕様NO = @c仕様NO
--						AND	最大客ERR行番号 = @c行番号
--						AND	NOT(社内在庫数FLG	= 0
--								AND	社内適正在庫数FLG	= 0
--								AND	客先在庫数FLG	= 0)
--			) BEGIN

--			--データ読み込み
--			SELECT	--@wSY社内在庫数FLG = 社内在庫数FLG,
--					--@wSY社内適正在庫数FLG = 社内適正在庫数FLG,
--					@wSY客先在庫数FLG = 客先在庫数FLG,
--					@wSY件数 = 件数
--				FROM #Tmp見積明細_集計 (NOLOCK) 
--					WHERE	製品NO = @c製品NO
--						AND	仕様NO = @c仕様NO
--						AND	最大客ERR行番号 = @c行番号

--			--SET @wエラー内容 = ''--2011/11/29 DEL

---- 			IF (@wSY社内在庫数FLG = 1) BEGIN
---- 				SET @wエラー内容 = @wエラー内容 + '社内'
---- 			END
---- 			IF (@wSY社内適正在庫数FLG = 1) BEGIN
---- 				IF @wエラー内容 <> '' BEGIN
---- 					SET @wエラー内容 = @wエラー内容 + '/'
---- 				END
---- 				SET @wエラー内容 = @wエラー内容 + '適正'
---- 			END
--			IF (@wSY客先在庫数FLG = 1) BEGIN
---- 				IF @wエラー内容 <> '' BEGIN
---- 					SET @wエラー内容 = @wエラー内容 + '/'
---- 				END
--				SET @wエラー内容 = @wエラー内容 + '客先'
--			END

---- 			IF (@wSY社内在庫数FLG = 1) OR (@wSY社内適正在庫数FLG = 1) OR (@wSY客先在庫数FLG = 1) BEGIN
---- 			IF (@wSY社内在庫数FLG = 1) OR (@wSY客先在庫数FLG = 1) BEGIN
--			IF (@wSY客先在庫数FLG = 1) BEGIN
--				--なにかしらのエラーがあった場合
--				SET @wエラー内容 = @wエラー内容 + '在庫エラー(' + LTRIM(STR(ISNULL(@wSY件数,''))) + '件)'
--				SET @wErrCNT = @wErrCNT +1
--				--エラーの行番号を出力する
--				SET @wErr行番号 = @wErr行番号 +','+ STR(@c行番号)
--				GOTO TEMP_NOCONV
--			END
--		END

----2009/10/05 ADD↑
--2013/07/19 DEL↑

TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。
		--------------------------------------------------
		INSERT	#WkTbl
			(
			見積明細連番, 見積番号, 行番号, 追番, 見積区分,
			クレーム明細区分,--2016/06/22 ADD
			展開CHK, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 
			他社納品日付,--2015/09/29 ADD
			他社伝票番号,--2015/02/04 ADD
			漢字名称,
			W, D, H, D1, D2, H1, H2, 
			エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
			仕入金額, 売上金額, 売上税区分, 消費税額,
			仕入業者CD,  仕入業者名, --2017/05/14 ADD
			仕入先CD, 仕入先名, 
			作業区分CD,--2016/06/22 ADD
			配送先CD, 配送先名,
			明細備考,--入出庫日,--2018/05/03 ADD
			入庫日,出庫日,--2020/09/19 ADD
			追番R,--2019/12/12 ADD
			社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分,
			発注調整数,--2014/09/09 ADD
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
			社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/05 ADD
			)
		SELECT
			@c見積明細連番,@c見積番号, @c行番号,@c追番,@c見積区分,
			@cクレーム明細区分,--2016/06/22 ADD
			@c展開CHK,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,
			@c他社納品日付,--2015/09/29 ADD
			@c他社伝票番号,--2015/02/04 ADD
			@c漢字名称,
			@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
			@wエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
			@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
			@c仕入業者CD,@c仕入業者名, --2017/05/14 ADD
			@c仕入先CD,@c仕入先名,
			@c作業区分CD,--2016/06/22 ADD
			@c配送先CD,@c配送先名,
			@c明細備考,--@c入出庫日,--2018/05/03 ADD
			@c入庫日,@c出庫日,--2020/09/19 ADD
			@c追番R,--2019/12/12 ADD
			@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量, @c製品区分,
			@c発注調整数,--2014/09/09 ADD
			@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
			@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
			@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30,
			@wSY社内在庫数FLG, @wSY社内適正在庫数FLG, @wSY客先在庫数FLG	--2009/10/05 ADD

		SET @ST = @@ERROR	
		IF ( @ST <> 0 )	GOTO	EXIT_SP

--	END--WHILE

--		FETCH NEXT FROM /*GLOBAL*/ csr見積明細
--			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番
		FETCH NEXT FROM /*GLOBAL*/ csr見積明細
			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
					@c展開CHK,@c見積区分,
					@cクレーム明細区分,--2016/06/22 ADD
					@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,
					@c他社納品日付,--2015/09/29 ADD
					@c他社伝票番号,--2015/02/04 ADD
					@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
					@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
					@c仕入業者CD,@c仕入業者名, --2017/05/14 ADD
					@c仕入先CD,@c仕入先名,
					@c作業区分CD,--2016/06/22 ADD
					@c配送先CD,@c配送先名,
					@c明細備考,--@c入出庫日,--2018/-0/03 ADD
					@c入庫日,@c出庫日,--2020/09/19 ADD
					@c追番R,--2019/12/12 ADD
					@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
					@c発注調整数,--2014/09/09 ADD
					@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
					@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
					@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30
					,@c仕入済CNT,@c売上済CNT--2021/07/28 ADD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--  set @MSG = @MSG +' 明細LOOP_END'

	--PRINT 'GOTO FETCH_SP'
	GOTO FETCH_SP
SELECT_SP:
	IF @c見積区分 = 'A' BEGIN
		SET	@ST	= -1
		SET @MSG = '最後の行にコメントA・Sは入力できません。'
		GOTO EXIT_SP
	END

	--2015/07/17 ADD↓
	--------------------------------------------------
	--コメント行の仕入先等の更新
	--------------------------------------------------	
BEGIN TRY

 	UPDATE #WkTbl
		SET 仕入先CD = (SELECT TOP 1 仕入先CD FROM #WkTbl AS MSM1 
						WHERE MSM1.見積番号 = MSM.見積番号
						AND		MSM1.見積区分 NOT IN ('A','C','S')
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC) ,
			配送先CD = (SELECT TOP 1 配送先CD FROM #WkTbl AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						AND		MSM1.見積区分 NOT IN ('A','C','S')
						AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC)
		FROM		#WkTbl AS MSM 
		WHERE		見積区分 = 'A'

	SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP

	UPDATE #WkTbl
		SET 仕入先CD = (SELECT TOP 1 仕入先CD FROM #WkTbl AS MSM1 WHERE MSM1.見積番号 = MSM.見積番号
						AND		MSM1.見積区分 NOT IN ('A','C','S')
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC) ,
			配送先CD = (select top 1 配送先CD from #WkTbl as msm1 where MSM1.見積番号 = MSM.見積番号
						AND		MSM1.見積区分 NOT IN ('A','C','S')
						AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC)
		FROM		#WkTbl AS MSM 
		WHERE		(見積区分 = 'C'
			OR	見積区分 = 'S')

	SET	@ST = @@ERROR	 IF @ST<>0 GOTO	EXIT_SP
END TRY
BEGIN CATCH
		SET	@ST	= -1
		SET @MSG = 'コメント行A・C・Sで使用できない行があります。'
		GOTO EXIT_SP

END CATCH
	--2015/07/17 ADD↑	------------------------------------------------------------------------------------------------------------




	--PRINT 'SELECT_SP'
-- 	SELECT * FROM #WkTbl

	--2014/09/09 DEL↓
	------SELECT WK.*,@wErrCNT AS ErrCnt
	------	FROM #WkTbl AS WK
	------		ORDER BY WK.見積番号,WK.行番号
	--2014/09/09 DEL↑
	--2014/09/09 ADD↓
	--SELECT WK.*,@wErrCNT AS ErrCnt,仕入済数 = ISNULL(SRM.仕入済数,0)
	--	FROM #WkTbl AS WK
	--	LEFT JOIN   (
	--				SELECT 見積明細連番, 仕入済数 = SUM(仕入数量)
	--					FROM TD仕入明細内訳
	--                    GROUP BY 見積明細連番
	--				)AS SRM
	--				ON WK.見積明細連番 = SRM.見積明細連番
	--	ORDER BY WK.見積番号,WK.行番号

	--2014/11/03	ADD↓
	SELECT	WK.*,@wErrCNT AS ErrCnt,
			仕入済数 = ISNULL(SRM.仕入済数,0),
			仕入済CNT = ISNULL(SRM.仕入済CNT,0),--2018/06/19 ADD
			売上済CNT = ISNULL(UM.売上済CNT,0)
		FROM #WkTbl AS WK
		LEFT JOIN   (
					SELECT 見積明細連番, 仕入済数 = SUM(仕入数量),
							仕入済CNT = COUNT(見積明細連番)--2018/06/19 ADD
						FROM TD仕入明細内訳
	                    GROUP BY 見積明細連番
					)AS SRM
					ON WK.見積明細連番 = SRM.見積明細連番
		LEFT JOIN   (
					SELECT 見積明細連番, 売上済CNT = COUNT(見積明細連番)
						FROM TD売上明細V2
	                    GROUP BY 見積明細連番
					)AS UM
					ON WK.見積明細連番 = UM.見積明細連番
		ORDER BY WK.見積番号,WK.行番号
	--2014/11/03	ADD↑



	------SELECT WK.*,@wErrCNT AS ErrCnt,HCM.発注済数量
	------	FROM #WkTbl AS WK
	------	LEFT JOIN   (
	------				SELECT 見積明細連番, 発注済数量 = SUM(発注数量)
	------					FROM TD発注済明細
	------                    GROUP BY 見積明細連番
	------				)AS HCM
 ------                ON WK.見積明細連番 = HCM.見積明細連番
	------		ORDER BY WK.見積番号,WK.行番号
	--2014/09/09 ADD↑

--	DROP TABLE #WkTbl
EXIT_SP:
	--PRINT 'EXIT_SP'
-- 	IF( CURSOR_STATUS( 'GLOBAL', 'csr見積明細' ) >= 0 )	BEGIN
 	IF( CURSOR_STATUS( 'LOCAL', 'csr見積明細' ) >= 0 )	BEGIN
		CLOSE	csr見積明細
		DEALLOCATE	csr見積明細
	END
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST <> 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
