/****** Object:  StoredProcedure [dbo].[usp_TN0600担当者別社内在庫一覧表抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0600担当者別社内在庫一覧表抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0600担当者別社内在庫一覧表抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_TN0600担当者別社内在庫一覧表抽出

機能	指定された条件で担当者別社内在庫データを取得する

引数
	@i指定日付
	@i担当者CD
	@i開始製品NO
	@i開始仕様NO
	@i終了製品NO
	@i終了仕様NO
	@i抽出区分

戻り値	


※usp_TN1100社内在庫状況表示とほとんど同じ
*****************************************************
	2009/09/24	oosawa		受注区分を見積区分に変更
	2009/10/01	oosawa		適正在庫数を表示
						得意先'9999'は受注・売上にのせない。
	2009/12/08	oosawa		順番付けの追加
*****************************************************/
CREATE  PROCEDURE [dbo].[usp_TN0600担当者別社内在庫一覧表抽出]
	@i指定日付		DATETIME,
	@i担当者CD		SMALLINT,
	@i開始製品NO	CHAR(7),
	@i開始仕様NO	CHAR(7),
	@i終了製品NO	CHAR(7),
	@i終了仕様NO	CHAR(7),	
	@i抽出区分 		SMALLINT,
	@RetST		INT			OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME

	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別社内在庫
		WHERE 	
			担当者CD = @i担当者CD
		GROUP BY 	
			担当者CD
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


--2013/03/16 DEL↓
----	--------------
----	--データ抽出（すべて）
----	--------------
------ 	SELECT 	TZM.担当者CD, TZM.製品NO, TZM.仕様NO, 
----	SELECT 	TZM.担当者CD, TZM.行NO, TZM.製品NO, TZM.仕様NO, 		--2009/12/08 ADD
----			適正在庫数 = (ISNULL(TZM.適正在庫数,0)),
----			--予備在庫数 = (ISNULL(TZM.予備在庫数,0)),
----			--棚卸数 = (ISNULL(TANA.棚卸数,0)),
----			--仕入数 = (ISNULL(SIR.仕入数,0)),
----			--売上数 = (ISNULL(URI.売上数,0)), 
----			--移動受け数 = (ISNULL(UKE.移動受け数,0)),
----			--移動渡し数 = (ISNULL(WAT.移動渡し数,0)),
----			発注数 = (ISNULL(HC.発注数,0)),
----			受注数 = (ISNULL(JU.受注数,0)),
----			在庫残数 = ISNULL(TANA.棚卸数,0) - ISNULL(TZM.予備在庫数,0) 
----					+ ISNULL(SIR.仕入数,0) - ISNULL(URI.売上数,0) 
----					+ ISNULL(UKE.移動受け数,0) - ISNULL(WAT.移動渡し数,0),
----			合計在庫数 = (ISNULL(TANA.棚卸数,0) - ISNULL(TZM.予備在庫数,0) 
----						+ ISNULL(SIR.仕入数,0) - ISNULL(URI.売上数,0) 
----						+ ISNULL(UKE.移動受け数,0) - ISNULL(WAT.移動渡し数,0))
----					+ ISNULL(HC.発注数,0) 
----					- ISNULL(JU.受注数,0)
----		INTO
----			#wk_tmp
----		FROM
----			(
----			--------------
----			--担当者ごと予備在庫数
----			--------------
----			SELECT 	担当者CD, 製品NO, 仕様NO, 適正在庫数, 予備在庫数,
----					行NO								--2009/12/08 ADD 
----				FROM 	
----					TM社内在庫_担当者別
----				WHERE 	
----						担当者CD = @i担当者CD
----			) AS TZM

----		LEFT JOIN 
----			(
----			--------------
----			--棚卸数
----			--------------
----			SELECT 	担当者CD, 製品NO, 仕様NO, 棚卸数
----				FROM 	
----					TD棚卸_担当者別社内在庫
----				WHERE 	
----						担当者CD = @i担当者CD
----					AND 	棚卸日付 = @wk棚卸日付
		
----			) AS TANA
----			ON 	TZM.担当者CD = TANA.担当者CD AND TZM.製品NO = TANA.製品NO AND TZM.仕様NO = TANA.仕様NO

----		LEFT JOIN
----			(
----			----------------
----			-- 仕入数
----			----------------
----			SELECT 	SR.担当者CD, SRU.製品NO, SRU.仕様NO, 
----					SUM(SRU.仕入数量) AS 仕入数 
----				FROM 
----					TD仕入明細内訳 AS SRU
----				INNER JOIN 	
----					TD仕入 AS SR 
----					ON 	SR.仕入番号 = SRU.仕入番号 
----				INNER JOIN 	
----					TD仕入明細 AS SRM 
----					ON 	SRU.仕入番号 = SRM.仕入番号 
----					AND 	SRU.仕入先CD = SRM.仕入先CD
----					AND 	SRU.配送先CD = SRM.配送先CD
----					AND 	SRU.仕分番号 = SRM.仕分番号
----				WHERE 	
----						SRM.仕入日付 >= @wk棚卸日付
----					AND 	SRM.仕入日付 <= @i指定日付
----					AND 	SR.担当者CD = @i担当者CD
----				GROUP BY 	
----						SR.担当者CD, SRU.製品NO, SRU.仕様NO
----			) AS SIR
----			ON 	TZM.担当者CD = SIR.担当者CD AND TZM.製品NO = SIR.製品NO AND TZM.仕様NO = SIR.仕様NO

----		LEFT JOIN
----			(
----			----------------
----			-- 売上数
----			----------------
----			SELECT 	UR.担当者CD, URU.製品NO, URU.仕様NO, 
----					SUM(URU.売上数量) AS 売上数 
----				FROM 		
----					TD売上 AS UR
----				LEFT 	JOIN 	
----					TD売上明細内訳 AS URU 
----					ON 	UR.売上番号 = URU.売上番号
----				WHERE 	
----						UR.売上日付 >= @wk棚卸日付
----					AND 	UR.売上日付 <= @i指定日付
----					AND 	UR.担当者CD = @i担当者CD
----					AND	UR.得意先CD <> '9999'		--2009/10/01 ADD
----				GROUP BY 	
----						UR.担当者CD, URU.製品NO, URU.仕様NO
----			) AS URI
----			ON 	TZM.担当者CD = URI.担当者CD AND TZM.製品NO = URI.製品NO AND TZM.仕様NO = URI.仕様NO
			
----		LEFT JOIN
----			(
----			----------------
----			-- 移動受け数（プラス）
----			----------------
----			SELECT 	SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO,
----					SUM(SZM.数量) AS 移動受け数
----				FROM 
----					TD社内在庫移動 AS SZH
----				INNER JOIN
----					TD社内在庫移動明細 AS SZM 
----					ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
----				WHERE 
----						SZH.社内在庫移動日付 >= @wk棚卸日付
----					AND 	SZH.社内在庫移動日付 <= @i指定日付
----					AND 	SZH.社内在庫移動先担当者CD = @i担当者CD
----				GROUP BY
----						SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO
----			) AS UKE
----			ON 	TZM.担当者CD = UKE.社内在庫移動先担当者CD AND TZM.製品NO = UKE.製品NO AND TZM.仕様NO = UKE.仕様NO

----		LEFT JOIN
----			(					
----			----------------
----			-- 移動渡し数（マイナス）
----			----------------
----			SELECT 	SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO,
----					SUM(SZM.数量) AS 移動渡し数
----				FROM 	
----					TD社内在庫移動 AS SZH
----				INNER JOIN
----					TD社内在庫移動明細 AS SZM 
----					ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
----				WHERE 
----						SZH.社内在庫移動日付 >= @wk棚卸日付
----					AND 	SZH.社内在庫移動日付 <= @i指定日付
----					AND 	SZH.社内在庫移動元担当者CD = @i担当者CD
----				GROUP BY
----						SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO
----			) AS WAT
----			ON 	TZM.担当者CD = WAT.社内在庫移動元担当者CD AND TZM.製品NO = WAT.製品NO AND TZM.仕様NO = WAT.仕様NO

----		LEFT JOIN
----			(
----			----------------
----			-- 発注数
----			----------------
----				SELECT	HH.担当者CD, HM.製品NO, HM.仕様NO,
----						SUM(HM.発注数量) AS 発注数 
----					FROM 		
----						TD見積 AS MT
----					INNER JOIN  	
----						TD発注 AS HH
----						ON 	MT.見積番号 = HH.見積番号
----					INNER JOIN 	
----						TD発注明細 AS HM 
----						ON 	HH.発注番号 = HM.発注番号 
----						AND 	HH.仕入先CD = HM.仕入先CD
----						AND 	HH.配送先CD = HM.配送先CD
----						AND 	HH.仕分番号 = HM.仕分番号
----					WHERE 	
------ 							MT.受注区分	= 1
----							MT.見積区分	= 1
----						AND	MT.仕入日付	IS NULL
----						AND 	HH.納期 >= @wk棚卸日付
----						AND 	HH.納期 <= @i指定日付
----						AND 	HH.担当者CD = @i担当者CD
----				 	GROUP BY 	
----							HH.担当者CD, HM.製品NO, HM.仕様NO
----			) AS HC
----			ON 	TZM.担当者CD = HC.担当者CD AND TZM.製品NO = HC.製品NO AND TZM.仕様NO = HC.仕様NO

----		LEFT JOIN
----			(
----			----------------
----			-- 受注数
----			----------------
----			SELECT 	MT.担当者CD, MSM.製品NO, MSM.仕様NO,
----					SUM(MSM.見積数量) AS 受注数
----				FROM 		
----					TD見積 AS MT
----				LEFT 	JOIN 	
----					TD見積シートM AS MSM 
----					ON 	MT.見積番号 = MSM.見積番号
----				WHERE 	
------ 						MT.受注区分	= 1
----						MT.見積区分	= 1
----					AND	MT.売上日付	IS NULL
----					AND 	MT.売上納期	>= @wk棚卸日付
----					AND 	MT.売上納期 <= @i指定日付
----			    		AND 	MT.担当者CD = @i担当者CD
----					AND	MT.得意先CD <> '9999'		--2009/10/01 ADD
----				GROUP BY 	
----						MT.担当者CD, MSM.製品NO, MSM.仕様NO
----			) AS JU
----			ON 	TZM.担当者CD = JU.担当者CD AND TZM.製品NO = JU.製品NO AND TZM.仕様NO = JU.仕様NO

----		WHERE 	TZM.担当者CD = @i担当者CD
----			AND	TZM.製品NO + TZM.仕様NO >= COALESCE(@i開始製品NO,TZM.製品NO)+COALESCE(@i開始仕様NO,TZM.仕様NO)
----			AND	TZM.製品NO + TZM.仕様NO <= COALESCE(@i終了製品NO,TZM.製品NO)+COALESCE(@i終了仕様NO,TZM.仕様NO)
------ 		ORDER BY
------ 				TZM.製品NO, TZM.仕様NO
--2013/03/16 DEL↑

--2013/03/16 ADD↓
		SELECT	 
				ZK.担当者CD, ZK.行NO,
				ZK.製品NO, 
				ZK.仕様NO, 
				適正在庫数 = (ISNULL(ZK.適正在庫数,0)),
				--棚卸情報
				棚卸数 = ISNULL(TA.棚卸数,0)-ISNULL(ZK.予備在庫数,0),
				--受注情報
				社内在庫引当数 = ISNULL(JY.社内在庫数,0),
				--入庫数
				入庫数 = ISNULL(NK.入庫数,0),
				--出庫数
				出庫数 = ISNULL(SK.出庫数,0),
				--移動数
				移動入庫数 = ISNULL(INK.移動入庫数,0),
				移動出庫数 = ISNULL(ISK.移動出庫数,0),
				
				在庫残数 = ISNULL(TA.棚卸数,0)-ISNULL(ZK.予備在庫数,0)
						+ ISNULL(NK.入庫数,0)
						- ISNULL(SK.出庫数,0)
						+ ISNULL(INK.移動入庫数,0)
						- ISNULL(ISK.移動出庫数,0),

				合計在庫数 = ISNULL(TA.棚卸数,0)-ISNULL(ZK.予備在庫数,0)
						+ ISNULL(NK.入庫数,0)
						- ISNULL(SK.出庫数,0)
						+ ISNULL(INK.移動入庫数,0)
						- ISNULL(ISK.移動出庫数,0)
						- ISNULL(JY.社内在庫数,0)

			INTO
				#wk_tmp
			FROM (
				--------------
				--社内在庫マスタ
				--------------
				SELECT	ZK.担当者CD, ZK.製品NO, ZK.仕様NO, 
						ZK.適正在庫数, ZK.予備在庫数,
						ZK.行NO,					--2009/12/07 ADD,
						SE.漢字名称,SE.主仕入先CD,
						SE.W,SE.D,SE.H,SE.D1,SE.D2,SE.H1,SE.H2
					FROM	TM社内在庫_担当者別 AS ZK (NOLOCK)
						INNER JOIN TM製品 AS SE (NOLOCK)
							ON ZK.製品NO = SE.製品NO
							AND ZK.仕様NO = SE.仕様NO
					WHERE	担当者CD = @i担当者CD
				) AS ZK


			LEFT JOIN (
				--------------
				--棚卸数
				--------------
				SELECT	
						棚卸日付,担当者CD, 製品NO, 仕様NO, 棚卸数
					FROM
						TD棚卸_担当者別社内在庫 (NOLOCK)
					WHERE
							棚卸日付 = @wk棚卸日付
							--棚卸日付 < @i指定日付
						AND	担当者CD = @i担当者CD
						--AND	製品NO = COALESCE(@i製品NO,製品NO)
						--AND	仕様NO = COALESCE(@i仕様NO,仕様NO)
					) AS TA
						ON	ZK.担当者CD = TA.担当者CD
						AND	ZK.製品NO = TA.製品NO
						AND	ZK.仕様NO = TA.仕様NO
			LEFT JOIN (
				----------------
				-- 受注数集計
				----------------
				SELECT 	
						MT.担当者CD, 
						MSM.製品NO, MSM.仕様NO,
						SUM(ISNULL(MSM.社内在庫数,0)) AS 社内在庫数
					FROM
						(SELECT * FROM TD見積 AS MT(NOLOCK)
							WHERE	MT.見積区分	= 1			
		    				AND	MT.担当者CD = @i担当者CD
							AND	MT.得意先CD <> '9999'		
							AND	MT.売上納期	>= @wk棚卸日付
						) AS MT
					INNER 	JOIN 	
						TD見積シートM AS MSM (NOLOCK)
						ON 	MT.見積番号 = MSM.見積番号
					LEFT	JOIN
						TD出庫_担当者別社内在庫 AS SY (NOLOCK)
						ON	MT.見積番号 = SY.参照見積番号
					WHERE 	
						--AND	MT.売上日付	IS NULL		--売上がたってない物
							SY.出庫番号 IS NULL	--出庫データにないもの
						--AND	MT.売上納期 <= @i指定日付 --未来も含む
						--AND	MSM.製品NO = COALESCE(@i製品NO,製品NO)
						--AND	MSM.仕様NO = COALESCE(@i仕様NO,仕様NO)
						--AND MT.見積番号 = COALESCE(@i見積番号,MT.見積番号)
					GROUP BY
							MT.担当者CD, MSM.製品NO, MSM.仕様NO
					) AS JY
						ON	ZK.担当者CD = JY.担当者CD
						AND	ZK.製品NO = JY.製品NO
						AND	ZK.仕様NO = JY.仕様NO
			LEFT JOIN (
				----------------
				-- 入庫数
				----------------
				SELECT	NK.担当者CD, 
						NKM.製品NO, NKM.仕様NO, 
						SUM(ISNULL(NKM.入庫数量,0)) AS 入庫数
					FROM TD入庫_担当者別社内在庫 AS NK(NOLOCK)
						INNER JOIN TD入庫明細_担当者別社内在庫 AS NKM(NOLOCK)
						ON NK.入庫番号 = NKM.入庫番号
					WHERE 
							NK.入庫日付 >= @wk棚卸日付
						AND NK.入庫日付 <= @i指定日付
						AND NK.担当者CD = @i担当者CD
						--AND	NKM.製品NO = COALESCE(@i製品NO,NKM.製品NO)
						--AND	NKM.仕様NO = COALESCE(@i仕様NO,NKM.仕様NO)
					GROUP BY
							NK.担当者CD, NKM.製品NO, NKM.仕様NO
					) AS NK
						ON	ZK.担当者CD = NK.担当者CD
						AND	ZK.製品NO = NK.製品NO
						AND	ZK.仕様NO = NK.仕様NO
			LEFT JOIN (
				----------------
				-- 出庫数
				----------------
				SELECT	SK.担当者CD, 
						SKM.製品NO, SKM.仕様NO, 
						SUM(ISNULL(SKM.出庫数量,0)) AS 出庫数
					FROM TD出庫_担当者別社内在庫 AS SK(NOLOCK)
						INNER JOIN TD出庫明細_担当者別社内在庫 AS SKM(NOLOCK)
						ON SK.出庫番号 = SKM.出庫番号
					WHERE 
							SK.出庫日付 >= @wk棚卸日付
						AND SK.出庫日付 <= @i指定日付
						AND SK.担当者CD = @i担当者CD
						--AND	SKM.製品NO = COALESCE(@i製品NO,SKM.製品NO)
						--AND	SKM.仕様NO = COALESCE(@i仕様NO,SKM.仕様NO)
					GROUP BY
							SK.担当者CD, SKM.製品NO, SKM.仕様NO
					) AS SK
						ON	ZK.担当者CD = SK.担当者CD
						AND	ZK.製品NO = SK.製品NO
						AND	ZK.仕様NO = SK.仕様NO
			LEFT JOIN (
				----------------
				-- 移動入庫数
				----------------
				SELECT 	
				 		SZH.社内在庫移動先担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 移動入庫数
					FROM 
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @wk棚卸日付
						AND SZH.社内在庫移動日付 <= @i指定日付
						AND SZH.社内在庫移動先担当者CD = @i担当者CD
						--AND	SZM.製品NO = COALESCE(@i製品NO,SZM.製品NO)
						--AND	SZM.仕様NO = COALESCE(@i仕様NO,SZM.仕様NO)
					GROUP BY
							SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO
						) AS INK
							ON	ZK.担当者CD = INK.社内在庫移動先担当者CD
							AND	ZK.製品NO = INK.製品NO
							AND	ZK.仕様NO = INK.仕様NO
			LEFT JOIN (
				----------------
				-- 移動出庫数
				----------------
				SELECT	
				 		SZH.社内在庫移動元担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 移動出庫数
					FROM 	
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @wk棚卸日付
						AND SZH.社内在庫移動日付 <= @i指定日付
						AND SZH.社内在庫移動元担当者CD = @i担当者CD
						--AND	SZM.製品NO = COALESCE(@i製品NO,SZM.製品NO)
						--AND	SZM.仕様NO = COALESCE(@i仕様NO,SZM.仕様NO)
					GROUP BY
							SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO
					) AS ISK
						ON	ZK.担当者CD = ISK.社内在庫移動元担当者CD
						AND	ZK.製品NO = ISK.製品NO
						AND	ZK.仕様NO = ISK.仕様NO
			WHERE 	ZK.担当者CD = @i担当者CD
				AND	ZK.製品NO + ZK.仕様NO >= COALESCE(@i開始製品NO,ZK.製品NO)+COALESCE(@i開始仕様NO,ZK.仕様NO)
				AND	ZK.製品NO + ZK.仕様NO <= COALESCE(@i終了製品NO,ZK.製品NO)+COALESCE(@i終了仕様NO,ZK.仕様NO)
			ORDER BY
				ZK.行NO, ZK.製品NO, ZK.仕様NO
			OPTION(RECOMPILE)--速くなるおまじない

--2013/03/16 ADD↑


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	IF @i抽出区分 = 0 BEGIN
		--------------
		----付加情報を取得
		--------------
		SELECT 	D.担当者CD, TN.担当者名,
				D.製品NO, D.仕様NO, MS.漢字名称, MS.W, MS.D, MS.H, MS.D1, MS.D2, MS.H1, MS.H2,
				D.適正在庫数,		--2009/10/01 ADD
				--D.在庫残数, D.発注数, D.受注数, D.合計在庫数, D.適正在庫数
				D.在庫残数, D.社内在庫引当数, D.合計在庫数
			FROM
				#wk_tmp AS D
			LEFT JOIN 
				TM担当者 AS TN 
				ON D.担当者CD = TN.担当者CD
			LEFT JOIN
				TM製品 AS MS 
				ON D.製品NO = MS.製品NO
				AND D.仕様NO = MS.仕様NO
			ORDER BY
-- 				D.製品NO, D.仕様NO
				D.行NO, D.製品NO, D.仕様NO	--2009/12/08 ADD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END
	ELSE BEGIN
		--------------
		----適正在庫数割れのみを取得します
		----付加情報を取得
		--------------
		SELECT 	D.担当者CD, TN.担当者名,
				D.製品NO, D.仕様NO, MS.漢字名称, MS.W, MS.D, MS.H, MS.D1, MS.D2, MS.H1, MS.H2,
				D.適正在庫数,		--2009/10/01 ADD
				--D.在庫残数, D.発注数, D.受注数, D.合計在庫数, D.適正在庫数
				D.在庫残数, D.社内在庫引当数, D.合計在庫数
			FROM
				#wk_tmp AS D
			LEFT JOIN 
				TM担当者 AS TN
				ON D.担当者CD = TN.担当者CD
			LEFT JOIN
				TM製品 AS MS
				ON D.製品NO = MS.製品NO
				AND D.仕様NO = MS.仕様NO
			WHERE 
				D.合計在庫数 < D.適正在庫数
			ORDER BY
-- 				D.製品NO, D.仕様NO
				D.行NO, D.製品NO, D.仕様NO	--2009/12/08 ADD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END
	
EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST


GO
