/****** Object:  StoredProcedure [dbo].[usp_SH0300チーム別仕入先検収明細表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SH0300チーム別仕入先検収明細表]
GO
/****** Object:  StoredProcedure [dbo].[usp_SH0300チーム別仕入先検収明細表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SH0300チーム別仕入先検収明細表

機能	チーム毎仕入先毎の検収明細を作成する


引数

戻り値

修正履歴
	2015/06/16	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SH0300チーム別仕入先検収明細表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS仕入先CD		VARCHAR(4),
	@iE仕入先CD		VARCHAR(4),

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	---------------------------
	--得意先別請求金額一覧
	---------------------------
	SELECT	SM.仕入先CD, SR.略称, SM.仕入日付,
			SM.見積番号, MH.見積件名, MH.得意先名1, 
			SMU.製品NO, SMU.仕様NO, SMU.漢字名称,
			SMU.W, SMU.D, SMU.H, SMU.D1, SMU.D2, SMU.H1, SMU.H2,
			SMU.仕入数量, SMU.仕入単価, SMU.仕入金額

		FROM	TD仕入明細 AS SM
			INNER JOIN TD仕入明細内訳 AS SMU
				ON SM.仕入番号 = SMU.仕入番号
			INNER JOIN TD見積 AS MH
				ON SM.見積番号 = MH.見積番号
			INNER JOIN TM得意先 AS TK
				ON MH.販売先得意先CD = TK.得意先CD
			INNER JOIN TM仕入先 AS SR
				ON SM.仕入先CD = SR.仕入先CD
		WHERE	SM.支払日付 >= @iS集計日付
    		AND	SM.支払日付 <= @iE集計日付
			AND	SM.仕入先CD >= COALESCE(@iS仕入先CD,SM.仕入先CD)
			AND	SM.仕入先CD <= COALESCE(@iE仕入先CD,SM.仕入先CD)
		--AND NOT(MH.得意先CD = '3055')
		ORDER BY	SM.仕入先CD, SM.仕入日付, SM.見積番号, SMU.見積行番号	
	
	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
