/****** Object:  StoredProcedure [dbo].[usp_SE1600SM請求書発行_直納伝票]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE1600SM請求書発行_直納伝票]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE1600SM請求書発行_直納伝票]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE1600SM請求書発行_直納伝票

機能	請求されたしまむらグループを
		納品日付・納入先CD・他社伝票番号・見積番号で集計する
		ヘッダー部・ヘッダー内訳部・明細部の３データを作成
		
		伝票種類=2:直納伝票のみ

引数	

戻り値

修正履歴
	2015/10/08			新規作成
	2015/10/13			FAX発注書（消耗品）・FAX発注書（直納）を区分で追加
	2015/11/03	oosawa	コメント行・数量ゼロは集計対象外	
	2015/11/19	oosawa	SM内容区分追加（しまむら内の分割　0:なし 1:ﾃﾞｨﾊﾞﾛ 2:台湾しまむら 3:システム開発）
	2016/01/13	oosawa	送料のみ出力と送料以外出力を追加
	2016/03/27	oosawa	並び順区分追加
	2020/11/02	oosawa	送料のみ出力と送料以外出力を削除
	2021/07/01	oosawa	送料のみ出力と送料以外出力を復活！！！
	2021/07/08	oosawa	売上金額がゼロは出さない
	2022/12/12	oosawa	TM担当者がINNER JOINだったのでデータが持ってこれなかった
*****************************************************/
CREATE   PROCEDURE [dbo].[usp_SE1600SM請求書発行_直納伝票]
	(
		@iS請求日付			DATETIME,
		@iE請求日付			DATETIME,
		@i得意先CD			varchar(4),
		@i伝票種類			SMALLINT,--2015/10/13 ADD
		@iSM内容区分		SMALLINT,--2015/11/19 ADD
		@i請求書発行日付	DATETIME,
		@i送料区分			SMALLINT,--2016/01/13 ADD
		@i並び順区分		SMALLINT,--2016/03/27 ADD

		--OUTPUT
		@RetST				INT				OUTPUT,
		@RetMsg				VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT	ON

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''

	--SET	@iS集計日付 = '2015/08/21'
	--SET	@iE集計日付 = '2015/9/20'
	--SET	@i得意先CD = 3201

	--ワークテーブル作成
	CREATE TABLE #TMP 
		(
			他社納品日付	DATETIME,
			他社伝票番号	VARCHAR(10),
			納入先CD		VARCHAR(4),
			見積番号		INT,
			税抜金額		MONEY	DEFAULT(0)
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----------------------------------
	-- 	しまむら直納明細データ
	----------------------------------
	INSERT	INTO #TMP
			(	
				他社納品日付, 
				他社伝票番号,
				納入先CD, 
				見積番号,
				税抜金額
			)
		SELECT	
				MSM.他社納品日付,
				MSM.他社伝票番号,
				MH.納入先CD,
				管理番号 = UH.見積番号,
				税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
				--税抜金額 = SUM(USH.税抜金額),これだと多く集計される
				--外税額 = SUM(USH.外税額)
			FROM	TD売上V2 AS UH
				INNER JOIN TD売上明細V2 AS UM
					ON UH.売上番号 = UM.売上番号 
				LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
					ON UM.見積明細連番 = MSM.見積明細連番
				INNER JOIN	TD見積 AS MH
					ON UH.見積番号 = MH.見積番号
				INNER JOIN	TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				INNER JOIN	TM得意先 AS TK
					ON MH.得意先CD = TK.得意先CD
			WHERE	(USH.請求日付 >= @iS請求日付
				AND	USH.請求日付 <= @iE請求日付
				AND	MH.得意先CD = @i得意先CD
				--AND	MH.伝票種類 = 2--直納伝票
				AND	MH.伝票種類 = @i伝票種類--2015/10/13 ADD
				AND	MH.SM内容区分 = @iSM内容区分--2015/11/19 ADD
				AND	UM.伝票区分 NOT IN ('A','C','S')--2015/11/03 ADD
				AND UM.売上金額 <> 0--2021/07/08 ADD
				AND	UM.売上数量 <> 0)--2015/11/03 ADD
				--2021/07/01 ADD↓
				--2020/11/02 DEL↓
				--2016/01/13 ADD↓
				AND ((@i送料区分 = 1 AND UM.製品NO = 'Z012')
					OR
					(@i送料区分 = 0 AND NOT(UM.製品NO = 'Z012')))
				--2016/01/13 ADD↑
				--2020/11/02 DEL↑
				--2021/07/01 ADD↑
			GROUP BY	MSM.他社納品日付,
						MSM.他社伝票番号,
						MH.納入先CD,
						UH.見積番号
			ORDER BY	MSM.他社納品日付,
						MSM.他社伝票番号,
						MH.納入先CD,
						UH.見積番号
			--ORDER BY 
			--		CASE @i並び順
			--		   WHEN 0 THEN MW.他社伝票番号
			--		   WHEN 1 THEN CAST(MW.他社納品日付 AS VARCHAR)
			--		END ASC,
			--		CASE @i並び順
			--		   WHEN 0 THEN CAST(MW.他社納品日付 AS VARCHAR)
			--		   WHEN 1 THEN MW.他社伝票番号
			--		END ASC,
			--		MW.行番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----------------------------------
	-- 	合計計算
	----------------------------------
	DECLARE	@w請求合計額	MONEY
	
	SELECT @w請求合計額 = SUM(税抜金額)
		FROM #TMP

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	----------------------------------
	-- 	しまむら直納ヘッダーデータ
	----------------------------------
	SELECT	TK.得意先名1,TK.得意先名2,
			TK.担当者CD,
			
			合計金額 = @w請求合計額,
			外税額 = 0
		FROM TM得意先 AS TK
			----INNER JOIN TM担当者 AS TN--2022/12/12 DEL
			LEFT JOIN TM担当者 AS TN--2022/12/12 ADD
				ON TK.担当者CD = TN.担当者CD
				
		WHERE	TK.得意先CD = @i得意先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----------------------------------
	-- 	しまむら直納明細データ
	----------------------------------
	SELECT	*
		FROM	#TMP AS TMP
		----ORDER BY	TMP.他社納品日付,
		----			RIGHT('0000000000' + TMP.他社伝票番号,10),
		----			TMP.納入先CD,
		----			TMP.見積番号
		--2016/03/27 ADD↓
		ORDER BY
					CASE @i並び順区分
					   WHEN 0 THEN RIGHT('0000000000' + TMP.他社伝票番号,10)
					   WHEN 1 THEN CAST(TMP.他社納品日付 AS VARCHAR)
					END ASC,
					CASE @i並び順区分
					   WHEN 0 THEN CAST(TMP.他社納品日付 AS VARCHAR)
					   WHEN 1 THEN RIGHT('0000000000' + TMP.他社伝票番号,10)
					END ASC,
					TMP.納入先CD,
					TMP.見積番号
		--2016/03/27 ADD↑

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST
GO
