/****** Object:  StoredProcedure [dbo].[旧x_usp_HC0200受注明細票出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[旧x_usp_HC0200受注明細票出力]
GO
/****** Object:  StoredProcedure [dbo].[旧x_usp_HC0200受注明細票出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_HC0200受注明細票出力

機能	指定された条件で受注明細票データを取得する

引数	
	@i見積番号
	@i開始CD	(開始仕入先)
	@i終了CD	(終了仕入先)	

戻り値	

*****************************************************/
--修正履歴
--		2003/11/28	oosawa	見積区分出力追加
--		2004/02/14	oosawa	発注数の判断の変更
--
-----------------------------------------------------

CREATE  PROCEDURE [dbo].[旧x_usp_HC0200受注明細票出力]
	@i見積番号			INT,
	@i開始CD			VARCHAR(4),
	@i終了CD			VARCHAR(4),
	@RetST			INT			OUTPUT,
	@RetMsg			NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	DECLARE	@MAX仕分番号	INT
	DECLARE	@SQLMoto		VARCHAR(8000)
	DECLARE	@SQLFrom		VARCHAR(8000)
	DECLARE 	@SQLFields 		VARCHAR(8000)
	DECLARE	@SQLSelect		VARCHAR(8000)
	DECLARE	@SQLWhere		VARCHAR(8000)

	--カウント用
	DECLARE	@i			INT


--------------------------------------------------
	-- 仕分ＭＡＸ取得
--------------------------------------------------
	SELECT 	@MAX仕分番号 = MAX(仕分MAX.仕分番号)
	FROM
		(
		SELECT 	見積番号, 仕分番号, SUM(数量) AS 数量
			FROM 	TD見積シート内訳
			WHERE 	見積番号 = @i見積番号
			GROUP BY 	見積番号, 仕分番号
			HAVING 	(SUM(数量) <> 0)
		) AS 仕分MAX
		--ORDER BY 仕分番号
	
	--SELECT @MAX仕分番号 AS MAX

--------------------------------------------------
	-- 見出し用仕分名称
--------------------------------------------------

 	SELECT 	U.見積番号, U.仕分番号, ISNULL(UM.略称,'') AS 略称
 		FROM TD見積シート内訳 AS U 
 		INNER JOIN TD見積シートM AS MM ON MM.見積番号=U.見積番号
 		LEFT JOIN TD見積シート内訳名称 AS UM ON U.見積番号 = UM.見積番号 AND U.仕分番号 = UM.仕分番号
 		WHERE 	U.見積番号 = @i見積番号
 		AND		MM.仕入先CD>=COALESCE(@i開始CD,MM.仕入先CD)
 		AND		MM.仕入先CD<=COALESCE(@i終了CD,MM.仕入先CD)
 		GROUP BY 	U.見積番号, U.仕分番号, UM.略称
 		--HAVING 	(SUM(数量) <> 0)
 		HAVING 	U.仕分番号 <= @MAX仕分番号
 		ORDER BY U.仕分番号
 
 	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--シート内訳
	SET @i = 1
	SET @SQLFields = ''


	SET @SQLMoto=''
	SET @SQLMoto=	'SELECT	KS.仕入先件数,MS.見積番号,MS.見積日付,MS.納入先名1,MS.納入先名2,MS.仕入先CD,MS.略称 AS 仕入先名, MS.行番号,'
			+	'MS.見積区分,'			--2003/11/28 ADD
			+  	'MS.製品NO,MS.仕様NO,MS.漢字名称,MS.W, MS.D, MS.H, MS.D1,MS.D2, MS.H1, MS.H2, MS.仕入単価,'
  			+	'MS.発注数,MS.社内在庫数,MS.客先在庫数,MS.転用数,MS.総数量'

	WHILE (@i <= @MAX仕分番号)		BEGIN

		--カンマを付ける
		IF @SQLMoto <> "" BEGIN
			SET @SQLMoto = @SQLMoto + ','
		END

		IF @SQLFields <> "" BEGIN
			SET @SQLFields = @SQLFields + ','
		END
	
		SET @SQLMoto=@SQLMoto+' MS.仕分数' + LTRIM(STR(@i))
		SET @SQLFields = @SQLFields + ' MSM.仕分数' + LTRIM(STR(@i))
			
		SET @i = @i + 1
	END

	SET @SQLFrom=''
	SET @SQLFrom=	' FROM'
			+ 	' (SELECT 見積番号, 仕入先CD, Count(行番号) AS 仕入先件数 '
			+ 	' FROM TD見積シートM AS MSM '
			+	' WHERE '
			+	'	(SELECT  TOP 1 発注数 '
			+ 	' 		FROM TD見積シートM AS MSM1'
			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
			+ 	' 				AND 	MSM1.見積区分 = '''''
			+	' 				AND 	MSM1.行番号 <= MSM.行番号'
			+ 	' 				ORDER BY MSM1.行番号 DESC'
--			+	') > 0'
			+	') <> 0'		--2003/02/14
--			+	' WHERE	発注数 > 0'
-- 			+	' WHERE 	NOT(総数量 = 0 '
-- 			+ 	' AND       社内在庫数 = 0 ' 
-- 			+ 	' AND       客先在庫数 = 0 '
-- 			+ 	' AND       転用数 = 0) ' 
			+ 	' AND 	見積番号 	=  ' 	+ CONVERT(VARCHAR(7),@i見積番号) 
 			+	' AND	仕入先CD	>= '	+ COALESCE('''' + @i開始CD + '''','仕入先CD')
 			+	' AND	仕入先CD	<= '	+ COALESCE('''' + @i終了CD + '''' ,'仕入先CD')
			/*+	' AND	仕入先CD	>= '	+ COALESCE(@i開始CD ,'仕入先CD') 
 			+	' AND	仕入先CD	<= '	+ COALESCE(@i終了CD ,'仕入先CD')*/
			+	' GROUP BY 見積番号, 仕入先CD) AS KS '

	SET @SQLSelect = ''
	SET @SQLSelect='SELECT	MH.見積番号,MH.見積日付,MH.納入先名1,MH.納入先名2,'
			+ 'MSM.仕入先CD,SRM.略称, '
			+ 'MSM.見積区分,'										--2003/11/28 ADD
			+ 'MSM.行番号,MSM.製品NO,MSM.仕様NO,MSM.漢字名称,'
			+ 'MSM.W, MSM.D, MSM.H, MSM.D1,MSM.D2, MSM.H1, MSM.H2, '
			+ 'MSM.仕入単価,MSM.発注数,MSM.社内在庫数,MSM.客先在庫数,MSM.転用数,MSM.総数量 '

	SET @SQLWhere = ''
	SET @SQLWhere= ' FROM TD見積 AS MH'
			+ ' INNER JOIN VD見積シートM AS MSM ON MH.見積番号 = MSM.見積番号 '
	 		+ ' LEFT JOIN TM仕入先 AS SRM ON MSM.仕入先CD = SRM.仕入先CD '
			+	' WHERE '
			+	'	(SELECT  TOP 1 発注数 '
			+ 	' 		FROM TD見積シートM AS MSM1'
			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
			+ 	' 				AND 	MSM1.見積区分 = '''''
			+	' 				AND 	MSM1.行番号 <= MSM.行番号'
			+ 	' 				ORDER BY MSM1.行番号 DESC'
			--+	') > 0'
			+	') <> 0'		--2003/12/08
--		+ ' WHERE	MSM.発注数 > 0'
-- 		+ ' WHERE 	NOT(MSM.総数量 = 0'
-- 		+ ' AND	MSM.社内在庫数 = 0'
-- 		+ ' AND	MSM.客先在庫数 = 0'
-- 		+ ' AND	MSM.転用数 = 0)'
 		+ ' AND 	MH.見積番号 =  '	+	CONVERT(VARCHAR(7),@i見積番号)
-- 		+ ' AND	MSM.仕入先CD	>= '	+ COALESCE('''' + @i開始CD + '''','MSM.仕入先CD') 
--  		+ ' AND	MSM.仕入先CD	<= '	+ COALESCE('''' + @i終了CD + '''','MSM.仕入先CD')
 			+	' AND	MSM.仕入先CD	>= '	+ COALESCE('''' + @i開始CD + '''' ,'MSM.仕入先CD')
 			+	' AND	MSM.仕入先CD	<= '	+ COALESCE('''' + @i終了CD + '''' ,'MSM.仕入先CD')
		/*+ ' AND	MSM.仕入先CD	>= '	+ COALESCE(@i開始CD,'MSM.仕入先CD') 
 		+ ' AND	MSM.仕入先CD	<= '	+ COALESCE(@i終了CD,'MSM.仕入先CD')*/
		+ ' ) AS MS ON KS.見積番号 = MS.見積番号 AND KS.仕入先CD=MS.仕入先CD '
	
--------------------------------------------------
	-- 受注明細票用データ取得
--------------------------------------------------
	
/*EXEC(	'SELECT	MH.見積番号,MH.見積日付,MH.納入先名1,MH.納入先名2,'
			+ 'MSM.仕入先CD,SRM.略称, '
			+ 'MSM.行番号,MSM.製品NO,MSM.仕様NO,MSM.漢字名称,'
			+ 'MSM.W, MSM.D, MSM.H, MSM.D1,MSM.D2, MSM.H1, MSM.H2, '
			+ 'MSM.仕入単価,MSM.発注数,MSM.社内在庫数,MSM.客先在庫数,MSM.転用数,MSM.総数量,'
			+ @SQLFields
		+ ' FROM TD見積 AS MH'
			+ ' INNER JOIN VD見積シートM AS MSM ON MH.見積番号 = MSM.見積番号 '
	 		+ ' LEFT JOIN TM仕入先 AS SRM ON MSM.仕入先CD = SRM.仕入先CD '
		+ ' WHERE 	NOT(MSM.総数量 = 0'
		+ ' AND	MSM.社内在庫数 = 0'
		+ ' AND	MSM.客先在庫数 = 0'
		+ ' AND	MSM.転用数 = 0)'
 		+ ' AND 	MH.見積番号 =  '	+	@i見積番号
		+ ' AND	MSM.仕入先CD	>= '	+	'COALESCE(' + @i開始CD +',MSM.仕入先CD)'
		+ ' AND	MSM.仕入先CD	<= '	+	'COALESCE(' + @i終了CD +',MSM.仕入先CD)'
		+ ' ORDER BY MSM.仕入先CD,MH.見積番号,MSM.行番号'
		)*/

	--PRINT @SQLSELECT
	IF @SQLFields<>"" BEGIN
		SET @SQLSelect=@SQLSelect + ', ' 
	END 
	print @SqlMoto + @SQLFrom+ 'INNER JOIN (' + @SQLSelect+@SQLFields+@SQLWhere+' ORDER BY MS.仕入先CD,MS.見積番号,MS.行番号'

	EXECUTE (@SqlMoto + @SQLFrom+ 'INNER JOIN (' + @SQLSelect+@SQLFields+@SQLWhere+' ORDER BY MS.仕入先CD,MS.見積番号,MS.行番号')

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
