/****** Object:  StoredProcedure [dbo].[usp_HJ0200BackUp]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HJ0200BackUp]
GO
/****** Object:  StoredProcedure [dbo].[usp_HJ0200BackUp]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_HJ0200BackUp

機能	データベースのバックアップ処理を行なう

引数	

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_HJ0200BackUp]
	@RetST		INT			OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
/*
バックアップ処理
	バックアップ対象
		master
		SanwaSDB
		SanwaSDB_log

	@DBNAME	データベース名を指定する
	@BKPATH	バックアップデバイスのフルパスを指定する

*/
	SET NOCOUNT ON
	
	--ｽﾃｰﾀｽ
	DECLARE	@ST	INT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	--変数
	DECLARE	@DBNAME	VARCHAR(8000),
			@BKPATH	VARCHAR(8000)

	SET @DBNAME = 'SanwaSDB'
	--フォルダがない場合エラーになる
	SET @BKPATH = '\\.\Tape0'

	DECLARE	@SQL	VARCHAR(8000)

	--データベース(SanwaSDB)のチェック
	dbcc checkdb ('SanwaSDB') with NO_INFOMSGS  
	SET @ST = @@ERROR
	IF @ST <> 0  BEGIN
		SET @MSG = 'データベース(SanwaSDB)にエラーが存在します。'
		GOTO EXIT_SP
	END

	--masterデータベースバックアップ
	SET @SQL ='BACKUP DATABASE master
			TO TAPE = N'''+@BKPATH +/*'master.bak'*/'''
			WITH
			NOFORMAT, 
			NOINIT,
			SKIP,
			NOUNLOAD,
			STATS = 10,
			NAME =''masterバックアップ'',
			MEDIANAME = ''masterBackUp'',
			MEDIADESCRIPTION = ''masterバックアップ'''
	PRINT @SQL

	EXECUTE (@SQL)
	SET @ST = @@ERROR
	IF @ST <> 0  BEGIN
		SET @MSG = 'データベース(master)バックアップできませんでした。'
		GOTO EXIT_SP
	END

	--フルバックアップ
	SET @SQL ='BACKUP DATABASE '+ @DBNAME + '
			TO TAPE = N'''+@BKPATH +/*@DBNAME +
			CONVERT(CHAR(8),GETDATE(),112)+
			RIGHT('00'+CONVERT(VARCHAR(2),DATEPART(HOUR,GETDATE())),2)+
			RIGHT('00'+CONVERT(VARCHAR(2),DATEPART(MINUTE,GETDATE())),2)+'.BAK'*/'''
			WITH 
			NOFORMAT,
			NOINIT,
			SKIP,
			NOUNLOAD,
			STATS = 10,
			NAME ='''+ @DBNAME + 'バックアップ'',
			MEDIANAME = '''+ @DBNAME +'BackUp'',
			MEDIADESCRIPTION = '''+ @DBNAME +'バックアップ'''
	PRINT @SQL

	EXECUTE (@SQL)
	SET @ST = @@ERROR
	--PRINT 'ST = ' + STR(@ST)
	IF @ST <> 0  BEGIN
		SET @MSG = 'データベース('+@DBNAME+')バックアップできませんでした。'
		GOTO EXIT_SP
	END

	--ログバックアップ
	SET @SQL ='BACKUP LOG '+ @DBNAME + '
			TO TAPE = N'''+@BKPATH +/*@DBNAME +
			CONVERT(CHAR(8),GETDATE(),112)+
			RIGHT('00'+CONVERT(VARCHAR(2),DATEPART(HOUR,GETDATE())),2)+
			RIGHT('00'+CONVERT(VARCHAR(2),DATEPART(MINUTE,GETDATE())),2)+'_LOG.BAK'*/'''
			WITH 
			NOFORMAT,
			NOINIT,
			SKIP,
			NOUNLOAD,
			STATS = 10,
			NAME ='''+ @DBNAME + '_LOGバックアップ'',
			MEDIANAME = '''+ @DBNAME +'_LOGBackUp'',
			MEDIADESCRIPTION = '''+ @DBNAME +'_LOGバックアップ'''
	PRINT @SQL

	EXECUTE (@SQL)
	SET @ST = @@ERROR
	--PRINT 'ST = ' + STR(@ST)
	IF @ST <> 0  BEGIN
		SET @MSG = 'データベース('+@DBNAME+'_LOG)バックアップできませんでした。'
		GOTO EXIT_SP
	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = 'バックアップが完了しました。'
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST





GO
