/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor納入先]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor納入先]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor納入先]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_ChkDelFor納入先

機能	納入先マスタメンテ[削除]のデータ存在チェック

	見積Ｄ・発注Ｄ・仕入Ｄ・売上Ｄ

引数	得意先CD・納入先CD

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor納入先]
	(
		@i得意先CD	VARCHAR(4),
		@i納入先CD	VARCHAR(4),
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--見積Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号)
		FROM 		TD見積
		WHERE	(納入得意先CD = @i得意先CD)
			AND 	(納入先CD = @i納入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[見積データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

/*2003.12.05.DEL
	--------------------------
	--発注Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(発注番号)
		FROM 		TD発注
		WHERE	(納入得意先CD = @i得意先CD)
			AND 	(納入先CD = @i納入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[発注データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
*/
	--------------------------
	--仕入Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入番号)
		FROM 		TD仕入
		WHERE	(納入得意先CD = @i得意先CD)
			AND 	(納入先CD = @i納入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

	--------------------------
	--売上Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(売上番号)
		FROM 		TD売上v2
			INNER JOIN TD見積
				ON TD売上v2.見積番号 = TD見積.見積番号
		WHERE	(納入得意先CD = @i得意先CD)
			AND 	(納入先CD = @i納入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[売上データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST

GO
