/****** Object:  StoredProcedure [dbo].[usp_ND0200入金日計表抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ND0200入金日計表抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_ND0200入金日計表抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/*****************************************************

名称	usp_ND0200入金日計表抽出

機能	指定された条件で期首年月日以降の入金区分別の累計金額を取得する

引数
	@iSDATE
	@iFDATE
	@iSTOKUI
	@iFTOKUI

戻り値	
	
*****************************************************/
CREATE PROCEDURE [dbo].[usp_ND0200入金日計表抽出]
	@iSDATE		DATETIME,
	@iFDATE		DATETIME,
	@iSTOKUI		VARCHAR(4),
	@iFTOKUI		VARCHAR(4),
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@期首月	SMALLINT,
			@締日		SMALLINT

	--月保持
	DECLARE	@DATE1		DATETIME,
			@DATE2		DATETIME

	DECLARE 	@ST	INT,
			@FLG	SMALLINT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	--会社の期首月を取得します
	SELECT	@期首月 	= 	期首月,
			@締日		=	締日
		 FROM TM会社
	
	IF @期首月 IS NULL	BEGIN
		SET	@ST = -1
		RAISERROR('会社の期首月が未定義です。 ', 16, 1)
		GOTO	EXIT_SP
	END

	--入力終了日付より期首年月日を求めます
	IF	@締日		=	99		BEGIN
		SET	@DATE1	=	DATEADD(DAY,-1,DATEADD(MONTH,1,CONVERT(DATETIME,STR(DATEPART(YEAR,@iFDATE))+ '/' + STR(@期首月) +'/1',111)))
	END ELSE BEGIN
		SET	@DATE1	=	DATEADD(DAY,1,CONVERT(DATETIME,STR(DATEPART(YEAR,@iFDATE))+ '/' + STR(@期首月) +'/' + STR(@締日),111))
	END
	
	IF	(@DATE1	>	@iFDATE)	BEGIN
		SET	@DATE1	=	DATEADD(YEAR,-1,@DATE1)
	END 

	SET	@DATE2	=	DATEADD(DAY,1,@iFDATE)

	-- 入金区分合計を算出します
	SELECT	NK.入金区分CD,NK.入金区分名,NK.入金種別,ISNULL(ND.入金日計,0) AS 入金日計,ISNULL(NR.入金累計,0) AS 入金累計
		FROM	TM入金区分 AS	NK
		LEFT	JOIN	(SELECT 入金区分CD,SUM(入金金額)  AS 入金日計	
					FROM	TD入金
					WHERE	入金日付	>=	@iSDATE
					    AND	入金日付	<	@DATE2
					    AND	得意先CD	>=	COALESCE(@iSTOKUI,得意先CD)
					    AND	得意先CD	<=	COALESCE(@iFTOKUI,得意先CD)
					GROUP	BY	入金区分CD)	AS	ND	ON	NK.入金区分CD	=	ND.入金区分CD
		LEFT	JOIN	(SELECT 入金区分CD,SUM(入金金額)  AS 入金累計	
					FROM	TD入金
					WHERE	入金日付	>=	@DATE1
					    AND	入金日付	<	@DATE2
					    AND	得意先CD	>=	COALESCE(@iSTOKUI,得意先CD)
					    AND	得意先CD	<=	COALESCE(@iFTOKUI,得意先CD)
					GROUP	BY	入金区分CD)	AS	NR	ON	NK.入金区分CD	=	NR.入金区分CD
		ORDER	BY	NK.入金区分CD

EXIT_SP:
	--DROP TABLE #WKTBL
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END


	RETURN @ST

GO
