/****** Object:  StoredProcedure [dbo].[usp_TN2601チーム別入出庫抽出v2_詳細]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2601チーム別入出庫抽出v2_詳細]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2601チーム別入出庫抽出v2_詳細]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_TN2601チーム別入出庫抽出_詳細

機能	チーム別製品の
		入出庫を作成する


引数

戻り値

修正履歴
	2017/01/17	新規作成
	2017/02/16	oosawa	製品Mの在庫対象区分で対象抽出
	2020/09/19	oosawa	入出庫日を入庫日・出庫日に分割
	2020/10/08	oosawa	出荷時9999も出す
	2021/07/15	oosawa	出荷時9999出さない
	2022/09/09	oosawa	得意先別に変更
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN2601チーム別入出庫抽出v2_詳細]
	@i指定日付		DATETIME,
	--@iS集計日付		DATETIME,
	--@iE集計日付		DATETIME,
	--@iチームCD		INT,
	@i得意先CD		VARCHAR(4),
	@i製品NO		VARCHAR(12),
	@i仕様NO		VARCHAR(10),
	--@i仕入先CD		VARCHAR(4),
	@iKEYCODE		VARCHAR(40),

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE		@NCNT	INT,
				@SCNT	INT
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''
	SET	@NCNT	=	0
	SET	@SCNT	=	0

--SET	@i指定日付 = '2018-06-10';
--SET @i製品NO = '0000123'
--SET @i仕様NO = ''
----SET @iKEYCODE = 'CW-0611N-W 忘れ物用ｷｬﾋﾞﾈｯﾄ（3段庫）'
--SET @iKEYCODE = '0000123'

	--棚卸ワークテーブル作成
	CREATE TABLE #TMP_TANA
		(
			棚卸日付		DATETIME,
			--チームCD		INT		NOT NULL,
			得意先CD		VARCHAR(4),
			KEYCODE			VARCHAR(40),
			製品NO			CHAR(12),
			仕様NO			CHAR(10),
			漢字名称		VARCHAR(40),
			--仕入先CD		VARCHAR(4),

			棚卸金額		MONEY	DEFAULT(0),
			
			前回棚卸数		MONEY	DEFAULT(0)

		) ON [PRIMARY]

	-------------------------------------------------
	--棚卸　集計
	-------------------------------------------------
	INSERT	INTO #TMP_TANA
			(
				棚卸日付,
				--チームCD,
				得意先CD,
				KEYCODE,
				--摘要名,
				製品NO,
				仕様NO,
				漢字名称,
				--仕入先CD,
				--現在庫数,
				--棚卸数
				前回棚卸数,
				棚卸金額
					
			)
			--最終棚卸日付取得
			SELECT	TS.棚卸日付, 
					--TS.チームCD,
					TS.得意先CD,
					KEYCODE = CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END,
					TSM.製品NO, TSM.仕様NO,
					漢字名称 = MAX(TSM.漢字名称), 
					棚卸数量 = SUM(TSM.棚卸数量),
					棚卸金額 = SUM(TSM.棚卸数量*TSM.棚卸単価)
				FROM	TD個別棚卸 AS TS
					INNER JOIN	TD個別棚卸明細 AS TSM
						ON TS.棚卸番号 = TSM.棚卸番号
					INNER JOIN (
						SELECT	--TH2.チームCD,
								TH2.得意先CD,
								KEYCODE = CASE WHEN TM2.製品NO='' THEN TM2.漢字名称 ELSE TM2.製品NO END,
								製品NO,仕様NO,--漢字名称,
								棚卸日付 = MAX(棚卸日付)
							FROM TD個別棚卸 AS TH2
								INNER JOIN	TD個別棚卸明細 AS TM2
									ON TH2.棚卸番号 = TM2.棚卸番号
							WHERE
									TH2.棚卸日付 <= @i指定日付
							--GROUP BY チームCD,(CASE WHEN TM2.製品NO='' THEN TM2.漢字名称 ELSE TM2.製品NO END),製品NO,仕様NO--,漢字名称
							GROUP BY 得意先CD,(CASE WHEN TM2.製品NO='' THEN TM2.漢字名称 ELSE TM2.製品NO END),製品NO,仕様NO--,漢字名称
						) AS MAXDATE
							ON	TSM.製品NO = MAXDATE.製品NO
							AND	TSM.仕様NO = MAXDATE.仕様NO
							--AND	TSM.漢字名称 = MAXDATE.漢字名称
							AND (CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END) = MAXDATE.KEYCODE
							AND	TS.棚卸日付 = MAXDATE.棚卸日付
							--AND	TS.チームCD = MAXDATE.チームCD
							AND TS.得意先CD = MAXDATE.得意先CD--2022/09/09
				--GROUP BY TS.棚卸日付, TS.チームCD, (CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END),TSM.製品NO, TSM.仕様NO
				GROUP BY TS.棚卸日付, TS.得意先CD, (CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END),TSM.製品NO, TSM.仕様NO

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--select * from #TMP_TANA
	------------
	--入出庫
	------------
	SELECT	日付 = A.仕入日付,番号 = A.見積番号,件名 = A.見積件名,
			棚卸日付,
			行NO = A.見積行番号,
			仕入先CD = A.仕入先CD,
			仕入先略称 = A.略称,
			配送先名 = A.配送先名,--2018/10/17 ADD
			KEYCODE,
			製品NO,仕様NO,
			漢字名称,
			単価 = A.仕入単価,
			入予数 = A.入荷予定数,
			入庫数 = A.入庫数,
			出予数 = A.出荷予定数,
			出庫数 = A.出庫数,
			金額 = A.入庫金額
		FROM (

				--入荷予定データ
				SELECT 	--仕入日付 = MSM.入出庫日,
						仕入日付 = MSM.入庫日,--2020/09/19 ADD
						MH.見積番号,MH.見積件名,
						TANA.棚卸日付,
						--TK.チームCD,
						見積行番号 = MSM.行番号,
						--MSM.見積明細連番,
						--MH.見積日付,
						
						MSM.仕入先CD,
						SI.略称,
						MSM.配送先名,--2018/10/17 ADD
						--SE.入出庫用CD,
						KEYCODE = CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END,
						MSM.製品NO,MSM.仕様NO,
						漢字名称 = MSM.漢字名称,
						--MSM.発注数,
						MSM.仕入単価,
						入荷予定数 = (MSM.発注数-ISNULL(SMU.仕入数量,0)),
						入庫数 = NULL,
						出荷予定数 = NULL,
						出庫数 = NULL,
						入庫金額 = dbo.fn_CutFraction(SI.仕入端数,(MSM.発注数-ISNULL(SMU.仕入数量,0)) * MSM.仕入単価,0)
					FROM TD見積 AS MH (NOLOCK)
						INNER JOIN VD見積シートM AS MSM(NOLOCK)
							ON MH.見積番号 = MSM.見積番号
						INNER JOIN TM得意先 AS TK(NOLOCK)
							ON MH.販売先得意先CD = TK.得意先CD
						LEFT JOIN #TMP_TANA AS TANA(NOLOCK)
							ON	MSM.製品NO = TANA.製品NO
							AND	MSM.仕様NO = TANA.仕様NO
							--AND MSM.漢字名称 = TANA.漢字名称
							AND (CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END) = TANA.KEYCODE
							--AND TK.チームCD = TANA.チームCD
							AND MH.集計CD = TANA.得意先CD--2022/09/09
						LEFT JOIN (SELECT 見積明細連番,仕入数量 = SUM(仕入数量)
										FROM TD仕入明細内訳(NOLOCK)
										GROUP BY 見積明細連番
								) AS SMU
							ON MSM.見積明細連番 = SMU.見積明細連番
						LEFT JOIN TM仕入先 AS SI(NOLOCK)
							ON MSM.仕入先CD = SI.仕入先CD
					WHERE 	/*MSM.見積番号 = @i見積番号
						AND*/ MH.社内伝票扱い = 1
						AND	MH.受注区分 = 1
						AND	MSM.見積区分 NOT IN ('A','C','S')
						AND	MSM.発注数 <> 0
						AND	(MSM.発注数-ISNULL(SMU.仕入数量,0)) <> 0--返品が出ないので<> 
						--AND	MSM.入出庫日 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
						AND	MSM.入庫日 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)--2020/09/19 ADD
						--AND	MSM.入出庫日 IS NOT NULL
						AND	MSM.入庫日 IS NOT NULL--2020/09/19 ADD
						AND	MSM.製品NO = @i製品NO
						AND MSM.仕様NO = @i仕様NO
						AND (CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END)=@iKEYCODE
						--AND TK.チームCD = @iチームCD
						AND	MH.集計CD = @i得意先CD--2022/09/09
						--AND MSM.入出庫日 >= COALESCE(@iS入荷日付,MSM.入出庫日)
						--AND MSM.入出庫日 <= COALESCE(@iE入荷日付,MSM.入出庫日)
						--AND SMU.見積明細連番 IS NULL --仕入がおきていない--おきてても一部仕入はださないとダメ
						--AND	MSM.仕入先CD >= COALESCE(@iS仕入先CD,MSM.仕入先CD)
						--AND	MSM.仕入先CD <= COALESCE(@iE仕入先CD,MSM.仕入先CD)
						--AND MSM.見積番号 >= COALESCE(@iS見積番号,MSM.見積番号)
						--AND MSM.見積番号 <= COALESCE(@iE見積番号,MSM.見積番号)
					--ORDER BY MSM.入出庫日,MH.見積番号,MSM.仕入先CD
				UNION ALL
					--出荷予定データ
					SELECT 	--仕入日付 = MSM.入出庫日,
							仕入日付 = MSM.出庫日,--2020/09/19 ADD
							MH.見積番号,MH.見積件名,
							TANA.棚卸日付,
							MSM.行番号,
							MSM.仕入先CD,
							SI.略称,
							MSM.配送先名,--2018/10/17 ADD
							--TANA.棚卸日付,
							--MSM.見積明細連番,
							--MH.見積日付,
							--納入先CD = MH.販売先納得意先CD + '-' + MH.販売先納入先CD,
							--MSM.配送先CD,
							--MSM.配送先名,
							--SE.入出庫用CD,
							KEYCODE = CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END,
							MSM.製品NO,MSM.仕様NO,
							漢字名称 = MSM.漢字名称,
							--MSM.発注数,
							MSM.仕入単価,
							入荷予定数 = NULL,
							入庫数 = NULL,
							出荷予定数 = (MSM.発注数-ISNULL(SMU.仕入数量,0)),
							出庫数 = NULL,
							入庫金額 = dbo.fn_CutFraction(SI.仕入端数,(MSM.発注数-ISNULL(SMU.仕入数量,0)) * MSM.仕入単価,0)
						FROM TD見積 AS MH (NOLOCK)
							INNER JOIN VD見積シートM AS MSM(NOLOCK)
								ON MH.見積番号 = MSM.見積番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON MH.販売先得意先CD = TK.得意先CD
							LEFT JOIN #TMP_TANA AS TANA(NOLOCK)
								ON	MSM.製品NO = TANA.製品NO
								AND	MSM.仕様NO = TANA.仕様NO
								--AND MSM.漢字名称 = TANA.漢字名称
								AND (CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END) = TANA.KEYCODE
								--AND TK.チームCD = TANA.チームCD
								AND MH.集計CD = TANA.得意先CD--2022/09/09
							LEFT JOIN (SELECT 見積明細連番,仕入数量 = SUM(仕入数量)
											FROM TD仕入明細内訳(NOLOCK)
											GROUP BY 見積明細連番
									) AS SMU
								ON MSM.見積明細連番 = SMU.見積明細連番
							LEFT JOIN TM仕入先 AS SI(NOLOCK)
								ON MSM.仕入先CD = SI.仕入先CD
 						WHERE 	/*MSM.見積番号 = @i見積番号
 							AND MH.社内伝票扱い = 1*/
								MH.受注区分 = 1
 							AND	MSM.仕入先CD = '3150'
 							--AND	MSM.仕入先CD IN ('3150','9999')--2020/10/08 ADD
							AND	MSM.見積区分 NOT IN ('A','C','S')
							AND	MSM.発注数 <> 0
							AND	(MSM.発注数-ISNULL(SMU.仕入数量,0)) <> 0--返品が出ないので<> 
							--AND	MSM.入出庫日 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
							AND	MSM.出庫日 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)--2020/09/19 ADD
	 						--AND	MSM.入出庫日 IS NOT NULL
	 						AND	MSM.出庫日 IS NOT NULL--2020/09/19 ADD
							AND	MSM.製品NO = @i製品NO
							AND MSM.仕様NO = @i仕様NO
							AND (CASE WHEN MSM.製品NO='' THEN MSM.漢字名称 ELSE MSM.製品NO END)=@iKEYCODE
							--AND TK.チームCD = @iチームCD
							AND	MH.集計CD = @i得意先CD--2022/09/09
	 						--AND MSM.入出庫日 >= COALESCE(@iS出荷日付,MSM.入出庫日)
	 						--AND MSM.入出庫日 <= COALESCE(@iE出荷日付,MSM.入出庫日)
							--AND SMU.見積明細連番 IS NULL --仕入がおきていない--おきてても一部仕入はださないとダメ
	 						--AND MSM.見積番号 >= COALESCE(@iS見積番号,MSM.見積番号)
	 						--AND MSM.見積番号 <= COALESCE(@iE見積番号,MSM.見積番号)
	 					--ORDER BY MSM.入出庫日,MH.見積番号,MSM.行番号

				UNION ALL
			
					--入庫
					SELECT	SM.仕入日付,MH.見積番号,MH.見積件名,
							TANA.棚卸日付,
							SMU.見積行番号,
							SM.仕入先CD,
							SI.略称,
							--SMU.配送先CD,--2018/10/17 ADD
							HI.略称,--2018/12/18 ADD
							KEYCODE = CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END,
							SMU.製品NO,SMU.仕様NO,
							漢字名称 = SMU.漢字名称,
							SMU.仕入単価,
							入荷予定数 = NULL,
							入庫数 = SMU.仕入数量,
							出荷予定数 = NULL,
							出庫数 = NULL,
							入庫金額 = (CASE WHEN SMU.仕入税区分 = 1 
										THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM(NOLOCK)
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON MH.販売先得意先CD = TK.得意先CD
							LEFT JOIN TM仕入先 AS SI(NOLOCK)
								ON SM.仕入先CD = SI.仕入先CD
							LEFT JOIN TM配送先 AS HI(NOLOCK)
								ON SM.配送先CD = HI.配送先CD
							LEFT JOIN #TMP_TANA AS TANA(NOLOCK)
								ON	SMU.製品NO = TANA.製品NO
								AND	SMU.仕様NO = TANA.仕様NO
								--AND SMU.漢字名称 = TANA.漢字名称
								AND (CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END) = TANA.KEYCODE
								--AND TK.チームCD = TANA.チームCD
								AND MH.集計CD = TANA.得意先CD--2022/09/09
							----2017/02/16 ADD↓
							--LEFT JOIN TM製品 AS SE(NOLOCK)
							--	ON SMU.製品NO = SE.製品NO
							--	AND SMU.仕様NO = SE.仕様NO
							----2017/02/16 ADD↑
						WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
							--AND SM.仕入日付 >= @iS集計日付
							--AND SM.仕入日付 <= @iE集計日付
							AND	SMU.製品NO = @i製品NO
							AND SMU.仕様NO = @i仕様NO
							AND (CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END)=@iKEYCODE
							--AND TK.チームCD = @iチームCD
							AND MH.集計CD = @i得意先CD--2022/09/09
							--AND	SMU.仕入先CD = @i仕入先CD
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
			
				UNION ALL
					--出庫
					SELECT	SM.仕入日付,MH.見積番号,MH.見積件名,
							TANA.棚卸日付,
							SMU.見積行番号,
							SM.仕入先CD,
							SI.略称,
							--SMU.配送先CD,--2018/10/17 ADD
							HI.略称,--2018/12/18 ADD
							KEYCODE = CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END,
							SMU.製品NO,SMU.仕様NO,
							漢字名称 = SMU.漢字名称,
							SMU.仕入単価,
							入荷予定数 = NULL,
							入庫数 = NULL,
							出荷予定数 = NULL,
							出庫数 = SMU.仕入数量,
							出庫金額 = (CASE WHEN SMU.仕入税区分 = 1
										THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM(NOLOCK)
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON MH.販売先得意先CD = TK.得意先CD
							LEFT JOIN TM仕入先 AS SI(NOLOCK)
								ON SM.仕入先CD = SI.仕入先CD
							LEFT JOIN TM配送先 AS HI(NOLOCK)
								ON SM.配送先CD = HI.配送先CD
							LEFT JOIN #TMP_TANA AS TANA(NOLOCK)
								ON	SMU.製品NO = TANA.製品NO
								AND	SMU.仕様NO = TANA.仕様NO
								--AND SMU.漢字名称 = TANA.漢字名称
								AND (CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END) = TANA.KEYCODE
								--AND TK.チームCD = TANA.チームCD
								AND MH.集計CD = TANA.得意先CD--2022/09/09
							----2017/02/16 ADD↓
							--LEFT JOIN TM製品 AS SE(NOLOCK)
							--	ON SMU.製品NO = SE.製品NO
							--	AND SMU.仕様NO = SE.仕様NO
							----2017/02/16 ADD↑
						WHERE	SM.仕入先CD = '3150'--三和倉庫
		 						--SM.仕入先CD IN ('3150','9999')--2020/10/08 ADD
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
							--AND SM.仕入日付 >= @iS集計日付
							--AND SM.仕入日付 <= @iE集計日付
							AND	SMU.製品NO = @i製品NO
							AND SMU.仕様NO = @i仕様NO
							AND (CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END)=@iKEYCODE
							--AND TK.チームCD = @iチームCD
							AND MH.集計CD = @i得意先CD--2022/09/09
							--AND	SMU.仕入先CD = @i仕入先CD
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD

			--在庫調整入力削除のため2022/09/09 DEL↓
				------UNION ALL

				------	--調整入庫
				------	SELECT	ID.在庫調整日付,ID.在庫調整番号, ID.摘要名,
				------			TANA.棚卸日付,
				------			IDM.枝番,
				------			IDM.仕入先CD,
				------			配送先名 = '',--2018/10/17 ADD
				------			SI.略称,
				------			KEYCODE = CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END,
				------			IDM.製品NO,IDM.仕様NO,
				------			漢字名称 = IDM.漢字名称,
				------			IDM.調整単価,
				------			入荷予定数 = NULL,
				------			入庫数 = IDM.調整数量,
				------			出荷予定数 = NULL,
				------			出庫数 = NULL,
				------			調整入庫金額 = (CASE WHEN IDM.仕入税区分 = 1 
				------							THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
				------		FROM TD在庫調整 AS ID(NOLOCK)
				------			INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
				------				ON ID.在庫調整番号 = IDM.在庫調整番号
				------			LEFT JOIN TM製品 AS SE(NOLOCK)
				------				ON IDM.製品NO = SE.製品NO
				------				AND IDM.仕様NO = SE.仕様NO
				------			LEFT JOIN TM仕入先 AS SI
				------				ON IDM.仕入先CD = SI.仕入先CD
				------			LEFT JOIN #TMP_TANA AS TANA(NOLOCK)
				------				ON	IDM.製品NO = TANA.製品NO
				------				AND	IDM.仕様NO = TANA.仕様NO
				------				--AND IDM.漢字名称 = TANA.漢字名称
				------				AND (CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END) = TANA.KEYCODE
				------				AND ID.在庫調整先チームCD = TANA.チームCD
				------		WHERE 
				------				ID.在庫調整日付 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
				------			--	ID.在庫調整日付 >= @iS集計日付
				------			--AND ID.在庫調整日付 <= @iE集計日付
				------			AND	IDM.製品NO = @i製品NO
				------			AND IDM.仕様NO = @i仕様NO
				------			AND (CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END)=@iKEYCODE
				------			AND ID.在庫調整先チームCD = @iチームCD
				------			--AND	IDM.仕入先CD = @i仕入先CD
				------			--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
				------			AND ID.在庫調整先チームCD <> 0--2017/05/23 ADD

				------UNION ALL
				------	--調整出庫
				------	SELECT	ID.在庫調整日付,ID.在庫調整番号, ID.摘要名,
				------			TANA.棚卸日付,
				------			IDM.枝番,
				------			IDM.仕入先CD,
				------			SI.略称,
				------			配送先名 = '',--2018/10/17 ADD
				------			KEYCODE = CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END,
				------			IDM.製品NO,IDM.仕様NO,
				------			漢字名称 = IDM.漢字名称,
				------			IDM.調整単価,
				------			入荷予定数 = NULL,
				------			入庫数 = NULL,
				------			出荷予定数 = NULL,
				------			出庫数 = IDM.調整数量,
				------			調整出庫金額 = (CASE WHEN IDM.仕入税区分 = 1 
				------							THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
				------		FROM TD在庫調整 AS ID(NOLOCK)
				------			INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
				------				ON ID.在庫調整番号 = IDM.在庫調整番号
				------			LEFT JOIN TM製品 AS SE(NOLOCK)
				------				ON IDM.製品NO = SE.製品NO
				------				AND IDM.仕様NO = SE.仕様NO
				------			LEFT JOIN TM仕入先 AS SI
				------				ON IDM.仕入先CD = SI.仕入先CD
				------			LEFT JOIN #TMP_TANA AS TANA(NOLOCK)
				------				ON	IDM.製品NO = TANA.製品NO
				------				AND	IDM.仕様NO = TANA.仕様NO
				------				--AND IDM.漢字名称 = TANA.漢字名称
				------				AND (CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END) = TANA.KEYCODE
				------				AND ID.在庫調整元チームCD = TANA.チームCD
				------		WHERE 
				------				ID.在庫調整日付 >=  COALESCE(DATEADD(day,1,TANA.棚卸日付),@i指定日付)
				------			--	ID.在庫調整日付 >= @iS集計日付
				------			--AND ID.在庫調整日付 <= @iE集計日付
				------			--AND	IDM.仕入先CD = @i仕入先CD
				------			AND	IDM.製品NO = @i製品NO
				------			AND IDM.仕様NO = @i仕様NO
				------			AND (CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END)=@iKEYCODE
				------			AND ID.在庫調整元チームCD = @iチームCD
				------			--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
				------			AND ID.在庫調整元チームCD <> 0--2017/05/23 ADD
			--在庫調整入力削除のため2022/09/09 DEL↑
				) AS A
		ORDER BY 日付,番号,行NO
		
	SET @RetDcnt = @@ROWCOUNT

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
