/****** Object:  StoredProcedure [dbo].[usp_SK0101買掛金集計表仕訳出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SK0101買掛金集計表仕訳出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_SK0101買掛金集計表仕訳出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SK0101買掛金集計表仕訳出力

機能	指定された条件で買掛金集計表を作成する

引数	@iDATE		指定した日付(日が絶対1の日付）
	@isSEIID
	@ieSEIID

戻り値	

*****************************************************
	2012/04/09	oosawa		新規作成 財務応援に取り込むデータを作成
	2014/05/28	oosawa		消費税率をマスタより取得に変更
	
	2015/02/18	oosawa		税抜き・非課税・消費税を出力するように変更
							マイナス金額は逆仕訳にする。
							摘要に会社名
	2015/06/17	oosawa		財務応援旧バージョン対応
	2016/02/04	oosawa		三研が消費税対象外になるので（渋沢が消費税を払っている）
							消費税区分が71になる
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SK0101買掛金集計表仕訳出力]
	@iDATE		DATETIME,
	@i開始仕入先		VARCHAR(4),
	@i終了仕入先		VARCHAR(4),
	@i仕訳日付			DATETIME,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE	@ST	INT,
		@MSG	VARCHAR(255)
	SET	@ST = 0
	SET	@MSG = ''

	-----------------------
	--テンポラリテーブル生成
	-----------------------
	CREATE TABLE #TMP_SK0101 
		(
			区分			SMALLINT,--0,1,2
			仕入先CD		INT,
			年				SMALLINT,
			月				SMALLINT,
			日				SMALLINT,
			伝票番号		INT,
			借方金額		INT		DEFAULT(0),
			借方勘定科目CD	INT,
			借方勘定科目名	VARCHAR(24)	NULL,
			借方消費税CD	INT,
			借方消費税率	INT,
			借方業種		INT		NULL,
			借方補助科目CD	INT		NULL,
			借方補助科目名	VARCHAR(24)	NULL,
			借方部門CD		INT		NULL,
			借方部門名		VARCHAR(30)	NULL,
			貸方勘定科目CD	INT,
			貸方勘定科目名	VARCHAR(24)	NULL,
			貸方消費税CD	INT,
			貸方消費税率	INT,
			貸方業種		INT		NULL,
			貸方補助科目CD	INT,
			貸方補助科目名	VARCHAR(24)	NULL,
			貸方部門CD		INT		NULL,
			貸方部門名		VARCHAR(30)	NULL,
			貸方金額		INT		DEFAULT(0),
			摘要			VARCHAR(96),
			期日_年			INT		NULL,
			期日_月			INT		NULL,
			期日_日			INT		NULL,
			手形番号		INT		NULL

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	-----------------------
	--消費税率取得
	-----------------------
	DECLARE @TAX	INT
	--税率取得
	SET	@TAX = dbo.fn_GetTax(@iDATE)	--2014/05/28 ADD

	----SELECT	年 = YEAR(@i仕訳日付),月 = MONTH(@i仕訳日付),日 = DAY(@i仕訳日付),
	----		伝票番号 = NULL,
	----		借方金額 = CONVERT(INT,ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0)),
	----		借方勘定科目CD = 461,
	----		借方勘定科目名 = NULL,
	----		借方消費税CD = 32,
	----		借方消費税率 = @TAX,
	----		借方業種 = NULL,
	----		借方補助科目CD = NULL,
	----		借方補助科目名 = NULL,
	----		借方部門CD = NULL,
	----		借方部門名 = NULL,
	----		貸方勘定科目CD = 201,
	----		貸方勘定科目名 = NULL,
	----		貸方消費税CD = 0,
	----		貸方消費税率 = 0,
	----		貸方業種 = NULL,
	----		貸方補助科目CD = CONVERT(INT,SK.仕入先CD),
	----		貸方補助科目名 = NULL,
	----		貸方部門CD = NULL,
	----		貸方部門名 = NULL,
	----		貸方金額 = CONVERT(INT,ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0)),
	----		摘要 = '',
	----		期日_年 = NULL,
	----		期日_月 = NULL,
	----		期日_日 = NULL,
	----		手形番号 = NULL
	----	FROM 	TM買掛金額 AS SK
	----	WHERE 	SK.買掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
	----	    AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
	----	    AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
	----	    AND	ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0) <> 0
	----	ORDER	BY	SK.仕入先CD

	----SET	@ST = @@ERROR
	----IF @ST<>0 BEGIN
	----	SET @MSG = '買掛金集計表集計エラー'
	----	GOTO	EXIT_SP
	----END

	-----------------------
	--データ抽出（税抜き分・通常仕訳）
	-----------------------
	INSERT	INTO #TMP_SK0101
			(
				区分,
				仕入先CD,
				年,
				月,
				日,
				伝票番号,
				借方金額,
				借方勘定科目CD,
				借方勘定科目名,
				借方消費税CD,
				借方消費税率,
				借方業種,
				借方補助科目CD,
				借方補助科目名,
				借方部門CD,
				借方部門名,
				貸方勘定科目CD,
				貸方勘定科目名,
				貸方消費税CD,
				貸方消費税率,
				貸方業種,
				貸方補助科目CD,
				貸方補助科目名,
				貸方部門CD,
				貸方部門名,
				貸方金額,
				摘要,
				期日_年	,
				期日_月	,
				期日_日	,
				手形番号
			)
			--買掛金税抜分
			SELECT	0,
					仕入先CD = CONVERT(INT,SK.仕入先CD),
					年 = YEAR(@i仕訳日付),月 = MONTH(@i仕訳日付),日 = DAY(@i仕訳日付),
					伝票番号 = NULL,
					借方金額 = ABS(CONVERT(INT,ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)-ISNULL(SK.非課税金額,0))),
					借方勘定科目CD = 461,--仕入高
					借方勘定科目名 = NULL,
					--借方消費税CD = 31,--2016/02/04 DEL
					借方消費税CD = CASE WHEN SI.税集計区分=3 THEN 71 ELSE 31 END,--2016/02/04 ADD
					借方消費税率 = @TAX,
					借方業種 = NULL,
					借方補助科目CD = NULL,
					借方補助科目名 = NULL,
					借方部門CD = NULL,
					借方部門名 = NULL,
					貸方勘定科目CD = 201,--買掛金
					貸方勘定科目名 = NULL,
					貸方消費税CD = 0,
					貸方消費税率 = 0,
					貸方業種 = NULL,
					貸方補助科目CD = CONVERT(INT,SK.仕入先CD),
					貸方補助科目名 = NULL,
					貸方部門CD = NULL,
					貸方部門名 = NULL,
					貸方金額 = ABS(CONVERT(INT,ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)-ISNULL(SK.非課税金額,0))),
					摘要 = CONVERT(VARCHAR(96), SI.仕入先名1),--96ﾊﾞｲﾄ,
					期日_年 = NULL,
					期日_月 = NULL,
					期日_日 = NULL,
					手形番号 = NULL
				FROM 	TM買掛金額 AS SK
					LEFT JOIN TM仕入先 AS SI
						ON SK.仕入先CD = SI.仕入先CD
				WHERE 	SK.買掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
					AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
					AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
					AND	ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)-ISNULL(SK.非課税金額,0) <> 0
					AND	ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)-ISNULL(SK.非課税金額,0) > 0
				ORDER	BY	SK.仕入先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '買掛金集計表集計エラー'
		GOTO	EXIT_SP
	END

	-----------------------
	--データ抽出（税抜き分）
	--逆仕訳
	-----------------------
	INSERT	INTO #TMP_SK0101
			(
				区分,
				仕入先CD,
				年,
				月,
				日,
				伝票番号,
				借方金額,
				借方勘定科目CD,
				借方勘定科目名,
				借方消費税CD,
				借方消費税率,
				借方業種,
				借方補助科目CD,
				借方補助科目名,
				借方部門CD,
				借方部門名,
				貸方勘定科目CD,
				貸方勘定科目名,
				貸方消費税CD,
				貸方消費税率,
				貸方業種,
				貸方補助科目CD,
				貸方補助科目名,
				貸方部門CD,
				貸方部門名,
				貸方金額,
				摘要,
				期日_年	,
				期日_月	,
				期日_日	,
				手形番号
			)
			--買掛金税抜分逆仕訳
			SELECT	0,
					仕入先CD = CONVERT(INT,SK.仕入先CD),
					年 = YEAR(@i仕訳日付),月 = MONTH(@i仕訳日付),日 = DAY(@i仕訳日付),
					伝票番号 = NULL,
					借方金額 = ABS(CONVERT(INT,ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)-ISNULL(SK.非課税金額,0))),
					借方勘定科目CD = 201,--買掛金
					借方勘定科目名 = NULL,
					借方消費税CD = 0,
					借方消費税率 = 0,
					借方業種 = NULL,
					借方補助科目CD = CONVERT(INT,SK.仕入先CD),
					借方補助科目名 = NULL,
					借方部門CD = NULL,
					借方部門名 = NULL,
					貸方勘定科目CD = 461,--仕入高
					貸方勘定科目名 = NULL,
					--貸方消費税CD = 31,--2016/02/04 DEL
					貸方消費税CD = CASE WHEN SI.税集計区分=3 THEN 71 ELSE 31 END,--2016/02/04 ADD
					貸方消費税率 = @TAX,
					貸方業種 = NULL,
					貸方補助科目CD = NULL,
					貸方補助科目名 = NULL,
					貸方部門CD = NULL,
					貸方部門名 = NULL,
					貸方金額 = ABS(CONVERT(INT,ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)-ISNULL(SK.非課税金額,0))),
					摘要 = CONVERT(VARCHAR(96), SI.仕入先名1),--96ﾊﾞｲﾄ,
					期日_年 = NULL,
					期日_月 = NULL,
					期日_日 = NULL,
					手形番号 = NULL
				FROM 	TM買掛金額 AS SK
					LEFT JOIN TM仕入先 AS SI
						ON SK.仕入先CD = SI.仕入先CD
				WHERE 	SK.買掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
					AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
					AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
					AND	ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)-ISNULL(SK.非課税金額,0) <> 0
					AND	ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)-ISNULL(SK.非課税金額,0) < 0--マイナス
				ORDER	BY	SK.仕入先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '買掛金集計表集計エラー'
		GOTO	EXIT_SP
	END



	-----------------------
	--データ抽出（消費税分）
	-----------------------
	INSERT	INTO #TMP_SK0101
			(
				区分,
				仕入先CD,
				年,
				月,
				日,
				伝票番号,
				借方金額,
				借方勘定科目CD,
				借方勘定科目名,
				借方消費税CD,
				借方消費税率,
				借方業種,
				借方補助科目CD,
				借方補助科目名,
				借方部門CD,
				借方部門名,
				貸方勘定科目CD,
				貸方勘定科目名,
				貸方消費税CD,
				貸方消費税率,
				貸方業種,
				貸方補助科目CD,
				貸方補助科目名,
				貸方部門CD,
				貸方部門名,
				貸方金額,
				摘要,
				期日_年	,
				期日_月	,
				期日_日	,
				手形番号
			)
			--買掛金税抜分
			SELECT	1,
					仕入先CD = CONVERT(INT,SK.仕入先CD),
					年 = YEAR(@i仕訳日付),月 = MONTH(@i仕訳日付),日 = DAY(@i仕訳日付),
					伝票番号 = NULL,
					借方金額 = ABS(CONVERT(INT,ISNULL(SK.消費税額,0))),
					借方勘定科目CD = 158,--仮払消費税
					借方勘定科目名 = NULL,
					借方消費税CD = 31,
					借方消費税率 = @TAX,
					借方業種 = NULL,
					借方補助科目CD = NULL,
					借方補助科目名 = NULL,
					借方部門CD = NULL,
					借方部門名 = NULL,
					貸方勘定科目CD = 201,--買掛金
					貸方勘定科目名 = NULL,
					貸方消費税CD = 0,
					貸方消費税率 = 0,
					貸方業種 = NULL,
					貸方補助科目CD = CONVERT(INT,SK.仕入先CD),
					貸方補助科目名 = NULL,
					貸方部門CD = NULL,
					貸方部門名 = NULL,
					貸方金額 = ABS(CONVERT(INT,ISNULL(SK.消費税額,0))),
					摘要 = CONVERT(VARCHAR(96), SI.仕入先名1),--96ﾊﾞｲﾄ,
					期日_年 = NULL,
					期日_月 = NULL,
					期日_日 = NULL,
					手形番号 = NULL
				FROM 	TM買掛金額 AS SK
					LEFT JOIN TM仕入先 AS SI
						ON SK.仕入先CD = SI.仕入先CD
				WHERE 	SK.買掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
					AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
					AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
					AND	ISNULL(SK.消費税額,0) <> 0
					AND	ISNULL(SK.消費税額,0) > 0
				ORDER	BY	SK.仕入先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '買掛金集計表集計エラー'
		GOTO	EXIT_SP
	END


	-----------------------
	--データ抽出（消費税分）
	--逆仕訳
	-----------------------
	INSERT	INTO #TMP_SK0101
			(
				区分,
				仕入先CD,
				年,
				月,
				日,
				伝票番号,
				借方金額,
				借方勘定科目CD,
				借方勘定科目名,
				借方消費税CD,
				借方消費税率,
				借方業種,
				借方補助科目CD,
				借方補助科目名,
				借方部門CD,
				借方部門名,
				貸方勘定科目CD,
				貸方勘定科目名,
				貸方消費税CD,
				貸方消費税率,
				貸方業種,
				貸方補助科目CD,
				貸方補助科目名,
				貸方部門CD,
				貸方部門名,
				貸方金額,
				摘要,
				期日_年	,
				期日_月	,
				期日_日	,
				手形番号
			)
			--買掛金税抜分
			SELECT	1,
					仕入先CD = CONVERT(INT,SK.仕入先CD),
					年 = YEAR(@i仕訳日付),月 = MONTH(@i仕訳日付),日 = DAY(@i仕訳日付),
					伝票番号 = NULL,
					借方金額 = ABS(CONVERT(INT,ISNULL(SK.消費税額,0))),
					借方勘定科目CD = 201,--買掛金
					借方勘定科目名 = NULL,
					借方消費税CD = 0,
					借方消費税率 = 0,
					借方業種 = NULL,
					借方補助科目CD = CONVERT(INT,SK.仕入先CD),
					借方補助科目名 = NULL,
					借方部門CD = NULL,
					借方部門名 = NULL,
					貸方勘定科目CD = 158,--仮払消費税
					貸方勘定科目名 = NULL,
					貸方消費税CD = 31,
					貸方消費税率 = @TAX,
					貸方業種 = NULL,
					貸方補助科目CD = NULL,
					貸方補助科目名 = NULL,
					貸方部門CD = NULL,
					貸方部門名 = NULL,
					貸方金額 = ABS(CONVERT(INT,ISNULL(SK.消費税額,0))),
					摘要 = CONVERT(VARCHAR(96), SI.仕入先名1),--96ﾊﾞｲﾄ,
					期日_年 = NULL,
					期日_月 = NULL,
					期日_日 = NULL,
					手形番号 = NULL
				FROM 	TM買掛金額 AS SK
					LEFT JOIN TM仕入先 AS SI
						ON SK.仕入先CD = SI.仕入先CD
				WHERE 	SK.買掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
					AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
					AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
					AND	ISNULL(SK.消費税額,0) <> 0
					AND	ISNULL(SK.消費税額,0) < 0--マイナス
				ORDER	BY	SK.仕入先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '買掛金集計表集計エラー'
		GOTO	EXIT_SP
	END

	-----------------------
	--データ抽出（非課税分）
	-----------------------
	INSERT	INTO #TMP_SK0101
			(
				区分,
				仕入先CD,
				年,
				月,
				日,
				伝票番号,
				借方金額,
				借方勘定科目CD,
				借方勘定科目名,
				借方消費税CD,
				借方消費税率,
				借方業種,
				借方補助科目CD,
				借方補助科目名,
				借方部門CD,
				借方部門名,
				貸方勘定科目CD,
				貸方勘定科目名,
				貸方消費税CD,
				貸方消費税率,
				貸方業種,
				貸方補助科目CD,
				貸方補助科目名,
				貸方部門CD,
				貸方部門名,
				貸方金額,
				摘要,
				期日_年	,
				期日_月	,
				期日_日	,
				手形番号
			)
			--買掛金税抜分
			SELECT	2,
					仕入先CD = CONVERT(INT,SK.仕入先CD),
					年 = YEAR(@i仕訳日付),月 = MONTH(@i仕訳日付),日 = DAY(@i仕訳日付),
					伝票番号 = NULL,
					借方金額 = ABS(CONVERT(INT,ABS(ISNULL(SK.非課税金額,0)))),
					借方勘定科目CD = 461,--仕入高
					借方勘定科目名 = NULL,
					借方消費税CD = 30,
					借方消費税率 = 0,
					借方業種 = NULL,
					借方補助科目CD = NULL,
					借方補助科目名 = NULL,
					借方部門CD = NULL,
					借方部門名 = NULL,
					貸方勘定科目CD = 201,--買掛金
					貸方勘定科目名 = NULL,
					貸方消費税CD = 0,
					貸方消費税率 = 0,
					貸方業種 = NULL,
					貸方補助科目CD = CONVERT(INT,SK.仕入先CD),
					貸方補助科目名 = NULL,
					貸方部門CD = NULL,
					貸方部門名 = NULL,
					貸方金額 = ABS(CONVERT(INT,ISNULL(SK.非課税金額,0))),
					摘要 = CONVERT(VARCHAR(96), SI.仕入先名1),--96ﾊﾞｲﾄ,
					期日_年 = NULL,
					期日_月 = NULL,
					期日_日 = NULL,
					手形番号 = NULL
				FROM 	TM買掛金額 AS SK
					LEFT JOIN TM仕入先 AS SI
						ON SK.仕入先CD = SI.仕入先CD
				WHERE 	SK.買掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
					AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
					AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
					AND	ISNULL(SK.非課税金額,0) <> 0
					AND	ISNULL(SK.非課税金額,0) > 0
				ORDER	BY	SK.仕入先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '買掛金集計表集計エラー'
		GOTO	EXIT_SP
	END

	-----------------------
	--データ抽出（非課税分）
	--逆仕訳
	-----------------------
	INSERT	INTO #TMP_SK0101
			(
				区分,
				仕入先CD,
				年,
				月,
				日,
				伝票番号,
				借方金額,
				借方勘定科目CD,
				借方勘定科目名,
				借方消費税CD,
				借方消費税率,
				借方業種,
				借方補助科目CD,
				借方補助科目名,
				借方部門CD,
				借方部門名,
				貸方勘定科目CD,
				貸方勘定科目名,
				貸方消費税CD,
				貸方消費税率,
				貸方業種,
				貸方補助科目CD,
				貸方補助科目名,
				貸方部門CD,
				貸方部門名,
				貸方金額,
				摘要,
				期日_年	,
				期日_月	,
				期日_日	,
				手形番号
			)
			--買掛金税抜分
			SELECT	2,
					仕入先CD = CONVERT(INT,SK.仕入先CD),
					年 = YEAR(@i仕訳日付),月 = MONTH(@i仕訳日付),日 = DAY(@i仕訳日付),
					伝票番号 = NULL,
					借方金額 = ABS(CONVERT(INT,ABS(ISNULL(SK.非課税金額,0)))),
					借方勘定科目CD = 201,--買掛金
					借方勘定科目名 = NULL,
					借方消費税CD = 0,
					借方消費税率 = 0,
					借方業種 = NULL,
					借方補助科目CD = CONVERT(INT,SK.仕入先CD),
					借方補助科目名 = NULL,
					借方部門CD = NULL,
					借方部門名 = NULL,
					貸方勘定科目CD = 461,--仕入高
					貸方勘定科目名 = NULL,
					貸方消費税CD = 30,
					貸方消費税率 = 0,
					貸方業種 = NULL,
					貸方補助科目CD = NULL,
					貸方補助科目名 = NULL,
					貸方部門CD = NULL,
					貸方部門名 = NULL,
					貸方金額 = ABS(CONVERT(INT,ISNULL(SK.非課税金額,0))),
					摘要 = CONVERT(VARCHAR(96), SI.仕入先名1),--96ﾊﾞｲﾄ,
					期日_年 = NULL,
					期日_月 = NULL,
					期日_日 = NULL,
					手形番号 = NULL
				FROM 	TM買掛金額 AS SK
					LEFT JOIN TM仕入先 AS SI
						ON SK.仕入先CD = SI.仕入先CD
				WHERE 	SK.買掛日付		=	CONVERT(VARCHAR(10),@iDATE,111)
					AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
					AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
					AND	ISNULL(SK.非課税金額,0) <> 0
					AND	ISNULL(SK.非課税金額,0) < 0--マイナス
				ORDER	BY	SK.仕入先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '買掛金集計表集計エラー'
		GOTO	EXIT_SP
	END

	-----------------------
	--データ出力
	-----------------------
	SELECT	年,
			--月 = RIGHT('00'+CAST(月 AS VARCHAR(2)),2),--2015/06/17 DEL
			--日 = RIGHT('00'+CAST(日 AS VARCHAR(2)),2),--2015/06/17 DEL
			月,--2015/06/17 ADD
			日,--2015/06/17 ADD
			伝票番号,
			借方金額,
			借方勘定科目CD,
			借方勘定科目名,
			借方消費税CD,
			借方消費税率,
			借方業種,
			借方補助科目CD,
			借方補助科目名,
			借方部門CD,
			借方部門名,
			貸方勘定科目CD,
			貸方勘定科目名,
			貸方消費税CD,
			貸方消費税率,
			貸方業種,
			貸方補助科目CD,
			貸方補助科目名,
			貸方部門CD,
			貸方部門名,
			貸方金額,
			摘要,
			期日_年	,
			期日_月	,
			期日_日	,
			手形番号
		FROM #TMP_SK0101
		ORDER BY 仕入先CD,区分

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST
GO
