/****** Object:  StoredProcedure [dbo].[usp_SE2200Wel調剤請求一覧]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE2200Wel調剤請求一覧]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE2200Wel調剤請求一覧]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE2200Wel調剤請求一覧

機能	ウエルシア用調剤請求一覧を作成する


引数

戻り値

修正履歴
	2016/01/05	oosawa		新規作成
	2016/01/20	oosawa		並び順変更
*****************************************************/
create PROCEDURE [dbo].[usp_SE2200Wel調剤請求一覧]
	(
		@iS請求日付			DATETIME,
		@iE請求日付			DATETIME,
		--@i物件種別			SMALLINT,

		--OUTPUT
		@RetDcnt 	INT				OUTPUT,
		@RetST		INT				OUTPUT,
		@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

	--set	@iS請求日付 = '2015/11/21'
	--set	@iE請求日付 = '2015/12/20'

		---------------------------
		--調剤請求一覧
		---------------------------
		--2015/11/02 ADD↓
		SELECT	USH.見積番号,
				MH.物件種別,
				MH.納入先CD,
				--MH.納入先名1,
				NU.表示用店舗名,
				MH.作業内容,
				MH.ウエルシアリース区分,
				MH.受付日付,
				MH.完工日付,
				MH.発注担当者名,
				USH.合計金額, USH.外税額,
				UH.部材費,
				UH.施工費
				--,合計金額 = UH.部材費 + UH.施工費
				--,CASE WHEN USH.合計金額 = UH.部材費 + UH.施工費 THEN 0 ELSE 1 END
			FROM	TD売上請求H AS USH
				INNER JOIN (
								SELECT	UH.見積番号,
										
										部材費 = SUM(CASE WHEN ISNULL(SH.費用区分,0) = 0 THEN UM.売上金額 ELSE 0 END),
										施工費 = SUM(CASE WHEN ISNULL(SH.費用区分,0) = 1 THEN UM.売上金額 ELSE 0 END)
									FROM TD売上v2 AS UH
										INNER JOIN TD売上明細v2 AS UM
											ON UH.売上番号 = UM.売上番号
										INNER JOIN TD売上請求H AS USH
											ON UH.見積番号 = USH.見積番号
										--2015/12/23 ADD↓
										LEFT JOIN TM製品 AS SH
											ON UM.製品NO = SH.製品NO
											AND UM.仕様NO = SH.仕様NO
										--2015/12/23 ADD↑
									GROUP BY UH.見積番号
							) AS UH
								ON USH.見積番号 = UH.見積番号
				INNER JOIN TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
				INNER JOIN TM納入先 AS NU
					ON MH.納入得意先CD = NU.得意先CD
					AND MH.納入先CD = NU.納入先CD
			WHERE	USH.請求日付 >= @iS請求日付
    			AND	USH.請求日付 <= @iE請求日付
    			AND	MH.得意先CD = '2401'--ウエルシア
    			AND	MH.ウエルシア物件区分CD = 5--調剤
			--ORDER BY	USH.見積番号--2016/01/20 DEL
			ORDER BY	MH.ウエルシアリース区分,MH.完工日付--2016/01/20 ADD

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
