/****** Object:  StoredProcedure [dbo].[usp_HD0100売上内訳UploadCheck]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0100売上内訳UploadCheck]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0100売上内訳UploadCheck]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================
	 usp_HD0100売上内訳UploadCheck

	機能:	売上内訳明細をチェックする
		
 =============================================
	2003/08/29	kawamura
	2003/09/22 	kawamura 	サイズ[H1][H2]追加
	2003/10/15 	kawamura 	仕入単価・仕入金額追加
	2003/11/01 	kawamura 	伝票区分をVARCHAR(1)に変更
	2004/07/01	oosawa	単価を持ってこないように変更
	2004/12/06	kawamura 	見積区分A・Sの追加
 =============================================*/
CREATE        PROCEDURE [dbo].[usp_HD0100売上内訳UploadCheck]
	(
	@i見積番号		INT,
	@i売上行番号 	INT,
	@i大小口区分 		SMALLINT,
	@i得意先CD 		VARCHAR(4),
	@CompName		VARCHAR(100),
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

	DECLARE 	@sql売上単価 	VARCHAR(50)

	--製品判断区分
	DECLARE	@製品区分	INT	--0:製品 1:品群 2:ユニット 3:PCマスタ

	--エラーメッセージ用変数
	DECLARE	@wエラー内容	VARCHAR(255),
			@wErrCNT	INT,
			@wERR	SMALLINT		--usp_Chk製品のエラー切り分け用フラグ

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		NVARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@ROWS売上	INT

	DECLARE	@c売上番号 	INT ,
			@c売上行番号 	INT ,
			@c売上明細行番号 	INT ,
			@c見積行番号 	INT ,
			@c伝票区分 	VARCHAR (1),
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c売上単価 	MONEY,
			@c仕入単価 	MONEY,
			@c売上数量 	MONEY,
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c売上金額 	MONEY ,
			@c仕入金額 	MONEY ,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c製品区分	SMALLINT

	--消費税用変数
	DECLARE	@TAX		MONEY

	--CODEエラー用変数
	DECLARE	@CDエラー内容	VARCHAR(255)

	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@wエラー内容 = ''
	SET	@wErrCNT = 0
--	SET	@TAX = dbo.fn_GetTax(@i仕入日付)

	--------------------------------------------------
	--出力用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTbl
			FROM Tmp売上明細内訳 (NOLOCK)
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------

	EXEC ('DECLARE	csr売上明細内訳		CURSOR	 FORWARD_ONLY FOR '
			+'SELECT	売上番号, 売上行番号, 売上明細行番号, 見積行番号, 伝票区分,'
					+' SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),'
					+' 漢字名称, W, D, H, D1, D2, H1, H2,'
					+' エラー内容, 売上数量, 見積数量, 単位名, 定価, 売上単価, 仕入単価,'
					+' 売上金額, 仕入金額, 売上税区分, 消費税額,'
					+' 製品区分'
				+' FROM	[##Tmp売上明細内訳_' + @CompName + ']'
				+' WHERE 	売上行番号 = ' + @i売上行番号
				+' ORDER BY	売上明細行番号'
		)


	OPEN	/*GLOBAL*/ csr売上明細内訳
--	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS売上 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS売上 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END


	--集計処理
	FETCH NEXT FROM /*GLOBAL*/ csr売上明細内訳
		INTO	@c売上番号, @c売上行番号,@c売上明細行番号,@c見積行番号,
				@c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2, @cH1, @cH2,
				@cエラー内容, @c売上数量,@c見積数量, @c単位名,@c定価,@c売上単価,@c仕入単価,
				@c売上金額, @c仕入金額, @c売上税区分,@c消費税額,
				@c製品区分

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--	WHILE	( @@FETCH_STATUS = 0 )	BEGIN
	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
--	WHILE	( 0 = 0 )	BEGIN
FETCH_SP:
		SET @wエラー内容 = ''

		SET @ST = @@ERROR
		IF ( @@FETCH_STATUS <> 0 ) GOTO SELECT_SP

		--------------------------------------------------
		--製品NOがない明細の場合
		--------------------------------------------------
		IF @c製品NO = '' AND @cPC区分 = ''	BEGIN
			IF @c伝票区分 = 'S'	BEGIN									--2004/12/06	ADD
				GOTO TEMP_NOCONV
			END ELSE BEGIN

				IF @c漢字名称 <> '' 
					--GOTO TEMP_NOCONV
					--GOTO CODE_CHECK							--2004/12/06 	DEL
					IF @c伝票区分 = 'C' OR @c伝票区分 = 'A' BEGIN				--2004/12/06	ADD
						GOTO TEMP_NOCONV
					END ELSE BEGIN
						GOTO CODE_CHECK
					END
				ELSE BEGIN
					SET @wエラー内容 = 'マスタ未登録'
					SET @wErrCNT = @wErrCNT +1
					GOTO TEMP_NOCONV
				END
			END
		END

		--------------------------------------------------
		--製品情報マスタよりマスタ情報を取得します。
		--------------------------------------------------
		SET @製品区分 = NULL

		EXEC @ST = usp_Get製品区分 @cPC区分, @c製品NO, @c仕様NO, 
					@製品区分 OUTPUT , @RetST OUTPUT , @RetMsg OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		--------------------------------------------------
		--製品情報に該当するものがない場合
		--------------------------------------------------
		IF @製品区分 IS NULL	BEGIN
			--PRINT 'NULL'
			SET @wエラー内容 = 'マスタ未登録'
			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END

		--0:製品 1:品群 2:ユニット 3:PCマスタ
		IF @製品区分 = 0 BEGIN
			--PRINT 'GOTO SEIHIN_SP'
			GOTO SEIHIN_SP
		END
		IF @製品区分 = 1 BEGIN
			--PRINT 'GOTO HINGUN_SP:' + CONVERT(VARCHAR(1),@製品区分)
			GOTO HINGUN_SP
		END
		IF @製品区分 = 2 BEGIN
			--PRINT 'GOTO UNIT_SP'
			GOTO UNIT_SP
		END
		IF @製品区分 = 3 BEGIN
			--PRINT 'GOTO PC_SP'
			GOTO PC_SP
		END


	SEIHIN_SP:
		--PRINT 'SEIHIN_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_Chk製品 @c製品NO, @c仕様NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @wERR OUTPUT, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @wERR = 0 BEGIN
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				SET @wErrCNT = @wErrCNT + 1
				GOTO TEMP_NOCONV
			END
		END

	PC_SP:
		--PRINT 'PC_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_ChkPC @cPC区分, @c製品NO, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END

	HINGUN_SP:
		--PRINT 'HINGUN_SP'
		--------------------------------------------------
		--品群マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_CHG製品FROM品群 @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @cSP区分 OUTPUT , @c製品NO OUTPUT , @c仕様NO OUTPUT ,@c製品区分 OUTPUT , @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		--エラーがあっても、SPならばｺｰﾄﾞのチェックに行く。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @cSP区分 = ''	BEGIN
				SET @wErrCNT = @wErrCNT +1
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				GOTO CODE_CHECK
			END
		END

	UNIT_SP:
		--PRINT 'UNIT_SP'
		--------------------------------------------------
		--ユニットマスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_CHG製品FROMユニット @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @cSP区分 OUTPUT , @c製品NO OUTPUT , @c仕様NO OUTPUT ,@c製品区分 OUTPUT , @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		--エラーがあっても、SPならばｺｰﾄﾞのチェックに行く。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @cSP区分 = ''	BEGIN
				SET @wErrCNT = @wErrCNT +1
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				GOTO CODE_CHECK
			END
		END

SEIHIN_FUZOKU_READ:
		--PRINT 'SEIHIN_FUZOKU_READ'

		--------------------------------------------------
		--製品の付属情報を変数にセットします。
		--------------------------------------------------
		SELECT 
			@cW = (CASE @cW WHEN '' THEN W ELSE @cW END),			--2003/10/16	ADD↓
			@cD = (CASE @cD WHEN '' THEN D ELSE @cD END),
			@cH = (CASE @cH WHEN '' THEN H ELSE @cH END),
			@cD1 = (CASE @cD1 WHEN '' THEN D1 ELSE @cD1 END),
			@cD2 = (CASE @cD2 WHEN '' THEN D2 ELSE @cD2 END),
			@cH1 = (CASE @cH1 WHEN '' THEN H1 ELSE @cH1 END),
			@cH2 = (CASE @cH2 WHEN '' THEN H2 ELSE @cH2 END),		--2003/10/16	ADD↑
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
-- 			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 					--2004/07/01	DEL
-- 				ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
-- 									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END,
			@c売上税区分 = MS.売上税区分
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			AND		@cPC区分 = ''

		--PCマスタの場合
		SELECT 
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
-- 			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 					--2004/07/01	DEL
-- 				ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
-- 									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END,
			@c売上税区分 = MS.売上税区分
			FROM		TMPC AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.PC区分 = MT.PC区分
			WHERE	MS.製品NO = @c製品NO
			--AND		@c仕様NO = ''
			AND		@cPC区分 <> ''



CODE_CHECK:
		--------------------------------------------------
		--伝票区分がない明細の場合
		--------------------------------------------------
		IF @c伝票区分 = '' BEGIN
			SET @wエラー内容 = '伝票区分　未入力'
			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END


TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。

		--------------------------------------------------
		IF @c製品区分 IS NULL BEGIN
			SET @c製品区分 = 0
		END

		set @sql売上単価 = ''
		set @sql売上単価 = CONVERT(VARCHAR, @c売上単価, 2) 
 
		EXEC ('UPDATE	[##Tmp売上明細内訳_' + @CompName + ']'
			+ ' SET 	SP区分 = ''' + @cSP区分 + ''','
 				+ 'PC区分 = ''' + @cPC区分 + ''','
 				+ '製品NO = ''' + @c製品NO + ''','
 				+ '仕様NO = ''' + @c仕様NO + ''','
				+ 'ベース色 = ''' + @cベース色 + ''','
				+ 'W = ''' + @cW + ''','
				+ 'D = ''' + @cD + ''','
				+ 'H = ''' + @cH + ''','
				+ 'D1 = ''' + @cD1 + ''','
				+ 'D2 = ''' + @cD2 + ''','
				+ 'H1 = ''' + @cH1 + ''','
				+ 'H2 = ''' + @cH2 + ''','
				+ '漢字名称 = ''' + @c漢字名称 + ''','
 				+ 'エラー内容 = ''' + @wエラー内容 + ''','
				+ '単位名 = ''' + @c単位名 + ''','
				+ '売上単価 =  ' + @sql売上単価 + ','
 				+ '製品区分 = ''' + @c製品区分 + ''''
 			+ ' WHERE 売上行番号 = ' + @c売上行番号 
 				+ ' AND 売上明細行番号 = ' + @c売上明細行番号
			)

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

--	END--WHILE

		FETCH NEXT FROM /*GLOBAL*/ csr売上明細内訳
			INTO	@c売上番号, @c売上行番号,@c売上明細行番号,@c見積行番号,
					@c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2, @cH1, @cH2,
					@cエラー内容, @c売上数量,@c見積数量,@c単位名,@c定価,@c売上単価,@c仕入単価,
					@c売上金額, @c仕入金額, @c売上税区分,@c消費税額,
					@c製品区分
	

	--PRINT 'GOTO FETCH_SP'
	GOTO FETCH_SP
SELECT_SP:
	--PRINT 'SELECT_SP'
	EXEC ('SELECT TP.*, ' + @wErrCNT + ' AS ErrCnt'
		+' FROM [##Tmp売上明細内訳_' + @CompName + '] AS TP'
		+' WHERE 売上行番号 = ' + @i売上行番号
		+' ORDER BY TP.売上明細行番号'
		)
	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

--	DROP TABLE #WkTbl
EXIT_SP:
	--PRINT 'EXIT_SP'
 	IF( CURSOR_STATUS( 'GLOBAL', 'csr売上明細内訳' ) >= 0 )	BEGIN
		CLOSE	csr売上明細内訳
		DEALLOCATE	csr売上明細内訳
	END
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
