/****** Object:  StoredProcedure [dbo].[usp_MT0100DEL見積]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0100DEL見積]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0100DEL見積]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE	PROCEDURE	[dbo].[usp_MT0100DEL見積]
	(
	@i見積番号		INT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	見積データを削除します。

	内容	

	2003/06/16	OOSAWA	
	2012/08/31	oosawa		削除チェック追加
*/

	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--見積の受注区分
	DECLARE	@w受注区分		SMALLINT


	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--見積情報を取得します。
	--------------------------------------------------
	SELECT @w受注区分 = 受注区分
		FROM TD見積
		WHERE 見積番号 = @i見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF (@w受注区分 IS NULL) BEGIN
		SET @ST = -1
		GOTO EXIT_SP
	END
	
	--2012/08/31 ADD↓
	--------------------------------------------------
	--削除チェック
	--------------------------------------------------
	IF EXISTS(SELECT 見積番号 FROM TD売上v2 WHERE 見積番号 = @i見積番号) BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[売上データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
	IF EXISTS(SELECT 見積番号 FROM TD仕入 WHERE 見積番号 = @i見積番号) BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
	--2012/08/31 ADD↑

	------------------------------------------------------
	------出荷予定数を元に戻します。
	------------------------------------------------------
	------出荷予定数を戻します
	----IF @w受注区分 = 1	BEGIN			--受注区分が確定の場合
	----	EXEC @ST = usp_社内在庫_出荷予定Subtract @i見積番号, @ST OUTPUT,@MSG OUTPUT
	----	IF @ST<>0 GOTO	EXIT_SP

	----	EXEC @ST = usp_客先在庫_出荷予定Subtract @i見積番号, @ST OUTPUT,@MSG OUTPUT
	----	IF @ST<>0 GOTO	EXIT_SP
	----END
	--------------------------------------------------
	--見積を削除します。
	--------------------------------------------------
	DELETE FROM TD見積シート内訳名称 WHERE 見積番号 = @i見積番号
	DELETE FROM TD見積シート内訳 WHERE 見積番号 = @i見積番号
	DELETE FROM TD見積シートM WHERE 見積番号 = @i見積番号
	DELETE FROM TD見積 WHERE 見積番号 = @i見積番号

	--2013/03/14 ADD↓
	DELETE FROM TD発注明細 WHERE 見積番号 = @i見積番号
	DELETE FROM TD発注 WHERE 見積番号 = @i見積番号
	--2013/03/14 ADD↑

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
--			SELECT	@ST AS ST, @MSG AS MSG
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
