/****** Object:  StoredProcedure [dbo].[usp_TN0100社内在庫抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0100社内在庫抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0100社内在庫抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*****************************************************

名称	usp_TN0100社内在庫抽出

機能	指定された条件で社内在庫調整用データを取得する

引数
	@i棚卸日
	@i開始製品NO
	@i開始仕様NO
	@i終了製品NO
	@i終了仕様NO
戻り値	

	対象見積データは、確定していて、かつ、売りあがっていないデータ
	
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN0100社内在庫抽出]
	@i棚卸日		DATETIME,
	@i開始製品NO	CHAR(7),
	@i開始仕様NO	CHAR(7),
	@i終了製品NO	CHAR(7),
	@i終了仕様NO	CHAR(7),
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	--社内在庫情報を取得します
	SELECT	MS.製品NO,MS.仕様NO,MS.漢字名称,MS.W,MS.D,MS.H,MS.D1,MS.D2,MS.H1,MS.H2,(ISNULL(MS.現在庫数,0)+ISNULL(MT.社内在庫数,0)) AS 現残数量
		FROM		(SELECT 	SM.製品NO,SM.仕様NO, SM.漢字名称, SM.W, SM.D, SM.H, SM.D1, SM.D2, SM.H1,SM.H2,SZ.現在庫数
					FROM 		TM製品 AS SM
					LEFT JOIN	TM社内在庫 AS SZ ON (SM.製品NO = SZ.製品NO) AND (SM.仕様NO = SZ.仕様NO)
					WHERE 	SM.在庫区分	=	0
					    AND	SM.製品NO + SM.仕様NO	>=	COALESCE(@i開始製品NO,SM.製品NO)+COALESCE(@i開始仕様NO,SM.仕様NO)
					    AND	SM.製品NO + SM.仕様NO	<=	COALESCE(@i終了製品NO,SM.製品NO)+COALESCE(@i終了仕様NO,SM.仕様NO)) 	AS 	MS
		LEFT JOIN	(SELECT 	MSM.製品NO, MSM.仕様NO, SUM(MSM.社内在庫数) AS 社内在庫数
					FROM 		TD見積 AS MT
					LEFT 	JOIN 	TD見積シートM AS MSM ON MT.見積番号 = MSM.見積番号
					WHERE 	MT.受注日付	>	@i棚卸日
		    			    AND 	MT.受注区分	=	1
					    AND	MT.売上日付	IS NULL
					GROUP BY 	MSM.製品NO,MSM.仕様NO) AS	MT	ON 	MS.製品NO=MT.製品NO AND MS.仕様NO=MT.仕様NO
		ORDER BY	MS.製品NO,MS.仕様NO

	SET @ST = @@ERROR
--	IF (@ST <> 0)	BEGIN		GOTO 	EXIT_SP

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST


GO
