/****** Object:  StoredProcedure [dbo].[usp_TK3600統計推移表_日単位]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK3600統計推移表_日単位]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK3600統計推移表_日単位]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[usp_TK3600統計推移表_日単位]
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TK3600統計推移表_日単位
	

	機能:	
		チーム毎の売上金額と仕入金額の推移を作成する

	※SE.在庫対象区分に関しては金額の算出には使用しない。
	　在庫の把握時は区分にて処理する。
	↑
	※在庫対象外とかは作りことは不可！！！
	  全てを対象にしないと金額がずれる！！！

=============================================*/

	2024/09/13	ootani	新規作成
=============================================*/
CREATE PROCEDURE [dbo].[usp_TK3600統計推移表_日単位]
	(
	@iS集計日付	DATETIME,
	@iE集計日付	DATETIME,

	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ST	=	0
	SET	@MSG	=	''


--SET	@iS集計日付 = '2023-04-01'
--SET	@iE集計日付 = '2023-12-31'

	DECLARE	@wE前年集計日付	DATETIME
	SET @wE前年集計日付	= dbo.ufn_GetLastDateOfScope(DATEADD(YY,-1,@iE集計日付),99)
	

	--ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			部署CD			INT,
			工事担当CD		INT,
			番号			INT	DEFAULT(0),
			集計CD			VARCHAR(5),
			年月日			DATETIME,
			作業区分CD		INT,
			売上税抜金額	MONEY	DEFAULT(0),
			原価税抜金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		-- 営業担当
		--------------------------------------------
		DECLARE	@w岩間			SMALLINT = 10
		DECLARE	@w明			SMALLINT = 9

		--------------------------------------------
		-- 売上　顧客別
		--------------------------------------------
		DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		DECLARE @wマミー		VARCHAR(4) = '7001'
		DECLARE	@wロピア		VARCHAR(4) = '9803'
		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		DECLARE	@wアマゾン		VARCHAR(4) = '1041'
		DECLARE	@wメルカリ		VARCHAR(4) = '7605'

		
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	
							部署CD = MH.部署CD,
							工事担当CD = MH.工事担当CD,
							番号 = 0,
							集計CD = MH.集計CD,
							年月日 = UH.売上日付,
							作業区分CD = CASE WHEN MH.物件種別 = 6--委託
											THEN 106 
											ELSE CASE WHEN (MH.業種区分=1)
													--業種区分が内装の場合
													THEN 3--作業区分を内装へ変更
													ELSE ISNULL(MSM.作業区分CD,0) 
												END
										END,							
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TM
								ON MH.販売先得意先CD = TM.得意先CD
							LEFT JOIN TD物件情報 AS BK
								ON MH.物件番号 = BK.物件番号
							LEFT JOIN TM製品 AS SE
								ON	MSM.製品NO = SE.製品NO
								AND MSM.仕様NO = SE.仕様NO
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)--今年度
								)
		    				AND	MH.集計CD IN (@wヤオコー,
													@wロピア,
		    										@wベルク,@wサンベルクス,
													@wアマゾン,@wメルカリ,
		    										@wウエルシア,@wビバ)
					GROUP BY
								MH.部署CD,
								MH.工事担当CD,
								MH.集計CD,
								UH.売上日付,
								CASE WHEN MH.物件種別 = 6--委託
												THEN 106 
												ELSE CASE WHEN (MH.業種区分=1)
														THEN 3
														ELSE ISNULL(MSM.作業区分CD,0) 
													END
											END
				) AS B
			ON  (
				A.部署CD = B.部署CD
				AND	A.工事担当CD = B.工事担当CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月日 = B.年月日
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							部署CD,
							工事担当CD,
							番号,
							集計CD,
							年月日,
							作業区分CD,
							売上税抜金額
						)
					VALUES
						(
							B.部署CD,
							B.工事担当CD,
							B.番号,
							B.集計CD,
							B.年月日,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----売上 その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT
							部署CD = MH.部署CD,
							工事担当CD = MH.工事担当CD,
							番号 = 99,
							集計CD = 99999,
							年月日 = UH.売上日付,
							作業区分CD = CASE WHEN MH.物件種別 = 6--委託
											THEN 106 
											ELSE CASE WHEN (MH.業種区分=1)
													--業種区分が内装の場合
													THEN 3--作業区分を内装へ変更
													ELSE ISNULL(MSM.作業区分CD,0) 
												END
										END,
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TM
								ON MH.販売先得意先CD = TM.得意先CD
							LEFT JOIN TD物件情報 AS BK
								ON MH.物件番号 = BK.物件番号
							LEFT JOIN TM製品 AS SE
								ON	MSM.製品NO = SE.製品NO
								AND MSM.仕様NO = SE.仕様NO
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)--今年度
								)
		    				AND		NOT(MH.集計CD IN (@wヤオコー,
													@wロピア,
		    										@wベルク,@wサンベルクス,
													@wアマゾン,@wメルカリ,
		    										@wウエルシア,@wビバ))
					GROUP BY
								MH.部署CD,
								MH.工事担当CD,
								UH.売上日付,
								CASE WHEN MH.物件種別 = 6--委託
												THEN 106 
												ELSE CASE WHEN (MH.業種区分=1)
														--業種区分が内装の場合
														THEN 3--作業区分を内装へ変更
														ELSE ISNULL(MSM.作業区分CD,0) 
													END
											END
				) AS B
			ON  (
				A.部署CD = B.部署CD
				AND	A.工事担当CD = B.工事担当CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月日 = B.年月日
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							部署CD,
							工事担当CD,
							番号,
							集計CD,
							年月日,
							作業区分CD,
							売上税抜金額
						)
					VALUES
						(
							B.部署CD,
							B.工事担当CD,
							B.番号,
							B.集計CD,
							B.年月日,
							B.作業区分CD,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



		--顧客別　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT
							部署CD = MH.部署CD,
							工事担当CD = MH.工事担当CD,
							番号 = 0,
							集計CD = MH.集計CD,
							年月日 = SM.仕入日付,
							作業区分CD = CASE WHEN MH.物件種別 = 6--委託
											THEN 106 
											ELSE CASE WHEN (MH.業種区分=1)
													--業種区分が内装の場合
													THEN 3--作業区分を内装へ変更
													ELSE ISNULL(MSM.作業区分CD,0) 
												END
										END,
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TM
								ON MH.販売先得意先CD = TM.得意先CD
							LEFT JOIN TD物件情報 AS BK
								ON MH.物件番号 = BK.物件番号
							LEFT JOIN TM製品 AS SE
								ON	MSM.製品NO = SE.製品NO
								AND MSM.仕様NO = SE.仕様NO
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)--今年度
									)
		    				AND	MH.集計CD IN (@wヤオコー,
													@wロピア,
		    										@wベルク,@wサンベルクス,
													@wアマゾン,@wメルカリ,
		    										@wウエルシア,@wビバ)
					GROUP BY
								MH.部署CD,
								MH.工事担当CD,
								MH.集計CD,
								SM.仕入日付,
								CASE WHEN MH.物件種別 = 6--委託
												THEN 106 
												ELSE CASE WHEN (MH.業種区分=1)
														--業種区分が内装の場合
														THEN 3--作業区分を内装へ変更
														ELSE ISNULL(MSM.作業区分CD,0) 
													END
											END
				) AS B
			ON  (
				A.部署CD = B.部署CD
				AND	A.工事担当CD = B.工事担当CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月日 = B.年月日
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							部署CD,
							工事担当CD,
							番号,
							集計CD,
							年月日,
							作業区分CD,
							原価税抜金額
						)
					VALUES
						(
							B.部署CD,
							B.工事担当CD,
							B.番号,
							B.集計CD,
							B.年月日,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--原価　その他
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価 その他
					SELECT
							部署CD = MH.部署CD,
							工事担当CD = MH.工事担当CD,
							番号 = 99,
							集計CD = 99999,
							年月日 = SM.仕入日付,
							作業区分CD = CASE WHEN MH.物件種別 = 6--委託
											THEN 106 
											ELSE CASE WHEN (MH.業種区分=1)
													--業種区分が内装の場合
													THEN 3--作業区分を内装へ変更
													ELSE ISNULL(MSM.作業区分CD,0) 
												END
										END,
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TM
								ON MH.販売先得意先CD = TM.得意先CD
							LEFT JOIN TD物件情報 AS BK
								ON MH.物件番号 = BK.物件番号
							LEFT JOIN TM製品 AS SE
								ON	MSM.製品NO = SE.製品NO
								AND MSM.仕様NO = SE.仕様NO
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)--今年度
									)
		    				AND	NOT(MH.集計CD IN (@wヤオコー,
													@wロピア,
		    										@wベルク,@wサンベルクス,
													@wアマゾン,@wメルカリ,
		    										@wウエルシア,@wビバ))
					GROUP BY
								MH.部署CD,
								MH.工事担当CD,
								SM.仕入日付,
								CASE WHEN MH.物件種別 = 6--委託
												THEN 106 
												ELSE CASE WHEN (MH.業種区分=1)
														--業種区分が内装の場合
														THEN 3--作業区分を内装へ変更
														ELSE ISNULL(MSM.作業区分CD,0) 
													END
											END
				) AS B
			ON  (
				A.部署CD = B.部署CD
				AND	A.工事担当CD = B.工事担当CD
				AND	A.番号 = B.番号
				AND	A.集計CD = B.集計CD
				AND	A.年月日 = B.年月日
				AND A.作業区分CD = B.作業区分CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							部署CD,
							工事担当CD,
							番号,
							集計CD,
							年月日,
							作業区分CD,
							原価税抜金額
						)
					VALUES
						(
							B.部署CD,
							B.工事担当CD,
							B.番号,
							B.集計CD,
							B.年月日,
							B.作業区分CD,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--売上原価出力
		--（顧客別「集計CD」）
		--------------------------------------------
		SELECT
				営業担当CD = 0,
				番号=0,
				集計CD,
				年月日,
				作業区分CD,
				売上税抜金額 = SUM(売上税抜金額),
				原価税抜金額 = SUM(原価税抜金額)
			FROM #TMP_TOTAL
			GROUP BY	集計CD,年月日,作業区分CD
			ORDER BY	集計CD,年月日,作業区分CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--売上原価出力
		--（工事担当用）
		--------------------------------------------
		SELECT
				工事担当CD,
				番号=0,
				集計CD=0,
				年月日,作業区分CD,
				売上税抜金額 = SUM(売上税抜金額),
				原価税抜金額 = SUM(原価税抜金額)
			FROM #TMP_TOTAL
			GROUP BY     工事担当CD,年月日,作業区分CD
			ORDER BY     工事担当CD,年月日,作業区分CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--========================================--
		--入出庫出力
		--========================================--
		--入出庫ワークテーブル作成
		CREATE TABLE #TMP_TOTAL_NS
			(
				集計CD			VARCHAR(5),
				年月日			DATETIME,
				出庫合計金額	MONEY	DEFAULT(0),
				入庫合計金額	MONEY	DEFAULT(0),
				調整出庫合計金額	MONEY	DEFAULT(0),
				調整入庫合計金額	MONEY	DEFAULT(0),

			) ON [PRIMARY]

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
					SELECT
							MH.集計CD,
								年月日 = SM.仕入日付,
								仕入数量 = SUM(SMU.仕入数量),
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
						WHERE	SM.仕入先CD = '3150'--三和倉庫
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付--今年度
						GROUP BY MH.集計CD,SM.仕入日付--2021/03/03 ADD
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.集計CD = B.集計CD
				AND	A.年月日 = B.年月日
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.出庫合計金額 = A.出庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月日,
							出庫合計金額
						)
					VALUES
						(
							B.集計CD,
							B.年月日,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
					SELECT
							MH.集計CD,
								年月日 = SM.仕入日付,
								仕入数量 = SUM(SMU.仕入数量),
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
						WHERE	NOT(MH.社内伝票扱い = 0)--社内伝票
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @iS集計日付
							AND SM.仕入日付 <= @iE集計日付--今年度
						GROUP BY MH.集計CD,SM.仕入日付
				) AS B
			ON  (
				A.集計CD = B.集計CD
				AND	A.年月日 = B.年月日
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.入庫合計金額 = A.入庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月日,
							入庫合計金額
						)
					VALUES
						(
							B.集計CD,
							B.年月日,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--売上
					SELECT
							ID.得意先CD,
							年月日 = ID.在庫調整日付,
							--内税の場合は消費税を引く
							調整出庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
						WHERE 
							ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付--今年度
							AND ID.在庫調整元チームCD <> 0
						GROUP BY ID.得意先CD,ID.在庫調整日付
				) AS B
			ON  (
				A.集計CD = B.得意先CD
				AND	A.年月日 = B.年月日
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整出庫合計金額 = A.調整出庫合計金額 + B.調整出庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月日,
							調整出庫合計金額
						)
					VALUES
						(
							B.得意先CD,
							B.年月日,
							B.調整出庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL_NS AS A
			USING
				(
				--売上
					SELECT
							ID.得意先CD,
							年月日 = ID.在庫調整日付,
							調整入庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
						WHERE 
							ID.在庫調整日付 >= @iS集計日付
							AND ID.在庫調整日付 <= @iE集計日付--今年度
							AND ID.在庫調整先チームCD <> 0
						GROUP BY ID.得意先CD,ID.在庫調整日付
				) AS B
			ON  (
				A.集計CD = B.得意先CD
				AND	A.年月日 = B.年月日
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整入庫合計金額 = A.調整入庫合計金額 + B.調整入庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							集計CD,
							年月日,
							調整入庫合計金額
						)
					VALUES
						(
							B.得意先CD,
							B.年月日,
							B.調整入庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		SELECT	集計CD,
				年月日,
				出庫金額 = SUM(出庫金額),
				入庫金額 = SUM(入庫金額)
			FROM (
				SELECT
						集計CD = CASE 集計CD
												WHEN @wヤオコー		THEN 集計CD
												WHEN @wロピア		THEN 集計CD
												WHEN @wサンベルクス THEN 集計CD
												WHEN @wベルク		THEN 集計CD
												WHEN @wビバ			THEN 集計CD
												WHEN @wウエルシア	THEN 集計CD
												WHEN @wアマゾン	THEN 集計CD
												WHEN @wメルカリ	THEN 集計CD
												ELSE 0 END,
						年月日,
						出庫金額		=	ISNULL(出庫合計金額,0)
										+	ISNULL(調整出庫合計金額,0),
						入庫金額		=	ISNULL(入庫合計金額,0)
										+	ISNULL(調整入庫合計金額,0)
					FROM #TMP_TOTAL_NS
				) AS A
				GROUP BY 集計CD,年月日
				ORDER BY 集計CD,年月日

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--------------------------------------------
		--三研実績出力
		--------------------------------------------
		SELECT	年月, 売上税抜金額_円, 原価税抜金額_円, 人件一般費_円, 営業外費_円
			FROM	TM三研情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							AND 年月 <= @wE前年集計日付)--前年度	
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--サービス実績出力
		--------------------------------------------
		SELECT  年月, 売額_貨物自_三商, 原額_貨物自_三商, 
				売額_貨物自_店装, 原額_貨物自_店装, 売額_貨物自_サンプラ, 原額_貨物自_サンプラ,
				売額_貨物自_三シャ, 原額_貨物自_三シャ, 売額_貨物自_トラン, 原額_貨物自_トラン, 
				売額_貨物自_その他, 原額_貨物自_その他, 売額_貨物自_事故, 原額_貨物自_事故, 
				売額_貨物庸_三商, 原額_貨物庸_三商, 売額_貨物庸_店装, 原額_貨物庸_店装, 
				売額_貨物庸_サンプラ, 原額_貨物庸_サンプラ, 売額_貨物庸_三シャ, 原額_貨物庸_三シャ, 
				売額_貨物庸_トラン, 原額_貨物庸_トラン, 売額_貨物庸_その他, 原額_貨物庸_その他, 
				売額_貨物庸_事故, 原額_貨物庸_事故, 
				売額_物流_ルート, 原額_物流_ルート, 売額_物流_丸和, 原額_物流_丸和, 
				売額_物流_その他, 原額_物流_その他, 売額_物流_事故, 原額_物流_事故, 
				人件一般費_貨物, 営業外費_貨物,
				人件一般費_物流, 営業外費_物流
			FROM	TMサービス実績情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							AND 年月 <= @wE前年集計日付)
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--------------------------------------------
		--按分経費出力 
		-- 営業・工事・その他別統計集計先CD別
		--------------------------------------------

		SELECT	
				業種区分_未使用 = 0,
				部CD_未使用=0,
				年月日 = SY.集計日付,
				人件費一般費 = SUM(CASE WHEN KM.集計CD IN (1,2) THEN SY.按分金額 ELSE 0 END)--,
			FROM	TD経費按分集計V5 AS SY
				INNER JOIN TM科目 AS KM
					ON SY.科目CD = KM.科目CD
			WHERE	(
						(集計日付 >= @iS集計日付
							AND 集計日付 <= @iE集計日付)--今年度
					)
			GROUP BY	SY.集計日付
			ORDER BY    SY.集計日付




		------------------------------------------------
		------按分経費出力 
		------ 工事担当数による按分
		--------売上が多い担当に端数を充てる
		------------------------------------------------

		--------------------------------------------
		--売上原価出力
		--（部署別）
		--------------------------------------------
		SELECT	
				部署CD,
				年月日,
				作業区分CD,
				売上税抜金額 = SUM(売上税抜金額),
				原価税抜金額 = SUM(原価税抜金額)
			FROM #TMP_TOTAL
			GROUP BY	部署CD,年月日,作業区分CD
			ORDER BY	部署CD,年月日,作業区分CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:

	DROP TABLE #TMP_TOTAL
	DROP TABLE #TMP_TOTAL_NS

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
