/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor仕入先]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor仕入先]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor仕入先]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_ChkDelFor仕入先

機能	仕入先マスタメンテ[削除]のデータ存在チェック

	製品Ｍ・ＰＣＭ・顧客テンプレートＭ・単価Ｍ・客先在庫Ｍ・
	見積Ｄ・発注Ｄ・仕入明細Ｄ・支払Ｄ

引数	仕入先CD

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor仕入先]
	(
		@i仕入先CD	VARCHAR(4),
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--製品Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(主仕入先CD)
		FROM 		TM製品
		WHERE	(主仕入先CD = @i仕入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[製品マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--ＰＣＭチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(主仕入先CD)
		FROM 		TMPC
		WHERE	(主仕入先CD = @i仕入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[ＰＣマスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--顧客テンプレートＭチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入先CD)
		FROM 		TM顧客テンプレート
		WHERE	(仕入先CD = @i仕入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[顧客テンプレートマスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--見積シートMチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号)
		FROM 		TD見積シートM
		WHERE	(仕入先CD = @i仕入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[見積明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

/*2003.12.05.DEL
	--------------------------
	--発注Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(発注番号)
		FROM 		TD発注
		WHERE	(仕入先CD = @i仕入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[発注データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
*/

	--------------------------
	--仕入明細Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入番号)
		FROM 		TD仕入明細
		WHERE	(仕入先CD = @i仕入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--支払Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(支払番号)
		FROM 		TD支払
		WHERE	(仕入先CD = @i仕入先CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[支払データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST

GO
