/****** Object:  StoredProcedure [dbo].[usp_TK3302店舗別原価売価積上表_物件集計_施工別]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK3302店舗別原価売価積上表_物件集計_施工別]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK3302店舗別原価売価積上表_物件集計_施工別]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************
	
	売掛・買掛　集計

名称	usp_TK3302店舗別原価売価積上表_物件集計_施工別

機能	担当者毎店舗毎の売上金額と仕入金額の推移を作成する

		担当者 前年・今年 仕入・売上合計金額
		を出力

引数

戻り値

修正履歴
	2013/04/02	新規作成
	2013/08/19	見積件名・見積番号追加
	2013/10/28	仕入金額を出せるように修正
	2014/02/25	部署順・担当者順に並べる

	2014/07/21	oosawa		集計日付を「売上日付」「仕入日付」にする
	2014/11/03	oosawa		新売上バージョン
							チームに変更
	2015/03/02	oosawa		TK1400修正
							施工分を分けて出力
							
				営業分の集計仕様
					売上金額----仕入先:3016以外の売上を集計(仕入先なしは含む)
					仕入金額----得意先:3055以外の仕入を集計
					※営業側で3016の仕入は発生しない。

				施工担当分の集計仕様
					売上金額----仕入先:3016の売上を集計
					仕入金額----得意先:3055の仕入を集計	
					※施工側で3055の売上は発生しない。

	2015/03/13	oosawa		はじめに売上原価金額を突っ込んで
							仕入が存在してたら上書きで！
							原価の分はFLGでわかるように

	2015/08/18	oosawa		物件毎にまとめる機能追加
	2015/09/10	oosawa		物件集計・施工別を別ストアドに分ける

	2016/07/06	oosawa		新設
	2016/09/26	oosawa		case文不備でNULLになる
	2017/01/24	oosawa		TD仕入の仕入先CDが3150:三和倉庫は集計しない
	2018/12/24	oosawa		得意先→チームのつながりでなく、入力された部署で集計
							（昨対比は見積の部署を再設定する）
	2019/03/11	oosawa		1803・9998は部署CDでチームを分ける
	2020/02/24	oosawa		チーム別から顧客別へ変更
	2020/02/29	oosawa		顧客別じゃなく、1シートにべたで出す
							連結用CD追加
	2020/05/09	oosawa		物件がある場合は物件の得意先集計CDで集計
							以外は見積の得意先集計CDで集計に変更
	2021/03/03	oosawa		見積入力の集計CDを元に集計するように変更
	2021/05/20	oosawa	4209ﾁｮｳｴｲﾊﾝｽﾞを追加
						7001ﾏﾐｰをその他へ
						5201ｱﾎﾟｯｸをその他へ

*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK3302店舗別原価売価積上表_物件集計_施工別]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	--@iSチームCD		SMALLINT,
	--@iEチームCD		SMALLINT,
	@i集計区分		SMALLINT,
	@i物件集計区分	SMALLINT,

	----@RetDcnt 	INT				,
	----@RetST		INT				,
	----@RetMsg		VARCHAR(255)	

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''
	
		DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		--DECLARE @wマミー		VARCHAR(4) = '7001'--2021/05/20 DEL
		DECLARE	@wロピア		VARCHAR(4) = '4209'--2021/05/20 ADD

		DECLARE	@wベルク		VARCHAR(4) = '6601'
		DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		--DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		DECLARE	@wしまむら		VARCHAR(4) = '3201'

		DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		DECLARE @wビバ			VARCHAR(4) = '4801'
		--DECLARE	@wアポック		VARCHAR(4) = '5201'--2021/05/20 DEL

--set @iS集計日付 = '2015/07/01'
--set @iE集計日付 = '2015/07/31'
--SET @i集計区分 = 0

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10


	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			--チームCD		SMALLINT		NOT NULL,
			CD				SMALLINT,
			統計集計先CD	VARCHAR(10),		
			売仕区分		INT,			--0:売上　1:仕入
			物件種類		INT	DEFAULT 0,			--0:単体	1:集計
			見積番号		INT,
			クレーム区分	INT,
			--番号			INT,
			見積件名		VARCHAR(60),
			得意先CD		VARCHAR(4),
			納入得意先CD	VARCHAR(4),
			納入先CD		VARCHAR(4),
			納入先名1		VARCHAR(28),
			納入先名2		VARCHAR(28),
			現場名			VARCHAR(60),
			物件種別		SMALLINT,
			日付			DATETIME,
			税抜金額		MONEY	DEFAULT(0),
			--原価金額		MONEY	DEFAULT(0),	--TD売上の原価金額
			仕入金額		MONEY	DEFAULT(0),	--TD仕入の集計金額
			原価FLG			VARCHAR(4)
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	CREATE TABLE #TMP_TOTAL_SEKOU
		(
			--チームCD		SMALLINT		NOT NULL,
			CD				SMALLINT,
			統計集計先CD	VARCHAR(10),		
			施工税抜金額	MONEY	DEFAULT(0),
			施工仕入金額	MONEY	DEFAULT(0),
			コール税抜金額	MONEY	DEFAULT(0),
			コール仕入金額	MONEY	DEFAULT(0),
			内装税抜金額	MONEY	DEFAULT(0),
			内装仕入金額	MONEY	DEFAULT(0),
			クレーム税抜金額	MONEY	DEFAULT(0),
			クレーム仕入金額	MONEY	DEFAULT(0)
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--2013/10/28ADD↓
	--IF	@i集計区分 = 1	BEGIN--営業ベース仕入金額（原価）

		---------------------------
		--ヘッダー部　売上金額
		--担当者別店舗別売上情報
		---------------------------
		--営業分の売上を抽出
		INSERT	INTO #TMP_TOTAL
				(	CD,
					統計集計先CD, 売仕区分, 物件種類,
					見積番号,クレーム区分,
					見積件名, 得意先CD, 
					納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
					現場名, 物件種別,
					日付,
					税抜金額,
					仕入金額,--2015/03/13 ADD
					原価FLG--2015/03/13 ADD
				)
				SELECT	--TM.チームCD,
						--部署CD = CASE WHEN MH.販売先得意先CD = '9998' THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
						--チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
						CD = 0,
						--統計集計先CD = CASE TM.集計CD
						--統計集計先CD = CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
						--						WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						--WHEN @wフレッセイ	THEN TM.集計CD
						--						WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						ELSE 99999 END,
						統計集計先CD = CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
						0,物件種類 = CASE WHEN BK.物件番号 IS NULL THEN 0 ELSE 1 END,
						COALESCE(BK.物件番号,UH.見積番号),MAX(クレーム区分),
						COALESCE(BK.物件名,MH.見積件名),COALESCE(BK.得意先CD,MH.得意先CD),
						COALESCE(BK.納入得意先CD,MH.納入得意先CD),COALESCE(BK.納入先CD,MH.納入先CD),
						COALESCE(BK.納入先名1,MH.納入先名1),COALESCE(BK.納入先名2,MH.納入先名2),
						MAX(MH.現場名),物件種別 = MIN(ISNULL(MH.物件種別,0)),
						売上日付 = MAX(UH.売上日付),
						税抜金額 = SUM(CASE WHEN (MSM.仕入先CD IS NULL) 
													OR (MSM.作業区分CD = 0)
											THEN CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
											ELSE 0
										END),
						原価金額 = SUM(CASE WHEN (MSM.仕入先CD IS NULL) 
													OR (MSM.作業区分CD = 0)
											THEN UM.仕入金額
											ELSE 0
										END),
						原価FLG = '原価'--2015/03/13 ADD
					FROM	TD売上V2 AS UH
						INNER JOIN TD売上明細V2 AS UM
							ON UH.売上番号 = UM.売上番号 
						LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
							ON UM.見積明細連番 = MSM.見積明細連番
						INNER JOIN	TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
						INNER JOIN	TM得意先 AS TM
							ON MH.販売先得意先CD = TM.得意先CD
						LEFT JOIN TD物件情報 AS BK
							ON MH.物件番号 = BK.物件番号
						--2020/05/09 ADD↓
						LEFT JOIN	TM得意先 AS TM2
							ON BK.得意先CD = TM2.得意先CD
						--2020/05/09 ADD↑
					WHERE	UH.売上日付 >= @iS集計日付
						AND	UH.売上日付 <= @iE集計日付
						--AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						--AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
					GROUP BY	--TM.チームCD, 
								--CASE WHEN MH.販売先得意先CD = '9998' THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
								--CASE TM.集計CD
								--CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
								--				WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				--WHEN @wフレッセイ	THEN TM.集計CD
								--				WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				ELSE 99999 END,
								CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
								CASE WHEN BK.物件番号 IS NULL THEN 0 ELSE 1 END,
								COALESCE(BK.物件番号,UH.見積番号),--MH.クレーム区分,
								COALESCE(BK.物件名,MH.見積件名),COALESCE(BK.得意先CD,MH.得意先CD),
								COALESCE(BK.納入得意先CD,MH.納入得意先CD),COALESCE(BK.納入先CD,MH.納入先CD),
								COALESCE(BK.納入先名1,MH.納入先名1),COALESCE(BK.納入先名2,MH.納入先名2)--,
								--MH.現場名,
								--ISNULL(MH.物件種別,0)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		---------------------------
		--仕入金額情報を更新
		---------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--仕入情報
				SELECT	--TM.チームCD,
						--部署CD = CASE WHEN MH.販売先得意先CD = '9998' THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
						--チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
						--統計集計先CD = CASE TM.集計CD
						--統計集計先CD = CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
						--						WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						--WHEN @wフレッセイ	THEN TM.集計CD
						--						WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						ELSE 99999 END,
						統計集計先CD = CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
						売仕区分 = 1,
						物件種類 = CASE WHEN BK.物件番号 IS NULL THEN 0 ELSE 1 END,
						見積番号 = COALESCE(BK.物件番号,SR.見積番号),クレーム区分 = MAX(クレーム区分),
						見積件名 = COALESCE(BK.物件名,MH.見積件名),得意先CD = COALESCE(BK.得意先CD,MH.得意先CD),
						納入得意先CD = COALESCE(BK.納入得意先CD,MH.納入得意先CD),納入先CD = COALESCE(BK.納入先CD,MH.納入先CD),
						納入先名1 = COALESCE(BK.納入先名1,MH.納入先名1),納入先名2 = COALESCE(BK.納入先名2,MH.納入先名2),
						現場名 = MAX(MH.現場名),物件種別 = MIN(ISNULL(MH.物件種別,0)),
						仕入日付 = MAX(SM.仕入日付),--2015/05/26 ADD
						税抜金額 = 0,--SUM(SM.税抜金額) AS 仕入金額
						仕入金額 = SUM(CASE WHEN ((MSM.仕入先CD IS NULL)
													OR (MSM.作業区分CD = 0))
													--AND NOT(SR.得意先CD = '3055')
											THEN CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END
											ELSE 0
										END)
					FROM	TD仕入 AS SR
						INNER JOIN TD仕入明細 AS SM
							ON SR.仕入番号 = SM.仕入番号
						INNER JOIN TD仕入明細内訳 AS SMU
							ON SM.仕入番号 = SMU.仕入番号
						INNER JOIN	TD見積 AS MH
							ON SR.見積番号 = MH.見積番号
						LEFT JOIN TD見積シートM AS MSM
							ON SMU.見積明細連番 = MSM.見積明細連番 
						INNER JOIN	TM得意先 AS TM
							ON SR.販売先得意先CD = TM.得意先CD
						LEFT JOIN TD物件情報 AS BK
							ON MH.物件番号 = BK.物件番号
						--2020/05/09 ADD↓
						LEFT JOIN	TM得意先 AS TM2
							ON BK.得意先CD = TM2.得意先CD
						--2020/05/09 ADD↑
					WHERE	SM.仕入日付 >= @iS集計日付
						AND SM.仕入日付 <= @iE集計日付
						--AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						--AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						--AND	NOT(SMU.仕入先CD = '3150')--2017/01/24 ADD
						AND	(MH.社内伝票扱い = 0)--社内伝でない
					GROUP BY	--TM.チームCD,
								--CASE WHEN MH.販売先得意先CD = '9998' THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
								--CASE TM.集計CD
								--CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
								--				WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				--WHEN @wフレッセイ	THEN TM.集計CD
								--				WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				ELSE 99999 END,
								CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
								CASE WHEN BK.物件番号 IS NULL THEN 0 ELSE 1 END,
								COALESCE(BK.物件番号,SR.見積番号),--MH.クレーム区分,
								COALESCE(BK.物件名,MH.見積件名),COALESCE(BK.得意先CD,MH.得意先CD),
								COALESCE(BK.納入得意先CD,MH.納入得意先CD),COALESCE(BK.納入先CD,MH.納入先CD),
								COALESCE(BK.納入先名1,MH.納入先名1),COALESCE(BK.納入先名2,MH.納入先名2)
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.統計集計先CD = B.統計集計先CD--2018/12/24 ADD
				AND	A.物件種類 = B.物件種類
				AND A.見積番号 = B.見積番号
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.仕入金額 =  B.仕入金額,
						A.原価FLG = '',
						--A.クレーム区分 = CASE WHEN A.クレーム区分=0 THEN B.クレーム区分 END
						A.クレーム区分 = CASE WHEN A.クレーム区分=0 THEN B.クレーム区分 ELSE A.クレーム区分 END--2016/09/26 ADD

			WHEN NOT MATCHED THEN
				INSERT
						(
							CD,
							統計集計先CD,
							売仕区分,
							物件種類,
							見積番号,
							クレーム区分,
							見積件名, 得意先CD, 
							納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
							現場名, 物件種別,
							日付,
							税抜金額,
							仕入金額
						)
					VALUES
						(
							--B.チームCD,
							0,
							B.統計集計先CD,--2018/12/24 ADD
							B.売仕区分,
							B.物件種類,
							B.見積番号,
							B.クレーム区分,
							B.見積件名, B.得意先CD, 
							B.納入得意先CD, B.納入先CD, B.納入先名1, B.納入先名2,
							B.現場名, B.物件種別,
							B.仕入日付,
							B.税抜金額,
							B.仕入金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--	作業区分CD分の売上集計
		MERGE INTO	#TMP_TOTAL_SEKOU AS A
			USING
				(
				--売上
				SELECT	--TM.チームCD,
						--部署CD = CASE WHEN MH.販売先得意先CD = '9998' THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
						--チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
						--統計集計先CD = CASE TM.集計CD
						--統計集計先CD = CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
						--						WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						--WHEN @wフレッセイ	THEN TM.集計CD
						--						WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						ELSE 99999 END,
						統計集計先CD = CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
						--内税の場合は消費税を引く
						税抜金額_施工 = SUM(CASE WHEN MSM.作業区分CD = 1 THEN
											CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
										ELSE 0 END)
						,税抜金額_コール = SUM(CASE WHEN MSM.作業区分CD = 2 THEN
											CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
										ELSE 0 END)
						,税抜金額_内装 = SUM(CASE WHEN MSM.作業区分CD = 3 THEN
											CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
										ELSE 0 END)
						,税抜金額_クレーム = SUM(CASE WHEN MSM.作業区分CD = 4 THEN
											CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END
										ELSE 0 END)

					FROM TD売上v2 AS UH  
						INNER JOIN TD売上明細V2 AS UM
							ON UH.売上番号 = UM.売上番号
						LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
							ON UM.見積明細連番 = MSM.見積明細連番 
						INNER JOIN TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
						INNER JOIN TM得意先 AS TM
							ON MH.得意先CD = TM.得意先CD
						LEFT JOIN TD物件情報 AS BK
							ON MH.物件番号 = BK.物件番号
						--2020/05/09 ADD↓
						LEFT JOIN	TM得意先 AS TM2
							ON BK.得意先CD = TM2.得意先CD
						--2020/05/09 ADD↑
					--2014/07/21 ADD↓
					WHERE	UH.売上日付 >= @iS集計日付
						AND	UH.売上日付 <= @iE集計日付
						--AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						--AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						--AND	MH.クレーム区分 = 0--クレームでない
					GROUP BY    -- TM.チームCD
								--CASE WHEN MH.販売先得意先CD = '9998' THEN MH.部署CD ELSE TM.チームCD END--2018/12/24 ADD
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END--2019/03/11 ADD
									--CASE TM.集計CD
								--CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
								--				WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				--WHEN @wフレッセイ	THEN TM.集計CD
								--				WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				ELSE 99999 END
								CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.統計集計先CD = B.統計集計先CD--2018/12/24 ADD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.施工税抜金額 = A.施工税抜金額 + B.税抜金額_施工,
						A.コール税抜金額 = A.コール税抜金額 + B.税抜金額_コール,
						A.内装税抜金額 = A.内装税抜金額 + B.税抜金額_内装,
						A.クレーム税抜金額 = A.クレーム税抜金額 + B.税抜金額_クレーム

			WHEN NOT MATCHED THEN
				INSERT
						(
							CD,
							統計集計先CD,
							施工税抜金額,
							コール税抜金額,
							内装税抜金額,
							クレーム税抜金額
						)
					VALUES
						(
							0,
							B.統計集計先CD,--2018/12/24 ADD
							B.税抜金額_施工,
							B.税抜金額_コール,
							B.税抜金額_内装,
							B.税抜金額_クレーム
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--TMPに存在するデータの原価を更新
		MERGE INTO	#TMP_TOTAL_SEKOU AS A
			USING
				(
				--仕入情報
				SELECT	
						--TM.チームCD,
						--部署CD = CASE WHEN MH.販売先得意先CD = '9998' THEN MH.部署CD ELSE TM.チームCD END,--2018/12/24 ADD
						--チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,--2019/03/11 ADD
						--統計集計先CD = CASE TM.集計CD
						--統計集計先CD = CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
						--						WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						--WHEN @wフレッセイ	THEN TM.集計CD
						--						WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
						--						ELSE 99999 END,
						統計集計先CD = CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END,
						--内税の場合は消費税を引く
						仕入金額_施工 = SUM(CASE WHEN MSM.作業区分CD = 1 THEN
											CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END
										ELSE 0 END)
						,仕入金額_コール = SUM(CASE WHEN MSM.作業区分CD = 2 THEN
											CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END
										ELSE 0 END)
						,仕入金額_内装 = SUM(CASE WHEN MSM.作業区分CD = 3 THEN
											CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END
										ELSE 0 END)
						,仕入金額_クレーム = SUM(CASE WHEN MSM.作業区分CD = 4 THEN
											CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END
										ELSE 0 END)
					FROM	TD仕入明細 AS SM 
						INNER JOIN TD仕入 AS SR
							ON SR.仕入番号 = SM.仕入番号
						INNER JOIN TD仕入明細内訳 AS SMU
							ON SM.仕入番号 = SMU.仕入番号
						INNER JOIN	TD見積 AS MH
							ON SR.見積番号 = MH.見積番号
						LEFT JOIN TD見積シートM AS MSM
							ON SMU.見積明細連番 = MSM.見積明細連番 
						INNER JOIN TM得意先 AS TM
							ON SR.販売先得意先CD = TM.得意先CD
						LEFT JOIN TD物件情報 AS BK
							ON MH.物件番号 = BK.物件番号
						--2020/05/09 ADD↓
						LEFT JOIN	TM得意先 AS TM2
							ON BK.得意先CD = TM2.得意先CD
						--2020/05/09 ADD↑
					WHERE	SM.仕入日付 >= @iS集計日付
						AND SM.仕入日付 <= @iE集計日付
						--AND	MH.クレーム区分 = 0--クレームでない
						--AND	NOT(SMU.仕入先CD = '3150')--2017/01/24 ADD
						AND	(MH.社内伝票扱い = 0)--社内伝でない
				GROUP BY --TM.チームCD
								--CASE WHEN MH.販売先得意先CD = '9998' THEN MH.部署CD ELSE TM.チームCD END--2018/12/24 ADD
								--CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END--2019/03/11 ADD
									--CASE TM.集計CD
								--CASE COALESCE(TM2.集計CD,TM.集計CD)--2020/05/09 ADD
								--				WHEN @wヤオコー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wマミー		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wサンベルクス THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				--WHEN @wフレッセイ	THEN TM.集計CD
								--				WHEN @wアポック		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wしまむら		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wベルク		THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wビバ			THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				WHEN @wウエルシア	THEN COALESCE(TM2.集計CD,TM.集計CD)
								--				ELSE 99999 END
								CASE MH.集計CD--2021/03/03 ADD
												WHEN @wヤオコー		THEN MH.集計CD
												--WHEN @wマミー		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wロピア		THEN MH.集計CD--2021/05/20 ADD
												WHEN @wサンベルクス THEN MH.集計CD
												--WHEN @wフレッセイ	THEN TM.集計CD
												--WHEN @wアポック		THEN MH.集計CD--2021/05/20 DEL
												WHEN @wしまむら		THEN MH.集計CD
												WHEN @wベルク		THEN MH.集計CD
												WHEN @wビバ			THEN MH.集計CD
												WHEN @wウエルシア	THEN MH.集計CD
												ELSE 99999 END
				) AS B
			ON  (
				--A.チームCD = B.チームCD
				A.統計集計先CD = B.統計集計先CD--2018/12/24 ADD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.施工仕入金額 = A.施工仕入金額 + B.仕入金額_施工,
						A.コール仕入金額 = A.コール仕入金額 + B.仕入金額_コール,
						A.内装仕入金額 = A.内装仕入金額 + B.仕入金額_内装,
						A.クレーム仕入金額 = A.クレーム仕入金額 + B.仕入金額_クレーム

			WHEN NOT MATCHED THEN
				INSERT
						(
							CD,
							統計集計先CD,
							施工仕入金額,
							コール仕入金額,
							内装仕入金額,
							クレーム仕入金額
						)
					VALUES
						(
							0,
							B.統計集計先CD,--2018/12/24 ADD
							B.仕入金額_施工,
							B.仕入金額_コール,
							B.仕入金額_内装,
							B.仕入金額_クレーム
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--END
--2013/10/28ADD↑

	
	----------------------------------
	--集計値　抽出
	----------------------------------
	SELECT TMP.*,
		施工税抜金額 = ISNULL(TMP_S.施工税抜金額,0),
		施工仕入金額 = ISNULL(TMP_S.施工仕入金額,0),
		コール税抜金額 = ISNULL(TMP_S.コール税抜金額,0),
		コール仕入金額 = ISNULL(TMP_S.コール仕入金額,0),
		内装税抜金額 = ISNULL(TMP_S.内装税抜金額,0),
		内装仕入金額 = ISNULL(TMP_S.内装仕入金額,0),
		クレーム税抜金額 = ISNULL(TMP_S.クレーム税抜金額,0),
		クレーム仕入金額 = ISNULL(TMP_S.クレーム仕入金額,0),
		Count = COUNT(TMP.統計集計先CD) OVER (PARTITION BY TMP.統計集計先CD)
		FROM #TMP_TOTAL AS TMP
			--INNER JOIN TMチーム AS CM
			--	ON TMP.チームCD = CM.チームCD
			--INNER JOIN TM担当者 AS TN
			--	ON CM.代表担当者CD = TN.担当者CD
			--INNER JOIN TM部署 AS BS
			--	ON TN.部署CD = BS.部署CD
			LEFT JOIN #TMP_TOTAL_SEKOU AS TMP_S
				ON TMP.統計集計先CD = TMP_S.統計集計先CD
		WHERE NOT(TMP.税抜金額=0 AND TMP.仕入金額=0)
		--ORDER BY	BS.順序, TN.順序,TMP.チームCD, YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD
		--ORDER BY	CM.順序, TMP.統計集計先CD, YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD
		ORDER BY	TMP.統計集計先CD, YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD

	--------------------------------------
	------集計値　抽出
	--------------------------------------
	----SELECT TMP.*,
	----	施工税抜金額 = ISNULL(TMP_S.施工税抜金額,0),
	----	施工仕入金額 = ISNULL(TMP_S.施工仕入金額,0),
	----	コール税抜金額 = ISNULL(TMP_S.コール税抜金額,0),
	----	コール仕入金額 = ISNULL(TMP_S.コール仕入金額,0),
	----	内装税抜金額 = ISNULL(TMP_S.内装税抜金額,0),
	----	内装仕入金額 = ISNULL(TMP_S.内装仕入金額,0),
	----	クレーム税抜金額 = ISNULL(TMP_S.クレーム税抜金額,0),
	----	クレーム仕入金額 = ISNULL(TMP_S.クレーム仕入金額,0),
	----	Count = COUNT(TMP.統計集計先CD) OVER (PARTITION BY TMP.統計集計先CD)
	----	FROM #TMP_TOTAL AS TMP
	----		LEFT JOIN (SELECT	CD,
	----							施工税抜金額 = SUM(施工税抜金額),
	----							施工仕入金額 = SUM(施工仕入金額),
	----							コール税抜金額 = SUM(コール税抜金額),
	----							コール仕入金額 = SUM(コール仕入金額),
	----							内装税抜金額 = SUM(内装税抜金額),
	----							内装仕入金額 = SUM(内装仕入金額),
	----							クレーム税抜金額 = SUM(クレーム税抜金額),
	----							クレーム仕入金額 = SUM(クレーム仕入金額)
	----						FROM	#TMP_TOTAL_SEKOU
	----						GROUP BY CD
	----					) AS TMP_S
	----			ON TMP.CD = TMP_S.CD
	----	WHERE NOT(TMP.税抜金額=0 AND TMP.仕入金額=0)
	----	ORDER BY	TMP.統計集計先CD, YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST


GO
