/****** Object:  StoredProcedure [dbo].[usp_M4400ログイン制御情報抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_M4400ログイン制御情報抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_M4400ログイン制御情報抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_M4400ログイン制御情報抽出
	

	機能:	
		ログイン制御情報を抽出

 =============================================
	2018/03/27	oosawa	新設
=============================================*/
CREATE  PROCEDURE [dbo].[usp_M4400ログイン制御情報抽出]
	(
	@LoginName	VARCHAR(255),

	--OUTPUT
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	--ワークテーブル作成
	--------------------------------------------------
	CREATE TABLE #TMP
		(
			loginName		VARCHAR(255)		NOT NULL,
			appTitle		VARCHAR(255)		NOT NULL,
			appEnabled		SMALLINT	DEFAULT -1,
			appUpDel		SMALLINT	DEFAULT 0,
			appNo			INT
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------
	-- ログイン制御情報抽出
	--------------------------------------------	
		--アプリケーションタイトル
		MERGE INTO	#TMP AS A
			USING
				(
				SELECT	LoginName = @LoginName, 
						AppTitle,AppNo
					FROM AppTitle
				) AS B
			ON  (
				A.loginName = B.LoginName
				AND A.appTitle = B.AppTitle
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.appNo = B.AppNo
			WHEN NOT MATCHED THEN
				INSERT
						(
							loginName,
							appTitle,
							appNo
						)
					VALUES
						(
							B.LoginName,
							B.AppTitle,
							B.AppNo
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----ログイン制御
		MERGE INTO	#TMP AS A
			USING
				(
				SELECT	LoginName
						,AppTitle
						,AppEnabled
						,AppUpDel
					FROM TMログイン制御
					WHERE LoginName = @LoginName
				) AS B
			ON  (
				A.loginName = B.LoginName
				AND	A.appTitle = B.AppTitle
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.appEnabled = B.AppEnabled,
						A.appUpDel = B.AppUpDel
			WHEN NOT MATCHED THEN
				INSERT
						(
							loginName,
							appTitle,
							appEnabled,
							appUpDel,
							appNo
						)
					VALUES
						(
							B.LoginName,
							B.AppTitle,
							B.AppEnabled,
							B.AppUpDel,
							0
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



		SELECT * FROM #TMP
			ORDER BY appNo
		

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:

	DROP TABLE #TMP

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
