/****** Object:  StoredProcedure [dbo].[usp_HJ0100データ削除]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HJ0100データ削除]
GO
/****** Object:  StoredProcedure [dbo].[usp_HJ0100データ削除]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE	PROCEDURE [dbo].[usp_HJ0100データ削除]
	(
		@iDELDATE	DATETIME,
		@RetST	INT		OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
/*
	機能	データ削除処理を行います

	2003/10/22	kawamura		作成
*/
	SET	NOCOUNT ON

	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@会社入力開始日	DATETIME

	--会社マスタの入力開始日を取得します
	SELECT	@会社入力開始日 = 入力開始日
		FROM	TM会社

	IF @会社入力開始日 IS NULL	BEGIN
		SET	@ST = -1
		SET	@MSG = '会社マスタの入力開始日が未定義です。'
		GOTO	EXIT_SP
	END

	--削除日付より会社入力開始日が小さい場合ｴﾗｰ
	IF @iDELDATE < @会社入力開始日 BEGIN
		SET	@ST = -1
		SET	@MSG = '削除可能範囲外です。'
		GOTO	EXIT_SP
	END

	------------------------------------------------------------------------------------------
	--	トランザクションを開始します
	------------------------------------------------------------------------------------------
	BEGIN	TRAN

	------------------------------------------------------------------------------------------
	--	見積データ削除
	------------------------------------------------------------------------------------------
		------------------------------------------------------------------------------------------
		--	TD見積シート内訳名称を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD見積シート内訳名称
			WHERE	見積番号 
					IN 	(
						SELECT	見積番号
						FROM	TD見積
						WHERE	見積日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD見積シート内訳を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD見積シート内訳
			WHERE	見積番号 
					IN 	(
						SELECT	見積番号
						FROM	TD見積
						WHERE	見積日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD見積シートMを削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD見積シートM
			WHERE	見積番号 
					IN 	(
						SELECT	見積番号
						FROM	TD見積
						WHERE	見積日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD見積を削除します
		------------------------------------------------------------------------------------------
		DELETE	TD見積
			WHERE	見積日付 < @iDELDATE
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------------------------------------
	--	発注データ削除
	------------------------------------------------------------------------------------------
		------------------------------------------------------------------------------------------
		--	TD発注明細を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD発注明細
			WHERE	発注番号 
					IN 	(
						SELECT 	発注番号
						FROM	TD発注
						WHERE	発注日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD発注を削除します
		------------------------------------------------------------------------------------------
		DELETE	TD発注
			WHERE	発注日付 < @iDELDATE
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	------------------------------------------------------------------------------------------
	--	仕入残データ削除
	------------------------------------------------------------------------------------------
		------------------------------------------------------------------------------------------
		--	TD仕入残明細内訳を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD仕入残明細内訳
			WHERE	見積番号 
					IN 	(
						SELECT 	見積番号
						FROM	TD仕入残明細
						WHERE	支払日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD仕入残を削除します
		------------------------------------------------------------------------------------------
		DELETE	TD仕入残
			WHERE	見積番号 
					IN 	(
						SELECT 	見積番号
						FROM	TD仕入残明細
						WHERE	支払日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------------------------------------------------
		--	TD仕入残明細を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD仕入残明細
			WHERE	支払日付 < @iDELDATE
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	------------------------------------------------------------------------------------------
	--	仕入データ削除
	------------------------------------------------------------------------------------------
		------------------------------------------------------------------------------------------
		--	TD仕入明細内訳を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD仕入明細内訳
			WHERE	仕入番号 
					IN 	(
						SELECT 	仕入番号
						FROM	TD仕入明細
						WHERE	支払日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD仕入を削除します
		------------------------------------------------------------------------------------------
		DELETE	TD仕入
			WHERE	仕入番号 
					IN 	(
						SELECT 	仕入番号
						FROM	TD仕入明細
						WHERE	支払日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------------------------------------------------
		--	TD仕入明細を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD仕入明細
			WHERE	支払日付 < @iDELDATE
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	------------------------------------------------------------------------------------------
	--	売上データ削除
	------------------------------------------------------------------------------------------
		------------------------------------------------------------------------------------------
		--	TD売上明細内訳を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD売上明細内訳
			WHERE	売上番号 
					IN 	(
						SELECT 	売上番号
						FROM	TD売上
						WHERE	請求日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD売上明細を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD売上明細
			WHERE	売上番号 
					IN 	(
						SELECT 	売上番号
						FROM	TD売上
						WHERE	請求日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD売上を削除します
		------------------------------------------------------------------------------------------
		DELETE	TD売上
			WHERE	請求日付 < @iDELDATE
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------------------------------------
	--	TD入金を削除します
	------------------------------------------------------------------------------------------
	DELETE	FROM	TD入金
		WHERE	入金日付 < @iDELDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------------------------------------
	--	TD支払を削除します
	------------------------------------------------------------------------------------------
	DELETE	FROM	TD支払
		WHERE	支払日付 < @iDELDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------------------------------------
	--	手入力鏡データ削除
	------------------------------------------------------------------------------------------
		------------------------------------------------------------------------------------------
		--	TD手入力鏡内訳を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD手入力鏡内訳
			WHERE	鏡番号 
					IN 	(
						SELECT 	鏡番号
						FROM	TD手入力鏡
						WHERE	請求日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD手入力鏡を削除します
		------------------------------------------------------------------------------------------
		DELETE	TD手入力鏡
			WHERE	請求日付 < @iDELDATE
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	------------------------------------------------------------------------------------------
	--	経費データ削除
	------------------------------------------------------------------------------------------
		------------------------------------------------------------------------------------------
		--	TD経費明細を削除します
		------------------------------------------------------------------------------------------
		DELETE	FROM	TD経費明細
			WHERE	経費番号 
					IN 	(
						SELECT 	経費番号
						FROM	TD経費
						WHERE	経費日付 < @iDELDATE
						)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------------------------------------------
		--	TD経費を削除します
		------------------------------------------------------------------------------------------
		DELETE	TD経費
			WHERE	経費日付 < @iDELDATE
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

/*
	------------------------------------------------------------------------------------------
	--	会社マスタの入力開始日を変更します。
	------------------------------------------------------------------------------------------
	UPDATE	TM会社
	SET	入力開始日 = @iDELDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
*/


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
