/****** Object:  StoredProcedure [dbo].[usp_TN0801SetTmp担当者別客先在庫棚卸入力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0801SetTmp担当者別客先在庫棚卸入力]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0801SetTmp担当者別客先在庫棚卸入力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN0801SetTmp担当者別客先在庫棚卸入力

	機能:	
		棚卸情報を#Tmpに登録する。

 =============================================
	2009/09/08	oosawa	新規作成

 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN0801SetTmp担当者別客先在庫棚卸入力]
	(
	@i棚卸日付		DATETIME ,
	@i担当者CD		SMALLINT ,
	@i得意先CD		VARCHAR(4),
	@i製品NO		CHAR (7) ,
	@i仕様NO		CHAR (7) , 
	@i現在庫数		MONEY ,
	@i棚卸数		MONEY ,
	@i入力日付		DATETIME,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''


--	INSERT INTO Tmp在庫調整
	INSERT INTO #Tmp担当者別客先在庫棚卸入力
		(
			棚卸日付,
			担当者CD, 
			得意先CD,
			製品NO,
			仕様NO,
			現在庫数,
			棚卸数,
			入力日付
		)  
	VALUES 
		(
			@i棚卸日付,
			@i担当者CD, 
			@i得意先CD,
			@i製品NO,
			@i仕様NO,
			@i現在庫数,
			@i棚卸数,
			@i入力日付
		)

	SET @ST=@@ERROR IF @ST<>0 GOTO EXIT_SP

EXIT_SP:
	SET @RetST = @ST
	SET @RetMsg = @MSG
	RETURN @ST

GO
