/****** Object:  StoredProcedure [dbo].[usp_SE2000MM請求明細表発行]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE2000MM請求明細表発行]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE2000MM請求明細表発行]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE2000MM請求明細表発行

機能	マミーマート用請求明細を作成する


引数

戻り値

修正履歴
	2015/10/22	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE2000MM請求明細表発行]
	(
		@iS請求日付			DATETIME,
		@iE請求日付			DATETIME,
		@i発注担当者名		VARCHAR(40),
		
		--OUTPUT
		@RetDcnt 	INT				OUTPUT,
		@RetST		INT				OUTPUT,
		@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

		---------------------------
		--請求明細
		---------------------------
		SELECT	MH.納入得意先CD,
				MH.納入先CD,
				NY.表示用店舗名,
				USH.見積番号,
				MH.受付日付,
				MH.完工日付,
				MH.発注担当者名,
				USH.合計金額,
				MH.作業内容,
				Count = COUNT(USH.見積番号) OVER (PARTITION BY MH.発注担当者名)
			FROM	--TD売上v2 AS UH
				--INNER JOIN TD売上明細v2 AS UM
				--	ON UH.売上番号 = UM.売上番号
				TD売上請求H AS USH
				--	ON UH.見積番号 = USH.見積番号
				INNER JOIN TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
				INNER JOIN TM納入先 AS NY
					ON MH.納入得意先CD = NY.得意先CD
					AND MH.納入先CD = NY.納入先CD
			WHERE	MH.得意先CD = '7001'
				AND USH.請求日付 >= @iS請求日付
				AND USH.請求日付 <= @iE請求日付
				AND	MH.発注担当者名 = COALESCE(@i発注担当者名,MH.発注担当者名)
			ORDER BY MH.発注担当者名,MH.受付日付,USH.見積番号

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
