/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor会社]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor会社]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor会社]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_ChkDelFor会社

機能	会社マスタメンテでのコントロールロック用のデータ存在チェック

	見積Ｄ・発注Ｄ・仕入Ｄ・売上Ｄ・入金Ｄ・支払Ｄ・経費Ｄ

引数	

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor会社]
	(
		@RetCnt	INT			OUTPUT,
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--見積Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号) 
		FROM 	TD見積

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt <> 0 	GOTO	CNT_SET

/*2003.12.05.DEL
	--------------------------
	--発注Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(発注番号) 
		FROM 	TD発注

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt <> 0 	GOTO	CNT_SET
*/

	--------------------------
	--仕入Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入番号) 
		FROM 	TD仕入

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt <> 0 	GOTO	CNT_SET

	--------------------------
	--売上Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(売上番号)
		FROM 	TD売上

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt <> 0 	GOTO	CNT_SET

	--------------------------
	--入金Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(入金番号)
		FROM 	TD入金

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt <> 0 	GOTO	CNT_SET

	--------------------------
	--支払Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(支払番号)
		FROM 	TD支払

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt <> 0 	GOTO	CNT_SET

	--------------------------
	--経費Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(経費番号)
		FROM 	TD経費

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt <> 0 	GOTO	CNT_SET


	--------------------------
	--引数セット（データ無し）
	--------------------------
	SET	@RetCnt = 0
	GOTO	EXIT_SP


CNT_SET:
	--------------------------
	--引数セット（データ有り）
	--------------------------
	SET	@RetCnt = 1


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END
	RETURN @ST

GO
