/****** Object:  StoredProcedure [dbo].[usp_SD0300支払予定表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SD0300支払予定表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_SD0300支払予定表出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_SD0300支払予定表出力

機能	指定された条件で支払予定表データを取得する

	2008/08/06	oosawa		新規作成
	
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SD0300支払予定表出力]
	@iS支払予定日付		DATETIME,
	@iE支払予定日付		DATETIME,
	@iS仕入先CD			VARCHAR(4),
	@iE仕入先CD			VARCHAR(4),

	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		NVARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
				@MSG	NVARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

		--支払予定表抽出
		select	SK.仕入先CD,SK.仕入先名1,SK.仕入先名2,
				SK.支払予定日付,
				SK.支払方法, 
				SK.支払予定金額,
				SK.支払日付
			FROM
				VM支払予定情報 AS SK
			WHERE 	SK.支払予定日付	>= @iS支払予定日付
				AND	SK.支払予定日付 <= @iE支払予定日付
				AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@iS仕入先CD),SK.仕入先CD)
				AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@iE仕入先CD),SK.仕入先CD)
			ORDER	BY	SK.仕入先CD

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
