/****** Object:  StoredProcedure [dbo].[usp_TK0300得意先売上別仕入先原価推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK0300得意先売上別仕入先原価推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK0300得意先売上別仕入先原価推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_TK0300得意先売上別仕入先原価推移表

機能	得意先毎の売上に対する仕入先別の原価の推移を作成する

	※　しまむらのような、在庫からの売上の場合、
		仕入先が三和商研になってしまうので
		うまくない！！！！！

引数	

戻り値	

修正履歴
	2012/05/16	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK0300得意先売上別仕入先原価推移表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS得意先CD		VARCHAR(4),
	@iE得意先CD		VARCHAR(4),

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST	INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	INT,	--年カウント
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)
	DECLARE	@FIELD	VARCHAR(8000)
	
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/12/31'

--SET	@iS得意先CD = '8001'
--SET	@iE得意先CD = '9000'


	SELECT	SYU.得意先CD,
			SYU.年月,
			SYU.仕入先CD,
			SYU.税抜金額,
			SYU.原価金額
	INTO #TMP
		FROM (			
				SELECT	UH.得意先CD,
						MSM.仕入先CD,
						年月 = CONVERT(CHAR(6),UH.請求日付,112),--dbo.ufn_GetLastDateOfScope(UH.請求日付,99),
						SUM(UU.売上金額-UU.消費税額) AS 税抜金額,
						SUM(UU.仕入金額) AS 原価金額
					FROM	TD売上 AS UH 
						INNER JOIN TD売上明細 AS UM
							ON UH.売上番号 = UM.売上番号 
						INNER JOIN TD売上明細内訳 AS UU
							ON UM.売上番号 = UU.売上番号 
								AND UM.売上行番号 = UU.売上行番号
						INNER JOIN TD見積シートM AS MSM
							ON UH.見積番号 = MSM.見積番号
							AND UU.見積行番号 = MSM.行番号
					WHERE	UH.請求日付 >= @iS集計日付
		    			AND	UH.請求日付 <= @iE集計日付
	    				AND UH.得意先CD >= COALESCE(@iS得意先CD,UH.得意先CD)
	    				AND UH.得意先CD <= COALESCE(@iE得意先CD,UH.得意先CD)
					GROUP BY     UH.得意先CD,MSM.仕入先CD,CONVERT(CHAR(6),UH.請求日付,112)--dbo.ufn_GetLastDateOfScope(UH.請求日付,99)
				) AS SYU
			ORDER BY	SYU.年月,SYU.仕入先CD
			
--SELECT * FROM #TMP

	--初期日付セット
	SET	@wNENGETUCNT = CONVERT(CHAR(6),@iS集計日付,112)
	SET	@wCNT = 1

	SET @FIELD = ''
	
	WHILE	(CONVERT(CHAR(6),@iE集計日付,112) >= @wNENGETUCNT)	BEGIN
		IF	@wCNT <> 1 BEGIN
			--
			SET @FIELD = @FIELD + ','
		END

		SET	@FIELD = @FIELD + '
			原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(@wNENGETUCNT AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(@wNENGETUCNT AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END)
			'
			--原価金額1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			--税抜金額1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			--比率1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),

		SET	@wNENGETUCNT = @wNENGETUCNT + 1
		SET @wCNT = @wCNT + 1
	END

--SELECT @FIELD

	--SELECT	
	--		TK.得意先名1, TK.得意先名2,
	--		SI.仕入先名1, SI.仕入先名2,
	--		TMP.*
	--	FROM (
	--		SELECT TMP.得意先CD,
	--			TMP.仕入先CD,
	--			税抜金額1 = SUM(CASE WHEN TMP.年月 = 201201 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額2 = SUM(CASE WHEN TMP.年月 = 201202 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額3 = SUM(CASE WHEN TMP.年月 = 201203 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額4 = SUM(CASE WHEN TMP.年月 = 201204 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額5 = SUM(CASE WHEN TMP.年月 = 201205 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額6 = SUM(CASE WHEN TMP.年月 = 201206 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額7 = SUM(CASE WHEN TMP.年月 = 201207 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額8 = SUM(CASE WHEN TMP.年月 = 201208 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額9 = SUM(CASE WHEN TMP.年月 = 201209 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額10 = SUM(CASE WHEN TMP.年月 = 201210 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額11 = SUM(CASE WHEN TMP.年月 = 201211 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額12 = SUM(CASE WHEN TMP.年月 = 201212 THEN TMP.税抜金額 ELSE 0 END)
	--		FROM #TMP AS TMP
	--		GROUP BY TMP.得意先CD, TMP.仕入先CD
	--		) AS TMP
	--			INNER JOIN TM得意先 AS TK
	--				ON TMP.得意先CD = TK.得意先CD
	--			INNER JOIN TM仕入先 AS SI
	--				ON TMP.仕入先CD = SI.仕入先CD
	--UNION ALL
	--SELECT	
	--		TK.得意先名1, TK.得意先名2,
	--		仕入先名1 = '', 仕入先名2 = '',
	--		TMP_TOTAL.*
	--	FROM (
	--		SELECT TMP.得意先CD,仕入先CD = '',
	--			税抜金額1 = SUM(CASE WHEN TMP.年月 = 201201 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額2 = SUM(CASE WHEN TMP.年月 = 201202 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額3 = SUM(CASE WHEN TMP.年月 = 201203 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額4 = SUM(CASE WHEN TMP.年月 = 201204 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額5 = SUM(CASE WHEN TMP.年月 = 201205 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額6 = SUM(CASE WHEN TMP.年月 = 201206 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額7 = SUM(CASE WHEN TMP.年月 = 201207 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額8 = SUM(CASE WHEN TMP.年月 = 201208 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額9 = SUM(CASE WHEN TMP.年月 = 201209 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額10 = SUM(CASE WHEN TMP.年月 = 201210 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額11 = SUM(CASE WHEN TMP.年月 = 201211 THEN TMP.税抜金額 ELSE 0 END),
	--			税抜金額12 = SUM(CASE WHEN TMP.年月 = 201212 THEN TMP.税抜金額 ELSE 0 END)
	--		FROM #TMP AS TMP
	--		GROUP BY TMP.得意先CD
	--		) AS TMP_TOTAL
	--			INNER JOIN TM得意先 AS TK
	--				ON TMP_TOTAL.得意先CD = TK.得意先CD

	--	ORDER BY TMP.得意先CD,TMP.仕入先CD

	SET	@SQL = '
		SELECT	
				TK.得意先名1, TK.得意先名2,
				SI.仕入先名1, SI.仕入先名2,
				COUNT(TK.得意先CD) OVER(PARTITION BY TK.得意先CD) AS ''Count'',
				TMP.*
			FROM (
					SELECT	TMP.得意先CD,
							TMP.仕入先CD,
							' + @FIELD + '
						FROM #TMP AS TMP
						GROUP BY TMP.得意先CD, TMP.仕入先CD
					) AS TMP
				INNER JOIN TM得意先 AS TK
					ON TMP.得意先CD = TK.得意先CD
				INNER JOIN TM仕入先 AS SI
					ON TMP.仕入先CD = SI.仕入先CD
		UNION ALL
			SELECT	
					TK.得意先名1, TK.得意先名2,
					仕入先名1 = '''', 仕入先名2 = '''',
					COUNT(TK.得意先CD) OVER(PARTITION BY TK.得意先CD) AS ''Count'',
					TMP_TOTAL.*
				FROM (
						SELECT	TMP.得意先CD,
								仕入先CD = '''',
								' + @FIELD + '
							FROM #TMP AS TMP
							GROUP BY TMP.得意先CD
					) AS TMP_TOTAL
						INNER JOIN TM得意先 AS TK
							ON TMP_TOTAL.得意先CD = TK.得意先CD
		ORDER BY TMP.得意先CD,TMP.仕入先CD
		'
	--SELECT @SQL
	EXEC (@SQL)

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	DROP TABLE #TMP
	
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
