/****** Object:  StoredProcedure [dbo].[usp_TN1901SetTmpチーム別在庫調整明細]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1901SetTmpチーム別在庫調整明細]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1901SetTmpチーム別在庫調整明細]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN1901SetTmpチーム別在庫調整明細

	機能:	
		社内在庫情報を#Tmpに登録する。

 =============================================
	2015/09/08	oosawa	新規作成

	2017/01/24	oosawa		新設
	2017/02/09	oosawa	漢字名称追加
 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN1901SetTmpチーム別在庫調整明細]
	(
	@i在庫調整明細連番	INT,
	@i在庫調整番号	INT,
	@i枝番			SMALLINT,
	@i製品NO		CHAR (12) ,
	@i仕様NO		CHAR (10) , 
	@i漢字名称		VARCHAR(40),
	@i仕入先CD		VARCHAR(4),
	@i仕入端数区分	SMALLINT,
	@i消費税端数区分	SMALLINT,
	@i調整数量		MONEY,
	@i調整単価		MONEY,
	@i調整金額		MONEY,
	@i消費税額		MONEY,
	@i仕入税区分	SMALLINT,
	@i明細備考		VARCHAR(40),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''


--	INSERT INTO Tmp在庫調整
	INSERT INTO #Tmp在庫調整明細
		(
			在庫調整明細連番,
			在庫調整番号,
			枝番, 
			製品NO,
			仕様NO,
			漢字名称,
			仕入先CD,
			仕入端数区分,
			消費税端数区分,
			調整数量,
			調整単価,
			調整金額,
			消費税額,
			仕入税区分,
			明細備考
		)  
	VALUES 
		(
			@i在庫調整明細連番,
			@i在庫調整番号,
			@i枝番, 
			@i製品NO,
			@i仕様NO,
			@i漢字名称,
			@i仕入先CD,
			@i仕入端数区分,
			@i消費税端数区分,
			@i調整数量,
			@i調整単価,
			@i調整金額,
			@i消費税額,
			@i仕入税区分,
			@i明細備考
		)

	SET @ST=@@ERROR IF @ST<>0 GOTO EXIT_SP

EXIT_SP:
	SET @RetST = @ST
	SET @RetMsg = @MSG
	RETURN @ST
GO
