/****** Object:  StoredProcedure [dbo].[usp_UnLockData]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_UnLockData]
GO
/****** Object:  StoredProcedure [dbo].[usp_UnLockData]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE	PROCEDURE [dbo].[usp_UnLockData]
	(
		@iDataName	VARCHAR(255),
		@iNumber	INT,
		@iDataCode	VARCHAR(255) = NULL,		--2003/09/04	ADD
		@iPCName	VARCHAR(255) = NULL,
		@RetST	INT			OUTPUT,
		@RetMSG	VARCHAR(255)	OUTPUT
	)
AS
/*
	機能	データのロックを解除します。
	引数	@iDataName	テーブル名をセットする。
		@iNumber	テーブル内のレコード番号（伝票番号）をセットする。
		@iPCName	コンピュータ名を送る。

	備考	データ処理を中止した時にこの処理を行なうようにする。

	2002/08/30	OOSAWA	作成
	2003/09/04	OOSAWA	仕入先CD毎にロックできるように修正
					@iDataCodeの追加
				
*/
	SET	NOCOUNT ON

	DECLARE
		@TRAN	INT,
		@ST	INT,
		@MSG	NVARCHAR(256)
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--PCNameがない場合
	IF @iPCName IS NULL	BEGIN
		SET	@iPCName = HOST_NAME()
	END

	------------------------------------------------------------------------------------------
	--	トランザクションを開始します
	------------------------------------------------------------------------------------------
	BEGIN TRAN
	------------------------------------------------------------------------------------------
	--	ロック情報をセットします
	------------------------------------------------------------------------------------------
	DELETE FROM AppLockData
		WHERE	DataName = @iDataName
		AND	Number = @iNumber
		AND		DataCode = COALESCE(@iDataCode,DataCode)		--2003/09/04	ADD
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @tran)	BEGIN
			COMMIT TRAN
		END
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @tran)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
