/****** Object:  StoredProcedure [dbo].[×usp_KD0801経費按分データ作成]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[×usp_KD0801経費按分データ作成]
GO
/****** Object:  StoredProcedure [dbo].[×usp_KD0801経費按分データ作成]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_KD0801経費按分データ作成

機能	TM従業員からチーム毎の人数での按分
		売上からチーム毎の売上金額での按分
		
		経費をチーム別に人数・売上金額で按分し算出する。

引数	

戻り値	


※ひと月ごとに計算しないとおかしくなる。

修正履歴

	2016/06/30	oosawa		施工での集計がなくなったのでカット
*****************************************************/
CREATE PROCEDURE [dbo].[×usp_KD0801経費按分データ作成]
	(
		@iS集計日付		DATETIME,
		@iE集計日付		DATETIME
	)
 AS

	SET NOCOUNT ON

	DECLARE	@ST			INT,
			@MSG			VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--全体（間接除く）の従業員数
--SELECT 従業員数 = COUNT(DISTINCT 従業員CD) 
--	FROM TM従業員
--	WHERE チームCD <> 999
----No2	
--DECLARE	@全体比率	MONEY
--SELECT	
--		@全体比率 = SUM(比率)
--	FROM TM従業員
--	WHERE チームCD <> 999
--SELECT 全体比率 = @全体比率

----チーム毎の比率
--SELECT	チームCD,
--		チーム比率 = SUM(比率)
--	FROM TM従業員
--	WHERE チームCD <> 999
--	GROUP BY チームCD

	
--SET	@iS集計日付	= '2015/11/01'		
--SET	@iE集計日付	= '2015/11/30'		
		
	---------------------------
	--按分経費データ削除
	---------------------------
	DELETE	FROM TD経費按分集計
		WHERE 集計日付 = @iS集計日付


	---------------------------
	--按分経費データ作成（人数按分分）
	---------------------------
	INSERT INTO TD経費按分集計
			   ([集計日付]
			   ,[科目CD]
			   ,[チームCD]
			   ,[按分金額]
			   ,[初期登録日]
			   ,[登録変更日])
		SELECT	@iS集計日付,
				A.科目CD,
				--A.金額,
				--A.案分金額,
				A.チームCD,
				--SUM(A.案分金額) OVER (PARTITION BY 科目CD)-A.金額,
				--端数処理での差額調整
				--案分金額2,
				按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END),
				GETDATE(),
				GETDATE()
		FROM (
			SELECT	SEQ,チームCD,
					KK.集計CD,KK.順序,KK.科目CD, KK.科目名,
					金額 = ISNULL(KH.金額,0),
					--案分金額2 = ROUND(ISNULL(KH.金額,0) * B.チーム比率 / @全体比率,0),
					按分金額 = ROUND(ISNULL(KH.金額,0) * B.チーム比率 / SUM(B.チーム比率) OVER (PARTITION BY KK.科目CD),0)
				FROM (SELECT * FROM TM科目 WHERE 按分区分 = 0) AS KK--人数按分
					LEFT JOIN (
								SELECT	KM.科目CD, KM.科目名, SUM(KM.金額) AS 金額
									FROM	TD経費 AS KH
										INNER JOIN TD経費明細 AS KM
											ON KH.経費番号 = KM.経費番号
									WHERE	KH.経費日付 >= @iS集計日付
										AND	KH.経費日付 <= @iE集計日付
									GROUP BY	KM.科目CD, KM.科目名
							) AS KH
								ON KK.科目CD = KH.科目CD
					CROSS JOIN	(
									--チーム毎の比率
									SELECT	ROW_NUMBER() OVER (ORDER BY SUM(比率) DESC) SEQ,
											チームCD,
											チーム比率 = SUM(比率)
										FROM TM従業員
										WHERE チームCD <> 999
										GROUP BY チームCD
								) AS B
					--ORDER BY	KK.集計CD,KK.順序,KK.科目CD, KK.科目名

			) AS A
				LEFT JOIN TMチーム AS CM
					ON A.チームCD = CM.チームCD
					ORDER BY	A.集計CD,A.順序,A.科目CD, A.科目名,CM.順序
			
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('人数按分情報でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END




--クロス集計

--DECLARE @goods_list varchar(max)    -- 商品名のリスト(カンマ区切り)
--DECLARE @sql nvarchar(max)      -- 動的SQL
--SET @goods_list = null
 
---- 商品名リスト作成
--SELECT
--    @goods_list =
--        CASE
--            WHEN @goods_list IS NULL THEN '[' + チーム名 + ']'
--            ELSE @goods_list + ', [' + チーム名 + ']'
--        END
--FROM TMチーム
--GROUP BY 順序,チーム名
--ORDER BY 順序
 
--SELECT @goods_list

---- SQLクエリ作成
--SET @sql =
--    'SELECT * FROM [売上] PIVOT (SUM([売上金額]) FOR [商品名] in (' +
--    @goods_list +
--    ')) AS PV'
 
---- SQLクエリの実行
--EXEC sp_executesql @sql;

--売上比率
	INSERT INTO TD経費按分集計
			   ([集計日付]
			   ,[科目CD]
			   ,[チームCD]
			   ,[按分金額]
			   ,[初期登録日]
			   ,[登録変更日])
		SELECT	@iS集計日付,
				A.科目CD,
				--A.金額,
				A.チームCD,
				--端数処理での差額調整
				按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END),
				GETDATE(),
				GETDATE()
		FROM (
			SELECT	SEQ,チームCD,
					KK.集計CD,KK.順序,KK.科目CD, KK.科目名,
					金額 = ISNULL(KH.金額,0),
					按分金額 = ROUND(ISNULL(KH.金額,0) * TEAM_KIN.チーム税抜金額 / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD),0)

				FROM (SELECT * FROM TM科目 WHERE 按分区分 = 1) AS KK--売上金額での按分
					LEFT JOIN (	
								SELECT	KM.科目CD, KM.科目名, SUM(KM.金額) AS 金額
									FROM	TD経費 AS KH
										INNER JOIN TD経費明細 AS KM
											ON KH.経費番号 = KM.経費番号
									WHERE	KH.経費日付 >= @iS集計日付
										AND	KH.経費日付 <= @iE集計日付
									GROUP BY	KM.科目CD, KM.科目名
							) AS KH
								ON KK.科目CD = KH.科目CD
					CROSS JOIN	(
									--チーム毎の売上金額集計
									SELECT	ROW_NUMBER() OVER (ORDER BY SUM(チーム税抜金額) DESC) AS SEQ,
											チームCD,
											年月,
											チーム税抜金額 = SUM(チーム税抜金額)
										FROM (
												--チーム毎の売上金額集計
												SELECT
														TM.チームCD,
														年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
														--仕入先がないもの・3016以外を集計
														チーム税抜金額 = SUM(CASE WHEN (MSM.仕入先CD IS NULL OR NOT(MSM.仕入先CD = '3016'))
																			THEN CASE WHEN UM.売上税区分 = 1 
																						THEN (UM.売上金額-UM.消費税額)
																						ELSE UM.売上金額 END
																			ELSE 0
																	END)
														--2015/03/13 ADD↑
													FROM TD売上v2 AS UH  
														INNER JOIN TD売上明細V2 AS UM
															ON UH.売上番号 = UM.売上番号
														LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
															ON UM.見積明細連番 = MSM.見積明細連番 
														INNER JOIN TD見積 AS MH
															ON UH.見積番号 = MH.見積番号
														INNER JOIN TM得意先 AS TM
															ON MH.得意先CD = TM.得意先CD
													--2014/07/21 ADD↓
													WHERE	(UH.売上日付 >= @iS集計日付
														AND UH.売上日付 <= @iE集計日付)
													GROUP BY     TM.チームCD,CONVERT(CHAR(6),UH.売上日付,112)
													--2014/07/21 ADD↑
												
												--2016/06/30 DEL↓
												--UNION ALL	
												--		SELECT
												--				チームCD = 6,
												--				年月 = CONVERT(CHAR(6),UH.売上日付,112),
												--				チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
												--									THEN (UM.売上金額-UM.消費税額) 
												--									ELSE UM.売上金額 END)
																
												--			FROM TD売上v2 AS UH  
												--				INNER JOIN TD売上明細V2 AS UM
												--					ON UH.売上番号 = UM.売上番号
												--				LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
												--					ON UM.見積明細連番 = MSM.見積明細連番 
												--				INNER JOIN TD見積 AS MH
												--					ON UH.見積番号 = MH.見積番号
												--				INNER JOIN TM得意先 AS TM
												--					ON MH.得意先CD = TM.得意先CD
												--			WHERE	
												--						(UH.売上日付 >= @iS集計日付
												--							AND UH.売上日付 <= @iE集計日付)
												--				AND	MSM.仕入先CD = '3016'
												--			GROUP BY     CONVERT(CHAR(6),UH.売上日付,112)
												--2016/06/30 DEL↑
												) AS UNI	--チーム毎の売上金額集計
										GROUP BY チームCD,年月
								) AS TEAM_KIN--チーム毎の売上金額集計
				) AS A
				
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('売上按分情報でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END

EXIT_SP:
-- 	IF (@ST = 0)	BEGIN
-- 		SET @RetST = @ST
-- 		SET @RetMSG = @MSG
-- 	END ELSE BEGIN
-- 		SET @RetST = @ST
-- 		SET @RetMSG = @MSG
-- 	END 
	RETURN @ST

GO
