/****** Object:  StoredProcedure [dbo].[usp_CreateTmp見積明細Check]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_CreateTmp見積明細Check]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateTmp見積明細Check]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[usp_CreateTmp見積明細Check]
	(
		@CompName	varchar(100),
		@TableName	varchar(1000) output
	)
AS
	SET NOCOUNT ON

	DECLARE	@WkTblName	VARCHAR(1000)

	SET	@WkTblName	=	'##Tmp見積明細Check_'+@CompName

	PRINT @WkTblName

/*	--テスト用実テーブル作成
	if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].'+@WkTblName) and OBJECTPROPERTY(id, N'IsUserTable') = 1) begin
		PRINT 'A'

		EXEC ('SELECT * INTO [' + @WkTblName + ']
			FROM Tmp見積明細
			WHERE 0 <> 0')

	END ELSE BEGIN
		EXEC ('DELETE FROM ['+@WkTblName+']')
	END
*/
	--本番用実テーブル作成
	IF NOT EXISTS(select * from [tempdb].[dbo].[sysobjects] where id = object_id('tempdb..'+@WkTblName))	BEGIN	
		PRINT 'A'

		EXEC ('SELECT * INTO [' + @WkTblName + ']
			FROM Tmp見積明細
			WHERE 0 <> 0')

	END ELSE BEGIN
		EXEC ('DELETE FROM ['+@WkTblName+']')
	END

	SET @TableName = @WkTblName

	RETURN
GO
