/****** Object:  StoredProcedure [dbo].[usp_MT0400部材リスト出力_展開_3150保留]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0400部材リスト出力_展開_3150保留]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0400部材リスト出力_展開_3150保留]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_部材リスト出力

機能	指定された条件で部門別部材リストを作成する

引数	

戻り値	

*****************************************************
	2003/09/12	kawamura	製品サイズに[H1][H2]追加
	2003/11/01 	kawamura 	コメント行管理用に見積区分追加
	2005/07/05	oosawa		見積区分の判断の変更
	2009/04/22	oosawa		コメント行がちゃんと出てなかった
	2014/10/10	oosawa		発注調整数を印字
	2014/11/13	oosawa		仕入先名を印字
	2016/10/08	oosawa		配送先CD・配送先名を印字
	2016/09/29	oosawa		展開用
	2017/01/06	oosawa		仕入先CDを印字
							社内在庫欄は入力不可になったので
							仕入先3150「三和倉庫」の発注数は全てばらす

	2018/06/16	oosawa		明細備考を追加(集計なので空欄)
	※不具合発生中　修正しないと× 詳細は下記
	
*****************************************************/
CREATE  PROCEDURE [dbo].[usp_MT0400部材リスト出力_展開_3150保留]
	(
		@i見積番号		INT,
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	DECLARE 	@MAX仕分番号	INT

--------------------------------------------------
	-- 仕分ＭＡＸ取得
--------------------------------------------------
	SELECT 	@MAX仕分番号 = MAX(仕分MAX.仕分番号)
	FROM
		(
		SELECT 	見積番号, 仕分番号, SUM(数量) AS 数量
			FROM 	TD見積シート内訳
			WHERE 	見積番号 = @i見積番号
			GROUP BY 	見積番号, 仕分番号
			HAVING 	(SUM(数量) <> 0)
		) AS 仕分MAX
		--ORDER BY 仕分番号
	
	--SELECT @MAX仕分番号 AS MAX

--------------------------------------------------
	-- 見出し用仕分名称
--------------------------------------------------
	SELECT 	U.見積番号, U.仕分番号, ISNULL(UM.略称,'') AS 略称
		FROM 	TD見積シート内訳 AS U
		LEFT JOIN TD見積シート内訳名称 AS UM ON U.見積番号 = UM.見積番号 AND U.仕分番号 = UM.仕分番号
		WHERE 	U.見積番号 = @i見積番号
		GROUP BY 	U.見積番号, U.仕分番号, UM.略称
		--HAVING 	(SUM(数量) <> 0)
		HAVING 	U.仕分番号 <= @MAX仕分番号
		ORDER BY U.仕分番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP





	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			[見積番号] [int] NOT NULL,
			[見積件名] [varchar](60) NOT NULL,
			[得意先名1] [varchar](28) NOT NULL,
			[得意先名2] [varchar](28) NOT NULL,
			[現場名] [varchar](60) NOT NULL,
			[担当者名] [varchar](16) NOT NULL,
			[行番号] [int] NOT NULL,
			[枝番号] [int] NOT NULL DEFAULT 0,
			[SP区分] [varchar](1) NOT NULL,
			[PC区分] [varchar](1) NOT NULL,
			[製品NO] [char](7) NOT NULL,
			[仕様NO] [char](7) NOT NULL,
			[漢字名称] [varchar](40) NOT NULL,
			[W] [int] NOT NULL,
			[D] [int] NOT NULL,
			[H] [int] NOT NULL,
			[D1] [int] NOT NULL,
			[D2] [int] NOT NULL,
			[H1] [int] NOT NULL,
			[H2] [int] NOT NULL,
			[総数量] [money] NOT NULL,
			[社内在庫数] [money] NOT NULL,
			[客先在庫数] [money] NOT NULL,
			[転用数] [money] NOT NULL,
			[発注調整数] [money] NOT NULL,
			[発注数] [money] NOT NULL,
			[製品区分] [smallint] NULL,
			[仕入先CD] [varchar](4) NOT NULL,--2017/01/06 ADD
			[仕入先名] [varchar](8) NOT NULL,
			[配送先CD] [varchar](4) NOT NULL,
			[配送先名] [varchar](8) NOT NULL,

			[仕分数1] [money] NOT NULL,
			[仕分数2] [money] NOT NULL,
			[仕分数3] [money] NOT NULL,
			[仕分数4] [money] NOT NULL,
			[仕分数5] [money] NOT NULL,
			[仕分数6] [money] NOT NULL,
			[仕分数7] [money] NOT NULL,
			[仕分数8] [money] NOT NULL,
			[仕分数9] [money] NOT NULL,
			[仕分数10] [money] NOT NULL,
			[仕分数11] [money] NOT NULL,
			[仕分数12] [money] NOT NULL,
			[仕分数13] [money] NOT NULL,
			[仕分数14] [money] NOT NULL,
			[仕分数15] [money] NOT NULL,
			[仕分数16] [money] NOT NULL,
			[仕分数17] [money] NOT NULL,
			[仕分数18] [money] NOT NULL,
			[仕分数19] [money] NOT NULL,
			[仕分数20] [money] NOT NULL,
			[仕分数21] [money] NOT NULL,
			[仕分数22] [money] NOT NULL,
			[仕分数23] [money] NOT NULL,
			[仕分数24] [money] NOT NULL,
			[仕分数25] [money] NOT NULL,
			[仕分数26] [money] NOT NULL,
			[仕分数27] [money] NOT NULL,
			[仕分数28] [money] NOT NULL,
			[仕分数29] [money] NOT NULL,
			[仕分数30] [money] NOT NULL,
			[見積区分] [varchar](1) NOT NULL,

		) ON [PRIMARY]

	--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	CREATE TABLE #TMP_TOTAL_1
		(
			[見積番号] [int] NOT NULL,
			[見積件名] [varchar](60) NOT NULL,
			[得意先名1] [varchar](28) NOT NULL,
			[得意先名2] [varchar](28) NOT NULL,
			[現場名] [varchar](60) NOT NULL,
			[担当者名] [varchar](16) NOT NULL,
			[行番号] [int] NOT NULL,
			[枝番号] [int] NOT NULL DEFAULT 0,
			[SP区分] [varchar](1) NOT NULL,
			[PC区分] [varchar](1) NOT NULL,
			[製品NO] [char](7) NOT NULL,
			[仕様NO] [char](7) NOT NULL,
			[漢字名称] [varchar](40) NOT NULL,
			[W] [int] NOT NULL,
			[D] [int] NOT NULL,
			[H] [int] NOT NULL,
			[D1] [int] NOT NULL,
			[D2] [int] NOT NULL,
			[H1] [int] NOT NULL,
			[H2] [int] NOT NULL,
			[総数量] [money] NOT NULL,
			[社内在庫数] [money] NOT NULL,
			[客先在庫数] [money] NOT NULL,
			[転用数] [money] NOT NULL,
			[発注調整数] [money] NOT NULL,
			[発注数] [money] NOT NULL,
			[製品区分] [smallint] NULL,
			[仕入先CD] [varchar](4) NOT NULL,--2017/01/06 ADD
			[仕入先名] [varchar](8) NOT NULL,
			[配送先CD] [varchar](4) NOT NULL,
			[配送先名] [varchar](8) NOT NULL,

			[仕分数1] [money] NOT NULL,
			[仕分数2] [money] NOT NULL,
			[仕分数3] [money] NOT NULL,
			[仕分数4] [money] NOT NULL,
			[仕分数5] [money] NOT NULL,
			[仕分数6] [money] NOT NULL,
			[仕分数7] [money] NOT NULL,
			[仕分数8] [money] NOT NULL,
			[仕分数9] [money] NOT NULL,
			[仕分数10] [money] NOT NULL,
			[仕分数11] [money] NOT NULL,
			[仕分数12] [money] NOT NULL,
			[仕分数13] [money] NOT NULL,
			[仕分数14] [money] NOT NULL,
			[仕分数15] [money] NOT NULL,
			[仕分数16] [money] NOT NULL,
			[仕分数17] [money] NOT NULL,
			[仕分数18] [money] NOT NULL,
			[仕分数19] [money] NOT NULL,
			[仕分数20] [money] NOT NULL,
			[仕分数21] [money] NOT NULL,
			[仕分数22] [money] NOT NULL,
			[仕分数23] [money] NOT NULL,
			[仕分数24] [money] NOT NULL,
			[仕分数25] [money] NOT NULL,
			[仕分数26] [money] NOT NULL,
			[仕分数27] [money] NOT NULL,
			[仕分数28] [money] NOT NULL,
			[仕分数29] [money] NOT NULL,
			[仕分数30] [money] NOT NULL,
			[見積区分] [varchar](1) NOT NULL,

		) ON [PRIMARY]
		

	--初期データ作成
	INSERT INTO	 #TMP_TOTAL
			(見積番号,見積件名,得意先名1,得意先名2,現場名,担当者名,
			行番号,SP区分,PC区分,製品NO,仕様NO,漢字名称,
			W, D, H, D1,D2, H1, H2,
			総数量,社内在庫数,客先在庫数,転用数,発注調整数,発注数,
			製品区分,
			仕入先CD,--2017/01/06 ADD
			仕入先名,配送先CD,配送先名,
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 
			仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15,
			仕分数16,仕分数17, 仕分数18, 仕分数19, 仕分数20, 
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25,
			仕分数26,仕分数27, 仕分数28, 仕分数29, 仕分数30, 
			見積区分)

	SELECT	MH.見積番号,MH.見積件名,MH.得意先名1,MH.得意先名2,MH.現場名,TN.担当者名,
			MSM.行番号,MSM.SP区分,MSM.PC区分,MSM.製品NO,MSM.仕様NO,MSM.漢字名称,
			MSM.W, MSM.D, MSM.H, MSM.D1,MSM.D2, MSM.H1, MSM.H2,
			MSM.総数量,MSM.社内在庫数,MSM.客先在庫数,MSM.転用数,MSM.発注調整数,MSM.発注数,
			製品区分,
			MSM.仕入先CD,--2017/01/06 ADD
			MSM.仕入先名,MSM.配送先CD,MSM.配送先名,
			MSM.仕分数1, MSM.仕分数2, MSM.仕分数3, MSM.仕分数4, MSM.仕分数5, 
			MSM.仕分数6, MSM.仕分数7, MSM.仕分数8, MSM.仕分数9, MSM.仕分数10, 
			MSM.仕分数11, MSM.仕分数12, MSM.仕分数13, MSM.仕分数14, MSM.仕分数15,
			MSM.仕分数16,MSM.仕分数17, MSM.仕分数18, MSM.仕分数19, MSM.仕分数20, 
			MSM.仕分数21, MSM.仕分数22, MSM.仕分数23, MSM.仕分数24, MSM.仕分数25,
			MSM.仕分数26,MSM.仕分数27, MSM.仕分数28, MSM.仕分数29, MSM.仕分数30, 
			MSM.見積区分
		FROM TD見積 AS MH 
			INNER JOIN VD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
			INNER JOIN TM担当者 AS TN
				ON MH.担当者CD = TN.担当者CD
		WHERE  MH.見積番号 = @i見積番号
			AND (
					(MSM.見積区分 NOT IN ('A','C','S')
						AND NOT (MSM.総数量 = 0 AND MSM.社内在庫数 = 0 AND MSM.客先在庫数 = 0 AND MSM.転用数 = 0)
					)
					 OR (MSM.見積区分 IN ('A') 
						AND NOT (
									(SELECT  TOP 1 MSM1.総数量 FROM TD見積シートM AS MSM1
											WHERE	MSM1.見積番号 = MSM.見積番号
												AND MSM1.見積区分 NOT IN ('A','C','S')
												AND MSM1.行番号 >= MSM.行番号
											ORDER BY MSM1.行番号 ASC
									) = 0 
									AND (SELECT  TOP 1 MSM1.社内在庫数 FROM TD見積シートM AS MSM1
												WHERE	MSM1.見積番号 = MSM.見積番号
													AND MSM1.見積区分 NOT IN ('A','C','S')
													AND MSM1.行番号 >= MSM.行番号
												ORDER BY MSM1.行番号 ASC
										) = 0
									AND (SELECT  TOP 1 MSM1.客先在庫数 FROM TD見積シートM AS MSM1
												WHERE	MSM1.見積番号 = MSM.見積番号
													AND	MSM1.見積区分 NOT IN ('A','C','S')
													AND MSM1.行番号 >= MSM.行番号
												ORDER BY MSM1.行番号 ASC
										) = 0
									AND (SELECT  TOP 1 MSM1.転用数 FROM TD見積シートM AS MSM1
												WHERE	MSM1.見積番号 = MSM.見積番号
													AND	MSM1.見積区分 NOT IN ('A','C','S')
													AND MSM1.行番号 >= MSM.行番号
												ORDER BY MSM1.行番号 ASC
										) = 0
							)
						)
					OR 
						(MSM.見積区分 IN ('C','S') 
						AND NOT (
									(SELECT  TOP 1 MSM1.総数量 FROM TD見積シートM AS MSM1
											WHERE	MSM1.見積番号 = MSM.見積番号
												AND MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')
												AND MSM1.行番号 <= MSM.行番号
											ORDER BY MSM1.行番号 DESC
									) = 0
									AND (SELECT  TOP 1 MSM1.社内在庫数 FROM TD見積シートM AS MSM1
												WHERE	MSM1.見積番号 = MSM.見積番号
													AND MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')
													AND MSM1.行番号 <= MSM.行番号
												ORDER BY MSM1.行番号 DESC
									) = 0
									AND (SELECT  TOP 1 MSM1.客先在庫数 FROM TD見積シートM AS MSM1
												WHERE	MSM1.見積番号 = MSM.見積番号
													AND MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')
													AND MSM1.行番号 <= MSM.行番号
												ORDER BY MSM1.行番号 DESC
									) = 0
									AND (SELECT  TOP 1 MSM1.転用数 FROM TD見積シートM AS MSM1
												WHERE	MSM1.見積番号 = MSM.見積番号
													AND MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')
													AND MSM1.行番号 <= MSM.行番号
												ORDER BY MSM1.行番号 DESC
									) = 0
								)
						)
				)


		ORDER BY MH.見積番号,MSM.行番号
		
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--select * from #TMP_TOTAL
	
	--三和倉庫分テーブル作成
	INSERT INTO	 #TMP_TOTAL_1
			(見積番号,見積件名,得意先名1,得意先名2,現場名,担当者名,
			行番号,枝番号,SP区分,PC区分,製品NO,仕様NO,漢字名称,
			W, D, H, D1,D2, H1, H2,
			総数量,社内在庫数,客先在庫数,転用数,発注調整数,発注数,
			製品区分,
			仕入先CD,
			仕入先名,配送先CD,配送先名,
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 
			仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15,
			仕分数16,仕分数17, 仕分数18, 仕分数19, 仕分数20, 
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25,
			仕分数26,仕分数27, 仕分数28, 仕分数29, 仕分数30, 
			見積区分)
	SELECT	A.見積番号,A.見積件名,A.得意先名1,A.得意先名2,A.現場名,A.担当者名,
			A.行番号,A.枝番号,A.SP区分,A.PC区分,A.製品NO,A.仕様NO,A.漢字名称,
			A.W,A. D,A. H,A. D1,A.D2,A. H1,A. H2,
			A.総数量,
			A.社内在庫数,
			A.客先在庫数,A.転用数,A.発注調整数,A.発注数,
			A.製品区分,
			A.仕入先CD,
			A.仕入先名,A.配送先CD,A.配送先名,
			A.仕分数1, A.仕分数2, A.仕分数3, A.仕分数4, A.仕分数5, 
			A.仕分数6, A.仕分数7, A.仕分数8, A.仕分数9, A.仕分数10, 
			A.仕分数11, A.仕分数12, A.仕分数13, A.仕分数14, A.仕分数15,
			A.仕分数16,A.仕分数17, A.仕分数18, A.仕分数19, A.仕分数20, 
			A.仕分数21, A.仕分数22, A.仕分数23, A.仕分数24, A.仕分数25,
			A.仕分数26,A.仕分数27, A.仕分数28, A.仕分数29, A.仕分数30, 
			A.見積区分
		FROM #TMP_TOTAL AS A
			WHERE 仕入先CD = '3150'

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--select * from #TMP_TOTAL_1


-------部品展開できなかった場合　消されてしまう！！！
-------なので、展開できたもののみ消すように変更しなければならない。

	--------三和倉庫分削除
	------DELETE #TMP_TOTAL
	------	FROM #TMP_TOTAL AS B
	------		INNER JOIN #TMP_TOTAL_1 AS A
	------			ON A.見積番号 = B.見積番号
	------			AND	A.行番号 = B.行番号

-----

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--select * from #TMP_TOTAL

	--展開したテーブルを挿入
	INSERT INTO	 #TMP_TOTAL
			(見積番号,見積件名,得意先名1,得意先名2,現場名,担当者名,
			行番号,枝番号,SP区分,PC区分,製品NO,仕様NO,漢字名称,
			W, D, H, D1,D2, H1, H2,
			総数量,社内在庫数,客先在庫数,転用数,発注調整数,発注数,
			製品区分,
			仕入先CD,
			仕入先名,配送先CD,配送先名,
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 
			仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15,
			仕分数16,仕分数17, 仕分数18, 仕分数19, 仕分数20, 
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25,
			仕分数26,仕分数27, 仕分数28, 仕分数29, 仕分数30, 
			見積区分)
		SELECT TP.見積番号,TP.見積件名,TP.得意先名1,TP.得意先名2,TP.現場名,TP.担当者名,
				TP.行番号,SK.行NO,SP区分='',PC区分='',SK.子製品NO,SK.子仕様NO,SH.漢字名称,
				SH.W,SH.D,SH.H,SH.D1,SH.D2,SH.H1,SH.H2,
				総数量 = TP.総数量*SK.員数,
				社内在庫数 = TP.社内在庫数*SK.員数,
				客先在庫数 = TP.客先在庫数*SK.員数,
				転用数 = TP.転用数*SK.員数,
				発注調整数 = TP.発注調整数*SK.員数,
				発注数 = TP.発注数*SK.員数,
				製品区分=0,
				TP.仕入先CD,
				TP.仕入先名,TP.配送先CD,TP.配送先名,
				仕分数1 = TP.仕分数1*SK.員数,
				仕分数2 = TP.仕分数2*SK.員数,
				仕分数3 = TP.仕分数3*SK.員数,
				仕分数4 = TP.仕分数4*SK.員数,
				仕分数5 = TP.仕分数5*SK.員数,
				仕分数6 = TP.仕分数6*SK.員数,
				仕分数7 = TP.仕分数7*SK.員数,
				仕分数8 = TP.仕分数8*SK.員数,
				仕分数9 = TP.仕分数9*SK.員数,
				仕分数10 = TP.仕分数10*SK.員数,
				仕分数11 = TP.仕分数11*SK.員数,
				仕分数12 = TP.仕分数12*SK.員数,
				仕分数13 = TP.仕分数13*SK.員数,
				仕分数14 = TP.仕分数14*SK.員数,
				仕分数15 = TP.仕分数15*SK.員数,
				仕分数16 = TP.仕分数16*SK.員数,
				仕分数17 = TP.仕分数17*SK.員数,
				仕分数18 = TP.仕分数18*SK.員数,
				仕分数19 = TP.仕分数19*SK.員数,
				仕分数20 = TP.仕分数20*SK.員数,
				仕分数21 = TP.仕分数21*SK.員数,
				仕分数22 = TP.仕分数22*SK.員数,
				仕分数23 = TP.仕分数23*SK.員数,
				仕分数24 = TP.仕分数24*SK.員数,
				仕分数25 = TP.仕分数25*SK.員数,
				仕分数26 = TP.仕分数26*SK.員数,
				仕分数27 = TP.仕分数27*SK.員数,
				仕分数28 = TP.仕分数28*SK.員数,
				仕分数29 = TP.仕分数29*SK.員数,
				仕分数30 = TP.仕分数30*SK.員数,
				TP.見積区分
			FROM #TMP_TOTAL_1 AS TP
				INNER JOIN TM製品構成 AS SK
					ON	TP.製品NO = SK.親製品NO
					AND	TP.仕様NO = SK.親仕様NO
				INNER JOIN TM製品 AS SH
					ON	SK.子製品NO = SH.製品NO
					AND	SK.子仕様NO = SH.仕様NO

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--select * from #TMP_TOTAL

	--データ出力(集計)
	SELECT 見積番号,見積件名,得意先名1,得意先名2,現場名,担当者名,
			行番号=MIN(行番号),
			--枝番号,
			SP区分,PC区分,製品NO,仕様NO,漢字名称,
			W, D, H, D1,D2, H1, H2,
			総数量=SUM(総数量),
			社内在庫数=SUM(社内在庫数),
			客先在庫数=SUM(客先在庫数),
			転用数=SUM(転用数),
			発注調整数=SUM(発注調整数),
			発注数=SUM(発注数),
			製品区分,
			仕入先CD,
			仕入先名,配送先CD,配送先名,
			明細備考 = '',--2018/06/16 ADD
			仕分数1=SUM(仕分数1),
			仕分数2=SUM(仕分数2),
			仕分数3=SUM(仕分数3),
			仕分数4=SUM(仕分数4),
			仕分数5=SUM(仕分数5),
			仕分数6=SUM(仕分数6),
			仕分数7=SUM(仕分数7),
			仕分数8=SUM(仕分数8),
			仕分数9=SUM(仕分数9),
			仕分数10=SUM(仕分数10),
			仕分数11=SUM(仕分数11),
			仕分数12=SUM(仕分数12),
			仕分数13=SUM(仕分数13),
			仕分数14=SUM(仕分数14),
			仕分数15=SUM(仕分数15),
			仕分数16=SUM(仕分数16),
			仕分数17=SUM(仕分数17),
			仕分数18=SUM(仕分数18),
			仕分数19=SUM(仕分数19),
			仕分数21=SUM(仕分数21),
			仕分数22=SUM(仕分数22),
			仕分数23=SUM(仕分数23),
			仕分数24=SUM(仕分数24),
			仕分数25=SUM(仕分数25),
			仕分数26=SUM(仕分数26),
			仕分数27=SUM(仕分数27),
			仕分数28=SUM(仕分数28),
			仕分数29=SUM(仕分数29),
			仕分数30=SUM(仕分数30),
			見積区分
		FROM #TMP_TOTAL
		WHERE	見積区分 NOT IN ('A','C','S')
			AND NOT (総数量 = 0 AND 社内在庫数 = 0 AND 客先在庫数 = 0 AND 転用数 = 0)
		GROUP BY	見積番号,見積件名,得意先名1,得意先名2,現場名,担当者名,
					--行番号,
					--枝番号,
					SP区分,PC区分,製品NO,仕様NO,漢字名称,
					W, D, H, D1,D2, H1, H2,
					製品区分,仕入先CD,仕入先名,配送先CD,配送先名,
					見積区分
		ORDER BY	見積番号,MIN(行番号),MIN(枝番号)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	drop table #TMP_TOTAL
	drop table #TMP_TOTAL_1

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
