/****** Object:  StoredProcedure [dbo].[usp_TN0802UPD担当者別客先在庫棚卸入力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0802UPD担当者別客先在庫棚卸入力]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0802UPD担当者別客先在庫棚卸入力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN0802UPD担当者別客先在庫棚卸入力

	機能:	
		棚卸入力で入力された情報を
		TD棚卸_担当者別客先在庫に登録する。

 =============================================
	2009/09/08	oosawa	新規作成
 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN0802UPD担当者別客先在庫棚卸入力]
	(
	@i棚卸日付		DATETIME,
	@i担当者CD		SMALLINT ,
	@i得意先CD		VARCHAR(4),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	--BEGIN TRAN

	--------------------------------------------------
	--旧棚卸を削除する。
	--------------------------------------------------
	DELETE FROM TD棚卸_担当者別客先在庫
		WHERE	棚卸日付 < @i棚卸日付
			AND	担当者CD = @i担当者CD
			AND	得意先CD = @i得意先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--------------------------------------------------
	--修正された棚卸を更新する。
	--------------------------------------------------
	UPDATE TD棚卸_担当者別客先在庫
			SET	棚卸数 = #Tmp担当者別客先在庫棚卸入力.棚卸数
		FROM TD棚卸_担当者別客先在庫
			INNER JOIN #Tmp担当者別客先在庫棚卸入力
				ON	TD棚卸_担当者別客先在庫.棚卸日付 = #Tmp担当者別客先在庫棚卸入力.棚卸日付
				AND	TD棚卸_担当者別客先在庫.担当者CD = #Tmp担当者別客先在庫棚卸入力.担当者CD
				AND	TD棚卸_担当者別客先在庫.得意先CD = #Tmp担当者別客先在庫棚卸入力.得意先CD
				AND	TD棚卸_担当者別客先在庫.製品NO = #Tmp担当者別客先在庫棚卸入力.製品NO
				AND	TD棚卸_担当者別客先在庫.仕様NO = #Tmp担当者別客先在庫棚卸入力.仕様NO
	 	WHERE NOT(TD棚卸_担当者別客先在庫.棚卸数 = #Tmp担当者別客先在庫棚卸入力.棚卸数)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--棚卸を登録する。
	--------------------------------------------------
	INSERT INTO TD棚卸_担当者別客先在庫
		(
		棚卸日付, 
		担当者CD, 
		得意先CD,
		製品NO, 
		仕様NO, 
		現在庫数, 
		棚卸数, 
		入力日付

		)
		SELECT
				TMP.棚卸日付, 
				TMP.担当者CD, 
				TMP.得意先CD, 
				TMP.製品NO, 
				TMP.仕様NO, 
				TMP.現在庫数, 
				TMP.棚卸数, 
				TMP.入力日付
	 		FROM #Tmp担当者別客先在庫棚卸入力 AS TMP
			LEFT JOIN TD棚卸_担当者別客先在庫 AS TA
				ON	TMP.棚卸日付 = TA.棚卸日付
				AND	TMP.担当者CD = TA.担当者CD
				AND	TMP.得意先CD = TA.得意先CD
				AND	TMP.製品NO = TA.製品NO
				AND	TMP.仕様NO = TA.仕様NO
			WHERE TA.棚卸日付 IS NULL

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST

GO
