/****** Object:  StoredProcedure [dbo].[usp_ZK0100在庫予定表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ZK0100在庫予定表]
GO
/****** Object:  StoredProcedure [dbo].[usp_ZK0100在庫予定表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*****************************************************

名称	usp_ZK0100在庫予定表

機能	指定された条件で在庫予定表データを取得する

引数
	@i開始日付
	@i終了日付
	@i開始製品NO
	@i開始仕様NO
	@i終了製品NO
	@i終了仕様NO
戻り値	
	
*****************************************************/
CREATE PROCEDURE [dbo].[usp_ZK0100在庫予定表]
	@i開始日付		DATETIME,
	@i終了日付		DATETIME,
	@i開始製品NO	CHAR(7),
	@i開始仕様NO	CHAR(7),
	@i終了製品NO	CHAR(7),
	@i終了仕様NO	CHAR(7),
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	NVARCHAR(256)

	SET	@ST	=	0
	SET	@MSG	=	''

	--抽出SQL文生成用
	DECLARE	@WDATE	DATETIME,
			@DateTo	DATETIME,
			@SQL		VARCHAR(8000),
			@FROM	VARCHAR(8000),
			@LEFT		VARCHAR(8000),
			@A		VARCHAR(5000),
			@B		VARCHAR(5000),
			@C		VARCHAR(5000),
			@D		VARCHAR(5000),
			@E		VARCHAR(5000),
			@F		VARCHAR(5000),
			@G		VARCHAR(5000),
			@H		VARCHAR(5000),
			@I		VARCHAR(5000),
			@J		VARCHAR(5000),
			@ZIX		INT,
			@KAISI		VARCHAR(50),
			@OWARI	VARCHAR(50)
	
	SET		@WDATE	=	@i開始日付
	SET		@DateTo	=	DATEADD(DAY,1,@i終了日付)
	SET		@SQL		=	''
	SET		@FROM	=	''
	SET		@LEFT		=	''
	SET		@A		=	''
	SET		@B		=	''
	SET		@C		=	''
	SET		@D		=	''
	SET		@E		=	''
	SET		@F		=	''
	SET		@G		=	''
	SET		@H		=	''
	SET		@I		=	''
	SET		@J		=	''
	SET		@KAISI		=	''
	SET		@OWARI	=	''

	IF	(@i開始製品NO	IS	NULL)	BEGIN
		IF	(@i開始仕様NO	IS	NULL)	BEGIN
				SET	@KAISI		=	'MSM.製品NO+MSM.仕様NO'
		END	ELSE	BEGIN	
				SET	@KAISI		=	'MSM.製品NO +' +@i開始仕様NO
		END
	END	ELSE	BEGIN
		IF	(@i開始仕様NO	IS	NULL)	BEGIN
				SET	@KAISI		=	QUOTENAME(@i開始製品NO,'''') + '+ MSM.仕様NO'
		END	ELSE	BEGIN
				SET	@KAISI		=	QUOTENAME(@i開始製品NO +@i開始仕様NO,'''')
		END
	END
	

	IF	(@i終了製品NO	IS	NULL)	BEGIN
		IF	(@i終了仕様NO	IS	NULL)	BEGIN
				SET	@OWARI	=	'MSM.製品NO+MSM.仕様NO'
		END	ELSE	BEGIN
				SET	@OWARI	=	'MSM.製品NO +' +QUOTENAME(@i終了仕様NO,'''')
		END
	END	ELSE	BEGIN
		IF	(@i終了仕様NO	IS	NULL)	BEGIN
				SET	@OWARI	=	QUOTENAME(@i終了製品NO,'''') + '+ MSM.仕様NO'
		END	ELSE	BEGIN
				SET	@OWARI	=	QUOTENAME(@i終了製品NO +@i終了仕様NO,'''')
		END
	END

	--抽出SQL文生成
	SET		@SQL		=	'SELECT A.製品NO,A.仕様NO,SM.漢字名称,SM.D,SM.W,SM.H,SM.D1,SM.D2,SM.H1,SM.H2,'
				+		'(ISNULL(MT.社内在庫数,0)+ISNULL(MS.現在庫数,0)) AS 現在庫数 '
	
	SET		@FROM	=	'FROM (SELECT MSM.製品NO,MSM.仕様NO '
	SET		@LEFT		=	'FROM	TD見積 AS MT '  
				+		'LEFT	JOIN	TD見積シートM AS MSM ON MT.見積番号=MSM.見積番号  '
				+		'WHERE	((MT.受注日付	IS NOT	NULL '     	
				+		'	AND	  (MT.受注日付	>='	+	QUOTENAME(CONVERT(VARCHAR(10),@i開始日付,111),'''') 
				+		'	AND	  MT.受注日付	<'	+	QUOTENAME(CONVERT(VARCHAR(10),@DateTo,111),'''') + '))' 
				+	 	'	OR	(MT.受注日付		IS		NULL '	
				+		'	AND	  (MT.見積日付	>='	+	QUOTENAME(CONVERT(VARCHAR(10),@i開始日付,111),'''') 	
				+		'	AND	  MT.見積日付	<'	+	QUOTENAME(CONVERT(VARCHAR(10),@DateTo,111),'''') + ')))' 
				+		'	AND	MSM.SP区分		=	'''''    
				+		'	AND	MSM.社内在庫数	<>	0'  
				+		'	AND	MSM.製品NO + MSM.仕様NO	>='	+	@KAISI
				+		'	AND	MSM.製品NO + MSM.仕様NO	<='	+	@OWARI		
				+		' GROUP BY	MSM.製品NO,MSM.仕様NO  ) AS A '
				+		' LEFT	JOIN	(SELECT 製品NO,仕様NO,漢字名称,D,W,H,D1,D2,H1,H2 			FROM TM製品 ' 
				+		'	WHERE	漢字名称		IS NOT NULL)  AS SM ON A.製品NO=SM.製品NO AND A.仕様NO=SM.仕様NO '
				+		' LEFT	JOIN	(SELECT MSM.製品NO,MSM.仕様NO,SUM(ISNULL(社内在庫数,0)) AS 社内在庫数 ' 
				+		'			FROM	TD見積 AS MT  '
				+		'			LEFT	JOIN	TD見積シートM AS MSM ON MT.見積番号=MSM.見積番号  '
				+		'			LEFT	JOIN	TM製品 AS SM	ON	MSM.製品NO=SM.製品NO AND MSM.仕様NO=SM.仕様NO '	
				+		'		WHERE	MT.受注日付	>='	+	QUOTENAME(CONVERT(VARCHAR(10),@i開始日付,111),'''')      	    
				+		'		    AND	MSM.SP区分	=		'''''    
				+		'	AND	MSM.製品NO + MSM.仕様NO	>='	+	@KAISI
				+		'	AND	MSM.製品NO + MSM.仕様NO	<='	+	@OWARI		
				+		'		    AND	SM.在庫区分				=	0 '
				+		'		    AND	MT.受注区分			=	1 '
				+		'		GROUP BY	MSM.製品NO,MSM.仕様NO)	AS	MT ON A.製品NO=MT.製品NO AND A.仕様NO=MT.仕様NO  '
				+		' LEFT	JOIN 	(SELECT 	製品NO,仕様NO,ISNULL(現在庫数,0) AS 現在庫数 FROM TM社内在庫 ) AS MS ON MS.製品NO=A.製品NO AND MS.仕様NO=A.仕様NO '
				+		' ORDER BY	A.製品NO,A.仕様NO ' 

--	print	@left

	SET	@ZIX	=	1

	WHILE	@WDATE	<	@DateTo	BEGIN
		SET	@SQL =	@SQL 	+ ','
		SET	@SQL =	@SQL	+ 'ISNULL(A.[' + CONVERT(VARCHAR(10),@WDATE,111) + '],0) AS [' + CONVERT(VARCHAR(10),@WDATE,111) + ']'

		IF	(@ZIX	>=	1)	AND	(@ZIX	<= 10)		BEGIN
			SET	@A   =	@A + ','
			SET	@A   = @A + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					     + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					     + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					     + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END

		IF	(@ZIX	>=	11)	AND	(@ZIX	<= 20)		BEGIN
			SET	@B   =	@B + ','
			SET	@B   = @B + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					     + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					     + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					     + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END		
		
		IF	(@ZIX	>=	21)	AND	(@ZIX	<= 30)		BEGIN
			SET	@C   =	@C + ','
			SET	@C   = @C + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					      + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					      + 'ELSE (CASE WHEN MT.見積日付='  + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					      + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END
		
		IF	(@ZIX	>=	31)	AND	(@ZIX	<= 40)		BEGIN
			SET	@D   =	@D + ','
			SET	@D   = @D + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付='
					     + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					     + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					     + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END
		
		IF	(@ZIX	>=	41)	AND	(@ZIX	<= 50)		BEGIN
			SET	@E   =	@E + ','
			SET	@E   = @E + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					     + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					     + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					     + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END
		
		IF	(@ZIX	>=	51)	AND	(@ZIX	<= 60)		BEGIN
			SET	@F   =	@F + ','
			SET	@F   = @F + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					     + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					     + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					     + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END
		
		IF	(@ZIX	>=	61)	AND	(@ZIX	<= 70)		BEGIN
			SET	@G   =	@G + ','
			SET	@G   = @G + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					      + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					      + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''')
					      + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END
		
		IF	(@ZIX	>=	71)	AND	(@ZIX	<= 80)		BEGIN
			SET	@H   =	@H + ','
			SET	@H   = @H + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					     + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					     + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					     + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END
		
		IF	(@ZIX	>=	81)	AND	(@ZIX	<= 90)		BEGIN
			SET	@I   =	@I + ','
			SET	@I   = @I + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					   + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					   + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					   + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END
		
		IF	(@ZIX	>=	91)	AND	(@ZIX	<= 100)		BEGIN
			SET	@J   =	@J + ','
			SET	@J   = @J + 'SUM(CASE WHEN MT.受注日付 IS NOT NULL THEN (CASE WHEN MT.受注日付=' 
					     + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') + ' THEN 社内在庫数 ELSE 0 END) '
					     + 'ELSE (CASE WHEN MT.見積日付=' + QUOTENAME(CONVERT(VARCHAR(10),@WDATE,111),'''') 
					     + ' THEN 社内在庫数 ELSE 0 END) END) AS ['+ CONVERT(VARCHAR(10),@WDATE,111) + ']'
		END
	
		SET	@WDATE	=	DATEADD(DAY,1,@WDATE)
		SET	@ZIX		=	@ZIX	+	1
	END

	--動的SQLの実行
-- 	print @sql
-- 	print @from	
-- 	print @a
-- 	print @b
-- 	print @c
-- 	print @d
-- 	print @e
-- 	print @f
-- 	print @g
-- 	print @h
-- 	print @i
-- 	print @j
-- 	print @lefｔ

	EXECUTE	(@SQL+@FROM+@A+@B+@C+@D+@E+@F+@G+@H+@I+@J+@LEFT)

	SET @ST = @@ERROR
--	IF (@ST <> 0)	BEGIN		GOTO 	EXIT_SP

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST


GO
