/****** Object:  StoredProcedure [dbo].[usp_TN2200棚卸表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2200棚卸表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2200棚卸表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN2200棚卸表
	

	機能:	
		棚番付の棚卸データを作成する

 =============================================
	2017/12/11	oosawa	新規作成
	2018/01/19	oosawa	社内仕入のみの情報にする
	2018/07/09	oosawa	廃版FLGを見るように修正
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TN2200棚卸表]
	(
	@iS棚番		VARCHAR(9),
	@iE棚番		VARCHAR(9),

	--OUTPUT
	@RetDcnt 		INT				OUTPUT,
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST			INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


--SET	@iS集計日付 = '2016-1-01'
--SET	@iE集計日付 = '2016-12-31'
--SET	@iチームCD = 3

	DECLARE	@w最終日付	DATETIME
	SET @w最終日付	= dbo.ufn_GetLastDateOfScope(GETDATE(),99)
	
	--------------------------------------------
	-- 棚卸情報
	--------------------------------------------
	SELECT	TB.棚番名, 
			製品NO = RTRIM(TB.製品NO),
			仕様NO = RTRIM(TB.仕様NO), 
			SE.漢字名称,
			--TB.行NO,
			SE.W, SE.D, SE.H, 
			--SE.D1, SE.D2, SE.H1, SE.H2, 
			SE.単位名, 
			--SE.廃盤FLG,
			最終仕入単価 = COALESCE(MAXDAY.仕入単価,SE.仕入単価)
		FROM	TM棚番 AS TB (NOLOCK)
			INNER JOIN TM製品 AS SE (NOLOCK)
				ON TB.製品NO = SE.製品NO 
				AND TB.仕様NO = SE.仕様NO
			LEFT JOIN (
						--最終仕入単価取得
						SELECT DISTINCT--2017/12/26 ADD
						--SELECT    --2017/12/26 DEL
								SMU.製品NO,SMU.仕様NO
							   ,SM.仕入日付
							   ,SMU.仕入単価
							   --,SM.見積番号
							   --,SMU.仕入明細行番号
							FROM	TD仕入明細 AS SM (NOLOCK)
								INNER JOIN	TD仕入明細内訳 AS SMU (NOLOCK)
									ON SM.仕入番号 = SMU.仕入番号
								INNER JOIN TD見積 AS MH (NOLOCK)
									ON SM.見積番号 = MH.見積番号
								INNER JOIN (
											--最終仕入日付取得
											SELECT
													SMU.製品NO,SMU.仕様NO
													,MAX(SM.仕入日付) AS F2
												FROM	TD仕入明細 AS SM (NOLOCK)
													INNER JOIN	TD仕入明細内訳 AS SMU (NOLOCK)
														ON SM.仕入番号 = SMU.仕入番号
													INNER JOIN TD見積 AS MH (NOLOCK)
														ON SM.見積番号 = MH.見積番号
												WHERE	((MH.社内伝票扱い = 1) OR (MH.得意先CD = '9999'))
													AND (SM.仕入日付 <= @w最終日付)
													AND	(SMU.仕入数量 <> 0)
												GROUP BY SMU.製品NO,SMU.仕様NO
											) AS T2
											ON T2.製品NO=SMU.製品NO
											AND T2.仕様NO=SMU.仕様NO
											AND T2.F2=SM.仕入日付
							WHERE	((MH.社内伝票扱い = 1) OR (MH.得意先CD = '9999'))--2018/01/09 ADD
								AND	(SMU.仕入数量 <> 0)
						) AS MAXDAY
						ON TB.製品NO = MAXDAY.製品NO 
						AND TB.仕様NO = MAXDAY.仕様NO
		WHERE	TB.棚番名 >= COALESCE(@iS棚番,TB.棚番名)
			AND	TB.棚番名 <= COALESCE(@iE棚番,TB.棚番名)
			AND	SE.廃盤FLG = 0--2018/07/09 ADD
		ORDER BY	TB.棚番名, TB.行NO

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
