/****** Object:  StoredProcedure [dbo].[usp_SE2600YKJAN請求明細表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE2600YKJAN請求明細表]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE2600YKJAN請求明細表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_SE2600YKJAN請求明細表

機能	ヤオコー用JAN請求明細表を作成する
		請求区分が３：チェーンストア指定のものが対象


引数

戻り値

修正履歴
	2024/05/29	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE2600YKJAN請求明細表]
	@is請求日付		DATETIME,
	@ie請求日付		DATETIME,
	@iYKサプライ区分	INT,
	@iYK物件区分	INT,
	------@wYK請求区分	INT,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@wS得意先CD			VARCHAR(4) = '8001',		--ヤオコー
			@wE得意先CD			VARCHAR(4) = '8001',
			@wYK請求区分		INT = 3--チェーンストア

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	------------------------------------------------------
	--売上が存在しているかの確認
	------------------------------------------------------
	IF NOT EXISTS(SELECT UH.見積番号 
						FROM TD売上v2 AS UH
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							--2015/06/29 ADD↓
							INNER JOIN TD売上請求H AS USH
								ON MH.見積番号 = USH.見積番号
							--2015/06/29 ADD↑
						WHERE	
							--2015/06/29 ADD↓
								USH.請求日付 >= @is請求日付
							AND	USH.請求日付 <= @ie請求日付
							--2015/06/29 ADD↑
							AND	MH.得意先CD >= COALESCE(@wS得意先CD, MH.得意先CD)
							AND	MH.得意先CD <= COALESCE(@wE得意先CD, MH.得意先CD)
							--AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
							AND	MH.YKサプライ区分 = @iYKサプライ区分
							AND	MH.YK物件区分 = @iYK物件区分
							AND	MH.YK請求区分 = @wYK請求区分

	) BEGIN
		SET @ST = -1
		SET @MSG = '該当データ無し(売上データが存在しません)'
		GOTO EXIT_SP
	END

	------------------------------------------------------
	--見積の全明細が売上済みかの確認
	------------------------------------------------------
	DECLARE	@w未売上件数	INT
	SELECT @w未売上件数 = COUNT(*)
		FROM	TD売上v2 AS UH
			INNER JOIN TD見積 AS MH
				ON UH.見積番号 = MH.見積番号
			INNER JOIN TD見積シートM AS MM
				ON UH.見積番号 = MM.見積番号
			LEFT JOIN TD売上明細V2 AS UM
				ON MM.見積明細連番 = UM.見積明細連番
			--2015/06/29 ADD↓
			INNER JOIN TD売上請求H AS USH
				ON UH.見積番号 = USH.見積番号
			--2015/06/29 ADD↑
		WHERE
			--2015/06/29 ADD↓
				USH.請求日付 >= @is請求日付
			AND	USH.請求日付 <= @ie請求日付
			--2015/06/29 ADD↑
			AND	MH.得意先CD >= COALESCE(@wS得意先CD, MH.得意先CD)
			AND	MH.得意先CD <= COALESCE(@wE得意先CD, MH.得意先CD)
			--AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
			AND	MH.YKサプライ区分 = @iYKサプライ区分
			AND	MH.YK物件区分 = @iYK物件区分
			AND	MH.YK請求区分 = @wYK請求区分

			AND UM.見積明細連番 IS NULL
			AND	MM.売上金額 <> 0

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF (@w未売上件数 <> 0)	BEGIN
		SET @ST = -1
		SET @MSG = '該当データ無し(未売上の明細が存在します)'
		GOTO EXIT_SP
	END	

	------------------------------------------------------
	--見積の出精値引が売上済みかの確認
	------------------------------------------------------
	DECLARE	@w出精値引CNT		INT,
			@w出精値引_売上CNT	INT

	--見積の出精値引の件数
	SELECT @w出精値引CNT = COUNT(UH.見積番号)
					--FROM	(SELECT 見積番号, 売上日付 = MAX(売上日付) FROM TD売上v2
					FROM	(SELECT 見積番号 FROM TD売上v2
								GROUP BY 見積番号
							) AS UH
						INNER JOIN TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
						--2015/06/29 ADD↓
						INNER JOIN TD売上請求H AS USH
							ON UH.見積番号 = USH.見積番号
						--2015/06/29 ADD↑
					WHERE
						--2015/06/29 ADD↓
							USH.請求日付 >= @is請求日付
						AND	USH.請求日付 <= @ie請求日付
						--2015/06/29 ADD↑
						AND	MH.得意先CD >= COALESCE(@wS得意先CD, MH.得意先CD)
						AND	MH.得意先CD <= COALESCE(@wE得意先CD, MH.得意先CD)
						--AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
						AND	MH.YKサプライ区分 = @iYKサプライ区分
						AND	MH.YK物件区分 = @iYK物件区分
						AND	MH.YK請求区分 = @wYK請求区分
						AND	MH.出精値引 <> 0

	--売上の出精値引き明細の件数
	SELECT @w出精値引_売上CNT = COUNT(UH.見積番号)
						FROM TD売上v2 AS UH
							INNER JOIN TD売上明細V2 AS UM 
								ON UH.売上番号 = UM.売上番号
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							--2015/06/29 ADD↓
							INNER JOIN TD売上請求H AS USH
								ON UH.見積番号 = USH.見積番号
							--2015/06/29 ADD↑
						WHERE
							--2015/06/29 ADD↓
								USH.請求日付 >= @is請求日付
							AND	USH.請求日付 <= @ie請求日付
							--2015/06/29 ADD↑
							AND	MH.得意先CD >= COALESCE(@wS得意先CD, MH.得意先CD)
							AND	MH.得意先CD <= COALESCE(@wE得意先CD, MH.得意先CD)
							--AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
							AND	MH.YKサプライ区分 = @iYKサプライ区分
							AND	MH.YK物件区分 = @iYK物件区分
							AND	MH.YK請求区分 = @wYK請求区分
							AND	UM.特別区分 = 'ZA'--出精値引
							
	IF	@w出精値引CNT <> @w出精値引_売上CNT BEGIN
		SET @ST = -1
		SET @MSG = '該当データ無し(出精値引の不整合)'
		GOTO EXIT_SP
	END	
	
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----------------------------------------------------------
	------請求日付取得
	----------------------------------------------------------
	------消費税用変数
	----DECLARE	@TAX		MONEY
			
	------税率取得
	----SET	@TAX = dbo.fn_GetTax(@w請求日付)

	------------------------------------------------------
	--見積出力用データ作成
	------------------------------------------------------
	SELECT * INTO #WK請求明細
		FROM (
		----------------------------------------------------------------
		--附属部材以外で
		--コメントでないもの
		----------------------------------------------------------------
		SELECT	UH.見積番号, 
				仕分番号 = RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2),
				仕分名称 = ISNULL(MSUN.名称,''),
				MSUN.他社部門CD,
				UM.見積明細区分,
				MSM.行番号,	
				UM.製品NO, UM.仕様NO,
				UM.漢字名称, 
				売上数量 = MSU.数量,
				UM.売上単価,
				売上金額 = dbo.fn_CutFraction(MH.売上端数,MSU.数量 * UM.売上単価,@decimalPoint),
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				--USH.請求日付--2015/06/29 ADD
				MH.完工日付
			FROM	TD見積 AS MH
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD売上v2	AS UH
					ON UM.売上番号 = UH.売上番号
				INNER JOIN TD見積シート内訳 AS MSU
					ON UM.見積明細連番 = MSU.見積明細連番
				LEFT JOIN TD見積シート内訳名称 AS MSUN
					ON MSU.見積番号 = MSUN.見積番号
					AND MSU.仕分番号 = MSUN.仕分番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE
					MSM.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
			AND		MSU.数量 <> 0
			AND		MSM.客先在庫数 = 0
			AND		MSM.転用数 = 0
			AND		UM.特別区分 <> 'ZA'--出精値引		
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@wS得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@wE得意先CD, MH.得意先CD)
				--AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
				AND	MH.YKサプライ区分 = @iYKサプライ区分
				AND	MH.YK物件区分 = @iYK物件区分
				AND	MH.YK請求区分 = @wYK請求区分
					
		UNION ALL

		--付属部材
		--見積数量があり、仕分数量があり、客先在庫数・転用があるデータ
		----------------------------------------------------------------
		--附属部材で
		--コメントでないもの
		----------------------------------------------------------------
		SELECT	UH.見積番号, 
				仕分番号 = 'Z9',
				仕分名称 = '付属部材',
				他社部門CD = '',
				UM.見積明細区分,
				MSM.行番号,	
				UM.製品NO, UM.仕様NO,
				UM.漢字名称, 
				UM.売上数量,
				UM.売上単価,
				UM.売上金額,
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				--USH.請求日付--2015/06/29 ADD
				MH.完工日付
			FROM	TD見積 AS MH
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD売上v2	AS UH
					ON UM.売上番号 = UH.売上番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE	
					UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		MSM.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
			AND 	見積数量 <> 0
			AND		(客先在庫数 > 0
				OR 	転用数 > 0)
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@wS得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@wE得意先CD, MH.得意先CD)
				--AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
				AND	MH.YKサプライ区分 = @iYKサプライ区分
				AND	MH.YK物件区分 = @iYK物件区分
				AND	MH.YK請求区分 = @wYK請求区分
		--order by msu.仕分番号, msm.行番号

		UNION ALL

		--出精値引
		SELECT	UH.見積番号, 
				仕分番号 = 'ZA',
				仕分名称 = '出精値引',
				他社部門CD = '',
				見積明細区分='',
				行番号 = 9999999,	
				製品NO = '',
				仕様NO = '',
				漢字名称 = '出精値引', 
				売上数量 = 1,
				UM.売上単価,
				UM.売上金額,
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				--USH.請求日付--2015/06/29 ADD
				MH.完工日付
			FROM TD売上v2 AS UH
			--FROM	(
			--		SELECT 見積番号, 売上日付 = MAX(売上日付)
			--			FROM TD売上v2
			--			GROUP BY 見積番号
			--		) AS UH
				INNER JOIN TD見積 AS MH
					ON UH.見積番号 = MH.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON UH.売上番号 = UM.売上番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE	
					UM.特別区分 = 'ZA'
				--AND	UH.売上日付 >= @is売上日付
				--AND	UH.売上日付 <= @ie売上日付
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@wS得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@wE得意先CD, MH.得意先CD)
				--AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
				AND	MH.YKサプライ区分 = @iYKサプライ区分
				AND	MH.YK物件区分 = @iYK物件区分
				AND	MH.YK請求区分 = @wYK請求区分
			--AND		出精値引 <> 0
		--order by msu.仕分番号, msm.行番号

		) AS 見積明細

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--2016/03/31 ADD↓-------------------------------------
	------------------------------------------------------
	--見積区分での集計処理（1～9）
	------------------------------------------------------
	SELECT * INTO #WK請求明細集計
		FROM (
			SELECT	A.見積番号, 
					A.仕分番号, B.仕分名称, 
					B.他社部門CD, 
					A.見積明細区分,
					A.行番号, 
					B.製品NO, B.仕様NO,B.漢字名称, 
					A.数量, A.売上金額 AS 売上単価, A.売上金額,
					--B.売上日付
					--B.請求日付--2015/06/29 ADD
					B.完工日付
				FROM	(
					SELECT	見積番号,
							仕分番号,
							見積明細区分,
							MIN(行番号) AS 行番号,
							1 AS 数量, SUM(売上金額) AS 売上金額
						FROM		[#WK請求明細] 
						WHERE          NOT  見積明細区分 IN ('','A', 'C', 'S')
						GROUP BY     見積番号, 仕分番号, 見積明細区分
					) AS A
					INNER JOIN (
							SELECT	見積番号, 
									仕分番号,
									仕分名称,
									他社部門CD, 
									見積明細区分,
									行番号,	
									製品NO, 
									仕様NO,
									漢字名称, 
									売上数量,
									売上単価,
									--売上日付
									--請求日付--2015/06/29 ADD
									完工日付

								FROM [#WK請求明細]
							) AS B
						ON	A.見積番号 = B.見積番号
						AND	A.仕分番号 = B.仕分番号
						AND	A.見積明細区分 = B.見積明細区分
						AND	A.行番号 = B.行番号
			) AS A
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細からの集計（1～9）対象の削除
	------------------------------------------------------
	DELETE FROM #WK請求明細
		WHERE  見積明細区分 NOT IN ('','A', 'C', 'S')

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細へ集計（1～9）結果の追加
	------------------------------------------------------
	INSERT INTO #WK請求明細
		SELECT *
			FROM #WK請求明細集計

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2016/03/31 ADD↑-------------------------------------

	--------------------------------------------------------
	----見積情報　取得
	--------------------------------------------------------

	SELECT	TMP.見積番号, 
			MH.納入得意先CD,MH.納入先CD, 
			MH.納入先名1,
			TMP.仕分番号,
			TMP.他社部門CD,
			TMP.行番号,
			TMP.製品NO, 
			TMP.仕様NO,
			TMP.漢字名称, 
			TMP.売上数量, TMP.売上単価,
			--TMP.売上日付
			--TMP.請求日付--2015/06/29 ADD
			TMP.完工日付
		INTO 	#WKTBL
			FROM 	#WK請求明細 AS TMP
				--INNER JOIN TD売上v2	AS UH
				--INNER JOIN	(
				--			SELECT 見積番号, 売上日付 = MAX(売上日付)
				--				FROM TD売上v2
				--				GROUP BY 見積番号
				--			) AS UH
				--	ON TMP.見積番号 = UH.見積番号
				INNER JOIN TD見積 AS MH
					ON	TMP.見積番号 = MH.見積番号
				--LEFT JOIN 	TM得意先 AS TM 
				--	ON 	MH.納入得意先CD = TM.得意先CD


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----------------------------------
	-- 	抽出データ
	----------------------------------
	SELECT	見積番号, 
			#WKTBL.納入先CD, 
			納入先名 = NU.表示用店舗名,
			--2015/06/29 ADD↓
			--納入年 = SUBSTRING(CONVERT(CHAR(10),完工日付,112),1,4), 
			--納入月 = SUBSTRING(CONVERT(CHAR(10),完工日付,12),3,2), 
			--納入日 = SUBSTRING(CONVERT(CHAR(10),完工日付,12),5,2), 
			完工日付 = CONVERT(CHAR(10),完工日付,112),
			--2015/06/29 ADD↑
			#WKTBL.仕分番号,
			行番 = ROW_NUMBER() OVER (PARTITION BY 見積番号 ORDER BY 見積番号,行番号),

			SHK.他社製品CD,
			#WKTBL.製品NO, #WKTBL.仕様NO, #WKTBL.他社部門CD, 
			製品名 = CASE WHEN ISNULL(SHK.他社製品名,'') = '' THEN #WKTBL.漢字名称 ELSE SHK.他社製品名 END,
			SHK.他社製品名,#WKTBL.漢字名称,
			売上数量, 売上単価

		FROM #WKTBL
			LEFT JOIN TM納入先 AS NU
				ON #WKTBL.納入得意先CD = NU.得意先CD
				AND #WKTBL.納入先CD = NU.納入先CD
			LEFT JOIN TM製品変換 AS SHK
				ON #WKTBL.納入得意先CD = SHK.得意先CD
				AND #WKTBL.製品NO = SHK.製品NO
				AND #WKTBL.仕様NO = SHK.仕様NO
				AND #WKTBL.他社部門CD = SHK.他社部門CD
		WHERE	売上単価 <> 0
		----ORDER BY 売上日付, 納入得意先CD, 納入先CD, 見積番号, 仕分番号, 行番号
		ORDER BY 見積番号, 完工日付, 納入得意先CD, 納入先CD, 行番号, 仕分番号

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	DROP TABLE #WK請求明細
	DROP TABLE #WK請求明細集計				--2005/07/05 ADD
	DROP TABLE #WKTBL 

EXIT_SP:

	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
