/****** Object:  StoredProcedure [dbo].[usp_TK2700チーム別予実グラフ]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK2700チーム別予実グラフ]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK2700チーム別予実グラフ]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TK2700チーム別予実グラフ
	

	機能:	
		チーム毎の売上金額と仕入金額の推移を作成する

 =============================================
	2017/07/10	oosawa	TK24をもとに新規作成
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TK2700チーム別予実グラフ]
	(
	@iS集計日付	DATETIME,
	@iE集計日付	DATETIME,

	--OUTPUT
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


--SET	@iS集計日付 = '2017-1-01'
--SET	@iE集計日付 = '2017-5-31'
--SET	@iチームCD = 3

	DECLARE	@wE前年最終日付	DATETIME
	--SET @wE前年最終日付	= dbo.ufn_GetLastDateOfScope(DATEADD(YY,-1,@iE集計日付),99)
	SET @wE前年最終日付 = CONVERT(DATETIME,RIGHT('0000'+CONVERT(VARCHAR(4),YEAR(@iE集計日付)),4)
								+'12'
								+RIGHT('00'+CONVERT(VARCHAR(2),DAY(@iE集計日付)),2),112)
	SET @wE前年最終日付	= dbo.ufn_GetLastDateOfScope(DATEADD(YY,-1,@wE前年最終日付),99)

	DECLARE	@wE最終日付	DATETIME
	SET @wE最終日付 = dbo.ufn_GetLastDateOfScope(DATEADD(MONTH,11,@iS集計日付),99)

	--ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			チームCD		INT		NOT NULL,
			年月			DATETIME,
			売上税抜金額	MONEY	DEFAULT(0),
			原価税抜金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		-- 三和商研　売上
		--------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上 得意先指定
					SELECT	TK.チームCD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1'),
							税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
						FROM	TD売上v2 AS UH 
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							INNER JOIN TD売上明細V2 AS UM
								ON UH.売上番号 = UM.売上番号 
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON UM.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	(
									(UH.売上日付 >= @iS集計日付
										AND UH.売上日付 <= @iE集計日付)					--今年度
								OR 
									(UH.売上日付 >= DATEADD(YY,-1,@iS集計日付)
										AND UH.売上日付 <= @wE前年最終日付)	--前年度	--2017/03/22 ADD	
								)
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),UH.売上日付,111)+'/1')
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.売上税抜金額 = A.売上税抜金額 + B.税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							年月,
							売上税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.年月,
							B.税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		--三和商研　原価
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
					--原価
					SELECT	TK.チームCD,
							年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
							原価税抜金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入明細 AS SM
							INNER JOIN	TD見積 AS MH
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU
								ON SM.仕入番号 = SMU.仕入番号
							LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
								ON SMU.見積明細連番 = MSM.見積明細連番 
							INNER JOIN  TM得意先 AS TK
								ON MH.販売先得意先CD = TK.得意先CD
						WHERE	MH.社内伝票扱い = 0--社内伝でない
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	(
										(SM.仕入日付 >= @iS集計日付
											AND SM.仕入日付 <= @iE集計日付)					--今年度
									OR 
										(SM.仕入日付 >= DATEADD(YY,-1,@iS集計日付)
											AND SM.仕入日付 <= @wE前年最終日付)	--前年度	--2017/03/22 ADD	
									)
					GROUP BY     TK.チームCD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND	A.年月 = B.年月
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.原価税抜金額 = A.原価税抜金額 + B.原価税抜金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							年月,
							原価税抜金額
						)
					VALUES
						(
							B.チームCD,
							B.年月,
							B.原価税抜金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



		--------------------------------------------
		--売上原価出力
		--------------------------------------------
		SELECT * FROM #TMP_TOTAL
				ORDER BY     チームCD,年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--予測出力
		--------------------------------------------
		SELECT チームCD,予測年月,予測売上額,予測原価額
			FROM TMチーム予測
			WHERE	(
						(予測年月 >= @iS集計日付
							AND 予測年月 <= @wE最終日付)					--今年度
					)
			ORDER BY     チームCD,予測年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--三研実績出力
		--------------------------------------------
		--SELECT	年月, 売上税抜金額, 原価税抜金額, 人件一般費, 営業外費
		SELECT	年月, 売上税抜金額_円, 原価税抜金額_円, 人件一般費_円, 営業外費_円
			FROM	TM三研情報
			WHERE	(
						(年月 >= @iS集計日付
							AND 年月 <= @iE集計日付)					--今年度
					OR 
						(年月 >= DATEADD(YY,-1,@iS集計日付)
							--AND 年月 <= DATEADD(YY,-1,@iE集計日付))	--前年度
							AND 年月 <= @wE前年最終日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------
		--三研予測出力
		--------------------------------------------
		SELECT	予測年月, 予測売上額, 予測原価額
			FROM	TM三研予測
			WHERE	(
						(予測年月 >= @iS集計日付
							AND 予測年月 <= @iE集計日付)					--今年度
					OR 
						(予測年月 >= DATEADD(YY,-1,@iS集計日付)
							AND 予測年月 <= @wE前年最終日付)	--前年度	--2017/03/22 ADD	
					)
			ORDER BY 予測年月

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:

	DROP TABLE #TMP_TOTAL

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
