/****** Object:  StoredProcedure [dbo].[usp_SE1200月別締別売上集計表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE1200月別締別売上集計表]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE1200月別締別売上集計表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_SE1200月別締別売上集計表

機能	指定された条件でデータを抽出する

引数	

戻り値	

UPDATE
	2006/07/04	新規作成
	2006/07/06	月末は後半の欄へ
	2006/07/20	指定年月の範囲内で締日変更されている場合があるのでデータ抽出方法を変更
	
	2012/06/07	oosawa		EXCEL出力の為、全体件数と担当者別件数を追加

	2014/11/20	oosawa		新売上バージョン
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE1200月別締別売上集計表]
	(
		@iFromDate 		DATETIME,
		@iToDate 		DATETIME,
		@is担当者CD 		SMALLINT,
		@ie担当者CD 		SMALLINT,
		@is得意先CD 		VARCHAR(4),
		@ie得意先CD 		VARCHAR(4),
		@i締日 		SMALLINT,
		-- OUTPUT
		@RetDcnt 	INT				OUTPUT,
		@RetST	INT			OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	


	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	--------------------------
	-- 	日付値セット
	--------------------------
	DECLARE 	@wkFromDate1 	DATETIME,
			@wkToDate1 		DATETIME,
			@wkFromDate2 	DATETIME,
			@wkToDate2 		DATETIME
	
	--------------------------
	-- 年月でループ用
	--------------------------
	DECLARE 	@wkDate 		DATETIME
	
	SET 	@wkDate = @iFromDate

	--------------------------
	-- 作業用変数（動的ＳＱＬ用）
	--------------------------
	DECLARE 	--@WDATE	DATETIME,
			@SQL		VARCHAR(8000),
			@SQL_JOIN 	VARCHAR(1000),
			@WHERE	VARCHAR(1000),
			@WHERE_ID 	VARCHAR(1000),
			@GROUP	VARCHAR(1000),
			@ORDER	VARCHAR(1000),
			@DATA	VARCHAR(8000)
		

--------------------------------------------------
-- トランザクションを開始します
--------------------------------------------------
--	BEGIN TRAN

	--------------------------------------------------
	--ワークテーブル作成
	--------------------------------------------------
	CREATE TABLE #Tmp_集計
		(
			得意先CD  		VARCHAR(4),
			担当者CD 		SMALLINT,
			集計年月 		DATETIME,
			前半売上 		MONEY,
			前半仕入 		MONEY,
			後半売上 		MONEY,
			後半仕入 		MONEY,
			締日			SMALLINT,
			wFromDate1 		DATETIME,
			wToDate1		DATETIME,
			wFromDate2 		DATETIME, 
			wToDate2		DATETIME
		) ON [PRIMARY]

	 CREATE  INDEX [PK_#Tmp_集計] ON [dbo].[#Tmp_集計]
			(
			[得意先CD],
			[担当者CD],
			[集計年月],
			[締日]
			) ON [PRIMARY]


	SET @ST = @@ERROR
	IF (@ST <> 0)	BEGIN
		SET @MSG = 'ワークテーブル作成エラー'
		GOTO EXIT_SP
	END
	

	--------------------------------
	--	得意先「締日」カーソル
	--------------------------------
	--カーソル項目
	DECLARE	@csr			CURSOR,
			@c締日		SMALLINT

	--指定範囲カーソル
	SET	@csr	=	CURSOR	LOCAL	FORWARD_ONLY	STATIC FOR
		SELECT 	締日
			FROM 		TM得意先 AS TK
			WHERE 	TK.締日 = COALESCE(@i締日,TK.締日)
				AND 	TK.締日 <> 0
			GROUP BY 	TK.締日

	OPEN	@csr
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF (@@CURSOR_ROWS = 0)	BEGIN
		SET @ST = -1
		SET @MSG = '該当データがありません。'
		GOTO EXIT_SP
	END	

	----------------------------------------------------------
	--	得意先ループ
	----------------------------------------------------------
	FETCH NEXT FROM	@csr	INTO	@c締日
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	WHILE	( @@FETCH_STATUS = 0 )	BEGIN
		-------------------------------------------
		--	日付ループ　初期値セット
		-------------------------------------------
		set @wkDate = @iFromDate

		-------------------------------------------
		--	日付ループ
		-------------------------------------------
		WHILE @wkDate <= @iToDate	BEGIN

			-------------------------------------------
			--	抽出対象の日付値を変数へセット
			-------------------------------------------
			SELECT
			@wkFromDate1 = convert(datetime,convert(char(7),@wkDate,111)+'/01',111),
			@wkToDate1 = case when @c締日 = 99 then DATEADD(DAY,-1,DATEADD(MONTH,1,convert(datetime,convert(char(7),@wkDate,111)+'/01',111)))
						ELSE CONVERT(DATETIME,convert(char(7),@wkDate,111)+'/'+str(@c締日),111) 
						END,
			@wkFromDate2 = case when @c締日 <> 99 then 
						convert(datetime,convert(char(7),@wkDate,111)+'/'+str(@c締日 + 1),111)
						END,
			@wkToDate2 = case when @c締日 <> 99 then 
						DATEADD(DAY,-1,DATEADD(MONTH,1,convert(datetime,convert(char(7),@wkDate,111)+'/01',111)))
						END
	
			-------------------------------------------
			--	抽出対象の日付値を[#tmp]へ書き込み
			-------------------------------------------
			SELECT 	DISTINCT  	--2006/07/20
					得意先CD, 
					wFromDate1 = convert(datetime,convert(char(7),@wkDate,111)+'/01',111),
					wToDate1 = case when @c締日 = 99 then DATEADD(DAY,-1,DATEADD(MONTH,1,convert(datetime,convert(char(7),@wkDate,111)+'/01',111)))
								ELSE CONVERT(DATETIME,convert(char(7),@wkDate,111)+'/'+str(@c締日),111) 
								END,
					wFromDate2 = case when @c締日 <> 99 then 
								convert(datetime,convert(char(7),@wkDate,111)+'/'+str(@c締日 + 1),111)
								END,
					wToDate2 = case when @c締日 <> 99 then 
								DATEADD(DAY,-1,DATEADD(MONTH,1,convert(datetime,convert(char(7),@wkDate,111)+'/01',111)))
								END
				INTO 	#tmp
				--FROM 	TM得意先 AS TK
				--WHERE 	TK.締日 = @c締日
				FROM 	TD売上請求H AS TK
					INNER JOIN TD見積 AS MH
						ON TK.見積番号 = MH.見積番号
				WHERE 	TK.請求締日 = @c締日

			--select * from #tmp
	
	
			-------------------------------------------
			--	抽出データを[#Tmp_集計]へ書き込み
			-------------------------------------------
			INSERT INTO 	#Tmp_集計
					(
					得意先CD, 担当者CD, 集計年月, 
					前半売上, 前半仕入, 後半売上, 後半仕入,
					締日, wFromDate1, wToDate1, wFromDate2, wToDate2
					)
		
			SELECT	UH.得意先CD, UH.担当者CD, @wkDate, 
-- -- 2006/07/06.DEL
-- -- 		 			前半売上 = SUM(CASE WHEN UH.請求日付 >= wFromDate1 AND UH.請求日付 <= wToDate1 THEN
-- -- 							(CASE WHEN UU.伝票区分 = '1' OR UU.伝票区分 = '2' OR UU.伝票区分 = '3'
-- -- 									THEN UU.売上金額-UU.消費税額 
-- -- 									 ELSE 0 END) ELSE 0 END),
-- -- 		 			前半仕入 = SUM(CASE WHEN UH.請求日付 >= wFromDate1 AND UH.請求日付 <= wToDate1 THEN
-- -- 							UU.仕入金額 ELSE 0 END),
-- -- 		 			後半売上 = case when @c締日 = 99 then 0
-- -- 							else
-- -- 								SUM(CASE WHEN UH.請求日付 >= wFromDate2 AND UH.請求日付 <= wToDate2 THEN
-- -- 										(CASE WHEN UU.伝票区分 = '1' OR UU.伝票区分 = '2' OR UU.伝票区分 = '3'
-- -- 												THEN UU.売上金額-UU.消費税額 
-- -- 												 ELSE 0 END) ELSE 0 END)
-- -- 							end,
-- -- 					後半仕入 = case when @c締日 = 99 then 0
-- -- 							else
-- -- 					 			SUM(CASE WHEN UH.請求日付 >= wFromDate2 AND UH.請求日付 <= wToDate2 THEN
-- -- 										UU.仕入金額 ELSE 0 END)
-- -- 							end,
-- -- 2006/07/06.ADD
		 			前半売上 = CASE WHEN @c締日 = 99 THEN 0
							ELSE
								SUM(CASE WHEN UH.請求日付 >= wFromDate1 AND UH.請求日付 <= wToDate1 THEN
									(CASE WHEN UU.伝票区分 = '1' OR UU.伝票区分 = '2' OR UU.伝票区分 = '3'
											THEN UU.売上金額-UU.消費税額 
											 ELSE 0 END) ELSE 0 END)
							END,
		 			前半仕入 = CASE WHEN @c締日 = 99 THEN 0
							ELSE
								SUM(CASE WHEN UH.請求日付 >= wFromDate1 AND UH.請求日付 <= wToDate1 THEN
									UU.仕入金額 ELSE 0 END)
							END,
		 			後半売上 = CASE WHEN @c締日 = 99 THEN 
								SUM(CASE WHEN UH.請求日付 >= wFromDate1 AND UH.請求日付 <= wToDate1 THEN
									(CASE WHEN UU.伝票区分 = '1' OR UU.伝票区分 = '2' OR UU.伝票区分 = '3'
											THEN UU.売上金額-UU.消費税額 
											 ELSE 0 END) ELSE 0 END)
							ELSE
								SUM(CASE WHEN UH.請求日付 >= wFromDate2 AND UH.請求日付 <= wToDate2 THEN
									(CASE WHEN UU.伝票区分 = '1' OR UU.伝票区分 = '2' OR UU.伝票区分 = '3'
											THEN UU.売上金額-UU.消費税額 
											 ELSE 0 END) ELSE 0 END)
							END,
					後半仕入 = CASE WHEN @c締日 = 99 THEN
								SUM(CASE WHEN UH.請求日付 >= wFromDate1 AND UH.請求日付 <= wToDate1 THEN
									UU.仕入金額 ELSE 0 END)
							ELSE
					 			SUM(CASE WHEN UH.請求日付 >= wFromDate2 AND UH.請求日付 <= wToDate2 THEN
									UU.仕入金額 ELSE 0 END)
							END,
					@c締日, @wkFromDate1, @wkToDate1, @wkFromDate2, @wkToDate2
				FROM	
					(SELECT USH.*,MH.得意先CD,MH.担当者CD,UH.売上番号
						FROM TD売上請求H AS USH
							INNER JOIN TD見積 AS MH
								ON USH.見積番号 = MH.見積番号
							INNER JOIN TD売上v2 AS UH
								ON USH.見積番号 = UH.見積番号
					) AS UH
				INNER JOIN 	TD売上明細V2 AS UU
					ON 	UH.売上番号 = UU.売上番号 
				LEFT JOIN 	#tmp AS tp
					ON 	UH.得意先CD = tp.得意先CD

				-- 日付ループで決定した日付範囲を抽出（末締めの時は後半日付はNULLになっている）
	 			WHERE 	UH.請求日付 >= wFromDate1
	 		    	    	AND 	UH.請求日付 <= coalesce(wToDate2,wToDate1)
	 		    	    	--AND 	UH.得意先CD in (select 得意先CD from tm得意先 where 締日 = @c締日)
	 		    	    	AND 	UH.請求締日 = @c締日			--2006/07/20
				GROUP BY	UH.得意先CD, UH.担当者CD
			 	ORDER BY	UH.得意先CD
	
			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
			-------------------------------------------
			--	[#tmp]を削除
			-------------------------------------------
			drop table #tmp


			-------------------------------------------
			--	日付ループ　変数カウント
			-------------------------------------------
			--1月upする
			SET @wkDate = DATEADD(M,1,@wkDate)

		--日付ループ END
		END

		----------------------------------------------------------
		--	得意先ループ	次データ読込
		----------------------------------------------------------
		FETCH NEXT FROM	@csr	INTO	@c締日

	--得意先ループ END
 	END


----------------------------------------------------------
--	動的ＳＱＬ　前準備	文字列の初期化をしないと内容が更新されない。
----------------------------------------------------------
 	SET	@SQL = ''
 	SET	@SQL_JOIN = ''
 	SET	@WHERE = ''
 	SET	@WHERE_ID = ''
 	SET	@GROUP = ''
 	SET	@ORDER = ''
 	SET	@DATA = ''

		-- LEFT JOIN文セット
		SET @SQL_JOIN = ' LEFT JOIN TM得意先 AS TK ON D.得意先CD = TK.得意先CD '
				+ ' LEFT JOIN TM担当者 AS TA ON D.担当者CD = TA.担当者CD '
 		-- 抽出条件
 		SET @WHERE_ID = ' D.得意先CD >= ' + COALESCE('''' + @is得意先CD + '''','D.得意先CD')
 				+ ' AND D.得意先CD <= ' + COALESCE('''' + @ie得意先CD + '''','D.得意先CD')
				+ ' AND D.担当者CD >= ' + COALESCE('''' + convert(char(3),@is担当者CD) + '''','D.担当者CD')
 				+ ' AND D.担当者CD <= ' + COALESCE('''' + convert(char(3),@ie担当者CD) + '''','D.担当者CD')
		-- 集計条件
		--SET @GROUP = 'D.担当者CD, TA.担当者名, D.得意先CD, TK.得意先名1, TK.得意先名2, D.締日'
		SET @GROUP = 'D.担当者CD, TA.担当者名, D.得意先CD, TK.得意先名1, TK.得意先名2, TK.締日'		--2006/07/20
		SET @ORDER = 'D.担当者CD, D.得意先CD'


	-------集計年月セット
	SET 	@wkDATE = @iFromDate


	--文字列連結
	WHILE @wkDATE <= @iToDate	BEGIN
		--カンマを付ける
		IF @SQL <> '' BEGIN
			SET @SQL = @SQL + ','
		END
	
		-- SELECT文セット
		SET @SQL = @SQL + 
			'SUM(CASE WHEN CONVERT(CHAR(10),D.集計年月,111) = ''' + CONVERT(CHAR(10),@wkDATE,111) +
			''' THEN (D.前半売上) ELSE 0 END) AS ['+ CONVERT(CHAR(10),@wkDATE,111) + '前半売上],'
		SET @SQL = @SQL + 
			'SUM(CASE WHEN CONVERT(CHAR(10),D.集計年月,111) = ''' + CONVERT(CHAR(10),@wkDATE,111) +
			''' THEN (D.前半仕入) ELSE 0 END) AS ['+ CONVERT(CHAR(10),@wkDATE,111) + '前半仕入],'
		SET @SQL = @SQL + 
			'SUM(CASE WHEN CONVERT(CHAR(10),D.集計年月,111) = ''' + CONVERT(CHAR(10),@wkDATE,111) +
			''' THEN (D.後半売上) ELSE 0 END) AS ['+ CONVERT(CHAR(10),@wkDATE,111) + '後半売上],'
		SET @SQL = @SQL + 
			'SUM(CASE WHEN CONVERT(CHAR(10),D.集計年月,111) = ''' + CONVERT(CHAR(10),@wkDATE,111) +
			''' THEN (D.後半仕入) ELSE 0 END) AS ['+ CONVERT(CHAR(10),@wkDATE,111) + '後半仕入]'

		--1月upする
		SET @wkDATE = DATEADD(M,1,@wkDATE)
	END

-- 	print @sql
-- 	print @sql_join
-- 	print @where
-- 	print @where_id
-- 	print @group
-- 	print @order

	-------ＳＱＬ
	SET @DATA = 'SELECT D.担当者CD, TA.担当者名, D.得意先CD, TK.得意先名1, TK.得意先名2, TK.締日, ' 
			+ '締日名 = (CASE TK.締日 WHEN 99 THEN ''月末締'' WHEN 0 THEN '''' ELSE CONVERT(VARCHAR, TK.締日) + ''日締'' END),' + @SQL + 
			'	,COUNT(D.担当者CD) OVER(PARTITION BY D.担当者CD) AS ''Count''' +		--2012/06/07 ADD
			' FROM #Tmp_集計 AS D ' +
			@SQL_JOIN + 
			' WHERE ' + @WHERE + @WHERE_ID +
			' GROUP BY ' + @GROUP +
			' ORDER BY ' + @ORDER
	print @DATA

	--動的ＳＱＬの実行
	EXECUTE (@DATA)

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT			--2012/06/07 ADD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
