/****** Object:  StoredProcedure [dbo].[usp_客先在庫_出荷予定Subtract]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_客先在庫_出荷予定Subtract]
GO
/****** Object:  StoredProcedure [dbo].[usp_客先在庫_出荷予定Subtract]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE	PROCEDURE	[dbo].[usp_客先在庫_出荷予定Subtract] 
	(
	@i見積番号		INT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	指定された見積データの客先在庫数をマスタ内より引く

	内容	指定した見積番号の製品の客先在庫を元に戻す。
		SP区分=''、PC区分=''の製品が対象
		客先在庫マスタに登録していない製品が対象外。
		製品マスタの在庫管理区分＝しないは対象外。
		客先在庫引当済Fが0のものは対象外。（在庫引当ができていない明細の為）

	2003/06/09	OOSAWA	
*/
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
/*	DECLARE	@i見積番号	INT,
			@iシート番号	INT

	SET @i見積番号 = 1
	SET @iシート番号=1
*/	
	--BEGIN TRAN

	UPDATE TM客先在庫
		SET 出荷予定数 = 出荷予定数 - MZ.客先在庫数
		FROM TM客先在庫 AS SZ
			INNER JOIN
				(SELECT MT.見積番号, MSM.製品NO, MSM.仕様NO, MSM.客先在庫数
					FROM
					(SELECT 見積番号, 得意先CD FROM TD見積 WHERE 見積番号 = @i見積番号) AS MT
						INNER JOIN (SELECT 見積番号, 製品NO, 仕様NO, SUM(客先在庫数) AS 客先在庫数 
									FROM TD見積シートM
										WHERE	SP区分=''
										AND		PC区分=''
										AND		客先在庫数 <> 0
									GROUP BY		見積番号,製品NO, 仕様NO
							) AS MSM
							ON MT.見積番号 = MSM.見積番号
						INNER JOIN(SELECT * FROM TM製品 WHERE 在庫区分 = 0) AS SH
							ON MSM.製品NO = SH.製品NO
							AND MSM.仕様NO = SH.仕様NO
						INNER JOIN TM客先在庫 AS SZ
							ON SH.製品NO = SZ.製品NO
							AND SH.仕様NO = SZ.仕様NO
							AND MT.得意先CD = SZ.得意先CD
				) AS MZ
			ON	SZ.製品NO = MZ.製品NO
			AND	SZ.仕様NO = MZ.仕様NO

/*				(SELECT MSM.製品NO, MSM.仕様NO, Sum(MSM.客先在庫数) AS 客先在庫数
					FROM TD見積シートM AS MSM
						INNER JOIN TM製品 AS SH
							ON MSM.製品NO = SH.製品NO
							AND MSM.仕様NO = SH.仕様NO
						INNER JOIN TM客先在庫 AS SZ
							ON SH.製品NO = SZ.製品NO
							AND SH.仕様NO = SZ.仕様NO
					WHERE	SH.在庫区分=0
					AND		MSM.見積番号 =  @i見積番号
					AND		MSM.SP区分=''
					AND		MSM.PC区分=''
					GROUP BY MSM.製品NO, MSM.仕様NO
				) AS MZ
			ON	SZ.製品NO = MZ.製品NO
			AND	SZ.仕様NO = MZ.仕様NO
*/
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

/*	--客先在庫を戻したデータの客先在庫引当済Fをゼロに戻す。
	UPDATE TD見積シートM
		SET 客先在庫引当済F = 0
		WHERE	見積番号 =  @i見積番号
		AND		SP区分=''
		AND		PC区分=''
*/
	--SELECT * FROM TM客先在庫

	--COMMIT TRAN

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST

GO
