.sdt-upcomingEvents .sdt-upcomingEvents-wrap {
  background-color: #fff;
}
.sdt-upcomingEvents .sdt-upcomingEvents-title {
  display: none;
}
.sdt-upcomingEvents .sdt-upcomingEvents-form {
  margin: 0;
}
.sdt-upcomingEvents .sdt-upcomingEvents-form__area {
  padding: 5px;
  margin: 0;
  border: solid 1px #c0c0c0;
  border-radius: 5px;
}
.sdt-upcomingEvents .sdt-upcomingEvents-form .sdt-input {
  font-size: 12px;
}
.sdt-upcomingEvents .sdt-upcomingEvents-form .sdt-button {
  padding: 4px 4px 4px 2px;
  border: 1px solid #d19405;
  background: #fece2f url(../../styles/plugins/themes/sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
}
.sdt-upcomingEvents .sdt-upcomingEvents-form .sdt-button .sdt-button__text {
  font-size: 12px;
  color: #333;
}
.sdt-upcomingEvents .sdt-table-variable {
  border-radius: 10px;
  border: none;
}
.sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-wrap {
  border: none;
}
.sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-cell:first-child {
  border-radius: 10px 0 0 0;
}
.sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-cell:first-child .sdt-table-variable-cell-head {
  border-radius: 10px 0 0 0;
}
.sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-cell:last-child {
  border-radius: 0 10px 0 0;
}
.sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-cell:last-child .sdt-table-variable-cell-head {
  border-radius: 0 10px 0 0;
}
.sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-cell-head {
  border: 1px solid #494437;
  background: #817865 url(../../styles/plugins/themes/sunny/images/ui-bg_gloss-wave_45_817865_500x100.png) 50% 50% repeat-x;
  color: #fff;
  font-weight: bold;
}
.sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-cell[data-style=AreaDetail] {
  min-width: 120px;
  width: 10%;
}

.ui-widget.ui-widget-content {
  z-index: 706 !important;
}

@media screen and (min-width: 761px) {
  .sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-wrap .sdt-table-variable-cell-head {
    min-height: 47px;
    border-bottom: solid 1px #3B3B3B;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px #fff;
    text-align: left;
  }
  .sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-wrap .sdt-table-variable-cell-head__text {
    width: 100%;
  }
  .sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-wrap .sdt-table-variable-cell-body {
    border-left: dotted 1px #c0c0c0;
    border-right: dotted 1px #c0c0c0;
  }
  .sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-wrap .sdt-table-variable-cell-body__text {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .sdt-upcomingEvents .sdt-table-variable-column {
    border-radius: 10px;
    border: solid 1px #333;
  }
  .sdt-upcomingEvents .sdt-upcomingEvents-form .sdt-form-buttonArea .sdt-button {
    margin: 0 10px;
  }
  .sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-wrap .sdt-table-variable-cell-head, .sdt-upcomingEvents .sdt-table-variable .sdt-table-variable-wrap .sdt-table-variable-cell-body {
    border: none;
    background-color: inherit;
    color: #333;
    background-image: initial;
  }
}