/****** Object:  StoredProcedure [dbo].[usp_TN1001SetTmp担当者別客先在庫入庫]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1001SetTmp担当者別客先在庫入庫]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1001SetTmp担当者別客先在庫入庫]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN1001SetTmp担当者別客先在庫入庫

	機能:	
		客先在庫情報を#Tmpに登録する。

 =============================================
	2009/09/18	oosawa	新規作成

 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN1001SetTmp担当者別客先在庫入庫]
	(
	@i客先在庫入庫明細連番	INT,
	@i客先在庫入庫連番	INT,
	@i枝番			SMALLINT,
	@i製品NO		CHAR (7) ,
	@i仕様NO		CHAR (7) , 
	@i入庫数量		MONEY,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''


--	INSERT INTO Tmp在庫調整
	INSERT INTO #Tmp担当者別客先在庫入庫
		(
			客先在庫入庫明細連番,
			客先在庫入庫連番,
			枝番, 
			製品NO,
			仕様NO,
			入庫数量
		)  
	VALUES 
		(
			@i客先在庫入庫明細連番,
			@i客先在庫入庫連番,
			@i枝番, 
			@i製品NO,
			@i仕様NO,
			@i入庫数量
		)

	SET @ST=@@ERROR IF @ST<>0 GOTO EXIT_SP

EXIT_SP:
	SET @RetST = @ST
	SET @RetMsg = @MSG
	RETURN @ST

GO
