/****** Object:  StoredProcedure [dbo].[usp_TK0500物件種別得意先別売上推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK0500物件種別得意先別売上推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK0500物件種別得意先別売上推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_TK0500物件種別得意先別売上推移表

機能	物件種別得意先別の売上の推移を作成する


引数

戻り値

修正履歴
	2012/09/12	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK0500物件種別得意先別売上推移表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS物件種別		INT,
	@iE物件種別		INT,

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE @wNENGETUCNT	DATETIME,	--年カウント日付
			@wCNT	INT			--セットカウント
	DECLARE	@SQL	VARCHAR(8000)
	DECLARE	@FIELD	VARCHAR(8000)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''
	--SET	@iS集計日付 = '2012/01/01'
	--SET	@iE集計日付 = '2012/06/30'

	--物件種別得意先別金額ワークテーブル作成
	CREATE TABLE #TMP
		(
			物件種別区分	INT,
			得意先CD	VARCHAR(4)		NOT NULL,
			年月		INT,
			原価金額	MONEY	DEFAULT(0),
			売上金額	MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		-----------------------------------
		--物件種別得意先別集計
		-----------------------------------
		INSERT	INTO #TMP
				(物件種別区分, 得意先CD, 年月, 原価金額, 売上金額)
			SELECT	
					物件種別 = ISNULL(MH.物件種別,0),
					UH.得意先CD,
					年月 = CONVERT(CHAR(6),UH.請求日付,112),
					SUM(UU.仕入金額) AS 原価金額,
					SUM(UU.売上金額-UU.消費税額) AS 税抜金額
				FROM	TD売上 AS UH
					INNER JOIN TD売上明細 AS UM
						ON UH.売上番号 = UM.売上番号 
					INNER JOIN TD売上明細内訳 AS UU
						ON UM.売上番号 = UU.売上番号 
							AND UM.売上行番号 = UU.売上行番号
					LEFT JOIN TD見積 AS MH
						ON UH.見積番号 = MH.見積番号
				WHERE UH.請求日付 >= @iS集計日付
		    			AND UH.請求日付 <= @iE集計日付
						AND ISNULL(MH.物件種別,0) >= COALESCE(@iS物件種別,ISNULL(MH.物件種別,0))
						AND ISNULL(MH.物件種別,0) <= COALESCE(@iE物件種別,ISNULL(MH.物件種別,0))
			GROUP BY     ISNULL(MH.物件種別,0), UH.得意先CD, CONVERT(CHAR(6),UH.請求日付,112)
			ORDER BY     ISNULL(MH.物件種別,0), UH.得意先CD, CONVERT(CHAR(6),UH.請求日付,112)


	--END データ作成----------------------------------------------------

		--初期日付セット
		SET	@wNENGETUCNT = @iS集計日付
		SET	@wCNT = 1

		SET @FIELD = ''
		
		WHILE	@iE集計日付 >= @wNENGETUCNT	BEGIN
			IF	@wCNT <> 1 BEGIN
				--
				SET @FIELD = @FIELD + ','
			END


			--物件別明細分
			SET	@FIELD = @FIELD + '原価金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),'
			SET	@FIELD = @FIELD + '売上金額' + CAST(@wCNT AS VARCHAR) + ' = SUM(CASE WHEN TMP.年月 = ' + ISNULL(CAST(CONVERT(CHAR(6),@wNENGETUCNT,112) AS VARCHAR),'NULL') + ' THEN TMP.売上金額 ELSE 0 END)'

			SET	@wNENGETUCNT = DATEADD(M,1,@WNENGETUCNT)
			SET @wCNT = @wCNT + 1
		END

	--SELECT	
	--		TMP.物件種別区分,
	--		TK.得意先名1, TK.得意先名2,
	--		COUNT(TMP.物件種別区分) OVER(PARTITION BY TMP.物件種別区分) AS 'Count',
	--		TMP.*
	--	FROM (
	--		SELECT 
	--			TMP.物件種別区分,
	--			TMP.得意先CD,
	--			原価金額1 = SUM(CASE WHEN TMP.年月 = 201201 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額1 = SUM(CASE WHEN TMP.年月 = 201201 THEN TMP.売上金額 ELSE 0 END),
	--			原価金額2 = SUM(CASE WHEN TMP.年月 = 201202 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額2 = SUM(CASE WHEN TMP.年月 = 201202 THEN TMP.売上金額 ELSE 0 END),
	--			原価金額3 = SUM(CASE WHEN TMP.年月 = 201203 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額3 = SUM(CASE WHEN TMP.年月 = 201203 THEN TMP.売上金額 ELSE 0 END),
	--			原価金額4 = SUM(CASE WHEN TMP.年月 = 201204 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額4 = SUM(CASE WHEN TMP.年月 = 201204 THEN TMP.売上金額 ELSE 0 END),
	--			原価金額5 = SUM(CASE WHEN TMP.年月 = 201205 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額5 = SUM(CASE WHEN TMP.年月 = 201205 THEN TMP.売上金額 ELSE 0 END),
	--			原価金額6 = SUM(CASE WHEN TMP.年月 = 201206 THEN TMP.原価金額 ELSE 0 END),
	--			売上金額6 = SUM(CASE WHEN TMP.年月 = 201206 THEN TMP.売上金額 ELSE 0 END)
	--		FROM #TMP AS TMP
	--		GROUP BY	TMP.物件種別区分, TMP.得意先CD
	--		) AS TMP
	--			INNER JOIN TM得意先 AS TK
	--				ON TMP.得意先CD = TK.得意先CD
	--	ORDER BY	TMP.物件種別区分, TMP.得意先CD

	SET	@SQL = '
		SELECT	
				TK.得意先名1, TK.得意先名2,
				COUNT(TMP.物件種別区分) OVER(PARTITION BY TMP.物件種別区分) AS ''Count'',
				TMP.*
			FROM (
					SELECT	TMP.物件種別区分,
							TMP.得意先CD,
							' + @FIELD + '
						FROM #TMP AS TMP
						GROUP BY TMP.物件種別区分, TMP.得意先CD
					) AS TMP
				INNER JOIN TM得意先 AS TK
					ON TMP.得意先CD = TK.得意先CD
			ORDER BY	TMP.物件種別区分, TMP.得意先CD
		'
	--SELECT @SQL
	EXEC (@SQL)
	
	--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	drop table #TMP
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
