/****** Object:  StoredProcedure [dbo].[usp_担当者別社内在庫抽出q]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_担当者別社内在庫抽出q]
GO
/****** Object:  StoredProcedure [dbo].[usp_担当者別社内在庫抽出q]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_担当者別社内在庫抽出q

機能	指定された条件で担当者別社内在庫データを取得する

使用箇所
	社内在庫マスタクラス
	usp_MT0100員数UploadCheck

引数
	@i指定日付
	@i担当者CD
	@i製品NO
	@i仕様NO
	@i見積番号
戻り値	

*****************************************************
	2009/09/26	oosawa		新規
	2009/09/26	oosawa		受注区分を見積区分に変更
						自分自身を含めないように変更
	2009/10/01	oosawa		得意先'9999'は受注・売上にのせない。
	2009/10/02	oosawa		数字にNULLが入っているのでISNULLを付ける。
	2009/10/08	oosawa		0件のデータを返すは駄目
						usp_MT0100員数UploadCheckで０件データとなってしまう。
	2009/12/24	oosawa		SUM(ISNULL)にしないとエラーになる。
	2010/01/07	oosawa		製品NO・仕様NOのWHERE句追加（NULLでは入ってこないことが前提）
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_担当者別社内在庫抽出q]
	@i指定日付		DATETIME,
	@i担当者CD		SMALLINT,
	@i製品NO		CHAR(7),
	@i仕様NO		CHAR(7),
	@i見積番号		INT,			--2009/09/26 ADD

	@Ret適正在庫数	MONEY		OUTPUT,
	@Ret合計在庫数	MONEY		OUTPUT,
	@Ret未管理FLG	SMALLINT		OUTPUT,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

	--2009/12/24 ADD↓
	SET	@Ret適正在庫数 = 0
	SET	@Ret合計在庫数 = 0
	SET	@Ret未管理FLG = 0	--管理する
	--2009/12/24 ADD↑

	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME


	SET @Ret未管理FLG = 0
	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別社内在庫
		WHERE 	
			担当者CD = @i担当者CD
		AND	製品NO = @i製品NO		--2010/01/07 ADD
		AND	仕様NO = @i仕様NO		--2010/01/07 ADD
		GROUP BY 	
			担当者CD
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--------------
	--指定日＜棚卸日はデータなし
	--------------
	IF @wk棚卸日付 IS NULL BEGIN
		--0件のデータを返す
		--0件のデータを返すは駄目！！！ usp_MT0100員数UploadCheckで０件データとなってしまう。
		--SELECT	0 WHERE 0<>0
		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END

	IF @i指定日付 < @wk棚卸日付 BEGIN
		--0件のデータを返す
		--SELECT	0 WHERE 0<>0
		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END
	--------------
	--未管理の場合
	--------------
	IF NOT EXISTS(SELECT 	担当者CD, 製品NO, 仕様NO, 適正在庫数, 予備在庫数 
					FROM 	
						TM社内在庫_担当者別
					WHERE 	担当者CD = @i担当者CD
						AND	製品NO + 仕様NO = COALESCE(@i製品NO,製品NO)+COALESCE(@i仕様NO,仕様NO)
			) BEGIN

		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END
	

	--------------
	--データ抽出（すべて）
	--------------

	--SELECT	@Ret合計在庫数 = (ISNULL(TANA.棚卸数,0) - ISNULL(TZM.予備在庫数,0) 
	--							+ ISNULL(SIR.仕入数,0) - ISNULL(URI.売上数,0) 
	--							+ ISNULL(UKE.移動受け数,0) - ISNULL(WAT.移動渡し数,0))
	--						+ ISNULL(HC.発注数,0) 
	--						- ISNULL(JU.受注数,0),
	SELECT	@Ret合計在庫数 = (ISNULL(TANA.棚卸数,0) - ISNULL(TZM.予備在庫数,0) 
								+ ISNULL(SIR.仕入数,0) - ISNULL(URI.売上数,0) 
								+ ISNULL(UKE.移動受け数,0) - ISNULL(WAT.移動渡し数,0))
							+ ISNULL(HC.発注数,0) 
							- ISNULL(JU.受注数,0),
			@Ret適正在庫数 = (ISNULL(TZM.適正在庫数,0))

-- 	SELECT 	TZM.担当者CD, TZM.製品NO, TZM.仕様NO, 
-- 			適正在庫数 = (ISNULL(TZM.適正在庫数,0)),
-- 			予備在庫数 = (ISNULL(TZM.予備在庫数,0)),
-- 			棚卸数 = (ISNULL(TANA.棚卸数,0)),
-- 			仕入数 = (ISNULL(SIR.仕入数,0)),
-- 			売上数 = (ISNULL(URI.売上数,0)), 
-- 			移動受け数 = (ISNULL(UKE.移動受け数,0)),
-- 			移動渡し数 = (ISNULL(WAT.移動渡し数,0)),
-- 			発注数 = (ISNULL(HC.発注数,0)),
-- 			受注数 = (ISNULL(JU.受注数,0)),
-- -- 			在庫残数 = ISNULL(TANA.棚卸数,0) - ISNULL(TZM.予備在庫数,0) 
-- -- 					+ ISNULL(SIR.仕入数,0) - ISNULL(URI.売上数,0) 
-- -- 					+ ISNULL(UKE.移動受け数,0) - ISNULL(WAT.移動渡し数,0),
-- 			合計在庫数 = (ISNULL(TANA.棚卸数,0) - ISNULL(TZM.予備在庫数,0) 
-- 						+ ISNULL(SIR.仕入数,0) - ISNULL(URI.売上数,0) 
-- 						+ ISNULL(UKE.移動受け数,0) - ISNULL(WAT.移動渡し数,0))
-- 					+ ISNULL(HC.発注数,0) 
-- 					- ISNULL(JU.受注数,0)
		FROM
			(
			--------------
			--担当者ごと予備在庫数
			--------------
			SELECT 	担当者CD, 製品NO, 仕様NO, 適正在庫数, 予備在庫数 
				FROM 	
					TM社内在庫_担当者別 (NOLOCK)
				WHERE 	
						担当者CD = @i担当者CD
					AND	製品NO = @i製品NO		--2010/01/07 ADD
					AND	仕様NO = @i仕様NO		--2010/01/07 ADD
			) AS TZM

		LEFT JOIN 
			(
			--------------
			--棚卸数
			--------------
			SELECT 	担当者CD, 製品NO, 仕様NO, 棚卸数
				FROM 	
					TD棚卸_担当者別社内在庫 (NOLOCK)
				WHERE 	
						担当者CD = @i担当者CD
					AND 	棚卸日付 = @wk棚卸日付
					AND	製品NO = @i製品NO		--2010/01/07 ADD
					AND	仕様NO = @i仕様NO		--2010/01/07 ADD
		
			) AS TANA
			ON 	TZM.担当者CD = TANA.担当者CD AND TZM.製品NO = TANA.製品NO AND TZM.仕様NO = TANA.仕様NO

		LEFT JOIN
			(
			----------------
			-- 仕入数
			----------------
			SELECT 	SR.担当者CD, SRU.製品NO, SRU.仕様NO, 
					SUM(ISNULL(SRU.仕入数量,0)) AS 仕入数 
				FROM 
					TD仕入明細内訳 AS SRU (NOLOCK)
				INNER JOIN 	
					TD仕入 AS SR (NOLOCK)
					ON 	SR.仕入番号 = SRU.仕入番号 
				INNER JOIN 	
					TD仕入明細 AS SRM (NOLOCK)
					ON 	SRU.仕入番号 = SRM.仕入番号 
					AND 	SRU.仕入先CD = SRM.仕入先CD
					AND 	SRU.配送先CD = SRM.配送先CD
					AND 	SRU.仕分番号 = SRM.仕分番号
				WHERE 	
						SRM.仕入日付 >= @wk棚卸日付
					AND 	SRM.仕入日付 <= @i指定日付
					AND 	SR.担当者CD = @i担当者CD
					AND	SRU.製品NO = @i製品NO		--2010/01/07 ADD
					AND	SRU.仕様NO = @i仕様NO		--2010/01/07 ADD
					AND 	SR.見積番号 <> @i見積番号		--2009/09/26 ADD
				GROUP BY 	
						SR.担当者CD, SRU.製品NO, SRU.仕様NO
			) AS SIR
			ON 	TZM.担当者CD = SIR.担当者CD AND TZM.製品NO = SIR.製品NO AND TZM.仕様NO = SIR.仕様NO

		LEFT JOIN
			(
			----------------
			-- 売上数
			----------------
			SELECT 	UR.担当者CD, URU.製品NO, URU.仕様NO, 
					SUM(ISNULL(URU.売上数量,0)) AS 売上数 		--2009/10/02 ADD
				FROM 		
					TD売上 AS UR (NOLOCK)
				LEFT 	JOIN 	
					TD売上明細内訳 AS URU (NOLOCK)
					ON 	UR.売上番号 = URU.売上番号
				WHERE 	
						UR.売上日付 >= @wk棚卸日付
					AND 	UR.売上日付 <= @i指定日付
					AND 	UR.担当者CD = @i担当者CD
					AND	URU.製品NO = @i製品NO		--2010/01/07 ADD
					AND	URU.仕様NO = @i仕様NO		--2010/01/07 ADD
					AND 	UR.見積番号 <> @i見積番号		--2009/09/26 ADD
					AND	UR.得意先CD <> '9999'		--2009/10/01 ADD
				GROUP BY 	
						UR.担当者CD, URU.製品NO, URU.仕様NO
			) AS URI
			ON 	TZM.担当者CD = URI.担当者CD AND TZM.製品NO = URI.製品NO AND TZM.仕様NO = URI.仕様NO
			
		LEFT JOIN
			(
			----------------
			-- 移動受け数（プラス）
			----------------
			SELECT 	SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO,
					SUM(ISNULL(SZM.数量,0)) AS 移動受け数
				FROM 
					TD社内在庫移動 AS SZH (NOLOCK)
				INNER JOIN
					TD社内在庫移動明細 AS SZM (NOLOCK)
					ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
				WHERE 
						SZH.社内在庫移動日付 >= @wk棚卸日付
					AND 	SZH.社内在庫移動日付 <= @i指定日付
					AND 	SZH.社内在庫移動先担当者CD = @i担当者CD
					AND	SZM.製品NO = @i製品NO		--2010/01/07 ADD
					AND	SZM.仕様NO = @i仕様NO		--2010/01/07 ADD
				GROUP BY
						SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO
			) AS UKE
			ON 	TZM.担当者CD = UKE.社内在庫移動先担当者CD AND TZM.製品NO = UKE.製品NO AND TZM.仕様NO = UKE.仕様NO

		LEFT JOIN
			(					
			----------------
			-- 移動渡し数（マイナス）
			----------------
			SELECT 	SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO,
					SUM(ISNULL(SZM.数量,0)) AS 移動渡し数
				FROM 	
					TD社内在庫移動 AS SZH (NOLOCK)
				INNER JOIN
					TD社内在庫移動明細 AS SZM (NOLOCK)
					ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
				WHERE 
						SZH.社内在庫移動日付 >= @wk棚卸日付
					AND 	SZH.社内在庫移動日付 <= @i指定日付
					AND 	SZH.社内在庫移動元担当者CD = @i担当者CD
					AND	SZM.製品NO = @i製品NO		--2010/01/07 ADD
					AND	SZM.仕様NO = @i仕様NO		--2010/01/07 ADD
				GROUP BY
						SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO
			) AS WAT
			ON 	TZM.担当者CD = WAT.社内在庫移動元担当者CD AND TZM.製品NO = WAT.製品NO AND TZM.仕様NO = WAT.仕様NO

		LEFT JOIN
			(
			----------------
			-- 発注数
			----------------
			SELECT	HH.担当者CD, HM.製品NO, HM.仕様NO,
					SUM(ISNULL(HM.発注数量,0)) AS 発注数 
				FROM 		
					TD見積 AS MT (NOLOCK)
				INNER JOIN  	
					TD発注 AS HH (NOLOCK)
					ON 	MT.見積番号 = HH.見積番号
				INNER JOIN 	
					TD発注明細 AS HM (NOLOCK)
					ON 	HH.発注番号 = HM.発注番号 
					AND 	HH.仕入先CD = HM.仕入先CD
					AND 	HH.配送先CD = HM.配送先CD
					AND 	HH.仕分番号 = HM.仕分番号
				WHERE 	
-- 						MT.受注区分	= 1
						MT.見積区分	= 1			--2009/09/26 ADD
					AND	MT.仕入日付	IS NULL
					AND 	HH.納期 >= @wk棚卸日付
					AND 	HH.納期 <= @i指定日付
					AND 	HH.担当者CD = @i担当者CD
					AND	HM.製品NO = @i製品NO		--2010/01/07 ADD
					AND	HM.仕様NO = @i仕様NO		--2010/01/07 ADD
					AND 	HH.見積番号 <> @i見積番号		--2009/09/26 ADD
			 	GROUP BY 	
						HH.担当者CD, HM.製品NO, HM.仕様NO
			) AS HC
			ON 	TZM.担当者CD = HC.担当者CD AND TZM.製品NO = HC.製品NO AND TZM.仕様NO = HC.仕様NO

		LEFT JOIN
			(
			----------------
			-- 受注数
			----------------
			SELECT 	MT.担当者CD, MSM.製品NO, MSM.仕様NO,
					SUM(ISNULL(MSM.見積数量,0)) AS 受注数
				FROM 		
					TD見積 AS MT (NOLOCK)
				LEFT 	JOIN 	
					TD見積シートM AS MSM (NOLOCK)
					ON 	MT.見積番号 = MSM.見積番号
				WHERE 	
-- 						MT.受注区分	= 1
						MT.見積区分	= 1			--2009/09/26 ADD
					AND	MT.売上日付	IS NULL
					AND 	MT.売上納期	>= @wk棚卸日付
					AND 	MT.売上納期 <= @i指定日付
			    		AND 	MT.担当者CD = @i担当者CD
					AND	MSM.製品NO = @i製品NO		--2010/01/07 ADD
					AND	MSM.仕様NO = @i仕様NO		--2010/01/07 ADD
					AND 	MT.見積番号 <> @i見積番号		--2009/09/26 ADD
					AND	MT.得意先CD <> '9999'		--2009/10/01 ADD
				GROUP BY 	
						MT.担当者CD, MSM.製品NO, MSM.仕様NO
			) AS JU
			ON 	TZM.担当者CD = JU.担当者CD AND TZM.製品NO = JU.製品NO AND TZM.仕様NO = JU.仕様NO

		WHERE 	TZM.担当者CD = @i担当者CD
			AND	TZM.製品NO + TZM.仕様NO = COALESCE(@i製品NO,TZM.製品NO)+COALESCE(@i仕様NO,TZM.仕様NO)
		ORDER BY
				TZM.製品NO, TZM.仕様NO


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END

	RETURN @ST


GO
