/****** Object:  StoredProcedure [dbo].[usp_CHG製品FROM品群]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_CHG製品FROM品群]
GO
/****** Object:  StoredProcedure [dbo].[usp_CHG製品FROM品群]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/* =============================================
	 sp_CHG製品FROM品群

	機能:	品群コードを製品コードに変換する

	 RETURN VALUES
		0 = success
		以外　error

追記
	@W,@D,@H,@D1,@D2はINTなのだが前行のコピーとして＠を入力させる
	変換はどこでやればいい？

 =============================================
	2003/05/16	oosawa

	2003/07/30	oosawa		指定されていないサイズを指定された場合のエラーを追加
	2003/08/04	oosawa		製品区分を返すように変更
 =============================================*/
CREATE        PROCEDURE [dbo].[usp_CHG製品FROM品群]
	(
		@品群NO	CHAR(7),
		@W		INT,
		@D		INT,
		@H		INT,
		@D1		INT,
		@D2		INT,
		@H1		INT,
		@H2		INT,
		@SP区分	VARCHAR(1)		OUTPUT,
		@製品NO	CHAR(7)		OUTPUT,
		@仕様NO	CHAR(7)		OUTPUT,
		@製品区分	SMALLINT		OUTPUT,
		@エラー内容	VARCHAR(255)	OUTPUT
	)
	AS
	SET NOCOUNT ON

	DECLARE	@ST		INT,
			@MSG		VARCHAR(255)
	--製品情報
	DECLARE	@w製品NO		CHAR(7),
			@w仕様NO		CHAR(7),
			@wW			INT,
			@wD			INT,
			@wH			INT,
			@wD1			INT,
			@wD2			INT,
			@wH1			INT,
			@wH2			INT,
--			@wSP区分		VARCHAR(1),
--			@wエラー内容		VARCHAR(256),
			@w製品RowCnt	INT
	--品群情報
	DECLARE	@WFLG		INT,
			@DFLG		INT,
			@HFLG		INT,
			@D1FLG		INT,
			@D2FLG		INT,
			@H1FLG		INT,
			@H2FLG		INT

	--捨て情報
	DECLARE	@D製品NO		CHAR(7)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@SP区分 = ''
	SET	@エラー内容 = ''

	--------------------------------------------------
	--入力項目のチェック
	--------------------------------------------------
	IF ISNULL(@品群NO,'') =  ''	BEGIN
		--SET @ST = -1
		SET @エラー内容 ='品群NO未入力'
		GOTO EXIT_SP
	END
/*	IF ISNULL(@仕様NO,'') =  ''	BEGIN
		SET @ST = -1
		SET @エラー内容 ='仕様NO未入力'
		GOTO EXIT_SP
	END
*/
	--------------------------------------------------
	--品群マスタの存在チェック
	--------------------------------------------------
	IF NOT EXISTS(SELECT 品群NO FROM TM品群 WHERE 品群NO = @品群NO) BEGIN
		--存在しない場合、書き込みます。
		--SET @ST = -1
		SET @エラー内容 = '品群マスタ未登録'
		GOTO EXIT_SP
	END
	SELECT	@WFLG = W,
			@DFLG = D,
			@HFLG = H,
			@D1FLG = D1,
			@D2FLG = D2,
			@H1FLG = H1,
			@H2FLG = H2
			FROM TM品群
			WHERE 品群NO = @品群NO

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('品群№:%s. 品群情報でエラーが発生しました。 ', 16, 1,@品群NO)
		GOTO	EXIT_SP
	END

	--------------------------------------------------
	--品群コードより製品マスタを検索し、変換します。
	--------------------------------------------------
	--製品コードの変換
	SELECT TOP 1 @D製品NO = 製品NO
			FROM TM製品
			WHERE	グループ = @品群NO

	SET @w製品RowCnt = @@ROWCOUNT
	SET @ST = @@ERROR

	IF ( @ST <> 0 )	BEGIN
		RAISERROR('品群№:%s. 製品マスタでエラーが発生しました。 ', 16, 1,@品群NO)
		GOTO	EXIT_SP
	END
	--仕様に合わない場合
	IF @w製品RowCnt = 0	BEGIN
		--SET @ST = -2
		SET @エラー内容 = '製品変換エラー(グループ)'
		GOTO EXIT_SP
	END
	/* 製品NOセット */
	--SET @製品NO = @w製品NO
	--------------------------------------------------
	--仕様
	--------------------------------------------------
	SELECT TOP 1 @w仕様NO = 仕様NO
			FROM TM製品
			WHERE	グループ = @品群NO
			AND	仕様NO = @仕様NO

	SET @w製品RowCnt = @@ROWCOUNT
	SET @ST = @@ERROR

	IF ( @ST <> 0 )	BEGIN
		RAISERROR('品群№:%s. 製品マスタでエラーが発生しました。 ', 16, 1,@品群NO)
		GOTO	EXIT_SP
	END
	--仕様に合わない場合
	IF @w製品RowCnt = 0	BEGIN
		--SET @ST = -2
		SET @SP区分 = '*'
		SET @エラー内容 = '仕様NO変換エラー'
		GOTO EXIT_SP
	END
	/* 仕様NOセット */
	--SET @仕様NO = @w仕様NO
	--------------------------------------------------
	--サイズ指定チェック
	--------------------------------------------------
	IF @WFLG = 0	BEGIN
		IF @W <> 0	BEGIN
			--SET @SP区分 = '*'
			SET @エラー内容 = 'サイズ指定エラーW'
			GOTO EXIT_SP
		END
	END
	IF @DFLG = 0	BEGIN
		IF @D <> 0	BEGIN
			--SET @SP区分 = '*'
			SET @エラー内容 = 'サイズ指定エラーD'
			GOTO EXIT_SP
		END
	END
	IF @HFLG = 0	BEGIN
		IF @H <> 0	BEGIN
			--SET @SP区分 = '*'
			SET @エラー内容 = 'サイズ指定エラーH'
			GOTO EXIT_SP
		END
	END
	IF @D1FLG = 0	BEGIN
		IF @D1 <> 0	BEGIN
			--SET @SP区分 = '*'
			SET @エラー内容 = 'サイズ指定エラーD1'
			GOTO EXIT_SP
		END
	END
	IF @D2FLG = 0	BEGIN
		IF @D2 <> 0	BEGIN
			--SET @SP区分 = '*'
			SET @エラー内容 = 'サイズ指定エラーD2'
			GOTO EXIT_SP
		END
	END
	IF @H1FLG = 0	BEGIN
		IF @H1 <> 0	BEGIN
			--SET @SP区分 = '*'
			SET @エラー内容 = 'サイズ指定エラーH1'
			GOTO EXIT_SP
		END
	END
	IF @H2FLG = 0	BEGIN
		IF @H2 <> 0	BEGIN
			--SET @SP区分 = '*'
			SET @エラー内容 = 'サイズ指定エラーH2'
			GOTO EXIT_SP
		END
	END
	--------------------------------------------------
	--サイズ
	--------------------------------------------------
	SELECT TOP 1 @w製品NO = 製品NO,
			@wW = W,
			@wD = D,
			@wH = H,
			@wD1 = D1,
			@wD2 = D2,
			@wH1 = H1,
			@wH2 = H2
			FROM TM製品
			WHERE	グループ = @品群NO
			AND	仕様NO = @仕様NO
			AND	W = (CASE WHEN @WFLG = 1 THEN @W ELSE 0 END)
			AND	D = (CASE WHEN @DFLG = 1 THEN @D ELSE 0 END)
			AND	H = (CASE WHEN @HFLG = 1 THEN @H ELSE 0 END)
			AND	D1 = (CASE WHEN @D1FLG = 1 THEN @D1 ELSE 0 END)
			AND	D2 = (CASE WHEN @D2FLG = 1 THEN @D2 ELSE 0 END)
			AND	H1 = (CASE WHEN @H1FLG = 1 THEN @H1 ELSE 0 END)
			AND	H2 = (CASE WHEN @H2FLG = 1 THEN @H2 ELSE 0 END)

	SET @w製品RowCnt = @@ROWCOUNT
	SET @ST = @@ERROR

	IF ( @ST <> 0 )	BEGIN
		RAISERROR('品群№:%s. 製品マスタでエラーが発生しました。 ', 16, 1,@品群NO)
		GOTO	EXIT_SP
	END
	--仕様に合わない場合
	IF @w製品RowCnt = 0	BEGIN
		--SET @ST = -2
		--SET @SP区分 = '*'
		SET @エラー内容 = 'サイズ変換エラー'
		GOTO EXIT_SP
	END
	
	SET	@製品NO	= @w製品NO
	SET	@製品区分	= 0
/*	SET	@仕様NO	= @w仕様NO
	SET	@W		= @wW
	SET	@D		= @wD
	SET	@H		= @wH
	SET	@D1		= @wD1
	SET	@D2		= @wD2
*/
EXIT_SP:
	RETURN @ST
GO
