/****** Object:  StoredProcedure [dbo].[usp_ND0600入金消込抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ND0600入金消込抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_ND0600入金消込抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

名称	usp_ND0600入金消込抽出

機能	指定された売上情報を抽出する

		※登録・修正・削除、いづれかの時も
		同条件で抽出する
		vb側で登録・修正・削除を制御するようにする
		※自分(入金番号)に絡んでいるデータと
		未入金がゼロでないデータを抽出する。

引数	

戻り値

修正履歴
	2012/08/07	oosawa		新規作成
	2012/08/16	oosawa		TAXが売上金額に入っていないので入金に対して
							マイナスになってしまう。
							なので、マイナスの売上明細を出さないように変更
	2012/08/23	oosawa		消込額を入力するように変更したので
							対象入金済金額を項目に追加
	2012/11/02	oosawa		返品売上（マイナス）がでないので対応
	
	2014/10/27	oosawa		新売上バージョン
*****************************************************/
CREATE   PROCEDURE [dbo].[usp_ND0600入金消込抽出]
	(
		@i得意先CD			VARCHAR(4) = NULL,
		@iDateFrom			DATETIME,
		@iDateTo			DATETIME,
		@i入金番号			INT,

		--OUTPUT
		@RetST				INT			OUTPUT,
		@RetMsg				VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT	ON

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''

	--DECLARE	@DateFrom	DATETIME,
	--		@DateTo	DATETIME

	--SET	@DateFrom	= 	@iDateFrom
	--SET	@DateTo	= 	@iDateTo
	---- 日付範囲が指定されている場合はその範囲を収集します
	--IF ( @DateFrom IS NULL )
	--	SET	@DateFrom	= '1900/1/1'

	--IF ( @DateTo IS NULL ) BEGIN
	--	SET	@DateTo	= '9999/12/31'
	--END ELSE BEGIN
	--	--抽出対象日付に時刻が含まれている事をふまえて、終了日には翌日をセットする
	--	SET	@DateTo	=  DATEADD(DAY, 1, @DateTo)
	--END

----------------------------------
-- 	抽出データ
----------------------------------
	SELECT	USH.見積番号, USH.請求日付, MH.得意先CD, MH.得意先名1, MH.得意先名2, 
			ISNULL(NY.明細入金合計, 0) AS 入金済金額, 
			(USH.合計金額 + USH.外税額) - ISNULL(NY.明細入金合計, 0) AS 未入金額,
			税込金額 = (USH.合計金額 + USH.外税額),
			
			CASE WHEN ISNULL(NY.明細入金合計, 0) <> 0 
					THEN CASE WHEN ISNULL(NY.明細入金合計, 0) >= (USH.合計金額 + USH.外税額)
									THEN '全額入金' 
									ELSE '一部入金' 
					END 
			END AS 入金状況,
			NYZ.売上番号 as 済売上番号,
			選択 = CASE WHEN NYZ.売上番号 IS NULL THEN 0 ELSE 1 END,
			対象入金済金額 = NYZ.入金金額
		FROM	TD売上請求H AS USH 
			INNER JOIN TD見積 AS MH
				ON USH.見積番号 = MH.見積番号
			LEFT JOIN
						(SELECT	売上番号, SUM(入金金額) AS 明細入金合計
								FROM	TD入金消込
								GROUP BY	売上番号
						) AS NY
						ON USH.見積番号 = NY.売上番号
			LEFT JOIN
						(SELECT	売上番号, 入金番号, 入金金額
								FROM	TD入金消込
								WHERE	入金番号 = @i入金番号
						) AS NYZ
						ON USH.見積番号 = NYZ.売上番号
		 WHERE	
				((MH.得意先CD = @i得意先CD) 
					AND	(USH.請求日付 >= @iDateFrom)
					AND (USH.請求日付 <= @iDateTo)
					AND (NYZ.売上番号 IS NULL)--2012/11/02 ADD
				)
			OR
				--入金番号で繋がるデータは出力する(日付範囲は無視！)
				((MH.得意先CD = @i得意先CD)
					--AND (UH.請求日付 >= @iDateFrom)
					--AND (UH.請求日付 <= @iDateTo)
					AND (NOT (NYZ.売上番号 IS NULL))
				)
 
		ORDER BY 	MH.得意先CD, USH.請求日付, USH.見積番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST
GO
