/****** Object:  StoredProcedure [dbo].[usp_KD0801経費按分データ作成V2]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_KD0801経費按分データ作成V2]
GO
/****** Object:  StoredProcedure [dbo].[usp_KD0801経費按分データ作成V2]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_KD0801経費按分データ作成V2

機能	TM従業員からチーム毎の人数での按分
		売上からチーム毎の売上金額での按分
		
		経費をチーム別に人数・売上金額で按分し算出する。
		科目別追加

引数	

戻り値	


※ひと月ごとに計算しないとおかしくなる。

修正履歴

	2016/06/30	oosawa		施工での集計がなくなったのでカット
	2016/10/20	oosawa		科目（補助科目）別の按分を追加
	2017/03/09	oosawa		買掛月次更新日以前は計算しないようにする
	2018/02/06	oosawa		買掛月次更新の部分を上位へ移動
	2018/06/22	oosawa		売上比率でオーバーフロー
	2019/02/23	oosawa		チーム毎から統計集計先毎に集計を変更
							チームCDは得意先マスタより取得
							ない場合NULLでエラー
*****************************************************/
CREATE PROCEDURE [dbo].[usp_KD0801経費按分データ作成V2]
	(
		@iS集計日付		DATETIME,
		@iE集計日付		DATETIME
	)
 AS

	SET NOCOUNT ON

	DECLARE	@ST			INT,
			@MSG			VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--全体（間接除く）の従業員数
--SELECT 従業員数 = COUNT(DISTINCT 従業員CD) 
--	FROM TM従業員
--	WHERE チームCD <> 999
----No2	
--DECLARE	@全体比率	MONEY
--SELECT	
--		@全体比率 = SUM(比率)
--	FROM TM従業員
--	WHERE チームCD <> 999
--SELECT 全体比率 = @全体比率

----チーム毎の比率
--SELECT	チームCD,
--		チーム比率 = SUM(比率)
--	FROM TM従業員
--	WHERE チームCD <> 999
--	GROUP BY チームCD

	
--SET	@iS集計日付	= '2016/08/01'		
--SET	@iE集計日付	= '2016/08/31';

	--2017/03/09 ADD↓
	----------------------------------------
	--	案分情報(従業員・科目案分)が複数情報を持てないため
	--	計算処理をしないようにする。
	----------------------------------------
	--DECLARE	@w買掛月次更新日 DATETIME
	
	--SELECT @w買掛月次更新日 =  更新日付
	--		FROM TMDates
	--		WHERE DateID = '買掛月次更新日'
	
	--SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	--IF	@iE集計日付 < @w買掛月次更新日 BEGIN
	--	--終了集計日付が売掛月次更新日より小さい場合、計算しない。
	--	--前月は計算対象とする
	--	GOTO	EXIT_SP
	--END
	--2017/03/09 ADD↑


	---------------------------
	--按分経費データ削除
	---------------------------
	DELETE	FROM TD経費按分集計V2
		WHERE 集計日付 = @iS集計日付
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--金額集計用ワークテーブル作成
	---------------------------
	CREATE TABLE #TMP 
		(
			[科目CD] [smallint] NOT NULL,
			[補助CD] [smallint] DEFAULT '',
			--[チームCD] [int] NOT NULL,
			[按分区分] [int] DEFAULT 0,
			[金額] [money] NOT NULL,

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--保存用按分テーブル
	---------------------------
	CREATE TABLE #TMP経費按分集計
		(
			[集計日付] [datetime] NOT NULL,
			[科目CD] [smallint] NOT NULL,
			[チームCD] [int] NOT NULL,
			[統計集計先CD] [varchar](4) NOT NULL,--2019/02/23 ADD
			[按分金額] [money] NOT NULL,
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------------------------------------
	-- 補助科目分金額集計
	---------------------------------------------------------
	INSERT INTO #TMP
			   ([科目CD]
			   ,[補助CD]
			   ,[按分区分]
			   ,[金額])
		--補助科目分の抽出
		SELECT	--KK.集計CD,KK.順序,
				KK.科目CD,
				補助CD = ISNULL(HK.補助CD,0),
				--KK.科目名,
				HK.按分区分,
				金額 = ISNULL(KH.金額,0)
			FROM TM補助科目 AS HK
				INNER JOIN TM科目 AS KK
					ON HK.科目CD = KK.科目CD
				INNER JOIN (
							SELECT	KM.科目CD,KM.補助CD, KM.科目名, SUM(KM.金額) AS 金額
								FROM	TD経費 AS KH
									INNER JOIN TD経費明細 AS KM
										ON KH.経費番号 = KM.経費番号
								WHERE	KH.経費日付 >= @iS集計日付
									AND	KH.経費日付 <= @iE集計日付
								GROUP BY	KM.科目CD,KM.補助CD, KM.科目名
						) AS KH
							ON HK.科目CD = KH.科目CD
							AND HK.補助CD = KH.補助CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--SELECT * FROM #TMP

	---------------------------------------------------------
	-- 科目分金額集計
	--		補助CDはZEROにする
	---------------------------------------------------------
	INSERT INTO #TMP
			   ([科目CD]
			   ,[補助CD]
			   ,[按分区分]
			   ,[金額])
		--科目分の抽出
		SELECT	--KK.集計CD,KK.順序,
				KK.科目CD,
				補助CD = 0,--ISNULL(KH.補助CD,0),
				--KK.科目名,
				KK.按分区分,
				金額 = ISNULL(KH.金額,0)
			FROM TM科目 AS KK
				LEFT JOIN (
							SELECT	KM.科目CD,KM.補助CD, 
									KM.科目名, SUM(KM.金額) AS 金額
								FROM	TD経費 AS KH
									INNER JOIN TD経費明細 AS KM
										ON KH.経費番号 = KM.経費番号
									LEFT JOIN #TMP AS TMP
										ON KM.科目CD = TMP.科目CD
										AND KM.補助CD = TMP.補助CD
								WHERE	KH.経費日付 >= @iS集計日付
									AND	KH.経費日付 <= @iE集計日付
									AND TMP.科目CD IS NULL--TMPに入っていないもの
								GROUP BY	KM.科目CD,KM.補助CD, KM.科目名
							) AS KH
								ON KK.科目CD = KH.科目CD
								
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--select * from #TMP

	---------------------------
	--按分経費データ作成（人数按分分）
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
				SELECT	集計日付 = @iS集計日付,
						A.科目CD,
						--A.金額,
						--A.案分金額,
						チームCD = 0,
						A.統計集計先CD,
						--SUM(A.案分金額) OVER (PARTITION BY 科目CD)-A.金額,
						--端数処理での差額調整
						--案分金額2,
						按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END)
				FROM (
					SELECT	SEQ,統計集計先CD,
							KK.科目CD,
							金額 = ISNULL(KK.金額,0),
							--案分金額2 = ROUND(ISNULL(KH.金額,0) * B.チーム比率 / @全体比率,0),
							--按分金額 = ROUND(ISNULL(KK.金額,0) * B.チーム比率 / SUM(B.チーム比率) OVER (PARTITION BY KK.科目CD),0)
							按分金額 = ROUND(ISNULL(KK.金額,0) * (B.統計集計先CD比率 / SUM(B.統計集計先CD比率) OVER (PARTITION BY KK.科目CD)),0)--2018/06/22 ADD
						FROM (SELECT 科目CD,金額 = SUM(金額) 
								FROM #TMP WHERE 按分区分 = 0
								GROUP BY 科目CD
							) AS KK--人数按分
							CROSS JOIN	(
											--統計集計先CD毎の比率
											SELECT	ROW_NUMBER() OVER (ORDER BY SUM(比率) DESC) SEQ,
													統計集計先CD,
													統計集計先CD比率 = SUM(比率)
												FROM TM従業員V2
												WHERE 統計集計先CD <> 999
												GROUP BY 統計集計先CD
										) AS B
							--ORDER BY	KK.集計CD,KK.順序,KK.科目CD, KK.科目名

					) AS A
						--LEFT JOIN TMチーム AS CM
						--	ON A.チームCD = CM.チームCD
				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.統計集計先CD = B.統計集計先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.統計集計先CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
			
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('人数按分情報でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END

	---------------------------
	--按分経費データ作成（売上比率按分分）
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
				SELECT	集計日付 = @iS集計日付,
						A.科目CD,
						--A.金額,
						A.チームCD,
						A.集計CD,
						--端数処理での差額調整
						按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD)-A.金額 ELSE 0 END)
				FROM (
					SELECT	SEQ,チームCD,
							集計CD,
							KK.科目CD,
							金額 = ISNULL(KK.金額,0),
							--按分金額 = ROUND(ISNULL(KK.金額,0) * TEAM_KIN.チーム税抜金額 / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD),0)
							按分金額 = ROUND(ISNULL(KK.金額,0) * (TEAM_KIN.チーム税抜金額 / SUM(TEAM_KIN.チーム税抜金額) OVER (PARTITION BY KK.科目CD)),0)--2018/06/22 ADD
						FROM (SELECT 科目CD,金額 = SUM(金額) 
								FROM #TMP WHERE 按分区分 = 1
								GROUP BY 科目CD
							) AS KK--売上金額での按分
							CROSS JOIN	(
											--チーム毎の売上金額集計
											SELECT	ROW_NUMBER() OVER (ORDER BY SUM(チーム税抜金額) DESC) AS SEQ,
													チームCD,
													集計CD,
													年月,
													チーム税抜金額 = SUM(チーム税抜金額)
												FROM (
														--チーム毎の売上金額集計
														SELECT
																チームCD = CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,
																TM.集計CD,
																年月 = CONVERT(CHAR(6),UH.売上日付,112),--2014/07/21 ADD
																--仕入先がないもの・3016以外を集計
																--チーム税抜金額 = SUM(CASE WHEN (MSM.仕入先CD IS NULL OR NOT(MSM.仕入先CD = '3016'))
																--					THEN CASE WHEN UM.売上税区分 = 1 
																--								THEN (UM.売上金額-UM.消費税額)
																--								ELSE UM.売上金額 END
																--					ELSE 0
																--			END)
																チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
																							THEN (UM.売上金額-UM.消費税額)
																							ELSE UM.売上金額 
																					END)
																--2015/03/13 ADD↑
															FROM TD売上v2 AS UH  
																INNER JOIN TD売上明細V2 AS UM
																	ON UH.売上番号 = UM.売上番号
																LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
																	ON UM.見積明細連番 = MSM.見積明細連番 
																INNER JOIN TD見積 AS MH
																	ON UH.見積番号 = MH.見積番号
																INNER JOIN TM得意先 AS TM
																	ON MH.得意先CD = TM.得意先CD
															--2014/07/21 ADD↓
															WHERE	(UH.売上日付 >= @iS集計日付
																AND UH.売上日付 <= @iE集計日付)
															GROUP BY     CASE WHEN MH.販売先得意先CD IN('1803','9998') THEN MH.部署CD ELSE TM.チームCD END,TM.集計CD,CONVERT(CHAR(6),UH.売上日付,112)
															--2014/07/21 ADD↑
														
														--2016/06/30 DEL↓
														--UNION ALL	
														--		SELECT
														--				チームCD = 6,
														--				年月 = CONVERT(CHAR(6),UH.売上日付,112),
														--				チーム税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 
														--									THEN (UM.売上金額-UM.消費税額) 
														--									ELSE UM.売上金額 END)
																		
														--			FROM TD売上v2 AS UH  
														--				INNER JOIN TD売上明細V2 AS UM
														--					ON UH.売上番号 = UM.売上番号
														--				LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
														--					ON UM.見積明細連番 = MSM.見積明細連番 
														--				INNER JOIN TD見積 AS MH
														--					ON UH.見積番号 = MH.見積番号
														--				INNER JOIN TM得意先 AS TM
														--					ON MH.得意先CD = TM.得意先CD
														--			WHERE	
														--						(UH.売上日付 >= @iS集計日付
														--							AND UH.売上日付 <= @iE集計日付)
														--				AND	MSM.仕入先CD = '3016'
														--			GROUP BY     CONVERT(CHAR(6),UH.売上日付,112)
														--2016/06/30 DEL↑
														) AS UNI	--チーム毎の売上金額集計
												GROUP BY チームCD,集計CD,年月
										) AS TEAM_KIN--チーム毎の売上金額集計
						) AS A
				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.チームCD = B.チームCD
				AND A.統計集計先CD = B.集計CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  A.按分金額 + B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.集計CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
						
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('売上按分情報でエラーが発生しました。 ', 16, 1)
		GOTO	EXIT_SP
	END

	---------------------------
	--按分経費データ作成（科目按分分）
	---------------------------
	MERGE INTO	#TMP経費按分集計 AS A
		USING
			(
			--科目とチームで集計
			SELECT	集計日付,
					科目CD,
					チームCD = 0,
					統計集計先CD,
					按分金額 = SUM(按分金額)
				FROM (
					SELECT	集計日付 = @iS集計日付,
							A.科目CD,
							--A.金額,
							--A.案分金額,
							A.統計集計先CD,
							--SUM(A.案分金額) OVER (PARTITION BY 科目CD)-A.金額,
							--端数処理での差額調整
							--案分金額2,
							按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD,補助CD)-A.金額 ELSE 0 END)
					FROM (
						SELECT	SEQ,統計集計先CD,
								KK.科目CD,
								KK.補助CD,
								金額 = ISNULL(KK.金額,0),
								--按分金額 = ROUND(ISNULL(KK.金額,0) * ISNULL(B.チーム比率,1) / SUM(ISNULL(B.チーム比率,1)) OVER (PARTITION BY KK.科目CD,KK.補助CD),0)
								按分金額 = ROUND(ISNULL(KK.金額,0) * (ISNULL(B.チーム比率,1) / SUM(ISNULL(B.チーム比率,1)) OVER (PARTITION BY KK.科目CD,KK.補助CD)),0)--2018/06/22 ADD
							FROM (SELECT 科目CD,補助CD,金額 = SUM(金額) 
									FROM #TMP WHERE 按分区分 = 2
									GROUP BY 科目CD,補助CD
								) AS KK--科目按分
								INNER JOIN	(
												--チーム毎の比率
												SELECT	ROW_NUMBER() OVER (PARTITION BY 科目CD,補助CD ORDER BY SUM(比率) DESC) SEQ,
														科目CD,
														補助CD,
														統計集計先CD,
														チーム比率 = SUM(比率)
													FROM TM科目按分V2
													WHERE 統計集計先CD <> 999
													GROUP BY 科目CD,補助CD,統計集計先CD
											) AS B
										ON KK.科目CD = B.科目CD
										AND KK.補助CD = B.補助CD
						) AS A
							--LEFT JOIN TMチーム AS CM
							--	ON A.チームCD = CM.チームCD
				) AS SYUKEI
				GROUP BY 集計日付,科目CD,統計集計先CD
				) AS B
			ON  (
				A.集計日付 = B.集計日付
				AND	A.科目CD = B.科目CD
				AND A.統計集計先CD = B.統計集計先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.按分金額 =  A.按分金額 + B.按分金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							集計日付,
							科目CD,
							チームCD,
							統計集計先CD,
							按分金額
						)
					VALUES
						(
							B.集計日付,
							B.科目CD,
							B.チームCD,
							B.統計集計先CD,
							B.按分金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
						
	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('売上按分情報でエラーが発生しました。3 ', 16, 1)
		GOTO	EXIT_SP
	END


					----SELECT	集計日付 = @iS集計日付,
					----		A.科目CD,
					----		--A.金額,
					----		--A.案分金額,
					----		A.チームCD,
					----		--SUM(A.案分金額) OVER (PARTITION BY 科目CD)-A.金額,
					----		--端数処理での差額調整
					----		--案分金額2,
					----		按分金額 = A.按分金額-(CASE WHEN SEQ=1 THEN SUM(A.按分金額) OVER (PARTITION BY 科目CD,補助CD)-A.金額 ELSE 0 END)
					----FROM (
					----	SELECT	SEQ,チームCD,
					----			KK.科目CD,
					----			KK.補助CD,
					----			金額 = ISNULL(KK.金額,0),
					----			B.チーム比率,
					----			合計比率 = SUM(B.チーム比率) OVER (PARTITION BY KK.科目CD,KK.補助CD),
					----			按分金額 = ROUND(ISNULL(KK.金額,0) * B.チーム比率 / SUM(B.チーム比率) OVER (PARTITION BY KK.科目CD,KK.補助CD),0)
					----		FROM (SELECT 科目CD,補助CD,金額 = SUM(金額) 
					----				FROM #TMP WHERE 按分区分 = 2
					----				GROUP BY 科目CD,補助CD
					----			) AS KK--科目按分
					----			INNER JOIN	(
					----							--チーム毎の比率
					----							SELECT	ROW_NUMBER() OVER (PARTITION BY 科目CD,補助CD ORDER BY SUM(比率) DESC) SEQ,
					----									科目CD,
					----									補助CD,
					----									チームCD,
					----									チーム比率 = SUM(比率)
					----								FROM TM科目按分
					----								WHERE チームCD <> 999
					----								GROUP BY 科目CD,補助CD,チームCD
					----						) AS B
					----					ON KK.科目CD = B.科目CD
					----					AND KK.補助CD = B.補助CD
					----	) AS A



	--SELECT * FROM #TMP --WHERE 按分区分 = 2

	--SELECT * FROM #TMP経費按分集計
	--		ORDER BY 集計日付,科目CD,チームCD

	---------------------------
	--按分経費データへ保存
	---------------------------
	INSERT INTO TD経費按分集計V2
			   ([集計日付]
			   ,[科目CD]
			   ,[チームCD]
			   ,[統計集計先CD]
			   ,[按分金額]
			   ,[初期登録日]
			   ,[登録変更日])
		SELECT	@iS集計日付,
				科目CD,
				--TK.チームCD,
				チームCD = CASE WHEN TMP.チームCD = 0 THEN TK.チームCD ELSE TMP.チームCD END,
				統計集計先CD,
				按分金額,
				GETDATE(),
				GETDATE()
		FROM #TMP経費按分集計 AS TMP
			LEFT JOIN TM得意先 AS TK
				ON TMP.統計集計先CD = TK.得意先CD
		ORDER BY 集計日付,科目CD,チームCD



	DROP TABLE #TMP
	DROP TABLE #TMP経費按分集計

--一時ファイルに補助科目・科目で抽出したデータを保存
--按分区分で抽出した情報を集計
--集計したデータと按分情報をつなげて金額算出
EXIT_SP:
	RETURN @ST
GO
