/****** Object:  StoredProcedure [dbo].[usp_SE1900YK請求明細表発行]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE1900YK請求明細表発行]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE1900YK請求明細表発行]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE1900YK請求明細表発行

機能	ヤオコー用請求明細を作成する


引数

戻り値

修正履歴
	2015/10/20	新規作成
	2016/03/31	oosawa		物件の場合、並び順が変わるので見積番号を追加
*****************************************************/
create PROCEDURE [dbo].[usp_SE1900YK請求明細表発行]
	(
		@iS請求日付			DATETIME,
		@iE請求日付			DATETIME,
		@iYKサプライ区分	INT,
		@iYK物件区分		INT,

		--OUTPUT
		@RetDcnt 	INT				OUTPUT,
		@RetST		INT				OUTPUT,
		@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

	--IF @iYK物件区分 = 2 BEGIN--メンテ
		---------------------------
		--メンテ用請求明細
		---------------------------
		SELECT	MH.納入得意先CD,
				MH.納入先CD,
				NY.表示用店舗名,
				USH.見積番号,
				MH.受付日付,
				MH.完工日付,
				MH.発注担当者名,
				USH.合計金額,
				MH.作業内容,
				MH.YKサプライ区分,
				MH.YK物件区分,
				MH.YK請求区分,
				Count = COUNT(USH.見積番号) OVER (PARTITION BY MH.納入得意先CD,MH.納入先CD)
			FROM	--TD売上v2 AS UH
				--INNER JOIN TD売上明細v2 AS UM
				--	ON UH.売上番号 = UM.売上番号
				TD売上請求H AS USH
				--	ON UH.見積番号 = USH.見積番号
				INNER JOIN TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
				INNER JOIN TM納入先 AS NY
					ON MH.納入得意先CD = NY.得意先CD
					AND MH.納入先CD = NY.納入先CD
			WHERE	MH.得意先CD = '8001'
				AND USH.請求日付 >= @iS請求日付
				AND USH.請求日付 <= @iE請求日付
				AND	MH.YKサプライ区分 = @iYKサプライ区分
				AND	MH.YK物件区分 = @iYK物件区分
			--ORDER BY	USH.見積番号
			ORDER BY 
					CASE @iYK物件区分
					   WHEN 1 THEN MH.納入得意先CD
					   WHEN 2 THEN USH.見積番号
					END ASC,
					CASE @iYK物件区分
					   WHEN 1 THEN MH.納入先CD
					END ASC,
					--2016/03/31 ADD↓
					CASE @iYK物件区分
					   WHEN 1 THEN USH.見積番号
					END ASC
					--2016/03/31 ADD↑

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--END--IF @iYK物件区分 = 2 BEGIN--メンテ

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
