/****** Object:  StoredProcedure [dbo].[usp_TN1000UPD担当者別客先在庫入庫]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1000UPD担当者別客先在庫入庫]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1000UPD担当者別客先在庫入庫]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
	 usp_TN1000UPD担当者別客先在庫入庫

	機能:	
		客先在庫入庫入力で入力された情報を
		TD客先在庫入庫・TD客先在庫入庫明細に登録する。

 =============================================
	2009/09/18	oosawa	新規作成
 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN1000UPD担当者別客先在庫入庫]
	(
	@i客先在庫入庫連番	INT,
	@i入庫日付		DATETIME,
	@i担当者CD		VARCHAR(2),	--SMALLINT ,
	@i得意先CD		VARCHAR(4),
	@i摘要名		VARCHAR(50),

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)	
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	--BEGIN TRAN

	--------------------------------------------------
	--移動ヘッダーを更新する。
	--------------------------------------------------
	IF EXISTS (SELECT 客先在庫入庫連番 FROM TD客先在庫入庫 WHERE 客先在庫入庫連番 = @i客先在庫入庫連番 ) BEGIN
		-----<更新>-----
		--------------------------------------------------
		--移動データの更新
		--------------------------------------------------
		UPDATE	TD客先在庫入庫
			SET	
				客先在庫入庫日付	= @i入庫日付,

				担当者CD		= @i担当者CD,
				得意先CD		= @i得意先CD,

				摘要名			= @i摘要名,

				登録変更日		= CONVERT(CHAR(10),GETDATE(),111)
		WHERE 
			客先在庫入庫連番	= @i客先在庫入庫連番
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	END ELSE BEGIN

		--移動番号を取得します
		EXEC	@ST = usp_GetCounter '客先在庫入庫連番', '', @i客先在庫入庫連番 OUTPUT
		IF @ST<>0 GOTO	EXIT_SP
		-----<新規>-----
		INSERT	TD客先在庫入庫
			(
				客先在庫入庫連番, 客先在庫入庫日付, 
				担当者CD, 得意先CD,
				摘要名,
				初期登録日, 登録変更日
			) 
 		VALUES 
			(
				@i客先在庫入庫連番, @i入庫日付,
				@i担当者CD, @i得意先CD,
				@i摘要名,
				CONVERT(CHAR(10),GETDATE(),111), CONVERT(CHAR(10),GETDATE(),111)
			)

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END

	--------------------------------------------------
	--修正された棚卸を更新する。
	--------------------------------------------------
	UPDATE TD客先在庫入庫明細
			SET	客先在庫入庫連番 = #Tmp担当者別客先在庫入庫.客先在庫入庫連番,
				枝番 = #Tmp担当者別客先在庫入庫.枝番, 
				製品NO = #Tmp担当者別客先在庫入庫.製品NO,
				仕様NO = #Tmp担当者別客先在庫入庫.仕様NO,
				入庫数量 = #Tmp担当者別客先在庫入庫.入庫数量,
				登録変更日 = CONVERT(CHAR(10),GETDATE(),111)
		FROM TD客先在庫入庫明細
			INNER JOIN #Tmp担当者別客先在庫入庫
				ON	TD客先在庫入庫明細.客先在庫入庫明細連番 = #Tmp担当者別客先在庫入庫.客先在庫入庫明細連番
	 	WHERE NOT((TD客先在庫入庫明細.枝番 = #Tmp担当者別客先在庫入庫.枝番)
				AND	(TD客先在庫入庫明細.製品NO = #Tmp担当者別客先在庫入庫.製品NO)
				AND	(TD客先在庫入庫明細.仕様NO = #Tmp担当者別客先在庫入庫.仕様NO)
				AND	(TD客先在庫入庫明細.入庫数量 = #Tmp担当者別客先在庫入庫.入庫数量))

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--棚卸を登録する。
	--------------------------------------------------
	INSERT INTO TD客先在庫入庫明細
		(
			--客先在庫入庫明細連番,
			客先在庫入庫連番,
			枝番, 
			製品NO,
			仕様NO,
			入庫数量,
			初期登録日,
			登録変更日
		)
		SELECT
				--TMP.客先在庫入庫明細連番, 
				@i客先在庫入庫連番, 
				TMP.枝番, 
				TMP.製品NO, 
				TMP.仕様NO, 
				TMP.入庫数量, 
				CONVERT(CHAR(10),GETDATE(),111),
				CONVERT(CHAR(10),GETDATE(),111)
	 		FROM #Tmp担当者別客先在庫入庫 AS TMP
			LEFT JOIN TD客先在庫入庫明細 AS IM
				ON	TMP.客先在庫入庫明細連番 = IM.客先在庫入庫明細連番
			WHERE IM.客先在庫入庫明細連番 IS NULL

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST

GO
