/****** Object:  StoredProcedure [dbo].[usp_MT0900見積依頼書出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0900見積依頼書出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0900見積依頼書出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_MT0900見積依頼書出力

機能	指定された条件で見積依頼用データを取得する

引数	
	@i見積番号
	@i開始CD	(開始仕入先)
	@i終了CD	(終了仕入先)	

戻り値	

*****************************************************/
--修正履歴
--		2020/04/08	oosawa		新設
--								ベースは発注書出力
-----------------------------------------------------

create  PROCEDURE [dbo].[usp_MT0900見積依頼書出力]
	@i見積番号			INT,
	@i開始CD			VARCHAR(4),
	@i終了CD			VARCHAR(4),
	@RetST			INT			OUTPUT,
	@RetMsg			NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	--
	SELECT	仕入先件数 = COUNT(MS.見積番号) OVER (PARTITION BY MS.見積番号, MS.仕入先CD, MS.配送先CD),

			MS.見積番号,MS.見積日付,MS.見積件名,MS.納入先名1,MS.納入先名2,MS.郵便番号,
			MS.住所1,MS.住所2,MS.納TEL,MS.納FAX,MS.納入先CD,MS.仕入先CD,SRM.仕入先名1,SRM.仕入先名2, 
			MS.配送先CD, HSM.配送先名1,HSM.配送先名2,HSM.郵便番号 AS 配送郵便番号,
			HSM.住所1 AS 配送住所1,HSM.住所2 AS 配送住所2,HSM.電話番号 AS 配送電話番号,HSM.FAX番号 AS 配送FAX番号,
			MS.行番号,MS.見積区分,MS.製品NO,MS.仕様NO,MS.漢字名称,MS.W, MS.D, MS.H, MS.D1,MS.D2, MS.H1, MS.H2, 
			MS.仕入単価,MS.発注数,MS.社内在庫数,MS.客先在庫数,MS.転用数,MS.発注調整数,MS.総数量,MS.U区分,MS.単位名

			FROM (
				SELECT 	MH.見積番号 AS [見積№],MH.見積日付,
						MH.見積件名,					--2008/05/07 ADD
						--2005/07/05.DEL
						--MH.納入先名1,MH.納入先名2,				
						--2005/07/05.ADD
						MH.納入先名1,MH.納入先名2,MH.郵便番号,MH.住所1,MH.住所2,MH.納TEL,MH.納FAX,
						MH.納入先CD,	--2012/05/14 ADD
						----------------
						MSM.*
					FROM TD見積 AS MH 
						INNER JOIN VD見積シートM AS MSM
						ON MH.見積番号 = MSM.見積番号  
	 				WHERE 	MSM.見積番号 = @i見積番号
	--					AND	MSM.見積区分 = ''
						AND	MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
						AND	MSM.発注数 <> 0
		 				AND	MSM.仕入先CD>=COALESCE(@i開始CD,MSM.仕入先CD)
		 				AND	MSM.仕入先CD<=COALESCE(@i終了CD,MSM.仕入先CD)
				UNION ALL
				SELECT 	MH.見積番号 AS [見積№],MH.見積日付,
						MH.見積件名,					--2008/05/07 ADD
						--2005/07/05.DEL
						--MH.納入先名1,MH.納入先名2,				
						--2005/07/05.ADD
						MH.納入先名1,MH.納入先名2,MH.郵便番号,MH.住所1,MH.住所2,MH.納TEL,MH.納FAX,
						MH.納入先CD,	--2012/05/14 ADD
						----------------
						MSM.* 
					FROM TD見積 AS MH 
						INNER JOIN VD見積シートM AS MSM
						ON MH.見積番号 = MSM.見積番号  
	 				WHERE 	MSM.見積番号 = @i見積番号
	-- 					AND 	(MSM.見積区分 =  'A' OR MSM.見積区分 =  'C' OR MSM.見積区分 =  'S')	--2010/04/08 DEL
						AND 	(MSM.見積区分 =  'A')								--2010/04/08 ADD
		 				AND	MSM.仕入先CD>=COALESCE(@i開始CD,MSM.仕入先CD)
		 				AND	MSM.仕入先CD<=COALESCE(@i終了CD,MSM.仕入先CD)
						--2010/04/08 ADD↓
						AND	(
								SELECT  TOP 1 MSM1.発注数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')
									AND 	MSM1.行番号 >= MSM.行番号
								ORDER BY MSM1.行番号 ASC
							) <> 0
						--2010/04/08 ADD↑
				--2010/04/08 ADD↓
				--"C"・"S"
				UNION ALL
					SELECT 	MH.見積番号 AS [見積№],MH.見積日付,
							MH.見積件名,
							MH.納入先名1,MH.納入先名2,MH.郵便番号,MH.住所1,MH.住所2,MH.納TEL,MH.納FAX,
						MH.納入先CD,	--2012/05/14 ADD
							----------------
							MSM.* 
						FROM TD見積 AS MH 
							INNER JOIN VD見積シートM AS MSM
							ON MH.見積番号 = MSM.見積番号  
		 				WHERE 	MSM.見積番号 = @i見積番号
							AND 	(MSM.見積区分 =  'C' OR MSM.見積区分 =  'S')
			 				AND	MSM.仕入先CD>=COALESCE(@i開始CD,MSM.仕入先CD)
			 				AND	MSM.仕入先CD<=COALESCE(@i終了CD,MSM.仕入先CD)
							AND	(
									SELECT  TOP 1 MSM1.発注数
									FROM TD見積シートM AS MSM1
									WHERE	MSM1.見積番号 = MSM.見積番号
										AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')
										AND 	MSM1.行番号 <= MSM.行番号
									ORDER BY MSM1.行番号 DESC
								) <> 0
				--2010/04/08 ADD↑
				) AS MS
			LEFT JOIN TM仕入先 AS SRM 
				ON MS.仕入先CD = SRM.仕入先CD  
			LEFT JOIN TM配送先 AS HSM 
				ON MS.配送先CD = HSM.配送先CD  
		ORDER BY MS.仕入先CD,MS.配送先CD,MS.見積番号,MS.行番号


--2004/12/23 ADD-------------------------------

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
