/****** Object:  StoredProcedure [dbo].[usp_HD1100売上データCSV出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD1100売上データCSV出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD1100売上データCSV出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_HD1100売上データCSV出力

機能	指定された条件で売上csvを作成する

引数	

戻り値	

※　見積シートＭと売上明細は同一内容のはず！！！！！
	消費税は日付が異なるので再計算！

請求書と同様な作り方！
客在分も作らないとだめ？
*****************************************************
	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	
	2014/10/03	oosawa		見積区分(1～9)を拡張　ACS以外に変更   未確認！！！！！！！！！！！！！！！！！！！
	2015/06/29	oosawa		日付範囲を請求日付に変更
							表示も請求日付
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_HD1100売上データCSV出力]
	(
		--@is売上日付		DATETIME,
		--@ie売上日付		DATETIME,
		@is請求日付		DATETIME,
		@ie請求日付		DATETIME,
		@is得意先CD		VARCHAR(4),
		@ie得意先CD		VARCHAR(4),
		@i見積番号配列	VARCHAR(8000),
		--OUTPUT
		@RetDcnt 			INT 			OUTPUT,
		
		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	--------------------------------------------------
	--配列変数の設定
	--------------------------------------------------
	DECLARE @p1 INT, @p2 INT	--@p1:文字の先頭位置 @p2:カンマの位置
	DECLARE @TBL TABLE	--テーブル変数
		(t INT)	

	--初期値
    	SET @p1 = 0
	--値の長さより小さい間繰り返す
	WHILE LEN(@i見積番号配列) > @p1 BEGIN
		--@p1+1からカンマの位置を探す
		SET @p2 = CHARINDEX(',' , @i見積番号配列, @p1+1)
		--カンマが無い（最後）の場合、文字数+1をセット
		IF @p2 = 0  SET @p2 = LEN(@i見積番号配列)+1
		--テーブル変数に算出した値をセット
		INSERT @TBL VALUES(CONVERT(VARCHAR(8),SUBSTRING(@i見積番号配列, @p1+1,(@p2-1)-@p1)))
		--検索位置の移動
		SET @p1 = @p2
	END


	------------------------------------------------------
	--売上が存在しているかの確認
	------------------------------------------------------
	IF NOT EXISTS(SELECT UH.見積番号 
						FROM TD売上v2 AS UH
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							--2015/06/29 ADD↓
							INNER JOIN TD売上請求H AS USH
								ON MH.見積番号 = USH.見積番号
							--2015/06/29 ADD↑
						WHERE	
							--	UH.売上日付 >= @is売上日付
							--AND	UH.売上日付 <= @ie売上日付
							--2015/06/29 ADD↓
								USH.請求日付 >= @is請求日付
							AND	USH.請求日付 <= @ie請求日付
							--2015/06/29 ADD↑
							AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
							AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
							AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
	) BEGIN
		SET @ST = -1
		SET @MSG = '売上データが存在しません。'
		GOTO EXIT_SP
	END

	------------------------------------------------------
	--見積の全明細が売上済みかの確認
	------------------------------------------------------
	DECLARE	@w未売上件数	INT
	SELECT @w未売上件数 = COUNT(*)
		FROM	TD売上v2 AS UH
			INNER JOIN TD見積 AS MH
				ON UH.見積番号 = MH.見積番号
			INNER JOIN TD見積シートM AS MM
				ON UH.見積番号 = MM.見積番号
			LEFT JOIN TD売上明細V2 AS UM
				ON MM.見積明細連番 = UM.見積明細連番
			--2015/06/29 ADD↓
			INNER JOIN TD売上請求H AS USH
				ON UH.見積番号 = USH.見積番号
			--2015/06/29 ADD↑
		WHERE
			--	UH.売上日付 >= @is売上日付
			--AND	UH.売上日付 <= @ie売上日付
			--2015/06/29 ADD↓
				USH.請求日付 >= @is請求日付
			AND	USH.請求日付 <= @ie請求日付
			--2015/06/29 ADD↑
			AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
			AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
			AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))

			AND UM.見積明細連番 IS NULL
			AND	MM.売上金額 <> 0

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF (@w未売上件数 <> 0)	BEGIN
		SET @ST = -1
		SET @MSG = '未売上の明細が存在します。'
		GOTO EXIT_SP
	END	

	------------------------------------------------------
	--見積の出精値引が売上済みかの確認
	------------------------------------------------------
	DECLARE	@w出精値引CNT		INT,
			@w出精値引_売上CNT	INT

	--見積の出精値引の件数
	SELECT @w出精値引CNT = COUNT(UH.見積番号)
					--FROM	(SELECT 見積番号, 売上日付 = MAX(売上日付) FROM TD売上v2
					FROM	(SELECT 見積番号 FROM TD売上v2
								GROUP BY 見積番号
							) AS UH
						INNER JOIN TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
						--2015/06/29 ADD↓
						INNER JOIN TD売上請求H AS USH
							ON UH.見積番号 = USH.見積番号
						--2015/06/29 ADD↑
					WHERE
						--	UH.売上日付 >= @is売上日付
						--AND	UH.売上日付 <= @ie売上日付
						--2015/06/29 ADD↓
							USH.請求日付 >= @is請求日付
						AND	USH.請求日付 <= @ie請求日付
						--2015/06/29 ADD↑
						AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
						AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
						AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
						AND	MH.出精値引 <> 0

	--売上の出精値引き明細の件数
	SELECT @w出精値引_売上CNT = COUNT(UH.見積番号)
						FROM TD売上v2 AS UH
							INNER JOIN TD売上明細V2 AS UM 
								ON UH.売上番号 = UM.売上番号
							INNER JOIN TD見積 AS MH
								ON UH.見積番号 = MH.見積番号
							--2015/06/29 ADD↓
							INNER JOIN TD売上請求H AS USH
								ON UH.見積番号 = USH.見積番号
							--2015/06/29 ADD↑
						WHERE
							--	UH.売上日付 >= @is売上日付
							--AND	UH.売上日付 <= @ie売上日付
							--2015/06/29 ADD↓
								USH.請求日付 >= @is請求日付
							AND	USH.請求日付 <= @ie請求日付
							--2015/06/29 ADD↑
							AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
							AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
							AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
							AND	UM.特別区分 = 'ZA'--出精値引
							
	IF	@w出精値引CNT <> @w出精値引_売上CNT BEGIN
		SET @ST = -1
		SET @MSG = '出精値引の不整合'
		GOTO EXIT_SP
	END	
	
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----------------------------------------------------------
	------請求日付取得
	----------------------------------------------------------
	------消費税用変数
	----DECLARE	@TAX		MONEY
			
	------税率取得
	----SET	@TAX = dbo.fn_GetTax(@w請求日付)

	------------------------------------------------------
	--見積出力用データ作成
	------------------------------------------------------
	SELECT * INTO #WK請求明細
		FROM (
		----------------------------------------------------------------
		--附属部材以外で
		--コメントでないもの
		----------------------------------------------------------------
		SELECT	UH.見積番号, 
				--MH.納入先CD, 
				--納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(MH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				--納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				--納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				--納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				仕分番号 = RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2),
				仕分名称 = ISNULL(MSUN.名称,''),
				UM.見積明細区分,
				MSM.行番号,	
				UM.製品NO, UM.漢字名称, 
				売上数量 = MSU.数量,
				UM.売上単価,
				売上金額 = dbo.fn_CutFraction(MH.売上端数,MSU.数量 * UM.売上単価,@decimalPoint),
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				USH.請求日付--2015/06/29 ADD
			FROM	TD見積 AS MH
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD売上v2	AS UH
					ON UM.売上番号 = UH.売上番号
				INNER JOIN TD見積シート内訳 AS MSU
					ON UM.見積明細連番 = MSU.見積明細連番
				LEFT JOIN TD見積シート内訳名称 AS MSUN
					ON MSU.見積番号 = MSUN.見積番号
					AND MSU.仕分番号 = MSUN.仕分番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE
					MSM.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
			AND		MSU.数量 <> 0
			AND		MSM.客先在庫数 = 0
			AND		MSM.転用数 = 0
			AND		UM.特別区分 <> 'ZA'--出精値引		
				--AND	UH.売上日付 >= @is売上日付
				--AND	UH.売上日付 <= @ie売上日付
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
				AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
					
		UNION ALL
		----------------------------------------------------------------
		--附属部材以外で
		--コメントAのもの
		----------------------------------------------------------------
		SELECT	UH.見積番号, 
				--MH.納入先CD, 
				--納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(MH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				--納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				--納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				--納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				仕分番号 = RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2),
				仕分名称 = ISNULL(MSUN.名称,''),
				UM.見積明細区分,
				MSM.行番号,	
				UM.製品NO, UM.漢字名称, 
				売上数量 = MSU.数量,
				UM.売上単価,
				売上金額 = dbo.fn_CutFraction(MH.売上端数,MSU.数量 * UM.売上単価,@decimalPoint),
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				USH.請求日付--2015/06/29 ADD
			FROM	TD見積 AS MH
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD売上v2	AS UH
					ON UM.売上番号 = UH.売上番号
				INNER JOIN TD見積シート内訳 AS MSU
					ON UM.見積明細連番 = MSU.見積明細連番
				LEFT JOIN TD見積シート内訳名称 AS MSUN
					ON MSU.見積番号 = MSUN.見積番号
					AND MSU.仕分番号 = MSUN.仕分番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE	
					UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		MSM.見積区分 = 'A'
				--AND	UH.売上日付 >= @is売上日付
				--AND	UH.売上日付 <= @ie売上日付
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
				AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
--			AND		MSU.数量 > 0			--2003/10/28	TEST
--			AND		MSU.数量 <> 0			--2003/10/28	TEST
			AND		(
						SELECT  TOP 1 MSU1.数量
						FROM TD見積シートM AS MSM1
						INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
	 						AND 	MSU1.仕分番号 = MSU.仕分番号
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) <> 0			--2003/10/28	TEST
--			AND		MSM.見積数量 > 0		--2003/10/28	TEST
--			AND		MSM.客先在庫数 = 0
			AND		(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) = 0			--2003/10/28	TEST
--			AND		MSM.転用数 = 0
			AND		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) = 0			--2003/10/28	TEST
		--order by msu.仕分番号, msm.行番号
		UNION ALL
		----------------------------------------------------------------
		--附属部材以外で
		--コメントCのもの
		----------------------------------------------------------------
		SELECT	UH.見積番号, 
				--MH.納入先CD, 
				--納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(MH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				--納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				--納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				--納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				仕分番号 = RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2),
				仕分名称 = ISNULL(MSUN.名称,''),
				UM.見積明細区分,
				MSM.行番号,	
				UM.製品NO, UM.漢字名称, 
				売上数量 = MSU.数量,
				UM.売上単価,
				売上金額 = dbo.fn_CutFraction(MH.売上端数,MSU.数量 * UM.売上単価,@decimalPoint),
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				USH.請求日付--2015/06/29 ADD
			FROM	TD見積 AS MH
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD売上v2	AS UH
					ON UM.売上番号 = UH.売上番号
				INNER JOIN TD見積シート内訳 AS MSU
					ON UM.見積明細連番 = MSU.見積明細連番
				LEFT JOIN TD見積シート内訳名称 AS MSUN
					ON MSU.見積番号 = MSUN.見積番号
					AND MSU.仕分番号 = MSUN.仕分番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE	
					UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		(MSM.見積区分 = 'C'
				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
				--AND	UH.売上日付 >= @is売上日付
				--AND	UH.売上日付 <= @ie売上日付
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
				AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
--			AND		MSU.数量 > 0			--2003/10/28	TEST
--			AND		MSU.数量 <> 0			--2003/10/28	TEST
			AND		(
						SELECT  TOP 1 MSU1.数量
						FROM TD見積シートM AS MSM1
						INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
	 						AND 	MSU1.仕分番号 = MSU.仕分番号
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) <> 0			--2003/10/28	TEST
--			AND		MSM.見積数量 > 0		--2003/10/28	TEST
--			AND		MSM.客先在庫数 = 0
			AND		(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) = 0			--2003/10/28	TEST
--			AND		MSM.転用数 = 0
			AND		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) = 0			--2003/10/28	TEST
		--order by msu.仕分番号, msm.行番号

		UNION ALL
		--付属部材
		--見積数量があり、仕分数量があり、客先在庫数・転用があるデータ
		----------------------------------------------------------------
		--附属部材で
		--コメントでないもの
		----------------------------------------------------------------
		SELECT	UH.見積番号, 
				--MH.納入先CD, 
				--納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(MH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				--納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				--納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				--納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				仕分番号 = 'Z9',
				仕分名称 = '付属部材',
				UM.見積明細区分,
				MSM.行番号,	
				UM.製品NO, UM.漢字名称, 
				UM.売上数量,
				UM.売上単価,
				UM.売上金額,
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				USH.請求日付--2015/06/29 ADD
			FROM	TD見積 AS MH
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD売上v2	AS UH
					ON UM.売上番号 = UH.売上番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE	
					UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		MSM.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
			AND 	見積数量 <> 0
			AND		(客先在庫数 > 0
				OR 	転用数 > 0)
				--AND	UH.売上日付 >= @is売上日付
				--AND	UH.売上日付 <= @ie売上日付
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
				AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
		--order by msu.仕分番号, msm.行番号

		UNION ALL
		----------------------------------------------------------------
		--附属部材で
		--コメントAのもの
		----------------------------------------------------------------
		SELECT	UH.見積番号, 
				--MH.納入先CD, 
				--納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(MH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				--納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				--納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				--納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				仕分番号 = 'Z9',
				仕分名称 = '付属部材',
				UM.見積明細区分,
				MSM.行番号,	
				UM.製品NO, UM.漢字名称, 
				UM.売上数量,
				UM.売上単価,
				UM.売上金額,
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				USH.請求日付--2015/06/29 ADD
			FROM	TD見積 AS MH
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD売上v2	AS UH
					ON UM.売上番号 = UH.売上番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE	
					UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		MSM.見積区分 = 'A'
				--AND	UH.売上日付 >= @is売上日付
				--AND	UH.売上日付 <= @ie売上日付
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
				AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
--			AND		MSM.見積数量 > 0
			AND		(
						SELECT  TOP 1 MSM1.見積数量
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					--) > 0		--2003/10/28	TEST
					) <> 0			--2003/12/08
-- 			AND		(MSM.客先在庫数 > 0
-- 			OR		MSM.転用数 > 0)
			AND		(
					(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) > 0			--2003/10/28	TEST
			OR		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) > 0			--2003/10/28	TEST
					)
		--order by msu.仕分番号, msm.行番号
		UNION ALL
		----------------------------------------------------------------
		--附属部材で
		--コメントCのもの
		----------------------------------------------------------------
		SELECT	UH.見積番号, 
				--MH.納入先CD, 
				--納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(MH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				--納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				--納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				--納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				仕分番号 = 'Z9',
				仕分名称 = '付属部材',
				UM.見積明細区分,
				MSM.行番号,	
				UM.製品NO, UM.漢字名称, 
				UM.売上数量,
				UM.売上単価,
				UM.売上金額,
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				USH.請求日付--2015/06/29 ADD
			FROM	TD見積 AS MH
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD売上v2	AS UH
					ON UM.売上番号 = UH.売上番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE	
					(MH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
			AND		UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		(MSM.見積区分 = 'C'
				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
				--AND	UH.売上日付 >= @is売上日付
				--AND	UH.売上日付 <= @ie売上日付
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
				AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
--			AND		MSM.見積数量 > 0
			AND		(
						SELECT  TOP 1 MSM1.見積数量
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					--) > 0		--2003/10/28	TEST
					) <> 0			--2003/12/08
-- 			AND		(MSM.客先在庫数 > 0
-- 			OR		MSM.転用数 > 0)
			AND		(
					(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) > 0			--2003/10/28	TEST
			OR		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) > 0			--2003/10/28	TEST
					)
		--order by msu.仕分番号, msm.行番号

		UNION ALL
		--出精値引
		SELECT	UH.見積番号, 
				--MH.納入先CD, 
				--納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(MH.納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
				--納入年 = LEFT((CONVERT(CHAR(10),UH.売上日付,12)),2), 
				--納入月 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),3,2), 
				--納入日 = SUBSTRING(CONVERT(CHAR(10),UH.売上日付,12),5,2), 
				仕分番号 = 'ZA',
				仕分名称 = '出精値引',
				見積明細区分='',
				行番号 = 9999999,	
				製品NO = '',
				漢字名称 = '出精値引', 
				売上数量 = 1,
				UM.売上単価,
				UM.売上金額,
				--UH.売上日付--, MH.納入得意先CD, MH.納入先CD
				USH.請求日付--2015/06/29 ADD
			FROM TD売上v2 AS UH
			--FROM	(
			--		SELECT 見積番号, 売上日付 = MAX(売上日付)
			--			FROM TD売上v2
			--			GROUP BY 見積番号
			--		) AS UH
				INNER JOIN TD見積 AS MH
					ON UH.見積番号 = MH.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON UH.売上番号 = UM.売上番号
				--2015/06/29 ADD↓
				INNER JOIN TD売上請求H AS USH
					ON UH.見積番号 = USH.見積番号
				--2015/06/29 ADD↑
			WHERE	
					UM.特別区分 = 'ZA'
				--AND	UH.売上日付 >= @is売上日付
				--AND	UH.売上日付 <= @ie売上日付
				--2015/06/29 ADD↓
				AND	USH.請求日付 >= @is請求日付
				AND	USH.請求日付 <= @ie請求日付
				--2015/06/29 ADD↑
				AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
				AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
				AND	(UH.見積番号 IN (SELECT * FROM @TBL) or NOT EXISTS(SELECT * FROM @TBL))
			--AND		出精値引 <> 0
		--order by msu.仕分番号, msm.行番号

		) AS 見積明細

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--2005/07/05 ADD-------------------------------------
	------------------------------------------------------
	--見積区分での集計処理（1～9）
	------------------------------------------------------
	SELECT * INTO #WK請求明細集計
		FROM (
			SELECT	A.見積番号, A.仕分番号, B.仕分名称, 
					A.見積明細区分,
					A.行番号, B.製品NO, B.漢字名称, 
					A.数量, A.売上金額 AS 売上単価, A.売上金額,
					--B.売上日付
					B.請求日付--2015/06/29 ADD
				FROM	(
					SELECT	見積番号,
							仕分番号, 見積明細区分,MIN(行番号) AS 行番号,
							1 AS 数量, SUM(売上金額) AS 売上金額
						FROM		[#WK請求明細] 
						WHERE          NOT  見積明細区分 IN ('','A', 'C', 'S')
						GROUP BY     見積番号, 仕分番号, 見積明細区分
					) AS A
					INNER JOIN (
							SELECT	見積番号, 
									仕分番号,
									仕分名称,
									見積明細区分,
									行番号,	
									製品NO, 漢字名称, 
									売上数量,
									売上単価,
									--売上日付
									請求日付--2015/06/29 ADD
								FROM [#WK請求明細]
							) AS B
						ON	A.見積番号 = B.見積番号
						AND	A.仕分番号 = B.仕分番号
						AND	A.見積明細区分 = B.見積明細区分
						AND	A.行番号 = B.行番号
			) AS A
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細からの集計（1～9）対象の削除
	------------------------------------------------------
	DELETE FROM #WK請求明細
		WHERE  見積明細区分 NOT IN ('','A', 'C', 'S')

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細へ集計（1～9）結果の追加
	------------------------------------------------------
	INSERT INTO #WK請求明細
		SELECT *
			FROM #WK請求明細集計

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--見積明細部出力
	------------------------------------------------------

	SELECT	TMP.見積番号, 
			MH.納入得意先CD,MH.納入先CD, 
			MH.納入先名1,
			TMP.仕分番号,
			TMP.行番号,
			TMP.製品NO, TMP.漢字名称, 
			TMP.売上数量, TMP.売上単価,
			--TMP.売上日付
			TMP.請求日付--2015/06/29 ADD
		INTO 	#WKTBL
			FROM 	#WK請求明細 AS TMP
				--INNER JOIN TD売上v2	AS UH
				--INNER JOIN	(
				--			SELECT 見積番号, 売上日付 = MAX(売上日付)
				--				FROM TD売上v2
				--				GROUP BY 見積番号
				--			) AS UH
				--	ON TMP.見積番号 = UH.見積番号
				INNER JOIN TD見積 AS MH
					ON	TMP.見積番号 = MH.見積番号
				--LEFT JOIN 	TM得意先 AS TM 
				--	ON 	MH.納入得意先CD = TM.得意先CD


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	----------------------------------
	-- 	抽出データ
	----------------------------------
	SELECT	見積番号, 
			納入先CD, 
			納入先名 = REPLACE(REPLACE(REPLACE(REPLACE(納入先名1, '㈱ベルク　',''), '株式会社ベルク　',''), '㈱ヤオコー　',''), '㈱ヤオコー',''),
			--納入年 = LEFT((CONVERT(CHAR(10),売上日付,12)),2), 
			--納入月 = SUBSTRING(CONVERT(CHAR(10),売上日付,12),3,2), 
			--納入日 = SUBSTRING(CONVERT(CHAR(10),売上日付,12),5,2), 
			--2015/06/29 ADD↓
			納入年 = LEFT((CONVERT(CHAR(10),請求日付,12)),2), 
			納入月 = SUBSTRING(CONVERT(CHAR(10),請求日付,12),3,2), 
			納入日 = SUBSTRING(CONVERT(CHAR(10),請求日付,12),5,2), 
			--2015/06/29 ADD↑
			製品NO, 漢字名称, 
			売上数量, 売上単価

		FROM #WKTBL
		--ORDER BY 売上日付, 納入得意先CD, 納入先CD, 見積番号, 仕分番号, 行番号
		ORDER BY 請求日付, 納入得意先CD, 納入先CD, 見積番号, 仕分番号, 行番号--2015/06/29 ADD

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	DROP TABLE #WK請求明細
	DROP TABLE #WK請求明細集計				--2005/07/05 ADD
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
