/****** Object:  StoredProcedure [dbo].[usp_TK3000顧客別施工金額実績表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK3000顧客別施工金額実績表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK3000顧客別施工金額実績表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************
	
	施工実績　集計

名称	usp_TK3000顧客別施工実績表

機能	作成する

		

引数

戻り値

修正履歴
	2018/07/26	新規作成		
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK3000顧客別施工金額実績表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS得意先CD		VARCHAR(4),
	@iE得意先CD		VARCHAR(4),
	--@i集計区分		SMALLINT,
	--@i物件集計区分	SMALLINT,

	--@RetDcnt 	INT				,
	--@RetST		INT				,
	--@RetMsg		VARCHAR(255)	

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2018/03/01'
--set @iE集計日付 = '2018/03/31'
--SET @i集計区分 = 0

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10


	--担当者別合計金額ワークテーブル作成
	CREATE TABLE #TMP_TOTAL 
		(
			チームCD		SMALLINT		NOT NULL,
			売仕区分		INT,			--0:売上　1:仕入
			見積番号		INT,
			--作業区分CD		INT,
			--番号			INT,
			--見積件名		VARCHAR(60),
			得意先CD		VARCHAR(4),
			納入得意先CD	VARCHAR(4),
			納入先CD		VARCHAR(4),
			--納入先名1		VARCHAR(28),
			--納入先名2		VARCHAR(28),
			--現場名			VARCHAR(60),
			--物件種別		SMALLINT,
			--日付			DATETIME,
			仕入先CD		VARCHAR(5),

			税抜金額		MONEY	DEFAULT(0),
			仕入金額		MONEY	DEFAULT(0)--,	--TD仕入の集計金額
			--原価FLG			VARCHAR(4),
			--発注調整金額	MONEY	DEFAULT(0)	--2015/10/15 ADD


		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		---------------------------
		--営業分の売上を抽出
		---------------------------
		INSERT	INTO #TMP_TOTAL
				(チームCD, 売仕区分, 見積番号,
					得意先CD, 
					納入得意先CD, 納入先CD,
					仕入先CD,
					税抜金額
				)
				SELECT	TM.チームCD,0,UH.見積番号,
						MH.得意先CD,
						MH.納入得意先CD,MH.納入先CD,
						仕入先CD = 'ZZZZZ',
						--内税の場合は消費税を引く
						税抜金額 = SUM(CASE WHEN UM.売上税区分 = 1 THEN (UM.売上金額-UM.消費税額) ELSE UM.売上金額 END)
					FROM TD売上v2 AS UH  
						INNER JOIN TD売上明細V2 AS UM
							ON UH.売上番号 = UM.売上番号
						LEFT JOIN TD見積シートM AS MSM--ZAがあるからLEFT JOIN
							ON UM.見積明細連番 = MSM.見積明細連番 
						INNER JOIN TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
						INNER JOIN TM得意先 AS TM
							ON MH.販売先得意先CD = TM.得意先CD
						INNER JOIN (
									--請求してあり終了している情報
									SELECT	見積番号
										FROM	TD売上請求H
										WHERE	請求日付 >= @iS集計日付
											AND	請求日付 <= @iE集計日付
									) AS HANI
								ON UH.見積番号 = HANI.見積番号
					--2014/07/21 ADD↓
					WHERE	--UH.売上日付 >= @iS集計日付
						--AND	UH.売上日付 <= @iE集計日付
						----AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						----AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						--AND	MH.クレーム区分 = 0--クレームでない
							MH.物件種別 <> 2--メンテ以外
						AND	MSM.作業区分CD = 1--施工
						AND	NOT(UM.伝票区分 IN ('A','C','S'))
						AND	MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
						AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
					GROUP BY    TM.チームCD,UH.見積番号, 
								MH.得意先CD, 
								MH.納入得意先CD,MH.納入先CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		---------------------------
		--仕入金額情報を更新
		---------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--仕入情報
				SELECT	
						TM.チームCD,売仕区分 = 1,SR.見積番号,
						MH.得意先CD,
						MH.納入得意先CD,MH.納入先CD,
						税抜金額 = 0,--SUM(SM.税抜金額) AS 仕入金額
						--内税の場合は消費税を引く
						仕入金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
					FROM	TD仕入明細 AS SM 
						INNER JOIN TD仕入 AS SR
							ON SR.仕入番号 = SM.仕入番号
						INNER JOIN TD仕入明細内訳 AS SMU
							ON SM.仕入番号 = SMU.仕入番号
						INNER JOIN	TD見積 AS MH
							ON SR.見積番号 = MH.見積番号
						LEFT JOIN TD見積シートM AS MSM
							ON SMU.見積明細連番 = MSM.見積明細連番 
						INNER JOIN TM得意先 AS TM
							ON SR.販売先得意先CD = TM.得意先CD
						INNER JOIN (
									--請求してあり終了している情報
									SELECT	見積番号
										FROM	TD売上請求H
										WHERE	請求日付 >= @iS集計日付
											AND	請求日付 <= @iE集計日付
									) AS HANI
								ON SR.見積番号 = HANI.見積番号
					WHERE	--SM.仕入日付 >= @iS集計日付
						--AND SM.仕入日付 <= @iE集計日付
						----AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						----AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						--AND	MH.クレーム区分 = 0--クレームでない
						--AND	NOT(SMU.仕入先CD = '3150')--2017/01/24 ADD
							MH.物件種別 <> 2--メンテ以外
						AND	(MH.社内伝票扱い = 0)--社内伝でない
						AND	MSM.作業区分CD = 1--施工
						AND	NOT(SMU.伝票区分 IN ('A','C','S'))
						AND	MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
						AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
				GROUP BY	TM.チームCD,SR.見積番号,
							MH.得意先CD,
							MH.納入得意先CD, MH.納入先CD
				) AS B
			ON  (
				A.チームCD = B.チームCD
				AND A.見積番号 = B.見積番号
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.仕入金額 =  B.仕入金額

			WHEN NOT MATCHED THEN
				INSERT
						(
							チームCD,
							売仕区分,
							見積番号,
							得意先CD, 
							納入得意先CD, 納入先CD,
							仕入先CD,
							税抜金額,
							仕入金額
						)
					VALUES
						(
							B.チームCD,
							B.売仕区分,
							B.見積番号,
							B.得意先CD, 
							B.納入得意先CD, B.納入先CD,
							'ZZZZZ',
							B.税抜金額,
							B.仕入金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		-----------------------------
		----施工原価詳細情報を追加
		---
		-----------------------------
		INSERT	INTO #TMP_TOTAL
				(チームCD, 売仕区分, 見積番号,
					得意先CD, 
					納入得意先CD, 納入先CD,
					仕入先CD,
					税抜金額,
					仕入金額
				)
				--仕入情報
				SELECT	
						TM.チームCD,売仕区分 = 2,SR.見積番号,
						MH.得意先CD,
						MH.納入得意先CD,MH.納入先CD,
						SMU.仕入先CD,
						税抜金額 = 0,--SUM(SM.税抜金額) AS 仕入金額
						--内税の場合は消費税を引く
						仕入金額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
					FROM	TD仕入明細 AS SM 
						INNER JOIN TD仕入 AS SR
							ON SR.仕入番号 = SM.仕入番号
						INNER JOIN TD仕入明細内訳 AS SMU
							ON SM.仕入番号 = SMU.仕入番号
						INNER JOIN	TD見積 AS MH
							ON SR.見積番号 = MH.見積番号
						LEFT JOIN TD見積シートM AS MSM
							ON SMU.見積明細連番 = MSM.見積明細連番 
						INNER JOIN TM得意先 AS TM
							ON SR.販売先得意先CD = TM.得意先CD
						INNER JOIN (
									--請求してあり終了している情報
									SELECT	見積番号
										FROM	TD売上請求H
										WHERE	請求日付 >= @iS集計日付
											AND	請求日付 <= @iE集計日付
									) AS HANI
								ON SR.見積番号 = HANI.見積番号
					WHERE	--SM.仕入日付 >= @iS集計日付
						--AND SM.仕入日付 <= @iE集計日付
						----AND	TM.チームCD >= COALESCE(@iSチームCD,TM.チームCD)
						----AND	TM.チームCD <= COALESCE(@iEチームCD,TM.チームCD)
						--AND	MH.クレーム区分 = 0--クレームでない
						--AND	NOT(SMU.仕入先CD = '3150')--2017/01/24 ADD
							MH.物件種別 <> 2--メンテ以外
						AND	(MH.社内伝票扱い = 0)--社内伝でない
						AND	MSM.作業区分CD = 1--施工
						AND	NOT(SMU.伝票区分 IN ('A','C','S'))
						AND	MH.得意先CD >= COALESCE(@iS得意先CD,MH.得意先CD)
						AND	MH.得意先CD <= COALESCE(@iE得意先CD,MH.得意先CD)
				GROUP BY	TM.チームCD,SR.見積番号,
							MH.得意先CD,
							MH.納入得意先CD, MH.納入先CD,
							SMU.仕入先CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		
	--END
	
	----------------------------------
	--集計値　抽出
	----------------------------------
	SELECT TMP.*,
		Count = COUNT(TMP.見積番号) OVER (PARTITION BY TMP.得意先CD),
		MH.見積件名,NY.表示用店舗名,SI.仕入先名1
		FROM #TMP_TOTAL AS TMP
			--INNER JOIN TMチーム AS CM
			--	ON TMP.チームCD = CM.チームCD
			--INNER JOIN TM担当者 AS TN
			--	ON CM.代表担当者CD = TN.担当者CD
			--INNER JOIN TM部署 AS BS
			--	ON TN.部署CD = BS.部署CD
			INNER JOIN TD見積 AS MH
				ON TMP.見積番号 = MH.見積番号
			LEFT JOIN TMチーム AS CM
				ON TMP.チームCD = CM.チームCD
			LEFT JOIN TM担当者 AS TN
				ON CM.代表担当者CD = TN.担当者CD
			LEFT JOIN TM部署 AS BS
				ON TN.部署CD = BS.部署CD
			--LEFT JOIN TD見積 AS MH
			--	ON TMP.見積番号 = MH.見積番号
			LEFT JOIN TM得意先 AS TM
				ON TMP.納入得意先CD = TM.得意先CD
			LEFT JOIN TM納入先 AS NY
				ON  TMP.納入得意先CD = NY.得意先CD
				AND TMP.納入先CD = NY.納入先CD
			LEFT JOIN TM仕入先 AS SI
				ON TMP.仕入先CD = SI.仕入先CD
		WHERE NOT(TMP.税抜金額=0 AND TMP.仕入金額=0)
			--AND TMP.見積番号 = 131166
		--ORDER BY	CM.順序, TMP.チームCD,TMP.見積番号, TMP.作業区分CD,YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD
		--ORDER BY	CM.順序, TMP.チームCD,TMP.納入得意先CD,TMP.納入先CD, TMP.見積番号, TMP.売仕区分,TMP.仕入先CD
		ORDER BY	TMP.得意先CD,TMP.納入得意先CD,TMP.納入先CD, TMP.見積番号, TMP.売仕区分,TMP.仕入先CD

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END

--	DROP TABLE #TMP_TOTAL
	 
	RETURN @ST


GO
