/****** Object:  StoredProcedure [dbo].[usp_担当者別社内在庫抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_担当者別社内在庫抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_担当者別社内在庫抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************

名称	usp_担当者別社内在庫抽出

機能	指定された条件で担当者別社内在庫データを取得する

使用箇所
	社内在庫マスタクラス
	usp_MT0100員数UploadCheck

引数
	@i指定日付
	@i担当者CD
	@i製品NO
	@i仕様NO
	@i見積番号
戻り値	

*****************************************************
	2009/09/26	oosawa		新規
	2009/09/26	oosawa		受注区分を見積区分に変更
						自分自身を含めないように変更
	2009/10/01	oosawa		得意先'9999'は受注・売上にのせない。
	2009/10/02	oosawa		数字にNULLが入っているのでISNULLを付ける。
	2009/10/08	oosawa		0件のデータを返すは駄目
						usp_MT0100員数UploadCheckで０件データとなってしまう。
	2009/12/24	oosawa		SUM(ISNULL)にしないとエラーになる。
	2010/01/07	oosawa		製品NO・仕様NOのWHERE句追加（NULLでは入ってこないことが前提）

	2013/03/08	oosawa		大幅修正
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_担当者別社内在庫抽出]
	@i指定日付		DATETIME,
	@i担当者CD		SMALLINT,
	@i製品NO		CHAR(7),
	@i仕様NO		CHAR(7),
	@i見積番号		INT,			--2009/09/26 ADD

	@Ret適正在庫数	MONEY		OUTPUT,
	@Ret合計在庫数	MONEY		OUTPUT,
	@Ret未管理FLG	SMALLINT		OUTPUT,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

	--2009/12/24 ADD↓
	SET	@Ret適正在庫数 = 0
	SET	@Ret合計在庫数 = 0
	SET	@Ret未管理FLG = 0	--管理する
	--2009/12/24 ADD↑

	-- 	日付値セット
	DECLARE 	@wk棚卸日付 		DATETIME


	SET @Ret未管理FLG = 0
	--------------
	--棚卸日付（最大）
	--------------
	SELECT 	@wk棚卸日付 = MAX(棚卸日付)
		FROM 		
			TD棚卸_担当者別社内在庫
		WHERE 	
			担当者CD = @i担当者CD
		AND	製品NO = @i製品NO		--2010/01/07 ADD
		AND	仕様NO = @i仕様NO		--2010/01/07 ADD
		GROUP BY 	
			担当者CD
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--------------
	--指定日＜棚卸日はデータなし
	--------------
	IF @wk棚卸日付 IS NULL BEGIN
		--0件のデータを返す
		--0件のデータを返すは駄目！！！ usp_MT0100員数UploadCheckで０件データとなってしまう。
		--SELECT	0 WHERE 0<>0
		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END

	IF @i指定日付 < @wk棚卸日付 BEGIN
		--0件のデータを返す
		--SELECT	0 WHERE 0<>0
		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END
	--------------
	--未管理の場合
	--------------
	IF NOT EXISTS(SELECT 	担当者CD, 製品NO, 仕様NO, 適正在庫数, 予備在庫数 
					FROM 	
						TM社内在庫_担当者別
					WHERE 	担当者CD = @i担当者CD
						AND	製品NO + 仕様NO = COALESCE(@i製品NO,製品NO)+COALESCE(@i仕様NO,仕様NO)
			) BEGIN

		SET	@Ret未管理FLG = 1

		GOTO	EXIT_SP
	END
	

	--------------
	--データ抽出（すべて）
	--------------

	SELECT	@Ret合計在庫数 = ISNULL(TA.棚卸数,0)
						- ISNULL(ZK.予備在庫数,0) 
						- ISNULL(JY.社内在庫数,0)
						+ ISNULL(NK.入庫数,0)
						- ISNULL(SK.出庫数,0)
						+ ISNULL(INK.移動入庫数,0)
						- ISNULL(ISK.移動出庫数,0),
			@Ret適正在庫数 = (ISNULL(ZK.適正在庫数,0))

-- 	SELECT 	TZM.担当者CD, TZM.製品NO, TZM.仕様NO, 
-- 			適正在庫数 = (ISNULL(TZM.適正在庫数,0)),
-- 			予備在庫数 = (ISNULL(TZM.予備在庫数,0)),
-- 			棚卸数 = (ISNULL(TANA.棚卸数,0)),
-- 			仕入数 = (ISNULL(SIR.仕入数,0)),
-- 			売上数 = (ISNULL(URI.売上数,0)), 
-- 			移動受け数 = (ISNULL(UKE.移動受け数,0)),
-- 			移動渡し数 = (ISNULL(WAT.移動渡し数,0)),
-- 			発注数 = (ISNULL(HC.発注数,0)),
-- 			受注数 = (ISNULL(JU.受注数,0)),
-- -- 			在庫残数 = ISNULL(TANA.棚卸数,0) - ISNULL(TZM.予備在庫数,0) 
-- -- 					+ ISNULL(SIR.仕入数,0) - ISNULL(URI.売上数,0) 
-- -- 					+ ISNULL(UKE.移動受け数,0) - ISNULL(WAT.移動渡し数,0),
-- 			合計在庫数 = (ISNULL(TANA.棚卸数,0) - ISNULL(TZM.予備在庫数,0) 
-- 						+ ISNULL(SIR.仕入数,0) - ISNULL(URI.売上数,0) 
-- 						+ ISNULL(UKE.移動受け数,0) - ISNULL(WAT.移動渡し数,0))
-- 					+ ISNULL(HC.発注数,0) 
-- 					- ISNULL(JU.受注数,0)

			FROM (
				--------------
				--社内在庫マスタ
				--------------
				SELECT	ZK.担当者CD, ZK.製品NO, ZK.仕様NO, 
						ZK.適正在庫数, ZK.予備在庫数
					FROM	TM社内在庫_担当者別 AS ZK (NOLOCK)
					WHERE	ZK.担当者CD = @i担当者CD
						AND	ZK.製品NO = @i製品NO
						AND	ZK.仕様NO = @i仕様NO
				) AS ZK
			LEFT JOIN (
				--------------
				--棚卸数
				--------------
				SELECT	
						担当者CD, 製品NO, 仕様NO, 棚卸数
					FROM
						TD棚卸_担当者別社内在庫 (NOLOCK)
					WHERE
							棚卸日付 = @wk棚卸日付
						AND	担当者CD = @i担当者CD
						AND	製品NO = @i製品NO
						AND	仕様NO = @i仕様NO
					) AS TA
						ON	ZK.担当者CD = TA.担当者CD
						AND	ZK.製品NO = TA.製品NO
						AND	ZK.仕様NO = TA.仕様NO

			LEFT JOIN (
				----------------
				-- 受注数集計(社内在庫引き当て数)
				----------------
				SELECT 	
						MT.担当者CD, 
						MSM.製品NO, MSM.仕様NO,
						SUM(ISNULL(MSM.社内在庫数,0)) AS 社内在庫数
					FROM
						(SELECT * FROM TD見積 AS MT(NOLOCK)
							WHERE	MT.見積区分	= 1			
		    				AND	MT.担当者CD = @i担当者CD
							AND	MT.得意先CD <> '9999'		
							AND	MT.売上納期	>= @wk棚卸日付
							AND MT.見積番号 <> @i見積番号		--2009/09/26 ADD
						) AS MT
					INNER 	JOIN 	
						TD見積シートM AS MSM (NOLOCK)
						ON 	MT.見積番号 = MSM.見積番号
					LEFT	JOIN
						TD出庫_担当者別社内在庫 AS SY (NOLOCK)
						ON	MT.見積番号 = SY.参照見積番号
					WHERE 	
						--AND	MT.売上日付	IS NULL		--売上がたってない物
							SY.出庫番号 IS NULL	--出庫データにないもの
						--AND	MT.売上納期 <= @i指定日付 --未来も含む
						AND	MSM.製品NO = @i製品NO
						AND	MSM.仕様NO = @i仕様NO
					GROUP BY
							MT.担当者CD, MSM.製品NO, MSM.仕様NO
					) AS JY
						ON	ZK.担当者CD = JY.担当者CD
						AND	ZK.製品NO = JY.製品NO
						AND	ZK.仕様NO = JY.仕様NO
			LEFT JOIN (
				----------------
				-- 入庫数
				----------------
				SELECT	NK.担当者CD, 
						NKM.製品NO, NKM.仕様NO, 
						SUM(ISNULL(NKM.入庫数量,0)) AS 入庫数
					FROM TD入庫_担当者別社内在庫 AS NK(NOLOCK)
						INNER JOIN TD入庫明細_担当者別社内在庫 AS NKM(NOLOCK)
						ON NK.入庫番号 = NKM.入庫番号
					WHERE 
							NK.入庫日付 >= @wk棚卸日付
						AND NK.入庫日付 <= @i指定日付
						AND NK.担当者CD = @i担当者CD
						AND	NKM.製品NO = @i製品NO
						AND	NKM.仕様NO = @i仕様NO
					GROUP BY
							NK.担当者CD, NKM.製品NO, NKM.仕様NO
					) AS NK
						ON	ZK.担当者CD = NK.担当者CD
						AND	ZK.製品NO = NK.製品NO
						AND	ZK.仕様NO = NK.仕様NO
			LEFT JOIN (
				----------------
				-- 出庫数
				----------------
				SELECT	SK.担当者CD, 
						SKM.製品NO, SKM.仕様NO, 
						SUM(ISNULL(SKM.出庫数量,0)) AS 出庫数
					FROM TD出庫_担当者別社内在庫 AS SK(NOLOCK)
						INNER JOIN TD出庫明細_担当者別社内在庫 AS SKM(NOLOCK)
						ON SK.出庫番号 = SKM.出庫番号
					WHERE 
							SK.出庫日付 >= @wk棚卸日付
						AND SK.出庫日付 <= @i指定日付
						AND SK.担当者CD = @i担当者CD
						AND	SKM.製品NO = @i製品NO
						AND	SKM.仕様NO = @i仕様NO
					GROUP BY
							SK.担当者CD, SKM.製品NO, SKM.仕様NO
					) AS SK
						ON	ZK.担当者CD = SK.担当者CD
						AND	ZK.製品NO = SK.製品NO
						AND	ZK.仕様NO = SK.仕様NO
			LEFT JOIN (
				----------------
				-- 移動入庫数
				----------------
				SELECT 	
				 		SZH.社内在庫移動先担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 移動入庫数
					FROM 
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @wk棚卸日付
						AND SZH.社内在庫移動日付 <= @i指定日付
						AND SZH.社内在庫移動先担当者CD = @i担当者CD
						AND	SZM.製品NO = @i製品NO
						AND	SZM.仕様NO = @i仕様NO
					GROUP BY
							SZH.社内在庫移動先担当者CD, SZM.製品NO, SZM.仕様NO
						) AS INK
							ON	ZK.担当者CD = INK.社内在庫移動先担当者CD
							AND	ZK.製品NO = INK.製品NO
							AND	ZK.仕様NO = INK.仕様NO
			LEFT JOIN (
				----------------
				-- 移動出庫数
				----------------
				SELECT	
				 		SZH.社内在庫移動元担当者CD,
				 		SZM.製品NO, SZM.仕様NO,
						SUM(ISNULL(SZM.数量,0)) AS 移動出庫数
					FROM 	
						TD社内在庫移動 AS SZH (NOLOCK)
					INNER JOIN
						TD社内在庫移動明細 AS SZM (NOLOCK)
						ON 	SZH.社内在庫移動連番 = SZM.社内在庫移動連番
					WHERE 
							SZH.社内在庫移動日付 >= @wk棚卸日付
						AND SZH.社内在庫移動日付 <= @i指定日付
						AND SZH.社内在庫移動元担当者CD = @i担当者CD
						AND	SZM.製品NO = @i製品NO
						AND	SZM.仕様NO = @i仕様NO
					GROUP BY
							SZH.社内在庫移動元担当者CD, SZM.製品NO, SZM.仕様NO
					) AS ISK
						ON	ZK.担当者CD = ISK.社内在庫移動元担当者CD
						AND	ZK.製品NO = ISK.製品NO
						AND	ZK.仕様NO = ISK.仕様NO

		--WHERE 	ZK.担当者CD = @i担当者CD
		--	AND	TZM.製品NO + TZM.仕様NO = COALESCE(@i製品NO,TZM.製品NO)+COALESCE(@i仕様NO,TZM.仕様NO)
		ORDER BY
				ZK.製品NO, ZK.仕様NO
		OPTION(RECOMPILE)--速くなるおまじない


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST

GO
