/****** Object:  StoredProcedure [dbo].[usp_ZK0200入出庫明細表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ZK0200入出庫明細表]
GO
/****** Object:  StoredProcedure [dbo].[usp_ZK0200入出庫明細表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_ZK0200入出庫明細表
	

	機能:	
		集計先毎の入庫・出庫をを作成する

 =============================================
	2022/03/26	oosawa	新規作成
=============================================*/
CREATE  PROCEDURE [dbo].[usp_ZK0200入出庫明細表]
	(
	@iS集計日付	DATETIME,
	@iE集計日付	DATETIME,
	@i集計CD	VARCHAR(4),

	--OUTPUT
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

		--set @iS集計日付 = '2022/02/01'
		--set @iE集計日付 = '2022/02/28'
		----set @i集計CD = '8001'
		--set @i集計CD = null
		--Y8001 V4801 S3201 B6601 W2401

	------------------------------------------------
	--出庫分
	-------------------------------------------------
		--仕入先が3105:三和倉庫の仕入先D
		SELECT	--TK.チームCD,
				--TK.集計CD,--2020/02/17 ADD
				MH.集計CD,--2021/03/03 ADD
					年月 = SM.仕入日付,--CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
					sm.見積番号,
					MH.見積件名,
					SMU.製品NO,SMU.仕様NO,
					SMU.漢字名称,
					SMU.W,SMU.D,SMU.H,
								
					仕入数量 = (SMU.仕入数量),
					smu.仕入単価,
					--内税の場合は消費税を引く
					原価額 = (CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
					--,SMU.登録変更日,smu.[登録変更日]
			FROM	TD仕入 AS SR(NOLOCK)
				INNER JOIN TD仕入明細 AS SM(NOLOCK)
					ON SR.仕入番号 = SM.仕入番号
				INNER JOIN	TD見積 AS MH(NOLOCK)
					ON SM.見積番号 = MH.見積番号
				INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
					ON SM.仕入番号 = SMU.仕入番号
				--INNER JOIN TM得意先 AS TK(NOLOCK)
				--	ON SR.販売先得意先CD = TK.得意先CD
				--2017/02/16 ADD↓
				LEFT JOIN TM製品 AS SE(NOLOCK)
					ON SMU.製品NO = SE.製品NO
					AND SMU.仕様NO = SE.仕様NO
				--2017/02/16 ADD↑
			WHERE	SM.仕入先CD = '3150'--三和倉庫
				AND	NOT(SMU.伝票区分 IN ('A','C','S'))
				AND	SM.仕入日付 >= @iS集計日付
				AND SM.仕入日付 <= @iE集計日付				--今年度
				--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
				and MH.集計CD = COAlESCE(@i集計CD,MH.集計CD)
			--GROUP BY TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
			--GROUP BY MH.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')--2021/03/03 ADD
			ORDER BY	MH.集計CD,SM.仕入日付,SM.見積番号

		----テストデータ
		--SELECT	
		--		'集計CD' = '6601',
		--		'年月' = '2022/03/27 12:23:34',
		--		'見積番号' = 1234567,
		--		'見積件名' = '見積件名です',
		--		'製品NO' = 'ABC    ',
		--		'仕様NO' = '       ',
		--		'漢字名称' = '漢字名称aaa',
		--		'W' = 1,'D' = 2,'H' = 3,
		--		'仕入数量' = 100,
		--		'仕入単価' = 255,
		--		'原価額' = 25500

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------
	--入庫分
	-------------------------------------------------

		----テストデータ
		--SELECT	
		--		'集計CD' = '2401',
		--		'年月' = '2022/03/27 12:23:34',
		--		'製品NO' = 'ABC    ',
		--		'仕様NO' = '       ',
		--		'漢字名称' = '漢字名称aaa',
		--		'W' = 1,'D' = 2,'H' = 3,
		--		'仕入数量' = 100,
		--		'仕入単価' = 255,
		--		'原価額' = 25500

		--社内伝の仕入先D
		SELECT	--TK.チームCD,
				--TK.集計CD,--2020/02/17 ADD
				MH.集計CD,--2021/03/03 ADD
					--年月 = CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1'),
					年月 = SM.仕入日付,
					SMU.製品NO,SMU.仕様NO,

					smu.漢字名称,

					仕入数量 = (SMU.仕入数量),
					--内税の場合は消費税を引く
					原価額 = (CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END),
					SM.仕入先CD
					--,SMU.登録変更日,smu.[登録変更日]
			FROM	TD仕入 AS SR(NOLOCK)
				INNER JOIN TD仕入明細 AS SM(NOLOCK)
					ON SR.仕入番号 = SM.仕入番号
				INNER JOIN	TD見積 AS MH(NOLOCK)
					ON SM.見積番号 = MH.見積番号
				INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
					ON SM.仕入番号 = SMU.仕入番号
				INNER JOIN TM得意先 AS TK(NOLOCK)
					ON SR.販売先得意先CD = TK.得意先CD
				--2017/02/16 ADD↓
				LEFT JOIN TM製品 AS SE(NOLOCK)
					ON SMU.製品NO = SE.製品NO
					AND SMU.仕様NO = SE.仕様NO
				--2017/02/16 ADD↑
			WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
				AND	NOT(SMU.伝票区分 IN ('A','C','S'))
				AND	SM.仕入日付 >= @iS集計日付
				AND SM.仕入日付 <= @iE集計日付				--今年度
				--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
				and MH.集計CD = COAlESCE(@i集計CD,MH.集計CD)
			--GROUP BY TK.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')
			--GROUP BY MH.集計CD,CONVERT(DATETIME,CONVERT(CHAR(7),SM.仕入日付,111)+'/1')--2021/03/03 ADD
			ORDER BY	MH.集計CD,SM.仕入日付


		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST

GO
