/****** Object:  StoredProcedure [dbo].[usp_UnLockAllData]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_UnLockAllData]
GO
/****** Object:  StoredProcedure [dbo].[usp_UnLockAllData]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE	PROCEDURE [dbo].[usp_UnLockAllData]
	(
		@iPCNAME	AS VARCHAR(255) = NULL
	)
AS
/*
	機能	端末ごとの全てのデータのロックを解除します。
	引数	@iPCNAME	コンピュータ名を送る。

	備考	システムを終了する時にこの処理を行なうようにする。

	2002/06/10	OOSAWA	作成

*/

	SET	NOCOUNT ON

	DECLARE
		@TRAN	INT,
		@ST	INT,
		@MSG	VARCHAR(255)
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--PCNAMEがない場合
	IF @iPCNAME IS NULL	BEGIN
		SET	@iPCNAME = HOST_NAME()
	END

	------------------------------------------------------------------------------------------
	--	トランザクションを開始します
	------------------------------------------------------------------------------------------
	BEGIN TRAN
	------------------------------------------------------------------------------------------
	--	ロック情報をセットします
	------------------------------------------------------------------------------------------
	--端末名全てのロック情報を解除します。
	DELETE FROM AppLockData
		WHERE	PCNAME = @iPCNAME

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	ERR_SP
	
EXIT_SP:

	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @tran)	BEGIN
			COMMIT TRAN
		END
--		SET @RetST = @ST
--		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @tran)	BEGIN
			ROLLBACK TRAN
		END
--		IF(@ST < 0)	BEGIN
--			SET @RetST = @ST
--			SET @RetMSG = @MSG
--		END
	END
	RETURN @ST

ERR_SP:
	RAISERROR('ロック情報の解除に失敗しました。',-1,-1)
	GOTO EXIT_SP






GO
