/****** Object:  StoredProcedure [dbo].[usp_HD0701売上明細抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0701売上明細抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0701売上明細抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	usp_HD0701売上明細抽出

	機能	
 =============================================
	2014/07/10	oosawa		中国バージョン（金額小数点判断）

	2014/09/30	oosawa		新設
	2015/01/22	oosawa		抽出範囲修正
	2015/03/14	oosawa		しまむら伝票番号表示
	2015/05/27	oosawa		仕入済明細のみ抽出する区分の新設
	2015/07/23	oosawa		社内出し分も抽出

	2015/10/02	oosawa		他社納品日付を追加
	2015/10/06	oosawa		抽出条件に社内出しのみ・仕入済み月ごとを追加
 	2017/01/11	oosawa		社内出し分の抽出を「社内在庫数 <> 0」から「仕入先CD = '3150'」
	2017/06/26	oosawa		コメント行が仕入済みなのに数量がゼロだから持ってこない
							仕入済数<>0ではなく、繋がったデータは持ってくるように変更
	2017/07/06	oosawa		仕入業者CD・仕入業者名を表示
	2019/09/14	oosawa		仕入日付を表示
	2020/10/19	oosawa		仕入日付の最小の日付をもってくるように
	2024/03/20	oosawa		作業区分表示
=============================================*/
CREATE	PROCEDURE	[dbo].[usp_HD0701売上明細抽出]
	(
	@i処理区分 		SMALLINT,
	@i抽出区分		SMALLINT,
	@i見積番号		INT,
	@i売上番号		INT,
	--2015/10/06 ADD↓
	@is仕入日付		DATETIME,
	@ie仕入日付		DATETIME,
	--2015/10/06 ADD↑
	
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS

	SET	NOCOUNT ON

	DECLARE @TRAN	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--DECLARE 	@w初期登録日 	DATETIME
	--消費税用変数
	DECLARE	@TAX		MONEY

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑


	IF  @i処理区分 = 1 BEGIN	--修正

		------------------------------------------------------
		--売上明細抽出
		------------------------------------------------------
		SELECT	MSM.見積番号,
				UM.売上番号, UM.売上明細行番号,
				UM.見積明細連番,
				UM.見積明細区分,
				UM.伝票区分,
				UM.特別区分, UM.売上単価, UM.仕入単価,
				UM.売上金額, UM.仕入金額, UM.定価,
				UM.売上税区分, UM.消費税額,
				UM.製品区分, UM.売上数量,
				MSM.行番号, UM.SP区分, 
				UM.PC区分, UM.製品NO, UM.仕様NO, UM.ベース色, UM.漢字名称,
				MSM.他社納品日付,--2015/10/02 ADD
				MSM.他社伝票番号,--2015/03/14 ADD
				UM.W, UM.D, UM.H, UM.D1, UM.D2, UM.H1, UM.H2, 
				UM.エラー内容, MSM.見積数量, UM.単位名, MSM.仕入率, MSM.売上率,
				MSM.U区分, MSM.M区分, 
				MSM.仕入業者CD, MSM.仕入業者名, --2017/07/06 ADD
				MSM.仕入先CD, MSM.仕入先名, 
				MSM.配送先CD, MSM.配送先名,
				MSM.作業区分CD,--2024/03/20 ADD
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.総数量, MSM.発注調整数,
				仕入済数 = ISNULL(SH.仕入済数,0),
				仕入日付 = SH.仕入日付,--2019/09/14 ADD
				MSM.仕分数1, MSM.仕分数2, MSM.仕分数3, MSM.仕分数4, MSM.仕分数5,
				MSM.仕分数6, MSM.仕分数7, MSM.仕分数8, MSM.仕分数9, MSM.仕分数10, 
				MSM.仕分数11, MSM.仕分数12, MSM.仕分数13, MSM.仕分数14, MSM.仕分数15,
				MSM.仕分数16, MSM.仕分数17, MSM.仕分数18, MSM.仕分数19, MSM.仕分数20,
				MSM.仕分数21, MSM.仕分数22, MSM.仕分数23, MSM.仕分数24, MSM.仕分数25,
				MSM.仕分数26, MSM.仕分数27, MSM.仕分数28, MSM.仕分数29, MSM.仕分数30
			FROM	TD売上明細V2 AS UM
				LEFT JOIN	VD見積シートM AS MSM
					ON UM.見積明細連番 = MSM.見積明細連番
				LEFT JOIN (SELECT 見積明細連番,仕入済数=SUM(仕入数量),
									--仕入日付=MAX(仕入日付)--2019/09/14 ADD
									仕入日付=MIN(仕入日付)--2019/09/14 ADD--2020/10/19 ADD 
								FROM TD仕入明細内訳 AS SMU
									INNER JOIN TD仕入明細 AS SM--2019/09/14 ADD
										ON SMU.仕入番号 = SM.仕入番号--2019/09/14 ADD
								GROUP BY 見積明細連番
						) AS SH
						ON UM.見積明細連番 = SH.見積明細連番
			WHERE	UM.売上番号 = @i売上番号
			ORDER BY	UM.売上明細行番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	END

	IF  @i処理区分 = 0  BEGIN
		------------------------------------------------------
		--見積シートMより売上明細データ作成
		------------------------------------------------------

		--税率取得
		SET	@TAX = dbo.fn_GetTax(CONVERT(CHAR(10),GETDATE(),111))

		--新規
		--SELECT * INTO #TBL
		--	FROM
		--		(
					--通常明細
					SELECT	MSM.見積番号,
							売上番号=0,売上明細行番号=0,
							MSM.見積明細連番,
							MSM.行番号, 
							見積明細区分 = MSM.見積区分,
							伝票区分 = (CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
							特別区分 = '',
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.他社納品日付,--2015/10/02 ADD
							MSM.他社伝票番号,--2015/03/14 ADD
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
							MSM.エラー内容,
							売上数量 = MSM.見積数量,
							MSM.単位名, MSM.定価, MSM.仕入単価, 
							MSM.仕入率, MSM.売上単価, MSM.売上率, 
							MSM.U区分, MSM.M区分,
							MSM.仕入金額, MSM.売上金額, MSM.売上税区分, MSM.消費税額, 
							MSM.仕入業者CD, MSM.仕入業者名, --2017/07/06 ADD
							MSM.仕入先CD, MSM.仕入先名, 
							MSM.配送先CD, MSM.配送先名, 
							MSM.作業区分CD,--2024/03/20 ADD
							MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.総数量, 
							MSM.製品区分, MSM.発注調整数, 
							仕入済数 = ISNULL(SH.仕入済数,0),
							仕入日付 = SH.仕入日付,--2019/09/14 ADD
							MSM.仕分数1, MSM.仕分数2, MSM.仕分数3, MSM.仕分数4,
							MSM.仕分数5, MSM.仕分数6, MSM.仕分数7, MSM.仕分数8, MSM.仕分数9, MSM.仕分数10, MSM.仕分数11, MSM.仕分数12, MSM.仕分数13, 
							MSM.仕分数14, MSM.仕分数15, MSM.仕分数16, MSM.仕分数17, MSM.仕分数18, MSM.仕分数19, MSM.仕分数20, MSM.仕分数21, MSM.仕分数22, 
							MSM.仕分数23, MSM.仕分数24, MSM.仕分数25, MSM.仕分数26, MSM.仕分数27, MSM.仕分数28, MSM.仕分数29, MSM.仕分数30
						FROM	VD見積シートM AS MSM
							LEFT JOIN (SELECT	見積明細連番,仕入済数=SUM(仕入数量),
												--仕入日付=MIN(仕入日付)--2015/10/06 ADD
												--仕入日付=MAX(仕入日付)--2019/09/14 ADD
												仕入日付=MIN(仕入日付)--2019/09/14 ADD--2020/10/19 ADD
											FROM TD仕入明細内訳 AS SMU
												INNER JOIN TD仕入明細 AS SM
													ON SMU.仕入番号 = SM.仕入番号
											GROUP BY 見積明細連番
									) AS SH
									ON MSM.見積明細連番 = SH.見積明細連番
							LEFT JOIN (
										SELECT	見積明細連番
												--仕入数量 = SUM(仕入数量)
											FROM	TD売上明細v2
											GROUP BY 見積明細連番
									) AS UM
										ON MSM.見積明細連番 = UM.見積明細連番
						WHERE	MSM.見積番号 = @i見積番号
							--2015/01/22 DEL↓
							--AND (MSM.見積数量 <> 0
							--		OR MSM.見積区分 IN ('A','C','S'))
							--2015/01/22 DEL↑
							AND	UM.見積明細連番 IS NULL
							--AND ((@i抽出区分 = 0) OR (@i抽出区分 <> 0) AND (SH.仕入済数 <> 0))--2015/05/27 ADD
							--AND ((@i抽出区分 = 0) OR ((@i抽出区分 <> 0) AND ((SH.仕入済数 <> 0) OR (MSM.社内在庫数 <> 0))))--2015/07/23 ADD
							--2015/10/06 ADD↓
							AND (
										(@i抽出区分 = 0) 
									--OR ((@i抽出区分 = 1) AND (SH.仕入済数 <> 0) AND (SH.仕入日付>=@iS仕入日付) AND (SH.仕入日付<=@ie仕入日付))
									OR ((@i抽出区分 = 1) AND (SH.見積明細連番 IS NOT NULL) AND (SH.仕入日付>=@iS仕入日付) AND (SH.仕入日付<=@ie仕入日付))--2017/06/26 ADD
									OR ((@i抽出区分 = 2) AND(MSM.社内在庫数 <> 0))
									OR ((@i抽出区分 = 2) AND(MSM.仕入先CD = '3150'))--2017/01/11 ADD
								)
							--2015/10/06 ADD↑
				UNION ALL
					--ZA:出精値引き
					SELECT	MH.見積番号,
							売上番号=0,売上明細行番号=0,
							見積明細連番 = -1,
							行番号=9999999999, 
							見積明細区分 = '',
							伝票区分 = '1',
							特別区分 = 'ZA',
							SP区分 = '', PC区分='', 製品NO='', 仕様NO='', ベース色='',
							漢字名称='出精値引', 
							他社納品日付= NULL,--2015/10/02 ADD
							他社伝票番号='',--2015/03/14 ADD
							W=0, D=0, H=0, D1=0, D2=0, H1=0, H2=0,
							エラー内容='',
							売上数量 = 1,
							単位名='', 定価=0, 仕入単価=0, 
							仕入率=0, 
							売上単価 = MH.出精値引,
							売上率=0, U区分='', M区分='',
							仕入金額=0, 
							売上金額=MH.出精値引,
							売上税区分=0, 消費税額=0, 
							仕入業者CD='', 仕入業者名='', --2017/07/06 ADD
							仕入先CD='', 仕入先名='', 
							配送先CD='', 配送先名='', 
							作業区分CD=0,--2024/03/20 ADD
							社内在庫数=0, 客先在庫数=0, 転用数=0, 発注数=0, 総数量=0, 
							製品区分=NULL, 発注調整数=0, 
							仕入済数 = 0,
							仕入日付 = NULL,--2019/09/14 ADD
							仕分数1=0, 仕分数2=0, 仕分数3=0, 仕分数4=0,
							仕分数5=0, 仕分数6=0, 仕分数7=0, 仕分数8=0, 仕分数9=0, 仕分数10=0, 仕分数11=0, 仕分数12=0, 仕分数13=0, 
							仕分数14=0, 仕分数15=0, 仕分数16=0, 仕分数17=0, 仕分数18=0, 仕分数19=0, 仕分数20=0, 仕分数21=0, 仕分数22=0, 
							仕分数23=0, 仕分数24=0, 仕分数25=0, 仕分数26=0, 仕分数27=0, 仕分数28=0, 仕分数29=0, 仕分数30=0
						FROM	TD見積 AS MH
							LEFT JOIN (
										SELECT	UH.見積番号
											FROM TD売上v2 AS UH
												INNER JOIN TD売上明細V2 AS UM
													ON UH.売上番号 = UM.売上番号
											WHERE	UM.特別区分 = 'ZA'
											GROUP BY 見積番号
										) AS UH
										ON MH.見積番号 = UH.見積番号
						WHERE	MH.見積番号 = @i見積番号
							AND	MH.出精値引 <> 0
							AND	UH.見積番号 IS NULL--売上計上していない
						ORDER BY MSM.行番号
				
				--) AS MH
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

 	END--IF  @i処理区分 = 0  BEGIN


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
