/****** Object:  StoredProcedure [dbo].[usp_HK0400得意先別売上集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HK0400得意先別売上集計表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_HK0400得意先別売上集計表出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_HK0400得意先別売上集計表出力

機能	指定された条件で請求一覧表データを取得する

	2003/10/16	oosawa
	2003/11/05	kawamura 	伝票区分はVARCHAR(1)に変更
	2004/04/20	oosawa	売上日付を請求日付に変更
	2004/11/30	oosawa	単価訂正は税抜の為、税は引かない--保留
	
	2014/10/20	oosawa		新売上バージョン
*****************************************************/
CREATE PROCEDURE [dbo].[usp_HK0400得意先別売上集計表出力]
	@iS請求日付		DATETIME,
	@iE請求日付		DATETIME,
	@iS得意先		VARCHAR(4),
	@iE得意先		VARCHAR(4),
	@RetST			INT		OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

	--得意先別売上集計算出
	SELECT U.得意先CD,TK.得意先名1,TK.得意先名2,
			U.売上金額,U.消費税額,U.税抜金額,
			U.税抜売上金額,U.税抜返品金額,U.税抜訂正金額,U.売上原価,
			U.税抜売上金額 + U.税抜返品金額 + U.税抜訂正金額 AS 純売上金額,
			U.売上原価,
			U.税抜売上金額 + U.税抜返品金額 + U.税抜訂正金額 - U.売上原価 AS 粗利益金額
	FROM (
		SELECT	MH.得意先CD,
				SUM(UM.売上金額) AS 売上金額,
				SUM(UM.消費税額) AS 消費税額,
				SUM(UM.売上金額-UM.消費税額) AS 税抜金額,
				SUM(CASE WHEN UM.伝票区分 = '1' THEN UM.売上金額-UM.消費税額 ELSE 0 END) AS 税抜売上金額,
				SUM(CASE WHEN UM.伝票区分 = '2' THEN UM.売上金額-UM.消費税額 ELSE 0 END) AS 税抜返品金額,
				--2004/11/30
				--SUM(CASE WHEN UU.伝票区分 = '3' THEN UU.売上金額 ELSE 0 END) AS 税抜訂正金額,			--訂正金額は税抜きである。
				SUM(CASE WHEN UM.伝票区分 = '3' THEN UM.売上金額-UM.消費税額 ELSE 0 END) AS 税抜訂正金額,
				SUM(UM.仕入金額) AS 売上原価,
				SUM(UM.売上数量) AS 売上数量
			
			FROM TD売上請求H AS USH
				INNER JOIN TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
				INNER JOIN TD売上v2 AS UH
					ON USH.見積番号 = UH.見積番号
				INNER JOIN TD売上明細V2 AS UM
					ON UH.売上番号 = UM.売上番号
			--FROM	TD売上 AS UH 
			--	INNER JOIN TD売上明細 AS UM
			--		ON UH.売上番号 = UM.売上番号 
			--	INNER JOIN TD売上明細内訳 AS UU
			--		ON UM.売上番号 = UU.売上番号 
			--			AND UM.売上行番号 = UU.売上行番号
			WHERE	USH.請求日付 >= @iS請求日付
				AND USH.請求日付 <= @iE請求日付
				AND MH.得意先CD >= COALESCE(@iS得意先,MH.得意先CD)
				AND MH.得意先CD <= COALESCE(@iE得意先,MH.得意先CD)
		GROUP BY     MH.得意先CD
		) AS U
		INNER JOIN  TM得意先 AS TK
		ON U.得意先CD = TK.得意先CD
	ORDER	BY	U.得意先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST


GO
