/****** Object:  StoredProcedure [dbo].[usp_TK1400チーム別店舗別原価売価積上表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK1400チーム別店舗別原価売価積上表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK1400チーム別店舗別原価売価積上表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************
	
	売掛・買掛　集計

名称	usp_TK1400チーム別店舗別原価売価積上表

機能	担当者毎店舗毎の売上金額と仕入金額の推移を作成する

		担当者 前年・今年 仕入・売上合計金額
		を出力

引数

戻り値

修正履歴
	2013/04/02	新規作成
	2013/08/19	見積件名・見積番号追加
	2013/10/28	仕入金額を出せるように修正
	2014/02/25	部署順・担当者順に並べる

	2014/07/21	oosawa		集計日付を「売上日付」「仕入日付」にする
	2014/11/03	oosawa		新売上バージョン
							チームに変更
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK1400チーム別店舗別原価売価積上表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iSチームCD		SMALLINT,
	@iEチームCD		SMALLINT,
	@i集計区分		SMALLINT,
	
	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

--2013/10/28ADD↓
	IF	@i集計区分 = 0	BEGIN
		--担当者別合計金額ワークテーブル作成
		CREATE TABLE #TMP_TOTAL 
			(
				チームCD		SMALLINT		NOT NULL,
				売仕区分		INT,			--0:売上　1:仕入
				見積番号		INT,
				--番号			INT,
				見積件名		VARCHAR(60),
				得意先CD		VARCHAR(4),
				納入得意先CD	VARCHAR(4),
				納入先CD		VARCHAR(4),
				納入先名1		VARCHAR(28),
				納入先名2		VARCHAR(28),
				現場名			VARCHAR(28),
				物件種別		SMALLINT,
				日付			DATETIME,
				税抜金額		MONEY	DEFAULT(0),
				原価金額		MONEY	DEFAULT(0),	--TD売上の原価金額
				仕入金額		MONEY	DEFAULT(0)	--TD仕入の集計金額
				
			) ON [PRIMARY]

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		---------------------------
		--ヘッダー部　売上金額
		--担当者別店舗別売上情報
		---------------------------
		INSERT	INTO #TMP_TOTAL
				(チームCD, 売仕区分, 見積番号, --番号,
					見積件名, 得意先CD, 
					納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
					現場名, 物件種別,
					日付,
					税抜金額,原価金額
				)
				SELECT	TK.チームCD,0,UH.見積番号,--UH.売上番号,
						MH.見積件名,MH.得意先CD,
						MH.納入得意先CD,MH.納入先CD,MH.納入先名1,MH.納入先名2,
						MH.現場名,物件種別 = ISNULL(MH.物件種別,0),
						売上日付 = MAX(UH.売上日付),
						税抜金額 = SUM(UM.売上金額-UM.消費税額),SUM(UM.仕入金額) AS 原価金額
					FROM	TD売上V2 AS UH
						INNER JOIN TD売上明細V2 AS UM
							ON UH.売上番号 = UM.売上番号 
						INNER JOIN	TD見積 AS MH
							ON UH.見積番号 = MH.見積番号
						INNER JOIN	TM得意先 AS TK
							ON MH.販売先得意先CD = TK.得意先CD
					WHERE	UH.売上日付 >= @iS集計日付
						AND	UH.売上日付 <= @iE集計日付
						AND	TK.チームCD >= COALESCE(@iSチームCD,TK.チームCD)
						AND	TK.チームCD <= COALESCE(@iEチームCD,TK.チームCD)
					GROUP BY	TK.チームCD, UH.見積番号, MH.見積件名, 
								MH.得意先CD, MH.納入得意先CD,MH.納入先CD,
								MH.納入先名1,MH.納入先名2,MH.現場名,
								ISNULL(MH.物件種別,0)
							

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--TMPに存在するデータの原価を更新
		UPDATE	#TMP_TOTAL
			SET #TMP_TOTAL.仕入金額 = SYU.仕入金額
			FROM	#TMP_TOTAL AS TMP
				INNER JOIN
					(
						SELECT	TK.チームCD,SM.見積番号,
								SUM(SM.税抜金額) AS 仕入金額
							FROM	TD仕入 AS SR
								INNER JOIN TD仕入明細 AS SM
									ON SR.仕入番号 = SM.仕入番号
								INNER JOIN	TD見積 AS MH
									ON SR.見積番号 = MH.見積番号
								INNER JOIN	TM得意先 AS TK
									ON MH.販売先得意先CD = TK.得意先CD
							WHERE	SM.仕入日付 >= @iS集計日付
								AND SM.仕入日付 <= @iE集計日付
								AND	TK.チームCD >= COALESCE(@iSチームCD,TK.チームCD)
								AND	TK.チームCD <= COALESCE(@iEチームCD,TK.チームCD)
							GROUP BY	TK.チームCD, SM.見積番号

					) AS SYU
						ON	TMP.チームCD = SYU.チームCD
						AND	TMP.見積番号 = SYU.見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--担当者原価額月間値
		INSERT	INTO #TMP_TOTAL
				(チームCD, 売仕区分, 見積番号, --番号,
					見積件名, 得意先CD, 
					納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
					現場名, 物件種別,
					日付,
					税抜金額,仕入金額
				)
			SELECT	SYU.チームCD,SYU.売仕区分,SYU.見積番号,--SYU.仕入番号,
					SYU.見積件名,SYU.得意先CD,
					SYU.納入得意先CD,SYU.納入先CD,SYU.納入先名1,SYU.納入先名2,
					SYU.現場名,SYU.物件種別,
					SYU.仕入日付,--2014/07/21 ADD
					SYU.税抜金額,SYU.仕入金額
				FROM (
						SELECT	TK.チームCD,売仕区分 = 1,SR.見積番号,--仕入番号 = 0,
								MH.見積件名,MH.得意先CD,
								MH.納入得意先CD,MH.納入先CD,MH.納入先名1,MH.納入先名2,
								MH.現場名,物件種別 = ISNULL(MH.物件種別,0),
								SM.仕入日付,--2014/07/21 ADD
								税抜金額 = 0,SUM(SM.税抜金額) AS 仕入金額
							FROM	TD仕入 AS SR
								INNER JOIN TD仕入明細 AS SM
									ON SR.仕入番号 = SM.仕入番号
								INNER JOIN	TD見積 AS MH
									ON SR.見積番号 = MH.見積番号
								INNER JOIN	TM得意先 AS TK
									ON MH.販売先得意先CD = TK.得意先CD
							WHERE	SM.仕入日付 >= @iS集計日付
								AND SM.仕入日付 <= @iE集計日付
								AND	TK.チームCD >= COALESCE(@iSチームCD,TK.チームCD)
								AND	TK.チームCD <= COALESCE(@iEチームCD,TK.チームCD)
						GROUP BY	TK.チームCD, SR.見積番号, MH.見積件名,
									MH.得意先CD, MH.納入得意先CD, MH.納入先CD,
									MH.納入先名1,MH.納入先名2,MH.現場名,
									ISNULL(MH.物件種別,0), SM.仕入日付--2014/07/21 ADD
					) AS SYU
					LEFT JOIN #TMP_TOTAL AS TMP
							ON	TMP.チームCD = SYU.チームCD
							AND	TMP.見積番号 = SYU.見積番号	
				WHERE	TMP.チームCD IS NULL
					AND	TMP.見積番号 IS NULL

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		----------------------------------
		--集計値　抽出
		----------------------------------
		SELECT TMP.*,
			Count = COUNT(TMP.チームCD) OVER (PARTITION BY TMP.チームCD)
			FROM #TMP_TOTAL AS TMP
				INNER JOIN TMチーム AS CM
					ON TMP.チームCD = CM.チームCD
				INNER JOIN TM担当者 AS TN
					ON CM.代表担当者CD = TN.担当者CD
				INNER JOIN TM部署 AS BS
					ON TN.部署CD = BS.部署CD
				ORDER BY	BS.順序, TN.順序,TMP.チームCD, YEAR(TMP.日付),MONTH(TMP.日付),TMP.納入得意先CD,ISNULL(TMP.物件種別,0),TMP.納入先CD,TMP.得意先CD

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END
--2013/10/28ADD↑

	IF	@i集計区分 = 1	BEGIN
		---------------------------
		--ヘッダー部　売上金額
		--担当者別年月別売上金額・仕入金額
		---------------------------
		SELECT	TK.チームCD, UH.見積番号,UH.売上番号,
				日付 = UH.売上日付,
				MH.見積件名,MH.得意先CD,
				MH.納入得意先CD,MH.納入先CD,MH.納入先名1,MH.納入先名2,
				MH.現場名,物件種別 = ISNULL(MH.物件種別,0),
				税抜金額 = SUM(UM.売上金額-UM.消費税額),
				原価金額 = SUM(UM.仕入金額),
				Count = COUNT(TK.チームCD) OVER (PARTITION BY TK.チームCD)
			FROM	TD売上v2 AS UH
				INNER JOIN	TD売上明細V2 AS UM
					ON UH.売上番号 = UM.売上番号
				INNER JOIN	TD見積 AS MH
					ON UH.見積番号 = MH.見積番号
				INNER JOIN	TM得意先 AS TK
					ON MH.販売先得意先CD = TK.得意先CD
				INNER JOIN TMチーム AS CM
					ON TK.チームCD = CM.チームCD
				INNER JOIN TM担当者 AS TN
					ON CM.代表担当者CD = TN.担当者CD
				INNER JOIN TM部署 AS BS
					ON TN.部署CD = BS.部署CD
			WHERE	UH.売上日付 >= @iS集計日付
				AND	UH.売上日付 <= @iE集計日付
				AND	TK.チームCD >= COALESCE(@iSチームCD,TK.チームCD)
				AND	TK.チームCD <= COALESCE(@iEチームCD,TK.チームCD)
			GROUP BY	BS.順序, CM.順序,TK.チームCD, UH.見積番号,UH.売上番号,UH.売上日付,
						MH.見積件名,MH.得意先CD,
						MH.納入得意先CD,MH.納入先CD,MH.納入先名1,MH.納入先名2,
						MH.現場名,ISNULL(MH.物件種別,0)

			ORDER BY BS.順序, CM.順序, TK.チームCD,YEAR(UH.売上日付),MONTH(UH.売上日付),MH.納入得意先CD,ISNULL(MH.物件種別,0),MH.納入先CD,MH.得意先CD

		--抽出件数取得
		SET 	@RetDcnt = @@ROWCOUNT 

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
