/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor担当者]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor担当者]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor担当者]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_ChkDelFor担当者

機能	担当者マスタメンテ[削除]のデータ存在チェック

	得意先Ｍ・仕入先Ｍ・担当者予算目標Ｍ・
	見積Ｄ・発注Ｄ・仕入Ｄ・売上Ｄ・経費明細Ｄ

引数	担当者CD

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor担当者]
	(
		@i担当者CD	SMALLINT,
		@RetST	INT			OUTPUT,
		@RetMsg	NVARCHAR(256)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''


	DECLARE	@wDCnt	INT

	--------------------------
	--得意先Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(担当者CD)
		FROM 		TM得意先
		WHERE	(担当者CD = @i担当者CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[得意先マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--仕入先Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(担当者CD)
		FROM 		TM仕入先
		WHERE	(担当者CD = @i担当者CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入先マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--担当者予算目標Ｍチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(担当者CD)
		FROM 		TM担当者予算目標
		WHERE	(担当者CD = @i担当者CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[担当者予算目標マスタ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------
	--見積Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(見積番号)
		FROM 		TD見積
		WHERE	(担当者CD = @i担当者CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[見積データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

/*2003.12.05.DEL
	--------------------------
	--発注Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(発注番号)
		FROM 		TD発注
		WHERE	(担当者CD = @i担当者CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[発注データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END
*/

	--------------------------
	--仕入Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(仕入番号)
		FROM 		TD仕入
		WHERE	(担当者CD = @i担当者CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[仕入データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END


	--------------------------------
	--------売上Ｄチェック
	--------------------------------
	------SET 	@wDCnt 	= 	0

	------SELECT 	@wDCnt = COUNT(売上番号)
	------	FROM 		TD売上
	------	WHERE	(担当者CD = @i担当者CD)

	------SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------IF @wDCnt > 0 BEGIN
	------	SET 	@ST 	=	-1
	------	SET	@MSG = 	'[売上データ]に使用されている為、削除できません。'
	------ 	GOTO		EXIT_SP
	------END


	--------------------------
	--経費明細Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(経費番号)
		FROM 		TD経費明細
		WHERE	(担当者CD = @i担当者CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[経費明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST
GO
