/****** Object:  StoredProcedure [dbo].[usp_SE0300手入力鏡発行]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE0300手入力鏡発行]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE0300手入力鏡発行]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE0300手入力鏡発行

機能	画面で入力された内容で請求書の鏡を発行する

引数	
	@i鏡番号

戻り値	

*****************************************************
	2012/05/29	oosawa		得意先CDを追加
	2017/05/31	oosawa		摘要1～6を追加
*****************************************************/
CREATE  PROCEDURE [dbo].[usp_SE0300手入力鏡発行]
	@i鏡番号			INT,
	@RetST			INT			OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE	@ST		INT,
			@MSG		VARCHAR(255)

	SET	@ST		=	0
	SET	@MSG		=	''

	DECLARE	@MAX枝番		SMALLINT
	DECLARE 	@SQLFields 		VARCHAR(5000)
	DECLARE	@SQLFrom		VARCHAR(1000)
	DECLARE	@SQLIｎ		VARCHAR(8000)

	--カウント用
	DECLARE	@i			INT

	-- 枝番ＭＡＸ取得
	SELECT 	@MAX枝番 = ISNULL(MAX(KU.枝番),0)
		FROM		TD手入力鏡内訳 AS KU
		WHERE	KU.鏡番号	=	@i鏡番号

 	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--SQL文 生成
	SET @SQLFields = ''
	SET @SQLFrom = ''
--	SET @SQLFields = 'SELECT KD.鏡番号,KD.請求日付, KD.得意先名1, KD.得意先名2, KD.受渡地, KD.明細書数, KD.金額,KD.消費税, (KD.金額+KD.消費税) AS 合計 ' 
	--2012/05/29 ADD
	SET @SQLFields = 'SELECT KD.鏡番号,KD.請求日付, KD.得意先CD, KD.得意先名1, KD.得意先名2, KD.受渡地, KD.明細書数, KD.金額,KD.消費税, (KD.金額+KD.消費税) AS 合計 ' 
	SET @SQLFields = @SQLFields + ',KD.摘要1,KD.摘要2,KD.摘要3,KD.摘要4,KD.摘要5,KD.摘要6 ' --2017/05/31 ADD
	SET @SQLFrom	=	' FROM TD手入力鏡 AS KD '
				
	SET 	@SQLIn	=	''

	SET	@i = 1
	WHILE (@i <= @MAX枝番)		BEGIN

		SET	@SQLIn = @SQLIｎ + ' INNER JOIN (SELECT 鏡番号,見積番号 AS 見積番号' + LTRIM(STR(@i)) 
				+ ' FROM TD手入力鏡内訳 WHERE 鏡番号=' + CONVERT(VARCHAR(7),@i鏡番号) + ' AND 枝番=' + CONVERT(VARCHAR(2),@i)
				+ ' ) AS KM' + LTRIM(STR(@i)) + ' ON KD.鏡番号=KM' + LTRIM(STR(@i)) + '.鏡番号'
		--カンマを付ける
		IF @SQLFields <> "" BEGIN
			SET @SQLFields = @SQLFields + ','
		END

		SET @SQLFields = @SQLFields + ' KM'  + LTRIM(STR(@i)) + '.見積番号' + LTRIM(STR(@i))
			
		SET @i = @i + 1
	END

--	PRINT @SQLFields + @SQLFrom + @SQLIn + ' WHERE KD.鏡番号=' + CONVERT(VARCHAR(7),@i鏡番号)

	EXECUTE (@SQLFields + @SQLFrom + @SQLIn +  ' WHERE KD.鏡番号=' + @i鏡番号)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
