/****** Object:  StoredProcedure [dbo].[usp_MT0100員数展開_品群]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0100員数展開_品群]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0100員数展開_品群]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_MT0100員数展開_品群

	機能:	品群情報を展開する。
		
 =============================================
	2003/07/29	oosawa
	2003/09/16	oosawa	H1,H2,仕入先名,配送先名追加
	2003/10/29	oosawa	見積区分追加
	2003/12/05	oosawa	品群変換でのエラー（サイズ変換エラー）の場合のみ
					エラーにせず、製品の情報を持ってくるようにする。
					(サイズがFreeの製品があるため)
	2003/12/05	oosawa	同一製品集計の場合、SP区分を見ないように変更
	2005/10/14	kawamura 	U区分追加
	2009/10/07	oosawa	社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLGの追加
					チェックなしなのでALLZEROをセット
 =============================================*/
CREATE        PROCEDURE [dbo].[usp_MT0100員数展開_品群]
	(
	@i得意先CD		VARCHAR(4),
	@i大小口区分		SMALLINT,
	@c見積明細連番 INT ,
	@c見積番号 	INT ,
	@c行番号 	INT ,
	@c追番 	INT ,
	@c展開CHK 	SMALLINT,
	@c見積区分	VARCHAR (1),		--2003/10/29	ADD
	@cSP区分 	VARCHAR (1),
	@cPC区分 	VARCHAR (1),
	@c製品NO 	CHAR (7),
	@c仕様NO 	CHAR (7),
	@cベース色 	CHAR (7),
	@c漢字名称 	VARCHAR (40),
	@cW 		INT,
	@cD 		INT,
	@cH 		INT,
	@cD1 		INT,
	@cD2 		INT,
	@cH1 		INT,
	@cH2 		INT,
	@cエラー内容 VARCHAR (255),
	@c定価 	MONEY,
	@c仕入単価 	MONEY,
	@c仕入率	MONEY,
	@c売上単価 	MONEY,
	@c売上率	MONEY,
	@cU区分 	VARCHAR (1),		--2005/10/14 ADD
	@cM区分 	VARCHAR (1),
	@c見積数量 	MONEY,
	@c単位名 	VARCHAR (6),
	@c仕入金額 	MONEY ,
	@c売上金額 	MONEY,
	@c売上税区分 SMALLINT,
	@c消費税額 	MONEY,
	@c仕入先CD 	VARCHAR (4),
	@c仕入先名 	VARCHAR (8),
	@c配送先CD 	VARCHAR (4),
	@c配送先名 	VARCHAR (8),
	@c社内在庫数 MONEY,
	@c客先在庫数 MONEY,
	@c転用数 	MONEY,
	@c発注数	MONEY,
	@c総数量 	MONEY,
	@c製品区分	SMALLINT,
	@c仕分数1 	MONEY,
	@c仕分数2 	MONEY,
	@c仕分数3 	MONEY,
	@c仕分数4 	MONEY,
	@c仕分数5 	MONEY,
	@c仕分数6 	MONEY,
	@c仕分数7 	MONEY,
	@c仕分数8 	MONEY,
	@c仕分数9 	MONEY,
	@c仕分数10 	MONEY,
	@c仕分数11	MONEY,
	@c仕分数12 	MONEY,
	@c仕分数13 	MONEY,
	@c仕分数14 	MONEY,
	@c仕分数15 	MONEY,
	@c仕分数16 	MONEY,
	@c仕分数17 	MONEY,
	@c仕分数18 	MONEY,
	@c仕分数19 	MONEY,
	@c仕分数20 	MONEY,
	@c仕分数21 	MONEY,
	@c仕分数22 	MONEY,
	@c仕分数23 	MONEY,
	@c仕分数24 	MONEY,
	@c仕分数25 	MONEY,
	@c仕分数26 	MONEY,
	@c仕分数27 	MONEY,
	@c仕分数28 	MONEY,
	@c仕分数29		MONEY,
	@c仕分数30		MONEY,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		NVARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	--品群構成カーソル
	DECLARE	@CSR品群構成	CURSOR
	--品群構成カーソル変数
	DECLARE
		@cK子品群NO	CHAR(7),
		@cK子仕様NO	CHAR(7),
		@cK員数		INT,
		@cK固定色		VARCHAR(7),
		@cK色仕様		VARCHAR(1),
		@cKサイズ		VARCHAR(1),
		@cK両面サイズ	VARCHAR(1),
		@cK製品区分		SMALLINT

	--展開用ワーク変数
	DECLARE
		@wSP区分	VARCHAR(1),
		@w仕様NO 	CHAR (7),
		@wW		INT,
		@wD		INT,
		@wH		INT,
		@wD1		INT,
		@wD2		INT,
		@wH1		INT,
		@wH2		INT,
		@wベース色 	CHAR (7),
		@w漢字名称 	VARCHAR (40),
		@w単位名 	VARCHAR (6),
		@w定価 	MONEY,
		@w仕入単価 	MONEY,
		@w仕入率	MONEY,
		@w売上単価 	MONEY,
		@w売上税区分 SMALLINT,
		@w仕入先CD 	VARCHAR (4),
		@w仕入先名 	VARCHAR (8)
--		@w製品区分	SMALLINT

	--品群用ワーク変数
	DECLARE
		@WFLG	INT,
		@DFLG	INT,
		@HFLG	INT,
		@D1FLG	INT,
		@D2FLG	INT,
		@H1FLG	INT,
		@H2FLG	INT

	--捨て変数
	DECLARE
		@bSP区分	VARCHAR(1),
		@b製品NO	CHAR(7),
		@b仕様NO	CHAR(7)

	--エラーメッセージ用変数
	DECLARE	@wエラー内容	VARCHAR(255)

	--追番用構成カウント
	DECLARE	@wCNT	INT

	--------------------------------------------------
	--親品群のチェック
	--------------------------------------------------
	EXEC @ST = usp_Chk品群 @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @wエラー内容 OUTPUT 

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
	--エラーがある場合、そのまま書く。
	IF @wエラー内容 <> '' BEGIN
		GOTO TEMP_NOCONV
	END

	--展開チェック
	IF @c展開CHK = 0	BEGIN		--展開しない
		GOTO HINGUN_FUZOKU_READ
	END
	
	--品群構成マスタがあるか？
	IF NOT EXISTS(SELECT 親品群NO FROM TM品群構成 WHERE 親品群NO = @c製品NO)	BEGIN
		--ない場合、付属情報取得後書き込みへ
		GOTO HINGUN_FUZOKU_READ
	END

	--------------------------------------------------
	--展開します。
	--------------------------------------------------
	--構成マスタのカーソルを開きます。
	SET	@CSR品群構成	=	CURSOR	LOCAL	FORWARD_ONLY FOR
		SELECT	子品群NO, 子仕様NO, 員数, 固定色, 色仕様, サイズ, 両面サイズ, 製品区分
		FROM		TM品群構成
		WHERE          親品群NO = @c製品NO
		ORDER BY	行NO

	--PRINT '品群構成カーソルOPEN'
	OPEN @CSR品群構成

	SET	@ST = @@ERROR
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--カーソルのREAD
	FETCH NEXT FROM @CSR品群構成
		INTO	@cK子品群NO, @cK子仕様NO, @cK員数, 
			@cK固定色, @cK色仕様, @cKサイズ, @cK両面サイズ, @cK製品区分

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--初期値のセット
	SET @wCNT = 1

	--------------------------------------------------
	--構成をループします。
	--------------------------------------------------
	WHILE	( @@FETCH_STATUS = 0 )	BEGIN
		--SELECT '1: ' = @cK子品群NO, @cK子仕様NO, @cK員数, 
		--		@cK固定色, @cK色仕様, @cKサイズ, @cK両面サイズ, @cK製品区分
		--------------------------------------------------
		--展開用ワーク変数を初期化します。
		--------------------------------------------------
		SET @wSP区分 = ''
		SET @w仕様NO = ''
		SET @wW = 0
		SET @wD = 0
		SET @wH = 0
		SET @wD1 = 0
		SET @wD2 = 0
		SET @wH1 = 0
		SET @wH2 = 0
		SET @wベース色 = ''
		SET @w漢字名称 = ''
		SET @w単位名 = ''
		SET @w定価 = 0
		SET @w仕入単価 = 0
		SET @w仕入率 = 0
		SET @w売上単価 = 0
		SET @w売上税区分 = 0
		SET @w仕入先CD = ''
		SET @w仕入先名 = ''

		--------------------------------------------------
		--構成情報より変数をセットします。
		--------------------------------------------------
		--品群の場合
		IF @cK製品区分 <>0
		   BEGIN
			/*色仕様の設定*/
			IF @cK固定色 <> ''	--固定色が入っている
			   BEGIN
				--固定色をセット
				SET @w仕様NO = @cK固定色
			   END
			ELSE			--固定色が入っていない
			   BEGIN
				IF @cK色仕様 <> ''	--色仕様が入っている
				   BEGIN
					IF @cK色仕様 = 'B' 
					   BEGIN
						--親のベース色をセット
						SET @w仕様NO = @cベース色
					   END
					IF @cK色仕様 = 'H'
					   BEGIN
						--親の本体色をセット
						SET @w仕様NO = @c仕様NO
					   END
				   END 
				ELSE			--色仕様が入っていない
				   BEGIN
					--親の仕様NOをセット
					SET @w仕様NO = @c仕様NO
				   END
			   END

			/*サイズの設定*/
			IF @cKサイズ <> ''
			   BEGIN
				IF @cKサイズ = 'W'
				   BEGIN
					SET @wW = @cW
				   END
				IF @cKサイズ = 'D'
				   BEGIN
					IF @cK両面サイズ = ''
					   BEGIN
						SET @wD = @cD
					   END
					IF @cK両面サイズ = 'A'
					   BEGIN
						SET @wD = @cD1
					   END
					IF @cK両面サイズ = 'B'
					   BEGIN
						SET @wD = @cD2
					   END
				   END
				IF @cKサイズ = 'H'
				   BEGIN
					IF @cK両面サイズ = ''
					   BEGIN
						SET @wH = @cH
					   END
					IF @cK両面サイズ = 'C'
					   BEGIN
						SET @wH = @cH1
					   END
					IF @cK両面サイズ = 'D'
					   BEGIN
						SET @wH = @cH2
					   END
				   END
				IF @cKサイズ = '1'	--WD
				   BEGIN
					SET @wW = @cW

					IF @cK両面サイズ = ''
					   BEGIN
						SET @wD = @cD
					   END
					IF @cK両面サイズ = 'A'
					   BEGIN
						SET @wD = @cD1
					   END
					IF @cK両面サイズ = 'B'
					   BEGIN
						SET @wD = @cD2
					   END
				   END
				IF @cKサイズ = '2'	--WH
				   BEGIN
					SET @wW = @cW

					IF @cK両面サイズ = ''
					   BEGIN
						SET @wH = @cH
					   END
					IF @cK両面サイズ = 'C'
					   BEGIN
						SET @wH = @cH1
					   END
					IF @cK両面サイズ = 'D'
					   BEGIN
						SET @wH = @cH2
					   END
				   END
				IF @cKサイズ = '3'	--DH
				   BEGIN
					IF @cK両面サイズ = ''
					   BEGIN
						SET @wH = @cH
						SET @wD = @cD
					   END
					IF @cK両面サイズ = 'A'
					   BEGIN
						SET @wH = @cH
						SET @wD = @cD1
					   END
					IF @cK両面サイズ = 'B'
					   BEGIN
						SET @wH = @cH
						SET @wD = @cD2
					   END
					IF @cK両面サイズ = 'C'
					   BEGIN
						SET @wH = @cH1
						SET @wD = @cD
					   END
					IF @cK両面サイズ = 'D'
					   BEGIN
						SET @wH = @cH2
						SET @wD = @cD
					   END
				   END
				IF @cKサイズ = '4'	--WDH
				   BEGIN
					SET @wW = @cW

					IF @cK両面サイズ = ''
					   BEGIN
						SET @wH = @cH
						SET @wD = @cD
					   END
					IF @cK両面サイズ = 'A'
					   BEGIN
						SET @wH = @cH
						SET @wD = @cD1
					   END
					IF @cK両面サイズ = 'B'
					   BEGIN
						SET @wH = @cH
						SET @wD = @cD2
					   END
					IF @cK両面サイズ = 'C'
					   BEGIN
						SET @wH = @cH1
						SET @wD = @cD
					   END
					IF @cK両面サイズ = 'D'
					   BEGIN
						SET @wH = @cH2
						SET @wD = @cD
					   END
				   END
			   END
			ELSE		--@cKサイズが指定されていない
			   BEGIN
				--PRINT 'サイズ指定なし'
				SELECT	@WFLG = W,
						@DFLG = D,
						@HFLG = H,
						@D1FLG = D1,
						@D2FLG = D2,
						@H1FLG = H1,
						@H2FLG = H2
						FROM TM品群
						WHERE 品群NO = @cK子品群NO
				IF @WFLG = 1 
				   BEGIN
					--PRINT 'SET @wW = @cW'
					SET @wW = @cW
				   END
				IF @HFLG = 1
				   BEGIN
					--PRINT 'SET @wH = @cH'
					IF @cK両面サイズ = 'C'
					   BEGIN
						SET @wH = @cH1
					   END
					ELSE IF @cK両面サイズ = 'D'
					   BEGIN
						SET @wH = @cH2
					   END
					ELSE
					  BEGIN
						SET @wH = @cH
					   END
				   END
				ELSE
				   BEGIN
					IF @H1FLG = 1
					   BEGIN
						SET @wH1 = @cH1
					   END
					IF @H2FLG = 1
					   BEGIN
						SET @wH2 = @cH2
					   END
				   END	

				IF @DFLG = 1
				   BEGIN
					--PRINT '@DFLG=1'
					IF @cK両面サイズ = 'A'
					   BEGIN
						SET @wD = @cD1
					   END
					ELSE IF @cK両面サイズ = 'B'
					   BEGIN
						SET @wD = @cD2
					   END
					ELSE
					  BEGIN
						SET @wD = @cD
					   END
				   END
				ELSE
				   BEGIN
					IF @D1FLG = 1
					   BEGIN
						SET @wD1 = @cD1
					   END
					IF @D2FLG = 1
					   BEGIN
						SET @wD2 = @cD2
					   END
				   END	
			   END
	
			--品群製品変換
			SET @wSP区分 = ''
			EXEC @ST = usp_CHG製品FROM品群 @cK子品群NO, @wW, @wD, @wH, @wD1, @wD2, @wH1, @wH2, @wSP区分 OUTPUT , @cK子品群NO OUTPUT , @w仕様NO OUTPUT ,  @cK製品区分 OUTPUT ,@wエラー内容 OUTPUT 
	
			SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
			--エラーがある場合、そのまま書く。
			--エラーがない場合、製品の付属情報をセットする。
			IF @wエラー内容 = '' BEGIN
				GOTO LOOP_SEIHIN_FUZOKU_READ
			END ELSE BEGIN
				IF @wエラー内容 = 'サイズ変換エラー' BEGIN			--2003/12/05	ADD
					GOTO LOOP_SEIHIN_FUZOKU_READ
				END ELSE BEGIN
					GOTO LOOP_HINGUN_FUZOKU_READ
				END								--2003/12/05	ADD
			END
		   END ELSE BEGIN
			--製品の場合
			SET @wSP区分 = ''
			SET @w仕様NO = @cK子仕様NO
/*			SET @wW = @cW
			SET @wD = @cD
			SET @wH = @cH
			SET @wD1 = @cD1
			SET @wD2 = @cD2
			SET @wH1 = @cH1
			SET @wH2 = @cH2
*/--			SET @w製品区分 = @cK製品区分
			

			--サイズのチェックはしなくてよい。
		/*	EXEC @ST = usp_Chk製品 @cK子品群NO, @w仕様NO, @wW, @wD, @wH, @wD1, @wD2, @wH1, @wH2, @wエラー内容 OUTPUT 

			SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
			--------------------------------------------------
			--仕様に合わない場合、書き込みます。
			--------------------------------------------------
			--エラーがある場合、そのまま書く。
			--エラーがない場合、製品の付属情報をセットする。
			IF @wエラー内容 = '' BEGIN
				GOTO LOOP_SEIHIN_FUZOKU_READ
			END ELSE BEGIN
				GOTO LOOP_TEMP_NOCONV
			END*/
			IF NOT EXISTS(SELECT * FROM TM製品 WHERE 製品NO = @cK子品群NO AND 仕様NO = @w仕様NO) BEGIN
				SET @wエラー内容 = '製品マスタ未登録'
				GOTO LOOP_TEMP_NOCONV
			END
			ELSE BEGIN
				SELECT 
					@wW = W,
					@wD = D,
					@wH = H,
					@wD1 = D1,
					@wD2 = D2,
					@wH1 = H1,
					@wH2 = H2
					FROM	TM製品
					WHERE	製品NO = @cK子品群NO
					AND		仕様NO = @w仕様NO

				GOTO LOOP_SEIHIN_FUZOKU_READ
			END
		END

		--------------------------------------------------
		--品群の付属情報を変数にセットします。
		--------------------------------------------------
		LOOP_HINGUN_FUZOKU_READ:
			--PRINT 'LOOP_HINGUN_FUZOKU_READ'

			SELECT 
				@w漢字名称=品群名称
				FROM TM品群 AS HG
				WHERE HG.品群NO = @cK子品群NO

			--書き込みへ行く。
			GOTO LOOP_TEMP_NOCONV

		--------------------------------------------------
		--製品の付属情報を変数にセットします。
		--------------------------------------------------
		LOOP_SEIHIN_FUZOKU_READ:			
			--PRINT 'LOOP_SEIHIN_FUZOKU_READ'
			SELECT 
				@wベース色 = ベース色,
				@w漢字名称 = 漢字名称,
				@w単位名 = 単位名,
				@w定価 = 定価,
				@w仕入単価 = CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
								ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END,
				@w売上単価 = CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
										ELSE COALESCE(MT.小口売上単価,MS.売上単価) END,
				@w売上税区分 = MS.売上税区分,
				@w仕入先CD = MS.主仕入先CD,
				@w仕入先名 = ISNULL(SI.略称,'')
				FROM		TM製品 AS MS
					LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
						) AS MT
							ON MS.製品NO = MT.製品NO
							AND MS.仕様NO = MT.仕様NO
					LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
						) AS SI
							ON MS.主仕入先CD = SI.仕入先CD
				WHERE	MS.製品NO = @cK子品群NO
				AND		MS.仕様NO = @w仕様NO
				AND		@cPC区分 = ''

-- 				--仕入率算出(桁数２　四捨五入)
-- 				----PRINT '仕入率算出'
-- 				SET @c仕入率 = dbo.fn_CutFraction(0,dbo.fn_Divide(@c仕入単価,@c定価)*100,2)
-- 				--売上率算出
-- 				SET @c売上率 =  dbo.fn_CutFraction(0,dbo.fn_Divide(@c売上単価,@c定価)*100,2)
-- 				--仕入金額算出
-- 				SET @c仕入金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c仕入単価,0)
-- 				--売上金額算出
-- 				SET @c売上金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c売上単価,0)
-- 				--消費税額算出
-- 				IF @c売上税区分 = 0		--外税
-- 					SET @c消費税額 = 0
-- 				ELSE				--内税
-- 					SET @c消費税額 = dbo.fn_CutFraction(@i消費税端数, (@c売上金額 / (100 + @TAX) * @TAX), 0)

			----PRINT 'CODE_CHECK'
			--------------------------------------------------
			--仕入先・配送先のチェックを行ないます。
			--------------------------------------------------
			--仕入先チェック
			IF NOT EXISTS(SELECT 仕入先CD FROM TM仕入先 WHERE 仕入先CD = @w仕入先CD) BEGIN
				SET @wエラー内容 = '仕入先マスタ　未登録'
				--SET @wErrCNT = @wErrCNT +1
				GOTO LOOP_TEMP_NOCONV
			END
			--配送先チェック
-- 			IF NOT EXISTS(SELECT 配送先CD FROM TM配送先 WHERE 配送先CD = @c配送先CD) BEGIN
-- 				SET @wエラー内容 = '配送先マスタ　未登録'
-- 				--SET @wErrCNT = @wErrCNT +1
-- 				GOTO LOOP_TEMP_NOCONV
-- 			END

		--------------------------------------------------
		--展開した子製品をテンポラリテーブルに書き込みます。
		--------------------------------------------------
		LOOP_TEMP_NOCONV:
			--PRINT 'LOOP_TEMP_NOCONV'
			--SELECT '2:' = @cK子品群NO, @w仕様NO, @wW, @wD, @wH, @wD1, @wD2
			--同一製品が存在する場合は、仕分数を足しこむ。
			IF NOT EXISTS(SELECT * FROM #WkTbl
							WHERE		/*SP区分 = @wSP区分		--2003/12/05	DEL
							AND*/		PC区分 = ''
							AND		製品NO = @cK子品群NO
							AND		仕様NO = @w仕様NO
							AND		ベース色 = @wベース色
							AND		W = @wW
							AND		D = @wD
							AND		H = @wH
							AND		D1 = @wD1
							AND		D2 = @wD2
							AND		H1 = @wH1
							AND		H2 = @wH2
											) BEGIN
				INSERT	#WkTbl
					(
					見積明細連番, 見積番号, 行番号, 追番, 
					展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
					W, D, H, D1, D2, H1, H2, 
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 
					仕入率, 
					売上単価, 
					売上率,
					U区分, 	--2005/10/14 ADD
					M区分,
					仕入金額, 
					売上金額, 
					売上税区分, 
					消費税額,
					仕入先CD, 仕入先名, 配送先CD, 配送先名,
					社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分,
					仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
					仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
					仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
					社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
					)
				SELECT
					@c見積明細連番,@c見積番号, @c行番号,@wCNT,
					0,@c見積区分,@wSP区分,'',@cK子品群NO,@w仕様NO,@wベース色,@w漢字名称,
					@wW,@wD,@wH,@wD1,@wD2,@wH1,@wH2,
					@wエラー内容,@c総数量*@cK員数,@w単位名,@w定価,@w仕入単価,
					0,--dbo.fn_CutFraction(0,dbo.fn_Divide(@cS仕入単価,@cS定価)*100,2),
					@w売上単価,
					0,--dbo.fn_CutFraction(0,dbo.fn_Divide(@cS売上単価,@cS定価)*100,2),
					'',
					'',		--2005/10/14 ADD
					0,--dbo.fn_CutFraction(@i売上端数,@c見積数量*@cS員数 * @c仕入単価,0),
					0,--@c売上金額,
					@w売上税区分,
					0,--@c消費税額,
					@w仕入先CD,@w仕入先名,'01',(SELECT 略称 FROM TM配送先 WHERE 配送先CD = '01'),
					0,0,0,0,@c総数量*@cK員数, @cK製品区分,
					@c仕分数1*@cK員数,@c仕分数2*@cK員数,@c仕分数3*@cK員数,@c仕分数4*@cK員数,@c仕分数5*@cK員数,
					@c仕分数6*@cK員数,@c仕分数7*@cK員数,@c仕分数8*@cK員数,@c仕分数9*@cK員数,@c仕分数10*@cK員数,
					@c仕分数11*@cK員数,@c仕分数12*@cK員数,@c仕分数13*@cK員数,@c仕分数14*@cK員数,@c仕分数15*@cK員数,
					@c仕分数16*@cK員数,@c仕分数17*@cK員数,@c仕分数18*@cK員数,@c仕分数19*@cK員数,@c仕分数20*@cK員数,
					@c仕分数21*@cK員数,@c仕分数22*@cK員数,@c仕分数23*@cK員数,@c仕分数24*@cK員数,@c仕分数25*@cK員数,
					@c仕分数26*@cK員数,@c仕分数27*@cK員数,@c仕分数28*@cK員数,@c仕分数29*@cK員数,@c仕分数30*@cK員数,
					0, 0, 0	--2009/10/07 ADD
			END ELSE BEGIN
				UPDATE #WkTbl
					SET	総数量 = 総数量 + (@c総数量*@cK員数),
						仕分数1 = 仕分数1 + (@c仕分数1*@cK員数),
						仕分数2 = 仕分数2 + (@c仕分数2*@cK員数),
						仕分数3 = 仕分数3 + (@c仕分数3*@cK員数),
						仕分数4 = 仕分数4 + (@c仕分数4*@cK員数),
						仕分数5 = 仕分数5 + (@c仕分数5*@cK員数),
						仕分数6 = 仕分数6 + (@c仕分数6*@cK員数),
						仕分数7 = 仕分数7 + (@c仕分数7*@cK員数),
						仕分数8 = 仕分数8 + (@c仕分数8*@cK員数),
						仕分数9 = 仕分数9 + (@c仕分数9*@cK員数),
						仕分数10 = 仕分数10 + (@c仕分数10*@cK員数),
						仕分数11 = 仕分数11 + (@c仕分数11*@cK員数),
						仕分数12 = 仕分数12 + (@c仕分数12*@cK員数),
						仕分数13 = 仕分数13 + (@c仕分数13*@cK員数),
						仕分数14 = 仕分数14 + (@c仕分数14*@cK員数),
						仕分数15 = 仕分数15 + (@c仕分数15*@cK員数),
						仕分数16 = 仕分数16 + (@c仕分数16*@cK員数),
						仕分数17 = 仕分数17 + (@c仕分数17*@cK員数),
						仕分数18 = 仕分数18 + (@c仕分数18*@cK員数),
						仕分数19 = 仕分数19 + (@c仕分数19*@cK員数),
						仕分数20 = 仕分数20 + (@c仕分数20*@cK員数),
						仕分数21 = 仕分数21 + (@c仕分数21*@cK員数),
						仕分数22 = 仕分数22 + (@c仕分数22*@cK員数),
						仕分数23 = 仕分数23 + (@c仕分数23*@cK員数),
						仕分数24 = 仕分数24 + (@c仕分数24*@cK員数),
						仕分数25 = 仕分数25 + (@c仕分数25*@cK員数),
						仕分数26 = 仕分数26 + (@c仕分数26*@cK員数),
						仕分数27 = 仕分数27 + (@c仕分数27*@cK員数),
						仕分数28 = 仕分数28 + (@c仕分数28*@cK員数),
						仕分数29 = 仕分数29 + (@c仕分数29*@cK員数),
						仕分数30 = 仕分数30 + (@c仕分数30*@cK員数)
					WHERE		/*SP区分 = @wSP区分				--2003/12/05	DEL
					AND*/		PC区分 = ''
					AND		製品NO = @cK子品群NO
					AND		仕様NO = @w仕様NO
					AND		ベース色 = @wベース色
					AND		W = @wW
					AND		D = @wD
					AND		H = @wH
					AND		D1 = @wD1
					AND		D2 = @wD2
					AND		H1 = @wH1
					AND		H2 = @wH2
			END

			SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP


			--追番のカウントアップ
			SET @wCNT = @wCNT + 1
			
			--カーソルのREAD
			FETCH NEXT FROM @CSR品群構成
				INTO	@cK子品群NO, @cK子仕様NO, @cK員数, 
					@cK固定色, @cK色仕様, @cKサイズ, @cK両面サイズ, @cK製品区分

			SET @ST = @@ERROR
			IF ( @ST <> 0 )	GOTO	EXIT_SP

				
		END	--(WHILE)
		CLOSE	@CSR品群構成
		DEALLOCATE	@CSR品群構成

		GOTO EXIT_SP

--------------------------------------------------
--品の付属情報を変数にセットします。
--------------------------------------------------
HINGUN_FUZOKU_READ:
		--PRINT 'HINGUN_FUZOKU_READ'
		--------------------------------------------------
		--品群の付属情報を変数にセットします。
		--------------------------------------------------
		SELECT 
			@c漢字名称=(CASE @c漢字名称 WHEN '' THEN 品群名称 ELSE @c漢字名称 END)
			FROM TM品群 AS HG
			WHERE HG.品群NO = @c製品NO
/*		SELECT 
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			@c売上税区分 = MS.売上税区分,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			AND		@cPC区分 = ''
*/
-- 		--仕入率算出(桁数２　四捨五入)
-- 		----PRINT '仕入率算出'
-- 		SET @c仕入率 = dbo.fn_CutFraction(0,dbo.fn_Divide(@c仕入単価,@c定価)*100,2)
-- 		--売上率算出
-- 		SET @c売上率 =  dbo.fn_CutFraction(0,dbo.fn_Divide(@c売上単価,@c定価)*100,2)
-- 		--仕入金額算出
-- 		SET @c仕入金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c仕入単価,0)
-- 		--売上金額算出
-- 		SET @c売上金額 = dbo.fn_CutFraction(@i売上端数,@c見積数量 * @c売上単価,0)
-- 		--消費税額算出
-- 		IF @c売上税区分 = 0		--外税
-- 			SET @c消費税額 = 0
-- 		ELSE				--内税
-- 			SET @c消費税額 = dbo.fn_CutFraction(@i消費税端数, (@c売上金額 / (100 + @TAX) * @TAX), 0)
/*
CODE_CHECK:
		----PRINT 'CODE_CHECK'
		--------------------------------------------------
		--仕入先・配送先のチェックを行ないます。
		--------------------------------------------------
		--仕入先チェック
		IF NOT EXISTS(SELECT 仕入先CD FROM TM仕入先 WHERE 仕入先CD = @c仕入先CD) BEGIN
			SET @wエラー内容 = '仕入先マスタ　未登録'
			--SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END
		--配送先チェック
		IF NOT EXISTS(SELECT 配送先CD FROM TM配送先 WHERE 配送先CD = @c配送先CD) BEGIN
			SET @wエラー内容 = '配送先マスタ　未登録'
			--SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END
*/
TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。
		--------------------------------------------------
		--同一製品が存在する場合は、仕分数を足しこむ。
		IF NOT EXISTS(SELECT * FROM #WkTbl
					WHERE		/*SP区分 = @cSP区分
					AND		*/PC区分 = ''
					AND		製品NO = @c製品NO
					AND		仕様NO = @c仕様NO
					AND		ベース色 = @cベース色
					AND		W = @cW
					AND		D = @cD
					AND		H = @cH
					AND		D1 = @cD1
					AND		D2 = @cD2
					AND		H1 = @cH1
					AND		H2 = @cH2
									) BEGIN
			INSERT	#WkTbl
				(
				見積明細連番, 見積番号, 行番号, 追番, 
				展開CHK, 見積区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,
				W, D, H, D1, D2, H1, H2, 
				エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
				仕入金額, 売上金額, 売上税区分, 消費税額,
				仕入先CD, 仕入先名, 配送先CD, 配送先名,
				社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分,
				仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10,
				仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20,
				仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
				社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
				)
			SELECT
				@c見積明細連番,@c見積番号, @c行番号,@c追番,
				0,@c見積区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@wエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入先CD,@c仕入先名,@c配送先CD,@c配送先名,
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量, @c製品区分,
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30,
				0, 0, 0	--2009/10/07 ADD
		END ELSE BEGIN
			UPDATE #WkTbl
				SET	
					/*漢字名称 = @w漢字名称,
					単位名	 = @c単位名,
					定価 = @c定価,
					仕入単価 = @c仕入単価,
					売上単価 = @c売上単価,
					M区分 = @cM区分,
					売上税区分 = @c売上税区分,
					仕入先CD = @c仕入先CD,
					配送先CD =@c配送先CD,
					社内在庫数 = @c社内在庫数,
					客先在庫数 = @c客先在庫数,
					転用数 = @c転用数,*/
					総数量 = 総数量 + @c総数量,
					仕分数1 = 仕分数1 + @c仕分数1,
					仕分数2 = 仕分数2 + @c仕分数2,
					仕分数3 = 仕分数3 + @c仕分数3,
					仕分数4 = 仕分数4 + @c仕分数4,
					仕分数5 = 仕分数5 + @c仕分数5,
					仕分数6 = 仕分数6 + @c仕分数6,
					仕分数7 = 仕分数7 + @c仕分数7,
					仕分数8 = 仕分数8 + @c仕分数8,
					仕分数9 = 仕分数9 + @c仕分数9,
					仕分数10 = 仕分数10 + @c仕分数10,
					仕分数11 = 仕分数11 + @c仕分数11,
					仕分数12 = 仕分数12 + @c仕分数12,
					仕分数13 = 仕分数13 + @c仕分数13,
					仕分数14 = 仕分数14 + @c仕分数14,
					仕分数15 = 仕分数15 + @c仕分数15,
					仕分数16 = 仕分数16 + @c仕分数16,
					仕分数17 = 仕分数17 + @c仕分数17,
					仕分数18 = 仕分数18 + @c仕分数18,
					仕分数19 = 仕分数19 + @c仕分数19,
					仕分数20 = 仕分数20 + @c仕分数20,
					仕分数21 = 仕分数21 + @c仕分数21,
					仕分数22 = 仕分数22 + @c仕分数22,
					仕分数23 = 仕分数23 + @c仕分数23,
					仕分数24 = 仕分数24 + @c仕分数24,
					仕分数25 = 仕分数25 + @c仕分数25,
					仕分数26 = 仕分数26 + @c仕分数26,
					仕分数27 = 仕分数27 + @c仕分数27,
					仕分数28 = 仕分数28 + @c仕分数28,
					仕分数29 = 仕分数29 + @c仕分数29,
					仕分数30 = 仕分数30 + @c仕分数30
				WHERE		/*SP区分 = @cSP区分
				AND		*/PC区分 = ''
				AND		製品NO = @c製品NO
				AND		仕様NO = @c仕様NO
				AND		ベース色 = @cベース色				AND		W = @cW
				AND		D = @cD
				AND		H = @cH
				AND		D1 = @cD1
				AND		D2 = @cD2
				AND		H1 = @cH1
				AND		H2 = @cH2
		END

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

EXIT_SP:
	----PRINT 'EXIT_SP'
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END 
	RETURN @ST

GO
