/****** Object:  StoredProcedure [dbo].[usp_M2101担当者目標保存]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_M2101担当者目標保存]
GO
/****** Object:  StoredProcedure [dbo].[usp_M2101担当者目標保存]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_M2101担当者目標保存

機能	担当者目標金額を保存する

引数
	@i目標年月
	@i純売上金額
	@i粗利金額

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_M2101担当者目標保存]
	@i担当者CD	SMALLINT,
	@i目標年月	DATETIME,
	@i目標金額	MONEY,
	@RetST		INT		OUTPUT,
	@RetMsg		NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE	@TRAN		TINYINT,
		@ST		INT,
		@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--トランザクション開始
	BEGIN	TRAN

	--担当者目標データ登録
	IF EXISTS(SELECT 目標年月 FROM TM担当者予算目標 WHERE 担当者CD=@i担当者CD AND 目標年月 = @i目標年月) BEGIN
		--修正
		UPDATE TM担当者予算目標
			SET	目標額 = @i目標金額
			WHERE	担当者CD=@i担当者CD AND 目標年月 = @i目標年月

		SET	@ST = @@ERROR
		IF @ST<>0 BEGIN
			SET	@ST	= -1
			SET	@MSG = '更新処理に失敗しました。'
			GOTO	EXIT_SP
		END

	END ELSE BEGIN
		--新規登録
		INSERT INTO TM担当者予算目標
				(
				担当者CD,
				目標年月,
				目標額
				)
			VALUES
				(
				@i担当者CD,
				@i目標年月,
				@i目標金額
				)
		SET	@ST = @@ERROR
		IF @ST<>0 BEGIN
			SET	@ST	= -1
			SET	@MSG = '登録処理に失敗しました。'
			GOTO	EXIT_SP
		END
	END

	--SELECT * FROM TM_全社目標

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
--		SELECT	@ST AS ST, @MSG AS MSG
		SET @RetST = @ST
		SET @RetMSG = @MSG

	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
--			SELECT	@ST AS ST, @MSG AS MSG
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST




GO
