/****** Object:  StoredProcedure [dbo].[usp_ND0900入金予定表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ND0900入金予定表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_ND0900入金予定表出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************

名称	usp_ND0900入金予定表出力

機能	指定された条件で入金予定表データを取得する

	2015/03/12	oosawa		新規作成
	
*****************************************************/
CREATE PROCEDURE [dbo].[usp_ND0900入金予定表出力]
	@iS入金予定日付		DATETIME,
	@iE入金予定日付		DATETIME,
	@iS得意先CD			VARCHAR(4),
	@iE得意先CD			VARCHAR(4),

	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		NVARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
				@MSG	NVARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''

		--入金予定表抽出
		select	SK.得意先CD,SK.得意先名1,SK.得意先名2,
				SK.入金予定日付,
				SK.回収方法, 
				SK.入金予定金額,
				SK.請求日付
			FROM
				VM入金予定情報 AS SK
			WHERE 	SK.入金予定日付	>= @iS入金予定日付
				AND	SK.入金予定日付 <= @iE入金予定日付
				AND	SK.得意先CD		>=	COALESCE(CONVERT(VARCHAR(4),@iS得意先CD),SK.得意先CD)
				AND	SK.得意先CD		<=	COALESCE(CONVERT(VARCHAR(4),@iE得意先CD),SK.得意先CD)
			ORDER	BY	SK.得意先CD

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
