/****** Object:  StoredProcedure [dbo].[usp_MT0100員数ImportCheck_Revit]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT0100員数ImportCheck_Revit]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT0100員数ImportCheck_Revit]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_MT0100員数ImportCheck_Revit

	機能	画面上のデータとレビットからのデータを統合し返します。

	内容
		前処理にて##Tmp見積明細と##TMP見積明細CHECKを作成する。
		そのテーブルをひとつにし、返す
		
 =============================================
	2003/07/04	kawamura
	2003/09/16	oosawa	H1,H2,仕入先名,配送先名追加
	2003/09/24	kawamura	新規製品行には付加情報をセットを追加
	2003/10/21 	kawamura 	比較パターンをコードありとコードなしで切り分けて名称も比較する
	2003/10/29	oosawa	見積区分追加
	2004/02/04	oosawa	数量を足す様に変更
	2005/10/14	kawamura 	U区分追加
	2009/10/07	oosawa	社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLGの追加
					チェックなしなのでALLZEROをセット
	2013/03/08	oosawa		ローカル一時テーブルに変更
	2013/03/28	oosawa		配送先の固定をやめる(ヤオコーチームより依頼)
	2014/09/09	oosawa		「発注調整数」追加
							仕入済数の表示
	2014/11/03	oosawa		仕入済数・売上済CNTを追加
	2015/02/04	oosawa		「他社伝票番号」追加
	2015/09/29	oosawa		他社納品日付を追加
	2016/02/09	oosawa		漢字名称も接続判断に追加
 	2016/06/22	oosawa		クレーム明細区分（1:クレーム）
							作業区分CD（1:施工 2:コール 3:内装）を追加
	2017/06/22	oosawa		仕入業者関連追加


	2018/04/11	oosawa		usp_MT0100員数ImportCheckを元に
	2018/04/11	oosawa		特寸の対応の為、WDHを追加
	2018/05/03	oosawa		明細備考、入出庫日の追加
	2018/06/19	oosawa		コメント行の書き換え防止にロックをかけられるように
							仕入済CNTを新設
	2019/12/12	oosawa		レビット
	2020/02/08	oosawa		セット品のマイナス部材はサイズがないので別れてしまう
							ので、サイズでの集計はなしにする
=============================================*/
CREATE	PROCEDURE	[dbo].[usp_MT0100員数ImportCheck_Revit] 
	(
	@i見積番号		INT,
	--@i仕分番号		INT,
	@i得意先CD		VARCHAR(4),
	@i大小口区分		SMALLINT,
	--@CompName		VARCHAR(100),
	@i仕分番号		INT,--2019/08/03 ADD
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS

	SET	NOCOUNT ON

SET @i見積番号 = 1

	DECLARE	@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--製品判断区分
	DECLARE	@製品区分		INT	--0:製品 1:品群 2:ユニット 3:PCマスタ

	DECLARE	@ROWS見積	INT

	DECLARE	@c見積明細連番 INT ,
			@c見積番号 	INT ,
			@c行番号 	INT ,
			@c追番 	INT ,
			@c展開CHK 	SMALLINT,
			@c見積区分	VARCHAR (1),		--2003/10/29	ADD
			@cクレーム明細区分	INT,			--2016/06/22 ADD
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c他社納品日付	DATETIME,		--2015/09/29 ADD
			@c他社伝票番号 	VARCHAR (10),	--2015/02/04 ADD
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
			@c仕入率	MONEY,
			@c売上単価 	MONEY,
			@c売上率	MONEY,
			@cU区分 	VARCHAR (1),		--2005/10/14 ADD
			@cM区分 	VARCHAR (1),
			@c見積数量 	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c売上金額 	MONEY,
			@c売上税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c仕入業者CD 	VARCHAR (4),--2017/05/22 ADD
			@c仕入業者名 	VARCHAR (8),--2017/05/22 ADD
			@c仕入先CD 	VARCHAR (4),
			@c仕入先名 	VARCHAR (8),
			@c作業区分CD	INT,	--2016/06/22 ADD
			@c配送先CD 	VARCHAR (4),
			@c配送先名 	VARCHAR (8),
			@c社内在庫数 MONEY,
			@c客先在庫数 MONEY,
			@c転用数 	MONEY,
			@c発注数	MONEY,
			@c発注調整数	MONEY,--2014/09/09 ADD
			@c総数量 	MONEY,
			@c製品区分	SMALLINT,
			@c仕分数1 	MONEY,
			@c仕分数2 	MONEY,
			@c仕分数3 	MONEY,
			@c仕分数4 	MONEY,
			@c仕分数5 	MONEY,
			@c仕分数6 	MONEY,
			@c仕分数7 	MONEY,
			@c仕分数8 	MONEY,
			@c仕分数9 	MONEY,
			@c仕分数10 	MONEY,
			@c仕分数11	MONEY,
			@c仕分数12 	MONEY,
			@c仕分数13 	MONEY,
			@c仕分数14 	MONEY,
			@c仕分数15 	MONEY,
			@c仕分数16 	MONEY,
			@c仕分数17 	MONEY,
			@c仕分数18 	MONEY,
			@c仕分数19 	MONEY,
			@c仕分数20 	MONEY,
			@c仕分数21 	MONEY,
			@c仕分数22 	MONEY,
			@c仕分数23 	MONEY,
			@c仕分数24 	MONEY,
			@c仕分数25 	MONEY,
			@c仕分数26 	MONEY,
			@c仕分数27 	MONEY,
			@c仕分数28 	MONEY,
			@c仕分数29 	MONEY,
			@c仕分数30 	MONEY,
			@c明細備考	VARCHAR (255),--2018/05/03 ADD
			--@c入出庫日	DATETIME,--2018/05/03 ADD
			@c入庫日	DATETIME,--2020/09/19 ADD
			@c出庫日	DATETIME,--2020/09/19 ADD
			@c追番R		VARCHAR(1)--2019/12/12 ADD

	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	BEGIN TRAN


	--------------------------------------------------
	--出力用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTbl
	--SELECT * INTO WkTbl
			FROM Tmp見積明細
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--チェック用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTbl_Revit
	--SELECT * INTO WkTbl_Revit
			FROM Tmp見積明細
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--出力用Tempテーブルにグローバルデータを書き込む
	--------------------------------------------------
	--2013/03/08 ADD
	INSERT INTO #WkTbl
	--INSERT INTO WkTbl
		 (
			見積明細連番, 見積番号, 行番号, 追番, 
			展開CHK, 見積区分, 
			クレーム明細区分,--2016/06/22 ADD
			SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
			W, D, H, D1, D2, H1, H2, 
			エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, 
			仕入金額, 売上金額, 売上税区分, 消費税額, 
			仕入業者CD, 仕入業者名,--2017/05/22 ADD
			仕入先CD, 仕入先名,
			作業区分CD,--2016/06/22 ADD
			配送先CD, 配送先名, 
			明細備考,
			--入出庫日,--2018/05/03 ADD
			入庫日,出庫日,--2020/09/19 ADD
			追番R,--2019/12/12 ADD
			社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, 
			発注調整数,--2014/09/09 ADD
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
			社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
			,他社伝票番号--2015/02/04 ADD
			,他社納品日付--2015/09/29 ADD
		)
		SELECT 
			見積明細連番, 見積番号, 行番号, 追番, 
			展開CHK, 見積区分, 
			クレーム明細区分,--2016/06/22 ADD
			SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
			W, D, H, D1, D2, H1, H2, 
			エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, 
			仕入金額, 売上金額, 売上税区分, 消費税額, 
			仕入業者CD, 仕入業者名,--2017/05/22 ADD
			仕入先CD, 仕入先名,
			作業区分CD,--2016/06/22 ADD
			配送先CD, 配送先名, 
			明細備考,
			--入出庫日,--2018/05/03 ADD
			入庫日,出庫日,--2020/09/19 ADD
			追番R,--2019/12/12 ADD
			社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, 
			発注調整数,--2014/09/09 ADD
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
			社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
			,他社伝票番号--2015/02/04 ADD
			,他社納品日付--2015/09/29 ADD
		 FROM [#Tmp見積明細]
		 ORDER BY 見積番号, 行番号
		

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--チェック用Tempテーブルにグローバルデータを書き込む
	--------------------------------------------------
	--2013/03/08 ADD
	INSERT INTO #WkTbl_Revit
	--INSERT INTO WkTbl_Revit
		 (
			見積明細連番, 見積番号, 行番号, 追番, 
			追番R,--2019/12/12 ADD
			展開CHK, 見積区分,
			クレーム明細区分,--2016/06/22 ADD
			SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
			W, D, H, D1, D2, H1, H2, 
			エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, 
			仕入金額, 売上金額, 売上税区分, 消費税額, 
			仕入業者CD, 仕入業者名,--2017/05/22 ADD
			仕入先CD, 仕入先名,
			作業区分CD,--2016/06/22 ADD
			配送先CD, 配送先名, 
			明細備考,
			--入出庫日,--2018/05/03 ADD
			入庫日,出庫日,--2020/09/19 ADD
			社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, 
			発注調整数,--2014/09/09 ADD
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
			社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
			,他社伝票番号--2015/02/04 ADD
			,他社納品日付--2015/09/29 ADD
		)
		SELECT 
			見積明細連番, 見積番号, 行番号, 追番, 
			追番R = (CASE WHEN 追番R='' THEN 'R' ELSE 追番R END),--2019/12/12 ADD
			展開CHK, 見積区分,
			クレーム明細区分,--2016/06/22 ADD
			SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
			W, D, H, D1, D2, H1, H2, 
			エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, 
			仕入金額, 売上金額, 売上税区分, 消費税額, 
			仕入業者CD, 仕入業者名,--2017/05/22 ADD
			仕入先CD, 仕入先名,
			作業区分CD,--2016/06/22 ADD
			配送先CD, 配送先名, 
			明細備考,
			--入出庫日,--2018/05/03 ADD
			入庫日,出庫日,--2020/09/19 ADD
			社内在庫数, 客先在庫数, 転用数, 発注数, 総数量, 製品区分, 
			発注調整数,--2014/09/09 ADD
			仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
			仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
			仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
			社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
			,他社伝票番号--2015/02/04 ADD
			,他社納品日付--2015/09/29 ADD
		 FROM [#Tmp見積明細CSV]
		 ORDER BY 見積番号, 行番号

--SELECT * FROM #WkTbl_Revit

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
-------------------------------------------------------------------------------
	--------------------------------------------------
	--製品が一致する情報を更新
	--製品が不一致は作成
	--
	-- ※製品NO未定（9999999）は除外
	--------------------------------------------------
		
		MERGE INTO	#WkTbl AS A
			USING
				(
				SELECT	--SP区分,PC区分,
						行番号 = MAX(行番号),
						追番R,--2019/12/12 ADD
						製品NO,仕様NO,
						漢字名称 = MAX(漢字名称),
						--W,D,H,--2020/02/08 DEL
						転用数 = SUM(転用数),
						総数量 = SUM(総数量),
						--製品区分,
						仕分数1 = SUM(仕分数1),仕分数2 = SUM(仕分数2),仕分数3 = SUM(仕分数3),
						仕分数4 = SUM(仕分数4),仕分数5 = SUM(仕分数5),仕分数6 = SUM(仕分数6),
						仕分数7 = SUM(仕分数7),仕分数8 = SUM(仕分数8),仕分数9 = SUM(仕分数9),
						仕分数10 = SUM(仕分数10),仕分数11 = SUM(仕分数11),仕分数12 = SUM(仕分数12),
						仕分数13 = SUM(仕分数13),仕分数14 = SUM(仕分数14),仕分数15 = SUM(仕分数15),
						仕分数16 = SUM(仕分数16),仕分数17 = SUM(仕分数17),仕分数18 = SUM(仕分数18),
						仕分数19 = SUM(仕分数19),仕分数20 = SUM(仕分数20),仕分数21 = SUM(仕分数21),
						仕分数22 = SUM(仕分数22),仕分数23 = SUM(仕分数23),仕分数24 = SUM(仕分数24),
						仕分数25 = SUM(仕分数25),仕分数26 = SUM(仕分数26),仕分数27 = SUM(仕分数27),
						仕分数28 = SUM(仕分数28),仕分数29 = SUM(仕分数29),仕分数30 = SUM(仕分数30)
					FROM #WkTbl_Revit
					WHERE 製品NO <> '9999999'
					GROUP BY 追番R,製品NO,仕様NO
							--,W,D,H--2020/02/08 DEL
				) AS B
			ON  (
					A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				AND A.追番R = B.追番R--2019/12/12 ADD
				--AND	A.W = B.W
				--AND	A.D = B.D
				--AND	A.H = B.H
				)
			WHEN MATCHED THEN
				UPDATE
					SET --A.総数量 = B.総数量,
						A.転用数 = CASE WHEN @i仕分番号 = 0 THEN B.転用数 ELSE A.転用数 END,

						A.仕分数1 = CASE WHEN @i仕分番号 = 1 THEN B.仕分数1 ELSE A.仕分数1 END,
						A.仕分数2 = CASE WHEN @i仕分番号 = 2 THEN B.仕分数2 ELSE A.仕分数2 END,
						A.仕分数3 = CASE WHEN @i仕分番号 = 3 THEN B.仕分数3 ELSE A.仕分数3 END,
						A.仕分数4 = CASE WHEN @i仕分番号 = 4 THEN B.仕分数4 ELSE A.仕分数4 END,
						A.仕分数5 = CASE WHEN @i仕分番号 = 5 THEN B.仕分数5 ELSE A.仕分数5 END,
						A.仕分数6 = CASE WHEN @i仕分番号 = 6 THEN B.仕分数6 ELSE A.仕分数6 END,
						A.仕分数7 = CASE WHEN @i仕分番号 = 7 THEN B.仕分数7 ELSE A.仕分数7 END,
						A.仕分数8 = CASE WHEN @i仕分番号 = 8 THEN B.仕分数8 ELSE A.仕分数8 END,
						A.仕分数9 = CASE WHEN @i仕分番号 = 9 THEN B.仕分数9 ELSE A.仕分数9 END,
						A.仕分数10 = CASE WHEN @i仕分番号 = 10 THEN B.仕分数10 ELSE A.仕分数10 END,
						A.仕分数11 = CASE WHEN @i仕分番号 = 11 THEN B.仕分数11 ELSE A.仕分数11 END,
						A.仕分数12 = CASE WHEN @i仕分番号 = 12 THEN B.仕分数12 ELSE A.仕分数12 END,
						A.仕分数13 = CASE WHEN @i仕分番号 = 13 THEN B.仕分数13 ELSE A.仕分数13 END,
						A.仕分数14 = CASE WHEN @i仕分番号 = 14 THEN B.仕分数14 ELSE A.仕分数14 END,
						A.仕分数15 = CASE WHEN @i仕分番号 = 15 THEN B.仕分数15 ELSE A.仕分数15 END,
						A.仕分数16 = CASE WHEN @i仕分番号 = 16 THEN B.仕分数16 ELSE A.仕分数16 END,
						A.仕分数17 = CASE WHEN @i仕分番号 = 17 THEN B.仕分数17 ELSE A.仕分数17 END,
						A.仕分数18 = CASE WHEN @i仕分番号 = 18 THEN B.仕分数18 ELSE A.仕分数18 END,
						A.仕分数19 = CASE WHEN @i仕分番号 = 19 THEN B.仕分数19 ELSE A.仕分数19 END,
						A.仕分数20 = CASE WHEN @i仕分番号 = 20 THEN B.仕分数20 ELSE A.仕分数20 END,
						A.仕分数21 = CASE WHEN @i仕分番号 = 21 THEN B.仕分数21 ELSE A.仕分数21 END,
						A.仕分数22 = CASE WHEN @i仕分番号 = 22 THEN B.仕分数22 ELSE A.仕分数22 END,
						A.仕分数23 = CASE WHEN @i仕分番号 = 23 THEN B.仕分数23 ELSE A.仕分数23 END,
						A.仕分数24 = CASE WHEN @i仕分番号 = 24 THEN B.仕分数24 ELSE A.仕分数24 END,
						A.仕分数25 = CASE WHEN @i仕分番号 = 25 THEN B.仕分数25 ELSE A.仕分数25 END,
						A.仕分数26 = CASE WHEN @i仕分番号 = 26 THEN B.仕分数26 ELSE A.仕分数26 END,
						A.仕分数27 = CASE WHEN @i仕分番号 = 27 THEN B.仕分数27 ELSE A.仕分数27 END,
						A.仕分数28 = CASE WHEN @i仕分番号 = 28 THEN B.仕分数28 ELSE A.仕分数28 END,
						A.仕分数29 = CASE WHEN @i仕分番号 = 29 THEN B.仕分数29 ELSE A.仕分数29 END,
						A.仕分数30 = CASE WHEN @i仕分番号 = 30 THEN B.仕分数30 ELSE A.仕分数30 END
					------SET A.総数量 = A.総数量 + B.総数量,
					------	A.仕分数1 = A.仕分数1 + B.仕分数1,
					------	A.仕分数2 = A.仕分数2 + B.仕分数2,
					------	A.仕分数3 = A.仕分数3 + B.仕分数3,
					------	A.仕分数4 = A.仕分数4 + B.仕分数4,
					------	A.仕分数5 = A.仕分数5 + B.仕分数5,
					------	A.仕分数6 = A.仕分数6 + B.仕分数6,
					------	A.仕分数7 = A.仕分数7 + B.仕分数7,
					------	A.仕分数8 = A.仕分数8 + B.仕分数8,
					------	A.仕分数9 = A.仕分数9 + B.仕分数9,
					------	A.仕分数10 = A.仕分数10 + B.仕分数10,
					------	A.仕分数11 = A.仕分数11 + B.仕分数11,
					------	A.仕分数12 = A.仕分数12 + B.仕分数12,
					------	A.仕分数13 = A.仕分数13 + B.仕分数13,
					------	A.仕分数14 = A.仕分数14 + B.仕分数14,
					------	A.仕分数15 = A.仕分数15 + B.仕分数15,
					------	A.仕分数16 = A.仕分数16 + B.仕分数16,
					------	A.仕分数17 = A.仕分数17 + B.仕分数17,
					------	A.仕分数18 = A.仕分数18 + B.仕分数18,
					------	A.仕分数19 = A.仕分数19 + B.仕分数19,
					------	A.仕分数20 = A.仕分数20 + B.仕分数20,
					------	A.仕分数21 = A.仕分数21 + B.仕分数21,
					------	A.仕分数22 = A.仕分数22 + B.仕分数22,
					------	A.仕分数23 = A.仕分数23 + B.仕分数23,
					------	A.仕分数24 = A.仕分数24 + B.仕分数24,
					------	A.仕分数25 = A.仕分数25 + B.仕分数25,
					------	A.仕分数26 = A.仕分数26 + B.仕分数26,
					------	A.仕分数27 = A.仕分数27 + B.仕分数27,
					------	A.仕分数28 = A.仕分数28 + B.仕分数28,
					------	A.仕分数29 = A.仕分数29 + B.仕分数29,
					------	A.仕分数30 = A.仕分数30 + B.仕分数30
			WHEN NOT MATCHED THEN
				INSERT
						(
							見積明細連番, 見積番号, 行番号, 追番, 
							追番R,--2019/12/12 ADD
							展開CHK, 見積区分,
							クレーム明細区分,--2016/06/22 ADD
							SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
							W, D, H, D1, D2, H1, H2, 
							エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, 
							仕入金額, 売上金額, 売上税区分, 消費税額, 
							仕入業者CD, 仕入業者名,--2017/05/22 ADD
							仕入先CD, 仕入先名,
							作業区分CD,--2016/06/22 ADD
							配送先CD, 配送先名, 
							明細備考,
							--入出庫日,--2018/05/03 ADD
							入庫日,出庫日,--2020/09/19 ADD
							社内在庫数, 客先在庫数, 
							転用数, 
							発注数, 総数量, 製品区分, 
							発注調整数,--2014/09/09 ADD
							仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
							仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
							仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
							社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
							,他社伝票番号--2015/02/04 ADD
							,他社納品日付--2015/09/29 ADD
						)
					VALUES
						(
							NULL, @i見積番号, 99999+B.行番号, 0, 
							B.追番R,
							0, '',
							0,
							'', '', B.製品NO, B.仕様NO, '', B.漢字名称, 
							--B.W, B.D, B.H, 0, 0, 0, 0, --2020/02/08 DEL
							0, 0, 0, 0, 0, 0, 0, --2020/02/08 ADD
							'', 0, '', 0, 0, 0, 0, 0, '', '', 
							0, 0, 0, 0, 
							'', '',
							'', '',
							0,
							'', '', 
							'',
							--NULL,--2018/05/03 ADD
							NULL,NULL,--2020/09/19 ADD
							0, 0,
							B.転用数,
							0, B.総数量, 0, 
							0,
							B.仕分数1,B.仕分数2,B.仕分数3,
							B.仕分数4,B.仕分数5,B.仕分数6,
							B.仕分数7,B.仕分数8,B.仕分数9,
							B.仕分数10,B.仕分数11,B.仕分数12,
							B.仕分数13,B.仕分数14,B.仕分数15,
							B.仕分数16,B.仕分数17,B.仕分数18,
							B.仕分数19,B.仕分数20,B.仕分数21,
							B.仕分数22,B.仕分数23,B.仕分数24,
							B.仕分数25,B.仕分数26,B.仕分数27,
							B.仕分数28,B.仕分数29,B.仕分数30,
							0, 0, 0
							,''
							,NULL
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--------------------------------------------------
	--製品NO未定（9999999）は名前も集計対象にして追加
	--------------------------------------------------
		INSERT #WkTbl
				(
					見積明細連番, 見積番号, 行番号, 追番, 
					追番R,--2019/12/12 ADD
					展開CHK, 見積区分,
					クレーム明細区分,--2016/06/22 ADD
					SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
					W, D, H, D1, D2, H1, H2, 
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分, 
					仕入金額, 売上金額, 売上税区分, 消費税額, 
					仕入業者CD, 仕入業者名,--2017/05/22 ADD
					仕入先CD, 仕入先名,
					作業区分CD,--2016/06/22 ADD
					配送先CD, 配送先名, 
					明細備考,
					--入出庫日,--2018/05/03 ADD
					入庫日,出庫日,--2020/09/19 ADD
					社内在庫数, 客先在庫数, 
					転用数, 
					発注数, 総数量, 製品区分, 
					発注調整数,--2014/09/09 ADD
					仕分数1, 仕分数2, 仕分数3, 仕分数4, 仕分数5, 仕分数6, 仕分数7, 仕分数8, 仕分数9, 仕分数10, 
					仕分数11, 仕分数12, 仕分数13, 仕分数14, 仕分数15, 仕分数16, 仕分数17, 仕分数18, 仕分数19, 仕分数20, 
					仕分数21, 仕分数22, 仕分数23, 仕分数24, 仕分数25, 仕分数26, 仕分数27, 仕分数28, 仕分数29, 仕分数30,
					社内在庫数FLG, 社内適正在庫数FLG, 客先在庫数FLG	--2009/10/07 ADD
					,他社伝票番号--2015/02/04 ADD
					,他社納品日付--2015/09/29 ADD
				)


			SELECT	NULL, @i見積番号, 99999+MAX(B.行番号), 0, 
					B.追番R,--2019/12/12 ADD
					0, '',
					0,
					'', '', B.製品NO, B.仕様NO, '', B.漢字名称, 
					B.W, B.D, B.H, 0, 0, 0, 0, 
					'', 0, '', 0, 0, 0, 0, 0, '', '', 
					0, 0, 0, 0, 
					'', '',
					'', '',
					0,
					'', '', 
					'',
					--NULL,--2018/05/03 ADD
					NULL,NULL,--2020/09/19 ADD
					0, 0,
					転用数 = SUM(B.転用数),
					0, 総数量 = SUM(B.総数量), 0, 
					0,
					仕分数1 = SUM(仕分数1),仕分数2 = SUM(仕分数2),仕分数3 = SUM(仕分数3),
					仕分数4 = SUM(仕分数4),仕分数5 = SUM(仕分数5),仕分数6 = SUM(仕分数6),
					仕分数7 = SUM(仕分数7),仕分数8 = SUM(仕分数8),仕分数9 = SUM(仕分数9),
					仕分数10 = SUM(仕分数10),仕分数11 = SUM(仕分数11),仕分数12 = SUM(仕分数12),
					仕分数13 = SUM(仕分数13),仕分数14 = SUM(仕分数14),仕分数15 = SUM(仕分数15),
					仕分数16 = SUM(仕分数16),仕分数17 = SUM(仕分数17),仕分数18 = SUM(仕分数18),
					仕分数19 = SUM(仕分数19),仕分数20 = SUM(仕分数20),仕分数21 = SUM(仕分数21),
					仕分数22 = SUM(仕分数22),仕分数23 = SUM(仕分数23),仕分数24 = SUM(仕分数24),
					仕分数25 = SUM(仕分数25),仕分数26 = SUM(仕分数26),仕分数27 = SUM(仕分数27),
					仕分数28 = SUM(仕分数28),仕分数29 = SUM(仕分数29),仕分数30 = SUM(仕分数30),
					0, 0, 0
					,''
					,NULL
				FROM #WkTbl_Revit AS B
				WHERE 製品NO = '9999999'
				GROUP BY 追番R,製品NO,仕様NO,漢字名称,W,D,H

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--連番付け
	--------------------------------------------------
	UPDATE #WkTbl
			SET 行番号 = 連番
			FROM #WkTbl
				INNER JOIN
					(
						SELECT	行番号,製品NO,仕様NO,
								W, D, H,
								追番R,--2019/12/12 ADD
								連番 = ROW_NUMBER() OVER (ORDER BY 行番号)
							FROM #WkTbl
							--	LEFT JOIN
							--		(
							--		SELECT 	見積番号, MAX(行番号) 最大行番号
							--			FROM	 #WkTbl
							--			GROUP BY 	見積番号
							--		) AS CD 
							--		ON 	D.見積番号 = CD.見積番号
							--WHERE	行番号 = 99999
							----ORDER BY 製品NO,仕様NO
					) AS A
					ON #WkTbl.製品NO = A.製品NO
					AND #WkTbl.仕様NO = A.仕様NO
					AND #WkTbl.行番号 = A.行番号
					AND #WkTbl.W = A.W
					AND #WkTbl.D = A.D
					AND #WkTbl.H = A.H
					AND #WkTbl.追番R = A.追番R--2019/12/12 ADD

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--付加情報セット
	--カーソルを開きます
	--------------------------------------------------
	DECLARE	csr見積明細		CURSOR LOCAL FORWARD_ONLY FOR 
			SELECT	見積明細連番, 見積番号, 行番号, 追番, 展開CHK, 見積区分,
					クレーム明細区分,--2016/06/22 ADD
					SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),
					他社納品日付,--2015/09/29 ADD
					他社伝票番号,--2015/02/04 ADD
					漢字名称, W, D, H, D1, D2, H1, H2,
					エラー内容, 見積数量, 単位名, 定価, 仕入単価, 仕入率, 売上単価, 売上率, U区分, M区分,
					仕入金額, 売上金額, 売上税区分, 消費税額,
					仕入業者CD, 仕入業者名,--2017/05/22 ADD
					仕入先CD,  仕入先名,
					作業区分CD,--2016/06/22 ADD
					配送先CD, 配送先名,
					明細備考,
					--入出庫日,--2018/05/03 ADD
					入庫日,出庫日,--2020/09/19 ADD
					追番R,--2019/12/12 ADD
					社内在庫数, 客先在庫数, 転用数, 発注数,総数量,製品区分,
					発注調整数,--2014/09/09 ADD
					仕分数1,仕分数2,仕分数3,仕分数4,仕分数5,仕分数6,仕分数7,仕分数8,仕分数9,仕分数10,
					仕分数11,仕分数12,仕分数13,仕分数14,仕分数15,仕分数16,仕分数17,仕分数18,仕分数19,仕分数20,
					仕分数21,仕分数22,仕分数23,仕分数24,仕分数25,仕分数26,仕分数27,仕分数28,仕分数29,仕分数30
				FROM	#WkTbl
				ORDER BY	行番号

	OPEN	 csr見積明細
	
	SELECT	@ST = @@ERROR, @ROWS見積 = @@CURSOR_ROWS
 	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS見積 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END


	FETCH NEXT FROM  csr見積明細
		INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
				@c展開CHK,@c見積区分,
				@cクレーム明細区分,--2016/06/22 ADD
				@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,
				@c他社納品日付,--2015/09/29 ADD
				@c他社伝票番号,--2015/02/04 ADD
				@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
				@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
				@c仕入業者CD,@c仕入業者名,--2017/05/22 ADD
				@c仕入先CD,@c仕入先名,
				@c作業区分CD,--2016/06/22 ADD
				@c配送先CD,@c配送先名,
				@c明細備考,
				--@c入出庫日,--2018/05/03 ADD
				@c入庫日,@c出庫日,--2020/09/19 ADD
				@c追番R,--2019/12/12 ADD
				@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
				@c発注調整数,--2014/09/09 ADD
				@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
				@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
				@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
FETCH_SP:
		SET @ST = @@ERROR
		IF ( @@FETCH_STATUS <> 0 ) GOTO SELECT_SP
		--------------------------------------------------
		--製品NOがない明細の場合
		--------------------------------------------------
		IF @c製品NO = '' AND @cPC区分 = ''	BEGIN
			IF @c漢字名称 <> '' 
				GOTO FETCH_NEXT
			ELSE BEGIN
				GOTO TEMP_NOCONV
			END
		END
		--------------------------------------------------
		--製品情報マスタよりマスタ情報を取得します。
		--------------------------------------------------
		SET @製品区分 = NULL

		EXEC @ST = usp_Get製品区分 @cPC区分, @c製品NO, @c仕様NO, 
					@製品区分 OUTPUT , @RetST OUTPUT , @RetMsg OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		--------------------------------------------------
		--製品情報に該当するものがない場合
		--------------------------------------------------
		IF @製品区分 IS NULL	BEGIN
			--PRINT 'NULL'
			GOTO TEMP_NOCONV
		END
		--0:製品 1:品群 2:ユニット 3:PCマスタ
		IF @製品区分 = 0 BEGIN
			--PRINT 'GOTO SEIHIN_SP'
			GOTO SEIHIN_SP
		END
		IF @製品区分 = 1 BEGIN
			--PRINT 'GOTO HINGUN_SP:' + CONVERT(VARCHAR(1),@製品区分)
			GOTO HINGUN_SP
		END
		IF @製品区分 = 2 BEGIN
			--PRINT 'GOTO UNIT_SP'
			GOTO UNIT_SP
		END
		IF @製品区分 = 3 BEGIN
			--PRINT 'GOTO PC_SP'
			GOTO PC_SP
		END

SEIHIN_SP:
		--PRINT 'SEIHIN_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
/*		SELECT 
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@cW = (CASE @cW WHEN 0 THEN W ELSE @cW END),
			@cD = (CASE @cD WHEN 0 THEN D ELSE @cD END),
			@cH = (CASE @cH WHEN 0 THEN H ELSE @cH END),
			@cD1 = (CASE @cD1 WHEN 0 THEN D1 ELSE @cD1 END),
			@cD2 = (CASE @cD2 WHEN 0 THEN D2 ELSE @cD2 END),
			@cH1 = (CASE @cH1 WHEN 0 THEN H1 ELSE @cH1 END),
			@cH2 = (CASE @cH2 WHEN 0 THEN H2 ELSE @cH2 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			@c売上税区分 = MS.売上税区分,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			--AND		@cPC区分 = ''

*/		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		GOTO HAISO_SP

PC_SP:
		--PRINT 'PC_SP'
		--------------------------------------------------
		--ＰＣマスタに該当した場合
		--------------------------------------------------
		SELECT 
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@cW = (CASE @cW WHEN 0 THEN W ELSE @cW END),
			@cD = (CASE @cD WHEN 0 THEN D ELSE @cD END),
			@cH = (CASE @cH WHEN 0 THEN H ELSE @cH END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c仕入単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
									ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END) END,
			@c売上単価 = CASE WHEN @c売上単価 <> 0 THEN @c売上単価 
				ELSE (CASE WHEN UPPER(@cM区分) <> '' THEN @c売上単価 
					ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口売上単価,MS.売上単価) 
									ELSE COALESCE(MT.小口売上単価,MS.売上単価) END) END) END,
			@c売上税区分 = MS.売上税区分,
			@c仕入先名 = CASE @c仕入先CD WHEN '' THEN ISNULL(SI.略称,'') ELSE @c仕入先名 END,
			@c仕入先CD = CASE @c仕入先CD WHEN '' THEN MS.主仕入先CD ELSE @c仕入先CD END
			FROM		TMPC AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.PC区分 = MT.PC区分
				LEFT JOIN (SELECT 仕入先CD,略称 FROM TM仕入先
					) AS SI
						ON MS.主仕入先CD = SI.仕入先CD
			WHERE	MS.製品NO = @c製品NO
			AND		MS.PC区分 = @cPC区分

		GOTO HAISO_SP

HINGUN_SP:
		--PRINT 'HINGUN_SP'
		--------------------------------------------------
		--品群マスタに該当した場合
		--------------------------------------------------
		SELECT 
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 品群名称 ELSE @c漢字名称 END)
			FROM		TM品群 AS MS
			WHERE	MS.品群NO = @c製品NO

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

		GOTO HAISO_SP

UNIT_SP:
		--PRINT 'UNIT_SP'
		--------------------------------------------------
		--ユニットマスタに該当した場合
		--------------------------------------------------
		SELECT 
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN ユニット名 ELSE @c漢字名称 END)
			FROM		TMユニット AS MS
			WHERE	MS.ユニットNO = @c製品NO

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

HAISO_SP:
		--PRINT 'HAISO_SP'
		--------------------------------------------------
		--配送先CDを'01'で固定セット
		--------------------------------------------------
		--SET	@c配送先CD = '01'
		--SET	@c配送先名 = (SELECT 略称 FROM TM配送先 WHERE 配送先CD = '01')

TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。
		--------------------------------------------------
		UPDATE 	#WkTbl
			SET	ベース色 = @cベース色,
				漢字名称 = @c漢字名称,
				W = @cW,
				D = @cD,
				H = @cH,
				D1 = @cD1,
				D2 = @cD2,
				H1 = @cH1,
				H2 = @cH2,
				単位名 = @c単位名,
				定価 = @c定価,
				仕入単価 = @c仕入単価,
				売上単価 = @c売上単価,
				売上税区分 = @c売上税区分,
				仕入先CD = @c仕入先CD,
				仕入先名 = @c仕入先名,
				配送先CD = @c配送先CD,
				配送先名 = @c配送先名
		WHERE 	行番号 = @c行番号

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP


FETCH_NEXT:
		FETCH NEXT FROM  csr見積明細
			INTO	@c見積明細連番,@c見積番号, @c行番号,@c追番,
					@c展開CHK,@c見積区分,
					@cクレーム明細区分,--2016/06/22 ADD
					@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,
					@c他社納品日付,--2015/09/29 ADD
					@c他社伝票番号,--2015/02/04 ADD
					@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容,@c見積数量,@c単位名,@c定価,@c仕入単価,@c仕入率,@c売上単価,@c売上率,@cU区分,@cM区分,
					@c仕入金額,@c売上金額,@c売上税区分,@c消費税額,
					@c仕入業者CD,@c仕入業者名,--2017/05/22 ADD
					@c仕入先CD,@c仕入先名,
					@c作業区分CD,--2016/06/22 ADD
					@c配送先CD,@c配送先名,
					@c明細備考,
					--@c入出庫日,--2018/05/03 ADD
					@c入庫日,@c出庫日,--2020/09/19 ADD
					@c追番R,--2019/12/12 ADD
					@c社内在庫数,@c客先在庫数,@c転用数,@c発注数,@c総数量,@c製品区分,
					@c発注調整数,--2014/09/09 ADD
					@c仕分数1,@c仕分数2,@c仕分数3,@c仕分数4,@c仕分数5,@c仕分数6,@c仕分数7,@c仕分数8,@c仕分数9,@c仕分数10,
					@c仕分数11,@c仕分数12,@c仕分数13,@c仕分数14,@c仕分数15,@c仕分数16,@c仕分数17,@c仕分数18,@c仕分数19,@c仕分数20,
					@c仕分数21,@c仕分数22,@c仕分数23,@c仕分数24,@c仕分数25,@c仕分数26,@c仕分数27,@c仕分数28,@c仕分数29,@c仕分数30



	--PRINT 'GOTO FETCH_SP'
	GOTO FETCH_SP

SELECT_SP:
	--------------------------------------------------
	--再表示用
	--------------------------------------------------
	--2014/09/09 DEL↓
	----SELECT WK.*
	----	FROM #WkTbl AS WK
	----	ORDER BY WK.見積番号,WK.行番号
	--2014/09/09 DEL↑

	--2014/09/09 ADD↓
	SELECT	WK.*,
			仕入済数 = ISNULL(SRM.仕入済数,0),
			仕入済CNT = ISNULL(SRM.仕入済CNT,0),--2018/06/19 ADD
			売上済CNT = ISNULL(UM.売上済CNT,0)
		FROM #WkTbl AS WK
		LEFT JOIN   (
					SELECT 見積明細連番, 仕入済数 = SUM(仕入数量),
							仕入済CNT = COUNT(見積明細連番)--2018/06/19 ADD
						FROM TD仕入明細内訳
	                    GROUP BY 見積明細連番
					)AS SRM
					ON WK.見積明細連番 = SRM.見積明細連番
		LEFT JOIN   (
					SELECT 見積明細連番, 売上済CNT = COUNT(見積明細連番)
						FROM TD売上明細v2
	                    GROUP BY 見積明細連番
					)AS UM
					ON WK.見積明細連番 = UM.見積明細連番
--		ORDER BY WK.見積番号,WK.行番号
		ORDER BY WK.行番号

	
	
--DROP TABLE #WkTbl
--DROP TABLE #WkTbl_Revit


EXIT_SP:
 	IF( CURSOR_STATUS( 'LOCAL', 'csr見積明細' ) >= 0 )	BEGIN
		CLOSE	csr見積明細
		DEALLOCATE	csr見積明細
	END
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
