/****** Object:  StoredProcedure [dbo].[usp_SE1100売掛金元帳M]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE1100売掛金元帳M]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE1100売掛金元帳M]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE1100売掛金元帳M

機能	指定された条件で請求明細を作成する

引数	

戻り値	

修正履歴
	2002/11/28	売上区分(掛・現金)をテーブルに追加
	2002/11/29	伝票合計・消費税明細追加
	2003/11/04	kawamura 	伝票区分はVARCHAR(1)に変更
	2003/12/10 	kawamura 	行管理番号を900→9000
	2004/01/21 	kawamura 	税集計区分の混在対応
	2010/01/28	oosawa	伝票単位の場合でもおかしな最終消費税行が出てしまっていた
					（税集計区分が変更されている場合のみ？）
					
	2014/10/18	oosawa		新売上バージョン
	2015/03/02	oosawa		製品NO 7→12
							仕様NO 7→10
	2016/04/07	oosawa		税集計区分=3:免税の場合NULLになっていた

*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE1100売掛金元帳M]
	@i得意先CD	VARCHAR(4) = NULL,
	@iSDATE		DATETIME,
	@iEDATE		DATETIME,
	
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT

AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--トランザクション開始
	BEGIN	TRAN

	--ワークテーブル作成
	CREATE TABLE #wk_元帳明細 (
		得意先CD	VARCHAR(4)	NOT NULL,
		日付		DATETIME	NULL,
		区分		INT		NOT NULL,
		--伝票番号	INT		NOT NULL,
		見積番号 	INT 		NULL,
		仕分番号	VARCHAR(2) 	NULL,
		--行番号 	INT 		NULL,
		見積行番号 	INT 		NULL,
		伝票区分 	VARCHAR(1) 	NULL,
		PC区分 	VARCHAR(1) 	NULL,
		--製品NO 	CHAR(7)	NULL,
		--仕様NO 	CHAR(7)	NULL,
		製品NO 	CHAR(12)	NULL,--2015/03/02 ADD
		仕様NO 	CHAR(10)	NULL,--2015/03/02 ADD
		品名 	 	VARCHAR(40) NULL,
		W		SMALLINT	NULL,
		D 		SMALLINT 	NULL,
		H 		SMALLINT 	NULL,
		D1 		SMALLINT 	NULL,
		D2 		SMALLINT 	NULL,
		H1 		SMALLINT 	NULL,
		H2 		SMALLINT 	NULL,
		数量		MONEY 	NULL,
		単位名		VARCHAR(6)	NULL,		
		単価 		MONEY 	NULL,
		金額 		MONEY	NULL,
		納入先名1 	VARCHAR(28) NULL
		) ON [PRIMARY]
	SET @ST = @@ERROR
	IF (@ST <> 0)	BEGIN
		SET @MSG = 'ワークテーブル作成エラー'
		GOTO EXIT_SP
	END

	------------------------------------------------------------------
	--売上明細作成
	------------------------------------------------------------------
	INSERT INTO #wk_元帳明細
			(
				得意先CD, 日付, 区分, 見積番号,
				仕分番号,
				見積行番号, 
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1
			)
		SELECT 	MH.得意先CD, USH.請求日付, 0 AS 区分, USH.見積番号,
				仕分番号 = UM.特別区分,
				見積行番号 = ISNULL(MS.行番号,0),
				UM.伝票区分, UM.PC区分, UM.製品NO, UM.仕様NO, UM.漢字名称, 
				UM.W, UM.D, UM.H, UM.D1, UM.D2, UM.H1, UM.H2,
				UM.売上数量, UM.単位名, UM.売上単価, UM.売上金額, MH.納入先名1
			FROM	TD売上請求H AS USH
				INNER JOIN	TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
				INNER JOIN	TD売上v2 AS UH
					ON USH.見積番号 = UH.見積番号
				INNER JOIN	TD売上明細V2 AS UM
					ON UH.売上番号 = UM.売上番号
				LEFT JOIN	TD見積シートM AS MS
					ON UM.見積明細連番 = MS.見積明細連番
			WHERE 	MH.得意先CD = @i得意先CD
				AND 	USH.請求日付 >= @iSDATE
				AND 	USH.請求日付 <= @iEDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------------
	--伝票毎消費税額作成(区分=0 仕分番号=ZZ 枝番=9000)
	------------------------------------------------------------------
	INSERT INTO #wk_元帳明細 
			(
				得意先CD, 日付, 区分, 見積番号, 
				仕分番号,
				見積行番号, 
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1
			)
		SELECT 	MH.得意先CD, USH.請求日付, CONVERT(INT,0) AS 区分, USH.見積番号, 
				'ZZ' AS 仕分番号,
				9000 AS 見積行番号,
				NULL, NULL, NULL, NULL, '　　　　　　【消費税額】',
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				NULL, NULL, NULL, 金額=(CONVERT(MONEY, ISNULL(USH.外税額,0))), NULL
			FROM	TD売上請求H AS USH
				INNER JOIN	TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
			WHERE 	MH.得意先CD 	= @i得意先CD
				AND 	USH.請求日付 >= @iSDATE
				AND 	USH.請求日付 <= @iEDATE
				AND 	USH.税集計区分 = 0
				AND 	ISNULL(USH.外税額,0) <> 0	--2004/01/21.ADD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	------------------------------------------------------------------
	--伝票合計作成(区分=0 仕分番号=ZZ 行番号=901)
	------------------------------------------------------------------
	INSERT INTO #wk_元帳明細 
			(
				得意先CD, 日付, 区分, 見積番号, 
				仕分番号,
				見積行番号, 
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1
			)
		SELECT 	MH.得意先CD, USH.請求日付, CONVERT(INT,0) AS 区分, USH.見積番号, 
				'ZZ' AS 仕分番号,
				9001 AS 見積行番号,
				NULL, NULL, NULL, NULL, '　　　　　　【売上伝票計】',
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				NULL, NULL, NULL, 
				--金額=(USH.合計金額 + CASE USH.税集計区分 WHEN 0 THEN USH.外税額 WHEN 1 THEN 0 END),
				金額=(USH.合計金額 + ISNULL(CASE USH.税集計区分 WHEN 0 THEN USH.外税額 WHEN 1 THEN 0 END,0)),--2016/04/07 ADD
				NULL
			FROM	TD売上請求H AS USH
				INNER JOIN	TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
			WHERE 	MH.得意先CD 	= @i得意先CD
				AND 	USH.請求日付 >= @iSDATE
				AND 	USH.請求日付 <= @iEDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	------------------------------------------------------------------
	--入金明細作成(区分=1 仕分番号=NULL 行番号=枝番)
	------------------------------------------------------------------
	INSERT INTO #wk_元帳明細
			(
				得意先CD, 日付, 区分, 見積番号,
				仕分番号,
				見積行番号, 
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1
			)
		SELECT 	得意先CD, 入金日付, CONVERT(INT,1), 入金番号,
				NULL,
				枝番, 
				NULL, NULL, NULL, 入金区分CD, 入金区分名,
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				NULL, NULL, NULL, 入金金額, NULL
			FROM 		TD入金
			WHERE	得意先CD = @i得意先CD
			    	AND 	入金日付 >= @iSDATE
			    	AND 	入金日付 <= @iEDATE

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------------------
	--請求単位の税明細作成(区分=2 仕分番号=ZZ 行番号=9000)
	------------------------------------------------------------------
	INSERT INTO #wk_元帳明細 
			(
				得意先CD, 日付, 区分, 見積番号, 
				仕分番号,
				見積行番号, 
				伝票区分, PC区分, 製品NO, 仕様NO, 品名,
				W, D, H, D1, D2, H1, H2, 
				数量, 単位名, 単価, 金額, 納入先名1
			)
--2010/01/28 ADD↓
		SELECT 	
				UH.得意先CD, @iEDATE, CONVERT(INT,2) AS 区分, 0 AS 見積番号, 
				'ZZ' AS 仕分番号,
				9000 AS 見積行番号,
				NULL, NULL, NULL, NULL, '　　　　　　【消費税額】',
				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
				NULL, NULL, NULL, (ISNULL(SK.消費税額,0)-ISNULL(U.外税額,0)) AS 金額, NULL
-- 			FROM 		TD売上 AS UH 
			FROM	(
				--請求単位が存在するか用のSELECT
				SELECT MH.得意先CD
					FROM	TD売上請求H AS USH
						INNER JOIN	TD見積 AS MH
							ON USH.見積番号 = MH.見積番号
					WHERE 	MH.得意先CD 	= @i得意先CD
						AND 	USH.請求日付 >= @iSDATE
						AND 	USH.請求日付 <= @iEDATE
						AND 	USH.税集計区分 = 1--請求単位
					GROUP BY MH.得意先CD
				) AS UH
			LEFT JOIN 
				(
				SELECT 得意先CD, 消費税額 
					FROM TM請求金額
					WHERE 	請求日付 = @iEDATE
						AND 	得意先CD = @i得意先CD
						AND 	伝票枚数 <> 0
				) AS SK 
				ON 	UH.得意先CD = SK.得意先CD
			--2004/01/21.ADD
			LEFT JOIN
				(
				SELECT 	MH.得意先CD, SUM(ISNULL(USH.外税額,0)) AS 外税額
					FROM	TD売上請求H AS USH
						INNER JOIN	TD見積 AS MH
							ON USH.見積番号 = MH.見積番号
					WHERE 	MH.得意先CD 	= @i得意先CD
						AND 	USH.請求日付 >= @iSDATE
						AND 	USH.請求日付 <= @iEDATE
						AND 	USH.税集計区分 = 0--伝票単位
						AND 	ISNULL(USH.外税額,0) <> 0
					GROUP BY MH.得意先CD
				) AS U
				ON 	U.得意先CD = SK.得意先CD
			----------------
			WHERE 	UH.得意先CD 	= @i得意先CD
-- 				AND 	税集計区分 = 1--請求単位
				--AND 	SK.消費税額 IS NOT NULL
				AND 	(ISNULL(SK.消費税額,0)-ISNULL(U.外税額,0)) <> 0
--2010/01/28 ADD↑
--2010/01/28 DEL↓
-- 		SELECT DISTINCT	
-- 				UH.得意先CD, @iEDATE, CONVERT(INT,2) AS 区分, 0 AS 売上番号, 0 AS 見積番号, 
-- 				'ZZ' AS 仕分番号, 9000 AS 行番号, 9000 AS 見積行番号,
-- 				NULL, NULL, NULL, NULL, '　　　　　　【消費税額】',
-- 				NULL, NULL, NULL, NULL, NULL, NULL, NULL,
-- 				NULL, NULL, NULL, (ISNULL(SK.消費税額,0)-ISNULL(U.外税額,0)) AS 金額, NULL
-- 			FROM 		TD売上 AS UH 
-- 			LEFT JOIN 	
-- 				(
-- 				SELECT 得意先CD, 消費税額 
-- 					FROM TM請求金額
-- 					WHERE 	請求日付 = @iEDATE
-- 						AND 	得意先CD = @i得意先CD
-- 						AND 	伝票枚数 <> 0
-- 				) AS SK 
-- 				ON 	UH.得意先CD = SK.得意先CD
-- 			--2004/01/21.ADD
-- 			LEFT JOIN
-- 				(
-- 				SELECT 	UH.得意先CD, ISNULL(UH.外税額,0) AS 外税額
-- 					FROM 		TD売上 AS UH 
-- 					WHERE 	UH.得意先CD 	= @i得意先CD
-- 						AND 	UH.請求日付 >= @iSDATE
-- 						AND 	UH.請求日付 <= @iEDATE
-- 						AND 	税集計区分 = 0
-- 						AND 	ISNULL(UH.外税額,0) <> 0
-- 				) AS U
-- 				ON 	U.得意先CD = SK.得意先CD
-- 			----------------
-- 			WHERE 	UH.得意先CD 	= @i得意先CD
-- 				AND 	税集計区分 = 1
-- 				--AND 	SK.消費税額 IS NOT NULL
-- 				AND 	(ISNULL(SK.消費税額,0)-ISNULL(U.外税額,0)) <> 0
--2010/01/28 DEL↑

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--明細が無い時空打ち用に空レコード作成(区分=3 仕分番号=NULL 行番号=0)
-- 	IF  EXISTS (SELECT 	得意先CD 
-- 				FROM 	#wk_元帳明細 
-- 				WHERE 得意先CD = @i得意先CD) 	BEGIN
	IF  NOT EXISTS (SELECT 	得意先CD 
				FROM 	TM請求金額 
				WHERE 	請求日付 = @iEDATE
					AND 	得意先CD = @i得意先CD
					AND 	伝票枚数 <> 0) 	BEGIN

		INSERT INTO #wk_元帳明細 
				(
					得意先CD, 日付, 区分, 見積番号,
					仕分番号,
					見積行番号, 
					伝票区分, PC区分, 製品NO, 仕様NO, 品名,
					W, D, H, D1, D2, H1, H2, 
					数量, 単位名, 単価, 金額, 納入先名1
				)
			VALUES
				(
					@i得意先CD, NULL, 3, 0,
					'',
					NULL,
					NULL, NULL, NULL, NULL, '',
					NULL, NULL, NULL, NULL, NULL, NULL, NULL,
					NULL, NULL, NULL, NULL, NULL
				)
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	END

	--セレクト
	SELECT * FROM #wk_元帳明細
		ORDER BY 得意先CD,日付,区分,見積番号,仕分番号, 見積行番号

--	DROP TABLE #WK_請求明細

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
