/****** Object:  StoredProcedure [dbo].[usp_LockData_py]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_LockData_py]
GO
/****** Object:  StoredProcedure [dbo].[usp_LockData_py]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROCEDURE [dbo].[usp_LockData_py]
	(
		@iDataName	VARCHAR(255),
		@iNumber	INT,
		@iDataCode	VARCHAR(255) = NULL,		--2003/09/04	ADD
		@iCheck	SMALLINT = 0,				--2003/09/04	ADD
		@iPCName	VARCHAR(255) = NULL,
		@RetST	INT			OUTPUT,
		@RetMSG	VARCHAR(255)	OUTPUT
	)
AS
/*
	機能	データのロックを行ないます。
	引数	@iDataName	テーブル名をセットする。
		@iNumber	テーブル内のレコード番号（伝票番号）をセットする。
		@iPCName	コンピュータ名を送る。
	EX)
		@iDataName=TM受注,@iNumber=121

	備考	データを読み込んだ時にこの処理を行なうようにする。
	　　　　トランザクション管理は呼び元で実施すること。
	　　　　呼び元でトランザクション管理しない場合は [dbo].[usp_LockData]を実行すること。

	2002/08/30	OOSAWA	作成
	2003/09/04	OOSAWA	仕入先CD毎にロックできるように修正
					@iDataCodeの追加
					ロックのチェックのみを行なえるように修正
					@iCheckを追加
*/

	SET	NOCOUNT ON

	--端末表示用
	DECLARE @wPCName	AS VARCHAR(255)

	DECLARE
		@TRAN	INT,
		@ST	INT,
		@MSG	NVARCHAR(256)
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--PCNameがない場合
	IF @iPCName IS NULL	BEGIN
		SET	@iPCName = HOST_NAME()
	END

	------------------------------------------------------------------------------------------
	--	トランザクションを開始します
	------------------------------------------------------------------------------------------
	-- BEGIN TRAN
	------------------------------------------------------------------------------------------
	--	ロック情報をセットします
	------------------------------------------------------------------------------------------
	--新規の場合 (伝票番号 = 0)
	IF @iNumber <> 0 BEGIN
--	ELSE BEGIN
		--同一DataName、同一Numberのロック情報があるか
		IF NOT EXISTS(SELECT DataName FROM AppLockData 
				WHERE	DataName = @iDataName
				AND		DataCode = COALESCE(@iDataCode,DataCode)		--2003/09/04	ADD
				AND	Number = @iNumber) BEGIN

			--ロックのチェックのみ(ロック情報は書き込まない)
			IF @iCheck = 1 GOTO EXIT_SP

			--ロック情報書き込み
			INSERT AppLockData
				(
					DataName,
					Number,
					PCName,
					DataCode,				--2003/09/04	ADD
					CreateDate
				)
				VALUES
				(
					@iDataName,
					@iNumber,
					@iPCName,
					COALESCE(@iDataCode,''),				--2003/09/04	ADD
					GETDATE()
				)
			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		END ELSE BEGIN
			--使用中のエラー
			SELECT	@wPCName = PCName
				FROM AppLockData
				WHERE	DataName = @iDataName
				AND		DataCode = COALESCE(@iDataCode,DataCode)		--2003/09/04	ADD
				AND		Number = @iNumber
			SET @ST = -1
			SET @MSG = '他端末('+ @wPCName +')で使用中です。'
		END
	END
EXIT_SP:

	IF (@ST = 0)	BEGIN
		-- IF(@@TRANCOUNT > @TRAN)	BEGIN
		-- 	COMMIT TRAN
		-- END
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		-- IF(@@TRANCOUNT > @TRAN)	BEGIN
		-- 	ROLLBACK TRAN
		-- END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
