/****** Object:  StoredProcedure [dbo].[usp_HD0100売上抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0100売上抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0100売上抽出]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	usp_HD0100売上抽出

	機能	指定された見積番号で売上Ｄを採用。
			存在する時　：売上Ｄ情報取得
					@RetDataKB = 1
					@RetDate = 請求日付　　--x売上日付
			存在しない時：見積Ｄ情報より[売上Ｄ][売上明細Ｄ][売上明細内訳Ｄ]を作成
					@RetDataKB = 0
					@RetDate = 納期s　or　納期e　--xシステム日付
					※売上明細内訳Ｄ作成時　
					　　・伝票区分、通常は[1:売上]、出精値引き明細は[3:訂正]
					　　・消費税額は製品Ｍの売上税区分にて算出
 =============================================

	2003/08/28	kawamura	
	2003/09/22	kawamura	サイズ[H1][H2]追加
	2003/10/15	kawamura 	仕入単価・仕入金額追加
	2003/11/04 	kawamura 	伝票区分はVARCHAR(1)に変更
	2003/11/19 	kawamura 	売上日付・請求日付は見積の納期Eをセット未入力時はオペ日
	2003/11/28	kawamura	処理高速化
	2003/12/08 	kawamura 	売上日付・請求日付は見積の納期Eをセット無い場合は納期Sをセットさらに無い場合はオペ日
	2004/02/05 	oosawa 	NULL対応
	2004/02/19 	kawamura 	出精値引は伝票区分=1(売上のマイナス)の考えに変更
					税額計算において単価訂正は含まない。
					外税対象額の集計変更：(売上＋返品)
					外税額の集計変更：(売上＋返品)＊税率
	2004/07/06 	oosawa 	処理高速化第二弾
	2004/12/02 	kawamura  	コメント処理[A][S]追加
	2005/07/05	kawamura	見積区分(1～9)の集計を追加
	2006/07/04	oosawa	仕入金額が合計の仕入金額を持ってきていたのを計算するように修正
	2010/03/13	oosawa	2008対応
	2013/03/15	oosawa		部署コード追加
	2014/04/01	oosawa		消費税計算日付をオペ日から納期に変更

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
 =============================================*/
CREATE	PROCEDURE	[dbo].[usp_HD0100売上抽出]
	(
	@i見積番号		INT,
	@CompName		VARCHAR(100),
	@RetDataKB		INT			OUTPUT,
	@RetDate		DATETIME		OUTPUT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS

	SET	NOCOUNT ON

	DECLARE 	@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--消費税用変数
	DECLARE	@TAX		MONEY

	--仕分名称チェック変数
	DECLARE 	@MAX仕分数番号	INT,
			@MAX仕分名称番号 	INT

	SET @MAX仕分数番号 = 0
	SET @MAX仕分名称番号 = 0

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑
	
	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	BEGIN TRAN

	--------------------------------------------------
	-- 	ワークテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #wk売上
		FROM Tmp売上
		WHERE 0 <> 0

-- 	SELECT * INTO #wk売上明細					--2004/07/6
-- 		FROM Tmp売上明細
-- 		WHERE 0 <> 0
	CREATE TABLE #wk売上明細
		(
		売上番号 int NOT NULL,
		売上行番号 int NOT NULL IDENTITY (1, 1),
		仕分番号 varchar(2) NOT NULL,
		仕分名称 varchar(20) NOT NULL,
		合計金額 money NOT NULL,
		初期登録日 datetime NULL,
		登録変更日 datetime NULL
		)  ON [PRIMARY]

	SELECT * INTO #wk売上明細内訳
		FROM Tmp売上明細内訳
		WHERE 0 <> 0

	--SELECT * FROM #Wk売上
	--SELECT * FROM #Wk売上明細
	--SELECT * FROM #Wk売上明細内訳
		--print 'bb'
	--------------------------------------------------
	-- 	売上Ｄをチェックします。
	--------------------------------------------------
	IF  EXISTS (SELECT 売上番号 FROM TD売上 WHERE 売上番号 = @i見積番号)  BEGIN

		SET 	@RetDataKB = 1

		------------------------------------------------------
		--売上抽出
		------------------------------------------------------
		INSERT INTO 	#wk売上
			(
			売上番号, 見積番号, 売上日付, 請求日付, 担当者CD, 見積件名,
			得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,
			納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
			郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者,
			納期S, 納期E, 備考, 現場名, 大小口区分, 
			合計金額, 税抜金額, 外税対象額, 外税額,
			請求年月日, 請求締日, 請求更新FLG,
			税集計区分, 売上端数, 消費税端数, 鏡番号,
			初期登録日, 登録変更日,
			--2013/03/15 ADD↓
			部署CD
			--2013/03/15 ADD↑
			)
		SELECT 
			売上番号, 見積番号, 売上日付, 請求日付, 担当者CD, 見積件名,
			得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,
			納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
			郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者,
			納期S, 納期E, 備考, 現場名, 大小口区分, 
			合計金額, 税抜金額, 外税対象額, 外税額,
			請求年月日, 請求締日, 請求更新FLG,
			税集計区分, 売上端数, 消費税端数, 鏡番号,
			初期登録日, 登録変更日,
			--2013/03/15 ADD↓
			部署CD
			--2013/03/15 ADD↑
			FROM 	TD売上
			WHERE 売上番号 = @i見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------------
		--売上明細抽出
		------------------------------------------------------
		SET IDENTITY_INSERT #wk売上明細 ON						--2004/07/06

		INSERT INTO 	#wk売上明細
			(
			売上番号, 売上行番号, 
			仕分番号, 仕分名称,
			合計金額, 
			初期登録日, 登録変更日
			)
		SELECT 
			売上番号, 売上行番号, 
			仕分番号, 仕分名称,
			合計金額, 
			初期登録日, 登録変更日
			FROM 	TD売上明細
			WHERE 売上番号 = @i見積番号
			ORDER BY 売上行番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		SET IDENTITY_INSERT #wk売上明細 OFF						--2004/07/06
		------------------------------------------------------
		--売上明細内訳抽出
		------------------------------------------------------
		INSERT INTO #wk売上明細内訳
			(
			売上番号, 売上行番号, 
			見積行番号, 売上明細行番号,
			伝票区分,
			SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
			W, D, H, D1, D2, H1, H2, エラー内容,
			売上数量, 見積数量, 単位名, 売上単価, 仕入単価, 売上金額, 仕入金額,
			定価, 売上税区分, 消費税額, 製品区分, 
			初期登録日, 登録変更日
			)
		SELECT 
			売上番号, 売上行番号, 
			見積行番号, 売上明細行番号,
			伝票区分,
			SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
			W, D, H, D1, D2, H1, H2, エラー内容,
			売上数量, 見積数量, 単位名, 売上単価, 仕入単価, 売上金額, 仕入金額,
			定価, 売上税区分, 消費税額, 製品区分, 
			初期登録日, 登録変更日
			FROM 	TD売上明細内訳
			WHERE 売上番号 = @i見積番号
			ORDER BY 売上行番号, 売上明細行番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END ELSE BEGIN
	
		--print 'cc'

		SET	@RetDataKB = 0
		
		--消費税抽出日付取得
		SELECT @RetDate = COALESCE (納期E, 納期S, CONVERT(CHAR(10),GETDATE(),111))
			FROM	TD見積
			WHERE	見積番号 = @i見積番号
		--SET	@RetDate = CONVERT(CHAR(10),GETDATE(),111)
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--------------------------------------------------
		-- 仕分数ＭＡＸ取得
		--------------------------------------------------
		SELECT 	@MAX仕分数番号 = MAX(仕分数MAX.仕分番号)
		FROM
			(
			SELECT 	見積番号, 仕分番号, SUM(数量) AS 数量
				FROM 	TD見積シート内訳
				WHERE 	見積番号 = @i見積番号
				GROUP BY 	見積番号, 仕分番号
				HAVING 	(SUM(数量) <> 0)
			) AS 仕分数MAX
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--------------------------------------------------
		-- 仕分名称ＭＡＸ取得
		--------------------------------------------------
		SELECT 	@MAX仕分名称番号 = MAX(仕分名称MAX.仕分番号)
		FROM
			(
			SELECT 	U.見積番号, U.仕分番号
				FROM 	TD見積シート内訳名称 AS U
				WHERE 	U.見積番号 = @i見積番号
			) AS 仕分名称MAX
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		IF ISNULL(@MAX仕分数番号,0) > ISNULL(@MAX仕分名称番号,0) BEGIN
			SET @ST = -1
			SET @MSG = '指定の見積番号は仕分名称が設定されていません。'
			GOTO EXIT_SP
		END

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------
		--見積より売上作成
		------------------------------------------------------
		INSERT INTO 	#wk売上
			(
			売上番号, 見積番号, 
			売上日付, 請求日付, 
			担当者CD, 見積件名,
			得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,
			納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
			郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者,
			納期S, 納期E, 備考, 現場名, 大小口区分, 
			合計金額, 税抜金額, 外税対象額, 外税額,
			請求年月日, 請求締日, 請求更新FLG,
			税集計区分, 売上端数, 消費税端数, 鏡番号,
			初期登録日, 登録変更日,
			--2013/03/15 ADD↓
			部署CD
			--2013/03/15 ADD↑
			)
		SELECT 
			見積番号, 見積番号, 
			--CONVERT(CHAR(10),GETDATE(),111) AS 売上日付, CONVERT(CHAR(10),GETDATE(),111) AS 請求日付, 
			--売上日付=(CASE WHEN D.納期E IS NULL THEN CONVERT(CHAR(10),GETDATE(),111) ELSE D.納期E END),
			--請求日付=(CASE WHEN D.納期E IS NULL THEN CONVERT(CHAR(10),GETDATE(),111) ELSE D.納期E END),
			COALESCE (D.納期E, D.納期S, CONVERT(CHAR(10),GETDATE(),111)) AS 売上日付,
			COALESCE (D.納期E, D.納期S, CONVERT(CHAR(10),GETDATE(),111)) AS 請求日付,
			D.担当者CD, 見積件名,
			D.得意先CD, D.得意先名1, D.得意先名2, 得TEL, 得FAX, 得意先担当者,
			納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
			D.郵便番号, D.住所1, D.住所2, 納TEL, 納FAX, 納入先担当者,
			納期S, 納期E, 備考, 現場名, 大小口区分, 
			合計金額, 0 AS 税抜金額, 0, 0,
			NULL, T.締日, 0,
			D.税集計区分, D.売上端数, D.消費税端数, 0,
			CONVERT(CHAR(10), GETDATE(),111), CONVERT(CHAR(10), GETDATE(),111),
			--2013/03/15 ADD↓
			D.部署CD
			--2013/03/15 ADD↑
			FROM 	TD見積 AS D
			LEFT JOIN TM得意先 AS T ON D.得意先CD = T.得意先CD
			WHERE 見積番号 = @i見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------------
		--見積より売上明細作成
		------------------------------------------------------
-- 		INSERT INTO 	#wk売上明細										--2004/07/06
-- 			(
-- 			売上番号, 売上行番号, 
-- 			仕分番号, 仕分名称,
-- 			合計金額,
-- 			初期登録日, 登録変更日
-- 			)
-- 			SELECT D.見積番号 AS 売上番号, 
-- 				--新行番号用
-- 				(
-- 				SELECT COUNT(*)+1 FROM 
-- 				(
-- 					--通常明細
-- 					--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
-- 					SELECT DISTINCT
-- 							MH.見積番号, 
-- 							RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号
-- 						FROM	TD見積 AS MH
-- 						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- 						INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
-- 						INNER JOIN TD見積シート内訳名称 AS MSUM
-- 							ON 	MSU.見積番号 = MSUM.見積番号
-- 							AND 	MSU.仕分番号 = MSUM.仕分番号
-- 						WHERE	MH.見積番号 = @i見積番号
-- 							--AND	MSU.数量 > 0
-- 							AND	MSU.数量 <> 0
-- 							--AND	MSM.見積数量 > 0
-- 							AND	MSM.客先在庫数 = 0
-- 							AND	MSM.転用数 = 0
-- 					UNION ALL 
-- 					--付属部材
-- 					--発注数があり、社内在庫数・客先在庫数・転用があるデータ
-- 					--内訳はいらない
-- 					SELECT DISTINCT 
-- 							MH.見積番号, 'Z9' AS 仕分番号
-- 						FROM	TD見積 AS MH
-- 						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- 						WHERE	MH.見積番号 = @i見積番号
-- 							--AND	MSM.見積数量 > 0
-- 							AND	MSM.見積数量 <> 0	--2003/12/08
-- 							AND	(MSM.客先在庫数 > 0
-- 							OR	MSM.転用数 > 0)
-- 					UNION ALL
-- 					--出精値引
-- 					SELECT	見積番号, 'ZA' AS 仕分番号
-- 						FROM		TD見積 AS MH
-- 						WHERE	見積番号 = @i見積番号
-- 						AND		出精値引 <> 0
-- 				) AS D1
-- 				WHERE 	D.見積番号 = D1.見積番号 
-- 						AND
-- 						(
-- 						D.仕分番号
-- 						>
-- 						D1.仕分番号
-- 						)
-- 				) AS 新行番号,
-- 			RIGHT('0'+CONVERT(VARCHAR(2),D.仕分番号),2) AS 仕分番号, 
-- 			D.仕分名称,
-- 			0 AS 合計金額,
-- 			CONVERT(CHAR(10), GETDATE(),111), CONVERT(CHAR(10), GETDATE(),111) 
-- 			--@w初期登録日, CONVERT(CHAR(10), GETDATE(),111)
-- 			FROM
-- 			(
-- 				--通常明細
-- 				--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
-- 				SELECT DISTINCT 
-- 						MH.見積番号 AS 売上番号, MH.見積番号, 
-- 						RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号,
-- 						MSUM.名称 AS 仕分名称
-- 					FROM	TD見積 AS MH
-- 					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- 					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
-- 					INNER JOIN TD見積シート内訳名称 AS MSUM 
-- 						ON 	MSU.見積番号 = MSUM.見積番号
-- 						AND MSU.仕分番号 = MSUM.仕分番号
-- 					WHERE	MH.見積番号 = @i見積番号
-- 						--AND	MSU.数量 > 0
-- 						AND	MSU.数量 <> 0
-- 						--AND	MSM.見積数量 > 0
-- 						AND	MSM.客先在庫数 = 0
-- 						AND	MSM.転用数 = 0
-- 				UNION ALL 
-- 				--付属部材
-- 				--発注数があり、社内在庫数・客先在庫数・転用があるデータ
-- 				--内訳はいらない
-- 				SELECT DISTINCT 
-- 						MH.見積番号 AS 売上番号, MH.見積番号, 
-- 						'Z9' AS 仕分番号, '付属部材' AS 仕分名称
-- 					FROM	TD見積 AS MH
-- 					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- 					WHERE	MH.見積番号 = @i見積番号
-- 						--AND	MSM.見積数量 > 0
-- 						AND	MSM.見積数量 <> 0	--2003/12/08
-- 						AND	(MSM.客先在庫数 > 0
-- 						OR	MSM.転用数 > 0)
-- 				UNION ALL
-- 				--出精値引
-- 				SELECT	MH.見積番号 AS 売上番号, MH.見積番号, 
-- 						'ZA' AS 仕分番号, '出精値引' AS 仕分名称 
-- 					FROM		TD見積 AS MH
-- 					WHERE	見積番号 = @i見積番号
-- 					AND		出精値引 <> 0
-- 			) AS D
-- 			ORDER BY     D.見積番号, D.仕分番号

		--通常明細作成												--2004/07/06
		INSERT INTO 	#wk売上明細
			(
			売上番号, --売上行番号, 
			仕分番号, 仕分名称,
			合計金額,
			初期登録日, 登録変更日
			)
				SELECT DISTINCT 
						MH.見積番号 AS 売上番号, --MH.見積番号, 
						RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号,
						MSUM.名称 AS 仕分名称,0,getdate(),getdate()
					FROM	TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
					INNER JOIN TD見積シート内訳名称 AS MSUM 
						ON 	MSU.見積番号 = MSUM.見積番号
						AND MSU.仕分番号 = MSUM.仕分番号
					WHERE	MH.見積番号 = @i見積番号
						--AND	MSU.数量 > 0
						AND	MSU.数量 <> 0
						--AND	MSM.見積数量 > 0
						AND	MSM.客先在庫数 = 0
						AND	MSM.転用数 = 0
					--ORDER BY     MH.見積番号, MSU.仕分番号	
					ORDER BY     MH.見積番号, 仕分番号	--2010/03/13 ADD
		--附属部材明細作成
		INSERT INTO 	#wk売上明細
			(
			売上番号, --売上行番号, 
			仕分番号, 仕分名称,
			合計金額,
			初期登録日, 登録変更日
			)
				SELECT DISTINCT 
						MH.見積番号 AS 売上番号,-- MH.見積番号, 
						'Z9' AS 仕分番号, '付属部材' AS 仕分名称,0,getdate(),getdate()
					FROM	TD見積 AS MH
					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
					WHERE	MH.見積番号 = @i見積番号
						AND	MSM.見積数量 <> 0	--2003/12/08
						AND	(MSM.客先在庫数 > 0
						OR	MSM.転用数 > 0)
		--出精値引明細作成
		INSERT INTO 	#wk売上明細
			(
			売上番号, --売上行番号, 
			仕分番号, 仕分名称,
			合計金額,
			初期登録日, 登録変更日
			)
				SELECT	MH.見積番号 AS 売上番号,-- MH.見積番号, 
						'ZA' AS 仕分番号, '出精値引' AS 仕分名称 ,0,getdate(),getdate()
					FROM		TD見積 AS MH
					WHERE	見積番号 = @i見積番号
					AND		出精値引 <> 0
	
			------------------------------------------------------
			--売上明細件数
			------------------------------------------------------
			DECLARE @CNT INT
			SELECT @CNT = COUNT(*)
				FROM #wk売上明細

---			IF @@ROWCOUNT = 0 BEGIN
			IF @CNT = 0 BEGIN
				SET @ST = -1
				SET @MSG = '指定の見積番号は売上明細が存在しません。'
				GOTO EXIT_SP
			END
		
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------
		--見積より売上明細内訳データ作成
		----ワークを作ってから連番付けを行なう
		------------------------------------------------------
-- 		SELECT * INTO #TBL										--2004/07/06
-- 			FROM (
-- 				SELECT D.見積番号 AS 売上番号, 
-- 				TP.売上行番号, 
-- 				D.項目 AS 見積行番号, 
-- 				--0 AS 新行番号,
-- 				D.伝票区分,
-- 				D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.ベース色, D.漢字名称, 
-- 				D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2, D.エラー内容,
-- 				D.数量 AS 売上数量, D.数量 AS 見積数量, D.単位名, D.売上単価, D.仕入単価, D.売上金額, 仕入金額,
-- 				D.定価, D.売上税区分, 0 AS 消費税額,D.製品区分,
-- 				CONVERT(CHAR(10), GETDATE(),111) AS 初期登録日, CONVERT(CHAR(10), GETDATE(),111) AS 登録変更日 
-- 				FROM
-- 				(
-- 					--通常明細
-- 					--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ
-- 					SELECT	MH.見積番号 AS 売上番号, MSM.行番号 AS 売上項目, MH.見積番号, MSM.行番号 AS 項目,
-- 							RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
-- 							--1 AS 伝票区分, 
-- 							伝票区分=(CASE WHEN MSM.見積区分 = 'C' THEN MSM.見積区分 ELSE '1' END),
-- 							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
-- 							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
-- 							MSU.数量, MSM.単位名, MSM.売上単価, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,0) AS 売上金額, 仕入金額,
-- 							MSM.定価, MSM.製品区分, MSM.見積区分,
-- 							(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.売上税区分,0) WHEN 3 THEN ISNULL(PC.売上税区分,0) ELSE 0 END) AS 売上税区分
-- 						FROM TD見積 AS MH
-- 						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- 						INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
-- 						LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
-- 						LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
-- 						WHERE	MH.見積番号 = @i見積番号
-- 							AND		(
-- 										SELECT  TOP 1 MSU1.数量
-- 										FROM TD見積シートM AS MSM1
-- 										INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
-- 										WHERE	MSM1.見積番号 = MSM.見積番号
-- 											AND 	MSM1.見積区分 = ''
-- 					 						AND 	MSU1.仕分番号 = MSU.仕分番号
-- 											AND 	MSM1.行番号 <= MSM.行番号
-- 										ORDER BY MSM1.行番号 DESC
-- 									) <> 0			--2003/11/04
-- 							AND		(
-- 										SELECT  TOP 1 MSM1.客先在庫数
-- 										FROM TD見積シートM AS MSM1
-- 										WHERE	MSM1.見積番号 = MSM.見積番号
-- 											AND 	MSM1.見積区分 = ''
-- 											AND 	MSM1.行番号 <= MSM.行番号
-- 										ORDER BY MSM1.行番号 DESC
-- 									) = 0			--2003/11/04
-- 							AND		(
-- 										SELECT  TOP 1 MSM1.転用数
-- 										FROM TD見積シートM AS MSM1
-- 										WHERE	MSM1.見積番号 = MSM.見積番号
-- 											AND 	MSM1.見積区分 = ''
-- 											AND 	MSM1.行番号 <= MSM.行番号
-- 										ORDER BY MSM1.行番号 DESC
-- 									) = 0			--2003/11/04
-- 					UNION ALL
-- 					--付属部材
-- 					--発注数があり、社内在庫数・客先在庫数・転用があるデータ
-- 					--内訳はいらない
-- 					SELECT	MH.見積番号 AS 売上番号, MSM.行番号 AS 売上項目, MH.見積番号, MSM.行番号 AS 項目,
-- 							'Z9' AS 仕分番号, 
-- 							--1 AS 伝票区分, 
-- 							伝票区分=(CASE WHEN MSM.見積区分 = 'C' THEN MSM.見積区分 ELSE '1' END),
-- 							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
-- 							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
-- 							MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.仕入単価, MSM.売上金額, 仕入金額,
-- 							MSM.定価, MSM.製品区分, MSM.見積区分, 
-- 							(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.売上税区分,0) WHEN 3 THEN ISNULL(PC.売上税区分,0) ELSE 0 END) AS 売上税区分
-- 						FROM		TD見積 AS MH
-- 						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
-- 						LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
-- 						LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
-- 						WHERE	MH.見積番号 = @i見積番号
-- 							AND		(
-- 										SELECT  TOP 1 MSM1.見積数量
-- 										FROM TD見積シートM AS MSM1
-- 										WHERE	MSM1.見積番号 = MSM.見積番号
-- 											AND 	MSM1.見積区分 = ''
-- 											AND 	MSM1.行番号 <= MSM.行番号
-- 										ORDER BY MSM1.行番号 DESC
-- 									--) > 0		--2003/11/04
-- 									) <> 0			--2003/12/08
-- 							AND		(
-- 									(
-- 										SELECT  TOP 1 MSM1.客先在庫数
-- 										FROM TD見積シートM AS MSM1
-- 										WHERE	MSM1.見積番号 = MSM.見積番号
-- 											AND 	MSM1.見積区分 = ''
-- 											AND 	MSM1.行番号 <= MSM.行番号
-- 										ORDER BY MSM1.行番号 DESC
-- 									) > 0			--2003/11/04
-- 							OR		(
-- 										SELECT  TOP 1 MSM1.転用数
-- 										FROM TD見積シートM AS MSM1
-- 										WHERE	MSM1.見積番号 = MSM.見積番号
-- 											AND 	MSM1.見積区分 = ''
-- 											AND 	MSM1.行番号 <= MSM.行番号
-- 										ORDER BY MSM1.行番号 DESC
-- 									) > 0			--2003/11/04
-- 									)
-- 					UNION ALL
-- 					--出精値引
-- 					SELECT	MH.見積番号 AS 売上番号, 0 AS 売上項目, MH.見積番号, 0 AS 項目,
-- 							'ZA' AS 仕分番号, 
-- 							'1' AS 伝票区分, '' AS SP区分, '' AS PC区分, '' AS 製品NO, '' AS 仕様NO, '' AS ベース色, '出精値引' AS 漢字名称, 		--2004.02.19.ADD
-- 							0 AS W, 0 AS D, 0 AS H, 0 AS D1, 0 AS D2, 0 AS H1, 0 AS H2, '' AS エラー内容,
-- 							0 AS 数量, '' AS 単位名, 0 AS 売上単価, 0 AS 仕入単価, 出精値引 AS 売上金額, 0 AS 仕入金額,
-- 							0 AS 定価, 0 AS 製品区分, '' AS 見積区分,
-- 							0 AS 売上税区分
-- 						FROM		TD見積 AS MH
-- 						WHERE	見積番号 = @i見積番号
-- 						AND		出精値引 <> 0
-- 				) AS D
-- 				INNER JOIN #wk売上明細 AS TP
-- 				ON D.仕分番号 = TP.仕分番号
-- 			) AS SYUUKEI

		SELECT * INTO #TBL										--2004/07/06
			FROM (
				SELECT D.見積番号 AS 売上番号, 
				TP.売上行番号, 
				D.項目 AS 見積行番号, 
				--0 AS 新行番号,
				--D.伝票区分,	--2005/07/05.DEL
				D.見積区分,		--2005/07/05.ADD
				D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.ベース色, D.漢字名称, 
				D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2, D.エラー内容,
				D.数量 AS 売上数量, D.数量 AS 見積数量, D.単位名, D.売上単価, D.仕入単価, D.売上金額, 仕入金額,
				D.定価, D.売上税区分, 0 AS 消費税額,D.製品区分--,
				--CONVERT(CHAR(10), GETDATE(),111) AS 初期登録日, CONVERT(CHAR(10), GETDATE(),111) AS 登録変更日 
				FROM
				(
					--通常明細
					--発注数があり、仕分数量があり、社内在庫数・客先在庫数・転用がないデータ

					----------------------------------------------------------------
					--附属部材以外で
					--コメントでないもの
					----------------------------------------------------------------
					SELECT	MH.見積番号 AS 売上番号, MSM.行番号 AS 売上項目, MH.見積番号, MSM.行番号 AS 項目,
							RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
							--1 AS 伝票区分, 
							----2004/12/02.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' THEN MSM.見積区分 ELSE '1' END),
							----2004/12/02.ADD
							----2005/07/05.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
							MSM.見積区分,	--2005/07/05.ADD
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
							MSU.数量, MSM.単位名, MSM.売上単価, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額, --仕入金額,
							仕入金額 = dbo.fn_Round(MSU.数量*MSM.仕入単価,@decimalPoint),--2006/07/04 ADD
							MSM.定価, MSM.製品区分, 
							(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.売上税区分,0) WHEN 3 THEN ISNULL(PC.売上税区分,0) ELSE 0 END) AS 売上税区分
						FROM TD見積 AS MH
						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
						INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
						LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
						LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
						WHERE	MH.見積番号 = @i見積番号
						--AND MSM.見積区分 <> 'C'	--2004/12/02.DEL
						--AND MSM.見積区分 = ''		--2004/12/02.MNT
						AND MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')	--2005/07/05.ADD
						AND 数量 <> 0
						AND 客先在庫数 = 0
						AND 転用数 = 0
						--ORDER BY MSM.行番号

					UNION ALL
					----------------------------------------------------------------
					--附属部材以外で
					--コメントのもの[A]	--2004/12/02.ADD
					----------------------------------------------------------------
					SELECT	MH.見積番号 AS 売上番号, MSM.行番号 AS 売上項目, MH.見積番号, MSM.行番号 AS 項目,
							RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
							----2005/07/05.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
							MSM.見積区分,	--2005/07/05.ADD
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
							MSU.数量, MSM.単位名, MSM.売上単価, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額, --仕入金額,
							仕入金額 = dbo.fn_Round(MSU.数量*MSM.仕入単価,@decimalPoint),--2006/07/04 ADD
							MSM.定価, MSM.製品区分, 
							(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.売上税区分,0) WHEN 3 THEN ISNULL(PC.売上税区分,0) ELSE 0 END) AS 売上税区分
						FROM TD見積 AS MH
						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
						INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
						LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
						LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
						WHERE	MH.見積番号 = @i見積番号
							AND	MSM.見積区分 = 'A'	
							AND		(
										SELECT  TOP 1 MSU1.数量
										FROM TD見積シートM AS MSM1
										INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
										WHERE	MSM1.見積番号 = MSM.見積番号
											--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
											AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
					 						AND 	MSU1.仕分番号 = MSU.仕分番号
											AND 	MSM1.行番号 >= MSM.行番号
										ORDER BY MSM1.行番号 ASC
									) <> 0
							AND		(
										SELECT  TOP 1 MSM1.客先在庫数
										FROM TD見積シートM AS MSM1
										WHERE	MSM1.見積番号 = MSM.見積番号
											--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
											AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 >= MSM.行番号
										ORDER BY MSM1.行番号 ASC
									) = 0
							AND		(
										SELECT  TOP 1 MSM1.転用数
										FROM TD見積シートM AS MSM1
										WHERE	MSM1.見積番号 = MSM.見積番号
											--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
											AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 >= MSM.行番号
										ORDER BY MSM1.行番号 ASC
									) = 0
					UNION ALL
					----------------------------------------------------------------
					--附属部材以外で
					--コメントのもの[C][S]
					----------------------------------------------------------------
					SELECT	MH.見積番号 AS 売上番号, MSM.行番号 AS 売上項目, MH.見積番号, MSM.行番号 AS 項目,
							RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, 
							--1 AS 伝票区分, 
							----2004/12/02.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' THEN MSM.見積区分 ELSE '1' END),
							----2004/12/02.ADD
							----2005/07/05.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
							MSM.見積区分,	--2005/07/05.ADD
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
							MSU.数量, MSM.単位名, MSM.売上単価, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額, --仕入金額,
							仕入金額 = dbo.fn_Round(MSU.数量*MSM.仕入単価,@decimalPoint),--2006/07/04 ADD
							MSM.定価, MSM.製品区分, 
							(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.売上税区分,0) WHEN 3 THEN ISNULL(PC.売上税区分,0) ELSE 0 END) AS 売上税区分
						FROM TD見積 AS MH
						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
						INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
						LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
						LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
						WHERE	MH.見積番号 = @i見積番号
						--AND	MSM.見積区分 = 'C'		--2004/12/02.DEL
						AND	(MSM.見積区分 = 'C'		--2004/12/02.ADD
							OR MSM.見積区分 = 'S')	--2004/12/02.ADD
							AND		(
										SELECT  TOP 1 MSU1.数量
										FROM TD見積シートM AS MSM1
										INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
										WHERE	MSM1.見積番号 = MSM.見積番号
											--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
											AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
					 						AND 	MSU1.仕分番号 = MSU.仕分番号
											AND 	MSM1.行番号 <= MSM.行番号
										ORDER BY MSM1.行番号 DESC
									) <> 0			--2003/11/04
							AND		(
										SELECT  TOP 1 MSM1.客先在庫数
										FROM TD見積シートM AS MSM1
										WHERE	MSM1.見積番号 = MSM.見積番号
											--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
											AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 <= MSM.行番号
										ORDER BY MSM1.行番号 DESC
									) = 0			--2003/11/04
							AND		(
										SELECT  TOP 1 MSM1.転用数
										FROM TD見積シートM AS MSM1
										WHERE	MSM1.見積番号 = MSM.見積番号
											--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
											AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 <= MSM.行番号
										ORDER BY MSM1.行番号 DESC
									) = 0			--2003/11/04
					UNION ALL
					----------------------------------------------------------------
					--附属部材で
					--コメントでないもの
					----------------------------------------------------------------
					SELECT	MH.見積番号 AS 売上番号, MSM.行番号 AS 売上項目, MH.見積番号, MSM.行番号 AS 項目,
							'Z9' AS 仕分番号, 
							--1 AS 伝票区分, 
							----2005/07/05.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' THEN MSM.見積区分 ELSE '1' END),
							MSM.見積区分, 	--2005/07/05.ADD
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
							MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.仕入単価, MSM.売上金額, 仕入金額,
							MSM.定価, MSM.製品区分, 
							(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.売上税区分,0) WHEN 3 THEN ISNULL(PC.売上税区分,0) ELSE 0 END) AS 売上税区分
						FROM		TD見積 AS MH
						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
						LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
						LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
						WHERE	MH.見積番号 = @i見積番号
						--AND MSM.見積区分 <> 'C'	--2004/12/02.DEL
						--AND MSM.見積区分 = ''		--2004/12/02.MNT
						AND MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')	--2005/07/05.ADD
						AND 見積数量 <> 0
						AND (客先在庫数 > 0
						OR 転用数 > 0)

					UNION ALL
					----------------------------------------------------------------
					--附属部材で
					--コメントのもの[A]		--2004/12/02.ADD
					----------------------------------------------------------------
					SELECT	MH.見積番号 AS 売上番号, MSM.行番号 AS 売上項目, MH.見積番号, MSM.行番号 AS 項目,
							'Z9' AS 仕分番号, 
							----2005/07/05.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
							MSM.見積区分, 	--2005/07/05.ADD
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
							MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.仕入単価, MSM.売上金額, 仕入金額,
							MSM.定価, MSM.製品区分, 
							(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.売上税区分,0) WHEN 3 THEN ISNULL(PC.売上税区分,0) ELSE 0 END) AS 売上税区分
						FROM		TD見積 AS MH
						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
						LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
						LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
						WHERE	MH.見積番号 = @i見積番号
							AND	MSM.見積区分 = 'A'
							AND		(
										SELECT  TOP 1 MSM1.見積数量
										FROM TD見積シートM AS MSM1
										WHERE	MSM1.見積番号 = MSM.見積番号
											--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
											AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
											AND 	MSM1.行番号 >= MSM.行番号
										ORDER BY MSM1.行番号 ASC
									) <> 0
							AND		(
										(
											SELECT  TOP 1 MSM1.客先在庫数
											FROM TD見積シートM AS MSM1
											WHERE	MSM1.見積番号 = MSM.見積番号
												--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
												AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
												AND 	MSM1.行番号 >= MSM.行番号
											ORDER BY MSM1.行番号 ASC
										) > 0
								OR		(
											SELECT  TOP 1 MSM1.転用数
											FROM TD見積シートM AS MSM1
											WHERE	MSM1.見積番号 = MSM.見積番号
												--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
												AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
												AND 	MSM1.行番号 >= MSM.行番号
											ORDER BY MSM1.行番号 ASC
										) > 0
									)
					UNION ALL
					----------------------------------------------------------------
					--附属部材で
					--コメントのもの[C][S]
					----------------------------------------------------------------
					SELECT	MH.見積番号 AS 売上番号, MSM.行番号 AS 売上項目, MH.見積番号, MSM.行番号 AS 項目,
							'Z9' AS 仕分番号, 
							--1 AS 伝票区分, 
							----2004/12/02.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' THEN MSM.見積区分 ELSE '1' END),
							----2004/12/02.ADD
							----2005/07/05.DEL
							--伝票区分=(CASE WHEN MSM.見積区分 = 'C' OR MSM.見積区分 = 'A' OR MSM.見積区分 = 'S' THEN MSM.見積区分 ELSE '1' END),
							MSM.見積区分, 	--2005/07/05.ADD
							MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.ベース色, MSM.漢字名称, 
							MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2, MSM.エラー内容,
							MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.仕入単価, MSM.売上金額, 仕入金額,
							MSM.定価, MSM.製品区分, 
							(CASE MSM.製品区分 WHEN 0 THEN ISNULL(SE.売上税区分,0) WHEN 3 THEN ISNULL(PC.売上税区分,0) ELSE 0 END) AS 売上税区分
						FROM		TD見積 AS MH
						INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
						LEFT JOIN TM製品 AS SE ON MSM.製品区分 = 0 AND MSM.製品NO = SE.製品NO AND MSM.仕様NO = SE.仕様NO
						LEFT JOIN TMPC AS PC ON MSM.製品区分 = 3 AND MSM.PC区分 = PC.PC区分 AND MSM.製品NO = PC.製品NO
						WHERE	MH.見積番号 = @i見積番号
							--AND	MSM.見積区分 = 'C'		--2004/12/02.DEL
							AND	(MSM.見積区分 = 'C'		--2004/12/02.ADD
								OR MSM.見積区分 = 'S')	--2004/12/02.ADD
								AND		(
											SELECT  TOP 1 MSM1.見積数量
											FROM TD見積シートM AS MSM1
											WHERE	MSM1.見積番号 = MSM.見積番号
												--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
												AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
												AND 	MSM1.行番号 <= MSM.行番号
											ORDER BY MSM1.行番号 DESC
										--) > 0		--2003/11/04
										) <> 0			--2003/12/08
								AND		(
										(
											SELECT  TOP 1 MSM1.客先在庫数
											FROM TD見積シートM AS MSM1
											WHERE	MSM1.見積番号 = MSM.見積番号
												--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
												AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
												AND 	MSM1.行番号 <= MSM.行番号
											ORDER BY MSM1.行番号 DESC
										) > 0			--2003/11/04
								OR		(
											SELECT  TOP 1 MSM1.転用数
											FROM TD見積シートM AS MSM1
											WHERE	MSM1.見積番号 = MSM.見積番号
												--AND 	MSM1.見積区分 = ''							--2005/07/05 DEL
												AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
												AND 	MSM1.行番号 <= MSM.行番号
											ORDER BY MSM1.行番号 DESC
										) > 0			--2003/11/04
										)

					UNION ALL
					----------------------------------------------------------------
					--出精値引
					----------------------------------------------------------------
					SELECT	MH.見積番号 AS 売上番号, 0 AS 売上項目, MH.見積番号, 0 AS 項目,
							'ZA' AS 仕分番号, 
							--'1' AS 伝票区分	--2005/07/05.DEL
							'' AS 見積区分, 	--2005/07/05.ADD
							'' AS SP区分, '' AS PC区分, '' AS 製品NO, '' AS 仕様NO, '' AS ベース色, '出精値引' AS 漢字名称, 		--2004.02.19.ADD
							0 AS W, 0 AS D, 0 AS H, 0 AS D1, 0 AS D2, 0 AS H1, 0 AS H2, '' AS エラー内容,
							0 AS 数量, '' AS 単位名, 0 AS 売上単価, 0 AS 仕入単価, 出精値引 AS 売上金額, 0 AS 仕入金額,
							0 AS 定価, 0 AS 製品区分, 
							0 AS 売上税区分
						FROM		TD見積 AS MH
						WHERE	見積番号 = @i見積番号
						AND		出精値引 <> 0


				) AS D
				INNER JOIN #wk売上明細 AS TP
				ON D.仕分番号 = TP.仕分番号
			) AS SYUUKEI

			SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP




		--2005/07/05 ADD-------------------------------------
		------------------------------------------------------
		--見積区分での集計処理（1～9）
		------------------------------------------------------
		SELECT * INTO #SyokeiHi明細集計
			FROM (
				SELECT	A.売上番号, A.売上行番号, 
						A.見積行番号, 
						A.[見積区分],
						B.SP区分, B.PC区分, B.製品NO, B.仕様NO, B.ベース色, B.漢字名称, 
						B.W, B.D, B.H, B.D1, B.D2, B.H1, B.H2, B.エラー内容,
						A.数量 AS 売上数量, A.数量 AS 見積数量, B.単位名, A.売上金額 AS 売上単価, A.仕入金額 AS 仕入単価, A.売上金額, A.仕入金額, 
						B.定価, B.売上税区分, 0 AS 消費税額, B.製品区分
					FROM	(
						SELECT        売上番号, 売上行番号, 見積区分, MIN(見積行番号) AS 見積行番号,
								1/*SUM(数量)*/ AS 数量, SUM(仕入金額) AS 仕入金額, SUM(売上金額) AS 売上金額
							FROM		[#TBL] 
							WHERE          NOT  見積区分 IN ('','A', 'C', 'S')
							GROUP BY     売上番号, 売上行番号, 見積区分
						) AS A
						INNER JOIN (
								SELECT [売上番号], [売上行番号],
										[見積行番号], [SP区分], [PC区分], [製品NO], [仕様NO], [ベース色], [漢字名称], 
										[W], [D], [H], [D1], [D2], [H1], [H2], [エラー内容],
										/*[数量],*/ ' ' AS [単位名], /*[売上単価], [売上金額], */
										[定価], [売上税区分], [製品区分], [見積区分] 
									FROM [#TBL]
								) AS B
							ON	A.売上番号 = B.売上番号
							AND	A.売上行番号 = B.売上行番号
							AND	A.見積区分 = B.見積区分
							AND	A.見積行番号 = B.見積行番号
				) AS A
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------
		--2005/07/05 ADD
		--見積明細からの集計（1～9）対象の削除
		------------------------------------------------------
		DELETE FROM #TBL
			WHERE  見積区分 NOT IN ('','A', 'C', 'S')
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		------------------------------------------------------
		--2005/07/05 ADD
		--見積明細へ集計（1～9）結果の追加
		------------------------------------------------------
		INSERT INTO #TBL
			SELECT *
				FROM #SyokeiHi明細集計
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	



			
		--ワークテーブルを本テーブルへインサートする
		INSERT INTO #wk売上明細内訳
			(
			売上番号, 売上行番号, 
			見積行番号, 売上明細行番号,
			伝票区分,
			SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, 
			W, D, H, D1, D2, H1, H2, エラー内容,
			売上数量, 見積数量, 単位名, 売上単価, 仕入単価, 売上金額, 仕入金額,
			定価, 売上税区分, 消費税額, 製品区分, 
			初期登録日, 登録変更日
			)
			SELECT D.売上番号, D.売上行番号, D.見積行番号, 
					(SELECT COUNT(*)+1 FROM  #TBL AS D1
						WHERE 	D.売上番号 = D1.売上番号 
								AND D.売上行番号 = D1.売上行番号 
								AND 
								(
								D.見積行番号
								>
								D1.見積行番号
								)
						) AS 新行番号,
					--D.伝票区分,		--2005/07/05.DEL
					伝票区分=(CASE WHEN D.見積区分 = 'C' OR D.見積区分 = 'A' OR D.見積区分 = 'S' THEN D.見積区分 ELSE '1' END),	--2005/07/05.ADD
					D.SP区分, D.PC区分, D.製品NO, D.仕様NO, D.ベース色, D.漢字名称, 
					D.W, D.D, D.H, D.D1, D.D2, D.H1, D.H2, D.エラー内容,
					D.売上数量, D.見積数量, D.単位名, D.売上単価, D.仕入単価, D.売上金額, D.仕入金額,
					D.定価, D.売上税区分, D.消費税額, D.製品区分, 
					CONVERT(CHAR(10), GETDATE(),111) AS 初期登録日, CONVERT(CHAR(10), GETDATE(),111) AS 登録変更日 
				FROM #TBL AS D
				ORDER BY     D.売上番号, D.売上行番号, D.見積行番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--print 'b'

		------------------------------------------------------
		--売上Ｄ　合計項目算出
		------------------------------------------------------

		--税率取得
		SET	@TAX = dbo.fn_GetTax(@RetDate)

		--内税更新
		UPDATE 	#wk売上明細内訳
			SET 	消費税額 = 内税額
			FROM
				(
				SELECT 	MU.売上番号, 売上行番号, 売上明細行番号, 消費税端数, 伝票区分, 売上税区分, 
						内税額 = dbo.fn_CutFraction(消費税端数, ISNULL(SUM(売上金額) / (100 + @TAX) * @TAX,0),@decimalPoint)
					FROM 		#wk売上明細内訳 AS MU
					INNER JOIN 	#wk売上 AS MH ON MU.売上番号 = MH.売上番号
					WHERE 	売上税区分 = 1
					GROUP BY 	MU.売上番号, 売上行番号, 売上明細行番号, 消費税端数, 伝票区分, 売上税区分
				) AS U
			WHERE 	#wk売上明細内訳.売上行番号 = U.売上行番号
				AND  	#wk売上明細内訳.売上明細行番号 = U.売上明細行番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--明細合計更新
		UPDATE 	#wk売上明細
			SET 	合計金額 = T.合計金額
			FROM
				(
				SELECT 	D.売上番号, D.売上行番号, 税集計区分, 消費税端数,
						合計金額 = (SUM(売上外税対象額) + SUM(売上内税対象額)) 
							    + (SUM(返品外税対象額) + SUM(返品内税対象額)) 
							    + (SUM(訂正外税対象額) + SUM(訂正内税対象額))
					FROM
						(
						SELECT 	MU.売上番号, MU.売上行番号, 税集計区分, 売上端数, 消費税端数, 伝票区分, 売上税区分, 
								売上外税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
								売上内税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 売上税区分 = 1 THEN SUM(売上金額) END),0),
								返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
								返品内税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 売上税区分 = 1 THEN SUM(売上金額) END),0),
								訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
								訂正内税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 売上税区分 = 1 THEN SUM(売上金額) END),0)
							FROM 		#wk売上明細内訳 AS MU
							INNER JOIN 	#wk売上 AS MH ON MU.売上番号 = MH.売上番号
							GROUP BY 	MU.売上番号, MU.売上行番号, 税集計区分, 売上端数, 消費税端数, 伝票区分, 売上税区分
						) AS D
					GROUP BY 	D.売上番号, D.売上行番号, 税集計区分, 消費税端数
				) AS T
			WHERE 	#wk売上明細.売上番号 = T.売上番号
				AND 	#wk売上明細.売上行番号 = T.売上行番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--合計更新
		UPDATE 	#wk売上
			SET 	合計金額 = T.合計金額,
				税抜金額 = T.税抜金額,
				外税対象額 = T.外税対象額,
				外税額 = T.外税額
			FROM
				(
				SELECT 	D.売上番号, 税集計区分, 消費税端数,
						合計金額 = (SUM(売上外税対象額) + SUM(売上内税対象額)) 
							    + (SUM(返品外税対象額) + SUM(返品内税対象額)) 
							    + (SUM(訂正外税対象額) + SUM(訂正内税対象額)),
						税抜金額 = (SUM(売上外税対象額) + SUM(売上内税対象額) - SUM(売上内税額)) 
							    + (SUM(返品外税対象額) + SUM(返品内税対象額) - SUM(返品内税額)) 
							    + (SUM(訂正外税対象額) + SUM(訂正内税対象額) - SUM(訂正内税額)),
						外税対象額 = (SUM(売上外税対象額)) 
							       + (SUM(返品外税対象額)),
						外税額 = CASE WHEN 税集計区分 = 0 THEN 
									dbo.fn_CutFraction(消費税端数, 
										((SUM(売上外税対象額)) + (SUM(返品外税対象額))) / 100 * @TAX,
										@decimalPoint)
								WHEN 税集計区分 = 1 THEN 0
							   END 
					FROM
						(
						SELECT 	MU.売上番号, 税集計区分, 売上端数, 消費税端数, 伝票区分, 売上税区分, 
								売上外税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
								売上内税対象額 = ISNULL((CASE WHEN 伝票区分 = '1' AND 売上税区分 = 1 THEN SUM(売上金額) END),0),
								売上内税額 = dbo.fn_CutFraction(消費税端数, ISNULL((CASE WHEN 伝票区分 = '1' AND 売上税区分 = 1 THEN SUM(売上金額) / (100 + @TAX) * @TAX END),0),@decimalPoint),
								返品外税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
								返品内税対象額 = ISNULL((CASE WHEN 伝票区分 = '2' AND 売上税区分 = 1 THEN SUM(売上金額) END),0),
								返品内税額 = dbo.fn_CutFraction(消費税端数, ISNULL((CASE WHEN 伝票区分 = '2' AND 売上税区分 = 1 THEN SUM(売上金額) / (100 + @TAX) * @TAX END),0),@decimalPoint),
								訂正外税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 売上税区分 = 0 THEN SUM(売上金額) END),0),
								訂正内税対象額 = ISNULL((CASE WHEN 伝票区分 = '3' AND 売上税区分 = 1 THEN SUM(売上金額) END),0),
								訂正内税額 = dbo.fn_CutFraction(消費税端数, ISNULL((CASE WHEN 伝票区分 = '3' AND 売上税区分 = 1 THEN SUM(売上金額) / (100 + @TAX) * @TAX END),0),@decimalPoint)
							FROM 		#wk売上明細内訳 AS MU
							INNER JOIN 	#wk売上 AS MH ON MU.売上番号 = MH.売上番号
							GROUP BY 	MU.売上番号, 税集計区分, 売上端数, 消費税端数, 伝票区分, 売上税区分
						) AS D
					GROUP BY 	D.売上番号, 税集計区分, 消費税端数
				) AS T
			WHERE 	#wk売上.売上番号 = T.売上番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	END


	------------------------------------------------------
	--ワークテーブルよりグローバル一時テーブルへ
	------------------------------------------------------
	EXEC ('INSERT INTO [##Tmp売上_' + @CompName + ']'
		+ ' ('
			+ '売上番号, 見積番号, 売上日付, 請求日付, 担当者CD, 見積件名,'
			+ '得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,'
			+ '納入得意先CD, 納入先CD, 納入先名1, 納入先名2, '
			+ '郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者,'
			+ '納期S, 納期E, 備考, 現場名, 大小口区分, '
			+ '合計金額, 税抜金額, 外税対象額, 外税額,'
			+ '請求年月日, 請求締日, 請求更新FLG,'
			+ '税集計区分, 売上端数, 消費税端数, 鏡番号,'
			+ '初期登録日, 登録変更日,'
			--2013/03/15 ADD↓
			+ '部署CD'
			--2013/03/15 ADD↑
		+ ')'
		+ 'SELECT '
			+ '売上番号, 見積番号, 売上日付, 請求日付, 担当者CD, 見積件名,'
			+ '得意先CD, 得意先名1, 得意先名2, 得TEL, 得FAX, 得意先担当者,'
			+ '納入得意先CD, 納入先CD, 納入先名1, 納入先名2, '
			+ '郵便番号, 住所1, 住所2, 納TEL, 納FAX, 納入先担当者,'
			+ '納期S, 納期E, 備考, 現場名, 大小口区分, '
			+ '合計金額, 税抜金額, 外税対象額, 外税額,'
			+ '請求年月日, 請求締日, 請求更新FLG,'
			+ '税集計区分, 売上端数, 消費税端数, 鏡番号,'
			+ '初期登録日, 登録変更日,'
			--2013/03/15 ADD↓
			+ '部署CD'
			--2013/03/15 ADD↑
		+ ' FROM #wk売上'
		)
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--print 'e'

	EXEC ('INSERT INTO [##Tmp売上明細_' + @CompName + ']'
		+ ' ('
			+ '売上番号, 売上行番号, '
			+ '仕分番号, 仕分名称, '
			+ '合計金額, '
			+ '初期登録日, 登録変更日'
		+ ')'
		+ 'SELECT '
			+ '売上番号, 売上行番号, '
			+ '仕分番号, 仕分名称, '
			+ '合計金額, '
			+ '初期登録日, 登録変更日'
		+ ' FROM #wk売上明細'
		+ ' ORDER BY 売上行番号'
		)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--print 'e'

	EXEC ('INSERT INTO [##Tmp売上明細内訳_' + @CompName + ']'
		+ ' ('
			+ '売上番号, 売上行番号,'
			+ '見積行番号, 売上明細行番号,'
			+ '伝票区分,'
			+ 'SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,'
			+ 'W, D, H, D1, D2, H1, H2, エラー内容,'
			+ '売上数量, 見積数量, 単位名, 売上単価, 仕入単価, 売上金額, 仕入金額,'
			+ '定価, 売上税区分, 消費税額, 製品区分,'
			+ '初期登録日, 登録変更日'
		+ ')'
		+ 'SELECT '
			+ '売上番号, 売上行番号,'
			+ '見積行番号, 売上明細行番号,'
			+ '伝票区分,'
			+ 'SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称,'
			+ 'W, D, H, D1, D2, H1, H2, エラー内容,'
			+ '売上数量, 見積数量, 単位名, 売上単価, 仕入単価, 売上金額, 仕入金額,'
			+ '定価, 売上税区分, 消費税額, 製品区分,'
			+ '初期登録日, 登録変更日'
		+ ' FROM #wk売上明細内訳'
		+ ' ORDER BY 売上行番号, 売上明細行番号'
		)
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	
	------------------------------------------------------
	--抽出Ｄ
	------------------------------------------------------
	--売上
	EXEC ('SELECT MH.*, TA.担当者名 '
		+ 'FROM [##Tmp売上_' + @CompName + '] AS MH'
		+ ' LEFT JOIN TM担当者 AS TA ON MH.担当者CD = TA.担当者CD'
		)
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--売上明細
	EXEC ('SELECT MM.*, C.件数 '
		+ 'FROM [##Tmp売上明細_' + @CompName + '] AS MM'
		+ ' LEFT JOIN '
		+ '('
		+ 'SELECT 売上行番号, COUNT(売上明細行番号) AS 件数'
		+ ' FROM [##Tmp売上明細内訳_' + @CompName + ']'
		+ ' GROUP BY 売上行番号'
		+ ') AS C ON MM.売上行番号 = C.売上行番号'
		)
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST


GO
