/****** Object:  StoredProcedure [dbo].[usp_M0600WMS製品CSV出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_M0600WMS製品CSV出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_M0600WMS製品CSV出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_M0600WMS製品CSV出力
	

	機能:	
		WMS用製品CSVを作成する

 =============================================
	2018/10/04	oosawa		新設
=============================================*/
CREATE  PROCEDURE [dbo].[usp_M0600WMS製品CSV出力]
	(
		@iS製品NO		CHAR(7),
		@iE製品NO		CHAR(7),
		@iS仕様NO		CHAR(7),
		@iE仕様NO		CHAR(7),
		@i仕入先CD		VARCHAR(4),

		--OUTPUT
		@RetDcnt 		INT				OUTPUT,
		@RetST			INT				OUTPUT,
		@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST			INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	------------------------------------------------------
	--製品データ作成
	------------------------------------------------------
	SELECT * INTO #TMP
		FROM (
			SELECT	商品コード = 入出庫用CD, 
					上位商品コード = CASE WHEN RTRIM(仕様NO) = '' 
										THEN RTRIM(製品NO) 
										ELSE RTRIM(製品NO) + '-' + RTRIM(仕様NO)
									END, 
					製品名 = 漢字名称,
			
					W_X = CASE WHEN (W <> 0)
								THEN LTRIM(RTRIM(STR(W))) + 'W'
								ELSE ''
								END,
					D_X = CASE WHEN (D <> 0)
								THEN LTRIM(RTRIM(STR(D))) + 'D'
								ELSE ''
								END,
					D1_X = CASE WHEN (D1 <> 0)
								THEN LTRIM(RTRIM(STR(D1))) + 'D1'
								ELSE ''
								END,
					D2_X = CASE WHEN (D2 <> 0)
								THEN LTRIM(RTRIM(STR(D2))) + 'D2'
								ELSE ''
								END,
					H_X = CASE WHEN (H <> 0)
								THEN LTRIM(RTRIM(STR(H))) + 'H'
								ELSE ''
								END,
 					H1_x = CASE WHEN (H1 <> 0)
								THEN LTRIM(RTRIM(STR(H1))) + 'H1'
								ELSE ''
								END,
					H2_X = CASE WHEN (H2 <> 0)
								THEN LTRIM(RTRIM(STR(H2))) + 'H2'
								ELSE ''
								END,
					W, D, H, D1, D2, H1, H2, 単位名, 主仕入先CD, 売上単価, 仕入単価, 売上税区分,  
					仕入税区分
				FROM	TM製品
				WHERE	廃盤FLG = 0
					AND 費用区分 = 0
			 		AND 製品NO+仕様NO >= COALESCE(@iS製品NO,製品NO)+COALESCE(@iS仕様NO,仕様NO)
			 		AND 製品NO+仕様NO <= COALESCE(@iE製品NO,製品NO)+COALESCE(@iE仕様NO,仕様NO)
			 		AND	主仕入先CD = COALESCE(@i仕入先CD,主仕入先CD)
			) AS AAA

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	SELECT	商品コード,上位商品コード,
			製品名 = RTRIM(製品名 + ' ' + REPLACE(LTRIM(RTRIM(W_X + 
							(CASE WHEN D_X <> '' THEN ' ' ELSE '' END) + D_X +
							(CASE WHEN D1_X <> '' THEN ' ' ELSE '' END) + D1_X +
							(CASE WHEN D2_X <> '' THEN ' ' ELSE '' END) + D2_X +
							(CASE WHEN H_X <> '' THEN ' ' ELSE '' END) + H_X +
							(CASE WHEN H1_X <> '' THEN ' ' ELSE '' END) + H1_X +
							(CASE WHEN H2_X <> '' THEN ' ' ELSE '' END) + H2_X)),' ','*')),
			--W_X,D_X,D1_X,D2_X,H_X,H1_X,H2_X
			単位名, 主仕入先CD, 売上単価, 仕入単価, 売上税区分,  
			仕入税区分
		FROM #TMP
		ORDER BY 商品コード

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
