/****** Object:  StoredProcedure [dbo].[usp_KD0801経費按分データ作成V6]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_KD0801経費按分データ作成V6]
GO
/****** Object:  StoredProcedure [dbo].[usp_KD0801経費按分データ作成V6]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*****************************************************

名称	usp_KD0801経費按分データ作成V6

機能	TM従業員からチーム毎の人数での按分
		売上からチーム毎の売上金額での按分
		
		経費をチーム別に人数・売上金額で按分し算出する。
		科目別追加
		人数＋売上按分追加
		
引数	

戻り値	


※ひと月ごとに計算しないとおかしくなる。

修正履歴

	2016/06/30	oosawa		施工での集計がなくなったのでカット
	2016/10/20	oosawa		科目（補助科目）別の按分を追加
	2017/03/09	oosawa		買掛月次更新日以前は計算しないようにする
	2018/02/06	oosawa		買掛月次更新の部分を上位へ移動
	2018/06/22	oosawa		売上比率でオーバーフロー
	2019/02/23	oosawa		チーム毎から統計集計先毎に集計を変更
							チームCDは得意先マスタより取得
							ない場合NULLでエラー
	2020/02/12	oosawa		工事部案分追加
	2021/02/04	oosawa		工事部なし
							比率がmoney型だと小数点切り捨てされるのでずれが大きくなる
							decimal(30,10)にキャストする
	2021/05/22	oosawa		按分方法3：人数＋売上按分を追加
							部CDごとの人数で科目金額を按分した後、部CD毎の売上金額で按分する

	2022/08/30	oosawa		按分は統計集計上でおこなう。
							日付・科目・金額で集計し保存するのみに変更
							人数按分・個別按分は使用しない！！！
*****************************************************/
CREATE PROCEDURE [dbo].[usp_KD0801経費按分データ作成V6]
	(
		@iS集計日付		DATETIME,
		@iE集計日付		DATETIME
	)
 AS

	SET NOCOUNT ON

	DECLARE	@ST			INT,
			@MSG			VARCHAR(255)

	DECLARE	@営業部CD	SMALLINT = 9996,
	--		@工事部CD	SMALLINT = 9997,--2021/02/04 DEL
			@その他部CD	SMALLINT = 9998
	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ST	=	0
	SET	@MSG	=	''

		------------------------------------------------
		------ 売上　顧客別
		------------------------------------------------
		----DECLARE	@wヤオコー		VARCHAR(4) = '8001'
		------DECLARE @wマミー		VARCHAR(4) = '7001'--2021/05/20 DEL
		----DECLARE	@wロピア		VARCHAR(4) = '4209'--2021/05/20 ADD

		----DECLARE	@wベルク		VARCHAR(4) = '6601'
		----DECLARE @wサンベルクス	VARCHAR(4) = '3001'
		------DECLARE	@wフレッセイ	VARCHAR(4) = '6401'

		----DECLARE	@wしまむら		VARCHAR(4) = '3201'

		----DECLARE	@wウエルシア	VARCHAR(4) = '2401'
		----DECLARE @wビバ			VARCHAR(4) = '4801'
		------DECLARE	@wアポック		VARCHAR(4) = '5201'--2021/05/20　DEL




	---------------------------
	--按分経費データ削除
	---------------------------
	DELETE	FROM TD経費按分集計V4
		WHERE 集計日付 = @iS集計日付
	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	---------------------------
	--金額集計用ワークテーブル作成
	---------------------------
	CREATE TABLE #TMP 
		(
			[科目CD] [smallint] NOT NULL,
			[補助CD] [smallint] DEFAULT '',
			--[チームCD] [int] NOT NULL,
			[按分区分] [int] DEFAULT 0,
			[金額] [money] NOT NULL,

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	---------------------------------------------------------
	-- 補助科目分金額集計
	---------------------------------------------------------
	INSERT INTO #TMP
			   ([科目CD]
			   ,[補助CD]
			   ,[按分区分]
			   ,[金額])
		--補助科目分の抽出
		SELECT	--KK.集計CD,KK.順序,
				KK.科目CD,
				補助CD = ISNULL(HK.補助CD,0),
				--KK.科目名,
				HK.按分区分,
				金額 = ISNULL(KH.金額,0)
			FROM TM補助科目 AS HK
				INNER JOIN TM科目 AS KK
					ON HK.科目CD = KK.科目CD
				INNER JOIN (
							SELECT	KM.科目CD,KM.補助CD, KM.科目名, SUM(KM.金額) AS 金額
								FROM	TD経費 AS KH
									INNER JOIN TD経費明細 AS KM
										ON KH.経費番号 = KM.経費番号
								WHERE	KH.経費日付 >= @iS集計日付
									AND	KH.経費日付 <= @iE集計日付
								GROUP BY	KM.科目CD,KM.補助CD, KM.科目名
						) AS KH
							ON HK.科目CD = KH.科目CD
							AND HK.補助CD = KH.補助CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		--SELECT * FROM #TMP

	---------------------------------------------------------
	-- 科目分金額集計
	--		補助CDはZEROにする
	---------------------------------------------------------
	INSERT INTO #TMP
			   ([科目CD]
			   ,[補助CD]
			   ,[按分区分]
			   ,[金額])
		--科目分の抽出
		SELECT	--KK.集計CD,KK.順序,
				KK.科目CD,
				補助CD = 0,--ISNULL(KH.補助CD,0),
				--KK.科目名,
				KK.按分区分,
				金額 = ISNULL(KH.金額,0)
			FROM TM科目 AS KK
				LEFT JOIN (
							SELECT	KM.科目CD,KM.補助CD, 
									KM.科目名, SUM(KM.金額) AS 金額
								FROM	TD経費 AS KH
									INNER JOIN TD経費明細 AS KM
										ON KH.経費番号 = KM.経費番号
									LEFT JOIN #TMP AS TMP
										ON KM.科目CD = TMP.科目CD
										AND KM.補助CD = TMP.補助CD
								WHERE	KH.経費日付 >= @iS集計日付
									AND	KH.経費日付 <= @iE集計日付
									AND TMP.科目CD IS NULL--TMPに入っていないもの
								GROUP BY	KM.科目CD,KM.補助CD, KM.科目名
							) AS KH
								ON KK.科目CD = KH.科目CD
								
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--select * from #TMP order by 科目CD


------------------------------------------------------------------

	--SELECT * FROM #TMP --WHERE 按分区分 = 2

	--SELECT * FROM #TMP経費按分集計
	--		ORDER BY 集計日付,科目CD,チームCD

	---------------------------
	--按分経費データへ保存
	---------------------------
	INSERT INTO TD経費按分集計V4
			   ([集計日付]
			   ,[科目CD]
			   ,[按分金額]
			   ,[初期登録日]
			   ,[登録変更日])
		SELECT	@iS集計日付,
				科目CD,
				按分金額,
				初期登録日 = GETDATE(),
				登録変更日 = GETDATE()
		FROM (
				SELECT	集計日付 = @iS集計日付,
						科目CD,
						按分金額 = SUM(金額)
					FROM	#TMP AS TMP
					GROUP BY 科目CD
			) AS TMP
		ORDER BY 集計日付,科目CD



	DROP TABLE #TMP

--一時ファイルに補助科目・科目で抽出したデータを保存
--按分区分で抽出した情報を集計
--集計したデータと按分情報をつなげて金額算出
EXIT_SP:
	RETURN @ST
GO
