/****** Object:  StoredProcedure [dbo].[usp_CHG製品FROMユニット]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_CHG製品FROMユニット]
GO
/****** Object:  StoredProcedure [dbo].[usp_CHG製品FROMユニット]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/* =============================================
	 sp_CHG製品FROM品群

	機能:	品群コードを製品コードに変換する

	 RETURN VALUES
		0 = success
		以外　error
 =============================================
	2003/05/16	oosawa

	2003/08/04	oosawa		製品区分を返すように変更
 =============================================*/
CREATE       PROCEDURE [dbo].[usp_CHG製品FROMユニット]
	(
		@ユニットNO	CHAR(7),
		@W		INT,
		@D		INT,
		@H		INT,
		@D1		INT,
		@D2		INT,
		@H1		INT,
		@H2		INT,
		@SP区分	VARCHAR(1)		OUTPUT,
		@製品NO	CHAR(7)		OUTPUT,
		@仕様NO	CHAR(7)		OUTPUT,
		@製品区分	SMALLINT		OUTPUT,
		@エラー内容	VARCHAR(255)	OUTPUT
	)
	AS
	SET NOCOUNT ON

	DECLARE	@ST		INT,
			@MSG		VARCHAR(255)
	--製品情報
	DECLARE	@w製品NO		CHAR(7),
			@w仕様NO		CHAR(7),
			@wW			INT,
			@wD			INT,
			@wH			INT,
			@wD1			INT,
			@wD2			INT,
			@wH1			INT,
			@wH2			INT,
			@wSP区分		VARCHAR(1),
			@wエラー内容		VARCHAR(255),
			@w製品RowCnt	INT
	--ユニット情報
	DECLARE	@w品群NO		CHAR(7)

	--------------------------------------------------
	--入力項目のチェック
	--------------------------------------------------
	IF ISNULL(@ユニットNO,'') =  ''	BEGIN
		--SET @ST = -1
		SET @エラー内容 ='ユニットNO未入力'
		GOTO EXIT_SP
	END

	--------------------------------------------------
	--ユニットマスタの存在チェック
	--------------------------------------------------
	IF NOT EXISTS(SELECT ユニットNO FROM TMユニット WHERE ユニットNO = @ユニットNO) BEGIN
		--存在しない場合、書き込みます。
		--SET @ST = -1
		SET @エラー内容 = 'ユニットマスタ未登録'
		GOTO EXIT_SP
	END
	SELECT	@w品群NO = 品群NO
			FROM TMユニット
			WHERE ユニットNO = @ユニットNO

	SET @ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('ユニット№:%s. ユニット情報でエラーが発生しました。 ', 16, 1,@ユニットNO)
		GOTO	EXIT_SP
	END
	--PRINT '@w品群NO:' + @w品群NO
	SET @製品区分 = 1
	--------------------------------------------------
	--品群コードより製品マスタを検索し、変換します。
	--------------------------------------------------
	EXEC @ST = usp_CHG製品FROM品群 @w品群NO, @W, @D, @H, @D1, @D2, @H1, @H2, @SP区分 OUTPUT , @w品群NO OUTPUT , @仕様NO OUTPUT , @製品区分 OUTPUT , @エラー内容 OUTPUT 
	IF @ST <> 0 BEGIN
		--SET @ST = -2
		--SET @エラー内容 = '製品変換エラー'
		SET @製品NO = @w品群NO
		GOTO EXIT_SP
	END

	SET	@製品NO	= @w品群NO

EXIT_SP:
	RETURN @ST
GO
