/****** Object:  StoredProcedure [dbo].[usp_HD0800納品書発行]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0800納品書発行]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0800納品書発行]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************

名称	usp_HD0800納品書発行

機能	指定された条件で請求書を作成する

引数	

戻り値	

※　見積シートＭと売上明細は同一内容のはず！！！！！
	消費税は日付が異なるので再計算！

請求書と同様な作り方！
客在分も作らないとだめ？
*****************************************************
	2003/09/12	kawamura	製品サイズに[H1][H2]追加
	2003/10/31 	kawamura 	コメント行管理用に見積区分追加
					仕入先略称・配送先略称はデータからセットするに変更
	2004/12/01	oosawa	見積区分A・Sの追加
	2005/07/05	oosawa	見積区分(1～9)の集計を追加
	2013/01/31	oosawa	一式部分で単位が出るように

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
	
	2014/10/03	oosawa		見積区分(1～9)を拡張　ACS以外に変更   未確認！！！！！！！！！！！！！！！！！！！
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_HD0800納品書発行]
	(
		@i見積番号		INT,
		
		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	------------------------------------------------------
	--売上が存在しているかの確認
	------------------------------------------------------
	IF NOT EXISTS(SELECT 見積番号 FROM TD売上v2 AS UH WHERE	UH.見積番号 = @i見積番号) BEGIN
		SET @ST = -1
		SET @MSG = '売上データが存在しません。'
		GOTO EXIT_SP
	END

	------------------------------------------------------
	--見積の全明細が売上済みかの確認
	------------------------------------------------------
	DECLARE	@w未売上件数	INT
	SELECT @w未売上件数 = COUNT(*)
		FROM	TD売上v2 AS UH
			INNER JOIN TD見積シートM AS MM
				ON UH.見積番号 = MM.見積番号
			LEFT JOIN TD売上明細V2 AS UM
				ON MM.見積明細連番 = UM.見積明細連番
		WHERE	UH.見積番号 = @i見積番号
			AND UM.見積明細連番 IS NULL
			AND	MM.売上金額 <> 0

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
	IF (@w未売上件数 <> 0)	BEGIN
		SET @ST = -1
		SET @MSG = '未売上の明細が存在します。'
		GOTO EXIT_SP
	END	
	------------------------------------------------------
	--見積の出精値引が売上済みかの確認
	------------------------------------------------------
	IF EXISTS(SELECT 見積番号 
					FROM TD見積 AS MH
					WHERE	MH.見積番号 = @i見積番号
						AND	MH.出精値引 <> 0
				--出精値引きが入っていて
	) BEGIN
		IF NOT EXISTS(SELECT 見積番号 
						FROM TD売上v2 AS UH
							INNER JOIN TD売上明細V2 AS UM 
								ON UH.売上番号 = UM.売上番号
						WHERE	UH.見積番号 = @i見積番号
							AND	UM.特別区分 = 'ZA'--出精値引
				--売上に出精値引き明細がない場合
		) BEGIN
			SET @ST = -1
			SET @MSG = '未売上の明細が存在します。'
			GOTO EXIT_SP
		END	
	END ELSE BEGIN
				--出精値引きがゼロで
		IF EXISTS(SELECT 見積番号 
						FROM TD売上v2 AS UH
							INNER JOIN TD売上明細V2 AS UM 
								ON UH.売上番号 = UM.売上番号
						WHERE	UH.見積番号 = @i見積番号
							AND	UM.特別区分 = 'ZA'--出精値引
				--売上に出精値引き明細がある場合
		) BEGIN
			SET @ST = -1
			SET @MSG = '出精値引明細が存在します。'
			GOTO EXIT_SP
		END
		
	END
	------------------------------------------------------
	--売上ｖ２ヘッダーから請求日を取得
	------------------------------------------------------
	DECLARE	@w請求日付	DATETIME
	SELECT	@w請求日付 = 売上日付
		FROM TD売上v2
		WHERE	見積番号 = @i見積番号
		
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--請求日付取得
	------------------------------------------------------
	--消費税用変数
	DECLARE	@TAX		MONEY
			
	--税率取得
	SET	@TAX = dbo.fn_GetTax(@w請求日付)

	------------------------------------------------------
	--見積出力用データ作成
	------------------------------------------------------
	SELECT * INTO #WK請求明細
		FROM (
		----------------------------------------------------------------
		--附属部材以外で
		--コメントでないもの
		----------------------------------------------------------------
		SELECT	MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				売上数量 = MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分,
				UM.伝票区分
			FROM	TD見積 AS MH
				--INNER JOIN TD売上v2	AS UH
				--	ON MH.見積番号 = UH.見積番号
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				--INNER JOIN TD売上明細V2 AS UM
				--	ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN (
							SELECT 見積明細連番 ,伝票区分 = MAX(伝票区分),特別区分 = MAX(特別区分)
								FROM TD売上明細V2 
								GROUP BY 見積明細連番
							) AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD見積シート内訳 AS MSU
					ON UM.見積明細連番 = MSU.見積明細連番
				LEFT JOIN TD見積シート内訳名称 AS MSUN
					ON MSU.見積番号 = MSUN.見積番号
					AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号
			--AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')						--2005/07/05 UPD
			AND		MSM.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
			AND		MSU.数量 <> 0
			AND		MSM.客先在庫数 = 0
			AND		MSM.転用数 = 0
			AND		UM.特別区分 <> 'ZA'--出精値引		
				
					
--			FROM		TD見積 AS MH
--					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
--					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
----					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
----					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
--					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
--											AND MSU.仕分番号 = MSUN.仕分番号
--			WHERE	MH.見積番号 = @i見積番号
---- 			AND		MSM.見積区分 = ''										--2005/07/05 DEL
--			--AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')						--2005/07/05 UPD
--			AND		MSM.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
--			AND		MSU.数量 <> 0
--			AND		MSM.客先在庫数 = 0
--			AND		MSM.転用数 = 0
		UNION ALL
		----------------------------------------------------------------
		--附属部材以外で
		--コメントAのもの
		----------------------------------------------------------------
		SELECT	MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				売上数量 = MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分,
				UM.伝票区分
			FROM	TD見積 AS MH
				--INNER JOIN TD売上v2	AS UH
				--	ON MH.見積番号 = UH.見積番号
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				--INNER JOIN TD売上明細V2 AS UM
				--	ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN (
							SELECT 見積明細連番 ,伝票区分 = MAX(伝票区分),特別区分 = MAX(特別区分)
								FROM TD売上明細V2 
								GROUP BY 見積明細連番
							) AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD見積シート内訳 AS MSU
					ON UM.見積明細連番 = MSU.見積明細連番
				LEFT JOIN TD見積シート内訳名称 AS MSUN
					ON MSU.見積番号 = MSUN.見積番号
					AND MSU.仕分番号 = MSUN.仕分番号
----			FROM		TD見積 AS MH
----					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
----					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
------					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
------					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
----					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
----											AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号
			AND		UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		MSM.見積区分 = 'A'
--			AND		MSU.数量 > 0			--2003/10/28	TEST
--			AND		MSU.数量 <> 0			--2003/10/28	TEST
			AND		(
						SELECT  TOP 1 MSU1.数量
						FROM TD見積シートM AS MSM1
						INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
	 						AND 	MSU1.仕分番号 = MSU.仕分番号
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) <> 0			--2003/10/28	TEST
--			AND		MSM.見積数量 > 0		--2003/10/28	TEST
--			AND		MSM.客先在庫数 = 0
			AND		(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) = 0			--2003/10/28	TEST
--			AND		MSM.転用数 = 0
			AND		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) = 0			--2003/10/28	TEST
		--order by msu.仕分番号, msm.行番号
		UNION ALL
		----------------------------------------------------------------
		--附属部材以外で
		--コメントCのもの
		----------------------------------------------------------------
		SELECT	MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
 				売上数量 = MSU.数量, 
				MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
				MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分,
				UM.伝票区分
			FROM	TD見積 AS MH
				--INNER JOIN TD売上v2	AS UH
				--	ON MH.見積番号 = UH.見積番号
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				--INNER JOIN TD売上明細V2 AS UM
				--	ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN (
							SELECT 見積明細連番 ,伝票区分 = MAX(伝票区分),特別区分 = MAX(特別区分)
								FROM TD売上明細V2 
								GROUP BY 見積明細連番
							) AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN TD見積シート内訳 AS MSU
					ON UM.見積明細連番 = MSU.見積明細連番
				LEFT JOIN TD見積シート内訳名称 AS MSUN
					ON MSU.見積番号 = MSUN.見積番号
					AND MSU.仕分番号 = MSUN.仕分番号
--			FROM		TD見積 AS MH
--					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
--					INNER JOIN TD見積シート内訳 AS MSU ON MSM.見積明細連番 = MSU.見積明細連番
----					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
----					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
--					LEFT JOIN TD見積シート内訳名称 MSUN ON MSU.見積番号 = MSUN.見積番号
--											AND MSU.仕分番号 = MSUN.仕分番号
			WHERE	MH.見積番号 = @i見積番号
			AND		UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		(MSM.見積区分 = 'C'
				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
--			AND		MSU.数量 > 0			--2003/10/28	TEST
--			AND		MSU.数量 <> 0			--2003/10/28	TEST
			AND		(
						SELECT  TOP 1 MSU1.数量
						FROM TD見積シートM AS MSM1
						INNER JOIN TD見積シート内訳 AS MSU1 ON MSM1.見積明細連番 = MSU1.見積明細連番
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
	 						AND 	MSU1.仕分番号 = MSU.仕分番号
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) <> 0			--2003/10/28	TEST
--			AND		MSM.見積数量 > 0		--2003/10/28	TEST
--			AND		MSM.客先在庫数 = 0
			AND		(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) = 0			--2003/10/28	TEST
--			AND		MSM.転用数 = 0
			AND		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) = 0			--2003/10/28	TEST
		--order by msu.仕分番号, msm.行番号

		UNION ALL
		--付属部材
		--見積数量があり、仕分数量があり、客先在庫数・転用があるデータ
		----------------------------------------------------------------
		--附属部材で
		--コメントでないもの
		----------------------------------------------------------------
		SELECT	MH.見積番号, 'Z9' AS 仕分番号, '付属部材'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				売上数量 = MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, MSM.仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分,
				UM.伝票区分
			FROM	TD見積 AS MH
				--INNER JOIN TD売上v2	AS UH
				--	ON MH.見積番号 = UH.見積番号
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				--INNER JOIN TD売上明細V2 AS UM
				--	ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN (
							SELECT 見積明細連番 ,伝票区分 = MAX(伝票区分),特別区分 = MAX(特別区分)
								FROM TD売上明細V2 
								GROUP BY 見積明細連番
							) AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				--INNER JOIN TD見積シート内訳 AS MSU
				--	ON UM.見積明細連番 = MSU.見積明細連番
				--LEFT JOIN TD見積シート内訳名称 AS MSUN
				--	ON MSU.見積番号 = MSUN.見積番号
				--	AND MSU.仕分番号 = MSUN.仕分番号
--			FROM		TD見積 AS MH
--					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
----					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
----					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
			WHERE	MH.見積番号 = @i見積番号
			AND		UM.特別区分 <> 'ZA'--出精値引は除外		
-- 			AND		MSM.見積区分 = ''									--2005/07/04 DEL

			--AND		MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')					--2005/07/04 UPD
			AND		MSM.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
			AND 		見積数量 <> 0
			AND		(客先在庫数 > 0
				OR 	転用数 > 0)
		--order by msu.仕分番号, msm.行番号

		UNION ALL
		----------------------------------------------------------------
		--附属部材で
		--コメントAのもの
		----------------------------------------------------------------
		SELECT	MH.見積番号, 'Z9' AS 仕分番号, '付属部材'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				売上数量 = MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, MSM.仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,

				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分,
				UM.伝票区分
			FROM	TD見積 AS MH
				--INNER JOIN TD売上v2	AS UH
				--	ON MH.見積番号 = UH.見積番号
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				--INNER JOIN TD売上明細V2 AS UM
				--	ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN (
							SELECT 見積明細連番 ,伝票区分 = MAX(伝票区分),特別区分 = MAX(特別区分)
								FROM TD売上明細V2 
								GROUP BY 見積明細連番
							) AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				--INNER JOIN TD見積シート内訳 AS MSU
				--	ON UM.見積明細連番 = MSU.見積明細連番
				--LEFT JOIN TD見積シート内訳名称 AS MSUN
				--	ON MSU.見積番号 = MSUN.見積番号
				--	AND MSU.仕分番号 = MSUN.仕分番号
--			FROM		TD見積 AS MH
--					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
----					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
----					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
			WHERE	MH.見積番号 = @i見積番号
			AND		UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		MSM.見積区分 = 'A'
--			AND		MSM.見積数量 > 0
			AND		(
						SELECT  TOP 1 MSM1.見積数量
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					--) > 0		--2003/10/28	TEST
					) <> 0			--2003/12/08
-- 			AND		(MSM.客先在庫数 > 0
-- 			OR		MSM.転用数 > 0)
			AND		(
					(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) > 0			--2003/10/28	TEST
			OR		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 >= MSM.行番号
						ORDER BY MSM1.行番号 ASC
					) > 0			--2003/10/28	TEST
					)
		--order by msu.仕分番号, msm.行番号
		UNION ALL
		----------------------------------------------------------------
		--附属部材で
		--コメントCのもの
		----------------------------------------------------------------
		SELECT	MH.見積番号, 'Z9' AS 仕分番号, '付属部材'AS 仕分名称, MSM.行番号,
				MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
				MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
				売上数量 = MSM.見積数量, MSM.単位名, MSM.売上単価, MSM.売上金額,
				MSM.仕入先CD, 仕入先名 AS 仕入先略称, MSM.仕入単価, MSM.仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				MSM.配送先CD, 配送先名 AS 配送先略称,
				MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分,
				UM.伝票区分
			FROM	TD見積 AS MH
				--INNER JOIN TD売上v2	AS UH
				--	ON MH.見積番号 = UH.見積番号
				INNER JOIN TD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号
				--INNER JOIN TD売上明細V2 AS UM
				--	ON MSM.見積明細連番 = UM.見積明細連番
				INNER JOIN (
							SELECT 見積明細連番 ,伝票区分 = MAX(伝票区分),特別区分 = MAX(特別区分)
								FROM TD売上明細V2 
								GROUP BY 見積明細連番
							) AS UM
					ON MSM.見積明細連番 = UM.見積明細連番
				--INNER JOIN TD見積シート内訳 AS MSU
				--	ON UM.見積明細連番 = MSU.見積明細連番
				--LEFT JOIN TD見積シート内訳名称 AS MSUN
				--	ON MSU.見積番号 = MSUN.見積番号
				--	AND MSU.仕分番号 = MSUN.仕分番号
--			FROM		TD見積 AS MH
--					INNER JOIN TD見積シートM AS MSM ON MSM.見積番号 = MH.見積番号
----					LEFT JOIN TM仕入先 AS SI ON MSM.仕入先CD = SI.仕入先CD		--2003/10/31
----					LEFT JOIN TM配送先 AS HS ON MSM.配送先CD = HS.配送先CD	--2003/10/31
			WHERE	MH.見積番号 = @i見積番号
			AND		UM.特別区分 <> 'ZA'--出精値引は除外		
			AND		(MSM.見積区分 = 'C'
				OR	MSM.見積区分 = 'S')								--2004/12/01	ADD
--			AND		MSM.見積数量 > 0
			AND		(
						SELECT  TOP 1 MSM1.見積数量
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					--) > 0		--2003/10/28	TEST
					) <> 0			--2003/12/08
-- 			AND		(MSM.客先在庫数 > 0
-- 			OR		MSM.転用数 > 0)
			AND		(
					(
						SELECT  TOP 1 MSM1.客先在庫数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) > 0			--2003/10/28	TEST
			OR		(
						SELECT  TOP 1 MSM1.転用数
						FROM TD見積シートM AS MSM1
						WHERE	MSM1.見積番号 = MSM.見積番号
--							AND 	MSM1.見積区分 = ''								--2005/07/05 DEL
							--AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
							AND	MSM1.見積区分 NOT IN ('A','C','S')						--2014/10/03 UPD
							AND 	MSM1.行番号 <= MSM.行番号
						ORDER BY MSM1.行番号 DESC
					) > 0			--2003/10/28	TEST
					)
		--order by msu.仕分番号, msm.行番号

		UNION ALL
		--出精値引
		SELECT	見積番号, 'ZA' AS 仕分番号, '出精値引' AS 仕分名称, 1 AS 行番号, 
				'' AS SP区分, '' AS PC区分, '' AS 製品NO, '' AS 仕様NO, '出精値引' AS 漢字名称, 
				0 AS W, 0 AS D, 0 AS H, 0 AS D1, 0 AS D2, 0 AS H1, 0 AS H2,
				1 AS 売上数量, '' AS 単位名, 売上金額 AS 売上単価, 売上金額,
				'' AS 仕入先CD, '' AS 仕入略称, 0 AS 仕入単価, 0 AS 仕入金額,
				0 AS 原価率, 0 AS 粗利益, 
				'' AS 配送先CD, '' AS 配送略称, 
				0 AS 社内在庫数, 0 AS 客先在庫数, 0 AS 転用数, 0 AS 発注数, NULL AS 製品区分, '' AS 見積区分,
				UM.伝票区分
			FROM TD売上v2 AS UH
				INNER JOIN TD売上明細V2 AS UM
					ON UH.売上番号 = UM.売上番号
			WHERE	見積番号 = @i見積番号
			AND		UM.特別区分 = 'ZA'
			--AND		出精値引 <> 0
		--order by msu.仕分番号, msm.行番号

		) AS 見積明細

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--2005/07/05 ADD-------------------------------------
	------------------------------------------------------
	--見積区分での集計処理（1～9）
	------------------------------------------------------
	SELECT * INTO #WK請求明細集計
		FROM (
			SELECT	A.見積番号, A.仕分番号, B.仕分名称, 
					A.行番号, B.SP区分, B.PC区分, B.製品NO, B.仕様NO, B.漢字名称, 
					B.W, B.D, B.H, B.D1, B.D2, B.H1, B.H2, 
					A.数量, B.単位名, A.売上金額 AS 売上単価, A.売上金額, 
					B.[仕入先CD], [仕入先略称], A.[仕入金額] AS 仕入単価, A.[仕入金額], [原価率], [粗利益], [配送先CD], [配送先略称], 
					[社内在庫数], [客先在庫数], [転用数], [発注数], [製品区分], A.[見積区分],
					伝票区分 = 1

				FROM	(
					SELECT        見積番号, 仕分番号, 見積区分,MIN(行番号) AS 行番号,
							1/*SUM(数量)*/ AS 数量, SUM(仕入金額) AS 仕入金額, SUM(売上金額) AS 売上金額
						FROM		[#WK請求明細] 
						WHERE          NOT  見積区分 IN ('','A', 'C', 'S')
						GROUP BY     見積番号, 仕分番号, 見積区分
					) AS A
					INNER JOIN (
							SELECT [見積番号], [仕分番号], [仕分名称], 
									[行番号], [SP区分], [PC区分], [製品NO], [仕様NO], [漢字名称], 
									[W], [D], [H], [D1], [D2], [H1], [H2], 
									/*[数量],' ' AS [単位名],[売上単価], [売上金額], */
									/*[数量],*/ [単位名], /*[売上単価], [売上金額], */--2013/01/31 ADD
									' ' AS [仕入先CD], ' ' AS [仕入先略称], /*[仕入単価], [仕入金額],*/ [原価率], [粗利益], ' ' AS [配送先CD], ' ' AS [配送先略称], 
									[社内在庫数], [客先在庫数], [転用数], [発注数], [製品区分], [見積区分] 
								FROM [#WK請求明細]
							) AS B
						ON	A.見積番号 = B.見積番号
						AND	A.仕分番号 = B.仕分番号
						AND	A.見積区分 = B.見積区分
						AND	A.行番号 = B.行番号
			) AS A
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細からの集計（1～9）対象の削除
	------------------------------------------------------
	DELETE FROM #WK請求明細
		WHERE  見積区分 NOT IN ('','A', 'C', 'S')

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--2005/07/05 ADD
	--見積明細へ集計（1～9）結果の追加
	------------------------------------------------------
	INSERT INTO #WK請求明細
		SELECT *
			FROM #WK請求明細集計

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--見積明細部出力
	------------------------------------------------------
--SELECT	MH.見積番号, RIGHT('0'+CONVERT(VARCHAR(2),MSU.仕分番号),2) AS 仕分番号, ISNULL(MSUN.名称,'') AS 仕分名称, MSM.行番号,
--		MSM.SP区分, MSM.PC区分, MSM.製品NO, MSM.仕様NO, MSM.漢字名称, 
--		MSM.W, MSM.D, MSM.H, MSM.D1, MSM.D2, MSM.H1, MSM.H2,
--		売上数量 = MSU.数量, 
--		MSM.単位名, MSM.売上単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.売上単価,@decimalPoint) AS 売上金額,
--		MSM.仕入先CD, MSM.仕入先名 AS 仕入先略称, MSM.仕入単価, dbo.fn_CutFraction(MH.売上端数,MSU.数量 * MSM.仕入単価,@decimalPoint) AS 仕入金額,
--		0 AS 原価率, 0 AS 粗利益, 
--		MSM.配送先CD, 配送先名 AS 配送先略称,
--		MSM.社内在庫数, MSM.客先在庫数, MSM.転用数, MSM.発注数, MSM.製品区分, MSM.見積区分,
--		UM.伝票区分
--#WK請求明細内の項目


	SELECT 	TMP.見積番号, UH.売上日付,
			MH.担当者CD, MH.現場名, 
			MH.得意先名1, MH.得意先名2, 
			TM.郵便番号 AS 得郵便番号, TM.住所1 AS 得住所1, TM.住所2 AS 得住所2, TM.電話番号 AS 得TEL,
			MH.納入得意先CD, MH.納入先CD, MH.納入先名1, MH.納入先名2, 
			MH.郵便番号 AS 納郵便番号, MH.住所1 AS 納住所1, MH.住所2 AS 納住所2, MH.納TEL,
			TMP.仕分番号, TMP.仕分名称,
			枝番 = ROW_NUMBER() OVER(PARTITION BY TMP.見積番号,TMP.仕分番号 ORDER BY TMP.行番号 ASC),
			見積行番号 = TMP.行番号,

			伝票区分 = ISNULL(TMP.伝票区分,''),
			TMP.PC区分, TMP.製品NO, TMP.仕様NO, TMP.漢字名称,
			TMP.W, TMP.D, TMP.H, TMP.D1, TMP.D2, TMP.H1, TMP.H2, 
			TMP.売上数量, TMP.単位名, TMP.売上単価, TMP.売上金額
		INTO 	#WKTBL
			FROM 	#WK請求明細 AS TMP
				INNER JOIN	(SELECT 見積番号,
									売上日付 = MAX(売上日付)
								FROM TD売上V2
								GROUP BY 見積番号
							) AS UH
					ON	TMP.見積番号 = UH.見積番号
				INNER JOIN TD見積 AS MH
					ON	TMP.見積番号 = MH.見積番号
				LEFT JOIN 	TM得意先 AS TM 
					ON 	MH.納入得意先CD = TM.得意先CD


	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


-----------------------------------------
-- 	消費税明細作成・ワークＤの最終明細に追加
-----------------------------------------
	INSERT #WKTBL
		(
		見積番号, 売上日付,
		担当者CD, 現場名, 
		得意先名1, 得意先名2,
		得郵便番号, 得住所1, 得住所2, 得TEL,
		納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
		納郵便番号, 納住所1, 納住所2, 納TEL,
		仕分番号, 仕分名称,
		枝番, 
		見積行番号,
		伝票区分,
		PC区分, 製品NO, 仕様NO, 漢字名称,
		W, D, H, D1, D2, H1, H2, 
		売上数量, 単位名, 売上単価, 売上金額
		)
	SELECT 
		D.見積番号, 売上日付, 
		担当者CD, 現場名, 
		得意先名1, 得意先名2,
		得郵便番号, 得住所1, 得住所2, 得TEL,
		納入得意先CD, 納入先CD, 納入先名1, 納入先名2,
		納郵便番号, 納住所1, 納住所2, 納TEL,
		仕分番号, 仕分名称,
		枝番 + 1 AS 枝番, 
		0,
		'',				
		'', '', '', '消費税',
		0, 0, 0, 0, 0, 0, 0,
		0, '', 0, UH.外税額
		FROM
			(
			--ワーク明細の最大行取得--
			SELECT TOP 1 * 
				FROM 	#WKTBL
				ORDER BY 	仕分番号 DESC, 枝番 DESC
			) AS D
		INNER JOIN 
			(
			--売上Ｄの消費税取得--(伝票集計のみ採用)
			SELECT	見積番号,
				--外税額 = SUM(外税額),
				外税額 = SUM(CASE WHEN UH.税集計区分 = 0
									 THEN dbo.fn_CutFraction(消費税端数,(外税対象額) / 100 * @TAX,@decimalPoint)
							WHEN UH.税集計区分 = 1 THEN 0
					   END)

				FROM TD売上V2 AS UH
				WHERE 	外税額 <> 0
				GROUP BY 見積番号
			) AS UH 
			ON 	D.見積番号 = UH.見積番号

----------------------------------
-- 	抽出データ（枝番毎に頁数をセット）
----------------------------------
	SELECT 	D.*, ((D.枝番-1)/8)+1 AS 頁
		FROM 	#WKTBL AS D
		ORDER BY 	D.仕分番号, D.枝番

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



	DROP TABLE #WK請求明細
	DROP TABLE #WK請求明細集計				--2005/07/05 ADD
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST



GO
