/****** Object:  StoredProcedure [dbo].[旧_usp_HC0200受注明細票出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[旧_usp_HC0200受注明細票出力]
GO
/****** Object:  StoredProcedure [dbo].[旧_usp_HC0200受注明細票出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_HC0200受注明細票出力

機能	指定された条件で受注明細票データを取得する

引数	
	@i見積番号
	@i開始CD	(開始仕入先)
	@i終了CD	(終了仕入先)	

戻り値	

*****************************************************/
--修正履歴
--		2003/11/28	oosawa	見積区分出力追加
--		2004/02/14	oosawa	発注数の判断の変更
--		2004/12/23	oosawa	スピードアップ（全作り変え）
--		2005/07/05	kawamura	Excelレイアウト変更[受注先住所][納期]項目追加
--		2005/07/05	oosawa	見積区分の判断の変更
--		2005/09/30	oosawa	数量がゼロでも出力するように変更
--		2008/05/07	oosawa	納入先名1・2を見積件名に変更
--		2008/11/21	oosawa	仕入金額を追加
--		2009/10/07	oosawa	仕入金額は計算しないと駄目（仕入金額項目は見積数量×仕入単価）
--		2010/04/08	oosawa	コメント行の制御を追加
--		2012/03/27	oosawa	1803：岡村のみ除外して出力するように
--								開始・終了が1803の場合のみ1803：岡村を出力する
--		2012/05/14	oosawa	納入先CDを追加
--		2013/03/14	oosawa	見出し用仕分名称の部分を修正し、スピードアップ化(見積明細連番で接続)
--		2013/07/19	oosawa	2012/03/27の仕様を削除
--		2013/09/06	oosawa		U区分追加

--		2014/07/10	oosawa		中国バージョン（金額小数点判断）
--		2014/10/10	oosawa		発注調整数を表示
--		2015/10/07	oosawa		単位追加
-----------------------------------------------------

CREATE  PROCEDURE [dbo].[旧_usp_HC0200受注明細票出力]
	@i見積番号			INT,
	@i開始CD			VARCHAR(4),
	@i終了CD			VARCHAR(4),
	@RetST			INT			OUTPUT,
	@RetMsg			NVARCHAR(256)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG		NVARCHAR(256)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	DECLARE	@MAX仕分番号	INT
	DECLARE	@SQLMoto		VARCHAR(8000)
	DECLARE	@SQLFrom		VARCHAR(8000)
	DECLARE 	@SQLFields 		VARCHAR(8000)
	DECLARE	@SQLSelect		VARCHAR(8000)
	DECLARE	@SQLWhere		VARCHAR(8000)

	--カウント用
	DECLARE	@i			INT

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

--------------------------------------------------
	-- 仕分ＭＡＸ取得
--------------------------------------------------
	--2005/09/03 DEL
--	SELECT 	@MAX仕分番号 = MAX(仕分MAX.仕分番号)
--	FROM
--		(
--		SELECT 	見積番号, 仕分番号, SUM(数量) AS 数量
--			FROM 	TD見積シート内訳
--			WHERE 	見積番号 = @i見積番号
--			GROUP BY 	見積番号, 仕分番号
--			HAVING 	(SUM(数量) <> 0)
-- 		) AS 仕分MAX
-- 		--ORDER BY 仕分番号
	
	--SELECT @MAX仕分番号 AS MAX
	--2005/09/30 ADD
	SELECT @MAX仕分番号 = MAX(仕分番号)
		FROM TD見積シート内訳
		WHERE 	見積番号 = @i見積番号
		AND		数量 <> 0
--------------------------------------------------
	-- 見出し用仕分名称
--------------------------------------------------
	----2013/03/14 DEL↓
 	----SELECT 	U.見積番号, U.仕分番号, ISNULL(UM.略称,'') AS 略称
 	----	FROM TD見積シート内訳 AS U 
 	----	INNER JOIN TD見積シートM AS MM ON MM.見積番号=U.見積番号
 	----	LEFT JOIN TD見積シート内訳名称 AS UM ON U.見積番号 = UM.見積番号 AND U.仕分番号 = UM.仕分番号
 	----	WHERE 	U.見積番号 = @i見積番号
 	----	AND		MM.仕入先CD>=COALESCE(@i開始CD,MM.仕入先CD)
 	----	AND		MM.仕入先CD<=COALESCE(@i終了CD,MM.仕入先CD)
 	----	GROUP BY 	U.見積番号, U.仕分番号, UM.略称
 	----	--HAVING 	(SUM(数量) <> 0)
 	----	HAVING 	U.仕分番号 <= @MAX仕分番号
 	----	ORDER BY U.仕分番号
 	----2013/03/14 DEL↑
 	
	------2013/03/14 ADD↓
   	SELECT 	U.見積番号, U.仕分番号, ISNULL(UM.略称,'') AS 略称
 		FROM TD見積シートM AS MM
 		INNER JOIN TD見積シート内訳 AS U 
 			ON MM.見積明細連番=U.見積明細連番
 		LEFT JOIN TD見積シート内訳名称 AS UM
			ON U.見積番号 = UM.見積番号
 			AND U.仕分番号 = UM.仕分番号
 		WHERE 	U.見積番号 = @i見積番号
 		AND		MM.仕入先CD>=COALESCE(@i開始CD,MM.仕入先CD)
 		AND		MM.仕入先CD<=COALESCE(@i終了CD,MM.仕入先CD)
 		GROUP BY 	U.見積番号, U.仕分番号, UM.略称
 		--HAVING 	(SUM(数量) <> 0)
 		HAVING 	U.仕分番号 <= @MAX仕分番号
 		ORDER BY U.仕分番号
	----2013/03/14 ADD↑

 	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--シート内訳
	SET @i = 1
	SET @SQLFields = ''

--2004/12/23 DEL
-- 	SET @SQLMoto=''
-- 	SET @SQLMoto=	'SELECT	KS.仕入先件数,MS.見積番号,MS.見積日付,MS.納入先名1,MS.納入先名2,MS.仕入先CD,MS.略称 AS 仕入先名, MS.行番号,'
-- 			+	'MS.見積区分,'			--2003/11/28 ADD
-- 			+  	'MS.製品NO,MS.仕様NO,MS.漢字名称,MS.W, MS.D, MS.H, MS.D1,MS.D2, MS.H1, MS.H2, MS.仕入単価,'
--   			+	'MS.発注数,MS.社内在庫数,MS.客先在庫数,MS.転用数,MS.総数量'
-- 
-- 	WHILE (@i <= @MAX仕分番号)		BEGIN
-- 
-- 		--カンマを付ける
-- 		IF @SQLMoto <> "" BEGIN
-- 			SET @SQLMoto = @SQLMoto + ','
-- 		END
-- 
-- 		IF @SQLFields <> "" BEGIN
-- 			SET @SQLFields = @SQLFields + ','
-- 		END
-- 	
-- 		SET @SQLMoto=@SQLMoto+' MS.仕分数' + LTRIM(STR(@i))
-- 		SET @SQLFields = @SQLFields + ' MSM.仕分数' + LTRIM(STR(@i))
-- 			
-- 		SET @i = @i + 1
-- 	END
-- 
-- 	SET @SQLFrom=''
-- -- 	SET @SQLFrom=	' FROM'
-- -- 			+ 	' (SELECT 見積番号, 仕入先CD, Count(行番号) AS 仕入先件数 '
-- -- 			+ 	' FROM TD見積シートM AS MSM '
-- -- 			+	' WHERE '
-- -- 			+	'	(SELECT  TOP 1 発注数 '
-- -- 			+ 	' 		FROM TD見積シートM AS MSM1'
-- -- 			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- -- 			+ 	' 				AND 	MSM1.見積区分 = '''''
-- -- 			+	' 				AND 	MSM1.行番号 <= MSM.行番号'
-- -- 			+ 	' 				ORDER BY MSM1.行番号 DESC'
-- -- --			+	') > 0'
-- -- 			+	') <> 0'		--2003/02/14
-- -- --			+	' WHERE	発注数 > 0'
-- -- -- 			+	' WHERE 	NOT(総数量 = 0 '
-- -- -- 			+ 	' AND       社内在庫数 = 0 ' 
-- -- -- 			+ 	' AND       客先在庫数 = 0 '
-- -- -- 			+ 	' AND       転用数 = 0) ' 
-- -- 			+ 	' AND 	見積番号 	=  ' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- --  			+	' AND	仕入先CD	>= '	+ COALESCE('''' + @i開始CD + '''','仕入先CD')
-- --  			+	' AND	仕入先CD	<= '	+ COALESCE('''' + @i終了CD + '''' ,'仕入先CD')
-- -- 			/*+	' AND	仕入先CD	>= '	+ COALESCE(@i開始CD ,'仕入先CD') 
-- --  			+	' AND	仕入先CD	<= '	+ COALESCE(@i終了CD ,'仕入先CD')*/
-- -- 			+	' GROUP BY 見積番号, 仕入先CD) AS KS '
-- 	SET @SQLFrom=	' FROM'
-- 			+ 	' (SELECT 見積番号, 仕入先CD, Count(行番号) AS 仕入先件数 '
-- 			+ 	' FROM TD見積シートM AS MSM '
-- 			+	' WHERE '
-- 			+	'	((SELECT  TOP 1 発注数 '
-- 			+ 	' 		FROM TD見積シートM AS MSM1'
-- 			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- 			+	'				AND	MSM.見積区分 = ''C'' OR MSM.見積区分 = ''S'''
-- 			+ 	' 				AND 	MSM1.見積区分 = '''''
-- 			+	' 				AND 	MSM1.行番号 <= MSM.行番号'
-- 			+ 	' 				ORDER BY MSM1.行番号 DESC'
-- 			+	') <> 0'
-- 			+	' OR	(SELECT  TOP 1 発注数 '
-- 			+ 	' 		FROM TD見積シートM AS MSM1'
-- 			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- 			+	'				AND	MSM.見積区分 = ''A'''
-- 			+ 	' 				AND 	MSM1.見積区分 = '''''
-- 			+	' 				AND 	MSM1.行番号 >= MSM.行番号'
-- 			+ 	' 				ORDER BY MSM1.行番号 ASC'
-- 			+	') <> 0'
-- 			+	' OR	(SELECT  TOP 1 発注数 '
-- 			+ 	' 		FROM TD見積シートM AS MSM1'
-- 			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- 			+	'				AND	MSM.見積区分 = '''''
-- 			+ 	' 				AND 	MSM1.見積区分 = '''''
-- 			+	' 				AND 	MSM1.行番号 = MSM.行番号'
-- 			+ 	' 				ORDER BY MSM1.行番号 ASC'
-- 			+	') <> 0 )'
-- 			+ 	' AND 	見積番号 	=  ' 	+ CONVERT(VARCHAR(7),@i見積番号) 
--  			+	' AND	仕入先CD	>= '	+ COALESCE('''' + @i開始CD + '''','仕入先CD')
--  			+	' AND	仕入先CD	<= '	+ COALESCE('''' + @i終了CD + '''' ,'仕入先CD')
-- 			+	' GROUP BY 見積番号, 仕入先CD) AS KS '
-- 
-- 	SET @SQLSelect = ''
-- 	SET @SQLSelect='SELECT	MH.見積番号,MH.見積日付,MH.納入先名1,MH.納入先名2,'
-- 			+ 'MSM.仕入先CD,SRM.略称, '
-- 			+ 'MSM.見積区分,'										--2003/11/28 ADD
-- 			+ 'MSM.行番号,MSM.製品NO,MSM.仕様NO,MSM.漢字名称,'
-- 			+ 'MSM.W, MSM.D, MSM.H, MSM.D1,MSM.D2, MSM.H1, MSM.H2, '
-- 			+ 'MSM.仕入単価,MSM.発注数,MSM.社内在庫数,MSM.客先在庫数,MSM.転用数,MSM.総数量 '
-- 
-- 	SET @SQLWhere = ''
-- -- 	SET @SQLWhere= ' FROM TD見積 AS MH'
-- -- 			+ ' INNER JOIN VD見積シートM AS MSM ON MH.見積番号 = MSM.見積番号 '
-- -- 	 		+ ' LEFT JOIN TM仕入先 AS SRM ON MSM.仕入先CD = SRM.仕入先CD '
-- -- 			+	' WHERE '
-- -- 			+	'	(SELECT  TOP 1 発注数 '
-- -- 			+ 	' 		FROM TD見積シートM AS MSM1'
-- -- 			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- -- 			+ 	' 				AND 	MSM1.見積区分 = '''''
-- -- 			+	' 				AND 	MSM1.行番号 <= MSM.行番号'
-- -- 			+ 	' 				ORDER BY MSM1.行番号 DESC'
-- -- 			--+	') > 0'
-- -- 			+	') <> 0'		--2003/12/08
-- -- --		+ ' WHERE	MSM.発注数 > 0'
-- -- -- 		+ ' WHERE 	NOT(MSM.総数量 = 0'
-- -- -- 		+ ' AND	MSM.社内在庫数 = 0'
-- -- -- 		+ ' AND	MSM.客先在庫数 = 0'
-- -- -- 		+ ' AND	MSM.転用数 = 0)'
-- --  		+ ' AND 	MH.見積番号 =  '	+	CONVERT(VARCHAR(7),@i見積番号)
-- -- -- 		+ ' AND	MSM.仕入先CD	>= '	+ COALESCE('''' + @i開始CD + '''','MSM.仕入先CD') 
-- -- --  		+ ' AND	MSM.仕入先CD	<= '	+ COALESCE('''' + @i終了CD + '''','MSM.仕入先CD')
-- --  			+	' AND	MSM.仕入先CD	>= '	+ COALESCE('''' + @i開始CD + '''' ,'MSM.仕入先CD')
-- --  			+	' AND	MSM.仕入先CD	<= '	+ COALESCE('''' + @i終了CD + '''' ,'MSM.仕入先CD')
-- -- 		/*+ ' AND	MSM.仕入先CD	>= '	+ COALESCE(@i開始CD,'MSM.仕入先CD') 
-- --  		+ ' AND	MSM.仕入先CD	<= '	+ COALESCE(@i終了CD,'MSM.仕入先CD')*/
-- -- 		+ ' ) AS MS ON KS.見積番号 = MS.見積番号 AND KS.仕入先CD=MS.仕入先CD '
-- 
-- 	SET @SQLWhere= ' FROM TD見積 AS MH'
-- 			+ ' INNER JOIN VD見積シートM AS MSM ON MH.見積番号 = MSM.見積番号 '
-- 	 		+ ' LEFT JOIN TM仕入先 AS SRM ON MSM.仕入先CD = SRM.仕入先CD '
-- 			+	' WHERE '
-- 			+	'	((SELECT  TOP 1 発注数 '
-- 			+ 	' 		FROM TD見積シートM AS MSM1'
-- 			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- 			+	'				AND	MSM.見積区分 = ''C'' OR MSM.見積区分 = ''S'''
-- 			+ 	' 				AND 	MSM1.見積区分 = '''''
-- 			+	' 				AND 	MSM1.行番号 <= MSM.行番号'
-- 			+ 	' 				ORDER BY MSM1.行番号 DESC'
-- 			+	') <> 0'		--2003/12/08
--  			+	' OR	(SELECT  TOP 1 発注数 '
-- 			+ 	' 		FROM TD見積シートM AS MSM1'
-- 			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- 			+	'				AND	MSM.見積区分 = ''A'''
-- 			+ 	' 				AND 	MSM1.見積区分 = '''''
-- 			+	' 				AND 	MSM1.行番号 >= MSM.行番号'
-- 			+ 	' 				ORDER BY MSM1.行番号 ASC'
-- 			+	') <> 0'
-- 			+	' OR	(SELECT  TOP 1 発注数 '
-- 			+ 	' 		FROM TD見積シートM AS MSM1'
-- 			+ 	' 			WHERE	MSM1.見積番号 =' 	+ CONVERT(VARCHAR(7),@i見積番号) 
-- 			+	'				AND	MSM.見積区分 = '''''
-- 			+ 	' 				AND 	MSM1.見積区分 = '''''
-- 			+	' 				AND 	MSM1.行番号 = MSM.行番号'
-- 			+ 	' 				ORDER BY MSM1.行番号 ASC'
-- 			+	') <> 0 )'
-- 		+ ' AND 	MH.見積番号 =  '	+	CONVERT(VARCHAR(7),@i見積番号)
--  			+	' AND	MSM.仕入先CD	>= '	+ COALESCE('''' + @i開始CD + '''' ,'MSM.仕入先CD')
--  			+	' AND	MSM.仕入先CD	<= '	+ COALESCE('''' + @i終了CD + '''' ,'MSM.仕入先CD')
-- 		+ ' ) AS MS ON KS.見積番号 = MS.見積番号 AND KS.仕入先CD=MS.仕入先CD '
-- 	
-- --------------------------------------------------
-- 	-- 受注明細票用データ取得
-- --------------------------------------------------
-- 	
-- /*EXEC(	'SELECT	MH.見積番号,MH.見積日付,MH.納入先名1,MH.納入先名2,'
-- 			+ 'MSM.仕入先CD,SRM.略称, '
-- 			+ 'MSM.行番号,MSM.製品NO,MSM.仕様NO,MSM.漢字名称,'
-- 			+ 'MSM.W, MSM.D, MSM.H, MSM.D1,MSM.D2, MSM.H1, MSM.H2, '
-- 			+ 'MSM.仕入単価,MSM.発注数,MSM.社内在庫数,MSM.客先在庫数,MSM.転用数,MSM.総数量,'
-- 			+ @SQLFields
-- 		+ ' FROM TD見積 AS MH'
-- 			+ ' INNER JOIN VD見積シートM AS MSM ON MH.見積番号 = MSM.見積番号 '
-- 	 		+ ' LEFT JOIN TM仕入先 AS SRM ON MSM.仕入先CD = SRM.仕入先CD '
-- 		+ ' WHERE 	NOT(MSM.総数量 = 0'
-- 		+ ' AND	MSM.社内在庫数 = 0'
-- 		+ ' AND	MSM.客先在庫数 = 0'
-- 		+ ' AND	MSM.転用数 = 0)'
--  		+ ' AND 	MH.見積番号 =  '	+	@i見積番号
-- 		+ ' AND	MSM.仕入先CD	>= '	+	'COALESCE(' + @i開始CD +',MSM.仕入先CD)'
-- 		+ ' AND	MSM.仕入先CD	<= '	+	'COALESCE(' + @i終了CD +',MSM.仕入先CD)'
-- 		+ ' ORDER BY MSM.仕入先CD,MH.見積番号,MSM.行番号'
-- 		)*/
-- 
-- 	--PRINT @SQLSELECT
-- 	IF @SQLFields<>"" BEGIN
-- 		SET @SQLSelect=@SQLSelect + ', ' 
-- 	END 
-- 	print @SqlMoto + @SQLFrom+ 'INNER JOIN (' + @SQLSelect+@SQLFields+@SQLWhere+' ORDER BY MS.仕入先CD,MS.見積番号,MS.行番号'
-- 
-- 	EXECUTE (@SqlMoto + @SQLFrom+ 'INNER JOIN (' + @SQLSelect+@SQLFields+@SQLWhere+' ORDER BY MS.仕入先CD,MS.見積番号,MS.行番号')
--2004/12/23 DEL

--2004/12/23 ADD-------------------------------
	SET @SQLMoto=''
--2005/07/05.DEL
/*
	SET @SQLFields=	'KS.仕入先件数,MS.見積番号,MS.見積日付,MS.納入先名1,MS.納入先名2,MS.仕入先CD,SRM.略称 AS 仕入先名, MS.行番号,'
			+	'MS.見積区分,'
			+  	'MS.製品NO,MS.仕様NO,MS.漢字名称,MS.W, MS.D, MS.H, MS.D1,MS.D2, MS.H1, MS.H2, MS.仕入単価,'
  			+	'MS.発注数,MS.社内在庫数,MS.客先在庫数,MS.転用数,MS.総数量'
*/
--2005/07/05.ADD
	SET @SQLFields=	'KS.仕入先件数,MS.見積番号,MS.見積日付,'
			+	'MS.見積件名,'											--2008/05/07 ADD
			+ 	'MS.納入先名1,MS.納入先名2,MS.郵便番号,MS.住所1,MS.住所2,MS.納TEL,MS.納FAX,'
			+	'MS.納入先CD,'		--2012/05/14 ADD
			+ 	'MS.仕入先CD,SRM.略称 AS 仕入先名, '
			+ 	'MS.配送先CD, '
			+	'HSM.配送先名1,HSM.配送先名2,HSM.郵便番号 AS 配送郵便番号,'
			+	'HSM.住所1 AS 配送住所1,HSM.住所2 AS 配送住所2,'
			+	'HSM.電話番号 AS 配送電話番号,HSM.FAX番号 AS 配送FAX番号,'
			+	'MS.行番号,'
			+	'MS.見積区分,'
			+  	'MS.製品NO,MS.仕様NO,MS.漢字名称,MS.W, MS.D, MS.H, MS.D1,MS.D2, MS.H1, MS.H2, MS.仕入単価,'
  			--+	'MS.発注数,MS.社内在庫数,MS.客先在庫数,MS.転用数,MS.総数量'
  			+	'MS.発注数,MS.社内在庫数,MS.客先在庫数,MS.転用数,MS.発注調整数,MS.総数量'--2014/10/10 ADD
  			+	',MS.U区分'--2013/09/06 ADD
  			+	',MS.単位名'--2015/10/07 ADD
--  			+	',MS.仕入金額'											--2008/11/21 ADD
----			+	',dbo.fn_CutFraction(SRM.仕入端数,発注数 * 仕入単価,0) AS 仕入金額'--2014/07/10 DEL
			+	',dbo.fn_CutFraction(SRM.仕入端数,発注数 * 仕入単価,' + LTRIM(STR(@decimalPoint)) + ') AS 仕入金額'--2014/07/10 ADD
----------------

	WHILE (@i <= @MAX仕分番号)		BEGIN

		--カンマを付ける
-- 		IF @SQLMoto <> '' BEGIN
-- 			SET @SQLMoto = @SQLMoto + ','
-- 		END

		IF @SQLFields <> '' BEGIN
			SET @SQLFields = @SQLFields + ','
		END
	
--		SET @SQLMoto=@SQLMoto+' MS.仕分数' + LTRIM(STR(@i))
		SET @SQLFields = @SQLFields + ' MS.仕分数' + LTRIM(STR(@i))
			
		SET @i = @i + 1
	END

	--V見積シートMより対象データ抽出
	SELECT * INTO #TMP
		FROM (
			SELECT 	MH.見積番号 AS [見積№],MH.見積日付,
					MH.見積件名,					--2008/05/07 ADD
					--2005/07/05.DEL
					--MH.納入先名1,MH.納入先名2,				
					--2005/07/05.ADD
					MH.納入先名1,MH.納入先名2,MH.郵便番号,MH.住所1,MH.住所2,MH.納TEL,MH.納FAX,
					MH.納入先CD,	--2012/05/14 ADD
					----------------
					MSM.*
				FROM TD見積 AS MH 
					INNER JOIN VD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号  
		 		WHERE 	MSM.見積番号 = @i見積番号
--					AND	MSM.見積区分 = ''
					AND	MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
					AND	MSM.発注数 <> 0
			 		AND	MSM.仕入先CD>=COALESCE(@i開始CD,MSM.仕入先CD)
			 		AND	MSM.仕入先CD<=COALESCE(@i終了CD,MSM.仕入先CD)
					----2012/03/27 ADD↓
					----1803:岡村を個別に出力する為
					--AND	MSM.仕入先CD <> (CASE WHEN @i開始CD = '1803' AND @i終了CD = '1803'
					--						THEN 'zzzzzzzz'--ありえないコードをセット
					--						ELSE '1803' END)
					----2012/03/27 ADD↑
			UNION ALL
			SELECT 	MH.見積番号 AS [見積№],MH.見積日付,
					MH.見積件名,					--2008/05/07 ADD
					--2005/07/05.DEL
					--MH.納入先名1,MH.納入先名2,				
					--2005/07/05.ADD
					MH.納入先名1,MH.納入先名2,MH.郵便番号,MH.住所1,MH.住所2,MH.納TEL,MH.納FAX,
					MH.納入先CD,	--2012/05/14 ADD
					----------------
					MSM.* 
				FROM TD見積 AS MH 
					INNER JOIN VD見積シートM AS MSM
					ON MH.見積番号 = MSM.見積番号  
		 		WHERE 	MSM.見積番号 = @i見積番号
-- 					AND 	(MSM.見積区分 =  'A' OR MSM.見積区分 =  'C' OR MSM.見積区分 =  'S')	--2010/04/08 DEL
					AND 	(MSM.見積区分 =  'A')								--2010/04/08 ADD
			 		AND	MSM.仕入先CD>=COALESCE(@i開始CD,MSM.仕入先CD)
			 		AND	MSM.仕入先CD<=COALESCE(@i終了CD,MSM.仕入先CD)
					----2012/03/27 ADD↓
					----1803:岡村を個別に出力する為
					--AND	MSM.仕入先CD <> (CASE WHEN @i開始CD = '1803' AND @i終了CD = '1803'
					--						THEN 'zzzzzzzz'--ありえないコードをセット
					--						ELSE '1803' END)
					----2012/03/27 ADD↑
					--2010/04/08 ADD↓
					AND	(
							SELECT  TOP 1 MSM1.発注数
							FROM TD見積シートM AS MSM1
							WHERE	MSM1.見積番号 = MSM.見積番号
								AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')
								AND 	MSM1.行番号 >= MSM.行番号
							ORDER BY MSM1.行番号 ASC
						) <> 0
					--2010/04/08 ADD↑
			--2010/04/08 ADD↓
			--"C"・"S"
			UNION ALL
				SELECT 	MH.見積番号 AS [見積№],MH.見積日付,
						MH.見積件名,
						MH.納入先名1,MH.納入先名2,MH.郵便番号,MH.住所1,MH.住所2,MH.納TEL,MH.納FAX,
					MH.納入先CD,	--2012/05/14 ADD
						----------------
						MSM.* 
					FROM TD見積 AS MH 
						INNER JOIN VD見積シートM AS MSM
						ON MH.見積番号 = MSM.見積番号  
			 		WHERE 	MSM.見積番号 = @i見積番号
						AND 	(MSM.見積区分 =  'C' OR MSM.見積区分 =  'S')
				 		AND	MSM.仕入先CD>=COALESCE(@i開始CD,MSM.仕入先CD)
				 		AND	MSM.仕入先CD<=COALESCE(@i終了CD,MSM.仕入先CD)
						----2012/03/27 ADD↓
						----1803:岡村を個別に出力する為
						--AND	MSM.仕入先CD <> (CASE WHEN @i開始CD = '1803' AND @i終了CD = '1803'
						--						THEN 'zzzzzzzz'--ありえないコードをセット
						--						ELSE '1803' END)
						----2012/03/27 ADD↑
						AND	(
								SELECT  TOP 1 MSM1.発注数
								FROM TD見積シートM AS MSM1
								WHERE	MSM1.見積番号 = MSM.見積番号
									AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')
									AND 	MSM1.行番号 <= MSM.行番号
								ORDER BY MSM1.行番号 DESC
							) <> 0
			--2010/04/08 ADD↑
			) AS A
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	PRINT 'SELECT ' + @SQLFields + ' FROM (SELECT 見積番号, 仕入先CD, Count(行番号) AS 仕入先件数	
							FROM #TMP
							GROUP BY 見積番号, 仕入先CD) AS KS
					INNER JOIN #TMP AS MS
						ON KS.見積番号 = MS.見積番号 
						AND KS.仕入先CD=MS.仕入先CD 
					LEFT JOIN TM仕入先 AS SRM 
						ON MS.仕入先CD = SRM.仕入先CD  
					ORDER BY MS.仕入先CD,MS.見積番号,MS.行番号'
	--出力フィールドでSELECT
-- 	EXEC ('SELECT ' + @SQLFields + ' FROM (SELECT 見積番号, 仕入先CD, Count(行番号) AS 仕入先件数	
-- 							FROM #TMP
-- 							GROUP BY 見積番号, 仕入先CD) AS KS
-- 					INNER JOIN #TMP AS MS
-- 						ON KS.見積番号 = MS.見積番号 
-- 						AND KS.仕入先CD=MS.仕入先CD 
-- 					LEFT JOIN TM仕入先 AS SRM 
-- 						ON MS.仕入先CD = SRM.仕入先CD  
-- 					ORDER BY MS.仕入先CD,MS.見積番号,MS.行番号')
	EXEC ('SELECT ' + @SQLFields + ' FROM (SELECT 見積番号, 仕入先CD, 配送先CD, Count(行番号) AS 仕入先件数	
							FROM #TMP
							GROUP BY 見積番号, 仕入先CD, 配送先CD) AS KS
					INNER JOIN #TMP AS MS
						ON KS.見積番号 = MS.見積番号 
						AND KS.仕入先CD=MS.仕入先CD 
						AND KS.配送先CD=MS.配送先CD 
					LEFT JOIN TM仕入先 AS SRM 
						ON MS.仕入先CD = SRM.仕入先CD  
					LEFT JOIN TM配送先 AS HSM 
						ON MS.配送先CD = HSM.配送先CD  
					ORDER BY MS.仕入先CD,MS.配送先CD,MS.見積番号,MS.行番号')

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP



--2004/12/23 ADD-------------------------------

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
