/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor補助科目]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ChkDelFor補助科目]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChkDelFor補助科目]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_ChkDelFor補助科目

機能	補助科目マスタメンテ[削除]のデータ存在チェック

	経費明細Ｄ

引数	科目CD・補助CD

戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ChkDelFor補助科目]
	(
		@i科目CD	SMALLINT,
		@i補助CD	SMALLINT,
		
		--OUTPUT
		@RetST		INT				OUTPUT,
		@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN 	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

	DECLARE	@wDCnt	INT

	--------------------------
	--経費明細Ｄチェック
	--------------------------
	SET 	@wDCnt 	= 	0

	SELECT 	@wDCnt = COUNT(経費番号)
		FROM 		TD経費明細
		WHERE	(科目CD = @i科目CD)
			--AND 	(補助科目CD = @i補助CD)

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	IF @wDCnt > 0 BEGIN
		SET 	@ST 	=	-1
		SET	@MSG = 	'[経費明細データ]に使用されている為、削除できません。'
	 	GOTO		EXIT_SP
	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMSG = @MSG
		END
	END

	RETURN @ST

GO
