/****** Object:  StoredProcedure [dbo].[usp_HD0900売上日計表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0900売上日計表]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0900売上日計表]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************

名称	usp_HD0900売上日計表

機能	売上データを出力（仕分なし）

引数	

戻り値	
*****************************************************
	2014/07/10	oosawa		中国バージョン（金額小数点判断）

	2014/10/27	oosawa		新設	
*****************************************************/
CREATE    PROCEDURE [dbo].[usp_HD0900売上日計表]
	(
		@is売上日付		DATETIME,
		@ie売上日付		DATETIME,
		@is請求日付		DATETIME,
		@ie請求日付		DATETIME,
		@is得意先CD		VARCHAR(4),
		@ie得意先CD		VARCHAR(4),

		@RetST	INT				OUTPUT,
		@RetMsg	VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON	

	DECLARE	@TRAN	TINYINT,
			@ST		INT,
			@MSG	VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST		=	0
	SET	@MSG		=	''

--SET @is売上日付 = '2014/08/01'
--SET @ie売上日付 = '2014/08/31'
----SET @is請求日付 = '2014/08/01'
----SET @ie請求日付 = '2014/08/31'
--SET @is請求日付 = NULL
--SET @ie請求日付 = NULL
--SET @is得意先CD = NULL
--SET @ie得意先CD = NULL
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	declare @decimalPoint  int
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	------------------------------------------------------
	--見積出力用データ作成
	------------------------------------------------------
	SELECT	1 AS 区分,
			UH.見積番号, UH.売上番号,
			UH.売上日付, USH.請求日付, 
			MH.納入得意先CD, MH.納入先CD, MH.納入先名1, MH.納入先名2,
			UM.伝票区分,UM.売上明細行番号,
			UM.製品NO, UM.仕様NO, UM.漢字名称,
			UM.W, UM.D, UM.H, UM.D1, UM.D2, UM.H1, UM.H2,
			UM.売上数量, UM.単位名, UM.売上単価, UM.売上金額
		FROM	TD売上v2 AS UH
			LEFT JOIN TD売上請求H AS USH
				ON UH.見積番号 = USH.見積番号
			INNER JOIN TD見積 AS MH
				ON UH.見積番号 = MH.見積番号
			INNER JOIN TD売上明細V2 AS UM
				ON UH.売上番号 = UM.売上番号
		WHERE	UH.売上日付 >= COALESCE(@is売上日付, UH.売上日付)
			AND	UH.売上日付 <= COALESCE(@ie売上日付, UH.売上日付)
			AND	(USH.請求日付 >= COALESCE(@is請求日付, USH.請求日付) OR (@is請求日付 IS NULL))
			AND	(USH.請求日付 <= COALESCE(@ie請求日付, USH.請求日付) OR (@ie請求日付 IS NULL))
			AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
			AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)

	UNION ALL 
		--消費税明細
		SELECT	2 AS 区分,
				UH.見積番号, UH.売上番号,
				UH.売上日付, USH.請求日付, 
				
				MH.納入得意先CD,MH.納入先CD,MH.納入先名1,MH.納入先名2,
				伝票区分='',売上明細行番号=0,
				'' AS 製品NO,'' AS 仕様NO,'' AS 漢字名称,
				'' AS W,'' AS D,'' AS D1,'' AS D2, '' AS H,'' AS H1,''AS H2,
				0 AS 売上数量,'' AS 単位名,0 AS 売上単価,UH.外税額 AS 売上金額
		FROM	TD売上v2 AS UH
			LEFT JOIN TD売上請求H AS USH
				ON UH.見積番号 = USH.見積番号
			INNER JOIN TD見積 AS MH
				ON UH.見積番号 = MH.見積番号
		WHERE	UH.売上日付 >= COALESCE(@is売上日付, UH.売上日付)
			AND	UH.売上日付 <= COALESCE(@ie売上日付, UH.売上日付)
			AND	(USH.請求日付 >= COALESCE(@is請求日付, USH.請求日付) OR (@is請求日付 IS NULL))
			AND	(USH.請求日付 <= COALESCE(@ie請求日付, USH.請求日付) OR (@ie請求日付 IS NULL))
			AND	MH.得意先CD >= COALESCE(@is得意先CD, MH.得意先CD)
			AND	MH.得意先CD <= COALESCE(@ie得意先CD, MH.得意先CD)
			AND UH.税集計区分=0

		ORDER BY MH.納入得意先CD,UH.売上日付,UH.売上番号,区分,UM.売上明細行番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
