/****** Object:  StoredProcedure [dbo].[usp_TN1800入出庫一覧]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN1800入出庫一覧]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN1800入出庫一覧]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_TN1800入出庫一覧

機能	チーム別製品の
		入出庫を作成する


引数

戻り値

修正履歴
	2017/01/17	新規作成
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN1800入出庫一覧]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iチームCD		INT,
	@i製品NO		VARCHAR(12),
	@i仕様NO		VARCHAR(10),

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	DECLARE		@NCNT	INT,
				@SCNT	INT
	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''
	SET	@NCNT	=	0
	SET	@SCNT	=	0

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

	------------
	--入出庫
	------------
	--入庫
	SELECT	MH.見積番号,MH.社内伝票扱い, MH.見積件名,
			SM.仕入日付,  SM.仕入先CD, SI.略称, SM.配送先CD,
			SMU.見積行番号,
			SMU.SP区分, SMU.PC区分, SMU.製品NO, SMU.仕様NO, SMU.漢字名称, 
			SMU.W, SMU.D, SMU.H, SMU.D1, SMU.D2, SMU.H1, SMU.H2, 
			SMU.仕入数量, SMU.仕入単価, SMU.仕入金額, 
			SMU.仕入税区分, SMU.消費税額, SMU.製品区分
		FROM	TD仕入明細 AS SM
			INNER JOIN	TD見積 AS MH
				ON SM.見積番号 = MH.見積番号
			INNER JOIN	TD仕入明細内訳 AS SMU
				ON SM.仕入番号 = SMU.仕入番号
			INNER JOIN TM得意先 AS TM
				ON MH.販売先得意先CD = TM.得意先CD
			LEFT JOIN TM仕入先 AS SI
				ON SM.仕入先CD = SI.仕入先CD
		WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
			AND SM.仕入日付 BETWEEN @iS集計日付 AND @iE集計日付
			AND	SMU.製品NO = @i製品NO
			AND SMU.仕様NO = @i仕様NO
			AND TM.チームCD = @iチームCD
			AND	NOT(SMU.伝票区分 IN ('A','C','S'))
		ORDER BY	SM.仕入日付,MH.見積番号,SMU.見積行番号
			
	--抽出件数取得
	SET 	@NCNT = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--出庫
	SELECT	MH.見積番号,MH.社内伝票扱い, MH.見積件名,
			SM.仕入日付,  SM.仕入先CD, SI.略称, SM.配送先CD,
			SMU.見積行番号,
			SMU.SP区分, SMU.PC区分, SMU.製品NO, SMU.仕様NO, SMU.漢字名称, 
			SMU.W, SMU.D, SMU.H, SMU.D1, SMU.D2, SMU.H1, SMU.H2, 
			SMU.仕入数量, SMU.仕入単価, SMU.仕入金額, 
			SMU.仕入税区分, SMU.消費税額, SMU.製品区分
		FROM	TD仕入明細 AS SM
			INNER JOIN	TD見積 AS MH
				ON SM.見積番号 = MH.見積番号
			INNER JOIN	TD仕入明細内訳 AS SMU
				ON SM.仕入番号 = SMU.仕入番号
			INNER JOIN TM得意先 AS TM
				ON MH.販売先得意先CD = TM.得意先CD
			LEFT JOIN TM仕入先 AS SI
				ON SM.仕入先CD = SI.仕入先CD
		WHERE	SM.仕入先CD = '3150'--三和倉庫
			AND SM.仕入日付 BETWEEN @iS集計日付 AND @iE集計日付
			AND	SMU.製品NO = @i製品NO
			AND SMU.仕様NO = @i仕様NO
			AND TM.チームCD = @iチームCD
			AND	NOT(SMU.伝票区分 IN ('A','C','S'))
		ORDER BY	SM.仕入日付,MH.見積番号,SMU.見積行番号

	SET 	@SCNT = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--最大数を返す
	IF (@NCNT > @SCNT) BEGIN
		SET	@RetDcnt = @NCNT
	END ELSE BEGIN
		SET	@RetDcnt = @SCNT
	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
