/****** Object:  StoredProcedure [dbo].[usp_TN2003DELチーム別棚卸]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2003DELチーム別棚卸]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2003DELチーム別棚卸]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_TN2003DELチーム別棚卸

	機能:	
		棚卸情報および、棚卸明細情報を削除する。

 =============================================
	2017/02/03	oosawa	新規作成

 =============================================*/
CREATE	PROCEDURE	[dbo].[usp_TN2003DELチーム別棚卸]
	(
	@i棚卸番号		INT,

	@RetST			INT			OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)

AS
	SET	NOCOUNT ON

	DECLARE
			@TRAN	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	-- トランザクションを開始します
	--------------------------------------------------
	BEGIN TRAN

	--------------------------------------------------
	--社内在庫移動を削除します。
	--------------------------------------------------
	DELETE 
		FROM TD棚卸明細
		WHERE 棚卸番号 = @i棚卸番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	DELETE 
		FROM TD棚卸
		WHERE 棚卸番号 = @i棚卸番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
