/****** Object:  StoredProcedure [dbo].[usp_SH0200検収一覧表出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SH0200検収一覧表出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_SH0200検収一覧表出力]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SH0200検収一覧表出力

機能	指定された条件で検収一覧表データを取得する

引数
	@i支払日付
	@i開始仕入先
	@i終了仕入先
戻り値	
	
*****************************************************
	2013/07/31	oosawa		税込仕入額を追加
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SH0200検収一覧表出力]
	@i支払日付		DATETIME,
	@i開始仕入先		VARCHAR(4),
	@i終了仕入先		VARCHAR(4),
	@RetST		INT		OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE 	@ST	INT,
			@MSG	VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''	

	--支払金額マスタ抽出
	SELECT 	SK.仕入先CD,SR.仕入先名1,SR.仕入先名2,SK.支払日付,SK.前月残高,SK.支払金額,SK.調整金額,
			ISNULL(SK.前月残高,0)-ISNULL(SK.支払金額,0)-ISNULL(SK.調整金額,0) AS 差引繰越額,
			SK.仕入金額,SK.返品金額,SK.訂正金額,
			ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0) AS 差引仕入額,
			SK.消費税額,SK.当月残高,
			税込仕入額 = ISNULL(SK.仕入金額,0)+ISNULL(SK.返品金額,0)+ISNULL(SK.訂正金額,0)+ISNULL(SK.消費税額,0),--2013/07/31 ADD
			dbo.fn_Get入金予定日(@i支払日付,SR.支払サイクル,SR.支払予定日) AS 支払予定日,
			支払様式名= (CASE SR.支払様式 	WHEN 0 THEN '当社請求書'
								WHEN 1 THEN '検収請求書' 
								WHEN 2 THEN 'EDP手書き' 
								WHEN 3 THEN '手書明細式' 
								WHEN 4 THEN '手書一覧式' 
						ELSE '' END)
		FROM 	(TM支払金額 AS SK
			LEFT JOIN  TM仕入先 AS SR ON SK.仕入先CD = SR.仕入先CD)
		WHERE 	SK.支払日付		=	CONVERT(VARCHAR(10),@i支払日付,111)
		    AND	SK.仕入先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始仕入先),SK.仕入先CD)
		    AND	SK.仕入先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了仕入先),SK.仕入先CD)
		    AND         	NOT(		SK.前月残高	=	0
					AND    SK.支払金額	=	0
					AND	SK.調整金額	=	0
					AND	SK.仕入金額	=	0
					AND	SK.返品金額	=	0
					AND	SK.訂正金額	=	0
					AND	SK.消費税額	=	0
					AND	SK.当月残高	=	0)		
		ORDER	BY	SK.仕入先CD

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
