/****** Object:  StoredProcedure [dbo].[usp_ND0100入金仕訳出力]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_ND0100入金仕訳出力]
GO
/****** Object:  StoredProcedure [dbo].[usp_ND0100入金仕訳出力]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_ND0100入金仕訳出力

機能	指定された条件で入金分の仕訳データを作成する

引数	@isDATE			指定した開始日付
		@ieDATE			指定した終了日付
		@i開始得意先	指定した開始得意先CD
		@i終了得意先	指定した終了得意先CD

戻り値	

	2012/05/28	oosawa		新規作成 財務応援に取り込むデータを作成
	2012/08/22	oosawa		相殺を追加
							銀行振込・振込手数料・現金のみの処理を
							現金以外と現金の処理にするように変更

*****************************************************/
CREATE PROCEDURE [dbo].[usp_ND0100入金仕訳出力]
	@isDATE				DATETIME,
	@ieDATE				DATETIME,
	@i開始得意先		VARCHAR(4),
	@i終了得意先		VARCHAR(4),

	--OUTPUT
	@RetST				INT				OUTPUT,
	@RetMsg				VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON

	DECLARE	@ST		INT,
			@MSG	VARCHAR(255)
	SET	@ST = 0
	SET	@MSG = ''

--SET @isDATE = '2012/03/01'
--SET @ieDATE = '2012/03/31'

	----------------------------------
	--銀行振込 ＆ 振込手数料出力
	--現金以外
	----------------------------------
	SELECT	年 = YEAR(入金日付),月 = MONTH(入金日付),日 = DAY(入金日付),
			伝票番号 = NULL,
			借方金額 = CONVERT(INT,ISNULL(NY.入金金額,0)),
			借方勘定科目CD = 999,--諸口
			借方勘定科目名 = NULL,
			借方消費税CD = 0,
			借方消費税率 = 0,
			借方業種 = NULL,
			借方補助科目CD = NULL,
			借方補助科目名 = NULL,
			借方部門CD = NULL,
			借方部門名 = NULL,
			貸方勘定科目CD = 131,--売掛金
			貸方勘定科目名 = NULL,
			貸方消費税CD = 0,
			貸方消費税率 = 0,
			貸方業種 = NULL,
			貸方補助科目CD = CONVERT(INT,NY.得意先CD),
			貸方補助科目名 = NULL,
			貸方部門CD = NULL,
			貸方部門名 = NULL,
			貸方金額 = CONVERT(INT,ISNULL(NY.入金金額,0)),
			--摘要 = 摘要名,
			摘要 = CONVERT(VARCHAR(30), NB.入金区分名 + ' ' + NY.摘要名),--30ﾊﾞｲﾄ
			期日_年 = NULL,
			期日_月 = NULL,
			期日_日 = NULL,
			手形番号 = NULL,
			NY.入金区分CD,
			NY.入金日付, 
			NY.得意先CD,
			NY.入金番号,
			NY.枝番
		INTO #TMP
		FROM	TD入金 AS NY
			INNER JOIN TM入金区分 AS NB
				ON NY.入金区分CD = NB.入金区分CD
		WHERE 	NY.入金日付		>=	@isDATE
			AND	NY.入金日付		<=	@ieDATE
			AND	NY.得意先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始得意先),NY.得意先CD)
			AND	NY.得意先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了得意先),NY.得意先CD)
			AND	ISNULL(NY.入金金額,0) <> 0
			--AND (NY.入金区分CD = 1--銀行振込
			--	OR NY.入金区分CD = 5--振込手数料
			--	OR NY.入金区分CD = 4)--相殺	--2012/08/22 ADD
			AND NY.入金区分CD <> 0	--2012/08/22 ADD
		ORDER	BY	NY.入金日付, NY.入金番号, NY.枝番, NY.得意先CD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--FROM (
	--		--銀行振込 ＆ 振込手数料
	--		SELECT	入金日付, 得意先CD,
	--				入金金額 = SUM(ISNULL(NY.入金金額,0)),
	--				摘要名 = MAX(摘要名)

	--			FROM	TD入金 AS SH
	--			WHERE 	NY.入金日付		>=	@isDATE
	--				AND	NY.入金日付		<=	@ieDATE
	--				AND	NY.得意先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始得意先),NY.得意先CD)
	--				AND	NY.得意先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了得意先),NY.得意先CD)
	--				AND	ISNULL(NY.入金金額,0) <> 0
	--				AND (NY.入金区分CD = 1--銀行振込
	--					OR NY.入金区分CD = 5)--振込手数料
	--			GROUP BY	NY.入金日付, NY.得意先CD
	--	) AS SH
	--	ORDER	BY	NY.入金日付, NY.得意先CD

	----------------------------------
	--現金出力
	----------------------------------
	INSERT #TMP
		SELECT	年 = YEAR(入金日付),月 = MONTH(入金日付),日 = DAY(入金日付),
				伝票番号 = NULL,
				借方金額 = CONVERT(INT,ISNULL(NY.入金金額,0)),
				借方勘定科目CD = 100,--現金
				借方勘定科目名 = NULL,
				借方消費税CD = 0,
				借方消費税率 = 0,
				借方業種 = NULL,
				借方補助科目CD = NULL,
				借方補助科目名 = NULL,
				借方部門CD = NULL,
				借方部門名 = NULL,
				貸方勘定科目CD = 131,--売掛金
				貸方勘定科目名 = NULL,
				貸方消費税CD = 0,
				貸方消費税率 = 0,
				貸方業種 = NULL,
				貸方補助科目CD = CONVERT(INT,NY.得意先CD),
				貸方補助科目名 = NULL,
				貸方部門CD = NULL,
				貸方部門名 = NULL,
				貸方金額 = CONVERT(INT,ISNULL(NY.入金金額,0)),
				--摘要 = 摘要名,
				摘要 = CONVERT(VARCHAR(30), NB.入金区分名 + ' ' + NY.摘要名),--30ﾊﾞｲﾄ
				期日_年 = NULL,
				期日_月 = NULL,
				期日_日 = NULL,
				手形番号 = NULL,
				NY.入金区分CD,
				NY.入金日付, 
				NY.得意先CD,
				NY.入金番号,
				NY.枝番
			FROM	TD入金 AS NY
				INNER JOIN TM入金区分 AS NB
					ON NY.入金区分CD = NB.入金区分CD
			WHERE 	NY.入金日付		>=	@isDATE
				AND	NY.入金日付		<=	@ieDATE
				AND	NY.得意先CD		>=	COALESCE(CONVERT(VARCHAR(4),@i開始得意先),NY.得意先CD)
				AND	NY.得意先CD		<=	COALESCE(CONVERT(VARCHAR(4),@i終了得意先),NY.得意先CD)
				AND	ISNULL(NY.入金金額,0) <> 0
				AND NY.入金区分CD = 0--現金
		ORDER	BY	NY.入金日付, NY.入金番号, NY.枝番, NY.得意先CD
		
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--抽出データ出力
	SELECT	年,月,日,
			伝票番号,
			借方金額,
			借方勘定科目CD,
			借方勘定科目名,
			借方消費税CD,
			借方消費税率,
			借方業種,
			借方補助科目CD,
			借方補助科目名,
			借方部門CD,
			借方部門名,
			貸方勘定科目CD,
			貸方勘定科目名,
			貸方消費税CD,
			貸方消費税率,
			貸方業種,
			貸方補助科目CD,
			貸方補助科目名,
			貸方部門CD,
			貸方部門名,
			貸方金額,
			摘要,
			期日_年,
			期日_月,
			期日_日,
			手形番号
		FROM #TMP
		ORDER	BY	入金日付, 入金番号, 枝番, 得意先CD

	SET	@ST = @@ERROR
	IF @ST<>0 BEGIN
		SET @MSG = '入金仕訳作成エラー'
		GOTO	EXIT_SP
	END

EXIT_SP:
	DROP TABLE #TMP

	IF (@ST < 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST
GO
