/****** Object:  StoredProcedure [dbo].[usp_Chk製品]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_Chk製品]
GO
/****** Object:  StoredProcedure [dbo].[usp_Chk製品]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_Chk製品

	機能:	製品コードをチェックする

	 RETURN VALUES
		0 = success
		以外　error

修正履歴
	2015/03/02	oosawa		製品NO 7→12
							仕様NO 7→10

	2015/07/10	oosawa		廃盤FLGの判断追加
 =============================================*/
CREATE        PROCEDURE [dbo].[usp_Chk製品]
	(
		@製品NO	CHAR(12),
		@仕様NO	CHAR(10),
		@W		INT,
		@D		INT,
		@H		INT,
		@D1		INT,
		@D2		INT,
		@H1		INT,
		@H2		INT,
		@ERRCNT	SMALLINT		OUTPUT,
		@エラー内容	VARCHAR(255)	OUTPUT

	)
	AS
	SET NOCOUNT ON

	DECLARE	@ST		INT,
			@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''
	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@ERRCNT = 0
	SET	@エラー内容 = ''

	--------------------------------------------------
	--入力項目のチェック
	--------------------------------------------------
	IF ISNULL(@製品NO,'') =  ''	BEGIN
		--SET @ST = -1
		SET @ERRCNT = 1
		SET @エラー内容 ='製品NO未入力'
		GOTO EXIT_SP
	END

	--------------------------------------------------
	--製品マスタを検索します。
	--------------------------------------------------
--	IF NOT EXISTS(SELECT * FROM TM製品 WHERE 製品NO = @製品NO AND 仕様NO = @仕様NO ) BEGIN
	IF NOT EXISTS(SELECT * FROM TM製品 WHERE 製品NO = @製品NO AND 仕様NO = @仕様NO AND 廃盤FLG = 0) BEGIN
		SET @ERRCNT = 1
		SET @エラー内容 = '製品マスタ未登録'
		GOTO EXIT_SP
	END

	--------------------------------------------------
	--サイズ
	--------------------------------------------------
	IF NOT EXISTS(SELECT * 
				FROM TM製品
					WHERE	製品NO = @製品NO
					AND		仕様NO = @仕様NO
					AND		W = @W
					AND		D = @D
					AND		H = @H
					AND		D1 = @D1
					AND		D2 = @D2
					AND		H1 = @H1
					AND		H2 = @H2) BEGIN
		SET @エラー内容 = 'サイズ変換エラー'
		GOTO EXIT_SP
	END
EXIT_SP:
	RETURN @ST
GO
