/****** Object:  StoredProcedure [dbo].[usp_HC0300発注一覧表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HC0300発注一覧表]
GO
/****** Object:  StoredProcedure [dbo].[usp_HC0300発注一覧表]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* =============================================
	 usp_HC0300発注一覧表

	機能	指定された見積番号より発注明細書を作成します。


=============================================
	2004/12/09	kawamura	新規作成
	2005/07/05	oosawa	見積区分の判断の変更
	2009/11/16	oosawa	見積区分がTD見積とTD見積シートMでダブった

	2012/05/14	oosawa		見積日付追加
	2013/09/06	oosawa		U区分追加

	2014/07/10	oosawa		中国バージョン（金額小数点判断）
 =============================================*/
CREATE   PROCEDURE [dbo].[usp_HC0300発注一覧表]
	(
		@i見積番号		INT,
		@is仕入先CD		VARCHAR(4) = NULL,
		@ie仕入先CD		VARCHAR(4) = NULL,
		--OUTPUT
		@RetST			INT			OUTPUT,
		@RetMsg			VARCHAR(255)	OUTPUT
	)
AS

	SET	NOCOUNT	ON

	DECLARE	@TRAN	SMALLINT,
			@ST		INT,
			@MSG		VARCHAR(256)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''

	DECLARE 	@MAX仕分数番号	INT,
			@MAX仕分名称番号 	INT

	SET @MAX仕分数番号 = 0
	SET @MAX仕分名称番号 = 0

	--2014/07/10 ADD↓
	------------------------------------------------------
	--小数点桁数判断
	------------------------------------------------------
	DECLARE @decimalPoint  int --桁数
	SET @decimalPoint = 0
	
	SELECT @decimalPoint = CASE WHEN COUNTRY_CODE = 'CN' THEN 2 ELSE 0 END
		FROM AppCountry

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	--2014/07/10 ADD↑

--------------------------------------------------
	-- 仕分数ＭＡＸ取得
--------------------------------------------------
	SELECT 	@MAX仕分数番号 = MAX(仕分数MAX.仕分番号)
	FROM
		(
		SELECT 	見積番号, 仕分番号, SUM(数量) AS 数量
			FROM 	TD見積シート内訳
			WHERE 	見積番号 = @i見積番号
			GROUP BY 	見積番号, 仕分番号
			HAVING 	(SUM(数量) <> 0)
		) AS 仕分数MAX

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--------------------------------------------------
	-- 仕分名称ＭＡＸ取得
--------------------------------------------------
	SELECT 	@MAX仕分名称番号 = MAX(仕分名称MAX.仕分番号)
	FROM
		(
		SELECT 	U.見積番号, U.仕分番号
			FROM 	TD見積シート内訳名称 AS U
			WHERE 	U.見積番号 = @i見積番号
		) AS 仕分名称MAX

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--print ltrim(str(@MAX仕分数番号))
	--print ltrim(str(@MAX仕分名称番号))
	IF ISNULL(@MAX仕分数番号,0) > ISNULL(@MAX仕分名称番号,0) BEGIN
		SET @ST = -1
		SET @MSG = '指定の見積番号は仕分名称が設定されていません。'
		GOTO EXIT_SP
	END

------------------------------------------------------
	--抽出データ
------------------------------------------------------
	SELECT 	D.見積番号, 見積件名, 納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
			行番号, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, W, D, H, D1, D2, H1, H2,  
			発注数, 単位名, 仕入単価, --仕入金額,
			dbo.fn_CutFraction(SI.仕入端数,発注数 * 仕入単価,@decimalPoint) AS 仕入金額,
			D.仕入先CD, SI.仕入先名1, D.見積区分,
			D.見積日付	--2012/05/14 ADD
			,D.U区分 --2013/09/16 ADD
		INTO 	#TMP
		FROM
			(
			----------------------------------------------------------------
			--発注数があり、データ
			--内訳はいらない
			--コメントでないもの
			----------------------------------------------------------------
			SELECT 	MD.見積番号, 見積件名, 納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
					行番号, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, W, D, H, D1, D2, H1, H2,  
					発注数, 単位名, 仕入単価, 
					MM.仕入先CD, MM.見積区分,
					MD.見積日付	--2012/05/14 ADD
					,MM.U区分 --2013/09/16 ADD
				FROM 		TD見積 AS MD
				INNER JOIN 	TD見積シートM AS MM 
					ON 	MD.見積番号 = MM.見積番号 
				WHERE 		MD.見積番号 = @i見積番号
--					AND	MM.見積区分 = ''
					AND	MM.見積区分 IN ('','1','2','3','4','5','6','7','8','9')				--2005/07/05 UPD
					AND	発注数 <> 0
			
			UNION ALL
			----------------------------------------------------------------
			--発注数があり、データ
			--内訳はいらない
			--コメントAのもの
			----------------------------------------------------------------
			SELECT 	MD.見積番号, 見積件名, 納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
					行番号, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, W, D, H, D1, D2, H1, H2,  
					発注数, 単位名, 仕入単価, 
					MM.仕入先CD, MM.見積区分,
					MD.見積日付	--2012/05/14 ADD
					,MM.U区分 --2013/09/16 ADD
				FROM 		TD見積 AS MD
				INNER JOIN 	TD見積シートM AS MM 
					ON 	MD.見積番号 = MM.見積番号 
				WHERE 		MD.見積番号 = @i見積番号
					AND	MM.見積区分 = 'A'
					--AND	発注数 <> 0
					AND	(
							SELECT  TOP 1 MSM1.発注数
							FROM TD見積シートM AS MSM1
							WHERE	MSM1.見積番号 = MM.見積番号
--								AND 	MSM1.見積区分 = ''
								AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')			--2005/07/05 UPD
								AND 	MSM1.行番号 >= MM.行番号
							ORDER BY MSM1.行番号 ASC
						) <> 0
			
			UNION ALL
			----------------------------------------------------------------
			--発注数があり、データ
			--内訳はいらない
			--コメントC/Sのもの
			----------------------------------------------------------------
			SELECT 	MD.見積番号, 見積件名, 納入得意先CD, 納入先CD, 納入先名1, 納入先名2, 
					行番号, SP区分, PC区分, 製品NO, 仕様NO, ベース色, 漢字名称, W, D, H, D1, D2, H1, H2,  
					発注数, 単位名, 仕入単価, 
					MM.仕入先CD, MM.見積区分,
					MD.見積日付	--2012/05/14 ADD
					,MM.U区分 --2013/09/16 ADD
				FROM 		TD見積 AS MD
				INNER JOIN 	TD見積シートM AS MM 
					ON 	MD.見積番号 = MM.見積番号 
				WHERE 		MD.見積番号 = @i見積番号
					AND	(
						MM.見積区分 = 'C'
					OR	MM.見積区分 = 'S'
						)
					--AND	発注数 <> 0
					AND	(
							SELECT  TOP 1 MSM1.発注数
							FROM TD見積シートM AS MSM1
							WHERE	MSM1.見積番号 = MM.見積番号
--								AND 	MSM1.見積区分 = ''
								AND	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9')			--2005/07/05 UPD
								AND 	MSM1.行番号 <= MM.行番号
							ORDER BY MSM1.行番号 DESC
						) <> 0
			) AS D
		LEFT JOIN 	TM仕入先 AS SI 
			ON 	D.仕入先CD = SI.仕入先CD

		WHERE 	D.仕入先CD >= COALESCE(@is仕入先CD, D.仕入先CD) 
			AND	D.仕入先CD <= COALESCE(@ie仕入先CD, D.仕入先CD) 
		ORDER BY 	D.見積番号, D.仕入先CD, 行番号

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	--仕入先件数セット
	SELECT D.*, CNT.仕入件数 
	FROM #TMP AS D
	LEFT JOIN 
		(
		SELECT 見積番号, 仕入先CD, COUNT(行番号) AS 仕入件数
			FROM #TMP 
			GROUP BY 見積番号, 仕入先CD
		) AS CNT
		ON D.見積番号 = CNT.見積番号 AND D.仕入先CD = CNT.仕入先CD
	ORDER BY 	D.見積番号, D.仕入先CD, 行番号--2021/07/20 ADD

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST

GO
