/****** Object:  StoredProcedure [dbo].[usp_HS0102仕入内訳UploadCheck]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HS0102仕入内訳UploadCheck]
GO
/****** Object:  StoredProcedure [dbo].[usp_HS0102仕入内訳UploadCheck]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* =============================================
	 usp_HS0102仕入内訳UploadCheck

	機能:	仕入内訳明細をチェックする
		
 =============================================
	2003/09/09	kawamura
	2003/11/01 	kawamura 	伝票区分をVARCHAR(1)に変更
	2004/07/01	oosawa		単価を持ってこないように変更
	2004/12/06	kawamura 	見積区分A・Sの追加
	2013/04/16	oosawa		'でのエラーをパラメータクエリーに変更
	2013/11/04	oosawa		仕分レベルの削除に伴う修正
	2015/05/15	oosawa		チェックを追加
	2017/03/28	oosawa		他社納品日付、他社納品番号を追加
	2017/04/18	oosawa		仕入税区分を変更できるようにしたため
							書き換えないように変更
	2019/08/10	oosawa		U区分の表示
	2019/08/24	oosawa		仕入業者を表示 9999の時わかりずらいので
	2024/03/20	oosawa		売上単価表示
	2024/05/13	oosawa		U区分追加
	2024/06/11	oosawa		作業区分CD　追加
 =============================================*/
CREATE        PROCEDURE [dbo].[usp_HS0102仕入内訳UploadCheck]
	(
	@i見積番号		INT,
	@i仕入先CD 	 	VARCHAR(4),
	@i配送先CD 		VARCHAR(2),
	@i得意先CD 		VARCHAR(4),
	@i大小口区分 	SMALLINT,
	@CompName		VARCHAR(100),
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

	DECLARE 	@sql仕入単価 	VARCHAR(50)

	--製品判断区分
	DECLARE	@製品区分	INT	--0:製品 1:品群 2:ユニット 3:PCマスタ

	--エラーメッセージ用変数
	DECLARE	@wエラー内容	VARCHAR(255),
			@wErrCNT	INT,
			@wERR 	SMALLINT		--usp_Chk製品のエラー切り分け用フラグ

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	DECLARE	@ROWS仕入	INT

	DECLARE	--@c見積明細連番 INT ,
			@cCHECK		SMALLINT,	--2015/05/15 ADD
			@c仕入番号 	INT ,
			@c仕入先CD 	VARCHAR(4),
			@c配送先CD 	VARCHAR(2),
			@c仕入明細行番号 	INT ,
			@c見積行番号 	INT ,
			@c見積明細連番 INT,
			@c伝票区分 	VARCHAR (1),
			@cSP区分 	VARCHAR (1),
			@cPC区分 	VARCHAR (1),
			@c製品NO 	CHAR (7),
			@c仕様NO 	CHAR (7),
			@cベース色 	CHAR (7),
			@c漢字名称 	VARCHAR (40),
			@cW 		INT,
			@cD 		INT,
			@cH 		INT,
			@cD1 		INT,
			@cD2 		INT,
			@cH1 		INT,
			@cH2 		INT,
			@cエラー内容 VARCHAR (255),
			@c定価 	MONEY,
			@c仕入単価 	MONEY,
			@c仕入数量 	MONEY,
			@c発注数 	MONEY,
			@c見積引当数  	MONEY,
			@c単位名 	VARCHAR (6),
			@c仕入金額 	MONEY ,
			@c仕入税区分 SMALLINT,
			@c消費税額 	MONEY,
			@c製品区分	SMALLINT,
			@cU区分		VARCHAR(1)--2024/05/13 ADD
			,@c作業区分CD	INT--2024/06/11 ADD

	--消費税用変数
	DECLARE	@TAX		MONEY

	--CODEエラー用変数
	DECLARE	@CDエラー内容	VARCHAR(255)

	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	SET	@wエラー内容 = ''
	SET	@wErrCNT = 0
--	SET	@TAX = dbo.fn_GetTax(@i仕入日付)

	--------------------------------------------------
	--出力用Tempテーブルを作成します。
	--------------------------------------------------
	SELECT * INTO #WkTbl
			FROM Tmp仕入明細内訳
			WHERE 0<>0

	SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP

	--------------------------------------------------
	--カーソルを開きます
	--------------------------------------------------

	--EXEC ('DECLARE	csr仕入明細内訳		CURSOR	 FORWARD_ONLY FOR '
	--		+'SELECT	仕入番号, 仕入先CD, 配送先CD, 仕分番号, 仕入明細行番号, 仕入残明細行番号, 見積行番号, '
	--				+' 伝票区分, SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),'
	--				+' 漢字名称, W, D, H, D1, D2, H1, H2,'
	--				+' エラー内容, 仕入数量, 発注数, 見積引当数, 単位名, 定価, 仕入単価,'
	--				+' 仕入金額, 仕入税区分, 消費税額,'
	--				+' 製品区分'
	--			+' FROM	[##Tmp仕入明細内訳_' + @CompName + ']'
	--			+' WHERE 	仕入先CD = ''' + @i仕入先CD + ''''
	--			+ ' AND 	配送先CD = ''' + @i配送先CD + ''''
	--			+ ' AND 	仕分番号 = ''' + @i仕分番号 + ''''
	--			+' ORDER BY	仕入明細行番号'
	--	)
	DECLARE	csr仕入明細内訳		CURSOR	LOCAL  FORWARD_ONLY FOR 
			SELECT	仕入番号, 仕入先CD, 配送先CD, 仕入明細行番号, 見積行番号, 見積明細連番,
					 伝票区分, SP区分, PC区分, RTRIM(製品NO), RTRIM(仕様NO), RTRIM(ベース色),
					 漢字名称, W, D, H, D1, D2, H1, H2,
					 エラー内容, 仕入数量, 発注数, 見積引当数, 単位名, 定価, 仕入単価,
					 仕入金額, 仕入税区分, 消費税額,
					 製品区分
					 ,[CHECK]--2015/05/15 ADD
					 ,U区分--2024/05/13 ADD
					 ,作業区分CD--2024/06/11 ADD
				 FROM	#Tmp仕入明細内訳
				 ORDER BY	仕入明細行番号

	OPEN	/*GLOBAL*/ csr仕入明細内訳
--	--PRINT 'OPEN'

	SELECT	@ST = @@ERROR, @ROWS仕入 = @@CURSOR_ROWS
	IF ( @ST <> 0 )	GOTO	EXIT_SP

	IF ( @ROWS仕入 = 0 )	BEGIN
		SET	@ST	= -1
		SET	@MSG	= '明細がありません。'
		GOTO	EXIT_SP
	END


	--集計処理
	FETCH NEXT FROM /*GLOBAL*/ csr仕入明細内訳
		INTO	@c仕入番号, @c仕入先CD, @c配送先CD, @c仕入明細行番号,@c見積行番号, @c見積明細連番,
				@c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
				@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
				@cエラー内容, @c仕入数量,@c発注数, @c見積引当数, @c単位名,@c定価,@c仕入単価,
				@c仕入金額,@c仕入税区分,@c消費税額,
				@c製品区分,
				@cCHECK--2015/05/15 ADD
				,@cU区分--2024/05/13 ADD
				,@c作業区分CD--2024/06/11 ADD
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

--	WHILE	( @@FETCH_STATUS = 0 )	BEGIN
	--------------------------------------------------
	--ワーク明細を展開します
	--------------------------------------------------
--	WHILE	( 0 = 0 )	BEGIN
FETCH_SP:
		SET @wエラー内容 = ''

		SET @ST = @@ERROR
		IF ( @@FETCH_STATUS <> 0 ) GOTO SELECT_SP
		
		--------------------------------------------------
		--チェックがないばあいそのまま戻す
		--------------------------------------------------
		IF	@cCHECK = 0	BEGIN
			GOTO TEMP_NOCONV
		END

		--------------------------------------------------
		--製品NOがない明細の場合
		--------------------------------------------------
		IF @c製品NO = '' AND @cPC区分 = ''	BEGIN
			IF @c伝票区分 = 'S'	BEGIN									--2004/12/06	ADD
				GOTO TEMP_NOCONV
			END ELSE BEGIN

				IF @c漢字名称 <> '' BEGIN
	-- -- 				print 'a'
					--GOTO TEMP_NOCONV
					--GOTO CODE_CHECK							--2004/12/06 	DEL
					IF @c伝票区分 = 'C' OR @c伝票区分 = 'A' BEGIN				--2004/12/06	ADD
						GOTO TEMP_NOCONV
					END ELSE BEGIN
						GOTO CODE_CHECK
					END
				END ELSE BEGIN
					SET @wエラー内容 = 'マスタ未登録'
					SET @wErrCNT = @wErrCNT +1
					GOTO TEMP_NOCONV
				END
			END
		END

		--------------------------------------------------
		--製品情報マスタよりマスタ情報を取得します。
		--------------------------------------------------
		SET @製品区分 = NULL

		EXEC @ST = usp_Get製品区分 @cPC区分, @c製品NO, @c仕様NO, 
					@製品区分 OUTPUT , @RetST OUTPUT , @RetMsg OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP


		--------------------------------------------------
		--製品情報に該当するものがない場合
		--------------------------------------------------
		IF @製品区分 IS NULL	BEGIN
			--PRINT 'NULL'
			SET @wエラー内容 = 'マスタ未登録'
			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END
		--0:製品 1:品群 2:ユニット 3:PCマスタ
		IF @製品区分 = 0 BEGIN
			--PRINT 'GOTO SEIHIN_SP'
			GOTO SEIHIN_SP
		END
		IF @製品区分 = 1 BEGIN
			--PRINT 'GOTO HINGUN_SP:' + CONVERT(VARCHAR(1),@製品区分)
			GOTO HINGUN_SP
		END
		IF @製品区分 = 2 BEGIN
			--PRINT 'GOTO UNIT_SP'
			GOTO UNIT_SP
		END
		IF @製品区分 = 3 BEGIN
			--PRINT 'GOTO PC_SP'
			GOTO PC_SP
		END


	SEIHIN_SP:
		--PRINT 'SEIHIN_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_Chk製品 @c製品NO, @c仕様NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @wERR OUTPUT, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @wERR = 0 BEGIN
				GOTO SEIHIN_FUZOKU_READ
			END ELSE BEGIN
				SET @wErrCNT = @wErrCNT + 1
				GOTO TEMP_NOCONV
			END
		END

	PC_SP:
		--PRINT 'PC_SP'
		--------------------------------------------------
		--製品マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_ChkPC @cPC区分, @c製品NO, @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END

	HINGUN_SP:
		--PRINT 'HINGUN_SP'
		--------------------------------------------------
		--品群マスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_CHG製品FROM品群 @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @cSP区分 OUTPUT , @c製品NO OUTPUT , @c仕様NO OUTPUT ,@c製品区分 OUTPUT , @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		--エラーがあっても、SPならばｺｰﾄﾞのチェックに行く。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @cSP区分 = ''	BEGIN
				SET @wErrCNT = @wErrCNT +1
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				GOTO CODE_CHECK
			END
		END

	UNIT_SP:
		--PRINT 'UNIT_SP'
		--------------------------------------------------
		--ユニットマスタに該当した場合
		--------------------------------------------------
		EXEC @ST = usp_CHG製品FROMユニット @c製品NO, @cW, @cD, @cH, @cD1, @cD2, @cH1, @cH2, @cSP区分 OUTPUT , @c製品NO OUTPUT , @c仕様NO OUTPUT ,@c製品区分 OUTPUT , @wエラー内容 OUTPUT 

		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP
		--------------------------------------------------
		--仕様に合わない場合、書き込みます。
		--------------------------------------------------
		--エラーがある場合、そのまま書く。
		--エラーがない場合、製品の付属情報をセットする。
		--エラーがあっても、SPならばｺｰﾄﾞのチェックに行く。
		IF @wエラー内容 = '' BEGIN
			GOTO SEIHIN_FUZOKU_READ
		END ELSE BEGIN
			IF @cSP区分 = ''	BEGIN
				SET @wErrCNT = @wErrCNT +1
				GOTO TEMP_NOCONV
			END ELSE BEGIN
				GOTO CODE_CHECK
			END
		END

SEIHIN_FUZOKU_READ:
		--PRINT 'SEIHIN_FUZOKU_READ'
		--------------------------------------------------
		--製品の付属情報を変数にセットします。
		--------------------------------------------------
		SELECT 
			@cW = (CASE @cW WHEN '' THEN W ELSE @cW END),			--2003/10/16	ADD↓
			@cD = (CASE @cD WHEN '' THEN D ELSE @cD END),
			@cH = (CASE @cH WHEN '' THEN H ELSE @cH END),
			@cD1 = (CASE @cD1 WHEN '' THEN D1 ELSE @cD1 END),
			@cD2 = (CASE @cD2 WHEN '' THEN D2 ELSE @cD2 END),
			@cH1 = (CASE @cH1 WHEN '' THEN H1 ELSE @cH1 END),
			@cH2 = (CASE @cH2 WHEN '' THEN H2 ELSE @cH2 END),		--2003/10/16	ADD↑
			@cベース色 = (CASE @cベース色 WHEN '' THEN ベース色 ELSE @cベース色 END),
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END),
			@c定価 = (CASE @c定価 WHEN 0 THEN 定価 ELSE @c定価 END)--,
			--@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 						--2004/07/01	DEL
			--	ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
			--						ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END,
			--@c仕入税区分 = MS.仕入税区分--2017/04/18 DEL
			FROM		TM製品 AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.仕様NO = MT.仕様NO
			WHERE	MS.製品NO = @c製品NO
			AND		MS.仕様NO = @c仕様NO
			AND		@cPC区分 = ''

		--PCマスタの場合
		SELECT 
			@c漢字名称 = (CASE @c漢字名称 WHEN '' THEN 漢字名称 ELSE @c漢字名称 END),
			@c単位名 = (CASE @c単位名 WHEN '' THEN 単位名 ELSE @c単位名 END)--,
			--@c仕入単価 = CASE WHEN @c仕入単価 <> 0 THEN @c仕入単価 						--2004/07/01	DEL
			--	ELSE (CASE @i大小口区分 WHEN 0 THEN COALESCE(MT.大口仕入単価,MS.仕入単価) 
			--						ELSE COALESCE(MT.小口仕入単価,MS.仕入単価) END) END,
			--@c仕入税区分 = MS.仕入税区分--2017/04/18 DEL
			FROM		TMPC AS MS
				LEFT JOIN (SELECT * FROM TM単価 WHERE 得意先CD = @i得意先CD
					) AS MT
						ON MS.製品NO = MT.製品NO
						AND MS.PC区分 = MT.PC区分
			WHERE	MS.製品NO = @c製品NO
			--AND		@c仕様NO = ''
			AND		@cPC区分 <> ''


CODE_CHECK:
-- -- 		exec ('select * from [##Tmp仕入明細内訳_' + @CompName + ']')
-- -- 		print 'b'
-- -- 		select @c製品区分, @c仕入先CD, @c配送先CD, @c仕分番号

		--------------------------------------------------
		--伝票区分がない明細の場合
		--------------------------------------------------
		IF @c伝票区分 = '' BEGIN
			SET @wエラー内容 = '伝票区分　未入力'
			SET @wErrCNT = @wErrCNT +1
			GOTO TEMP_NOCONV
		END


-- -- 		exec ('select * from [##Tmp仕入明細内訳_' + @CompName + ']')
 

TEMP_NOCONV:
		--PRINT 'TEMP_NOCONV'
		--------------------------------------------------
		--何もせずにテンポラリテーブルに書き込みます。
		--------------------------------------------------
		--set @sql仕入単価 = ''
		--set @sql仕入単価 = CONVERT(VARCHAR, @c仕入単価, 2) 


		--	--2013/04/16 ADD↓
		--	DECLARE @sql NVARCHAR(4000)
		--	SET @sql =  N'UPDATE	[#Tmp仕入明細内訳]'
		--							+ ' SET	SP区分		=   @eSP区分,'
		--							+	'PC区分		=   @ePC区分,'
		--							+	'製品NO		=   @e製品NO,'
		--							+	'仕様NO		=	@e仕様NO,'
		--							+	'ベース色	=   @eベース色,'
		--							+	'漢字名称	=   @e漢字名称,'
		--							+	'W			=   @eW,'
		--							+	'D			=   @eD,'
		--							+	'H			=   @eH,'
		--							+	'D1			=   @eD1,'
		--							+	'D2			=   @eD2,'
		--							+	'H1			=   @eH1,'
		--							+	'H2			=   @eH2,'
		--							+	'エラー内容	=   @eエラー内容,'
		--							+	'単位名		=   @e単位名,'
		--							+	'仕入単価	=   @e仕入単価,'
		--							+	'製品区分	=   @e製品区分'
		--					+	' WHERE	仕入先CD		=   @e仕入先CD'
		--						+	' AND 配送先CD		=   @e配送先CD'
		--						+	' AND 仕入明細行番号	=   @e仕入明細行番号'

		--	EXEC SP_EXECUTESQL @sql,

		--				N'	@eSP区分 	VARCHAR (1),
		--					@ePC区分 	VARCHAR (1),
		--					@e製品NO 	CHAR (7),
		--					@e仕様NO 	CHAR (7),
		--					@eベース色 	CHAR (7),
		--					@e漢字名称 	VARCHAR (40),
		--					@eW 		INT,
		--					@eD 		INT,
		--					@eH 		INT,
		--					@eD1 		INT,
		--					@eD2 		INT,
		--					@eH1 		INT,
		--					@eH2 		INT,
		--					@eエラー内容 VARCHAR (255),
		--					@e単位名 	VARCHAR (6),
		--					@e仕入単価 	MONEY,
		--					@e製品区分	SMALLINT,
							
		--					@e仕入先CD 	VARCHAR(4),
		--					@e配送先CD 	VARCHAR(2),
		--					@e仕入明細行番号 	INT',
		--				@eCompName	=	@CompName,
		--				@eSP区分	=   @cSP区分,
		--				@ePC区分	=	@cPC区分,
		--				@e製品NO	=   @c製品NO,
		--				@e仕様NO	=   @c仕様NO,
		--				@eベース色	=   @cベース色,
		--				@e漢字名称	=   @c漢字名称,
		--				@eW			=   @cW,
		--				@eD			=   @cD,
		--				@eH			=   @cH,
		--				@eD1		=   @cD1,
		--				@eD2		=   @cD2,
		--				@eH1		=   @cH1,
		--				@eH2		=   @cH2,
		--				@eエラー内容 =  @wエラー内容,
		--				@e単位名	=   @c単位名,
		--				@e仕入単価	=   @c仕入単価,
		--				@e製品区分	=   @c製品区分,  

		--				@e仕入先CD	=   @c仕入先CD,  
		--				@e配送先CD	=   @c配送先CD,
		--				@e仕分番号 =   @c仕分番号,
		--				@e仕入明細行番号 =   @c仕入明細行番号
		--		--2013/04/16 ADD↑
		INSERT	#WkTbl
			(
			仕入番号, 仕入先CD, 配送先CD, 仕入明細行番号, 見積行番号, 見積明細連番,
			伝票区分, SP区分, PC区分, 製品NO, 仕様NO, ベース色,
			漢字名称, W, D, H, D1, D2, H1, H2,
			エラー内容, 仕入数量, 発注数, 見積引当数, 単位名, 定価, 仕入単価,
			仕入金額, 仕入税区分, 消費税額,
			製品区分
			,[CHECK]--2015/05/15 ADD
			,U区分--2024/05/13 ADD
			,作業区分CD--2024/06/11 ADD
			)
		SELECT
			@c仕入番号, @c仕入先CD, @c配送先CD, @c仕入明細行番号,@c見積行番号,@c見積明細連番,
			@c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
			@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
			@wエラー内容, @c仕入数量,@c発注数, @c見積引当数, @c単位名,@c定価,@c仕入単価,
			@c仕入金額,@c仕入税区分,@c消費税額,
			@c製品区分
			,@cCHECK--2015/05/15 ADD
			,@cU区分--2024/05/13 ADD
			,@c作業区分CD--2024/06/11 ADD

		SET @ST = @@ERROR	
		IF ( @ST <> 0 )	GOTO	EXIT_SP



		SET @ST = @@ERROR	IF ( @ST <> 0 )	GOTO	EXIT_SP


-- -- 		exec ('select  * from [##Tmp仕入明細内訳_' + @CompName + ']')

--	END--WHILE

		FETCH NEXT FROM /*GLOBAL*/ csr仕入明細内訳
			INTO	@c仕入番号, @c仕入先CD, @c配送先CD, @c仕入明細行番号,@c見積行番号, @c見積明細連番,
					@c伝票区分,@cSP区分,@cPC区分,@c製品NO,@c仕様NO,@cベース色,@c漢字名称,
					@cW,@cD,@cH,@cD1,@cD2,@cH1,@cH2,
					@cエラー内容, @c仕入数量,@c発注数, @c見積引当数, @c単位名,@c定価,@c仕入単価,
					@c仕入金額,@c仕入税区分,@c消費税額,
					@c製品区分,
					@cCHECK--2015/05/15 ADD
					,@cU区分--2024/05/13 ADD
					,@c作業区分CD--2024/06/11 ADD

	--PRINT 'GOTO FETCH_SP'
	GOTO FETCH_SP
SELECT_SP:
	--PRINT 'SELECT_SP'
	--EXEC ('SELECT TP.*, ' + @wErrCNT + ' AS ErrCnt'
	--	+' FROM [##Tmp仕入明細内訳_' + @CompName + '] AS TP'
	--	+' WHERE 仕入先CD = ''' + @i仕入先CD + ''''
	--	+ ' AND 配送先CD = ''' + @i配送先CD + ''''
	--	+ ' AND 仕分番号 = ''' + @i仕分番号 + ''''
	--	+' ORDER BY TP.仕入明細行番号'
	--	)
	SELECT WK.*,@wErrCNT AS ErrCnt,
--			MSM.U区分,--2019/08/10 ADD--2024/05/13 DEL
			MSM.仕入業者CD,MSM.仕入業者名,--2019/08/24 ADD
			--2017/03/28 ADD↓
			MSM.他社納品日付,MSM.他社伝票番号
			--2017/03/28 ADD↑
			,MSM.売上単価--2024/03/20 ADD
		FROM #WkTbl AS WK
		--2017/03/28 ADD↓
		LEFT JOIN TD見積シートM AS MSM
			ON WK.見積明細連番 = MSM.見積明細連番
		--2017/03/28 ADD↑
			ORDER BY WK.仕入明細行番号


--	DROP TABLE #WkTbl
EXIT_SP:
	--PRINT 'EXIT_SP'
-- 	IF( CURSOR_STATUS( 'GLOBAL', 'csr仕入明細内訳' ) >= 0 )	BEGIN
 	IF( CURSOR_STATUS( 'LOCAL', 'csr仕入明細内訳' ) >= 0 )	BEGIN
		CLOSE	csr仕入明細内訳
		DEALLOCATE	csr仕入明細内訳
	END
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN

			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
