/****** Object:  StoredProcedure [dbo].[usp_TK0100得意先別年間売上順位推移表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TK0100得意先別年間売上順位推移表]
GO
/****** Object:  StoredProcedure [dbo].[usp_TK0100得意先別年間売上順位推移表]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*****************************************************

	売掛　情報

名称	usp_TK0100得意先別年間売上順位推移表

機能	得意先毎の年間別売上金額の集計表を作成する

引数	

戻り値	

修正履歴
	2012/05/07	新規作成

	2014/07/21	oosawa		集計日付を「売上日付」にする
*****************************************************/
CREATE PROCEDURE [dbo].[usp_TK0100得意先別年間売上順位推移表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@i集計区分		INT = 0,
	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

--set @iS集計日付 = '2003/01/01'
--set @iE集計日付 = '2012/12/31'

	DECLARE 	@ST	INT,
			@MSG	VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''
	
	--DECLARE	@wトータル税抜金額	MONEY
	--SET	@wトータル税抜金額 = 0

--	--月別トータル金額抽出
--	SELECT	@wトータル税抜金額 = SUM(UU.売上金額-UU.消費税額) 
--		FROM	TD売上 AS UH 
--			INNER JOIN TD売上明細 AS UM
--				ON UH.売上番号 = UM.売上番号 
--			INNER JOIN TD売上明細内訳 AS UU
--				ON UM.売上番号 = UU.売上番号 
--					AND UM.売上行番号 = UU.売上行番号
--		WHERE UH.請求日付 >= @iS集計日付
--	    	    AND UH.請求日付 <= @iE集計日付

--SELECT @wトータル税抜金額
--	SELECT	
--			年 = YEAR(UH.請求日付),
--			トータル税抜金額 = SUM(UU.売上金額-UU.消費税額) 
--		FROM	TD売上 AS UH 
--			INNER JOIN TD売上明細 AS UM
--				ON UH.売上番号 = UM.売上番号 
--			INNER JOIN TD売上明細内訳 AS UU
--				ON UM.売上番号 = UU.売上番号 
--					AND UM.売上行番号 = UU.売上行番号
--		WHERE UH.請求日付 >= @iS集計日付
--	    	    AND UH.請求日付 <= @iE集計日付
--		GROUP BY     YEAR(UH.請求日付)

	--得意先別売上集計算出
	
	--ワークテーブル作成
	CREATE TABLE #TMP
		(
			得意先CD		VARCHAR(4),
			年				INT,			--0:売上　1:仕入
			順位			INT,
			原価金額		MONEY	DEFAULT(0),
			税抜金額		MONEY	DEFAULT(0),
			比率			MONEY	DEFAULT(0)
			
		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	IF	@i集計区分 = 0	BEGIN	
		INSERT	INTO #TMP
				(得意先CD, 年, 順位, 
					原価金額, 税抜金額, 比率
				)
			SELECT U.得意先CD,--TK.得意先名1,
					U.年,
					順位 = ROW_NUMBER() OVER(PARTITION BY U.年 ORDER BY U.税抜金額 DESC),
					U.原価金額,
					U.税抜金額,
					比率 = CASE WHEN TOTAL.トータル税抜金額 <> 0 THEN dbo.fn_Round(U.税抜金額 * 100 / TOTAL.トータル税抜金額,1) 
																ELSE 0 END
				FROM (
					SELECT	UH.得意先CD,
							----年 = YEAR(UH.請求日付),
							年 = YEAR(UH.売上日付),	--2014/07/21 ADD
							SUM(UU.売上金額-UU.消費税額) AS 税抜金額,
							SUM(UU.仕入金額) AS 原価金額
						FROM	TD売上 AS UH 
							INNER JOIN TD売上明細 AS UM
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD売上明細内訳 AS UU
								ON UM.売上番号 = UU.売上番号 
									AND UM.売上行番号 = UU.売上行番号
						----WHERE UH.請求日付 >= @iS集計日付
						----	AND UH.請求日付 <= @iE集計日付
						--2014/07/21 ADD↓
						WHERE	UH.売上日付 >= @iS集計日付
		    				AND	UH.売上日付 <= @iE集計日付
						--2014/07/21 ADD↑
		    					--AND UH.得意先CD >= COALESCE(@iS得意先,UH.得意先CD)
		    					--AND UH.得意先CD <= COALESCE(@iE得意先,UH.得意先CD)
					----GROUP BY     UH.得意先CD,YEAR(UH.請求日付)
					GROUP BY     UH.得意先CD,YEAR(UH.売上日付)--2014/07/21 ADD
					) AS U
					--INNER JOIN  TM得意先 AS TK
					--ON U.得意先CD = TK.得意先CD
				LEFT JOIN (
					--年別トータル金額抽出
					----SELECT	年 = YEAR(UH.請求日付),
					SELECT	年 = YEAR(UH.売上日付),--2014/07/21 ADD
							トータル税抜金額 = SUM(UU.売上金額-UU.消費税額) 
						FROM	TD売上 AS UH 
							INNER JOIN TD売上明細 AS UM
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD売上明細内訳 AS UU
								ON UM.売上番号 = UU.売上番号 
									AND UM.売上行番号 = UU.売上行番号
						----WHERE UH.請求日付 >= @iS集計日付
	    				----	AND UH.請求日付 <= @iE集計日付
						--2014/07/21 ADD↓
						WHERE	UH.売上日付 >= @iS集計日付
		    				AND	UH.売上日付 <= @iE集計日付
						--2014/07/21 ADD↑
						----GROUP BY     YEAR(UH.請求日付)
						GROUP BY     YEAR(UH.売上日付)--2014/07/21 ADD
					) AS TOTAL
					ON U.年 = TOTAL.年

			ORDER	BY	年, 税抜金額 DESC
	END ELSE BEGIN
		INSERT	INTO #TMP
				(得意先CD, 年, 順位,
					原価金額, 税抜金額, 比率
				)
			SELECT	得意先CD = U.集計CD,--TK.得意先名1,
					U.年,
					順位 = ROW_NUMBER() OVER(PARTITION BY U.年 ORDER BY U.税抜金額 DESC),
					U.原価金額,
					U.税抜金額,
					比率 = CASE WHEN TOTAL.トータル税抜金額 <> 0 THEN dbo.fn_Round(U.税抜金額 * 100 / TOTAL.トータル税抜金額,1) 
																ELSE 0 END
				FROM (
					SELECT	TK.集計CD,
							----年 = YEAR(UH.請求日付),
							年 = YEAR(UH.売上日付),--2014/07/21 ADD
							SUM(UU.売上金額-UU.消費税額) AS 税抜金額,
							SUM(UU.仕入金額) AS 原価金額
						FROM	TD売上 AS UH 
							INNER JOIN TD売上明細 AS UM
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD売上明細内訳 AS UU
								ON UM.売上番号 = UU.売上番号 
									AND UM.売上行番号 = UU.売上行番号
							INNER JOIN  TM得意先 AS TK
								ON UH.得意先CD = TK.得意先CD
						----WHERE UH.請求日付 >= @iS集計日付
		    				----AND UH.請求日付 <= @iE集計日付
						--2014/07/21 ADD↓
						WHERE	UH.売上日付 >= @iS集計日付
		    				AND	UH.売上日付 <= @iE集計日付
						--2014/07/21 ADD↑
		    					--AND UH.得意先CD >= COALESCE(@iS得意先,UH.得意先CD)
		    					--AND UH.得意先CD <= COALESCE(@iE得意先,UH.得意先CD)
					----GROUP BY     TK.集計CD,YEAR(UH.請求日付)
					GROUP BY     TK.集計CD,YEAR(UH.売上日付)--2014/07/21 ADD
					) AS U
				LEFT JOIN (
					--年別トータル金額抽出
					----SELECT	年 = YEAR(UH.請求日付),
					SELECT	年 = YEAR(UH.売上日付),--2014/07/21 ADD
							トータル税抜金額 = SUM(UU.売上金額-UU.消費税額) 
						FROM	TD売上 AS UH 
							INNER JOIN TD売上明細 AS UM
								ON UH.売上番号 = UM.売上番号 
							INNER JOIN TD売上明細内訳 AS UU
								ON UM.売上番号 = UU.売上番号 
									AND UM.売上行番号 = UU.売上行番号
						----WHERE UH.請求日付 >= @iS集計日付
	    					----AND UH.請求日付 <= @iE集計日付
						--2014/07/21 ADD↓
						WHERE	UH.売上日付 >= @iS集計日付
		    				AND	UH.売上日付 <= @iE集計日付
						--2014/07/21 ADD↑
						----GROUP BY     YEAR(UH.請求日付)
						GROUP BY     YEAR(UH.売上日付)--2014/07/21 ADD
					) AS TOTAL
					ON U.年 = TOTAL.年

			ORDER	BY	年, 税抜金額 DESC
	END


	--年をばらして変数化する
	DECLARE @wNEN1	INT,
			@wNEN2	INT,
			@wNEN3	INT,
			@wNEN4	INT,
			@wNEN5	INT,
			@wNEN6	INT,
			@wNEN7	INT,
			@wNEN8	INT,
			@wNEN9	INT,
			@wNEN10	INT,
			@wNENCNT	INT,	--年カウント
			@wCNT	INT			--セットカウント
	DECLARE	@wMAXNEN	INT		--最終年
			
	--初期日付セット
	SET	@wNENCNT = YEAR(@iS集計日付)
	SET	@wCNT = 1
	
	WHILE	( YEAR(@iE集計日付) >= @wNENCNT)	BEGIN
		IF	@wCNT = 1 BEGIN
			SET	@wNEN1 = @wNENCNT
		END ELSE BEGIN
			IF	@wCNT = 2 BEGIN
				SET	@wNEN2 = @wNENCNT
			END ELSE BEGIN
				IF	@wCNT = 3 BEGIN
					SET	@wNEN3 = @wNENCNT
				END ELSE BEGIN
					IF	@wCNT = 4 BEGIN
						SET	@wNEN4 = @wNENCNT
					END ELSE BEGIN
						IF	@wCNT = 4 BEGIN
							SET	@wNEN4 = @wNENCNT
						END ELSE BEGIN
							IF	@wCNT = 5 BEGIN
								SET	@wNEN5 = @wNENCNT
							END ELSE BEGIN
								IF	@wCNT = 6 BEGIN
									SET	@wNEN6 = @wNENCNT
								END ELSE BEGIN
									IF	@wCNT = 7 BEGIN
										SET	@wNEN7 = @wNENCNT
									END ELSE BEGIN
										IF	@wCNT = 8 BEGIN
											SET	@wNEN8 = @wNENCNT
										END ELSE BEGIN
											IF	@wCNT = 9 BEGIN
												SET	@wNEN9 = @wNENCNT
											END ELSE BEGIN
												IF	@wCNT = 10 BEGIN
													SET	@wNEN10 = @wNENCNT
												END
											END
										END
									END
								END
							END
						END
					END
				END
			END
		END
		SET	@wNENCNT = @wNENCNT + 1
		SET @wCNT = @wCNT + 1
	END
	--SELECT @wCNT,@wNEN1,@wNEN2,@wNEN3,@wNEN4,@wNEN5,@wNEN6,@wNEN7,@wNEN8,@wNEN9,@wNEN10
	
	--SELECT * FROM #TMP ORDER BY 得意先CD
	
	DECLARE	@SQL	VARCHAR(8000)
	DECLARE	@ODR	VARCHAR(8000)
	
	SET	@SQL = '
	SELECT	TMP.得意先CD,
			TK.得意先名1, TK.得意先名2,
			TMP.順位1,
			TMP.原価金額1,
			TMP.税抜金額1,
			TMP.比率1,
			TMP.順位2,
			TMP.原価金額2,
			TMP.税抜金額2,
			TMP.比率2,
			TMP.順位3,
			TMP.原価金額3,
			TMP.税抜金額3,
			TMP.比率3,
			TMP.順位4,
			TMP.原価金額4,
			TMP.税抜金額4,
			TMP.比率4,
			TMP.順位5,
			TMP.原価金額5,
			TMP.税抜金額5,
			TMP.比率5,
			TMP.順位6,
			TMP.原価金額6,
			TMP.税抜金額6,
			TMP.比率6,
			TMP.順位7,
			TMP.原価金額7,
			TMP.税抜金額7,
			TMP.比率7,
			TMP.順位8,
			TMP.原価金額8,
			TMP.税抜金額8,
			TMP.比率8,
			TMP.順位9,
			TMP.原価金額9,
			TMP.税抜金額9,
			TMP.比率9,
			TMP.順位10,
			TMP.原価金額10,
			TMP.税抜金額10,
			TMP.比率10
	FROM (
	SELECT TMP.得意先CD,
			順位1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率1 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN1 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位2 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN2 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額2 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN2 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額2 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN2 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率2 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN2 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位3 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN3 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額3 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN3 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額3 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN3 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率3 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN3 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位4 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN4 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額4 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN4 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額4 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN4 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率4 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN4 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位5 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN5 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額5 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN5 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額5 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN5 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率5 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN5 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位6 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN6 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額6 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN6 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額6 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN6 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率6 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN6 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位7 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN7 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額7 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN7 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額7 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN7 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率7 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN7 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位8 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN8 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額8 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN8 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額8 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN8 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率8 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN8 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位9 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN9 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額9 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN9 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額9 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN9 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率9 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN9 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END),
			順位10= SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN10 AS VARCHAR),'NULL') + ' THEN TMP.順位 ELSE 0 END),
			原価金額10 = SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN10 AS VARCHAR),'NULL') + ' THEN TMP.原価金額 ELSE 0 END),
			税抜金額10= SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN10 AS VARCHAR),'NULL') + ' THEN TMP.税抜金額 ELSE 0 END),
			比率10= SUM(CASE WHEN TMP.年 = ' + ISNULL(CAST(@wNEN10 AS VARCHAR),'NULL') + ' THEN TMP.比率 ELSE 0 END)
		FROM #TMP AS TMP
		GROUP BY TMP.得意先CD
	) AS TMP
		INNER JOIN  TM得意先 AS TK
		ON TMP.得意先CD = TK.得意先CD'

	--SELECT @SQL
	SET	@ODR = ' ORDER BY 税抜金額' + CAST(@wCNT -1 AS VARCHAR) + ' DESC'
		
	EXEC (@SQL + @ODR)

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	DROP TABLE #TMP
	
EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST

GO
