/****** Object:  StoredProcedure [dbo].[usp_TN2100チーム別入出庫抽出]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN2100チーム別入出庫抽出]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN2100チーム別入出庫抽出]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN2100チーム別入出庫抽出
	

	機能:	
		現在庫情報を作成する。
		棚卸日付の前の日までが集計対象

		２回目以降は１回目の情報を使用する。
		
	※　前回棚卸日を含む日付から
	　　指定日付-1日までの範囲で
	　　現在庫数・入庫数・出庫数・各金額
	　　を集計する。
 =============================================
	2017/01/30	oosawa	新規作成
	2017/02/09	oosawa	調整明細に漢字名称追加
	2017/02/16	oosawa	製品Mの在庫対象区分で対象抽出
	2020/10/20	oosawa	在庫対象区分は廃止
						在庫区分に変更
						--在庫区分が「在庫する」かつ、費用区分が「部材」のみ対象とする 保留
=============================================*/
CREATE  PROCEDURE [dbo].[usp_TN2100チーム別入出庫抽出]
	(
	@i指定日付		DATETIME,--末日が入る
	@iチームCD		INT,
	--@i得意先CD		VARCHAR(4),

	--OUTPUT
	@o開始日付		DATETIME		OUTPUT,--抽出した開始日付
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	DECLARE	@w期首日付		DATETIME

	DECLARE	@w前回棚卸日付	DATETIME,
			@w開始日付		DATETIME

	--棚卸ワークテーブル作成
	CREATE TABLE #TMP_TOTAL
		(
			--棚卸日付		DATETIME,
			チームCD		INT		NOT NULL,
			--得意先CD		VARCHAR(4),
			枝番			INT	DEFAULT(0),
			KEYCODE			VARCHAR(40),
			製品NO			CHAR(12),
			仕様NO			CHAR(10),
			漢字名称		VARCHAR(40),
			--仕入先CD		VARCHAR(4),
			
			前回棚卸数		MONEY	DEFAULT(0),
			出庫合計数		MONEY	DEFAULT(0),
			入庫合計数		MONEY	DEFAULT(0),
			調整出庫合計数	MONEY	DEFAULT(0),
			調整入庫合計数	MONEY	DEFAULT(0),
			--今回棚卸数		MONEY	DEFAULT(0),

			前回棚卸金額	MONEY	DEFAULT(0),						
			出庫合計金額	MONEY	DEFAULT(0),
			入庫合計金額	MONEY	DEFAULT(0),
			調整出庫合計金額	MONEY	DEFAULT(0),
			調整入庫合計金額	MONEY	DEFAULT(0),

		) ON [PRIMARY]

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--------------------------------------------------
	--棚卸データの抽出判断
	--------------------------------------------------
		--------------------------------------------------
		--前回棚卸日付取得
		--------------------------------------------------
		SELECT TOP 1 @w前回棚卸日付 = 棚卸日付
			FROM TD棚卸 (NOLOCK)
				WHERE	チームCD = @iチームCD
					--AND	得意先CD = @i得意先CD
 					AND	棚卸日付 < @i指定日付
				ORDER BY 棚卸日付 DESC
	
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
	
		--------------------------------------------------
		--抽出日付範囲の算出
		--------------------------------------------------
		IF ISNULL(@w前回棚卸日付,0) = 0 BEGIN
			--棚卸を一回も行っていない場合
			--入力した棚卸日の一か月前 例）2015/8/31→2015/8/1
			SET @w開始日付 = DATEADD(MONTH,-1,DATEADD(DAY,1,@i指定日付))
			--前回棚卸日がNULLなので仮に開始日を入力しておく
			SET @w前回棚卸日付 = @w開始日付
		END ELSE BEGIN
			--前回棚卸日の１日後 例）2015/7/30→2015/8/1
			SET @w開始日付 = DATEADD(DAY,1,@w前回棚卸日付)
		END

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		--返却用開始日付セット
		SET	@o開始日付 = @w開始日付
		-------------------------------------------------
		--新規　集計
		-------------------------------------------------
		INSERT	INTO #TMP_TOTAL
				(
					--棚卸日付,
					チームCD,
					--得意先CD,
					KEYCODE,
					製品NO,
					仕様NO,
					漢字名称,
					--仕入先CD,
					--現在庫数,
					--棚卸数
					前回棚卸数,
					前回棚卸金額
				)
			SELECT	
					--@i指定日付,
					TS.チームCD,
					--TS.得意先CD,
					KEYCODE = CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END,
					TSM.製品NO,
					TSM.仕様NO,
					--漢字名称 = MAX(SE.漢字名称),
					漢字名称 = MAX(TSM.漢字名称),
					--TSM.仕入先CD,
					--TSM.棚卸数量,
					--TSM.棚卸金額
					棚卸数量 = SUM(TSM.棚卸数量),
					--内税の場合は消費税を引く
					棚卸金額 = SUM(CASE WHEN TSM.仕入税区分 = 1 THEN (TSM.棚卸金額-TSM.消費税額) ELSE TSM.棚卸金額 END)
				FROM TD棚卸 AS TS(NOLOCK)
					INNER JOIN TD棚卸明細 AS TSM(NOLOCK)
						ON TS.棚卸番号 = TSM.棚卸番号	
					--LEFT JOIN TM製品 AS SE(NOLOCK)
					--	ON TSM.製品NO = SE.製品NO
					--	AND TSM.仕様NO = SE.仕様NO
				WHERE	TS.チームCD = @iチームCD
					--AND	TS.得意先CD = @i得意先CD
					AND	TS.棚卸日付 = @w前回棚卸日付
				--GROUP BY TS.チームCD,TSM.製品NO,TSM.仕様NO
				GROUP BY TS.チームCD,(CASE WHEN TSM.製品NO='' THEN TSM.漢字名称 ELSE TSM.製品NO END),TSM.製品NO,TSM.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--仕入先が3105:三和倉庫の仕入先D
					SELECT	TK.チームCD,
								--MH.得意先CD,
								KEYCODE = CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END,
								SMU.製品NO,
								SMU.仕様NO,
								漢字名称 = MAX(SMU.漢字名称),
								--SM.仕入先CD,
								仕入数量 = SUM(SMU.仕入数量),
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	SM.仕入先CD = '3150'--三和倉庫
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @w開始日付
							AND SM.仕入日付 <= @i指定日付
							AND	TK.チームCD = @iチームCD
							--AND MH.得意先CD = @i得意先CD
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							----AND	ISNULL(SE.在庫区分,1) = 0--在庫する--2020/10/20 ADD
							----AND	ISNULL(SE.費用区分,0) = 0--部材--2020/10/20 ADD
						--GROUP BY TK.チームCD,MH.得意先CD,SMU.製品NO,SMU.仕様NO
						--GROUP BY TK.チームCD,SMU.製品NO,SMU.仕様NO--,SM.仕入先CD
						GROUP BY TK.チームCD,(CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END),SMU.製品NO,SMU.仕様NO--,SM.仕入先CD
				) AS B
			ON  (
				A.チームCD = B.チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				--AND A.仕入先CD = B.仕入先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.出庫合計数 = A.出庫合計数 + B.仕入数量,
						A.出庫合計金額 = A.出庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--仕入先CD,
							--現在庫数,
							--棚卸数
							出庫合計数,
							出庫合計金額
						)
					VALUES
						(
							--@i指定日付,
							B.チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							--B.仕入先CD,
							B.仕入数量,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


		------------------------------------------------
		--入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--社内伝の仕入先D
					SELECT	TK.チームCD,
								--MH.得意先CD,
								KEYCODE = CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END,
								SMU.製品NO,
								SMU.仕様NO,
								漢字名称 = MAX(SMU.漢字名称),
								--SM.仕入先CD,
								仕入数量 = SUM(SMU.仕入数量),
								--内税の場合は消費税を引く
								原価額 = SUM(CASE WHEN SMU.仕入税区分 = 1 THEN (SMU.仕入金額-SMU.消費税額) ELSE SMU.仕入金額 END)
						FROM	TD仕入 AS SR(NOLOCK)
							INNER JOIN TD仕入明細 AS SM(NOLOCK)
								ON SR.仕入番号 = SM.仕入番号
							INNER JOIN	TD見積 AS MH(NOLOCK)
								ON SM.見積番号 = MH.見積番号
							INNER JOIN	TD仕入明細内訳 AS SMU(NOLOCK)
								ON SM.仕入番号 = SMU.仕入番号
							INNER JOIN TM得意先 AS TK(NOLOCK)
								ON SR.販売先得意先CD = TK.得意先CD
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON SMU.製品NO = SE.製品NO
								AND SMU.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE	NOT(MH.社内伝票扱い = 0)	--社内伝票
							AND	NOT(SMU.伝票区分 IN ('A','C','S'))
							AND	SM.仕入日付 >= @w開始日付
							AND SM.仕入日付 <= @i指定日付
							AND	TK.チームCD = @iチームCD
							--AND MH.得意先CD = @i得意先CD
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							----AND	ISNULL(SE.在庫区分,1) = 0--在庫する--2020/10/20 ADD
							----AND	ISNULL(SE.費用区分,0) = 0--部材--2020/10/20 ADD
						--GROUP BY TK.チームCD,MH.得意先CD,SMU.製品NO,SMU.仕様NO
						--GROUP BY TK.チームCD,SMU.製品NO,SMU.仕様NO--,SM.仕入先CD
						GROUP BY TK.チームCD,(CASE WHEN SMU.製品NO='' THEN SMU.漢字名称 ELSE SMU.製品NO END),SMU.製品NO,SMU.仕様NO--,SM.仕入先CD
				) AS B
			ON  (
				A.チームCD = B.チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				--AND A.仕入先CD = B.仕入先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.入庫合計数 = A.入庫合計数 + B.仕入数量,
						A.入庫合計金額 = A.入庫合計金額 + B.原価額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--仕入先CD,
							--現在庫数,
							--棚卸数
							入庫合計数,
							入庫合計金額
						)
					VALUES
						(
							--@i指定日付,
							B.チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							--B.仕入先CD,
							B.仕入数量,
							B.原価額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　出庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上
					SELECT	ID.在庫調整元チームCD,
							--ID.得意先CD,
							KEYCODE = CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END,
							IDM.製品NO,
							IDM.仕様NO,
							漢字名称 = MAX(IDM.漢字名称),
							--IDM.仕入先CD,
							調整出庫数量 = SUM(IDM.調整数量),
							--内税の場合は消費税を引く
							調整出庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE 
								ID.在庫調整日付 >= @w開始日付
							AND ID.在庫調整日付 <= @i指定日付
							AND ID.在庫調整元チームCD = @iチームCD
							--AND ID.得意先CD = @i得意先CD
							--AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							----AND	ISNULL(SE.在庫区分,1) = 0--在庫する--2020/10/20 ADD
							----AND	ISNULL(SE.費用区分,0) = 0--部材--2020/10/20 ADD
							AND ID.在庫調整元チームCD <> 0--2017/05/23 ADD
						--GROUP BY ID.在庫調整元チームCD,ID.得意先CD,IDM.製品NO,IDM.仕様NO
						--GROUP BY ID.在庫調整元チームCD,IDM.製品NO,IDM.仕様NO--,IDM.仕入先CD
						GROUP BY ID.在庫調整元チームCD,(CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END),IDM.製品NO,IDM.仕様NO--,SM.仕入先CD
				) AS B
			ON  (
				A.チームCD = B.在庫調整元チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				--AND A.仕入先CD = B.仕入先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整出庫合計数 = A.調整出庫合計数 + B.調整出庫数量,
						A.調整出庫合計金額 = A.調整出庫合計金額 + B.調整出庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--仕入先CD,
							--現在庫数,
							--棚卸数
							調整出庫合計数,
							調整出庫合計金額
						)
					VALUES
						(
							--@i指定日付,
							B.在庫調整元チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							--B.仕入先CD,
							B.調整出庫数量,
							B.調整出庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--在庫調整　入庫分
		-------------------------------------------------
		MERGE INTO	#TMP_TOTAL AS A
			USING
				(
				--売上
					SELECT	ID.在庫調整先チームCD,
							--ID.得意先CD,
							KEYCODE = CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END,
							IDM.製品NO,
							IDM.仕様NO,
							漢字名称 = MAX(IDM.漢字名称),
							--IDM.仕入先CD,
							調整入庫数量 = SUM(IDM.調整数量),
							--内税の場合は消費税を引く
							調整入庫金額 = SUM(CASE WHEN IDM.仕入税区分 = 1 THEN (IDM.調整金額-IDM.消費税額) ELSE IDM.調整金額 END)
						FROM TD在庫調整 AS ID(NOLOCK)
							INNER JOIN TD在庫調整明細 AS IDM(NOLOCK)
								ON ID.在庫調整番号 = IDM.在庫調整番号
							--2017/02/16 ADD↓
							LEFT JOIN TM製品 AS SE(NOLOCK)
								ON IDM.製品NO = SE.製品NO
								AND IDM.仕様NO = SE.仕様NO
							--2017/02/16 ADD↑
						WHERE 
								ID.在庫調整日付 >= @w開始日付
							AND ID.在庫調整日付 <= @i指定日付
							AND ID.在庫調整先チームCD = @iチームCD
							--AND ID.得意先CD = @i得意先CD
							--AND ISNULL(SE.在庫区分,1) = 0--在庫管理する
							--AND	ISNULL(SE.在庫対象区分,0) = 0--2017/02/16 ADD
							----AND	ISNULL(SE.在庫区分,1) = 0--在庫する--2020/10/20 ADD
							----AND	ISNULL(SE.費用区分,0) = 0--部材--2020/10/20 ADD
							AND ID.在庫調整先チームCD <> 0--2017/05/23 ADD
						--GROUP BY ID.在庫調整先チームCD,ID.得意先CD,IDM.製品NO,IDM.仕様NO
						--GROUP BY ID.在庫調整先チームCD,IDM.製品NO,IDM.仕様NO--,IDM.仕入先CD
						GROUP BY ID.在庫調整先チームCD,(CASE WHEN IDM.製品NO='' THEN IDM.漢字名称 ELSE IDM.製品NO END),IDM.製品NO,IDM.仕様NO--,SM.仕入先CD
				) AS B
			ON  (
				A.チームCD = B.在庫調整先チームCD
				--AND A.得意先CD = B.得意先CD
				AND	A.KEYCODE = B.KEYCODE
				AND	A.製品NO = B.製品NO
				AND	A.仕様NO = B.仕様NO
				--AND A.仕入先CD = B.仕入先CD
				)
			WHEN MATCHED THEN
				UPDATE
					SET A.調整入庫合計数 = A.調整入庫合計数 + B.調整入庫数量,
						A.調整入庫合計金額 = A.調整入庫合計金額 + B.調整入庫金額
			WHEN NOT MATCHED THEN
				INSERT
						(
							--棚卸日付,
							チームCD,
							--得意先CD,
							KEYCODE,
							製品NO,仕様NO,
							漢字名称,
							--仕入先CD,
							--現在庫数,
							--棚卸数
							調整入庫合計数,
							調整入庫合計金額
						)
					VALUES
						(
							--@i指定日付,
							B.在庫調整先チームCD,
							--B.得意先CD,
							B.KEYCODE,
							B.製品NO,B.仕様NO,
							B.漢字名称,
							--B.仕入先CD,
							B.調整入庫数量,
							B.調整入庫金額
						)
			;
		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

		------------------------------------------------
		--出力
		------------------------------------------------
		SELECT	
				--@i指定日付,
				TMP.チームCD, 
				--TMP.得意先CD,
				棚卸明細連番=0,
				TMP.枝番, 
				TMP.KEYCODE,
				TMP.製品NO, TMP.仕様NO, 
				漢字名称 = COALESCE(TMP.漢字名称,SE.漢字名称),
				SE.W,SE.D,SE.H,
				--仕入先CD,
				
				現在庫数		=	ISNULL(TMP.前回棚卸数,0)
								-	ISNULL(TMP.出庫合計数,0)
								+	ISNULL(TMP.入庫合計数,0)
								-	ISNULL(TMP.調整出庫合計数,0)
								+	ISNULL(TMP.調整入庫合計数,0),
				現在庫金額		=	ISNULL(TMP.前回棚卸金額,0)
								-	ISNULL(TMP.出庫合計金額,0)
								+	ISNULL(TMP.入庫合計金額,0)
								-	ISNULL(TMP.調整出庫合計金額,0)
								+	ISNULL(TMP.調整入庫合計金額,0),
				入庫数			=	ISNULL(TMP.入庫合計数,0)
								+	ISNULL(TMP.調整入庫合計数,0),
				入庫金額		=	ISNULL(TMP.入庫合計金額,0)
								+	ISNULL(TMP.調整入庫合計金額,0),
				出庫数			=	ISNULL(TMP.出庫合計数,0)
								+	ISNULL(TMP.調整出庫合計数,0),
				出庫金額		=	ISNULL(TMP.出庫合計金額,0)
								+	ISNULL(TMP.調整出庫合計金額,0)
			FROM #TMP_TOTAL AS TMP
				LEFT JOIN TM製品 AS SE(NOLOCK)
					ON TMP.製品NO = SE.製品NO
					AND TMP.仕様NO = SE.仕様NO
				--LEFT JOIN TM単価 AS TN(NOLOCK)
				--	ON TMP.得意先CD = TN.得意先CD
				--	AND TMP.製品NO = TN.製品NO
				--	AND TMP.仕様NO = TN.仕様NO
			ORDER BY	ISNULL(枝番,9999999), TMP.製品NO, TMP.仕様NO

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP
		

EXIT_SP:

	DROP TABLE #TMP_TOTAL

	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
