/****** Object:  StoredProcedure [dbo].[usp_GE0200データチェック表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_GE0200データチェック表]
GO
/****** Object:  StoredProcedure [dbo].[usp_GE0200データチェック表]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* =============================================
	 usp_GE0200データチェック表
	

	機能:	
		締時のデータ整合性のチェック

 =============================================
	2024/06/18		oosawa	新規作成
=============================================*/
CREATE  PROCEDURE [dbo].[usp_GE0200データチェック表]
	(
	@SDATE	DATETIME,
	@EDATE	DATETIME,

	--OUTPUT
	@RetST			INT				OUTPUT,
	@RetMsg			VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON
	
	DECLARE
		--@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	--------------------------------------------------
	--変数の初期化
	--------------------------------------------------
	--SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


	--SET	@SDATE	= '2024-03-01'
	--SET	@EDATE	= '2024-06-30'


	--クレーム区分なしチェック

	SELECT	MH.見積番号, MH.見積日付, MH.見積件名, 
            UH.売上日付 AS 売上日付, MSM.作業区分CD, MSM.製品NO, MSM.仕様NO, 
            MSM.漢字名称, MSM.見積数量
		FROM	TD見積 AS MH
			INNER JOIN	TD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
			INNER JOIN TD売上明細v2 AS UM
				ON MSM.見積明細連番 = UM.見積明細連番
			INNER JOIN	TD売上v2 AS UH
				ON UM.売上番号 = UH.売上番号
		WHERE	MH.見積件名 LIKE '%クレーム%'
			AND UH.売上日付 BETWEEN @SDATE AND @EDATE
			AND	MSM.作業区分CD <> 4
			AND MSM.見積数量 <> 0


	/*
		社内伝　フラグなし　チェック
	*/

	--SELECT	TD見積.見積番号, TD見積.見積日付, TD見積.見積件名, 
 --           TD売上v2.売上日付 AS 売上日付, TD見積シートM.作業区分CD, TD見積シートM.製品NO, TD見積シートM.仕様NO, 
 --           TD見積シートM.漢字名称, TD見積シートM.見積数量
	--	FROM	TD見積
	--		INNER JOIN	TD売上v2
	--			ON TD見積.見積番号 = TD売上v2.見積番号
	--		INNER JOIN	TD見積シートM
	--			ON TD見積.見積番号 = TD見積シートM.見積番号
	--	WHERE	TD見積.見積件名 LIKE '%在庫%'
	--		AND TD売上v2.売上日付 BETWEEN @SDATE AND @EDATE
	--		AND	TD見積.社内伝票扱い <> 1
	--		AND TD見積シートM.見積数量 <> 0

	SELECT	MH.見積番号, MH.見積日付, MH.見積件名, 
            SM.仕入日付 AS 仕入日付, MSM.作業区分CD, MSM.製品NO, MSM.仕様NO, 
            MSM.漢字名称, MSM.見積数量
		FROM	TD見積 AS MH
			INNER JOIN	TD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
			INNER JOIN TD仕入明細内訳 AS SMU
				ON MSM.見積明細連番 = SMU.見積明細連番
			INNER JOIN	TD仕入明細 AS SM
				ON SMU.仕入番号 = SM.仕入番号
		WHERE	MH.見積件名 LIKE '%在庫%'
			AND	NOT(MH.見積件名 LIKE '%在庫%'
			AND MH.見積件名 LIKE '%化粧品%')
			AND SM.仕入日付 BETWEEN @SDATE AND @EDATE
			AND	MH.社内伝票扱い <> 1
			AND MSM.見積数量 <> 0
		ORDER BY MH.見積番号

	/*
		メンテの
		販売割戻金が売上ってないチェック
	*/
	----SELECT	TD見積.見積番号, TD見積.見積日付, TD見積.見積件名, 
	----			TD売上v2.売上日付 AS 売上日付, TD見積シートM.作業区分CD, TD見積シートM.製品NO, TD見積シートM.仕様NO, 
	----			TD見積シートM.漢字名称, TD見積シートM.見積数量
	----		FROM	TD見積
	----			INNER JOIN	TD売上v2
	----				ON TD見積.見積番号 = TD売上v2.見積番号
	----			INNER JOIN	TD見積シートM
	----				ON TD見積.見積番号 = TD見積シートM.見積番号
	----			LEFT JOIN TM製品
	----				ON TD見積シートM.製品NO = TM製品.製品NO
	----				AND TD見積シートM.仕様NO = TM製品.仕様NO
	----		WHERE	NOT(TD見積.見積番号 in (
	----				SELECT	TD見積.見積番号
	----					FROM	TD見積
	----						INNER JOIN	TD売上v2
	----							ON TD見積.見積番号 = TD売上v2.見積番号
	----						INNER JOIN	TD見積シートM
	----							ON TD見積.見積番号 = TD見積シートM.見積番号
	----						LEFT JOIN TM製品
	----							ON TD見積シートM.製品NO = TM製品.製品NO
	----							AND TD見積シートM.仕様NO = TM製品.仕様NO
	----					WHERE	TD売上v2.売上日付 BETWEEN @SDATE AND @EDATE
	----						AND	TD見積.得意先CD = '2401'
	----						AND TD見積.物件種別 = 2--メンテ
	----						AND	TD見積シートM.製品NO = 'Z103'
	----				))
	----				AND	TD売上v2.売上日付 BETWEEN @SDATE AND @EDATE
	----				AND	TD見積.得意先CD = '2401'
	----				AND TD見積.物件種別 = 2--メンテ
	SELECT	MH.見積番号,MH.見積日付, MH.見積件名, 
				UH.売上日付 AS 売上日付, 
				MSM.作業区分CD, MSM.製品NO, MSM.仕様NO, 
				MSM.漢字名称, MSM.見積数量
		FROM	TD見積 AS MH
			INNER JOIN	TD売上v2 AS UH
				ON MH.見積番号 = UH.見積番号
			INNER JOIN	TD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
			----INNER JOIN	TD売上明細v2 AS UM
			----	ON MSM.見積明細連番 = UM.見積明細連番
		WHERE	UH.売上日付 BETWEEN @SDATE AND @EDATE
			AND	MH.得意先CD = '2401'
			AND MH.物件種別 = 2--メンテ
			AND	MSM.製品NO = 'Z103'
			AND MSM.見積数量 <> 0
			AND	NOT(MSM.見積番号 in (
										SELECT	UH.見積番号
											FROM	TD見積 AS MH
												INNER JOIN	TD売上v2 AS UH
													ON MH.見積番号 = UH.見積番号
												INNER JOIN	TD見積シートM AS MSM
													ON MH.見積番号 = MSM.見積番号
												INNER JOIN	TD売上明細v2 AS UM
													ON MSM.見積明細連番 = UM.見積明細連番
											--WHERE	UH.売上日付 BETWEEN @SDATE AND @EDATE
											WHERE	UH.売上日付 <= @EDATE
												AND	MH.得意先CD = '2401'
												AND MH.物件種別 = 2--メンテ
												AND	MSM.製品NO = 'Z103'
										))


	--仕入が起きているのに、値引きが仕入れられていない番号
	SELECT DISTINCT	MSM.見積番号,MH.見積日付,MH.得意先CD,見積件名 = (MH.見積件名),
					MHK.完了日付,
					MSM.作業区分CD,MSM.製品NO,MSM.仕様NO,MSM.漢字名称,MSM.見積数量,MSM.売上金額
		FROM	TD見積 AS MH
			INNER JOIN TD見積_経過 AS MHK
				ON MH.見積番号 = MHK.見積番号
			INNER JOIN TD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
			INNER JOIN TD仕入明細 AS SM
				ON MSM.見積番号 = SM.見積番号
			LEFT JOIN	TD仕入明細内訳 AS SMU
				ON MSM.見積明細連番 = SMU.見積明細連番
		WHERE	SM.仕入日付 BETWEEN @SDATE AND @EDATE
			AND	MSM.製品NO = 'Z019'
			AND MSM.発注数 <> 0
			AND SMU.見積明細連番 IS NULL--仕入なし
		--GROUP BY MSM.見積番号,MH.得意先CD
		ORDER BY MH.得意先CD,MSM.見積番号--,MH.見積件名,
				,MHK.完了日付--,


	--請求と売掛の差額チェック
	-- 売掛消費税調整入力確認用

	SELECT	MH.得意先CD, MH.得意先名1,USH.請求日付,USH.見積番号,MH.見積件名,
			USH.合計金額, UH.売上金額,
			USH.外税額 AS 請求消費税 , UH.外税額 AS 売上消費税
		FROM	TD売上請求H AS USH
			INNER JOIN	
				(
					SELECT	UH.見積番号,
							SUM(UH.税抜金額) AS 売上金額,
							SUM(UH.外税額) AS 外税額
						FROM	TD売上v2 AS UH
						GROUP BY	UH.見積番号
				) AS UH
					ON USH.見積番号 = UH.見積番号
				LEFT JOIN TD見積 AS MH
					ON USH.見積番号 = MH.見積番号
		WHERE	
				USH.請求日付 >= @SDATE
			AND NOT(USH.合計金額 = UH.売上金額 AND USH.外税額 = UH.外税額)
		ORDER BY	USH.請求日付,MH.得意先CD,USH.見積番号



	--売上　在庫化粧品が売りあがっていないか
	SELECT	TD売上v2.見積番号, TD見積.見積件名
		FROM	TD売上v2
			INNER JOIN	TD見積
				ON TD売上v2.見積番号 = TD見積.見積番号
		WHERE	TD見積.見積件名 LIKE '%在庫%'
			AND TD見積.見積件名 LIKE '%化粧品%'
			AND TD売上v2.売上日付 BETWEEN @SDATE AND @EDATE


	--工事区分チェック
	----出荷元が9999でない明細で作業区分が工事のデータ(件名:%施工・運搬費%は除く)

	SELECT	MH.見積番号, MH.見積日付, MH.見積件名, 
            SM.仕入日付, MSM.作業区分CD, 
			MSM.仕入先CD,MSM.仕入先名,MSM.行番号,
			MSM.製品NO, MSM.仕様NO, 
            MSM.漢字名称, MSM.見積数量
		FROM	TD見積 AS MH
			INNER JOIN	TD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
			INNER JOIN TD仕入明細内訳 AS SMU
				ON MSM.見積明細連番 = SMU.見積明細連番
			INNER JOIN	TD仕入明細 AS SM
				ON SMU.仕入番号 = SM.仕入番号
		WHERE	NOT(MH.見積件名 LIKE '%施工・運搬費%')
			AND SM.仕入日付 BETWEEN @SDATE AND @EDATE
			AND	MSM.作業区分CD = 1
			AND	MSM.仕入先CD <> '9999'
			AND MSM.見積数量 <> 0


	--業種区分と作業区分確認：什器で内装、内装で内装orコールでない
	SELECT	MH.見積番号, MH.見積日付, MH.見積件名, 
            SM.仕入日付,
			MH.業種区分,MSM.作業区分CD, 
			--MSM.仕入先CD,MSM.仕入先名,
			MSM.行番号,
			MSM.製品NO, MSM.仕様NO, 
            MSM.漢字名称, MSM.見積数量
		FROM	TD見積 AS MH
			INNER JOIN	TD見積シートM AS MSM
				ON MH.見積番号 = MSM.見積番号
			INNER JOIN TD仕入明細内訳 AS SMU
				ON MSM.見積明細連番 = SMU.見積明細連番
			INNER JOIN	TD仕入明細 AS SM
				ON SMU.仕入番号 = SM.仕入番号
		WHERE	SM.仕入日付 BETWEEN @SDATE AND @EDATE
			AND	((MH.業種区分 = 1 AND NOT(MSM.作業区分CD IN (2,3,4)))
					OR
				(MH.業種区分 = 0 AND MSM.作業区分CD IN (3)))
			--AND	MSM.作業区分CD = 1
			--AND	MSM.仕入先CD <> '9999'
			AND MSM.見積数量 <> 0



	--集計CDと工事担当に相違があるかもチェック
	/*
		岡田93 → ヤオコー8001
		森田101 → ベルクス3001・ベルク6601
		高橋119 → ビバ4801
		小林120 → ウエルシア2401・マミー7001

		997・998・999は確認できない
	*/
	SELECT	工事担当CD, 集計CD, 見積番号, 見積日付, 担当者CD, 見積件名, 
			得意先CD, 得意先名1, --得意先名2,
			納入得意先CD, 
            納入先CD, 納入先名1--, 納入先名2
		FROM	TD見積 AS MH
		WHERE	見積日付 BETWEEN @SDATE AND @EDATE
			AND NOT((工事担当CD = 93 AND 集計CD IN (8001))
				OR
				(工事担当CD = 101 AND 集計CD IN (3001,6601))
				OR
				(工事担当CD = 119 AND 集計CD IN (4801))
				OR
				(工事担当CD = 120 AND 集計CD IN (2401,7001))
				OR
				(工事担当CD = 997)
				OR
				(工事担当CD = 998)
				OR
				(工事担当CD = 999)
				)
	ORDER BY	工事担当CD, 集計CD, 見積番号

	--No.10
	-----------------------------------------------------------------
	--在庫　化粧品　の全原価金額と仕入済み原価金額の比率を算出
	-----------------------------------------------------------------
	SELECT	M.見積番号,M.見積件名,M.完了日付,
			--M.納入得意先CD,M.納入先CD,
			M.仕入先CD,M.仕入先名,
			S.仕入済CNT,
			全CNT = M.CNT,
			仕入済原価金額 = S.仕入金額,
			全原価金額 = M.仕入金額,
			比率 = S.仕入金額/NULLIF(M.仕入金額,0)*100
		FROM (
				--全原価金額
				SELECT	MH.見積番号, MH.見積件名,MHK.完了日付,
						--MH.納入得意先CD,MH.納入先CD,
						MSM.仕入先CD,MSM.仕入先名,
						仕入金額 = SUM(MSM.仕入金額),
						CNT = COUNT(*)
					FROM	TD見積 AS MH
						INNER JOIN TD見積_経過 AS MHK
							ON MH.見積番号 = MHK.見積番号
						INNER JOIN TD見積シートM AS MSM
							ON MH.見積番号 = MSM.見積番号
					WHERE MH.見積番号 IN (
										--範囲日付内で仕入がおきた見積番号
										SELECT SM.見積番号
												FROM	TD仕入明細 AS SM
												INNER JOIN	TD仕入明細内訳 AS SMU
													ON SM.仕入番号 = SMU.仕入番号
												INNER JOIN	TD見積シートM AS MSM
													ON SMU.見積明細連番 = MSM.見積明細連番
												INNER JOIN	TD見積 AS MH
													ON MSM.見積番号 = MH.見積番号
											WHERE	MH.見積件名 LIKE '%在庫%'
												AND MH.見積件名 LIKE '%化粧品%'
												AND SM.仕入日付 BETWEEN @SDATE AND @EDATE
										)
						AND MSM.発注数 <> 0
					GROUP BY	MH.見積番号, MH.見積件名,MHK.完了日付,MH.納入得意先CD,MH.納入先CD,MSM.仕入先CD,MSM.仕入先名

				) AS M
		LEFT JOIN (
				--仕入済の原価金額
				SELECT	SM.見積番号, MH.見積件名,
						SM.仕入先CD,
						仕入金額 = SUM(SMU.仕入金額),
						仕入済CNT = COUNT(*)
					FROM	TD仕入明細 AS SM
						INNER JOIN	TD仕入明細内訳 AS SMU
							ON SM.仕入番号 = SMU.仕入番号
						INNER JOIN	TD見積シートM AS MSM
							ON SMU.見積明細連番 = MSM.見積明細連番
						INNER JOIN	TD見積 AS MH
							ON MSM.見積番号 = MH.見積番号
					WHERE	MH.見積件名 LIKE '%在庫%'
						AND MH.見積件名 LIKE '%化粧品%'
						--AND SM.仕入日付 BETWEEN @SDATE AND @EDATE
						AND SM.仕入日付 <= @EDATE
						AND SM.見積番号 IN (
											--範囲日付内で仕入がおきた見積番号
											SELECT SM.見積番号
													FROM	TD仕入明細 AS SM
													INNER JOIN	TD仕入明細内訳 AS SMU
														ON SM.仕入番号 = SMU.仕入番号
													INNER JOIN	TD見積シートM AS MSM
														ON SMU.見積明細連番 = MSM.見積明細連番
													INNER JOIN	TD見積 AS MH
														ON MSM.見積番号 = MH.見積番号
												WHERE	MH.見積件名 LIKE '%在庫%'
													AND MH.見積件名 LIKE '%化粧品%'
													AND SM.仕入日付 BETWEEN @SDATE AND @EDATE
											)
						AND SMU.仕入数量 <> 0
					GROUP BY	SM.見積番号, MH.見積件名,SM.仕入先CD
					--ORDER BY	SM.見積番号, MH.見積件名,SM.仕入先CD
				) AS S

				ON S.見積番号 = M.見積番号
				AND S.仕入先CD = M.仕入先CD
		ORDER BY M.見積番号,M.見積件名,M.仕入先CD

		----------SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

	-----------------------------------------------------------------
	--施工・運搬費　仕分レベル集計
	-----------------------------------------------------------------
	SELECT	MH.見積番号,MH.得意先CD,
			MSUN.名称, 
			--SUM(dbo.fn_CutFraction(MH.売上端数, MSU.数量 * MSM.仕入単価, 0)) 
			MSM.作業区分CD,
			仕入金額 = SUM(SMU.仕入金額)
		FROM	TD見積 AS MH
			INNER JOIN	TD見積シートM AS MSM
				ON MSM.見積番号 = MH.見積番号
			INNER JOIN	TD見積シート内訳 AS MSU
				ON MSM.見積明細連番 = MSU.見積明細連番
			INNER JOIN	TD仕入明細内訳 AS SMU
				ON MSM.見積明細連番 = SMU.見積明細連番
			INNER JOIN	TD仕入明細 AS SM
				ON SMU.仕入番号 = SM.仕入番号
			LEFT JOIN	TD見積シート内訳名称 AS MSUN
				ON MSU.見積番号 = MSUN.見積番号
				AND MSU.仕分番号 = MSUN.仕分番号
		WHERE	--(MH.見積番号 = 176491) and
				MH.見積件名 LIKE '%施工・運搬費%'
			AND SM.仕入日付 BETWEEN @SDATE AND @EDATE
			AND (MSU.数量 <> 0)
			AND	MSM.作業区分CD in (1,3)
			--AND (MSM.客先在庫数 = 0) 
			--AND (MSM.転用数 = 0)
		GROUP BY	MH.見積番号, MH.得意先CD, MSUN.名称, MSU.仕分番号,MSM.作業区分CD
		ORDER BY	 MH.得意先CD,MSM.作業区分CD,MH.見積番号, MSU.仕分番号



EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RetST = @ST
		SET 	@RetMsg = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RetST = @ST
			SET 	@RetMsg = @MSG
		END
	END
	RETURN @ST
GO
