/****** Object:  StoredProcedure [dbo].[usp_社内在庫_出荷数Add]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_社内在庫_出荷数Add]
GO
/****** Object:  StoredProcedure [dbo].[usp_社内在庫_出荷数Add]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROCEDURE	[dbo].[usp_社内在庫_出荷数Add]
	(
	@i伝票区分 		VARCHAR(1),
	@iSP区分		VARCHAR(1),
	@iPC区分		VARCHAR(1),
	@i製品NO		CHAR(7),
	@i仕様NO		CHAR(7),
	@i売上数量		MONEY,
	@i見積数量		MONEY,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
/*
	機能	社内在庫数自体の更新ではなく
		伝票区分=1:売上
			売上数を出荷数に足す、
			見積数量を出荷予定数より引く、更新をして在庫数を算出する。
		伝票区分=2:返品
			値がマイナスなので売上と同じ
		伝票区分=3:訂正
			在庫更新無し
		伝票区分=C:コメント
			在庫更新無し


	内容	一製品毎に処理を行なう。
		製品の社内在庫を元に戻す。
		SP区分=''、PC区分=''の製品が対象
		社内在庫マスタに登録していない製品が対象外。
		製品マスタの在庫管理区分＝しないは対象外。

	2003/08/29	kawamura	
	2003/11/04 	kawamura 	伝票区分をVARCHAR(1)に変更
*/
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	
	--マスタ内データ保持用
	DECLARE	@M在庫区分	INT,
			@M現在庫数	MONEY
/*
	SET	@i製品NO = 'S7001P'
	SET	@i仕様NO = ''
	SET	@io社内引当数 = 90
*/
	--SP区分がついている場合終了
	IF @iSP区分 <> ''	GOTO EXIT_SP
	PRINT 'SP'

	--PC区分がついている場合終了
	IF @iPC区分 <> ''	GOTO EXIT_SP
	PRINT 'PC'

	--在庫状況を取得する
	SELECT 	@M在庫区分 = 在庫区分,
			@M現在庫数 = 現在庫数
		FROM TM製品 INNER JOIN TM社内在庫
		ON TM製品.製品NO = TM社内在庫.製品NO
			AND TM製品.仕様NO = TM社内在庫.仕様NO
		WHERE TM製品.製品NO = @i製品NO
		AND	TM製品.仕様NO = @i仕様NO
	

	SET	@ST = @@ERROR
	IF ( @ST <> 0 )	BEGIN
		RAISERROR('製品№:%s. 製品でエラーが発生しました。 ', 16, 1,@i製品NO)
		GOTO	EXIT_SP
	END
	--在庫マスタにない場合終了
	IF @M現在庫数 IS NULL	GOTO EXIT_SP

	--在庫管理しない(在庫区分 = 1)は終了
	IF @M在庫区分 = 1	GOTO EXIT_SP
	
	--在庫数の更新処理
	--売上・返品のみ
	IF @i伝票区分 = '1' OR @i伝票区分 = '2' BEGIN
		--仕入
		UPDATE TM社内在庫
			SET	出荷予定数 = 出荷予定数 - @i見積数量,
				出荷数 = 出荷数 + @i売上数量
			WHERE 製品NO = @i製品NO
			AND	仕様NO = @i仕様NO
	END

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST

GO
