/****** Object:  StoredProcedure [dbo].[usp_SE0700請求明細一覧表]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_SE0700請求明細一覧表]
GO
/****** Object:  StoredProcedure [dbo].[usp_SE0700請求明細一覧表]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_SE0700請求明細一覧表

機能	請求明細一覧表を作成する


引数

戻り値

修正履歴
	2013/04/02	新規作成
	2013/07/30	oosawa		合計金額と外税額を分ける
*****************************************************/
CREATE PROCEDURE [dbo].[usp_SE0700請求明細一覧表]
	@iS集計日付		DATETIME,
	@iE集計日付		DATETIME,
	@iS得意先CD		VARCHAR(7),
	@iE得意先CD		VARCHAR(7),

	--OUTPUT
	@RetDcnt 	INT				OUTPUT,
	@RetST		INT				OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
AS
	SET NOCOUNT ON	

	DECLARE 	@ST		INT,
				@MSG	VARCHAR(255)

	-----------------------
	--初期値設定
	-----------------------
	SET	@ST	=	0
	SET	@MSG	=	''

--set @iS集計日付 = '2012/01/01'
--set @iE集計日付 = '2012/10/31'

--SET	@iS担当者CD = 1
--SET	@iE担当者CD = 10

	---------------------------
	--得意先別請求金額一覧
	---------------------------
    SELECT	UH.得意先CD, UH.売上日付, UH.請求日付, UH.見積番号, UH.見積件名,
			--請求金額 = (UH.合計金額 + UH.外税額),--2013/07/30 DEL
			UH.合計金額, UH.外税額,--2013/07/30 ADD
			UH.請求書発行FLG, UH.鏡番号,
			Count = COUNT(UH.得意先CD) OVER (PARTITION BY UH.得意先CD)
		FROM	TD売上 AS UH
		WHERE	UH.請求日付 >= @iS集計日付
    		AND	UH.請求日付 <= @iE集計日付
    		AND	UH.得意先CD >= COALESCE(@iS得意先CD,UH.得意先CD)
    		AND	UH.得意先CD <= COALESCE(@iE得意先CD,UH.得意先CD)
		ORDER BY	UH.得意先CD, UH.売上日付, UH.請求日付, UH.見積番号

	--抽出件数取得
	SET 	@RetDcnt = @@ROWCOUNT 

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
