/****** Object:  StoredProcedure [dbo].[usp_社内在庫_出荷数Subtract]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_社内在庫_出荷数Subtract]
GO
/****** Object:  StoredProcedure [dbo].[usp_社内在庫_出荷数Subtract]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROCEDURE	[dbo].[usp_社内在庫_出荷数Subtract] 
	(
	@i見積番号		INT,
	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	指定された売上データの売上数量をマスタ内より引く
		
		社内在庫数自体の更新ではなく
		伝票区分=1:売上
			売上数を出荷数より引く、
			見積数量を出荷予定数に足す、更新をして在庫数を算出する。
		伝票区分=2:返品
			値がマイナスなので売上と同じ
		伝票区分=3:訂正
			在庫更新無し
		伝票区分=C:コメント
			在庫更新無し


	内容	指定した見積番号の製品の社内在庫を元に戻す。
		SP区分=''、PC区分=''の製品が対象
		社内在庫マスタに登録していない製品が対象外。
		製品マスタの在庫管理区分＝しないは対象外。
		社内在庫引当済Fが0のものは対象外。（在庫引当ができていない明細の為）

	2003/08/29	kawamura	
	2003/11/04 	kawamura 	伝票区分はVARCHAR(1)に変更
*/
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''

	--BEGIN TRAN

	UPDATE TM社内在庫
		SET	出荷数 = 出荷数 - D.売上数量,
			出荷予定数 = 出荷予定数 + D.見積数量
		FROM TM社内在庫 AS SZ
			INNER JOIN
				(
				SELECT 
					MSM.製品NO, MSM.仕様NO, 
					Sum(MSM.売上数量) AS 売上数量, Sum(MSM.見積数量) AS 見積数量
					FROM TD売上明細内訳 AS MSM
						INNER JOIN TM製品 AS SH
							ON MSM.製品NO = SH.製品NO
							AND MSM.仕様NO = SH.仕様NO
						INNER JOIN TM社内在庫 AS SZ
							ON SH.製品NO = SZ.製品NO
							AND SH.仕様NO = SZ.仕様NO
					WHERE	SH.在庫区分=0
					AND		MSM.売上番号 =  @i見積番号
					AND		MSM.SP区分=''
					AND		MSM.PC区分=''
					AND 		(MSM.伝票区分 = '1'
						OR 	MSM.伝票区分 = '2')
					GROUP BY MSM.製品NO, MSM.仕様NO
				) AS D
			ON	SZ.製品NO = D.製品NO
			AND	SZ.仕様NO = D.仕様NO

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP


	--COMMIT TRAN

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END ELSE	BEGIN
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END
	RETURN @ST

GO
