/****** Object:  StoredProcedure [dbo].[usp_HD0704DEL売上]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_HD0704DEL売上]
GO
/****** Object:  StoredProcedure [dbo].[usp_HD0704DEL売上]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE	PROCEDURE	[dbo].[usp_HD0704DEL売上]
	(
	@i見積番号		INT,
	@i売上番号 		INT,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)

AS
/*
	機能	売上を削除します。
	
			TD売上請求も削除！

	内容	

	2003/09/10	kawamura	
	2013/11/04	oosawa
		
	2014/10/01	oosawa
	2014/12/18	oosawa
*/

	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''


	-- トランザクションを開始します
	BEGIN TRAN

	--------------------------------------------------
	--売上を削除します。
	--------------------------------------------------
	--DELETE FROM TD売上明細内訳V2 WHERE 売上番号 = @i売上番号

	--	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	

	DELETE FROM TD売上明細V2 WHERE 売上番号 = @i売上番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	

	DELETE FROM TD売上V2 WHERE 売上番号 = @i売上番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	
		
	DELETE FROM TD売上請求H WHERE 見積番号 = @i見積番号

		SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	

 	------------------------------------------------------
 	--見積Ｄ[売上日付]を戻す
 	------------------------------------------------------
	IF  NOT EXISTS (SELECT 見積番号 FROM TD売上v2
						WHERE 見積番号 = @i見積番号)  BEGIN
	
 		UPDATE 	TD見積
			SET	売上日付 = NULL
			WHERE 	見積番号 = @i見積番号
	END

	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP	

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
	END ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END
	RETURN @ST
GO
