/****** Object:  StoredProcedure [dbo].[usp_TN0101社内在庫保存]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0101社内在庫保存]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0101社内在庫保存]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*****************************************************

名称	usp_TN0101社内在庫保存

機能	社内在庫マスタ更新

引数	製品NO
	仕様NO
	差数（調整数）
	
戻り値	

*****************************************************/
CREATE PROCEDURE [dbo].[usp_TN0101社内在庫保存]
	(
	@i製品NO		CHAR(7),
	@i仕様NO		CHAR(7),
	@i差数			MONEY,	
	@RetST		INT		OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET NOCOUNT ON

	DECLARE	@TRAN		TINYINT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@TRAN	=	@@TRANCOUNT
	SET	@ST	=	0
	SET	@MSG	=	''
	
	--トランザクション開始
	BEGIN	TRAN

	--TMP棚卸更新
	IF	EXISTS(SELECT SZ.製品NO,SZ.仕様NO,SZ.調整数 FROM TM社内在庫 AS SZ 
				WHERE SZ.製品NO=@i製品NO AND SZ.仕様NO=@i仕様NO) BEGIN

		UPDATE TM社内在庫
			SET	TM社内在庫.調整数=TM社内在庫.調整数+@i差数
			WHERE	TM社内在庫.製品NO=@i製品NO AND TM社内在庫.仕様NO=@i仕様NO
	END ELSE BEGIN
		INSERT INTO TM社内在庫 (製品NO,仕様NO,調整数)
				VALUES (@i製品NO,@i仕様NO,@i差数)
	END

	SET	@ST = @@ERROR

EXIT_SP:
	IF (@ST = 0)	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			COMMIT TRAN
		END
		SELECT	@ST AS ST, @MSG AS MSG
		SET @RetST = @ST
		SET @RetMSG = @MSG
	END	ELSE	BEGIN
		IF(@@TRANCOUNT > @TRAN)	BEGIN
			ROLLBACK TRAN
		END
		IF(@ST < 0)	BEGIN
			SELECT	@ST AS ST, @MSG AS MSG
			SET @RetST = @ST
			SET @RetMSG = @MSG
		END
	END

	RETURN @ST


GO
