/****** Object:  StoredProcedure [dbo].[usp_MT1200出荷リスト抽出_梱包出荷用]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_MT1200出荷リスト抽出_梱包出荷用]
GO
/****** Object:  StoredProcedure [dbo].[usp_MT1200出荷リスト抽出_梱包出荷用]    Script Date: 2025/02/22 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*****************************************************

名称	usp_MT1200出荷リスト抽出_梱包出荷用

機能	梱包出荷用出荷リスト情報を抽出する

引数	

戻り値

修正履歴
	2023/12/26	新規作成
	2024/01/18	店番追加
	2024/02/16	単位追加
*****************************************************/
CREATE   PROCEDURE [dbo].[usp_MT1200出荷リスト抽出_梱包出荷用]
	(
		@i見積番号			INT,

		--OUTPUT
		@RetST				INT			OUTPUT,
		@RetMsg				VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT	ON

	DECLARE	@TRAN 	INT,
			@ST		INT,
			@MSG		VARCHAR(255)

	SET	@TRAN = @@TRANCOUNT
	SET	@ST = 0
	SET	@MSG = ''

--set @i見積番号 = 173992

	----------------------------------
	-- 	抽出データ
	----------------------------------
	SELECT	TB.棚番名,
			MH.見積番号,MH.見積件名,
			MH.得意先名1,MH.得意先名2,MH.現場名,MT.担当者名,
			MH.納入先CD,--2024/01/18 ADD
			MH.販売先納得意先CD,MH.販売先納入先CD,
					MH.納入先名1,MH.納入先名2,MH.郵便番号,MH.住所1,MH.住所2,MH.納TEL,MH.納FAX,
			MSM.行番号,
			MSM.SP区分,MSM.PC区分,MSM.製品NO,MSM.仕様NO,MSM.漢字名称,
			MSM.W, MSM.D, MSM.H, MSM.D1,MSM.D2, MSM.H1, MSM.H2, 
			MSM.総数量,MSM.社内在庫数,MSM.客先在庫数,MSM.転用数,MSM.発注調整数,MSM.発注数,製品区分,
			MSM.単位名,MSM.仕入先CD,MSM.仕入先名,MSM.配送先CD,MSM.配送先名,
			MSM.明細備考,MSM.入庫日,MSM.出庫日,SE.入出庫用CD,
			MSM.単位名,--2024/02/16 ADD
			Count = COUNT(MSM.見積明細連番) OVER (PARTITION BY MSM.見積番号),
			MSM.見積区分  
		FROM TD見積 AS MH 
			INNER JOIN VD見積シートM AS MSM 
				ON MH.見積番号 = MSM.見積番号 
			INNER JOIN TM担当者 AS MT 
				ON MH.担当者CD = MT.担当者CD 
			LEFT JOIN TM製品 AS SE(NOLOCK) 
				ON MSM.製品NO = SE.製品NO 
				AND MSM.仕様NO = SE.仕様NO 
			LEFT JOIN(
						SELECT * FROM  TM棚番
							WHERE 行NO = 1
				) AS TB
				ON MSM.製品NO = TB.製品NO
				AND MSM.仕様NO = TB.仕様NO
		WHERE  MH.見積番号 = @i見積番号 
			AND (MSM.仕入先CD IN ('3150','9999')
				OR MSM.配送先CD IN ('02','03'))
			AND ((MSM.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
			AND NOT (MSM.総数量 = 0 AND MSM.社内在庫数 = 0 AND MSM.客先在庫数 = 0 AND MSM.転用数 = 0)) 
						OR 
							(MSM.見積区分 IN ('A') 
							AND NOT 
								(
										(SELECT  TOP 1 MSM1.発注数 
													FROM TD見積シートM AS MSM1 
													WHERE	MSM1.見積番号 = MSM.見積番号 
													AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
													AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC
										) = 0 
										--(SELECT  TOP 1 MSM1.総数量 
										--			FROM TD見積シートM AS MSM1 
										--			WHERE	MSM1.見積番号 = MSM.見積番号 
										--			AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
										--			AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC
										--) = 0 
									--AND (SELECT  TOP 1 MSM1.社内在庫数
									--				FROM TD見積シートM AS MSM1 
									--				WHERE	MSM1.見積番号 = MSM.見積番号 
									--				AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
									--				AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC
									--	) = 0 
									--AND (SELECT  TOP 1 MSM1.客先在庫数 
									--				FROM TD見積シートM AS MSM1 
									--				WHERE	MSM1.見積番号 = MSM.見積番号 
									--				AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
									--				AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC
									--	) = 0 
									--AND (SELECT  TOP 1 MSM1.転用数 
									--				FROM TD見積シートM AS MSM1 
									--				WHERE	MSM1.見積番号 = MSM.見積番号 
									--				AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
									--				AND 	MSM1.行番号 >= MSM.行番号 ORDER BY MSM1.行番号 ASC
									--	) = 0
								)
							)
						OR (MSM.見積区分 IN ('C','S') 
							AND NOT 
								(
										(SELECT  TOP 1 MSM1.発注数 
													FROM TD見積シートM AS MSM1 
													WHERE	MSM1.見積番号 = MSM.見積番号 
													AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
													AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC
										) = 0 
										--(SELECT  TOP 1 MSM1.総数量 
										--			FROM TD見積シートM AS MSM1 
										--			WHERE	MSM1.見積番号 = MSM.見積番号 
										--			AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
										--			AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC
										--) = 0 
									--AND (SELECT  TOP 1 MSM1.社内在庫数 
									--				FROM TD見積シートM AS MSM1 
									--				WHERE	MSM1.見積番号 = MSM.見積番号 
									--				AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
									--				AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC
									--	) = 0 
									--AND (SELECT  TOP 1 MSM1.客先在庫数 
									--				FROM TD見積シートM AS MSM1 
									--				WHERE	MSM1.見積番号 = MSM.見積番号 
									--				AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
									--				AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC
									--	) = 0 
									--AND (SELECT  TOP 1 MSM1.転用数 
									--				FROM TD見積シートM AS MSM1 
									--				WHERE	MSM1.見積番号 = MSM.見積番号 
									--				AND 	MSM1.見積区分 IN ('','1','2','3','4','5','6','7','8','9') 
									--				AND 	MSM1.行番号 <= MSM.行番号 ORDER BY MSM1.行番号 DESC
									--	) = 0
								)
							)
				) 
				ORDER BY 
							MH.見積番号,MSM.行番号


	
	SET	@ST = @@ERROR	IF @ST<>0 GOTO	EXIT_SP

EXIT_SP:
	IF (@ST = 0)	BEGIN
		SET 	@RETST = @ST
		SET 	@RETMSG = @MSG
	END ELSE	BEGIN
		IF(@ST < 0)	BEGIN
			SET 	@RETST = @ST
			SET 	@RETMSG = @MSG
		END
	END
	RETURN @ST
GO
