/****** Object:  StoredProcedure [dbo].[usp_TN0501SetTmpチーム別社内在庫棚卸]    Script Date: 2025/02/22 10:13:16 ******/
DROP PROCEDURE [dbo].[usp_TN0501SetTmpチーム別社内在庫棚卸]
GO
/****** Object:  StoredProcedure [dbo].[usp_TN0501SetTmpチーム別社内在庫棚卸]    Script Date: 2025/02/22 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	 usp_TN0501SetTmpチーム別社内在庫棚卸

	機能:	
		棚卸情報を#Tmpに登録する。

 =============================================
	2015/09/17	oosawa	新規作成

 =============================================*/
CREATE PROCEDURE [dbo].[usp_TN0501SetTmpチーム別社内在庫棚卸]
	(

	@i棚卸明細連番	INT,
	@i棚卸番号		INT,
	@i枝番			SMALLINT,
	@i製品NO		CHAR (12) ,
	@i仕様NO		CHAR (10) , 
	@i仕入先CD		VARCHAR(4),
	@i仕入端数区分	SMALLINT,
	@i消費税端数区分	SMALLINT,
	@i棚卸数量		MONEY,
	@i棚卸単価		MONEY,
	@i棚卸金額		MONEY,
	@i消費税額		MONEY,
	@i仕入税区分	SMALLINT,
	@i明細備考		VARCHAR(40),
	@i算出数量		MONEY,

	@RetST		INT			OUTPUT,
	@RetMsg		VARCHAR(255)	OUTPUT
	)
AS
	SET	NOCOUNT ON

	DECLARE
		@TRAN		INT,
		@ST		INT,
		@MSG		VARCHAR(255)

	SET	@ST	=	0
	SET	@MSG	=	''


--	INSERT INTO Tmp在庫調整
	INSERT INTO #Tmp棚卸明細
		(
			棚卸明細連番,
			棚卸番号,
			枝番, 
			製品NO,
			仕様NO,
			仕入先CD,
			仕入端数区分,
			消費税端数区分,
			棚卸数量,
			棚卸単価,
			棚卸金額,
			消費税額,
			仕入税区分,
			明細備考,
			算出数量
		)  
	VALUES 
		(
			@i棚卸明細連番,
			@i棚卸番号,
			@i枝番, 
			@i製品NO,
			@i仕様NO,
			@i仕入先CD,
			@i仕入端数区分,
			@i消費税端数区分,
			@i棚卸数量,
			@i棚卸単価,
			@i棚卸金額,
			@i消費税額,
			@i仕入税区分,
			@i明細備考,
			@i算出数量
		)

	SET @ST=@@ERROR IF @ST<>0 GOTO EXIT_SP

EXIT_SP:
	SET @RetST = @ST
	SET @RetMsg = @MSG
	RETURN @ST
GO
