@charset "utf-8";
html {
  // font-size: 62.5% !important;
  scroll-behavior: smooth;
}

.ssap {
  // フォントサイズ上書き用
  .font-size-xxsmall {
    font-size: 0.625rem !important; // 10px
  }
  .font-size-xsmall {
    font-size: 0.75rem !important; // 12px
  }
  .font-size-small {
    font-size: 0.875rem !important; // 14px
  }
  .font-size-normal {
    font-size: 1rem !important; // 16px
  }
  .font-size-large {
    font-size: 1.125rem !important; // 18px
  }
  .font-size-xlarge {
    font-size: 1.25rem !important; // 20px
  }
  .font-size-xxlarge {
    font-size: 1.375rem !important; // 22px
  }

  // テキストカラー
  .text-primary {
    color: $c-primary !important;
  }
  .text-primary-dark {
    color: $c-primary-dark !important;
  }
  .text-primary-over {
    color: $c-primary-over !important;
  }
  .text-primary-8 {
    color: $c-primary-8 !important;
  }

  .v-list-item--link:before {
    background-color: $c-primary-8;
  }

  // ページネーションカスタム
  .v-pagination__navigation {
    transition-duration: 0.2s !important;
    .v-icon {
      transition-duration: 0.2s !important;
      color: $c-primary-dark !important;
    }
    &:hover,
    &:focus {
      background-color: $c-primary-over !important;
      .v-icon {
        color: $c-white !important;
      }
    }
    &.v-pagination__navigation--disabled {
      opacity: 1 !important;
      .v-icon {
        color: $c-disabled2 !important;
      }
    }
  }
  .v-pagination__item {
    &:hover,
    &:focus {
      background-color: $c-primary-over !important;
      color: $c-white !important;
    }
  }

  .theme--light.v-icon {
    color: $c-black;
  }

  .v-text-field__details {
    overflow: visible !important;
  }

  .v-tooltip__content {
    background-color: #333 !important;
    opacity: 1 !important;
    max-width: 380px;
  }

  // 詳細画面
  .o-detail-rows {
    padding: 16px 32px 0 !important;
    font-size: 0.875rem !important;
  }
  .o-detail-rows__unit {
    border-bottom: 1px solid $c-gray-line;
    margin: 0 !important;
    align-items: center;
  }
  .o-detail-rows__label {
    padding-right: 0;
  }
  .o-detail-rows__title {
    font-size: 0.875rem;
    font-weight: bold;
    align-items: center;
  }
  .o-detail-rows__data {
    align-items: center;
  }
  .o-detail-rows__select {
    padding: 0;
    margin: 0;
  }
  .o-detail-rows__select__item {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
    &::after {
      content: ',';
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  .o-detail-rows__table {
    th,
    td {
      padding-bottom: 12px;
    }
    tr {
      &:last-child {
        th,
        td {
          padding-bottom: 0;
        }
      }
    }
    th {
      text-align: left;
      padding-right: 24px;
      padding-left: 0;
      width: 150px;
    }
  }

  .o-data-table {
    .v-data-table {
      .v-data-table-header {
        th,
        td {
          background-color: $c-black-80;
          color: $c-white !important;
        }
        .v-icon {
          color: $c-primary !important;
          margin-left: 5px !important;
        }
      }
      .v-data-table__wrapper {
        border-radius: 4px;
        box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
          0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
      }
      .v-data-footer {
        &:first-child {
          margin-bottom: 16px;
        }
        &:last-child {
          margin-top: 16px;
        }
      }
    }
    .v-data-footer {
      width: 100%;
      padding: 0 !important;
      justify-content: flex-end;
      border: 0 !important;
      position: relative;
    }
    .v-data-footer__select {
      display: none !important;
    }
    .v-data-table__wrapper {
      .v-data-footer {
        width: 100%;
      }
    }
    .v-data-footer__pagination {
      font-size: 0.875rem;
      position: absolute;
      left: 0;
      margin: 0;
    }
    .v-data-footer__icons-before,
    .v-data-footer__icons-after {
      .v-btn {
        width: 42px;
        height: 42px;
        box-shadow: 0 3px 6px rgba(#000000, 0.16);
        border-radius: 4px;
        transition-property: background-color;
        transition-duration: 0.2s;
        .v-ripple__container,
        &::before {
          display: none !important;
        }
        &:hover,
        &:focus {
          background-color: $c-primary-8;
        }
      }
      .v-icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
        color: $c-primary-dark !important;
      }
      .v-btn--disabled {
        .v-icon {
          color: #8f8f8f !important;
        }
      }
    }
    .o-data-table__link {
      color: $c-primary-dark !important;
      font-weight: bold;
    }
  }

  // v-menuのフォーカス時の色
  .theme--light.v-list-item {
    .v-list-item--highlighted {
      .v-list-item__content {
        position: relative;
        z-index: 1;
        color: rgba(0, 0, 0, 0.87);
      }
      &::before {
        opacity: 0 !important;
      }
      &:hover {
        &::before {
          opacity: 1 !important;
        }
      }
    }
  }
  // v-menu multiple時チェック時の色の上書き
  .v-list-item {
    &.primary--text {
      &.v-list-item--active {
        &.v-list-item--link {
          &.theme--light {
            color: rgba(0, 0, 0, 0.87) !important;
            &.v-list-item--highlighted {
              color: rgba(0, 0, 0, 0.87) !important;
            }
          }
        }
      }
    }
  }
}

// -----------------------------------------------------
// コンポーネント内のCSSが適用されない物ここから
// -----------------------------------------------------
// /src/components/man-hour/molecules/AlertDataTable.vue
.o-alert-list-table {
  thead {
    span {
      color: $c-red-bright;
    }
  }
  .a-th-A {
    width: 220px;
  }
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    padding: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .v-data-table {
    display: block;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: $c-black-page-bg;
    tr {
      background-color: $c-white;
      td {
        border-bottom: 0 !important;
      }
      &:nth-child(even) {
        background-color: $c-black-table-border;
      }
    }
    .v-data-table-header {
      th,
      td {
        box-sizing: border-box;
        background-color: $c-black-80;
        color: $c-white !important;
        padding: 16px;
        vertical-align: middle;
        width: 200px;
        &.th-totalContractTime {
          width: 96px;
        }
        &.th-serviceTypeNam {
          width: 160px;
        }
        &.th-col-0 {
          width: 200px;
          padding: 8px 16px;
          height: 32px;
          &:last-of-type {
            width: 480px;
          }
          p {
            border-bottom: 2px solid $c-black-60;
          }
        }
        &.th-col-1 {
          width: 120px;
          padding: 8px 16px;
          height: 32px;
        }
        &.th-alertDirectSupportManHour,
        &.th-alertPreSupportManHour {
          width: 240px;
        }
        span {
          color: #fc0f1a;
        }
      }
      .v-icon {
        color: $c-gray-line-dark !important;
        margin-left: 5px !important;
        opacity: 1;
      }
      th {
        &.active {
          .v-icon {
            color: $c-primary !important;
          }
        }
      }
    }
    .v-data-table__wrapper {
      border-radius: 4px;
      box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%) !important;
      table {
        table-layout: fixed;
        tbody {
          tr {
            transition-property: background-color;
            transition-duration: 0.2s;
            &:hover {
              background: rgba($c-primary-8, 0.75) !important;
            }
            td {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
    .v-data-footer {
      &:first-child {
        margin-bottom: 16px;
      }
      &:last-child {
        margin-top: 16px;
      }
    }
  }
  .o-alert-list-table__body.is-scroll {
    .v-data-table {
      background-color: rgba($c-black-page-bg, 0.75);
      tr {
        background-color: $c-white;
        background-color: rgba($c-white, 0.75);
        &:nth-child(even) {
          background-color: $c-black-table-border;
          background-color: rgba($c-black-table-border, 0.75);
        }
      }

      .v-data-table__wrapper {
        table {
          tbody {
            tr:hover {
              background: rgba($c-primary-8, 0.75) !important;
            }
          }
        }
      }
    }
  }
  .v-data-footer {
    width: 100%;
    padding: 0 !important;
    justify-content: flex-end;
    border: 0 !important;
    position: relative;
  }
  .v-data-footer__select {
    display: none !important;
  }
  .v-data-table__wrapper {
    .v-data-footer {
      width: 100%;
    }
  }
  .v-data-footer__pagination {
    font-size: 0.875rem;
    position: absolute;
    left: 0;
    margin: 0;
  }
  .v-data-footer__icons-before,
  .v-data-footer__icons-after {
    .v-btn {
      width: 42px;
      height: 42px;
      box-shadow: 0 3px 6px rgba(#000000, 0.16);
      border-radius: 4px;
      transition-property: background-color;
      transition-duration: 0.2s;
      .v-ripple__container,
      &::before {
        display: none !important;
      }
      &:hover {
        background: rgba($c-primary-8, 0.75) !important;
      }
    }
    .v-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
      color: $c-primary-dark !important;
    }
    .v-btn--disabled {
      .v-icon {
        color: #8f8f8f !important;
      }
    }
  }
}
.o-alert-list-table__number {
  margin: 0 !important;
}
.o-alert-list-table__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
}
.o-alert-list-table__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.o-alert-table__link {
  color: $c-primary-dark !important;
  font-weight: bold;
}
.m-alert-label {
  &--blue {
    color: #207bbe;
  }
  &--red {
    color: #fd2726;
  }
}

// /src/components/common/organisms/CommonDataTable.vue
.o-common-data-table {
  .v-data-table__empty-wrapper {
    color: $c-disabled2 !important;
  }
  a {
    font-weight: bold;
    color: $c-primary-dark !important;
  }
  &.is-scroll {
    th,
    td {
      white-space: nowrap !important;
    }
    .v-data-table {
      background-color: rgba($c-black-page-bg, 0.75);
      tr {
        background-color: $c-white;
        background-color: rgba($c-white, 0.75);
        &:nth-child(even) {
          background-color: $c-black-table-border;
          background-color: rgba($c-black-table-border, 0.75);
        }
      }
      .v-data-table__wrapper {
        table {
          tbody {
            tr:hover {
              background: rgba($c-primary-8, 0.75) !important;
            }
          }
        }
      }
    }
  }
  .theme--light {
    &.v-data-table {
      background-color: transparent;
    }
  }
  .v-data-table {
    // background-color: $c-black-page-bg;
    tr {
      background-color: $c-white;
      td {
        border-bottom: 0 !important;
      }
      &:nth-child(even) {
        background-color: $c-black-table-border;
      }
    }
    .v-data-table-header {
      th,
      td {
        background-color: $c-black-80;
        color: $c-white !important;
      }
      th {
        position: relative;
      }
      .v-icon {
        position: absolute;
        top: 50%;
        margin-top: -9px;
        color: $c-gray-line-dark !important;
        margin-left: 3px !important;
        opacity: 1;
      }
      .v-input--selection-controls__input {
        .v-icon {
          position: static;
          margin: auto !important;
        }
      }
      th {
        &.active {
          .v-icon {
            color: $c-primary !important;
          }
        }
      }
    }
    .v-data-table__wrapper {
      border-radius: 4px;
      box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%) !important;
      table {
        tbody {
          tr {
            transition-property: background-color;
            transition-duration: 0.2s;
            &:hover,
            &:focus {
              background: $c-primary-8 !important;
              a {
                color: $c-primary-over !important;
              }
            }

            td {
              font-size: 0.75rem;
              padding: 16px;
            }
          }
        }
      }
    }
    .v-data-footer {
      &:first-child {
        margin-bottom: 16px;
      }
      &:last-child {
        margin-top: 16px;
      }
    }
  }
  .v-data-footer {
    width: 100%;
    padding: 0 !important;
    justify-content: flex-end;
    border: 0 !important;
    position: relative;
  }
  .v-data-footer__select {
    display: none !important;
  }
  .v-data-table__wrapper {
    .v-data-footer {
      width: 100%;
    }
  }
  .v-data-footer__pagination {
    font-size: 0.875rem;
    position: absolute;
    left: 0;
    margin: 0;
  }
  .v-data-footer__icons-before,
  .v-data-footer__icons-after {
    .v-btn {
      width: 42px;
      height: 42px;
      box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%) !important;
      border-radius: 4px;
      transition-property: background-color;
      transition-duration: 0.2s;
      .v-ripple__container,
      &::before {
        display: none !important;
      }
      &:hover,
      &:focus {
        background-color: $c-primary-over;
        .v-icon {
          color: $c-white !important;
        }
      }
    }
    .v-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
      color: $c-primary-dark !important;
    }
    .v-btn--disabled {
      .v-icon {
        color: #8f8f8f !important;
      }
    }
  }
  &.is-select {
    .v-data-table .v-data-table__wrapper table thead tr th,
    .v-data-table .v-data-table__wrapper table tbody tr td {
      &:first-child {
        display: none;
      }
    }
    &.is-show-select {
      .v-data-table .v-data-table__wrapper table thead tr th {
        &:first-child {
          display: table-cell;
        }
      }
      .v-data-table .v-data-table__wrapper table tbody tr {
        td {
          &:first-child {
            display: table-cell;
          }
        }
        background-color: #fff;
        &:hover {
          background-color: #fff !important;
        }
        &:nth-child(even),
        &:nth-child(even):hover {
          background-color: #f7f7f7;
          &.v-data-table__selected,
          &.v-data-table__selected:hover {
            background-color: #ebf1fa !important;
          }
        }
        &.v-data-table__selected,
        &.v-data-table__selected:hover {
          background-color: #ebf1fa !important;
        }
      }
    }
  }
}
.o-common-data-table__link {
  color: $c-primary-dark !important;
  font-weight: bold;
}
// -----------------------------------------------------
// コンポーネント内のCSSが適用されない物ここまで
// -----------------------------------------------------
