service: partner-portal-backoffice
frameworkVersion: ">=3.0.0"

plugins:
  - serverless-python-requirements
  - serverless-domain-manager

custom:
  defaultStage: dev
  #
  # serverless-python-requirements
  #
  pythonRequirements:
    slim: true
    dockerizePip: true
    dockerImage: public.ecr.aws/sam/build-python3.12:latest-x86_64

  customDomain:
    domainName: ${self:custom.app.config.file.customDomain.domainName}
    certificateName: ${self:custom.app.config.file.customDomain.certificateName}
    basePath: ""
    stage: ${self:provider.stage}
    createRoute53Record: true

  app:
    config:
      env: ${opt:stage, self:custom.defaultStage}
      files:
        local: ${file(./conf/local/serverless.config.yml)}
        dev: ${file(./conf/dev/serverless.config.yml)}
        sqa: ${file(./conf/sqa/serverless.config.yml)}
        evs: ${file(./conf/evs/serverless.config.yml)}
        sup: ${file(./conf/sup/serverless.config.yml)}
        prd: ${file(./conf/prd/serverless.config.yml)}
      file: ${self:custom.app.config.files.${self:custom.app.config.env}}

  alarmActionsArn:
    dev: partnerportal-dev-common-alarm
    sqa: partnerportal-dev-common-alarm
    evs: partnerportal-dev-common-alarm
    sup: partnerportal-dev-common-alarm
    prd: partnerportal-${self:provider.stage}-common-alarm

package:
  patterns:
    - "!.devcontainer/**"
    - "!.mypy_cache/**"
    - "!.pytest_cache/**"
    - "!.serverless/**"
    - "!.logs/**"
    - "!.github/**"
    - "!.venv/**"
    - "!venv/**"
    - "!.vscode/**"
    - "!docs/**"
    - "!dest/**"
    - "!node_modules/**"
    - "!tests/**"
    - "!.coverage"
    - "!.env"
    - "!.env.example"
    - "!.envrc"
    - "!.envrc.example"
    - "!package-lock.json"
    - "!package.json"
    - "!README.md"
    - "!serverless.yml"
    - "!setup.cfg"
    - "!setup.py"
    - "!requirements-dev.txt"
    - "!.gitattributes"
    - "!.flake8"
    - "!.editorconfig"
    - "!pytest.ini"
    - "!*.rest"
    - "!*.log"

provider:
  name: aws
  runtime: python3.12
  stage: ${opt:stage, self:custom.defaultStage}
  region: ap-northeast-1
  memorySize: ${self:custom.app.config.file.lambda.memorySize}
  logRetentionInDays: ${self:custom.app.config.file.lambda.logRetentionInDays}
  versionFunctions: false
  environment:
    STAGE: ${self:provider.stage}
  stackTags:
    Landscape: ${self:provider.stage}
  tags:
    Landscape: ${self:provider.stage}
  logs:
    restApi:
      accessLogging: false
      executionLogging: true
      level: ERROR
      fullExecutionData: false

  iam:
    role:
      statements: ${file(./conf/${self:custom.app.config.env}/iam.yml)}

functions:
  app:
    timeout: 29
    events:
      - http: ANY /
      - http: ANY /{proxy+}
    handler: app/main.handler
    environment:
      TZ: Asia/Tokyo
      ANONYMOUS_SURVEY_VALID_PERIOD: 60
    provisionedConcurrency: 2

  batch_summary_survey:
    timeout: 900
    events:
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-eb-survey_user
          rate: cron(0 16 * * ? *) # Every JST 1:00
          input:
            mode: "user"
            stageParams:
              stage: ${self:provider.stage}
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-eb-survey_supporter_organization
          rate: cron(0 16 * * ? *) # Every JST 1:00
          input:
            mode: "supporter_organization"
            stageParams:
              stage: ${self:provider.stage}
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-eb-survey_all
          rate: cron(0 16 * * ? *) # Every JST 1:00
          input:
            mode: "all"
            stageParams:
              stage: ${self:provider.stage}
    handler: functions/batch_summary_survey.handler
    environment:
      TZ: Asia/Tokyo

  batch_summary_man_hour:
    timeout: 900
    events:
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-eb-man_hour_project
          rate: cron(0 16 * * ? *) # Every JST 1:00
          input:
            mode: "project"
            stageParams:
              stage: ${self:provider.stage}
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-eb-man_hour_service_type
          rate: cron(0 16 * * ? *) # Every JST 1:00
          input:
            mode: "service_type"
            stageParams:
              stage: ${self:provider.stage}
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-eb-man_hour_supporter_organization
          rate: cron(0 16 * * ? *) # Every JST 1:00
          input:
            mode: "supporter_organization"
            stageParams:
              stage: ${self:provider.stage}
    handler: functions/batch_summary_man_hour.handler
    environment:
      TZ: Asia/Tokyo

  mail_sender:
    timeout: 179
    events:
      - sqs:
          enabled: ${self:custom.app.config.file.events.enabled}
          arn:
            Fn::Join:
              - ":"
              - - arn
                - aws
                - sqs
                - Ref: AWS::Region
                - Ref: AWS::AccountId
                - partnerportal-${self:provider.stage}-backoffice-sqs-EmailQueue
    handler: functions/mail_sender.handler

  batch_automatic_link:
    timeout: 900
    events:
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-eb-batch_automatic_link
          rate: cron(0 23 * * ? *) # Every JST 8:00
          input:
            stageParams:
              stage: ${self:provider.stage}
    handler: functions/batch_automatic_link.handler
    environment:
      TZ: Asia/Tokyo

  batch_download_deliverables:
    timeout: 900
    events:
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-download_deliverables_pj
          rate: cron(0 0 1W * ? *) # 毎月平日（祝日を考慮しない） JST 9:00
          input:
            stageParams:
              stage: ${self:provider.stage}
            deliverableType: project
      - schedule:
          name: partnerportal-backoffice-${self:provider.stage}-download_deliverables
          rate: cron(0 4 1W * ? *) # 毎月平日（祝日を考慮しない） JST 13:00
          input:
            stageParams:
              stage: ${self:provider.stage}
            deliverableType: deliverable
    handler: functions/batch_download_deliverables.handler
    memorySize: 10240
    environment:
      TZ: Asia/Tokyo
      MAX_FILE_SIZE: 3221225472 # 3GBを指定 (3 * 1024 * 1024 * 1024)

resources:
  Resources:
    # CloudWatch メトリクスフィルターの作成
    OutOfMemoryFilter:
      Type: AWS::Logs::MetricFilter
      DependsOn:
        - BatchUnderscoredownloadUnderscoredeliverablesLogGroup
      Properties:
        FilterPattern: OutOfMemory
        LogGroupName: /aws/lambda/${self:service}-${self:provider.stage}-batch_download_deliverables
        MetricTransformations:
          - MetricName: ${self:service}-${self:provider.stage}-outofmemory-errors
            MetricNamespace: Lambda/Errors
            MetricValue: "1"
    # CloudWatch アラームの作成
    OutOfMemoryAlarm:
      Type: AWS::CloudWatch::Alarm
      Properties:
        AlarmName: ${self:service}-${self:provider.stage}-outofmemory-alarm
        MetricName: ${self:service}-${self:provider.stage}-outofmemory-errors
        Namespace: Lambda/Errors
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        ActionsEnabled: true
        AlarmDescription: "Lambda メモリオーバーフロー"
        AlarmActions:
          - Fn::Join:
              - ":"
              - - "arn"
                - "aws"
                - "sns"
                - Ref: AWS::Region
                - Ref: AWS::AccountId
                - ${self:custom.alarmActionsArn.${self:provider.stage}}
        TreatMissingData: "notBreaching"
